<div class="modal-edit-post component">
    <header class="site-modal-header">
        <h3 class="modal-title">Update <span class="node-type">Post</span></h3>
    </header>
    <form role="form" method="post" enctype="multipart/form-data">
        <ul>
            <li>
                <div class="form-group">
                    <label>Name your <span class="node-type">Post</span>:</label>
                    <input class="form-control" name="title" required/>
                </div>
            </li>
            <li>
                <div class="flex-row margin-between flex-wrap">
                    <div class="flex-col">
                        <div class="form-group">
                            <label>Describe your Post:</label>
                            <textarea name="body" class="form-control" rows="3" required></textarea>
                        </div>
                    </div>
                    <div hidden class="flex-col fix-col form-field-col">
                        <div class="form-fields">
                            <h3>Form fields in Series</h3>
                            <ul class="fields-list">
                                <li class="sample" hidden>
                                    <div class="flex-row vertical-center margin-between">
                                        <div class="flex-col fix-col">
                                            <a class="append-item action"><i class="glyphicon glyphicon-circle-arrow-left"></i></a>
                                        </div>
                                        <div class="flex-col fix-col">
                                            <a class="append-answered-item action"><i class="glyphicon glyphicon-arrow-left"></i></a>
                                        </div>
                                        <div class="flex-col">
                                            <div class="field-name">Field name</div>
                                        </div>
                                        <div class="flex-col fix-col del-col">
                                            <a class="delete-post action">×</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="answered-form-field-wrapper sample" hidden>
                                <?php require_once ASSETS_PATH . '/components/AnsweredFormField/AnsweredFormField.html';?>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label>Select <span class="node-type">Post</span> Type:</label>
                    <select class="form-control" name="type">
                        <option value="2">Video</option>
                        <option value="0">Audio</option>
                        <option value="8">Image</option>
                        <option value="7" selected>Text</option>
                        <option value="9">Redirect To</option>
                        <option value="10">Form Field</option>
                    </select>
                </div>
            </li>
            <li class="redirect-item" hidden>
                <div class="form-group">
                    <label>Select Position where to redirect</label>
                    <div class="series-tree-wrapper">
                        <div class="series-tree"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label>Keywords: (optional)</label>
                    <input class="form-control" name="keywords"/>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label>Upload Cover Image for this <span class="node-type">Post</span>: (optional)</label>
                    <div class="cover-image-wrapper">
                        <div class="img-wrapper">
                            <img src="assets/images/global-icons/cloud-uploading.png" />
                        </div>
                        <div>{Drag Image here to upload}</div>
                        <input class="form-control" type="file" name="image"/>
                    </div>
                </div>
            </li>
        </ul>
        <footer>
            <button class="btn btn-circle" type="submit" name="allSet">Save</button>
        </footer>
    </form>
</div>
<div class="modal-create-field" hidden>
    <header class="site-modal-header">
        <h3 class="modal-title">Create Form</h3>
    </header>
    <section class="site-modal-body">
        <h3 class="field-number">Field <span class="number">1</span>:</h3>
        <form role="form" method="post">
            <ul>
                <li>
                    <div class="flex-row vertical-center margin-between">
                        <div class="flex-col fix-col">
                            <label>Name:</label>
                        </div>
                        <div class="flex-col">
                            <input name="strFormField_name" class="form-control" required/>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="flex-row vertical-center margin-between">
                        <div class="flex-col fix-col">
                            <label>Type:</label>
                        </div>
                        <div class="flex-col">
                            <select name="strFormField_type" class="form-control" required>
                                <option value="text">Text</option>
                                <option value="checkbox">Checkbox</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="flex-row vertical-center margin-between">
                        <div class="flex-col fix-col">
                            <label>Default Value:</label>
                        </div>
                        <div class="flex-col">
                            <div class="text-type">
                                <input name="strFormField_default" class="form-control"/>
                            </div>
                            <div class="checkbox-type" hidden>
                                <input id="form-field-default" class="form-control" name="strFormField_default" type="checkbox" value="1"/>
                                <label for="default-value">&nbsp;</label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="flex-row vertical-center margin-between">
                        <div class="flex-col fix-col">
                            <label>Helper Text:</label>
                        </div>
                        <div class="flex-col">
                            <input name="strFormField_helper" class="form-control" required/>
                        </div>
                    </div>
                </li>
                <li>
                    <button type="submit" class="add-another">Add Another Field</button>
                </li>
            </ul>
        </form>
    </section>
    <footer class="site-modal-footer mt-md-5">
        <div class="flex-row vertical-center margin-between">
            <div class="flex-col fix-col ml-md-auto">
                <button class="btn create-btn">Create</button>
            </div>
            <div class="flex-col fix-col">
                <button class="btn cancel-close">Cancel</button>
            </div>
        </div>
    </footer>
</div>