$grey: grey;
$content_color: grey;

@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

@mixin center($xy:xy) {
    @if $xy == xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        @include transform(translateX(-50%) translateY(-50%));
    }
    @else if $xy == x {
        left: 50%;
        right: auto;
        @include transform(translateX(-50%));
    }
    @else if $xy == y {
        top: 50%;
        bottom: auto;
        @include transform(translateY(-50%));
    }
}

.modal-edit-post{
    .site-modal-header{
        padding: 0px 30px 10px 30px;
        border-bottom: 1px solid #e9ecef;
        margin: 0px -20px 10px;
        max-width: none;
    }
    form{
        //max-width: 1000px;
        margin: 0px auto;
        ul{
            list-style-type: decimal;
            li{
                font-size: 1.8rem;
                .form-group{
                    label{
                        font-weight: normal;
                    }
                    .form-control{
                        font-size: 1.8rem;
                        &:not(textarea){
                            height: auto;
                        }
                        &[name="description"]{
                            resize: vertical;
                        }
                    }
                    .cover-image-wrapper{
                        max-width: 500px;
                        margin: 10px auto 0px;
                        padding-bottom: 20px;
                        text-align: center;
                        position: relative;
                        border: 1px dashed grey;
                        border-radius: 20px;
                        .img-wrapper{
                            padding: 15px 0px;
                            img{
                                max-width: 256px !important;
                                min-width: 150px;
                                opacity: .6;
                                &.touched{
                                    opacity: 1;
                                }
                            }
                        }
                        input{
                            position: absolute;
                            display: block;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            cursor: pointer;
                        }
                    }
                    .note-editor{
                        .note-toolbar-wrapper{
                            max-width: none;
                            li{
                                max-width: none;
                            }
                            ul.dropdown-menu{
                                max-width: none;
                                li{
                                    max-width: none;
                                }
                            }
                        }
                    }
                    .cd-switch {
                        text-align: center;
                        position: relative;
                        height: 50px;
                        .switch {
                            position: absolute;
                            display: inline-block;
                            @include center(x);
                            z-index: 1;
                            input[type="radio"] {
                                visibility: hidden;
                                position: absolute;
                                height: 100%;
                                margin-top: 0px;
                                &#isPublic_yes:checked {
                                    ~ label[for="isPublic_yes"] {
                                        color: white;
                                        border: 1px solid $grey;
                                    }

                                    ~ .switchFilter {
                                        left: 0;
                                        opacity: 1;
                                        width: 87px;
                                    }
                                }

                                &#isPublic_no:checked {
                                    ~ label[for="isPublic_no"] {
                                        color: white;
                                        border: 1px solid $grey;
                                    }

                                    ~ .switchFilter {
                                        left: 100px;
                                        width: 87px;
                                        opacity: 1;
                                    }
                                }
                            }
                            .switchFilter {
                                width: 0;
                                display: inline-block;
                                background-color: $grey;
                                position: absolute;
                                left: 0;
                                opacity: 0;
                                top: 0;
                                bottom: 0;
                                z-index: -1;
                                @include transition(all .4s cubic-bezier(0,0,.25, 1));
                            }
                            label {
                                margin-bottom: 0px;
                                cursor: pointer;
                                text-transform: uppercase;
                                border: 1px solid $grey;
                                width: 85px;
                                padding: 8px 0;
                                text-align: center;
                                display: inline-block;
                                @include transition(all .4s);
                                margin-right: 10px;
                            }
                        }
                    }
                    input[name='refLink']{
                        &.is-dragover{
                            border-color: #66afe9;
                        }
                    }
                }
                .form-fields{
                    padding-left: 20px;
                    .create-form{
                        padding: 10px 10px;
                        text-align: center;
                        border: 2px solid grey;
                        font-size: 1.5em;
                        cursor: pointer;
                        &:hover{
                            background-color: grey;
                            color: white;
                        }
                    }
                    >h3{
                        font-size: 1.2em;
                    }
                    .fields-list{
                        padding: 5px;
                        border: 1px solid grey;
                        min-height: 100px;
                        li{
                            list-style: none;
                            a.action{
                                text-align: center;
                                cursor: pointer;
                                color: $content_color;
                                font-size: 1.5em;
                                line-height: 1;
                                &.append-item, &.append-answered-item{
                                    font-size: 1em;
                                    .glyphicon{
                                        top: 3px;
                                    }
                                }
                                &:hover{
                                    text-decoration: none;
                                    color: black;
                                }
                            }
                            &:hover{
                            }
                        }
                    }
                }
            }
        }
        footer{
            text-align: center;
            button{
                width: 250px;
                padding: 7px;
                font-size: 18px;
                border-radius: 20px;
                background: transparent;
                border: 2px solid rgb(83, 212, 173);
                color: rgb(83, 212, 173);
                margin: 15px;
                &:hover{
                    background: rgb(83, 212, 173);
                    color: white;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
}