.modal-edit-post .site-modal-header {
  padding: 0px 30px 10px 30px;
  border-bottom: 1px solid #e9ecef;
  margin: 0px -20px 10px;
  max-width: none; }
.modal-edit-post form {
  margin: 0px auto; }
  .modal-edit-post form ul {
    list-style-type: decimal; }
    .modal-edit-post form ul li {
      font-size: 1.8rem; }
      .modal-edit-post form ul li .form-group label {
        font-weight: normal; }
      .modal-edit-post form ul li .form-group .form-control {
        font-size: 1.8rem; }
        .modal-edit-post form ul li .form-group .form-control:not(textarea) {
          height: auto; }
        .modal-edit-post form ul li .form-group .form-control[name="description"] {
          resize: vertical; }
      .modal-edit-post form ul li .form-group .cover-image-wrapper {
        max-width: 500px;
        margin: 10px auto 0px;
        padding-bottom: 20px;
        text-align: center;
        position: relative;
        border: 1px dashed grey;
        border-radius: 20px; }
        .modal-edit-post form ul li .form-group .cover-image-wrapper .img-wrapper {
          padding: 15px 0px; }
          .modal-edit-post form ul li .form-group .cover-image-wrapper .img-wrapper img {
            max-width: 256px !important;
            min-width: 150px;
            opacity: .6; }
            .modal-edit-post form ul li .form-group .cover-image-wrapper .img-wrapper img.touched {
              opacity: 1; }
        .modal-edit-post form ul li .form-group .cover-image-wrapper input {
          position: absolute;
          display: block;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer; }
      .modal-edit-post form ul li .form-group .note-editor .note-toolbar-wrapper {
        max-width: none; }
        .modal-edit-post form ul li .form-group .note-editor .note-toolbar-wrapper li {
          max-width: none; }
        .modal-edit-post form ul li .form-group .note-editor .note-toolbar-wrapper ul.dropdown-menu {
          max-width: none; }
          .modal-edit-post form ul li .form-group .note-editor .note-toolbar-wrapper ul.dropdown-menu li {
            max-width: none; }
      .modal-edit-post form ul li .form-group .cd-switch {
        text-align: center;
        position: relative;
        height: 50px; }
        .modal-edit-post form ul li .form-group .cd-switch .switch {
          position: absolute;
          display: inline-block;
          left: 50%;
          right: auto;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          z-index: 1; }
          .modal-edit-post form ul li .form-group .cd-switch .switch input[type="radio"] {
            visibility: hidden;
            position: absolute;
            height: 100%;
            margin-top: 0px; }
            .modal-edit-post form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_yes:checked ~ label[for="isPublic_yes"] {
              color: white;
              border: 1px solid grey; }
            .modal-edit-post form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_yes:checked ~ .switchFilter {
              left: 0;
              opacity: 1;
              width: 87px; }
            .modal-edit-post form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_no:checked ~ label[for="isPublic_no"] {
              color: white;
              border: 1px solid grey; }
            .modal-edit-post form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_no:checked ~ .switchFilter {
              left: 100px;
              width: 87px;
              opacity: 1; }
          .modal-edit-post form ul li .form-group .cd-switch .switch .switchFilter {
            width: 0;
            display: inline-block;
            background-color: grey;
            position: absolute;
            left: 0;
            opacity: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
            -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
            transition: all 0.4s cubic-bezier(0, 0, 0.25, 1); }
          .modal-edit-post form ul li .form-group .cd-switch .switch label {
            margin-bottom: 0px;
            cursor: pointer;
            text-transform: uppercase;
            border: 1px solid grey;
            width: 85px;
            padding: 8px 0;
            text-align: center;
            display: inline-block;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
            margin-right: 10px; }
      .modal-edit-post form ul li .form-group input[name='refLink'].is-dragover {
        border-color: #66afe9; }
      .modal-edit-post form ul li .form-fields {
        padding-left: 20px; }
        .modal-edit-post form ul li .form-fields .create-form {
          padding: 10px 10px;
          text-align: center;
          border: 2px solid grey;
          font-size: 1.5em;
          cursor: pointer; }
          .modal-edit-post form ul li .form-fields .create-form:hover {
            background-color: grey;
            color: white; }
        .modal-edit-post form ul li .form-fields > h3 {
          font-size: 1.2em; }
        .modal-edit-post form ul li .form-fields .fields-list {
          padding: 5px;
          border: 1px solid grey;
          min-height: 100px; }
          .modal-edit-post form ul li .form-fields .fields-list li {
            list-style: none; }
            .modal-edit-post form ul li .form-fields .fields-list li a.action {
              text-align: center;
              cursor: pointer;
              color: grey;
              font-size: 1.5em;
              line-height: 1; }
              .modal-edit-post form ul li .form-fields .fields-list li a.action.append-item, .modal-edit-post form ul li .form-fields .fields-list li a.action.append-answered-item {
                font-size: 1em; }
                .modal-edit-post form ul li .form-fields .fields-list li a.action.append-item .glyphicon, .modal-edit-post form ul li .form-fields .fields-list li a.action.append-answered-item .glyphicon {
                  top: 3px; }
              .modal-edit-post form ul li .form-fields .fields-list li a.action:hover {
                text-decoration: none;
                color: black; }
  .modal-edit-post form footer {
    text-align: center; }
    .modal-edit-post form footer button {
      width: 250px;
      padding: 7px;
      font-size: 18px;
      border-radius: 20px;
      background: transparent;
      border: 2px solid #53d4ad;
      color: #53d4ad;
      margin: 15px; }
      .modal-edit-post form footer button:hover {
        background: #53d4ad;
        color: white; }
      .modal-edit-post form footer button:focus {
        outline: none; }

/*# sourceMappingURL=EditPostModal.css.map */
