@import "../../config/css/colors.scss";
.forms-list-component{
    margin-bottom: 20px;
    .forms-list-header{
        margin-bottom: 15px;
        .form-fields-title{
            font-size: 2.5rem;
            font-weight: bold;
        }
        .preview-form-link{
            color: $contentColor;
            text-decoration: none;
        }
    }
    .forms-list-container{
        border: 1px dashed $lightGrey;
        border-radius: 10px;
        min-height: 101px;
        padding: 20px;
        .form-field-item{
            margin-bottom: 10px;
            .item-action{
                display: block;
                line-height: 0;
                svg{
                    width: 30px;
                    height: 30px;
                    g, path {
                        fill: $lightGrey;
                    }
                }
                &:hover{
                    svg{
                        g, path {
                            fill: $contentColor;
                        }
                    }
                    &.edit-action {
                        border-color: $contentColor;
                    }
                }
            }
            .append-action{
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: bold;
                font-style: italic;
                width: 30px;
                height: 30px;
                border: 1px solid $lightGrey;
                border-radius: 50%;
                &:hover{
                    background-color: $lightGrey;
                    color: white;
                }
            }
            .item-name-input.form-control{
                padding-left: 0px;
                border: none;
                border-bottom: 1px solid #e9ebdd;
                box-shadow: none;
                border-radius: 0px;
                font-size: 1.5rem;
                &::placeholder{
                    color: $lightGrey;
                }
                &[name="strSeries_title"]{
                    max-width: 385px;
                }
            }
            .field-item-type-wrapper{
                line-height: 0;
                .checkbox-icon, .text-icon{
                    display: none;
                    width: 30px;
                    height: 30px;
                    vertical-align: middle;
                    opacity: .5;
                }
            }
            &.field-type-checkbox{
                .field-item-type-wrapper{
                    .checkbox-icon{
                        display: inline;
                    }
                }
            }
            &.field-type-text{
                .field-item-type-wrapper{
                    .text-icon{
                        display: inline;
                    }
                }
            }
        }
        .form-loop-item{
            margin-bottom: 10px;
            .item-action{
                display: block;
                line-height: 0;
                svg{
                    width: 30px;
                    height: 30px;
                    g, path {
                        fill: $lightGrey;
                    }
                }
                &:hover{
                    svg{
                        g, path {
                            fill: $contentColor;
                        }
                    }
                    &.edit-action {
                        border-color: $contentColor;
                    }
                }
            }
            .append-action{
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: bold;
                font-style: italic;
                width: 40px;
                height: 30px;
                border: 1px solid $lightGrey;
                border-radius: 50%;
                &:hover{
                    background-color: $lightGrey;
                    color: white;
                }
            }
            .item-name-input.form-control{
                padding-left: 0px;
                border: none;
                border-bottom: 1px solid #e9ebdd;
                box-shadow: none;
                border-radius: 0px;
                font-size: 1.5rem;
                &::placeholder{
                    color: $lightGrey;
                }
                &[name="strSeries_title"]{
                    max-width: 385px;
                }
            }
            .loop-icon-wrapper{
                line-height: 0;
                svg{
                    width: 30px;
                    height: 30px;
                    vertical-align: middle;
                    opacity: .5;
                }
            }
        }
    }
}