.forms-list-component {
  margin-bottom: 20px; }
  .forms-list-component .forms-list-header {
    margin-bottom: 15px; }
    .forms-list-component .forms-list-header .form-fields-title {
      font-size: 2.5rem;
      font-weight: bold; }
    .forms-list-component .forms-list-header .preview-form-link {
      color: #737661;
      text-decoration: none; }
  .forms-list-component .forms-list-container {
    border: 1px dashed #c8cabc;
    border-radius: 10px;
    min-height: 101px;
    padding: 20px; }
    .forms-list-component .forms-list-container .form-field-item {
      margin-bottom: 10px; }
      .forms-list-component .forms-list-container .form-field-item .item-action {
        display: block;
        line-height: 0; }
        .forms-list-component .forms-list-container .form-field-item .item-action svg {
          width: 30px;
          height: 30px; }
          .forms-list-component .forms-list-container .form-field-item .item-action svg g, .forms-list-component .forms-list-container .form-field-item .item-action svg path {
            fill: #c8cabc; }
        .forms-list-component .forms-list-container .form-field-item .item-action:hover svg g, .forms-list-component .forms-list-container .form-field-item .item-action:hover svg path {
          fill: #737661; }
        .forms-list-component .forms-list-container .form-field-item .item-action:hover.edit-action {
          border-color: #737661; }
      .forms-list-component .forms-list-container .form-field-item .append-action {
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
        width: 30px;
        height: 30px;
        border: 1px solid #c8cabc;
        border-radius: 50%; }
        .forms-list-component .forms-list-container .form-field-item .append-action:hover {
          background-color: #c8cabc;
          color: white; }
      .forms-list-component .forms-list-container .form-field-item .item-name-input.form-control {
        padding-left: 0px;
        border: none;
        border-bottom: 1px solid #e9ebdd;
        box-shadow: none;
        border-radius: 0px;
        font-size: 1.5rem; }
        .forms-list-component .forms-list-container .form-field-item .item-name-input.form-control::placeholder {
          color: #c8cabc; }
        .forms-list-component .forms-list-container .form-field-item .item-name-input.form-control[name="strSeries_title"] {
          max-width: 385px; }
      .forms-list-component .forms-list-container .form-field-item .field-item-type-wrapper {
        line-height: 0; }
        .forms-list-component .forms-list-container .form-field-item .field-item-type-wrapper .checkbox-icon, .forms-list-component .forms-list-container .form-field-item .field-item-type-wrapper .text-icon {
          display: none;
          width: 30px;
          height: 30px;
          vertical-align: middle;
          opacity: .5; }
      .forms-list-component .forms-list-container .form-field-item.field-type-checkbox .field-item-type-wrapper .checkbox-icon {
        display: inline; }
      .forms-list-component .forms-list-container .form-field-item.field-type-text .field-item-type-wrapper .text-icon {
        display: inline; }
    .forms-list-component .forms-list-container .form-loop-item {
      margin-bottom: 10px; }
      .forms-list-component .forms-list-container .form-loop-item .item-action {
        display: block;
        line-height: 0; }
        .forms-list-component .forms-list-container .form-loop-item .item-action svg {
          width: 30px;
          height: 30px; }
          .forms-list-component .forms-list-container .form-loop-item .item-action svg g, .forms-list-component .forms-list-container .form-loop-item .item-action svg path {
            fill: #c8cabc; }
        .forms-list-component .forms-list-container .form-loop-item .item-action:hover svg g, .forms-list-component .forms-list-container .form-loop-item .item-action:hover svg path {
          fill: #737661; }
        .forms-list-component .forms-list-container .form-loop-item .item-action:hover.edit-action {
          border-color: #737661; }
      .forms-list-component .forms-list-container .form-loop-item .append-action {
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
        width: 40px;
        height: 30px;
        border: 1px solid #c8cabc;
        border-radius: 50%; }
        .forms-list-component .forms-list-container .form-loop-item .append-action:hover {
          background-color: #c8cabc;
          color: white; }
      .forms-list-component .forms-list-container .form-loop-item .item-name-input.form-control {
        padding-left: 0px;
        border: none;
        border-bottom: 1px solid #e9ebdd;
        box-shadow: none;
        border-radius: 0px;
        font-size: 1.5rem; }
        .forms-list-component .forms-list-container .form-loop-item .item-name-input.form-control::placeholder {
          color: #c8cabc; }
        .forms-list-component .forms-list-container .form-loop-item .item-name-input.form-control[name="strSeries_title"] {
          max-width: 385px; }
      .forms-list-component .forms-list-container .form-loop-item .loop-icon-wrapper {
        line-height: 0; }
        .forms-list-component .forms-list-container .form-loop-item .loop-icon-wrapper svg {
          width: 30px;
          height: 30px;
          vertical-align: middle;
          opacity: .5; }

/*# sourceMappingURL=FormsList.css.map */
