@import "../../node_modules/mathsass/dist/_math.scss";
@import "../../config/css/colors.scss";

$lifeCircleDuration: 30s;

.posts-structure-explainer-component{
    height: 400px;
    padding: 40px 100px 40px 10px;
    background-color: #18898d;
    border: 15px solid $greenColor;
    border-radius: 20px;
    color: white;
    .explains-container{
        height: 100%;
        position: relative;
        .explain-type-structure{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
            .node-type-items-wrapper{
                width: 350px;
                margin: 0px auto;
                position: relative;
                height: 200px;
                .node-item{
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    font-size: 1.5rem;
                    z-index: 3;
                    .node-point-txt{
                        position: absolute;
                        bottom: calc(100% + 5px);
                        left: calc((100% - 60px) / 2);
                        width: 60px;
                        text-align: center;
                    }
                    &.type-post{
                        .node-point-type-img{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: $greenColor;
                        }
                    }
                    &.type-form{
                        width: 50px;
                        height: 50px;
                        .node-point-type-img{
                            width: 50px;
                            height: 50px;
                            background-image: url("../../images/global-icons/tree/list.svg");
                            background-size: 100% 100%;
                            background-position: center center;
                        }
                    }
                }
                .line{
                    height: 2px;
                    transform-origin: left center;
                    position: absolute;
                    z-index: 1;
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        left: 20px;
                        top: 0px;
                        width: calc(100% - 20px * 2);
                        height: 100%;
                        background-image: linear-gradient(to right, #fff 7px, transparent 0%);
                        background-size: 10px 2px;
                        background-repeat: repeat-x;
                    }
                }
                .skip-bow{
                    position: absolute;
                    overflow: hidden;
                    transform-origin: left top;
                    .skip-arrow{
                        position: absolute;
                        right: 3px;
                        top: 1px;
                        width: 15px;
                        height: 15px;
                        transform-origin: right top;
                        transform: rotate(-20deg);
                        &:before, &:after{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            width: 15px;
                            height: 2px;
                            transform-origin: right top;
                            background-color: white;
                        }
                        &:before{
                        }
                        &:after{
                            transform: rotate(-40deg);
                        }
                    }
                    .bow-circle{
                        position: absolute;
                        border: 2px solid white;
                        border-radius: 50%;
                        bottom: 0px;
                    }
                }
            }
            .node-type-explain-txt{
                font-size: 2.5rem;
                line-height: 1.5;
                letter-spacing: 1px;
            }
            &.type-journey{
                opacity: 1;
                animation-name: journeyAnimation;
                animation-duration: $lifeCircleDuration;
                animation-iteration-count: infinite;
                @keyframes journeyAnimation {
                    0% {
                        opacity: 1;
                    }
                    15%{
                        opacity: 1;
                    }
                    20%{
                        opacity: 0;
                    }
                    95%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
                .node-type-items-wrapper{
                    .node-number-2, .line-1-2{
                        animation-name: journeyGlitter;
                        animation-duration: $lifeCircleDuration;
                        animation-iteration-count: infinite;
                    }
                    @keyframes journeyGlitter {
                        0% {
                            opacity: 1;
                        }
                        5%{
                            opacity: 1;
                        }
                        6%{
                            opacity: 0;
                        }
                        7%{
                            opacity: 1;
                        }
                        11%{
                            opacity: 1;
                        }
                        12%{
                            opacity: 0;
                        }
                        14%{
                            opacity: 1;
                        }
                        100%{
                            opacity: 1;
                        }
                    }
                }
            }
            &.type-fork{
                animation-name: forkAnimation;
                animation-duration: $lifeCircleDuration;
                animation-iteration-count: infinite;
                @keyframes forkAnimation {
                    0% {
                        opacity: 0;
                    }
                    20%{
                        opacity: 0;
                    }
                    25%{
                        opacity: 1;
                    }
                    40%{
                        opacity: 1;
                    }
                    45%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 0;
                    }
                }
                .node-type-items-wrapper{
                    .node-number-0, .line-0-1, .line-0-2, .line-0-3{
                        animation-name: forkGlitter;
                        animation-duration: $lifeCircleDuration;
                        animation-iteration-count: infinite;
                    }
                    @keyframes forkGlitter {
                        0% {
                            opacity: 0;
                        }
                        20%{
                            opacity: 1;
                        }
                        25%{
                            opacity: 1;
                        }
                        29%{
                            opacity: 1;
                        }
                        30%{
                            opacity: 0;
                        }
                        31%{
                            opacity: 1;
                        }
                        35%{
                            opacity: 1;
                        }
                        36%{
                            opacity: 0;
                        }
                        37%{
                            opacity: 1;
                        }
                        40%{
                            opacity: 1;
                        }
                    }
                }
            }
            &.type-skip{
                animation-name: skipAnimation;
                animation-duration: $lifeCircleDuration;
                animation-iteration-count: infinite;
                @keyframes skipAnimation {
                    0% {
                        opacity: 0;
                    }
                    45%{
                        opacity: 0;
                    }
                    50%{
                        opacity: 1;
                    }
                    65%{
                        opacity: 1;
                    }
                    70%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 0;
                    }
                }
                .node-type-items-wrapper{
                    .skip-bow{
                        animation-name: skipGlitter;
                        animation-duration: $lifeCircleDuration;
                        animation-iteration-count: infinite;
                    }
                    @keyframes skipGlitter {
                        0% {
                            opacity: 0;
                        }
                        45%{
                            opacity: 1;
                        }
                        50%{
                            opacity: 1;
                        }
                        55%{
                            opacity: 1;
                        }
                        56%{
                            opacity: 0;
                        }
                        57%{
                            opacity: 1;
                        }
                        60%{
                            opacity: 1;
                        }
                        61%{
                            opacity: 0;
                        }
                        62%{
                            opacity: 1;
                        }
                        65%{
                            opacity: 1;
                        }
                        70%{
                            opacity: 0;
                        }
                        100%{
                            opacity: 0;
                        }
                    }
                }
            }
            &.type-form{
                animation-name: formAnimation;
                animation-duration: $lifeCircleDuration;
                animation-iteration-count: infinite;
                @keyframes formAnimation {
                    0% {
                        opacity: 0;
                    }
                    70%{
                        opacity: 0;
                    }
                    75%{
                        opacity: 1;
                    }
                    90%{
                        opacity: 1;
                    }
                    95%{
                        opacity: 0;
                    }
                }
                .node-type-items-wrapper{
                    .node-number-1{
                        animation-name: formGlitter;
                        animation-duration: $lifeCircleDuration;
                        animation-iteration-count: infinite;
                    }
                    @keyframes formGlitter {
                        0% {
                            opacity: 0;
                        }
                        70%{
                            opacity: 1;
                        }
                        75%{
                            opacity: 1;
                        }
                        80%{
                            opacity: 1;
                        }
                        81%{
                            opacity: 0;
                        }
                        82%{
                            opacity: 1;
                        }
                        85%{
                            opacity: 1;
                        }
                        86%{
                            opacity: 0;
                        }
                        87%{
                            opacity: 1;
                        }
                        90%{
                            opacity: 1;
                        }
                        95%{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}