<div class="posts-structure-explainer-component component">
    <div class="explains-container">
        <div class="explain-type-structure sample" hidden>
            <div class="flex-row vertical-center flex-wrap d-xs-block">
                <div class="flex-col">
                    <div class="node-type-items-wrapper">
                        <div class="node-item sample" hidden>
                            <div class="node-point-txt">day <span class="day-value">1</span></div>
                            <div class="node-point-type-img"></div>
                        </div>
                        <div class="line sample" hidden></div>
                        <div class="skip-bow sample" hidden>
                            <div class="bow-circle"></div>
                            <div class="skip-arrow"></div>
                        </div>
                    </div>
                </div>
                <div class="flex-col fix-col">
                    <div class="node-type-explain-txt">
                        Drag & Drop content<br>
                        to create a journey<br>
                        for your users.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>