@import "./../../config/css/colors.scss";

.form-loop-editor-component{
    .loop-edit-wrapper{

    }
    .add-field-wrapper{
        .type-select-row{
            margin-bottom: 15px;
        }
        .choose-question-type-txt{
            padding: 7px 15px 0px 0px;
            font-weight: normal;
            font-size: 1.5rem;
        }
        .type-choose-item{
            display: block;
            line-height: 0;
            opacity: .3;
            svg{
                width: 40px;
                height: 40px;
                g, path{
                    //fill: $contentColor !important;
                }
            }
            &.active-item{
                opacity: 1;
            }
            &:hover{
                opacity: .7;
            }
        }
        .or-txt{
            font-size: 1.5rem;
        }
        .btn-wrapper{
            text-align: center;
            margin-top: 15px;
            margin-bottom: 20px;
            .add-form-btn{
                background-color: transparent;
                border: 1px solid $greenColor;
                color: $contentColor;
                padding: 7px 20px;
                border-radius: 20px;
                font-size: 1.5rem;
                &:focus{
                    outline: none;
                }
                &:hover{
                    background-color: $greenColor;
                    color: white;
                }
            }
        }
    }
    .loop-form-field-list{
        margin-bottom: 15px;
        .loop-form-field-item{
            margin-bottom: 10px;
            border: 1px solid transparent;
            .item-action{
                display: block;
                line-height: 0;
                svg{
                    width: 30px;
                    height: 30px;
                    g, path {
                        fill: $lightGrey;
                    }
                }
                &:hover{
                    svg{
                        g, path {
                            fill: $contentColor;
                        }
                    }
                    &.edit-action {
                        border-color: $contentColor;
                    }
                }
            }
            .item-name-input.form-control{
                padding-left: 0px;
                border: none;
                border-bottom: 1px solid #e9ebdd;
                box-shadow: none;
                border-radius: 0px;
                font-size: 1.5rem;
                &::placeholder{
                    color: $lightGrey;
                }
                &[name="strSeries_title"]{
                    max-width: 385px;
                }
            }
            .field-item-type-wrapper{
                line-height: 0;
                .checkbox-icon, .text-icon{
                    display: none;
                    width: 30px;
                    height: 30px;
                    vertical-align: middle;
                    opacity: .5;
                }
            }
            &.field-type-checkbox{
                .field-item-type-wrapper{
                    .checkbox-icon{
                        display: inline;
                    }
                }
            }
            &.field-type-text{
                .field-item-type-wrapper{
                    .text-icon{
                        display: inline;
                    }
                }
            }
        }
        .ui-sortable-placeholder {
            margin-bottom: 10px;
        }
    }
    .footer-btn-wrapper{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
        .create-loop-btn{
            background-color: transparent;
            border: 1px solid $greenColor;
            color: $contentColor;
            padding: 7px 20px;
            border-radius: 20px;
            font-size: 1.5rem;
            &:focus{
                outline: none;
            }
            &:hover{
                background-color: $greenColor;
                color: white;
            }
        }
    }
}