.form-loop-editor-component .add-field-wrapper .type-select-row {
  margin-bottom: 15px; }
.form-loop-editor-component .add-field-wrapper .choose-question-type-txt {
  padding: 7px 15px 0px 0px;
  font-weight: normal;
  font-size: 1.5rem; }
.form-loop-editor-component .add-field-wrapper .type-choose-item {
  display: block;
  line-height: 0;
  opacity: .3; }
  .form-loop-editor-component .add-field-wrapper .type-choose-item svg {
    width: 40px;
    height: 40px; }
  .form-loop-editor-component .add-field-wrapper .type-choose-item.active-item {
    opacity: 1; }
  .form-loop-editor-component .add-field-wrapper .type-choose-item:hover {
    opacity: .7; }
.form-loop-editor-component .add-field-wrapper .or-txt {
  font-size: 1.5rem; }
.form-loop-editor-component .add-field-wrapper .btn-wrapper {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px; }
  .form-loop-editor-component .add-field-wrapper .btn-wrapper .add-form-btn {
    background-color: transparent;
    border: 1px solid #1fcd98;
    color: #737661;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 1.5rem; }
    .form-loop-editor-component .add-field-wrapper .btn-wrapper .add-form-btn:focus {
      outline: none; }
    .form-loop-editor-component .add-field-wrapper .btn-wrapper .add-form-btn:hover {
      background-color: #1fcd98;
      color: white; }
.form-loop-editor-component .loop-form-field-list {
  margin-bottom: 15px; }
  .form-loop-editor-component .loop-form-field-list .loop-form-field-item {
    margin-bottom: 10px;
    border: 1px solid transparent; }
    .form-loop-editor-component .loop-form-field-list .loop-form-field-item .item-action {
      display: block;
      line-height: 0; }
      .form-loop-editor-component .loop-form-field-list .loop-form-field-item .item-action svg {
        width: 30px;
        height: 30px; }
        .form-loop-editor-component .loop-form-field-list .loop-form-field-item .item-action svg g, .form-loop-editor-component .loop-form-field-list .loop-form-field-item .item-action svg path {
          fill: #c8cabc; }
      .form-loop-editor-component .loop-form-field-list .loop-form-field-item .item-action:hover svg g, .form-loop-editor-component .loop-form-field-list .loop-form-field-item .item-action:hover svg path {
        fill: #737661; }
      .form-loop-editor-component .loop-form-field-list .loop-form-field-item .item-action:hover.edit-action {
        border-color: #737661; }
    .form-loop-editor-component .loop-form-field-list .loop-form-field-item .item-name-input.form-control {
      padding-left: 0px;
      border: none;
      border-bottom: 1px solid #e9ebdd;
      box-shadow: none;
      border-radius: 0px;
      font-size: 1.5rem; }
      .form-loop-editor-component .loop-form-field-list .loop-form-field-item .item-name-input.form-control::placeholder {
        color: #c8cabc; }
      .form-loop-editor-component .loop-form-field-list .loop-form-field-item .item-name-input.form-control[name="strSeries_title"] {
        max-width: 385px; }
    .form-loop-editor-component .loop-form-field-list .loop-form-field-item .field-item-type-wrapper {
      line-height: 0; }
      .form-loop-editor-component .loop-form-field-list .loop-form-field-item .field-item-type-wrapper .checkbox-icon, .form-loop-editor-component .loop-form-field-list .loop-form-field-item .field-item-type-wrapper .text-icon {
        display: none;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        opacity: .5; }
    .form-loop-editor-component .loop-form-field-list .loop-form-field-item.field-type-checkbox .field-item-type-wrapper .checkbox-icon {
      display: inline; }
    .form-loop-editor-component .loop-form-field-list .loop-form-field-item.field-type-text .field-item-type-wrapper .text-icon {
      display: inline; }
  .form-loop-editor-component .loop-form-field-list .ui-sortable-placeholder {
    margin-bottom: 10px; }
.form-loop-editor-component .footer-btn-wrapper {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px; }
  .form-loop-editor-component .footer-btn-wrapper .create-loop-btn {
    background-color: transparent;
    border: 1px solid #1fcd98;
    color: #737661;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 1.5rem; }
    .form-loop-editor-component .footer-btn-wrapper .create-loop-btn:focus {
      outline: none; }
    .form-loop-editor-component .footer-btn-wrapper .create-loop-btn:hover {
      background-color: #1fcd98;
      color: white; }

/*# sourceMappingURL=FormLoopEditor.css.map */
