.form-loop-component {
  width: 100%;
  display: table;
  border: 1px solid #c8cabc; }
  .form-loop-component thead tr th {
    padding: 5px 10px;
    border-right: 1px solid #c8cabc; }
  .form-loop-component tbody tr td {
    min-height: calc(1.4 * 1em);
    border-top: 1px solid #c8cabc;
    border-right: 1px solid #c8cabc;
    padding: 5px 10px;
    transition: all ease-in .3s; }
    .form-loop-component tbody tr td .type-value {
      display: none;
      position: static; }
      .form-loop-component tbody tr td .type-value:focus {
        outline: none; }
    .form-loop-component tbody tr td.type-text .type-value.text-value {
      min-height: calc(1.4 * 1em);
      display: block; }
    .form-loop-component tbody tr td.type-checkbox .type-value.checkbox-value {
      display: inline-block; }
    .form-loop-component tbody tr td.status-loading {
      transition: all ease-in .005s;
      color: orange;
      border-top-color: orange;
      border-right-color: orange; }

/*# sourceMappingURL=FormLoop.css.map */
