@import "../../config/css/colors.scss";
.form-loop-component{
    width: 100%;
    display: table;
    border: 1px solid $lightGrey;
    $border-color: #a9a9a9;
    $focus-color: orange;
    thead{
        tr{
            th{
                padding: 5px 10px;
                border-right: 1px solid $lightGrey;
            }
        }
    }
    tbody{
        tr{
            td{
                min-height: calc(1.4 * 1em);
                border-top: 1px solid $lightGrey;
                border-right: 1px solid $lightGrey;
                padding: 5px 10px;
                transition: all ease-in .3s;
                .type-value{
                    display: none;
                    position: static;
                    &:focus{
                        outline: none;
                    }
                }
                &.type-text{
                    .type-value.text-value{
                        min-height: calc(1.4 * 1em);
                        display: block;
                    }
                }
                &.type-checkbox{
                    .type-value.checkbox-value{
                        display: inline-block;
                    }
                }
                &.status-loading{
                    transition: all ease-in .005s;
                    color: $focus-color;
                    border-top-color: $focus-color;
                    border-right-color: $focus-color;
                }
            }
        }
    }
}