<table class="component form-loop-component">
    <thead contenteditable="false">
    <tr contenteditable="false">
        <th class="sample" hidden contenteditable="false"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="sample" hidden>
        <td class="sample" hidden>
            <div class="text-value type-value" contenteditable="true"></div>
            <input type="checkbox" class="checkbox-value type-value" />
        </td>
    </tr>
    </tbody>
</table>