.series-owners-light-component {
  position: relative;
  display: inline-block;
}
.series-owners-light-component .series__creator__wrapper {
  color: #3b4246;
  text-decoration: none;
}
.series-owners-light-component .series__creator__wrapper .creator__image {
  margin-right: 10px;
}
.series-owners-light-component .series__creator__wrapper .creator__image img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}
.series-owners-light-component .series__creator__wrapper .curated-by {
  vertical-align: middle;
}
.series-owners-light-component .series__creator__wrapper .creator__name {
  color: #3b4246;
  margin-right: 10px;
  font-size: 18px;
  vertical-align: middle;
}
.series-owners-light-component .series__creator__wrapper .reading__time {
  margin-top: 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}
.series-owners-light-component .series__creator__wrapper .owner__more__icon {
  line-height: 0;
}
.series-owners-light-component .series__creator__wrapper .owner__more__icon svg {
  width: 15px;
  height: 15px;
  fill: #3b4246;
}
.series-owners-light-component .series__creator__wrapper:hover {
  color: black;
}
.series-owners-light-component .series__creator__wrapper:hover .creator__name {
  color: black;
}
.series-owners-light-component .series__creator__wrapper:hover .owner__more__icon svg {
  fill: black;
}
.series-owners-light-component .owners__dropdown {
  display: none;
  position: absolute;
  top: calc(100%);
  left: -10px;
  padding: 10px 0px;
  z-index: 100;
}
.series-owners-light-component .owners__dropdown .owner__list {
  width: 260px;
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
}
.series-owners-light-component .owners__dropdown .owner__list .list__item {
  margin-bottom: 5px;
}
.series-owners-light-component .owners__dropdown .owner__list .list__item .item__image {
  margin-right: 10px;
}
.series-owners-light-component .owners__dropdown .owner__list .list__item .item__image img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}
.series-owners-light-component .owners__dropdown .owner__list .list__item .item__name {
  color: #3b4246;
}
.series-owners-light-component .owners__dropdown .owner__list:after {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(100%);
  left: calc((100% - 30px) / 2 + 26px);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
.series-owners-light-component.owner-single .series__creator__wrapper .owner__more__icon {
  display: none;
}
.series-owners-light-component:hover:not(.owner-single) .owners__dropdown {
  display: block;
}

/*# sourceMappingURL=SeriesOwnersLight.css.map */
