<div class="series-posts-tree component">
    <h3 class="series-title"></h3>
    <li class="item-row sample" hidden>
        <div class="row-inner">
            <div class="flex-row margin-between">
                <div class="flex-col fix-col">
                    <div class="media-icon-wrapper">
                        <i class="fa fa-youtube-play video-icon"></i>
                        <i class="fa fa-volume-up audio-icon"></i>
                        <i class="fa fa-file-text text-icon"></i>
                    </div>
                </div>
                <div class="flex-col">
                    <div class="item-title">I am video post</div>
                </div>
            </div>
        </div>
        <ul></ul>
    </li>
    <ul>
    </ul>
</div>