@import "../../config/css/colors.scss";
.series-posts-tree{
    padding: 10px 0px;
    .series-title{
        margin: 0px;
        padding: 0px 10px 15px;
        font-size: 1.7rem;
    }
    ul{
        list-style: none;
        > li{
            margin-bottom: 5px;
            > .row-inner{
                padding: 5px 10px;
                font-size: 1.5rem;
                cursor: pointer;
                .media-icon-wrapper{
                    width: 21px;
                    padding-top: 5px;
                    line-height: 0;
                    i.fa{
                        display: none;
                        vertical-align: middle;
                    }
                }
                .item-title{
                }
                &.item-selected{
                    background-color: $lightGrey;
                    color: white;
                }
                &.type-0{
                    .media-icon-wrapper{
                        i.fa.audio-icon{
                            display: initial;
                            vertical-align: middle;
                        }
                    }
                }
                &.type-2{
                    .media-icon-wrapper{
                        i.fa.video-icon{
                            display: initial;
                            vertical-align: middle;
                        }
                    }
                }
                &.type-7, &.type-8, &.type-9, &.type-10{
                    .media-icon-wrapper{
                        i.fa.text-icon{
                            display: initial;
                            vertical-align: middle;
                        }
                    }
                }
                &:hover{
                    background-color: $lightGrey;
                    color: white;
                }
            }
            &.node-type-root{
                > .row-inner{
                    .media-icon-wrapper{
                        opacity: 0;
                    }
                }
            }
        }
    }
    > ul{
        padding-left: 0px;
        > li{
            > .row-inner{
                display: none;
            }
            > ul{
                padding-left: 0px;
            }
        }
    }
}