.series-posts-tree {
  padding: 10px 0px; }
  .series-posts-tree .series-title {
    margin: 0px;
    padding: 0px 10px 15px;
    font-size: 1.7rem; }
  .series-posts-tree ul {
    list-style: none; }
    .series-posts-tree ul > li {
      margin-bottom: 5px; }
      .series-posts-tree ul > li > .row-inner {
        padding: 5px 10px;
        font-size: 1.5rem;
        cursor: pointer; }
        .series-posts-tree ul > li > .row-inner .media-icon-wrapper {
          width: 21px;
          padding-top: 5px;
          line-height: 0; }
          .series-posts-tree ul > li > .row-inner .media-icon-wrapper i.fa {
            display: none;
            vertical-align: middle; }
        .series-posts-tree ul > li > .row-inner.item-selected {
          background-color: #c8cabc;
          color: white; }
        .series-posts-tree ul > li > .row-inner.type-0 .media-icon-wrapper i.fa.audio-icon {
          display: initial;
          vertical-align: middle; }
        .series-posts-tree ul > li > .row-inner.type-2 .media-icon-wrapper i.fa.video-icon {
          display: initial;
          vertical-align: middle; }
        .series-posts-tree ul > li > .row-inner.type-7 .media-icon-wrapper i.fa.text-icon, .series-posts-tree ul > li > .row-inner.type-8 .media-icon-wrapper i.fa.text-icon, .series-posts-tree ul > li > .row-inner.type-9 .media-icon-wrapper i.fa.text-icon, .series-posts-tree ul > li > .row-inner.type-10 .media-icon-wrapper i.fa.text-icon {
          display: initial;
          vertical-align: middle; }
        .series-posts-tree ul > li > .row-inner:hover {
          background-color: #c8cabc;
          color: white; }
      .series-posts-tree ul > li.node-type-root > .row-inner .media-icon-wrapper {
        opacity: 0; }
  .series-posts-tree > ul {
    padding-left: 0px; }
    .series-posts-tree > ul > li > .row-inner {
      display: none; }
    .series-posts-tree > ul > li > ul {
      padding-left: 0px; }

/*# sourceMappingURL=SeriesPostsTree.css.map */
