@font-face {
  font-family: 'Font-Muli';
  font-style: normal;
  font-weight: 400;
  src: local("Muli"), url("https://walden.ly/assets/fonts/Muli/Muli-Regular.ttf") format("truetype"); }
html body {
  margin: 0px; }
  html body .walden-wrapper {
    background-color: #ebecee;
    font-family: 'Font-Muli';
    color: #747762; }
    html body .walden-wrapper .walden-content {
      width: 600px;
      max-width: 100%;
      background-color: white; }
      html body .walden-wrapper .walden-content .walden-content-inner {
        background-color: white; }
        html body .walden-wrapper .walden-content .walden-content-inner .walden-header .walden-logo-wrapper {
          width: 260px; }
        html body .walden-wrapper .walden-content .walden-content-inner .hero-section {
          background-color: #a4c1e3; }
          html body .walden-wrapper .walden-content .walden-content-inner .hero-section .you-invited .you-invited-txt {
            color: white;
            font-size: 30px; }
          html body .walden-wrapper .walden-content .walden-content-inner .hero-section .hero-image-table {
            width: 215px; }
        html body .walden-wrapper .walden-content .walden-content-inner .walden-footer {
          background-color: #1fcd98; }
          html body .walden-wrapper .walden-content .walden-content-inner .walden-footer .walden-menu a {
            text-decoration: none; }
    html body .walden-wrapper a {
      text-decoration: none; }

.margin-0-auto {
  max-width: 100%;
  margin: 0px auto; }

.text-align-center {
  text-align: center; }

/*# sourceMappingURL=experience_invited.css.map */
