@font-face {
    font-family: 'Font-Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli'), url('https://walden.ly/assets/fonts/Muli/Muli-Regular.ttf') format('truetype');
}
html{
    body{
        margin: 0px;
        .walden-wrapper{
            background-color: #ebecee;
            font-family: 'Font-Muli';
            color: #747762;
            .walden-content{
                width: 600px;
                max-width: 100%;
                background-color: white;
                .walden-content-inner{
                    background-color: white;
                    .content-section{
                    }
                    .walden-header{
                        .walden-logo-wrapper{
                            width: 260px;
                            .walden-logo{
                            }
                        }
                    }
                    .hero-section{
                        background-color: #a4c1e3;
                        .you-invited{
                            .you-invited-txt{
                                color: white;
                                font-size: 30px;
                            }
                        }
                        .hero-image-table{
                            width: 215px;
                        }
                    }
                    .make-life-section{
                        .accept-table{
                            a{
                            }
                        }
                        .decline-table{
                            a{
                            }
                        }
                    }
                    .walden-footer{
                        background-color: #1fcd98;
                        .social-links{
                        }
                        .walden-menu{
                            a{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            a{
                text-decoration: none;
            }
        }
    }
}
.margin-0-auto{
    max-width: 100%;
    margin: 0px auto;
}
.text-align-center{
    text-align: center;
}