<div class="card">
    <div class="card-body">
        <h3 class="card-title">Please Set Series</h3>
        <app-table [settings]="tableSettings" [items]="tableRows" tr="series-tr" (itemDeleted)="onItemDeleted($event)" [metaData]="applicationFee"></app-table>
    </div>
</div>