<table class="form-loop-answer-table-component component" contenteditable="false">
    <thead>
    <tr>
        <th class="sample" hidden></th>
    </tr>
    </thead>
    <tbody>
    <tr class="sample" hidden>
        <td class="sample" hidden>
            <div class="type-value text-value"></div>
            <input type="checkbox" class="type-value checkbox-value" />
        </td>
    </tr>
    </tbody>
</table>