@import "../../config/css/colors.scss";

.posts-structure-component{
    text-align: left;
    .structure-header{
        margin-bottom: 20px;
        .drag-title-wrapper{
            img{
                width: 30px;
                vertical-align: middle;
                opacity: .7;
            }
            span{
                margin-left: 5px;
                font-size: 1.5rem;
                vertical-align: middle;
            }
        }
        .structure-type-select-wrapper{
            a{
                line-height: 0;
                svg{
                    width: 30px;
                    vertical-align: middle;
                    g, path, circle{
                        fill: $lightGrey !important;
                    }
                }
                &:hover{
                    svg{
                        g, path, circle{
                            fill: $contentColor !important;
                        }
                    }
                }
            }
        }
        .add-item-btn{
            font-size: 1.5rem;
        }
    }
    .structure-body{
        min-height: 300px;
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px 3px rgba(0,0,0,.03);
        padding: 30px 10px;
        #structure-list-tab{
            @media all and (max-width: 768px) {
                .posts-container{
                    ul{
                        padding-left: 0px;
                    }
                }
            }
        }
        #structure-grid-tab {
            .items-container{
                display: flex;
                flex-wrap: wrap;
                .post-item{
                    flex-basis: calc(100% / 5);
                    flex-grow: 0;
                    flex-shrink: 0;
                    padding: 0px 10px;
                    overflow: hidden;
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                    .item-header{
                        margin-bottom: 10px;
                        .media-icon-wrapper{
                            i.fa{
                                display: none;
                                vertical-align: middle;
                            }
                        }
                        .item-action{
                            display: block;
                            line-height: 0;
                            svg{
                                width: 25px;
                                height: 25px;
                                g, path {
                                    fill: $lightGrey;
                                }
                            }
                            &.edit-action {
                                display: flex;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                border: 1px solid $lightGrey;
                                svg {
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                            &:hover{
                                svg{
                                    g, path {
                                        fill: $contentColor;
                                    }
                                }
                                &.edit-action {
                                    border-color: $contentColor;
                                }
                            }
                        }
                    }
                    .item-type-body{
                        width: 100%;
                        height: calc(100px + 3vw);
                        position: relative;
                        margin-bottom: 15px;
                        .blog-type{
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                            &.type-0{
                                background-image: url("../../images/global-icons/audio-spectr.png");
                                background-position: center center;
                                background-repeat: no-repeat;
                            }
                        }
                        aside.blog-duration{
                            position: absolute;
                            bottom: 8px;
                            right: 9px;
                            padding: 7px 20px;
                            z-index: 1;
                            background: rgba(227, 228, 220, .8);
                            border-radius: 10px;
                            font-size: 1.2rem;
                            line-height: 1.1;
                        }
                    }
                    .item-title{}
                    .item-series-wrapper{
                        .item-series{
                            color: $lightGrey;
                            text-decoration: underline $lightGrey;
                            &:hover{
                                color: black;
                                text-decoration-color: black;
                            }
                        }
                    }
                    &.type-0{
                        .item-header{
                            .media-icon-wrapper{
                                i.fa.audio-icon{
                                    display: initial;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                    &.type-2{
                        .item-header{
                            .media-icon-wrapper{
                                i.fa.video-icon{
                                    display: initial;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                    &.type-7, &.type-10{
                        .item-header{
                            .media-icon-wrapper{
                                i.fa.text-icon{
                                    display: initial;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                    @media all and (max-width: 768px) {
                        flex-basis: calc(100% / 1);
                        .item-type-body{
                            height: calc(150px + 3vw);
                        }
                    }
                }
                .ui-sortable-placeholder{
                    width: auto !important;
                    flex-basis: calc(100% / 5);
                    overflow: hidden;
                    flex-grow: 0;
                    flex-shrink: 0;
                    padding: 0px 10px;
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                }
            }
            .load-more-status{
                height: 35px;
                width: calc(100% - 70px);
                max-width: 100%;
                margin: 10px auto;
                text-align: center;
                border: 1px solid $greenColor;
                border-radius: 5px;
                span{
                    cursor: pointer;
                    font-size: 1.5rem;
                    color: $greenColor;
                    vertical-align: middle;
                    font-style: italic;
                    display: block;
                    width: 100%;
                }
                .lds-ellipsis{
                    display: none;
                    vertical-align: middle;
                }
                &.status-loading{
                    span{
                        display: none;
                    }
                    .lds-ellipsis{
                        display: inline-block;
                    }
                }
                &:hover{
                    border-color: $greenHover;
                    span{
                        color: $greenHover;
                    }
                }
            }
        }
    }
    .show-on-grid-structure, .show-on-list-structure{
        display: none;
    }
    &.list-structure-mode{
        .show-on-list-structure{
            display: initial;
        }
    }
    &.grid-structure-mode {
        .show-on-grid-structure{
            display: initial;
        }
    }
}