.posts-structure-component {
  text-align: left; }
  .posts-structure-component .structure-header {
    margin-bottom: 20px; }
    .posts-structure-component .structure-header .drag-title-wrapper img {
      width: 30px;
      vertical-align: middle;
      opacity: .7; }
    .posts-structure-component .structure-header .drag-title-wrapper span {
      margin-left: 5px;
      font-size: 1.5rem;
      vertical-align: middle; }
    .posts-structure-component .structure-header .structure-type-select-wrapper a {
      line-height: 0; }
      .posts-structure-component .structure-header .structure-type-select-wrapper a svg {
        width: 30px;
        vertical-align: middle; }
        .posts-structure-component .structure-header .structure-type-select-wrapper a svg g, .posts-structure-component .structure-header .structure-type-select-wrapper a svg path, .posts-structure-component .structure-header .structure-type-select-wrapper a svg circle {
          fill: #c8cabc !important; }
      .posts-structure-component .structure-header .structure-type-select-wrapper a:hover svg g, .posts-structure-component .structure-header .structure-type-select-wrapper a:hover svg path, .posts-structure-component .structure-header .structure-type-select-wrapper a:hover svg circle {
        fill: #737661 !important; }
    .posts-structure-component .structure-header .add-item-btn {
      font-size: 1.5rem; }
  .posts-structure-component .structure-body {
    min-height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.03);
    padding: 30px 10px; }
    @media all and (max-width: 768px) {
      .posts-structure-component .structure-body #structure-list-tab .posts-container ul {
        padding-left: 0px; } }
    .posts-structure-component .structure-body #structure-grid-tab .items-container {
      display: flex;
      flex-wrap: wrap; }
      .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item {
        flex-basis: calc(100% / 5);
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0px 10px;
        overflow: hidden;
        font-size: 1.5rem;
        margin-bottom: 20px; }
        .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header {
          margin-bottom: 10px; }
          .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .media-icon-wrapper i.fa {
            display: none;
            vertical-align: middle; }
          .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action {
            display: block;
            line-height: 0; }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action svg {
              width: 25px;
              height: 25px; }
              .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action svg g, .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action svg path {
                fill: #c8cabc; }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action.edit-action {
              display: flex;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              border: 1px solid #c8cabc; }
              .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action.edit-action svg {
                width: 12px;
                height: 12px; }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action:hover svg g, .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action:hover svg path {
              fill: #737661; }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action:hover.edit-action {
              border-color: #737661; }
        .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-type-body {
          width: 100%;
          height: calc(100px + 3vw);
          position: relative;
          margin-bottom: 15px; }
          .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-type-body .blog-type {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden; }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-type-body .blog-type img {
              width: 100%;
              height: 100%; }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-type-body .blog-type.type-0 {
              background-image: url("../../images/global-icons/audio-spectr.png");
              background-position: center center;
              background-repeat: no-repeat; }
          .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-type-body aside.blog-duration {
            position: absolute;
            bottom: 8px;
            right: 9px;
            padding: 7px 20px;
            z-index: 1;
            background: rgba(227, 228, 220, 0.8);
            border-radius: 10px;
            font-size: 1.2rem;
            line-height: 1.1; }
        .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-series-wrapper .item-series {
          color: #c8cabc;
          text-decoration: underline #c8cabc; }
          .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-series-wrapper .item-series:hover {
            color: black;
            text-decoration-color: black; }
        .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item.type-0 .item-header .media-icon-wrapper i.fa.audio-icon {
          display: initial;
          vertical-align: middle; }
        .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item.type-2 .item-header .media-icon-wrapper i.fa.video-icon {
          display: initial;
          vertical-align: middle; }
        .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item.type-7 .item-header .media-icon-wrapper i.fa.text-icon, .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item.type-10 .item-header .media-icon-wrapper i.fa.text-icon {
          display: initial;
          vertical-align: middle; }
        @media all and (max-width: 768px) {
          .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item {
            flex-basis: calc(100% / 1); }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-type-body {
              height: calc(150px + 3vw); } }
      .posts-structure-component .structure-body #structure-grid-tab .items-container .ui-sortable-placeholder {
        width: auto !important;
        flex-basis: calc(100% / 5);
        overflow: hidden;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0px 10px;
        font-size: 1.5rem;
        margin-bottom: 20px; }
    .posts-structure-component .structure-body #structure-grid-tab .load-more-status {
      height: 35px;
      width: calc(100% - 70px);
      max-width: 100%;
      margin: 10px auto;
      text-align: center;
      border: 1px solid #1fcd98;
      border-radius: 5px; }
      .posts-structure-component .structure-body #structure-grid-tab .load-more-status span {
        cursor: pointer;
        font-size: 1.5rem;
        color: #1fcd98;
        vertical-align: middle;
        font-style: italic;
        display: block;
        width: 100%; }
      .posts-structure-component .structure-body #structure-grid-tab .load-more-status .lds-ellipsis {
        display: none;
        vertical-align: middle; }
      .posts-structure-component .structure-body #structure-grid-tab .load-more-status.status-loading span {
        display: none; }
      .posts-structure-component .structure-body #structure-grid-tab .load-more-status.status-loading .lds-ellipsis {
        display: inline-block; }
      .posts-structure-component .structure-body #structure-grid-tab .load-more-status:hover {
        border-color: #1eb785; }
        .posts-structure-component .structure-body #structure-grid-tab .load-more-status:hover span {
          color: #1eb785; }
  .posts-structure-component .show-on-grid-structure, .posts-structure-component .show-on-list-structure {
    display: none; }
  .posts-structure-component.list-structure-mode .show-on-list-structure {
    display: initial; }
  .posts-structure-component.grid-structure-mode .show-on-grid-structure {
    display: initial; }

/*# sourceMappingURL=PostsStructure.css.map */
