<div class="card">
    <div class="card-body">
        <h3 class="card-title">Please send Invitations</h3>
        <app-waitlist-table [headers] = 'tableHeader' [rows]="tableRows"></app-waitlist-table>
    </div>
</div>