.view-post-popup-widget{
    position: fixed;
    z-index: 10;
    left: 0px;
    bottom: 0px;
    width: 300px;
    height: auto;
    display: none;
    background-color: rgba(28,29,30,.9);
    border-radius: 4px;
    overflow: auto;
    .widget-inner{
        position: relative;
        z-index: 2;
    }
    header.widget-header{
        padding: 8px 6px 8px 12px;
        .post-title{
            width: 230px;
            color: #fff;
            font-size: .9rem;
            opacity: .6;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
        .mv_min_control{
            padding: 9px 2px;
            margin: -8px 0;
            opacity: .6;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
            .mv_min_control_max{
                height: 10px;
                width: 11px;
                background: url(../../images/global-icons/tree/post/video_icon.png) 0 -119px;
            }
            .mv_min_control_close{
                height: 10px;
                width: 10px;
                background: url(../../images/global-icons/tree/post/video_icon.png) 0 -139px;
            }
        }
    }
    .widget-body{
        padding: 0px 6px 6px;
        > div{
            background-color: white;
        }
        .audio-widget{
            padding: 5px;
        }
        .text-widget{
            padding: 5px;
        }
        .form-widget{
            padding: 5px;

        }
        *{
            max-width: 100%;
        }

    }
    .widget-footer{
        padding: 15px;
        background-color: white;
    }
    aside.widget-top-control{
        position: absolute;
        left: 100%;
        top: 0px;
        width: auto;
        .mv_top_button{
            padding: 6px 24px 6px 20px;
            opacity: 0.4;
            filter: alpha(opacity=40);
            cursor: pointer;
            -o-transition: opacity 0.15s ease-in-out;
            transition: opacity 0.15s ease-in-out;
            outline: none;
            .mv_close_icon{
                background: url(../../images/global-icons/tree/post/video_icon.png) no-repeat;
                background-position: 0px 0px;
                height: 20px;
                width: 20px;
            }
            .mv_minimize_icon{
                background: url(../../images/global-icons/tree/post/video_icon.png) no-repeat;
                background-position: 0px -24px;
                height: 5px;
                width: 20px;
                margin: 7px 0;
            }
            &:hover{
                opacity: 1;
            }
        }
    }
    &.audio-type{
        width: 500px;
    }
    &.image-type{
        .widget-body{
            #info{
                padding: 5px;
                display: none;
                *{
                    max-width: 100%;
                }
            }
        }
    }
    &.text-type{
        .widget-body{
            .text-widget{
                max-height: 300px;
                overflow: hidden;
            }
        }
    }
    &.active{
        display: block;
    }
    &.maximize-view{
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        min-height: 100% !important;
        background-color: rgba(0, 0, 0, .8);
        .widget-body{
            padding: 0px;
        }
        .widget-inner{
            position: relative;
            max-width: calc(100% - 100px);
            width: 700px;
            margin: 100px auto;
            background-color: rgba(28,29,30,.9);
        }
        &.image-type{
            overflow: auto;
            .widget-body{
                #info{
                    display: block;
                }
            }
        }
        &.text-type{
            .widget-body{
                .text-widget{
                    max-height: none;
                    overflow: auto;
                }
            }
        }
        .view-only-min{
            display: none;
        }
        .view-only-max{
            display: block;
        }
        .form-field-wrapper{
            font-size: 2rem;
        }
    }
    .view-only-max{
        display: none;
    }
}