.view-post-popup-widget {
  position: fixed;
  z-index: 10;
  left: 0px;
  bottom: 0px;
  width: 300px;
  height: auto;
  display: none;
  background-color: rgba(28, 29, 30, 0.9);
  border-radius: 4px;
  overflow: auto; }
  .view-post-popup-widget .widget-inner {
    position: relative;
    z-index: 2; }
  .view-post-popup-widget header.widget-header {
    padding: 8px 6px 8px 12px; }
    .view-post-popup-widget header.widget-header .post-title {
      width: 230px;
      color: #fff;
      font-size: .9rem;
      opacity: .6;
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;
      cursor: pointer; }
      .view-post-popup-widget header.widget-header .post-title:hover {
        opacity: 1; }
    .view-post-popup-widget header.widget-header .mv_min_control {
      padding: 9px 2px;
      margin: -8px 0;
      opacity: .6;
      cursor: pointer; }
      .view-post-popup-widget header.widget-header .mv_min_control:hover {
        opacity: 1; }
      .view-post-popup-widget header.widget-header .mv_min_control .mv_min_control_max {
        height: 10px;
        width: 11px;
        background: url(../../images/global-icons/tree/post/video_icon.png) 0 -119px; }
      .view-post-popup-widget header.widget-header .mv_min_control .mv_min_control_close {
        height: 10px;
        width: 10px;
        background: url(../../images/global-icons/tree/post/video_icon.png) 0 -139px; }
  .view-post-popup-widget .widget-body {
    padding: 0px 6px 6px; }
    .view-post-popup-widget .widget-body > div {
      background-color: white; }
    .view-post-popup-widget .widget-body .audio-widget {
      padding: 5px; }
    .view-post-popup-widget .widget-body .text-widget {
      padding: 5px; }
    .view-post-popup-widget .widget-body .form-widget {
      padding: 5px; }
    .view-post-popup-widget .widget-body * {
      max-width: 100%; }
  .view-post-popup-widget .widget-footer {
    padding: 15px;
    background-color: white; }
  .view-post-popup-widget aside.widget-top-control {
    position: absolute;
    left: 100%;
    top: 0px;
    width: auto; }
    .view-post-popup-widget aside.widget-top-control .mv_top_button {
      padding: 6px 24px 6px 20px;
      opacity: 0.4;
      filter: alpha(opacity=40);
      cursor: pointer;
      -o-transition: opacity 0.15s ease-in-out;
      transition: opacity 0.15s ease-in-out;
      outline: none; }
      .view-post-popup-widget aside.widget-top-control .mv_top_button .mv_close_icon {
        background: url(../../images/global-icons/tree/post/video_icon.png) no-repeat;
        background-position: 0px 0px;
        height: 20px;
        width: 20px; }
      .view-post-popup-widget aside.widget-top-control .mv_top_button .mv_minimize_icon {
        background: url(../../images/global-icons/tree/post/video_icon.png) no-repeat;
        background-position: 0px -24px;
        height: 5px;
        width: 20px;
        margin: 7px 0; }
      .view-post-popup-widget aside.widget-top-control .mv_top_button:hover {
        opacity: 1; }
  .view-post-popup-widget.audio-type {
    width: 500px; }
  .view-post-popup-widget.image-type .widget-body #info {
    padding: 5px;
    display: none; }
    .view-post-popup-widget.image-type .widget-body #info * {
      max-width: 100%; }
  .view-post-popup-widget.text-type .widget-body .text-widget {
    max-height: 300px;
    overflow: hidden; }
  .view-post-popup-widget.active {
    display: block; }
  .view-post-popup-widget.maximize-view {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    min-height: 100% !important;
    background-color: rgba(0, 0, 0, 0.8); }
    .view-post-popup-widget.maximize-view .widget-body {
      padding: 0px; }
    .view-post-popup-widget.maximize-view .widget-inner {
      position: relative;
      max-width: calc(100% - 100px);
      width: 700px;
      margin: 100px auto;
      background-color: rgba(28, 29, 30, 0.9); }
    .view-post-popup-widget.maximize-view.image-type {
      overflow: auto; }
      .view-post-popup-widget.maximize-view.image-type .widget-body #info {
        display: block; }
    .view-post-popup-widget.maximize-view.text-type .widget-body .text-widget {
      max-height: none;
      overflow: auto; }
    .view-post-popup-widget.maximize-view .view-only-min {
      display: none; }
    .view-post-popup-widget.maximize-view .view-only-max {
      display: block; }
    .view-post-popup-widget.maximize-view .form-field-wrapper {
      font-size: 2rem; }
  .view-post-popup-widget .view-only-max {
    display: none; }

/*# sourceMappingURL=ViewPostPopupWidget.css.map */
