.post-notes-component {
  width: 645px;
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 90;
  background-color: #f6fffc;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  transition: all .3s ease-out; }
  .post-notes-component * {
    transition: all .3s ease-out; }
  .post-notes-component .left-col {
    background-color: #c8cabc; }
    .post-notes-component .left-col .left-section {
      padding: 45px 10px;
      color: white;
      cursor: pointer; }
      .post-notes-component .left-col .left-section .notes-name {
        margin-bottom: 15px; }
      .post-notes-component .left-col .left-section .note-icon {
        text-align: center;
        line-height: 0; }
        .post-notes-component .left-col .left-section .note-icon svg {
          width: 30px;
          height: auto; }
          .post-notes-component .left-col .left-section .note-icon svg g, .post-notes-component .left-col .left-section .note-icon svg path {
            fill: white; }
  .post-notes-component .content-col {
    background-color: #f6fffc; }
    .post-notes-component .content-col .content-section .content-inner {
      position: relative;
      padding: 30px 70px 30px 20px; }
      .post-notes-component .content-col .content-section .content-inner .goal-input-wrapper {
        margin-bottom: 15px; }
        .post-notes-component .content-col .content-section .content-inner .goal-input-wrapper textarea {
          height: auto; }
      .post-notes-component .content-col .content-section .content-inner .notes-container .note-item {
        margin-bottom: 15px; }
        .post-notes-component .content-col .content-section .content-inner .notes-container .note-item .delete-action {
          position: relative;
          display: block;
          top: 3px; }
          .post-notes-component .content-col .content-section .content-inner .notes-container .note-item .delete-action svg {
            width: 20px;
            height: 20px; }
            .post-notes-component .content-col .content-section .content-inner .notes-container .note-item .delete-action svg g, .post-notes-component .content-col .content-section .content-inner .notes-container .note-item .delete-action svg path {
              transition: none;
              fill: #1fcd98; }
          .post-notes-component .content-col .content-section .content-inner .notes-container .note-item .delete-action:hover svg g, .post-notes-component .content-col .content-section .content-inner .notes-container .note-item .delete-action:hover svg path {
            fill: #1eb785; }
        .post-notes-component .content-col .content-section .content-inner .notes-container .note-item .note-content {
          text-align: left; }
      .post-notes-component .content-col .content-section .content-inner .add-wrapper {
        position: absolute;
        right: 10px;
        top: 60px; }
        .post-notes-component .content-col .content-section .content-inner .add-wrapper .add-action {
          display: block;
          line-height: 0px; }
          .post-notes-component .content-col .content-section .content-inner .add-wrapper .add-action svg {
            width: 45px; }
            .post-notes-component .content-col .content-section .content-inner .add-wrapper .add-action svg g, .post-notes-component .content-col .content-section .content-inner .add-wrapper .add-action svg path {
              transition: none; }
          .post-notes-component .content-col .content-section .content-inner .add-wrapper .add-action:hover svg g, .post-notes-component .content-col .content-section .content-inner .add-wrapper .add-action:hover svg path {
            fill: #1eb785; }
  .post-notes-component.collapsed {
    width: 50px;
    border-radius: 50%; }
    .post-notes-component.collapsed .left-col .left-section {
      padding: 10px 10px; }
      .post-notes-component.collapsed .left-col .left-section .notes-name {
        display: none; }
    .post-notes-component.collapsed .content-col {
      display: none; }
    .post-notes-component.collapsed.large-collapsed-size {
      border-radius: 20px 0px 0px 20px; }
      .post-notes-component.collapsed.large-collapsed-size .left-col .left-section {
        padding: 45px 10px; }
  @media screen and (max-width: 768px) {
    .post-notes-component.mobile-expand-static {
      position: static;
      width: 100%;
      box-shadow: none;
      border-radius: 0px;
      border: 0px;
      transition: none; }
      .post-notes-component.mobile-expand-static * {
        transition: none; }
      .post-notes-component.mobile-expand-static.collapsed {
        width: 100%; }
        .post-notes-component.mobile-expand-static.collapsed .content-col {
          display: block; }
          .post-notes-component.mobile-expand-static.collapsed .content-col .collapse {
            display: block; }
      .post-notes-component.mobile-expand-static .left-col {
        display: none; } }

/*# sourceMappingURL=PostNotes.css.map */
