@import "../../config/css/colors.scss";

.post-notes-component{
    width: 645px;
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 90;
    background-color: $lightGreen;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
    border: 1px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    transition: all .3s ease-out;
    *{
        transition: all .3s ease-out;
    }
    .left-col{
        background-color: $lightGrey;
        .left-section{
            padding: 45px 10px;
            color: white;
            cursor: pointer;
            .notes-name{
                margin-bottom: 15px;
            }
            .note-icon{
                text-align: center;
                line-height: 0;
                svg{
                    width: 30px;
                    height: auto;
                    g, path{
                        fill: white;
                    }
                }
            }
        }
    }
    .content-col{
        background-color: $lightGreen;
        .content-section{
            .content-inner{
                position: relative;
                padding: 30px 70px 30px 20px;
                .goal-input-wrapper{
                    margin-bottom: 15px;
                    textarea{
                        height: auto;
                    }
                }
                .notes-container{
                    .note-item{
                        margin-bottom: 15px;
                        .delete-action{
                            position: relative;
                            display: block;
                            top: 3px;
                            svg{
                                width: 20px;
                                height: 20px;
                                g, path{
                                    transition: none;
                                    fill: $greenColor;
                                }
                            }
                            &:hover{
                                svg{
                                    g, path{
                                        fill: $greenHover;
                                    }
                                }
                            }
                        }
                        .note-content{
                            text-align: left;
                        }
                    }
                }
                .add-wrapper{
                    position: absolute;
                    right: 10px;
                    top: 60px;
                    .add-action{
                        display: block;
                        line-height: 0px;
                        svg{
                            width: 45px;
                            g, path{
                                transition: none;
                            }
                        }
                        &:hover{
                            svg{
                                g, path{
                                    fill: $greenHover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.collapsed{
        width: 50px;
        border-radius: 50%;
        .left-col{
            .left-section{
                padding: 10px 10px;
                .notes-name{
                    display: none;
                }
            }
        }
        .content-col{
            display: none;
        }
        &.large-collapsed-size{
            border-radius: 20px 0px 0px 20px;
            .left-col{
                .left-section{
                    padding: 45px 10px;;
                }
            }
        }
    }
    &.mobile-expand-static{
        @media screen and (max-width: 768px){
            position: static;
            width: 100%;
            box-shadow: none;
            border-radius: 0px;
            border: 0px;
            transition: none;
            *{
                transition: none;
            }
            &.collapsed{
                width: 100%;
                .content-col{
                    display: block;
                    .collapse{
                        display: block;
                    }
                }
            }
            .left-col{
                display: none;
            }
        }
    }
}