/*
  Theme Name: Intro - Architecture & Interior HTML5 Template
  Author: nilArtStudio
  Description: Architecture & Interior HTML5 Template
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. Theme default css
2. header
3. slider
4. intro
5. service
6. project area
7. project-details
8 .testimonial
9. call to action
10. latest blog
11. intro-form
12. footer
13. features area
14. video-area
15. clouds area
16. brand area
17. page title
*/



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Poppins:300,400,500,600,700|Roboto:300,400,500,700');
body {
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #15bfff;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
button{cursor:pointer;}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	color: #313131;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	//list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #7e7e7e;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}

i{transition:.3s;}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
input:focus,textarea:focus{outline:0}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
button:focus {
  outline: 0 none;
}

/* button style */

.btn {
  -moz-user-select: none;
  background: #15bfff none repeat scroll 0 0;
  border: medium none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  padding: 20px 50px;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
}
.btn.btn-black {
	background: #303b41;
}
.btn.btn-black:hover {
	background: #1a1a1a;
}
.btn:hover {
	background: #222;
	color: #fff
}
.btn.btn-large {
	padding: 10px 25px;
}
.btn-lg {
	font-weight: 700;
	padding: 13px 31px;
}
.btn.white-btn:hover {
	border-color: #ddd;
	color: #ddd
}
.btn.btn-base.btn-link {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	color: #1696e7;
	padding: 0;
	text-decoration: none;
}
.btn.btn-base.btn-link:hover {
	color: #106fab;
}
.theme-bg {
	background: #1696e7
}
.bg-white {
	background-color: #ffffff;
}
.breadcrumb > .active {
	color: #888;
}
.owl-carousel .owl-nav div {
  background: rgba(249, 149, 30, 0.6) none repeat scroll 0 0;
  color: #fff;
  font-size: 30px;
  height: 40px;
  left: 20px;
  line-height: 41px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 60px;
}
.owl-carousel .owl-nav div.owl-next {
	left: auto;
	right: 20px;
}
.owl-carousel:hover .owl-nav div {
	opacity: 1;
	visibility: visible;
}
.owl-carousel .owl-nav div:hover {
	background: #15bfff;
	color: #fff
}


/* 2. header */
.wrapper-box{padding:0 120px}
.header-info > span span {
  color: #15bfff;
}
.main-menu{}
.main-menu ul{}
.main-menu ul li {
  display: inline-block;
  margin-left: 50px;
  position: relative;
}
.main-menu ul li a {
  color: #fff;
  display: block;
  font-weight: 400;
  padding: 60px 0;
}
.main-menu ul li:hover > a{color: #15bfff}
.main-menu ul li ul.submenu {
  background: #fff none repeat scroll 0 0;
  left: 0;
  position: absolute;
  top: 100%;
  width: 250px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.main-menu ul li:hover ul.submenu{opacity: 1;visibility: visible;}
.main-menu ul li ul.submenu li {
  border-bottom: 1px solid #ddd;
  display: block;
  margin: 0;
}
.main-menu ul li ul.submenu li:last-child{border: 0}
.main-menu ul li ul.submenu li a {
  color: #1b1b1b;
  padding: 10px 15px;
}
.main-menu ul li ul.submenu li:hover > a{color: #15bfff}
.hamburger {
  float: right;
  margin-left: 20px;
  margin-top: 53px;
  padding: 0;
  transition: all 0.3s ease 0s;
}
.hamburger.is-active {
  margin-top: 57px;
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  background: #fff none repeat scroll 0 0;
  height: 2px;
  width: 30px;
}
.hamburger-inner::before {
  top: -8px;
}
.hamburger--collapse .hamburger-inner::after {
  top: -16px;
}
.hamburger-menu {
  float: right;
  margin-right: 90px;
  opacity: 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
}
nav.nav-menu-show {
  margin-right: 50px;
  opacity: 1;
  visibility: visible;
}
.black-menu .hamburger-inner, .black-menu .hamburger-inner::after, .black-menu .hamburger-inner::before {
  background: #222 none repeat scroll 0 0;
}
.black-menu .hamburger {
  margin-top: 0px;
}
.hamburger.hamburger--collapse > span {
  display: inline-block;
  line-height: 1;
  position: relative;
  top: -5px;
}

.main-menu.black-menu ul li a {
  color: #444;
  padding: 35px 0;
}
.black-menu.menu-bg-white .hamburger {
  margin-top: 31px;
}


.click-menu{}
.click-menu span {
  display: inline-block;
  line-height: 1;
}
.click-menu button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #222;
  display: inline-block;
  line-height: 1;
  padding: 0 8px;
}

.transparent-mainmenu {
  background: rgba(0, 0, 0, 0.92) none repeat scroll 0 0;
  color: #353535;
  min-height: 100vh;
  opacity: 0;
  padding: 295px 46px 39px;
  position: fixed;
  right: 0;
  top: 0;
  transform: scale(1);
  transition: transform 0.5s ease-in-out 0s;
  visibility: hidden;
  width: 100%;
  z-index: 9999;
}
.transparent-mainmenu.inside {
  transform: scale(1);
  z-index: 9999;
  visibility: visible;
  opacity: 1;
}
.transparent-menu-close-icon button {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  cursor: pointer;
  font-size: 50px;
  padding: 0;
  position: absolute;
  right: 100px;
  top: 25px;
  transition: all 0.3s ease 0s;
}
.slinky-menu.slinky-theme-default {
  display: inline-block;
  width: 290px;
}
.slinky-theme-default {
  background: transparent none repeat scroll 0 0;
}
.slinky-theme-default .next::after, .slinky-theme-default .back::before {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  content: "";
  font-family: icofont;
  font-size: 18px;
  height: 1em;
  opacity: 1;
  transition: all 200ms ease 0s;
  width: 1em;
}
.slinky-theme-default a:hover:not(.back) {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#menu-full li a {
  color: #fff;
  font-size: 15px;
  padding: 10px 15px;
  text-transform: uppercase;
}
#menu-full li a:hover{color: #15bfff}

/* 3. slider */
.slider-area {
  position: relative;
}
.social-icon {
  left: -74px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}
.social-icon > a {
  color: #cdcdcd;
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
.social-icon > a:hover{color:#15bfff}
.social-icon > a:last-child{margin-bottom:0;}
.slide-height {
  background-position: center center;
  background-size: cover;
  min-height: 1000px;
}
.slider-content h1, .slider-content span, .slider-content a {
	animation-duration:1s;
	animation-fill-mode:both;
	animation-name: fadeOutDown;
}
.active .slider-content h1, .active .slider-content span, .active .slider-content a{
  animation-name: fadeInUp;
}
.slider-content{}
.slider-content h1 {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 25px;
  margin-bottom: 10px;
  animation-delay: 0.2s;
}
.slider-content span {
  color: #fff;
  display: block;
  font-family: "Roboto",sans-serif;
  font-size: 20px;
  letter-spacing: 12px;
  margin-bottom: 60px;
  animation-delay: 0.7s;
}
.slider-content a{font-size:26px;	animation-delay: 1.2s;}

.custom-dots .owl-dots {
  position: absolute;
  right: -79px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}
.custom-dots .owl-dots .owl-dot {
  margin-bottom: 40px;
  position: relative;
}
.custom-dots .owl-dots .owl-dot:last-child{margin-bottom:0;}
.custom-dots .owl-dots .owl-dot {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  font-size: 16px;
  opacity: 0.4;
  padding: 0;
}
.custom-dots .owl-dots .owl-dot.active{opacity:1;}
.custom-dots .owl-dots .owl-dot.active::before {
  background: #15bfff none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: -6px;
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
  width: 30px;
}

.slider-full-active.custom-dots .owl-dots {
  right: 50px;
}
.slider-full-active.custom-dots .owl-dots .owl-dot {
  color: #3d3d3d;
  opacity: 0.2;
}
.slider-full-active.custom-dots .owl-dots .owl-dot.active{opacity:1}
.follow-icon {
  bottom: 0;
  padding-bottom: 20px;
  padding-right: 20px;
  position: absolute;
  right: 0;
  z-index: 9;
}
.follow-icon > span {
  font-size: 15px;
  margin-right: 20px;
  padding-right: 80px;
  position: relative;
}
.follow-icon > span::after {
  background: #999 none repeat scroll 0 0;
  content: "";
  height: 2px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 60px;
}
.follow-icon > a {
  color: #747474;
  display: inline-block;
  font-size: 20px;
  margin-right: 25px;
}
.follow-icon > a:hover{color:#15bfff}
/* slider-2 */
.hero-caption > ul {
  margin: 0 15px;
  //overflow: hidden;
}
.hero-caption > h1 {
  font-size: 60px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  position: relative;
}
.hero-caption > h1::before {
  background: #15bfff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  position: absolute;
  width: 60px;
}
.hero-caption > p {
  color: #747474;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 40px;
  padding-right: 40px;
  text-align: justify;
  margin-right:40px;
  
}
.hero-caption ul li {
    color: #1eca74;
    float: left;
    font-size: 18px;
    margin-bottom: 25px;
    padding: 0 15px;
    width: 50%;
}
.hero-caption ul li span {
  color: #3d3d3d;
}
.hero-caption > a {
  color: #15bfff;
  display: inline-block;
  font-size: 26px;
  margin-top: 50px;
}
.hero-caption > a:hover{color:#444;}
.hero-bg {
  display: flex;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 43%;
}
.hero-video-icon {
  align-self: end;
}
.hero-video-icon a {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  color: #15bfff;
  display: inline-block;
  font-size: 38px;
  height: 80px;
  line-height: 82px;
  text-align: center;
  width: 80px;
  margin-left: -15px;
}
/* slider 3 */
.slide-full-content h1 , .slide-full-content > p, .slide-full-content > a {
	animation-duration:1s;
	animation-fill-mode:both;
	animation-name: fadeOutDown;
}
.active .slide-full-content h1 , .active .slide-full-content > p, .active .slide-full-content > a{animation-name: fadeInUp;}
.slide-full {
  background-position: center center;
  background-size: cover;
  min-height: 880px;
}
.slide-full-content h1 {
  font-size: 60px;
  line-height: 72px;
  padding-bottom: 25px;
  position: relative;
  margin-bottom: 51px;
  animation-delay: 0.2s;
}
.slide-full-content > p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 60px;
  animation-delay: 0.7s;
}
.slide-full .btn {
  font-size: 26px;
}
.slide-full-content h1::before {
  background: #999 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  position: absolute;
  width: 60px;
}
.slide-full-content > a{animation-delay: 1.2s;}


/* 4. intro */
.intro-img{position:relative}
.intro-img a {
  background: rgba(247, 149, 30, 0.5) none repeat scroll 0 0;
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  font-size: 50px;
  height: 120px;
  left: 0;
  line-height: 124px;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 120px;
}
.intro-img a i {
  background: rgba(247, 149, 30, 0.9) none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 60px;
}
.intro-img img{width:100%}
.intro-text h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  padding-bottom: 20px;
  position: relative;
}
.intro-text h2::before {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  width: 60px;
}
.intro-text p {
  color: #ddd;
  font-size: 16px;
  line-height: 28px;
}
.intro-text a{color:#fff;}
.intro-text a i {
  position: relative;
  top: 1px;
  transition:.3s;
}
.intro-text a:hover{color:#15bfff}
.intro-text a:hover i{margin-left:5px}


/* 5. service */
.area-title {
  position: relative;
}
.area-title::before {
  background: #3d3d3d none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  width: 65px;
}
.area-title.text-center:before {
  margin: auto;
  right: 0;
}
.area-title.text-center.white-text::before {
  background: #fff none repeat scroll 0 0;
}
.area-title > h1 {
  color: #3d3d3d;
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1;
  margin: 0;
  opacity: 0.05;
}
.area-title > h1.outer {
  margin-left: -65px;
}
.area-title > h2 {
  font-size: 36px;
  left: 0;
  line-height: 1;
  margin: 0;
  padding-top: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.area-title.text-center > h2 {
  right: 0;
}
.area-title-2 > h2 {
  font-weight: 400;
  line-height: 1;
  padding-bottom: 20px;
  padding-top: 0;
  position: inherit;
  transform: inherit;
}
.area-title-2::before {
  height: 2px;
  background:#15bfff;
}
.area-title.white-text h1{color:#fff;}
.area-title.white-text h2{color:#fff;}

.inner-service {
  background-position: right bottom;
  background-repeat: no-repeat;
}
.service-item li {
    margin-bottom: 50px;
}
.service-item span {
  color: #3d3d3d;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
}
.service-item li:last-child{margin-bottom:0;}
.service-text > p {
  color: #747474;
  font-size: 16px;
  line-height: 28px;
  margin-top: 15px;
}
.service-text a {
  color: #666;
  font-family: roboto;
  font-size: 16px;
}
.service-text a i{transition:.3s}
.service-text a:hover {
  color: #666;
  font-family: roboto;
  font-size: 16px;
}
.service-text a:hover{color:#15bfff}
.service-text a:hover i{margin-left:5px}
.service-img > img {
  margin-top: -60px;
}


/* 6. project area */

.project-thumb > img {
    width: 100%;
}
.project-thumb{overflow: hidden;}
.project-thumb > img{transition: .3s}
.project-box:hover .project-thumb > img {
	transform: scale(1.2) rotate(7deg);
}
.project-box {
  border: 10px solid #fff;
  position: relative;
}
.project-content {
  bottom: 0;
  left: 0;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 160px;
  position: absolute;
}
.project-list .project-content {
  padding-right: 187px;
}
.project-content h2 a {
  color: #fff;
  font-family: poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
}
.project-content h2 a:hover{color:#15bfff}
.project-content > a {
    color: #fff;
    font-size: 16px;
}
.project-content > h2 {
  line-height: 1;
  margin-bottom: 20px;
}
.project-content > a:hover{color:#15bfff}
.project-content > a:hover i{margin-left:5px}
.border-0{border:0}
.portfolio-menu {
  margin-bottom: 50px;
}
.portfolio-menu > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #3d3d3d;
  font-size: 20px;
  margin: 0 20px;
  transition:.3s;
}
.portfolio-menu > button.active,.portfolio-menu > button:hover{color:#15bfff}
/* 7. project-details  */
.project-details {
  min-height: 915px;
  position: relative;
}
.project-details-thumb {
  background-size: cover;
  width: 45%;
}
.hero-caption.white-bg {
  padding: 80px 70px;
}
.project-count > h1 {
  color: #3d3d3d;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 5px;
  opacity: 0.2;
}
.project-count {
  position: relative;
}
.project-count h4 {
  font-family: poppins;
  font-size: 18px;
  position: absolute;
  top: 29px;
}
.space-100{height:100px}
.hero-bg.project-details-thumb.project-details-left {
  left: 0;
  right: inherit;
}
.follow-icon.project-share > a {
  font-size: 14px;
}
.follow-icon.project-share {
  padding: 0;
  position: inherit;
}


/* 8 .testimonial */
.testimonial-thumb h4 {
  color: #3d3d3d;
  font-family: poppins;
  font-size: 20px;
  margin-top: 40px;
}
.testimonial-thumb > span {
  color: #747474;
  font-size: 16px;
}
.testimonial-content img {
}
.testimonial-content p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 30px;
  margin-top:30px;
}
.testimonial-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.testimonial-active.owl-carousel .owl-item img {
  width: inherit;
  display:inline-block;
}
.testimonial-active .owl-dot {
  background: #cbcbcb none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 2px;
  width: 10px;
}
.testimonial-active .owl-dot.active{background:#F7951E}
.testimonial-active .owl-dots {
  left: -57px;
  position: relative;
  text-align: center;
  top: -27px;
}

/* 9. call to action */
.cta-title{}
.cta-title h2 {
  font-size: 36px;
  padding-bottom: 20px;
  position: relative;
}
.cta-title h2:before {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  width: 60px;
}
.cta-content > p {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}
.cta-content p a {
  color: #15bfff;
  text-decoration: underline;
}
.cta-button .btn {
  font-size: 18px;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
}


/* 10. latest blog */
.blog-content > span {
  display: inline-block;
  margin-bottom: 7px;
}
.blog-content span a {
  background: #15bfff none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-family: poppins;
  font-weight: 600;
  line-height: 1;
  padding: 10px 18px 7px;
}
.blog-img img {
  width: 100%;
}
.blog-content {
  bottom: 0;
  left: 0;
  padding: 40px 90px 40px 30px;
  position: absolute;
}
.blog-content h3 {
  margin: 0;
  padding-bottom: 15px;
  position: relative;
}
.blog-content h3 a {
  color: #fff;
  font-family: poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
}
.latest-blog {
  position: relative;
}
.blog-content h3::before {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  width: 40px;
}
.blog-thumb img {
  width: 100%;
}

.blog-text {
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
    padding: 50px;
}
.blog-thumb img {
    width: 100%;
}
.blog-text > h2 {
    color: #3d3d3d;
    font-size: 24px;
    margin-bottom: 40px;
}
.blog-text > p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 70px;
}
.blog-meta {
    overflow: hidden;
}
.blog-meta span {
    color: #747474;
    font-size: 16px;
    margin-right: 20px;
}
.blog-meta span a {
    color: #747474;
}
.blog-meta span a:hover{color:#15bfff}
.blog-meta i {
    color: #15bfff;
}

.sidebar-widget input {
    border: 1px solid #ddd;
    height: 40px;
    padding: 0 15px;
    width: 100%;
}
.sidebar-widget form {
    position: relative;
}
.sidebar-widget form button {
    background: #444 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}
.sidebar-widget {
  margin-bottom: 70px;
}
.sidebar-title {
  font-size: 18px;
  margin-bottom: 40px;
}
.sidebar-post > li {
  display: flex;
  margin-bottom: 30px;
}
.sidebar-post > li:last-child{margin-bottom:0}
.blog-thumb-widget {
    margin-right: 20px;
    width: 100px;
}
.blog-title h5 {
  font-family: poppins;
  font-size: 16px;
  line-height: 1.4;
}
.blog-title > span {
  color: #747474;
  font-size: 14px;
  opacity: 0.6;
}


.cat li::before {
    content: "";
    font-family: icofont;
    position: relative;
    top: 1px;
}
.cat li a {
    color: #747474;
    font-size: 14px;
}
.cat > li {
    color: #747474;
    margin-bottom: 20px;
}
.cat li a:hover{color:#444}

.tags > li {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
}
.tags li a {
    border: 1px solid #ddd;
    color: #666;
    display: inline-block;
    padding: 8px 15px;
}
.tags li a:hover{background:#666;color:#fff;border-color:#666}
.page-link {
  background-color: #e3e3e3;
  border: 0 none;
  color: #444;
  display: block;
  height: 40px;
  line-height: 42px;
  margin-left: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 40px;
}
.page-item.active .page-link,.page-item:hover .page-link {
  background-color: #444;
  border-color: #007bff;
  border-radius: 0;
  color: #fff;
  z-index: 1;
}
.page-item {
  margin-right: 2px;
}
.page-item:last-child .page-link {
  border-radius: 0;
}
.pagination {
  border-radius: 0;
  display: flex;
  list-style: outside none none;
  padding-left: 0;
}
.blockquote {
  border-left: 3px solid #15bfff;
  font-size: 18pt;
  margin-bottom: 70px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
blockquote p {
  color: #15bfff;
}
.blockquote > span {
  display: inline-block;
  font-size: 20px;
  margin-top: 8px;
}

.comments, .comment-form {
  background: #fff none repeat scroll 0 0;
  padding: 30px;
}
.comment, .comment-content {
  position: relative;
}
.comment-avatar {
  float: left;
  margin: 5px 0 0;
  max-width: 70px;
  position: relative;
  z-index: 1;
}
.comment-avatar::after {
  background: #f5f5f5 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 70px;
  position: absolute;
  top: 34px;
  width: 20px;
  z-index: -1;
}
.comment-avatar img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.comment-tools {
  padding: 0 30px;
  position: absolute;
  right: 0;
  top: 25px;
  z-index: 1;
}
.comment-tools a {
  color: #666;
  margin: 0 0 0 15px;
}
.comment-content {
  background: #f6f6f6 none repeat scroll 0 0;
  border-radius: 2px;
  margin: 0 0 35px 90px;
  padding: 30px;
  position: relative;
}
.comment-content h5 {
  font-size: 16px;
  font-weight: 600;
}
.comment-reply {
  margin-left: 90px;
}
h6.widget-title {
  font-family: poppins;
  font-size: 18px;
  margin-bottom: 40px;
}
.comment-content > a {
  color: #444;
}
.comment-content > a:hover {
  color: #F7951E;
}
.comment-content a {
  font-family: poppins;
}
.form-control {
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: none;
  color: #999999;
  font-size: 14px;
  height: 45px;
}
textarea.form-control {
  height: 150px;
  margin-bottom: 35px;
}
.form-control:focus {
  background-color: #fff;
  border-color: #15bfff;
  box-shadow: none;
  color: #495057;
  outline: 0 none;
}
.btn.focus, .btn:focus {
  box-shadow: none;
  outline: 0 none;
}
.comment-form .btn {
  font-weight: 700;
  padding: 17px 35px;
}


/* 11. intro-form */
.contact-list p {
	margin: 0;
}
.intro-form{}
.intro-form input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ededed;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  height: 50px;
  width: 100%;
}
.intro-form {
  margin-bottom: 20px;
}
.intro-form textarea {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: currentcolor currentcolor #ededed;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  height: 45px;
  margin-top: 55px;
  width: 100%;
}
.intro-form button.btn {
  font-size: 18px;
  font-weight: 500;
}
#map{min-height:860px}

/* 12. footer */
.footer-bg {
  background-position: center center;
  background-size: cover;
}
.footer-widget > h3 {
  color: #fff;
  font-family: poppins;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.footer-widget > p {
  margin-bottom: 30px;
}
.icon-footer > a {
  color: #bdbdbd;
  margin-right: 25px;
}
.icon-footer > a:hover{color:#15bfff}
.footer-link > li {
  margin-bottom: 12px;
}
.footer-link li a {
  color: #bdbdbd;
  font-size: 14px;
}
.footer-link li a:hover{color:#fff}
.copyright-border.pt-40.pb-40 {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.copyright p {
  color: #bdbdbd;
  margin: 0;
}
.copyright p a {
  color: #15bfff;
}


/* 13. features area */
.feas-no {
  position: relative;
}
.feas-no > h1 {
  color: #3d3d3d;
  font-family: poppins;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  opacity: 0.1;
}
.feas-no > h4 {
  font-family: poppins;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  position: absolute;
  top: 16px;
}
.features-wrapper > p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom:0;
}
.white-text .feas-no > h1 {
  color: #fff;
}
.white-text .feas-no > h4 {
  color: #fff;
}
.features-wrapper.white-text > p {
  color: #fefefe;
}
/* 14. video-area */
.video-area {
  background-position: center center;
  background-size: cover;
  padding: 360px 0;
}
.video-icon a {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  border-radius: 50%;
  color: #15bfff;
  display: inline-block;
  font-size: 50px;
  height: 150px;
  line-height: 158px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 150px;
}
.video-icon a::before {
  background: #fff none repeat scroll 0 0;
  border-radius: 100%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.7);
  width: 100%;
  transition:.3s;
}
.video-icon a i{position:relative;z-index:99;}
.video-icon a:hover:before{transform:scale(.8)}

/* 15. clouds area */
.clouds-title > h2 {
  font-size: 36px;
  line-height: 1.3;
  text-transform: uppercase;
}
.clouds-title h2 span {
  color: #15bfff;
}
.clouds-text  p {
  font-size: 18px;
  line-height: 32px;
}


/* 16. brand area */
.brand-active.owl-carousel .owl-item img {
  width: inherit;
}

/* 17. page title */
.page-title-area {
  background-position: center center;
  background-size: cover;
}
.page-title h2 {
  margin-bottom: 15px;
}
.page-title > p {
  color: #fff;
  margin: 0;
}
.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.breadcrumb-item a {
  color: #fff;
}
.breadcrumb  .active {
  color: #ddd;
}
.breadcrumb-item a:hover{color:#f29525}
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
