@import "../../config/css/colors.scss";

.posts-structure-component{
    text-align: left;
    .structure-header{
        margin-bottom: 20px;
        .drag-title-wrapper{
            img{
                width: 30px;
                vertical-align: middle;
                opacity: .7;
            }
            span{
                margin-left: 5px;
                font-size: 1.5rem;
                vertical-align: middle;
            }
        }
        .structure-type-select-wrapper{
            a{
                line-height: 0;
                svg{
                    width: 30px;
                    vertical-align: middle;
                    g, path, circle{
                        fill: $lightGrey !important;
                    }
                }
                &:hover{
                    svg{
                        g, path, circle{
                            fill: $contentColor !important;
                        }
                    }
                }
            }
        }
        .add-item-btn{
            font-size: 1.5rem;
        }
    }
    .structure-body{
        min-height: 300px;
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px 3px rgba(0,0,0,.03);
        padding: 30px 10px;
        #structure-list-tab{
            .posts-container{
                ul{
                    list-style: none;
                    margin: 10px;
                    position: relative;
                    overflow: hidden;
                    padding-left: 40px;
                    > li{
                        margin: 0px;
                        font-size: 1.5rem;
                        width: 100%;
                        display: block;
                        > .post-row-inner{
                            padding: 15px 5px 15px 0px;
                            .edit-col{
                                margin-right: 0px;
                            }
                            .item-action{
                                display: block;
                                line-height: 0;
                                svg{
                                    width: 25px;
                                    height: 25px;
                                    g, path {
                                        fill: $lightGrey;
                                    }
                                }
                                &.edit-action {
                                    display: flex;
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                    border: 1px solid $lightGrey;
                                    svg {
                                        width: 12px;
                                        height: 12px;
                                    }
                                }
                                &:hover{
                                    svg{
                                        g, path {
                                            fill: $contentColor;
                                        }
                                    }
                                    &.edit-action {
                                        border-color: $contentColor;
                                    }
                                }
                            }
                            .item-img-wrapper{
                                flex-basis: 50px;
                                text-align: center;
                                opacity: 1;
                                img{
                                    cursor: move;
                                    width: 60px;
                                    height: 40px;
                                }
                            }
                            .media-icon-wrapper{
                                i.fa{
                                    display: none;
                                    vertical-align: middle;
                                }
                            }
                            .item-type-wrapper{
                                display: flex;
                                justify-content: center;
                                width: 50px;
                                height: 100%;
                                position: relative;
                                padding-top: 10px;
                                .item-type-icon{
                                    position: relative;
                                    z-index: 1;
                                    &.type-post-icon{
                                        width: 10px;
                                        height: 10px;
                                        border-radius: 50%;
                                        background-color: $greenColor;
                                    }
                                }
                                &:before{
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    width: 1px;
                                    top: -15px;
                                    bottom: -15px;
                                    left: calc(50% - 1px);
                                    background-image: linear-gradient(to bottom, $lightGrey 2px, rgba(255, 255, 255, 0) 0%);
                                    background-position: center;
                                    background-size: 1px 10px;
                                    background-repeat: repeat-y
                                }
                            }
                            .post-title{
                                padding-left: 10px;
                                flex-grow: 1;
                                line-height: 32px;
                            }
                            .actions{
                                a{
                                    text-align: center;
                                    cursor: pointer;
                                    opacity: .5;
                                    img{
                                        width: 32px;
                                    }
                                    &:hover{
                                        opacity: .9;
                                    }
                                    &.collapse-wrapper{
                                        display: none;
                                    }
                                }
                                .flex-col{
                                    &.charge-col{
                                        display: none;
                                        .post-charge-wrapper{
                                            font-size: 20px;
                                            .c-switch {
                                                position: relative;
                                                display: inline-block;
                                                width: 60px;
                                                height: 34px;
                                                margin-bottom: 0px;
                                                vertical-align: middle;
                                                input {display:none;}
                                                input:checked + .slider {
                                                    background-color: #6bc069;
                                                }
                                                input:focus + .slider {
                                                    box-shadow: 0 0 1px #6bc069;
                                                }
                                                input:checked + .slider:before {
                                                    -webkit-transform: translateX(26px);
                                                    -ms-transform: translateX(26px);
                                                    transform: translateX(26px);
                                                }
                                                .slider {
                                                    position: absolute;
                                                    cursor: pointer;
                                                    top: 0;
                                                    left: 0;
                                                    right: 0;
                                                    bottom: 0;
                                                    background-color: #ccc;
                                                    -webkit-transition: .4s;
                                                    transition: .4s;
                                                    &:before {
                                                        position: absolute;
                                                        content: "";
                                                        height: 26px;
                                                        width: 26px;
                                                        left: 4px;
                                                        bottom: 4px;
                                                        background-color: white;
                                                        -webkit-transition: .4s;
                                                        transition: .4s;
                                                    }
                                                    &.round {
                                                        border-radius: 34px;
                                                        &:before {
                                                            border-radius: 50%;
                                                        }
                                                    }
                                                }
                                            }
                                            .charge-label{
                                                color: #3fb4ff;
                                            }
                                            >.fix-col:last-child{
                                                line-height: 0;
                                            }
                                        }
                                    }
                                    &.save-col{
                                        display: none;
                                    }
                                    &.comeback-col{
                                        display: none;
                                    }
                                    &.publish-col{
                                        display: none;
                                        a {
                                            img{
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                            &:hover{
                                background-color: rgba(255, 255, 255, 0.4);
                            }
                            .show-on-post-node, .show-on-menu-node, .show-on-path-node{
                                display: none;
                            }
                            &.type-0{
                                .media-icon-wrapper{
                                    i.fa.audio-icon{
                                        display: initial;
                                        vertical-align: middle;
                                    }
                                }
                            }
                            &.type-2{
                                .media-icon-wrapper{
                                    i.fa.video-icon{
                                        display: initial;
                                        vertical-align: middle;
                                    }
                                }
                            }
                            &.type-7, &.type-8, &.type-10{
                                .media-icon-wrapper{
                                    i.fa.text-icon{
                                        display: initial;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                        > ul {
                            margin: 0px;
                            display: block;
                        }
                        &.appear{
                            animation-name: appearBlock;
                            animation-duration: .5s;
                            animation-fill-mode: forwards;
                        }
                        &.disappear{
                            animation-name: disappearBlock;
                            animation-duration: .5s;
                            animation-fill-mode: forwards;
                        }
                        &.node-type-post{
                            > .post-row-inner{
                                .expand-wrapper{
                                    display: none;
                                }
                                .item-img-wrapper{
                                    img.type-post{
                                        display: initial;
                                    }
                                }
                                .show-on-post-node{
                                    display: initial;
                                }
                            }
                        }
                        &.node-type-menu{
                            > .post-row-inner{
                                .item-img-wrapper{
                                    img.type-menu{
                                        display: initial;
                                    }
                                }
                                .actions{
                                    .flex-col{
                                        &.publish-col{
                                            display: initial;
                                            a {
                                                opacity: 1;
                                                img{
                                                    &.active-icon{
                                                        display: initial;
                                                    }
                                                }
                                                &:hover{
                                                    opacity: .5;
                                                }
                                            }
                                        }
                                    }
                                }
                                .show-on-menu-node{
                                    display: initial;
                                }
                            }
                        }
                        &.node-status-draft{
                            &.node-type-menu{
                                > .post-row-inner{
                                    .actions{
                                        .flex-col{
                                            &.publish-col{
                                                a {
                                                    opacity: .5;
                                                    &:hover{
                                                        opacity: 1;
                                                    }
                                                    img{
                                                        &.active-icon{
                                                            display: none;
                                                        }
                                                        &.inactive-icon{
                                                            display: initial;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.node-type-path{
                            > .post-row-inner{
                                .item-img-wrapper{
                                    img.type-path{
                                        display: initial;
                                    }
                                }
                                .actions{
                                    .view-post {
                                        display: none;
                                    }
                                }
                                .show-on-path-node{
                                    display: initial;
                                }
                            }
                        }
                        &.node-type-root {
                            > .post-row-inner{
                                display: none;
                                .item-img-wrapper{
                                    img.type-root{
                                        display: initial;
                                    }
                                }
                                .actions{
                                    display: none;
                                }
                            }
                        }
                        &.ui-sortable-placeholder.mjs-nestedSortable-error{
                            background-color: white;
                            border-color: #f2dede;
                            color: #f2dede;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            &:before{
                                content: 'Invalid Position';
                                position: static;
                                padding-left: 20px;
                            }
                        }
                        &:last-child:not(.ui-sortable-placeholder){
                            display: block;
                            position: relative;
                            //box-sizing: border-box;
                            > .post-row-inner{
                            }
                        }
                        &.ui-sortable-placeholder{
                            background-color: #fffa90;
                            display: block;
                        }
                        &.jstree-loading{
                            > .post-row-inner{
                                .jstree-ocl.jstree-icon{
                                    background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat;
                                }
                            }
                        }
                        &:first-child{
                            > .post-row-inner{
                                .item-type-wrapper{
                                    &:before{
                                        top: 10px;
                                    }
                                }
                            }
                        }
                        &:last-child{
                            > .post-row-inner{
                                .item-type-wrapper{
                                    &:before{
                                        bottom: 20px;
                                    }
                                }
                            }
                        }
                        @keyframes focus-row {
                            0% { background-color: #fffa90; }
                            100% { background-color: rgba(255, 250, 144, .5); }
                        }
                        &.focus {
                            >.post-row-inner{
                                animation-name: focus-row;
                                animation-duration: .7s;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
                }
                > li.sample{
                    display: none;
                }
                li.ui-sortable-helper{
                    margin: 0px;
                    font-size: 1.5rem;
                    width: 100%;
                    display: block;
                    > .post-row-inner{
                        padding: 15px 5px 15px 0px;
                        .edit-col{
                            margin-right: 0px;
                        }
                        .item-action{
                            display: block;
                            line-height: 0;
                            svg{
                                width: 25px;
                                height: 25px;
                                g, path {
                                    fill: $lightGrey;
                                }
                            }
                            &.edit-action {
                                display: flex;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                border: 1px solid $lightGrey;
                                svg {
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                            &:hover{
                                svg{
                                    g, path {
                                        fill: $contentColor;
                                    }
                                }
                                &.edit-action {
                                    border-color: $contentColor;
                                }
                            }
                        }
                        .item-img-wrapper{
                            flex-basis: 50px;
                            text-align: center;
                            opacity: 1;
                            img{
                                cursor: move;
                                width: 60px;
                                height: 40px;
                            }
                        }
                        .item-type-wrapper{
                            display: flex;
                            justify-content: center;
                            width: 50px;
                            height: 100%;
                            position: relative;
                            padding-top: 10px;
                            .item-type-icon{
                                position: relative;
                                z-index: 1;
                                &.type-post-icon{
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    background-color: $greenColor;
                                }
                            }
                            &:before{
                                content: '';
                                position: absolute;
                                display: block;
                                width: 1px;
                                top: -15px;
                                bottom: -15px;
                                left: calc(50% - 1px);
                                background-image: linear-gradient(to bottom, $lightGrey 2px, rgba(255, 255, 255, 0) 0%);
                                background-position: center;
                                background-size: 1px 10px;
                                background-repeat: repeat-y
                            }
                        }
                        .post-title{
                            padding-left: 10px;
                            flex-grow: 1;
                            line-height: 32px;
                        }
                        .actions{
                            a{
                                text-align: center;
                                cursor: pointer;
                                opacity: .5;
                                img{
                                    width: 32px;
                                }
                                &:hover{
                                    opacity: .9;
                                }
                                &.collapse-wrapper{
                                    display: none;
                                }
                            }
                            .flex-col{
                                &.charge-col{
                                    display: none;
                                    .post-charge-wrapper{
                                        font-size: 20px;
                                        .c-switch {
                                            position: relative;
                                            display: inline-block;
                                            width: 60px;
                                            height: 34px;
                                            margin-bottom: 0px;
                                            vertical-align: middle;
                                            input {display:none;}
                                            input:checked + .slider {
                                                background-color: #6bc069;
                                            }
                                            input:focus + .slider {
                                                box-shadow: 0 0 1px #6bc069;
                                            }
                                            input:checked + .slider:before {
                                                -webkit-transform: translateX(26px);
                                                -ms-transform: translateX(26px);
                                                transform: translateX(26px);
                                            }
                                            .slider {
                                                position: absolute;
                                                cursor: pointer;
                                                top: 0;
                                                left: 0;
                                                right: 0;
                                                bottom: 0;
                                                background-color: #ccc;
                                                -webkit-transition: .4s;
                                                transition: .4s;
                                                &:before {
                                                    position: absolute;
                                                    content: "";
                                                    height: 26px;
                                                    width: 26px;
                                                    left: 4px;
                                                    bottom: 4px;
                                                    background-color: white;
                                                    -webkit-transition: .4s;
                                                    transition: .4s;
                                                }
                                                &.round {
                                                    border-radius: 34px;
                                                    &:before {
                                                        border-radius: 50%;
                                                    }
                                                }
                                            }
                                        }
                                        .charge-label{
                                            color: #3fb4ff;
                                        }
                                        >.fix-col:last-child{
                                            line-height: 0;
                                        }
                                    }
                                }
                                &.save-col{
                                    display: none;
                                }
                                &.comeback-col{
                                    display: none;
                                }
                                &.publish-col{
                                    display: none;
                                    a {
                                        img{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        &:hover{
                            background-color: rgba(255, 255, 255, 0.4);
                        }
                        .show-on-post-node, .show-on-menu-node, .show-on-path-node{
                            display: none;
                        }
                    }
                    > ul {
                        margin: 0px;
                        display: block;
                    }
                    &.appear{
                        animation-name: appearBlock;
                        animation-duration: .5s;
                        animation-fill-mode: forwards;
                    }
                    &.disappear{
                        animation-name: disappearBlock;
                        animation-duration: .5s;
                        animation-fill-mode: forwards;
                    }
                    &.node-type-post{
                        > .post-row-inner{
                            .expand-wrapper{
                                display: none;
                            }
                            .item-img-wrapper{
                                img.type-post{
                                    display: initial;
                                }
                            }
                            .show-on-post-node{
                                display: initial;
                            }
                        }
                    }
                    &.node-type-menu{
                        > .post-row-inner{
                            .item-img-wrapper{
                                img.type-menu{
                                    display: initial;
                                }
                            }
                            .actions{
                                .flex-col{
                                    &.publish-col{
                                        display: initial;
                                        a {
                                            opacity: 1;
                                            img{
                                                &.active-icon{
                                                    display: initial;
                                                }
                                            }
                                            &:hover{
                                                opacity: .5;
                                            }
                                        }
                                    }
                                }
                            }
                            .show-on-menu-node{
                                display: initial;
                            }
                        }
                    }
                    &.node-status-draft{
                        &.node-type-menu{
                            > .post-row-inner{
                                .actions{
                                    .flex-col{
                                        &.publish-col{
                                            a {
                                                opacity: .5;
                                                &:hover{
                                                    opacity: 1;
                                                }
                                                img{
                                                    &.active-icon{
                                                        display: none;
                                                    }
                                                    &.inactive-icon{
                                                        display: initial;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.node-type-path{
                        > .post-row-inner{
                            .item-img-wrapper{
                                img.type-path{
                                    display: initial;
                                }
                            }
                            .actions{
                                .view-post {
                                    display: none;
                                }
                            }
                            .show-on-path-node{
                                display: initial;
                            }
                        }
                    }
                    &.node-type-root {
                        > .post-row-inner{
                            display: none;
                            .item-img-wrapper{
                                img.type-root{
                                    display: initial;
                                }
                            }
                            .actions{
                                display: none;
                            }
                        }
                    }
                    &.ui-sortable-placeholder.mjs-nestedSortable-error{
                        background-color: white;
                        border-color: #f2dede;
                        color: #f2dede;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        &:before{
                            content: 'Invalid Position';
                            position: static;
                            padding-left: 20px;
                        }
                    }
                    &:last-child:not(.ui-sortable-placeholder){
                        display: block;
                        position: relative;
                        > .post-row-inner{
                        }
                    }
                    &.ui-sortable-placeholder{
                        background-color: #fffa90;
                    }
                    &.jstree-loading{
                        > .post-row-inner{
                            .jstree-ocl.jstree-icon{
                                background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat;
                            }
                        }
                    }
                    &:first-child{
                        > .post-row-inner{
                            .item-type-wrapper{
                                &:before{
                                    top: 0px;
                                }
                            }
                        }
                    }
                    &:last-child{
                        > .post-row-inner{
                            .item-type-wrapper{
                                &:before{
                                    bottom: 0px;
                                }
                            }
                        }
                    }
                    @keyframes focus-row {
                        0% { background-color: #fffa90; }
                        100% { background-color: rgba(255, 250, 144, .5); }
                    }
                    &.focus {
                        >.post-row-inner{
                            animation-name: focus-row;
                            animation-duration: .7s;
                            animation-fill-mode: forwards;
                        }
                    }
                }
            }
            @media all and (max-width: 768px) {
                .posts-container{
                    ul{
                        padding-left: 0px;
                    }
                }
            }
        }
        #structure-grid-tab {
            .items-container{
                display: flex;
                flex-wrap: wrap;
                .post-item{
                    flex-basis: calc(100% / 5);
                    flex-grow: 0;
                    flex-shrink: 0;
                    padding: 0px 10px;
                    overflow: hidden;
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                    .item-header{
                        margin-bottom: 10px;
                        .media-icon-wrapper{
                            i.fa{
                                display: none;
                                vertical-align: middle;
                            }
                        }
                        .item-action{
                            display: block;
                            line-height: 0;
                            svg{
                                width: 25px;
                                height: 25px;
                                g, path {
                                    fill: $lightGrey;
                                }
                            }
                            &.edit-action {
                                display: flex;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                border: 1px solid $lightGrey;
                                svg {
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                            &:hover{
                                svg{
                                    g, path {
                                        fill: $contentColor;
                                    }
                                }
                                &.edit-action {
                                    border-color: $contentColor;
                                }
                            }
                        }
                    }
                    .item-type-body{
                        width: 100%;
                        height: calc(100px + 3vw);
                        position: relative;
                        margin-bottom: 15px;
                        .blog-type{
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                            &.type-0{
                                background-image: url("../../images/global-icons/audio-spectr.png");
                                background-position: center center;
                                background-repeat: no-repeat;
                            }
                        }
                        aside.blog-duration{
                            position: absolute;
                            bottom: 8px;
                            right: 9px;
                            padding: 7px 20px;
                            z-index: 1;
                            background: rgba(227, 228, 220, .8);
                            border-radius: 10px;
                            font-size: 1.2rem;
                            line-height: 1.1;
                        }
                    }
                    .item-title{}
                    .item-series-wrapper{
                        .item-series{
                            color: $lightGrey;
                            text-decoration: underline $lightGrey;
                            &:hover{
                                color: black;
                                text-decoration-color: black;
                            }
                        }
                    }
                    &.type-0{
                        .item-header{
                            .media-icon-wrapper{
                                i.fa.audio-icon{
                                    display: initial;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                    &.type-2{
                        .item-header{
                            .media-icon-wrapper{
                                i.fa.video-icon{
                                    display: initial;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                    &.type-7, &.type-10{
                        .item-header{
                            .media-icon-wrapper{
                                i.fa.text-icon{
                                    display: initial;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                    @media all and (max-width: 768px) {
                        flex-basis: calc(100% / 1);
                        .item-type-body{
                            height: calc(150px + 3vw);
                        }
                    }
                }
                .ui-sortable-placeholder{
                    width: auto !important;
                    flex-basis: calc(100% / 5);
                    overflow: hidden;
                    flex-grow: 0;
                    flex-shrink: 0;
                    padding: 0px 10px;
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .show-on-grid-structure, .show-on-list-structure{
        display: none;
    }
    &.list-structure-mode{
        .show-on-list-structure{
            display: initial;
        }
    }
    &.grid-structure-mode{
        .show-on-grid-structure{
            display: initial;
        }
    }
}