.posts-structure-component {
  text-align: left; }
  .posts-structure-component .structure-header {
    margin-bottom: 20px; }
    .posts-structure-component .structure-header .drag-title-wrapper img {
      width: 30px;
      vertical-align: middle;
      opacity: .7; }
    .posts-structure-component .structure-header .drag-title-wrapper span {
      margin-left: 5px;
      font-size: 1.5rem;
      vertical-align: middle; }
    .posts-structure-component .structure-header .structure-type-select-wrapper a {
      line-height: 0; }
      .posts-structure-component .structure-header .structure-type-select-wrapper a svg {
        width: 30px;
        vertical-align: middle; }
        .posts-structure-component .structure-header .structure-type-select-wrapper a svg g, .posts-structure-component .structure-header .structure-type-select-wrapper a svg path, .posts-structure-component .structure-header .structure-type-select-wrapper a svg circle {
          fill: #c8cabc !important; }
      .posts-structure-component .structure-header .structure-type-select-wrapper a:hover svg g, .posts-structure-component .structure-header .structure-type-select-wrapper a:hover svg path, .posts-structure-component .structure-header .structure-type-select-wrapper a:hover svg circle {
        fill: #737661 !important; }
    .posts-structure-component .structure-header .add-item-btn {
      font-size: 1.5rem; }
  .posts-structure-component .structure-body {
    min-height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.03);
    padding: 30px 10px; }
    .posts-structure-component .structure-body #structure-list-tab .posts-container ul {
      list-style: none;
      margin: 10px;
      position: relative;
      overflow: hidden;
      padding-left: 40px; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li {
        margin: 0px;
        font-size: 1.5rem;
        width: 100%;
        display: block; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner {
          padding: 15px 5px 15px 0px; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .edit-col {
            margin-right: 0px; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-action {
            display: block;
            line-height: 0; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-action svg {
              width: 25px;
              height: 25px; }
              .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-action svg g, .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-action svg path {
                fill: #c8cabc; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-action.edit-action {
              display: flex;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              border: 1px solid #c8cabc; }
              .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-action.edit-action svg {
                width: 12px;
                height: 12px; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-action:hover svg g, .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-action:hover svg path {
              fill: #737661; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-action:hover.edit-action {
              border-color: #737661; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-img-wrapper {
            flex-basis: 50px;
            text-align: center;
            opacity: 1; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-img-wrapper img {
              cursor: move;
              width: 60px;
              height: 40px; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .media-icon-wrapper i.fa {
            display: none;
            vertical-align: middle; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-type-wrapper {
            display: flex;
            justify-content: center;
            width: 50px;
            height: 100%;
            position: relative;
            padding-top: 10px; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-type-wrapper .item-type-icon {
              position: relative;
              z-index: 1; }
              .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-type-wrapper .item-type-icon.type-post-icon {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #1fcd98; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .item-type-wrapper:before {
              content: '';
              position: absolute;
              display: block;
              width: 1px;
              top: -15px;
              bottom: -15px;
              left: calc(50% - 1px);
              background-image: linear-gradient(to bottom, #c8cabc 2px, rgba(255, 255, 255, 0) 0%);
              background-position: center;
              background-size: 1px 10px;
              background-repeat: repeat-y; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .post-title {
            padding-left: 10px;
            flex-grow: 1;
            line-height: 32px; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions a {
            text-align: center;
            cursor: pointer;
            opacity: .5; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions a img {
              width: 32px; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions a:hover {
              opacity: .9; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions a.collapse-wrapper {
              display: none; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col {
            display: none; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper {
              font-size: 20px; }
              .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
                margin-bottom: 0px;
                vertical-align: middle; }
                .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input {
                  display: none; }
                .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:checked + .slider {
                  background-color: #6bc069; }
                .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:focus + .slider {
                  box-shadow: 0 0 1px #6bc069; }
                .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:checked + .slider:before {
                  -webkit-transform: translateX(26px);
                  -ms-transform: translateX(26px);
                  transform: translateX(26px); }
                .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider {
                  position: absolute;
                  cursor: pointer;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-color: #ccc;
                  -webkit-transition: .4s;
                  transition: .4s; }
                  .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s; }
                  .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider.round {
                    border-radius: 34px; }
                    .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider.round:before {
                      border-radius: 50%; }
              .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .charge-label {
                color: #3fb4ff; }
              .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper > .fix-col:last-child {
                line-height: 0; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.save-col {
            display: none; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.comeback-col {
            display: none; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.publish-col {
            display: none; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .actions .flex-col.publish-col a img {
              display: none; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner:hover {
            background-color: rgba(255, 255, 255, 0.4); }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .show-on-post-node, .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .show-on-menu-node, .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner .show-on-path-node {
            display: none; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner.type-0 .media-icon-wrapper i.fa.audio-icon {
            display: initial;
            vertical-align: middle; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner.type-2 .media-icon-wrapper i.fa.video-icon {
            display: initial;
            vertical-align: middle; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner.type-7 .media-icon-wrapper i.fa.text-icon, .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner.type-8 .media-icon-wrapper i.fa.text-icon, .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > .post-row-inner.type-10 .media-icon-wrapper i.fa.text-icon {
            display: initial;
            vertical-align: middle; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li > ul {
          margin: 0px;
          display: block; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.appear {
          animation-name: appearBlock;
          animation-duration: .5s;
          animation-fill-mode: forwards; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.disappear {
          animation-name: disappearBlock;
          animation-duration: .5s;
          animation-fill-mode: forwards; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-post > .post-row-inner .expand-wrapper {
          display: none; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-post > .post-row-inner .item-img-wrapper img.type-post {
          display: initial; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-post > .post-row-inner .show-on-post-node {
          display: initial; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-menu > .post-row-inner .item-img-wrapper img.type-menu {
          display: initial; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col {
          display: initial; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
            opacity: 1; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
              display: initial; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
              opacity: .5; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-menu > .post-row-inner .show-on-menu-node {
          display: initial; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
          opacity: .5; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
            opacity: 1; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
            display: none; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.inactive-icon {
            display: initial; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-path > .post-row-inner .item-img-wrapper img.type-path {
          display: initial; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-path > .post-row-inner .actions .view-post {
          display: none; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-path > .post-row-inner .show-on-path-node {
          display: initial; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-root > .post-row-inner {
          display: none; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-root > .post-row-inner .item-img-wrapper img.type-root {
            display: initial; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.node-type-root > .post-row-inner .actions {
            display: none; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.ui-sortable-placeholder.mjs-nestedSortable-error {
          background-color: white;
          border-color: #f2dede;
          color: #f2dede;
          display: flex;
          align-items: center;
          width: 100%; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.ui-sortable-placeholder.mjs-nestedSortable-error:before {
            content: 'Invalid Position';
            position: static;
            padding-left: 20px; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li:last-child:not(.ui-sortable-placeholder) {
          display: block;
          position: relative; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.ui-sortable-placeholder {
          background-color: #fffa90;
          display: block; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.jstree-loading > .post-row-inner .jstree-ocl.jstree-icon {
          background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li:first-child > .post-row-inner .item-type-wrapper:before {
          top: 10px; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li:last-child > .post-row-inner .item-type-wrapper:before {
          bottom: 20px; }
@keyframes focus-row {
  0% {
    background-color: #fffa90; }
  100% {
    background-color: rgba(255, 250, 144, 0.5); } }
        .posts-structure-component .structure-body #structure-list-tab .posts-container ul > li.focus > .post-row-inner {
          animation-name: focus-row;
          animation-duration: .7s;
          animation-fill-mode: forwards; }
    .posts-structure-component .structure-body #structure-list-tab .posts-container > li.sample {
      display: none; }
    .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper {
      margin: 0px;
      font-size: 1.5rem;
      width: 100%;
      display: block; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner {
        padding: 15px 5px 15px 0px; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .edit-col {
          margin-right: 0px; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-action {
          display: block;
          line-height: 0; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-action svg {
            width: 25px;
            height: 25px; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-action svg g, .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-action svg path {
              fill: #c8cabc; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-action.edit-action {
            display: flex;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid #c8cabc; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-action.edit-action svg {
              width: 12px;
              height: 12px; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-action:hover svg g, .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-action:hover svg path {
            fill: #737661; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-action:hover.edit-action {
            border-color: #737661; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-img-wrapper {
          flex-basis: 50px;
          text-align: center;
          opacity: 1; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-img-wrapper img {
            cursor: move;
            width: 60px;
            height: 40px; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-type-wrapper {
          display: flex;
          justify-content: center;
          width: 50px;
          height: 100%;
          position: relative;
          padding-top: 10px; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-type-wrapper .item-type-icon {
            position: relative;
            z-index: 1; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-type-wrapper .item-type-icon.type-post-icon {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #1fcd98; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .item-type-wrapper:before {
            content: '';
            position: absolute;
            display: block;
            width: 1px;
            top: -15px;
            bottom: -15px;
            left: calc(50% - 1px);
            background-image: linear-gradient(to bottom, #c8cabc 2px, rgba(255, 255, 255, 0) 0%);
            background-position: center;
            background-size: 1px 10px;
            background-repeat: repeat-y; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .post-title {
          padding-left: 10px;
          flex-grow: 1;
          line-height: 32px; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions a {
          text-align: center;
          cursor: pointer;
          opacity: .5; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions a img {
            width: 32px; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions a:hover {
            opacity: .9; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions a.collapse-wrapper {
            display: none; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col {
          display: none; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper {
            font-size: 20px; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch {
              position: relative;
              display: inline-block;
              width: 60px;
              height: 34px;
              margin-bottom: 0px;
              vertical-align: middle; }
              .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input {
                display: none; }
              .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:checked + .slider {
                background-color: #6bc069; }
              .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:focus + .slider {
                box-shadow: 0 0 1px #6bc069; }
              .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px); }
              .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s; }
                .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider:before {
                  position: absolute;
                  content: "";
                  height: 26px;
                  width: 26px;
                  left: 4px;
                  bottom: 4px;
                  background-color: white;
                  -webkit-transition: .4s;
                  transition: .4s; }
                .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider.round {
                  border-radius: 34px; }
                  .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider.round:before {
                    border-radius: 50%; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .charge-label {
              color: #3fb4ff; }
            .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper > .fix-col:last-child {
              line-height: 0; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.save-col {
          display: none; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.comeback-col {
          display: none; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.publish-col {
          display: none; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.publish-col a img {
            display: none; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner:hover {
          background-color: rgba(255, 255, 255, 0.4); }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .show-on-post-node, .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .show-on-menu-node, .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > .post-row-inner .show-on-path-node {
          display: none; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper > ul {
        margin: 0px;
        display: block; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.appear {
        animation-name: appearBlock;
        animation-duration: .5s;
        animation-fill-mode: forwards; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.disappear {
        animation-name: disappearBlock;
        animation-duration: .5s;
        animation-fill-mode: forwards; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-post > .post-row-inner .expand-wrapper {
        display: none; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-post > .post-row-inner .item-img-wrapper img.type-post {
        display: initial; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-post > .post-row-inner .show-on-post-node {
        display: initial; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .item-img-wrapper img.type-menu {
        display: initial; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col {
        display: initial; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
          opacity: 1; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
            display: initial; }
          .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
            opacity: .5; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .show-on-menu-node {
        display: initial; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
        opacity: .5; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
          opacity: 1; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
          display: none; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.inactive-icon {
          display: initial; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-path > .post-row-inner .item-img-wrapper img.type-path {
        display: initial; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-path > .post-row-inner .actions .view-post {
        display: none; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-path > .post-row-inner .show-on-path-node {
        display: initial; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-root > .post-row-inner {
        display: none; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-root > .post-row-inner .item-img-wrapper img.type-root {
          display: initial; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.node-type-root > .post-row-inner .actions {
          display: none; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.ui-sortable-placeholder.mjs-nestedSortable-error {
        background-color: white;
        border-color: #f2dede;
        color: #f2dede;
        display: flex;
        align-items: center;
        width: 100%; }
        .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.ui-sortable-placeholder.mjs-nestedSortable-error:before {
          content: 'Invalid Position';
          position: static;
          padding-left: 20px; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder) {
        display: block;
        position: relative; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.ui-sortable-placeholder {
        background-color: #fffa90; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.jstree-loading > .post-row-inner .jstree-ocl.jstree-icon {
        background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper:first-child > .post-row-inner .item-type-wrapper:before {
        top: 0px; }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper:last-child > .post-row-inner .item-type-wrapper:before {
        bottom: 0px; }
@keyframes focus-row {
  0% {
    background-color: #fffa90; }
  100% {
    background-color: rgba(255, 250, 144, 0.5); } }
      .posts-structure-component .structure-body #structure-list-tab .posts-container li.ui-sortable-helper.focus > .post-row-inner {
        animation-name: focus-row;
        animation-duration: .7s;
        animation-fill-mode: forwards; }
    @media all and (max-width: 768px) {
      .posts-structure-component .structure-body #structure-list-tab .posts-container ul {
        padding-left: 0px; } }
    .posts-structure-component .structure-body #structure-grid-tab .items-container {
      display: flex;
      flex-wrap: wrap; }
      .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item {
        flex-basis: calc(100% / 5);
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0px 10px;
        overflow: hidden;
        font-size: 1.5rem;
        margin-bottom: 20px; }
        .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header {
          margin-bottom: 10px; }
          .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .media-icon-wrapper i.fa {
            display: none;
            vertical-align: middle; }
          .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action {
            display: block;
            line-height: 0; }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action svg {
              width: 25px;
              height: 25px; }
              .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action svg g, .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action svg path {
                fill: #c8cabc; }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action.edit-action {
              display: flex;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              border: 1px solid #c8cabc; }
              .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action.edit-action svg {
                width: 12px;
                height: 12px; }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action:hover svg g, .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action:hover svg path {
              fill: #737661; }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-header .item-action:hover.edit-action {
              border-color: #737661; }
        .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-type-body {
          width: 100%;
          height: calc(100px + 3vw);
          position: relative;
          margin-bottom: 15px; }
          .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-type-body .blog-type {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden; }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-type-body .blog-type img {
              width: 100%;
              height: 100%; }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-type-body .blog-type.type-0 {
              background-image: url("../../images/global-icons/audio-spectr.png");
              background-position: center center;
              background-repeat: no-repeat; }
          .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-type-body aside.blog-duration {
            position: absolute;
            bottom: 8px;
            right: 9px;
            padding: 7px 20px;
            z-index: 1;
            background: rgba(227, 228, 220, 0.8);
            border-radius: 10px;
            font-size: 1.2rem;
            line-height: 1.1; }
        .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-series-wrapper .item-series {
          color: #c8cabc;
          text-decoration: underline #c8cabc; }
          .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-series-wrapper .item-series:hover {
            color: black;
            text-decoration-color: black; }
        .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item.type-0 .item-header .media-icon-wrapper i.fa.audio-icon {
          display: initial;
          vertical-align: middle; }
        .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item.type-2 .item-header .media-icon-wrapper i.fa.video-icon {
          display: initial;
          vertical-align: middle; }
        .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item.type-7 .item-header .media-icon-wrapper i.fa.text-icon, .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item.type-10 .item-header .media-icon-wrapper i.fa.text-icon {
          display: initial;
          vertical-align: middle; }
        @media all and (max-width: 768px) {
          .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item {
            flex-basis: calc(100% / 1); }
            .posts-structure-component .structure-body #structure-grid-tab .items-container .post-item .item-type-body {
              height: calc(150px + 3vw); } }
      .posts-structure-component .structure-body #structure-grid-tab .items-container .ui-sortable-placeholder {
        width: auto !important;
        flex-basis: calc(100% / 5);
        overflow: hidden;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0px 10px;
        font-size: 1.5rem;
        margin-bottom: 20px; }
  .posts-structure-component .show-on-grid-structure, .posts-structure-component .show-on-list-structure {
    display: none; }
  .posts-structure-component.list-structure-mode .show-on-list-structure {
    display: initial; }
  .posts-structure-component.grid-structure-mode .show-on-grid-structure {
    display: initial; }

/*# sourceMappingURL=PostsStructure.css.map */
