.form-loop-question-component .loop-field-list .loop-field {
  margin: 5px auto; }
  .form-loop-question-component .loop-field-list .loop-field .loop-field-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px; }
    .form-loop-question-component .loop-field-list .loop-field .loop-field-inner label.loop-field-name {
      flex-basis: auto;
      flex-grow: 0;
      padding: 7px 10px;
      margin: 0px;
      font-size: 1.4rem;
      font-weight: normal; }
    .form-loop-question-component .loop-field-list .loop-field .loop-field-inner .loop-field-value {
      flex-grow: 1;
      padding: 7px 10px;
      background-color: white;
      min-width: 100px;
      flex-grow: 1;
      border: 1px solid #a9a9a9;
      border-radius: 3px; }
      .form-loop-question-component .loop-field-list .loop-field .loop-field-inner .loop-field-value .type-value {
        display: none; }
        .form-loop-question-component .loop-field-list .loop-field .loop-field-inner .loop-field-value .type-value.text-value {
          min-width: 150px;
          height: calc(1.4 * 1em); }
      .form-loop-question-component .loop-field-list .loop-field .loop-field-inner .loop-field-value[contentEditable=true]:empty:not(:focus):before {
        content: attr(placeholder);
        cursor: text; }
    .form-loop-question-component .loop-field-list .loop-field .loop-field-inner .loop-field-helper {
      flex-grow: 0;
      margin: 2px 2px;
      padding: 5px 5px;
      color: white;
      align-self: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #25b7d3;
      font-family: FontAwesome;
      font-weight: bold;
      text-align: center;
      font-size: 25px;
      line-height: 21px;
      cursor: default; }
  .form-loop-question-component .loop-field-list .loop-field.type-text .loop-field-inner .loop-field-value .text-value.type-value {
    display: block;
    text-align: left; }
    .form-loop-question-component .loop-field-list .loop-field.type-text .loop-field-inner .loop-field-value .text-value.type-value:focus {
      outline: none; }
  .form-loop-question-component .loop-field-list .loop-field.type-checkbox .loop-field-inner .loop-field-value {
    border: none;
    flex-grow: 0; }
    .form-loop-question-component .loop-field-list .loop-field.type-checkbox .loop-field-inner .loop-field-value .checkbox-value.type-value {
      display: block;
      position: static; }
  .form-loop-question-component .loop-field-list .loop-field.status-loading {
    color: orange;
    transition: color ease-in .005s; }
    .form-loop-question-component .loop-field-list .loop-field.status-loading .loop-field-inner {
      transition: border-color ease-in .005s;
      border-color: orange; }
  .form-loop-question-component .loop-field-list .loop-field.status-loading-finished {
    animation-name: loading-finished;
    animation-duration: .3s;
    animation-fill-mode: forwards; }
    .form-loop-question-component .loop-field-list .loop-field.status-loading-finished .loop-field-inner {
      animation-name: loading-finished;
      animation-duration: .3s;
      animation-fill-mode: forwards; }
@keyframes loading-finished {
  from {
    border-color: orange;
    color: orange; }
  to {
    color: grey;
    border-color: #a9a9a9; } }
.form-loop-question-component .component-footer .site-green-btn {
  padding: 7px 20px;
  font-size: 1.5rem; }
  .form-loop-question-component .component-footer .site-green-btn[disabled] {
    opacity: .6;
    cursor: not-allowed; }

/*# sourceMappingURL=FormLoopQuestion.css.map */
