@import "./../../config/css/colors.scss";

.form-loop-question-component{
  $border-color: #a9a9a9;
  $focus-color: orange;
  .loop-field-list{
    .loop-field{
      margin: 5px auto;
      .loop-field-inner{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px 0px 0px 0px;
        label.loop-field-name{
          flex-basis: auto;
          flex-grow: 0;
          padding: 7px 10px;
          margin: 0px;
          font-size: 1.4rem;
          font-weight: normal;
        }
        .loop-field-value{
          flex-grow: 1;
          padding: 7px 10px;
          background-color: white;
          min-width: 100px;
          flex-grow: 1;
          border: 1px solid #a9a9a9;
          border-radius: 3px;
          .type-value {
            display: none;
            &.text-value{
              min-width: 150px;
              height: calc(1.4 * 1em);
            }
          }
          &[contentEditable=true]:empty:not(:focus):before{
            content: attr(placeholder);
            cursor: text;
          }
        }
        .loop-field-helper {
          flex-grow: 0;
          margin: 2px 2px;
          padding: 5px 5px;
          color: white;
          align-self: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #25b7d3;
          font-family: FontAwesome;
          font-weight: bold;
          text-align: center;
          font-size: 25px;
          line-height: 21px;
          cursor: default;
        }
      }
      &.type-text{
        .loop-field-inner{
          .loop-field-value{
            .text-value.type-value{
              display: block;
              text-align: left;
              &:focus{
                outline: none;
              }
            }
          }
        }
      }
      &.type-checkbox{
        .loop-field-inner{
          .loop-field-value{
            border: none;
            flex-grow: 0;
            .checkbox-value.type-value{
              display: block;
              position: static;
            }
          }
        }
      }
      &.status-loading{
        color: $focus-color;
        transition: color ease-in .005s;
        .loop-field-inner{
          transition: border-color ease-in .005s;
          border-color: $focus-color;
        }
      }
      &.status-loading-finished{
        animation-name: loading-finished;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        .loop-field-inner{
          animation-name: loading-finished;
          animation-duration: .3s;
          animation-fill-mode: forwards;
        }
      }
      @keyframes loading-finished {
        from{
          border-color: $focus-color;
          color: $focus-color;
        }
        to {
          color: $content_color;
          border-color: $border-color;
        }
      }
    }
  }
  .component-footer{
    .site-green-btn{
      padding: 7px 20px;
      font-size: 1.5rem;
      &[disabled] {
        opacity: .6;
        cursor: not-allowed;
      }
    }
  }
}