<div class="form-loop-question-component component" data-form-loop="2">
    <div class="loop-field-list">
        <div class="loop-field sample" hidden>
            <div class="loop-field-inner">
                <label contenteditable="false" class="loop-field-name">firstname</label>
                <div class="loop-field-value">
                    <div contenteditable="true" class="type-value text-value"></div>
                    <input type="checkbox" class="type-value checkbox-value" />
                </div>
                <span class="loop-field-helper" style="font-style: italic;" data-toggle="popover" data-trigger="hover" contenteditable="false" data-content="type your first name" data-original-title="" title="">i</span>
            </div>
        </div>
    </div>
    <footer class="component-footer">
        <div class="flex-row vertical-center horizon-center margin-between" contenteditable="false">
            <div class="flex-col fix-col">
                <button type="button" class="site-green-btn prev-btn" disabled contenteditable="false">Previous</button>
            </div>
            <div class="flex-col fix-col">
                <button type="button" class="site-green-btn add-another-btn" contenteditable="false">Add Another</button>
            </div>
            <div class="flex-col fix-col">
                <button type="button" class="site-green-btn next-btn" disabled contenteditable="false">Next</button>
            </div>
        </div>
    </footer>
</div>