table{
    tr{
        th{
            padding: 5px 15px;
        }
        td{
            padding: 5px 10px;
            input[type="number"]{
                padding-left: 3px;
            }
        }
    }
}