<div class="card">
    <div class="card-body">
        <table>
            <tbody>
            <tr>
                <th>Allow User to register</th>
                <td><ui-switch [(ngModel)]="settings.users_can_register" (ngModelChange)="update('users_can_register')"></ui-switch></td>
            </tr>
            <tr>
                <th>Allow User to create/edit series</th>
                <td><ui-switch [(ngModel)]="settings.users_can_edit_series" (ngModelChange)="update('users_can_edit_series')"></ui-switch></td>
            </tr>
            <tr>
                <th>Default Application fee percentage for the series charged</th>
                <td><input min="0" max="50" type="number" [(ngModel)]="settings.series_application_fee"> %</td>
            </tr>
            <tr>
                <th>Series Auto-Approve</th>
                <td>
                    <ui-switch [(ngModel)]="settings.series_auto_approve" (ngModelChange)="update('series_auto_approve')"></ui-switch>
                </td>
            </tr>
            <tr>
              <th>Allow Unapproved User to create public series</th>
              <td><ui-switch [(ngModel)]="settings.allow_unApprovedUser_create_publicSeries" (ngModelChange)="update('allow_unApprovedUser_create_publicSeries')"></ui-switch></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-success pl-5 pr-5" type="button" (click)="save()">Save</button>
    </div>
</div>
