<div class="component series-owners">
    <div class="single-owner-wrapper">
        <div class="owner-item-inner">
            <div class="flex-row margin-between vertical-center">
                <div class="flex-col fix-col">
                    <img src="assets/images/global-icons/user-avatar.svg" alt="" class="item-img" />
                </div>
                <div class="flex-col">
                    <a class="item-name bottom-underline" href="javascript:;">Ellen Lupton, Curator, Design Museum</a>
                </div>
            </div>
        </div>
    </div>
    <div class="multi-owners-wrapper">
        <div class="multi-authors-txt-wrapper">
            <span class="multi-authors-txt bottom-underline">Multiple authors</span>
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="451.847px" height="451.847px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;"
                 xml:space="preserve">
            <g>
                <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                    c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                    c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
            </g>
            </svg>
        </div>
        <div class="owners-list-wrapper">
            <div class="owners-list-inner">
                <div class="owners-list">
                    <div class="owner-item sample" hidden>
                        <div class="owner-item-inner">
                            <div class="flex-row margin-between vertical-center">
                                <div class="flex-col fix-col">
                                    <img class="item-img" src="assets/images/global-icons/user-avatar.svg" alt="" />
                                </div>
                                <div class="flex-col">
                                    <span class="item-name">Ellen Lupton</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="owner-item-details sample" hidden>
        <div class="item-details-inner">
            <div class="details-list flex-row flex-wrap">
                <div class="flex-col fix-col owner-col">
                    <article class="owner-detail">
                        <div class="owner-name">Don Norman</div>
                        <a class="d-block view-profile" href="javascript:;" target="_blank">View Profile</a>
                        <div class="socials-list">
                            <div class="flex-row vertical-center">
                                <div class="flex-col fix-col">
                                    <a href="javascript:;" class="social-item item-facebook">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                                            <g>
                                                <path fill="#425a98" d="M612,306C612,137.004,474.995,0,306,0C137.004,0,0,137.004,0,306c0,168.995,137.004,306,306,306
                                                    C474.995,612,612,474.995,612,306z M223.825,306v-58.557h35.885V212.03c0-47.764,14.271-82.175,66.569-82.175h62.201v58.418
                                                    h-43.785c-21.949,0-26.929,14.577-26.929,29.849v29.32h67.487L376.046,306h-58.278v176.617H259.71V306H223.825z"/>
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                                <div class="flex-col fix-col">
                                    <a href="javascript:;" class="social-item item-twitter">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                                            <g>
                                                <path fill="#37a3d1" d="M612,306C612,137.004,474.995,0,306,0C137.004,0,0,137.004,0,306c0,168.995,137.004,306,306,306
                                                    C474.995,612,612,474.995,612,306z M141.233,414.741c5.286,0.668,10.682,1.029,16.135,1.029
                                                    c31.685,0.056,60.838-11.378,83.955-30.572c-29.599-0.695-54.551-21.614-63.147-50.323c4.117,0.862,8.374,1.363,12.713,1.392
                                                    c6.176,0.027,12.129-0.808,17.804-2.421c-30.934-6.843-54.245-36.191-54.245-71.159c0-0.306,0-0.612,0-0.918
                                                    c9.124,5.508,19.528,8.846,30.627,9.347c-18.109-13.103-30.043-35.357-30.043-60.394c0-13.241,3.338-25.593,9.152-36.164
                                                    c33.354,44.092,83.176,73.356,139.341,77c-1.168-5.257-1.753-10.738-1.753-16.329c0-39.53,30.267-71.075,67.599-70.463
                                                    c19.444,0.334,37.025,9.263,49.35,23.284c15.411-2.949,29.876-8.624,42.923-16.552c-5.035,16.496-15.772,30.238-29.737,38.834
                                                    c13.687-1.53,26.705-5.146,38.834-10.626c-9.068,14.104-20.53,26.427-33.743,36.275c0.139,3.06,0.194,6.12,0.194,9.18
                                                    c0,93.859-68.016,202.099-192.363,202.043C206.689,447.232,171.138,435.271,141.233,414.741z"/>
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                                <div class="flex-col fix-col">
                                    <a href="javascript:;" class="social-item item-pinterest">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                                        <g>
                                            <path fill="#c92236" d="M306,0C137.004,0,0,137.004,0,306c0,168.995,137.004,306,306,306c168.995,0,306-137.005,306-306
                                                C612,137.004,474.995,0,306,0z M334.152,398.662c-22.616,0-43.897-12.49-51.213-26.678c0,0-12.157,49.294-14.744,58.808
                                                c-4.34,16.079-12.713,32.131-20.475,44.844c-11.071,14.465-23.84,3.728-25.37-9.459c-0.5-14.688,0.028-32.074,3.672-47.902
                                                c4.034-17.358,26.956-116.586,26.956-116.586s-6.704-13.659-6.704-33.855c0-31.713,17.999-55.386,40.42-55.386
                                                c19.055,0,28.263,14.633,28.263,32.13c0,19.556-12.212,48.821-18.499,75.916c-5.258,22.7,11.155,41.199,33.076,41.199
                                                c39.696,0,66.458-52.076,66.458-113.749c0-46.901-30.935-81.98-87.21-81.98c-63.565,0-103.178,48.403-103.178,102.454
                                                c0,18.638,5.369,31.796,13.826,41.95c3.867,4.674,4.423,6.565,3.004,11.935c-1.001,3.95-3.31,13.408-4.256,17.163
                                                c-1.391,5.425-5.703,7.345-10.488,5.342c-29.292-12.213-42.923-44.955-42.923-81.73c0-60.783,50.212-133.667,149.773-133.667
                                                c80.005,0,132.665,59.114,132.665,122.567C447.232,335.96,401.527,398.662,334.152,398.662z"/>
                                        </g>
                                        </svg>
                                    </a>
                                </div>
                                <div class="flex-col fix-col">
                                    <a href="javascript:;" class="social-item item-linkedin">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 486.392 486.392" style="enable-background:new 0 0 486.392 486.392;" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <g>
                                                        <path style="fill:#0c72b0;" d="M243.196,0C108.891,0,0,108.891,0,243.196s108.891,243.196,243.196,243.196
                                                            s243.196-108.891,243.196-243.196C486.392,108.861,377.501,0,243.196,0z M182.397,360.994h-60.799V148.197h60.799V360.994z
                                                             M153.882,135.156c-15.747,0-28.484-12.768-28.484-28.515s12.768-28.515,28.484-28.515c15.747,0.03,28.515,12.798,28.515,28.515
                                                            C182.397,122.388,169.629,135.156,153.882,135.156z M395.193,360.994h-60.799V229.425c0-15.413-4.408-26.204-23.347-26.204
                                                            c-31.403,0-37.452,26.204-37.452,26.204v131.569h-60.799V148.197h60.799v20.337c8.694-6.657,30.399-20.307,60.799-20.307
                                                            c19.699,0,60.799,11.795,60.799,83.051V360.994z"/>
                                                    </g>
                                                </g>
                                            </g>
                                            </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owner-description">
                            I am a freelance writer in New York,
                            focus on art and music.
                        </div>
                    </article>
                </div>
                <div class="flex-col fix-col series-col sample" hidden>
                    <article class="series-article">
                        <div class="item-image-wrapper">
                            <div class="item-image"></div>
                            <div class="hover-content">
                                <div class="footer-buttons">
                                    <div class="flex-row">
                                        <div class="flex-col">
                                            <a href="javascript:;" class="preview-btn" target="_blank">
                                                <svg class="preview-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                        <g>
                                                            <g>
                                                                <path d="M256,0C114.833,0,0,114.844,0,256s114.833,256,256,256s256-114.844,256-256S397.167,0,256,0z M357.771,264.969
                                                                    l-149.333,96c-1.75,1.135-3.771,1.698-5.771,1.698c-1.75,0-3.521-0.438-5.104-1.302C194.125,359.49,192,355.906,192,352V160
                                                                    c0-3.906,2.125-7.49,5.563-9.365c3.375-1.854,7.604-1.74,10.875,0.396l149.333,96c3.042,1.958,4.896,5.344,4.896,8.969
                                                                    S360.813,263.01,357.771,264.969z"/>
                                                            </g>
                                                        </g>
                                                    </svg> preview
                                            </a>
                                        </div>
                                        <div class="flex-col last-col">
                                            <a href="javascript:;" class="join-btn">
                                                <svg class="join-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                        <g>
                                                            <g>
                                                                <path d="M256,0C114.844,0,0,114.839,0,256s114.844,256,256,256s256-114.839,256-256S397.156,0,256,0z M389.594,272.699H272.699    v116.895c0,9.225-7.48,16.699-16.699,16.699c-9.219,0-16.699-7.475-16.699-16.699V272.699H122.406    c-9.219,0-16.699-7.475-16.699-16.699c0-9.225,7.48-16.699,16.699-16.699h116.895V122.406c0-9.225,7.48-16.699,16.699-16.699    c9.219,0,16.699,7.475,16.699,16.699v116.895h116.895c9.219,0,16.699,7.475,16.699,16.699    C406.294,265.225,398.813,272.699,389.594,272.699z" fill="#1fcd98"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                <svg class="purchased-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                    <g>
                                                        <g>
                                                            <path d="M256,0C114.844,0,0,114.844,0,256s114.844,256,256,256s256-114.844,256-256S397.156,0,256,0z M402.207,182.625    L217.75,367.083c-4.167,4.167-9.625,6.25-15.083,6.25c-5.458,0-10.917-2.083-15.083-6.25L88.46,267.958    c-4.167-4.165-4.167-10.919,0-15.085l15.081-15.082c4.167-4.165,10.919-4.165,15.086,0l84.04,84.042L372.04,152.458    c4.167-4.165,10.919-4.165,15.086,0l15.081,15.082C406.374,171.706,406.374,178.46,402.207,182.625z" fill="#1fcd98"></path>
                                                        </g>
                                                    </g>
                                                </svg>
                                                join
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="child-count-wrapper">
                            <div class="child-count"><span>2</span> posts</div>
                        </div>
                        <div class="item-title"></div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>