@import "../../config/css/colors.scss";

.series-owners{
    display: inline-block;
    .single-owner-wrapper{
        display: none;
        .item-img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
        .item-name{
            color: $contentColor;
            text-decoration: none;
        }
    }
    .multi-owners-wrapper{
        display: none;
        position: relative;
        z-index: 5;
        .multi-authors-txt-wrapper{
            cursor: pointer;
            color: $lightGrey;
            span{
                font-size: 1.3rem;
                vertical-align: middle;
                padding-bottom: 0px;
            }
            svg{
                width: 10px;
                height: auto;
                margin-left: 5px;
                vertical-align: middle;
                position: relative;
                top: 2px;
                g, path{
                    fill: $lightGrey;
                }
            }
            &:hover{
                color: $contentColor;
                svg {
                    g, path{
                        fill: $contentColor;
                    }
                }
            }
        }
        .owners-list-wrapper{
            display: none;
            position: absolute;
            top: 100%;
            left: -25px;
            height: auto;
            padding-top: 15px;
            .owners-list-inner{
                width: 260px;
                position: relative;
                background-color: white;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0 0 10px 5px rgba(0,0,0,.03);
                font-size: 1.5rem;
                z-index: 1;
                .owners-list{
                    max-height: 250px;
                    padding: 5px 20px 5px;
                    overflow-y: auto;
                    overflow-x: visible;
                    .owner-item{
                        margin-bottom: 10px;
                        position: relative;
                        overflow-x: visible;
                        overflow-y: visible;
                        .owner-item-inner{
                            cursor: pointer;
                            .item-img{
                                width: 45px;
                                height: 45px;
                                border-radius: 50%;
                            }
                            .item-name{
                                font-size: 1.2rem;
                                color: $contentColor;
                                text-decoration: none;
                                padding: 2px 0px;
                                position: relative;
                            }
                        }
                        &.active-item{
                            .owner-item-inner{
                                .item-name{
                                    &:after{
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        left: 0px;
                                        bottom: 0px;
                                        width: 100%;
                                        height: 1px;
                                        background-color: #c8cabc;
                                    }
                                }
                            }
                        }
                    }
                    &::-webkit-scrollbar{
                        width: 8px;
                    }
                    &::-webkit-scrollbar-button{

                    }
                    &::-webkit-scrollbar-track{
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-track-piece {}
                    &::-webkit-scrollbar-thumb{
                        border-radius: 10px;
                        background-color: #cacac0;
                        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
                    }
                    &::-webkit-scrollbar-corner{}
                    &::-webkit-resizer{  }
                }
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: calc(100%);
                    left: calc((100% - 30px) / 2 + 26px);
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 20px solid white;
                }
            }
        }
    }

    &:hover{
        .multi-owners-wrapper{
            .owners-list-wrapper{
                display: block;
            }
        }
    }
    .owner-item-details{
        position: fixed;
        z-index: 10;
        width: 600px;
        left: 50%;
        top: 30%;
        padding: 20px;
        border-radius: 15px;

        background-color: white;
        box-shadow: 0 0 10px 5px rgba(0,0,0,.05);
        .item-details-inner{
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
            .details-list{
                .owner-col, .series-col{
                    flex-basis: calc(100% / 4);
                }
                .owner-col{
                    .owner-detail{
                        padding-top: 10px;
                        .owner-name{
                            font-size: 1.5rem;
                            font-weight: bold;
                            margin-bottom: 5px;
                        }
                        .view-profile{
                            color: #3681c4;
                            font-size: 1.3rem;
                            font-weight: bold;
                            margin-bottom: 5px;
                            text-decoration: none;
                            &:hover{
                                color: #2A558B;
                            }
                        }
                        .socials-list{
                            margin-bottom: 5px;
                            .social-item{
                                display: block;
                                margin-right: 5px;
                                line-height: 0;
                                svg{
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                        .owner-description{
                            color: $lightGrey;
                        }
                    }
                }
                .series-col{
                    .series-article{
                        margin-bottom: 15px;
                        padding: 5px 8px;
                        .item-image-wrapper{
                            position: relative;
                            margin-bottom: 5px;
                            .item-image{
                                width: 100%;
                                height: 75px;
                                background-position: center;
                                background-size: cover;
                            }
                            .hover-content{
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(255, 255, 255, .7);
                                opacity: 0;
                                .footer-buttons{
                                    position: absolute;
                                    bottom: 0px;
                                    left: 0px;
                                    width: 100%;
                                    a{
                                        display: block;
                                        padding: 3px;
                                        background-color: $greenColor;
                                        color: white;
                                        text-align: center;
                                        text-decoration: none;
                                        font-size: 10px;
                                        svg{
                                            display: none;
                                            width: 10px;
                                            vertical-align: middle;
                                            path{
                                                fill: white;
                                            }
                                            &.preview-icon, &.join-icon{
                                                display: inline;
                                            }
                                        }
                                        &:hover{
                                            background-color: $greenHover;
                                        }
                                    }
                                    .flex-row{
                                        .last-col{
                                            margin-left: 2px;
                                        }
                                    }
                                }
                            }
                        }
                        .child-count-wrapper{
                            margin-bottom: 5px;
                            font-size: 1rem;
                            .child-count{
                                display: inline-block;
                                padding: 3px 15px;
                                border-radius: 10px;
                                background-color: $yellowColor;
                                color: white;
                            }
                        }
                        .item-title{
                            font-size: 1rem;
                            font-weight: bold;
                            height: auto;
                        }
                        &:hover{
                            .item-image-wrapper{
                                .item-image{
                                }
                                .hover-content{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &.purchased{
                        .series-article{
                            .item-image-wrapper{
                                .hover-content{
                                    .footer-buttons{
                                        a{
                                            svg.join-icon{
                                                display: none;
                                            }
                                            svg.purchased-icon{
                                                display: inline;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &::-webkit-scrollbar{
                width: 8px;
            }
            &::-webkit-scrollbar-button{

            }
            &::-webkit-scrollbar-track{
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track-piece {}
            &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background-color: #cacac0;
                //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            }
            &::-webkit-scrollbar-corner{}
            &::-webkit-resizer{  }
        }
        &.no-series{
            width: 170px;
            .item-details-inner{
                .details-list{
                    .owner-col, .series-col{
                        flex-basis: calc(100%);
                    }
                }
                &::-webkit-scrollbar{
                    width: 8px;
                }
                &::-webkit-scrollbar-button{

                }
                &::-webkit-scrollbar-track{
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-track-piece {}
                &::-webkit-scrollbar-thumb{
                    border-radius: 10px;
                    background-color: #cacac0;
                    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
                }
                &::-webkit-scrollbar-corner{}
                &::-webkit-resizer{  }
            }
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 55px;
            right: calc(100%);
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-right: 20px solid white;
            border-bottom: 15px solid transparent;
        }
    }
    &.owner-single{
        .single-owner-wrapper{
            display: block;
        }
    }
    &.owner-multi{
        .multi-owners-wrapper{
            display: block;
        }
    }
}