.series-owners {
  display: inline-block;
}
.series-owners .single-owner-wrapper {
  display: none;
}
.series-owners .single-owner-wrapper .item-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.series-owners .single-owner-wrapper .item-name {
  color: #737661;
  text-decoration: none;
}
.series-owners .multi-owners-wrapper {
  display: none;
  position: relative;
  z-index: 5;
}
.series-owners .multi-owners-wrapper .multi-authors-txt-wrapper {
  cursor: pointer;
  color: #c8cabc;
}
.series-owners .multi-owners-wrapper .multi-authors-txt-wrapper span {
  font-size: 1.3rem;
  vertical-align: middle;
  padding-bottom: 0px;
}
.series-owners .multi-owners-wrapper .multi-authors-txt-wrapper svg {
  width: 10px;
  height: auto;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: 2px;
}
.series-owners .multi-owners-wrapper .multi-authors-txt-wrapper svg g, .series-owners .multi-owners-wrapper .multi-authors-txt-wrapper svg path {
  fill: #c8cabc;
}
.series-owners .multi-owners-wrapper .multi-authors-txt-wrapper:hover {
  color: #737661;
}
.series-owners .multi-owners-wrapper .multi-authors-txt-wrapper:hover svg g, .series-owners .multi-owners-wrapper .multi-authors-txt-wrapper:hover svg path {
  fill: #737661;
}
.series-owners .multi-owners-wrapper .owners-list-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: -25px;
  height: auto;
  padding-top: 15px;
}
.series-owners .multi-owners-wrapper .owners-list-wrapper .owners-list-inner {
  width: 260px;
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
  font-size: 1.5rem;
  z-index: 1;
}
.series-owners .multi-owners-wrapper .owners-list-wrapper .owners-list-inner .owners-list {
  max-height: 250px;
  padding: 5px 20px 5px;
  overflow-y: auto;
  overflow-x: visible;
}
.series-owners .multi-owners-wrapper .owners-list-wrapper .owners-list-inner .owners-list .owner-item {
  margin-bottom: 10px;
  position: relative;
  overflow-x: visible;
  overflow-y: visible;
}
.series-owners .multi-owners-wrapper .owners-list-wrapper .owners-list-inner .owners-list .owner-item .owner-item-inner {
  cursor: pointer;
}
.series-owners .multi-owners-wrapper .owners-list-wrapper .owners-list-inner .owners-list .owner-item .owner-item-inner .item-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.series-owners .multi-owners-wrapper .owners-list-wrapper .owners-list-inner .owners-list .owner-item .owner-item-inner .item-name {
  font-size: 1.2rem;
  color: #737661;
  text-decoration: none;
  padding: 2px 0px;
  position: relative;
}
.series-owners .multi-owners-wrapper .owners-list-wrapper .owners-list-inner .owners-list .owner-item.active-item .owner-item-inner .item-name:after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #c8cabc;
}
.series-owners .multi-owners-wrapper .owners-list-wrapper .owners-list-inner .owners-list::-webkit-scrollbar {
  width: 8px;
}
.series-owners .multi-owners-wrapper .owners-list-wrapper .owners-list-inner .owners-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.series-owners .multi-owners-wrapper .owners-list-wrapper .owners-list-inner .owners-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cacac0;
}
.series-owners .multi-owners-wrapper .owners-list-wrapper .owners-list-inner:after {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(100%);
  left: calc((100% - 30px) / 2 + 26px);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
.series-owners:hover .multi-owners-wrapper .owners-list-wrapper {
  display: block;
}
.series-owners .owner-item-details {
  position: fixed;
  z-index: 10;
  width: 600px;
  left: 50%;
  top: 30%;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.series-owners .owner-item-details .item-details-inner {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.series-owners .owner-item-details .item-details-inner .details-list .owner-col, .series-owners .owner-item-details .item-details-inner .details-list .series-col {
  flex-basis: calc(100% / 4);
}
.series-owners .owner-item-details .item-details-inner .details-list .owner-col .owner-detail {
  padding-top: 10px;
}
.series-owners .owner-item-details .item-details-inner .details-list .owner-col .owner-detail .owner-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.series-owners .owner-item-details .item-details-inner .details-list .owner-col .owner-detail .view-profile {
  color: #3681c4;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-decoration: none;
}
.series-owners .owner-item-details .item-details-inner .details-list .owner-col .owner-detail .view-profile:hover {
  color: #2A558B;
}
.series-owners .owner-item-details .item-details-inner .details-list .owner-col .owner-detail .socials-list {
  margin-bottom: 5px;
}
.series-owners .owner-item-details .item-details-inner .details-list .owner-col .owner-detail .socials-list .social-item {
  display: block;
  margin-right: 5px;
  line-height: 0;
}
.series-owners .owner-item-details .item-details-inner .details-list .owner-col .owner-detail .socials-list .social-item svg {
  width: 25px;
  height: 25px;
}
.series-owners .owner-item-details .item-details-inner .details-list .owner-col .owner-detail .owner-description {
  color: #c8cabc;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article {
  margin-bottom: 15px;
  padding: 5px 8px;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .item-image-wrapper {
  position: relative;
  margin-bottom: 5px;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .item-image-wrapper .item-image {
  width: 100%;
  height: 75px;
  background-position: center;
  background-size: cover;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .item-image-wrapper .hover-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .item-image-wrapper .hover-content .footer-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .item-image-wrapper .hover-content .footer-buttons a {
  display: block;
  padding: 3px;
  background-color: #1fcd98;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .item-image-wrapper .hover-content .footer-buttons a svg {
  display: none;
  width: 10px;
  vertical-align: middle;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .item-image-wrapper .hover-content .footer-buttons a svg path {
  fill: white;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .item-image-wrapper .hover-content .footer-buttons a svg.preview-icon, .series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
  display: inline;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .item-image-wrapper .hover-content .footer-buttons a:hover {
  background-color: #1eb785;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .item-image-wrapper .hover-content .footer-buttons .flex-row .last-col {
  margin-left: 2px;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .child-count-wrapper {
  margin-bottom: 5px;
  font-size: 1rem;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .child-count-wrapper .child-count {
  display: inline-block;
  padding: 3px 15px;
  border-radius: 10px;
  background-color: #feba19;
  color: white;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article .item-title {
  font-size: 1rem;
  font-weight: bold;
  height: auto;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col .series-article:hover .item-image-wrapper .hover-content {
  opacity: 1;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col.purchased .series-article .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
  display: none;
}
.series-owners .owner-item-details .item-details-inner .details-list .series-col.purchased .series-article .item-image-wrapper .hover-content .footer-buttons a svg.purchased-icon {
  display: inline;
}
.series-owners .owner-item-details .item-details-inner::-webkit-scrollbar {
  width: 8px;
}
.series-owners .owner-item-details .item-details-inner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.series-owners .owner-item-details .item-details-inner::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cacac0;
}
.series-owners .owner-item-details.no-series {
  width: 170px;
}
.series-owners .owner-item-details.no-series .item-details-inner .details-list .owner-col, .series-owners .owner-item-details.no-series .item-details-inner .details-list .series-col {
  flex-basis: calc(100%);
}
.series-owners .owner-item-details.no-series .item-details-inner::-webkit-scrollbar {
  width: 8px;
}
.series-owners .owner-item-details.no-series .item-details-inner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.series-owners .owner-item-details.no-series .item-details-inner::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cacac0;
}
.series-owners .owner-item-details:after {
  content: "";
  display: block;
  position: absolute;
  top: 55px;
  right: calc(100%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 20px solid white;
  border-bottom: 15px solid transparent;
}
.series-owners.owner-single .single-owner-wrapper {
  display: block;
}
.series-owners.owner-multi .multi-owners-wrapper {
  display: block;
}

/*# sourceMappingURL=SeriesOwners.css.map */
