table tr th {
  padding: 5px 15px; }
table tr td {
  padding: 5px 10px; }
  table tr td input {
    padding: 3px 5px;
    width: 500px;
    max-width: 100%; }

/*# sourceMappingURL=secretes.component.css.map */
