<div class="card">
    <div class="card-body">
        <table>
            <tbody>
            <tr>
                <th>Platform Stripe Publish Key</th>
                <td><input [(ngModel)]="secretes.stripeApi_pKey" placeholder="Enter stripe publish key" /></td>
            </tr>
            <tr>
                <th>Platform Stripe Secrete Key</th>
                <td><input [(ngModel)]="secretes.stripeApi_sKey" placeholder="Enter stripe secrete key"/></td>
            </tr>
            <tr>
                <th>Platform Stripe Client Id</th>
                <td><input [(ngModel)]="secretes.stripe_client_id" placeholder="Enter stripe client id"/></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-success pl-5 pr-5" type="button" (click)="save()">Save</button>
    </div>
</div>