table{
    tr{
        th{
            padding: 5px 15px;
        }
        td{
            padding: 5px 10px;
            input{
                padding: 3px 5px;
                width: 500px;
                max-width: 100%;
            }
        }
    }
}