<div class="pay-blog component">
    <div class="cpnt-image-wrapper">
        <svg x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
            <g>
                <circle style="fill:#95C4F8;" cx="256" cy="256" r="256"/>
            </g>
            <g>
                <path style="fill:#7E7E92;" d="M21.502,153.291c-7.67,17.486-13.428,35.989-17.041,55.258C4.131,217.864,4,226.723,4,234.001
                    c0,23.422,3.421,46.084,9.705,67.638c46.625,2.358,120.428,2.362,120.428,2.362l40.533-62L148,241.333
                    C98.017,241.333,63.857,171.386,21.502,153.291z"/>
            </g>
            <g>
                <path style="fill:#7E7E92;" d="M439.467,205.333c-27.467,0-38.8,36.267-75.467,36.267l12,84.4c0,0,94,7.88,102,9.94
                    c4.53,1.167,14.826-2.174,22.911-5.292C508.101,307.027,512,281.972,512,256c0-1.826-0.1-3.626-0.138-5.443
                    C510.377,249.372,455.12,205.333,439.467,205.333z"/>
            </g>
            <g>
                <path style="fill:#6E6E84;" d="M338.667,460l136.077-70.951c15.673-25.713,26.885-54.424,32.697-85.049l0,0
                    c0,0-53.941,1.5-75.44-8c-26.436-11.681-86.354-94.344-123.83-143.968c-6.968-8.764-13.73-16.901-20.17-24.032
                    c-11.113-12.306-43.567-16-48-16c-3.841,0-34.938,36.584-57.636,64.003C148.147,217.787,107.86,268.14,88,288l-33.275,68
                    L338.667,460z"/>
            </g>
            <g>
                <path style="fill:#5F5F74;" d="M480.667,319.321c-39.333,0-78.38,5.879-124.667-33.321c-18-15.244-35.798-29.902-51-11.5
                    c-9.5,11.5-27.098,49.5-49,33.5s-31.127-65.45-52-66c-17-0.448-31,24.342-43.522,10.667C152.234,243.664,76.5,296.5,76.5,296.5
                    s77.5,68.812,88.5,68.156s75.902,9.256,75.902,9.256s23.023,27.117,34.847,22.755c11.824-4.362,40.716,4.735,57.279-2.606
                    C349.591,386.721,428.589,354,430.294,350S480.667,319.321,480.667,319.321z"/>
            </g>
            <g>
                <path style="fill:#36B294;" d="M175.75,304.001c-12.704-5.801-9.941-20.9-24-25.501c-13.75-4.5-15.5-7.75-23.25-14.5
                    c-7.75-6.75-18.28,2.316-25.25-11.5C99.214,244.499,82,241,74.75,234c-7.25-7-20.192-4.684-25.75-7c-12-5-7.25-12.25-21.5-10.75
                    c-9.968,1.049-15.265-6.946-22.721-9.482c-2.206,11.318-3.681,22.896-4.342,34.694L63,275.5c0,0,61,19.75,65.5,21.5
                    c4.5,1.75,73.284,31.466,71.252,28.74C196.125,320.875,185.875,308.625,175.75,304.001z"/>
            </g>
            <g>
                <path style="fill:#00A07D;" d="M230.691,359.286c-3.732-1.861-12.422-6.552-20.024-16.619S203,326,194,321.5
                    c-10.119-5.06-10-5.5-22-11.5s-12-10-19.25-18.5c-7.954-9.325-20.299-8.813-32.299-14.146S103.372,262.543,96,259
                    c-7.372-3.543-12,0.333-18.667-3.066c-9.035-4.607-9.564-17.685-20.839-16.352c-11.275,1.333-14.082,5.314-21.828-1.582
                    c-12.917-11.5-18.917-4.25-33.282-8.67C0.477,238.097,0,246.993,0,256c0,21.609,2.707,42.582,7.748,62.626
                    c11.393,2.223,23.875,4.591,36.309,7.374c38.723,8.667,140.61,40.667,176.61,46.667S234.424,361.147,230.691,359.286z"/>
            </g>
            <g>
                <path style="fill:#52C883;" d="M0.955,277.354C7.113,351.849,45.116,417.289,101.378,460h92.409L320,384
                    C215.033,384,156.522,277.795,0.955,277.354z"/>
            </g>
            <g>
                <path style="fill:#34BE71;" d="M256,512c124.97,0,228.963-89.569,251.44-207.999C412.781,304.029,296.992,422.482,192,408
                    c-58-8-73-24.033-147.943-8.396C90.103,467.431,167.842,512,256,512z"/>
            </g>
            <g>
                <g>
                    <g>
                        <path style="fill:#674447;" d="M221.022,445.779c-1.337,0-2.419-1.082-2.419-2.417v-26.035c0-1.335,1.082-2.417,2.419-2.417
                            c1.337,0,2.419,1.082,2.419,2.417v26.035C223.441,444.697,222.359,445.779,221.022,445.779z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path style="fill:#00A07D;" d="M236.257,415.109c0,8.414-6.821,15.235-15.235,15.235s-15.235-6.821-15.235-15.235
                            s6.821-34.279,15.235-34.279S236.257,406.695,236.257,415.109z"/>
                    </g>
                </g>
                <g>
                    <path style="fill:#36B294;" d="M221.021,380.83c-2.112,0-4.123,1.633-5.952,4.207h0c7.701,0,13.944,23.673,13.944,31.374
                        c0,6.699-4.728,12.284-11.026,13.627c0.981,0.198,1.994,0.306,3.033,0.306c8.414,0,15.235-6.821,15.235-15.235
                        C236.257,406.695,229.436,380.83,221.021,380.83z"/>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <path style="fill:#674447;" d="M417.67,373.912c-1.845,0-3.34-1.494-3.34-3.337V334.63c0-1.843,1.494-3.337,3.34-3.337
                            c1.845,0,3.34,1.494,3.34,3.337v35.945C421.01,372.418,419.516,373.912,417.67,373.912z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path style="fill:#00A07D;" d="M438.704,331.568c0,11.617-9.417,21.034-21.035,21.034s-21.034-9.417-21.034-21.034
                            s9.417-47.328,21.034-47.328S438.704,319.951,438.704,331.568z"/>
                    </g>
                </g>
                <g>
                    <path style="fill:#36B294;" d="M417.669,284.24c-2.916,0-5.693,2.254-8.218,5.809h0.001c10.633,0,19.252,32.684,19.252,43.317
                        c0,9.249-6.527,16.96-15.223,18.814c1.354,0.274,2.753,0.422,4.188,0.422c11.617,0,21.035-9.417,21.035-21.034
                        C438.704,319.951,429.286,284.24,417.669,284.24z"/>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <path style="fill:#674447;" d="M471.837,378.596c-1.845,0-3.34-1.494-3.34-3.337v-35.945c0-1.843,1.494-3.337,3.34-3.337
                            s3.34,1.494,3.34,3.337v35.945C475.177,377.101,473.682,378.596,471.837,378.596z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path style="fill:#00A07D;" d="M492.87,336.251c0,11.617-9.417,21.034-21.035,21.034s-21.034-9.417-21.034-21.034
                            c0-11.617,9.417-47.328,21.034-47.328S492.87,324.634,492.87,336.251z"/>
                    </g>
                </g>
                <g>
                    <path style="fill:#36B294;" d="M471.836,288.924c-2.916,0-5.693,2.254-8.218,5.809h0.001c10.633,0,19.252,32.684,19.252,43.317
                        c0,9.249-6.527,16.96-15.223,18.814c1.354,0.274,2.753,0.422,4.188,0.422c11.617,0,21.035-9.417,21.035-21.034
                        C492.871,324.634,483.453,288.924,471.836,288.924z"/>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <path style="fill:#674447;" d="M292.213,424.264c-1.845,0-3.34-1.494-3.34-3.337v-35.945c0-1.843,1.494-3.337,3.34-3.337
                            s3.34,1.494,3.34,3.337v35.945C295.553,422.77,294.058,424.264,292.213,424.264z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path style="fill:#00A07D;" d="M313.247,381.92c0,11.617-9.417,21.035-21.034,21.035s-21.035-9.417-21.035-21.035
                            s9.417-47.328,21.035-47.328S313.247,370.303,313.247,381.92z"/>
                    </g>
                </g>
                <g>
                    <path style="fill:#36B294;" d="M292.212,334.592c-2.916,0-5.693,2.254-8.218,5.809h0.001c10.633,0,19.252,32.684,19.252,43.317
                        c0,9.249-6.527,16.96-15.223,18.814c1.354,0.273,2.753,0.422,4.188,0.422c11.617,0,21.035-9.417,21.035-21.034
                        C313.247,370.303,303.829,334.592,292.212,334.592z"/>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <path style="fill:#674447;" d="M248.215,440.113c-1.718,0-3.11-1.391-3.11-3.107v-33.469c0-1.716,1.391-3.107,3.11-3.107
                            s3.11,1.391,3.11,3.107v33.469C251.325,438.721,249.934,440.113,248.215,440.113z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path style="fill:#00A07D;" d="M267.8,400.685c0,10.817-8.769,19.586-19.586,19.586s-19.586-8.769-19.586-19.586
                            c0-10.817,8.769-44.068,19.586-44.068S267.8,389.868,267.8,400.685z"/>
                    </g>
                </g>
                <g>
                    <path style="fill:#36B294;" d="M248.214,356.617c-2.715,0-5.301,2.099-7.652,5.409h0.001c9.9,0,17.926,30.433,17.926,40.333
                        c0,8.612-6.078,15.792-14.174,17.518c1.261,0.255,2.564,0.393,3.9,0.393c10.817,0,19.586-8.769,19.586-19.586
                        C267.8,389.868,259.031,356.617,248.214,356.617z"/>
                </g>
            </g>
            <g>
                <path style="fill:#44A67D;" d="M485.73,368.878C344,342,313.99,452.245,91.811,452.272C136.264,489.504,193.478,512,256,512
                    C356.857,512,444.021,453.644,485.73,368.878z"/>
            </g>
            <g>
                <path style="fill:#FFFFFF;" d="M355.042,164.924c0-12.511,10.142-22.653,22.653-22.653c1.888,0,3.694,0.299,5.447,0.734
                    c5.911-6.383,14.292-10.442,23.678-10.442c17.873,0,32.361,14.489,32.361,32.361H355.042z"/>
            </g>
            <g>
                <path style="fill:#C3E1F5;" d="M308.17,152.032c-6.968-8.764-13.73-16.901-20.17-24.032c-11.113-12.306-43.567-16-48-16
                    c-3.841,0-34.938,36.584-57.636,64.003c-8.701,10.625-17.794,21.803-26.844,32.895c3.913,5.46,11.484,13.15,22.694,12.057
                    c22.061-2.152,26.365-27.979,43.045-25.828C243.981,198.059,240.532,264,264.305,264c23.137,0,7.092-50.01,34.436-60.264
                    c20.142-7.553,27.568,14.102,61.51,16.915C341.686,196.917,323.138,171.852,308.17,152.032z"/>
            </g>
            <g>
                <path style="fill:#EDF5FB;" d="M317.75,164.765c-3.311-4.41-6.535-8.702-9.579-12.733c-6.968-8.764-13.73-16.901-20.17-24.032
                    c-11.113-12.306-43.567-16-48-16c-2.677,0-18.595,17.775-35.68,37.827c18.68-14.827,28.872-8.726,32.346,8.618
                    c8.023,40.055,16.667,72.221,26.667,46.888s5.605-39.841,34.938-36.833C309.85,169.687,312.235,166.297,317.75,164.765z"/>
            </g>
            <g>
                <path style="fill:#FFFFFF;" d="M120.451,176c0-13.574,11.004-24.577,24.577-24.577c2.049,0,4.007,0.324,5.91,0.796
                    c6.413-6.926,15.506-11.329,25.689-11.329c19.391,0,35.11,15.719,35.11,35.11H120.451z"/>
            </g>
            <g>
                <path style="fill:#FFFFFF;" d="M367.479,159.646c-1.716,0-3.338,0.338-4.892,0.828c-4.923-7.077-13.091-11.731-22.365-11.731
                    s-17.442,4.653-22.365,11.731c-1.554-0.49-3.176-0.828-4.892-0.828c-9.032,0-16.354,7.322-16.354,16.354h87.223
                    C383.833,166.968,376.511,159.646,367.479,159.646z"/>
            </g>
            <g>
                <path style="fill:#FFFFFF;" d="M126.467,146.035c-1.302,0-2.533,0.256-3.712,0.628c-3.736-5.37-9.933-8.901-16.971-8.901
                    s-13.235,3.531-16.971,8.901c-1.179-0.372-2.41-0.628-3.712-0.628c-6.854,0-12.41,5.556-12.41,12.41h66.184
                    C138.876,151.591,133.32,146.035,126.467,146.035z"/>
            </g>
            <g style="opacity:0.6;">
                <path style="fill:#FFFFFF;" d="M310.94,63.001c-1.215,0-2.363,0.239-3.463,0.586c-3.485-5.01-9.268-8.305-15.834-8.305
                    s-12.349,3.294-15.834,8.305c-1.101-0.347-2.249-0.586-3.463-0.586c-2.22,0-4.274,0.656-6.037,1.74
                    c-3.736-8.099-11.875-13.751-21.38-13.751c-6.842,0-12.952,2.959-17.26,7.612c-1.278-0.317-2.594-0.535-3.971-0.535
                    c-9.12,0-16.513,7.394-16.513,16.513h53.582h7.751h54C322.519,68.185,317.335,63.001,310.94,63.001z"/>
            </g>
            <g style="opacity:0.6;">
                <path style="fill:#FFFFFF;" d="M313.888,63.001c-1.215,0-2.363,0.239-3.463,0.586c-3.485-5.01-9.268-8.305-15.834-8.305
                    s-12.349,3.294-15.834,8.305c-1.101-0.347-2.249-0.586-3.463-0.586c-2.22,0-4.274,0.656-6.037,1.74
                    c-3.736-8.099-11.875-13.751-21.38-13.751c-6.842,0-12.952,2.959-17.26,7.612c-1.278-0.317-2.594-0.535-3.971-0.535
                    c-9.12,0-16.513,7.394-16.513,16.513h53.582h7.751h54C325.467,68.185,320.283,63.001,313.888,63.001z"/>
            </g>
            <g style="opacity:0.6;">
                <path style="fill:#FFFFFF;" d="M182.3,95.136c-0.99,0-1.926,0.195-2.823,0.478c-2.841-4.084-7.554-6.77-12.906-6.77
                    c-3.947,0-7.532,1.476-10.29,3.88c-3.764-5.432-10.025-9.003-17.134-9.003c-6.048,0-11.449,2.615-15.257,6.729
                    c-1.13-0.281-2.293-0.473-3.51-0.473c-8.062,0-14.597,6.535-14.597,14.597h35.62H160h31.738
                    C191.738,99.362,187.513,95.136,182.3,95.136z"/>
            </g>
            <g style="opacity:0.6;">
                <path style="fill:#FFFFFF;" d="M449.072,88c-3.746-4.301-7.589-8.514-11.61-12.555c-0.319,0.239-0.665,0.444-0.965,0.706
                    c-3.764-5.432-10.025-9.003-17.134-9.003c-6.048,0-11.449,2.615-15.257,6.729c-1.13-0.281-2.293-0.473-3.51-0.473
                    C392.535,73.403,386,79.938,386,88h35.62h18.596H449.072z"/>
            </g>
            <g>
                <path style="fill:#C3E1F5;" d="M480.665,227.286c-15.876-11.083-33.422-21.953-41.198-21.953c-17.39,0-28.327,14.523-43.307,25.19
                    l0.011,0.007c24.829-4.197,26.642,27.805,38.142,27.805c13.457,0,13.824-17.163,27.02-11.335
                    C487,258.335,467.667,231.834,480.665,227.286z"/>
            </g>
            <g>
                <path style="fill:#EDF5FB;" d="M465.063,216.949c-10.631-6.625-20.349-11.616-25.597-11.616c-11.887,0-20.767,6.808-29.976,14.509
                    c13.101,5.712,23.494,22.357,39.582,11.657C459.734,224.408,461.669,220.085,465.063,216.949z"/>
            </g>
            <g>
                <g>
                    <g>
                        <path style="fill:#674447;" d="M389.139,388.929c-2.296,0-4.156-1.859-4.156-4.152v-44.725c0-2.293,1.859-4.152,4.156-4.152
                            s4.156,1.859,4.156,4.152v44.725C393.294,387.07,391.435,388.929,389.139,388.929z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path style="fill:#00A07D;" d="M415.31,336.242c0,14.455-11.718,26.172-26.172,26.172s-26.172-11.718-26.172-26.172
                            s11.718-58.888,26.172-58.888S415.31,321.787,415.31,336.242z"/>
                    </g>
                </g>
                <g>
                    <path style="fill:#36B294;" d="M389.138,277.354c-3.629,0-7.084,2.805-10.225,7.228h0.001c13.23,0,23.954,40.668,23.954,53.898
                        c0,11.508-8.122,21.103-18.941,23.41c1.685,0.34,3.426,0.525,5.211,0.525c14.455,0,26.173-11.718,26.173-26.172
                        C415.31,321.787,403.592,277.354,389.138,277.354z"/>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <path style="fill:#674447;" d="M446.273,382.474c-2.169,0-3.926-1.757-3.926-3.923v-42.257c0-2.167,1.757-3.923,3.926-3.923
                            s3.926,1.757,3.926,3.923v42.257C450.2,380.717,448.443,382.474,446.273,382.474z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path style="fill:#00A07D;" d="M471.001,332.693c0,13.657-11.071,24.728-24.728,24.728c-13.657,0-24.728-11.071-24.728-24.728
                            s11.071-55.639,24.728-55.639C459.929,277.054,471.001,319.036,471.001,332.693z"/>
                    </g>
                </g>
                <g>
                    <path style="fill:#36B294;" d="M446.272,277.054c-3.428,0-6.693,2.65-9.661,6.829h0.001c12.5,0,22.633,38.424,22.633,50.924
                        c0,10.873-7.673,19.938-17.896,22.118c1.592,0.322,3.237,0.496,4.924,0.496c13.657,0,24.729-11.071,24.729-24.728
                        C471.001,319.036,459.929,277.054,446.272,277.054z"/>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <path style="fill:#674447;" d="M357.062,393.673c-1.894,0-3.428-1.534-3.428-3.426v-36.899c0-1.892,1.534-3.426,3.428-3.426
                            s3.428,1.534,3.428,3.426v36.899C360.49,392.139,358.956,393.673,357.062,393.673z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path style="fill:#00A07D;" d="M378.654,350.205c0,11.925-9.667,21.593-21.593,21.593c-11.925,0-21.593-9.667-21.593-21.593
                            s9.667-48.584,21.593-48.584C368.986,301.621,378.654,338.28,378.654,350.205z"/>
                    </g>
                </g>
                <g>
                    <path style="fill:#36B294;" d="M357.061,301.621c-2.994,0-5.844,2.314-8.436,5.963h0.001c10.915,0,19.763,33.552,19.763,44.467
                        c0,9.494-6.701,17.41-15.627,19.314c1.39,0.281,2.826,0.433,4.299,0.433c11.925,0,21.593-9.667,21.593-21.593
                        C378.654,338.28,368.986,301.621,357.061,301.621z"/>
                </g>
            </g>
            <g>
                <g>
                    <g>
                        <path style="fill:#674447;" d="M327.975,432.458c-2.693,0-4.873-2.18-4.873-4.869v-52.446c0-2.689,2.18-4.869,4.873-4.869
                            s4.873,2.18,4.873,4.869v52.446C332.848,430.278,330.667,432.458,327.975,432.458z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path style="fill:#00A07D;" d="M358.664,370.675c0,16.95-13.741,30.691-30.691,30.691c-16.95,0-30.691-13.741-30.691-30.691
                            c0-16.95,13.741-69.054,30.691-69.054C344.924,301.621,358.664,353.725,358.664,370.675z"/>
                    </g>
                </g>
                <g>
                    <path style="fill:#36B294;" d="M327.974,301.621c-4.255,0-8.306,3.289-11.99,8.475h0.001c15.514,0,28.09,47.688,28.09,63.202
                        c0,13.495-9.524,24.746-22.211,27.451c1.976,0.399,4.017,0.616,6.111,0.616c16.95,0,30.691-13.741,30.691-30.69
                        C358.664,353.725,344.923,301.621,327.974,301.621z"/>
                </g>
            </g>
            <g>
                <path style="fill:#5F5F74;" d="M256,512c67.364,0,128.603-26.056,174.294-68.599C402.5,448,360.251,401,316.293,418.146
                    c-19.586,7.64-81.895,60.496-136.192,82.33C204.091,507.919,229.562,512,256,512z"/>
            </g>
            <g>
                <path style="fill:#6E6E84;" d="M316.293,418.146c-19.586,7.64-81.895,60.496-136.192,82.33c1.829,0.567,3.722,0.979,5.568,1.506
                    C240.563,489,305.198,431,326.667,430.344c6.128-0.187,45.667,29.655,67.928,40.827c12.712-8.214,24.668-17.499,35.7-27.771
                    C402.5,448,360.251,401,316.293,418.146z"/>
            </g>
        </g>
        </svg>
    </div>
    <div class="cpnt-title">
        This is a wonderful experience ahead!
    </div>
    <div class="cpnt-description">
        This is paid content, so please join the series to continue.<br>
        We can't wait show you what lies ahead.
    </div>
    <div class="join-now-wrapper">
        <a href="javascript:;" class="join-now">
            Join Now
        </a>
    </div>
</div>