.component.pay-blog{
    text-align: center;
    .cpnt-image-wrapper{
        svg{
            width: 150px;
        }
    }
    .cpnt-title{
        font-size: 1.5em;
        color: #3099d0;
    }
    .cpnt-description{
        margin-bottom: 50px;
    }
    .join-now-wrapper{
        a.join-now{
            &:hover{
                text-decoration: none;
            }
        }
    }
}