.component.pay-blog {
  text-align: center; }
  .component.pay-blog .cpnt-image-wrapper svg {
    width: 150px; }
  .component.pay-blog .cpnt-title {
    font-size: 1.5em;
    color: #3099d0; }
  .component.pay-blog .cpnt-description {
    margin-bottom: 50px; }
  .component.pay-blog .join-now-wrapper a.join-now:hover {
    text-decoration: none; }

/*# sourceMappingURL=PayBlog.css.map */
