.stripe-card-modal.modal{
  max-height: 100%;
  width: 100%;
  border-radius: 0px;
  background-color: transparent;
  .modal-content{
    background-color: #6772e5;
    .modal-body{
      .payment-card-wrap.stripe-card-wrap{
        width: 490px;
        max-width: 100%;
        margin: 0px auto;
        padding: 0px 0px;
        min-height: 400px;
        form{
          .product-title{
            font-size: 1.2em;
            color: #c4f0ff;
            text-align: center;
          }
          .monthly-sub-txt{
            color: #87bbfd;
            font-size: 0.9em;
            margin-bottom: 15px;
            text-align: center;
          }
        }
      }
    }
  }
//  start style supported by stripe
//      start form style supported by stripe
  .modal-body{
    .payment-card-wrap.stripe-card-wrap {
    }

    .payment-card-wrap.stripe-card-wrap * {
      font-family: Roboto, Open Sans, Segoe UI, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .payment-card-wrap.stripe-card-wrap fieldset {
      margin: 0 15px 20px;
      padding: 0;
      border-style: none;
      background-color: #7795f8;
      box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #829fff;
      border-radius: 4px;
    }

    .payment-card-wrap.stripe-card-wrap .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 15px;
    }

    .payment-card-wrap.stripe-card-wrap .row + .row {
      border-top: 1px solid #819efc;
    }

    .payment-card-wrap.stripe-card-wrap label {
      width: 15%;
      min-width: 70px;
      padding: 11px 0;
      color: #c4f0ff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .payment-card-wrap.stripe-card-wrap input, .payment-card-wrap.stripe-card-wrap button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      border-style: none;
    }

    .payment-card-wrap.stripe-card-wrap input:-webkit-autofill {
      -webkit-text-fill-color: #fce883;
      transition: background-color 100000000s;
      -webkit-animation: 1ms void-animation-out;
    }

    .payment-card-wrap.stripe-card-wrap .StripeElement--webkit-autofill {
      background: transparent !important;
    }

    .payment-card-wrap.stripe-card-wrap .StripeElement {
      width: 100%;
      padding: 11px 15px 11px 0;
    }

    .payment-card-wrap.stripe-card-wrap input {
      width: 100%;
      padding: 11px 15px 11px 0;
      color: #fff;
      background-color: transparent;
      -webkit-animation: 1ms void-animation-out;
    }

    .payment-card-wrap.stripe-card-wrap input::-webkit-input-placeholder {
      color: #87bbfd;
    }

    .payment-card-wrap.stripe-card-wrap input::-moz-placeholder {
      color: #87bbfd;
    }

    .payment-card-wrap.stripe-card-wrap input:-ms-input-placeholder {
      color: #87bbfd;
    }

    .payment-card-wrap.stripe-card-wrap button {
      display: block;
      width: calc(100% - 30px);
      height: 40px;
      margin: 40px 15px 0;
      background-color: #f6a4eb;
      box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #ffb9f6;
      border-radius: 4px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
    }

    .payment-card-wrap.stripe-card-wrap button:active {
      background-color: #d782d9;
      box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #e298d8;
    }

    .payment-card-wrap.stripe-card-wrap .error svg .base {
      fill: #fff;
    }

    .payment-card-wrap.stripe-card-wrap .error svg .glyph {
      fill: #6772e5;
    }

    .payment-card-wrap.stripe-card-wrap .error .message {
      color: #fff;
    }

    .payment-card-wrap.stripe-card-wrap .success .icon .border {
      stroke: #87bbfd;
    }

    .payment-card-wrap.stripe-card-wrap .success .icon .checkmark {
      stroke: #fff;
    }

    .payment-card-wrap.stripe-card-wrap .success .title {
      color: #fff;
    }

    .payment-card-wrap.stripe-card-wrap .success .message {
      color: #9cdbff;
    }

    .payment-card-wrap.stripe-card-wrap .success .reset path {
      fill: #fff;
    }
  }
//      start base style supported by stripe
  * {
    box-sizing: border-box;
  }

  blockquote,
  body,
  button,
  dd,
  dl,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  pre,
  ul {
    margin: 0;
    padding: 0;
  }

  ol,
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  button,
  select {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
  }

  a,
  button,
  input,
  select,
  textarea {
    -webkit-tap-highlight-color: transparent;
  }

  :root {
    overflow-x: hidden;
    height: 100%;
  }

  .globalContent {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  @font-face {
    font-family: StripeIcons;
    src: url(data:application/octet-stream;base64,d09GRk9UVE8AAAZUAAoAAAAAB6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAADKAAAAx8AAAOKkWuAp0dTVUIAAAZIAAAACgAAAAoAAQAAT1MvMgAAAXAAAABJAAAAYGcdjVZjbWFwAAACvAAAAFYAAACUKEhKfWhlYWQAAAD8AAAAMAAAADYJAklYaGhlYQAAAVAAAAAgAAAAJAYoAa5obXR4AAABLAAAACQAAAAoEOAAWW1heHAAAAD0AAAABgAAAAYAClAAbmFtZQAAAbwAAAD%2FAAABuXejDuxwb3N0AAADFAAAABMAAAAg%2F7gAMgAAUAAACgAAeNpjYGRgYABifeaSpHh%2Bm68MzMwHgCIMl08yqyDo%2F95Mkcy8QC4zAxNIFAD8tAiweNpjfMAQyfiAgYEpgoGBcQmQlmFgYPgAZOtAcQZEDgCHaQVGeNpjYGRgYD7z34eBgSmCgeH%2Ff6ZIBqAICuACAHpYBNp42mNgZtzAOIGBlYGDqYDJgYGBwQNCMwYwGDEcA%2FKBUthBqHe4H4MDg4L6Imae%2Fz4MB5jPMGwBCjOC5Bi9mKYAKQUGBgAFHgteAAAAeNplkMFqwkAURU9itBVKF6XLLrLsxiGKMYH0B4IgoqjdRokajAmNUfolhX5Df7IvZhBt5zHMeffduQwDPPCFQbWM81mzyZ3uocEz95qtK0%2BTN140t2jzLk7DaotiEmk2eWSlucErH5otnvjW3OSTH82tSg8n8eaYRkVXOY4TzIaLURB2tDaPi0OSZ3Y9G09tx6lxm5erPDtVA%2BX7wT7axXm5Vmmy7ClXDfqe515CCJkQs%2BFIKk8t6KJwzhUwY8iCkVBI54%2FvvzKXruBAQk6GfZM0ZipKxdfqVpylfErlP11uKHypgL2k7iSz8qxFTSV5SU%2FIlT2gjyfl%2FgKN9EDsAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAHEEACj8QNOBhYGOyDNAYRMQFpBcZL6ov%2F%2Foaw5%2F%2F%2F%2Ff3kvH8iD2McCxExAO1kYWIE2cjCwAwAgUQwvAAB42mNgZgCD%2F1sZjBiwAAAswgHqAHjaNVFbbxNHGN2JMmtlNnIoZFFx1F2nDoTWgJLIhRQqWlRowyXiUkqE1IZLVW0dJzHYjpAhxnbYi8HXdWxsEKCIi0DdqjxVyhOKkBBS%2FdAX%2FkJfmiCe0Gz4orbjLNFo5uj79B19Z85BXGsLhxAiB7ef%2BFmZGj8XaVb9dgdn%2B5Dd02J%2F2JqFIXtpeQ5Lc6h1YzKbXcN2F%2F2qg373wZ3ly%2Bs5gpCwfpO3d8dnXwyfOheJhC9FgsovsanJ4MCuzw84sN%2BBb1Zh34ADfU7za6fq%2Fyl8Ib7K9E4Eo9HgpHLQu6aL45CB8ug6yqAbKIeyqMAhjjD1nM49596hbqQgHf2B%2Fm5xt3S8sqXlORFe%2FHuSvuD3vesUQ4eVxjgEfm08PWK5%2FoF14lBjDAJvXI0xMRS0%2BMVjbGLIbzV%2BP2y5aOC46IfAb7TzT5cFbSJwEKCc9eXifGgqtOBahN3vWy7aOS76f1zkrVNiaNw1NIpfhyBg8X%2FN428t3v2KJl6KtVqxWpXpCD2Bq5XZW3XPrWv1dMVHEmZy9pr8dhsGdQuhKt%2FTh9Mz6nTCE34Yeyy56byfUHMzqaWrEpRpHldmrpqJrosXPyV0N%2BzAsMJYKzwMwjacTmtXGe9%2B7InkrtPz3aRoaIWPSUEtGjL1wUcYFnoJXeChG7qwpmfUHkI30XsvRdMsmKZMs9TwEsjR67ik6%2Fk14hk4jVcGe4k9yMMojGDNyKiqRy1opi5phUrG7HLDnkfdxOHktZIu072wB9jFhpHReoj3UXNF3lmReb%2FC0eaMx%2BESO1NY1w2myfuMuXW7VKvJ9CQ9im9Wy3XmllpLVX0kWUzNpmW6E%2FrY8ePkjLaV%2FPCMWVTeTJidTYtyuJpuWhSOMYsuwBhMgNK0dCtxS3O7%2Fmtvy7YL9lKn7RfvbODaEerw%2BXfuPfT92WDkiopLpaJZ9pQNUy9JAlNdyjVVH6PDTDV7saB2TadSCVWQYIQeZ2F8QgTVM30zdZtFlcOVSmU1WYFXolFFeRB9Kgt8PJmMx2vJu7IwvZoOS9XRFwsLsXCylKjMyGxXrV5kXxb%2BBxsddR0AAAEAAAAAAAAAAAAA)
    format("woff");
  }
  /** Page-specific styles */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(1turn);
    }
  }

  @keyframes void-animation-out {
    0%,
    to {
      opacity: 1;
    }
  }
  .modal-body {
    .payment-card-wrap {
      -ms-flex-align: center;
      align-items: center;
      border-radius: 4px;
      //box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
      padding: 80px 0px;
    }

    @media (min-width: 670px) {
      .payment-card-wrap {
        padding: 40px;
      }
    }
    .cell {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      -ms-flex: auto;
      flex: auto;
      min-width: 100%;
      min-height: 500px;
      padding: 0 40px;
    }

    .cell + .cell {
      margin-top: 70px;
    }

    .cell.intro {
      padding: 0;
    }

    @media (min-width: 670px) {
      .cell.intro {
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
      }

      .optionList {
        margin-left: 13px;
      }
    }

    .cell.intro > * {
      width: 100%;
      max-width: 700px;
    }

    .cell.intro .common-IntroText {
      margin-top: 10px;
    }

    .cell.intro .common-BodyText {
      margin-top: 15px;
    }
    .payment-card-wrap.submitted form,
    .payment-card-wrap.submitting form {
      opacity: 0;
      transform: scale(0.9);
      pointer-events: none;
    }

    .payment-card-wrap.submitted .success,
    .payment-card-wrap.submitting .success {
      pointer-events: all;
    }

    .payment-card-wrap.submitting .success .icon {
      opacity: 1;
    }

    .payment-card-wrap.submitted .success > * {
      opacity: 1;
      transform: none !important;
    }

    .payment-card-wrap.submitted .success > :nth-child(2) {
      transition-delay: 0.1s;
    }

    .payment-card-wrap.submitted .success > :nth-child(3) {
      transition-delay: 0.2s;
    }

    .payment-card-wrap.submitted .success > :nth-child(4) {
      transition-delay: 0.3s;
    }

    .payment-card-wrap.submitted .success .icon .border,
    .payment-card-wrap.submitted .success .icon .checkmark {
      opacity: 1;
      stroke-dashoffset: 0 !important;
    }

    .payment-card-wrap * {
      margin: 0;
      padding: 0;
    }

    .payment-card-wrap form {
      position: relative;
      width: 100%;
      max-width: 500px;
      transition-property: opacity, transform;
      transition-duration: 0.35s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .payment-card-wrap form input::-webkit-input-placeholder {
      opacity: 1;
    }

    .payment-card-wrap form input::-moz-placeholder {
      opacity: 1;
    }

    .payment-card-wrap form input:-ms-input-placeholder {
      opacity: 1;
    }

    .payment-card-wrap .error {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      top: 100%;
      margin-top: 20px;
      left: 0;
      padding: 0 15px;
      font-size: 13px !important;
      opacity: 0;
      transform: translateY(10px);
      transition-property: opacity, transform;
      transition-duration: 0.35s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .payment-card-wrap .error.visible {
      opacity: 1;
      transform: none;
    }

    .payment-card-wrap .error .message {
      font-size: inherit;
    }

    .payment-card-wrap .error svg {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-top: -1px;
      margin-right: 10px;
    }

    .payment-card-wrap .success {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 10px;
      text-align: center;
      pointer-events: none;
      overflow: hidden;
    }

    @media (min-width: 670px) {
      .payment-card-wrap .success {
        padding: 40px;
      }
    }

    .payment-card-wrap .success > * {
      transition-property: opacity, transform;
      transition-duration: 0.35s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      opacity: 0;
      transform: translateY(50px);
    }

    .payment-card-wrap .success .icon {
      margin: 15px 0 30px;
      transform: translateY(70px) scale(0.75);
    }

    .payment-card-wrap .success .icon svg {
      will-change: transform;
    }

    .payment-card-wrap .success .icon .border {
      stroke-dasharray: 251;
      stroke-dashoffset: 62.75;
      transform-origin: 50% 50%;
      transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
      animation: spin 1s linear infinite;
    }

    .payment-card-wrap .success .icon .checkmark {
      stroke-dasharray: 60;
      stroke-dashoffset: 60;
      transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
    }

    .payment-card-wrap .success .title {
      font-size: 17px;
      font-weight: 500;
      margin-bottom: 8px;
    }

    .payment-card-wrap .success .message {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 25px;
      line-height: 1.6em;
    }

    .payment-card-wrap .success .message span {
      font-size: inherit;
    }

    .payment-card-wrap .success .reset:active {
      transition-duration: 0.15s;
      transition-delay: 0s;
      opacity: 0.65;
    }

    .payment-card-wrap .success .reset svg {
      will-change: transform;
    }
  }
}