<div class="app-table-wrap">
    <table class="app-table">
        <thead>
        <tr>
            <th *ngFor="let hCol of headers">{{hCol.label}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows; let i = index" [row]="row" [i]="i" app-waitlist-tr></tr>
        </tbody>
    </table>
</div>