<div class="card">
    <div class="card-body">
        <h3 class="card-title">Manage Categories</h3>
        <app-table [settings]="tableSettings" [items]="tableRows" tr="category-tr" [metaData]="metaData"></app-table>
    </div>
</div>