@import "../../config/css/colors.scss";

.post-creator-component{
    .modal-dialog{
        .modal-content{
            .modal-body{
                .select-type-wrapper{
                    width: 300px;
                    .control-label{
                        font-weight: normal;
                        font-size: 1.5rem;
                        margin-bottom: 0px;
                    }
                    .dropdown{
                        display: block;
                        button{
                            display: block;
                            width: 100%;
                            text-align: left;
                            background-color: transparent;
                            color: inherit;
                            border-radius: 9px;
                            span{
                                display: inline-block;
                                width: calc(100% - 20px);
                                color: inherit;
                                text-align: left;
                            }
                            svg{
                                width: 15px;
                                vertical-align: middle;
                                g, path{
                                    fill: $lightGrey;
                                }
                            }
                            &:focus{
                                outline: none;
                            }
                        }
                        ul{
                            width: 100%;
                            min-width: 0px;
                            margin-top: 0px;
                            border-top: 0px;
                            border-radius: 9px;
                            border-top-left-radius: 0px;
                            border-top-right-radius: 0px;
                            background-color: #f6fffc;
                            li{
                                a{
                                    color: inherit;
                                    &:hover{
                                        background-color: $contentColor;
                                        color: white;
                                    }
                                }
                            }
                        }
                        &.open{
                            button{
                                border-bottom-left-radius: 0px;
                                border-bottom-right-radius: 0px;
                            }
                        }
                    }
                }
                .post-creator-content{
                    width: 700px;
                    max-width: 100%;
                    margin: 0px auto;
                    padding: 30px 0px;
                    .create-normal{
                        form{
                            display: block;
                            width: 100%;
                            .form-group{
                                label.control-label{
                                    display: block;
                                    position: relative;
                                    padding: 7px 15px 0px 0px;
                                    font-weight: normal;
                                    font-size: 1.5rem;
                                    &.required:after {
                                        content: "*";
                                        position: absolute;
                                        top: 0px;
                                        right: 0px;
                                        color: $redColor;
                                    }
                                    &.margin-bottom{
                                        margin-bottom: 10px;
                                    }
                                    &.margin-bottom-2{
                                        margin-bottom: 15px;
                                    }
                                }
                                input{
                                    padding-left: 0px;
                                    border: none;
                                    border-bottom: 1px solid $lightGrey;
                                    box-shadow: none;
                                    border-radius: 0px;
                                    font-size: 1.5rem;
                                    &::placeholder{
                                        color: $lightGrey;
                                    }
                                    &[name="strSeries_title"]{
                                        max-width: 385px;
                                    }
                                }
                                .dropdown{
                                    display: block;
                                    button{
                                        display: block;
                                        width: 100%;
                                        text-align: left;
                                        background-color: transparent;
                                        color: inherit;
                                        border-radius: 9px;
                                        span{
                                            display: inline-block;
                                            width: calc(100% - 20px);
                                            color: inherit;
                                            text-align: left;
                                        }
                                        svg{
                                            width: 15px;
                                            vertical-align: middle;
                                            g, path{
                                                fill: $lightGrey;
                                            }
                                        }
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                    ul{
                                        width: 100%;
                                        min-width: 0px;
                                        margin-top: 0px;
                                        border-top: 0px;
                                        border-radius: 9px;
                                        border-top-left-radius: 0px;
                                        border-top-right-radius: 0px;
                                        background-color: #f6fffc;
                                        li{
                                            a{
                                                color: inherit;
                                                &:hover{
                                                    background-color: $contentColor;
                                                    color: white;
                                                }
                                            }
                                        }
                                    }
                                    &.open{
                                        button{
                                            border-bottom-left-radius: 0px;
                                            border-bottom-right-radius: 0px;
                                        }
                                    }
                                }
                                .cover-image-wrapper{
                                    margin: 10px 0px;
                                    padding: 50px 20px;
                                    text-align: center;
                                    position: relative;
                                    border: 1px dashed $lightGrey;
                                    border-radius: 20px;
                                    color: $lightGrey;
                                    .img-wrapper{
                                        img{
                                            max-width: 80px;
                                            opacity: .3;
                                        }
                                    }
                                    input{
                                        position: absolute;
                                        display: block;
                                        top: 0px;
                                        left: 0px;
                                        width: 100%;
                                        height: 100%;
                                        opacity: 0;
                                        cursor: pointer;
                                    }
                                }
                                .terms-container{
                                    min-height: 30px;
                                    .term-item{

                                    }
                                }
                            }
                            .button-wrapper{
                                margin-top: 70px;
                                text-align: center;
                                .save-btn{
                                    background-color: $greenColor;
                                    border: none;
                                    outline: none;
                                    color: white;
                                    display: block;
                                    width: 290px;
                                    margin: 0px auto;
                                    text-align: center;
                                    padding: 12px 5px;
                                    border-radius: 30px;
                                    font-size: 2rem;
                                    font-weight: lighter;
                                    &:hover{
                                        background-color: $greenHover;
                                    }
                                    &.small{
                                        display: inline-block;
                                        width: auto;
                                        padding: 10px 30px;
                                        font-size: 1.5rem;
                                    }
                                }
                                .preview-post{
                                    display: inline-block;
                                    margin-top: 5px;
                                    color: $contentColor;
                                    text-decoration: none;
                                    padding-bottom: 1px;
                                    &:hover{
                                        color: black;
                                    }
                                }
                            }
                            .note-editor{
                                .note-toolbar-wrapper{
                                    height: auto !important;
                                }
                            }
                            .terms-container{
                                .term-item{
                                    font-size: 1.5rem;
                                }
                            }
                            .posts-tree-field{
                                display: none;
                            }
                            .forms-list-component{
                                display: none;
                            }
                            .posts-tree-wrapper{
                                padding: 10px 0;
                                border: 1px solid $lightGrey;
                                border-radius: 5px;
                                background-color: #fdfdfd;
                                max-height: 400px;
                                overflow: auto;
                                margin-bottom: 20px;
                                &::-webkit-scrollbar{
                                    width: 8px;
                                }
                                &::-webkit-scrollbar-button{

                                }
                                &::-webkit-scrollbar-track{
                                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                                    border-radius: 10px;
                                }
                                &::-webkit-scrollbar-track-piece {}
                                &::-webkit-scrollbar-thumb{
                                    border-radius: 10px;
                                    background-color: #cacac0;
                                    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
                                }
                                &::-webkit-scrollbar-corner{}
                                &::-webkit-resizer{  }
                            }
                            .form-fiels-container{
                                border: 1px dashed $lightGrey;
                                border-radius: 10px;
                                min-height: 101px;
                                padding: 20px;
                                .form-field-item{
                                    margin-bottom: 10px;
                                    .item-action{
                                        display: block;
                                        line-height: 0;
                                        svg{
                                            width: 30px;
                                            height: 30px;
                                            g, path {
                                                fill: $lightGrey;
                                            }
                                        }
                                        &:hover{
                                            svg{
                                                g, path {
                                                    fill: $contentColor;
                                                }
                                            }
                                            &.edit-action {
                                                border-color: $contentColor;
                                            }
                                        }
                                    }
                                    .append-action{
                                        cursor: pointer;
                                        font-size: 1.5rem;
                                        font-weight: bold;
                                        font-style: italic;
                                        width: 30px;
                                        height: 30px;
                                        border: 1px solid $lightGrey;
                                        border-radius: 50%;
                                        &:hover{
                                            background-color: $lightGrey;
                                            color: white;
                                        }
                                    }
                                    .item-name-input.form-control{
                                        padding-left: 0px;
                                        border: none;
                                        border-bottom: 1px solid #e9ebdd;
                                        box-shadow: none;
                                        border-radius: 0px;
                                        font-size: 1.5rem;
                                        &::placeholder{
                                            color: $lightGrey;
                                        }
                                        &[name="strSeries_title"]{
                                            max-width: 385px;
                                        }
                                    }
                                    .field-item-type-wrapper{
                                        line-height: 0;
                                        .checkbox-icon, .text-icon{
                                            display: none;
                                            width: 30px;
                                            height: 30px;
                                            vertical-align: middle;
                                            opacity: .5;
                                        }
                                    }
                                    &.field-type-checkbox{
                                        .field-item-type-wrapper{
                                            .checkbox-icon{
                                                display: inline;
                                            }
                                        }
                                    }
                                    &.field-type-text{
                                        .field-item-type-wrapper{
                                            .text-icon{
                                                display: inline;
                                            }
                                        }
                                    }
                                }
                            }
                            &[data-type="switch-to"]{
                                .post-body-group{
                                    display: none;
                                }
                                .posts-tree-field{
                                    display: block;
                                }
                            }
                            &[data-type="form"], &[data-type="7"]{
                                .forms-list-component{
                                    display: block;
                                }
                            }
                        }
                    }
                    .create-menu-decision{
                        form{
                            .options-cnt-slider{
                                width: 190px;
                                .control-label{
                                    margin-bottom: 25px;
                                }
                                .slider{
                                    width: 100%;
                                    .slider-track{
                                        .slider-selection{
                                            background-image: none;
                                            background-color: yellow;
                                            box-shadow: none;
                                            box-sizing: border-box;
                                            border: 1px solid #cccccc;
                                        }
                                        .slider-track-high{
                                            background-color: white;
                                            box-shadow: none;
                                            box-sizing: border-box;
                                            border: 1px solid #cccccc;
                                        }
                                    }
                                    .slider-handle{
                                        width: 10px;
                                        margin-left: -5px;
                                        border-radius: 5px;
                                        background-color: #ccc;
                                        background-image: none;
                                    }
                                }
                            }
                            textarea.form-control{
                                resize: none;
                            }
                            .cover-image-wrapper{
                                width: 230px;
                                margin: 10px auto 0px;
                                padding-top: 40px;
                                padding-bottom: 20px;
                                text-align: center;
                                position: relative;
                                border: 1px dashed grey;
                                border-radius: 20px;
                                .img-wrapper{
                                    margin-bottom: 25px;
                                    padding: 0px 0px 15px;
                                    min-height: 70px;
                                    img{
                                        width: 100px;
                                    }
                                }
                                .cloud-img-wrapper{
                                    margin-bottom: 15px;
                                    img{
                                        width: 60px;
                                        opacity: .5;
                                    }
                                }
                                input{
                                    position: absolute;
                                    display: block;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                                .delete-action{
                                    display: inline-block;
                                    position: absolute;
                                    top: 15px;
                                    right: 20px;
                                    border-radius: 50%;
                                    line-height: 0;
                                    svg{
                                        width: 20px;
                                        height: 20px;
                                        vertical-align: middle;
                                        g, path{
                                            fill: $greenColor;
                                        }
                                    }
                                    &:hover{
                                        svg{
                                            g, path{
                                                fill: #1f9965;
                                            }
                                        }
                                    }
                                }
                            }
                            .options-container{
                                .option-item{
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                    .create-with-form{
                        form{
                            .form-create-wrapper{
                                .type-select-row{
                                    margin-bottom: 15px;
                                }
                                .choose-question-type-txt{
                                    padding: 7px 15px 0px 0px;
                                    font-weight: normal;
                                    font-size: 1.5rem;
                                }
                                .type-choose-item{
                                    display: block;
                                    line-height: 0;
                                    opacity: .3;
                                    svg{
                                        width: 40px;
                                        height: 40px;
                                        g, path{
                                            //fill: $contentColor !important;
                                        }
                                    }
                                    &.active-item{
                                        opacity: 1;
                                    }
                                    &:hover{
                                        opacity: .7;
                                    }
                                }
                                .or-txt{
                                    font-size: 1.5rem;
                                }
                                .btn-wrapper{
                                    text-align: center;
                                    margin-top: 15px;
                                    margin-bottom: 20px;
                                    .add-form-btn{
                                        background-color: transparent;
                                        border: 1px solid $greenColor;
                                        color: $contentColor;
                                        padding: 7px 20px;
                                        border-radius: 20px;
                                        font-size: 1.5rem;
                                        &:focus{
                                            outline: none;
                                        }
                                        &:hover{
                                            background-color: $greenColor;
                                            color: white;
                                        }
                                    }
                                }
                            }
                            .form-fields-wrapper{
                                margin-bottom: 20px;
                                .form-fields-title-wrapper{
                                    margin-bottom: 15px;
                                    .form-fields-title{
                                        font-size: 2.5rem;
                                        font-weight: bold;
                                    }
                                    .preview-form-link{
                                        color: $contentColor;
                                        text-decoration: none;
                                    }
                                }
                                .form-fiels-container{
                                    border: 1px dashed $lightGrey;
                                    border-radius: 10px;
                                    min-height: 101px;
                                    padding: 20px;
                                    .form-field-item{
                                        margin-bottom: 10px;
                                        .item-action{
                                            display: block;
                                            line-height: 0;
                                            svg{
                                                width: 30px;
                                                height: 30px;
                                                g, path {
                                                    fill: $lightGrey;
                                                }
                                            }
                                            &:hover{
                                                svg{
                                                    g, path {
                                                        fill: $contentColor;
                                                    }
                                                }
                                                &.edit-action {
                                                    border-color: $contentColor;
                                                }
                                            }
                                        }
                                        .append-action{
                                            cursor: pointer;
                                            font-size: 1.5rem;
                                            font-weight: bold;
                                            font-style: italic;
                                            width: 30px;
                                            height: 30px;
                                            border: 1px solid $lightGrey;
                                            border-radius: 50%;
                                            &:hover{
                                                background-color: $lightGrey;
                                                color: white;
                                            }
                                        }
                                        .item-name-input.form-control{
                                            padding-left: 0px;
                                            border: none;
                                            border-bottom: 1px solid #e9ebdd;
                                            box-shadow: none;
                                            border-radius: 0px;
                                            font-size: 1.5rem;
                                            &::placeholder{
                                                color: $lightGrey;
                                            }
                                            &[name="strSeries_title"]{
                                                max-width: 385px;
                                            }
                                        }
                                        .field-item-type-wrapper{
                                            line-height: 0;
                                            .checkbox-icon, .text-icon{
                                                display: none;
                                                width: 30px;
                                                height: 30px;
                                                vertical-align: middle;
                                                opacity: .5;
                                            }
                                        }
                                        &.field-type-checkbox{
                                            .field-item-type-wrapper{
                                                .checkbox-icon{
                                                    display: inline;
                                                }
                                            }
                                        }
                                        &.field-type-text{
                                            .field-item-type-wrapper{
                                                .text-icon{
                                                    display: inline;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .create-with-form-loop{
                        form{
                            .form-create-wrapper{
                                .btn-wrapper{
                                    text-align: center;
                                    margin-top: 15px;
                                    margin-bottom: 20px;
                                    .add-form-btn{
                                        background-color: transparent;
                                        border: 1px solid $greenColor;
                                        color: $contentColor;
                                        padding: 7px 20px;
                                        border-radius: 20px;
                                        font-size: 1.5rem;
                                        &:focus{
                                            outline: none;
                                        }
                                        &:hover{
                                            background-color: $greenColor;
                                            color: white;
                                        }
                                    }
                                }
                            }
                            .form-fields-wrapper{
                                margin-bottom: 20px;
                                .form-fields-title-wrapper{
                                    margin-bottom: 15px;
                                    .form-fields-title{
                                        font-size: 2.5rem;
                                        font-weight: bold;
                                    }
                                    .preview-form-link{
                                        color: $contentColor;
                                        text-decoration: none;
                                    }
                                }
                                .form-fiels-container{
                                    border: 1px dashed $lightGrey;
                                    border-radius: 10px;
                                    min-height: 101px;
                                    padding: 20px;
                                    .form-field-item{
                                        margin-bottom: 10px;
                                        .item-action{
                                            display: block;
                                            line-height: 0;
                                            svg{
                                                width: 30px;
                                                height: 30px;
                                                g, path {
                                                    fill: $lightGrey;
                                                }
                                            }
                                            &:hover{
                                                svg{
                                                    g, path {
                                                        fill: $contentColor;
                                                    }
                                                }
                                                &.edit-action {
                                                    border-color: $contentColor;
                                                }
                                            }
                                        }
                                        .append-action{
                                            cursor: pointer;
                                            font-size: 1.5rem;
                                            font-weight: bold;
                                            font-style: italic;
                                            width: 30px;
                                            height: 30px;
                                            border: 1px solid $lightGrey;
                                            border-radius: 50%;
                                            &:hover{
                                                background-color: $lightGrey;
                                                color: white;
                                            }
                                        }
                                        .item-name-input.form-control{
                                            padding-left: 0px;
                                            border: none;
                                            border-bottom: 1px solid #e9ebdd;
                                            box-shadow: none;
                                            border-radius: 0px;
                                            font-size: 1.5rem;
                                            &::placeholder{
                                                color: $lightGrey;
                                            }
                                            &[name="strSeries_title"]{
                                                max-width: 385px;
                                            }
                                        }
                                        .field-item-type-wrapper{
                                            line-height: 0;
                                            .checkbox-icon, .text-icon{
                                                display: none;
                                                width: 30px;
                                                height: 30px;
                                                vertical-align: middle;
                                                opacity: .5;
                                            }
                                        }
                                        &.field-type-checkbox{
                                            .field-item-type-wrapper{
                                                .checkbox-icon{
                                                    display: inline;
                                                }
                                            }
                                        }
                                        &.field-type-text{
                                            .field-item-type-wrapper{
                                                .text-icon{
                                                    display: inline;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    form{
                        .form-group{
                            label.control-label{
                                display: block;
                                position: relative;
                                padding: 7px 15px 0px 0px;
                                font-weight: normal;
                                font-size: 1.5rem;
                                &.required:after {
                                    content: "*";
                                    position: absolute;
                                    top: 0px;
                                    right: 0px;
                                    color: $redColor;
                                }
                                &.margin-bottom{
                                    margin-bottom: 10px;
                                }
                                &.margin-bottom-2{
                                    margin-bottom: 15px;
                                }
                            }
                            input{
                                padding-left: 0px;
                                border: none;
                                border-bottom: 1px solid $lightGrey;
                                box-shadow: none;
                                border-radius: 0px;
                                font-size: 1.5rem;
                                &::placeholder{
                                    color: $lightGrey;
                                }
                                &[name="strSeries_title"]{
                                    max-width: 385px;
                                }
                            }
                            .dropdown{
                                display: block;
                                button{
                                    display: block;
                                    width: 100%;
                                    text-align: left;
                                    background-color: transparent;
                                    color: inherit;
                                    border-radius: 9px;
                                    span{
                                        display: inline-block;
                                        width: calc(100% - 20px);
                                        color: inherit;
                                        text-align: left;
                                    }
                                    svg{
                                        width: 15px;
                                        vertical-align: middle;
                                        g, path{
                                            fill: $lightGrey;
                                        }
                                    }
                                    &:focus{
                                        outline: none;
                                    }
                                }
                                ul{
                                    width: 100%;
                                    min-width: 0px;
                                    margin-top: 0px;
                                    border-top: 0px;
                                    border-radius: 9px;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;
                                    background-color: #f6fffc;
                                    li{
                                        a{
                                            color: inherit;
                                            &:hover{
                                                background-color: $contentColor;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                                &.open{
                                    button{
                                        border-bottom-left-radius: 0px;
                                        border-bottom-right-radius: 0px;
                                    }
                                }
                            }
                            .cover-image-wrapper{
                                margin: 10px 0px;
                                padding: 50px 20px;
                                text-align: center;
                                position: relative;
                                border: 1px dashed $lightGrey;
                                border-radius: 20px;
                                color: $lightGrey;
                                .img-wrapper{
                                    img{
                                        max-width: 80px;
                                        opacity: .3;
                                    }
                                }
                                input{
                                    position: absolute;
                                    display: block;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                            }
                            .terms-container{
                                min-height: 30px;
                                .term-item{

                                }
                            }
                        }
                        .button-wrapper{
                            margin-top: 70px;
                            text-align: center;
                            .save-btn{
                                background-color: $greenColor;
                                border: none;
                                outline: none;
                                color: white;
                                display: block;
                                width: 290px;
                                margin: 0px auto;
                                text-align: center;
                                padding: 12px 5px;
                                border-radius: 30px;
                                font-size: 2rem;
                                font-weight: lighter;
                                &:hover{
                                    background-color: $greenHover;
                                }
                                &.small{
                                    display: inline-block;
                                    width: auto;
                                    padding: 10px 30px;
                                    font-size: 1.5rem;
                                }
                            }
                            .preview-post{
                                display: inline-block;
                                margin-top: 5px;
                                color: $contentColor;
                                text-decoration: none;
                                padding-bottom: 1px;
                                &:hover{
                                    color: black;
                                }
                            }
                        }
                    }
                    .note-editor{
                        .note-toolbar-wrapper{
                            height: auto !important;
                            position: static !important;
                            .note-toolbar{
                                height: auto !important;
                                position: static !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
