.post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper {
  width: 300px; }
  .post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper .control-label {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 0px; }
  .post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper .dropdown {
    display: block; }
    .post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper .dropdown button {
      display: block;
      width: 100%;
      text-align: left;
      background-color: transparent;
      color: inherit;
      border-radius: 9px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper .dropdown button span {
        display: inline-block;
        width: calc(100% - 20px);
        color: inherit;
        text-align: left; }
      .post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper .dropdown button svg {
        width: 15px;
        vertical-align: middle; }
        .post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper .dropdown button svg g, .post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper .dropdown button svg path {
          fill: #c8cabc; }
      .post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper .dropdown button:focus {
        outline: none; }
    .post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper .dropdown ul {
      width: 100%;
      min-width: 0px;
      margin-top: 0px;
      border-top: 0px;
      border-radius: 9px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background-color: #f6fffc; }
      .post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper .dropdown ul li a {
        color: inherit; }
        .post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper .dropdown ul li a:hover {
          background-color: #737661;
          color: white; }
    .post-creator-component .modal-dialog .modal-content .modal-body .select-type-wrapper .dropdown.open button {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px; }
.post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content {
  width: 700px;
  max-width: 100%;
  margin: 0px auto;
  padding: 30px 0px; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form {
    display: block;
    width: 100%; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group label.control-label {
      display: block;
      position: relative;
      padding: 7px 15px 0px 0px;
      font-weight: normal;
      font-size: 1.5rem; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group label.control-label.required:after {
        content: "*";
        position: absolute;
        top: 0px;
        right: 0px;
        color: #f26d7e; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group label.control-label.margin-bottom {
        margin-bottom: 10px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group label.control-label.margin-bottom-2 {
        margin-bottom: 15px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group input {
      padding-left: 0px;
      border: none;
      border-bottom: 1px solid #c8cabc;
      box-shadow: none;
      border-radius: 0px;
      font-size: 1.5rem; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group input::placeholder {
        color: #c8cabc; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group input[name="strSeries_title"] {
        max-width: 385px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .dropdown {
      display: block; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .dropdown button {
        display: block;
        width: 100%;
        text-align: left;
        background-color: transparent;
        color: inherit;
        border-radius: 9px; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .dropdown button span {
          display: inline-block;
          width: calc(100% - 20px);
          color: inherit;
          text-align: left; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .dropdown button svg {
          width: 15px;
          vertical-align: middle; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .dropdown button svg g, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .dropdown button svg path {
            fill: #c8cabc; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .dropdown button:focus {
          outline: none; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .dropdown ul {
        width: 100%;
        min-width: 0px;
        margin-top: 0px;
        border-top: 0px;
        border-radius: 9px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: #f6fffc; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .dropdown ul li a {
          color: inherit; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .dropdown ul li a:hover {
            background-color: #737661;
            color: white; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .dropdown.open button {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .cover-image-wrapper {
      margin: 10px 0px;
      padding: 50px 20px;
      text-align: center;
      position: relative;
      border: 1px dashed #c8cabc;
      border-radius: 20px;
      color: #c8cabc; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .cover-image-wrapper .img-wrapper img {
        max-width: 80px;
        opacity: .3; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .cover-image-wrapper input {
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-group .terms-container {
      min-height: 30px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .button-wrapper {
      margin-top: 70px;
      text-align: center; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .button-wrapper .save-btn {
        background-color: #1fcd98;
        border: none;
        outline: none;
        color: white;
        display: block;
        width: 290px;
        margin: 0px auto;
        text-align: center;
        padding: 12px 5px;
        border-radius: 30px;
        font-size: 2rem;
        font-weight: lighter; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .button-wrapper .save-btn:hover {
          background-color: #1eb785; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .button-wrapper .save-btn.small {
          display: inline-block;
          width: auto;
          padding: 10px 30px;
          font-size: 1.5rem; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .button-wrapper .preview-post {
        display: inline-block;
        margin-top: 5px;
        color: #737661;
        text-decoration: none;
        padding-bottom: 1px; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .button-wrapper .preview-post:hover {
          color: black; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .note-editor .note-toolbar-wrapper {
      height: auto !important; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .terms-container .term-item {
      font-size: 1.5rem; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .posts-tree-field {
      display: none; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .forms-list-component {
      display: none; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .posts-tree-wrapper {
      padding: 10px 0;
      border: 1px solid #c8cabc;
      border-radius: 5px;
      background-color: #fdfdfd;
      max-height: 400px;
      overflow: auto;
      margin-bottom: 20px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .posts-tree-wrapper::-webkit-scrollbar {
        width: 8px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .posts-tree-wrapper::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .posts-tree-wrapper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #cacac0; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container {
      border: 1px dashed #c8cabc;
      border-radius: 10px;
      min-height: 101px;
      padding: 20px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item {
        margin-bottom: 10px; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .item-action {
          display: block;
          line-height: 0; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .item-action svg {
            width: 30px;
            height: 30px; }
            .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .item-action svg g, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .item-action svg path {
              fill: #c8cabc; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .item-action:hover svg g, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .item-action:hover svg path {
            fill: #737661; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .item-action:hover.edit-action {
            border-color: #737661; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .append-action {
          cursor: pointer;
          font-size: 1.5rem;
          font-weight: bold;
          font-style: italic;
          width: 30px;
          height: 30px;
          border: 1px solid #c8cabc;
          border-radius: 50%; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .append-action:hover {
            background-color: #c8cabc;
            color: white; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .item-name-input.form-control {
          padding-left: 0px;
          border: none;
          border-bottom: 1px solid #e9ebdd;
          box-shadow: none;
          border-radius: 0px;
          font-size: 1.5rem; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .item-name-input.form-control::placeholder {
            color: #c8cabc; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .item-name-input.form-control[name="strSeries_title"] {
            max-width: 385px; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .field-item-type-wrapper {
          line-height: 0; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .field-item-type-wrapper .checkbox-icon, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item .field-item-type-wrapper .text-icon {
            display: none;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            opacity: .5; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item.field-type-checkbox .field-item-type-wrapper .checkbox-icon {
          display: inline; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form .form-fiels-container .form-field-item.field-type-text .field-item-type-wrapper .text-icon {
          display: inline; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form[data-type="switch-to"] .post-body-group {
      display: none; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form[data-type="switch-to"] .posts-tree-field {
      display: block; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form[data-type="form"] .forms-list-component, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-normal form[data-type="7"] .forms-list-component {
      display: block; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .options-cnt-slider {
    width: 190px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .options-cnt-slider .control-label {
      margin-bottom: 25px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .options-cnt-slider .slider {
      width: 100%; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .options-cnt-slider .slider .slider-track .slider-selection {
        background-image: none;
        background-color: yellow;
        box-shadow: none;
        box-sizing: border-box;
        border: 1px solid #cccccc; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .options-cnt-slider .slider .slider-track .slider-track-high {
        background-color: white;
        box-shadow: none;
        box-sizing: border-box;
        border: 1px solid #cccccc; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .options-cnt-slider .slider .slider-handle {
        width: 10px;
        margin-left: -5px;
        border-radius: 5px;
        background-color: #ccc;
        background-image: none; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form textarea.form-control {
    resize: none; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .cover-image-wrapper {
    width: 230px;
    margin: 10px auto 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    border: 1px dashed grey;
    border-radius: 20px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .cover-image-wrapper .img-wrapper {
      margin-bottom: 25px;
      padding: 0px 0px 15px;
      min-height: 70px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .cover-image-wrapper .img-wrapper img {
        width: 100px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .cover-image-wrapper .cloud-img-wrapper {
      margin-bottom: 15px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .cover-image-wrapper .cloud-img-wrapper img {
        width: 60px;
        opacity: .5; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .cover-image-wrapper input {
      position: absolute;
      display: block;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .cover-image-wrapper .delete-action {
      display: inline-block;
      position: absolute;
      top: 15px;
      right: 20px;
      border-radius: 50%;
      line-height: 0; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .cover-image-wrapper .delete-action svg {
        width: 20px;
        height: 20px;
        vertical-align: middle; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .cover-image-wrapper .delete-action svg g, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .cover-image-wrapper .delete-action svg path {
          fill: #1fcd98; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .cover-image-wrapper .delete-action:hover svg g, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .cover-image-wrapper .delete-action:hover svg path {
        fill: #1f9965; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-menu-decision form .options-container .option-item {
    margin-bottom: 10px; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-create-wrapper .type-select-row {
    margin-bottom: 15px; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-create-wrapper .choose-question-type-txt {
    padding: 7px 15px 0px 0px;
    font-weight: normal;
    font-size: 1.5rem; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-create-wrapper .type-choose-item {
    display: block;
    line-height: 0;
    opacity: .3; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-create-wrapper .type-choose-item svg {
      width: 40px;
      height: 40px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-create-wrapper .type-choose-item.active-item {
      opacity: 1; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-create-wrapper .type-choose-item:hover {
      opacity: .7; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-create-wrapper .or-txt {
    font-size: 1.5rem; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-create-wrapper .btn-wrapper {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-create-wrapper .btn-wrapper .add-form-btn {
      background-color: transparent;
      border: 1px solid #1fcd98;
      color: #737661;
      padding: 7px 20px;
      border-radius: 20px;
      font-size: 1.5rem; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-create-wrapper .btn-wrapper .add-form-btn:focus {
        outline: none; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-create-wrapper .btn-wrapper .add-form-btn:hover {
        background-color: #1fcd98;
        color: white; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper {
    margin-bottom: 20px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fields-title-wrapper {
      margin-bottom: 15px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fields-title-wrapper .form-fields-title {
        font-size: 2.5rem;
        font-weight: bold; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fields-title-wrapper .preview-form-link {
        color: #737661;
        text-decoration: none; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container {
      border: 1px dashed #c8cabc;
      border-radius: 10px;
      min-height: 101px;
      padding: 20px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item {
        margin-bottom: 10px; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .item-action {
          display: block;
          line-height: 0; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .item-action svg {
            width: 30px;
            height: 30px; }
            .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .item-action svg g, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .item-action svg path {
              fill: #c8cabc; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .item-action:hover svg g, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .item-action:hover svg path {
            fill: #737661; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .item-action:hover.edit-action {
            border-color: #737661; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .append-action {
          cursor: pointer;
          font-size: 1.5rem;
          font-weight: bold;
          font-style: italic;
          width: 30px;
          height: 30px;
          border: 1px solid #c8cabc;
          border-radius: 50%; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .append-action:hover {
            background-color: #c8cabc;
            color: white; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .item-name-input.form-control {
          padding-left: 0px;
          border: none;
          border-bottom: 1px solid #e9ebdd;
          box-shadow: none;
          border-radius: 0px;
          font-size: 1.5rem; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .item-name-input.form-control::placeholder {
            color: #c8cabc; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .item-name-input.form-control[name="strSeries_title"] {
            max-width: 385px; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .field-item-type-wrapper {
          line-height: 0; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .field-item-type-wrapper .checkbox-icon, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item .field-item-type-wrapper .text-icon {
            display: none;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            opacity: .5; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item.field-type-checkbox .field-item-type-wrapper .checkbox-icon {
          display: inline; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form form .form-fields-wrapper .form-fiels-container .form-field-item.field-type-text .field-item-type-wrapper .text-icon {
          display: inline; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-create-wrapper .btn-wrapper {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-create-wrapper .btn-wrapper .add-form-btn {
      background-color: transparent;
      border: 1px solid #1fcd98;
      color: #737661;
      padding: 7px 20px;
      border-radius: 20px;
      font-size: 1.5rem; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-create-wrapper .btn-wrapper .add-form-btn:focus {
        outline: none; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-create-wrapper .btn-wrapper .add-form-btn:hover {
        background-color: #1fcd98;
        color: white; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper {
    margin-bottom: 20px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fields-title-wrapper {
      margin-bottom: 15px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fields-title-wrapper .form-fields-title {
        font-size: 2.5rem;
        font-weight: bold; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fields-title-wrapper .preview-form-link {
        color: #737661;
        text-decoration: none; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container {
      border: 1px dashed #c8cabc;
      border-radius: 10px;
      min-height: 101px;
      padding: 20px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item {
        margin-bottom: 10px; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .item-action {
          display: block;
          line-height: 0; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .item-action svg {
            width: 30px;
            height: 30px; }
            .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .item-action svg g, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .item-action svg path {
              fill: #c8cabc; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .item-action:hover svg g, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .item-action:hover svg path {
            fill: #737661; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .item-action:hover.edit-action {
            border-color: #737661; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .append-action {
          cursor: pointer;
          font-size: 1.5rem;
          font-weight: bold;
          font-style: italic;
          width: 30px;
          height: 30px;
          border: 1px solid #c8cabc;
          border-radius: 50%; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .append-action:hover {
            background-color: #c8cabc;
            color: white; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .item-name-input.form-control {
          padding-left: 0px;
          border: none;
          border-bottom: 1px solid #e9ebdd;
          box-shadow: none;
          border-radius: 0px;
          font-size: 1.5rem; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .item-name-input.form-control::placeholder {
            color: #c8cabc; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .item-name-input.form-control[name="strSeries_title"] {
            max-width: 385px; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .field-item-type-wrapper {
          line-height: 0; }
          .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .field-item-type-wrapper .checkbox-icon, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item .field-item-type-wrapper .text-icon {
            display: none;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            opacity: .5; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item.field-type-checkbox .field-item-type-wrapper .checkbox-icon {
          display: inline; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .create-with-form-loop form .form-fields-wrapper .form-fiels-container .form-field-item.field-type-text .field-item-type-wrapper .text-icon {
          display: inline; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group label.control-label {
    display: block;
    position: relative;
    padding: 7px 15px 0px 0px;
    font-weight: normal;
    font-size: 1.5rem; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group label.control-label.required:after {
      content: "*";
      position: absolute;
      top: 0px;
      right: 0px;
      color: #f26d7e; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group label.control-label.margin-bottom {
      margin-bottom: 10px; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group label.control-label.margin-bottom-2 {
      margin-bottom: 15px; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group input {
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid #c8cabc;
    box-shadow: none;
    border-radius: 0px;
    font-size: 1.5rem; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group input::placeholder {
      color: #c8cabc; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group input[name="strSeries_title"] {
      max-width: 385px; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .dropdown {
    display: block; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .dropdown button {
      display: block;
      width: 100%;
      text-align: left;
      background-color: transparent;
      color: inherit;
      border-radius: 9px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .dropdown button span {
        display: inline-block;
        width: calc(100% - 20px);
        color: inherit;
        text-align: left; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .dropdown button svg {
        width: 15px;
        vertical-align: middle; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .dropdown button svg g, .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .dropdown button svg path {
          fill: #c8cabc; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .dropdown button:focus {
        outline: none; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .dropdown ul {
      width: 100%;
      min-width: 0px;
      margin-top: 0px;
      border-top: 0px;
      border-radius: 9px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background-color: #f6fffc; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .dropdown ul li a {
        color: inherit; }
        .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .dropdown ul li a:hover {
          background-color: #737661;
          color: white; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .dropdown.open button {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .cover-image-wrapper {
    margin: 10px 0px;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    border: 1px dashed #c8cabc;
    border-radius: 20px;
    color: #c8cabc; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .cover-image-wrapper .img-wrapper img {
      max-width: 80px;
      opacity: .3; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .cover-image-wrapper input {
      position: absolute;
      display: block;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .form-group .terms-container {
    min-height: 30px; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .button-wrapper {
    margin-top: 70px;
    text-align: center; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .button-wrapper .save-btn {
      background-color: #1fcd98;
      border: none;
      outline: none;
      color: white;
      display: block;
      width: 290px;
      margin: 0px auto;
      text-align: center;
      padding: 12px 5px;
      border-radius: 30px;
      font-size: 2rem;
      font-weight: lighter; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .button-wrapper .save-btn:hover {
        background-color: #1eb785; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .button-wrapper .save-btn.small {
        display: inline-block;
        width: auto;
        padding: 10px 30px;
        font-size: 1.5rem; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .button-wrapper .preview-post {
      display: inline-block;
      margin-top: 5px;
      color: #737661;
      text-decoration: none;
      padding-bottom: 1px; }
      .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content form .button-wrapper .preview-post:hover {
        color: black; }
  .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .note-editor .note-toolbar-wrapper {
    height: auto !important;
    position: static !important; }
    .post-creator-component .modal-dialog .modal-content .modal-body .post-creator-content .note-editor .note-toolbar-wrapper .note-toolbar {
      height: auto !important;
      position: static !important; }

/*# sourceMappingURL=PostCreator.css.map */
