.series-structure-tree-component {
  position: relative;
  padding: 20px 0px; }
  .series-structure-tree-component ul.posts-list {
    list-style: none;
    margin: 10px;
    position: relative;
    overflow: hidden;
    padding-left: 40px; }
    .series-structure-tree-component ul.posts-list > li.jstree-node, .series-structure-tree-component ul.posts-list li.ui-sortable-helper {
      margin: 0px;
      margin-left: 0px;
      font-size: 1.5rem;
      width: 100%;
      display: list-item; }
      .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner {
        padding: 15px 5px 15px 0px; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .jstree-icon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .jstree-icon {
          background-image: url(../../images/global-icons/tree/32px-type2.png); }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .jstree-ocl, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .jstree-ocl {
          background-position: -96px 0; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .drag-icon-wrapper, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .drag-icon-wrapper {
          flex-basis: 50px;
          text-align: center;
          opacity: 1; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .drag-icon-wrapper img, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .drag-icon-wrapper img {
            cursor: move;
            display: none; }
            .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .drag-icon-wrapper img.type-post, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .drag-icon-wrapper img.type-post {
              width: 75px;
              height: 50px; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .media-icon-wrapper, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .media-icon-wrapper {
          margin-right: -5px;
          line-height: 0; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .media-icon-wrapper i.fa, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .media-icon-wrapper i.fa {
            display: none;
            vertical-align: middle; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .post-title, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .post-title {
          padding-left: 10px;
          flex-grow: 1;
          line-height: 32px;
          overflow: hidden;
          text-overflow: ellipsis; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions a, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions a {
          text-align: center;
          cursor: pointer;
          opacity: .5; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions a img, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions a img {
            width: 32px; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions a:hover, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions a:hover {
            opacity: .9; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions a.collapse-wrapper, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions a.collapse-wrapper {
            display: none; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col {
          display: none; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper {
            font-size: 20px; }
            .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch {
              position: relative;
              display: inline-block;
              width: 60px;
              height: 34px;
              margin-bottom: 0px;
              vertical-align: middle; }
              .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input {
                display: none; }
              .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:checked + .slider, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:checked + .slider {
                background-color: #6bc069;
                border-color: transparent; }
              .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:focus + .slider, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:focus + .slider {
                box-shadow: 0 0 1px #6bc069; }
              .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:checked + .slider:before, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px); }
              .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
                height: 32px; }
                .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider:before, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider:before {
                  position: absolute;
                  content: "";
                  height: 26px;
                  width: 26px;
                  left: 4px;
                  bottom: 3px;
                  background-color: white;
                  -webkit-transition: .4s;
                  transition: .4s; }
                .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider.round, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider.round {
                  border-radius: 34px; }
                  .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider.round:before, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider.round:before {
                    border-radius: 50%; }
            .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .charge-label, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .charge-label {
              color: #3fb4ff; }
            .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper > .fix-col:last-child, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper > .fix-col:last-child {
              line-height: 0; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.save-col, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.save-col {
          display: none; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.comeback-col, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.comeback-col {
          display: none; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.publish-col, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.publish-col {
          display: none; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.publish-col a img, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .flex-col.publish-col a img {
            display: none; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .item-action {
          display: block;
          line-height: 0; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action svg, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .item-action svg {
            width: 25px;
            height: 25px; }
            .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action svg g, .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action svg path, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .item-action svg g, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .item-action svg path {
              fill: #c8cabc; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action.edit-action, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .item-action.edit-action {
            display: flex;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid #c8cabc; }
            .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action.edit-action svg, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .item-action.edit-action svg {
              width: 12px;
              height: 12px; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action:hover svg g, .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action:hover svg path, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .item-action:hover svg g, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .item-action:hover svg path {
            fill: #737661; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action:hover.edit-action, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .item-action:hover.edit-action {
            border-color: #737661; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item {
          background-color: transparent;
          display: flex !important;
          line-height: 0;
          border-radius: 50%;
          border: 2px solid #1fcd98;
          height: 40px;
          width: 40px;
          box-sizing: border-box;
          justify-content: center;
          align-items: center;
          opacity: 1; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item svg, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item svg {
            width: 22px;
            max-height: 22px; }
            .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item svg g, .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item svg path, .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item svg polygon, .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item svg circle, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item svg g, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item svg path, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item svg polygon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item svg circle {
              fill: #1fcd98 !important; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item img, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item img {
            width: 22px;
            max-height: 22px; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item.share-action.shared, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item.share-action.shared {
            background-color: #1fcd98; }
            .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item.share-action.shared svg g, .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item.share-action.shared svg path, .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item.share-action.shared svg polygon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item.share-action.shared svg g, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item.share-action.shared svg path, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item.share-action.shared svg polygon {
              fill: white !important; }
          .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item:hover, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item:hover {
            border-color: #1eb785; }
            .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item:hover svg g, .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item:hover svg path, .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .actions .action-item:hover svg polygon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item:hover svg g, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item:hover svg path, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .actions .action-item:hover svg polygon {
              fill: #1eb785; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner:hover, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner:hover {
          background-color: rgba(255, 255, 255, 0.4); }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .d-type-none, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .d-type-none {
          display: none; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner.content-type-0 .media-icon-wrapper i.fa.audio-icon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner.content-type-0 .media-icon-wrapper i.fa.audio-icon {
          display: initial;
          vertical-align: middle; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner.content-type-2 .media-icon-wrapper i.fa.video-icon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner.content-type-2 .media-icon-wrapper i.fa.video-icon {
          display: initial;
          vertical-align: middle; }
        .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner.content-type-7 .media-icon-wrapper i.fa.text-icon, .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner.content-type-8 .media-icon-wrapper i.fa.text-icon, .series-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner.content-type-10 .media-icon-wrapper i.fa.text-icon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner.content-type-7 .media-icon-wrapper i.fa.text-icon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner.content-type-8 .media-icon-wrapper i.fa.text-icon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner.content-type-10 .media-icon-wrapper i.fa.text-icon {
          display: initial;
          vertical-align: middle; }
      .series-structure-tree-component ul.posts-list > li.jstree-node > ul, .series-structure-tree-component ul.posts-list li.ui-sortable-helper > ul {
        margin: 0px;
        display: block; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.appear, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.appear {
        animation-name: appearBlock;
        animation-duration: .5s;
        animation-fill-mode: forwards; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.disappear, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.disappear {
        animation-name: disappearBlock;
        animation-duration: .5s;
        animation-fill-mode: forwards; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-post > .post-row-inner .jstree-icon.jstree-ocl, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-post > .post-row-inner .jstree-icon.jstree-ocl {
        display: flex;
        align-items: center;
        justify-content: center; }
        .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-post > .post-row-inner .jstree-icon.jstree-ocl:before, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-post > .post-row-inner .jstree-icon.jstree-ocl:before {
          position: relative;
          content: '';
          display: block;
          width: 15px;
          height: 15px;
          background-color: #1fcd98;
          border-radius: 50%; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-post > .post-row-inner .expand-wrapper, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-post > .post-row-inner .expand-wrapper {
        display: none; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-post > .post-row-inner .drag-icon-wrapper img.type-post, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-post > .post-row-inner .drag-icon-wrapper img.type-post {
        display: initial; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-post > .post-row-inner .d-post-block, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-post > .post-row-inner .d-post-block {
        display: block; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-menu > .post-row-inner .drag-icon-wrapper img.type-menu, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-menu > .post-row-inner .drag-icon-wrapper img.type-menu {
        display: initial; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-menu > .post-row-inner .post-title, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-menu > .post-row-inner .post-title {
        font-weight: bold; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-menu > .post-row-inner .actions .flex-col.publish-col, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col {
        display: initial; }
        .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-menu > .post-row-inner .actions .flex-col.publish-col a, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
          opacity: 1; }
          .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
            display: initial; }
          .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
            opacity: .5; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
        opacity: .5; }
        .series-structure-tree-component ul.posts-list > li.jstree-node.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
          opacity: 1; }
        .series-structure-tree-component ul.posts-list > li.jstree-node.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
          display: none; }
        .series-structure-tree-component ul.posts-list > li.jstree-node.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.inactive-icon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.inactive-icon {
          display: initial; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-path > .post-row-inner .drag-icon-wrapper img.type-path, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-path > .post-row-inner .drag-icon-wrapper img.type-path {
        display: initial; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-path > .post-row-inner .post-title, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-path > .post-row-inner .post-title {
        font-weight: bold; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-path > .post-row-inner .actions .view-post, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-path > .post-row-inner .actions .view-post {
        display: none; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-root > .post-row-inner .drag-icon-wrapper img.type-root, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-root > .post-row-inner .drag-icon-wrapper img.type-root {
        display: initial; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.node-type-root > .post-row-inner .actions, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-root > .post-row-inner .actions {
        display: none; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.ui-sortable-placeholder.mjs-nestedSortable-error, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.ui-sortable-placeholder.mjs-nestedSortable-error {
        background-color: white;
        border-color: #f2dede;
        color: #f2dede;
        display: flex;
        align-items: center;
        width: 100%; }
        .series-structure-tree-component ul.posts-list > li.jstree-node.ui-sortable-placeholder.mjs-nestedSortable-error:before, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.ui-sortable-placeholder.mjs-nestedSortable-error:before {
          content: 'Invalid Position';
          position: static;
          padding-left: 20px; }
      .series-structure-tree-component ul.posts-list > li.jstree-node:last-child:not(.ui-sortable-placeholder), .series-structure-tree-component ul.posts-list li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder) {
        background: 0 0;
        display: list-item;
        position: relative; }
        .series-structure-tree-component ul.posts-list > li.jstree-node:last-child:not(.ui-sortable-placeholder):before, .series-structure-tree-component ul.posts-list li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder):before {
          content: '';
          position: absolute;
          display: block;
          top: 0px;
          left: 0px;
          width: 32px;
          height: 15px;
          background-image: url(../../images/global-icons/tree/32px-type2.png);
          background-position: -288px 0;
          background-repeat: no-repeat; }
        .series-structure-tree-component ul.posts-list > li.jstree-node:last-child:not(.ui-sortable-placeholder).node-type-post:before, .series-structure-tree-component ul.posts-list li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder).node-type-post:before {
          height: 23px; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.ui-sortable-placeholder, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.ui-sortable-placeholder {
        background-color: #fffa90; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.jstree-open > .post-row-inner .jstree-ocl, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.jstree-open > .post-row-inner .jstree-ocl {
        background-position: -128px 0; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.jstree-closed > .post-row-inner .jstree-ocl, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.jstree-closed > .post-row-inner .jstree-ocl {
        background-position: -96px 0; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.jstree-closed.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf), .series-structure-tree-component ul.posts-list li.ui-sortable-helper.jstree-closed.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf) {
        border: 1px dashed #cdc878; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.jstree-closed > ul, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.jstree-closed > ul {
        display: none; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.jstree-loading > .post-row-inner .jstree-ocl.jstree-icon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.jstree-loading > .post-row-inner .jstree-ocl.jstree-icon {
        background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat; }
      .series-structure-tree-component ul.posts-list > li.jstree-node.jstree-leaf > .post-row-inner .jstree-ocl.jstree-icon, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.jstree-leaf > .post-row-inner .jstree-ocl.jstree-icon {
        background-position: -64px 0; }
@keyframes focus-row {
  0% {
    background-color: #fffa90; }
  100% {
    background-color: rgba(255, 250, 144, 0.5); } }
      .series-structure-tree-component ul.posts-list > li.jstree-node.focus > .post-row-inner, .series-structure-tree-component ul.posts-list li.ui-sortable-helper.focus > .post-row-inner {
        animation-name: focus-row;
        animation-duration: .7s;
        animation-fill-mode: forwards; }
  .series-structure-tree-component > li.sample {
    display: none; }
  .series-structure-tree-component > ul.posts-list > li.jstree-node {
    background: 0 0;
    display: list-item;
    position: relative; }
    .series-structure-tree-component > ul.posts-list > li.jstree-node:before {
      content: '';
      position: absolute;
      display: block;
      top: 0px;
      left: 0px;
      width: 32px;
      height: 15px;
      background-image: url(../../images/global-icons/tree/32px-type2.png);
      background-position: -288px 0;
      background-repeat: no-repeat; }
  .series-structure-tree-component.charged ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col {
    display: initial; }
  .series-structure-tree-component.charged ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action {
    display: block;
    line-height: 0; }
    .series-structure-tree-component.charged ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action svg {
      width: 25px;
      height: 25px; }
      .series-structure-tree-component.charged ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action svg g, .series-structure-tree-component.charged ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action svg path {
        fill: #c8cabc; }
    .series-structure-tree-component.charged ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action.edit-action {
      display: flex;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid #c8cabc; }
      .series-structure-tree-component.charged ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action.edit-action svg {
        width: 12px;
        height: 12px; }
    .series-structure-tree-component.charged ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action:hover svg g, .series-structure-tree-component.charged ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action:hover svg path {
      fill: #737661; }
    .series-structure-tree-component.charged ul.posts-list > li.jstree-node > .post-row-inner .actions .item-action:hover.edit-action {
      border-color: #737661; }
  .series-structure-tree-component .display-mode-none {
    display: none !important; }
  .series-structure-tree-component.mode-edit .display-mode-edit-none {
    display: none !important; }
  .series-structure-tree-component.mode-edit .display-mode-edit-block {
    display: block !important; }
  .series-structure-tree-component.mode-default .display-mode-default-none {
    display: none !important; }
  .series-structure-tree-component.mode-default .display-mode-default-block {
    display: block !important; }
  .series-structure-tree-component.mode-share .display-mode-share-none {
    display: none !important; }
  .series-structure-tree-component.mode-share .display-mode-share-block {
    display: block !important; }
@keyframes appearBlock {
  0% {
    opacity: 0;
    background-color: #fffa90; }
  100% {
    opacity: 1;
    background-color: rgba(255, 250, 144, 0.5); } }
@keyframes disappearBlock {
  0% {
    opacity: 1;
    background-color: #fffa90; }
  100% {
    opacity: 0;
    background-color: rgba(255, 250, 144, 0.5); } }

/*# sourceMappingURL=SeriesStructureTree.css.map */
