<div class="component embed-editor">
    <header class="editor-header">
        <div class="flex-row">
            <div class="flex-col">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#html-tab" role="tab" data-toggle="tab">HTML</a></li>
                    <li><a href="#css-tab" role="tab" data-toggle="tab">CSS</a></li>
                    <li><a href="#js-tab" role="tab" data-toggle="tab">JAVASCRIPT</a></li>
                </ul>
            </div>
            <div class="flex-col fix-col">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="javascript:;" class="toggle-preview">PREVIEW</a></li>
                    <li class=""><a href="javascript:;" class="toggle-total-embed">Embed Code</a></li>
                </ul>
            </div>
        </div>
        <aside class="copy-msg">
            <div class="alert alert-info">
                <strong>Click</strong> to <strong>copy</strong> this embed code
            </div>
            <div class="alert alert-success">
                <strong>Copied!</strong> paste on your website.
            </div>
        </aside>
    </header>
    <div class="editor-content">
        <div class="flex-row cols-same">
            <div class="flex-col edit-col">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="html-tab">
                        <div id="html-editor" class="editor-item"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="css-tab">
                        <div id="css-editor" class="editor-item"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="js-tab">
                        <div id="js-editor" class="editor-item"></div>
                    </div>
                </div>
            </div>
            <div class="flex-col">
                <div id="embed-editor-preview" class="editor-item"></div>
                <div id="embed-total-code" class="editor-item" hidden></div>
            </div>
        </div>
    </div>
</div>