.embed-editor{
  border: 1px solid #555555;
  header {
    background-color: #3d3d3e;
    padding: 7px 7px 5px;
    position: relative;
    z-index: 2;
    ul.nav-tabs{
      border-bottom: none;
      li{
        a{
          background-color: #666666;
          color: white;
          border: none;
          &:hover{
            opacity: .9;
          }
          &:focus{
            color: white;
          }
        }
        &.active{
          a{
            background-color: #888888;
            border: none;
            box-shadow: inset 0px 3px #dddddd;
            &:hover{
              color: white;
            }
          }
        }
      }
    }
    .copy-msg{
      display: none;
      position: absolute;
      top: 100%;
      right: 20px;
      color: red;
      z-index: 7;
      .alert {
        position: relative;
        margin-bottom: 0px;
        cursor: pointer;
      }
      &.active{
        display: block;
        .alert.alert-success{
          display: none;
        }
        .alert.alert-info{
          opacity: 0;
          animation-name: copyAppear;
          animation-delay: .1s;
          animation-duration: .3s;
          animation-fill-mode: forwards;
        }
      }
      &.copied{
        .alert.alert-info{
          display: none;
        }
        .alert.alert-success{
          display: block;
          animation-name: copyDisappear;
          animation-delay: 1s;
          animation-duration: .3s;
          animation-fill-mode: forwards;

        }
      }
      @keyframes copyAppear {
        0% {
          opacity: .5;
          top: 10px;
        }
        100%{
          opacity: 1;
          top: 0px;
        }
      }
      @keyframes copyDisappear {
        0% {
          opacity: 1;
        }
        100%{
          opacity: 0;
        }
      }
    }
  }
  .editor-content{
    .editor-item{
      height: 400px;
      overflow: auto;
    }
  }
}