.embed-editor {
  border: 1px solid #555555; }
  .embed-editor header {
    background-color: #3d3d3e;
    padding: 7px 7px 5px;
    position: relative;
    z-index: 2; }
    .embed-editor header ul.nav-tabs {
      border-bottom: none; }
      .embed-editor header ul.nav-tabs li a {
        background-color: #666666;
        color: white;
        border: none; }
        .embed-editor header ul.nav-tabs li a:hover {
          opacity: .9; }
        .embed-editor header ul.nav-tabs li a:focus {
          color: white; }
      .embed-editor header ul.nav-tabs li.active a {
        background-color: #888888;
        border: none;
        box-shadow: inset 0px 3px #dddddd; }
        .embed-editor header ul.nav-tabs li.active a:hover {
          color: white; }
    .embed-editor header .copy-msg {
      display: none;
      position: absolute;
      top: 100%;
      right: 20px;
      color: red;
      z-index: 7; }
      .embed-editor header .copy-msg .alert {
        position: relative;
        margin-bottom: 0px;
        cursor: pointer; }
      .embed-editor header .copy-msg.active {
        display: block; }
        .embed-editor header .copy-msg.active .alert.alert-success {
          display: none; }
        .embed-editor header .copy-msg.active .alert.alert-info {
          opacity: 0;
          animation-name: copyAppear;
          animation-delay: .1s;
          animation-duration: .3s;
          animation-fill-mode: forwards; }
      .embed-editor header .copy-msg.copied .alert.alert-info {
        display: none; }
      .embed-editor header .copy-msg.copied .alert.alert-success {
        display: block;
        animation-name: copyDisappear;
        animation-delay: 1s;
        animation-duration: .3s;
        animation-fill-mode: forwards; }
@keyframes copyAppear {
  0% {
    opacity: .5;
    top: 10px; }
  100% {
    opacity: 1;
    top: 0px; } }
@keyframes copyDisappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .embed-editor .editor-content .editor-item {
    height: 400px;
    overflow: auto; }

/*# sourceMappingURL=EmbedEditor.css.map */
