@media screen and (min-width: 0px) and (max-width: 600px) {
    .inputed_footer{
      padding: 0;
    }
    .footer_inline{
      display: block;
      width: 100%;
    }

    .footer_end{
      height: 750px;
    }

    .subcontent_container .texted{
      padding: 25px!important;
      padding-top: 0!important;
      padding-right: 15!important;
    }
    .header .text_container .title{
      font-size: 25px;
    }
    .header .text_container .subtitle{
      font-size: 15px;
    }

    .slider .slider_item{
      height: 370px;
    }
}
