body {
    padding: 0;
    background: white;
    margin: 0;
}

.main_row {
    margin: auto;
    width: 100%;
}

.category_content {
    width: 100%;
    height: 100vh;
}

.category_content .insider {
    width: calc(100% - 80px);
    position: relative;
    max-width: 1280px;
    margin: auto;
    transform: translateY(-50%);
    height: 80vh;
    top: 50%;
    box-sizing: border-box;
    min-height: 768px;
    padding: 20px 60px;
}

.category_content .insider .top_line {
    width: calc(100% - 40px);
    height: 2px;
    background: black;
    position: absolute;
    top: 20px;
    left: 20px;
}

.category_content .insider .bottom_line {
    width: 400px;
    height: 2px;
    background: black;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.category_content .insider .right_line {
    width: 2px;
    height: 400px;
    background: black;
    position: absolute;
    bottom: 21px;
    right: 20px;
}

.category_content .insider .left_line {
    width: 2px;
    height: 400px;
    background: black;
    position: absolute;
    top: 21px;
    left: 20px;
}

.category_content .insider .rectangle {
    width: 60px;
    height: 60px;
    background: black;
    position: absolute;
}

.category_content .insider .big_rectangle {
    font-family: "EB Garamond", sans-serif;
    width: 280px;
    background: #7b7b7b;
    height: 135px;
    position: absolute;
    top: -25px;
    color: white;
    padding: 15px;
    font-size: 22px;
    left: -60px;
}

.column {
    position: relative;
    max-width: 250px;
    width: 100%;
    //margin-right: 29px;
   // float: right;
}

.header_button {
    background: white;
    border: 2px solid black;
    box-sizing: border-box;
    width: 100%;
    max-width: 180px;
    text-align: center;
    position: relative;
    top: -25px;
    margin: auto;
    font-size: 25px;
    padding: 5px 15px;
    color: rgb(225, 226, 230);
    box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.55) inset;
    transition: 0.5s ease all;
}

.active {
    color: black;
    box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.0) inset;
}

.first_column {
    position: relative;
    z-index: 20;
    top: 40px;
    height: 90%;
    left: -30px;
    width: 280px;
}

.category_column {
    width: 100%;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
    border: 0px solid rgba(0, 0, 0, 0.15);
    height: 95%;
}

.first_column_image {
    height: 50%;
    object-fit: cover;
    width: 100%;
}

.first_column_data {
    background: black;
    position: relative;
    height: 50%;
    margin-top: -1px;
    width: 100%;
}

.header_first_column {
    color: white;
    width: 100%;
    font-family: "EB Garamond", sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 100;
}

.header_first_quotes {
    font-weight: 500;
    //line-height: 145px;
    font-family: "EB Garamond", sans-serif;
    font-size: 75px;
    position: absolute;
    top: 20px;
    left: 15px;
    color: #404040;
}

.author {
    font-family: "EB Garamond", sans-serif;
    text-align: right;
    padding-top: 10px;
    color: #666666;
    font-size: 17px;
}

.header_first_text {
    padding: 40px;
    padding-top: 30px;
   
    text-align: left;
    font-size: 15px;
    font-family:"EB Garamond", sans-serif;
    font-weight: 100;
    color: white;
}

.header_first_button {
    font-size: 17px;
    width: 210px;
    margin: auto;
    text-align: center;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    padding: 5px 12px;
    box-sizing: border-box;
}

.like_heart {
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.column_object {
	border-bottom: 1px solid rgba(200, 200, 200, .5);
	
	padding-bottom:25px;
    margin-bottom: 20px;
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.20);
    position: relative;
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
}

.object_image {
    width: 100%;
    object-fit: cover;
}

.object_title {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-left:8px;
    padding-right:8px;
    font-family: "EB Garamond", sans-serif;
    text-align: center;
}

.object_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: rgb(200, 200, 200);
}

.column_overflow {
    height: 90%;
    overflow-y: scroll;
}

.column_overflow::-webkit-scrollbar {
    width: 10px;
}

.column_overflow::-webkit-scrollbar-track {
    background: transparent;
}

.column_overflow::-webkit-scrollbar-thumb {
    background-color: white;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
    border: 0px solid rgba(0, 0, 0, 0.15);
}

.menu {
    padding-top: 22px;
    padding-bottom:12px;
    width: 100%;
    background-color:#fff;
    //max-width: 1355px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    border-bottom: 2px solid silver;
}

.menu .left_part {
    font-size: 25px;
    text-align: left;
    padding-left: 10px;
    margin-top:-12px;
}


.menu .center_part {
    font-size: 18px;
    text-align: center;
    color:white;
    font-family:"EB Garamond", sans-serif;
    padding-left: 10px;
    //margin-top:-12px;
}

.menu .right_part {
    text-align: right;
    padding-right: 20px;
}

.humburger_button {
    cursor: pointer;
    font-size: 28px;
}

.search_input {
    box-sizing: border-box;
    padding-right: 25px;
    font-weight: 600;
    padding-left: 5px;
    position: relative;
    outline: none;
    width: 100%;
    height: 30px;
    max-width: 250px;
    margin-right: 10px;
    top: -5px;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.25);
}

.seatch_icon {
    font-size: 19px;
    position: absolute;
    top: 0;
    right: 15px;
}

.parent_column {
    height: 100%;
}

.project_rows {
    height: 100%;
}

.category_rows {
    height: 100%;
}

.object_description {
    //display: none;
    text-align: center;
}

.object_button {
    //display: none;
     display: block;
        width: 100%;
        max-width: 100px;
        font-size: 10px;
        border: 1px solid black;
        color: black;
        padding: 8px 10px;
        box-sizing: border-box;
        text-align: center;
        margin: auto;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 0px;
        font-weight: bold;
}

.drop_down {
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
}

.footer {
    margin: 0;
    margin-top: -25px;
    background: black;
    width: 100%;
    
    color: white;
    font-size: 18px;
    font-family: "EB Garamond", sans-serif;
    min-height: 90px;
}

.footer_wrapper {
    width: 100%;
    padding-top: 0;
    max-width: 1337px;
    margin: auto;
}

.footer_button {
    display: inline-block;
    margin: 2px 17px;
    cursor: pointer;
}

.footer_button:hover {
    text-decoration: underline;
}

.lefter {
    text-align: left;
}

.righter {
    text-align: right;
}

.centerer {
    text-align: center;
}

.fixed_button {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background: black;
}

.fixed_b {
    box-sizing: border-box;
    border: 1px solid white;
    color: white;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 5px 15px;
    font-weight: 400;
    font-size: 15px;
    max-width: 140px;
}

.events{
  position: relative;
  font-family: "EB Garamond", sans-serif;
  margin-top: 65px;
  height: 55px;
  line-height: 55px;
  padding-left: 15px;
  font-size: 25px;
  display: none;
  background: black;
  color: white;
}

.popup_new{
  width: 100%;
  max-width: 650px;
  padding: 0;
}

.popup_left{
  float: left;
  box-sizing: border-box;
  display: inline-block;
  width: 150px;
  background-image: url('../img/settings.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.popup_right{
  float: left;
  box-sizing: border-box;
  display: inline-block;
  width: calc(100% - 150px);
  height: 100%;
}

.popup_title{
  color:white;
  font-size: 25px;
  text-align: center;
  margin-top: 25px;
}
.popup_head{
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 10px;
}

.checkbox{
  margin-top: 0px;
  float: right;
  cursor: pointer;
  padding: 2px;
  border: 2px solid rgb(225, 226, 230);
  color:rgb(225, 226, 230);
  display: inline-block;
  user-select:none;
  transition: all .0s ease;
}

.checkbox_item{
  text-align: center;
  font-size: 16px;
  width: 20px;
}

.checked{
  color:black!important;
  border-color:black!important;
}

.check_false{
  opacity: 1;
  transition: all .0s ease;
}
.check_true{
  opacity: 0;
  transition: all .0s ease;
}

.checked  .check_false{
  opacity: 0;
}

.checked  .check_true{
  opacity: 1;
}

.check_box_description{
  height: 28px;
  color: rgba(0,0,0,0.45);
  display: inline-block;
  font-weight: 600;
  margin-right: 20px;
  line-height: 28px;
}

.checkbox_element{
  margin: 5px 0;
}
.button_place{
  margin-top: 30px;
  width: 100%;
  text-align: right;
}

.header_button{
  max-width: 120px;
  font-size: 16px;
  margin-top:6px;
}
