body {
    margin: 0;
}

.header {
    margin-top: 170px;
    width: 100%;
    background: white;
    opacity: 1;
    bottom: 0;
    position: relative;
}

.header .line_container {
    width: 100%;
    text-align: center;
}

.header .line_container .line {
    width: 51px;
    height: 51px;
}

.header .text_container {
    width: 100%;
    text-align: center;
}

.header .text_container .title {
    font-family: 'EB Garamond', sans-serif;
    ;
    font-style: normal;
    font-weight: 400;
    margin-top: 14px;
    line-height: 66px;
    font-size: 55px;
    letter-spacing: 10px;
    margin-bottom: 15px;
    color: #29293a;
}

.header .text_container .subtitle {
    font-family: 'Reem Kufi', sans-serif;
    ;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    font-size: 24px;
    letter-spacing: 8px;
    color: #adadb8;
}

.header .subtext {
    font-family: 'EB Garamond', sans-serif;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    font-size: 22px;
    opacity: 1;
    bottom: 0;
    position: relative;
    letter-spacing: 0px;
    color: #000;
    margin: auto;
    margin-top: 75px;
    max-width: 780px;
    
    width: 70%;
}


.slider {
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.slider .slider_item {
    width: 100%;
    height: 970px;
    object-fit: cover;
}

.subcontent_container {
    padding: 25px;
    font-family: 'Reem Kufi', sans-serif;
    padding-top: 100px;
    font-size: 19px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    color: #a1a1b7;
    background-color: #eeeeee;
    width: 100%;
}

.subcontent_container .wrapper {
    width: 100%;
    margin: auto;
    max-width: 1070px;
}

.subcontent_container .summary {
    font-family: 'EB Garamond', sans-serif;
    position: relative;
    opacity: 1;
    bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 49px;
    text-align: left;
    letter-spacing: 0px;
    padding-left: 22px;
    color: #333351;
}

.subcontent_container .texted {
    padding-left: 25px;
    font-family: 'Reem Kufi', sans-serif;
    font-style: normal;
    font-weight: 400;
    opacity: 1;
    bottom: 0;
    position: relative;
    line-height: 32px;
    font-size: 19px;
    letter-spacing: 0px;
}

.slider_title {
    text-align: left;
    font-family: 'Reem Kufi', sans-serif;
    ;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    font-size: 24px;
    letter-spacing: 0px;
    color: #6f6fcb;
}

.slider_text {
    padding: 25px;
    padding-left: 0px;
    font-family: 'Reem Kufi', sans-serif;
    ;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    font-size: 18px;
    letter-spacing: 0px;
    color: #9a9aa9;
}

.thumb {
    position: relative;
    bottom: 0;
    opacity: 1;
    padding-left: 25px;
}
.all_gal{
  opacity: 1;
  position: relative;
  bottom: 0;
}

.gal_image {
    object-fit: cover;
}

.gal_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(37, 38, 58, 0.7);
    transition: 0.7s ease all;
}

.gal_wrap:hover .gal_text {
    cursor: pointer;
    opacity: 1;
}

.gal_wrap:hover .top_line {
    width: calc(100% - 40px);
}

.gal_wrap:hover .bottom_line {
    width: calc(100% - 40px);
}

.gal_wrap:hover .left_line {
    height: calc(100% - 40px);
}

.gal_wrap:hover .right_line {
    height: calc(100% - 40px);
}

.gal_wrap:hover .gal_click {
    transform: scale(1);
}

.gal_click {
    font-family: 'Reem Kufi', sans-serif;
    position: absolute;
    top: calc(50% - 12px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 4px;
    color: #eeeeee;
    transform: scale(0.7);
    position: relative;
    transition: .6s ease all;
    width: 100%;
    text-align: center;
}

.top_line {
    background: #eeeeee;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    width: 1%;
    height: 1px;
    transition: .6s ease all;
}

.left_line {
    background: #eeeeee;
    margin: auto;
    position: absolute;
    left: 20px;
    transform: translateY(-50%);
    top: 50%;
    height: 1%;
    width: 1px;
    transition: .6s ease all;
}

.right_line {
    background: #eeeeee;
    margin: auto;
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    top: 50%;
    height: 1%;
    width: 1px;
    transition: .6s ease all;
}

.bottom_line {
    background: #eeeeee;
    margin: auto;
    position: absolute;
    transform: translateX(-50%);
    bottom: 20px;
    left: 50%;
    width: 1%;
    height: 1px;
    transition: .6s ease all;
}


.subtext{
  font-family: 'Reem Kufi',sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  font-size: 19px;
  letter-spacing: 0px;
  color: #a1a1b7;
  opacity: 1;
  position: relative;
  bottom: 0;
  margin: auto;
  margin-top: 75px;
  max-width: 780px;
  width: 100%;
}

.footer{
  width: 100%;
  background: white;
}
.inputed_footer{
  bottom: 0;
  width: 100%;
  padding-left: 85px;
  padding-right: 85px;
  margin: auto;
  margin-top: 95px;
  max-width: 1070px;
  opacity: 1;
  position: relative;
}

.inputed_container{
    text-align: center;
    padding: 25px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a1a1b7;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a1a1b7;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a1a1b7;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a1a1b7;
}

.labler{
  color: #a1a1b7;
  font-family: 'Reem Kufi',sans-serif;
  padding-left: 10px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #a1a1b7;
}

.inputed{
  font-family: 'Reem Kufi',sans-serif;
  border: none;
  width: 100%;
  padding-left: 10px;
  border-bottom: 2px solid rgb(227, 231, 234);
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #29293a;
  outline: none;
}

.textaread{
  background-color: #e2e8f3;
  border: none;
  outline: none;
  height: 150px;
  width: 100%;
  resize: none;
  font-family: 'Reem Kufi',sans-serif;
  border: none;
  width: 100%;
  padding-left: 10px;
  border-bottom: 2px solid rgb(227, 231, 234);
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #29293a;
}

.button{
  background-color: #6f6fcb;
  font-family: 'Reem Kufi';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 70px;
    letter-spacing: 4px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 300px;
    height: 70px;
    margin-top: 90px;
}

.button:hover{
  background-color: black;
}

.ended_1, .ended_2{
  font-family: 'EB Garamond',sans-serif;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  font-size: 21px;
  letter-spacing: 0.3px;
  color: #818194;
}

.ended_2{
  color: rgb(111, 111, 203);
  outline: none;
}

.footer_end{
  min-height: 150px;
  width: 100%;
  font-family: "EB Garamond",sans-serif;
  background-color: #000000;
  border-top:2px solid silver;
}

.footer_container{
  width: 100%;
  padding: 25px;
  margin: auto;
  color: #ffffff;
}

.footer_wrapper{
  width: 100%;
  padding-top: 55px;
  max-width: 670px;
  margin: auto;
}

.footer_inline{
  display: inline-block;
  float: left;
  width: 20%;
  text-align: center;
  color: #29293a;
  line-height: 100px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  font-weight: 600;
  cursor: pointer;
}

.footer_inline:hover{
  color: #6f6fcb;
}

.social{
  margin-top: 15px;
  color: #797485;
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

.social:hover{
  color: #6f6fcb;
}

.last_message{
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Reem Kufi';
  line-height: 90px;
  letter-spacing: 1px;
  color: #818194;
  position: relative;
}

.hided{
  opacity: 0!important;
  bottom: -100px!important;
}

.animated{
  transform: translateZ(0);
  transition: all 0.6s ease;
}

.controlls{
    position: absolute;
    left: 20px;
    top:50%;
    transform: translateY(-50%);
}

.controll{
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: rgba(255, 255, 255, 0.5) 2px solid;
}

.active{
  background:  rgba(255, 255, 255, 0.5);
}
