.action_button{
    font-size: 15px;
    width: 150px;
    text-align: center;
    margin: 3px auto;
}
.category_content_1{
    height: auto !important;
    padding-bottom: 50px;
    //width: 95%;
    margin: auto;
    .menu{
        .row{
            .left_part{
                img{
                    vertical-align: middle;
                }
            }
        }
    }
    .insider.insider_1{
        margin-top: 50px;
        .top_line{
            transform: translateX(0);
        }
        .left_line{
            transform: translateY(0);
        }
        .right_line{
            transform: translateY(0);
        }
        .bottom_line{
            transform: translateX(0);
            left: auto;
        }
        .row.main_row{
            .category_rows{
                .first_column{
                    .category_column{
                        height: 620px;
                        img{
                        }
                        .first_column_data{
                            margin-top: -2px;
                        }
                    }
                }
            }
        }
    }

}
.footer_end{
    background-color: #000000 !important;
    height: auto !important;
    .footer_container{
        .forma_header{
            img{
                vertical-align: middle;
            }
        }
    }
}
.category_content .insider_1{
    height: auto !important;
}
.column_object{
    margin-bottom: 10px !important;
    background-color: white;
}
.category_content .insider{
    position: relative !important;
    top: 0px !important;
}
.menu{
    position: relative !important;
}
.category_content.category_content_1{
    height: auto !important;
    min-height: calc(100vh - 167px);
}
body{
    background: white !important;
    color: #000 !important;
}
a {
    color: black !important;
}
.tt-grid-wrapper{
    overflow: hidden;
    .tt-grid li{
        height: 350px !important;
        width: 30% !important;
        padding-right: 0px;
        padding-left: 0px;
        a{
            position: static !important;
            background: transparent !important;
            text-decoration: none;
            [data-link]{
                cursor: pointer;
            }
        }
        >a{
            position: absolute !important;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 18px;
            background: transparent !important;
            .column{
                img.object_image{
                    height: 160px;
                }
                [data-link = "join"]{
                    .wrap{
                        width: 100%;
                        button{
                            width: 100%;
                            line-height: 34px;
                            &.circle{
                                width: 40px;
                            }
                            &.filled{
                                line-height: 34px;
                                vertical-align: middle;
                            }
                            height: 40px;
                        }
                        img{
                            top: 0;
                            left: 52px;
                            display: none;
                        }
                        svg{
                            left: 55px;
                            top: 0px;
                        }
                    }
                }

            }
            .preview{
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                color: black;
                z-index: -1;
                background-color: white;
                border: 1px solid black;
                display: none;
            }
        }
        .column_overflow{
            top: 0px;
            left: 0px;
            position: absolute;
            height: auto !important;
        }
        &.restore-series-state{
            z-index: 1;
            >a {
                .column {
                    //animation-name: restore-series-animation;
                    //animation-duration: 1.5s;
                    //animation-fill-mode: forwards;
                    z-index: 1;
                }
            }
        }
        &.preview-state {
            z-index: 1;
            >a{
                .column{
                    //animation-name: back-animation;
                    //animation-duration: 1.5s;
                    //animation-fill-mode: forwards;
                    z-index: 1;
                }
                .preview{
                    display: block;
                    z-index: 2;
                    animation-name: preview-animation;
                    animation-fill-mode: forwards;
                    animation-duration: 1s;
                }
            }
        }
        &.trash-state{
            z-index: 1;
            >a{
                .column{
                    animation-name: go-animation;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                    z-index: 1;
                }
            }
        }
    }
    nav{
        margin-bottom: 25px;
        box-shadow: none;
        padding-top: 10px;
        >.row{
            margin-bottom: 0px;
            button.back-to-categories{
                span{
                    padding-left: 10px;
                    vertical-align: -webkit-baseline-middle;
                    vertical-align: -ms-baseline-middle;
                    vertical-align: -moz-baseline-middle;
                    vertical-align: -o-baseline-middle;
                }
            }
            .pagination{
                margin: 0px;
                button.prev-page, .page-items-wrapper, button.next-page{
                    display: inline-block;
                    margin: 0px;
                    margin-right: 0px;
                    font-size: 25px;
                    font-weight: normal;
                    background-color: transparent;
                    line-height: 1.2em;
                    color: #808080;
                    img{
                        width: 40px;
                        vertical-align: middle;
                    }
                    span{
                        vertical-align: middle;
                    }
                }
                .page-items-wrapper{
                    font-size: 25px;
                    line-height: 40px;
                    font-family: "Open Sans";
                    padding: 6px 10px 4px 10px;
                    vertical-align: middle;
                    height: 50px;
                    a{
                        vertical-align: middle;
                        display: inline;
                        padding: 0px 2px;
                        font-size: 25px;
                        line-height: 1.2em;
                        font-family: "Open Sans";
                        text-decoration: none;
                        margin: 0px 2px;
                    }
                }
                button.next-page{
                    vertical-align: middle;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    width: auto;
                    span{
                        padding-right: 5px;
                    }
                }
                button.prev-page{
                    vertical-align: middle;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    width: auto;
                    span{
                        padding-left: 5px;
                    }
                }
            }
            button.create-ideabox, button.back-to-categories{
                display: block;
                width: 100%;
                margin: 0px;
                margin-right: 0px;
                font-size: 25px;
                font-weight: normal;
                background-color: transparent;
                line-height: 1.2em;
                color: #808080;

                img{
                    width: 40px;
                    vertical-align: middle;
                }
                span{
                    padding-right: 5px;
                    vertical-align: middle;
                }
            }


            &>div{
                button{
                    border: none;
                    -webkit-box-shadow: none;
                    &:active{
                        -webkit-box-shadow: none;
                    }
                    &>i.fa{
                        height: auto;
                    }
                }
            }
        }
    }
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes go-animation {
    from{
        transform: translateZ(0) translateX(0px);
    }
    to{
        transform: translateZ(-100px) translateX(2000px);
    }
}
@keyframes preview-animation {
    from{
        width: 100%;
        height: 100%;
    }
    to{
        width: 200%;
        height: 200%;
    }
}
@keyframes back-animation {
    from{
        transform: translateZ(0);
        opacity: 1;
    }
    to{
        opacity: 0.5;
        transform: translateZ(-200px);
    }
}
@keyframes restore-series-animation {
    from {
        opacity: 0.5;
        transform: translateZ(-200px);
    }
    to{
        opacity: 1;
        transform: translateZ(0px);
    }
}
.preview-rightbox{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(33,33,33,.5);
    z-index: 31;
    overflow: auto;
    .preview-lightbox-wrapper{
        position: absolute;
        background-color: white;
        padding: 50px;
        text-align: center;
        font-size: 0px;
        .preview-lightbox-content{
            height: 100%;
            overflow: auto;
            font-size: inherit !important;
            .header{
                margin-top: 10px;
                .text_container{
                    .title{
                        font-size: 3em;
                    }
                    .subtitle{
                        font-size: 2em;
                    }
                }
                .animated.subtext{
                    font-size: 1em;
                    article{
                        font-size: 1.5em;
                        h2 {
                            font-size: 1.5em;
                        }
                    }
                }
            }
            .footer{
                height: auto !important;
            }
        }
        button.close{
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 2em;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            border: 2px solid black;
        }
    }
}
.swal2-container.swal2-fade.swal2-shown{
    .swal2-modal.swal2-show{
        .swal2-buttonswrapper{
            button{
                margin: 10px;
            }
        }
    }
}