.menu-options-component .menu-title {
  font-weight: bold; }
.menu-options-component .menu-description {
  margin-bottom: 30px; }
.menu-options-component .please-select-txt {
  font-size: 2rem; }
.menu-options-component .options-list .option-item {
  flex-basis: 300px;
  flex-grow: 0;
  margin: 20px;
  padding: 40px 20px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  border: 5px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  position: relative; }
  .menu-options-component .options-list .option-item .option-img-wrapper {
    margin-bottom: 20px;
    text-align: center; }
    .menu-options-component .options-list .option-item .option-img-wrapper img {
      width: 200px; }
    @media all and (max-width: 768px) {
      .menu-options-component .options-list .option-item .option-img-wrapper {
        margin-bottom: 0px;
        margin-right: 20px; }
        .menu-options-component .options-list .option-item .option-img-wrapper img {
          width: 50px; } }
  .menu-options-component .options-list .option-item .option-title {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold; }
  .menu-options-component .options-list .option-item .option-description {
    font-size: 1.5rem;
    text-align: left; }
  .menu-options-component .options-list .option-item .selected-mark {
    display: none;
    position: absolute;
    right: -20px;
    top: -25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 0;
    background-color: white;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1); }
    .menu-options-component .options-list .option-item .selected-mark svg {
      width: 40px;
      height: 40px; }
  .menu-options-component .options-list .option-item:hover {
    border-color: #7c7c7e;
    box-shadow: none; }
  .menu-options-component .options-list .option-item.active .selected-mark {
    display: block; }

/*# sourceMappingURL=MenuOptionsBlog.css.map */
