@import "../../config/css/colors.scss";

.menu-options-component{
    .menu-title{
        font-weight: bold;
    }
    .menu-description{
        margin-bottom: 30px;
    }
    .please-select-txt{
        font-size: 2rem;
    }
    .options-list{
        .option-item{
            flex-basis: 300px;
            flex-grow: 0;
            margin: 20px;
            padding: 40px 20px;
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .1);
            border: 5px solid transparent;
            border-radius: 20px;
            cursor: pointer;
            position: relative;
            .option-img-wrapper{
                margin-bottom: 20px;
                text-align: center;
                img{
                    width: 200px;
                }
                @media all and (max-width: 768px) {
                    margin-bottom: 0px;
                    margin-right: 20px;
                    img{
                        width: 50px;
                    }
                }
            }
            .option-title{
                font-size: 1.5rem;
                text-align: left;
                font-weight: bold;
            }
            .option-description{
                font-size: 1.5rem;
                text-align: left;
            }
            .selected-mark{
                display: none;
                position: absolute;
                right: -20px;
                top: -25px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                line-height: 0;
                background-color: white;
                box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, .1);
                svg{
                    width: 40px;
                    height: 40px;
                    g, path{
                    }
                }
            }
            &:hover{
                border-color: $greyColor;
                box-shadow: none;
            }
            &.active{
                .selected-mark{
                    display: block;
                }
            }
        }
    }
}