<div class="component menu-options-component">
    <h3 class="menu-title"></h3>
    <div class="menu-description"></div>
    <div class="please-select-txt">
        Please select from the following options to continue<br>
        (Don't worry, you can always come back and change your selection)
    </div>
    <div class="options-list flex-row flex-wrap vertical-center margin-between horizon-center">
        <div class="flex-col option-item sample" hidden>
            <div class="d-block d-xs-flex align-items-center">
                <div class="option-img-wrapper flex-col fix-col">
                    <img alt="" class="option-img" />
                </div>
                <div class="option-content flex-col min-width-0">
                    <div class="option-title"></div>
                    <div class="option-description"></div>
                </div>
            </div>
            <div class="selected-mark">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px">
                    <g>
                        <g>
                            <path d="M256,0C114.844,0,0,114.844,0,256s114.844,256,256,256s256-114.844,256-256S397.156,0,256,0z M402.207,182.625    L217.75,367.083c-4.167,4.167-9.625,6.25-15.083,6.25c-5.458,0-10.917-2.083-15.083-6.25L88.46,267.958    c-4.167-4.165-4.167-10.919,0-15.085l15.081-15.082c4.167-4.165,10.919-4.165,15.086,0l84.04,84.042L372.04,152.458    c4.167-4.165,10.919-4.165,15.086,0l15.081,15.082C406.374,171.706,406.374,178.46,402.207,182.625z" fill="#1fcd98"/>
                        </g>
                    </g>
                    </svg>
            </div>
        </div>
    </div>
</div>