.listing-subscription-component {
  position: fixed;
  z-index: 101;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.listing-subscription-component .listing-subscription-inner {
  position: relative;
  width: 768px;
  max-width: 100%;
  height: 100%;
  left: 0px;
  padding: 0px;
  z-index: 300;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
  background-color: white;
}
.listing-subscription-component .listing-subscription-inner header.listing-posts-header {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  padding: 15px 50px 15px 10px;
  background-color: #f6fffc;
}
.listing-subscription-component .listing-subscription-inner header.listing-posts-header .title-wrapper .series-title {
  font-size: 3rem;
  font-weight: bold;
}
.listing-subscription-component .listing-subscription-inner header.listing-posts-header .title-wrapper .posts-count {
  margin-left: 10px;
  display: inline-block;
  color: white;
}
.listing-subscription-component .listing-subscription-inner header.listing-posts-header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
.listing-subscription-component .listing-subscription-inner header.listing-posts-header .section-close {
  display: block;
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 1;
}
.listing-subscription-component .listing-subscription-inner header.listing-posts-header .section-close:before {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #1fcd98;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: rotate(45deg);
}
.listing-subscription-component .listing-subscription-inner header.listing-posts-header .section-close:after {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #1fcd98;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: rotate(-45deg);
}
.listing-subscription-component .listing-subscription-inner header.listing-posts-header .section-close:hover:before, .listing-subscription-component .listing-subscription-inner header.listing-posts-header .section-close:hover:after {
  background-color: #1eb785;
}
.listing-subscription-component .listing-subscription-inner .site-green-btn.share-series-btn {
  font-size: 1.5rem;
  padding: 5px 20px;
  color: white;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content {
  padding: 20px 10px 10px 0px;
  flex-grow: 1;
  flex-basis: 100px;
  overflow: auto;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .new-title, .listing-subscription-component .listing-subscription-inner .listing-posts-content .all-title {
  width: calc(100% - 40px);
  margin: 15px auto 10px;
  border-bottom: 1px dotted #1fcd98;
  font-size: 1.5rem;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .select-content-title, .listing-subscription-component .listing-subscription-inner .listing-posts-content .selected-content-title {
  width: calc(100% - 40px);
  margin: 15px auto 20px;
  font-size: 2rem;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .selected-content-title {
  display: none;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview {
  display: none;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article {
  width: 300px;
  max-width: 100%;
  margin: 0px auto 15px;
  padding: 5px 17px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper {
  position: relative;
  margin-bottom: 17px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .item-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1600px) {
  .listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .item-image {
    height: 170px;
  }
}
@media only screen and (max-width: 1600px) {
  .listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .item-image {
    height: 150px;
  }
}
@media only screen and (max-width: 1400px) {
  .listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .item-image {
    height: 140px;
  }
}
@media only screen and (max-width: 1280px) {
  .listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .item-image {
    height: 128px;
  }
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .hover-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons a {
  display: block;
  padding: 5px;
  background-color: #1fcd98;
  color: white;
  text-align: center;
  text-decoration: none;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons a svg {
  display: none;
  width: 18px;
  vertical-align: middle;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons a svg path {
  fill: white;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons a svg.preview-icon, .listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
  display: inline;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons a:hover {
  background-color: #1eb785;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons .flex-row .last-col {
  margin-left: 2px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .child-count-wrapper {
  margin-bottom: 10px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .child-count-wrapper .child-count {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #c8cbba;
  color: white;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article .item-title {
  font-size: 1.4rem;
  font-weight: bold;
  height: auto;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article:hover .item-image-wrapper .hover-content, .listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-preview .series-article:active .item-image-wrapper .hover-content {
  opacity: 1;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview {
  display: none;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article {
  width: 300px;
  max-width: 100%;
  margin: 0px auto 15px;
  padding: 5px 17px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper {
  position: relative;
  margin-bottom: 17px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .item-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1600px) {
  .listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .item-image {
    height: 170px;
  }
}
@media only screen and (max-width: 1600px) {
  .listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .item-image {
    height: 150px;
  }
}
@media only screen and (max-width: 1400px) {
  .listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .item-image {
    height: 140px;
  }
}
@media only screen and (max-width: 1280px) {
  .listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .item-image {
    height: 128px;
  }
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .hover-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons a {
  display: block;
  padding: 5px;
  background-color: #1fcd98;
  color: white;
  text-align: center;
  text-decoration: none;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons a svg {
  display: none;
  width: 18px;
  vertical-align: middle;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons a svg path {
  fill: white;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons a svg.preview-icon, .listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
  display: inline;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons a:hover {
  background-color: #1eb785;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons .flex-row .last-col {
  margin-left: 2px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article .item-title {
  font-size: 1.4rem;
  font-weight: bold;
  height: auto;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article:hover .item-image-wrapper .hover-content, .listing-subscription-component .listing-subscription-inner .listing-posts-content .post-share-preview .post-article:active .item-image-wrapper .hover-content {
  opacity: 1;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list {
  list-style: none;
  padding-left: 10px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li {
  margin-bottom: 25px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .item-img, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .item-img {
  display: block;
  width: 85px;
  height: 50px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .item-view-states-wrapper {
  width: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 5px;
  z-index: 2;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .item-view-states-wrapper .view-state {
  display: none;
  position: relative;
  top: 2px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.complete-state, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .item-view-states-wrapper .view-state.complete-state {
  width: 20px;
  height: auto;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.complete-state g, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.complete-state path, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .item-view-states-wrapper .view-state.complete-state g, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .item-view-states-wrapper .view-state.complete-state path {
  fill: #1fcd98;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.current-state, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .item-view-states-wrapper .view-state.current-state {
  width: 10px;
  height: 10px;
  border: 3px solid #1fcd98;
  background-color: white;
  border-radius: 50%;
  box-sizing: content-box;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.normal-state, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .item-view-states-wrapper .view-state.normal-state {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1fcd98;
  opacity: 0.8;
  box-sizing: content-box;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper.state-complete .complete-state, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .item-view-states-wrapper.state-complete .complete-state {
  display: block;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper.state-normal .normal-state, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .item-view-states-wrapper.state-normal .normal-state {
  display: block;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper.state-current .current-state, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .item-view-states-wrapper.state-current .current-state {
  display: block;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper:after, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .item-view-states-wrapper:after {
  z-index: 1;
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: calc(100% + 20px);
  top: 17px;
  left: 50%;
  background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  opacity: 0.7;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .title-wrapper .media-icon-wrapper {
  display: inline-block;
  margin-right: 10px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper i, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .title-wrapper .media-icon-wrapper i {
  display: none;
  font-size: 1.5rem;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-0 .audio-icon, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .title-wrapper .media-icon-wrapper.type-0 .audio-icon {
  display: initial;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-2 .video-icon, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .title-wrapper .media-icon-wrapper.type-2 .video-icon {
  display: initial;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-7 .text-icon, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-10 .text-icon, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-8 .text-icon, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-9 .text-icon, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .title-wrapper .media-icon-wrapper.type-7 .text-icon, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .title-wrapper .media-icon-wrapper.type-10 .text-icon, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .title-wrapper .media-icon-wrapper.type-8 .text-icon, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .title-wrapper .media-icon-wrapper.type-9 .text-icon {
  display: initial;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li .title-wrapper .item-title, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li .title-wrapper .item-title {
  font-size: 1.5rem;
  color: #737661;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list li:last-child .item-view-states-wrapper:after, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list li:last-child .item-view-states-wrapper:after {
  display: none;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .purchased-structure-tree-component > ul.posts-list {
  padding-left: 0px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .purchased-structure-tree-component > ul.posts-list > li > .post-row-inner .post-title {
  display: none;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .new-title, .listing-subscription-component .listing-subscription-inner .listing-posts-content .all-title, .listing-subscription-component .listing-subscription-inner .listing-posts-content .select-content-title, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.unread-posts-list, .listing-subscription-component .listing-subscription-inner .listing-posts-content ul.shared-post-list {
  display: none;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .share-with-list, .listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-with-list {
  display: none;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .share-with-list .share-with-text, .listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-with-list .share-with-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content .share-with-list .share-item svg, .listing-subscription-component .listing-subscription-inner .listing-posts-content .series-share-with-list .share-item svg {
  width: 60px;
  height: 60px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content::-webkit-scrollbar {
  width: 8px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.listing-subscription-component .listing-subscription-inner .listing-posts-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cacac0;
}
.listing-subscription-component .listing-subscription-inner .listing-post-footer {
  position: relative;
  flex: 0 0 auto;
  padding: 20px 10px 15px;
  text-align: center;
}
.listing-subscription-component .listing-subscription-inner .listing-post-footer .share-next-btn {
  padding: 5px 20px;
  font-size: 1.7rem;
}
.listing-subscription-component .listing-subscription-inner .listing-post-footer .share-back-wrap {
  display: none;
  text-align: center;
}
.listing-subscription-component .listing-subscription-inner .listing-post-footer .share-back-wrap .share-back-btn {
  padding: 5px 20px;
  font-size: 1.7rem;
}
.listing-subscription-component .listing-subscription-inner .listing-post-footer:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
.listing-subscription-component .listing-subscription-inner.collapsed {
  left: -768px;
}
@media screen and (max-width: 768px) {
  .listing-subscription-component .listing-subscription-inner.collapsed {
    left: -100%;
  }
}
.listing-subscription-component .listing-subscription-inner.has-new .listing-posts-content .new-title, .listing-subscription-component .listing-subscription-inner.has-new .listing-posts-content .all-title, .listing-subscription-component .listing-subscription-inner.has-new .listing-posts-content ul.unread-posts-list {
  display: block;
}
.listing-subscription-component .listing-subscription-inner.mode-share .listing-posts-content .new-title, .listing-subscription-component .listing-subscription-inner.mode-share .listing-posts-content .all-title, .listing-subscription-component .listing-subscription-inner.mode-share .listing-posts-content ul.unread-posts-list, .listing-subscription-component .listing-subscription-inner.mode-share.has-new .listing-posts-content .new-title, .listing-subscription-component .listing-subscription-inner.mode-share.has-new .listing-posts-content .all-title, .listing-subscription-component .listing-subscription-inner.mode-share.has-new .listing-posts-content ul.unread-posts-list {
  display: none;
}
.listing-subscription-component .listing-subscription-inner.mode-share .listing-posts-content .select-content-title, .listing-subscription-component .listing-subscription-inner.mode-share.has-new .listing-posts-content .select-content-title {
  display: block;
}
.listing-subscription-component .listing-subscription-inner.mode-share .d-mode-share-block, .listing-subscription-component .listing-subscription-inner.mode-share.has-new .d-mode-share-block {
  display: block;
}
.listing-subscription-component .listing-subscription-inner.share-step-next .share-series-btn {
  display: none;
}
.listing-subscription-component .listing-subscription-inner.share-step-next .listing-posts-content .selected-content-title {
  display: block;
}
.listing-subscription-component .listing-subscription-inner.share-step-next .listing-posts-content .purchased-structure-tree-component, .listing-subscription-component .listing-subscription-inner.share-step-next .listing-posts-content .select-content-title {
  display: none;
}
.listing-subscription-component .listing-subscription-inner.share-step-next .listing-posts-content .shared-post-list {
  display: block;
}
.listing-subscription-component .listing-subscription-inner.share-step-next .listing-posts-content .share-with-list {
  display: flex;
}
.listing-subscription-component .listing-subscription-inner.share-step-next .listing-post-footer .share-next-btn {
  display: none;
}
.listing-subscription-component .listing-subscription-inner.share-step-next .listing-post-footer .share-back-wrap {
  display: block;
}
.listing-subscription-component .listing-subscription-inner.share-step-next.share-series .listing-posts-content .series-share-preview {
  display: block;
}
.listing-subscription-component .listing-subscription-inner.share-step-next.share-series .listing-posts-content .series-share-with-list {
  display: flex;
}
.listing-subscription-component .listing-subscription-inner.share-step-next.share-series .listing-posts-content .selected-content-title {
  display: none;
}
.listing-subscription-component .listing-subscription-inner.share-step-next.share-series .listing-posts-content ul.shared-post-list {
  display: none;
}
.listing-subscription-component .listing-subscription-inner.share-step-next.share-series .listing-posts-content .share-with-list {
  display: none;
}
.listing-subscription-component .listing-subscription-inner.share-step-next.share-post .listing-posts-content .series-share-preview {
  display: none;
}
.listing-subscription-component .listing-subscription-inner.share-step-next.share-post .listing-posts-content .post-share-preview {
  display: block;
}
.listing-subscription-component .listing-subscription-inner.share-step-next.share-post .listing-posts-content .share-with-list {
  display: flex;
}
.listing-subscription-component .listing-subscription-inner.share-step-next.share-post .listing-posts-content .selected-content-title {
  display: none;
}
.listing-subscription-component .listing-subscription-inner.share-step-next.share-post .listing-posts-content ul.shared-post-list {
  display: none;
}
.listing-subscription-component .listing-subscription-inner .d-mode-none {
  display: none;
}
@media screen and (max-width: 768px) {
  .listing-subscription-component .listing-subscription-inner {
    left: 0px;
  }
}
.listing-subscription-component.opened {
  display: block;
}

/*# sourceMappingURL=ListingSubscription.css.map */
