@import "./../../config/css/colors.scss";

.series-copy-embed{
    position: relative;
    display: inline-block;
    line-height: 0;
    a{
        background-color: transparent;
        display: flex;
        line-height: 0;
        border-radius: 50%;
        border: 2px solid $greenColor;
        height: 50px;
        width: 50px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        svg{
            width: 30px;
            max-height: 30px;
            g{
                fill: $greenColor;
            }
            path{
                fill: $greenColor;
            }
            polygon{
                fill: $greenColor;
            }
        }
        &:hover{
            border-color: $greenHover;
            svg{
                width: 30px;
                g, path, polygon{
                    fill: $greenHover;
                }
            }
        }
    }
    .series-embed-code{
        position: absolute;
        top: calc(100%);
        right: 0px;
        z-index: 10;
        .embed-wrapper{
            box-shadow: 0 0 20px 5px hsla(0,0%,50%,.2);
            background-color: white;
            padding: 10px;
            font-size: 2rem;
            line-height: 1.1;
            width: 400px;
            >header{
                margin-bottom: 10px;
                h4{
                    margin: 0px;
                    font-size: 1em;
                    line-height: 1.1;
                    border-bottom: 1px solid #333;
                    padding-bottom: 0.1rem;
                }
                .flex-row{
                    .flex-col{
                        line-height: 0;
                        margin-bottom: 0px;
                    }
                }
            }
            .embed-code{
                textarea{
                    width: 100%;
                    background-color: #f8f7f9;
                    padding: 10px;
                    height: auto;
                    max-width: 100%;
                    resize: vertical;
                    font-size: .7em;
                    line-height: 1.1;
                }
            }
        }
    }
}