.series-copy-embed {
  position: relative;
  display: inline-block;
  line-height: 0; }
  .series-copy-embed a {
    background-color: transparent;
    display: flex;
    line-height: 0;
    border-radius: 50%;
    border: 2px solid #1fcd98;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center; }
    .series-copy-embed a svg {
      width: 30px;
      max-height: 30px; }
      .series-copy-embed a svg g {
        fill: #1fcd98; }
      .series-copy-embed a svg path {
        fill: #1fcd98; }
      .series-copy-embed a svg polygon {
        fill: #1fcd98; }
    .series-copy-embed a:hover {
      border-color: #1eb785; }
      .series-copy-embed a:hover svg {
        width: 30px; }
        .series-copy-embed a:hover svg g, .series-copy-embed a:hover svg path, .series-copy-embed a:hover svg polygon {
          fill: #1eb785; }
  .series-copy-embed .series-embed-code {
    position: absolute;
    top: calc(100%);
    right: 0px;
    z-index: 10; }
    .series-copy-embed .series-embed-code .embed-wrapper {
      box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.2);
      background-color: white;
      padding: 10px;
      font-size: 2rem;
      line-height: 1.1;
      width: 400px; }
      .series-copy-embed .series-embed-code .embed-wrapper > header {
        margin-bottom: 10px; }
        .series-copy-embed .series-embed-code .embed-wrapper > header h4 {
          margin: 0px;
          font-size: 1em;
          line-height: 1.1;
          border-bottom: 1px solid #333;
          padding-bottom: 0.1rem; }
        .series-copy-embed .series-embed-code .embed-wrapper > header .flex-row .flex-col {
          line-height: 0;
          margin-bottom: 0px; }
      .series-copy-embed .series-embed-code .embed-wrapper .embed-code textarea {
        width: 100%;
        background-color: #f8f7f9;
        padding: 10px;
        height: auto;
        max-width: 100%;
        resize: vertical;
        font-size: .7em;
        line-height: 1.1; }

/*# sourceMappingURL=SeriesCopyEmbed.css.map */
