@import "../../config/css/colors.scss";
@import "../../config/css/font.scss";


.series-search-posts{
    header.content-header{
        padding: 0px 50px 5px 230px;
        .results-from{
            display: inline-block;
            line-height: 35px;
            & > span{
                display: inline-block;
                vertical-align: middle;
                font-size: 20px;
                padding-bottom: 5px;
            }
            .dropdown{
                margin-left: 10px;
                vertical-align: middle;
                display: inline-block;
                button.btn-custom{
                    background-color: transparent;
                    border: 1px solid #7b7b7b;
                    font-size: 18px;
                }
                ul.dropdown-menu{
                    li{
                        a{
                            input{
                                background-color: transparent;
                                margin-top: 0px;
                                vertical-align: middle;
                                position: absolute;
                                left: -9999px;
                                &:checked{
                                    & + label{
                                        color: black;
                                        &:before{
                                            border-color: black;
                                        }
                                        &:after{
                                            font-size: .9em;
                                            content: '\2714';
                                            position: absolute;
                                            left: 0.2em;
                                            top: 0em;
                                            width: 1em;
                                            height: 1em;
                                            color: black;
                                        }
                                    }
                                }
                            }
                            label{
                                color: $content_color;
                                font-size: 18px;
                                line-height: 1.1em;
                                vertical-align: middle;
                                position: relative;
                                padding-left: 1.8em;
                                cursor: pointer;
                                font-weight: normal;
                                &:before{
                                    content: '';
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    width: 1em;
                                    height: 1em;
                                    border: 1px solid $content_color;
                                }
                            }
                        }
                    }
                }
            }
            ul.froms-list-pre{
                display: inline-block;
                margin-bottom: 0px;
                padding-left: 10px;
                vertical-align: middle;
                list-style: none;
                li{
                    float: left;
                    a{
                        input{
                            background-color: transparent;
                            margin-top: 0px;
                            vertical-align: middle;
                            position: absolute;
                            left: -9999px;
                            &:checked{
                                & + label{
                                    color: black;
                                    &:before{
                                        border-color: black;
                                    }
                                    &:after{
                                        font-size: .9em;
                                        content: '\2714';
                                        position: absolute;
                                        left: 0.2em;
                                        top: 0em;
                                        width: 1em;
                                        height: 1em;
                                        color: black;
                                    }
                                }
                            }
                        }
                        label{
                            color: $content_color;
                            font-size: 18px;
                            line-height: 1.1em;
                            vertical-align: middle;
                            position: relative;
                            padding-left: 1.3em;
                            cursor: pointer;
                            font-weight: normal;
                            &:before{
                                content: '';
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                width: 1em;
                                height: 1em;
                                border: 1px solid $content_color;
                            }
                        }
                    }
                    &:first-child{
                        margin-right: 15px;
                    }
                }
                &:after{
                    content: '';
                    display: block;
                    clear: both;
                }
            }
        }
        .search-term-wrapper{
            form{
                font-size: 20px;
                text-align: right;
                .form-control{
                    font-size: 18px;
                    &#search-term2{
                    }
                }
                label[for="search-term2"]{
                    font-weight: normal;
                }
                .btn.btn-default{
                    margin-left: 10px;
                    font-size: 18px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    &[type='submit']{
                        padding-left: 20px;
                        padding-right: 20px;
                        background-color: grey;
                        border-color: grey;
                        color: white;
                        &:hover{
                            background-color: #585656;
                        }
                    }
                    &.clear-search-term{
                        border: none;
                    }
                }
            }
        }
    }
    .main-content{
        text-align: left;
        min-height: 700px;
        position: relative;
        padding: 10px 10px 0px;
        background-color: #f8f7f9;

        .actions-container{
            text-align: right;
            padding: 0px 10px 0px 10px;
            .action{
                display: inline-block;
                margin-left: 30px;
                height: 40px;
                position: relative;
                text-decoration: none;
                font-size: 2rem;
                color: $content_color;
                svg#Capa_1{
                    display: inline !important;
                    vertical-align: middle;
                    width: 40px;
                    g{
                        path{
                            fill: $content_color;
                        }
                    }
                }
                &:hover{
                    color: black;
                    svg#Capa_1{
                        g{
                            path{
                                fill: black;
                            }
                        }
                    }
                }
            }
        }

        h2{
            font-family: $default_font_family;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        h3{
            padding-bottom: 20px;
        }
        .meta-posts-block-container{
            .tt-grid-wrapper{
                padding-bottom: 10px;
                border-bottom: 1px dashed rgba(128, 128, 128, .2);
                h3{
                    padding-left: 30px;
                    margin-bottom: 20px;
                }
                & > .tt-grid.tt-effect-3dflip{
                    display: block;
                    width: 95% !important;
                    max-width: 100%;
                    margin: 0px auto;
                    min-height: 510px;
                    li{
                        float: left;
                        width: calc(100% / 5 - 10px * 2) !important;
                        min-height: 490px;
                        height: auto;
                        z-index: 1;
                        > *{
                            display: block;
                            width: 100%;
                            height: auto;
                            text-decoration: none;
                            background-color: transparent;
                            .item-inner{
                                width: 95%;
                                margin: 0px auto;
                                position: relative;
                                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
                                border-bottom: 1px solid rgba(200, 200, 200, .5);
                                padding: 0px 10px 10px;
                                background-color: white;
                                font-size: 1.7rem;
                                line-height: 1.1;
                                color: $content_color;
                                text-align: center;

                                .img-wrapper{
                                    position: relative;
                                    z-index: 1;
                                    margin: 0px -10px 5px;
                                    width: calc(100% + 20px);
                                    cursor: pointer;
                                    img.item-img{
                                        width: 100%;
                                        height: 160px;
                                        object-fit: fill;
                                    }
                                    .input-wrapper{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        position: absolute;
                                        top: 0px;
                                        left: 0px;
                                        width: 100%;
                                        height: 100%;
                                        input[name=item_image]{
                                            cursor: pointer;
                                            position: absolute;
                                            top: 0px;
                                            left: 0px;
                                            width: 100%;
                                            height: 100%;
                                            opacity: 0;
                                        }
                                    }
                                    &.is-uploading{
                                        outline: 1px dashed rgba(146, 176, 179, .8);
                                        animation-name: uploading-effect;
                                        animation-iteration-count: infinite;
                                        animation-duration: 2s;
                                    }
                                }
                                .title-wrapper{
                                    margin-bottom: 10px;
                                    min-height: 48px;
                                    position: relative;
                                    .item-title{
                                        display: block; /* Fallback for non-webkit */
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        transition: height 300ms;
                                        white-space: normal;
                                    }
                                    textarea{
                                        display: none;
                                        width: 100%;
                                        resize: vertical;
                                    }
                                    [data-readmore-toggle]{
                                        font-size: 1.5rem;
                                        cursor: pointer;
                                        color: #178DB1;
                                        font-style: italic;
                                        text-decoration: none;
                                        &:hover{
                                            color: #5EB0C9;
                                        }
                                    }
                                    &.collapsed{
                                        .item-title{
                                            //display: -webkit-box;
                                            //-webkit-line-clamp: 2;
                                            //-webkit-box-orient: vertical;
                                            //text-overflow: ellipsis;
                                        }
                                    }
                                    aside.actions-container{
                                        margin-top: 5px;
                                        .edit-wrapper{
                                            display: block;
                                            text-align: right;
                                            .edit-entry{
                                                cursor: pointer;
                                                opacity: 0;
                                                .edit-icon{
                                                    position: absolute;
                                                    right: 0px;
                                                    bottom: 0px;
                                                    width: 25px;
                                                    display: inline-block;
                                                }
                                                &:hover{
                                                    opacity: .7;
                                                }
                                            }
                                        }
                                        .save-wrapper{
                                            display: none;
                                            .btn-xs{
                                                font-size: 1.5rem;
                                            }
                                        }
                                    }
                                    &:hover{
                                        aside.actions-container{
                                            span{
                                                &.edit-entry{
                                                    opacity: 1;
                                                    .edit-icon{
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.edit-status{
                                        .item-title{
                                            display: none;
                                        }
                                        [data-readmore-toggle]{
                                            display: none;
                                        }
                                        textarea{
                                            display: block;
                                        }
                                        aside.actions-container{
                                            .save-wrapper{
                                                display: block;
                                            }
                                            .edit-wrapper{
                                                display: none;
                                            }
                                        }
                                        &:hover{
                                            aside.actions-container{
                                                span{
                                                    &.edit-entry{
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .description-wrapper{
                                    position: relative;
                                    min-height: 70px;
                                    margin-bottom: 10px;
                                    .item-description{
                                        overflow: hidden;
                                        transition: height 300ms;
                                    }
                                    textarea{
                                        display: none;
                                        width: 100%;
                                        resize: vertical;
                                    }
                                    [data-readmore-toggle]{
                                        font-size: 1.5rem;
                                        cursor: pointer;
                                        color: #178DB1;
                                        font-style: italic;
                                        text-decoration: none;
                                        &:hover{
                                            color: #5EB0C9;
                                        }
                                    }
                                    &.collapsed{
                                        .item-description{
                                            //display: -webkit-box;
                                            //-webkit-line-clamp: 2;
                                            //-webkit-box-orient: vertical;
                                            //text-overflow: ellipsis;
                                        }
                                    }
                                    aside.actions-container{
                                        margin-top: 5px;
                                        .edit-wrapper{
                                            display: block;
                                            text-align: right;
                                            .edit-entry{
                                                cursor: pointer;
                                                opacity: 0;
                                                position: absolute;
                                                right: 0px;
                                                bottom: 0px;
                                                .edit-icon{
                                                    width: 25px;
                                                    display: inline-block;
                                                }
                                                &:hover{
                                                    opacity: .7;
                                                }
                                            }
                                        }
                                        .save-wrapper{
                                            display: none;
                                            .btn-xs{
                                                font-size: 1.5rem;
                                            }
                                        }
                                    }
                                    &:hover{
                                        aside.actions-container{
                                            span{
                                                &.edit-entry{
                                                    display: block;
                                                    opacity: 1;
                                                    .edit-icon{
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.edit-status{
                                        .item-description{
                                            display: none;
                                        }
                                        [data-readmore-toggle]{
                                            display: none;
                                        }
                                        textarea{
                                            display: block;
                                        }
                                        aside.actions-container{
                                            .save-wrapper{
                                                display: block;
                                            }
                                            .edit-wrapper{
                                                display: none;
                                            }
                                        }
                                        &:hover{
                                            aside.actions-container{
                                                > span{
                                                    &.edit-entry{
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .type-wrapper{
                                    margin-bottom: 10px;
                                    select{
                                        width: 100%;
                                    }
                                }
                                .buttons-wrapper{
                                    text-align: center;
                                    width: 100%;
                                    padding: 0px 0px 10px;
                                    .btn.btn-circle{
                                        width: 100%;
                                        max-width: 100%;
                                        padding: 4px;
                                        font-size: 2rem;
                                        border-radius: 50px;
                                        background: transparent;
                                        border: 2px solid $green;
                                        color: $green;
                                        &:hover{
                                            background: $green;
                                            color: white;
                                        }
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                    .wrap{
                                        width: 100%;
                                        margin: 0px auto;
                                        button{
                                            width: 100%;
                                            font-size: 2rem;
                                            line-height: 34px;
                                            height: 46px;
                                            &.circle{
                                                width: 46px;
                                            }
                                            &.filled{
                                                line-height: 34px;
                                                vertical-align: middle;
                                            }
                                        }
                                        img{
                                            top: calc((100% - 38px) / 2);
                                            left: calc((100% - 49px) / 2);
                                            width: auto !important;
                                            display: none;
                                        }
                                        svg{
                                            left: calc((100% - 46px) / 2);
                                            top: 0px;
                                            width: 46px;
                                            height: 46px;
                                            circle{
                                                r: 21px;
                                                cx: 23px;
                                                cy: 23px;
                                            }
                                        }
                                    }
                                }
                                >aside{
                                    position: relative;
                                    z-index: 2;
                                    img.delete-item{
                                        position: absolute;
                                        top: -15px;
                                        right: -15px;
                                        width: 30px;
                                        transition: all .3s;
                                        cursor: pointer;
                                        z-index: 3;
                                        &:hover{
                                            transform: scale(1.1);
                                        }
                                        &:active{
                                            transform: translateZ(-3px) scale(.95);
                                        }
                                    }
                                }
                                .bottom-line{
                                    position: absolute;
                                    bottom: 0px;
                                    left: 0px;
                                    width: 30px;
                                    height: 2px;
                                    background-color: rgb(200, 200, 200);
                                }
                            }
                        }
                        &.editing{
                            z-index: 2;
                        }
                    }
                    @media all and (min-width: 1440px) and (max-width: 1600px) {
                        width: 100% !important;
                        li{
                            width: calc(100% / 5 - 5px * 2) !important;
                            margin: 5px;
                        }
                    }
                    @media all and (min-width: 1350px) and (max-width: 1440px) {
                        width: 100% !important;
                        li{
                            width: calc(100% / 4 - 10px * 2) !important;
                            margin: 10px;
                        }
                    }
                    @media all and (min-width: 991px) and (max-width: 1350px) {
                        max-width: calc((300px + 10px * 2) * 3);
                        li{
                            width: calc(100% / 3 - 10px * 2) !important;
                            margin: 10px;
                        }
                    }
                    @media all and (max-width: 990px) {
                        max-width: calc((300px + 10px * 2) * 2);
                        li{
                            width: calc(100% / 2 - 10px * 2) !important;
                            margin: 10px;
                        }
                    }
                    @media all and (max-width: 670px) {
                        max-width: calc((300px + 5px * 2) * 2);
                        li{
                            width: calc(100% / 2 - 5px * 2) !important;
                            margin: 5px;
                        }
                    }
                }
                &.is-dragover{
                    outline: 2px dashed rgba(146, 176, 179, .8);
                    outline-offset: -5px;
                    -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
                    transition: outline-offset .15s ease-in-out, opacity .15s linear;

                    ul.tt-grid.tt-effect-3dflip {
                        > li {
                            > * {
                                .item-inner {
                                    .img-wrapper {
                                        img {
                                        }
                                        outline: 1px dashed rgba(146, 176, 179, .8);
                                        outline-offset: -5px;
                                        -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
                                        transition: outline-offset .15s ease-in-out, opacity .15s linear;
                                        &.is-dragover {
                                            opacity: .8;
                                            outline-offset: -15px;
                                            outline-color: rgba(200, 218, 223, 1);
                                            background-color: #fff;
                                        }
                                    }
                                    .description-wrapper{
                                        outline: 1px dashed rgba(146, 176, 179, .8);
                                        outline-offset: -1px;
                                        -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
                                        transition: outline-offset .15s ease-in-out, opacity .15s linear;
                                        &.is-dragover {
                                            opacity: 1;
                                            outline-offset: -7px;
                                            outline-color: rgba(200, 218, 223, 1);
                                            background-color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.is-dragover-on-parent{
                        opacity: .8;
                        outline-offset: -20px;
                        outline-color: rgba(200, 218, 223, 1);
                    }
                }
            }
        }
        .posts-block-container{
            .tt-grid-wrapper{
                border-bottom: 1px dashed rgba(128, 128, 128, .2);
                h3{
                    padding-left: 30px;
                }
                & > .tt-grid.tt-effect-3dflip{
                    display: block;
                    width: 95% !important;
                    max-width: 100%;
                    margin: 0px auto;
                    li{
                        float: left;
                        width: calc(100% / 5 - 10px * 2) !important;
                        min-height: 325px;
                        height: auto;
                        > *{
                            display: block;
                            width: 100%;
                            height: auto;
                            text-decoration: none;
                            background-color: transparent;
                            .item-inner{
                                width: 95%;
                                margin: 0px auto;
                                position: relative;
                                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
                                border-bottom: 1px solid rgba(200, 200, 200, .5);
                                padding: 0px 10px 10px;
                                background-color: white;
                                font-size: 1.7rem;
                                line-height: 1.2;
                                color: $content_color;
                                text-align: center;
                                .img-wrapper{
                                    position: relative;
                                    z-index: 1;
                                    margin: 0px -10px 5px;
                                    width: calc(100% + 20px);
                                    img.item-img{
                                        width: 100%;
                                        height: 160px;
                                        object-fit: fill;
                                    }
                                }
                                .title-wrapper{
                                    margin-bottom: 10px;
                                    min-height: 69px;
                                    position: relative;
                                    .item-title{
                                        display: block; /* Fallback for non-webkit */
                                        display: -webkit-box;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        transition: height 300ms;
                                        white-space: normal;
                                    }
                                    [data-readmore-toggle]{
                                        font-size: 1.5rem;
                                        cursor: pointer;
                                        color: #178DB1;
                                        font-style: italic;
                                        text-decoration: none;
                                        &:hover{
                                            color: #5EB0C9;
                                        }
                                    }
                                    &.collapsed{
                                        .item-title{
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;
                                            text-overflow: ellipsis;
                                        }
                                    }
                                }
                                .buttons-wrapper{
                                    text-align: center;
                                    width: 100%;
                                    padding: 0px 0px 10px;
                                    .btn.btn-circle{
                                        width: 100%;
                                        max-width: 100%;
                                        padding: 4px;
                                        font-size: 2rem;
                                        border-radius: 50px;
                                        background: transparent;
                                        border: 2px solid $green;
                                        color: $green;
                                        &:hover{
                                            background: $green;
                                            color: white;
                                        }
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                    .wrap{
                                        width: 100%;
                                        margin: 0px auto;
                                        button{
                                            width: 100%;
                                            font-size: 2rem;
                                            line-height: 34px;
                                            height: 46px;
                                            &.circle{
                                                width: 46px;
                                            }
                                            &.filled{
                                                line-height: 34px;
                                                vertical-align: middle;
                                            }
                                        }
                                        img{
                                            top: calc((100% - 38px) / 2);
                                            left: calc((100% - 49px) / 2);
                                            width: auto !important;
                                            display: none;
                                        }
                                        svg{
                                            left: calc((100% - 46px) / 2);
                                            top: 0px;
                                            width: 46px;
                                            height: 46px;
                                            circle{
                                                r: 21px;
                                                cx: 23px;
                                                cy: 23px;
                                            }
                                        }
                                    }
                                }
                                > aside{
                                    .bottom-line{
                                        position: absolute;
                                        bottom: 0px;
                                        left: 0px;
                                        width: 30px;
                                        height: 2px;
                                        background-color: rgb(200, 200, 200);
                                    }
                                }
                            }
                        }
                    }
                    @media all and (min-width: 991px) and (max-width: 1240px) {
                        width: 100% !important;
                        li{
                            width: calc(100% / 5 - 0px * 2) !important;
                            margin: 0px;
                        }
                    }
                    @media all and (max-width: 990px) {
                        max-width: calc((300px + 10px * 2) * 2);
                        li{
                            width: calc(100% / 2 - 10px * 2) !important;
                            margin: 10px;
                        }
                    }
                    @media all and (max-width: 670px) {
                        max-width: calc((300px + 0px * 2) * 2);
                        li{
                            width: calc(100% / 2 - 0px * 2) !important;
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
    footer{
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
        button{
            padding: 3px 30px;
            font-size: 25px;
            border-radius: 25px;
            background: transparent;
            border: 2px solid rgb(83, 212, 173);
            color: rgb(83, 212, 173);
            margin: 5px 3%;
            &.show-more, &.back-to-main{
                border-color: grey;
                color: grey;
                &:hover{
                    background: grey;
                    color: white;
                }
            }
            .glyphicon{
                top: 2px;
            }
            &:hover{
                background: rgb(83, 212, 173);
                color: white;
            }
            &:focus{
                outline: none;
            }
        }
    }
}