<section class="series-search-posts component">
    <header class="content-header">
        <div class="flex-row space-between flex-wrap">
            <div class="flex-col fix-col">
                <div class="results-from">
                    <span>Results from: </span>
                    <div class="dropdown">
                        <button class="btn btn-custom dropdown-toggle" type="button" data-toggle="dropdown">Select types To View <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;"><input id="from-url" name="from" type="checkbox" value="url"/><label for="from-url">My Unique URLs</label></a></li>
                            <li><a href="javascript:;"><input id="from-web" name="from" type="checkbox" value="youtube" checked/><label for="from-web">WEB</label></a></li>
                            <li><a href="javascript:;"><input id="from-spreaker" name="from" type="checkbox" value="spreaker" checked/><label for="from-spreaker">Podcasts</label></a></li>
                            <li><a href="javascript:;"><input id="from-blog" name="from" type="checkbox" value="blog" checked/><label for="from-blog">Blogs</label></a></li>
                            <li><a href="javascript:;"><input id="from-foodfork" name="from" type="checkbox" value="recipes"/><label for="from-foodfork">Recipes</label></a></li>
                            <li><a href="javascript:;"><input id="from-ideabox" name="from" type="checkbox" value="ideabox"/><label for="from-ideabox">IDEABOX</label></a></li>
                            <li><a href="javascript:;"><input id="from-posts" name="from" type="checkbox" value="posts"/><label for="from-posts">POSTS</label></a></li>
                            <li><a href="javascript:;"><input id="from-rssbposts" name="from" type="checkbox" value="rssbposts"/><label for="from-rssbposts">RSSBlogPosts</label></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-col fix-col">
                <div class="search-term-wrapper">
                    <form class="form-inline" method="post">
                        <label for="search-term2">Search: </label>
                        <input class="form-control" id="search-term2" size="30"/>
                        <button class="btn btn-default" type="submit">Submit</button>
                        <button class="btn btn-default clear-search-term" type="reset">Clear</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="main-content">
        <aside class="actions-container">
            <a href="javascript:;" class="add-new-posts action">
                Create your own idea
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
                                        <g>
                                            <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
                                        S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z"></path>
                                            <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1
                                        s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z"></path></g>
                                    </svg>
            </a>
        </aside>
        <h2 class="text-center">Here are some ideas for your experience. Please select the ones you like</h2>
        <h3 class="text-center">(You can also drag a URL here to add it)</h3>
        <div class="meta-posts-block-container">
            <div class="item-sample" hidden>
                <div class="item-inner">
                    <aside>
                        <img class="delete-item" src="assets/images/global-icons/close.png" />
                    </aside>
                    <div class="img-wrapper">
                        <img class="item-img" />
                        <div class="input-wrapper">
                            <aside class="helper-text">Click or Drag</aside>
                            <input name="item_image" type="file" title="Click or Drag">
                        </div>
                    </div>
                    <div class="title-wrapper">
                        <textarea name="item_title" rows="2" placeholder="Post Title"></textarea>
                        <div class="item-title"></div>
                        <aside class="actions-container">
                            <div class="edit-wrapper">
                                <span class="edit-entry"><img class="edit-icon" src="assets/images/mode_edit_grey_192x192.png"></span>
                            </div>
                            <div class="save-wrapper">
                                <div class="flex-row margin-between space-between">
                                    <div class="flex-col">
                                        <button class="btn btn-primary btn-block btn-xs save-entry">save</button>
                                    </div>
                                    <div class="flex-col">
                                        <button class="btn btn-block btn-default btn-xs back-to-origin">cancel</button>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="description-wrapper">
                        <textarea name="item_body" rows="3" placeholder="Describe Here..."></textarea>
                        <div class="item-description"></div>
                        <aside class="actions-container">
                            <div class="edit-wrapper">
                                <span class="edit-entry"><img class="edit-icon" src="assets/images/mode_edit_grey_192x192.png"></span>
                            </div>
                            <div class="save-wrapper">
                                <div class="flex-row margin-between space-between">
                                    <div class="flex-col">
                                        <button class="btn btn-primary btn-block btn-xs save-entry">save</button>
                                    </div>
                                    <div class="flex-col">
                                        <button class="btn btn-block btn-default btn-xs back-to-origin">cancel</button>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="type-wrapper">
                        <div class="flex-row margin-between vertical-center">
                            <div class="flex-col fix-col">Post Type: </div>
                            <div class="flex-col">
                                <select name="type">
                                    <option value="2">Video</option>
                                    <option value="0">Audio</option>
                                    <option value="8">Image</option>
                                    <option value="7">Text</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-wrapper">
                        <div class="wrap">
                            <button class="select-post">Select</button>
                            <img src="../assets/images/check_arrow_2.svg" alt="">
                            <svg width="42px" height="42px">
                                <circle class="circle_2" stroke-position="outside" stroke-width="3" fill="none" cx="22" cy="20" r="18" stroke="#1ECD97"></circle>
                            </svg>
                        </div>
                    </div>
                    <div class="bottom-line"></div>
                </div>
            </div>
            <div class="tt-grid-wrapper posts-block sample" hidden>
                <h3 class="from-where">My Unique URLs</h3>
                <ul class="tt-grid tt-effect-3dflip tt-effect-delay">
                </ul>
            </div>
        </div>
        <div class="posts-block-container">
            <div class="item-sample-wrapper" hidden>
                <div>
                    <div class="item-inner">
                        <aside>
                            <div class="bottom-line"></div>
                        </aside>
                        <div class="img-wrapper">
                            <img src="" alt="" class="item-img">
                        </div>
                        <div class="title-wrapper">
                            <div class="item-title"></div>
                        </div>
                        <div class="buttons-wrapper">
                            <div class="wrap">
                                <button class="select-post">Select</button>
                                <img src="../assets/images/check_arrow_2.svg" alt="">
                                <svg width="42px" height="42px">
                                    <circle class="circle_2" stroke-position="outside" stroke-width="3" fill="none" cx="22" cy="20" r="18" stroke="#1ECD97"></circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tt-grid-wrapper posts-block sample" hidden>
                <h3 class="from-where">Results from</h3>
                <ul class="tt-grid tt-effect-3dflip tt-effect-delay">
                    <li class="tt-empty"></li>
                    <li class="tt-empty"></li>
                    <li class="tt-empty"></li>
                    <li class="tt-empty"></li>
                    <li class="tt-empty"></li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <button class="btn btn-circle back-to-main" type="button"><span class="glyphicon glyphicon-arrow-left"></span> Go To Main</button>
        <button class="btn btn-circle show-more" type="button"><span class="glyphicon glyphicon-play"></span> Show more</button>
    </footer>
</section>