.series-search-posts header.content-header {
  padding: 0px 50px 5px 230px; }
  .series-search-posts header.content-header .results-from {
    display: inline-block;
    line-height: 35px; }
    .series-search-posts header.content-header .results-from > span {
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      padding-bottom: 5px; }
    .series-search-posts header.content-header .results-from .dropdown {
      margin-left: 10px;
      vertical-align: middle;
      display: inline-block; }
      .series-search-posts header.content-header .results-from .dropdown button.btn-custom {
        background-color: transparent;
        border: 1px solid #7b7b7b;
        font-size: 18px; }
      .series-search-posts header.content-header .results-from .dropdown ul.dropdown-menu li a input {
        background-color: transparent;
        margin-top: 0px;
        vertical-align: middle;
        position: absolute;
        left: -9999px; }
        .series-search-posts header.content-header .results-from .dropdown ul.dropdown-menu li a input:checked + label {
          color: black; }
          .series-search-posts header.content-header .results-from .dropdown ul.dropdown-menu li a input:checked + label:before {
            border-color: black; }
          .series-search-posts header.content-header .results-from .dropdown ul.dropdown-menu li a input:checked + label:after {
            font-size: .9em;
            content: '\2714';
            position: absolute;
            left: 0.2em;
            top: 0em;
            width: 1em;
            height: 1em;
            color: black; }
      .series-search-posts header.content-header .results-from .dropdown ul.dropdown-menu li a label {
        color: grey;
        font-size: 18px;
        line-height: 1.1em;
        vertical-align: middle;
        position: relative;
        padding-left: 1.8em;
        cursor: pointer;
        font-weight: normal; }
        .series-search-posts header.content-header .results-from .dropdown ul.dropdown-menu li a label:before {
          content: '';
          position: absolute;
          left: 0px;
          top: 0px;
          width: 1em;
          height: 1em;
          border: 1px solid grey; }
    .series-search-posts header.content-header .results-from ul.froms-list-pre {
      display: inline-block;
      margin-bottom: 0px;
      padding-left: 10px;
      vertical-align: middle;
      list-style: none; }
      .series-search-posts header.content-header .results-from ul.froms-list-pre li {
        float: left; }
        .series-search-posts header.content-header .results-from ul.froms-list-pre li a input {
          background-color: transparent;
          margin-top: 0px;
          vertical-align: middle;
          position: absolute;
          left: -9999px; }
          .series-search-posts header.content-header .results-from ul.froms-list-pre li a input:checked + label {
            color: black; }
            .series-search-posts header.content-header .results-from ul.froms-list-pre li a input:checked + label:before {
              border-color: black; }
            .series-search-posts header.content-header .results-from ul.froms-list-pre li a input:checked + label:after {
              font-size: .9em;
              content: '\2714';
              position: absolute;
              left: 0.2em;
              top: 0em;
              width: 1em;
              height: 1em;
              color: black; }
        .series-search-posts header.content-header .results-from ul.froms-list-pre li a label {
          color: grey;
          font-size: 18px;
          line-height: 1.1em;
          vertical-align: middle;
          position: relative;
          padding-left: 1.3em;
          cursor: pointer;
          font-weight: normal; }
          .series-search-posts header.content-header .results-from ul.froms-list-pre li a label:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1em;
            height: 1em;
            border: 1px solid grey; }
        .series-search-posts header.content-header .results-from ul.froms-list-pre li:first-child {
          margin-right: 15px; }
      .series-search-posts header.content-header .results-from ul.froms-list-pre:after {
        content: '';
        display: block;
        clear: both; }
  .series-search-posts header.content-header .search-term-wrapper form {
    font-size: 20px;
    text-align: right; }
    .series-search-posts header.content-header .search-term-wrapper form .form-control {
      font-size: 18px; }
    .series-search-posts header.content-header .search-term-wrapper form label[for="search-term2"] {
      font-weight: normal; }
    .series-search-posts header.content-header .search-term-wrapper form .btn.btn-default {
      margin-left: 10px;
      font-size: 18px;
      padding-top: 5px;
      padding-bottom: 5px; }
      .series-search-posts header.content-header .search-term-wrapper form .btn.btn-default[type='submit'] {
        padding-left: 20px;
        padding-right: 20px;
        background-color: grey;
        border-color: grey;
        color: white; }
        .series-search-posts header.content-header .search-term-wrapper form .btn.btn-default[type='submit']:hover {
          background-color: #585656; }
      .series-search-posts header.content-header .search-term-wrapper form .btn.btn-default.clear-search-term {
        border: none; }
.series-search-posts .main-content {
  text-align: left;
  min-height: 700px;
  position: relative;
  padding: 10px 10px 0px;
  background-color: #f8f7f9; }
  .series-search-posts .main-content .actions-container {
    text-align: right;
    padding: 0px 10px 0px 10px; }
    .series-search-posts .main-content .actions-container .action {
      display: inline-block;
      margin-left: 30px;
      height: 40px;
      position: relative;
      text-decoration: none;
      font-size: 2rem;
      color: grey; }
      .series-search-posts .main-content .actions-container .action svg#Capa_1 {
        display: inline !important;
        vertical-align: middle;
        width: 40px; }
        .series-search-posts .main-content .actions-container .action svg#Capa_1 g path {
          fill: grey; }
      .series-search-posts .main-content .actions-container .action:hover {
        color: black; }
        .series-search-posts .main-content .actions-container .action:hover svg#Capa_1 g path {
          fill: black; }
  .series-search-posts .main-content h2 {
    font-family: "EB Garamond", sans-serif;
    margin-top: 0px;
    margin-bottom: 10px; }
  .series-search-posts .main-content h3 {
    padding-bottom: 20px; }
  .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper {
    padding-bottom: 10px;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.2); }
    .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper h3 {
      padding-left: 30px;
      margin-bottom: 20px; }
    .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
      display: block;
      width: 95% !important;
      max-width: 100%;
      margin: 0px auto;
      min-height: 510px; }
      .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
        float: left;
        width: calc(100% / 5 - 10px * 2) !important;
        min-height: 490px;
        height: auto;
        z-index: 1; }
        .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * {
          display: block;
          width: 100%;
          height: auto;
          text-decoration: none;
          background-color: transparent; }
          .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner {
            width: 95%;
            margin: 0px auto;
            position: relative;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(200, 200, 200, 0.5);
            padding: 0px 10px 10px;
            background-color: white;
            font-size: 1.7rem;
            line-height: 1.1;
            color: grey;
            text-align: center; }
            .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper {
              position: relative;
              z-index: 1;
              margin: 0px -10px 5px;
              width: calc(100% + 20px);
              cursor: pointer; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper img.item-img {
                width: 100%;
                height: 160px;
                object-fit: fill; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper .input-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper .input-wrapper input[name=item_image] {
                  cursor: pointer;
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: 100%;
                  height: 100%;
                  opacity: 0; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper.is-uploading {
                outline: 1px dashed rgba(146, 176, 179, 0.8);
                animation-name: uploading-effect;
                animation-iteration-count: infinite;
                animation-duration: 2s; }
            .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper {
              margin-bottom: 10px;
              min-height: 48px;
              position: relative; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper .item-title {
                display: block;
                /* Fallback for non-webkit */
                overflow: hidden;
                text-overflow: ellipsis;
                transition: height 300ms;
                white-space: normal; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper textarea {
                display: none;
                width: 100%;
                resize: vertical; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper [data-readmore-toggle] {
                font-size: 1.5rem;
                cursor: pointer;
                color: #178DB1;
                font-style: italic;
                text-decoration: none; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper [data-readmore-toggle]:hover {
                  color: #5EB0C9; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container {
                margin-top: 5px; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container .edit-wrapper {
                  display: block;
                  text-align: right; }
                  .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container .edit-wrapper .edit-entry {
                    cursor: pointer;
                    opacity: 0; }
                    .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container .edit-wrapper .edit-entry .edit-icon {
                      position: absolute;
                      right: 0px;
                      bottom: 0px;
                      width: 25px;
                      display: inline-block; }
                    .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container .edit-wrapper .edit-entry:hover {
                      opacity: .7; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container .save-wrapper {
                  display: none; }
                  .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container .save-wrapper .btn-xs {
                    font-size: 1.5rem; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper:hover aside.actions-container span.edit-entry {
                opacity: 1; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.edit-status .item-title {
                display: none; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.edit-status [data-readmore-toggle] {
                display: none; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.edit-status textarea {
                display: block; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.edit-status aside.actions-container .save-wrapper {
                display: block; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.edit-status aside.actions-container .edit-wrapper {
                display: none; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.edit-status:hover aside.actions-container span.edit-entry {
                display: none; }
            .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper {
              position: relative;
              min-height: 70px;
              margin-bottom: 10px; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper .item-description {
                overflow: hidden;
                transition: height 300ms; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper textarea {
                display: none;
                width: 100%;
                resize: vertical; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper [data-readmore-toggle] {
                font-size: 1.5rem;
                cursor: pointer;
                color: #178DB1;
                font-style: italic;
                text-decoration: none; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper [data-readmore-toggle]:hover {
                  color: #5EB0C9; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container {
                margin-top: 5px; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container .edit-wrapper {
                  display: block;
                  text-align: right; }
                  .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container .edit-wrapper .edit-entry {
                    cursor: pointer;
                    opacity: 0;
                    position: absolute;
                    right: 0px;
                    bottom: 0px; }
                    .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container .edit-wrapper .edit-entry .edit-icon {
                      width: 25px;
                      display: inline-block; }
                    .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container .edit-wrapper .edit-entry:hover {
                      opacity: .7; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container .save-wrapper {
                  display: none; }
                  .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container .save-wrapper .btn-xs {
                    font-size: 1.5rem; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper:hover aside.actions-container span.edit-entry {
                display: block;
                opacity: 1; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper.edit-status .item-description {
                display: none; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper.edit-status [data-readmore-toggle] {
                display: none; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper.edit-status textarea {
                display: block; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper.edit-status aside.actions-container .save-wrapper {
                display: block; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper.edit-status aside.actions-container .edit-wrapper {
                display: none; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper.edit-status:hover aside.actions-container > span.edit-entry {
                display: none; }
            .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .type-wrapper {
              margin-bottom: 10px; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .type-wrapper select {
                width: 100%; }
            .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper {
              text-align: center;
              width: 100%;
              padding: 0px 0px 10px; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .btn.btn-circle {
                width: 100%;
                max-width: 100%;
                padding: 4px;
                font-size: 2rem;
                border-radius: 50px;
                background: transparent;
                border: 2px solid #1ecd97;
                color: #1ecd97; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .btn.btn-circle:hover {
                  background: #1ecd97;
                  color: white; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .btn.btn-circle:focus {
                  outline: none; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap {
                width: 100%;
                margin: 0px auto; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap button {
                  width: 100%;
                  font-size: 2rem;
                  line-height: 34px;
                  height: 46px; }
                  .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap button.circle {
                    width: 46px; }
                  .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap button.filled {
                    line-height: 34px;
                    vertical-align: middle; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap img {
                  top: calc((100% - 38px) / 2);
                  left: calc((100% - 49px) / 2);
                  width: auto !important;
                  display: none; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap svg {
                  left: calc((100% - 46px) / 2);
                  top: 0px;
                  width: 46px;
                  height: 46px; }
                  .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap svg circle {
                    r: 21px;
                    cx: 23px;
                    cy: 23px; }
            .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner > aside {
              position: relative;
              z-index: 2; }
              .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner > aside img.delete-item {
                position: absolute;
                top: -15px;
                right: -15px;
                width: 30px;
                transition: all .3s;
                cursor: pointer;
                z-index: 3; }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner > aside img.delete-item:hover {
                  transform: scale(1.1); }
                .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner > aside img.delete-item:active {
                  transform: translateZ(-3px) scale(0.95); }
            .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .bottom-line {
              position: absolute;
              bottom: 0px;
              left: 0px;
              width: 30px;
              height: 2px;
              background-color: #c8c8c8; }
        .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li.editing {
          z-index: 2; }
      @media all and (min-width: 1440px) and (max-width: 1600px) {
        .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
          width: 100% !important; }
          .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            width: calc(100% / 5 - 5px * 2) !important;
            margin: 5px; } }
      @media all and (min-width: 1350px) and (max-width: 1440px) {
        .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
          width: 100% !important; }
          .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            width: calc(100% / 4 - 10px * 2) !important;
            margin: 10px; } }
      @media all and (min-width: 991px) and (max-width: 1350px) {
        .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
          max-width: calc((300px + 10px * 2) * 3); }
          .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            width: calc(100% / 3 - 10px * 2) !important;
            margin: 10px; } }
      @media all and (max-width: 990px) {
        .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
          max-width: calc((300px + 10px * 2) * 2); }
          .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            width: calc(100% / 2 - 10px * 2) !important;
            margin: 10px; } }
      @media all and (max-width: 670px) {
        .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
          max-width: calc((300px + 5px * 2) * 2); }
          .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            width: calc(100% / 2 - 5px * 2) !important;
            margin: 5px; } }
    .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper.is-dragover {
      outline: 2px dashed rgba(146, 176, 179, 0.8);
      outline-offset: -5px;
      -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
      transition: outline-offset .15s ease-in-out, opacity .15s linear; }
      .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .img-wrapper {
        outline: 1px dashed rgba(146, 176, 179, 0.8);
        outline-offset: -5px;
        -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
        transition: outline-offset .15s ease-in-out, opacity .15s linear; }
        .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .img-wrapper.is-dragover {
          opacity: .8;
          outline-offset: -15px;
          outline-color: #c8dadf;
          background-color: #fff; }
      .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .description-wrapper {
        outline: 1px dashed rgba(146, 176, 179, 0.8);
        outline-offset: -1px;
        -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
        transition: outline-offset .15s ease-in-out, opacity .15s linear; }
        .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .description-wrapper.is-dragover {
          opacity: 1;
          outline-offset: -7px;
          outline-color: #c8dadf;
          background-color: #fff; }
      .series-search-posts .main-content .meta-posts-block-container .tt-grid-wrapper.is-dragover.is-dragover-on-parent {
        opacity: .8;
        outline-offset: -20px;
        outline-color: #c8dadf; }
  .series-search-posts .main-content .posts-block-container .tt-grid-wrapper {
    border-bottom: 1px dashed rgba(128, 128, 128, 0.2); }
    .series-search-posts .main-content .posts-block-container .tt-grid-wrapper h3 {
      padding-left: 30px; }
    .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
      display: block;
      width: 95% !important;
      max-width: 100%;
      margin: 0px auto; }
      .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
        float: left;
        width: calc(100% / 5 - 10px * 2) !important;
        min-height: 325px;
        height: auto; }
        .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * {
          display: block;
          width: 100%;
          height: auto;
          text-decoration: none;
          background-color: transparent; }
          .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner {
            width: 95%;
            margin: 0px auto;
            position: relative;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(200, 200, 200, 0.5);
            padding: 0px 10px 10px;
            background-color: white;
            font-size: 1.7rem;
            line-height: 1.2;
            color: grey;
            text-align: center; }
            .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper {
              position: relative;
              z-index: 1;
              margin: 0px -10px 5px;
              width: calc(100% + 20px); }
              .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper img.item-img {
                width: 100%;
                height: 160px;
                object-fit: fill; }
            .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper {
              margin-bottom: 10px;
              min-height: 69px;
              position: relative; }
              .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper .item-title {
                display: block;
                /* Fallback for non-webkit */
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: height 300ms;
                white-space: normal; }
              .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper [data-readmore-toggle] {
                font-size: 1.5rem;
                cursor: pointer;
                color: #178DB1;
                font-style: italic;
                text-decoration: none; }
                .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper [data-readmore-toggle]:hover {
                  color: #5EB0C9; }
              .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.collapsed .item-title {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis; }
            .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper {
              text-align: center;
              width: 100%;
              padding: 0px 0px 10px; }
              .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .btn.btn-circle {
                width: 100%;
                max-width: 100%;
                padding: 4px;
                font-size: 2rem;
                border-radius: 50px;
                background: transparent;
                border: 2px solid #1ecd97;
                color: #1ecd97; }
                .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .btn.btn-circle:hover {
                  background: #1ecd97;
                  color: white; }
                .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .btn.btn-circle:focus {
                  outline: none; }
              .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap {
                width: 100%;
                margin: 0px auto; }
                .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap button {
                  width: 100%;
                  font-size: 2rem;
                  line-height: 34px;
                  height: 46px; }
                  .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap button.circle {
                    width: 46px; }
                  .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap button.filled {
                    line-height: 34px;
                    vertical-align: middle; }
                .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap img {
                  top: calc((100% - 38px) / 2);
                  left: calc((100% - 49px) / 2);
                  width: auto !important;
                  display: none; }
                .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap svg {
                  left: calc((100% - 46px) / 2);
                  top: 0px;
                  width: 46px;
                  height: 46px; }
                  .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap svg circle {
                    r: 21px;
                    cx: 23px;
                    cy: 23px; }
            .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner > aside .bottom-line {
              position: absolute;
              bottom: 0px;
              left: 0px;
              width: 30px;
              height: 2px;
              background-color: #c8c8c8; }
      @media all and (min-width: 991px) and (max-width: 1240px) {
        .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
          width: 100% !important; }
          .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            width: calc(100% / 5 - 0px * 2) !important;
            margin: 0px; } }
      @media all and (max-width: 990px) {
        .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
          max-width: calc((300px + 10px * 2) * 2); }
          .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            width: calc(100% / 2 - 10px * 2) !important;
            margin: 10px; } }
      @media all and (max-width: 670px) {
        .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
          max-width: calc((300px + 0px * 2) * 2); }
          .series-search-posts .main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            width: calc(100% / 2 - 0px * 2) !important;
            margin: 0px; } }
.series-search-posts footer {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px; }
  .series-search-posts footer button {
    padding: 3px 30px;
    font-size: 25px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #53d4ad;
    color: #53d4ad;
    margin: 5px 3%; }
    .series-search-posts footer button.show-more, .series-search-posts footer button.back-to-main {
      border-color: grey;
      color: grey; }
      .series-search-posts footer button.show-more:hover, .series-search-posts footer button.back-to-main:hover {
        background: grey;
        color: white; }
    .series-search-posts footer button .glyphicon {
      top: 2px; }
    .series-search-posts footer button:hover {
      background: #53d4ad;
      color: white; }
    .series-search-posts footer button:focus {
      outline: none; }

/*# sourceMappingURL=SeriesSearchPosts.css.map */
