<div class="users-page">
  <div class="card">
    <div class="card-body">
      <div class="table__wrapper">
        <ngx-datatable [rows]="items"
                       [columns]="columns"
                       class='material app-ngx-table'
                       [limit]="10"
                       [columnMode]="'force'"
                       [headerHeight]="'auto'"
                       [footerHeight]="50"
                       [rowHeight]="'auto'">
          <ng-template #imgCellTemplate let-column="column" let-value="value" let-row="row">
            <img class="user__image" [src]="value" alt="" />
          </ng-template>
          <ng-template #switchCellTemplate let-column="column" let-row="row" let-value="value">
            <ui-switch [(ngModel)]="row[column.prop]" (ngModelChange)="update(row)"></ui-switch>
          </ng-template>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
