:host .users-page{
  .table__wrapper{
    .app-ngx-table{
      .user__image{
          width: 80px;
          height: 80px;
          object-fit: cover;
          border-radius: 50%;
        }
    }
  }
}
