<div class="component skype-loader-component">
    <div class="skype-loader">
        <div class="dot">
            <div class="first"></div>
        </div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>