$content_color: grey;
$greyColor: #7c7c7e;
$lightGrey: #c8cabc;
$green: #1ecd97;
$greenColor: #1fcd98;
$greenHover: #1eb785;
$lightGreen: #f6fffc;
$contentColor: #737661;
$redColor: #f26d7e;
$redHover: #ff6a8f;
$yellowColor: #feba19;
$darkBlueColor: #a4c1e3;
$blueColor: #a4c1e3;