@import "../../config/css/colors.scss";
@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

html{
    body{
        .site-wrapper.page{
            .site-content{
                .content-header{
                    padding: 60px 70px 30px;
                    background-color: $lightGreen;
                    position: relative;
                    .content-header-content{
                        max-width: 100%;
                        margin: 0px auto;
                        text-align: left;
                        .title-wrapper{
                            .page-title{
                                margin: 0px 0px 10px;
                                font-weight: bold;
                            }
                            .step-name{
                                font-size: 1.5rem;
                                margin-bottom: 5px;
                            }
                            .step-wrapper{
                            }
                        }
                        .step-progress-wrapper{
                            width: 830px;
                            max-width: 100%;
                            margin: 0px auto;
                            padding-right: 30px;
                            .progress-wrapper{
                                display: flex;
                                .progress-item{
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    .step-wrapper{
                                        position: absolute;
                                        bottom: calc(100% + 10px);
                                        left: 0px;
                                        min-width: 50px;
                                        opacity: 0;
                                    }
                                    &:before{
                                        content: '';
                                        width: 20px;
                                        height: 20px;
                                        display: inline-block;
                                        vertical-align: middle;
                                        border-radius: 50%;
                                        opacity: .7;
                                        background-color: $greenColor;
                                    }
                                    &.right-dotted{
                                        flex-shrink: 1;
                                        min-width: 30px;
                                        //flex-basis: 0px;
                                        &:after{
                                            content: '';
                                            display: inline-block;
                                            width: 330px;
                                            max-width: calc(100% - 20px);
                                            height: 1px;
                                            vertical-align: middle;
                                            background-image: linear-gradient(to right, $lightGrey 3px, transparent 0%);
                                            background-size: 6px 1px;
                                            background-repeat: repeat-x;
                                        }
                                    }
                                    &.active{
                                        .step-wrapper{
                                            opacity: 1;
                                        }
                                        &:before{
                                            opacity: 1;
                                        }
                                    }
                                    &:last-child{
                                        &:before{
                                            background-color: $redColor;
                                        }
                                    }
                                }
                            }
                        }
                        .posts-count-box{
                            width: 80px;
                            height: 80px;
                            background-image: url("../../images/global-icons/box.png");
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            .posts-count{
                                position: relative;
                                color: white;
                                font-size: 1.5rem;
                            }
                        }
                    }
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
                        background-size: 5px 1px;
                        background-repeat: repeat-x;
                    }
                    @media all and (max-width: 768px) {
                        padding: 50px 20px 20px;
                    }
                }
                .step-pane{
                    width: 940px;
                    max-width: 100%;
                    margin: 0px auto;
                    padding: 20px 20px 80px;
                    .pane-title{
                        margin-bottom: 5px;
                        font-size: 2.5rem;
                        letter-spacing: 1px;
                        font-weight: bold;
                        color: #404040;
                    }
                    .pane-sub-title{
                        font-size: 2rem;
                        font-weight: bold;
                        margin-bottom: 15px;
                    }
                    .select2.select2-container{
                        width: 100% !important;
                    }
                }
                .tab-pane{
                    position: relative;
                    .slider-nav-wrapper{
                        position: fixed;
                        top: calc((100% - 250px) / 2);
                        height: 250px;
                        width: 160px;
                        overflow: hidden;
                        z-index: 80;
                        .slider-nav{
                            position: absolute;
                            top: calc((100% - 250px) / 2);
                            max-width: none;
                            height: 250px;
                            width: 250px;
                            background-color: rgba(255, 224, 198, .6);
                            border-radius: 50%;
                            cursor: pointer;
                            padding-left: 15px;
                            text-decoration: none;
                            span{
                                font-size: 2rem;
                                font-weight: bold;
                                color: white;
                                letter-spacing: 1px;
                            }
                            .arrow-icon-wrapper{
                                height: 100px;
                                width: 45px;
                                &:before, &:after{
                                    background-color: white;
                                }
                            }
                            &.arrow-left{
                                right: 0px;
                                .arrow-icon-wrapper{
                                    left: 10px;
                                }
                                span{
                                    margin: 0px -85px 0px -15px;
                                    max-width: 140px;
                                }
                            }
                            &.arrow-right{
                                justify-content: left;
                                left: 0px;
                                .arrow-icon-wrapper{
                                    right: 5px;
                                }
                            }
                            &:hover{
                                background-color: rgba(255, 224, 198, .9);
                                text-decoration: none;
                                .arrow-icon-wrapper{
                                    opacity: 1;
                                }
                            }
                        }
                        &.left-wrapper{
                            left: 0px;
                        }
                        &.right-wrapper{
                            right: 0px;
                        }
                    }
                }
                .step-1-select-from-pane{
                    .from-item{
                        display: block;
                        min-height: 100%;
                        padding: 30px 10px 20px;
                        border-radius: 15px;
                        color: white;
                        box-shadow: 0px 7px 10px 7px rgba(0, 0, 0, .1);
                        border: 10px solid transparent;
                        background-clip: border-box;
                        cursor: pointer;
                        text-decoration: none;
                        .item-img-wrapper{
                            .item-img{
                                width: 100%;
                            }
                        }
                        .item-title{
                            font-size: 2rem;
                            margin-bottom: 5px;
                        }
                        .item-sub-title{
                            font-size: 1.5rem;
                        }
                        &.item-from-scratch{
                            background-color: #18898d;
                            &:hover{
                                border-color: $greenColor;
                            }
                        }
                        &.item-from-search{
                            background-color: $redColor;
                            .item-img-wrapper{
                                .item-img{
                                    width: 86%;
                                }
                            }
                            &:hover{
                                border-color: #ffb2ce;
                            }
                        }
                        &.item-from-upload{
                            background-color: #ffd75e;
                            .item-img-wrapper{
                                .item-img{
                                    width: 81%;
                                }
                            }
                            &:hover{
                                border-color: #fffc54;
                            }
                        }
                        &:hover{
                            box-shadow: none;
                            text-decoration: none;
                        }
                    }
                }
                .step-1-add-from-scratch-pane{
                    .pane-sub-title{
                        color: #404040;
                        margin-top: 20px;
                        margin-bottom: 30px;
                    }
                    .identify-board{
                        margin-bottom: 40px;
                        padding: 30px 20px;
                        background-color: #18898d;
                        border-radius: 15px;
                        border: 10px solid $greenColor;
                        color: white;
                        .board-img-wrapper{
                            width: 250px;
                            max-width: 100%;
                            padding: 10px;
                            img{
                                width: 100%;
                            }
                            .board-title{
                                font-size: 1.5rem;
                            }
                        }
                        .board-txt{
                            width: 330px;
                            max-width: 100%;
                            margin: 0px auto;
                            font-size: 2rem;
                        }
                    }
                    form{
                        display: block;
                        width: 100%;
                        text-align: left;
                        .form-group{
                            label.control-label{
                                display: block;
                                position: relative;
                                padding: 7px 15px 0px 0px;
                                font-weight: normal;
                                font-size: 1.5rem;
                                &.required:after {
                                    content: "*";
                                    position: absolute;
                                    top: 0px;
                                    right: 0px;
                                    color: $redColor;
                                }
                                &.margin-bottom{
                                    margin-bottom: 10px;
                                }
                                &.margin-bottom-2{
                                    margin-bottom: 15px;
                                }
                            }
                            input{
                                padding-left: 0px;
                                border: none;
                                border-bottom: 1px solid $lightGrey;
                                box-shadow: none;
                                border-radius: 0px;
                                font-size: 1.5rem;
                                &::placeholder{
                                    color: $lightGrey;
                                }
                                &[name="strSeries_title"]{
                                    max-width: 385px;
                                }
                            }
                            .dropdown{
                                display: block;
                                button{
                                    display: block;
                                    width: 100%;
                                    text-align: left;
                                    background-color: transparent;
                                    color: inherit;
                                    border-radius: 9px;
                                    span{
                                        display: inline-block;
                                        width: calc(100% - 20px);
                                        color: inherit;
                                        text-align: left;
                                    }
                                    svg{
                                        width: 15px;
                                        vertical-align: middle;
                                        g, path{
                                            fill: $lightGrey;
                                        }
                                    }
                                    &:focus{
                                        outline: none;
                                    }
                                }
                                ul{
                                    width: 100%;
                                    min-width: 0px;
                                    margin-top: 0px;
                                    border-top: 0px;
                                    border-radius: 9px;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;
                                    background-color: #f6fffc;
                                    li{
                                        a{
                                            color: inherit;
                                            &:hover{
                                                background-color: $contentColor;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                                &.open{
                                    button{
                                        border-bottom-left-radius: 0px;
                                        border-bottom-right-radius: 0px;
                                    }
                                }
                            }
                            .cover-image-wrapper{
                                margin: 10px 0px;
                                padding: 50px 20px;
                                text-align: center;
                                position: relative;
                                border: 1px dashed $lightGrey;
                                border-radius: 20px;
                                color: $lightGrey;
                                .img-wrapper{
                                    img{
                                        max-width: 80px;
                                        opacity: .3;
                                    }
                                }
                                input{
                                    position: absolute;
                                    display: block;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                            }
                            .terms-container{
                                min-height: 30px;
                                .term-item{

                                }
                            }
                        }
                        .button-wrapper{
                            margin-top: 70px;
                            text-align: center;
                            .save-btn{
                                background-color: $greenColor;
                                border: none;
                                outline: none;
                                color: white;
                                display: block;
                                width: 290px;
                                margin: 0px auto;
                                text-align: center;
                                padding: 12px 5px;
                                border-radius: 30px;
                                font-size: 2rem;
                                font-weight: lighter;
                                &:hover{
                                    background-color: $greenHover;
                                }
                                &.small{
                                    display: inline-block;
                                    width: auto;
                                    padding: 10px 30px;
                                    font-size: 1.5rem;
                                }
                            }
                        }
                        .note-editor{
                            .note-toolbar-wrapper{
                                height: auto !important;
                                .note-toolbar{
                                    position: static !important;
                                }
                            }
                        }
                        .terms-container{
                            .term-item{
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
                .step-1-add-from-search-pane{
                    width: 1000px;
                    .pane-sub-title{
                        color: #404040;
                        margin-top: 20px;
                        margin-bottom: 30px;
                    }
                    .identify-board{
                        margin-bottom: 40px;
                        padding: 30px 20px;
                        background-color: $redColor;
                        border-radius: 15px;
                        border: 10px solid #fcb09d;
                        color: white;
                        .board-img-wrapper{
                            width: 250px;
                            max-width: 100%;
                            padding: 10px;
                            img{
                                width: 100%;
                            }
                            .board-title{
                                font-size: 1.5rem;
                            }
                        }
                        .search-input-wrapper{
                            width: 360px;
                            max-width: 100%;
                            margin: 0px auto;
                            font-size: 2rem;
                            input{
                                padding: 5px 0px;
                                background-color: transparent;
                                border: none;
                                border-bottom: 1px solid white;
                                font-size: 1.7rem;
                                color: white;
                                &::placeholder{
                                    color: white;
                                }
                                &:focus{
                                    outline: none;
                                }
                            }
                            button.search-submit-button{
                                border: none;
                                background: none;
                                svg{
                                    width: 20px;
                                    vertical-align: middle;
                                }
                                &:hover{
                                    svg{
                                        path{
                                            fill: $greenHover;
                                        }
                                    }
                                }
                                &:focus{
                                    border: none;
                                    outline: none;
                                }
                            }
                        }
                    }
                    .search-section-wrapper{
                        text-align: left;
                        .your-search-title{
                            font-size: 2.5rem;
                            font-weight: bold;
                            letter-spacing: 1px;
                            margin-bottom: 30px;
                        }
                        .search-container{
                            .search-row{
                                margin-bottom: 30px;
                                .search-row-header{
                                    margin-bottom: 20px;
                                    .from-name{
                                        margin: 0px;
                                        font-weight: bold;
                                        font-size: 2rem;
                                    }
                                    .items-found-wrapper{
                                        color: $contentColor;
                                        text-decoration: underline;
                                    }
                                }
                                .search-row-body{
                                    min-height: 50px;
                                    .search-items-list{
                                        transition: all .3s ease-out;
                                        .search-item{
                                            padding: 0px 10px;
                                            .item-img-wrapper{
                                                position: relative;
                                                margin-bottom: 15px;
                                                cursor: pointer;
                                                .item-img{
                                                    width: 100%;
                                                    height: 110px;
                                                }
                                                aside.blog-duration{
                                                    position: absolute;
                                                    bottom: 8px;
                                                    right: 9px;
                                                    padding: 7px 20px;
                                                    z-index: auto;
                                                    background: rgba(227, 228, 220, .8);
                                                    border-radius: 10px;
                                                    font-size: 1.2rem;
                                                    line-height: 1.1;
                                                }
                                                .hover-content{
                                                    position: absolute;
                                                    top: 0px;
                                                    left: 0px;
                                                    width: 100%;
                                                    height: 100%;
                                                    background-color: rgba(255, 255, 255, .7);
                                                    //background-color: red;
                                                    opacity: 0;
                                                    svg{
                                                        width: 100px;
                                                        max-width: 100%;
                                                        opacity: .3;
                                                        g, path{
                                                            fill: $greenColor;
                                                        }
                                                    }
                                                }
                                                &:hover{
                                                    .hover-content{
                                                        opacity: 1;
                                                    }
                                                }
                                            }
                                            .item-title{
                                                display: block;
                                                font-size: 1.5rem;
                                                color: $contentColor;
                                            }
                                            &.added-item{
                                                .item-img-wrapper{
                                                    aside.added-icon-wrapper{
                                                        display: block;
                                                    }
                                                    .hover-content{
                                                        background-color: rgba(255, 255, 255, 0);
                                                        opacity: 1;
                                                        svg{
                                                            opacity: 1;
                                                        }
                                                    }
                                                }
                                            }
                                            @media all and (max-width: 768px) {
                                                .item-img-wrapper{
                                                    .item-img{
                                                        width: 100%;
                                                        height: 150px;
                                                    }
                                                }
                                            }
                                        }
                                        .slick-list{
                                        }
                                    }
                                    .arrow-icon-wrapper{
                                        position: relative;
                                        top: 50px;
                                    }
                                    .flex-row{
                                        .flex-col{
                                            overflow: hidden;
                                        }
                                    }
                                }
                            }
                        }
                        .button-wrapper{
                            margin-top: 40px;
                            margin-bottom: 20px;
                            text-align: center;
                            .add-selected-btn{
                                background-color: $greenColor;
                                border: none;
                                outline: none;
                                color: white;
                                display: block;
                                width: 290px;
                                margin: 0px auto;
                                text-align: center;
                                padding: 12px 5px;
                                border-radius: 30px;
                                font-size: 2rem;
                                font-weight: lighter;
                                &:hover{
                                    background-color: $greenHover;
                                }
                                &.small{
                                    display: inline-block;
                                    width: auto;
                                    padding: 10px 30px;
                                    font-size: 1.5rem;
                                }
                            }
                            .preview-post{
                                display: inline-block;
                                margin-top: 5px;
                                color: $contentColor;
                                text-decoration: none;
                                padding-bottom: 1px;
                                &:hover{
                                    color: black;
                                }
                            }
                        }
                        .still-not-find-txt{
                            margin-bottom: 10px;
                            text-align: center;
                        }
                        .btn-wrapper{
                            text-align: center;
                            .load-more-btn{
                                background-color: transparent;
                                border: 1px solid $greenColor;
                                color: $contentColor;
                                padding: 7px 20px;
                                border-radius: 20px;
                                font-size: 1.5rem;
                                &:focus{
                                    outline: none;
                                }
                                &:hover{
                                    background-color: $greenColor;
                                    color: white;
                                }
                            }
                        }
                    }
                }
                .step-1-add-from-upload-pane{
                    width: 1000px;
                    .pane-sub-title{
                        color: #404040;
                        margin-top: 20px;
                        margin-bottom: 30px;
                    }
                    .identify-board{
                        margin-bottom: 40px;
                        padding: 30px 20px;
                        background-color: #ffda72;
                        border-radius: 15px;
                        border: 10px solid #fffc54;
                        color: white;
                        .board-img-wrapper{
                            width: 250px;
                            max-width: 100%;
                            padding: 10px;
                            img{
                                width: 100%;
                            }
                            .board-title{
                                font-size: 1.5rem;
                            }
                        }
                        .upload-input-wrapper{
                            width: 440px;
                            max-width: 100%;
                            margin: 0px auto;
                            border: 2px dashed white;
                            border-radius: 15px;
                            padding: 15px 10px 10px;
                            .file-input-wrapper{
                                position: relative;
                                margin-bottom: 10px;
                                .drag-urls-txt{
                                    width: 330px;
                                    max-width: 100%;
                                    margin: 0px auto 10px;
                                    font-size: 1.8rem;
                                }
                                .cloud-wrapper{
                                    text-align: center;
                                    svg{
                                        width: 60px;
                                    }
                                }
                                input.file-input{
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                            }
                            .url-input-wrapper{
                                position: relative;
                                width: 90%;
                                margin: 0px auto;
                                .enter-icon-wrapper{
                                    position: absolute;
                                    right: 0px;
                                    top: 0px;
                                    height: 100%;
                                    width: 30px;
                                    svg{
                                        width: 20px;
                                        height: 20px;
                                        g, path{
                                            fill: $lightGrey;
                                        }
                                    }
                                }
                                input{
                                    width: 100%;
                                    color: $contentColor;
                                    border: none;
                                    border-radius: 5px;
                                    padding: 5px 10px;
                                    font-size: 1.5rem;
                                    &::placeholder{
                                        color: $contentColor;
                                        font-weight: bold;
                                        letter-spacing: 1px;
                                    }
                                    &:focus{
                                        outline: none;
                                    }
                                }
                            }
                        }
                        &.drag-over{
                            .upload-input-wrapper{
                                border-style: solid;
                            }
                        }
                    }
                    .pane-body{
                        margin-bottom: 30px;
                        text-align: left;
                        .upload-items-title-wrapper{
                            margin-bottom: 20px;
                            .uploaded-items-txt{
                                margin: 0px;
                            }
                        }
                        .drag-title-wrapper{
                            margin-bottom: 20px;
                            img{
                                width: 30px;
                                vertical-align: middle;
                                opacity: .7;
                            }
                            span{
                                margin-left: 5px;
                                font-size: 1.5rem;
                                vertical-align: middle;
                            }
                        }
                        .items-container{
                            min-height: 300px;
                            padding: 20px 30px;
                            border: 1px dashed $lightGrey;
                            border-radius: 10px;
                            .upload-term-item{
                                margin-bottom: 15px;
                                .item-action{
                                    display: block;
                                    line-height: 0;
                                    svg{
                                        width: 25px;
                                        height: 25px;
                                        g, path {
                                            fill: $lightGrey;
                                        }
                                    }
                                    &.edit-action {
                                        display: flex;
                                        width: 25px;
                                        height: 25px;
                                        border-radius: 50%;
                                        border: 1px solid $lightGrey;
                                        svg {
                                            width: 12px;
                                            height: 12px;
                                        }
                                    }
                                    &:hover{
                                        svg{
                                            g, path {
                                                fill: $contentColor;
                                            }
                                        }
                                        &.edit-action {
                                            border-color: $contentColor;
                                        }
                                    }
                                }
                                .item-img-wrapper{
                                    flex-basis: 90px;
                                    text-align: center;
                                    opacity: 1;
                                    position: relative;
                                    img{
                                        cursor: move;
                                        width: 87px;
                                        max-height: 70px;
                                    }
                                    .image-input{
                                        display: block;
                                        position: absolute;
                                        left: 0px;
                                        top: 0px;
                                        width: 100%;
                                        height: 100%;
                                        opacity: 0;
                                    }
                                }
                                .edit-col{
                                    margin-right: 0px;
                                }

                                .site-green-btn{
                                    font-size: 1.5rem;
                                    padding: 7px 30px;
                                    position: relative;
                                    &:after{
                                        content: '';
                                        display: none;
                                        width: 30px;
                                        height: 30px;
                                        position: absolute;
                                        right: 0px;
                                        top: calc((100% - 30px) / 2);
                                        background-image: url("../../../assets/images/global-icons/check_arrow_2.svg");
                                        background-position: center center;
                                        background-repeat: no-repeat;
                                        background-size: 20px 20px;
                                    }
                                    &.active{
                                        &:after{
                                            display: block;
                                        }
                                    }
                                }
                                .data-generate-col{
                                    display: none;
                                }
                                &.can-convert{
                                    .data-generate-col{
                                        display: block;
                                    }
                                }

                                .form-group{
                                    margin-bottom: 0px;
                                    input{
                                        padding-left: 0px;
                                        border: none;
                                        border-bottom: 1px solid $lightGrey;
                                        box-shadow: none;
                                        border-radius: 0px;
                                        font-size: 1.5rem;
                                        &::placeholder{
                                            color: $lightGrey;
                                        }
                                        &[name="strSeries_title"]{
                                            max-width: 385px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .pane-footer{
                        text-align: center;
                        .button-wrapper{
                            margin-top: 20px;
                            margin-bottom: 25px;
                            text-align: center;
                            .save-btn{
                                background-color: $greenColor;
                                border: none;
                                outline: none;
                                color: white;
                                display: block;
                                width: 290px;
                                margin: 0px auto;
                                text-align: center;
                                padding: 12px 5px;
                                border-radius: 30px;
                                font-size: 2rem;
                                font-weight: lighter;
                                &:hover{
                                    background-color: $greenHover;
                                }
                                &.small{
                                    display: inline-block;
                                    width: auto;
                                    padding: 10px 30px;
                                    font-size: 1.5rem;
                                }
                                &[disabled]{
                                    opacity: 0;
                                }
                            }
                        }
                        .changed-txt{
                            margin-bottom: 10px;
                        }
                        .btn-wrapper{
                            .cancel-all-btn{
                                background-color: transparent;
                                border: 1px solid $greenColor;
                                color: $contentColor;
                                padding: 7px 20px;
                                border-radius: 20px;
                                font-size: 1.5rem;
                                &:focus{
                                    outline: none;
                                }
                                &:hover{
                                    background-color: $greenColor;
                                    color: white;
                                }
                            }
                        }
                    }
                    @media all and (max-width: 768px) {
                        .pane-body{
                            .items-container{
                                min-height: 300px;
                                padding: 20px 10px;
                                border: none;
                                .upload-term-item{
                                    margin-bottom: 15px;
                                    .item-img-wrapper{
                                        flex-basis: 90px;
                                        text-align: center;
                                        opacity: 1;
                                        position: relative;
                                        img{
                                            cursor: move;
                                            width: 87px;
                                            max-height: 70px;
                                        }
                                        .image-input{
                                            display: block;
                                            position: absolute;
                                            left: 0px;
                                            top: 0px;
                                            width: 100%;
                                            height: 100%;
                                            opacity: 0;
                                        }
                                    }
                                    .edit-col{
                                        margin-right: 0px;
                                    }
                                    .file-type{
                                        width: 100px;
                                        overflow: hidden;
                                    }
                                }
                            }
                        }
                    }
                }
                .step-1-add-more-pane{
                    .from-item{
                        display: block;
                        min-height: 100%;
                        padding: 30px 10px 20px;
                        border-radius: 15px;
                        color: white;
                        box-shadow: 0px 7px 10px 7px rgba(0, 0, 0, .1);
                        border: 10px solid transparent;
                        background-clip: border-box;
                        cursor: pointer;
                        text-decoration: none;
                        .item-img-wrapper{
                            .item-img{
                                width: 100%;
                            }
                        }
                        .item-title{
                            font-size: 2rem;
                            margin-bottom: 5px;
                        }
                        .item-sub-title{
                            font-size: 1.5rem;
                        }
                        &.item-from-scratch{
                            background-color: #18898d;
                            &:hover{
                                border-color: $greenColor;
                            }
                        }
                        &.item-from-search{
                            background-color: $redColor;
                            .item-img-wrapper{
                                .item-img{
                                    //width: 86%;
                                }
                            }
                            &:hover{
                                border-color: #ffb2ce;
                            }
                        }
                        &.item-from-upload{
                            background-color: #ffd75e;
                            .item-img-wrapper{
                                .item-img{
                                    //width: 81%;
                                }
                            }
                            &:hover{
                                border-color: #fffc54;
                            }
                        }
                        &:hover{
                            box-shadow: none;
                            text-decoration: none;
                        }
                    }
                    .button-wrapper{
                        margin-top: 70px;
                        text-align: center;
                        .go-next-btn{
                            background-color: $greenColor;
                            border: none;
                            outline: none;
                            color: white;
                            display: block;
                            width: 290px;
                            margin: 0px auto;
                            text-align: center;
                            padding: 12px 5px;
                            border-radius: 30px;
                            font-size: 2rem;
                            font-weight: lighter;
                            &:hover{
                                background-color: $greenHover;
                            }
                            &.small{
                                display: inline-block;
                                width: auto;
                                padding: 10px 30px;
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
                .step-2-arrange-pane{
                    width: 1100px;
                    .posts-structure-component{
                        margin-top: 20px;
                    }
                    .structure-footer{
                        text-align: center;
                        .button-wrapper{
                            margin-top: 70px;
                            text-align: center;
                            .go-next-btn{
                                background-color: $greenColor;
                                border: none;
                                outline: none;
                                color: white;
                                display: block;
                                width: 480px;
                                max-width: 100%;
                                margin: 0px auto;
                                text-align: center;
                                padding: 12px 5px;
                                border-radius: 30px;
                                font-size: 2rem;
                                font-weight: lighter;
                                text-decoration: none;
                                &:hover{
                                    background-color: $greenHover;
                                    text-decoration: none;
                                }
                                &.small{
                                    display: inline-block;
                                    width: auto;
                                    padding: 10px 30px;
                                    font-size: 1.5rem;
                                }
                            }
                        }
                        .actually-link-wrapper{
                            margin-top: 20px;
                            .actually-link{
                                color: $greenColor;
                                font-size: 1.5rem;
                                &:hover{
                                    text-decoration: none;
                                    color: $greenHover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.c-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-bottom: 0px;
    vertical-align: middle;
    input {display:none;}
    input:checked + .slider {
        background-color: transparent;
        border-color: $yellowColor;
        &:before{
            background-color: $yellowColor;
        }
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #6bc069;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        -webkit-transition: .4s;
        transition: .4s;
        border: 1px solid $lightGrey;
        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: calc((100% - 20px) / 2);
            background-color: $lightGrey;
            -webkit-transition: .4s;
            transition: .4s;
        }
        &.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
    }
}

.select2-container .select2-selection--single{
    padding-top: 3px;
    height: 35px;
    border-color: $lightGrey;
    .select2-selection__arrow{
        top: 4px;
    }
    span.select2-selection__rendered{
        font-size: 1.5rem;
        color: $contentColor;
    }
    &:focus{
        outline: none;
    }
}
.select2-results__option{
    font-size: 16px;
}