$greenColor: #1fcd98;
$greenHover: #1eb785;
$contentColor: #737661;
$redColor: #f26d7e;
$yellowColor: #feba19;

@font-face {
    font-family: 'Title-Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli'), url('../../fonts/Muli/Muli-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Content-Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli'), url('../../fonts/Muli/Muli-Regular.ttf') format('truetype');
}

html {
    body{
        .site-wrapper.page{
            main.main-content{
                text-align: center;
                section{
                    color: #737661;
                    &.hero-section{
                        color: white;
                        background-color: #a4c1e3;
                        padding: 90px 0px 0px;
                        .hero-title{
                            margin-top: 0px;
                            margin-bottom: 15px;
                            font-size: 4rem;
                            font-weight: bold;
                        }
                        .hero-sub-title{
                            margin-bottom: 20px;
                            font-size: 2rem;
                        }
                        .hero-image-wrapper{
                            img{
                                margin-top: -20px;
                                margin-bottom: -40px;
                                max-width: 100%;
                            }
                        }
                        @media all and (max-width: 768px){
                            padding: 20px 0px 15px;
                            .hero-title{
                                font-size: 3.5rem;
                                margin-bottom: 10px;
                            }
                            .hero-sub-title{
                                font-size: 2.5rem;
                                margin-bottom: 15px;
                            }
                            .hero-image-wrapper{
                                margin-bottom: 5px;
                                svg{
                                    width: 450px;
                                }
                            }
                            .get-started-free{}
                            .introduction-wrapper{}
                        }
                        @media all and (max-width: 576px){
                            padding: 15px 0px 15px;
                            .hero-title{
                            }
                            .hero-sub-title{
                            }
                            .hero-image-wrapper{
                                margin-bottom: 5px;
                                svg{
                                    width: 350px;
                                }
                            }
                            .get-started-free{}
                            .introduction-wrapper{}
                        }
                    }
                    &.passive-income{
                        padding: 50px 10px 40px;
                        .section-title{
                            font-size: 2.5rem;
                            margin-bottom: 15px;
                        }
                        .section-description{
                            font-size: 1.7rem;
                            margin-bottom: 15px;
                        }
                        .get-started-free{
                            margin-bottom: 10px;
                            a.get-started-btn{
                                display: inline-block;
                                padding: 15px 40px;
                                width: 300px;
                                background-color: $greenColor;
                                border-radius: 40px;
                                color: white;
                                font-size: 2rem;
                                text-decoration: none;
                                &:hover{
                                    background-color: $greenHover;
                                }
                            }
                        }
                        .terms-condition{
                            font-size: 1.5rem;
                            color: $greenColor;
                        }
                    }
                    &.high-commision{
                        padding: 55px 5px;
                        background-color: #fabb0c;
                        color: white;
                        .section-title{
                            font-size: 1.5rem;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }
                        .section-description{
                            font-size: 1.5rem;
                            margin-bottom: 10px;
                        }
                        .icons-list{
                        }
                    }
                    &.how-affiliate-works{
                        padding: 45px 5px 30px;
                        .section-title{
                            margin-bottom: 20px;
                            font-size: 2.3rem;
                        }
                        article{
                            width: 800px;
                            max-width: 100%;
                            margin: 0px auto 20px;
                            .article-image-wrapper{
                                padding: 5px 10px;
                                img{

                                }
                            }
                            .article-explain{
                                width: 320px;
                                max-width: 100%;
                                font-size: 1.5rem;
                                padding: 5px 10px;
                                line-height: 1.5em;
                                .article-title{
                                    width: 260px;
                                    max-width: 100%;
                                    margin: 0px auto;
                                    font-weight: bold;
                                }
                                .article-description{

                                }
                                aside{
                                    color: $greenColor;
                                }
                            }
                        }
                    }
                    &.choose-how-learn{
                        padding: 55px 10px 45px;
                        background-color: $greenColor;
                        color: white;
                        font-size: 1.7rem;
                        .section-title{
                            font-weight: bold;
                        }
                        .section-description{
                            margin-bottom: 15px;
                        }
                        .get-started-free{
                            margin-bottom: 10px;
                            a.get-started-btn{
                                display: inline-block;
                                width: 300px;
                                padding: 15px 40px;
                                border: 1px solid white;
                                border-radius: 40px;
                                color: white;
                                font-size: 1.7rem;
                                text-decoration: none;
                                &:hover{
                                    color: $greenColor;
                                    background-color: white;
                                }
                            }
                        }
                    }
                    &.how-setup-affiliate{
                        padding: 45px 5px 50px;
                        .section-title{
                            margin-bottom: 20px;
                            font-size: 2.3rem;
                        }
                        article{
                            width: 800px;
                            max-width: 100%;
                            margin: 0px auto 20px;
                            .article-image-wrapper{
                                padding: 5px 10px;
                                img{

                                }
                            }
                            .article-explain{
                                width: 320px;
                                max-width: 100%;
                                font-size: 1.5rem;
                                padding: 5px 10px;
                                line-height: 1.5em;
                                .article-title{
                                    font-weight: bold;
                                    width: 250px;
                                    max-width: 100%;
                                    margin: 0px auto;
                                }
                                .article-description{

                                }
                                aside{
                                    color: $greenColor;
                                }
                            }
                        }
                        .get-started-free{
                            margin-top: 40px;
                            margin-bottom: 10px;
                            a.get-started-btn{
                                display: inline-block;
                                width: 300px;
                                max-width: 100%;
                                padding: 15px 40px;
                                background-color: $greenColor;
                                border-radius: 40px;
                                color: white;
                                font-size: 2rem;
                                text-decoration: none;
                                &:hover{
                                    background-color: $greenHover;
                                }
                            }
                        }
                        .section-description{
                            font-size: 1.5rem;
                            margin-top: 40px;
                        }
                    }
                }
            }
        }
    }
}