@font-face {
  font-family: "Title-Muli";
  font-style: normal;
  font-weight: 400;
  src: local("Muli"), url("../../fonts/Muli/Muli-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Content-Muli";
  font-style: normal;
  font-weight: 400;
  src: local("Muli"), url("../../fonts/Muli/Muli-Regular.ttf") format("truetype");
}
html body .site-wrapper.page main.main-content {
  text-align: center;
}
html body .site-wrapper.page main.main-content section {
  color: #737661;
}
html body .site-wrapper.page main.main-content section.hero-section {
  color: white;
  background-color: #a4c1e3;
  padding: 90px 0px 0px;
}
html body .site-wrapper.page main.main-content section.hero-section .hero-title {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 4rem;
  font-weight: bold;
}
html body .site-wrapper.page main.main-content section.hero-section .hero-sub-title {
  margin-bottom: 20px;
  font-size: 2rem;
}
html body .site-wrapper.page main.main-content section.hero-section .hero-image-wrapper img {
  margin-top: -20px;
  margin-bottom: -40px;
  max-width: 100%;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page main.main-content section.hero-section {
    padding: 20px 0px 15px;
  }
  html body .site-wrapper.page main.main-content section.hero-section .hero-title {
    font-size: 3.5rem;
    margin-bottom: 10px;
  }
  html body .site-wrapper.page main.main-content section.hero-section .hero-sub-title {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  html body .site-wrapper.page main.main-content section.hero-section .hero-image-wrapper {
    margin-bottom: 5px;
  }
  html body .site-wrapper.page main.main-content section.hero-section .hero-image-wrapper svg {
    width: 450px;
  }
}
@media all and (max-width: 576px) {
  html body .site-wrapper.page main.main-content section.hero-section {
    padding: 15px 0px 15px;
  }
  html body .site-wrapper.page main.main-content section.hero-section .hero-image-wrapper {
    margin-bottom: 5px;
  }
  html body .site-wrapper.page main.main-content section.hero-section .hero-image-wrapper svg {
    width: 350px;
  }
}
html body .site-wrapper.page main.main-content section.passive-income {
  padding: 50px 10px 40px;
}
html body .site-wrapper.page main.main-content section.passive-income .section-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
html body .site-wrapper.page main.main-content section.passive-income .section-description {
  font-size: 1.7rem;
  margin-bottom: 15px;
}
html body .site-wrapper.page main.main-content section.passive-income .get-started-free {
  margin-bottom: 10px;
}
html body .site-wrapper.page main.main-content section.passive-income .get-started-free a.get-started-btn {
  display: inline-block;
  padding: 15px 40px;
  width: 300px;
  background-color: #1fcd98;
  border-radius: 40px;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
html body .site-wrapper.page main.main-content section.passive-income .get-started-free a.get-started-btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page main.main-content section.passive-income .terms-condition {
  font-size: 1.5rem;
  color: #1fcd98;
}
html body .site-wrapper.page main.main-content section.high-commision {
  padding: 55px 5px;
  background-color: #fabb0c;
  color: white;
}
html body .site-wrapper.page main.main-content section.high-commision .section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
html body .site-wrapper.page main.main-content section.high-commision .section-description {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
html body .site-wrapper.page main.main-content section.how-affiliate-works {
  padding: 45px 5px 30px;
}
html body .site-wrapper.page main.main-content section.how-affiliate-works .section-title {
  margin-bottom: 20px;
  font-size: 2.3rem;
}
html body .site-wrapper.page main.main-content section.how-affiliate-works article {
  width: 800px;
  max-width: 100%;
  margin: 0px auto 20px;
}
html body .site-wrapper.page main.main-content section.how-affiliate-works article .article-image-wrapper {
  padding: 5px 10px;
}
html body .site-wrapper.page main.main-content section.how-affiliate-works article .article-explain {
  width: 320px;
  max-width: 100%;
  font-size: 1.5rem;
  padding: 5px 10px;
  line-height: 1.5em;
}
html body .site-wrapper.page main.main-content section.how-affiliate-works article .article-explain .article-title {
  width: 260px;
  max-width: 100%;
  margin: 0px auto;
  font-weight: bold;
}
html body .site-wrapper.page main.main-content section.how-affiliate-works article .article-explain aside {
  color: #1fcd98;
}
html body .site-wrapper.page main.main-content section.choose-how-learn {
  padding: 55px 10px 45px;
  background-color: #1fcd98;
  color: white;
  font-size: 1.7rem;
}
html body .site-wrapper.page main.main-content section.choose-how-learn .section-title {
  font-weight: bold;
}
html body .site-wrapper.page main.main-content section.choose-how-learn .section-description {
  margin-bottom: 15px;
}
html body .site-wrapper.page main.main-content section.choose-how-learn .get-started-free {
  margin-bottom: 10px;
}
html body .site-wrapper.page main.main-content section.choose-how-learn .get-started-free a.get-started-btn {
  display: inline-block;
  width: 300px;
  padding: 15px 40px;
  border: 1px solid white;
  border-radius: 40px;
  color: white;
  font-size: 1.7rem;
  text-decoration: none;
}
html body .site-wrapper.page main.main-content section.choose-how-learn .get-started-free a.get-started-btn:hover {
  color: #1fcd98;
  background-color: white;
}
html body .site-wrapper.page main.main-content section.how-setup-affiliate {
  padding: 45px 5px 50px;
}
html body .site-wrapper.page main.main-content section.how-setup-affiliate .section-title {
  margin-bottom: 20px;
  font-size: 2.3rem;
}
html body .site-wrapper.page main.main-content section.how-setup-affiliate article {
  width: 800px;
  max-width: 100%;
  margin: 0px auto 20px;
}
html body .site-wrapper.page main.main-content section.how-setup-affiliate article .article-image-wrapper {
  padding: 5px 10px;
}
html body .site-wrapper.page main.main-content section.how-setup-affiliate article .article-explain {
  width: 320px;
  max-width: 100%;
  font-size: 1.5rem;
  padding: 5px 10px;
  line-height: 1.5em;
}
html body .site-wrapper.page main.main-content section.how-setup-affiliate article .article-explain .article-title {
  font-weight: bold;
  width: 250px;
  max-width: 100%;
  margin: 0px auto;
}
html body .site-wrapper.page main.main-content section.how-setup-affiliate article .article-explain aside {
  color: #1fcd98;
}
html body .site-wrapper.page main.main-content section.how-setup-affiliate .get-started-free {
  margin-top: 40px;
  margin-bottom: 10px;
}
html body .site-wrapper.page main.main-content section.how-setup-affiliate .get-started-free a.get-started-btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 15px 40px;
  background-color: #1fcd98;
  border-radius: 40px;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
html body .site-wrapper.page main.main-content section.how-setup-affiliate .get-started-free a.get-started-btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page main.main-content section.how-setup-affiliate .section-description {
  font-size: 1.5rem;
  margin-top: 40px;
}

/*# sourceMappingURL=affiliate-home-page.css.map */
