html body .site-wrapper.page .site-content main.main-content section.hero-section {
  padding: 50px 5px 20px;
  background-color: #a4c1e3;
  color: white; }
  html body .site-wrapper.page .site-content main.main-content section.hero-section .section-title {
    font-size: 4rem;
    font-weight: bold; }
  html body .site-wrapper.page .site-content main.main-content section.hero-section .section-sub-title {
    font-size: 2.5rem; }
  html body .site-wrapper.page .site-content main.main-content section.hero-section .image-wrapper {
    position: relative; }
    html body .site-wrapper.page .site-content main.main-content section.hero-section .image-wrapper .big-play-btn {
      position: absolute;
      width: 180px;
      height: 180px;
      left: calc((100% - 180px) / 2);
      top: calc((100% - 180px) / 2 - 10px);
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      text-decoration: none; }
      html body .site-wrapper.page .site-content main.main-content section.hero-section .image-wrapper .big-play-btn:before {
        display: block;
        font-family: VideoJS;
        content: '\f101';
        color: #a4c1e3;
        font-weight: 400;
        font-size: 140px; }
      html body .site-wrapper.page .site-content main.main-content section.hero-section .image-wrapper .big-play-btn:hover, html body .site-wrapper.page .site-content main.main-content section.hero-section .image-wrapper .big-play-btn:focus {
        text-decoration: none; }
html body .site-wrapper.page .site-content main.main-content section.make-others-life {
  padding: 0px 10px 20px; }
  html body .site-wrapper.page .site-content main.main-content section.make-others-life .section-inner {
    width: 425px;
    max-width: 100%;
    margin: 0px auto; }
    html body .site-wrapper.page .site-content main.main-content section.make-others-life .section-inner .section-sub-title {
      font-size: 2.5rem;
      line-height: 1.5;
      margin-bottom: 0px; }
    html body .site-wrapper.page .site-content main.main-content section.make-others-life .section-inner .up-to-txt {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 5px; }
    html body .site-wrapper.page .site-content main.main-content section.make-others-life .section-inner .each-time-txt {
      font-size: 1.5rem;
      margin-bottom: 20px; }
    html body .site-wrapper.page .site-content main.main-content section.make-others-life .section-inner .get-started-free {
      margin-bottom: 10px; }
      html body .site-wrapper.page .site-content main.main-content section.make-others-life .section-inner .get-started-free a.get-started-btn {
        display: inline-block;
        padding: 15px 40px;
        background-color: #1fcd98;
        border-radius: 40px;
        color: white;
        font-size: 2rem;
        text-decoration: none; }
        html body .site-wrapper.page .site-content main.main-content section.make-others-life .section-inner .get-started-free a.get-started-btn:hover {
          background-color: #1eb785; }
        @media all and (max-width: 768px) {
          html body .site-wrapper.page .site-content main.main-content section.make-others-life .section-inner .get-started-free a.get-started-btn {
            padding: 12px 30px; } }
    html body .site-wrapper.page .site-content main.main-content section.make-others-life .section-inner .terms-condition-txt {
      font-size: 1.5rem;
      color: #1fcd98; }
html body .site-wrapper.page .site-content main.main-content section.add-posts-from {
  padding: 50px 10px;
  background-color: #f26d7e;
  text-align: center;
  color: white; }
  html body .site-wrapper.page .site-content main.main-content section.add-posts-from .add-from-txt {
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 1.5; }
  html body .site-wrapper.page .site-content main.main-content section.add-posts-from .from-items .from-item {
    display: block;
    line-height: 0; }
    html body .site-wrapper.page .site-content main.main-content section.add-posts-from .from-items .from-item svg {
      height: 35px;
      width: auto; }
      html body .site-wrapper.page .site-content main.main-content section.add-posts-from .from-items .from-item svg g, html body .site-wrapper.page .site-content main.main-content section.add-posts-from .from-items .from-item svg path {
        fill: white; }
html body .site-wrapper.page .site-content main.main-content section.embed-series {
  padding: 30px 10px; }
  html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner {
    width: 839px;
    max-width: 100%;
    margin: 0px auto; }
    html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .section-sub-title {
      font-size: 2.5rem;
      line-height: 1.5;
      margin-bottom: 30px; }
    html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item {
      margin-bottom: 20px; }
      html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item .type-icon-wrapper {
        height: 140px;
        margin-bottom: 10px;
        padding: 0px 10px; }
        html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item .type-icon-wrapper svg {
          width: 160px;
          max-width: 100%;
          max-height: 100%; }
          html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item .type-icon-wrapper svg g, html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item .type-icon-wrapper svg path {
            fill: #7c7c7e; }
      html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item .type-name {
        padding: 3px;
        font-size: 1.5rem; }
      html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item .preview-btn {
        display: none;
        padding: 3px;
        border-radius: 20px;
        background-color: #1fcd98;
        color: white;
        text-decoration: none; }
        html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item .preview-btn svg {
          vertical-align: middle;
          width: 15px; }
          html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item .preview-btn svg g, html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item .preview-btn svg path {
            fill: white; }
      html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item:hover .type-icon-wrapper {
        opacity: .5; }
      html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item:hover .type-name {
        display: none; }
      html body .site-wrapper.page .site-content main.main-content section.embed-series .section-inner .embed-types-container .embed-type-item:hover .preview-btn {
        display: block; }
html body .site-wrapper.page .site-content main.main-content section.share-collection {
  padding: 50px 10px;
  background-color: #6b94c8;
  color: white;
  text-align: center; }
  html body .site-wrapper.page .site-content main.main-content section.share-collection .share-collection-txt {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px; }
  html body .site-wrapper.page .site-content main.main-content section.share-collection .on-social-txt {
    font-size: 1.5rem;
    margin-bottom: 10px; }
  html body .site-wrapper.page .site-content main.main-content section.share-collection .social-links {
    margin-bottom: 20px; }
    html body .site-wrapper.page .site-content main.main-content section.share-collection .social-links .social-link {
      display: block;
      padding: 2px;
      text-decoration: none;
      color: white; }
      html body .site-wrapper.page .site-content main.main-content section.share-collection .social-links .social-link svg {
        width: 35px;
        height: auto; }
        html body .site-wrapper.page .site-content main.main-content section.share-collection .social-links .social-link svg g, html body .site-wrapper.page .site-content main.main-content section.share-collection .social-links .social-link svg path {
          fill: currentColor; }
      html body .site-wrapper.page .site-content main.main-content section.share-collection .social-links .social-link:hover, html body .site-wrapper.page .site-content main.main-content section.share-collection .social-links .social-link:focus {
        text-decoration: none; }
  html body .site-wrapper.page .site-content main.main-content section.share-collection .link-btn-wrapper a.create-series-link {
    display: inline-block;
    padding: 12px 25px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 40px;
    color: white;
    font-size: 2rem;
    text-decoration: none; }
    html body .site-wrapper.page .site-content main.main-content section.share-collection .link-btn-wrapper a.create-series-link:hover {
      background-color: rgba(0, 0, 0, 0.05); }
html body .site-wrapper.page .site-content main.main-content section.how-it-works {
  padding: 20px 10px 30px; }
  html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner {
    width: 710px;
    max-width: 100%;
    margin: 0px auto; }
    html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .section-title {
      font-size: 2.5rem;
      line-height: 1.5;
      margin-bottom: 30px; }
    html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .how-item {
      margin-bottom: 20px; }
      html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .how-item .item-img-wrapper {
        margin: 10px auto; }
        html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .how-item .item-img-wrapper svg {
          width: 310px;
          max-width: 100%; }
      html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .how-item .item-txt-wrapper {
        width: 220px;
        max-width: 100%;
        font-size: 1.5rem;
        line-height: 1.7; }
        html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .how-item .item-txt-wrapper .item-title {
          font-weight: bold; }
      @media all and (max-width: 768px) {
        html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .how-item .img-col {
          flex-basis: 100%;
          order: -1; } }
    html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .btn-wrapper {
      margin-bottom: 10px; }
      html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .btn-wrapper a.create-series-link {
        display: inline-block;
        padding: 12px 70px;
        background-color: #1fcd98;
        border-radius: 40px;
        color: white;
        font-size: 2rem;
        text-decoration: none; }
        html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .btn-wrapper a.create-series-link:hover {
          background-color: #1eb785; }
    html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .introduction-wrapper {
      font-size: 1.5rem;
      cursor: pointer;
      color: #1fcd98; }
      html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .introduction-wrapper svg {
        width: 15px;
        height: 15px;
        vertical-align: middle; }
        html body .site-wrapper.page .site-content main.main-content section.how-it-works .section-inner .introduction-wrapper svg path {
          fill: #1fcd98; }
html body .site-wrapper.page .site-content main.main-content section.reach-audience {
  padding: 100px 10px;
  background-color: #6b94c8;
  font-size: 1.7rem;
  color: white; }
  html body .site-wrapper.page .site-content main.main-content section.reach-audience .reach-txt {
    font-weight: bold;
    margin-bottom: 5px; }
html body .site-wrapper.page .site-content main.main-content section.frequently-asked {
  padding: 20px 10px; }
  html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner {
    width: 650px;
    max-width: 100%;
    margin: 0px auto; }
    html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .section-title {
      font-size: 2.5rem;
      line-height: 1.5;
      margin-bottom: 30px; }
    html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .asked-questions-list {
      padding: 0px 30px; }
      html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .asked-questions-list .asked-question-item {
        margin-bottom: 30px;
        font-size: 1.5rem;
        line-height: 1.5;
        text-align: left; }
        html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .asked-questions-list .asked-question-item .question {
          display: block;
          position: relative;
          color: #737661;
          font-weight: bold;
          text-align: left;
          text-decoration: none; }
          html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .asked-questions-list .asked-question-item .question .collapse-icon-wrapper {
            position: absolute;
            left: -30px;
            top: 5px;
            line-height: 0;
            transform: rotate(0deg);
            transition: transform .3s ease-out; }
            html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .asked-questions-list .asked-question-item .question .collapse-icon-wrapper svg {
              width: 15px; }
              html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .asked-questions-list .asked-question-item .question .collapse-icon-wrapper svg g, html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .asked-questions-list .asked-question-item .question .collapse-icon-wrapper svg path {
                fill: #1fcd98; }
          html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .asked-questions-list .asked-question-item .question.collapsed .collapse-icon-wrapper {
            transform: rotate(-90deg); }
    html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .get-started-free {
      margin-bottom: 10px; }
      html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .get-started-free a.get-started-btn {
        display: inline-block;
        padding: 15px 40px;
        background-color: #1fcd98;
        border-radius: 40px;
        color: white;
        font-size: 2rem;
        text-decoration: none; }
        html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .get-started-free a.get-started-btn:hover {
          background-color: #1eb785; }
        @media all and (max-width: 768px) {
          html body .site-wrapper.page .site-content main.main-content section.frequently-asked .section-inner .get-started-free a.get-started-btn {
            padding: 12px 30px; } }

/*# sourceMappingURL=blogger_home-page.css.map */
