@import "../../config/css/colors.scss";

html {
    body{
        .site-wrapper.page{
            .site-content{
                main.main-content{
                    section{
                        &.hero-section{
                            padding: 50px 5px 20px;
                            background-color: $blueColor;
                            color: white;
                            .section-title{
                                font-size: 4rem;
                                font-weight: bold;
                            }
                            .section-sub-title{
                                font-size: 2.5rem;
                            }
                            .image-wrapper{
                                position: relative;
                                .big-play-btn{
                                    position: absolute;
                                    width: 180px;
                                    height: 180px;
                                    left: calc((100% - 180px) / 2);
                                    top: calc((100% - 180px) / 2 - 10px);
                                    background-color: rgba(0, 0, 0, .3);
                                    border-radius: 50%;
                                    text-decoration: none;
                                    &:before{
                                        display: block;
                                        font-family: VideoJS;
                                        content: '\f101';
                                        color: $blueColor;
                                        font-weight: 400;
                                        font-size: 140px;
                                    }
                                    &:hover, &:focus{
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                        &.make-others-life{
                            padding: 0px 10px 20px;
                            .section-inner{
                                width: 425px;
                                max-width: 100%;
                                margin: 0px auto;
                                .section-sub-title{
                                    font-size: 2.5rem;
                                    line-height: 1.5;
                                    margin-bottom: 0px;
                                }
                                .up-to-txt{
                                    font-weight: bold;
                                    font-size: 1.5rem;
                                    margin-bottom: 5px;
                                }
                                .each-time-txt{
                                    font-size: 1.5rem;
                                    margin-bottom: 20px;
                                }
                                .get-started-free{
                                    margin-bottom: 10px;
                                    a.get-started-btn{
                                        display: inline-block;
                                        padding: 15px 40px;
                                        background-color: $greenColor;
                                        border-radius: 40px;
                                        color: white;
                                        font-size: 2rem;
                                        text-decoration: none;
                                        &:hover{
                                            background-color: $greenHover;
                                        }
                                        @media all and (max-width: 768px) {
                                            padding: 12px 30px;
                                        }
                                    }
                                }
                                .terms-condition-txt{
                                    font-size: 1.5rem;
                                    color: $greenColor;
                                }
                            }
                        }
                        &.add-posts-from{
                            padding: 50px 10px;
                            background-color: $redColor;
                            text-align: center;
                            color: white;
                            .add-from-txt{
                                margin-bottom: 20px;
                                font-size: 1.5rem;
                                line-height: 1.5;
                            }
                            .from-items{
                                .from-item{
                                    display: block;
                                    line-height: 0;
                                    svg{
                                        height: 35px;
                                        width: auto;
                                        g, path{
                                            fill: white;
                                        }
                                    }
                                }
                            }
                        }
                        &.embed-series{
                            padding: 30px 10px;
                            .section-inner{
                                width: 839px;
                                max-width: 100%;
                                margin: 0px auto;
                                .section-sub-title{
                                    font-size: 2.5rem;
                                    line-height: 1.5;
                                    margin-bottom: 30px;
                                }
                                .embed-types-container{
                                    .embed-type-item{
                                        margin-bottom: 20px;
                                        .type-icon-wrapper{
                                            height: 140px;
                                            margin-bottom: 10px;
                                            padding: 0px 10px;
                                            svg{
                                                width: 160px;
                                                max-width: 100%;
                                                max-height: 100%;
                                                g, path{
                                                    fill: $greyColor;
                                                }
                                            }
                                        }
                                        .type-name{
                                            padding: 3px;
                                            font-size: 1.5rem;
                                        }
                                        .preview-btn{
                                            display: none;
                                            padding: 3px;
                                            border-radius: 20px;
                                            background-color: $greenColor;
                                            color: white;
                                            text-decoration: none;
                                            svg{
                                                vertical-align: middle;
                                                width: 15px;
                                                g, path{
                                                    fill: white;
                                                }
                                            }
                                        }
                                        &:hover{
                                            .type-icon-wrapper{
                                                opacity: .5;
                                            }
                                            .type-name{
                                                display: none;
                                            }
                                            .preview-btn{
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.share-collection{
                            padding: 50px 10px;
                            background-color: #6b94c8;
                            color: white;
                            text-align: center;
                            .share-collection-txt{
                                font-size: 1.5rem;
                                font-weight: bold;
                                margin-bottom: 5px;
                            }
                            .on-social-txt{
                                font-size: 1.5rem;
                                margin-bottom: 10px;
                            }
                            .social-links{
                                margin-bottom: 20px;
                                .social-link{
                                    display: block;
                                    padding: 2px;
                                    text-decoration: none;
                                    color: white;
                                    svg{
                                        width: 35px;
                                        height: auto;
                                        g, path{
                                            fill: currentColor;
                                        }
                                    }
                                    &:hover, &:focus{
                                        text-decoration: none;
                                    }
                                }
                            }
                            .link-btn-wrapper{
                                a.create-series-link{
                                    display: inline-block;
                                    padding: 12px 25px;
                                    background-color: transparent;
                                    border: 1px solid white;
                                    border-radius: 40px;
                                    color: white;
                                    font-size: 2rem;
                                    text-decoration: none;
                                    &:hover{
                                        background-color: rgba(0, 0, 0, .05);
                                    }
                                }
                            }
                        }
                        &.how-it-works{
                            padding: 20px 10px 30px;
                            .section-inner{
                                width: 710px;
                                max-width: 100%;
                                margin: 0px auto;
                                .section-title{
                                    font-size: 2.5rem;
                                    line-height: 1.5;
                                    margin-bottom: 30px;
                                }
                                .how-item{
                                    margin-bottom: 20px;
                                    .item-img-wrapper{
                                        margin: 10px auto;
                                        svg{
                                            width: 310px;
                                            max-width: 100%;
                                        }
                                    }
                                    .item-txt-wrapper{
                                        width: 220px;
                                        max-width: 100%;
                                        font-size: 1.5rem;
                                        line-height: 1.7;
                                        .item-title{
                                            font-weight: bold;
                                        }
                                        .item-txt{
                                        }
                                    }
                                    @media all and (max-width: 768px) {
                                        .img-col{
                                            flex-basis: 100%;
                                            order: -1;
                                        }
                                    }
                                }
                                .btn-wrapper{
                                    margin-bottom: 10px;
                                    a.create-series-link{
                                        display: inline-block;
                                        padding: 12px 70px;
                                        background-color: $greenColor;
                                        border-radius: 40px;
                                        color: white;
                                        font-size: 2rem;
                                        text-decoration: none;
                                        &:hover{
                                            background-color: $greenHover;
                                        }
                                    }
                                }
                                .introduction-wrapper{
                                    font-size: 1.5rem;
                                    cursor: pointer;
                                    color: $greenColor;
                                    svg{
                                        width: 15px;
                                        height: 15px;
                                        vertical-align: middle;
                                        path{
                                            fill: $greenColor;
                                        }
                                    }
                                }
                            }
                        }
                        &.reach-audience{
                            padding: 100px 10px;
                            background-color: #6b94c8;
                            font-size: 1.7rem;
                            color: white;
                            .reach-txt{
                                font-weight: bold;
                                margin-bottom: 5px;
                            }
                            .making-others-txt{

                            }
                        }
                        &.frequently-asked{
                            padding: 20px 10px;
                            .section-inner{
                                width: 650px;
                                max-width: 100%;
                                margin: 0px auto;
                                .section-title{
                                    font-size: 2.5rem;
                                    line-height: 1.5;
                                    margin-bottom: 30px;
                                }
                                .asked-questions-list{
                                    padding: 0px 30px;
                                    .asked-question-item{
                                        margin-bottom: 30px;
                                        font-size: 1.5rem;
                                        line-height: 1.5;
                                        text-align: left;
                                        .question{
                                            display: block;
                                            position: relative;
                                            color: $contentColor;
                                            font-weight: bold;
                                            text-align: left;
                                            text-decoration: none;
                                            .collapse-icon-wrapper{
                                                position: absolute;
                                                left: -30px;
                                                top: 5px;
                                                line-height: 0;
                                                transform: rotate(0deg);
                                                transition: transform .3s ease-out;
                                                svg{
                                                    width: 15px;
                                                    g, path{
                                                        fill: $greenColor;
                                                    }
                                                }
                                            }
                                            &.collapsed{
                                                .collapse-icon-wrapper{
                                                    transform: rotate(-90deg);
                                                }
                                            }
                                        }
                                        .answer{

                                        }
                                    }
                                }
                                .get-started-free{
                                    margin-bottom: 10px;
                                    a.get-started-btn{
                                        display: inline-block;
                                        padding: 15px 40px;
                                        background-color: $greenColor;
                                        border-radius: 40px;
                                        color: white;
                                        font-size: 2rem;
                                        text-decoration: none;
                                        &:hover{
                                            background-color: $greenHover;
                                        }
                                        @media all and (max-width: 768px) {
                                            padding: 12px 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}