@charset "UTF-8";
html body .site-wrapper .site-content {
  overflow: hidden;
}
html body .site-wrapper .site-content .filter-wrapper {
  padding: 70px 100px 30px;
  background-color: #f6fffc;
  text-align: left;
  position: relative;
  transition: all 0.3s ease-out;
  z-index: 20;
}
html body .site-wrapper .site-content .filter-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  color: #737661;
  padding: 0px 5px;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse svg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse .browse-drop-down-wrapper {
  display: none;
  width: 400px;
  position: absolute;
  left: calc(100% - 62px);
  top: calc(100%);
  padding: 20px 20px 0px;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse .browse-drop-down-wrapper .browse-drop-down-inner {
  position: relative;
  background-color: white;
  padding: 30px 20px 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse .browse-drop-down-wrapper .browse-drop-down-inner ul {
  list-style: none;
  padding-left: 0px;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse .browse-drop-down-wrapper .browse-drop-down-inner ul li {
  margin-bottom: 5px;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse .browse-drop-down-wrapper .browse-drop-down-inner ul li a {
  color: inherit;
  text-decoration: none;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse .browse-drop-down-wrapper .browse-drop-down-inner ul li a i {
  font-size: 0.8rem;
  font-weight: bold;
  top: 0px;
  left: 0px;
  transition: all 0.1s ease-out;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse .browse-drop-down-wrapper .browse-drop-down-inner ul li a span {
  margin-left: 10px;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse .browse-drop-down-wrapper .browse-drop-down-inner ul li a:hover {
  color: black;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse .browse-drop-down-wrapper .browse-drop-down-inner ul li a:hover i {
  left: 5px;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse .browse-drop-down-wrapper .browse-drop-down-inner:after {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(100%);
  left: 15px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse:hover {
  color: black;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse:hover .browse-drop-down-wrapper {
  display: block;
  color: #737661;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse.bootcamp-browse {
  z-index: 2;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse.bootcamp-browse i.glyphicon {
  color: #1fcd98;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse.on-demand-browse {
  margin-bottom: 0px;
  z-index: 1;
}
html body .site-wrapper .site-content .filter-wrapper .do-browse.on-demand-browse i.glyphicon {
  color: #f26d7e;
}
html body .site-wrapper .site-content .filter-wrapper .filters .filter-name {
  margin-bottom: 10px;
  font-size: 1.2em;
}
html body .site-wrapper .site-content .filter-wrapper .filters .filter-item {
  margin-right: 10px;
}
html body .site-wrapper .site-content .filter-wrapper .filters .filter-item input {
  background-color: transparent;
  margin-top: 0px;
  vertical-align: middle;
  position: absolute;
  left: -9999px;
}
html body .site-wrapper .site-content .filter-wrapper .filters .filter-item input:checked + label {
  color: black;
}
html body .site-wrapper .site-content .filter-wrapper .filters .filter-item input:checked + label:before {
  border-color: black;
}
html body .site-wrapper .site-content .filter-wrapper .filters .filter-item input:checked + label:after {
  font-size: 0.9em;
  content: "✔";
  position: absolute;
  right: 0em;
  top: 0em;
  width: 1em;
  height: 1em;
  color: black;
}
html body .site-wrapper .site-content .filter-wrapper .filters .filter-item label {
  color: #737661;
  font-size: 18px;
  line-height: 1.1em;
  vertical-align: middle;
  position: relative;
  padding-right: 1.5em;
  cursor: pointer;
  font-weight: normal;
}
html body .site-wrapper .site-content .filter-wrapper .filters .filter-item label:before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1em;
  height: 1em;
  border: 1px solid #737661;
}
html body .site-wrapper .site-content .filter-wrapper .sort-by .filter-name {
  margin-bottom: 10px;
  font-size: 1.2em;
}
html body .site-wrapper .site-content .filter-wrapper .sort-by .dropdown {
  display: inline-block;
}
html body .site-wrapper .site-content .filter-wrapper .sort-by .dropdown button {
  background-color: transparent;
  color: inherit;
  border-radius: 9px;
}
html body .site-wrapper .site-content .filter-wrapper .sort-by .dropdown button span {
  display: inline-block;
  width: 80px;
  color: inherit;
  text-align: left;
}
html body .site-wrapper .site-content .filter-wrapper .sort-by .dropdown button svg {
  width: 15px;
  vertical-align: middle;
}
html body .site-wrapper .site-content .filter-wrapper .sort-by .dropdown button:focus {
  outline: none;
}
html body .site-wrapper .site-content .filter-wrapper .sort-by .dropdown ul {
  width: 100%;
  min-width: 0px;
  margin-top: 0px;
  border-top: 0px;
  border-radius: 9px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #f6fffc;
}
html body .site-wrapper .site-content .filter-wrapper .sort-by .dropdown ul li a {
  color: inherit;
}
html body .site-wrapper .site-content .filter-wrapper .sort-by .dropdown ul li a:hover {
  background-color: #737661;
  color: white;
}
html body .site-wrapper .site-content .filter-wrapper .sort-by .dropdown.open button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
html body .site-wrapper .site-content .filter-wrapper .resize-filter {
  position: absolute;
  top: 50px;
  right: 20px;
  text-decoration: none;
  border: 1px solid #737661;
  border-radius: 2px;
  padding: 3px;
  line-height: 1;
}
html body .site-wrapper .site-content .filter-wrapper .resize-filter i.glyphicon {
  color: #737661;
  display: none;
}
html body .site-wrapper .site-content .filter-wrapper .drag-handler {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 53px;
  height: 100%;
  background-color: #c8cbba;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
html body .site-wrapper .site-content .filter-wrapper .drag-handler img {
  display: none;
  cursor: pointer;
}
html body .site-wrapper .site-content .filter-wrapper.size-full {
  border-bottom-color: #1eb785;
}
html body .site-wrapper .site-content .filter-wrapper.size-full .drag-handler {
  display: none;
}
html body .site-wrapper .site-content .filter-wrapper.size-full .resize-filter i.glyphicon.glyphicon-resize-small {
  display: initial;
}
html body .site-wrapper .site-content .filter-wrapper.size-small {
  border-radius: 20px;
  transition: none;
  padding: 20px 100px;
  width: 800px;
  border-color: #1eb785;
  box-shadow: 5px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
html body .site-wrapper .site-content .filter-wrapper.size-small .resize-filter i.glyphicon.glyphicon-resize-full {
  display: initial;
}
html body .site-wrapper .site-content .filter-wrapper.size-small .drag-handler img.close-img {
  display: initial;
}
html body .site-wrapper .site-content .filter-wrapper.size-small .do-browse {
  display: none;
}
html body .site-wrapper .site-content .filter-wrapper.size-closed {
  width: 53px;
  padding-left: 53px;
  padding-right: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  left: calc(100% - 53px) !important;
}
html body .site-wrapper .site-content .filter-wrapper.size-closed .resize-filter {
  display: none;
}
html body .site-wrapper .site-content .filter-wrapper.size-closed .drag-handler img.open-img {
  display: initial;
}
html body .site-wrapper .site-content .filter-wrapper.size-closed .do-browse {
  display: none;
}
html body .site-wrapper .site-content .filter-wrapper.size-closed .filters {
  display: none;
}
html body .site-wrapper .site-content .filter-wrapper.size-closed .sort-by {
  display: none;
}
html body .site-wrapper .site-content main.main-content {
  text-align: left;
  margin: 0px auto;
  padding: 40px 100px 20px;
  transition: all 0.3s ease-out;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.category-col {
  flex-basis: 40%;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.category-col article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.category-col article header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.category-col article .category-description {
  max-width: 330px;
  font-size: 1.5rem;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col {
  flex-basis: 20%;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article {
  margin-bottom: 15px;
  padding: 5px 17px;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper {
  position: relative;
  margin-bottom: 17px;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .item-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1600px) {
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .item-image {
    height: 170px;
  }
}
@media only screen and (max-width: 1600px) {
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .item-image {
    height: 150px;
  }
}
@media only screen and (max-width: 1400px) {
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .item-image {
    height: 140px;
  }
}
@media only screen and (max-width: 1280px) {
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .item-image {
    height: 128px;
  }
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .hover-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .hover-content .footer-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .hover-content .footer-buttons a {
  display: block;
  padding: 5px;
  background-color: #1fcd98;
  color: white;
  text-align: center;
  text-decoration: none;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .hover-content .footer-buttons a svg {
  display: none;
  width: 18px;
  vertical-align: middle;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .hover-content .footer-buttons a svg path {
  fill: white;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .hover-content .footer-buttons a svg.preview-icon, html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
  display: inline;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .hover-content .footer-buttons a:hover {
  background-color: #1eb785;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .hover-content .footer-buttons .flex-row .last-col {
  margin-left: 2px;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .child-count-wrapper {
  margin-bottom: 10px;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .child-count-wrapper .child-count {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #c8cbba;
  color: white;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-title {
  font-size: 1.4rem;
  font-weight: bold;
  height: auto;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-category-wrapper {
  display: none;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-category-wrapper .item-category {
  font-size: 1.5rem;
  color: #c8cabc;
  text-decoration: underline;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-category-wrapper .item-category:hover {
  color: #737661;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article:hover .item-image-wrapper .hover-content, html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article:active .item-image-wrapper .hover-content {
  opacity: 1;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col.purchased .series-article .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
  display: none;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col.purchased .series-article .item-image-wrapper .hover-content .footer-buttons a svg.purchased-icon {
  display: inline;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col {
  margin: 20px 0px;
  flex-basis: 100%;
  order: 9;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences {
  padding: 0px 10px;
  background-color: #f26d7e;
  color: white;
  text-align: center;
  border-radius: 20px;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences .image-item img {
  width: 250px;
  max-width: 100%;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences .text-item h3 {
  font-size: 1.7rem;
  font-weight: bold;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences .text-item div {
  font-size: 1.7rem;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences .text-item aside a {
  color: white;
  font-size: 1.5rem;
  text-decoration: underline;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences .text-item aside a:hover {
  color: #dedede;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences .plus-item svg {
  width: 130px;
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences .plus-item svg path {
  fill: rgba(255, 255, 255, 0.3);
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences .plus-item:hover svg path {
  fill: rgba(255, 255, 255, 0.5);
}
@media all and (max-width: 768px) {
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences .image-item {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences .text-item {
    margin-bottom: 20px;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences .plus-item {
    display: block;
    padding-bottom: 20px;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col article.share-experiences .plus-item svg {
    width: 150px;
  }
}
html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col article {
  padding: 5px 17px;
}
html body .site-wrapper .site-content main.main-content > .flex-row .category-filter-wrapper {
  overflow: auto;
  padding: 15px 0px;
  background-color: #1fcd98;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
html body .site-wrapper .site-content main.main-content > .flex-row .category-filter-wrapper .category-item {
  padding: 0px 15px;
  font-size: 1.7rem;
  line-height: 1.1;
  color: white;
  border-left: 1px solid white;
}
html body .site-wrapper .site-content main.main-content > .flex-row .category-filter-wrapper .category-item[data-category="-1"] {
  border-left: none;
}
html body .site-wrapper .site-content main.main-content > .flex-row .category-filter-wrapper .category-item.active {
  font-weight: bolder;
}
html body .site-wrapper .site-content main.main-content.all-categories > .flex-row > .flex-col.category-col {
  display: none;
}
html body .site-wrapper .site-content main.main-content.all-categories > .flex-row > .flex-col.share-col {
  display: none;
}
html body .site-wrapper .site-content main.main-content.all-categories > .flex-row > .flex-col.series-col .series-article .item-category-wrapper {
  display: block;
}
html body .site-wrapper .site-content main.main-content.category-simplify > .flex-row > .flex-col.share-col, html body .site-wrapper .site-content main.main-content.category-enrich > .flex-row > .flex-col.share-col {
  display: none;
}
html body .site-wrapper .site-content main.main-content.category-simplify > .flex-row > .flex-col.series-col .series-article .item-category-wrapper, html body .site-wrapper .site-content main.main-content.category-enrich > .flex-row > .flex-col.series-col .series-article .item-category-wrapper {
  display: block;
}
@media all and (max-width: 1200px) {
  html body .site-wrapper .site-content main.main-content {
    width: 1010px;
    max-width: 100%;
    padding: 5px;
  }
}
@media all and (max-width: 768px) {
  html body .site-wrapper .site-content main.main-content {
    padding: 0px;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.category-col {
    flex-basis: 100%;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.category-col article {
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #f6fffc;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.category-col article .category-description {
    max-width: 100%;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col {
    flex-basis: 100%;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article {
    margin-bottom: 0px;
    padding: 20px;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper {
    position: relative;
    margin-bottom: 17px;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-image-wrapper .item-image {
    width: 100%;
    height: 200px;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.series-col .series-article .item-title {
    margin-bottom: 15px;
    font-size: 1.7rem;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col.share-col {
    margin: 20px auto;
    flex-basis: calc(100% - 40px);
    order: 4;
  }
  html body .site-wrapper .site-content main.main-content > .flex-row > .flex-col article {
    padding: 5px 17px;
  }
  html body .site-wrapper .site-content main.main-content.all-categories > .flex-row .category-filter-wrapper {
    padding: 30px 0px 15px 0px;
  }
}
html body .site-wrapper .site-content.filter-collapsed main.main-content {
  margin-top: -60px;
  padding-top: 0px;
}

.swal-overlay.swal-overlay--show-modal .swal-modal.welcome {
  font-family: "Content-Muli";
}
.swal-overlay.swal-overlay--show-modal .swal-modal.welcome .swal-title {
  color: #c4cc72;
}
.swal-overlay.swal-overlay--show-modal .swal-modal.welcome .swal-text {
  text-align: center;
  font-size: 25px;
}

.swal-overlay .swal-modal.thanks-join .swal-footer {
  position: relative;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap {
  position: absolute;
  left: 10px;
  top: 17px;
  padding: 10px 24px;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input {
  background-color: transparent;
  margin-top: 0px;
  vertical-align: middle;
  position: absolute;
  left: -9999px;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label {
  color: black;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:before {
  border-color: black;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:after {
  font-size: 0.9em;
  content: "✔";
  position: absolute;
  left: 0em;
  top: 0em;
  width: 1em;
  height: 1em;
  color: black;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label {
  color: grey;
  font-size: 18px;
  line-height: 1.1em;
  vertical-align: middle;
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
  font-weight: normal;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1em;
  height: 1em;
  border: 1px solid grey;
}

/*# sourceMappingURL=browse-page.css.map */
