@import "../../config/css/colors.scss";

html{
    body{
        .site-wrapper{
            .site-content{
                overflow: hidden;
                .filter-wrapper{
                    padding: 70px 100px 30px;
                    background-color: #f6fffc;
                    text-align: left;
                    position: relative;
                    transition: all .3s ease-out;
                    z-index: 20;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
                        background-size: 5px 1px;
                        background-repeat: repeat-x;
                    }
                    .do-browse{
                        display: inline-block;
                        position: relative;
                        margin-bottom: 15px;
                        color: $contentColor;
                        padding: 0px 5px;
                        background-color: transparent;
                        border: 1px solid transparent;
                        font-size: 1.5rem;
                        text-decoration: none;
                        cursor: pointer;
                        svg{
                            width: 15px;
                            height: 15px;
                            vertical-align: middle;
                        }
                        .browse-drop-down-wrapper{
                            display: none;
                            width: 400px;
                            position: absolute;
                            left: calc(100% - 62px);
                            top: calc(100%);
                            padding: 20px 20px 0px;
                            .browse-drop-down-inner{
                                position: relative;
                                background-color: white;
                                padding: 30px 20px 50px;
                                border-radius: 5px;
                                box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
                                font-size: 1.5rem;
                                ul{
                                    list-style: none;
                                    padding-left: 0px;
                                    li{
                                        margin-bottom: 5px;
                                        a{
                                            color: inherit;
                                            text-decoration: none;
                                            i{
                                                font-size: .8rem;
                                                font-weight: bold;
                                                top: 0px;
                                                left: 0px;
                                                transition: all .1s ease-out;
                                            }
                                            span{
                                                margin-left: 10px;
                                            }
                                            &:hover{
                                                color: black;
                                                i{
                                                    left: 5px;
                                                }
                                            }
                                        }
                                    }
                                }
                                &:after{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    bottom: calc(100%);
                                    left: 15px;
                                    width: 0;
                                    height: 0;
                                    border-left: 15px solid transparent;
                                    border-right: 15px solid transparent;
                                    border-bottom: 20px solid white;
                                    //box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
                                }
                            }
                        }
                        &:hover{
                            color: black;
                            .browse-drop-down-wrapper {
                                display: block;
                                color: $contentColor;
                            }
                        }
                        &.bootcamp-browse{
                            z-index: 2;
                            i.glyphicon{
                                color: $greenColor;
                            }
                        }
                        &.on-demand-browse{
                            margin-bottom: 0px;
                            z-index: 1;
                            i.glyphicon{
                                color: $redColor;
                            }
                        }
                    }
                    .filters{
                        .filter-name{
                            margin-bottom: 10px;
                            font-size: 1.2em;
                        }
                        .filter-item{
                            margin-right: 10px;
                            input{
                                background-color: transparent;
                                margin-top: 0px;
                                vertical-align: middle;
                                position: absolute;
                                left: -9999px;
                                &:checked{
                                    & + label{
                                        color: black;
                                        &:before{
                                            border-color: black;
                                        }
                                        &:after{
                                            font-size: .9em;
                                            content: '\2714';
                                            position: absolute;
                                            right: 0em;
                                            top: 0em;
                                            width: 1em;
                                            height: 1em;
                                            color: black;
                                        }
                                    }
                                }
                            }
                            label{
                                color: $contentColor;
                                font-size: 18px;
                                line-height: 1.1em;
                                vertical-align: middle;
                                position: relative;
                                padding-right: 1.5em;
                                cursor: pointer;
                                font-weight: normal;
                                &:before{
                                    content: '';
                                    position: absolute;
                                    right: 0px;
                                    top: 0px;
                                    width: 1em;
                                    height: 1em;
                                    border: 1px solid $contentColor;
                                }
                            }
                        }
                    }
                    .sort-by{
                        .filter-name{
                            margin-bottom: 10px;
                            font-size: 1.2em;
                        }
                        .dropdown{
                            display: inline-block;
                            button{
                                background-color: transparent;
                                color: inherit;
                                border-radius: 9px;
                                span{
                                    display: inline-block;
                                    width: 80px;
                                    color: inherit;
                                    text-align: left;
                                }
                                svg{
                                    width: 15px;
                                    vertical-align: middle;
                                }
                                &:focus{
                                    outline: none;
                                }
                            }
                            ul{
                                width: 100%;
                                min-width: 0px;
                                margin-top: 0px;
                                border-top: 0px;
                                border-radius: 9px;
                                border-top-left-radius: 0px;
                                border-top-right-radius: 0px;
                                background-color: #f6fffc;
                                li{
                                    a{
                                        color: inherit;
                                        &:hover{
                                            background-color: $contentColor;
                                            color: white;
                                        }
                                    }
                                }
                            }
                            &.open{
                                button{
                                    border-bottom-left-radius: 0px;
                                    border-bottom-right-radius: 0px;
                                }
                            }
                        }
                    }
                    .resize-filter{
                        position: absolute;
                        top: 50px;
                        right: 20px;
                        text-decoration: none;
                        border: 1px solid $contentColor;
                        border-radius: 2px;
                        padding: 3px;
                        line-height: 1;
                        i.glyphicon{
                            color: $contentColor;
                            display: none;
                        }
                    }
                    .drag-handler{
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 53px;
                        height: 100%;
                        background-color: #c8cbba;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: move;
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                        img{
                            display: none;
                            cursor: pointer;
                        }
                    }
                    &.size-full {
                        border-bottom-color: $greenHover;
                        .drag-handler{
                            display: none;
                        }
                        .resize-filter{
                            i.glyphicon.glyphicon-resize-small{
                                display: initial;
                            }
                        }
                    }
                    &.size-small {
                        border-radius: 20px;
                        transition: none;
                        padding: 20px 100px;
                        width: 800px;
                        border-color: $greenHover;
                        box-shadow: 5px 0px 10px 5px rgba(0,0,0,.1);
                        .resize-filter{
                            i.glyphicon.glyphicon-resize-full{
                                display: initial;
                            }
                        }
                        .drag-handler{
                            img.close-img{
                                display: initial;
                            }
                        }
                        .do-browse{
                            display: none;
                        }
                    }
                    &.size-closed {
                        width: 53px;
                        padding-left: 53px;
                        padding-right: 0px;
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                        left: calc(100% - 53px) !important;
                        .resize-filter{
                            display: none;
                        }
                        .drag-handler{
                            img.open-img{
                                display: initial;
                            }
                        }
                        .do-browse{
                            display: none;
                        }
                        .filters{
                            display: none;
                        }
                        .sort-by{
                            display: none;
                        }
                    }
                }
                main.main-content{
                    text-align: left;
                    margin: 0px auto;
                    padding: 40px 100px 20px;
                    transition: all .3s ease-out;
                    > .flex-row{
                        > .flex-col{
                            &.category-col {
                                flex-basis: 40%;
                                article{
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    header{
                                        font-size: 3rem;
                                        font-weight: bold;
                                        margin-bottom: 10px;
                                    }
                                    .category-description{
                                        max-width: 330px;
                                        font-size: 1.5rem;
                                    }
                                }
                            }
                            &.series-col {
                                flex-basis: 20%;
                                .series-article{
                                    margin-bottom: 15px;
                                    padding: 5px 17px;
                                    .item-image-wrapper{
                                        position: relative;
                                        margin-bottom: 17px;
                                        .item-image{
                                            width: 100%;
                                            height: 200px;
                                            background-position: center;
                                            background-size: cover;
                                            @media only screen and (max-width: 1600px) {
                                                height: 170px;
                                            }
                                            @media only screen and (max-width: 1600px) {
                                                height: 150px;
                                            }
                                            @media only screen and (max-width: 1400px) {
                                                height: 140px;
                                            }
                                            @media only screen and (max-width: 1280px) {
                                                height: 128px;
                                            }
                                        }
                                        .hover-content{
                                            position: absolute;
                                            top: 0px;
                                            left: 0px;
                                            width: 100%;
                                            height: 100%;
                                            background-color: rgba(255, 255, 255, .7);
                                            //background-color: red;
                                            opacity: 0;
                                            .footer-buttons{
                                                position: absolute;
                                                bottom: 0px;
                                                left: 0px;
                                                width: 100%;
                                                a{
                                                    display: block;
                                                    padding: 5px;
                                                    background-color: $greenColor;
                                                    color: white;
                                                    text-align: center;
                                                    text-decoration: none;
                                                    svg{
                                                        display: none;
                                                        width: 18px;
                                                        vertical-align: middle;
                                                        path{
                                                            fill: white;
                                                        }
                                                        &.preview-icon, &.join-icon{
                                                            display: inline;
                                                        }
                                                    }
                                                    &:hover{
                                                        background-color: $greenHover;
                                                    }
                                                }
                                                .flex-row{
                                                    .last-col{
                                                        margin-left: 2px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .child-count-wrapper{
                                        margin-bottom: 10px;
                                        .child-count{
                                            display: inline-block;
                                            padding: 5px 15px;
                                            border-radius: 10px;
                                            background-color: #c8cbba;
                                            color: white;
                                        }
                                    }
                                    .item-title{
                                        font-size: 1.4rem;
                                        font-weight: bold;
                                        height: auto;
                                    }
                                    .item-category-wrapper{
                                        display: none;
                                        .item-category{
                                            font-size: 1.5rem;
                                            color: $lightGrey;
                                            text-decoration: underline;
                                            &:hover{
                                                color: $contentColor;
                                            }
                                        }
                                    }
                                    &:hover, &:active{
                                        .item-image-wrapper{
                                            .item-image{
                                            }
                                            .hover-content{
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                                &.purchased{
                                    .series-article{
                                        .item-image-wrapper{
                                            .hover-content{
                                                .footer-buttons{
                                                    a{
                                                        svg.join-icon{
                                                            display: none;
                                                        }
                                                        svg.purchased-icon{
                                                            display: inline;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.share-col {
                                margin: 20px 0px;
                                flex-basis: 100%;
                                order: 9;
                                article.share-experiences{
                                    padding: 0px 10px;
                                    background-color: $redColor;
                                    color: white;
                                    text-align: center;
                                    border-radius: 20px;
                                    .image-item{
                                        img{
                                            width: 250px;
                                            max-width: 100%;
                                        }
                                    }
                                    .text-item{
                                        h3{
                                            font-size: 1.7rem;
                                            font-weight: bold;
                                        }
                                        div{
                                            font-size: 1.7rem;
                                        }
                                        aside{
                                            a{
                                                color: white;
                                                font-size: 1.5rem;
                                                text-decoration: underline;
                                                &:hover{
                                                    color: #dedede;
                                                }
                                            }
                                        }
                                    }
                                    .plus-item{
                                        svg{
                                            width: 130px;
                                            path{
                                                fill: rgba(255, 2555, 255, .3);
                                            }
                                        }
                                        &:hover{
                                            svg{
                                                path{
                                                    fill: rgba(255, 2555, 255, .5);
                                                }
                                            }
                                        }
                                    }
                                    @media all and (max-width: 768px) {
                                        .image-item{
                                            margin-top: 0px;
                                            margin-bottom: 20px;
                                        }
                                        .text-item{
                                            margin-bottom: 20px;
                                        }
                                        .plus-item{
                                            display: block;
                                            padding-bottom: 20px;
                                            svg{
                                                width: 150px;
                                            }
                                        }
                                    }
                                }
                            }
                            article{
                                padding: 5px 17px;
                            }
                        }
                        .category-filter-wrapper{
                            overflow: auto;
                            padding: 15px 0px;
                            background-color: $greenColor;
                            overflow-scrolling: touch;
                            -webkit-overflow-scrolling: touch;
                            .category-item{
                                padding: 0px 15px;
                                font-size: 1.7rem;
                                line-height: 1.1;
                                color: white;
                                border-left: 1px solid white;
                                &[data-category="-1"]{
                                    border-left: none;
                                }
                                &.active{
                                    font-weight: bolder;
                                }
                            }
                        }
                    }
                    &.all-categories{
                        > .flex-row{
                            > .flex-col{
                                &.category-col {
                                    display: none;
                                }
                                &.share-col{
                                    display: none;
                                }
                                &.series-col {
                                    .series-article{
                                        .item-category-wrapper{
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.category-simplify, &.category-enrich{
                        > .flex-row{
                            > .flex-col{
                                &.share-col{
                                    display: none;
                                }
                                &.series-col {
                                    .series-article{
                                        .item-category-wrapper{
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    @media all and (max-width: 1200px) {
                        width: 1010px;
                        max-width: 100%;
                        padding: 5px;
                    }
                    @media all and (max-width: 768px) {
                        padding: 0px;
                        > .flex-row{
                            > .flex-col{
                                &.category-col {
                                    flex-basis: 100%;
                                    article{
                                        padding-top: 25px;
                                        padding-bottom: 15px;
                                        text-align: center;
                                        background-color: $lightGreen;
                                        .category-description{
                                            max-width: 100%;
                                        }
                                    }
                                }
                                &.series-col {
                                    flex-basis: 100%;
                                    .series-article{
                                        margin-bottom: 0px;
                                        padding: 20px;
                                        .item-image-wrapper{
                                            position: relative;
                                            margin-bottom: 17px;
                                            .item-image{
                                                width: 100%;
                                                height: 200px;
                                            }
                                        }
                                        .item-title{
                                            margin-bottom: 15px;
                                            font-size: 1.7rem;
                                        }
                                    }
                                }
                                &.share-col {
                                    margin: 20px auto;
                                    flex-basis: calc(100% - 40px);
                                    order: 4;
                                }
                                article{
                                    padding: 5px 17px;
                                }
                            }
                        }
                        &.all-categories{
                            > .flex-row{
                                .category-filter-wrapper{
                                    padding: 30px 0px 15px 0px;
                                }
                            }
                        }
                    }
                }
                &.filter-collapsed{
                    main.main-content{
                        margin-top: -60px;
                        padding-top: 0px;
                    }
                }
            }
        }
    }
}
.swal-overlay.swal-overlay--show-modal{
    .swal-modal.welcome{
        font-family: 'Content-Muli';
        .swal-title{
            color: #c4cc72;
        }
        .swal-text{
            text-align: center;
            font-size: 25px;
        }
    }
}
.swal-overlay{
    .swal-modal.thanks-join{
        .swal-footer{
            position: relative;
            .disable-wrap{
                position: absolute;
                left: 10px;
                top: 17px;
                padding: 10px 24px;
                input{
                    background-color: transparent;
                    margin-top: 0px;
                    vertical-align: middle;
                    position: absolute;
                    left: -9999px;
                    &:checked{
                        & + label{
                            color: black;
                            &:before{
                                border-color: black;
                            }
                            &:after{
                                font-size: .9em;
                                content: '\2714';
                                position: absolute;
                                left: 0em;
                                top: 0em;
                                width: 1em;
                                height: 1em;
                                color: black;
                            }
                        }
                    }
                }
                label{
                    color: $content_color;
                    font-size: 18px;
                    line-height: 1.1em;
                    vertical-align: middle;
                    position: relative;
                    padding-left: 1.5em;
                    cursor: pointer;
                    font-weight: normal;
                    &:before{
                        content: '';
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 1em;
                        height: 1em;
                        border: 1px solid $content_color;
                    }
                }
            }
        }
    }
}
