html body .site-wrapper {
  font-size: 1.7rem; }
  html body .site-wrapper main.main-content .upload-section {
    max-width: 100%;
    width: 1400px;
    margin: 0px auto; }
    html body .site-wrapper main.main-content .upload-section .actions-container {
      padding-bottom: 10px; }
      html body .site-wrapper main.main-content .upload-section .actions-container .action {
        overflow: hidden;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        font-size: 2rem;
        color: grey; }
        html body .site-wrapper main.main-content .upload-section .actions-container .action svg {
          vertical-align: middle;
          width: 40px; }
          html body .site-wrapper main.main-content .upload-section .actions-container .action svg g path {
            fill: grey; }
        html body .site-wrapper main.main-content .upload-section .actions-container .action:hover {
          color: black; }
          html body .site-wrapper main.main-content .upload-section .actions-container .action:hover svg#Capa_1 g path {
            fill: black; }
        html body .site-wrapper main.main-content .upload-section .actions-container .action.add-new-files {
          cursor: pointer; }
          html body .site-wrapper main.main-content .upload-section .actions-container .action.add-new-files input {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
            font-size: 200px; }
      html body .site-wrapper main.main-content .upload-section .actions-container .btn .glyphicon {
        top: 3px; }
      html body .site-wrapper main.main-content .upload-section .actions-container .btn.delete {
        display: none; }
    html body .site-wrapper main.main-content .upload-section ul.files-list {
      margin-top: 20px;
      list-style: none;
      padding-left: 0px;
      min-height: 400px; }
      html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row {
        margin-bottom: 10px; }
        html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-image-wrapper {
          position: relative;
          width: 60px;
          height: 60px;
          opacity: .7;
          overflow: hidden; }
          html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-image-wrapper img {
            width: 100%;
            height: 100%; }
          html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-image-wrapper .image-input {
            position: absolute;
            right: 0px;
            top: 0px;
            cursor: pointer;
            font-size: 200px; }
        html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper {
          display: inline-block; }
          html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb {
            width: 54px;
            height: 54px;
            position: relative;
            overflow: hidden;
            border-radius: 4px;
            background-size: cover;
            cursor: initial; }
            html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb input.thumb-img {
              cursor: pointer;
              position: absolute;
              right: 0px;
              top: 0px;
              font-size: 200px;
              opacity: 0; }
            html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb.data-type-video {
              width: 72px;
              background-image: url("../../images/global-icons/tree/post/video_empty.png");
              background-color: #ecf1f5;
              background-repeat: no-repeat;
              background-size: 100% 100%;
              background-position: center; }
              html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb.data-type-video .video-post {
                display: block;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center; }
                html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb.data-type-video .video-post .thumb_cover_back {
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: 100%;
                  height: 100%;
                  background-color: transparent;
                  transition: background-color 60ms linear; }
                html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb.data-type-video .video-post .thumb_play {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  background: #000;
                  background: rgba(0, 0, 0, 0.5) url("../../images/global-icons/tree/post/video_play_small.png") 14px center no-repeat;
                  margin: auto;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  cursor: pointer;
                  transition: background-color 100ms linear, opacity 60ms ease;
                  opacity: 0; }
            html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb.data-type-audio {
              background-image: url("../../images/global-icons/tree/post/audio_row_placeholder.png");
              background-color: #ecf1f5;
              background-repeat: no-repeat;
              background-size: auto;
              background-position: center; }
              html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb.data-type-audio .audio-post {
                display: block;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center; }
                html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb.data-type-audio .audio-post .thumb_cover_back {
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: 100%;
                  height: 100%;
                  background-color: transparent;
                  transition: background-color 60ms linear; }
                html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb.data-type-audio .audio-post .thumb_play {
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: 100%;
                  height: 100%;
                  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23FFFFFF%22%2F%3E%3Cpath%20fill%3D%22%23222222%22%20d%3D%22M9.84335571%2C16.7896383%20C9.37758321%2C17.088598%209%2C16.885726%209%2C16.3263902%20L9%2C7.6574922%20C9%2C7.10268766%209.37902442%2C6.89620947%209.84335571%2C7.19424408%20L16.733151%2C11.6165123%20C17.0561878%2C11.8238559%2017.0599966%2C12.1575817%2016.733151%2C12.3673701%20L9.84335571%2C16.7896383%20Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
                  background-repeat: no-repeat;
                  background-position: 50%;
                  cursor: pointer;
                  display: none; }
            html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb.data-type-image {
              background-color: #ecf1f5;
              background-repeat: no-repeat;
              background-size: auto;
              background-position: center; }
              html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb.data-type-image .image-post {
                display: block;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                cursor: pointer; }
            html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb.data-type-text {
              background-color: #ecf1f5;
              background-repeat: no-repeat;
              background-size: auto;
              background-position: center; }
              html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-thumb-wrapper .file-thumb.data-type-text .text-post {
                display: block;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                cursor: pointer; }
        html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row input.file-title {
          width: 100%;
          padding: 6px 12px;
          border: 1px solid #ccc;
          border-radius: 4px; }
        html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .file-type {
          text-align: center;
          padding: 8px 5px; }
        html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .actions .btn .glyphicon {
          top: 3px; }
        html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row .actions .btn.delete {
          display: none; }
        html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row.uploaded .actions .btn:not(.delete):not(.preview) {
          display: none; }
        html body .site-wrapper main.main-content .upload-section ul.files-list li.file-row.uploaded .actions .btn.delete {
          display: initial; }
    html body .site-wrapper main.main-content .upload-section footer.content-footer {
      text-align: center;
      padding-bottom: 50px; }
      html body .site-wrapper main.main-content .upload-section footer.content-footer button {
        width: 250px;
        padding: 7px;
        font-size: 18px;
        border-radius: 20px;
        background: transparent;
        border: 2px solid #53d4ad;
        color: #53d4ad;
        margin: 15px; }
        html body .site-wrapper main.main-content .upload-section footer.content-footer button:hover {
          background: #53d4ad;
          color: white; }
        html body .site-wrapper main.main-content .upload-section footer.content-footer button:focus {
          outline: none; }
html body .view-widget {
  position: fixed;
  z-index: 10;
  left: 0px;
  bottom: 0px;
  width: 300px;
  height: auto;
  display: none;
  background-color: rgba(28, 29, 30, 0.9);
  border-radius: 4px;
  overflow: auto;
  font-size: 1.7rem; }
  html body .view-widget .widget-inner {
    position: relative;
    z-index: 2; }
  html body .view-widget header.widget-header {
    padding: 8px 6px 8px 12px; }
    html body .view-widget header.widget-header .post-title {
      width: 230px;
      color: #fff;
      font-size: .9rem;
      opacity: .6;
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;
      cursor: pointer; }
      html body .view-widget header.widget-header .post-title:hover {
        opacity: 1; }
    html body .view-widget header.widget-header .mv_min_control {
      padding: 9px 2px;
      margin: -8px 0;
      opacity: .6;
      cursor: pointer; }
      html body .view-widget header.widget-header .mv_min_control:hover {
        opacity: 1; }
      html body .view-widget header.widget-header .mv_min_control .mv_min_control_max {
        height: 10px;
        width: 11px;
        background: url(../../images/global-icons/tree/post/video_icon.png) 0 -119px; }
      html body .view-widget header.widget-header .mv_min_control .mv_min_control_close {
        height: 10px;
        width: 10px;
        background: url(../../images/global-icons/tree/post/video_icon.png) 0 -139px; }
  html body .view-widget .widget-body {
    padding: 0px 6px 6px; }
    html body .view-widget .widget-body > div {
      background-color: white; }
    html body .view-widget .widget-body .audio-widget {
      padding: 5px; }
    html body .view-widget .widget-body .text-widget {
      padding: 5px; }
    html body .view-widget .widget-body .form-widget {
      padding: 5px; }
    html body .view-widget .widget-body * {
      max-width: 100%; }
  html body .view-widget .widget-footer {
    padding: 15px;
    background-color: white;
    border-top: 1px solid #9e9e9e59; }
  html body .view-widget aside.widget-top-control {
    position: absolute;
    left: 100%;
    top: 0px;
    width: auto; }
    html body .view-widget aside.widget-top-control .mv_top_button {
      padding: 6px 24px 6px 20px;
      opacity: 0.4;
      filter: alpha(opacity=40);
      cursor: pointer;
      -o-transition: opacity 0.15s ease-in-out;
      transition: opacity 0.15s ease-in-out;
      outline: none; }
      html body .view-widget aside.widget-top-control .mv_top_button .mv_close_icon {
        background: url(../../images/global-icons/tree/post/video_icon.png) no-repeat;
        background-position: 0px 0px;
        height: 20px;
        width: 20px; }
      html body .view-widget aside.widget-top-control .mv_top_button .mv_minimize_icon {
        background: url(../../images/global-icons/tree/post/video_icon.png) no-repeat;
        background-position: 0px -24px;
        height: 5px;
        width: 20px;
        margin: 7px 0; }
      html body .view-widget aside.widget-top-control .mv_top_button:hover {
        opacity: 1; }
  html body .view-widget.audio-type {
    width: 500px; }
  html body .view-widget.image-type .widget-body #info {
    padding: 5px;
    display: none; }
    html body .view-widget.image-type .widget-body #info * {
      max-width: 100%; }
  html body .view-widget.text-type .widget-body .text-widget {
    max-height: 300px;
    overflow: hidden; }
  html body .view-widget.active {
    display: block; }
  html body .view-widget.maximize-view {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    min-height: 100% !important;
    background-color: rgba(0, 0, 0, 0.8); }
    html body .view-widget.maximize-view .widget-body {
      padding: 0px; }
    html body .view-widget.maximize-view .widget-inner {
      position: relative;
      max-width: calc(100% - 100px);
      width: 700px;
      margin: 100px auto;
      background-color: rgba(28, 29, 30, 0.9); }
    html body .view-widget.maximize-view.image-type {
      overflow: auto; }
      html body .view-widget.maximize-view.image-type .widget-body #info {
        display: block; }
    html body .view-widget.maximize-view.text-type .widget-body .text-widget {
      max-height: none;
      overflow: auto; }
    html body .view-widget.maximize-view .view-only-min {
      display: none; }
    html body .view-widget.maximize-view .view-only-max {
      display: block; }
    html body .view-widget.maximize-view .form-field-wrapper {
      font-size: 2rem; }
  html body .view-widget .view-only-max {
    display: none; }

/*# sourceMappingURL=bulkUploader-page.css.map */
