$content_color: grey;

html{
    body{
        .site-wrapper{
            font-size: 1.7rem;
            main.main-content{
                .upload-section{
                    max-width: 100%;
                    width: 1400px;
                    margin: 0px auto;
                    .actions-container{
                        padding-bottom: 10px;
                        //border-bottom: 1px solid #ccc;
                        .action{
                            overflow: hidden;
                            cursor: pointer;
                            position: relative;
                            text-decoration: none;
                            font-size: 2rem;
                            color: $content_color;
                            svg{
                                vertical-align: middle;
                                width: 40px;
                                g{
                                    path{
                                        fill: $content_color;
                                    }
                                }
                            }
                            &:hover{
                                color: black;
                                svg#Capa_1{
                                    g{
                                        path{
                                            fill: black;
                                        }
                                    }
                                }
                            }
                            &.add-new-files{
                                cursor: pointer;
                                input{
                                    cursor: pointer;
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    opacity: 0;
                                    font-size: 200px;
                                }
                            }
                        }
                        .btn{
                            .glyphicon{
                                top: 3px;
                            }
                            &.delete{
                                display: none;
                            }
                        }
                    }
                    ul.files-list{
                        margin-top: 20px;
                        list-style: none;
                        padding-left: 0px;
                        min-height: 400px;
                        li.file-row{
                            margin-bottom: 10px;
                            .file-image-wrapper{
                                position: relative;
                                width: 60px;
                                height: 60px;
                                opacity: .7;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                                .image-input{
                                    position: absolute;
                                    right: 0px;
                                    top: 0px;
                                    cursor: pointer;
                                    font-size: 200px;
                                }
                            }
                            .file-thumb-wrapper{
                                display: inline-block;
                                .file-thumb{
                                    width: 54px;
                                    height: 54px;
                                    position: relative;
                                    overflow: hidden;
                                    border-radius: 4px;
                                    background-size: cover;
                                    cursor: initial;
                                    input.thumb-img{
                                        cursor: pointer;
                                        position: absolute;
                                        right: 0px;
                                        top: 0px;
                                        font-size: 200px;
                                        opacity: 0;
                                    }
                                    &.data-type-video{
                                        width: 72px;
                                        background-image: url("../../images/global-icons/tree/post/video_empty.png");
                                        background-color: #ecf1f5;
                                        background-repeat: no-repeat;
                                        background-size: 100% 100%;
                                        background-position: center;
                                        .video-post{
                                            display: block;
                                            height: 100%;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            .thumb_cover_back{
                                                position: absolute;
                                                top: 0px;
                                                left: 0px;
                                                width: 100%;
                                                height: 100%;
                                                background-color: transparent;
                                                transition: background-color 60ms linear;
                                            }
                                            .thumb_play{
                                                position: absolute;
                                                top: 0;
                                                bottom: 0;
                                                left: 0;
                                                right: 0;
                                                background: #000;
                                                background: rgba(0,0,0,.5) url("../../images/global-icons/tree/post/video_play_small.png") 14px center no-repeat;
                                                margin: auto;
                                                width: 40px;
                                                height: 40px;
                                                border-radius: 50%;
                                                cursor: pointer;
                                                transition: background-color 100ms linear, opacity 60ms ease;
                                                opacity: 0;
                                            }
                                        }
                                    }
                                    &.data-type-audio{
                                        background-image: url("../../images/global-icons/tree/post/audio_row_placeholder.png");
                                        background-color: #ecf1f5;
                                        background-repeat: no-repeat;
                                        background-size: auto;
                                        background-position: center;
                                        .audio-post{
                                            display: block;
                                            height: 100%;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            .thumb_cover_back{
                                                position: absolute;
                                                top: 0px;
                                                left: 0px;
                                                width: 100%;
                                                height: 100%;
                                                background-color: transparent;
                                                transition: background-color 60ms linear;
                                            }
                                            .thumb_play{
                                                position: absolute;
                                                top: 0px;
                                                left: 0px;
                                                width: 100%;
                                                height: 100%;
                                                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23FFFFFF%22%2F%3E%3Cpath%20fill%3D%22%23222222%22%20d%3D%22M9.84335571%2C16.7896383%20C9.37758321%2C17.088598%209%2C16.885726%209%2C16.3263902%20L9%2C7.6574922%20C9%2C7.10268766%209.37902442%2C6.89620947%209.84335571%2C7.19424408%20L16.733151%2C11.6165123%20C17.0561878%2C11.8238559%2017.0599966%2C12.1575817%2016.733151%2C12.3673701%20L9.84335571%2C16.7896383%20Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
                                                background-repeat: no-repeat;
                                                background-position: 50%;
                                                cursor: pointer;
                                                display: none;
                                            }
                                        }
                                    }
                                    &.data-type-image{
                                        background-color: #ecf1f5;
                                        background-repeat: no-repeat;
                                        background-size: auto;
                                        background-position: center;
                                        .image-post{
                                            display: block;
                                            height: 100%;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            cursor: pointer;
                                        }
                                    }
                                    &.data-type-text{
                                        background-color: #ecf1f5;
                                        background-repeat: no-repeat;
                                        background-size: auto;
                                        background-position: center;
                                        .text-post{
                                            display: block;
                                            height: 100%;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                            input.file-title{
                                width: 100%;
                                padding: 6px 12px;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                            }
                            .file-type{
                                text-align: center;
                                padding: 8px 5px;
                            }
                            .actions{
                                .btn{
                                    .glyphicon{
                                        top: 3px;
                                    }
                                    &.delete{
                                        display: none;
                                    }
                                }
                            }
                            &.uploaded{
                                .actions{
                                    .btn{
                                        &:not(.delete):not(.preview) {
                                            display: none;
                                        }
                                        &.delete{
                                            display: initial;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    footer.content-footer{
                        text-align: center;
                        padding-bottom: 50px;
                        button{
                            width: 250px;
                            padding: 7px;
                            font-size: 18px;
                            border-radius: 20px;
                            background: transparent;
                            border: 2px solid rgb(83, 212, 173);
                            color: rgb(83, 212, 173);
                            margin: 15px;
                            &:hover{
                                background: rgb(83, 212, 173);
                                color: white;
                            }
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
        .view-widget{
            position: fixed;
            z-index: 10;
            left: 0px;
            bottom: 0px;
            width: 300px;
            height: auto;
            display: none;
            background-color: rgba(28,29,30,.9);
            border-radius: 4px;
            overflow: auto;
            font-size: 1.7rem;
            .widget-inner{
                position: relative;
                z-index: 2;
            }
            header.widget-header{
                padding: 8px 6px 8px 12px;
                .post-title{
                    width: 230px;
                    color: #fff;
                    font-size: .9rem;
                    opacity: .6;
                    overflow: hidden;
                    white-space: pre;
                    text-overflow: ellipsis;
                    cursor: pointer;
                    &:hover{
                        opacity: 1;
                    }
                }
                .mv_min_control{
                    padding: 9px 2px;
                    margin: -8px 0;
                    opacity: .6;
                    cursor: pointer;
                    &:hover{
                        opacity: 1;
                    }
                    .mv_min_control_max{
                        height: 10px;
                        width: 11px;
                        background: url(../../images/global-icons/tree/post/video_icon.png) 0 -119px;
                    }
                    .mv_min_control_close{
                        height: 10px;
                        width: 10px;
                        background: url(../../images/global-icons/tree/post/video_icon.png) 0 -139px;
                    }
                }
            }
            .widget-body{
                padding: 0px 6px 6px;
                > div{
                    background-color: white;
                }
                .audio-widget{
                    padding: 5px;
                }
                .text-widget{
                    padding: 5px;
                }
                .form-widget{
                    padding: 5px;

                }
                *{
                    max-width: 100%;
                }

            }
            .widget-footer{
                padding: 15px;
                background-color: white;
                border-top: 1px solid #9e9e9e59;
            }
            aside.widget-top-control{
                position: absolute;
                left: 100%;
                top: 0px;
                width: auto;
                .mv_top_button{
                    padding: 6px 24px 6px 20px;
                    opacity: 0.4;
                    filter: alpha(opacity=40);
                    cursor: pointer;
                    -o-transition: opacity 0.15s ease-in-out;
                    transition: opacity 0.15s ease-in-out;
                    outline: none;
                    .mv_close_icon{
                        background: url(../../images/global-icons/tree/post/video_icon.png) no-repeat;
                        background-position: 0px 0px;
                        height: 20px;
                        width: 20px;
                    }
                    .mv_minimize_icon{
                        background: url(../../images/global-icons/tree/post/video_icon.png) no-repeat;
                        background-position: 0px -24px;
                        height: 5px;
                        width: 20px;
                        margin: 7px 0;
                    }
                    &:hover{
                        opacity: 1;
                    }
                }
            }
            &.audio-type{
                width: 500px;
            }
            &.image-type{
                .widget-body{
                    #info{
                        padding: 5px;
                        display: none;
                        *{
                            max-width: 100%;
                        }
                    }
                }
            }
            &.text-type{
                .widget-body{
                    .text-widget{
                        max-height: 300px;
                        overflow: hidden;
                    }
                }
            }
            &.active{
                display: block;
            }
            &.maximize-view{
                top: 0 !important;
                left: 0 !important;
                width: 100% !important;
                min-height: 100% !important;
                background-color: rgba(0, 0, 0, .8);
                .widget-body{
                    padding: 0px;
                }
                .widget-inner{
                    position: relative;
                    max-width: calc(100% - 100px);
                    width: 700px;
                    margin: 100px auto;
                    background-color: rgba(28,29,30,.9);
                }
                &.image-type{
                    overflow: auto;
                    .widget-body{
                        #info{
                            display: block;
                        }
                    }
                }
                &.text-type{
                    .widget-body{
                        .text-widget{
                            max-height: none;
                            overflow: auto;
                        }
                    }
                }
                .view-only-min{
                    display: none;
                }
                .view-only-max{
                    display: block;
                }
                .form-field-wrapper{
                    font-size: 2rem;
                }
            }
            .view-only-max{
                display: none;
            }
        }
    }
}