html {
  font-size: 12px; }
  html body .site-wrapper.page {
    font-family: "EB Garamond", sans-serif; }
    html body .site-wrapper.page > .site-content > .content-wrapper {
      padding-top: 10px; }
      html body .site-wrapper.page > .site-content > .content-wrapper header.content-header {
        padding: 0px 50px 5px;
        text-align: right; }
        html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper {
          display: inline-block;
          line-height: 35px; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper > span {
            vertical-align: middle;
            font-size: 20px; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown {
            margin-left: 10px;
            vertical-align: middle;
            display: inline-block; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown button.btn-custom {
              background-color: transparent;
              border: 1px solid #7b7b7b;
              font-size: 18px; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li {
              max-width: 275px;
              overflow: hidden; }
              html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a input {
                background-color: transparent;
                margin-top: 0px;
                vertical-align: middle;
                position: absolute;
                left: -9999px; }
                html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a input:checked + label {
                  color: black; }
                  html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a input:checked + label:before {
                    border-color: black; }
                  html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a input:checked + label:after {
                    font-size: .9em;
                    content: '\2714';
                    position: absolute;
                    left: 0.2em;
                    top: 0em;
                    width: 1em;
                    height: 1em;
                    color: black; }
              html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a label {
                color: grey;
                font-size: 18px;
                line-height: 1.1em;
                vertical-align: middle;
                position: relative;
                padding-left: 1.8em;
                cursor: pointer;
                font-weight: normal; }
                html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a label:before {
                  content: '';
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  width: 1em;
                  height: 1em;
                  border: 1px solid grey; }
      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content {
        padding: 0px 0px 20px 0px;
        background-color: transparent; }
        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) {
          background-color: #f8f7f9;
          margin-bottom: 25px; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) > header {
            padding: 25px 20px 0px 20px; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) > header .sery-title {
              width: 95%;
              margin: 0px auto;
              line-height: 45px; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) > header .actions-wrapper {
              text-align: right;
              padding: 0px 10px 10px 0px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) > header .actions-wrapper .action {
                display: inline-block;
                margin-left: 30px;
                height: 40px;
                position: relative;
                text-decoration: none;
                font-size: 2rem;
                color: grey; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) > header .actions-wrapper .action svg#Capa_1 {
                  display: inline !important;
                  vertical-align: middle;
                  width: 40px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) > header .actions-wrapper .action svg#Capa_1 g path {
                    fill: grey; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) > header .actions-wrapper .action:hover {
                  color: black; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) > header .actions-wrapper .action:hover svg#Capa_1 g path {
                    fill: black; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper {
            position: relative;
            max-width: calc((280px + 10px * 2) * 5 + 65px * 2);
            margin: 0px auto;
            padding: 5px 65px; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip {
              max-width: 100%;
              margin: 0px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 5 - 10px * 2);
                height: 330px;
                float: left; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div {
                  display: block;
                  width: 100%;
                  height: auto;
                  text-decoration: none;
                  background-color: transparent; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner {
                    width: 95%;
                    margin: 0px auto;
                    position: relative;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
                    padding: 0px 10px 10px;
                    background-color: white;
                    font-size: 1.7rem;
                    line-height: 1.1;
                    color: grey;
                    text-align: center; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner > aside img.delete-ideabox {
                      position: absolute;
                      top: -15px;
                      right: -15px;
                      width: 30px;
                      transition: all .3s;
                      cursor: pointer; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner > aside img.delete-ideabox:hover {
                        transform: scale(1.1); }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner > aside img.delete-ideabox:active {
                        transform: translateZ(-3px) scale(0.95); }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner > aside .bottom-line {
                      position: absolute;
                      bottom: 0px;
                      left: 0px;
                      width: 30px;
                      height: 2px;
                      background-color: #c8c8c8; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .img-wrapper {
                      position: relative;
                      z-index: 1;
                      margin: 0px -10px 15px;
                      width: calc(100% + 20px);
                      cursor: pointer; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .img-wrapper img.item-img {
                        width: 100%;
                        height: 160px;
                        object-fit: fill; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .img-wrapper.is-uploading {
                        outline: 1px dashed rgba(146, 176, 179, 0.8);
                        animation-name: uploading-effect;
                        animation-iteration-count: infinite;
                        animation-duration: 2s; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper {
                      margin-bottom: 10px;
                      min-height: 69px;
                      position: relative; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper .item-title {
                        display: block;
                        /* Fallback for non-webkit */
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: height 300ms;
                        white-space: normal; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper textarea {
                        display: none;
                        width: 100%;
                        resize: vertical; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper [data-readmore-toggle] {
                        font-size: 1.5rem;
                        cursor: pointer;
                        color: #178DB1;
                        font-style: italic; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper [data-readmore-toggle]:hover {
                          color: #5EB0C9; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper.collapsed .item-title {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper aside.actions-container > span {
                        display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper aside.actions-container > span.edit-entry {
                          position: absolute;
                          right: 0px;
                          bottom: 0px;
                          cursor: pointer; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper aside.actions-container > span.edit-entry .edit-icon {
                            width: 25px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper aside.actions-container > span.save-entry {
                          position: absolute;
                          bottom: 0px;
                          right: 30px;
                          cursor: pointer; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper aside.actions-container > span.back-to-origin {
                          position: absolute;
                          bottom: 0px;
                          right: 0px;
                          cursor: pointer; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper aside.actions-container > span:hover {
                          opacity: .7; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper:hover aside.actions-container > span.edit-entry {
                        display: block; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper.edit-status {
                        padding-bottom: 27px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper.edit-status .item-title {
                          display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper.edit-status [data-readmore-toggle] {
                          display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper.edit-status textarea {
                          display: block; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper.edit-status aside.actions-container > .save-entry, html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper.edit-status aside.actions-container > .back-to-origin {
                          display: block; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner .title-wrapper.edit-status:hover aside.actions-container > span.edit-entry {
                          display: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner footer.btns-container {
                      display: flex;
                      background-color: #f8f8f8;
                      padding: 2px 20px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner footer.btns-container .btn-wrapper {
                        flex-grow: 1;
                        text-transform: uppercase;
                        margin: 5px 0px;
                        font-size: 1.2rem;
                        cursor: pointer;
                        text-align: center;
                        perspective: 500px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner footer.btns-container .btn-wrapper > * {
                          transition: all .3s;
                          transform: translateZ(0px); }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner footer.btns-container .btn-wrapper img {
                          width: 38px;
                          margin-bottom: 5px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner footer.btns-container .btn-wrapper .make-trash {
                          font-size: 20px;
                          display: inline-block; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner footer.btns-container .btn-wrapper .open-switch-lightbox {
                          font-size: 20px;
                          display: inline-block; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner footer.btns-container .btn-wrapper:hover > * {
                          transform: translateZ(100px); }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div .item-inner footer.btns-container .btn-wrapper:active img {
                          transform: scale(1); }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li > div.focus .item-inner {
                    animation-name: itemFocus;
                    animation-delay: .1s;
                    animation-duration: .5s;
                    animation-fill-mode: backwards; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging {
              position: absolute;
              top: calc((100% - 59px) / 2);
              border: 2px solid grey;
              border-radius: 50%;
              font-size: 35px;
              line-height: .6;
              padding: 10px;
              cursor: pointer; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.disable {
                cursor: default;
                color: rgba(128, 128, 128, 0.4);
                border-color: rgba(128, 128, 128, 0.4); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging .glyphicon {
                top: -1px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.prev-pagging {
                left: 5px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.prev-pagging .glyphicon {
                  right: 2px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.prev-pagging .icon-flip {
                  transform: scaleX(-1);
                  -moz-transform: scaleX(-1);
                  -webkit-transform: scaleX(-1);
                  -ms-transform: scaleX(-1); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.next-pagging {
                right: 5px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.next-pagging .glyphicon {
                  left: 2px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging:hover:not(.disable) {
                color: white;
                background-color: grey; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-5-sm {
              max-width: calc((280px + 2px * 2) * 5 + 65px * 2); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-5-sm .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 5 - 2px * 2);
                margin-left: 2px;
                margin-right: 2px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-5-sm .tt-grid.tt-effect-3dflip li > div .item-inner footer.btns-container {
                  padding: 2px 10px; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-4 {
              max-width: calc((280px + 10px * 2) * 4 + 65px * 2); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-4 .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 4 - 10px * 2); }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-3 {
              max-width: calc((280px + 10px * 2) * 3 + 65px * 2); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-3 .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 3 - 10px * 2); }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-2 {
              max-width: calc((280px + 10px * 2) * 2 + 65px * 2); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-2 .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 2 - 10px * 2); }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-1 {
              max-width: calc((280px + 10px * 2) * 1 + 65px * 2); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-1 .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 1 - 10px * 2); }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample).disappear {
            animation: disappearBlock;
            animation-duration: .3s;
            animation-fill-mode: forwards; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample).appear {
            animation: appearBlock;
            animation-duration: .3s;
            animation-fill-mode: forwards; }
  html body .switch-lightbox-wrapper .switch-header {
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center; }
  html body .switch-lightbox-wrapper .posts-block {
    background-color: #f8f7f9;
    margin-bottom: 25px; }
    html body .switch-lightbox-wrapper .posts-block > h2 {
      margin: 0px;
      padding: 10px 20px 0px; }
    html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper {
      position: relative;
      max-width: calc((280px + 10px * 2) * 5 + 65px * 2);
      margin: 0px auto;
      padding: 5px 65px; }
      html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip {
        max-width: 100%;
        margin: 0px; }
        html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li {
          width: calc(100% / 5 - 10px * 2);
          height: 330px;
          float: left; }
          html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a {
            display: block;
            width: 100%;
            height: auto;
            text-decoration: none;
            background-color: transparent; }
            html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner {
              width: 95%;
              margin: 0px auto;
              position: relative;
              box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
              border-bottom: 1px solid rgba(200, 200, 200, 0.5);
              padding: 0px 10px 20px;
              background-color: white;
              font-size: 1.7rem;
              line-height: 1.1;
              color: grey;
              text-align: center; }
              html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner > aside img.delete-ideabox {
                position: absolute;
                top: -15px;
                right: -15px;
                width: 30px;
                transition: all .3s;
                cursor: pointer; }
                html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner > aside img.delete-ideabox:hover {
                  transform: scale(1.1); }
                html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner > aside img.delete-ideabox:active {
                  transform: translateZ(-3px) scale(0.95); }
              html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner > aside .bottom-line {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 30px;
                height: 2px;
                background-color: #c8c8c8; }
              html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .img-wrapper {
                position: relative;
                z-index: 1;
                margin: 0px -10px 15px;
                width: calc(100% + 20px); }
                html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .img-wrapper img.item-img {
                  width: 100%;
                  height: 160px;
                  object-fit: fill; }
                html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .img-wrapper.is-uploading {
                  outline: 1px dashed rgba(146, 176, 179, 0.8);
                  animation-name: uploading-effect;
                  animation-iteration-count: infinite;
                  animation-duration: 2s; }
              html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper {
                margin-bottom: 10px;
                min-height: 69px;
                position: relative; }
                html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper .item-title {
                  display: block;
                  /* Fallback for non-webkit */
                  display: -webkit-box;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  transition: height 300ms;
                  white-space: normal; }
                html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper textarea {
                  display: none;
                  width: 100%;
                  resize: vertical; }
                html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper [data-readmore-toggle] {
                  font-size: 1.5rem;
                  cursor: pointer;
                  color: #178DB1;
                  font-style: italic; }
                  html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper [data-readmore-toggle]:hover {
                    color: #5EB0C9; }
                html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.collapsed .item-title {
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  text-overflow: ellipsis; }
                html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span {
                  display: none; }
                  html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span.edit-entry {
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                    cursor: pointer; }
                    html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span.edit-entry .edit-icon {
                      width: 25px; }
                  html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span.save-entry {
                    position: absolute;
                    bottom: 0px;
                    right: 30px;
                    cursor: pointer; }
                  html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span.back-to-origin {
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    cursor: pointer; }
                  html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span:hover {
                    opacity: .7; }
                html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper:hover aside.actions-container > span.edit-entry {
                  display: block; }
                html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status {
                  padding-bottom: 27px; }
                  html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status .item-title {
                    display: none; }
                  html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status [data-readmore-toggle] {
                    display: none; }
                  html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status textarea {
                    display: block; }
                  html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status aside.actions-container > .save-entry, html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status aside.actions-container > .back-to-origin {
                    display: block; }
                  html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status:hover aside.actions-container > span.edit-entry {
                    display: none; }
              html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container {
                display: block;
                padding: 2px 20px; }
                html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn.btn-circle {
                  width: 100%;
                  max-width: 100%;
                  padding: 0px 6px;
                  font-size: 2rem;
                  border-radius: 50px;
                  background: transparent;
                  border: 2px solid #53d4ad;
                  color: #53d4ad; }
                  html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn.btn-circle:hover {
                    background: #53d4ad;
                    color: white; }
                  html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn.btn-circle:focus {
                    outline: none; }
      html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .pagging {
        position: absolute;
        top: calc((100% - 59px) / 2);
        border: 2px solid grey;
        border-radius: 50%;
        font-size: 35px;
        line-height: .6;
        padding: 10px;
        cursor: pointer;
        color: grey; }
        html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .pagging.disable {
          cursor: default;
          color: rgba(128, 128, 128, 0.4);
          border-color: rgba(128, 128, 128, 0.4); }
        html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .pagging .glyphicon {
          top: -1px; }
        html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .pagging.prev-pagging {
          left: 5px; }
          html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .pagging.prev-pagging .glyphicon {
            right: 2px; }
          html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .pagging.prev-pagging .icon-flip {
            transform: scaleX(-1);
            -moz-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1); }
        html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .pagging.next-pagging {
          right: 5px; }
          html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .pagging.next-pagging .glyphicon {
            left: 2px; }
        html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper .pagging:hover:not(.disable) {
          color: white;
          background-color: grey; }
      html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper.scope-width-5-sm {
        max-width: calc((280px + 2px * 2) * 5 + 65px * 2); }
        html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper.scope-width-5-sm .tt-grid.tt-effect-3dflip li {
          width: calc(100% / 5 - 2px * 2);
          margin-left: 2px;
          margin-right: 2px; }
          html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper.scope-width-5-sm .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container {
            padding: 2px 10px; }
      html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper.scope-width-4 {
        max-width: calc((280px + 10px * 2) * 4 + 65px * 2); }
        html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper.scope-width-4 .tt-grid.tt-effect-3dflip li {
          width: calc(100% / 4 - 10px * 2); }
      html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper.scope-width-3 {
        max-width: calc((280px + 10px * 2) * 3 + 65px * 2); }
        html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper.scope-width-3 .tt-grid.tt-effect-3dflip li {
          width: calc(100% / 3 - 10px * 2); }
      html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper.scope-width-2 {
        max-width: calc((280px + 10px * 2) * 2 + 65px * 2); }
        html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper.scope-width-2 .tt-grid.tt-effect-3dflip li {
          width: calc(100% / 2 - 10px * 2); }
      html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper.scope-width-1 {
        max-width: calc((280px + 10px * 2) * 1 + 65px * 2); }
        html body .switch-lightbox-wrapper .posts-block .tt-grid-wrapper.scope-width-1 .tt-grid.tt-effect-3dflip li {
          width: calc(100% / 1 - 10px * 2); }
    html body .switch-lightbox-wrapper .posts-block.disappear {
      animation: disappearBlock;
      animation-duration: .3s;
      animation-fill-mode: forwards; }
    html body .switch-lightbox-wrapper .posts-block.appear {
      animation: appearBlock;
      animation-duration: .3s;
      animation-fill-mode: forwards; }
    html body .switch-lightbox-wrapper .posts-block.ideabox-posts > h2 {
      vertical-align: middle; }
      html body .switch-lightbox-wrapper .posts-block.ideabox-posts > h2 img.back-to-top-level {
        vertical-align: middle;
        width: 40px;
        cursor: pointer;
        position: relative;
        bottom: 7px; }
        html body .switch-lightbox-wrapper .posts-block.ideabox-posts > h2 img.back-to-top-level:hover {
          opacity: .7; }
    html body .switch-lightbox-wrapper .posts-block.ideabox-posts .tt-grid.tt-effect-3dflip li {
      height: 350px; }
      html body .switch-lightbox-wrapper .posts-block.ideabox-posts .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container {
        padding: 2px 3px; }
        html body .switch-lightbox-wrapper .posts-block.ideabox-posts .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper {
          display: inline-block;
          margin: 3px;
          font-size: 1.2rem;
          cursor: pointer;
          vertical-align: middle; }
          html body .switch-lightbox-wrapper .posts-block.ideabox-posts .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper.explore-btn {
            text-transform: uppercase;
            margin-left: 0px;
            font-size: 1rem; }
            html body .switch-lightbox-wrapper .posts-block.ideabox-posts .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper.explore-btn img {
              width: 40px;
              margin-bottom: 3px;
              transition: all .3s; }
            html body .switch-lightbox-wrapper .posts-block.ideabox-posts .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper.explore-btn:hover {
              color: black; }
              html body .switch-lightbox-wrapper .posts-block.ideabox-posts .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper.explore-btn:hover img {
                transform: scale(1.2); }
            html body .switch-lightbox-wrapper .posts-block.ideabox-posts .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper.explore-btn:active img {
              transform: scale(1); }
          html body .switch-lightbox-wrapper .posts-block.ideabox-posts .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper.select-btn {
            margin-right: 0px; }
            html body .switch-lightbox-wrapper .posts-block.ideabox-posts .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper.select-btn .select-post.btn.btn-circle {
              width: 110px; }

@keyframes itemFocus {
  0% {
    background-color: #fffa90; }
  100% {
    background-color: white; } }
@keyframes appearBlock {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes disappearBlock {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.after-clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*# sourceMappingURL=calendar-page.css.map */
