html body .site-wrapper.page.page-calendar {
  font-family: "EB Garamond", sans-serif; }
  html body .site-wrapper.page.page-calendar > .site-content {
    padding: 30px 50px; }
    html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper {
      max-width: 1700px;
      margin: 0px auto;
      position: relative;
      padding-top: 10px;
      color: #7b7b7b; }
      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper .decoration-container .decoration {
        position: absolute; }
      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper .decoration-container .top-left-rectangular {
        background-color: #7b7b7b;
        color: white;
        font-size: 22px;
        padding: 0px 150px 70px 25px;
        position: absolute;
        top: 0px;
        left: -30px;
        line-height: 52px; }
        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper .decoration-container .top-left-rectangular i.fa-caret-down {
          vertical-align: middle;
          font-size: 50px; }
      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper header.content-header {
        padding: 0px 50px 5px;
        text-align: right; }
        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper {
          display: inline-block;
          line-height: 35px; }
          html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper > span {
            vertical-align: middle;
            font-size: 20px; }
          html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown {
            margin-left: 10px;
            vertical-align: middle;
            display: inline-block; }
            html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown button.btn-custom {
              background-color: transparent;
              border: 1px solid #7b7b7b;
              font-size: 18px; }
            html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a input {
              background-color: transparent;
              margin-top: 0px;
              vertical-align: middle;
              position: absolute;
              left: -9999px; }
              html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a input:checked + label {
                color: black; }
                html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a input:checked + label:before {
                  border-color: black; }
                html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a input:checked + label:after {
                  font-size: .9em;
                  content: '\2714';
                  position: absolute;
                  left: 0.2em;
                  top: 0em;
                  width: 1em;
                  height: 1em;
                  color: black; }
            html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a label {
              color: grey;
              font-size: 18px;
              line-height: 1.1em;
              vertical-align: middle;
              position: relative;
              padding-left: 1.8em;
              cursor: pointer;
              font-weight: normal; }
              html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a label:before {
                content: '';
                position: absolute;
                left: 0px;
                top: 0px;
                width: 1em;
                height: 1em;
                border: 1px solid grey; }
      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content {
        background-color: transparent;
        min-height: 700px;
        position: relative;
        padding: 5px 30px; }
        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row {
          padding: 10px 20px 0px 20px;
          margin-bottom: 20px;
          background-color: #f4f4f6; }
          html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row header.content-row-title {
            text-align: left;
            padding: 5px 5%;
            font-size: 2em; }
          html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper .previous-page {
            display: block;
            float: left;
            width: 5%;
            line-height: calc(0.1*(100vw - 1000px) + 210px); }
            html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper .previous-page img {
              width: 100%;
              vertical-align: middle;
              cursor: pointer; }
          html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper .next-page {
            display: block;
            float: left;
            width: 5%;
            line-height: calc(0.1*(100vw - 1000px) + 210px); }
            html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper .next-page img {
              width: 100%;
              vertical-align: middle;
              cursor: pointer; }
          html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
            display: block;
            float: left;
            width: 90% !important;
            max-width: 100%;
            margin: 0px auto; }
            html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
              width: calc((100% - 100px)/5) !important;
              min-height: 325px;
              height: auto; }
              @media only screen and (min-width: 1000px) {
                html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
                  min-height: 370px; } }
              html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a {
                height: auto; }
                html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column {
                  height: auto; }
                  html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object {
                    height: auto;
                    position: relative;
                    color: grey;
                    padding-bottom: 75px;
                    min-height: 300px; }
                    html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .image-wrapper img.object_image {
                      cursor: move; }
                    html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper {
                      position: relative;
                      padding-bottom: 20px; }
                      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper .object_title {
                        padding: 10px 20px;
                        min-height: 105px;
                        font-size: 1.3em;
                        line-height: 1.2em;
                        white-space: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: all ease-in-out .4s; }
                      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper .view-more-wrapper {
                        font-size: 18px;
                        margin-top: -5px;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%; }
                        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper .view-more-wrapper span {
                          cursor: pointer;
                          font-size: 18px; }
                          html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper .view-more-wrapper span.view-more {
                            display: initial; }
                          html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper .view-more-wrapper span.view-less {
                            display: none; }
                          html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper .view-more-wrapper span:hover {
                            color: black; }
                      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper.expanded > .object_title {
                        overflow-y: hidden;
                        transition: all ease-in-out .4s;
                        transition-delay: 0s; }
                        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper.expanded > .object_title img {
                          margin-top: 5px;
                          max-width: 100%; }
                      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper.expanded .view-more-wrapper {
                        font-size: 30px; }
                        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper.expanded .view-more-wrapper .dot {
                          display: none; }
                        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper.expanded .view-more-wrapper span.view-more {
                          display: none; }
                        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .title-wrapper.expanded .view-more-wrapper span.view-less {
                          display: initial; }
                    html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper {
                      text-align: center;
                      position: absolute;
                      bottom: 20px;
                      left: 0px;
                      width: 100%;
                      height: 50px; }
                      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper > * {
                        width: 30%; }
                      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .open-in-view {
                        display: inline-block;
                        cursor: pointer;
                        vertical-align: middle; }
                        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .open-in-view img {
                          width: 42px;
                          max-width: 90%;
                          display: inline; }
                      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .switch-button {
                        display: inline-block;
                        padding: 2px;
                        cursor: pointer;
                        vertical-align: middle; }
                        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .switch-button .open-switch-lightbox {
                          line-height: 1em;
                          display: inline-block;
                          vertical-align: middle; }
                          html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .switch-button .open-switch-lightbox i {
                            font-size: 45px;
                            line-height: 1em;
                            vertical-align: bottom; }
                      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .make-trash {
                        vertical-align: middle;
                        display: inline-block;
                        cursor: pointer; }
                        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .make-trash i {
                          font-size: 45px; }
                    @media only screen and (min-width: 1000px) and (max-width: 1700px) {
                      html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object {
                        font-size: 15px; }
                        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .image-wrapper img.object_image {
                          height: 8vw; }
                        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper > * img {
                          width: 2.3vw !important; }
                        html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper > * i {
                          font-size: 2.3vw !important; } }
              @media only screen and (max-width: 1000px) {
                html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
                  margin: 10px;
                  width: calc((100% - 60px)/3) !important;
                  height: 24vw !important; }
                  html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object {
                    position: relative;
                    color: grey; }
                    html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .image-wrapper img.object_image {
                      height: 12vw;
                      object-fit: fill; }
                    html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .object_title {
                      padding: 5px 10px;
                      font-size: 1.3em;
                      line-height: 1.2em;
                      white-space: pre;
                      overflow: hidden;
                      text-overflow: ellipsis; }
                    html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper > * img {
                      width: 4vw !important; }
                    html body .site-wrapper.page.page-calendar > .site-content > .content-wrapper main.main-content section.content-row .content-row-body > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper > * i {
                      font-size: 4vw !important; } }

.switch-lightbox {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(33, 33, 33, 0.5);
  z-index: 31;
  overflow: auto; }
  .switch-lightbox .switch-wrapper {
    position: absolute;
    background-color: white;
    text-align: center;
    font-size: 0px; }
    .switch-lightbox .switch-wrapper .switch-header {
      background-color: black;
      color: white;
      font-size: 30px;
      padding: 20px; }
    .switch-lightbox .switch-wrapper .switch-content {
      padding: 5px 15px 5px 15px;
      height: calc(100% - 70px);
      overflow: auto;
      font-size: inherit !important;
      text-align: left; }
      .switch-lightbox .switch-wrapper .switch-content iframe.view-ideabox-iframe {
        overflow: visible; }
      .switch-lightbox .switch-wrapper .switch-content .new-posts .section-title {
        width: 90%;
        margin: auto;
        font-size: 25px !important; }
      .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper {
        padding-left: 5%;
        padding-right: 5%; }
        .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper .previous-page {
          display: block;
          float: left;
          width: 5%;
          line-height: 300px; }
          .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper .previous-page img {
            width: 100%;
            vertical-align: middle;
            cursor: pointer; }
        .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper .next-page {
          display: block;
          float: left;
          width: 5%;
          line-height: 300px; }
          .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper .next-page img {
            width: 100%;
            vertical-align: middle;
            cursor: pointer; }
        .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
          display: block;
          float: left;
          width: 90% !important;
          max-width: 100%; }
          .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            width: 23% !important;
            height: 280px !important; }
            .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column {
              margin: auto; }
              .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .object_title {
                white-space: pre;
                overflow: hidden;
                text-overflow: ellipsis; }
              .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper {
                text-align: center; }
                .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button {
                  width: 60%;
                  display: inline-block; }
                  .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap {
                    width: 100%; }
                    .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap button {
                      width: 100%;
                      line-height: 34px;
                      height: 40px; }
                      .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap button.circle {
                        width: 40px; }
                      .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap button.filled {
                        line-height: 34px;
                        vertical-align: middle; }
                    .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap img {
                      top: 0;
                      left: 52px;
                      display: none; }
                    .switch-lightbox .switch-wrapper .switch-content .new-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap svg {
                      left: 55px;
                      top: 0px; }
      .switch-lightbox .switch-wrapper .switch-content .favorite-posts .section-title {
        width: 90%;
        margin: auto;
        font-size: 25px !important; }
      .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper {
        padding-left: 5%;
        padding-right: 5%; }
        .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper .previous-page {
          display: block;
          float: left;
          width: 5%;
          line-height: 300px; }
          .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper .previous-page img {
            width: 100%;
            vertical-align: middle;
            cursor: pointer; }
        .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper .next-page {
          display: block;
          float: left;
          width: 5%;
          line-height: 300px; }
          .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper .next-page img {
            width: 100%;
            vertical-align: middle;
            cursor: pointer; }
        .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
          display: block;
          float: left;
          width: 90% !important;
          max-width: 100%; }
          .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            width: 23% !important;
            height: 280px !important; }
            .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column {
              margin: auto; }
              .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .object_title {
                white-space: pre;
                overflow: hidden;
                text-overflow: ellipsis; }
              .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper {
                text-align: center; }
                .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button {
                  width: 60%;
                  display: inline-block; }
                  .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap {
                    width: 100%; }
                    .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap button {
                      width: 100%;
                      line-height: 34px;
                      height: 40px; }
                      .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap button.circle {
                        width: 40px; }
                      .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap button.filled {
                        line-height: 34px;
                        vertical-align: middle; }
                    .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap img {
                      top: 0;
                      left: 52px;
                      display: none; }
                    .switch-lightbox .switch-wrapper .switch-content .favorite-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap svg {
                      left: 55px;
                      top: 0px; }
      .switch-lightbox .switch-wrapper .switch-content .ideabox-posts .section-title {
        width: 90%;
        margin: auto;
        font-size: 25px !important; }
        .switch-lightbox .switch-wrapper .switch-content .ideabox-posts .section-title > span {
          vertical-align: -webkit-baseline-middle;
          vertical-align: -moz-baseline-middle;
          vertical-align: -o-baseline-middle;
          vertical-align: -ms-baseline-middle; }
        .switch-lightbox .switch-wrapper .switch-content .ideabox-posts .section-title button.back-to-top-level {
          border: none;
          line-height: 45px;
          background-color: transparent;
          margin-left: 20px; }
          .switch-lightbox .switch-wrapper .switch-content .ideabox-posts .section-title button.back-to-top-level img {
            vertical-align: middle;
            width: 50px; }
          .switch-lightbox .switch-wrapper .switch-content .ideabox-posts .section-title button.back-to-top-level span {
            vertical-align: text-top;
            padding-left: 10px; }
      .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper {
        padding-left: 5%;
        padding-right: 5%; }
        .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper .previous-page {
          display: block;
          float: left;
          width: 5%;
          line-height: 300px; }
          .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper .previous-page img {
            width: 100%;
            vertical-align: middle;
            cursor: pointer; }
        .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper .next-page {
          display: block;
          float: left;
          width: 5%;
          line-height: 300px; }
          .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper .next-page img {
            width: 100%;
            vertical-align: middle;
            cursor: pointer; }
        .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
          display: block;
          float: left;
          width: 90% !important;
          max-width: 100%; }
          .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            width: 23% !important;
            height: 310px !important; }
            .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column {
              margin: auto; }
              .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object {
                width: 100%; }
                .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .object_title {
                  white-space: pre;
                  overflow: hidden;
                  text-overflow: ellipsis; }
                .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper {
                  text-align: center;
                  line-height: 65.5px; }
                  .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .explorer-ideabox-button {
                    display: inline-block;
                    width: 20%;
                    vertical-align: middle;
                    margin: 0px 5px;
                    font-size: 15px;
                    line-height: 1.2em; }
                    .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .explorer-ideabox-button img {
                      width: 100%; }
                  .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button {
                    width: 50%;
                    margin: 0px 5px;
                    display: inline-block;
                    vertical-align: middle; }
                    .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap {
                      width: 100%; }
                      .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap button {
                        width: 100%;
                        line-height: 34px;
                        height: 40px; }
                        .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap button.circle {
                          width: 40px; }
                        .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap button.filled {
                          line-height: 34px;
                          vertical-align: middle; }
                      .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap img {
                        top: 0;
                        left: 52px;
                        display: none; }
                      .switch-lightbox .switch-wrapper .switch-content .ideabox-posts > .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .column .column_object .buttons-wrapper .select-post-button .wrap svg {
                        left: 55px;
                        top: 0px; }
    .switch-lightbox .switch-wrapper button.close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 2em;
      color: black !important;
      margin: 0px;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      border: 2px solid black;
      opacity: .5;
      box-shadow: none; }
      .switch-lightbox .switch-wrapper button.close:hover {
        color: white !important; }

.swal2-container.swal2-fade.swal2-shown .swal2-modal.swal2-show .swal2-buttonswrapper button {
  margin: 10px; }

.after-clearfix:after {
  content: '';
  display: block;
  clear: both; }

.qtip.qtip-default.qtip-pos-tc {
  border: 1px solid grey;
  background-color: white;
  font-size: 14px; }
  .qtip.qtip-default.qtip-pos-tc .qtip-titlebar {
    background-color: rgba(0, 0, 0, 0.1); }
    .qtip.qtip-default.qtip-pos-tc .qtip-titlebar .qtip-close.qtip-icon .ui-icon.ui-icon-close {
      width: 18px;
      height: 18px;
      line-height: 20px;
      vertical-align: middle;
      font-size: 15px; }
  .qtip.qtip-default.qtip-pos-tc .qtip-content {
    max-height: 300px;
    overflow: auto; }
    .qtip.qtip-default.qtip-pos-tc .qtip-content a {
      font-size: 15px; }
  .qtip.qtip-default.qtip-pos-tc * {
    max-width: 100% !important; }

/*# sourceMappingURL=calendar.css.map */
