$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;

html{
    font-size: 12px;
    body{
        .site-wrapper.page{
            font-family: $default_font_family;
            & > .site-content{
                & > .content-wrapper{
                    padding-top: 10px;
                    .decoration-container{
                        .decoration{
                        }
                        .top-left-rectangular{
                            i.fa-caret-down{
                            }
                        }
                        @media only screen and (max-width: 768px){
                        }
                    }
                    header.content-header{
                        padding: 0px 50px 5px;
                        text-align: right;
                        .multi-select-series-wrapper{
                            display: inline-block;
                            line-height: 35px;
                            & > span{
                                vertical-align: middle;
                                font-size: 20px;
                            }
                            .dropdown{
                                margin-left: 10px;
                                vertical-align: middle;
                                display: inline-block;
                                button.btn-custom{
                                    background-color: transparent;
                                    border: 1px solid #7b7b7b;
                                    font-size: 18px;
                                }
                                ul.dropdown-menu{
                                    li{
                                        max-width: 275px;
                                        overflow: hidden;
                                        a{
                                            input{
                                                background-color: transparent;
                                                margin-top: 0px;
                                                vertical-align: middle;
                                                position: absolute;
                                                left: -9999px;
                                                &:checked{
                                                    & + label{
                                                        color: black;
                                                        &:before{
                                                            border-color: black;
                                                        }
                                                        &:after{
                                                            font-size: .9em;
                                                            content: '\2714';
                                                            position: absolute;
                                                            left: 0.2em;
                                                            top: 0em;
                                                            width: 1em;
                                                            height: 1em;
                                                            color: black;
                                                        }
                                                    }
                                                }
                                            }
                                            label{
                                                color: $content_color;
                                                font-size: 18px;
                                                line-height: 1.1em;
                                                vertical-align: middle;
                                                position: relative;
                                                padding-left: 1.8em;
                                                cursor: pointer;
                                                font-weight: normal;
                                                &:before{
                                                    content: '';
                                                    position: absolute;
                                                    left: 0px;
                                                    top: 0px;
                                                    width: 1em;
                                                    height: 1em;
                                                    border: 1px solid $content_color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    main.main-content{
                        padding: 0px 0px 20px 0px;
                        background-color: transparent;
                        .posts-block:not(.sample){
                            background-color: #f8f7f9;
                            margin-bottom: 25px;
                            >header{
                                padding: 25px 20px 0px 20px;
                                .sery-title{
                                    width: 95%;
                                    margin: 0px auto;
                                    line-height: 45px;
                                }
                                .actions-wrapper{
                                    text-align: right;
                                    padding: 0px 10px 10px 0px;
                                    .action{
                                        display: inline-block;
                                        margin-left: 30px;
                                        height: 40px;
                                        position: relative;
                                        text-decoration: none;
                                        font-size: 2rem;
                                        color: $content_color;
                                        svg#Capa_1{
                                            display: inline !important;
                                            vertical-align: middle;
                                            width: 40px;
                                            g{
                                                path{
                                                    fill: $content_color;
                                                }
                                            }
                                        }
                                        &:hover{
                                            color: black;
                                            svg#Capa_1{
                                                g{
                                                    path{
                                                        fill: black;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .tt-grid-wrapper{
                                position: relative;
                                max-width: calc((280px + 10px * 2) * 5 + 65px * 2);
                                margin: 0px auto;
                                padding: 5px 65px;
                                .tt-grid.tt-effect-3dflip{
                                    max-width: 100%;
                                    margin: 0px;
                                    li{
                                        width: calc(100% / 5 - 10px * 2);
                                        height: 330px;
                                        float: left;
                                        > div{
                                            display: block;
                                            width: 100%;
                                            height: auto;
                                            text-decoration: none;
                                            background-color: transparent;
                                            .item-inner{
                                                width: 95%;
                                                margin: 0px auto;
                                                position: relative;
                                                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
                                                border-bottom: 1px solid rgba(200, 200, 200, .5);
                                                padding: 0px 10px 10px;
                                                background-color: white;
                                                font-size: 1.7rem;
                                                line-height: 1.1;
                                                color: $content_color;
                                                text-align: center;
                                                > aside{
                                                    img.delete-ideabox{
                                                        position: absolute;
                                                        top: -15px;
                                                        right: -15px;
                                                        width: 30px;
                                                        transition: all .3s;
                                                        cursor: pointer;
                                                        &:hover{
                                                            transform: scale(1.1);
                                                        }
                                                        &:active{
                                                            transform: translateZ(-3px) scale(.95);
                                                        }
                                                    }
                                                    .bottom-line{
                                                        position: absolute;
                                                        bottom: 0px;
                                                        left: 0px;
                                                        width: 30px;
                                                        height: 2px;
                                                        background-color: rgb(200, 200, 200);
                                                    }
                                                }
                                                .img-wrapper{
                                                    position: relative;
                                                    z-index: 1;
                                                    margin: 0px -10px 15px;
                                                    width: calc(100% + 20px);
                                                    cursor: pointer;
                                                    img.item-img{
                                                        width: 100%;
                                                        height: 160px;
                                                        object-fit: fill;
                                                    }
                                                    &.is-uploading{
                                                        outline: 1px dashed rgba(146, 176, 179, .8);
                                                        animation-name: uploading-effect;
                                                        animation-iteration-count: infinite;
                                                        animation-duration: 2s;
                                                    }
                                                }
                                                .title-wrapper{
                                                    margin-bottom: 10px;
                                                    min-height: 69px;
                                                    position: relative;
                                                    .item-title{
                                                        display: block; /* Fallback for non-webkit */
                                                        display: -webkit-box;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;
                                                        transition: height 300ms;
                                                        white-space: normal;
                                                    }
                                                    textarea{
                                                        display: none;
                                                        width: 100%;
                                                        resize: vertical;
                                                    }
                                                    [data-readmore-toggle]{
                                                        font-size: 1.5rem;
                                                        cursor: pointer;
                                                        color: #178DB1;
                                                        font-style: italic;
                                                        &:hover{
                                                            color: #5EB0C9;
                                                        }
                                                    }
                                                    &.collapsed{
                                                        .item-title{
                                                            display: -webkit-box;
                                                            -webkit-line-clamp: 2;
                                                            -webkit-box-orient: vertical;
                                                            text-overflow: ellipsis;
                                                        }
                                                    }
                                                    aside.actions-container{
                                                        > span{
                                                            display: none;
                                                            &.edit-entry{
                                                                position: absolute;
                                                                right: 0px;
                                                                bottom: 0px;
                                                                cursor: pointer;
                                                                .edit-icon{
                                                                    width: 25px;
                                                                }
                                                            }
                                                            &.save-entry{
                                                                position: absolute;
                                                                bottom: 0px;
                                                                right: 30px;
                                                                cursor: pointer;
                                                            }
                                                            &.back-to-origin{
                                                                position: absolute;
                                                                bottom: 0px;
                                                                right: 0px;
                                                                cursor: pointer;
                                                            }
                                                            &:hover{
                                                                opacity: .7;
                                                            }
                                                        }
                                                    }
                                                    &:hover{
                                                        aside.actions-container{
                                                            > span{
                                                                &.edit-entry{
                                                                    display: block;
                                                                    .edit-icon{
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                    &.edit-status{
                                                        padding-bottom: 27px;
                                                        .item-title{
                                                            display: none;
                                                        }
                                                        [data-readmore-toggle]{
                                                            display: none;
                                                        }
                                                        textarea{
                                                            display: block;
                                                        }
                                                        aside.actions-container{
                                                            >.save-entry, >.back-to-origin{
                                                                display: block;
                                                            }
                                                        }
                                                        &:hover{
                                                            aside.actions-container{
                                                                > span{
                                                                    &.edit-entry{
                                                                        display: none;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                footer.btns-container{
                                                    display: flex;
                                                    background-color: #f8f8f8;
                                                    padding: 2px 20px;
                                                    .btn-wrapper{
                                                        flex-grow: 1;
                                                        text-transform: uppercase;
                                                        margin: 5px 0px;
                                                        font-size: 1.2rem;
                                                        cursor: pointer;
                                                        text-align: center;
                                                        perspective: 500px;
                                                        & > * {
                                                            transition: all .3s;
                                                            transform: translateZ(0px);
                                                        }
                                                        img{
                                                            width: 38px;
                                                            margin-bottom: 5px;
                                                        }
                                                        .make-trash{
                                                            font-size: 20px;
                                                            display: inline-block;
                                                        }
                                                        .open-switch-lightbox{
                                                            font-size: 20px;
                                                            display: inline-block;
                                                        }
                                                        &:hover{
                                                            //color: black;
                                                            & > *{
                                                                //transform: scale(1.1);
                                                                transform: translateZ(100px);
                                                            }
                                                            .favorite-wrapper{
                                                                .fa-star-o{
                                                                }
                                                                .fa-star{
                                                                }
                                                                &.favorited{
                                                                    .fa-star-o{
                                                                    }
                                                                    .fa-star{
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        &:active{
                                                            img{
                                                                transform: scale(1);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            &.focus{
                                                .item-inner{
                                                    animation-name: itemFocus;
                                                    animation-delay: .1s;
                                                    animation-duration: .5s;
                                                    animation-fill-mode: backwards;
                                                }
                                            }
                                        }
                                    }
                                }
                                .pagging{
                                    position: absolute;
                                    top: calc((100% - 59px) / 2);
                                    border: 2px solid grey;
                                    border-radius: 50%;
                                    font-size: 35px;
                                    line-height: .6;
                                    padding: 10px;
                                    cursor: pointer;
                                    &.disable{
                                        cursor: default;
                                        color: rgba(128, 128, 128, .4);
                                        border-color: rgba(128, 128, 128, .4);
                                    }
                                    .glyphicon{
                                        top: -1px;
                                    }
                                    &.prev-pagging{
                                        left: 5px;
                                        .glyphicon{
                                            right: 2px;
                                        }
                                        .icon-flip{
                                            transform: scaleX(-1);
                                            -moz-transform: scaleX(-1);
                                            -webkit-transform: scaleX(-1);
                                            -ms-transform: scaleX(-1);
                                        }
                                    }
                                    &.next-pagging{
                                        right: 5px;
                                        .glyphicon{
                                            left: 2px;
                                        }
                                    }
                                    &:hover:not(.disable){
                                        color: white;
                                        background-color: grey;
                                    }
                                }
                                &.scope-width-5-sm{
                                    max-width: calc((280px + 2px * 2) * 5 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 5 - 2px * 2);
                                            margin-left: 2px;
                                            margin-right: 2px;
                                            > div{
                                                .item-inner{
                                                    footer.btns-container{
                                                        padding: 2px 10px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.scope-width-4 {
                                    max-width: calc((280px + 10px * 2) * 4 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 4 - 10px * 2);
                                        }
                                    }
                                }
                                &.scope-width-3 {
                                    max-width: calc((280px + 10px * 2) * 3 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 3 - 10px * 2);
                                        }
                                    }
                                }
                                &.scope-width-2 {
                                    max-width: calc((280px + 10px * 2) * 2 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 2 - 10px * 2);
                                        }
                                    }
                                }
                                &.scope-width-1 {
                                    max-width: calc((280px + 10px * 2) * 1 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 1 - 10px * 2);
                                        }
                                    }
                                }
                            }
                            &.disappear{
                                animation: disappearBlock;
                                animation-duration: .3s;
                                animation-fill-mode: forwards;
                            }
                            &.appear{
                                animation: appearBlock;
                                animation-duration: .3s;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
                }
            }
        }
        .switch-lightbox-wrapper{
            .switch-header{
                padding: 20px;
                background-color: black;
                color: white;
                font-size: 30px;
                text-align: center;
            }
            .posts-block{
                background-color: #f8f7f9;
                margin-bottom: 25px;
                >h2{
                    margin: 0px;
                    padding: 10px 20px 0px;
                }
                .tt-grid-wrapper{
                    position: relative;
                    max-width: calc((280px + 10px * 2) * 5 + 65px * 2);
                    margin: 0px auto;
                    padding: 5px 65px;
                    .tt-grid.tt-effect-3dflip{
                        max-width: 100%;
                        margin: 0px;
                        li{
                            width: calc(100% / 5 - 10px * 2);
                            height: 330px;
                            float: left;
                            a{
                                display: block;
                                width: 100%;
                                height: auto;
                                text-decoration: none;
                                background-color: transparent;
                                .item-inner{
                                    width: 95%;
                                    margin: 0px auto;
                                    position: relative;
                                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
                                    border-bottom: 1px solid rgba(200, 200, 200, .5);
                                    padding: 0px 10px 20px;
                                    background-color: white;
                                    font-size: 1.7rem;
                                    line-height: 1.1;
                                    color: $content_color;
                                    text-align: center;
                                    > aside{
                                        img.delete-ideabox{
                                            position: absolute;
                                            top: -15px;
                                            right: -15px;
                                            width: 30px;
                                            transition: all .3s;
                                            cursor: pointer;
                                            &:hover{
                                                transform: scale(1.1);
                                            }
                                            &:active{
                                                transform: translateZ(-3px) scale(.95);
                                            }
                                        }
                                        .bottom-line{
                                            position: absolute;
                                            bottom: 0px;
                                            left: 0px;
                                            width: 30px;
                                            height: 2px;
                                            background-color: rgb(200, 200, 200);
                                        }
                                    }
                                    .img-wrapper{
                                        position: relative;
                                        z-index: 1;
                                        margin: 0px -10px 15px;
                                        width: calc(100% + 20px);
                                        img.item-img{
                                            width: 100%;
                                            height: 160px;
                                            object-fit: fill;
                                        }
                                        &.is-uploading{
                                            outline: 1px dashed rgba(146, 176, 179, .8);
                                            animation-name: uploading-effect;
                                            animation-iteration-count: infinite;
                                            animation-duration: 2s;
                                        }
                                    }
                                    .title-wrapper{
                                        margin-bottom: 10px;
                                        min-height: 69px;
                                        position: relative;
                                        .item-title{
                                            display: block; /* Fallback for non-webkit */
                                            display: -webkit-box;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            transition: height 300ms;
                                            white-space: normal;
                                        }
                                        textarea{
                                            display: none;
                                            width: 100%;
                                            resize: vertical;
                                        }
                                        [data-readmore-toggle]{
                                            font-size: 1.5rem;
                                            cursor: pointer;
                                            color: #178DB1;
                                            font-style: italic;
                                            &:hover{
                                                color: #5EB0C9;
                                            }
                                        }
                                        &.collapsed{
                                            .item-title{
                                                display: -webkit-box;
                                                -webkit-line-clamp: 2;
                                                -webkit-box-orient: vertical;
                                                text-overflow: ellipsis;
                                            }
                                        }
                                        aside.actions-container{
                                            > span{
                                                display: none;
                                                &.edit-entry{
                                                    position: absolute;
                                                    right: 0px;
                                                    bottom: 0px;
                                                    cursor: pointer;
                                                    .edit-icon{
                                                        width: 25px;
                                                    }
                                                }
                                                &.save-entry{
                                                    position: absolute;
                                                    bottom: 0px;
                                                    right: 30px;
                                                    cursor: pointer;
                                                }
                                                &.back-to-origin{
                                                    position: absolute;
                                                    bottom: 0px;
                                                    right: 0px;
                                                    cursor: pointer;
                                                }
                                                &:hover{
                                                    opacity: .7;
                                                }
                                            }
                                        }
                                        &:hover{
                                            aside.actions-container{
                                                > span{
                                                    &.edit-entry{
                                                        display: block;
                                                        .edit-icon{
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        &.edit-status{
                                            padding-bottom: 27px;
                                            .item-title{
                                                display: none;
                                            }
                                            [data-readmore-toggle]{
                                                display: none;
                                            }
                                            textarea{
                                                display: block;
                                            }
                                            aside.actions-container{
                                                >.save-entry, >.back-to-origin{
                                                    display: block;
                                                }
                                            }
                                            &:hover{
                                                aside.actions-container{
                                                    > span{
                                                        &.edit-entry{
                                                            display: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    footer.btns-container{
                                        display: block;
                                        padding: 2px 20px;
                                        .btn.btn-circle{
                                            width: 100%;
                                            max-width: 100%;
                                            padding: 0px 6px;
                                            font-size: 2rem;
                                            border-radius: 50px;
                                            background: transparent;
                                            border: 2px solid #53d4ad;
                                            color: #53d4ad;
                                            &:hover{
                                                background: #53d4ad;
                                                color: white;
                                            }
                                            &:focus{
                                                outline: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .pagging{
                        position: absolute;
                        top: calc((100% - 59px) / 2);
                        border: 2px solid grey;
                        border-radius: 50%;
                        font-size: 35px;
                        line-height: .6;
                        padding: 10px;
                        cursor: pointer;
                        color: grey;

                        &.disable{
                            cursor: default;
                            color: rgba(128, 128, 128, .4);
                            border-color: rgba(128, 128, 128, .4);
                        }
                        .glyphicon{
                            top: -1px;
                        }
                        &.prev-pagging{
                            left: 5px;
                            .glyphicon{
                                right: 2px;
                            }
                            .icon-flip{
                                transform: scaleX(-1);
                                -moz-transform: scaleX(-1);
                                -webkit-transform: scaleX(-1);
                                -ms-transform: scaleX(-1);
                            }
                        }
                        &.next-pagging{
                            right: 5px;
                            .glyphicon{
                                left: 2px;
                            }
                        }
                        &:hover:not(.disable){
                            color: white;
                            background-color: grey;
                        }
                    }
                    &.scope-width-5-sm{
                        max-width: calc((280px + 2px * 2) * 5 + 65px * 2);
                        .tt-grid.tt-effect-3dflip{
                            li{
                                width: calc(100% / 5 - 2px * 2);
                                margin-left: 2px;
                                margin-right: 2px;
                                a{
                                    .item-inner{
                                        footer.btns-container{
                                            padding: 2px 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.scope-width-4 {
                        max-width: calc((280px + 10px * 2) * 4 + 65px * 2);
                        .tt-grid.tt-effect-3dflip{
                            li{
                                width: calc(100% / 4 - 10px * 2);
                            }
                        }
                    }
                    &.scope-width-3 {
                        max-width: calc((280px + 10px * 2) * 3 + 65px * 2);
                        .tt-grid.tt-effect-3dflip{
                            li{
                                width: calc(100% / 3 - 10px * 2);
                            }
                        }
                    }
                    &.scope-width-2 {
                        max-width: calc((280px + 10px * 2) * 2 + 65px * 2);
                        .tt-grid.tt-effect-3dflip{
                            li{
                                width: calc(100% / 2 - 10px * 2);
                            }
                        }
                    }
                    &.scope-width-1 {
                        max-width: calc((280px + 10px * 2) * 1 + 65px * 2);
                        .tt-grid.tt-effect-3dflip{
                            li{
                                width: calc(100% / 1 - 10px * 2);
                            }
                        }
                    }
                }
                &.disappear{
                    animation: disappearBlock;
                    animation-duration: .3s;
                    animation-fill-mode: forwards;
                }
                &.appear{
                    animation: appearBlock;
                    animation-duration: .3s;
                    animation-fill-mode: forwards;
                }
                &.ideabox-posts{
                    >h2{
                        vertical-align: middle;
                        img.back-to-top-level{
                            vertical-align: middle;
                            width: 40px;
                            cursor: pointer;
                            position: relative;
                            bottom: 7px;
                            &:hover{
                                opacity: .7;
                            }
                        }
                    }
                    .tt-grid.tt-effect-3dflip{
                        li{
                            height: 350px;
                            a{
                                .item-inner{
                                    footer.btns-container{
                                        padding: 2px 3px;
                                        .btn-wrapper{
                                            display: inline-block;
                                            margin: 3px;
                                            font-size: 1.2rem;
                                            cursor: pointer;
                                            vertical-align: middle;
                                            &.explore-btn{
                                                text-transform: uppercase;
                                                margin-left: 0px;
                                                font-size: 1rem;
                                                img{
                                                    width: 40px;
                                                    margin-bottom: 3px;
                                                    transition: all .3s;
                                                }
                                                &:hover{
                                                    color: black;
                                                    img{
                                                        transform: scale(1.2);
                                                    }
                                                }
                                                &:active{
                                                    img{
                                                        transform: scale(1);
                                                    }
                                                }
                                            }
                                            &.select-btn{
                                                margin-right: 0px;
                                                .select-post.btn.btn-circle{
                                                    width: 110px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes itemFocus {
    0% {background-color: #fffa90;}
    100% {background-color: white;}
}

@keyframes appearBlock {
    0% { opacity: 0; }
    100% {opacity: 1; }
}
@keyframes disappearBlock {
    0% { opacity: 1; }
    100% {opacity: 0; }
}

.after-clearfix{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}