$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;
html{
    body{
        .site-wrapper.page.page-calendar{
            font-family: $default_font_family;
            & > .site-content{
                padding: 30px 50px;
                & > .content-wrapper{
                    max-width: 1700px;
                    margin: 0px auto;
                    position: relative;
                    padding-top: 10px;
                    color: #7b7b7b;
                    .decoration-container{
                        .decoration{
                            position: absolute;
                        }
                        .top-left-rectangular{
                            background-color: #7b7b7b;
                            color: white;
                            font-size: 22px;
                            padding: 0px 150px 70px 25px;
                            position: absolute;
                            top: 0px;
                            left: -30px;
                            line-height: 52px;
                            i.fa-caret-down{
                                vertical-align: middle;
                                font-size: 50px;
                            }
                        }
                    }
                    header.content-header{
                        padding: 0px 50px 5px;
                        text-align: right;
                        .multi-select-series-wrapper{
                            display: inline-block;
                            line-height: 35px;
                            & > span{
                                vertical-align: middle;
                                font-size: 20px;
                            }
                            .dropdown{
                                margin-left: 10px;
                                vertical-align: middle;
                                display: inline-block;
                                button.btn-custom{
                                    background-color: transparent;
                                    border: 1px solid #7b7b7b;
                                    font-size: 18px;
                                }
                                ul.dropdown-menu{
                                    li{
                                        a{
                                            input{
                                                background-color: transparent;
                                                margin-top: 0px;
                                                vertical-align: middle;
                                                position: absolute;
                                                left: -9999px;
                                                &:checked{
                                                    & + label{
                                                        color: black;
                                                        &:before{
                                                            border-color: black;
                                                        }
                                                        &:after{
                                                            font-size: .9em;
                                                            content: '\2714';
                                                            position: absolute;
                                                            left: 0.2em;
                                                            top: 0em;
                                                            width: 1em;
                                                            height: 1em;
                                                            color: black;
                                                        }
                                                    }
                                                }
                                            }
                                            label{
                                                color: $content_color;
                                                font-size: 18px;
                                                line-height: 1.1em;
                                                vertical-align: middle;
                                                position: relative;
                                                padding-left: 1.8em;
                                                cursor: pointer;
                                                font-weight: normal;
                                                &:before{
                                                    content: '';
                                                    position: absolute;
                                                    left: 0px;
                                                    top: 0px;
                                                    width: 1em;
                                                    height: 1em;
                                                    border: 1px solid $content_color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    main.main-content{
                        background-color: transparent;
                        min-height: 700px;
                        position: relative;
                        padding: 5px 30px;
                        section.content-row{
                            padding: 10px 20px 0px 20px;
                            margin-bottom: 20px;
                            background-color: #f4f4f6;
                            header.content-row-title{
                                text-align: left;
                                padding: 5px 5%;
                                font-size: 2em;
                            }
                            .content-row-body{
                                & > .tt-grid-wrapper{
                                    .previous-page{
                                        display: block;
                                        float: left;
                                        width: 5%;
                                        line-height: calc(0.1*(100vw - 1000px) + 210px);
                                        img{
                                            width: 100%;
                                            vertical-align: middle;
                                            cursor: pointer;
                                        }
                                    }
                                    .next-page{
                                        display: block;
                                        float: left;
                                        width: 5%;
                                        line-height: calc(0.1*(100vw - 1000px) + 210px);
                                        img{
                                            width: 100%;
                                            vertical-align: middle;
                                            cursor: pointer;
                                        }
                                    }
                                    & > .tt-grid.tt-effect-3dflip{
                                        //border: 1px solid black;
                                        display: block;
                                        float: left;
                                        width: 90% !important;
                                        max-width: 100%;
                                        margin: 0px auto;
                                        li{
                                            width: calc((100% - 100px)/5) !important;
                                            //height: calc(15vw) !important;
                                            min-height: 325px;
                                            @media only screen and (min-width: 1000px) {
                                                min-height: 370px;
                                            }
                                            height: auto;
                                            //min-height: auto;
                                            a{
                                                height: auto;
                                                .column{
                                                    height: auto;
                                                    .column_object{
                                                        height: auto;
                                                        position: relative;
                                                        color: $content_color;
                                                        padding-bottom: 75px;
                                                        min-height: 300px;
                                                        .image-wrapper img.object_image{
                                                            cursor: move;
                                                        }
                                                        .title-wrapper{
                                                            position: relative;
                                                            padding-bottom: 20px;
                                                            .object_title{
                                                                padding: 10px 20px;
                                                                min-height: 105px;
                                                                font-size: 1.3em;
                                                                line-height: 1.2em;
                                                                white-space: normal;
                                                                overflow: hidden;
                                                                text-overflow: ellipsis;
                                                                transition: all ease-in-out .4s;
                                                            }
                                                            .view-more-wrapper{
                                                                font-size: 18px;
                                                                margin-top: -5px;
                                                                position: absolute;
                                                                bottom: 0px;
                                                                left: 0px;
                                                                width: 100%;
                                                                span{
                                                                    cursor: pointer;
                                                                    font-size: 18px;
                                                                    &.view-more{
                                                                        display: initial;
                                                                    }
                                                                    &.view-less{
                                                                        display: none;
                                                                    }
                                                                    &:hover{
                                                                        color: black;
                                                                    }
                                                                }
                                                            }
                                                            &.expanded{
                                                                > .object_title{
                                                                    overflow-y: hidden;
                                                                    transition: all ease-in-out .4s;
                                                                    transition-delay: 0s;
                                                                    img{
                                                                        margin-top: 5px;
                                                                        max-width: 100%;
                                                                    }
                                                                }
                                                                .view-more-wrapper{
                                                                    font-size: 30px;
                                                                    .dot{
                                                                        display: none;
                                                                    }
                                                                    span{
                                                                        &.view-more{
                                                                            display: none;
                                                                        }
                                                                        &.view-less{
                                                                            display: initial;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        .buttons-wrapper{
                                                            text-align: center;
                                                            position: absolute;
                                                            bottom: 20px;
                                                            left: 0px;
                                                            width: 100%;
                                                            height: 50px;
                                                            & > *{
                                                                width: 30%;
                                                                img{

                                                                }
                                                                i{

                                                                }
                                                            }
                                                            .open-in-view{
                                                                display: inline-block;
                                                                cursor: pointer;
                                                                vertical-align: middle;
                                                                img{
                                                                    width: 42px;
                                                                    max-width: 90%;
                                                                    display: inline;
                                                                }
                                                            }
                                                            .switch-button{
                                                                display: inline-block;
                                                                padding: 2px;
                                                                cursor: pointer;
                                                                vertical-align: middle;
                                                                .open-switch-lightbox{
                                                                    line-height: 1em;
                                                                    display: inline-block;
                                                                    vertical-align: middle;
                                                                    i{
                                                                        font-size: 45px;
                                                                        line-height: 1em;
                                                                        vertical-align: bottom;
                                                                    }
                                                                }
                                                            }
                                                            .make-trash{
                                                                vertical-align: middle;
                                                                display: inline-block;
                                                                cursor: pointer;
                                                                i{
                                                                    font-size: 45px;
                                                                }
                                                            }
                                                        }

                                                        @media only screen and (min-width: 1000px) and (max-width: 1700px) {
                                                            font-size: 15px;
                                                            .image-wrapper img.object_image{
                                                                height: 8vw;
                                                            }
                                                            .object_title{
                                                            }
                                                            .buttons-wrapper{
                                                                & > *{
                                                                    img{
                                                                        width: 2.3vw !important;
                                                                    }
                                                                    i{
                                                                        font-size: 2.3vw !important;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            @media only screen and (max-width: 1000px) {
                                                margin: 10px;
                                                width: calc((100% - 60px)/3) !important;
                                                height: 24vw !important;
                                                a{
                                                    .column{
                                                        .column_object{
                                                            position: relative;
                                                            color: $content_color;
                                                            .image-wrapper img.object_image{
                                                                height: 12vw;
                                                                object-fit: fill;
                                                            }
                                                            .object_title{
                                                                padding: 5px 10px;
                                                                font-size: 1.3em;
                                                                line-height: 1.2em;
                                                                white-space: pre;
                                                                overflow: hidden;
                                                                text-overflow: ellipsis;
                                                            }
                                                            .buttons-wrapper{
                                                                & > *{
                                                                    img{
                                                                        width: 4vw !important;
                                                                    }
                                                                    i{
                                                                        font-size: 4vw !important;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.switch-lightbox{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(33,33,33,.5);
    z-index: 31;
    overflow: auto;
    .switch-wrapper{
        position: absolute;
        background-color: white;
        text-align: center;
        font-size: 0px;
        .switch-header{
            background-color: black;
            color: white;
            font-size: 30px;
            padding: 20px;
        }
        .switch-content{
            padding: 5px 15px 5px 15px;
            height: calc(100% - 70px);
            overflow: auto;
            font-size: inherit !important;
            text-align: left;
            iframe.view-ideabox-iframe{
                overflow: visible;
            }

            .new-posts{
                .section-title{
                    width: 90%;
                    margin: auto;
                    font-size: 25px !important;
                }
                & > .tt-grid-wrapper{
                    padding-left: 5%;
                    padding-right: 5%;
                    .previous-page{
                        display: block;
                        float: left;
                        width: 5%;
                        line-height: 300px;
                        img{
                            width: 100%;
                            vertical-align: middle;
                            cursor: pointer;
                        }
                    }
                    .next-page{
                        display: block;
                        float: left;
                        width: 5%;
                        line-height: 300px;
                        img{
                            width: 100%;
                            vertical-align: middle;
                            cursor: pointer;
                        }
                    }
                    & > .tt-grid.tt-effect-3dflip{
                        display: block;
                        float: left;
                        width: 90% !important;
                        max-width: 100%;
                        li{
                            width: 23% !important;
                            height: 280px !important;
                            a{
                                .column{
                                    margin: auto;
                                    .column_object{
                                        .object_title{
                                            white-space: pre;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }
                                        .buttons-wrapper{
                                            text-align: center;
                                            .select-post-button{
                                                width: 60%;
                                                display: inline-block;
                                                .wrap{
                                                    width: 100%;
                                                    button{
                                                        width: 100%;
                                                        line-height: 34px;
                                                        &.circle{
                                                            width: 40px;
                                                        }
                                                        &.filled{
                                                            line-height: 34px;
                                                            vertical-align: middle;
                                                        }
                                                        height: 40px;
                                                    }
                                                    img{
                                                        top: 0;
                                                        left: 52px;
                                                        display: none;
                                                    }
                                                    svg{
                                                        left: 55px;
                                                        top: 0px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .favorite-posts{
                .section-title{
                    width: 90%;
                    margin: auto;
                    font-size: 25px !important;
                }
                & > .tt-grid-wrapper{
                    padding-left: 5%;
                    padding-right: 5%;
                    .previous-page{
                        display: block;
                        float: left;
                        width: 5%;
                        line-height: 300px;
                        img{
                            width: 100%;
                            vertical-align: middle;
                            cursor: pointer;
                        }
                    }
                    .next-page{
                        display: block;
                        float: left;
                        width: 5%;
                        line-height: 300px;
                        img{
                            width: 100%;
                            vertical-align: middle;
                            cursor: pointer;
                        }
                    }
                    & > .tt-grid.tt-effect-3dflip{
                        display: block;
                        float: left;
                        width: 90% !important;
                        max-width: 100%;
                        li{
                            width: 23% !important;
                            height: 280px !important;
                            a{
                                .column{
                                    margin: auto;
                                    .column_object{
                                        .object_title{
                                            white-space: pre;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }
                                        .buttons-wrapper{
                                            text-align: center;
                                            .select-post-button{
                                                width: 60%;
                                                display: inline-block;
                                                .wrap{
                                                    width: 100%;
                                                    button{
                                                        width: 100%;
                                                        line-height: 34px;
                                                        &.circle{
                                                            width: 40px;
                                                        }
                                                        &.filled{
                                                            line-height: 34px;
                                                            vertical-align: middle;
                                                        }
                                                        height: 40px;
                                                    }
                                                    img{
                                                        top: 0;
                                                        left: 52px;
                                                        display: none;
                                                    }
                                                    svg{
                                                        left: 55px;
                                                        top: 0px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .ideabox-posts{
                .section-title{
                    width: 90%;
                    margin: auto;
                    font-size: 25px !important;

                    & > span{
                        vertical-align: -webkit-baseline-middle;
                        vertical-align: -moz-baseline-middle;
                        vertical-align: -o-baseline-middle;
                        vertical-align: -ms-baseline-middle;
                    }
                    button.back-to-top-level{
                        border: none;
                        line-height: 45px;
                        background-color: transparent;
                        margin-left: 20px;
                        img{
                            vertical-align: middle;
                            width: 50px;
                        }
                        span{
                            vertical-align: text-top;
                            padding-left: 10px;
                        }
                    }
                }
                & > .tt-grid-wrapper{
                    padding-left: 5%;
                    padding-right: 5%;
                    .previous-page{
                        display: block;
                        float: left;
                        width: 5%;
                        line-height: 300px;
                        img{
                            width: 100%;
                            vertical-align: middle;
                            cursor: pointer;
                        }
                    }
                    .next-page{
                        display: block;
                        float: left;
                        width: 5%;
                        line-height: 300px;
                        img{
                            width: 100%;
                            vertical-align: middle;
                            cursor: pointer;
                        }
                    }
                    & > .tt-grid.tt-effect-3dflip{
                        display: block;
                        float: left;
                        width: 90% !important;
                        max-width: 100%;
                        li{
                            width: 23% !important;
                            height: 310px !important;
                            a{
                                .column{
                                    margin: auto;
                                    .column_object{
                                        width: 100%;
                                        .object_title{
                                            white-space: pre;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }
                                        .buttons-wrapper{
                                            text-align: center;
                                            line-height: 65.5px;
                                            .explorer-ideabox-button{
                                                display: inline-block;
                                                width: 20%;
                                                vertical-align: middle;
                                                margin: 0px 5px;
                                                font-size: 15px;
                                                line-height: 1.2em;
                                                img{
                                                    width: 100%;
                                                }
                                            }
                                            .select-post-button{
                                                width: 50%;
                                                margin: 0px 5px;
                                                display: inline-block;
                                                vertical-align: middle;
                                                .wrap{
                                                    width: 100%;
                                                    button{
                                                        width: 100%;
                                                        line-height: 34px;
                                                        &.circle{
                                                            width: 40px;
                                                        }
                                                        &.filled{
                                                            line-height: 34px;
                                                            vertical-align: middle;
                                                        }
                                                        height: 40px;
                                                    }
                                                    img{
                                                        top: 0;
                                                        left: 52px;
                                                        display: none;
                                                    }
                                                    svg{
                                                        left: 55px;
                                                        top: 0px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
        button.close{
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 2em;
            color: black !important;
            margin: 0px;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            border: 2px solid black;
            opacity: .5;
            box-shadow: none;
            &:hover{
                color: white !important;
            }
        }
    }
}

.swal2-container.swal2-fade.swal2-shown{
    .swal2-modal.swal2-show{
        .swal2-buttonswrapper{
            button{
                margin: 10px;
            }
        }
    }
}
.after-clearfix{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
.qtip.qtip-default.qtip-pos-tc{
    border: 1px solid grey;
    background-color: white;
    font-size: 14px;
    .qtip-titlebar{
        background-color: rgba(0, 0, 0, .1);
        .qtip-close.qtip-icon{
            .ui-icon.ui-icon-close{
                width: 18px;
                height: 18px;
                line-height: 20px;
                vertical-align: middle;
                font-size: 15px;
            }
        }
    }
    .qtip-content{
        max-height: 300px;
        overflow: auto;
        a{
            font-size: 15px;
        }
    }
    *{
        max-width: 100% !important;
    }
}