@import "../../config/css/colors.scss";
@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

html{
    body{
        .site-wrapper.page{
            .site-content{
                text-align: left;
                .create-series-content{
                    transition: all .3s ease-out;
                    .content-header{
                        padding: 60px 70px 30px;
                        background-color: $lightGreen;
                        position: relative;
                        &:after{
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                            width: 100%;
                            height: 1px;
                            background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
                            background-size: 5px 1px;
                            background-repeat: repeat-x;
                        }
                        .content-header-content{
                            max-width: 100%;
                            margin: 0px auto;
                            text-align: left;
                            .title-wrapper{
                                .page-title{
                                    margin: 0px 0px 10px;
                                    font-weight: bold;
                                }
                                .step-name{
                                    font-size: 1.5rem;
                                    margin-bottom: 5px;
                                }
                                .step-wrapper{
                                }
                            }
                            .step-progress-wrapper{
                                width: 230px;
                                .step-wrapper{
                                    margin-bottom: 5px;
                                    position: relative;
                                }
                                .progress-wrapper{
                                    display: flex;
                                    .progress-item{
                                        &:before{
                                            content: '';
                                            width: 14px;
                                            height: 14px;
                                            display: inline-block;
                                            vertical-align: middle;
                                            border-radius: 50%;
                                            opacity: .7;
                                            background-color: $greenColor;
                                        }
                                        &.right-dotted{
                                            &:after{
                                                content: '';
                                                display: inline-block;
                                                width: 70px;
                                                height: 1px;
                                                vertical-align: middle;
                                                background-image: linear-gradient(to right, $lightGrey 3px, transparent 0%);
                                                background-size: 6px 1px;
                                                background-repeat: repeat-x;
                                            }
                                        }
                                        &.active{
                                            &:before{
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                                &.step-progress-2{
                                    .step-wrapper{
                                        margin-left: 85px;
                                    }
                                }
                                &.step-progress-3{
                                    .step-wrapper{
                                        margin-left: 170px;
                                    }
                                }
                            }
                        }
                    }
                    main.main-content{
                        max-width: 100%;
                        margin: 0px auto;
                        padding: 20px 75px 100px;
                        text-align: left;
                        transition: all .3s ease-out;
                        .create-series-step-1{
                            .step-content-wrapper{
                                margin-bottom: 50px;
                                .step-main-content{
                                    margin-right: 100px;
                                    .form-group{
                                        label.control-label{
                                            display: block;
                                            position: relative;
                                            padding: 7px 15px 0px 0px;
                                            font-weight: normal;
                                            font-size: 1.5rem;
                                            &.required:after {
                                                content: "*";
                                                position: absolute;
                                                top: 0px;
                                                right: 0px;
                                                color: $redColor;
                                            }
                                        }
                                        input{
                                            padding-left: 0px;
                                            border: none;
                                            border-bottom: 1px solid $lightGrey;
                                            box-shadow: none;
                                            border-radius: 0px;
                                            font-size: 1.5rem;
                                            &::placeholder{
                                                color: $lightGrey;
                                            }
                                            &[name="strSeries_title"]{
                                                max-width: 385px;
                                            }
                                        }
                                        .public-value-txt{
                                            margin-left: 10px;
                                            color: $greenColor;
                                        }
                                        .day-item{
                                            margin-right: 10px;
                                            input{
                                                background-color: transparent;
                                                margin-top: 0px;
                                                vertical-align: middle;
                                                position: absolute;
                                                left: -9999px;
                                                &:checked{
                                                    & + label{
                                                        color: black;
                                                        &:before{
                                                            border-color: black;
                                                        }
                                                        &:after{
                                                            font-size: .9em;
                                                            content: '\2714';
                                                            position: absolute;
                                                            right: 0em;
                                                            top: 0em;
                                                            width: 1em;
                                                            height: 1em;
                                                            color: black;
                                                        }
                                                    }
                                                }
                                            }
                                            label{
                                                color: $contentColor;
                                                font-size: 18px;
                                                line-height: 1.1em;
                                                vertical-align: middle;
                                                position: relative;
                                                padding-right: 1.5em;
                                                cursor: pointer;
                                                font-weight: normal;
                                                &:before{
                                                    content: '';
                                                    position: absolute;
                                                    right: 0px;
                                                    top: 0px;
                                                    width: 1em;
                                                    height: 1em;
                                                    border: 1px solid $lightGrey;
                                                    border-radius: 2px;
                                                }
                                            }
                                        }
                                        .cover-image-wrapper{
                                            margin: 10px 0px;
                                            padding: 50px 20px;
                                            text-align: center;
                                            position: relative;
                                            border: 1px dashed $lightGrey;
                                            border-radius: 20px;
                                            color: $lightGrey;
                                            .img-wrapper{
                                                img{
                                                    max-width: 80px;
                                                    opacity: .3;
                                                }
                                            }
                                            input{
                                                position: absolute;
                                                display: block;
                                                top: 0px;
                                                left: 0px;
                                                width: 100%;
                                                height: 100%;
                                                opacity: 0;
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                    .multi-line-background{
                                        textarea{
                                            &::placeholder{
                                                color: $lightGrey;
                                            }
                                            &:valid{
                                                outline: none;
                                                border-color: #d4d6c9;
                                            }
                                        }
                                    }
                                }
                                .step-description{
                                    width: 250px;
                                    font-size: 1.5rem;
                                }
                            }
                            .step-footer{
                                .let-go-wrapper{
                                    max-width: 200px;
                                    margin: 0px auto 60px;
                                    text-align: center;
                                    .next-step-des{
                                        margin-bottom: 10px;
                                    }
                                    .btn-wrapper{
                                        .let-go-btn{
                                            display: inline-block;
                                            background-color: transparent;
                                            border: 1px solid $greenColor;
                                            color: $contentColor;
                                            padding: 7px 20px;
                                            border-radius: 20px;
                                            font-size: 1.5rem;
                                            text-decoration: none;
                                            &:focus{
                                                outline: none;
                                            }
                                            &:hover{
                                                background-color: $greenColor;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                                .step-progress-wrapper{
                                    max-width: 400px;
                                    margin: 0px auto 10px;
                                    text-align: center;
                                    .next-step-wrapper{
                                        margin-left: 195px;
                                        opacity: .7;
                                        text-align: left;
                                        .next-step-name{
                                            font-size: 1.5rem;
                                        }
                                        .next-step-value{
                                            span{

                                            }
                                        }
                                    }
                                    .progress-wrapper{
                                        display: inline-flex;
                                        .progress-item{
                                            &:before{
                                                content: '';
                                                width: 14px;
                                                height: 14px;
                                                display: inline-block;
                                                vertical-align: middle;
                                                border-radius: 50%;
                                                opacity: .7;
                                                background-color: $greenColor;
                                            }
                                            &.right-dotted{
                                                &:after{
                                                    content: '';
                                                    display: inline-block;
                                                    width: 70px;
                                                    height: 1px;
                                                    vertical-align: middle;
                                                    background-image: linear-gradient(to right, $lightGrey 3px, transparent 0%);
                                                    background-size: 6px 1px;
                                                    background-repeat: repeat-x;
                                                }
                                            }
                                            &.active{
                                                &:before{
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .create-series-step-2{
                            .step-header{
                                margin-bottom: 20px;
                                .form-group{
                                    width: 300px;
                                    label.control-label{
                                        display: block;
                                        position: relative;
                                        padding: 7px 15px 0px 0px;
                                        font-weight: normal;
                                        font-size: 1.5rem;
                                        &.required:after {
                                            content: "*";
                                            position: absolute;
                                            top: 0px;
                                            right: 0px;
                                            color: $redColor;
                                        }
                                    }
                                    input{
                                        padding-left: 0px;
                                        border: none;
                                        border-bottom: 1px solid $lightGrey;
                                        box-shadow: none;
                                        border-radius: 0px;
                                        font-size: 1.2rem;
                                        &::placeholder{
                                            color: $lightGrey;
                                        }
                                    }
                                }
                                .step-description{
                                    width: 250px;
                                    font-size: 1.5rem;
                                }
                                .terms-container{
                                    min-height: 30px;
                                    .term-item{

                                    }
                                }
                            }
                            .step-body{
                                margin-bottom: 20px;
                                .search-container{
                                    .search-row{
                                        margin-bottom: 30px;
                                        .search-row-header{
                                            margin-bottom: 20px;
                                            .from-name{
                                                margin: 0px;
                                                font-weight: bold;
                                                font-size: 2rem;
                                            }
                                            .items-found-wrapper{
                                                color: $contentColor;
                                                text-decoration: underline;
                                            }
                                        }
                                        .search-row-body{
                                            min-height: 50px;
                                            .search-items-list{
                                                transition: all .3s ease-out;
                                                .search-item{
                                                    padding: 0px 18px;
                                                    .item-img-wrapper{
                                                        position: relative;
                                                        margin-bottom: 15px;
                                                        .item-img{
                                                            width: 100%;
                                                            height: 150px;
                                                        }
                                                        aside.blog-duration{
                                                            position: absolute;
                                                            bottom: 8px;
                                                            right: 9px;
                                                            padding: 7px 20px;
                                                            z-index: auto;
                                                            background: rgba(227, 228, 220, .8);
                                                            border-radius: 10px;
                                                            font-size: 1.2rem;
                                                            line-height: 1.1;
                                                        }
                                                        aside.added-icon-wrapper{
                                                            display: none;
                                                            position: absolute;
                                                            top: 8px;
                                                            right: 9px;
                                                            z-index: 30;
                                                            border-radius: 50%;
                                                            line-height: 0;
                                                            background-color: white;
                                                            svg{
                                                                width: 20px;
                                                                vertical-align: middle;
                                                                path{
                                                                    fill: $greenColor;
                                                                }
                                                                &.preview-icon, &.join-icon{
                                                                    display: inline;
                                                                }
                                                            }
                                                        }
                                                        .hover-content{
                                                            display: flex;
                                                            flex-direction: column;
                                                            justify-content: center;
                                                            position: absolute;
                                                            top: 0px;
                                                            left: 0px;
                                                            width: 100%;
                                                            height: 100%;
                                                            padding: 20px 20px 40px;
                                                            background-color: rgba(255, 255, 255, .9);
                                                            opacity: 0;
                                                            h4{
                                                                margin: 0px 0px 15px;
                                                                font-weight: bold;
                                                                font-size: 1.7rem;
                                                            }
                                                            .footer-buttons{
                                                                position: absolute;
                                                                bottom: 0px;
                                                                left: 0px;
                                                                width: 100%;
                                                                a{
                                                                    display: block;
                                                                    padding: 5px;
                                                                    background-color: $greenColor;
                                                                    color: white;
                                                                    text-align: center;
                                                                    text-decoration: none;
                                                                    svg{
                                                                        display: none;
                                                                        width: 18px;
                                                                        vertical-align: middle;
                                                                        path{
                                                                            fill: white;
                                                                        }
                                                                        &.preview-icon, &.join-icon{
                                                                            display: inline;
                                                                        }
                                                                    }
                                                                    &:hover{
                                                                        background-color: $greenHover;
                                                                    }
                                                                }
                                                                .flex-row{
                                                                    .last-col{
                                                                        margin-left: 2px;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        &:hover{
                                                            .hover-content{
                                                                opacity: 1;
                                                            }
                                                        }
                                                    }
                                                    .item-title{
                                                        font-size: 1.5rem;
                                                    }
                                                    &.added-item{
                                                        .item-img-wrapper{
                                                            aside.added-icon-wrapper{
                                                                display: block;
                                                            }
                                                            .hover-content{
                                                                .footer-buttons{
                                                                    a{
                                                                        svg{
                                                                            &.join-icon{
                                                                                display: none;
                                                                            }
                                                                            &.added-icon{
                                                                                display: inline;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                .slick-list{
                                                }
                                            }
                                            .arrow-icon-wrapper{
                                                position: relative;
                                                top: 50px;
                                            }
                                            .flex-row{
                                                .flex-col{
                                                    overflow: hidden;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .step-footer{
                                .let-go-wrapper{
                                    max-width: 250px;
                                    margin: 0px auto 60px;
                                    text-align: center;
                                    .next-step-des{
                                        margin-bottom: 10px;
                                    }
                                    .btn-wrapper{
                                        .let-go-btn{
                                            display: inline-block;
                                            background-color: transparent;
                                            border: 1px solid $greenColor;
                                            color: $contentColor;
                                            padding: 7px 20px;
                                            border-radius: 20px;
                                            font-size: 1.5rem;
                                            text-decoration: none;
                                            &:focus{
                                                outline: none;
                                            }
                                            &:hover{
                                                background-color: $greenColor;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                                .step-progress-wrapper{
                                    max-width: 400px;
                                    margin: 0px auto 10px;
                                    text-align: center;
                                    .next-step-wrapper{
                                        margin-left: 280px;
                                        opacity: .7;
                                        text-align: left;
                                        .next-step-name{
                                            font-size: 1.5rem;
                                        }
                                        .next-step-value{
                                            span{

                                            }
                                        }
                                    }
                                    .progress-wrapper{
                                        display: inline-flex;
                                        .progress-item{
                                            &:before{
                                                content: '';
                                                width: 14px;
                                                height: 14px;
                                                display: inline-block;
                                                vertical-align: middle;
                                                border-radius: 50%;
                                                opacity: .7;
                                                background-color: $greenColor;
                                            }
                                            &.right-dotted{
                                                &:after{
                                                    content: '';
                                                    display: inline-block;
                                                    width: 70px;
                                                    height: 1px;
                                                    vertical-align: middle;
                                                    background-image: linear-gradient(to right, $lightGrey 3px, transparent 0%);
                                                    background-size: 6px 1px;
                                                    background-repeat: repeat-x;
                                                }
                                            }
                                            &.active{
                                                &:before{
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .create-series-step-3{
                            padding-bottom: 50px;
                            .charge-series-wrapper{
                                margin: 0px auto;
                                padding: 60px 10px 50px;
                                .content-header{
                                    margin-bottom: 50px;
                                    h3{
                                        font-size: 1.7rem;
                                        font-weight: bold;
                                        margin: 0px 0px 15px;
                                    }
                                }
                                .charge-content{
                                    .connect-account-wrapper{
                                        margin-bottom: 40px;
                                        a{
                                            margin-right: 10px;
                                            text-decoration: none;
                                        }
                                    }
                                    .group-row-wrapper{
                                        margin-bottom: 20px;
                                        .group-col{
                                            .col-name{
                                                margin-bottom: 10px;
                                                font-size: 1.5rem;
                                                font-weight: normal;
                                                &.percent-label{
                                                    margin-bottom: 40px;
                                                }
                                                &.affiliate-will-get-label{
                                                    margin-bottom: 30px;
                                                }
                                            }
                                            .col-value{
                                                display: block;
                                                width: 100%;
                                                padding-left: 0px;
                                                border: none;
                                                border-bottom: 1px solid $lightGrey;
                                                box-shadow: none;
                                                border-radius: 0px;
                                                font-size: 1.5rem;
                                                &:focus{
                                                    outline: none;
                                                }
                                                &[disabled] {
                                                    background-color: transparent;
                                                }
                                                &.you-will-get-value{
                                                    color: $yellowColor;
                                                    border-color: $yellowColor;
                                                }
                                                &.affiliate-will-get-value{
                                                    color: $greenColor;
                                                    border-color: $greenColor;
                                                }
                                            }
                                            .c-switch {
                                                .slider {
                                                    background-color: $lightGreen;
                                                    &:before {
                                                    }
                                                }
                                            }
                                            .slider{
                                                width: 100%;
                                                .slider-track{
                                                    .slider-selection{
                                                        background-image: none;
                                                        background-color: yellow;
                                                        box-shadow: none;
                                                        box-sizing: border-box;
                                                        border: 1px solid #cccccc;
                                                    }
                                                    .slider-track-high{
                                                        background-color: white;
                                                        box-shadow: none;
                                                        box-sizing: border-box;
                                                        border: 1px solid #cccccc;
                                                    }
                                                }
                                                .slider-handle{
                                                    width: 10px;
                                                    margin-left: -5px;
                                                    border-radius: 5px;
                                                    background-color: #ccc;
                                                    background-image: none;
                                                }
                                            }
                                            &.toggle-col{
                                                width: 300px;
                                                margin-right: 20px;
                                                .get-payment-txt{
                                                    color: $greenColor;
                                                }
                                            }
                                            &.gets-col{
                                                margin-left: 20px;
                                                width: 110px;
                                            }
                                        }
                                        .center-col{
                                            flex-basis: 300px;
                                        }
                                    }
                                }
                            }
                            .step-description{
                                margin-top: 200px;
                                margin-left: 100px;
                                width: 250px;
                                font-size: 1.5rem;
                            }
                            .button-wrapper{
                                margin-top: 70px;
                                text-align: center;
                                .save-btn{
                                    background-color: $greenColor;
                                    border: none;
                                    outline: none;
                                    color: white;
                                    display: block;
                                    width: 290px;
                                    margin: 0px auto;
                                    text-align: center;
                                    padding: 12px 5px;
                                    border-radius: 30px;
                                    font-size: 2rem;
                                    font-weight: lighter;
                                    &:hover{
                                        background-color: $greenHover;
                                    }
                                    &.small{
                                        display: inline-block;
                                        width: auto;
                                        padding: 10px 30px;
                                        font-size: 1.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .after-adding-content{
                    width: 1500px;
                    max-width: 100%;
                    margin: 0px auto;
                    padding: 100px 75px 100px;
                    text-align: left;
                    opacity: 0;
                    transition: all .3s ease-out;
                    .congratulations-wrapper{
                        h1{
                            margin: 0px 0px 5px;
                            font-weight: bold;
                        }
                        .series-name-wrapper{
                            font-size: 1.5rem;
                            .series-name{
                                font-weight: bold;
                            }
                        }
                    }
                    .series-item{
                        margin-bottom: 50px;
                        .series-content-wrapper{
                            .series-content-header{
                                margin-bottom: 15px;
                                .series-title{
                                    margin: 0px;
                                }
                                .actions-container {
                                    .action-item {
                                        background-color: transparent;
                                        display: flex;
                                        line-height: 0;
                                        border-radius: 50%;
                                        border: 1px solid $greenColor;
                                        height: 50px;
                                        width: 50px;
                                        box-sizing: border-box;
                                        justify-content: center;
                                        align-items: center;
                                        svg{
                                            width: 25px;
                                            max-height: 25px;
                                            g{
                                                fill: $greenColor !important;
                                            }
                                            path{
                                                fill: $greenColor !important;
                                            }
                                            polygon{
                                                fill: $greenColor;
                                            }
                                            circle{
                                                fill: $greenColor !important;
                                            }
                                        }
                                        &:hover{
                                            border-color: $greenHover;
                                            svg{
                                                g, path, polygon, circle{
                                                    fill: $greenHover !important;
                                                }
                                            }
                                        }
                                    }
                                    [data-toggle="collapse"]{
                                        border-width: 1px;
                                    }
                                }
                            }
                            .series-content-body{
                                margin-bottom: 20px;
                                .posts-list-wrapper{
                                    .arrow-icon-wrapper{
                                        $angle: 30deg;
                                        width: 22px;
                                        height: 48px;

                                        display: block;
                                        position: relative;
                                        top: 70px;

                                        opacity: .7;

                                        &:before, &:after{
                                            content: '';
                                            display: block;
                                            width: 40%;
                                            height: 50%;
                                            position: absolute;
                                            background-color: $lightGrey;
                                        }
                                        &:before{
                                            top: 0px;
                                        }
                                        &:after{
                                            bottom: 0px;
                                        }

                                        &.arrow-left{
                                            &:before{
                                                right: 0px;
                                                transform-origin: top right;
                                                -ms-transform: skew(-$angle, 0deg);
                                                -webkit-transform: skew(-$angle, 0deg);
                                                transform: skew(-$angle, 0deg);
                                            }
                                            &:after{
                                                right: 0px;
                                                transform-origin: bottom right;
                                                -ms-transform: skew($angle, 0deg);
                                                -webkit-transform: skew($angle, 0deg);
                                                transform: skew($angle, 0deg);
                                            }
                                        }
                                        &.arrow-right{
                                            &:before{
                                                left: 0px;
                                                transform-origin: top left;
                                                -ms-transform: skew($angle, 0deg);
                                                -webkit-transform: skew($angle, 0deg);
                                                transform: skew($angle, 0deg);
                                            }
                                            &:after{
                                                left: 0px;
                                                transform-origin: bottom left;
                                                -ms-transform: skew(-$angle, 0deg);
                                                -webkit-transform: skew(-$angle, 0deg);
                                                transform: skew(-$angle, 0deg);
                                            }
                                        }
                                        &:hover{
                                            opacity: 1;
                                        }
                                    }
                                    .posts-list{
                                        max-width: 100%;
                                        min-height: 200px;
                                        transition: all .3s ease-out;
                                        .post-item{
                                            padding: 0px 15px;
                                            font-size: 1.5rem;
                                            .item-header{
                                                margin-bottom: 10px;
                                                .media-icon-wrapper{
                                                    i.fa{
                                                        display: none;
                                                        vertical-align: middle;
                                                    }
                                                }
                                                .item-action{
                                                    display: block;
                                                    line-height: 0;
                                                    svg{
                                                        width: 25px;
                                                        height: 25px;
                                                        g, path {
                                                            fill: $lightGrey;
                                                        }
                                                    }
                                                    &.edit-action {
                                                        display: flex;
                                                        width: 25px;
                                                        height: 25px;
                                                        border-radius: 50%;
                                                        border: 1px solid $lightGrey;
                                                        svg {
                                                            width: 12px;
                                                            height: 12px;
                                                        }
                                                    }
                                                    &:hover{
                                                        svg{
                                                            g, path {
                                                                fill: $contentColor;
                                                            }
                                                        }
                                                        &.edit-action {
                                                            border-color: $contentColor;
                                                        }
                                                    }
                                                }
                                            }
                                            .item-type-body{
                                                width: 100%;
                                                height: calc(100px + 3vw);
                                                position: relative;
                                                margin-bottom: 15px;
                                                .blog-type{
                                                    position: absolute;
                                                    top: 0px;
                                                    left: 0px;
                                                    width: 100%;
                                                    height: 100%;
                                                    overflow: hidden;
                                                    img{
                                                        width: 100%;
                                                        height: 100%;
                                                    }
                                                    &.type-0{
                                                        background-image: url("../../images/global-icons/audio-spectr.png");
                                                        background-position: center center;
                                                        background-repeat: no-repeat;
                                                    }
                                                }
                                                aside.blog-duration{
                                                    position: absolute;
                                                    bottom: 8px;
                                                    right: 9px;
                                                    padding: 7px 20px;
                                                    z-index: 1;
                                                    background: rgba(227, 228, 220, .8);
                                                    border-radius: 10px;
                                                    font-size: 1.2rem;
                                                    line-height: 1.1;
                                                }
                                            }
                                            .item-title{}
                                            .item-series-wrapper{
                                                .item-series{
                                                    color: $lightGrey;
                                                    text-decoration: underline $lightGrey;
                                                    &:hover{
                                                        color: black;
                                                        text-decoration-color: black;
                                                    }
                                                }
                                            }
                                            &.type-0{
                                                .item-header{
                                                    .media-icon-wrapper{
                                                        i.fa.audio-icon{
                                                            display: initial;
                                                            vertical-align: middle;
                                                        }
                                                    }
                                                }
                                            }
                                            &.type-2{
                                                .item-header{
                                                    .media-icon-wrapper{
                                                        i.fa.video-icon{
                                                            display: initial;
                                                            vertical-align: middle;
                                                        }
                                                    }
                                                }
                                            }
                                            &.type-7, &.type-10{
                                                .item-header{
                                                    .media-icon-wrapper{
                                                        i.fa.text-icon{
                                                            display: initial;
                                                            vertical-align: middle;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .aside-wrapper{
                                    margin-left: 20px;
                                    .add-post-wrapper{
                                        height: 148px;
                                        margin-bottom: 15px;
                                        border: 1px dashed $lightGrey;
                                        border-radius: 20px;
                                        svg{
                                            width: 45px;
                                            height: 45px;
                                            g, path{
                                                fill: $lightGrey;
                                            }
                                        }
                                    }
                                    .full-list-wrapper{
                                        .full-list-action {
                                            display: block;
                                            color: $lightGrey;
                                            svg{
                                                width: 30px;
                                                vertical-align: middle;
                                                g, path{
                                                    fill: $lightGrey !important;
                                                }
                                            }
                                            span{
                                                vertical-align: middle;
                                                text-decoration: underline;
                                                font-size: 1.2em;
                                            }
                                            &:hover{
                                                text-decoration: none;
                                                color: $contentColor;
                                                svg{
                                                    g, path{
                                                        fill: $contentColor !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .add-helper{
                            width: 190px;
                            position: relative;
                            margin-top: 65px;
                            margin-left: 104px;
                            padding-left: 5px;
                            box-sizing: content-box;
                            .helper-txt{
                                font-size: 1.5rem;
                            }
                            .helper-arrow-img{
                                position: absolute;
                                right: 100%;
                                top: 5px;
                            }
                        }
                        .flex-row{
                            .flex-col{
                                overflow: hidden;
                            }
                        }
                    }
                    .invite-friend-wrapper{
                        padding: 0px 30px;
                        border-radius: 30px;
                        background-color: $redColor;
                        color: white;
                        .invite-content{
                            position: relative;
                            padding-left: 70px;
                            .invite-txt{
                                margin: 0px 0px 5px;
                                font-weight: bold;
                                font-size: 1.7rem;
                            }
                            .to-add-txt{
                                margin-bottom: 10px;
                                font-size: 1.7rem;
                            }
                            .invite-friend-form{
                                max-width: 450px;
                                .input-wrapper{
                                    input{
                                        display: block;
                                        width: 100%;
                                        border: none;
                                        border-bottom: 1px solid white;
                                        font-size: 1.5rem;
                                        background-color: transparent;
                                        &:focus{
                                            outline: none;
                                        }
                                        &::placeholder{
                                            color: $lightGrey;
                                        }
                                    }
                                    button.btn{
                                        padding: 0px;
                                        background-color: transparent;
                                        svg{
                                            width: 30px;
                                            polygon, path{
                                            }
                                        }
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                }
                            }
                            .plane-wrapper{
                                position: absolute;
                                left: 5px;
                                bottom: 30px;
                                img{
                                    height: 150px;
                                }
                            }
                        }
                        .invite-image-wrapper{
                            margin: -164px 0px -10px;
                            img{
                                width: 315px;
                            }
                        }
                    }
                    .step-footer{
                        text-align: center;
                        margin-top: 70px;
                        .button-wrapper{
                            margin-bottom: 30px;
                            text-align: center;
                            .create-new-btn{
                                background-color: $greenColor;
                                border: none;
                                outline: none;
                                color: white;
                                display: block;
                                width: 290px;
                                margin: 0px auto;
                                text-align: center;
                                padding: 12px 5px;
                                border-radius: 30px;
                                font-size: 2rem;
                                font-weight: lighter;
                                &:hover{
                                    background-color: $greenHover;
                                }
                                &.small{
                                    display: inline-block;
                                    width: auto;
                                    padding: 10px 30px;
                                    font-size: 1.5rem;
                                }
                            }
                        }
                        .to-change-txt{
                            margin-bottom: 0px;
                        }
                        .order-embed-txt{
                            margin-bottom: 5px;
                        }
                        .btn-wrapper{
                            .my-series-link{
                                display: inline-block;
                                background-color: transparent;
                                border: 1px solid $greenColor;
                                color: $contentColor;
                                padding: 7px 20px;
                                border-radius: 20px;
                                font-size: 1.5rem;
                                text-decoration: none;
                                &:focus{
                                    outline: none;
                                }
                                &:hover{
                                    background-color: $greenColor;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.c-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-bottom: 0px;
    vertical-align: middle;
    input {display:none;}
    input:checked + .slider {
        background-color: transparent;
        border-color: $yellowColor;
        &:before{
            background-color: $yellowColor;
        }
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #6bc069;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        -webkit-transition: .4s;
        transition: .4s;
        border: 1px solid $lightGrey;
        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: calc((100% - 20px) / 2);
            background-color: $lightGrey;
            -webkit-transition: .4s;
            transition: .4s;
        }
        &.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
    }
}


.select2-container .select2-selection--single{
    padding-top: 3px;
    height: 35px;
    border-color: $lightGrey;
    .select2-selection__arrow{
        top: 4px;
    }
    span.select2-selection__rendered{
        font-size: 1.5rem;
        color: $contentColor;
    }
    &:focus{
        outline: none;
    }
}
.select2-results__option{
    font-size: 16px;
}