$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;
$grey: grey;
$blue: #1bacff;

.site-wrapper.page{
    font-family: $default_font_family;
    & > .site-content{
        padding: 30px 50px;
        & > .content-wrapper{
            main.main-content{
                text-align: left;
                min-height: 700px;
                position: relative;
                padding: 50px 10px 0px;
                background-color: #f8f7f9;
                h2{
                    font-family: $default_font_family;
                    margin-top: 0px;
                    margin-bottom: 20px;
                }
                form{
                    max-width: 1000px;
                    margin: 0px auto;
                    ul{
                        list-style-type: decimal;
                        li{
                            font-size: 1.8rem;
                            .form-group{
                                label{
                                    font-weight: normal;
                                }
                                .form-control{
                                    font-size: 1.8rem;
                                    &:not(textarea){
                                        height: auto;
                                    }
                                    &[name="description"]{
                                        resize: vertical;
                                    }
                                }
                                .recurring-wrapper{
                                    .is-recurring-wrapper{
                                        input{
                                            background-color: transparent;
                                            margin-top: 0px;
                                            vertical-align: middle;
                                            position: absolute;
                                            left: -9999px;
                                            &:checked{
                                                & + label{
                                                    color: black;
                                                    &:before{
                                                        border-color: black;
                                                        transform: none;
                                                    }
                                                    &:after{
                                                        font-size: .9em;
                                                        content: '\2714';
                                                        position: absolute;
                                                        right: 0.2em;
                                                        left: auto;
                                                        top: 7.5px;
                                                        width: 1em;
                                                        height: 1em;
                                                        color: black;
                                                        transform: scale(1);
                                                    }
                                                }
                                            }
                                        }
                                        label{
                                            margin-bottom: 0px;
                                            color: $content_color;
                                            line-height: 1.1em;
                                            vertical-align: middle;
                                            position: relative;
                                            padding-right: 3em;
                                            padding-top: 0.3em;
                                            padding-bottom: 0.3em;
                                            cursor: pointer;
                                            font-weight: normal;
                                            height: auto;
                                            &:before{
                                                content: '';
                                                position: absolute;
                                                right: 0px;
                                                left: auto;
                                                top: 2px;
                                                width: 2em;
                                                height: 1.5em;
                                                border: 2px solid $content_color;
                                            }
                                        }
                                    }
                                    .recurring-type-wrapper{
                                        label{
                                            width: auto;
                                        }
                                        select[name="recurring_type"].form-control{
                                            display: inline-block;
                                            width: auto;
                                        }
                                    }
                                    .once-every-wrapper{
                                        input{
                                            width: auto;
                                            display: inline-block;
                                        }
                                    }
                                }
                                .cover-image-wrapper{
                                    max-width: 500px;
                                    margin: 10px auto 0px;
                                    padding-bottom: 20px;
                                    text-align: center;
                                    position: relative;
                                    border: 1px dashed grey;
                                    border-radius: 20px;
                                    .img-wrapper{
                                        padding: 15px 0px;
                                        img{
                                            max-width: 256px;
                                            min-width: 150px;
                                            opacity: .6;
                                            &.touched{
                                                opacity: 1;
                                            }
                                        }
                                    }
                                    input{
                                        position: absolute;
                                        display: block;
                                        top: 0px;
                                        left: 0px;
                                        width: 100%;
                                        height: 100%;
                                        opacity: 0;
                                        cursor: pointer;
                                    }
                                }
                                .datepicker{
                                    border: 1px solid #ccc;
                                    background-color: white;
                                    &.datepicker-inline{
                                        display: inline-block;
                                        width: auto;
                                    }
                                    table{
                                        border-collapse: separate;
                                        border-spacing: 5px;
                                        tr{
                                            th, td{
                                                font-weight: normal;
                                                //font-size: 2rem;
                                                .month{
                                                    color: #333;
                                                    font-size: 20px;
                                                }
                                                &.active{
                                                    background-image: linear-gradient($blue, #60CFFF);
                                                }
                                            }
                                        }
                                        tfoot{
                                            display: none;
                                        }
                                    }
                                }
                                .daily-recurring{
                                    text-align: center;
                                    .datepicker{
                                        .datepicker-days{
                                            table{
                                                thead{
                                                    tr:last-child{
                                                        th{
                                                            cursor: pointer;
                                                            background-image: linear-gradient($blue, #60CFFF);
                                                            background-repeat: repeat-x;
                                                            color: white;
                                                            &.omit{
                                                                background-image: none;
                                                                color: #999;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .weekly-recurring{
                                    text-align: center;
                                }
                                .once-every-wrapper{
                                    width: 396px;
                                }
                            }
                        }
                    }
                    footer{
                        text-align: center;
                        padding-bottom: 50px;
                        button{
                            width: 300px;
                            padding: 7px;
                            font-size: 18px;
                            border-radius: 20px;
                            background: transparent;
                            border: 2px solid rgb(83, 212, 173);
                            color: rgb(83, 212, 173);
                            &:hover{
                                background: rgb(83, 212, 173);
                                color: white;
                            }
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
}