.site-wrapper.page {
  font-family: "EB Garamond", sans-serif; }
  .site-wrapper.page > .site-content {
    padding: 30px 50px; }
    .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content {
      text-align: left;
      min-height: 700px;
      position: relative;
      padding: 50px 10px 0px;
      background-color: #f8f7f9; }
      .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content h2 {
        font-family: "EB Garamond", sans-serif;
        margin-top: 0px;
        margin-bottom: 20px; }
      .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form {
        max-width: 1000px;
        margin: 0px auto; }
        .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul {
          list-style-type: decimal; }
          .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li {
            font-size: 25px; }
            .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group {
              font-size: 20px; }
              .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group label {
                font-weight: normal; }
              .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .form-control {
                font-size: 18px; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .form-control:not(textarea) {
                  height: 40px; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .form-control[name="description"] {
                  resize: vertical; }
              .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cover-image-wrapper {
                max-width: 500px;
                margin: 10px auto 0px;
                padding-bottom: 20px;
                text-align: center;
                position: relative;
                border: 1px dashed grey;
                border-radius: 20px; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cover-image-wrapper .img-wrapper {
                  padding: 15px 0px; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cover-image-wrapper .img-wrapper img {
                    max-width: 256px;
                    min-width: 150px;
                    opacity: .6; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cover-image-wrapper input {
                  position: absolute;
                  display: block;
                  top: 0px;
                  left: 0px;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  cursor: pointer; }
              .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cd-switch {
                text-align: center;
                position: relative;
                height: 50px; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cd-switch .switch {
                  position: absolute;
                  display: inline-block;
                  left: 50%;
                  right: auto;
                  -webkit-transform: translateX(-50%);
                  -moz-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                  -o-transform: translateX(-50%);
                  transform: translateX(-50%);
                  z-index: 1; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cd-switch .switch input[type="radio"] {
                    visibility: hidden;
                    position: absolute;
                    height: 100%;
                    margin-top: 0px; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_yes:checked ~ label[for="isPublic_yes"] {
                      color: white;
                      border: 1px solid grey; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_yes:checked ~ .switchFilter {
                      left: 0;
                      opacity: 1;
                      width: 87px; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_no:checked ~ label[for="isPublic_no"] {
                      color: white;
                      border: 1px solid grey; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_no:checked ~ .switchFilter {
                      left: 100px;
                      width: 87px;
                      opacity: 1; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cd-switch .switch .switchFilter {
                    width: 0;
                    display: inline-block;
                    background-color: grey;
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    top: 0;
                    bottom: 0;
                    z-index: -1;
                    -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
                    -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
                    transition: all 0.4s cubic-bezier(0, 0, 0.25, 1); }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .cd-switch .switch label {
                    margin-bottom: 0px;
                    cursor: pointer;
                    text-transform: uppercase;
                    border: 1px solid grey;
                    width: 85px;
                    padding: 8px 0;
                    text-align: center;
                    display: inline-block;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    transition: all 0.4s;
                    margin-right: 10px; }
              .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group ul.available-days-list {
                margin-top: 5px;
                margin-bottom: 0px;
                list-style: none;
                padding-left: 0px; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group ul.available-days-list li {
                  float: left;
                  margin-left: 10px;
                  font-size: 1.5rem; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group ul.available-days-list li .icon-wrapper {
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    cursor: pointer; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group ul.available-days-list li .icon-wrapper img.active-icon {
                      position: absolute;
                      top: 0px;
                      left: 0px;
                      opacity: 0; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group ul.available-days-list li.active-day .icon-wrapper img.inactive-icon {
                    opacity: 0; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group ul.available-days-list li.active-day .icon-wrapper img.active-icon {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    opacity: 1; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group ul.available-days-list:after {
                  content: '';
                  display: block;
                  clear: both; }
              .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .charge-helper {
                margin: 0px auto 10px; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .charge-helper > span {
                  color: #3ba6ec;
                  font-size: 2rem; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .charge-helper > span:hover {
                    color: #0b94ea;
                    text-decoration: none; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .charge-helper a {
                  text-decoration: none; }
              .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper {
                margin-bottom: 20px; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper .c-switch {
                  position: relative;
                  display: inline-block;
                  width: 60px;
                  height: 34px;
                  margin-bottom: 0px;
                  vertical-align: middle; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper .c-switch input {
                    display: none; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper .c-switch input:checked + .slider {
                    background-color: #6bc069; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper .c-switch input:focus + .slider {
                    box-shadow: 0 0 1px #6bc069; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper .c-switch input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px); }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper .c-switch .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper .c-switch .slider:before {
                      position: absolute;
                      content: "";
                      height: 26px;
                      width: 26px;
                      left: 4px;
                      bottom: 4px;
                      background-color: white;
                      -webkit-transition: .4s;
                      transition: .4s; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper .c-switch .slider.round {
                      border-radius: 34px; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper .c-switch .slider.round:before {
                        border-radius: 50%; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper .charge-label {
                  width: 205px; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper .price-label {
                  width: 50px;
                  margin-left: 20px;
                  opacity: .5;
                  transition: opacity .3s; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper .charge-price {
                  opacity: .5;
                  transition: opacity .3s; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper.charged .price-label {
                  opacity: 1;
                  transition: opacity .3s; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .series-charge-wrapper.charged .charge-price {
                  opacity: 1;
                  transition: opacity .3s; }
              .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings {
                font-size: 20px;
                margin-bottom: 20px; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .percent-label {
                  text-align: right;
                  margin-left: 20px;
                  opacity: .5;
                  transition: opacity .3s; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .percent-value {
                  width: 200px;
                  font-size: 1em;
                  opacity: .5;
                  transition: opacity .3s; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings.affiliated .percent-label {
                  opacity: 1;
                  transition: opacity .3s; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings.affiliated .percent-value {
                  opacity: 1;
                  transition: opacity .3s; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .field-helper {
                  display: inline-block;
                  margin: 2px 2px;
                  padding: 5px 5px;
                  color: white;
                  align-self: center;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  background-color: #25b7d3;
                  font-family: FontAwesome;
                  font-weight: bold;
                  text-align: center;
                  font-size: 25px;
                  line-height: 21px;
                  cursor: default; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .c-switch {
                  position: relative;
                  display: inline-block;
                  width: 60px;
                  height: 34px;
                  margin-bottom: 0px;
                  vertical-align: middle; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .c-switch input {
                    display: none; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .c-switch input:checked + .slider {
                    background-color: #6bc069; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .c-switch input:focus + .slider {
                    box-shadow: 0 0 1px #6bc069; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .c-switch input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px); }
                  .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .c-switch .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .c-switch .slider:before {
                      position: absolute;
                      content: "";
                      height: 26px;
                      width: 26px;
                      left: 4px;
                      bottom: 4px;
                      background-color: white;
                      -webkit-transition: .4s;
                      transition: .4s; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .c-switch .slider.round {
                      border-radius: 34px; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .c-switch .slider.round:before {
                        border-radius: 50%; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .slider .slider-track .slider-selection {
                  background-image: none;
                  background-color: yellow;
                  box-shadow: none;
                  box-sizing: border-box;
                  border: 1px solid #cccccc; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .slider .slider-track .slider-track-high {
                  background-color: white;
                  box-shadow: none;
                  box-sizing: border-box;
                  border: 1px solid #cccccc; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .affiliate-settings .slider .slider-handle {
                  width: 10px;
                  margin-left: -5px;
                  border-radius: 5px;
                  background-color: #ccc;
                  background-image: none; }
              .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .money-expects {
                font-size: 20px;
                margin-bottom: 20px; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .money-expects .field-label.affiliate-field {
                  padding-left: 200px; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .money-expects .field-value.charge-field {
                  font-size: 1.2em;
                  font-weight: bold;
                  color: blue; }
                .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form ul li .form-group .money-expects .field-value.affiliate-field {
                  font-size: 1.2em;
                  font-weight: bold;
                  color: red; }
        .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form footer {
          text-align: center;
          padding-bottom: 50px; }
          .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form footer button {
            width: 300px;
            padding: 7px;
            font-size: 18px;
            border-radius: 20px;
            background: transparent;
            border: 2px solid #53d4ad;
            color: #53d4ad; }
            .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form footer button:hover {
              background: #53d4ad;
              color: white; }
            .site-wrapper.page > .site-content > .content-wrapper .for-series main.main-content form footer button:focus {
              outline: none; }
    .site-wrapper.page > .site-content > .content-wrapper .for-posts {
      margin-top: -40px; }
      .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header {
        padding: 0px 50px 5px 230px; }
        .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from {
          display: inline-block;
          line-height: 35px; }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from > span {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            padding-bottom: 5px; }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from .dropdown {
            margin-left: 10px;
            vertical-align: middle;
            display: inline-block; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from .dropdown button.btn-custom {
              background-color: transparent;
              border: 1px solid #7b7b7b;
              font-size: 18px; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from .dropdown ul.dropdown-menu li a input {
              background-color: transparent;
              margin-top: 0px;
              vertical-align: middle;
              position: absolute;
              left: -9999px; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from .dropdown ul.dropdown-menu li a input:checked + label {
                color: black; }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from .dropdown ul.dropdown-menu li a input:checked + label:before {
                  border-color: black; }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from .dropdown ul.dropdown-menu li a input:checked + label:after {
                  font-size: .9em;
                  content: '\2714';
                  position: absolute;
                  left: 0.2em;
                  top: 0em;
                  width: 1em;
                  height: 1em;
                  color: black; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from .dropdown ul.dropdown-menu li a label {
              color: grey;
              font-size: 18px;
              line-height: 1.1em;
              vertical-align: middle;
              position: relative;
              padding-left: 1.8em;
              cursor: pointer;
              font-weight: normal; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from .dropdown ul.dropdown-menu li a label:before {
                content: '';
                position: absolute;
                left: 0px;
                top: 0px;
                width: 1em;
                height: 1em;
                border: 1px solid grey; }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from ul.froms-list-pre {
            display: inline-block;
            margin-bottom: 0px;
            padding-left: 10px;
            vertical-align: middle;
            list-style: none; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from ul.froms-list-pre li {
              float: left; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from ul.froms-list-pre li a input {
                background-color: transparent;
                margin-top: 0px;
                vertical-align: middle;
                position: absolute;
                left: -9999px; }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from ul.froms-list-pre li a input:checked + label {
                  color: black; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from ul.froms-list-pre li a input:checked + label:before {
                    border-color: black; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from ul.froms-list-pre li a input:checked + label:after {
                    font-size: .9em;
                    content: '\2714';
                    position: absolute;
                    left: 0.2em;
                    top: 0em;
                    width: 1em;
                    height: 1em;
                    color: black; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from ul.froms-list-pre li a label {
                color: grey;
                font-size: 18px;
                line-height: 1.1em;
                vertical-align: middle;
                position: relative;
                padding-left: 1.3em;
                cursor: pointer;
                font-weight: normal; }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from ul.froms-list-pre li a label:before {
                  content: '';
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  width: 1em;
                  height: 1em;
                  border: 1px solid grey; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from ul.froms-list-pre li:first-child {
                margin-right: 15px; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .results-from ul.froms-list-pre:after {
              content: '';
              display: block;
              clear: both; }
        .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .search-term-wrapper form {
          font-size: 20px;
          text-align: right; }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .search-term-wrapper form .form-control {
            font-size: 18px; }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .search-term-wrapper form label[for="search-term2"] {
            font-weight: normal; }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .search-term-wrapper form .btn.btn-default {
            margin-left: 10px;
            font-size: 18px;
            padding-top: 5px;
            padding-bottom: 5px; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .search-term-wrapper form .btn.btn-default[type='submit'] {
              padding-left: 20px;
              padding-right: 20px;
              background-color: grey;
              border-color: grey;
              color: white; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .search-term-wrapper form .btn.btn-default[type='submit']:hover {
                background-color: #585656; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts header.content-header .search-term-wrapper form .btn.btn-default.clear-search-term {
              border: none; }
      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content {
        text-align: left;
        min-height: 700px;
        position: relative;
        padding: 50px 10px 0px;
        background-color: #f8f7f9; }
        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .actions-container {
          text-align: right;
          padding: 0px 10px 0px 10px; }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .actions-container .action {
            display: inline-block;
            margin-left: 30px;
            height: 40px;
            position: relative;
            text-decoration: none;
            font-size: 2rem;
            color: grey; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .actions-container .action svg#Capa_1 {
              display: inline !important;
              vertical-align: middle;
              width: 40px; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .actions-container .action svg#Capa_1 g path {
                fill: grey; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .actions-container .action:hover {
              color: black; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .actions-container .action:hover svg#Capa_1 g path {
                fill: black; }
        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content h2 {
          font-family: "EB Garamond", sans-serif;
          margin-top: 0px;
          margin-bottom: 20px; }
        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper {
          padding-bottom: 10px;
          border-bottom: 1px dashed rgba(128, 128, 128, 0.2); }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper h3 {
            padding-left: 30px;
            margin-bottom: 20px; }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
            display: block;
            width: 95% !important;
            max-width: 100%;
            margin: 0px auto;
            min-height: 510px; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
              float: left;
              width: calc(100% / 5 - 10px * 2) !important;
              min-height: 490px;
              height: auto;
              z-index: 1; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * {
                display: block;
                width: 100%;
                height: auto;
                text-decoration: none;
                background-color: transparent; }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner {
                  width: 95%;
                  margin: 0px auto;
                  position: relative;
                  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
                  padding: 0px 10px 10px;
                  background-color: white;
                  font-size: 1.7rem;
                  line-height: 1.1;
                  color: grey;
                  text-align: center; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper {
                    position: relative;
                    z-index: 1;
                    margin: 0px -10px 5px;
                    width: calc(100% + 20px);
                    cursor: pointer; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper img.item-img {
                      width: 100%;
                      height: 160px;
                      object-fit: fill; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper .input-wrapper {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      position: absolute;
                      top: 0px;
                      left: 0px;
                      width: 100%;
                      height: 100%; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper .input-wrapper input[name=item_image] {
                        cursor: pointer;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        opacity: 0; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper.is-uploading {
                      outline: 1px dashed rgba(146, 176, 179, 0.8);
                      animation-name: uploading-effect;
                      animation-iteration-count: infinite;
                      animation-duration: 2s; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper {
                    margin-bottom: 10px;
                    min-height: 48px;
                    position: relative; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper .item-title {
                      display: block;
                      /* Fallback for non-webkit */
                      overflow: hidden;
                      text-overflow: ellipsis;
                      transition: height 300ms;
                      white-space: normal; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper textarea {
                      display: none;
                      width: 100%;
                      resize: vertical; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper [data-readmore-toggle] {
                      font-size: 1.5rem;
                      cursor: pointer;
                      color: #178DB1;
                      font-style: italic;
                      text-decoration: none; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper [data-readmore-toggle]:hover {
                        color: #5EB0C9; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container {
                      margin-top: 5px; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container .edit-wrapper {
                        display: block;
                        text-align: right; }
                        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container .edit-wrapper .edit-entry {
                          cursor: pointer;
                          opacity: 0; }
                          .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container .edit-wrapper .edit-entry .edit-icon {
                            position: absolute;
                            right: 0px;
                            bottom: 0px;
                            width: 25px;
                            display: inline-block; }
                          .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container .edit-wrapper .edit-entry:hover {
                            opacity: .7; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container .save-wrapper {
                        display: none; }
                        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper aside.actions-container .save-wrapper .btn-xs {
                          font-size: 1.5rem; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper:hover aside.actions-container span.edit-entry {
                      opacity: 1; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.edit-status .item-title {
                      display: none; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.edit-status [data-readmore-toggle] {
                      display: none; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.edit-status textarea {
                      display: block; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.edit-status aside.actions-container .save-wrapper {
                      display: block; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.edit-status aside.actions-container .edit-wrapper {
                      display: none; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.edit-status:hover aside.actions-container span.edit-entry {
                      display: none; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper {
                    position: relative;
                    min-height: 70px;
                    margin-bottom: 10px; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper .item-description {
                      overflow: hidden;
                      transition: height 300ms; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper textarea {
                      display: none;
                      width: 100%;
                      resize: vertical; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper [data-readmore-toggle] {
                      font-size: 1.5rem;
                      cursor: pointer;
                      color: #178DB1;
                      font-style: italic;
                      text-decoration: none; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper [data-readmore-toggle]:hover {
                        color: #5EB0C9; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container {
                      margin-top: 5px; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container .edit-wrapper {
                        display: block;
                        text-align: right; }
                        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container .edit-wrapper .edit-entry {
                          cursor: pointer;
                          opacity: 0;
                          position: absolute;
                          right: 0px;
                          bottom: 0px; }
                          .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container .edit-wrapper .edit-entry .edit-icon {
                            width: 25px;
                            display: inline-block; }
                          .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container .edit-wrapper .edit-entry:hover {
                            opacity: .7; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container .save-wrapper {
                        display: none; }
                        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper aside.actions-container .save-wrapper .btn-xs {
                          font-size: 1.5rem; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper:hover aside.actions-container span.edit-entry {
                      display: block;
                      opacity: 1; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper.edit-status .item-description {
                      display: none; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper.edit-status [data-readmore-toggle] {
                      display: none; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper.edit-status textarea {
                      display: block; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper.edit-status aside.actions-container .save-wrapper {
                      display: block; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper.edit-status aside.actions-container .edit-wrapper {
                      display: none; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .description-wrapper.edit-status:hover aside.actions-container > span.edit-entry {
                      display: none; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .type-wrapper {
                    margin-bottom: 10px; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .type-wrapper select {
                      width: 100%; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper {
                    text-align: center;
                    width: 100%;
                    padding: 0px 0px 10px; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .btn.btn-circle {
                      width: 100%;
                      max-width: 100%;
                      padding: 4px;
                      font-size: 2rem;
                      border-radius: 50px;
                      background: transparent;
                      border: 2px solid #1ecd97;
                      color: #1ecd97; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .btn.btn-circle:hover {
                        background: #1ecd97;
                        color: white; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .btn.btn-circle:focus {
                        outline: none; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap {
                      width: 100%;
                      margin: 0px auto; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap button {
                        width: 100%;
                        font-size: 2rem;
                        line-height: 34px;
                        height: 46px; }
                        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap button.circle {
                          width: 46px; }
                        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap button.filled {
                          line-height: 34px;
                          vertical-align: middle; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap img {
                        top: calc((100% - 38px) / 2);
                        left: calc((100% - 49px) / 2);
                        width: auto !important;
                        display: none; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap svg {
                        left: calc((100% - 46px) / 2);
                        top: 0px;
                        width: 46px;
                        height: 46px; }
                        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap svg circle {
                          r: 21px;
                          cx: 23px;
                          cy: 23px; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner > aside {
                    position: relative;
                    z-index: 2; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner > aside img.delete-item {
                      position: absolute;
                      top: -15px;
                      right: -15px;
                      width: 30px;
                      transition: all .3s;
                      cursor: pointer;
                      z-index: 3; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner > aside img.delete-item:hover {
                        transform: scale(1.1); }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner > aside img.delete-item:active {
                        transform: translateZ(-3px) scale(0.95); }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .bottom-line {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 30px;
                    height: 2px;
                    background-color: #c8c8c8; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li.editing {
                z-index: 2; }
            @media all and (min-width: 1440px) and (max-width: 1600px) {
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
                width: 100% !important; }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 5 - 5px * 2) !important;
                  margin: 5px; } }
            @media all and (min-width: 1350px) and (max-width: 1440px) {
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
                width: 100% !important; }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 4 - 10px * 2) !important;
                  margin: 10px; } }
            @media all and (min-width: 991px) and (max-width: 1350px) {
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
                max-width: calc((300px + 10px * 2) * 3); }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 3 - 10px * 2) !important;
                  margin: 10px; } }
            @media all and (max-width: 990px) {
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
                max-width: calc((300px + 10px * 2) * 2); }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 2 - 10px * 2) !important;
                  margin: 10px; } }
            @media all and (max-width: 670px) {
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
                max-width: calc((300px + 5px * 2) * 2); }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 2 - 5px * 2) !important;
                  margin: 5px; } }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper.is-dragover {
            outline: 2px dashed rgba(146, 176, 179, 0.8);
            outline-offset: -5px;
            -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
            transition: outline-offset .15s ease-in-out, opacity .15s linear; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .img-wrapper {
              outline: 1px dashed rgba(146, 176, 179, 0.8);
              outline-offset: -5px;
              -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
              transition: outline-offset .15s ease-in-out, opacity .15s linear; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .img-wrapper.is-dragover {
                opacity: .8;
                outline-offset: -15px;
                outline-color: #c8dadf;
                background-color: #fff; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .description-wrapper {
              outline: 1px dashed rgba(146, 176, 179, 0.8);
              outline-offset: -1px;
              -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
              transition: outline-offset .15s ease-in-out, opacity .15s linear; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .description-wrapper.is-dragover {
                opacity: 1;
                outline-offset: -7px;
                outline-color: #c8dadf;
                background-color: #fff; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .meta-posts-block-container .tt-grid-wrapper.is-dragover.is-dragover-on-parent {
              opacity: .8;
              outline-offset: -20px;
              outline-color: #c8dadf; }
        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper {
          border-bottom: 1px dashed rgba(128, 128, 128, 0.2); }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper h3 {
            padding-left: 30px; }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
            display: block;
            width: 95% !important;
            max-width: 100%;
            margin: 0px auto; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
              float: left;
              width: calc(100% / 5 - 10px * 2) !important;
              min-height: 325px;
              height: auto; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * {
                display: block;
                width: 100%;
                height: auto;
                text-decoration: none;
                background-color: transparent; }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner {
                  width: 95%;
                  margin: 0px auto;
                  position: relative;
                  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
                  padding: 0px 10px 10px;
                  background-color: white;
                  font-size: 1.7rem;
                  line-height: 1.2;
                  color: grey;
                  text-align: center; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper {
                    position: relative;
                    z-index: 1;
                    margin: 0px -10px 5px;
                    width: calc(100% + 20px); }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .img-wrapper img.item-img {
                      width: 100%;
                      height: 160px;
                      object-fit: fill; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper {
                    margin-bottom: 10px;
                    min-height: 69px;
                    position: relative; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper .item-title {
                      display: block;
                      /* Fallback for non-webkit */
                      display: -webkit-box;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      transition: height 300ms;
                      white-space: normal; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper [data-readmore-toggle] {
                      font-size: 1.5rem;
                      cursor: pointer;
                      color: #178DB1;
                      font-style: italic;
                      text-decoration: none; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper [data-readmore-toggle]:hover {
                        color: #5EB0C9; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .title-wrapper.collapsed .item-title {
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                      text-overflow: ellipsis; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper {
                    text-align: center;
                    width: 100%;
                    padding: 0px 0px 10px; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .btn.btn-circle {
                      width: 100%;
                      max-width: 100%;
                      padding: 4px;
                      font-size: 2rem;
                      border-radius: 50px;
                      background: transparent;
                      border: 2px solid #1ecd97;
                      color: #1ecd97; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .btn.btn-circle:hover {
                        background: #1ecd97;
                        color: white; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .btn.btn-circle:focus {
                        outline: none; }
                    .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap {
                      width: 100%;
                      margin: 0px auto; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap button {
                        width: 100%;
                        font-size: 2rem;
                        line-height: 34px;
                        height: 46px; }
                        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap button.circle {
                          width: 46px; }
                        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap button.filled {
                          line-height: 34px;
                          vertical-align: middle; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap img {
                        top: calc((100% - 38px) / 2);
                        left: calc((100% - 49px) / 2);
                        width: auto !important;
                        display: none; }
                      .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap svg {
                        left: calc((100% - 46px) / 2);
                        top: 0px;
                        width: 46px;
                        height: 46px; }
                        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner .buttons-wrapper .wrap svg circle {
                          r: 21px;
                          cx: 23px;
                          cy: 23px; }
                  .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li > * .item-inner > aside .bottom-line {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 30px;
                    height: 2px;
                    background-color: #c8c8c8; }
            @media all and (min-width: 991px) and (max-width: 1240px) {
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
                width: 100% !important; }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 5 - 0px * 2) !important;
                  margin: 0px; } }
            @media all and (max-width: 990px) {
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
                max-width: calc((300px + 10px * 2) * 2); }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 2 - 10px * 2) !important;
                  margin: 10px; } }
            @media all and (max-width: 670px) {
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
                max-width: calc((300px + 0px * 2) * 2); }
                .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content .posts-block-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 2 - 0px * 2) !important;
                  margin: 0px; } }
        .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content footer {
          text-align: center;
          padding-bottom: 50px;
          padding-top: 20px; }
          .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content footer button {
            padding: 3px 30px;
            font-size: 25px;
            border-radius: 25px;
            background: transparent;
            border: 2px solid #53d4ad;
            color: #53d4ad;
            margin: 5px 3%; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content footer button.show-more {
              border-color: grey;
              color: grey; }
              .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content footer button.show-more:hover {
                background: grey;
                color: white; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content footer button .glyphicon {
              top: 2px; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content footer button:hover {
              background: #53d4ad;
              color: white; }
            .site-wrapper.page > .site-content > .content-wrapper .for-posts main.main-content footer button:focus {
              outline: none; }

.modal-edit-stripe header.site-modal-header {
  font-size: 1.7em; }
.modal-edit-stripe .site-modal-body {
  padding: 20px 10px; }
  .modal-edit-stripe .site-modal-body label.control-label {
    display: block;
    font-size: 1.3em;
    vertical-align: middle;
    text-align: right;
    font-weight: normal; }
  .modal-edit-stripe .site-modal-body input.form-control {
    vertical-align: middle;
    font-size: 1.3em;
    height: auto; }
  .modal-edit-stripe .site-modal-body .flex-row {
    margin-bottom: 20px; }

/* Absolute Center Spinner */
.select2-container .select2-selection--single {
  padding-top: 3px;
  height: 35px; }
  .select2-container .select2-selection--single .select2-selection__arrow {
    top: 4px; }

.select2-results__option {
  font-size: 16px; }

/*# sourceMappingURL=createSeries-page.css.map */
