html body .site-wrapper.page .site-content {
  text-align: left; }
  html body .site-wrapper.page .site-content .create-series-content {
    transition: all .3s ease-out; }
    html body .site-wrapper.page .site-content .create-series-content .content-header {
      padding: 60px 70px 30px;
      background-color: #f6fffc;
      position: relative; }
      html body .site-wrapper.page .site-content .create-series-content .content-header:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
        background-size: 5px 1px;
        background-repeat: repeat-x; }
      html body .site-wrapper.page .site-content .create-series-content .content-header .content-header-content {
        max-width: 100%;
        margin: 0px auto;
        text-align: left; }
        html body .site-wrapper.page .site-content .create-series-content .content-header .content-header-content .title-wrapper .page-title {
          margin: 0px 0px 10px;
          font-weight: bold; }
        html body .site-wrapper.page .site-content .create-series-content .content-header .content-header-content .title-wrapper .step-name {
          font-size: 1.5rem;
          margin-bottom: 5px; }
        html body .site-wrapper.page .site-content .create-series-content .content-header .content-header-content .step-progress-wrapper {
          width: 230px; }
          html body .site-wrapper.page .site-content .create-series-content .content-header .content-header-content .step-progress-wrapper .step-wrapper {
            margin-bottom: 5px;
            position: relative; }
          html body .site-wrapper.page .site-content .create-series-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper {
            display: flex; }
            html body .site-wrapper.page .site-content .create-series-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item:before {
              content: '';
              width: 14px;
              height: 14px;
              display: inline-block;
              vertical-align: middle;
              border-radius: 50%;
              opacity: .7;
              background-color: #1fcd98; }
            html body .site-wrapper.page .site-content .create-series-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item.right-dotted:after {
              content: '';
              display: inline-block;
              width: 70px;
              height: 1px;
              vertical-align: middle;
              background-image: linear-gradient(to right, #c8cabc 3px, transparent 0%);
              background-size: 6px 1px;
              background-repeat: repeat-x; }
            html body .site-wrapper.page .site-content .create-series-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item.active:before {
              opacity: 1; }
          html body .site-wrapper.page .site-content .create-series-content .content-header .content-header-content .step-progress-wrapper.step-progress-2 .step-wrapper {
            margin-left: 85px; }
          html body .site-wrapper.page .site-content .create-series-content .content-header .content-header-content .step-progress-wrapper.step-progress-3 .step-wrapper {
            margin-left: 170px; }
    html body .site-wrapper.page .site-content .create-series-content main.main-content {
      max-width: 100%;
      margin: 0px auto;
      padding: 20px 75px 100px;
      text-align: left;
      transition: all .3s ease-out; }
      html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper {
        margin-bottom: 50px; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content {
          margin-right: 100px; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group label.control-label {
            display: block;
            position: relative;
            padding: 7px 15px 0px 0px;
            font-weight: normal;
            font-size: 1.5rem; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group label.control-label.required:after {
              content: "*";
              position: absolute;
              top: 0px;
              right: 0px;
              color: #f26d7e; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group input {
            padding-left: 0px;
            border: none;
            border-bottom: 1px solid #c8cabc;
            box-shadow: none;
            border-radius: 0px;
            font-size: 1.5rem; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group input::placeholder {
              color: #c8cabc; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group input[name="strSeries_title"] {
              max-width: 385px; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group .public-value-txt {
            margin-left: 10px;
            color: #1fcd98; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group .day-item {
            margin-right: 10px; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group .day-item input {
              background-color: transparent;
              margin-top: 0px;
              vertical-align: middle;
              position: absolute;
              left: -9999px; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group .day-item input:checked + label {
                color: black; }
                html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group .day-item input:checked + label:before {
                  border-color: black; }
                html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group .day-item input:checked + label:after {
                  font-size: .9em;
                  content: '\2714';
                  position: absolute;
                  right: 0em;
                  top: 0em;
                  width: 1em;
                  height: 1em;
                  color: black; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group .day-item label {
              color: #737661;
              font-size: 18px;
              line-height: 1.1em;
              vertical-align: middle;
              position: relative;
              padding-right: 1.5em;
              cursor: pointer;
              font-weight: normal; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group .day-item label:before {
                content: '';
                position: absolute;
                right: 0px;
                top: 0px;
                width: 1em;
                height: 1em;
                border: 1px solid #c8cabc;
                border-radius: 2px; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group .cover-image-wrapper {
            margin: 10px 0px;
            padding: 50px 20px;
            text-align: center;
            position: relative;
            border: 1px dashed #c8cabc;
            border-radius: 20px;
            color: #c8cabc; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group .cover-image-wrapper .img-wrapper img {
              max-width: 80px;
              opacity: .3; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .form-group .cover-image-wrapper input {
              position: absolute;
              display: block;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
              opacity: 0;
              cursor: pointer; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .multi-line-background textarea::placeholder {
            color: #c8cabc; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-main-content .multi-line-background textarea:valid {
            outline: none;
            border-color: #d4d6c9; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-content-wrapper .step-description {
          width: 250px;
          font-size: 1.5rem; }
      html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-footer .let-go-wrapper {
        max-width: 200px;
        margin: 0px auto 60px;
        text-align: center; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-footer .let-go-wrapper .next-step-des {
          margin-bottom: 10px; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-footer .let-go-wrapper .btn-wrapper .let-go-btn {
          display: inline-block;
          background-color: transparent;
          border: 1px solid #1fcd98;
          color: #737661;
          padding: 7px 20px;
          border-radius: 20px;
          font-size: 1.5rem;
          text-decoration: none; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-footer .let-go-wrapper .btn-wrapper .let-go-btn:focus {
            outline: none; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-footer .let-go-wrapper .btn-wrapper .let-go-btn:hover {
            background-color: #1fcd98;
            color: white; }
      html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-footer .step-progress-wrapper {
        max-width: 400px;
        margin: 0px auto 10px;
        text-align: center; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-footer .step-progress-wrapper .next-step-wrapper {
          margin-left: 195px;
          opacity: .7;
          text-align: left; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-footer .step-progress-wrapper .next-step-wrapper .next-step-name {
            font-size: 1.5rem; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-footer .step-progress-wrapper .progress-wrapper {
          display: inline-flex; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-footer .step-progress-wrapper .progress-wrapper .progress-item:before {
            content: '';
            width: 14px;
            height: 14px;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            opacity: .7;
            background-color: #1fcd98; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-footer .step-progress-wrapper .progress-wrapper .progress-item.right-dotted:after {
            content: '';
            display: inline-block;
            width: 70px;
            height: 1px;
            vertical-align: middle;
            background-image: linear-gradient(to right, #c8cabc 3px, transparent 0%);
            background-size: 6px 1px;
            background-repeat: repeat-x; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-1 .step-footer .step-progress-wrapper .progress-wrapper .progress-item.active:before {
            opacity: 1; }
      html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-header {
        margin-bottom: 20px; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-header .form-group {
          width: 300px; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-header .form-group label.control-label {
            display: block;
            position: relative;
            padding: 7px 15px 0px 0px;
            font-weight: normal;
            font-size: 1.5rem; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-header .form-group label.control-label.required:after {
              content: "*";
              position: absolute;
              top: 0px;
              right: 0px;
              color: #f26d7e; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-header .form-group input {
            padding-left: 0px;
            border: none;
            border-bottom: 1px solid #c8cabc;
            box-shadow: none;
            border-radius: 0px;
            font-size: 1.2rem; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-header .form-group input::placeholder {
              color: #c8cabc; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-header .step-description {
          width: 250px;
          font-size: 1.5rem; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-header .terms-container {
          min-height: 30px; }
      html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body {
        margin-bottom: 20px; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row {
          margin-bottom: 30px; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-header {
            margin-bottom: 20px; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-header .from-name {
              margin: 0px;
              font-weight: bold;
              font-size: 2rem; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-header .items-found-wrapper {
              color: #737661;
              text-decoration: underline; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body {
            min-height: 50px; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list {
              transition: all .3s ease-out; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item {
                padding: 0px 18px; }
                html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper {
                  position: relative;
                  margin-bottom: 15px; }
                  html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .item-img {
                    width: 100%;
                    height: 150px; }
                  html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper aside.blog-duration {
                    position: absolute;
                    bottom: 8px;
                    right: 9px;
                    padding: 7px 20px;
                    z-index: auto;
                    background: rgba(227, 228, 220, 0.8);
                    border-radius: 10px;
                    font-size: 1.2rem;
                    line-height: 1.1; }
                  html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper aside.added-icon-wrapper {
                    display: none;
                    position: absolute;
                    top: 8px;
                    right: 9px;
                    z-index: 30;
                    border-radius: 50%;
                    line-height: 0;
                    background-color: white; }
                    html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper aside.added-icon-wrapper svg {
                      width: 20px;
                      vertical-align: middle; }
                      html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper aside.added-icon-wrapper svg path {
                        fill: #1fcd98; }
                      html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper aside.added-icon-wrapper svg.preview-icon, html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper aside.added-icon-wrapper svg.join-icon {
                        display: inline; }
                  html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    padding: 20px 20px 40px;
                    background-color: rgba(255, 255, 255, 0.9);
                    opacity: 0; }
                    html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content h4 {
                      margin: 0px 0px 15px;
                      font-weight: bold;
                      font-size: 1.7rem; }
                    html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content .footer-buttons {
                      position: absolute;
                      bottom: 0px;
                      left: 0px;
                      width: 100%; }
                      html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content .footer-buttons a {
                        display: block;
                        padding: 5px;
                        background-color: #1fcd98;
                        color: white;
                        text-align: center;
                        text-decoration: none; }
                        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content .footer-buttons a svg {
                          display: none;
                          width: 18px;
                          vertical-align: middle; }
                          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content .footer-buttons a svg path {
                            fill: white; }
                          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content .footer-buttons a svg.preview-icon, html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content .footer-buttons a svg.join-icon {
                            display: inline; }
                        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content .footer-buttons a:hover {
                          background-color: #1eb785; }
                      html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content .footer-buttons .flex-row .last-col {
                        margin-left: 2px; }
                  html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper:hover .hover-content {
                    opacity: 1; }
                html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item .item-title {
                  font-size: 1.5rem; }
                html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item.added-item .item-img-wrapper aside.added-icon-wrapper {
                  display: block; }
                html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item.added-item .item-img-wrapper .hover-content .footer-buttons a svg.join-icon {
                  display: none; }
                html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .search-items-list .search-item.added-item .item-img-wrapper .hover-content .footer-buttons a svg.added-icon {
                  display: inline; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .arrow-icon-wrapper {
              position: relative;
              top: 50px; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-body .search-container .search-row .search-row-body .flex-row .flex-col {
              overflow: hidden; }
      html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-footer .let-go-wrapper {
        max-width: 250px;
        margin: 0px auto 60px;
        text-align: center; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-footer .let-go-wrapper .next-step-des {
          margin-bottom: 10px; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-footer .let-go-wrapper .btn-wrapper .let-go-btn {
          display: inline-block;
          background-color: transparent;
          border: 1px solid #1fcd98;
          color: #737661;
          padding: 7px 20px;
          border-radius: 20px;
          font-size: 1.5rem;
          text-decoration: none; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-footer .let-go-wrapper .btn-wrapper .let-go-btn:focus {
            outline: none; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-footer .let-go-wrapper .btn-wrapper .let-go-btn:hover {
            background-color: #1fcd98;
            color: white; }
      html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-footer .step-progress-wrapper {
        max-width: 400px;
        margin: 0px auto 10px;
        text-align: center; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-footer .step-progress-wrapper .next-step-wrapper {
          margin-left: 280px;
          opacity: .7;
          text-align: left; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-footer .step-progress-wrapper .next-step-wrapper .next-step-name {
            font-size: 1.5rem; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-footer .step-progress-wrapper .progress-wrapper {
          display: inline-flex; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-footer .step-progress-wrapper .progress-wrapper .progress-item:before {
            content: '';
            width: 14px;
            height: 14px;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            opacity: .7;
            background-color: #1fcd98; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-footer .step-progress-wrapper .progress-wrapper .progress-item.right-dotted:after {
            content: '';
            display: inline-block;
            width: 70px;
            height: 1px;
            vertical-align: middle;
            background-image: linear-gradient(to right, #c8cabc 3px, transparent 0%);
            background-size: 6px 1px;
            background-repeat: repeat-x; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-2 .step-footer .step-progress-wrapper .progress-wrapper .progress-item.active:before {
            opacity: 1; }
      html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 {
        padding-bottom: 50px; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper {
          margin: 0px auto;
          padding: 60px 10px 50px; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .content-header {
            margin-bottom: 50px; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .content-header h3 {
              font-size: 1.7rem;
              font-weight: bold;
              margin: 0px 0px 15px; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .connect-account-wrapper {
            margin-bottom: 40px; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .connect-account-wrapper a {
              margin-right: 10px;
              text-decoration: none; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper {
            margin-bottom: 20px; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-name {
              margin-bottom: 10px;
              font-size: 1.5rem;
              font-weight: normal; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-name.percent-label {
                margin-bottom: 40px; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-name.affiliate-will-get-label {
                margin-bottom: 30px; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value {
              display: block;
              width: 100%;
              padding-left: 0px;
              border: none;
              border-bottom: 1px solid #c8cabc;
              box-shadow: none;
              border-radius: 0px;
              font-size: 1.5rem; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value:focus {
                outline: none; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value[disabled] {
                background-color: transparent; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value.you-will-get-value {
                color: #feba19;
                border-color: #feba19; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value.affiliate-will-get-value {
                color: #1fcd98;
                border-color: #1fcd98; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .c-switch .slider {
              background-color: #f6fffc; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider {
              width: 100%; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider .slider-track .slider-selection {
                background-image: none;
                background-color: yellow;
                box-shadow: none;
                box-sizing: border-box;
                border: 1px solid #cccccc; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider .slider-track .slider-track-high {
                background-color: white;
                box-shadow: none;
                box-sizing: border-box;
                border: 1px solid #cccccc; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider .slider-handle {
                width: 10px;
                margin-left: -5px;
                border-radius: 5px;
                background-color: #ccc;
                background-image: none; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col.toggle-col {
              width: 300px;
              margin-right: 20px; }
              html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col.toggle-col .get-payment-txt {
                color: #1fcd98; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .group-col.gets-col {
              margin-left: 20px;
              width: 110px; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .charge-series-wrapper .charge-content .group-row-wrapper .center-col {
              flex-basis: 300px; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .step-description {
          margin-top: 200px;
          margin-left: 100px;
          width: 250px;
          font-size: 1.5rem; }
        html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .button-wrapper {
          margin-top: 70px;
          text-align: center; }
          html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .button-wrapper .save-btn {
            background-color: #1fcd98;
            border: none;
            outline: none;
            color: white;
            display: block;
            width: 290px;
            margin: 0px auto;
            text-align: center;
            padding: 12px 5px;
            border-radius: 30px;
            font-size: 2rem;
            font-weight: lighter; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .button-wrapper .save-btn:hover {
              background-color: #1eb785; }
            html body .site-wrapper.page .site-content .create-series-content main.main-content .create-series-step-3 .button-wrapper .save-btn.small {
              display: inline-block;
              width: auto;
              padding: 10px 30px;
              font-size: 1.5rem; }
  html body .site-wrapper.page .site-content .after-adding-content {
    width: 1500px;
    max-width: 100%;
    margin: 0px auto;
    padding: 100px 75px 100px;
    text-align: left;
    opacity: 0;
    transition: all .3s ease-out; }
    html body .site-wrapper.page .site-content .after-adding-content .congratulations-wrapper h1 {
      margin: 0px 0px 5px;
      font-weight: bold; }
    html body .site-wrapper.page .site-content .after-adding-content .congratulations-wrapper .series-name-wrapper {
      font-size: 1.5rem; }
      html body .site-wrapper.page .site-content .after-adding-content .congratulations-wrapper .series-name-wrapper .series-name {
        font-weight: bold; }
    html body .site-wrapper.page .site-content .after-adding-content .series-item {
      margin-bottom: 50px; }
      html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header {
        margin-bottom: 15px; }
        html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .series-title {
          margin: 0px; }
        html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item {
          background-color: transparent;
          display: flex;
          line-height: 0;
          border-radius: 50%;
          border: 1px solid #1fcd98;
          height: 50px;
          width: 50px;
          box-sizing: border-box;
          justify-content: center;
          align-items: center; }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg {
            width: 25px;
            max-height: 25px; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg g {
              fill: #1fcd98 !important; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg path {
              fill: #1fcd98 !important; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg polygon {
              fill: #1fcd98; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg circle {
              fill: #1fcd98 !important; }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover {
            border-color: #1eb785; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover svg g, html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover svg path, html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover svg polygon, html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover svg circle {
              fill: #1eb785 !important; }
        html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-header .actions-container [data-toggle="collapse"] {
          border-width: 1px; }
      html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body {
        margin-bottom: 20px; }
        html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper {
          width: 22px;
          height: 48px;
          display: block;
          position: relative;
          top: 70px;
          opacity: .7; }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:before, html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:after {
            content: '';
            display: block;
            width: 40%;
            height: 50%;
            position: absolute;
            background-color: #c8cabc; }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:before {
            top: 0px; }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:after {
            bottom: 0px; }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper.arrow-left:before {
            right: 0px;
            transform-origin: top right;
            -ms-transform: skew(-30deg, 0deg);
            -webkit-transform: skew(-30deg, 0deg);
            transform: skew(-30deg, 0deg); }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper.arrow-left:after {
            right: 0px;
            transform-origin: bottom right;
            -ms-transform: skew(30deg, 0deg);
            -webkit-transform: skew(30deg, 0deg);
            transform: skew(30deg, 0deg); }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper.arrow-right:before {
            left: 0px;
            transform-origin: top left;
            -ms-transform: skew(30deg, 0deg);
            -webkit-transform: skew(30deg, 0deg);
            transform: skew(30deg, 0deg); }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper.arrow-right:after {
            left: 0px;
            transform-origin: bottom left;
            -ms-transform: skew(-30deg, 0deg);
            -webkit-transform: skew(-30deg, 0deg);
            transform: skew(-30deg, 0deg); }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:hover {
            opacity: 1; }
        html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list {
          max-width: 100%;
          min-height: 200px;
          transition: all .3s ease-out; }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item {
            padding: 0px 15px;
            font-size: 1.5rem; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header {
              margin-bottom: 10px; }
              html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .media-icon-wrapper i.fa {
                display: none;
                vertical-align: middle; }
              html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action {
                display: block;
                line-height: 0; }
                html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action svg {
                  width: 25px;
                  height: 25px; }
                  html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action svg g, html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action svg path {
                    fill: #c8cabc; }
                html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action.edit-action {
                  display: flex;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  border: 1px solid #c8cabc; }
                  html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action.edit-action svg {
                    width: 12px;
                    height: 12px; }
                html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action:hover svg g, html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action:hover svg path {
                  fill: #737661; }
                html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action:hover.edit-action {
                  border-color: #737661; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body {
              width: 100%;
              height: calc(100px + 3vw);
              position: relative;
              margin-bottom: 15px; }
              html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body .blog-type {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                overflow: hidden; }
                html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body .blog-type img {
                  width: 100%;
                  height: 100%; }
                html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body .blog-type.type-0 {
                  background-image: url("../../images/global-icons/audio-spectr.png");
                  background-position: center center;
                  background-repeat: no-repeat; }
              html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body aside.blog-duration {
                position: absolute;
                bottom: 8px;
                right: 9px;
                padding: 7px 20px;
                z-index: 1;
                background: rgba(227, 228, 220, 0.8);
                border-radius: 10px;
                font-size: 1.2rem;
                line-height: 1.1; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-series-wrapper .item-series {
              color: #c8cabc;
              text-decoration: underline #c8cabc; }
              html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-series-wrapper .item-series:hover {
                color: black;
                text-decoration-color: black; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-0 .item-header .media-icon-wrapper i.fa.audio-icon {
              display: initial;
              vertical-align: middle; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-2 .item-header .media-icon-wrapper i.fa.video-icon {
              display: initial;
              vertical-align: middle; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-7 .item-header .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-10 .item-header .media-icon-wrapper i.fa.text-icon {
              display: initial;
              vertical-align: middle; }
        html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper {
          margin-left: 20px; }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper {
            height: 148px;
            margin-bottom: 15px;
            border: 1px dashed #c8cabc;
            border-radius: 20px; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper svg {
              width: 45px;
              height: 45px; }
              html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper svg g, html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper svg path {
                fill: #c8cabc; }
          html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action {
            display: block;
            color: #c8cabc; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action svg {
              width: 30px;
              vertical-align: middle; }
              html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action svg g, html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action svg path {
                fill: #c8cabc !important; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action span {
              vertical-align: middle;
              text-decoration: underline;
              font-size: 1.2em; }
            html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action:hover {
              text-decoration: none;
              color: #737661; }
              html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action:hover svg g, html body .site-wrapper.page .site-content .after-adding-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action:hover svg path {
                fill: #737661 !important; }
      html body .site-wrapper.page .site-content .after-adding-content .series-item .add-helper {
        width: 190px;
        position: relative;
        margin-top: 65px;
        margin-left: 104px;
        padding-left: 5px;
        box-sizing: content-box; }
        html body .site-wrapper.page .site-content .after-adding-content .series-item .add-helper .helper-txt {
          font-size: 1.5rem; }
        html body .site-wrapper.page .site-content .after-adding-content .series-item .add-helper .helper-arrow-img {
          position: absolute;
          right: 100%;
          top: 5px; }
      html body .site-wrapper.page .site-content .after-adding-content .series-item .flex-row .flex-col {
        overflow: hidden; }
    html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper {
      padding: 0px 30px;
      border-radius: 30px;
      background-color: #f26d7e;
      color: white; }
      html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-content {
        position: relative;
        padding-left: 70px; }
        html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-content .invite-txt {
          margin: 0px 0px 5px;
          font-weight: bold;
          font-size: 1.7rem; }
        html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-content .to-add-txt {
          margin-bottom: 10px;
          font-size: 1.7rem; }
        html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-content .invite-friend-form {
          max-width: 450px; }
          html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper input {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid white;
            font-size: 1.5rem;
            background-color: transparent; }
            html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper input:focus {
              outline: none; }
            html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper input::placeholder {
              color: #c8cabc; }
          html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper button.btn {
            padding: 0px;
            background-color: transparent; }
            html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper button.btn svg {
              width: 30px; }
            html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper button.btn:focus {
              outline: none; }
        html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-content .plane-wrapper {
          position: absolute;
          left: 5px;
          bottom: 30px; }
          html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-content .plane-wrapper img {
            height: 150px; }
      html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-image-wrapper {
        margin: -164px 0px -10px; }
        html body .site-wrapper.page .site-content .after-adding-content .invite-friend-wrapper .invite-image-wrapper img {
          width: 315px; }
    html body .site-wrapper.page .site-content .after-adding-content .step-footer {
      text-align: center;
      margin-top: 70px; }
      html body .site-wrapper.page .site-content .after-adding-content .step-footer .button-wrapper {
        margin-bottom: 30px;
        text-align: center; }
        html body .site-wrapper.page .site-content .after-adding-content .step-footer .button-wrapper .create-new-btn {
          background-color: #1fcd98;
          border: none;
          outline: none;
          color: white;
          display: block;
          width: 290px;
          margin: 0px auto;
          text-align: center;
          padding: 12px 5px;
          border-radius: 30px;
          font-size: 2rem;
          font-weight: lighter; }
          html body .site-wrapper.page .site-content .after-adding-content .step-footer .button-wrapper .create-new-btn:hover {
            background-color: #1eb785; }
          html body .site-wrapper.page .site-content .after-adding-content .step-footer .button-wrapper .create-new-btn.small {
            display: inline-block;
            width: auto;
            padding: 10px 30px;
            font-size: 1.5rem; }
      html body .site-wrapper.page .site-content .after-adding-content .step-footer .to-change-txt {
        margin-bottom: 0px; }
      html body .site-wrapper.page .site-content .after-adding-content .step-footer .order-embed-txt {
        margin-bottom: 5px; }
      html body .site-wrapper.page .site-content .after-adding-content .step-footer .btn-wrapper .my-series-link {
        display: inline-block;
        background-color: transparent;
        border: 1px solid #1fcd98;
        color: #737661;
        padding: 7px 20px;
        border-radius: 20px;
        font-size: 1.5rem;
        text-decoration: none; }
        html body .site-wrapper.page .site-content .after-adding-content .step-footer .btn-wrapper .my-series-link:focus {
          outline: none; }
        html body .site-wrapper.page .site-content .after-adding-content .step-footer .btn-wrapper .my-series-link:hover {
          background-color: #1fcd98;
          color: white; }

.c-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-bottom: 0px;
  vertical-align: middle; }
  .c-switch input {
    display: none; }
  .c-switch input:checked + .slider {
    background-color: transparent;
    border-color: #feba19; }
    .c-switch input:checked + .slider:before {
      background-color: #feba19; }
  .c-switch input:focus + .slider {
    box-shadow: 0 0 1px #6bc069; }
  .c-switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  .c-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #c8cabc; }
    .c-switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: calc((100% - 20px) / 2);
      background-color: #c8cabc;
      -webkit-transition: .4s;
      transition: .4s; }
    .c-switch .slider.round {
      border-radius: 34px; }
      .c-switch .slider.round:before {
        border-radius: 50%; }

.select2-container .select2-selection--single {
  padding-top: 3px;
  height: 35px;
  border-color: #c8cabc; }
  .select2-container .select2-selection--single .select2-selection__arrow {
    top: 4px; }
  .select2-container .select2-selection--single span.select2-selection__rendered {
    font-size: 1.5rem;
    color: #737661; }
  .select2-container .select2-selection--single:focus {
    outline: none; }

.select2-results__option {
  font-size: 16px; }

/*# sourceMappingURL=create_series_pre-page.css.map */
