.site-wrapper.page {
  font-family: "EB Garamond", sans-serif; }
  .site-wrapper.page > .site-content {
    padding: 30px 50px; }
    .site-wrapper.page > .site-content > .content-wrapper {
      max-width: 1700px;
      margin: 0px auto;
      padding-top: 45px;
      position: relative;
      color: #7b7b7b; }
      .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration {
        position: absolute; }
      .site-wrapper.page > .site-content > .content-wrapper .decoration-container .top-left-rectangular {
        background-color: #7b7b7b;
        color: white;
        font-size: 22px;
        padding: 0px 150px 70px 25px;
        position: absolute;
        top: 0px;
        left: -30px;
        line-height: 52px; }
        .site-wrapper.page > .site-content > .content-wrapper .decoration-container .top-left-rectangular i.fa-caret-down {
          vertical-align: middle;
          font-size: 50px; }
      .site-wrapper.page > .site-content > .content-wrapper main.main-content {
        text-align: left;
        min-height: 700px;
        position: relative;
        padding: 50px 10px 0px;
        background-color: #f8f7f9; }
        .site-wrapper.page > .site-content > .content-wrapper main.main-content h2 {
          margin-bottom: 50px; }
        .site-wrapper.page > .site-content > .content-wrapper main.main-content ul {
          display: flex;
          list-style: none; }
          .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li {
            flex: 1;
            text-align: center;
            border-right: 1px dashed grey; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li a {
              color: grey;
              text-decoration: none; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li a .icon-wrapper img {
                opacity: .6;
                max-width: 250px;
                width: 70%; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li a .icon-label {
                margin-top: 20px;
                font-size: 25px; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li a:hover {
                color: black; }
                .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li a:hover .icon-wrapper img {
                  opacity: 1; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li:last-child {
              border-right: none; }

.my-lightbox {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(33, 33, 33, 0.5);
  z-index: 31;
  overflow: auto; }
  .my-lightbox .my-lightbox-inner-wrapper {
    position: absolute;
    background-color: white;
    text-align: center; }
    .my-lightbox .my-lightbox-inner-wrapper .my-lightbox-inner {
      max-height: 100%;
      overflow: auto; }
    .my-lightbox .my-lightbox-inner-wrapper button.close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 2em;
      color: black !important;
      margin: 0px;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      border: 2px solid black;
      opacity: .7;
      box-shadow: none;
      background-color: white; }
      .my-lightbox .my-lightbox-inner-wrapper button.close:hover {
        opacity: 1 !important; }
  @media only screen and (max-width: 991px) {
    .my-lightbox.open-status .my-lightbox-inner-wrapper {
      top: 2vh !important;
      right: 4vw !important;
      left: 4vw !important;
      bottom: 2vh !important; } }
  @media only screen and (max-width: 768px) {
    .my-lightbox.open-status .my-lightbox-inner-wrapper {
      top: 1vh !important;
      right: 2vw !important;
      left: 2vw !important;
      bottom: 1vh !important; } }

.after-clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*# sourceMappingURL=createYourExperience-page.css.map */
