.site-wrapper.page {
  font-family: "EB Garamond", sans-serif; }
  .site-wrapper.page > .site-content {
    padding: 30px 50px; }
    .site-wrapper.page > .site-content > .content-wrapper main.main-content {
      text-align: left;
      min-height: 700px;
      position: relative;
      padding: 50px 10px 0px;
      background-color: #f8f7f9; }
      .site-wrapper.page > .site-content > .content-wrapper main.main-content h2 {
        font-family: "EB Garamond", sans-serif;
        margin-top: 0px;
        margin-bottom: 20px; }
      .site-wrapper.page > .site-content > .content-wrapper main.main-content form {
        max-width: 1000px;
        margin: 0px auto; }
        .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul {
          list-style-type: decimal; }
          .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li {
            font-size: 1.8rem; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group label {
              font-weight: normal; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .form-control {
              font-size: 1.8rem; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .form-control:not(textarea) {
                height: auto; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .form-control[name="description"] {
                resize: vertical; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .recurring-wrapper .is-recurring-wrapper input {
              background-color: transparent;
              margin-top: 0px;
              vertical-align: middle;
              position: absolute;
              left: -9999px; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .recurring-wrapper .is-recurring-wrapper input:checked + label {
                color: black; }
                .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .recurring-wrapper .is-recurring-wrapper input:checked + label:before {
                  border-color: black;
                  transform: none; }
                .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .recurring-wrapper .is-recurring-wrapper input:checked + label:after {
                  font-size: .9em;
                  content: '\2714';
                  position: absolute;
                  right: 0.2em;
                  left: auto;
                  top: 7.5px;
                  width: 1em;
                  height: 1em;
                  color: black;
                  transform: scale(1); }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .recurring-wrapper .is-recurring-wrapper label {
              margin-bottom: 0px;
              color: grey;
              line-height: 1.1em;
              vertical-align: middle;
              position: relative;
              padding-right: 3em;
              padding-top: 0.3em;
              padding-bottom: 0.3em;
              cursor: pointer;
              font-weight: normal;
              height: auto; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .recurring-wrapper .is-recurring-wrapper label:before {
                content: '';
                position: absolute;
                right: 0px;
                left: auto;
                top: 2px;
                width: 2em;
                height: 1.5em;
                border: 2px solid grey; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .recurring-wrapper .recurring-type-wrapper label {
              width: auto; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .recurring-wrapper .recurring-type-wrapper select[name="recurring_type"].form-control {
              display: inline-block;
              width: auto; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .recurring-wrapper .once-every-wrapper input {
              width: auto;
              display: inline-block; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .cover-image-wrapper {
              max-width: 500px;
              margin: 10px auto 0px;
              padding-bottom: 20px;
              text-align: center;
              position: relative;
              border: 1px dashed grey;
              border-radius: 20px; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .cover-image-wrapper .img-wrapper {
                padding: 15px 0px; }
                .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .cover-image-wrapper .img-wrapper img {
                  max-width: 256px;
                  min-width: 150px;
                  opacity: .6; }
                  .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .cover-image-wrapper .img-wrapper img.touched {
                    opacity: 1; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .cover-image-wrapper input {
                position: absolute;
                display: block;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .datepicker {
              border: 1px solid #ccc;
              background-color: white; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .datepicker.datepicker-inline {
                display: inline-block;
                width: auto; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .datepicker table {
                border-collapse: separate;
                border-spacing: 5px; }
                .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .datepicker table tr th, .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .datepicker table tr td {
                  font-weight: normal; }
                  .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .datepicker table tr th .month, .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .datepicker table tr td .month {
                    color: #333;
                    font-size: 20px; }
                  .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .datepicker table tr th.active, .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .datepicker table tr td.active {
                    background-image: linear-gradient(#1bacff, #60CFFF); }
                .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .datepicker table tfoot {
                  display: none; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .daily-recurring .datepicker .datepicker-days table thead tr:last-child th {
              cursor: pointer;
              background-image: linear-gradient(#1bacff, #60CFFF);
              background-repeat: repeat-x;
              color: white; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .daily-recurring .datepicker .datepicker-days table thead tr:last-child th.omit {
                background-image: none;
                color: #999; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form ul li .form-group .once-every-wrapper {
              width: 396px; }
        .site-wrapper.page > .site-content > .content-wrapper main.main-content form footer {
          text-align: center;
          padding-bottom: 50px; }
          .site-wrapper.page > .site-content > .content-wrapper main.main-content form footer button {
            width: 300px;
            padding: 7px;
            font-size: 18px;
            border-radius: 20px;
            background: transparent;
            border: 2px solid #53d4ad;
            color: #53d4ad; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form footer button:hover {
              background: #53d4ad;
              color: white; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form footer button:focus {
              outline: none; }

/*# sourceMappingURL=createSingleEvent-page.css.map */
