@charset "UTF-8";
html body .site-wrapper.page .site-content .content-header {
  padding: 60px 70px 30px;
  background-color: #f6fffc;
  position: relative;
}
html body .site-wrapper.page .site-content .content-header .content-header-content {
  max-width: 100%;
  margin: 0px auto;
  text-align: left;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .title-wrapper .page-title {
  margin: 0px 0px 10px;
  font-weight: bold;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .title-wrapper .step-name {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .step-progress-wrapper {
  width: 830px;
  max-width: 100%;
  margin: 0px auto;
  padding-right: 30px;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper {
  display: flex;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item {
  position: relative;
  display: flex;
  align-items: center;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item .step-wrapper {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0px;
  min-width: 50px;
  opacity: 0;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  opacity: 0.7;
  background-color: #1fcd98;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item.right-dotted {
  flex-shrink: 1;
  min-width: 30px;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item.right-dotted:after {
  content: "";
  display: inline-block;
  width: 330px;
  max-width: calc(100% - 20px);
  height: 1px;
  vertical-align: middle;
  background-image: linear-gradient(to right, #c8cabc 3px, transparent 0%);
  background-size: 6px 1px;
  background-repeat: repeat-x;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item.active .step-wrapper {
  opacity: 1;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item.active:before {
  opacity: 1;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item:last-child:before {
  background-color: #f26d7e;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .posts-count-box {
  width: 80px;
  height: 80px;
  background-image: url("../../images/global-icons/box.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .posts-count-box .posts-count {
  position: relative;
  color: white;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .content-header .content-header-content .posts-count-box.last-step {
  background-image: url("../../images/global-icons/gift-box.svg");
}
html body .site-wrapper.page .site-content .content-header .content-header-content .posts-count-box.last-step .posts-count {
  display: none;
}
html body .site-wrapper.page .site-content .content-header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .content-header {
    padding: 50px 20px 20px;
  }
}
html body .site-wrapper.page .site-content .step-pane {
  width: 940px;
  max-width: 100%;
  margin: 0px auto;
  padding: 20px 20px 80px;
}
html body .site-wrapper.page .site-content .step-pane .pane-title {
  margin-bottom: 5px;
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #404040;
}
html body .site-wrapper.page .site-content .step-pane .pane-sub-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content .step-pane .select2.select2-container {
  width: 100% !important;
}
html body .site-wrapper.page .site-content .tab-pane {
  position: relative;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper {
  position: fixed;
  top: calc((100% - 250px) / 2);
  height: 250px;
  width: 160px;
  overflow: hidden;
  z-index: 80;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper .slider-nav {
  position: absolute;
  top: calc((100% - 250px) / 2);
  max-width: none;
  height: 250px;
  width: 250px;
  background-color: rgba(255, 224, 198, 0.6);
  border-radius: 50%;
  cursor: pointer;
  padding-left: 15px;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper .slider-nav span {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  position: relative;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper .slider-nav .arrow-icon-wrapper {
  height: 100px;
  width: 45px;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper .slider-nav .arrow-icon-wrapper:before, html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper .slider-nav .arrow-icon-wrapper:after {
  background-color: white;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper .slider-nav.arrow-left {
  right: 0px;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper .slider-nav.arrow-left .arrow-icon-wrapper {
  left: 10px;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper .slider-nav.arrow-left span {
  margin: 0px -85px 0px -15px;
  max-width: 140px;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper .slider-nav.arrow-right {
  justify-content: left;
  left: 0px;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper .slider-nav.arrow-right .arrow-icon-wrapper {
  right: 5px;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper .slider-nav:hover {
  background-color: rgba(255, 224, 198, 0.9);
  text-decoration: none;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper .slider-nav:hover .arrow-icon-wrapper {
  opacity: 1;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper.left-wrapper {
  left: 0px;
}
html body .site-wrapper.page .site-content .tab-pane .slider-nav-wrapper.right-wrapper {
  right: 0px;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item {
  display: block;
  min-height: 100%;
  padding: 30px 10px 20px;
  border-radius: 15px;
  color: white;
  box-shadow: 0px 7px 10px 7px rgba(0, 0, 0, 0.1);
  border: 10px solid transparent;
  background-clip: border-box;
  cursor: pointer;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item .item-img-wrapper .item-img {
  width: 100%;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item .item-title {
  font-size: 2rem;
  margin-bottom: 5px;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item .item-sub-title {
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item.item-from-scratch {
  background-color: #18898d;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item.item-from-scratch:hover {
  border-color: #1fcd98;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item.item-from-search {
  background-color: #f26d7e;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item.item-from-search .item-img-wrapper .item-img {
  width: 86%;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item.item-from-search:hover {
  border-color: #ffb2ce;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item.item-from-upload {
  background-color: #ffd75e;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item.item-from-upload .item-img-wrapper .item-img {
  width: 81%;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item.item-from-upload:hover {
  border-color: #fffc54;
}
html body .site-wrapper.page .site-content .step-1-select-from-pane .from-item:hover {
  box-shadow: none;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane .pane-sub-title {
  color: #404040;
  margin-top: 20px;
  margin-bottom: 30px;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane .identify-board {
  margin-bottom: 40px;
  padding: 30px 20px;
  background-color: #18898d;
  border-radius: 15px;
  border: 10px solid #1fcd98;
  color: white;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane .identify-board .board-img-wrapper {
  width: 250px;
  max-width: 100%;
  padding: 10px;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane .identify-board .board-img-wrapper img {
  width: 100%;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane .identify-board .board-img-wrapper .board-title {
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane .identify-board .board-txt {
  width: 330px;
  max-width: 100%;
  margin: 0px auto;
  font-size: 2rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form {
  display: block;
  width: 100%;
  text-align: left;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group label.control-label {
  display: block;
  position: relative;
  padding: 7px 15px 0px 0px;
  font-weight: normal;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group label.control-label.required:after {
  content: "*";
  position: absolute;
  top: 0px;
  right: 0px;
  color: #f26d7e;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group label.control-label.margin-bottom {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group label.control-label.margin-bottom-2 {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group input {
  padding-left: 0px;
  border: none;
  border-bottom: 1px solid #c8cabc;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group input::placeholder {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group input[name=strSeries_title] {
  max-width: 385px;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .dropdown {
  display: block;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .dropdown button {
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: inherit;
  border-radius: 9px;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .dropdown button span {
  display: inline-block;
  width: calc(100% - 20px);
  color: inherit;
  text-align: left;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .dropdown button svg {
  width: 15px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .dropdown button svg g, html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .dropdown button svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .dropdown button:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .dropdown ul {
  width: 100%;
  min-width: 0px;
  margin-top: 0px;
  border-top: 0px;
  border-radius: 9px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .dropdown ul li a {
  color: inherit;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .dropdown ul li a:hover {
  background-color: #737661;
  color: white;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .dropdown.open button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .cover-image-wrapper {
  margin: 10px 0px;
  padding: 50px 20px;
  text-align: center;
  position: relative;
  border: 1px dashed #c8cabc;
  border-radius: 20px;
  color: #c8cabc;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .cover-image-wrapper .img-wrapper img {
  max-width: 80px;
  opacity: 0.3;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .cover-image-wrapper input {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .form-group .terms-container {
  min-height: 30px;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .button-wrapper {
  margin-top: 70px;
  text-align: center;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .button-wrapper .save-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 290px;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .button-wrapper .save-btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .button-wrapper .save-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .note-editor .note-toolbar-wrapper {
  height: auto !important;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .note-editor .note-toolbar-wrapper .note-toolbar {
  position: static !important;
}
html body .site-wrapper.page .site-content .step-1-add-from-scratch-pane form .terms-container .term-item {
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane {
  width: 1000px;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .pane-sub-title {
  color: #404040;
  margin-top: 20px;
  margin-bottom: 30px;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .identify-board {
  margin-bottom: 40px;
  padding: 30px 20px;
  background-color: #f26d7e;
  border-radius: 15px;
  border: 10px solid #fcb09d;
  color: white;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .identify-board .board-img-wrapper {
  width: 250px;
  max-width: 100%;
  padding: 10px;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .identify-board .board-img-wrapper img {
  width: 100%;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .identify-board .board-img-wrapper .board-title {
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .identify-board .search-input-wrapper {
  width: 360px;
  max-width: 100%;
  margin: 0px auto;
  font-size: 2rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .identify-board .search-input-wrapper input {
  padding: 5px 0px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1.7rem;
  color: white;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .identify-board .search-input-wrapper input::placeholder {
  color: white;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .identify-board .search-input-wrapper input:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .identify-board .search-input-wrapper button.search-submit-button {
  border: none;
  background: none;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .identify-board .search-input-wrapper button.search-submit-button svg {
  width: 20px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .identify-board .search-input-wrapper button.search-submit-button:hover svg path {
  fill: #1eb785;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .identify-board .search-input-wrapper button.search-submit-button:focus {
  border: none;
  outline: none;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper {
  text-align: left;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .your-search-title {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row {
  margin-bottom: 30px;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-header {
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-header .from-name {
  margin: 0px;
  font-weight: bold;
  font-size: 2rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-header .items-found-wrapper {
  color: #737661;
  text-decoration: underline;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body {
  min-height: 50px;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list {
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item {
  padding: 0px 10px;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper {
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .item-img {
  width: 100%;
  height: 110px;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper aside.blog-duration {
  position: absolute;
  bottom: 8px;
  right: 9px;
  padding: 7px 20px;
  z-index: auto;
  background: rgba(227, 228, 220, 0.8);
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.1;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content svg {
  width: 100px;
  max-width: 100%;
  opacity: 0.3;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content svg g, html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .hover-content svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper:hover .hover-content {
  opacity: 1;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item .item-title {
  display: block;
  font-size: 1.5rem;
  color: #737661;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item.added-item .item-img-wrapper aside.added-icon-wrapper {
  display: block;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item.added-item .item-img-wrapper .hover-content {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item.added-item .item-img-wrapper .hover-content svg {
  opacity: 1;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .search-items-list .search-item .item-img-wrapper .item-img {
    width: 100%;
    height: 150px;
  }
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .arrow-icon-wrapper {
  position: relative;
  top: 50px;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .search-container .search-row .search-row-body .flex-row .flex-col {
  overflow: hidden;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .button-wrapper {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .button-wrapper .add-selected-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 290px;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .button-wrapper .add-selected-btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .button-wrapper .add-selected-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .button-wrapper .preview-post {
  display: inline-block;
  margin-top: 5px;
  color: #737661;
  text-decoration: none;
  padding-bottom: 1px;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .button-wrapper .preview-post:hover {
  color: black;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .still-not-find-txt {
  margin-bottom: 10px;
  text-align: center;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .btn-wrapper {
  text-align: center;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .btn-wrapper .load-more-btn {
  background-color: transparent;
  border: 1px solid #1fcd98;
  color: #737661;
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .btn-wrapper .load-more-btn:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .step-1-add-from-search-pane .search-section-wrapper .btn-wrapper .load-more-btn:hover {
  background-color: #1fcd98;
  color: white;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane {
  width: 1000px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-sub-title {
  color: #404040;
  margin-top: 20px;
  margin-bottom: 30px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board {
  margin-bottom: 40px;
  padding: 30px 20px;
  background-color: #ffda72;
  border-radius: 15px;
  border: 10px solid #fffc54;
  color: white;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .board-img-wrapper {
  width: 250px;
  max-width: 100%;
  padding: 10px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .board-img-wrapper img {
  width: 100%;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .board-img-wrapper .board-title {
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper {
  width: 440px;
  max-width: 100%;
  margin: 0px auto;
  border: 2px dashed white;
  border-radius: 15px;
  padding: 15px 10px 10px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .file-input-wrapper {
  position: relative;
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .file-input-wrapper .drag-urls-txt {
  width: 330px;
  max-width: 100%;
  margin: 0px auto 10px;
  font-size: 1.8rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .file-input-wrapper .cloud-wrapper {
  text-align: center;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .file-input-wrapper .cloud-wrapper svg {
  width: 60px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .file-input-wrapper input.file-input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  cursor: pointer;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .url-input-wrapper {
  position: relative;
  width: 90%;
  margin: 0px auto;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .url-input-wrapper .enter-icon-wrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 30px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .url-input-wrapper .enter-icon-wrapper svg {
  width: 20px;
  height: 20px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .url-input-wrapper .enter-icon-wrapper svg g, html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .url-input-wrapper .enter-icon-wrapper svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .url-input-wrapper input {
  width: 100%;
  color: #737661;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .url-input-wrapper input::placeholder {
  color: #737661;
  font-weight: bold;
  letter-spacing: 1px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board .upload-input-wrapper .url-input-wrapper input:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .identify-board.drag-over .upload-input-wrapper {
  border-style: solid;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body {
  margin-bottom: 30px;
  text-align: left;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .upload-items-title-wrapper {
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .upload-items-title-wrapper .uploaded-items-txt {
  margin: 0px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .drag-title-wrapper {
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .drag-title-wrapper img {
  width: 30px;
  vertical-align: middle;
  opacity: 0.7;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .drag-title-wrapper span {
  margin-left: 5px;
  font-size: 1.5rem;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container {
  min-height: 300px;
  padding: 20px 30px;
  border: 1px dashed #c8cabc;
  border-radius: 10px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-action {
  display: block;
  line-height: 0;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-action svg {
  width: 25px;
  height: 25px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-action svg g, html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-action svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-action.edit-action {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #c8cabc;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-action.edit-action svg {
  width: 12px;
  height: 12px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-action:hover svg g, html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-action:hover svg path {
  fill: #737661;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-action:hover.edit-action {
  border-color: #737661;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-img-wrapper {
  flex-basis: 90px;
  text-align: center;
  opacity: 1;
  position: relative;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-img-wrapper img {
  cursor: move;
  width: 87px;
  max-height: 70px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-img-wrapper .image-input {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .edit-col {
  margin-right: 0px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .form-group {
  margin-bottom: 0px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .form-group input {
  padding-left: 0px;
  border: none;
  border-bottom: 1px solid #c8cabc;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .form-group input::placeholder {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .form-group input[name=strSeries_title] {
  max-width: 385px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .site-green-btn {
  font-size: 1.5rem;
  padding: 7px 30px;
  position: relative;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .site-green-btn:after {
  content: "";
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: calc((100% - 30px) / 2);
  background-image: url("../../../assets/images/global-icons/check_arrow_2.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .site-green-btn.active:after {
  display: block;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .data-generate-col {
  display: none;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item.can-convert .data-generate-col {
  display: block;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-footer {
  text-align: center;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-footer .button-wrapper {
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-footer .button-wrapper .save-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 290px;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-footer .button-wrapper .save-btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-footer .button-wrapper .save-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-footer .button-wrapper .save-btn[disabled] {
  opacity: 0;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-footer .changed-txt {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-footer .btn-wrapper .cancel-all-btn {
  background-color: transparent;
  border: 1px solid #1fcd98;
  color: #737661;
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-footer .btn-wrapper .cancel-all-btn:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-footer .btn-wrapper .cancel-all-btn:hover {
  background-color: #1fcd98;
  color: white;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container {
    min-height: 300px;
    padding: 20px 10px;
    border: none;
  }
  html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item {
    margin-bottom: 15px;
  }
  html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-img-wrapper {
    flex-basis: 90px;
    text-align: center;
    opacity: 1;
    position: relative;
  }
  html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-img-wrapper img {
    cursor: move;
    width: 87px;
    max-height: 70px;
  }
  html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .item-img-wrapper .image-input {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .edit-col {
    margin-right: 0px;
  }
  html body .site-wrapper.page .site-content .step-1-add-from-upload-pane .pane-body .items-container .upload-term-item .file-type {
    width: 100px;
    overflow: hidden;
  }
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .from-item {
  display: block;
  min-height: 100%;
  padding: 30px 10px 20px;
  border-radius: 15px;
  color: white;
  box-shadow: 0px 7px 10px 7px rgba(0, 0, 0, 0.1);
  border: 10px solid transparent;
  background-clip: border-box;
  cursor: pointer;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .from-item .item-img-wrapper .item-img {
  width: 100%;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .from-item .item-title {
  font-size: 2rem;
  margin-bottom: 5px;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .from-item .item-sub-title {
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .from-item.item-from-scratch {
  background-color: #18898d;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .from-item.item-from-scratch:hover {
  border-color: #1fcd98;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .from-item.item-from-search {
  background-color: #f26d7e;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .from-item.item-from-search:hover {
  border-color: #ffb2ce;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .from-item.item-from-upload {
  background-color: #ffd75e;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .from-item.item-from-upload:hover {
  border-color: #fffc54;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .from-item:hover {
  box-shadow: none;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .button-wrapper {
  margin-top: 70px;
  text-align: center;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .button-wrapper .go-next-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 290px;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .button-wrapper .go-next-btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .step-1-add-more-pane .button-wrapper .go-next-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-2-arrange-pane {
  width: 1100px;
}
html body .site-wrapper.page .site-content .step-2-arrange-pane .posts-structure-component {
  margin-top: 20px;
}
html body .site-wrapper.page .site-content .step-2-arrange-pane .pane-footer {
  text-align: center;
}
html body .site-wrapper.page .site-content .step-2-arrange-pane .pane-footer .button-wrapper {
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}
html body .site-wrapper.page .site-content .step-2-arrange-pane .pane-footer .button-wrapper .save-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 290px;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
}
html body .site-wrapper.page .site-content .step-2-arrange-pane .pane-footer .button-wrapper .save-btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .step-2-arrange-pane .pane-footer .button-wrapper .save-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-2-arrange-pane .pane-footer .still-not-find-txt {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content .step-2-arrange-pane .pane-footer .btn-wrapper .load-more-btn {
  background-color: transparent;
  border: 1px solid #1fcd98;
  color: #737661;
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-2-arrange-pane .pane-footer .btn-wrapper .load-more-btn:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .step-2-arrange-pane .pane-footer .btn-wrapper .load-more-btn:hover {
  background-color: #1fcd98;
  color: white;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane {
  width: 1000px;
  text-align: left;
  padding-top: 40px;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .identify-board {
  margin-bottom: 80px;
  color: white;
  background-color: #fedb73;
  padding: 10px 20px 0px;
  text-align: center;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .identify-board .ready-finish-title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .identify-board .board-img-wrapper img {
  width: 670px;
  max-width: 100%;
  margin-bottom: -35px;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group {
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group label.control-label {
  display: block;
  position: relative;
  padding: 7px 15px 0px 0px;
  font-weight: normal;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group label.control-label.required:after {
  content: "*";
  position: absolute;
  top: 0px;
  right: 0px;
  color: #f26d7e;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group input {
  padding-left: 0px;
  border: none;
  border-bottom: 1px solid #c8cabc;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group input::placeholder {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group input[name=strSeries_title] {
  max-width: 385px;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group .public-value-txt {
  margin-left: 10px;
  color: #1fcd98;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group .day-item {
  margin-right: 10px;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group .day-item input {
  background-color: transparent;
  margin-top: 0px;
  vertical-align: middle;
  position: absolute;
  left: -9999px;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group .day-item input:checked + label {
  color: black;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group .day-item input:checked + label:before {
  border-color: black;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group .day-item input:checked + label:after {
  font-size: 0.9em;
  content: "✔";
  position: absolute;
  right: 0em;
  top: 0em;
  width: 1em;
  height: 1em;
  color: black;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group .day-item label {
  color: #737661;
  font-size: 18px;
  line-height: 1.1em;
  vertical-align: middle;
  position: relative;
  padding-right: 1.5em;
  cursor: pointer;
  font-weight: normal;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group .day-item label:before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1em;
  height: 1em;
  border: 1px solid #c8cabc;
  border-radius: 2px;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group .day-item {
    margin-bottom: 10px;
  }
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group .cover-image-wrapper {
  margin: 10px 0px;
  padding: 50px 20px;
  text-align: center;
  position: relative;
  border: 1px dashed #c8cabc;
  border-radius: 20px;
  color: #c8cabc;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group .cover-image-wrapper .img-wrapper img {
  max-width: 80px;
  opacity: 0.3;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .form-group .cover-image-wrapper input {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .multi-line-background textarea::placeholder {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .multi-line-background textarea:valid {
  outline: none;
  border-color: #d4d6c9;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .button-wrapper {
  margin-top: 60px;
  text-align: center;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .button-wrapper .save-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 290px;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .button-wrapper .save-btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .step-3-create-series-pane .button-wrapper .save-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane {
  width: 1000px;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .pane-title {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .pane-sub-title {
  margin-bottom: 40px;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .set-item {
  display: block;
  min-height: 100%;
  padding: 30px 10px 10px;
  border-radius: 15px;
  color: white;
  box-shadow: 0px 7px 10px 7px rgba(0, 0, 0, 0.1);
  border: 10px solid transparent;
  background-clip: border-box;
  cursor: pointer;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .set-item .item-img-wrapper .item-img {
  width: 100%;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .set-item .item-title {
  font-size: 2rem;
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .set-item .item-sub-title {
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .set-item.item-invite {
  background-color: #18898d;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .set-item.item-invite:hover {
  border-color: #1fcd98;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .set-item.item-share {
  background-color: #f26d7e;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .set-item.item-share .item-img-wrapper .item-img {
  width: 75%;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .set-item.item-share:hover {
  border-color: #ffb2ce;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .set-item.item-charge {
  background-color: #ffd75e;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .set-item.item-charge:hover {
  border-color: #fffc54;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .set-item:hover {
  box-shadow: none;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .button-wrapper {
  margin-top: 70px;
  text-align: center;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .button-wrapper .go-next-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 480px;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .button-wrapper .go-next-btn:hover {
  background-color: #1eb785;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .button-wrapper .go-next-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .actually-link-wrapper {
  margin-top: 20px;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .actually-link-wrapper .actually-link {
  color: #1fcd98;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-4-select-set-pane .actually-link-wrapper .actually-link:hover {
  text-decoration: none;
  color: #1eb785;
}
html body .site-wrapper.page .site-content .step-charge-pane {
  width: 1300px;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper {
  margin: 0px auto;
  padding: 60px 10px 50px;
  text-align: left;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .connect-account-wrapper {
  margin-bottom: 40px;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .connect-account-wrapper a {
  margin-right: 10px;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper {
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-name {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: normal;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-name.percent-label {
  margin-bottom: 40px;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-name.affiliate-will-get-label {
  margin-bottom: 30px;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value {
  display: block;
  width: 100%;
  padding-left: 0px;
  border: none;
  border-bottom: 1px solid #c8cabc;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value[disabled] {
  background-color: transparent;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value.you-will-get-value {
  color: #feba19;
  border-color: #feba19;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value.affiliate-will-get-value {
  color: #1fcd98;
  border-color: #1fcd98;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .c-switch .slider {
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider {
  width: 100%;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider .slider-track .slider-selection {
  background-image: none;
  background-color: yellow;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider .slider-track .slider-track-high {
  background-color: white;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider .slider-handle {
  width: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #ccc;
  background-image: none;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col.toggle-col {
  width: 300px;
  margin-right: 20px;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col.toggle-col .get-payment-txt {
  color: #1fcd98;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .group-col.gets-col {
  margin-left: 20px;
  width: 110px;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .charge-content .group-row-wrapper .center-col {
  flex-basis: 200px;
}
html body .site-wrapper.page .site-content .step-charge-pane .charge-series-wrapper .step-description {
  width: 230px;
  margin-left: 100px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-charge-pane .button-wrapper {
  margin-top: 70px;
  text-align: center;
}
html body .site-wrapper.page .site-content .step-charge-pane .button-wrapper .go-next-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 480px;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-charge-pane .button-wrapper .go-next-btn:hover {
  background-color: #1eb785;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-charge-pane .button-wrapper .go-next-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-charge-pane .actually-link-wrapper {
  margin-top: 20px;
}
html body .site-wrapper.page .site-content .step-charge-pane .actually-link-wrapper .actually-link {
  color: #1fcd98;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-charge-pane .actually-link-wrapper .actually-link:hover {
  text-decoration: none;
  color: #1eb785;
}
html body .site-wrapper.page .site-content .step-invite-pane {
  width: 1300px;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0px 30px;
  border-radius: 30px;
  background-color: #f26d7e;
  text-align: left;
  color: white;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-content {
  position: relative;
  padding-left: 70px;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-content .invite-txt {
  margin: 0px 0px 5px;
  font-weight: bold;
  font-size: 1.7rem;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-content .to-add-txt {
  margin-bottom: 10px;
  font-size: 1.7rem;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-content .invite-friend-form {
  max-width: 450px;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1.5rem;
  background-color: transparent;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper input:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper input::placeholder {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper button.btn {
  padding: 0px;
  background-color: transparent;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper button.btn svg {
  width: 30px;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper button.btn:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-content .plane-wrapper {
  position: absolute;
  left: 5px;
  bottom: 30px;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-content .plane-wrapper img {
  height: 150px;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-image-wrapper {
  margin: -164px 0px -10px;
}
html body .site-wrapper.page .site-content .step-invite-pane .invite-friend-wrapper .invite-image-wrapper img {
  width: 315px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper {
  text-align: left;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .form-group label.control-label {
  display: block;
  position: relative;
  padding: 7px 15px 0px 0px;
  font-weight: normal;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .form-group label.control-label.required:after {
  content: "*";
  position: absolute;
  top: 0px;
  right: 0px;
  color: #f26d7e;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .form-group label.control-label.margin-bottom {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .form-group label.control-label.margin-bottom-2 {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .form-group input {
  padding-left: 0px;
  border: none;
  border-bottom: 1px solid #c8cabc;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .form-group input::placeholder {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .form-group input[name=strSeries_title] {
  max-width: 385px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .c-switch {
  width: 200px;
  height: 30px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .c-switch input:checked + .slider {
  border-color: #c8cabc;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .c-switch input:checked + .slider:before {
  background-color: #c8cabc !important;
  -webkit-transform: translateX(calc(200px - 95px - 10px));
  -ms-transform: translateX(calc(200px - 95px - 10px));
  transform: translateX(calc(200px - 95px - 10px));
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .c-switch input:checked ~ .value-text-wrapper .value-txt.accepted-txt {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .c-switch input:checked ~ .value-text-wrapper .value-txt.invited-txt {
  color: white;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .c-switch .value-text-wrapper {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .c-switch .value-text-wrapper .value-txt {
  font-size: 1.2rem;
  color: #c8cabc;
  font-weight: normal;
  transition: all 0.4s ease;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .c-switch .value-text-wrapper .value-txt.accepted-txt {
  margin-right: 50px;
  color: white;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .c-switch .value-text-wrapper .value-txt.invited-txt {
  position: relative;
  right: 7px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .c-switch .slider {
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .c-switch .slider:before {
  width: 95px;
  border-radius: 15px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container {
  max-width: 100%;
  min-height: 200px;
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .owner-item {
  padding: 0px 15px;
  font-size: 1.5rem;
  flex-basis: calc(100% / 4);
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .owner-item .item-header {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .owner-item .item-header .item-action {
  display: block;
  line-height: 0;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .owner-item .item-header .item-action svg {
  width: 25px;
  height: 25px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .owner-item .item-header .item-action svg g, html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .owner-item .item-header .item-action svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .owner-item .item-header .item-action.edit-action {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #c8cabc;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .owner-item .item-header .item-action.edit-action svg {
  width: 12px;
  height: 12px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .owner-item .item-header .item-action:hover svg g, html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .owner-item .item-header .item-action:hover svg path {
  fill: #737661;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .owner-item .item-header .item-action:hover.edit-action {
  border-color: #737661;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .owner-item .item-img-wrapper {
  width: 100%;
  height: calc(130px + 3vw);
  position: relative;
  margin-bottom: 15px;
  background-image: url("../../images/global-icons/user-avatar.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .add-friend-card {
  padding: 35px 15px 0px;
  font-size: 1.5rem;
  flex-basis: calc(100% / 4);
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .add-friend-card .add-friend-inner {
  width: 100%;
  height: calc(130px + 3vw);
  padding: 15px;
  border: 1px dashed #c8cabc;
  border-radius: 15px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .add-friend-card .add-friend-inner .input-wrapper {
  position: relative;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .add-friend-card .add-friend-inner .input-wrapper .enter-icon-wrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 30px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .add-friend-card .add-friend-inner .input-wrapper .enter-icon-wrapper svg {
  width: 20px;
  height: 20px;
}
html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .add-friend-card .add-friend-inner .input-wrapper .enter-icon-wrapper svg g, html body .site-wrapper.page .site-content .step-invite-pane .co-owners-wrapper .owners-container .add-friend-card .add-friend-inner .input-wrapper .enter-icon-wrapper svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content .step-invite-pane .button-wrapper {
  margin-top: 70px;
  text-align: center;
}
html body .site-wrapper.page .site-content .step-invite-pane .button-wrapper .go-next-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 480px;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-invite-pane .button-wrapper .go-next-btn:hover {
  background-color: #1eb785;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-invite-pane .button-wrapper .go-next-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-invite-pane .actually-link-wrapper {
  margin-top: 20px;
}
html body .site-wrapper.page .site-content .step-invite-pane .actually-link-wrapper .actually-link {
  color: #1fcd98;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-invite-pane .actually-link-wrapper .actually-link:hover {
  text-decoration: none;
  color: #1eb785;
}
html body .site-wrapper.page .site-content .step-share-pane {
  width: 1300px;
}
html body .site-wrapper.page .site-content .step-share-pane .share-icons-wrapper {
  margin: 100px 0px 10px;
}
html body .site-wrapper.page .site-content .step-share-pane .share-icons-wrapper .share-item {
  display: block;
  line-height: 0;
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content .step-share-pane .share-icons-wrapper .share-item svg {
  width: 200px;
  height: 200px;
}
html body .site-wrapper.page .site-content .step-share-pane .button-wrapper {
  margin-top: 70px;
  text-align: center;
}
html body .site-wrapper.page .site-content .step-share-pane .button-wrapper .go-next-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 480px;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-share-pane .button-wrapper .go-next-btn:hover {
  background-color: #1eb785;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .step-share-pane .button-wrapper .go-next-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-share-pane .actually-link-wrapper {
  margin-top: 20px;
}
html body .site-wrapper.page .site-content .step-share-pane .actually-link-wrapper .actually-link {
  color: #1fcd98;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .step-share-pane .actually-link-wrapper .actually-link:hover {
  text-decoration: none;
  color: #1eb785;
}
html body .site-wrapper.page .site-content .step-0-membership-charge-pane {
  width: 1200px;
  box-sizing: border-box;
}
html body .site-wrapper.page .site-content .step-0-membership-charge-pane .pane-content {
  padding: 50px;
  border: 15px solid #afd0ff;
  border-radius: 10px;
  background-color: #829bff;
}
html body .site-wrapper.page .site-content .step-0-membership-charge-pane .pane-content .pane-image img {
  max-width: 100%;
}
html body .site-wrapper.page .site-content .step-0-membership-charge-pane .pane-content .pane-main .pane-description {
  margin-bottom: 51px;
  font-size: 30px;
  color: white;
}
html body .site-wrapper.page .site-content .step-0-membership-charge-pane .pane-content .pane-main .yes-no-wrap .btn {
  margin: 5px 30px;
  padding: 20px 50px;
  background-color: #20cd98;
  font-size: 30px;
  color: white;
  border-radius: 40px;
}
html body .site-wrapper.page .site-content .step-0-membership-charge-pane .pane-content .pane-main .yes-no-wrap .btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .step-0-membership-charge-pane .pane-content .pane-main .yes-no-wrap .btn:focus {
  outline: none;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .step-0-membership-charge-pane .pane-content {
    padding: 25px;
    border-width: 5px;
  }
  html body .site-wrapper.page .site-content .step-0-membership-charge-pane .pane-content .pane-main .pane-description {
    margin-bottom: 30px;
    font-size: 25px;
  }
  html body .site-wrapper.page .site-content .step-0-membership-charge-pane .pane-content .pane-main .yes-no-wrap .btn {
    margin: 5px 10px;
    padding: 10px 30px;
    font-size: 30px;
    color: white;
    border-radius: 30px;
  }
}
html body .site-wrapper.page .site-content .step-0-charge-type-pane {
  width: 1200px;
  box-sizing: border-box;
}
html body .site-wrapper.page .site-content .step-0-charge-type-pane .pane-content {
  padding: 50px;
  border: 15px solid #afd0ff;
  border-radius: 10px;
  background-color: #829bff;
}
html body .site-wrapper.page .site-content .step-0-charge-type-pane .pane-content .pane-image img {
  max-width: 100%;
}
html body .site-wrapper.page .site-content .step-0-charge-type-pane .pane-content .pane-main .pane-description {
  margin-bottom: 51px;
  font-size: 30px;
  color: white;
}
html body .site-wrapper.page .site-content .step-0-charge-type-pane .pane-content .pane-main .btn__wrap .btn {
  margin: 5px 30px;
  padding: 15px 30px;
  background-color: #20cd98;
  font-size: 30px;
  color: white;
  border-radius: 40px;
}
html body .site-wrapper.page .site-content .step-0-charge-type-pane .pane-content .pane-main .btn__wrap .btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .step-0-charge-type-pane .pane-content .pane-main .btn__wrap .btn:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .step-0-charge-type-pane .pane-content .pane-main .btn__wrap .btn .great__text {
  font-size: 15px;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .step-0-charge-type-pane .pane-content {
    padding: 25px;
    border-width: 5px;
  }
  html body .site-wrapper.page .site-content .step-0-charge-type-pane .pane-content .pane-main .pane-description {
    margin-bottom: 30px;
    font-size: 25px;
  }
  html body .site-wrapper.page .site-content .step-0-charge-type-pane .pane-content .pane-main .btn__wrap .btn {
    margin: 5px 10px;
    padding: 10px 30px;
    font-size: 30px;
    color: white;
    border-radius: 30px;
  }
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane {
  width: 1200px;
  box-sizing: border-box;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content {
  padding: 0px 50px;
  border: 15px solid #afd0ff;
  border-radius: 10px;
  background-color: #829bff;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-image {
  width: 400px;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main {
  padding: 50px 0px;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .pane-description {
  margin-bottom: 60px;
  font-size: 30px;
  color: white;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .value-wrap {
  width: 350px;
  margin: 20px auto;
  color: white;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .value-wrap .end-value {
  font-size: 20px;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .value-wrap .slider {
  width: 100%;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .value-wrap .slider .slider-track .slider-selection {
  background-image: none;
  background-color: #6ad19f;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .value-wrap .slider .slider-track .slider-track-high {
  background-color: white;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .value-wrap .slider .tooltip-main {
  opacity: 1 !important;
  margin-top: -55px;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .value-wrap .slider .tooltip-main .tooltip-inner {
  background-color: transparent;
  color: white;
  font-size: 35px;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .value-wrap .slider .tooltip-main .tooltip-inner:before {
  display: inline;
  content: "$";
  font-size: 35px;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .value-wrap .slider .tooltip-main .tooltip-arrow {
  display: none !important;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .value-wrap .slider .slider-handle {
  width: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #ccc;
  background-image: none;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .next-wrap .btn {
  margin: 0px 30px;
  padding: 20px 50px;
  background-color: #20cd98;
  font-size: 30px;
  color: white;
  border-radius: 40px;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .next-wrap .btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .next-wrap .btn:focus {
  outline: none;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content {
    padding: 25px;
    border-width: 5px;
  }
  html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-image {
    width: 100%;
  }
  html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .pane-description {
    margin-bottom: 50px;
    font-size: 25px;
  }
  html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .value-wrap {
    width: 100%;
    margin: 20px auto;
    color: white;
  }
  html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .value-wrap .end-value {
    font-size: 20px;
  }
  html body .site-wrapper.page .site-content .step-0-onetime-value-pane .pane-content .pane-main .next-wrap .btn {
    margin: 5px 10px;
    padding: 10px 30px;
    font-size: 30px;
    color: white;
    border-radius: 30px;
  }
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane {
  width: 1200px;
  box-sizing: border-box;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content {
  padding: 0px 50px;
  border: 15px solid #afd0ff;
  border-radius: 10px;
  background-color: #829bff;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-image {
  width: 400px;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main {
  padding: 50px 0px;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .pane-description {
  margin-bottom: 60px;
  font-size: 30px;
  color: white;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .value-wrap {
  width: 350px;
  margin: 20px auto;
  color: white;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .value-wrap .end-value {
  font-size: 20px;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .value-wrap .slider {
  width: 100%;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .value-wrap .slider .slider-track .slider-selection {
  background-image: none;
  background-color: #6ad19f;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .value-wrap .slider .slider-track .slider-track-high {
  background-color: white;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .value-wrap .slider .tooltip-main {
  opacity: 1 !important;
  margin-top: -55px;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .value-wrap .slider .tooltip-main .tooltip-inner {
  background-color: transparent;
  color: white;
  font-size: 35px;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .value-wrap .slider .tooltip-main .tooltip-inner:before {
  display: inline;
  content: "$";
  font-size: 35px;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .value-wrap .slider .tooltip-main .tooltip-arrow {
  display: none !important;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .value-wrap .slider .slider-handle {
  width: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #ccc;
  background-image: none;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .next-wrap .btn {
  margin: 0px 30px;
  padding: 20px 50px;
  background-color: #20cd98;
  font-size: 30px;
  color: white;
  border-radius: 40px;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .next-wrap .btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .next-wrap .btn:focus {
  outline: none;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content {
    padding: 25px;
    border-width: 5px;
  }
  html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-image {
    width: 100%;
  }
  html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .pane-description {
    margin-bottom: 50px;
    font-size: 25px;
  }
  html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .value-wrap {
    width: 100%;
    margin: 20px auto;
    color: white;
  }
  html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .value-wrap .end-value {
    font-size: 20px;
  }
  html body .site-wrapper.page .site-content .step-0-membership-value-pane .pane-content .pane-main .next-wrap .btn {
    margin: 5px 10px;
    padding: 10px 30px;
    font-size: 30px;
    color: white;
    border-radius: 30px;
  }
}
html body .site-wrapper.page .site-content .step-0-affiliate-charge-pane {
  width: 1200px;
  box-sizing: border-box;
}
html body .site-wrapper.page .site-content .step-0-affiliate-charge-pane .pane-content {
  padding: 50px;
  border: 15px solid #afd0ff;
  border-radius: 10px;
  background-color: #829bff;
}
html body .site-wrapper.page .site-content .step-0-affiliate-charge-pane .pane-content .pane-image img {
  max-width: 100%;
}
html body .site-wrapper.page .site-content .step-0-affiliate-charge-pane .pane-content .pane-main .pane-description {
  margin-bottom: 51px;
  font-size: 30px;
  color: white;
}
html body .site-wrapper.page .site-content .step-0-affiliate-charge-pane .pane-content .pane-main .yes-no-wrap .btn {
  margin: 0px 30px;
  padding: 20px 50px;
  background-color: #20cd98;
  font-size: 30px;
  color: white;
  border-radius: 40px;
}
html body .site-wrapper.page .site-content .step-0-affiliate-charge-pane .pane-content .pane-main .yes-no-wrap .btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .step-0-affiliate-charge-pane .pane-content .pane-main .yes-no-wrap .btn:focus {
  outline: none;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .step-0-affiliate-charge-pane .pane-content {
    padding: 25px;
    border-width: 5px;
  }
  html body .site-wrapper.page .site-content .step-0-affiliate-charge-pane .pane-content .pane-main .pane-description {
    margin-bottom: 30px;
    font-size: 25px;
  }
  html body .site-wrapper.page .site-content .step-0-affiliate-charge-pane .pane-content .pane-main .yes-no-wrap .btn {
    margin: 5px 10px;
    padding: 10px 30px;
    font-size: 30px;
    color: white;
    border-radius: 30px;
  }
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane {
  width: 1200px;
  box-sizing: border-box;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content {
  padding: 50px;
  border: 15px solid #afd0ff;
  border-radius: 10px;
  background-color: #829bff;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-image img {
  max-width: 100%;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .pane-description {
  margin-bottom: 60px;
  font-size: 30px;
  color: white;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .value-wrap {
  width: 350px;
  margin: 20px auto 40px;
  color: white;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .value-wrap .end-value-wrap {
  margin-bottom: -30px;
  font-size: 25px;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .value-wrap .end-value-wrap .end-value {
  font-size: 40px;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .value-wrap .slider {
  width: 100%;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .value-wrap .slider .slider-track .slider-selection {
  background-image: none;
  background-color: #6ad19f;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .value-wrap .slider .slider-track .slider-track-high {
  background-color: white;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .value-wrap .slider .tooltip-main {
  display: none !important;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .value-wrap .slider .slider-handle {
  width: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #ccc;
  background-image: none;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .next-wrap .btn {
  margin: 0px 30px;
  padding: 20px 50px;
  background-color: #20cd98;
  font-size: 30px;
  color: white;
  border-radius: 40px;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .next-wrap .btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .next-wrap .btn:focus {
  outline: none;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content {
    padding: 25px;
    border-width: 5px;
  }
  html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-image {
    width: 100%;
  }
  html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .pane-description {
    margin-bottom: 50px;
    font-size: 25px;
  }
  html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .value-wrap {
    width: 100%;
    margin: 20px auto;
    color: white;
  }
  html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .value-wrap .end-value {
    font-size: 20px;
  }
  html body .site-wrapper.page .site-content .step-0-affiliate-value-pane .pane-content .pane-main .next-wrap .btn {
    margin: 5px 10px;
    padding: 10px 30px;
    font-size: 30px;
    color: white;
    border-radius: 30px;
  }
}
html body .site-wrapper.page .site-content .step-0-stripe-connect-pane {
  width: 1200px;
  box-sizing: border-box;
}
html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content {
  padding: 50px;
  border: 15px solid #afd0ff;
  border-radius: 10px;
  background-color: #829bff;
}
html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content .pane-image img {
  width: 350px;
}
html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content .pane-main .pane-description {
  width: 530px;
  max-width: 100%;
  margin: 0px auto 60px;
  font-size: 22px;
  color: white;
}
html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content .pane-main .connect-account-wrapper .stripe-connect-btn {
  display: inline-block;
  position: relative;
}
html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content .pane-main .connect-account-wrapper .stripe-connect-btn .img-normal {
  opacity: 1;
}
html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content .pane-main .connect-account-wrapper .stripe-connect-btn .img-focus {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content .pane-main .connect-account-wrapper .stripe-connect-btn:focus .img-normal {
  opacity: 0;
}
html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content .pane-main .connect-account-wrapper .stripe-connect-btn:focus .img-focus {
  opacity: 1;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content {
    padding: 25px;
    border-width: 5px;
  }
  html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content .pane-image {
    width: 100%;
    margin-bottom: 20px;
  }
  html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content .pane-image img {
    max-width: 100%;
  }
  html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content .pane-main .pane-description {
    margin-bottom: 30px;
    font-size: 25px;
  }
  html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content .pane-main .connect-account-wrapper a {
    display: block;
  }
  html body .site-wrapper.page .site-content .step-0-stripe-connect-pane .pane-content .pane-main .connect-account-wrapper a img {
    max-width: 100%;
  }
}

.c-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-bottom: 0px;
  vertical-align: middle;
}
.c-switch input {
  display: none;
}
.c-switch input:checked + .slider {
  background-color: transparent;
  border-color: #feba19;
}
.c-switch input:checked + .slider:before {
  background-color: #feba19;
}
.c-switch input:focus + .slider {
  box-shadow: 0 0 1px #6bc069;
}
.c-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.c-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #c8cabc;
}
.c-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: calc((100% - 20px) / 2);
  background-color: #c8cabc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.c-switch .slider.round {
  border-radius: 34px;
}
.c-switch .slider.round:before {
  border-radius: 50%;
}

.select2-container .select2-selection--single {
  padding-top: 3px;
  height: 35px;
  border-color: #c8cabc;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  top: 4px;
}
.select2-container .select2-selection--single span.select2-selection__rendered {
  font-size: 1.5rem;
  color: #737661;
}
.select2-container .select2-selection--single:focus {
  outline: none;
}

.select2-results__option {
  font-size: 16px;
}

/*# sourceMappingURL=create_series-page.css.map */
