.site-wrapper.page {
  font-family: "EB Garamond", sans-serif; }
  .site-wrapper.page > .site-content {
    padding: 30px 50px; }
    .site-wrapper.page > .site-content > .content-wrapper {
      max-width: 1700px;
      margin: 0px auto;
      padding-top: 45px;
      position: relative;
      color: #7b7b7b; }
      .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration {
        position: absolute; }
      .site-wrapper.page > .site-content > .content-wrapper .decoration-container .top-left-rectangular {
        background-color: #7b7b7b;
        color: white;
        font-size: 22px;
        padding: 0px 150px 70px 25px;
        position: absolute;
        top: 0px;
        left: -30px;
        line-height: 52px; }
        .site-wrapper.page > .site-content > .content-wrapper .decoration-container .top-left-rectangular i.fa-caret-down {
          vertical-align: middle;
          font-size: 50px; }
      .site-wrapper.page > .site-content > .content-wrapper main.main-content {
        text-align: left;
        min-height: 700px;
        position: relative;
        padding: 50px 10px 0px;
        background-color: #f8f7f9; }
        .site-wrapper.page > .site-content > .content-wrapper main.main-content h2 {
          margin-bottom: 50px; }
        .site-wrapper.page > .site-content > .content-wrapper main.main-content ul {
          display: flex;
          list-style: none; }
          .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li {
            flex: 1;
            text-align: center;
            border-right: 1px dashed grey; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li a {
              color: grey;
              text-decoration: none; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li a .icon-wrapper img {
                opacity: .6;
                max-width: 250px;
                width: 70%; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li a .icon-label {
                margin-top: 20px;
                font-size: 25px; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li a:hover {
                color: black; }
                .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li a:hover .icon-wrapper img {
                  opacity: 1; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content ul li:last-child {
              border-right: none; }

.after-clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*# sourceMappingURL=createEvent-page.css.map */
