@charset "UTF-8";
html body .site-wrapper.page .site-content {
  text-align: left;
}
html body .site-wrapper.page .site-content .content-header {
  padding: 70px 70px 20px;
  background-color: #f6fffc;
  position: relative;
}
html body .site-wrapper.page .site-content .content-header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
html body .site-wrapper.page .site-content .content-header .header-left .page-name {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content .content-header .header-left .pane-name {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content .content-header .header-left .posts-count {
  color: white;
}
html body .site-wrapper.page .site-content .content-header .header-left .is-editing {
  font-size: 1.5rem;
  margin-bottom: 16px;
}
html body .site-wrapper.page .site-content .content-header .header-left .some-txt {
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .content-header .header-left .select-embed-type-wrapper {
  margin: 3px 0px;
}
html body .site-wrapper.page .site-content .content-header .header-left .back-to-my_series {
  color: #c8cabc;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .content-header .header-left .back-to-my_series:hover {
  color: #737661;
}
html body .site-wrapper.page .site-content .content-header .header-left .back-to-my_series:hover:after {
  background-color: #737661;
}
html body .site-wrapper.page .site-content .content-header .header-right .action-item {
  background-color: transparent;
  display: flex;
  line-height: 0;
  border-radius: 50%;
  border: 1px solid #1fcd98;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
html body .site-wrapper.page .site-content .content-header .header-right .action-item svg {
  width: 25px;
  max-height: 25px;
}
html body .site-wrapper.page .site-content .content-header .header-right .action-item svg g {
  fill: #1fcd98 !important;
}
html body .site-wrapper.page .site-content .content-header .header-right .action-item svg path {
  fill: #1fcd98 !important;
}
html body .site-wrapper.page .site-content .content-header .header-right .action-item svg polygon {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .content-header .header-right .action-item svg circle {
  fill: #1fcd98 !important;
}
html body .site-wrapper.page .site-content .content-header .header-right .action-item:hover {
  border-color: #1eb785;
}
html body .site-wrapper.page .site-content .content-header .header-right .action-item:hover svg g, html body .site-wrapper.page .site-content .content-header .header-right .action-item:hover svg path, html body .site-wrapper.page .site-content .content-header .header-right .action-item:hover svg polygon, html body .site-wrapper.page .site-content .content-header .header-right .action-item:hover svg circle {
  fill: #1eb785 !important;
}
html body .site-wrapper.page .site-content .content-header .header-right .add-new-item-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 5px;
}
html body .site-wrapper.page .site-content .content-header .header-right .add-new-item-wrapper .add-new-item-btn {
  display: block;
  background-color: #1fcd98;
  color: white;
  border-radius: 30px;
  font-size: 2rem;
  padding: 13px 30px;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .content-header .header-right .add-new-item-wrapper .add-new-item-btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .content-header .header-right .delete-series {
  display: block;
  width: 100%;
  text-align: center;
  color: #737661;
  text-decoration: underline;
  font-size: 1.3rem;
}
html body .site-wrapper.page .site-content .content-header .header-right .delete-series:hover {
  color: black;
}
html body .site-wrapper.page .site-content main.main-content {
  width: 1200px;
  max-width: 100%;
  margin: 0px auto;
  padding: 20px 50px 100px;
  text-align: left;
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form {
  margin-bottom: 90px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group label.control-label {
  display: block;
  position: relative;
  padding: 7px 15px 0px 0px;
  font-weight: normal;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group label.control-label.required:after {
  content: "*";
  position: absolute;
  top: 0px;
  right: 0px;
  color: #f26d7e;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group label.control-label.margin-bottom {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group label.control-label.margin-bottom-2 {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group input {
  padding-left: 0px;
  border: none;
  border-bottom: 1px solid #c8cabc;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group input::placeholder {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group input[name=strSeries_title] {
  max-width: 385px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group .public-value-txt {
  margin-left: 10px;
  color: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group .day-item {
  margin-right: 5px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group .day-item input {
  background-color: transparent;
  margin-top: 0px;
  vertical-align: middle;
  position: absolute;
  left: -9999px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group .day-item input:checked + label {
  color: black;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group .day-item input:checked + label:before {
  border-color: black;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group .day-item input:checked + label:after {
  font-size: 0.9em;
  content: "✔";
  position: absolute;
  right: 0em;
  top: 0em;
  width: 1em;
  height: 1em;
  color: black;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group .day-item label {
  color: #737661;
  font-size: 18px;
  line-height: 1.1em;
  vertical-align: middle;
  position: relative;
  padding-right: 1.3em;
  cursor: pointer;
  font-weight: normal;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group .day-item label:before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1em;
  height: 1em;
  border: 1px solid #c8cabc;
  border-radius: 2px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group .cover-image-wrapper {
  margin: 10px 0px;
  padding: 50px 20px;
  text-align: center;
  position: relative;
  border: 1px dashed #c8cabc;
  border-radius: 20px;
  color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group .cover-image-wrapper .img-wrapper img {
  max-width: 80px;
  opacity: 0.3;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .form-group .cover-image-wrapper input {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .multi-line-background textarea::placeholder {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-left .multi-line-background textarea:valid {
  outline: none;
  border-color: #d4d6c9;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right {
  margin-left: 100px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper {
  width: 230px;
  margin: 10px auto 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
  border: 1px dashed #c8cabc;
  border-radius: 20px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper .img-wrapper {
  margin-bottom: 25px;
  padding: 0px 0px 15px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper .img-wrapper img {
  width: 100px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper .cloud-img-wrapper {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper .cloud-img-wrapper img {
  width: 60px;
  opacity: 0.5;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper input {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper .delete-action {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 20px;
  border-radius: 50%;
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper .delete-action svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper .delete-action svg g, html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper .delete-action svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper .delete-action:hover svg g, html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper .delete-action:hover svg path {
  fill: #1f9965;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .form-right .cover-image-wrapper.drag-over {
  border-style: solid;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .form-group label.control-label {
  display: block;
  position: relative;
  padding: 7px 15px 0px 0px;
  font-weight: normal;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .form-group label.control-label.required:after {
  content: "*";
  position: absolute;
  top: 0px;
  right: 0px;
  color: #f26d7e;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .form-group label.control-label.margin-bottom {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .form-group label.control-label.margin-bottom-2 {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .form-group input {
  padding-left: 0px;
  border: none;
  border-bottom: 1px solid #c8cabc;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .form-group input::placeholder {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .form-group input[name=strSeries_title] {
  max-width: 385px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .c-switch {
  width: 200px;
  height: 30px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .c-switch input:checked + .slider {
  border-color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .c-switch input:checked + .slider:before {
  background-color: #c8cabc !important;
  -webkit-transform: translateX(calc(200px - 95px - 10px));
  -ms-transform: translateX(calc(200px - 95px - 10px));
  transform: translateX(calc(200px - 95px - 10px));
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .c-switch input:checked ~ .value-text-wrapper .value-txt.accepted-txt {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .c-switch input:checked ~ .value-text-wrapper .value-txt.invited-txt {
  color: white;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .c-switch .value-text-wrapper {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .c-switch .value-text-wrapper .value-txt {
  font-size: 1.2rem;
  color: #c8cabc;
  font-weight: normal;
  transition: all 0.4s ease;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .c-switch .value-text-wrapper .value-txt.accepted-txt {
  margin-right: 50px;
  color: white;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .c-switch .value-text-wrapper .value-txt.invited-txt {
  position: relative;
  right: 7px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .c-switch .slider {
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .c-switch .slider:before {
  width: 95px;
  border-radius: 15px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container {
  max-width: 100%;
  min-height: 200px;
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .owner-item {
  padding: 0px 15px;
  font-size: 1.5rem;
  flex-basis: calc(100% / 4);
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .owner-item .item-header {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .owner-item .item-header .item-action {
  display: block;
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .owner-item .item-header .item-action svg {
  width: 25px;
  height: 25px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .owner-item .item-header .item-action svg g, html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .owner-item .item-header .item-action svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .owner-item .item-header .item-action.edit-action {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .owner-item .item-header .item-action.edit-action svg {
  width: 12px;
  height: 12px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .owner-item .item-header .item-action:hover svg g, html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .owner-item .item-header .item-action:hover svg path {
  fill: #737661;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .owner-item .item-header .item-action:hover.edit-action {
  border-color: #737661;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .owner-item .item-img-wrapper {
  width: 100%;
  height: calc(130px + 3vw);
  position: relative;
  margin-bottom: 15px;
  background-image: url("../../images/global-icons/user-avatar.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .add-friend-card {
  padding: 35px 15px 0px;
  font-size: 1.5rem;
  flex-basis: calc(100% / 4);
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .add-friend-card .add-friend-inner {
  width: 100%;
  height: calc(130px + 3vw);
  padding: 15px;
  border: 1px dashed #c8cabc;
  border-radius: 15px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .add-friend-card .add-friend-inner .input-wrapper {
  position: relative;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .add-friend-card .add-friend-inner .input-wrapper .enter-icon-wrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 30px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .add-friend-card .add-friend-inner .input-wrapper .enter-icon-wrapper svg {
  width: 20px;
  height: 20px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .add-friend-card .add-friend-inner .input-wrapper .enter-icon-wrapper svg g, html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .co-owners-wrapper .owners-container .add-friend-card .add-friend-inner .input-wrapper .enter-icon-wrapper svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper {
  margin: 0px auto;
  padding: 60px 10px 50px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .connect-account-wrapper {
  margin-bottom: 40px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .connect-account-wrapper a {
  margin-right: 10px;
  text-decoration: none;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper {
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-name {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: normal;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-name.percent-label {
  margin-bottom: 40px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-name.affiliate-will-get-label {
  margin-bottom: 30px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value {
  display: block;
  width: 100%;
  padding-left: 0px;
  border: none;
  border-bottom: 1px solid #c8cabc;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value:focus {
  outline: none;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value[disabled] {
  background-color: transparent;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value.you-will-get-value {
  color: #feba19;
  border-color: #feba19;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value.affiliate-will-get-value {
  color: #1fcd98;
  border-color: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .c-switch .slider {
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider {
  width: 100%;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider .slider-track .slider-selection {
  background-image: none;
  background-color: yellow;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider .slider-track .slider-track-high {
  background-color: white;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider .slider-handle {
  width: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #ccc;
  background-image: none;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col.toggle-col {
  width: 300px;
  margin-right: 20px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col.toggle-col .get-payment-txt {
  color: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .group-col.gets-col {
  margin-left: 20px;
  width: 110px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap {
  width: 350px;
  margin: 20px auto;
  color: #feba19;
  text-align: center;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap .end-value {
  font-size: 20px;
  width: 50px;
  text-align: center;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap .slider {
  width: 100%;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap .slider .slider-track .slider-selection {
  background-image: none;
  background-color: #6ad19f;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap .slider .slider-track .slider-track-high {
  background-color: white;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap .slider .tooltip-main {
  opacity: 1 !important;
  margin-top: -55px;
  z-index: 90;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap .slider .tooltip-main .tooltip-inner {
  background-color: transparent;
  color: #feba19;
  font-size: 35px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap .slider .tooltip-main .tooltip-inner:before {
  display: inline;
  content: "$";
  font-size: 35px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap .slider .tooltip-main .tooltip-arrow {
  display: none !important;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap .slider .slider-handle {
  width: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #ccc;
  background-image: none;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap.disable {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap.disable .slider .slider-track .slider-selection {
  background-color: #c8cabc;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap.disable .slider .slider-track .slider-track-high {
  background-color: white;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap.disable .slider .tooltip-main {
  opacity: 0 !important;
  margin-top: -55px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap.no-affiliate .slider .slider-track .slider-selection {
  background-color: #c8cabc;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap.no-affiliate .slider .slider-track .slider-track-high {
  background-color: white;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .value-wrap.no-affiliate .slider .tooltip-main {
  opacity: 0 !important;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .charge-content .group-row-wrapper .center-col {
  flex-basis: 200px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .charge-series-wrapper .step-description {
  width: 230px;
  margin-left: 100px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .button-wrapper {
  margin-top: 20px;
  text-align: center;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .button-wrapper .save-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 290px;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .button-wrapper .save-btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .edit-series-form .button-wrapper .save-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper {
  padding: 0px 30px;
  border-radius: 30px;
  background-color: #f26d7e;
  color: white;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-content {
  position: relative;
  padding-left: 70px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-content .invite-txt {
  margin: 0px 0px 5px;
  font-weight: bold;
  font-size: 1.7rem;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-content .to-add-txt {
  margin-bottom: 10px;
  font-size: 1.7rem;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-content .invite-friend-form {
  max-width: 450px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1.5rem;
  background-color: transparent;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper input:focus {
  outline: none;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper input::placeholder {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper button.btn {
  padding: 0px;
  background-color: transparent;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper button.btn svg {
  width: 30px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper button.btn:focus {
  outline: none;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-content .plane-wrapper {
  position: absolute;
  left: 5px;
  bottom: 30px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-content .plane-wrapper img {
  height: 150px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-image-wrapper {
  margin: -164px 0px -10px;
}
html body .site-wrapper.page .site-content main.main-content #series-editing-tab .invite-friend-wrapper .invite-image-wrapper img {
  width: 315px;
}
html body .site-wrapper.page .site-content main.main-content #series-structure-tab .posts-structure-component {
  margin-top: 20px;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header {
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .style-txt {
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .get-code-btn {
  background-color: transparent;
  border: 1px solid #1fcd98;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 5px 15px;
  transition: all 0.03s ease-out;
  width: 120px;
  text-align: center;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .get-code-btn:focus {
  outline: none;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .get-code-btn:hover, html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .get-code-btn.copied {
  background-color: #1fcd98;
  color: white;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .embed-style-item {
  color: #7c7c7e;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .embed-style-item svg {
  width: 28px;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .embed-style-item svg g, html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .embed-style-item svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .embed-style-item:hover svg g, html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .embed-style-item:hover svg path, html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .embed-style-item.active-item svg g, html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .embed-style-item.active-item svg path {
  fill: #737661;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-header .get-code-col {
  margin-left: 50px;
  margin-right: auto;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-preview-wrapper {
  margin-bottom: 40px;
  max-height: 600px;
  overflow: auto;
  border: 1px dashed #c8cabc;
  border-radius: 10px;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-code-header {
  font-size: 1.5rem;
  margin-bottom: 16px;
}
html body .site-wrapper.page .site-content main.main-content #series-embed-tab .embed-code-header span {
  font-weight: bold;
}
html body .site-wrapper.page .site-content:not(.structure-mode):not(.embed-mode) .d-normal-block {
  display: block !important;
}
html body .site-wrapper.page .site-content:not(.structure-mode):not(.embed-mode) .d-normal-flex {
  display: flex !important;
}
html body .site-wrapper.page .site-content:not(.structure-mode):not(.embed-mode) .d-normal-none {
  display: none !important;
}
html body .site-wrapper.page .site-content.structure-mode .d-structure-block {
  display: block !important;
}
html body .site-wrapper.page .site-content.structure-mode .d-structure-flex {
  display: flex !important;
}
html body .site-wrapper.page .site-content.structure-mode .d-structure-none {
  display: none !important;
}
html body .site-wrapper.page .site-content.embed-mode .d-embed-block {
  display: block !important;
}
html body .site-wrapper.page .site-content.embed-mode .d-embed-flex {
  display: flex !important;
}
html body .site-wrapper.page .site-content.embed-mode .d-embed-none {
  display: none !important;
}

.c-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-bottom: 0px;
  vertical-align: middle;
}
.c-switch input {
  display: none;
}
.c-switch input:checked + .slider {
  background-color: transparent;
  border-color: #feba19;
}
.c-switch input:checked + .slider:before {
  background-color: #feba19;
}
.c-switch input:focus + .slider {
  box-shadow: 0 0 1px #6bc069;
}
.c-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.c-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #c8cabc;
}
.c-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: calc((100% - 20px) / 2);
  background-color: #c8cabc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.c-switch .slider.round {
  border-radius: 34px;
}
.c-switch .slider.round:before {
  border-radius: 50%;
}

.select2-container .select2-selection--single {
  padding-top: 3px;
  height: 35px;
  border-color: #c8cabc;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  top: 4px;
}
.select2-container .select2-selection--single span.select2-selection__rendered {
  font-size: 1.5rem;
  color: #737661;
}
.select2-container .select2-selection--single:focus {
  outline: none;
}

.select2-results__option {
  font-size: 16px;
}

/*# sourceMappingURL=edit_series-page.css.map */
