html {
  font-size: 12px; }
  html body .site-wrapper.page {
    font-family: "EB Garamond", sans-serif; }
    html body .site-wrapper.page > .site-content {
      padding: 30px 50px; }
      html body .site-wrapper.page > .site-content > .content-wrapper {
        padding-top: 40px; }
        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab header.content-header {
          padding-left: 320px;
          padding-bottom: 5px;
          margin-top: -30px;
          font-size: 24px; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab header.content-header .open-add-items-wrapper .open-add-items {
            display: inline-block;
            vertical-align: middle;
            color: grey;
            line-height: 1; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab header.content-header .open-add-items-wrapper .open-add-items svg {
              width: 40px;
              cursor: pointer; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab header.content-header .open-add-items-wrapper .open-add-items:hover {
              color: black; }
        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header {
          max-width: 1500px;
          margin: 0px auto;
          text-align: center; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header h2.series-title {
            margin-bottom: 20px; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .cover-image-wrapper {
            max-width: 500px;
            margin: 10px auto 20px;
            padding-bottom: 20px;
            text-align: center;
            position: relative;
            border: 1px dashed grey;
            border-radius: 20px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .cover-image-wrapper .img-wrapper {
              padding: 15px 0px; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .cover-image-wrapper .img-wrapper img {
                max-width: 95%;
                min-width: 150px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .cover-image-wrapper input {
              position: absolute;
              display: block;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
              opacity: 0;
              cursor: pointer; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .charge-helper {
            margin: 25px auto; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .charge-helper > span {
              color: #3ba6ec;
              font-size: 2rem; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .charge-helper > span:hover {
                color: #0b94ea;
                text-decoration: none; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .charge-helper a {
              text-decoration: none; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper {
            font-size: 20px;
            margin-bottom: 20px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper .c-switch {
              position: relative;
              display: inline-block;
              width: 60px;
              height: 34px;
              margin-bottom: 0px;
              vertical-align: middle; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper .c-switch input {
                display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper .c-switch input:checked + .slider {
                background-color: #6bc069; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper .c-switch input:focus + .slider {
                box-shadow: 0 0 1px #6bc069; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper .c-switch input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px); }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper .c-switch .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper .c-switch .slider:before {
                  position: absolute;
                  content: "";
                  height: 26px;
                  width: 26px;
                  left: 4px;
                  bottom: 4px;
                  background-color: white;
                  -webkit-transition: .4s;
                  transition: .4s; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper .c-switch .slider.round {
                  border-radius: 34px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper .c-switch .slider.round:before {
                    border-radius: 50%; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper .charge-label {
              display: block;
              width: 204px;
              text-align: right; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper .price-label {
              display: block;
              width: 63px;
              text-align: right;
              margin-left: 20px;
              opacity: .5;
              transition: opacity .3s; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper .charge-price {
              width: 100px;
              font-size: 1em;
              opacity: .5;
              transition: opacity .3s;
              margin-right: 155px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper.charged .price-label {
              opacity: 1;
              transition: opacity .3s; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-charge-wrapper.charged .charge-price {
              opacity: 1;
              transition: opacity .3s; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings {
            font-size: 20px;
            margin-bottom: 20px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .percent-label {
              text-align: right;
              margin-left: 20px;
              opacity: .5;
              transition: opacity .3s; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .percent-value {
              width: 200px;
              font-size: 1em;
              opacity: .5;
              transition: opacity .3s; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings.affiliated .percent-label {
              opacity: 1;
              transition: opacity .3s; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings.affiliated .percent-value {
              opacity: 1;
              transition: opacity .3s; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .field-helper {
              display: inline-block;
              margin: 2px 2px;
              padding: 5px 5px;
              color: white;
              align-self: center;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-color: #25b7d3;
              font-family: FontAwesome;
              font-weight: bold;
              text-align: center;
              font-size: 25px;
              line-height: 21px;
              cursor: default; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .c-switch {
              position: relative;
              display: inline-block;
              width: 60px;
              height: 34px;
              margin-bottom: 0px;
              vertical-align: middle; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .c-switch input {
                display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .c-switch input:checked + .slider {
                background-color: #6bc069; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .c-switch input:focus + .slider {
                box-shadow: 0 0 1px #6bc069; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .c-switch input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px); }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .c-switch .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .c-switch .slider:before {
                  position: absolute;
                  content: "";
                  height: 26px;
                  width: 26px;
                  left: 4px;
                  bottom: 4px;
                  background-color: white;
                  -webkit-transition: .4s;
                  transition: .4s; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .c-switch .slider.round {
                  border-radius: 34px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .c-switch .slider.round:before {
                    border-radius: 50%; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .slider .slider-track .slider-selection {
              background-image: none;
              background-color: yellow;
              box-shadow: none;
              box-sizing: border-box;
              border: 1px solid #cccccc; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .slider .slider-track .slider-track-high {
              background-color: white;
              box-shadow: none;
              box-sizing: border-box;
              border: 1px solid #cccccc; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .affiliate-settings .slider .slider-handle {
              width: 10px;
              margin-left: -5px;
              border-radius: 5px;
              background-color: #ccc;
              background-image: none; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .money-expects {
            font-size: 20px;
            margin-bottom: 20px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .money-expects .field-label.affiliate-field {
              padding-left: 70px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .money-expects .field-value.charge-field {
              font-size: 1.2em;
              font-weight: bold;
              color: blue; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .money-expects .field-value.affiliate-field {
              font-weight: bold;
              color: red; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .available-days-wrapper {
            max-width: 1200px;
            margin: 0px auto 20px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .available-days-wrapper .display-on {
              display: inline-block;
              font-size: 1.7rem;
              line-height: 1.6;
              vertical-align: middle;
              font-weight: bold; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .available-days-wrapper .available-days-container {
              display: inline-block;
              width: 419px;
              vertical-align: middle; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .available-days-wrapper .available-days-container ul.available-days-list {
                margin-bottom: 0px;
                list-style: none;
                padding-left: 0px; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .available-days-wrapper .available-days-container ul.available-days-list li {
                  float: left;
                  margin-left: 10px;
                  font-size: 1.5rem; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .available-days-wrapper .available-days-container ul.available-days-list li .icon-wrapper {
                    display: inline-block;
                    position: relative;
                    width: auto;
                    vertical-align: middle;
                    cursor: pointer; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .available-days-wrapper .available-days-container ul.available-days-list li .icon-wrapper img.active-icon {
                      position: absolute;
                      top: 0px;
                      left: 0px;
                      opacity: 0; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .available-days-wrapper .available-days-container ul.available-days-list li.active-day .icon-wrapper img.inactive-icon {
                    opacity: 0; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .available-days-wrapper .available-days-container ul.available-days-list li.active-day .icon-wrapper img.active-icon {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    opacity: 1; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .available-days-wrapper .available-days-container ul.available-days-list:after {
                  content: '';
                  display: block;
                  clear: both; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-description-wrapper {
            font-size: 2rem; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-description-wrapper label {
              display: block;
              font-weight: normal; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header .series-description-wrapper textarea {
              font-size: 1em;
              display: block;
              width: 500px;
              max-width: 100%;
              margin: 10px auto; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > header aside {
            font-size: 1.4rem;
            margin-bottom: 20px; }
        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content aside.add-to-links-section {
          text-align: center; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content aside.add-to-links-section a {
            display: inline-block;
            min-width: 200px;
            margin: 5px 15px;
            font-size: 1.7rem;
            padding: 10px 15px;
            border: 1px solid grey;
            color: grey;
            text-decoration: none; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content aside.add-to-links-section a:hover {
              color: black;
              border-color: black;
              text-decoration: none; }
        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .tree-helper-title {
          margin: 10px;
          padding: 0px 40px; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .tree-helper-title span {
            font-size: 1.5rem; }
        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container {
          position: relative;
          padding: 20px 0px; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul {
            list-style: none;
            margin: 10px;
            position: relative;
            overflow: hidden; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li {
              margin: 0px;
              font-size: 1.5rem;
              width: 100%;
              display: list-item; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner {
                padding: 15px 5px 15px 0px; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .jstree-icon {
                  background-image: url(../../images/global-icons/tree/32px-type2.png); }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .jstree-ocl {
                  background-position: -96px 0; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .drag-icon-wrapper {
                  flex-basis: 50px;
                  text-align: center;
                  opacity: 1; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .drag-icon-wrapper img {
                    cursor: move;
                    display: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .post-title {
                  padding-left: 10px;
                  flex-grow: 1;
                  line-height: 32px; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions a {
                  text-align: center;
                  cursor: pointer;
                  opacity: .5; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions a img {
                    width: 32px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions a:hover {
                    opacity: .9; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions a.collapse-wrapper {
                    display: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col {
                  display: none; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper {
                    font-size: 20px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch {
                      position: relative;
                      display: inline-block;
                      width: 60px;
                      height: 34px;
                      margin-bottom: 0px;
                      vertical-align: middle; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input {
                        display: none; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:checked + .slider {
                        background-color: #6bc069; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:focus + .slider {
                        box-shadow: 0 0 1px #6bc069; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch input:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px); }
                      html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        -webkit-transition: .4s;
                        transition: .4s; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider:before {
                          position: absolute;
                          content: "";
                          height: 26px;
                          width: 26px;
                          left: 4px;
                          bottom: 4px;
                          background-color: white;
                          -webkit-transition: .4s;
                          transition: .4s; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider.round {
                          border-radius: 34px; }
                          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .c-switch .slider.round:before {
                            border-radius: 50%; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper .charge-label {
                      color: #3fb4ff; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.charge-col .post-charge-wrapper > .fix-col:last-child {
                      line-height: 0; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.save-col {
                  display: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.comeback-col {
                  display: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.publish-col {
                  display: none; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner .actions .flex-col.publish-col a img {
                    display: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > .post-row-inner:hover {
                  background-color: rgba(255, 255, 255, 0.4); }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li > ul {
                margin: 0px;
                display: block; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.appear {
                animation-name: appearBlock;
                animation-duration: .5s;
                animation-fill-mode: forwards; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.disappear {
                animation-name: disappearBlock;
                animation-duration: .5s;
                animation-fill-mode: forwards; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-type-post > .post-row-inner .expand-wrapper {
                display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-type-post > .post-row-inner .drag-icon-wrapper img.type-post {
                display: initial; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-type-menu > .post-row-inner .drag-icon-wrapper img.type-menu {
                display: initial; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col {
                display: initial; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
                  opacity: 1; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
                    display: initial; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
                    opacity: .5; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
                opacity: .5; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
                  opacity: 1; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
                  display: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.inactive-icon {
                  display: initial; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-type-path > .post-row-inner .drag-icon-wrapper img.type-path {
                display: initial; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-type-path > .post-row-inner .actions .view-post {
                display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-type-root > .post-row-inner .drag-icon-wrapper img.type-root {
                display: initial; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.node-type-root > .post-row-inner .actions {
                display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.ui-sortable-placeholder.mjs-nestedSortable-error {
                background-color: white;
                border-color: #f2dede;
                color: #f2dede;
                display: flex;
                align-items: center;
                width: 100%; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.ui-sortable-placeholder.mjs-nestedSortable-error:before {
                  content: 'Invalid Position';
                  position: static;
                  padding-left: 20px; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li:last-child:not(.ui-sortable-placeholder) {
                background: 0 0;
                display: list-item;
                position: relative; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li:last-child:not(.ui-sortable-placeholder):before {
                  content: '';
                  position: absolute;
                  display: block;
                  top: 0px;
                  left: 0px;
                  width: 32px;
                  height: 15px;
                  background-image: url(../../images/global-icons/tree/32px-type2.png);
                  background-position: -288px 0;
                  background-repeat: no-repeat; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.ui-sortable-placeholder {
                background-color: #fffa90; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.jstree-open > .post-row-inner .jstree-ocl {
                background-position: -128px 0; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.jstree-closed > .post-row-inner .jstree-ocl {
                background-position: -96px 0; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.jstree-closed.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf) {
                border: 1px dashed #cdc878; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.jstree-closed > ul {
                display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.jstree-loading > .post-row-inner .jstree-ocl.jstree-icon {
                background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.jstree-leaf > .post-row-inner .jstree-ocl.jstree-icon {
                background-position: -64px 0; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.edit-status > .post-row-inner .post-title {
                background-color: white;
                border: 1px solid #CDCDCD; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.edit-status > .post-row-inner .post-title:focus {
                  outline-width: 1px;
                  border: transparent; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.edit-status > .post-row-inner .actions .flex-col.edit-col {
                display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.edit-status > .post-row-inner .actions .flex-col.del-col {
                display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.edit-status > .post-row-inner .actions .flex-col.save-col {
                display: initial; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.edit-status > .post-row-inner .actions .flex-col.comeback-col {
                display: initial; }
@keyframes focus-row {
  0% {
    background-color: #fffa90; }
  100% {
    background-color: rgba(255, 250, 144, 0.5); } }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container ul > li.focus > .post-row-inner {
                animation-name: focus-row;
                animation-duration: .7s;
                animation-fill-mode: forwards; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container > li.sample {
            display: none; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container.charged ul > li > .post-row-inner .actions .flex-col.charge-col {
            display: initial; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper {
            margin: 0px;
            font-size: 1.5rem;
            width: 100%;
            display: list-item; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner {
              padding: 15px 5px 15px 0px; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .jstree-icon {
                background-image: url(../../images/global-icons/tree/32px-type2.png); }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .jstree-ocl {
                background-position: -96px 0; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .drag-icon-wrapper {
                flex-basis: 50px;
                text-align: center;
                opacity: 1; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .drag-icon-wrapper img {
                  cursor: move;
                  display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .post-title {
                padding-left: 10px;
                flex-grow: 1;
                line-height: 32px; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .actions a {
                text-align: center;
                cursor: pointer;
                opacity: .5; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .actions a img {
                  width: 32px; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .actions a:hover {
                  opacity: .9; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .actions a.collapse-wrapper {
                  display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.save-col {
                display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.comeback-col {
                display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.publish-col {
                display: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.publish-col a img {
                  display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > .post-row-inner:hover {
                background-color: rgba(255, 255, 255, 0.4); }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper > ul {
              margin: 0px;
              display: block; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.appear {
              animation-name: appearBlock;
              animation-duration: .5s;
              animation-fill-mode: forwards; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.disappear {
              animation-name: disappearBlock;
              animation-duration: .5s;
              animation-fill-mode: forwards; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-type-post > .post-row-inner .expand-wrapper {
              display: none; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-type-post > .post-row-inner .drag-icon-wrapper img.type-post {
              display: initial; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .drag-icon-wrapper img.type-menu {
              display: initial; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col {
              display: initial; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
                opacity: 1; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
                  display: initial; }
                html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
                  opacity: .5; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
              opacity: .5; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
                opacity: 1; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
                display: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.inactive-icon {
                display: initial; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-type-path > .post-row-inner .drag-icon-wrapper img.type-path {
              display: initial; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-type-root > .post-row-inner .drag-icon-wrapper img.type-root {
              display: initial; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.node-type-root > .post-row-inner .actions {
              display: none; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.ui-sortable-placeholder.mjs-nestedSortable-error {
              background-color: white;
              border-color: #f2dede;
              color: #f2dede;
              display: flex;
              align-items: center;
              width: 100%; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.ui-sortable-placeholder.mjs-nestedSortable-error:before {
                content: 'Invalid Position';
                position: static;
                padding-left: 20px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder) {
              background: 0 0;
              display: list-item;
              position: relative; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder):before {
                content: '';
                position: absolute;
                display: block;
                top: 0px;
                left: 0px;
                width: 32px;
                height: 15px;
                background-image: url(../../images/global-icons/tree/32px-type2.png);
                background-position: -288px 0;
                background-repeat: no-repeat; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.ui-sortable-placeholder {
              background-color: #fffa90; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.jstree-open > .post-row-inner .jstree-ocl {
              background-position: -128px 0; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.jstree-closed > .post-row-inner .jstree-ocl {
              background-position: -96px 0; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.jstree-closed.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf) {
              border: 1px dashed #cdc878; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.jstree-closed > ul {
              display: none; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.jstree-loading > .post-row-inner .jstree-ocl.jstree-icon {
              background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.jstree-leaf > .post-row-inner .jstree-ocl.jstree-icon {
              background-position: -64px 0; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .post-title {
              background-color: white;
              border: 1px solid #CDCDCD; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .post-title:focus {
                outline-width: 1px;
                border: transparent; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .actions .flex-col.edit-col {
              display: none; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .actions .flex-col.del-col {
              display: none; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .actions .flex-col.save-col {
              display: initial; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .actions .flex-col.comeback-col {
              display: initial; }
        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer .main-footer-title {
          padding-left: 40px;
          padding-right: 40px;
          font-size: 2em;
          text-align: left; }
        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer .go-to-embed-preview {
          font-size: 2em;
          padding-right: 40px; }
        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer h3 {
          font-size: 2em;
          text-align: center; }
        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #select-layout .layout-item {
          text-align: center;
          padding: 5px 20px;
          position: relative; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #select-layout .layout-item .item-icon-wrapper {
            margin-bottom: 20px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #select-layout .layout-item .item-icon-wrapper svg {
              width: 250px;
              max-width: 100%;
              cursor: pointer; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #select-layout .layout-item .item-icon-wrapper svg g {
                fill: #808080; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #select-layout .layout-item .item-icon-wrapper svg:hover g {
                fill: #575757; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #select-layout .layout-item .item-icon-wrapper img {
              width: 250px;
              max-width: 100%;
              cursor: pointer;
              opacity: .5; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #select-layout .layout-item .item-icon-wrapper img:hover {
                opacity: .6; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #select-layout .layout-item h3 {
            font-size: 2em; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #select-layout .layout-item p {
            font-size: 1.5em; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #select-layout .layout-item a {
            font-size: 1.5em; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #select-layout .layout-item:after {
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 1px;
            bottom: 100px;
            background-color: #575757; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #select-layout .layout-item.last-item:after {
            display: none; }
        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #information-display ul {
          list-style: none; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #information-display ul .field-item {
            font-size: 1.5em;
            margin-bottom: 15px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #information-display ul .field-item .icon-wrapper {
              position: relative;
              cursor: pointer;
              line-height: 0; }
              html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #information-display ul .field-item .icon-wrapper img.active-icon {
                position: absolute;
                top: 0px;
                left: 0px;
                opacity: 0; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #information-display ul .field-item.active-item .icon-wrapper img.inactive-icon {
              opacity: 0; }
            html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #information-display ul .field-item.active-item .icon-wrapper img.active-icon {
              position: absolute;
              top: 0px;
              left: 0px;
              opacity: 1; }
        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #information-display .go-to-codepen {
          display: inline-block;
          font-size: 20px;
          line-height: 28px;
          text-decoration: none;
          padding: 10px 20px;
          color: #fff;
          background-color: #00c0ff;
          border-radius: 5px;
          position: relative;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          cursor: pointer; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #information-display .go-to-codepen:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: 0;
            background-color: #0086b3;
            border-bottom-left-radius: 100%;
            border-bottom-right-radius: 100%; }
          html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #information-display .go-to-codepen:hover {
            background-color: #0086b3; }
        html body .site-wrapper.page > .site-content > .content-wrapper #main-tab main.main-content > footer #code-editor {
          max-width: 1400px;
          margin: 0px auto; }
        html body .site-wrapper.page > .site-content > .content-wrapper #add-items-tab {
          margin-top: -40px; }
    html body .site-wrapper.page li.ui-sortable-helper {
      list-style: none;
      margin: 0px;
      font-size: 1.5rem; }
      html body .site-wrapper.page li.ui-sortable-helper .post-row-inner {
        padding: 15px 5px;
        border-bottom: 1px dotted grey; }
        html body .site-wrapper.page li.ui-sortable-helper .post-row-inner .drag-icon-wrapper {
          flex-basis: 50px;
          text-align: center;
          opacity: .5; }
          html body .site-wrapper.page li.ui-sortable-helper .post-row-inner .drag-icon-wrapper img {
            cursor: pointer; }
          html body .site-wrapper.page li.ui-sortable-helper .post-row-inner .drag-icon-wrapper:hover {
            opacity: 1; }
        html body .site-wrapper.page li.ui-sortable-helper .post-row-inner .post-title {
          padding-left: 10px;
          flex-grow: 1;
          line-height: 32px; }
        html body .site-wrapper.page li.ui-sortable-helper .post-row-inner .actions a {
          text-align: center;
          cursor: pointer;
          opacity: .5; }
          html body .site-wrapper.page li.ui-sortable-helper .post-row-inner .actions a:hover {
            opacity: .9; }
      html body .site-wrapper.page li.ui-sortable-helper ul {
        list-style: none;
        margin: 0px; }
        html body .site-wrapper.page li.ui-sortable-helper ul li {
          list-style: none;
          margin: 0px;
          font-size: 1.5rem; }
          html body .site-wrapper.page li.ui-sortable-helper ul li .post-row-inner {
            padding: 15px 5px;
            border-bottom: 1px dotted grey; }
            html body .site-wrapper.page li.ui-sortable-helper ul li .post-row-inner .drag-icon-wrapper {
              flex-basis: 50px;
              text-align: center;
              opacity: .5; }
              html body .site-wrapper.page li.ui-sortable-helper ul li .post-row-inner .drag-icon-wrapper img {
                cursor: pointer; }
              html body .site-wrapper.page li.ui-sortable-helper ul li .post-row-inner .drag-icon-wrapper:hover {
                opacity: 1; }
            html body .site-wrapper.page li.ui-sortable-helper ul li .post-row-inner .post-title {
              padding-left: 10px;
              flex-grow: 1;
              line-height: 32px; }
            html body .site-wrapper.page li.ui-sortable-helper ul li .post-row-inner .actions a {
              text-align: center;
              cursor: pointer;
              opacity: .5; }
              html body .site-wrapper.page li.ui-sortable-helper ul li .post-row-inner .actions a:hover {
                opacity: .9; }
          html body .site-wrapper.page li.ui-sortable-helper ul li ul {
            list-style: none;
            margin: 0px; }
  html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
    font-family: "EB Garamond", sans-serif;
    margin-top: 0px;
    margin-bottom: 20px; }
  html body .loading {
    z-index: 1600; }

.modal-edit-stripe header.site-modal-header {
  font-size: 1.7em; }
.modal-edit-stripe .site-modal-body {
  padding: 20px 10px; }
  .modal-edit-stripe .site-modal-body label.control-label {
    display: block;
    font-size: 1.3em;
    vertical-align: middle;
    text-align: right;
    font-weight: normal; }
  .modal-edit-stripe .site-modal-body input.form-control {
    vertical-align: middle;
    font-size: 1.3em;
    height: auto; }
  .modal-edit-stripe .site-modal-body .flex-row {
    margin-bottom: 20px; }

.form-field-wrapper {
  margin: 5px auto; }
  .form-field-wrapper .form-field-inner {
    display: inline-flex;
    border: 1px #a9a9a9 solid;
    padding: 0px 0px 0px 0px; }
    .form-field-wrapper .form-field-inner label.form-field-name {
      padding: 5px 10px;
      margin: 0px;
      background-color: #f8f7f9; }
    .form-field-wrapper .form-field-inner .form-field-value {
      padding: 5px 10px;
      border-left: 1px solid #a9a9a9;
      background-color: white;
      min-width: 100px; }
      .form-field-wrapper .form-field-inner .form-field-value[contentEditable=true]:empty:not(:focus):before {
        content: attr(placeholder);
        cursor: text; }
    .form-field-wrapper .form-field-inner .form-field-helper {
      margin: 2px;
      padding: 5px 5px;
      color: white;
      align-self: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #25b7d3;
      font-family: FontAwesome;
      font-weight: bold;
      text-align: center;
      font-size: 25px;
      line-height: 21px;
      cursor: default; }
  .form-field-wrapper.status-loading {
    color: orange;
    transition: color ease-in .005s; }
    .form-field-wrapper.status-loading .form-field-inner {
      transition: border-color ease-in .005s;
      border-color: orange; }
  .form-field-wrapper.status-loading-finished {
    animation-name: loading-finished;
    animation-duration: .3s;
    animation-fill-mode: forwards; }
    .form-field-wrapper.status-loading-finished .form-field-inner {
      animation-name: loading-finished;
      animation-duration: .3s;
      animation-fill-mode: forwards; }
@keyframes loading-finished {
  from {
    border-color: orange;
    color: orange; }
  to {
    color: grey;
    border-color: #a9a9a9; } }
@keyframes appearBlock {
  0% {
    opacity: 0;
    background-color: #fffa90; }
  100% {
    opacity: 1;
    background-color: rgba(255, 250, 144, 0.5); } }
@keyframes disappearBlock {
  0% {
    opacity: 1;
    background-color: #fffa90; }
  100% {
    opacity: 0;
    background-color: rgba(255, 250, 144, 0.5); } }
@keyframes uploading-effect {
  from {
    outline-offset: -5px;
    -moz-outline-radius: 0;
    opacity: .1; }
  50% {
    outline-offset: -30px;
    -moz-outline-radius: 50%;
    opacity: 1; }
  to {
    outline-offset: -5px;
    -moz-outline-radius: 0;
    opacity: .1; } }
.site-lightbox {
  z-index: 1045; }

.site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper .site-modal-header {
  padding: 0px 30px 10px 30px;
  border-bottom: 1px solid #e9ecef;
  margin: 0px -20px 10px;
  max-width: none; }
.site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form {
  margin: 0px auto; }
  .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul {
    list-style-type: decimal; }
    .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li {
      font-size: 1.8rem; }
      .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group label {
        font-weight: normal; }
      .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .form-control {
        font-size: 1.8rem; }
        .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .form-control:not(textarea) {
          height: auto; }
        .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .form-control[name="description"] {
          resize: vertical; }
      .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cover-image-wrapper {
        max-width: 500px;
        margin: 10px auto 0px;
        padding-bottom: 20px;
        text-align: center;
        position: relative;
        border: 1px dashed grey;
        border-radius: 20px; }
        .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cover-image-wrapper .img-wrapper {
          padding: 15px 0px; }
          .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cover-image-wrapper .img-wrapper img {
            max-width: 256px;
            min-width: 150px;
            opacity: .6; }
            .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cover-image-wrapper .img-wrapper img.touched {
              opacity: 1; }
        .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cover-image-wrapper input {
          position: absolute;
          display: block;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer; }
      .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .note-editor .note-toolbar-wrapper {
        max-width: none; }
        .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .note-editor .note-toolbar-wrapper li {
          max-width: none; }
        .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .note-editor .note-toolbar-wrapper ul.dropdown-menu {
          max-width: none; }
          .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .note-editor .note-toolbar-wrapper ul.dropdown-menu li {
            max-width: none; }
      .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cd-switch {
        text-align: center;
        position: relative;
        height: 50px; }
        .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cd-switch .switch {
          position: absolute;
          display: inline-block;
          left: 50%;
          right: auto;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          z-index: 1; }
          .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cd-switch .switch input[type="radio"] {
            visibility: hidden;
            position: absolute;
            height: 100%;
            margin-top: 0px; }
            .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_yes:checked ~ label[for="isPublic_yes"] {
              color: white;
              border: 1px solid grey; }
            .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_yes:checked ~ .switchFilter {
              left: 0;
              opacity: 1;
              width: 87px; }
            .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_no:checked ~ label[for="isPublic_no"] {
              color: white;
              border: 1px solid grey; }
            .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_no:checked ~ .switchFilter {
              left: 100px;
              width: 87px;
              opacity: 1; }
          .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cd-switch .switch .switchFilter {
            width: 0;
            display: inline-block;
            background-color: grey;
            position: absolute;
            left: 0;
            opacity: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
            -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
            transition: all 0.4s cubic-bezier(0, 0, 0.25, 1); }
          .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group .cd-switch .switch label {
            margin-bottom: 0px;
            cursor: pointer;
            text-transform: uppercase;
            border: 1px solid grey;
            width: 85px;
            padding: 8px 0;
            text-align: center;
            display: inline-block;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
            margin-right: 10px; }
      .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form ul li .form-group input[name='refLink'].is-dragover {
        border-color: #66afe9; }
  .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form footer {
    text-align: center; }
    .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form footer button {
      width: 250px;
      padding: 7px;
      font-size: 18px;
      border-radius: 20px;
      background: transparent;
      border: 2px solid #53d4ad;
      color: #53d4ad;
      margin: 15px; }
      .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form footer button:hover {
        background: #53d4ad;
        color: white; }
      .site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper form footer button:focus {
        outline: none; }

/* Absolute Center Spinner */

/*# sourceMappingURL=editSeries-page.css.map */
