$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;

// Variables
$grey: grey;
$green: #1ecd97;

@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

// Variables
$orange: #DB6576;
$beige: #E9DFD3;

$main-font: 'EB Garamond', sans-serif;

// Mixin
@mixin center($xy:xy) {
    @if $xy == xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        @include transform(translateX(-50%) translateY(-50%));
    }
    @else if $xy == x {
        left: 50%;
        right: auto;
        @include transform(translateX(-50%));
    }
    @else if $xy == y {
        top: 50%;
        bottom: auto;
        @include transform(translateY(-50%));
    }
}

html{
    font-size: 12px;
    body{
        .site-wrapper.page{
            font-family: $default_font_family;
            & > .site-content{
                padding: 30px 50px;
                & > .content-wrapper{
                    padding-top: 40px;
                    #main-tab{
                        .decoration-container{
                        }
                        header.content-header{
                            padding-left: 320px;
                            padding-bottom: 5px;
                            margin-top: -30px;
                            font-size: 24px;
                            .open-add-items-wrapper{
                                .open-add-items{
                                    display: inline-block;
                                    vertical-align: middle;
                                    color: $content_color;
                                    line-height: 1;
                                    svg{
                                        width: 40px;
                                        cursor: pointer;
                                    }
                                    &:hover{
                                        color: black;
                                    }
                                }
                            }
                        }
                        main.main-content{
                            > header{
                                max-width: 1500px;
                                margin: 0px auto;
                                text-align: center;
                                h2.series-title{
                                    margin-bottom: 20px;
                                }
                                .cover-image-wrapper{
                                    max-width: 500px;
                                    margin: 10px auto 20px;
                                    padding-bottom: 20px;
                                    text-align: center;
                                    position: relative;
                                    border: 1px dashed grey;
                                    border-radius: 20px;
                                    .img-wrapper{
                                        padding: 15px 0px;
                                        img{
                                            max-width: 95%;
                                            min-width: 150px;
                                            //opacity: .6;
                                        }
                                    }
                                    input{
                                        position: absolute;
                                        display: block;
                                        top: 0px;
                                        left: 0px;
                                        width: 100%;
                                        height: 100%;
                                        opacity: 0;
                                        cursor: pointer;
                                    }
                                }
                                .charge-helper{
                                    margin: 25px auto;
                                    > span{
                                        color: #3ba6ec;
                                        font-size: 2rem;
                                        &:hover{
                                            color: #0b94ea;
                                            text-decoration: none;
                                        }
                                    }
                                    a{
                                        text-decoration: none;
                                    }
                                }
                                .series-charge-wrapper{
                                    font-size: 20px;
                                    margin-bottom: 20px;
                                    .c-switch {
                                        position: relative;
                                        display: inline-block;
                                        width: 60px;
                                        height: 34px;
                                        margin-bottom: 0px;
                                        vertical-align: middle;
                                        input {display:none;}
                                        input:checked + .slider {
                                            background-color: #6bc069;
                                        }
                                        input:focus + .slider {
                                            box-shadow: 0 0 1px #6bc069;
                                        }
                                        input:checked + .slider:before {
                                            -webkit-transform: translateX(26px);
                                            -ms-transform: translateX(26px);
                                            transform: translateX(26px);
                                        }
                                        .slider {
                                            position: absolute;
                                            cursor: pointer;
                                            top: 0;
                                            left: 0;
                                            right: 0;
                                            bottom: 0;
                                            background-color: #ccc;
                                            -webkit-transition: .4s;
                                            transition: .4s;
                                            &:before {
                                                position: absolute;
                                                content: "";
                                                height: 26px;
                                                width: 26px;
                                                left: 4px;
                                                bottom: 4px;
                                                background-color: white;
                                                -webkit-transition: .4s;
                                                transition: .4s;
                                            }
                                            &.round {
                                                border-radius: 34px;
                                                &:before {
                                                    border-radius: 50%;
                                                }
                                            }
                                        }
                                    }
                                    .charge-label{
                                        display: block;
                                        width: 204px;
                                        text-align: right;
                                    }
                                    .price-label{
                                        display: block;
                                        width: 63px;
                                        text-align: right;
                                        margin-left: 20px;
                                        opacity: .5;
                                        transition: opacity .3s;
                                    }
                                    .charge-price{
                                        width: 100px;
                                        font-size: 1em;
                                        opacity: .5;
                                        transition: opacity .3s;
                                        margin-right: 155px;
                                    }
                                    &.charged{
                                        .price-label{
                                            opacity: 1;
                                            transition: opacity .3s;
                                        }
                                        .charge-price{
                                            opacity: 1;
                                            transition: opacity .3s;
                                        }
                                    }
                                }
                                .affiliate-settings{
                                    font-size: 20px;
                                    margin-bottom: 20px;
                                    .percent-label{
                                        text-align: right;
                                        margin-left: 20px;
                                        opacity: .5;
                                        transition: opacity .3s;
                                    }
                                    .percent-value{
                                        width: 200px;
                                        font-size: 1em;
                                        opacity: .5;
                                        transition: opacity .3s;
                                    }
                                    &.affiliated{
                                        .percent-label{
                                            opacity: 1;
                                            transition: opacity .3s;
                                        }
                                        .percent-value{
                                            opacity: 1;
                                            transition: opacity .3s;
                                        }
                                    }
                                    .field-helper {
                                        display: inline-block;
                                        margin: 2px 2px;
                                        padding: 5px 5px;
                                        color: white;
                                        align-self: center;
                                        width: 30px;
                                        height: 30px;
                                        border-radius: 50%;
                                        background-color: #25b7d3;
                                        font-family: FontAwesome;
                                        font-weight: bold;
                                        text-align: center;
                                        font-size: 25px;
                                        line-height: 21px;
                                        cursor: default;
                                    }
                                    .c-switch {
                                        position: relative;
                                        display: inline-block;
                                        width: 60px;
                                        height: 34px;
                                        margin-bottom: 0px;
                                        vertical-align: middle;
                                        input {display:none;}
                                        input:checked + .slider {
                                            background-color: #6bc069;
                                        }
                                        input:focus + .slider {
                                            box-shadow: 0 0 1px #6bc069;
                                        }
                                        input:checked + .slider:before {
                                            -webkit-transform: translateX(26px);
                                            -ms-transform: translateX(26px);
                                            transform: translateX(26px);
                                        }
                                        .slider {
                                            position: absolute;
                                            cursor: pointer;
                                            top: 0;
                                            left: 0;
                                            right: 0;
                                            bottom: 0;
                                            background-color: #ccc;
                                            -webkit-transition: .4s;
                                            transition: .4s;
                                            &:before {
                                                position: absolute;
                                                content: "";
                                                height: 26px;
                                                width: 26px;
                                                left: 4px;
                                                bottom: 4px;
                                                background-color: white;
                                                -webkit-transition: .4s;
                                                transition: .4s;
                                            }
                                            &.round {
                                                border-radius: 34px;
                                                &:before {
                                                    border-radius: 50%;
                                                }
                                            }
                                        }
                                    }
                                    .slider{
                                        .slider-track{
                                            .slider-selection{
                                                background-image: none;
                                                background-color: yellow;
                                                box-shadow: none;
                                                box-sizing: border-box;
                                                border: 1px solid #cccccc;
                                            }
                                            .slider-track-high{
                                                background-color: white;
                                                box-shadow: none;
                                                box-sizing: border-box;
                                                border: 1px solid #cccccc;
                                            }
                                        }
                                        .slider-handle{
                                            width: 10px;
                                            margin-left: -5px;
                                            border-radius: 5px;
                                            background-color: #ccc;
                                            background-image: none;
                                        }
                                    }
                                }
                                .money-expects{
                                    font-size: 20px;
                                    margin-bottom: 20px;
                                    .field-label.charge-field{
                                    }
                                    .field-label.affiliate-field{
                                        padding-left: 70px;
                                    }
                                    .field-value.charge-field{
                                        font-size: 1.2em;
                                        font-weight: bold;
                                        color: blue;
                                    }
                                    .field-value.affiliate-field{
                                        font-size: 1.2em;
                                        font-weight: bold;
                                        color: red;
                                    }
                                }
                                .available-days-wrapper{
                                    max-width: 1200px;
                                    margin: 0px auto 20px;
                                    .display-on{
                                        display: inline-block;
                                        font-size: 1.7rem;
                                        line-height: 1.6;
                                        vertical-align: middle;
                                        font-weight: bold;
                                    }
                                    .available-days-container{
                                        display: inline-block;
                                        width: 419px;
                                        vertical-align: middle;
                                        ul.available-days-list{
                                            margin-bottom: 0px;
                                            list-style: none;
                                            padding-left: 0px;
                                            li{
                                                float: left;
                                                margin-left: 10px;
                                                font-size: 1.5rem;
                                                .icon-wrapper{
                                                    display: inline-block;
                                                    position: relative;
                                                    width: auto;
                                                    vertical-align: middle;
                                                    cursor: pointer;
                                                    img{
                                                        &.inactive-icon{
                                                        }
                                                        &.active-icon{
                                                            position: absolute;
                                                            top: 0px;
                                                            left: 0px;
                                                            opacity: 0;
                                                        }
                                                    }
                                                }
                                                &.active-day{
                                                    .icon-wrapper{
                                                        img{
                                                            &.inactive-icon{
                                                                opacity: 0;
                                                            }
                                                            &.active-icon{
                                                                position: absolute;
                                                                top: 0px;
                                                                left: 0px;
                                                                opacity: 1;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            &:after{
                                                content: '';
                                                display: block;
                                                clear: both;
                                            }
                                        }
                                    }
                                }
                                .series-description-wrapper{
                                    font-size: 2rem;
                                    label{
                                        display: block;
                                        font-weight: normal;
                                    }
                                    textarea{
                                        font-size: 1em;
                                        display: block;
                                        width: 500px;
                                        max-width: 100%;
                                        margin: 10px auto;
                                    }
                                }
                                aside{
                                    font-size: 1.4rem;
                                    margin-bottom: 20px;
                                }
                            }
                            aside.add-to-links-section {
                                text-align: center;
                                a{
                                    display: inline-block;
                                    min-width: 200px;
                                    margin: 5px 15px;
                                    font-size: 1.7rem;
                                    padding: 10px 15px;
                                    border: 1px solid $content_color;
                                    color: $content_color;
                                    text-decoration: none;
                                    &:hover{
                                        color: black;
                                        border-color: black;
                                        text-decoration: none;
                                    }
                                }
                            }
                            .tree-helper-title{
                                margin: 10px;
                                padding: 0px 40px;
                                span{
                                    font-size: 1.5rem;
                                }
                            }
                            .posts-container{
                                position: relative;
                                padding: 20px 0px;
                                ul{
                                    list-style: none;
                                    margin: 10px;
                                    position: relative;
                                    overflow: hidden;
                                    > li{
                                        margin: 0px;
                                        font-size: 1.5rem;
                                        width: 100%;
                                        display: list-item;
                                        > .post-row-inner{
                                            padding: 15px 5px 15px 0px;
                                            //border-bottom: 1px dotted grey;
                                            .jstree-icon {
                                                background-image: url(../../images/global-icons/tree/32px-type2.png);
                                            }
                                            .jstree-ocl{
                                                background-position: -96px 0;
                                            }
                                            .drag-icon-wrapper{
                                                flex-basis: 50px;
                                                text-align: center;
                                                opacity: 1;
                                                img{
                                                    cursor: move;
                                                    display: none;
                                                }
                                            }
                                            .post-title{
                                                padding-left: 10px;
                                                flex-grow: 1;
                                                line-height: 32px;
                                            }
                                            .actions{
                                                a{
                                                    text-align: center;
                                                    cursor: pointer;
                                                    opacity: .5;
                                                    img{
                                                        width: 32px;
                                                    }
                                                    &:hover{
                                                        opacity: .9;
                                                    }
                                                    &.collapse-wrapper{
                                                        display: none;
                                                    }
                                                }
                                                .flex-col{
                                                    &.charge-col{
                                                        display: none;
                                                        .post-charge-wrapper{
                                                            font-size: 20px;
                                                            .c-switch {
                                                                position: relative;
                                                                display: inline-block;
                                                                width: 60px;
                                                                height: 34px;
                                                                margin-bottom: 0px;
                                                                vertical-align: middle;
                                                                input {display:none;}
                                                                input:checked + .slider {
                                                                    background-color: #6bc069;
                                                                }
                                                                input:focus + .slider {
                                                                    box-shadow: 0 0 1px #6bc069;
                                                                }
                                                                input:checked + .slider:before {
                                                                    -webkit-transform: translateX(26px);
                                                                    -ms-transform: translateX(26px);
                                                                    transform: translateX(26px);
                                                                }
                                                                .slider {
                                                                    position: absolute;
                                                                    cursor: pointer;
                                                                    top: 0;
                                                                    left: 0;
                                                                    right: 0;
                                                                    bottom: 0;
                                                                    background-color: #ccc;
                                                                    -webkit-transition: .4s;
                                                                    transition: .4s;
                                                                    &:before {
                                                                        position: absolute;
                                                                        content: "";
                                                                        height: 26px;
                                                                        width: 26px;
                                                                        left: 4px;
                                                                        bottom: 4px;
                                                                        background-color: white;
                                                                        -webkit-transition: .4s;
                                                                        transition: .4s;
                                                                    }
                                                                    &.round {
                                                                        border-radius: 34px;
                                                                        &:before {
                                                                            border-radius: 50%;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            .charge-label{
                                                                color: #3fb4ff;
                                                            }
                                                            >.fix-col:last-child{
                                                                line-height: 0;
                                                            }
                                                        }
                                                    }
                                                    &.save-col{
                                                        display: none;
                                                    }
                                                    &.comeback-col{
                                                        display: none;
                                                    }
                                                    &.publish-col{
                                                        display: none;
                                                        a {
                                                            img{
                                                                display: none;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            &:hover{
                                                background-color: rgba(255, 255, 255, 0.4);
                                            }
                                        }
                                        > ul {
                                            margin: 0px;
                                            display: block;
                                        }
                                        &.appear{
                                            animation-name: appearBlock;
                                            animation-duration: .5s;
                                            animation-fill-mode: forwards;
                                        }
                                        &.disappear{
                                            animation-name: disappearBlock;
                                            animation-duration: .5s;
                                            animation-fill-mode: forwards;
                                        }
                                        &.node-type-post{
                                            > .post-row-inner{
                                                .expand-wrapper{
                                                    display: none;
                                                }
                                                .drag-icon-wrapper{
                                                    img.type-post{
                                                        display: initial;
                                                    }
                                                }
                                            }
                                        }
                                        &.node-type-menu{
                                            > .post-row-inner{
                                                .drag-icon-wrapper{
                                                    img.type-menu{
                                                        display: initial;
                                                    }
                                                }
                                                .actions{
                                                    .flex-col{
                                                        &.publish-col{
                                                            display: initial;
                                                            a {
                                                                opacity: 1;
                                                                img{
                                                                    &.active-icon{
                                                                        display: initial;
                                                                    }
                                                                }
                                                                &:hover{
                                                                    opacity: .5;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        &.node-status-draft{
                                            &.node-type-menu{
                                                > .post-row-inner{
                                                    .actions{
                                                        .flex-col{
                                                            &.publish-col{
                                                                a {
                                                                    opacity: .5;
                                                                    &:hover{
                                                                        opacity: 1;
                                                                    }
                                                                    img{
                                                                        &.active-icon{
                                                                            display: none;
                                                                        }
                                                                        &.inactive-icon{
                                                                            display: initial;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        &.node-type-path{
                                            > .post-row-inner{
                                                .drag-icon-wrapper{
                                                    img.type-path{
                                                        display: initial;
                                                    }
                                                }
                                                .actions{
                                                    .view-post {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                        &.node-type-root {
                                            > .post-row-inner{
                                                .drag-icon-wrapper{
                                                    img.type-root{
                                                        display: initial;
                                                    }
                                                }
                                                .actions{
                                                    display: none;
                                                }
                                            }
                                        }
                                        &.ui-sortable-placeholder.mjs-nestedSortable-error{
                                            background-color: white;
                                            border-color: #f2dede;
                                            color: #f2dede;
                                            display: flex;
                                            align-items: center;
                                            width: 100%;
                                            &:before{
                                                content: 'Invalid Position';
                                                position: static;
                                                padding-left: 20px;
                                            }
                                        }
                                        &:last-child:not(.ui-sortable-placeholder){
                                            background: 0 0;
                                            display: list-item;
                                            position: relative;
                                            &:before{
                                                content: '';
                                                position: absolute;
                                                display: block;
                                                top: 0px;
                                                left: 0px;
                                                width: 32px;
                                                height: 15px;
                                                background-image: url(../../images/global-icons/tree/32px-type2.png);
                                                background-position: -288px 0;
                                                background-repeat: no-repeat;
                                            }
                                            > .post-row-inner{
                                            }
                                        }
                                        &.ui-sortable-placeholder{
                                            background-color: #fffa90;
                                        }
                                        &.jstree-open {
                                            > .post-row-inner{
                                                .jstree-ocl{
                                                    background-position: -128px 0;;
                                                }
                                            }
                                        }
                                        &.jstree-closed {
                                            > .post-row-inner{
                                                .jstree-ocl{
                                                    background-position: -96px 0;;
                                                }
                                            }
                                            &.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf){
                                                border: 1px dashed rgb(205, 200, 120);
                                            }
                                            > ul{
                                                display: none;
                                            }
                                        }
                                        &.jstree-loading{
                                            > .post-row-inner{
                                                .jstree-ocl.jstree-icon{
                                                    background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat;
                                                }
                                            }
                                        }
                                        &.jstree-leaf{
                                            > .post-row-inner{
                                                .jstree-ocl.jstree-icon{
                                                    background-position: -64px 0;
                                                }
                                            }
                                        }
                                        &.edit-status{
                                            > .post-row-inner{
                                                .post-title{
                                                    background-color: white;
                                                    border: 1px solid #CDCDCD;
                                                    &:focus{
                                                        outline-width: 1px;
                                                        border: transparent;
                                                    }
                                                }
                                                .actions{
                                                    .flex-col{
                                                        &.edit-col {
                                                            display: none;
                                                        }
                                                        &.del-col{
                                                            display: none;
                                                        }
                                                        &.save-col{
                                                            display: initial;
                                                        }
                                                        &.comeback-col{
                                                            display: initial;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        @keyframes focus-row {
                                            0% { background-color: #fffa90; }
                                            100% { background-color: rgba(255, 250, 144, .5); }
                                        }
                                        &.focus {
                                            >.post-row-inner{
                                                animation-name: focus-row;
                                                animation-duration: .7s;
                                                animation-fill-mode: forwards;
                                            }
                                        }
                                    }
                                }
                                > li.sample{
                                    display: none;
                                }
                                &.charged{
                                    ul{
                                        > li{
                                            > .post-row-inner{
                                                .actions{
                                                    .flex-col{
                                                        &.charge-col{
                                                            display: initial;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                li.ui-sortable-helper{
                                    margin: 0px;
                                    font-size: 1.5rem;
                                    width: 100%;
                                    display: list-item;
                                    > .post-row-inner{
                                        padding: 15px 5px 15px 0px;
                                        //border-bottom: 1px dotted grey;
                                        .jstree-icon {
                                            background-image: url(../../images/global-icons/tree/32px-type2.png);
                                        }
                                        .jstree-ocl{
                                            background-position: -96px 0;
                                        }
                                        .drag-icon-wrapper{
                                            flex-basis: 50px;
                                            text-align: center;
                                            opacity: 1;
                                            img{
                                                cursor: move;
                                                display: none;
                                            }
                                        }
                                        .post-title {
                                            padding-left: 10px;
                                            flex-grow: 1;
                                            line-height: 32px;
                                        }
                                        .actions{
                                            a{
                                                text-align: center;
                                                cursor: pointer;
                                                opacity: .5;
                                                img{
                                                    width: 32px;
                                                }
                                                &:hover{
                                                    opacity: .9;
                                                }
                                                &.collapse-wrapper{
                                                    display: none;
                                                }
                                            }
                                            .flex-col{
                                                &.save-col{
                                                    display: none;
                                                }
                                                &.comeback-col{
                                                    display: none;
                                                }
                                                &.publish-col{
                                                    display: none;
                                                    a {
                                                        img{
                                                            display: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        &:hover{
                                            background-color: rgba(255, 255, 255, 0.4);
                                        }
                                    }
                                    > ul {
                                        margin: 0px;
                                        display: block;
                                    }
                                    &.appear{
                                        animation-name: appearBlock;
                                        animation-duration: .5s;
                                        animation-fill-mode: forwards;
                                    }
                                    &.disappear{
                                        animation-name: disappearBlock;
                                        animation-duration: .5s;
                                        animation-fill-mode: forwards;
                                    }
                                    &.node-type-post{
                                        > .post-row-inner{
                                            .expand-wrapper{
                                                display: none;
                                            }
                                            .drag-icon-wrapper{
                                                img.type-post{
                                                    display: initial;
                                                }
                                            }
                                        }
                                    }
                                    &.node-type-menu{
                                        > .post-row-inner{
                                            .drag-icon-wrapper{
                                                img.type-menu{
                                                    display: initial;
                                                }
                                            }
                                            .actions{
                                                .flex-col{
                                                    &.publish-col{
                                                        display: initial;
                                                        a {
                                                            opacity: 1;
                                                            img{
                                                                &.active-icon{
                                                                    display: initial;
                                                                }
                                                            }
                                                            &:hover{
                                                                opacity: .5;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.node-status-draft{
                                        &.node-type-menu{
                                            > .post-row-inner{
                                                .actions{
                                                    .flex-col{
                                                        &.publish-col{
                                                            a {
                                                                opacity: .5;
                                                                &:hover{
                                                                    opacity: 1;
                                                                }
                                                                img{
                                                                    &.active-icon{
                                                                        display: none;
                                                                    }
                                                                    &.inactive-icon{
                                                                        display: initial;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.node-type-path{
                                        > .post-row-inner{
                                            .drag-icon-wrapper{
                                                img.type-path{
                                                    display: initial;
                                                }
                                            }
                                        }
                                    }
                                    &.node-type-root {
                                        > .post-row-inner{
                                            .drag-icon-wrapper{
                                                img.type-root{
                                                    display: initial;
                                                }
                                            }
                                            .actions{
                                                display: none;
                                            }
                                        }
                                    }
                                    &.ui-sortable-placeholder.mjs-nestedSortable-error{
                                        background-color: white;
                                        border-color: #f2dede;
                                        color: #f2dede;
                                        display: flex;
                                        align-items: center;
                                        width: 100%;
                                        &:before{
                                            content: 'Invalid Position';
                                            position: static;
                                            padding-left: 20px;
                                        }
                                    }
                                    &:last-child:not(.ui-sortable-placeholder){
                                        background: 0 0;
                                        display: list-item;
                                        position: relative;
                                        &:before{
                                            content: '';
                                            position: absolute;
                                            display: block;
                                            top: 0px;
                                            left: 0px;
                                            width: 32px;
                                            height: 15px;
                                            background-image: url(../../images/global-icons/tree/32px-type2.png);
                                            background-position: -288px 0;
                                            background-repeat: no-repeat;
                                        }
                                        > .post-row-inner{
                                        }
                                    }
                                    &.ui-sortable-placeholder{
                                        background-color: #fffa90;
                                    }
                                    &.jstree-open {
                                        > .post-row-inner{
                                            .jstree-ocl{
                                                background-position: -128px 0;;
                                            }
                                        }
                                    }
                                    &.jstree-closed {
                                        > .post-row-inner{
                                            .jstree-ocl{
                                                background-position: -96px 0;;
                                            }
                                        }
                                        &.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf){
                                            border: 1px dashed rgb(205, 200, 120);
                                        }
                                        > ul{
                                            display: none;
                                        }
                                    }
                                    &.jstree-loading{
                                        > .post-row-inner{
                                            .jstree-ocl.jstree-icon{
                                                background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat;
                                            }
                                        }
                                    }
                                    &.jstree-leaf{
                                        > .post-row-inner{
                                            .jstree-ocl.jstree-icon{
                                                background-position: -64px 0;
                                            }
                                        }
                                    }
                                    &.edit-status{
                                        > .post-row-inner{
                                            .post-title{
                                                background-color: white;
                                                border: 1px solid #CDCDCD;
                                                &:focus{
                                                    outline-width: 1px;
                                                    border: transparent;
                                                }
                                            }
                                            .actions{
                                                .flex-col{
                                                    &.edit-col {
                                                        display: none;
                                                    }
                                                    &.del-col{
                                                        display: none;
                                                    }
                                                    &.save-col{
                                                        display: initial;
                                                    }
                                                    &.comeback-col{
                                                        display: initial;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            > footer {
                                .main-footer-title{
                                    padding-left: 40px;
                                    padding-right: 40px;
                                    font-size: 2em;
                                    text-align: left;
                                }
                                .go-to-embed-preview{
                                    font-size: 2em;
                                    padding-right: 40px;
                                }
                                h3{
                                    font-size: 2em;
                                    text-align: center;
                                }
                                #select-layout{
                                    .layout-item{
                                        text-align: center;
                                        padding: 5px 20px;
                                        position: relative;
                                        .item-icon-wrapper{
                                            margin-bottom: 20px;
                                            svg{
                                                width: 250px;
                                                max-width: 100%;
                                                cursor: pointer;
                                                g{
                                                    fill: #808080;
                                                }
                                                &:hover{
                                                    g{
                                                        fill: #575757;
                                                    }
                                                }
                                            }
                                            img{
                                                width: 250px;
                                                max-width: 100%;
                                                cursor: pointer;
                                                opacity: .5;
                                                &:hover{
                                                    opacity: .6;
                                                }
                                            }
                                        }
                                        h3{
                                            font-size: 2em;
                                        }
                                        p{
                                            font-size: 1.5em;
                                        }
                                        a{
                                            font-size: 1.5em;
                                        }
                                        &:after{
                                            content: '';
                                            display: block;
                                            position: absolute;
                                            top: 0px;
                                            right: 0px;
                                            width: 1px;
                                            bottom: 100px;
                                            background-color: #575757;
                                        }
                                        &.last-item:after{
                                            display: none;
                                        }
                                    }
                                }
                                #information-display{
                                    ul{
                                        list-style: none;
                                        .field-item{
                                            font-size: 1.5em;
                                            margin-bottom: 15px;
                                            .icon-wrapper{
                                                position: relative;
                                                cursor: pointer;
                                                line-height: 0;
                                                img{
                                                    &.inactive-icon{
                                                    }
                                                    &.active-icon{
                                                        position: absolute;
                                                        top: 0px;
                                                        left: 0px;
                                                        opacity: 0;
                                                    }
                                                }
                                            }
                                            &.active-item {
                                                .icon-wrapper{
                                                    img{
                                                        &.inactive-icon{
                                                            opacity: 0;
                                                        }
                                                        &.active-icon{
                                                            position: absolute;
                                                            top: 0px;
                                                            left: 0px;
                                                            opacity: 1;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .go-to-codepen{
                                            display: inline-block;
                                            font-size: 20px;
                                            line-height: 28px;
                                            text-decoration: none;
                                            padding: 10px 20px;
                                            color: #fff;
                                            background-color: #00c0ff;
                                            border-radius: 5px;
                                            position: relative;
                                            -webkit-transition: 0.3s;
                                            transition: 0.3s;
                                            cursor: pointer;
                                            &:after{
                                                content: "";
                                                display: block;
                                                position: absolute;
                                                width: 100%;
                                                height: 2px;
                                                left: 0;
                                                bottom: 0;
                                                background-color: #0086b3;
                                                border-bottom-left-radius: 100%;
                                                border-bottom-right-radius: 100%;
                                            }
                                            &:hover{
                                                background-color: #0086b3;
                                            }
                                        }
                                }
                                #code-editor{
                                    max-width: 1400px;
                                    margin: 0px auto;
                                }
                            }
                        }
                    }
                    #add-items-tab{
                        margin-top: -40px;
                    }
                }
            }
            li.ui-sortable-helper{
                list-style: none;
                margin: 0px;
                font-size: 1.5rem;
                .post-row-inner{
                    padding: 15px 5px;
                    border-bottom: 1px dotted grey;
                    .drag-icon-wrapper{
                        flex-basis: 50px;
                        text-align: center;
                        opacity: .5;
                        img{
                            cursor: pointer;
                        }
                        &:hover{
                            opacity: 1;
                        }
                    }
                    .post-title{
                        padding-left: 10px;
                        flex-grow: 1;
                        line-height: 32px;
                    }
                    .actions{
                        a{
                            text-align: center;
                            cursor: pointer;
                            opacity: .5;
                            &:hover{
                                opacity: .9;
                            }
                        }
                    }
                }
                ul {
                    list-style: none;
                    margin: 0px;
                    li{
                        list-style: none;
                        margin: 0px;
                        font-size: 1.5rem;
                        .post-row-inner{
                            padding: 15px 5px;
                            border-bottom: 1px dotted grey;
                            .drag-icon-wrapper{
                                flex-basis: 50px;
                                text-align: center;
                                opacity: .5;
                                img{
                                    cursor: pointer;
                                }
                                &:hover{
                                    opacity: 1;
                                }
                            }
                            .post-title{
                                padding-left: 10px;
                                flex-grow: 1;
                                line-height: 32px;
                            }
                            .actions{
                                a{
                                    text-align: center;
                                    cursor: pointer;
                                    opacity: .5;
                                    &:hover{
                                        opacity: .9;
                                    }
                                }
                            }
                        }
                        ul {
                            list-style: none;
                            margin: 0px;
                        }
                    }
                }
            }
        }
        h1, h2, h3, h4, h5, h6{
            font-family: $default_font_family;
            margin-top: 0px;
            margin-bottom: 20px;
        }
        .loading{
            z-index: 1600;
        }
    }
}
.modal-edit-stripe{
    header.site-modal-header{
        font-size: 1.7em;
    }
    .site-modal-body{
        padding: 20px 10px;
        label.control-label{
            display: block;
            font-size: 1.3em;
            vertical-align: middle;
            text-align: right;
            font-weight: normal;
        }
        input.form-control{
            vertical-align: middle;
            font-size: 1.3em;
            height: auto;
        }
        .flex-row{
            margin-bottom: 20px;
        }
    }
}
.form-field-wrapper{
    $border-color: #a9a9a9;
    $focus-color: orange;
    margin: 5px auto;
    .form-field-inner{
        display: inline-flex;
        border: 1px #a9a9a9 solid;
        padding: 0px 0px 0px 0px;
        label.form-field-name{
            padding: 5px 10px;
            margin: 0px;
            background-color: #f8f7f9;
        }
        .form-field-value{
            padding: 5px 10px;
            border-left: 1px solid #a9a9a9;
            background-color: white;
            min-width: 100px;
            &[contentEditable=true]:empty:not(:focus):before{
                content: attr(placeholder);
                cursor: text;
            }
        }
        .form-field-helper {
            margin: 2px;
            padding: 5px 5px;
            color: white;
            align-self: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #25b7d3;
            font-family: FontAwesome;
            font-weight: bold;
            text-align: center;
            font-size: 25px;
            line-height: 21px;
            cursor: default;
        }
    }
    &.status-loading{
        color: $focus-color;
        transition: color ease-in .005s;
        .form-field-inner{
            transition: border-color ease-in .005s;
            border-color: $focus-color;
        }
    }
    &.status-loading-finished{
        animation-name: loading-finished;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        .form-field-inner{
            animation-name: loading-finished;
            animation-duration: .3s;
            animation-fill-mode: forwards;
        }
    }
    @keyframes loading-finished {
        from{
            border-color: $focus-color;
            color: $focus-color;
        }
        to {
            color: $content_color;
            border-color: $border-color;
        }
    }
}
@keyframes appearBlock {
    0% { opacity: 0; background-color: #fffa90;}
    100% {opacity: 1; background-color: rgba(255, 250, 144, .5);}
}
@keyframes disappearBlock {
    0% { opacity: 1; background-color: #fffa90;}
    100% {opacity: 0; background-color: rgba(255, 250, 144, .5);}
}

@keyframes uploading-effect {
    from{
        outline-offset: -5px;
        -moz-outline-radius: 0;
        opacity: .1;
    }
    50%{
        outline-offset: -30px;
        -moz-outline-radius: 50%;
        opacity: 1;
    }
    to{
        outline-offset: -5px;
        -moz-outline-radius: 0;
        opacity: .1;
    }
}
.site-lightbox{
    z-index: 1045;
}
.site-lightbox.cssMain .lightbox-content-wrapper .lightbox-content .modal-edit-entry-wrapper{
    .site-modal-header{
        padding: 0px 30px 10px 30px;
        border-bottom: 1px solid #e9ecef;
        margin: 0px -20px 10px;
        max-width: none;
    }
    form{
        //max-width: 1000px;
        margin: 0px auto;
        ul{
            list-style-type: decimal;
            li{
                font-size: 1.8rem;
                .form-group{
                    label{
                        font-weight: normal;
                    }
                    .form-control{
                        font-size: 1.8rem;
                        &:not(textarea){
                            height: auto;
                        }
                        &[name="description"]{
                            resize: vertical;
                        }
                    }
                    .cover-image-wrapper{
                        max-width: 500px;
                        margin: 10px auto 0px;
                        padding-bottom: 20px;
                        text-align: center;
                        position: relative;
                        border: 1px dashed grey;
                        border-radius: 20px;
                        .img-wrapper{
                            padding: 15px 0px;
                            img{
                                max-width: 256px;
                                min-width: 150px;
                                opacity: .6;
                                &.touched{
                                    opacity: 1;
                                }
                            }
                        }
                        input{
                            position: absolute;
                            display: block;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            cursor: pointer;
                        }
                    }
                    .note-editor{
                        .note-toolbar-wrapper{
                            max-width: none;
                            li{
                                max-width: none;
                            }
                            ul.dropdown-menu{
                                max-width: none;
                                li{
                                    max-width: none;
                                }
                            }
                        }
                    }
                    .cd-switch {
                        text-align: center;
                        position: relative;
                        height: 50px;
                        .switch {
                            position: absolute;
                            display: inline-block;
                            @include center(x);
                            z-index: 1;
                            input[type="radio"] {
                                visibility: hidden;
                                position: absolute;
                                height: 100%;
                                margin-top: 0px;
                                &#isPublic_yes:checked {
                                    ~ label[for="isPublic_yes"] {
                                        color: white;
                                        border: 1px solid $grey;
                                    }

                                    ~ .switchFilter {
                                        left: 0;
                                        opacity: 1;
                                        width: 87px;
                                    }
                                }

                                &#isPublic_no:checked {
                                    ~ label[for="isPublic_no"] {
                                        color: white;
                                        border: 1px solid $grey;
                                    }

                                    ~ .switchFilter {
                                        left: 100px;
                                        width: 87px;
                                        opacity: 1;
                                    }
                                }
                            }
                            .switchFilter {
                                width: 0;
                                display: inline-block;
                                background-color: $grey;
                                position: absolute;
                                left: 0;
                                opacity: 0;
                                top: 0;
                                bottom: 0;
                                z-index: -1;
                                @include transition(all .4s cubic-bezier(0,0,.25, 1));
                            }
                            label {
                                margin-bottom: 0px;
                                cursor: pointer;
                                text-transform: uppercase;
                                border: 1px solid $grey;
                                width: 85px;
                                padding: 8px 0;
                                text-align: center;
                                display: inline-block;
                                @include transition(all .4s);
                                margin-right: 10px;
                            }
                        }
                    }
                    input[name='refLink']{
                        &.is-dragover{
                            border-color: #66afe9;
                        }
                    }
                }
            }
        }
        footer{
            text-align: center;
            button{
                width: 250px;
                padding: 7px;
                font-size: 18px;
                border-radius: 20px;
                background: transparent;
                border: 2px solid rgb(83, 212, 173);
                color: rgb(83, 212, 173);
                margin: 15px;
                &:hover{
                    background: rgb(83, 212, 173);
                    color: white;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
}
/* Absolute Center Spinner */