@import "../../config/css/colors.scss";
@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";


html{
    body{
        .site-wrapper.page{
            .site-content{
                text-align: left;
                .content-header{
                    padding: 70px 70px 20px;
                    background-color: $lightGreen;
                    position: relative;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
                        background-size: 5px 1px;
                        background-repeat: repeat-x;
                    }
                    .header-left{
                        .page-name{
                            font-weight: bold;
                            margin-top: 0px;
                            margin-bottom: 10px;
                        }
                        .pane-name{
                            font-weight: bold;
                            margin-top: 0px;
                            margin-bottom: 10px;
                        }
                        .posts-count{
                            color: white;
                        }
                        .is-editing{
                            font-size: 1.5rem;
                            margin-bottom: 16px;
                        }
                        .some-txt{
                            font-size: 1.5rem;
                        }
                        .select-embed-type-wrapper{
                            margin: 3px 0px;
                        }
                        .back-to-my_series{
                            color: $lightGrey;
                            text-decoration: none;
                            &:hover{
                                color: $contentColor;
                                &:after{
                                    background-color: $contentColor;
                                }
                            }
                        }
                    }
                    .header-right{
                        .action-item {
                            background-color: transparent;
                            display: flex;
                            line-height: 0;
                            border-radius: 50%;
                            border: 1px solid $greenColor;
                            height: 50px;
                            width: 50px;
                            box-sizing: border-box;
                            justify-content: center;
                            align-items: center;
                            svg{
                                width: 25px;
                                max-height: 25px;
                                g{
                                    fill: $greenColor !important;
                                }
                                path{
                                    fill: $greenColor !important;
                                }
                                polygon{
                                    fill: $greenColor;
                                }
                                circle{
                                    fill: $greenColor !important;
                                }
                            }
                            &:hover{
                                border-color: $greenHover;
                                svg{
                                    g, path, polygon, circle{
                                        fill: $greenHover !important;
                                    }
                                }
                            }
                        }
                        .add-new-item-wrapper{
                            position: relative;
                            z-index: 1;
                            margin-bottom: 5px;
                            .add-new-item-btn{
                                display: block;
                                background-color: $greenColor;
                                color: white;
                                border-radius: 30px;
                                font-size: 2rem;
                                padding: 13px 30px;
                                text-decoration: none;
                                &:hover{
                                    background-color: $greenHover;
                                }
                            }
                            &:hover{
                            }
                        }
                        .delete-series{
                            display: block;
                            width: 100%;
                            text-align: center;
                            color: $contentColor;
                            text-decoration: underline;
                            font-size: 1.3rem;
                            &:hover{
                                color: black;
                            }
                        }
                    }
                }
                main.main-content{
                    width: 1200px;
                    max-width: 100%;
                    margin: 0px auto;
                    padding: 20px 50px 100px;
                    text-align: left;
                    transition: all .3s ease-out;
                    #series-editing-tab{
                        .edit-series-form{
                            margin-bottom: 90px;
                            .form-left{
                                .form-group{
                                    label.control-label{
                                        display: block;
                                        position: relative;
                                        padding: 7px 15px 0px 0px;
                                        font-weight: normal;
                                        font-size: 1.5rem;
                                        &.required:after {
                                            content: "*";
                                            position: absolute;
                                            top: 0px;
                                            right: 0px;
                                            color: $redColor;
                                        }
                                        &.margin-bottom{
                                            margin-bottom: 10px;
                                        }
                                        &.margin-bottom-2{
                                            margin-bottom: 15px;
                                        }
                                    }
                                    input{
                                        padding-left: 0px;
                                        border: none;
                                        border-bottom: 1px solid $lightGrey;
                                        box-shadow: none;
                                        border-radius: 0px;
                                        font-size: 1.5rem;
                                        &::placeholder{
                                            color: $lightGrey;
                                        }
                                        &[name="strSeries_title"]{
                                            max-width: 385px;
                                        }
                                    }
                                    .public-value-txt{
                                        margin-left: 10px;
                                        color: $greenColor;
                                    }
                                    .day-item{
                                        margin-right: 5px;
                                        input{
                                            background-color: transparent;
                                            margin-top: 0px;
                                            vertical-align: middle;
                                            position: absolute;
                                            left: -9999px;
                                            &:checked{
                                                & + label{
                                                    color: black;
                                                    &:before{
                                                        border-color: black;
                                                    }
                                                    &:after{
                                                        font-size: .9em;
                                                        content: '\2714';
                                                        position: absolute;
                                                        right: 0em;
                                                        top: 0em;
                                                        width: 1em;
                                                        height: 1em;
                                                        color: black;
                                                    }
                                                }
                                            }
                                        }
                                        label{
                                            color: $contentColor;
                                            font-size: 18px;
                                            line-height: 1.1em;
                                            vertical-align: middle;
                                            position: relative;
                                            padding-right: 1.3em;
                                            cursor: pointer;
                                            font-weight: normal;
                                            &:before{
                                                content: '';
                                                position: absolute;
                                                right: 0px;
                                                top: 0px;
                                                width: 1em;
                                                height: 1em;
                                                border: 1px solid $lightGrey;
                                                border-radius: 2px;
                                            }
                                        }
                                    }
                                    .cover-image-wrapper{
                                        margin: 10px 0px;
                                        padding: 50px 20px;
                                        text-align: center;
                                        position: relative;
                                        border: 1px dashed $lightGrey;
                                        border-radius: 20px;
                                        color: $lightGrey;
                                        .img-wrapper{
                                            img{
                                                max-width: 80px;
                                                opacity: .3;
                                            }
                                        }
                                        input{
                                            position: absolute;
                                            display: block;
                                            top: 0px;
                                            left: 0px;
                                            width: 100%;
                                            height: 100%;
                                            opacity: 0;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                .multi-line-background{
                                    textarea{
                                        &::placeholder{
                                            color: $lightGrey;
                                        }
                                        &:valid{
                                            outline: none;
                                            border-color: #d4d6c9;
                                        }
                                    }
                                }
                            }
                            .form-right{
                                margin-left: 100px;
                                .cover-image-wrapper{
                                    width: 230px;
                                    margin: 10px auto 0px;
                                    padding-top: 40px;
                                    padding-bottom: 20px;
                                    text-align: center;
                                    position: relative;
                                    border: 1px dashed $lightGrey;
                                    border-radius: 20px;
                                    .img-wrapper{
                                        margin-bottom: 25px;
                                        padding: 0px 0px 15px;
                                        img{
                                            width: 100px;
                                        }
                                    }
                                    .cloud-img-wrapper{
                                        margin-bottom: 15px;
                                        img{
                                            width: 60px;
                                            opacity: .5;
                                        }
                                    }
                                    input{
                                        position: absolute;
                                        display: block;
                                        top: 0px;
                                        left: 0px;
                                        width: 100%;
                                        height: 100%;
                                        opacity: 0;
                                        cursor: pointer;
                                    }
                                    .delete-action{
                                        display: inline-block;
                                        position: absolute;
                                        top: 15px;
                                        right: 20px;
                                        border-radius: 50%;
                                        line-height: 0;
                                        svg{
                                            width: 20px;
                                            height: 20px;
                                            vertical-align: middle;
                                            g, path{
                                                fill: $greenColor;
                                            }
                                        }
                                        &:hover{
                                            svg{
                                                g, path{
                                                    fill: #1f9965;
                                                }
                                            }
                                        }
                                    }
                                    &.drag-over{
                                        border-style: solid;
                                    }
                                }
                            }
                            .co-owners-wrapper{
                                .form-group{
                                    label.control-label{
                                        display: block;
                                        position: relative;
                                        padding: 7px 15px 0px 0px;
                                        font-weight: normal;
                                        font-size: 1.5rem;
                                        &.required:after {
                                            content: "*";
                                            position: absolute;
                                            top: 0px;
                                            right: 0px;
                                            color: $redColor;
                                        }
                                        &.margin-bottom{
                                            margin-bottom: 10px;
                                        }
                                        &.margin-bottom-2{
                                            margin-bottom: 15px;
                                        }
                                    }
                                    input{
                                        padding-left: 0px;
                                        border: none;
                                        border-bottom: 1px solid $lightGrey;
                                        box-shadow: none;
                                        border-radius: 0px;
                                        font-size: 1.5rem;
                                        &::placeholder{
                                            color: $lightGrey;
                                        }
                                        &[name="strSeries_title"]{
                                            max-width: 385px;
                                        }
                                    }
                                }
                                .c-switch {
                                    width: 200px;
                                    height: 30px;
                                    input{
                                        &:checked + .slider{
                                            border-color: rgb(200, 202, 188);
                                            &:before{
                                                background-color: #c8cabc !important;
                                                -webkit-transform: translateX(calc(200px - 95px - 10px));
                                                -ms-transform: translateX(calc(200px - 95px - 10px));
                                                transform: translateX(calc(200px - 95px - 10px));
                                            }
                                        }
                                        &:checked ~ .value-text-wrapper{
                                            .value-txt{
                                                &.accepted-txt{
                                                    color: $lightGrey;
                                                }
                                                &.invited-txt{
                                                    color: white;
                                                }
                                            }
                                        }
                                    }
                                    .value-text-wrapper{
                                        cursor: pointer;
                                        position: absolute;
                                        top: 0px;
                                        left: 0px;
                                        width: 100%;
                                        height: 100%;
                                        .value-txt{
                                            font-size: 1.2rem;
                                            color: $lightGrey;
                                            font-weight: normal;
                                            transition: all .4s ease;
                                            &.accepted-txt{
                                                margin-right: 50px;
                                                color: white;
                                            }
                                            &.invited-txt{
                                                position: relative;
                                                right: 7px;
                                            }
                                        }
                                    }
                                    .slider {
                                        background-color: $lightGreen;
                                        &:before {
                                            width: 95px;
                                            border-radius: 15px;
                                        }
                                    }
                                }
                                .owners-container{
                                    max-width: 100%;
                                    min-height: 200px;
                                    transition: all .3s ease-out;
                                    .owner-item{
                                        padding: 0px 15px;
                                        font-size: 1.5rem;
                                        flex-basis: calc(100% / 4);
                                        margin-bottom: 20px;
                                        .item-header{
                                            margin-bottom: 10px;
                                            .role-txt{

                                            }
                                            .item-action{
                                                display: block;
                                                line-height: 0;
                                                svg{
                                                    width: 25px;
                                                    height: 25px;
                                                    g, path {
                                                        fill: $lightGrey;
                                                    }
                                                }
                                                &.edit-action {
                                                    display: flex;
                                                    width: 25px;
                                                    height: 25px;
                                                    border-radius: 50%;
                                                    border: 1px solid $lightGrey;
                                                    svg {
                                                        width: 12px;
                                                        height: 12px;
                                                    }
                                                }
                                                &:hover{
                                                    svg{
                                                        g, path {
                                                            fill: $contentColor;
                                                        }
                                                    }
                                                    &.edit-action {
                                                        border-color: $contentColor;
                                                    }
                                                }
                                            }
                                        }
                                        .item-img-wrapper{
                                            width: 100%;
                                            height: calc(130px + 3vw);
                                            position: relative;
                                            margin-bottom: 15px;
                                            background-image: url("../../images/global-icons/user-avatar.svg");
                                            background-size: contain;
                                            background-position: center center;
                                            background-repeat: no-repeat;
                                        }
                                        .user-name{}
                                    }
                                    .add-friend-card{
                                        padding: 35px 15px 0px;
                                        font-size: 1.5rem;
                                        flex-basis: calc(100% / 4);
                                        margin-bottom: 20px;
                                        .add-friend-inner{
                                            width: 100%;
                                            height: calc(130px + 3vw);
                                            padding: 15px;
                                            border: 1px dashed $lightGrey;
                                            border-radius: 15px;
                                            .input-wrapper{
                                                position: relative;
                                                .enter-icon-wrapper{
                                                    position: absolute;
                                                    right: 0px;
                                                    top: 0px;
                                                    height: 100%;
                                                    width: 30px;
                                                    svg{
                                                        width: 20px;
                                                        height: 20px;
                                                        g, path{
                                                            fill: $lightGrey;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .charge-series-wrapper{
                                margin: 0px auto;
                                padding: 60px 10px 50px;
                                .charge-content{
                                    .connect-account-wrapper{
                                        margin-bottom: 40px;
                                        a{
                                            margin-right: 10px;
                                            text-decoration: none;
                                        }
                                    }
                                    .group-row-wrapper{
                                        margin-bottom: 20px;
                                        .group-col{
                                            .col-name{
                                                margin-bottom: 10px;
                                                font-size: 1.5rem;
                                                font-weight: normal;
                                                &.percent-label{
                                                    margin-bottom: 40px;
                                                }
                                                &.affiliate-will-get-label{
                                                    margin-bottom: 30px;
                                                }
                                            }
                                            .col-value{
                                                display: block;
                                                width: 100%;
                                                padding-left: 0px;
                                                border: none;
                                                border-bottom: 1px solid $lightGrey;
                                                box-shadow: none;
                                                border-radius: 0px;
                                                font-size: 1.5rem;
                                                &:focus{
                                                    outline: none;
                                                }
                                                &[disabled] {
                                                    background-color: transparent;
                                                }
                                                &.you-will-get-value{
                                                    color: $yellowColor;
                                                    border-color: $yellowColor;
                                                }
                                                &.affiliate-will-get-value{
                                                    color: $greenColor;
                                                    border-color: $greenColor;
                                                }
                                            }
                                            .c-switch {
                                                .slider {
                                                    background-color: $lightGreen;
                                                    &:before {
                                                    }
                                                }
                                            }
                                            .slider{
                                                width: 100%;
                                                .slider-track{
                                                    .slider-selection{
                                                        background-image: none;
                                                        background-color: yellow;
                                                        box-shadow: none;
                                                        box-sizing: border-box;
                                                        border: 1px solid #cccccc;
                                                    }
                                                    .slider-track-high{
                                                        background-color: white;
                                                        box-shadow: none;
                                                        box-sizing: border-box;
                                                        border: 1px solid #cccccc;
                                                    }
                                                }
                                                .slider-handle{
                                                    width: 10px;
                                                    margin-left: -5px;
                                                    border-radius: 5px;
                                                    background-color: #ccc;
                                                    background-image: none;
                                                }
                                            }
                                            &.toggle-col{
                                                width: 300px;
                                                margin-right: 20px;
                                                .get-payment-txt{
                                                    color: $greenColor;
                                                }
                                            }
                                            &.gets-col{
                                                margin-left: 20px;
                                                width: 110px;
                                            }
                                        }
                                        .value-wrap {
                                            width: 350px;
                                            margin: 20px auto;
                                            color: #feba19;
                                            text-align: center;
                                            .end-value {
                                                font-size: 20px;
                                                width: 50px;
                                                text-align: center;
                                            }
                                            .slider {
                                                width: 100%;
                                                .slider-track{
                                                    .slider-selection{
                                                        background-image: none;
                                                        background-color: #6ad19f;
                                                        box-shadow: none;
                                                        box-sizing: border-box;
                                                        border: 1px solid #cccccc;
                                                    }
                                                    .slider-track-high{
                                                        background-color: white;
                                                        box-shadow: none;
                                                        box-sizing: border-box;
                                                        border: 1px solid #cccccc;
                                                    }
                                                }
                                                .tooltip-main{
                                                    opacity: 1 !important;
                                                    margin-top: -55px;
                                                    z-index: 90;
                                                    .tooltip-inner{
                                                        background-color: transparent;
                                                        color: #feba19;
                                                        font-size: 35px;
                                                        &:before{
                                                            display: inline;
                                                            content: '$';
                                                            font-size: 35px;
                                                        }
                                                    }
                                                    .tooltip-arrow{
                                                        display: none !important;
                                                    }
                                                }
                                                .slider-handle{
                                                    width: 10px;
                                                    margin-left: -5px;
                                                    border-radius: 5px;
                                                    background-color: #ccc;
                                                    background-image: none;
                                                }
                                            }
                                            &.disable{
                                                color: #c8cabc;
                                                .slider {
                                                    .slider-track{
                                                        .slider-selection{
                                                            background-color: #c8cabc;
                                                            border: 1px solid #cccccc;
                                                        }
                                                        .slider-track-high{
                                                            background-color: white;
                                                            border: 1px solid #cccccc;
                                                        }
                                                    }
                                                    .tooltip-main{
                                                        opacity: 0 !important;
                                                        margin-top: -55px;
                                                    }
                                                }
                                            }
                                            &.no-affiliate {
                                                .slider {
                                                    .slider-track{
                                                        .slider-selection{
                                                            background-color: #c8cabc;
                                                            border: 1px solid #cccccc;
                                                        }
                                                        .slider-track-high{
                                                            background-color: white;
                                                            border: 1px solid #cccccc;
                                                        }
                                                    }
                                                    .tooltip-main{
                                                        opacity: 0 !important;
                                                    }
                                                }
                                            }
                                        }
                                        .center-col{
                                            flex-basis: 200px;
                                        }
                                    }
                                }
                                .step-description{
                                    width: 230px;
                                    margin-left: 100px;
                                    font-size: 1.5rem;
                                }
                            }
                            .button-wrapper{
                                margin-top: 20px;
                                text-align: center;
                                .save-btn{
                                    background-color: $greenColor;
                                    border: none;
                                    outline: none;
                                    color: white;
                                    display: block;
                                    width: 290px;
                                    margin: 0px auto;
                                    text-align: center;
                                    padding: 12px 5px;
                                    border-radius: 30px;
                                    font-size: 2rem;
                                    font-weight: lighter;
                                    &:hover{
                                        background-color: $greenHover;
                                    }
                                    &.small{
                                        display: inline-block;
                                        width: auto;
                                        padding: 10px 30px;
                                        font-size: 1.5rem;
                                    }
                                }
                            }
                        }
                        .invite-friend-wrapper{
                            padding: 0px 30px;
                            border-radius: 30px;
                            background-color: $redColor;
                            color: white;
                            .invite-content{
                                position: relative;
                                padding-left: 70px;
                                .invite-txt{
                                    margin: 0px 0px 5px;
                                    font-weight: bold;
                                    font-size: 1.7rem;
                                }
                                .to-add-txt{
                                    margin-bottom: 10px;
                                    font-size: 1.7rem;
                                }
                                .invite-friend-form{
                                    max-width: 450px;
                                    .input-wrapper{
                                        input{
                                            display: block;
                                            width: 100%;
                                            border: none;
                                            border-bottom: 1px solid white;
                                            font-size: 1.5rem;
                                            background-color: transparent;
                                            &:focus{
                                                outline: none;
                                            }
                                            &::placeholder{
                                                color: $lightGrey;
                                            }
                                        }
                                        button.btn{
                                            padding: 0px;
                                            background-color: transparent;
                                            svg{
                                                width: 30px;
                                                polygon, path{
                                                }
                                            }
                                            &:focus{
                                                outline: none;
                                            }
                                        }
                                    }
                                }
                                .plane-wrapper{
                                    position: absolute;
                                    left: 5px;
                                    bottom: 30px;
                                    img{
                                        height: 150px;
                                    }
                                }
                            }
                            .invite-image-wrapper{
                                margin: -164px 0px -10px;
                                img{
                                    width: 315px;
                                }
                            }
                        }
                    }
                    #series-structure-tab{
                        .posts-structure-component{
                            margin-top: 20px;
                        }
                    }
                    #series-embed-tab{
                        .embed-preview-header{
                            margin-bottom: 20px;
                            .style-txt {
                                font-size: 1.5rem;
                            }
                            .get-code-btn {
                                background-color: transparent;
                                border: 1px solid $greenColor;
                                font-size: 1.5rem;
                                border-radius: 10px;
                                padding: 5px 15px;
                                transition: all .03s ease-out;
                                width: 120px;
                                text-align: center;
                                &:focus {
                                    outline: none;
                                }
                                &:hover, &.copied{
                                    background-color: $greenColor;
                                    color: white;
                                }
                            }
                            .embed-style-item{
                                color: $greyColor;
                                svg{
                                    width: 28px;
                                    g, path{
                                        fill: $lightGrey;
                                    }
                                }
                                &:hover, &.active-item{
                                    svg{
                                        g, path{
                                            fill: $contentColor;
                                        }
                                    }
                                }
                            }
                            .get-code-col{
                                margin-left: 50px;
                                margin-right: auto;
                            }
                        }
                        .embed-preview-wrapper{
                            margin-bottom: 40px;
                            max-height: 600px;
                            overflow: auto;
                            border: 1px dashed $lightGrey;
                            border-radius: 10px;
                        }
                        .embed-code-header{
                            font-size: 1.5rem;
                            span{
                                font-weight: bold;
                            }
                            margin-bottom: 16px;
                        }
                        .code-editor-wrapper{

                        }
                    }
                }
                &:not(.structure-mode):not(.embed-mode){
                    .d-normal-block{
                        display: block !important;
                    }
                    .d-normal-flex{
                        display: flex !important;
                    }
                    .d-normal-none{
                        display: none !important;
                    }
                }
                &.structure-mode{
                    .d-structure-block{
                        display: block !important;
                    }
                    .d-structure-flex{
                        display: flex !important;
                    }
                    .d-structure-none{
                        display: none !important;
                    }
                }
                &.embed-mode{
                    .d-embed-block{
                        display: block !important;
                    }
                    .d-embed-flex{
                        display: flex !important;
                    }
                    .d-embed-none{
                        display: none !important;
                    }
                }
            }
        }
    }
}
.c-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-bottom: 0px;
    vertical-align: middle;
    input {display:none;}
    input:checked + .slider {
        background-color: transparent;
        border-color: $yellowColor;
        &:before{
            background-color: $yellowColor;
        }
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #6bc069;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        -webkit-transition: .4s;
        transition: .4s;
        border: 1px solid $lightGrey;
        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: calc((100% - 20px) / 2);
            background-color: $lightGrey;
            -webkit-transition: .4s;
            transition: .4s;
        }
        &.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
    }
}


.select2-container .select2-selection--single{
    padding-top: 3px;
    height: 35px;
    border-color: $lightGrey;
    .select2-selection__arrow{
        top: 4px;
    }
    span.select2-selection__rendered{
        font-size: 1.5rem;
        color: $contentColor;
    }
    &:focus{
        outline: none;
    }
}
.select2-results__option{
    font-size: 16px;
}