$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;
$grey: grey;
$blue: #1bacff;

@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

// Variables
$orange: #DB6576;
$beige: #E9DFD3;

$main-font: 'Raleway', sans-serif;

// Mixin
@mixin center($xy:xy) {
   @if $xy == xy {
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      @include transform(translateX(-50%) translateY(-50%));
   }
   @else if $xy == x {
      left: 50%;
      right: auto;
      @include transform(translateX(-50%));
   }
   @else if $xy == y {
      top: 50%;
      bottom: auto;
      @include transform(translateY(-50%));
   }
}

.site-wrapper.page{
   font-family: $default_font_family;
   & > .site-content{
      padding: 30px 50px;
      & > .content-wrapper{
         main.main-content{
            text-align: left;
            min-height: 700px;
            position: relative;
            padding: 50px 10px 0px;
            background-color: #f8f7f9;
            > h2{
               font-family: $default_font_family;
               margin-top: 0px;
               margin-bottom: 20px;
            }
            form{
               max-width: 1000px;
               margin: 0px auto;
               > ul{
                  list-style-type: decimal;
                  > li{
                     font-size: 1.8rem;
                     .form-group{
                        label{
                           font-weight: normal;
                        }
                        .form-control{
                           font-size: 1.8rem;
                           &:not(textarea){
                              height: auto;
                           }
                           &[name="description"]{
                              resize: vertical;
                           }
                        }
                        .cover-image-wrapper{
                           max-width: 500px;
                           margin: 10px auto 0px;
                           padding-bottom: 20px;
                           text-align: center;
                           position: relative;
                           border: 1px dashed grey;
                           border-radius: 20px;
                           .img-wrapper{
                              padding: 15px 0px;
                              img{
                                 max-width: 256px;
                                 min-width: 150px;
                                 opacity: .6;
                                 &.touched{
                                    opacity: 1;
                                 }
                              }
                           }
                           input{
                              position: absolute;
                              display: block;
                              top: 0px;
                              left: 0px;
                              width: 100%;
                              height: 100%;
                              opacity: 0;
                              cursor: pointer;
                           }
                        }
                        .note-editor.note-frame.panel{
                           .note-btn-group{

                           }
                        }
                        .cd-switch {
                           text-align: center;
                           position: relative;
                           height: 50px;
                           .switch {
                              position: absolute;
                              display: inline-block;
                              @include center(x);
                              z-index: 1;
                              input[type="radio"] {
                                 visibility: hidden;
                                 position: absolute;
                                 height: 100%;
                                 margin-top: 0px;
                                 &#isPublic_yes:checked {
                                    ~ label[for="isPublic_yes"] {
                                       color: white;
                                       border: 1px solid $grey;
                                    }

                                    ~ .switchFilter {
                                       left: 0;
                                       opacity: 1;
                                       width: 87px;
                                    }
                                 }

                                 &#isPublic_no:checked {
                                    ~ label[for="isPublic_no"] {
                                       color: white;
                                       border: 1px solid $grey;
                                    }

                                    ~ .switchFilter {
                                       left: 100px;
                                       width: 87px;
                                       opacity: 1;
                                    }
                                 }
                              }
                              .switchFilter {
                                 width: 0;
                                 display: inline-block;
                                 background-color: $grey;
                                 position: absolute;
                                 left: 0;
                                 opacity: 0;
                                 top: 0;
                                 bottom: 0;
                                 z-index: -1;
                                 @include transition(all .4s cubic-bezier(0,0,.25, 1));
                              }
                              label {
                                 margin-bottom: 0px;
                                 cursor: pointer;
                                 text-transform: uppercase;
                                 border: 1px solid $grey;
                                 width: 85px;
                                 padding: 8px 0;
                                 text-align: center;
                                 display: inline-block;
                                 @include transition(all .4s);
                                 margin-right: 10px;
                              }
                           }
                        }
                        input[name='refLink']{
                           &.is-dragover{
                              border-color: #66afe9;
                           }
                        }
                     }
                     &.reference-item{
                        .form-group{
                           label{
                              width: auto;
                           }
                           .form-control{
                              display: inline-block;
                              width: auto;
                           }
                        }
                     }
                     >aside{
                        margin-bottom: 5px;
                     }
                  }
               }
               footer{
                  text-align: center;
                  padding-bottom: 50px;
                  button{
                     width: 300px;
                     padding: 7px;
                     font-size: 18px;
                     border-radius: 20px;
                     background: transparent;
                     border: 2px solid rgb(83, 212, 173);
                     color: rgb(83, 212, 173);
                     &:hover{
                        background: rgb(83, 212, 173);
                        color: white;
                     }
                     &:focus{
                        outline: none;
                     }
                  }
               }
            }
         }
      }
   }
}