.site-wrapper.page {
  font-family: "EB Garamond", sans-serif; }
  .site-wrapper.page > .site-content {
    padding: 30px 50px; }
    .site-wrapper.page > .site-content > .content-wrapper main.main-content {
      text-align: left;
      min-height: 700px;
      position: relative;
      padding: 50px 10px 0px;
      background-color: #f8f7f9; }
      .site-wrapper.page > .site-content > .content-wrapper main.main-content > h2 {
        font-family: "EB Garamond", sans-serif;
        margin-top: 0px;
        margin-bottom: 20px; }
      .site-wrapper.page > .site-content > .content-wrapper main.main-content form {
        max-width: 1000px;
        margin: 0px auto; }
        .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul {
          list-style-type: decimal; }
          .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li {
            font-size: 1.8rem; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group label {
              font-weight: normal; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .form-control {
              font-size: 1.8rem; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .form-control:not(textarea) {
                height: auto; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .form-control[name="description"] {
                resize: vertical; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cover-image-wrapper {
              max-width: 500px;
              margin: 10px auto 0px;
              padding-bottom: 20px;
              text-align: center;
              position: relative;
              border: 1px dashed grey;
              border-radius: 20px; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cover-image-wrapper .img-wrapper {
                padding: 15px 0px; }
                .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cover-image-wrapper .img-wrapper img {
                  max-width: 256px;
                  min-width: 150px;
                  opacity: .6; }
                  .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cover-image-wrapper .img-wrapper img.touched {
                    opacity: 1; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cover-image-wrapper input {
                position: absolute;
                display: block;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cd-switch {
              text-align: center;
              position: relative;
              height: 50px; }
              .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cd-switch .switch {
                position: absolute;
                display: inline-block;
                left: 50%;
                right: auto;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                z-index: 1; }
                .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cd-switch .switch input[type="radio"] {
                  visibility: hidden;
                  position: absolute;
                  height: 100%;
                  margin-top: 0px; }
                  .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cd-switch .switch input[type="radio"]#isPublic_yes:checked ~ label[for="isPublic_yes"] {
                    color: white;
                    border: 1px solid grey; }
                  .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cd-switch .switch input[type="radio"]#isPublic_yes:checked ~ .switchFilter {
                    left: 0;
                    opacity: 1;
                    width: 87px; }
                  .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cd-switch .switch input[type="radio"]#isPublic_no:checked ~ label[for="isPublic_no"] {
                    color: white;
                    border: 1px solid grey; }
                  .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cd-switch .switch input[type="radio"]#isPublic_no:checked ~ .switchFilter {
                    left: 100px;
                    width: 87px;
                    opacity: 1; }
                .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cd-switch .switch .switchFilter {
                  width: 0;
                  display: inline-block;
                  background-color: grey;
                  position: absolute;
                  left: 0;
                  opacity: 0;
                  top: 0;
                  bottom: 0;
                  z-index: -1;
                  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
                  -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
                  transition: all 0.4s cubic-bezier(0, 0, 0.25, 1); }
                .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group .cd-switch .switch label {
                  margin-bottom: 0px;
                  cursor: pointer;
                  text-transform: uppercase;
                  border: 1px solid grey;
                  width: 85px;
                  padding: 8px 0;
                  text-align: center;
                  display: inline-block;
                  -webkit-transition: all 0.4s;
                  -moz-transition: all 0.4s;
                  transition: all 0.4s;
                  margin-right: 10px; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li .form-group input[name='refLink'].is-dragover {
              border-color: #66afe9; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li.reference-item .form-group label {
              width: auto; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li.reference-item .form-group .form-control {
              display: inline-block;
              width: auto; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form > ul > li > aside {
              margin-bottom: 5px; }
        .site-wrapper.page > .site-content > .content-wrapper main.main-content form footer {
          text-align: center;
          padding-bottom: 50px; }
          .site-wrapper.page > .site-content > .content-wrapper main.main-content form footer button {
            width: 300px;
            padding: 7px;
            font-size: 18px;
            border-radius: 20px;
            background: transparent;
            border: 2px solid #53d4ad;
            color: #53d4ad; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form footer button:hover {
              background: #53d4ad;
              color: white; }
            .site-wrapper.page > .site-content > .content-wrapper main.main-content form footer button:focus {
              outline: none; }

/*# sourceMappingURL=createIdeabox-page.css.map */
