$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;

// Variables
$grey: grey;
$green: #1ecd97;

html{
   font-size: 12px;
   overflow: hidden;
   body{
      .site-wrapper.page{
         font-family: $default_font_family;
         position: fixed;
         top: 0px;
         left: 0px;
         width: 100%;
         height: 100%;
         overflow-y: auto;
         overflow-x: hidden;
         & > .site-content{
            padding: 30px 50px;
            & > .content-wrapper{
               .decoration-container{
                  .decoration.top-right.view-all-path{
                     position: absolute;
                     right: 10px;
                     top: 10px;
                     a{
                        font-size: 2rem;
                        text-align: right;
                        color: $grey;
                        transition: all ease .3s;
                        &:after{
                           content: '';
                           display: block;
                           position: absolute;
                           bottom: 3px;
                           height: 1px;
                           background-color: black;
                           width: 0%;
                           left: 50%;
                           transition: all .3s;
                        }
                        span{
                           position: relative;
                           right: 0px;
                           bottom: 2px;
                           transition: all ease .3s;
                           &:first-child{
                           }
                           &:last-child{
                              right: 3px;
                           }
                        }
                        &:hover{
                           text-decoration: none;
                           color: black;
                           span{
                              transition: all ease .3s;
                              &:first-child{
                                 right: 6px;
                              }
                              &:last-child{
                                 right: 6px;
                              }
                           }
                           &:after{
                              left: 0%;
                              width: 100%;
                           }
                        }
                     }
                  }
               }
               header.content-header{
                  padding-left: 320px;
                  padding-bottom: 0px;
                  margin-top: 10px;
                  font-size: 24px;
                  .new-series{
                     margin-left: 25px;
                     display: inline-block;
                     text-align: right;
                     a{
                        vertical-align: middle;
                        color: $content_color;
                        svg{
                           position: relative;
                           bottom: 3px;
                           width: 40px;
                           vertical-align: middle;
                        }
                        &:hover{
                           color: black;
                        }
                     }
                  }
                  .page-top-title{
                     position: relative;
                     margin-left: -320px;
                     padding: 20px 10px 5px;
                     background-color: #f8f7f9;
                     text-align: center;
                     font-size: 2.5rem;
                  }
               }
               main.main-content{
                  padding-top: 20px;
                  padding-bottom: 20px;
                  >h2{
                     margin-top: 0px;
                     padding-left: 10px;
                  }
                  .tt-grid-wrapper{
                     padding: 10px 10px;
                     text-align: center;
                     & > .tt-grid.tt-effect-3dflip:not(.sample){
                        display: block;
                        width: 95% !important;
                        max-width: 100%;
                        margin: 0px auto;
                        li{
                           width: calc((100% - 100px)/5) !important;
                           //height: calc(15vw) !important;
                           float: left;
                           min-height: 325px;
                           @media only screen and (min-width: 1000px) {
                              min-height: 370px;
                           }
                           height: auto;
                           //min-height: auto;
                           a{
                              height: auto;
                              .column{
                                 height: auto;
                                 .column_object{
                                    height: auto;
                                    position: relative;
                                    color: $content_color;
                                    padding-bottom: 75px;
                                    min-height: 300px;
                                    .image-wrapper img.object_image{
                                    }
                                    .title-wrapper{
                                       position: relative;
                                       padding-bottom: 20px;
                                       .object_title{
                                          padding: 10px 20px;
                                          min-height: 105px;
                                          font-size: 1.2em;
                                          line-height: 1.2em;
                                          white-space: normal;
                                          overflow: hidden;
                                          text-overflow: ellipsis;
                                          transition: all ease-in-out .4s;
                                       }
                                       .view-more-wrapper{
                                          font-size: 18px;
                                          margin-top: -5px;
                                          position: absolute;
                                          bottom: 0px;
                                          left: 0px;
                                          width: 100%;
                                          font-style: italic;
                                          span{
                                             cursor: pointer;
                                             font-size: 18px;
                                             &.view-more{
                                                display: initial;
                                             }
                                             &.view-less{
                                                display: none;
                                             }
                                             &:hover{
                                                color: black;
                                             }
                                          }
                                       }
                                       &.expanded{
                                          > .object_title{
                                             overflow-y: hidden;
                                             transition: all ease-in-out .4s;
                                             transition-delay: 0s;
                                             img{
                                                margin-top: 5px;
                                                max-width: 100%;
                                             }
                                          }
                                          .view-more-wrapper{
                                             font-size: 30px;
                                             .dot{
                                                display: none;
                                             }
                                             span{
                                                &.view-more{
                                                   display: none;
                                                }
                                                &.view-less{
                                                   display: initial;
                                                }
                                             }
                                          }
                                       }
                                    }
                                    .buttons-wrapper{
                                       text-align: center;
                                       position: absolute;
                                       bottom: 20px;
                                       left: 0px;
                                       width: 100%;
                                       height: 50px;
                                       .btn.btn-circle{
                                          width: 200px;
                                          max-width: 95%;
                                          padding: 6px;
                                          font-size: 18px;
                                          border-radius: 20px;
                                          background: transparent;
                                          border: 2px solid #53d4ad;
                                          color: #53d4ad;
                                          &:hover{
                                             background: #53d4ad;
                                             color: white;
                                          }
                                          &:focus{
                                             outline: none;
                                          }
                                       }
                                    }

                                    @media only screen and (min-width: 1000px) and (max-width: 1700px) {
                                       font-size: 15px;
                                       .image-wrapper img.object_image{
                                          height: 8vw;
                                       }
                                       .object_title{
                                       }
                                       .buttons-wrapper{
                                          & > *{
                                             img{
                                                width: 2.3vw !important;
                                             }
                                             i{
                                                font-size: 2.3vw !important;
                                             }
                                          }
                                       }
                                    }
                                 }
                              }
                           }
                           @media only screen and (max-width: 1000px) {
                              margin: 10px;
                              width: calc((100% - 60px)/3) !important;
                              height: 24vw !important;
                              a{
                                 .column{
                                    .column_object{
                                       position: relative;
                                       color: $content_color;
                                       .image-wrapper img.object_image{
                                          height: 12vw;
                                          object-fit: fill;
                                       }
                                       .object_title{
                                          padding: 5px 10px;
                                          font-size: 1.3em;
                                          line-height: 1.2em;
                                          white-space: pre;
                                          overflow: hidden;
                                          text-overflow: ellipsis;
                                       }
                                       .buttons-wrapper{
                                          & > *{
                                             img{
                                                width: 4vw !important;
                                             }
                                             i{
                                                font-size: 4vw !important;
                                             }
                                          }
                                       }
                                    }
                                 }
                              }
                           }
                        }
                        > li{
                           width: calc(100% / 5 - 10px * 2);
                           height: 370px;
                           float: left;
                           > *{
                              display: block;
                              width: 100%;
                              height: auto;
                              text-decoration: none;
                              background-color: transparent;
                              .item-inner{
                                 width: 95%;
                                 margin: 0px auto;
                                 position: relative;
                                 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
                                 border-bottom: 1px solid rgba(200, 200, 200, .5);
                                 padding: 0px 10px 10px;
                                 background-color: white;
                                 font-size: 1.7rem;
                                 line-height: 1.2;
                                 color: $content_color;
                                 text-align: center;
                                 .img-wrapper{
                                    position: relative;
                                    z-index: 1;
                                    margin: 0px -10px 5px;
                                    width: calc(100% + 20px);
                                    img.item-img{
                                       width: 100%;
                                       height: 160px;
                                       object-fit: fill;
                                    }
                                 }
                                 .title-wrapper{
                                    margin-bottom: 10px;
                                    min-height: 69px;
                                    position: relative;
                                    .item-title{
                                       display: block; /* Fallback for non-webkit */
                                       display: -webkit-box;
                                       overflow: hidden;
                                       text-overflow: ellipsis;
                                       transition: height 300ms;
                                       white-space: normal;
                                    }
                                    [data-readmore-toggle]{
                                       font-size: 1.5rem;
                                       cursor: pointer;
                                       color: #178DB1;
                                       font-style: italic;
                                       &:hover{
                                          color: #5EB0C9;
                                       }
                                    }
                                    &.collapsed{
                                       .item-title{
                                          display: -webkit-box;
                                          -webkit-line-clamp: 2;
                                          -webkit-box-orient: vertical;
                                          text-overflow: ellipsis;
                                       }
                                    }
                                 }
                                 .buttons-wrapper{
                                    text-align: center;
                                    width: 100%;
                                    padding: 0px 0px 10px;
                                    .btn.btn-circle{
                                       width: 100%;
                                       max-width: 100%;
                                       padding: 4px;
                                       font-size: 2rem;
                                       border-radius: 50px;
                                       background: transparent;
                                       border: 2px solid $green;
                                       color: $green;
                                       &:hover{
                                          background: $green;
                                          color: white;
                                       }
                                       &:focus{
                                          outline: none;
                                       }
                                    }
                                    .wrap{
                                       width: 100%;
                                       margin: 0px auto;
                                       button{
                                          width: 100%;
                                          font-size: 2rem;
                                          line-height: 34px;
                                          height: 46px;
                                          &.circle{
                                             width: 46px;
                                          }
                                          &.filled{
                                             line-height: 34px;
                                             vertical-align: middle;
                                          }
                                       }
                                       img{
                                          top: calc((100% - 38px) / 2);
                                          left: calc((100% - 49px) / 2);
                                          width: auto !important;
                                          display: none;
                                       }
                                       svg{
                                          left: calc((100% - 46px) / 2);
                                          top: 0px;
                                          width: 46px;
                                          height: 46px;
                                          circle{
                                             r: 21px;
                                             cx: 23px;
                                             cy: 23px;
                                          }
                                       }
                                    }
                                 }
                                 > aside{
                                    .bottom-line{
                                       position: absolute;
                                       bottom: 0px;
                                       left: 0px;
                                       width: 30px;
                                       height: 2px;
                                       background-color: rgb(200, 200, 200);
                                    }
                                 }
                              }
                           }
                        }
                        &:not(.tt-effect-active){
                           li.tt-empty{
                              //display: none;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

.swal-overlay{
   .swal-modal.thanks-join{
      .swal-footer{
         position: relative;
         .disable-wrap{
            position: absolute;
            left: 10px;
            top: 17px;
            padding: 10px 24px;
            input{
               background-color: transparent;
               margin-top: 0px;
               vertical-align: middle;
               position: absolute;
               left: -9999px;
               &:checked{
                  & + label{
                     color: black;
                     &:before{
                        border-color: black;
                     }
                     &:after{
                        font-size: .9em;
                        content: '\2714';
                        position: absolute;
                        left: 0em;
                        top: 0em;
                        width: 1em;
                        height: 1em;
                        color: black;
                     }
                  }
               }
            }
            label{
               color: $content_color;
               font-size: 18px;
               line-height: 1.1em;
               vertical-align: middle;
               position: relative;
               padding-left: 1.5em;
               cursor: pointer;
               font-weight: normal;
               &:before{
                  content: '';
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  width: 1em;
                  height: 1em;
                  border: 1px solid $content_color;
               }
            }
         }
      }
   }
}