// Variables
$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;
$blue: #0ca5ff;
$blue_hover: rgba(12, 165, 255, .7);
$grey: grey;
$green: #1ecd97;

html{
    font-size: 12px;
    overflow-y: hidden;
    body{
        .site-wrapper.page{
            font-family: $default_font_family;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            & > header.site-header{
                .site-header-inner-wrap{
                }
            }
            & > .site-content{
                padding: 30px 50px;
                & > .content-wrapper{
                    .decoration-container{
                        .top-left-rectangular{
                            padding-right: 100px;
                        }
                    }
                    header.content-header{
                        padding-left: 320px;
                        padding-bottom: 0px;
                        margin-top: -30px;
                        font-size: 24px;
                        .filter-wrapper{
                            margin-top: -10px;
                            padding-bottom: 10px;
                            .filter-item{
                                .icon-wrapper{
                                    position: relative;
                                    cursor: pointer;
                                    line-height: 0;
                                    img{
                                        &.inactive-icon{
                                        }
                                        &.active-icon{
                                            position: absolute;
                                            top: 0px;
                                            left: 0px;
                                            opacity: 0;
                                        }
                                    }
                                }
                                &.active-item {
                                    .icon-wrapper{
                                        img{
                                            &.inactive-icon{
                                                opacity: 0;
                                            }
                                            &.active-icon{
                                                position: absolute;
                                                top: 0px;
                                                left: 0px;
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }
                            form{
                                label{
                                    font-weight: normal;
                                    margin-bottom: 0px;
                                }
                                input{
                                    font-size: 18px;
                                    vertical-align: bottom;
                                }
                                select{
                                    padding-top: 3px;
                                    font-size: 18px;
                                    line-height: 1;
                                }
                                button{
                                    background-color: $grey;
                                    color: white;
                                    font-weight: normal;
                                    &:hover{
                                        background-color: #585656;
                                    }
                                }
                                &.sort-from{
                                    text-align: right;
                                    label{
                                        line-height: 40px;
                                        vertical-align: middle;
                                    }
                                    select{
                                        line-height: 40px;
                                        vertical-align: middle;
                                    }
                                }
                            }
                            .new-series{
                                margin-left: 25px;
                                display: inline-block;
                                text-align: right;
                                span{
                                    vertical-align: middle;
                                }
                                a{
                                    display: inline-block;
                                    vertical-align: middle;
                                    color: $content_color;
                                    svg{
                                        position: relative;
                                        width: 40px;
                                        vertical-align: middle;
                                    }
                                    &:hover{
                                        color: black;
                                    }
                                }
                            }
                        }
                        .page-top-title{
                            position: relative;
                            margin-left: -320px;
                            padding: 20px 10px 5px;
                            background-color: #f8f7f9;
                            text-align: center;
                            font-size: 2.5rem;
                        }
                    }
                    main.main-content{
                        padding: 0px 0px 20px 0px;
                        background-color: white;
                        .posts-block:not(.sample){
                            background-color: #f8f7f9;
                            margin-bottom: 25px;
                            .category-title{
                                width: 95%;
                                margin: 0px auto;
                                padding: 25px 20px 0px 20px;
                            }
                            .view-category-wrapper{
                                padding-top: 30px;
                                padding-right: 50px;
                                text-align: right;
                                a.view-category{
                                    font-size: 1.5rem;
                                    color: $content_color;
                                    position: relative;
                                    text-decoration: none;
                                    &:after{
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        bottom: 2px;
                                        height: 1px;
                                        background-color: black;
                                        width: 0%;
                                        left: 50%;
                                        transition: all .3s;
                                    }
                                    &:hover{
                                        color: black;
                                        &:after{
                                            left: 0%;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            .tt-grid-wrapper{
                                position: relative;
                                max-width: calc((280px + 10px * 2) * 5 + 65px * 2);
                                margin: 0px auto;
                                padding: 5px 65px;
                                text-align: center;
                                & > .tt-grid.tt-effect-3dflip{
                                    max-width: 100%;
                                    > li{
                                        width: calc(100% / 5 - 10px * 2);
                                        height: 380px;
                                        float: left;
                                        > *{
                                            display: block;
                                            width: 100%;
                                            height: auto;
                                            text-decoration: none;
                                            background-color: transparent;
                                            .item-inner{
                                                width: 95%;
                                                margin: 0px auto;
                                                position: relative;
                                                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
                                                border-bottom: 1px solid rgba(200, 200, 200, .5);
                                                padding: 0px 10px 10px;
                                                background-color: white;
                                                font-size: 1.7rem;
                                                line-height: 1.2;
                                                color: $content_color;
                                                text-align: center;
                                                .img-wrapper{
                                                    position: relative;
                                                    z-index: 1;
                                                    margin: 0px -10px 5px;
                                                    width: calc(100% + 20px);
                                                    img.item-img{
                                                        width: 100%;
                                                        height: 160px;
                                                        object-fit: fill;
                                                    }
                                                }
                                                .title-wrapper{
                                                    margin-bottom: 10px;
                                                    min-height: 69px;
                                                    position: relative;
                                                    .item-title{
                                                        display: block; /* Fallback for non-webkit */
                                                        display: -webkit-box;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;
                                                        transition: height 300ms;
                                                        white-space: normal;
                                                    }
                                                    [data-readmore-toggle]{
                                                        font-size: 1.5rem;
                                                        cursor: pointer;
                                                        color: #178DB1;
                                                        font-style: italic;
                                                        &:hover{
                                                            color: #5EB0C9;
                                                        }
                                                    }
                                                    &.collapsed{
                                                        .item-title{
                                                            display: -webkit-box;
                                                            -webkit-line-clamp: 2;
                                                            -webkit-box-orient: vertical;
                                                            text-overflow: ellipsis;
                                                        }
                                                    }
                                                }
                                                .buttons-wrapper{
                                                    text-align: center;
                                                    width: 100%;
                                                    padding: 0px 0px 10px;
                                                    .btn.btn-circle{
                                                        width: 100%;
                                                        max-width: 100%;
                                                        padding: 4px;
                                                        font-size: 2rem;
                                                        border-radius: 50px;
                                                        background: transparent;
                                                        border: 2px solid $green;
                                                        color: $green;
                                                        &:hover{
                                                            background: $green;
                                                            color: white;
                                                        }
                                                        &:focus{
                                                            outline: none;
                                                        }
                                                    }
                                                    .wrap{
                                                        width: 100%;
                                                        margin: 0px auto;
                                                        button{
                                                            width: 100%;
                                                            font-size: 2rem;
                                                            line-height: 34px;
                                                            height: 46px;
                                                            &.circle{
                                                                width: 46px;
                                                            }
                                                            &.filled{
                                                                line-height: 34px;
                                                                vertical-align: middle;
                                                            }
                                                        }
                                                        img{
                                                            top: calc((100% - 38px) / 2);
                                                            left: calc((100% - 49px) / 2);
                                                            width: auto !important;
                                                            display: none;
                                                        }
                                                        svg{
                                                            left: calc((100% - 46px) / 2);
                                                            top: 0px;
                                                            width: 46px;
                                                            height: 46px;
                                                            circle{
                                                                r: 21px;
                                                                cx: 23px;
                                                                cy: 23px;
                                                            }
                                                        }
                                                    }
                                                }
                                                > aside{
                                                    .bottom-line{
                                                        position: absolute;
                                                        bottom: 0px;
                                                        left: 0px;
                                                        width: 30px;
                                                        height: 2px;
                                                        background-color: rgb(200, 200, 200);
                                                    }
                                                    .star-item{
                                                        display: none;
                                                        position: absolute;
                                                        top: 10px;
                                                        right: 10px;
                                                        z-index: 2;
                                                        width: 40px;
                                                    }
                                                }
                                                .affiliates-wrapper{
                                                    display: none;
                                                    max-width: 100%;
                                                    width: 190px;
                                                    margin: 0px auto;
                                                    .affiliate-img{
                                                        line-height: 0;
                                                        svg{
                                                            width: 50px;
                                                        }
                                                    }
                                                    .per-sale-text{
                                                        color: #d25890;
                                                        .affiliate-v{

                                                        }
                                                    }
                                                    .embed-item, .share-item{
                                                        margin-top: 5px;
                                                        color: #329eeb;
                                                    }
                                                }
                                            }
                                            &.charged{
                                                .item-inner{
                                                    >aside{
                                                        .star-item{
                                                            display: initial;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .pagging{
                                    position: absolute;
                                    top: calc((100% - 59px) / 2);
                                    border: 2px solid grey;
                                    border-radius: 50%;
                                    font-size: 35px;
                                    line-height: .6;
                                    padding: 10px;
                                    cursor: pointer;
                                    &.disable{
                                        cursor: default;
                                        color: rgba(128, 128, 128, .4);
                                        border-color: rgba(128, 128, 128, .4);
                                    }
                                    .glyphicon{
                                        top: -1px;
                                    }
                                    &.prev-pagging{
                                        left: 5px;
                                        .glyphicon{
                                            right: 2px;
                                        }
                                        .icon-flip{
                                            transform: scaleX(-1);
                                            -moz-transform: scaleX(-1);
                                            -webkit-transform: scaleX(-1);
                                            -ms-transform: scaleX(-1);
                                        }
                                    }
                                    &.next-pagging{
                                        right: 5px;
                                        .glyphicon{
                                            left: 2px;
                                        }
                                    }
                                    &:hover:not(.disable){
                                        color: white;
                                        background-color: grey;
                                    }
                                }
                                &.scope-width-5-sm{
                                    max-width: calc((280px + 2px * 2) * 5 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 5 - 2px * 2);
                                            margin-left: 2px;
                                            margin-right: 2px;
                                            > div{
                                                .item-inner{
                                                    footer.btns-container{
                                                        padding: 2px 10px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.scope-width-4 {
                                    max-width: calc((280px + 10px * 2) * 4 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 4 - 10px * 2);
                                        }
                                    }
                                }
                                &.scope-width-3 {
                                    max-width: calc((280px + 10px * 2) * 3 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 3 - 10px * 2);
                                        }
                                    }
                                }
                                &.scope-width-2 {
                                    max-width: calc((280px + 10px * 2) * 2 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 2 - 10px * 2);
                                        }
                                    }
                                }
                                &.scope-width-1 {
                                    max-width: calc((280px + 10px * 2) * 1 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 1 - 10px * 2);
                                        }
                                    }
                                }
                            }
                            &.disappear{
                                animation: disappearBlock;
                                animation-duration: .3s;
                                animation-fill-mode: forwards;
                            }
                            &.appear{
                                animation: appearBlock;
                                animation-duration: .3s;
                                animation-fill-mode: forwards;
                            }
                        }
                        &.active-affiliate{
                            .posts-block:not(.sample){
                                .tt-grid-wrapper{
                                    > .tt-grid.tt-effect-3dflip {
                                        > li{
                                            height: 450px;
                                            > *{
                                                .item-inner{
                                                    .affiliates-wrapper{
                                                        display: block;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.swal-overlay.swal-overlay--show-modal{
    .swal-modal.welcome{
        font-family: $default_font_family;
        .swal-title{
            color: #c4cc72;
        }
        .swal-text{
            text-align: center;
            font-size: 25px;
        }
    }
}
.swal-overlay{
    .swal-modal.thanks-join{
        .swal-footer{
            position: relative;
            .disable-wrap{
                position: absolute;
                left: 10px;
                top: 17px;
                padding: 10px 24px;
                input{
                    background-color: transparent;
                    margin-top: 0px;
                    vertical-align: middle;
                    position: absolute;
                    left: -9999px;
                    &:checked{
                        & + label{
                            color: black;
                            &:before{
                                border-color: black;
                            }
                            &:after{
                                font-size: .9em;
                                content: '\2714';
                                position: absolute;
                                left: 0em;
                                top: 0em;
                                width: 1em;
                                height: 1em;
                                color: black;
                            }
                        }
                    }
                }
                label{
                    color: $content_color;
                    font-size: 18px;
                    line-height: 1.1em;
                    vertical-align: middle;
                    position: relative;
                    padding-left: 1.5em;
                    cursor: pointer;
                    font-weight: normal;
                    &:before{
                        content: '';
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 1em;
                        height: 1em;
                        border: 1px solid $content_color;
                    }
                }
            }
        }
    }
}
/* Absolute Center Spinner */

@keyframes appearBlock {
    0% { opacity: 0; }
    100% {opacity: 1; }
}
@keyframes disappearBlock {
    0% { opacity: 1; }
    100% {opacity: 0; }
}
.after-clearfix{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}