html {
  font-size: 12px;
  overflow-y: hidden; }
  html body .site-wrapper.page {
    font-family: "EB Garamond", sans-serif;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden; }
    html body .site-wrapper.page > .site-content {
      padding: 30px 50px; }
      html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .top-left-rectangular {
        padding-right: 100px; }
      html body .site-wrapper.page > .site-content > .content-wrapper header.content-header {
        padding-left: 320px;
        padding-bottom: 0px;
        margin-top: -30px;
        font-size: 24px; }
        html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper {
          margin-top: -10px;
          padding-bottom: 10px; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper .filter-item .icon-wrapper {
            position: relative;
            cursor: pointer;
            line-height: 0; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper .filter-item .icon-wrapper img.active-icon {
              position: absolute;
              top: 0px;
              left: 0px;
              opacity: 0; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper .filter-item.active-item .icon-wrapper img.inactive-icon {
            opacity: 0; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper .filter-item.active-item .icon-wrapper img.active-icon {
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 1; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper form label {
            font-weight: normal;
            margin-bottom: 0px; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper form input {
            font-size: 18px;
            vertical-align: bottom; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper form select {
            padding-top: 3px;
            font-size: 18px;
            line-height: 1; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper form button {
            background-color: grey;
            color: white;
            font-weight: normal; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper form button:hover {
              background-color: #585656; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper form.sort-from {
            text-align: right; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper form.sort-from label {
              line-height: 40px;
              vertical-align: middle; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper form.sort-from select {
              line-height: 40px;
              vertical-align: middle; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper .new-series {
            margin-left: 25px;
            display: inline-block;
            text-align: right; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper .new-series span {
              vertical-align: middle; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper .new-series a {
              display: inline-block;
              vertical-align: middle;
              color: grey; }
              html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper .new-series a svg {
                position: relative;
                width: 40px;
                vertical-align: middle; }
              html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .filter-wrapper .new-series a:hover {
                color: black; }
        html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .page-top-title {
          position: relative;
          margin-left: -320px;
          padding: 20px 10px 5px;
          background-color: #f8f7f9;
          text-align: center;
          font-size: 2.5rem; }
      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content {
        padding: 0px 0px 20px 0px;
        background-color: white; }
        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) {
          background-color: #f8f7f9;
          margin-bottom: 25px; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .category-title {
            width: 95%;
            margin: 0px auto;
            padding: 25px 20px 0px 20px; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .view-category-wrapper {
            padding-top: 30px;
            padding-right: 50px;
            text-align: right; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .view-category-wrapper a.view-category {
              font-size: 1.5rem;
              color: grey;
              position: relative;
              text-decoration: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .view-category-wrapper a.view-category:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 2px;
                height: 1px;
                background-color: black;
                width: 0%;
                left: 50%;
                transition: all .3s; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .view-category-wrapper a.view-category:hover {
                color: black; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .view-category-wrapper a.view-category:hover:after {
                  left: 0%;
                  width: 100%; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper {
            position: relative;
            max-width: calc((280px + 10px * 2) * 5 + 65px * 2);
            margin: 0px auto;
            padding: 5px 65px;
            text-align: center; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
              max-width: 100%; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li {
                width: calc(100% / 5 - 10px * 2);
                height: 380px;
                float: left; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * {
                  display: block;
                  width: 100%;
                  height: auto;
                  text-decoration: none;
                  background-color: transparent; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner {
                    width: 95%;
                    margin: 0px auto;
                    position: relative;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
                    padding: 0px 10px 10px;
                    background-color: white;
                    font-size: 1.7rem;
                    line-height: 1.2;
                    color: grey;
                    text-align: center; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .img-wrapper {
                      position: relative;
                      z-index: 1;
                      margin: 0px -10px 5px;
                      width: calc(100% + 20px); }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .img-wrapper img.item-img {
                        width: 100%;
                        height: 160px;
                        object-fit: fill; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper {
                      margin-bottom: 10px;
                      min-height: 69px;
                      position: relative; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper .item-title {
                        display: block;
                        /* Fallback for non-webkit */
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: height 300ms;
                        white-space: normal; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper [data-readmore-toggle] {
                        font-size: 1.5rem;
                        cursor: pointer;
                        color: #178DB1;
                        font-style: italic; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper [data-readmore-toggle]:hover {
                          color: #5EB0C9; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper.collapsed .item-title {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .buttons-wrapper {
                      text-align: center;
                      width: 100%;
                      padding: 0px 0px 10px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .buttons-wrapper .btn.btn-circle {
                        width: 100%;
                        max-width: 100%;
                        padding: 4px;
                        font-size: 2rem;
                        border-radius: 50px;
                        background: transparent;
                        border: 2px solid #1ecd97;
                        color: #1ecd97; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .buttons-wrapper .btn.btn-circle:hover {
                          background: #1ecd97;
                          color: white; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .buttons-wrapper .btn.btn-circle:focus {
                          outline: none; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .buttons-wrapper .wrap {
                        width: 100%;
                        margin: 0px auto; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .buttons-wrapper .wrap button {
                          width: 100%;
                          font-size: 2rem;
                          line-height: 34px;
                          height: 46px; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .buttons-wrapper .wrap button.circle {
                            width: 46px; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .buttons-wrapper .wrap button.filled {
                            line-height: 34px;
                            vertical-align: middle; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .buttons-wrapper .wrap img {
                          top: calc((100% - 38px) / 2);
                          left: calc((100% - 49px) / 2);
                          width: auto !important;
                          display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .buttons-wrapper .wrap svg {
                          left: calc((100% - 46px) / 2);
                          top: 0px;
                          width: 46px;
                          height: 46px; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .buttons-wrapper .wrap svg circle {
                            r: 21px;
                            cx: 23px;
                            cy: 23px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner > aside .bottom-line {
                      position: absolute;
                      bottom: 0px;
                      left: 0px;
                      width: 30px;
                      height: 2px;
                      background-color: #c8c8c8; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner > aside .star-item {
                      display: none;
                      position: absolute;
                      top: 10px;
                      right: 10px;
                      z-index: 2;
                      width: 40px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .affiliates-wrapper {
                      display: none;
                      max-width: 100%;
                      width: 190px;
                      margin: 0px auto; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .affiliates-wrapper .affiliate-img {
                        line-height: 0; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .affiliates-wrapper .affiliate-img svg {
                          width: 50px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .affiliates-wrapper .per-sale-text {
                        color: #d25890; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .affiliates-wrapper .embed-item, html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .affiliates-wrapper .share-item {
                        margin-top: 5px;
                        color: #329eeb; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > *.charged .item-inner > aside .star-item {
                    display: initial; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging {
              position: absolute;
              top: calc((100% - 59px) / 2);
              border: 2px solid grey;
              border-radius: 50%;
              font-size: 35px;
              line-height: .6;
              padding: 10px;
              cursor: pointer; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.disable {
                cursor: default;
                color: rgba(128, 128, 128, 0.4);
                border-color: rgba(128, 128, 128, 0.4); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging .glyphicon {
                top: -1px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.prev-pagging {
                left: 5px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.prev-pagging .glyphicon {
                  right: 2px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.prev-pagging .icon-flip {
                  transform: scaleX(-1);
                  -moz-transform: scaleX(-1);
                  -webkit-transform: scaleX(-1);
                  -ms-transform: scaleX(-1); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.next-pagging {
                right: 5px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.next-pagging .glyphicon {
                  left: 2px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging:hover:not(.disable) {
                color: white;
                background-color: grey; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-5-sm {
              max-width: calc((280px + 2px * 2) * 5 + 65px * 2); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-5-sm .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 5 - 2px * 2);
                margin-left: 2px;
                margin-right: 2px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-5-sm .tt-grid.tt-effect-3dflip li > div .item-inner footer.btns-container {
                  padding: 2px 10px; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-4 {
              max-width: calc((280px + 10px * 2) * 4 + 65px * 2); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-4 .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 4 - 10px * 2); }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-3 {
              max-width: calc((280px + 10px * 2) * 3 + 65px * 2); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-3 .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 3 - 10px * 2); }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-2 {
              max-width: calc((280px + 10px * 2) * 2 + 65px * 2); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-2 .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 2 - 10px * 2); }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-1 {
              max-width: calc((280px + 10px * 2) * 1 + 65px * 2); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper.scope-width-1 .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 1 - 10px * 2); }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample).disappear {
            animation: disappearBlock;
            animation-duration: .3s;
            animation-fill-mode: forwards; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample).appear {
            animation: appearBlock;
            animation-duration: .3s;
            animation-fill-mode: forwards; }
        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content.active-affiliate .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li {
          height: 450px; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content.active-affiliate .posts-block:not(.sample) .tt-grid-wrapper > .tt-grid.tt-effect-3dflip > li > * .item-inner .affiliates-wrapper {
            display: block; }

.swal-overlay.swal-overlay--show-modal .swal-modal.welcome {
  font-family: "EB Garamond", sans-serif; }
  .swal-overlay.swal-overlay--show-modal .swal-modal.welcome .swal-title {
    color: #c4cc72; }
  .swal-overlay.swal-overlay--show-modal .swal-modal.welcome .swal-text {
    text-align: center;
    font-size: 25px; }

.swal-overlay .swal-modal.thanks-join .swal-footer {
  position: relative; }
  .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap {
    position: absolute;
    left: 10px;
    top: 17px;
    padding: 10px 24px; }
    .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input {
      background-color: transparent;
      margin-top: 0px;
      vertical-align: middle;
      position: absolute;
      left: -9999px; }
      .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label {
        color: black; }
        .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:before {
          border-color: black; }
        .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:after {
          font-size: .9em;
          content: '\2714';
          position: absolute;
          left: 0em;
          top: 0em;
          width: 1em;
          height: 1em;
          color: black; }
    .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label {
      color: grey;
      font-size: 18px;
      line-height: 1.1em;
      vertical-align: middle;
      position: relative;
      padding-left: 1.5em;
      cursor: pointer;
      font-weight: normal; }
      .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1em;
        height: 1em;
        border: 1px solid grey; }

/* Absolute Center Spinner */
@keyframes appearBlock {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes disappearBlock {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.after-clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*# sourceMappingURL=explore-page.css.map */
