html {
  font-size: 12px;
  overflow: hidden; }
  html body .site-wrapper.page {
    font-family: "EB Garamond", sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden; }
    html body .site-wrapper.page > .site-content {
      padding: 30px 50px; }
      html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration.top-right.view-all-path {
        position: absolute;
        right: 10px;
        top: 10px; }
        html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration.top-right.view-all-path a {
          font-size: 2rem;
          text-align: right;
          color: grey;
          transition: all ease .3s; }
          html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration.top-right.view-all-path a:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 3px;
            height: 1px;
            background-color: black;
            width: 0%;
            left: 50%;
            transition: all .3s; }
          html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration.top-right.view-all-path a span {
            position: relative;
            right: 0px;
            bottom: 2px;
            transition: all ease .3s; }
            html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration.top-right.view-all-path a span:last-child {
              right: 3px; }
          html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration.top-right.view-all-path a:hover {
            text-decoration: none;
            color: black; }
            html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration.top-right.view-all-path a:hover span {
              transition: all ease .3s; }
              html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration.top-right.view-all-path a:hover span:first-child {
                right: 6px; }
              html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration.top-right.view-all-path a:hover span:last-child {
                right: 6px; }
            html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration.top-right.view-all-path a:hover:after {
              left: 0%;
              width: 100%; }
      html body .site-wrapper.page > .site-content > .content-wrapper header.content-header {
        padding-left: 320px;
        padding-bottom: 0px;
        margin-top: 10px;
        font-size: 24px; }
        html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .new-series {
          margin-left: 25px;
          display: inline-block;
          text-align: right; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .new-series a {
            vertical-align: middle;
            color: grey; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .new-series a svg {
              position: relative;
              bottom: 3px;
              width: 40px;
              vertical-align: middle; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .new-series a:hover {
              color: black; }
        html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .page-top-title {
          position: relative;
          margin-left: -320px;
          padding: 20px 10px 5px;
          background-color: #f8f7f9;
          text-align: center;
          font-size: 2.5rem; }
      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content {
        padding-top: 20px;
        padding-bottom: 20px; }
        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > h2 {
          margin-top: 0px;
          padding-left: 10px; }
        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper {
          padding: 10px 10px;
          text-align: center; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) {
            display: block;
            width: 95% !important;
            max-width: 100%;
            margin: 0px auto; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li {
              width: calc((100% - 100px)/5) !important;
              float: left;
              min-height: 325px;
              height: auto; }
              @media only screen and (min-width: 1000px) {
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li {
                  min-height: 370px; } }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a {
                height: auto; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column {
                  height: auto; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object {
                    height: auto;
                    position: relative;
                    color: grey;
                    padding-bottom: 75px;
                    min-height: 300px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper {
                      position: relative;
                      padding-bottom: 20px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper .object_title {
                        padding: 10px 20px;
                        min-height: 105px;
                        font-size: 1.2em;
                        line-height: 1.2em;
                        white-space: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: all ease-in-out .4s; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper .view-more-wrapper {
                        font-size: 18px;
                        margin-top: -5px;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        font-style: italic; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper .view-more-wrapper span {
                          cursor: pointer;
                          font-size: 18px; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper .view-more-wrapper span.view-more {
                            display: initial; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper .view-more-wrapper span.view-less {
                            display: none; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper .view-more-wrapper span:hover {
                            color: black; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper.expanded > .object_title {
                        overflow-y: hidden;
                        transition: all ease-in-out .4s;
                        transition-delay: 0s; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper.expanded > .object_title img {
                          margin-top: 5px;
                          max-width: 100%; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper.expanded .view-more-wrapper {
                        font-size: 30px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper.expanded .view-more-wrapper .dot {
                          display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper.expanded .view-more-wrapper span.view-more {
                          display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper.expanded .view-more-wrapper span.view-less {
                          display: initial; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper {
                      text-align: center;
                      position: absolute;
                      bottom: 20px;
                      left: 0px;
                      width: 100%;
                      height: 50px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper .btn.btn-circle {
                        width: 200px;
                        max-width: 95%;
                        padding: 6px;
                        font-size: 18px;
                        border-radius: 20px;
                        background: transparent;
                        border: 2px solid #53d4ad;
                        color: #53d4ad; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper .btn.btn-circle:hover {
                          background: #53d4ad;
                          color: white; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper .btn.btn-circle:focus {
                          outline: none; }
                    @media only screen and (min-width: 1000px) and (max-width: 1700px) {
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object {
                        font-size: 15px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .image-wrapper img.object_image {
                          height: 8vw; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper > * img {
                          width: 2.3vw !important; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper > * i {
                          font-size: 2.3vw !important; } }
              @media only screen and (max-width: 1000px) {
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li {
                  margin: 10px;
                  width: calc((100% - 60px)/3) !important;
                  height: 24vw !important; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object {
                    position: relative;
                    color: grey; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .image-wrapper img.object_image {
                      height: 12vw;
                      object-fit: fill; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .object_title {
                      padding: 5px 10px;
                      font-size: 1.3em;
                      line-height: 1.2em;
                      white-space: pre;
                      overflow: hidden;
                      text-overflow: ellipsis; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper > * img {
                      width: 4vw !important; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper > * i {
                      font-size: 4vw !important; } }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li {
              width: calc(100% / 5 - 10px * 2);
              height: 370px;
              float: left; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * {
                display: block;
                width: 100%;
                height: auto;
                text-decoration: none;
                background-color: transparent; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner {
                  width: 95%;
                  margin: 0px auto;
                  position: relative;
                  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
                  padding: 0px 10px 10px;
                  background-color: white;
                  font-size: 1.7rem;
                  line-height: 1.2;
                  color: grey;
                  text-align: center; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .img-wrapper {
                    position: relative;
                    z-index: 1;
                    margin: 0px -10px 5px;
                    width: calc(100% + 20px); }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .img-wrapper img.item-img {
                      width: 100%;
                      height: 160px;
                      object-fit: fill; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .title-wrapper {
                    margin-bottom: 10px;
                    min-height: 69px;
                    position: relative; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .title-wrapper .item-title {
                      display: block;
                      /* Fallback for non-webkit */
                      display: -webkit-box;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      transition: height 300ms;
                      white-space: normal; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .title-wrapper [data-readmore-toggle] {
                      font-size: 1.5rem;
                      cursor: pointer;
                      color: #178DB1;
                      font-style: italic; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .title-wrapper [data-readmore-toggle]:hover {
                        color: #5EB0C9; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .title-wrapper.collapsed .item-title {
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                      text-overflow: ellipsis; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .buttons-wrapper {
                    text-align: center;
                    width: 100%;
                    padding: 0px 0px 10px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .buttons-wrapper .btn.btn-circle {
                      width: 100%;
                      max-width: 100%;
                      padding: 4px;
                      font-size: 2rem;
                      border-radius: 50px;
                      background: transparent;
                      border: 2px solid #1ecd97;
                      color: #1ecd97; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .buttons-wrapper .btn.btn-circle:hover {
                        background: #1ecd97;
                        color: white; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .buttons-wrapper .btn.btn-circle:focus {
                        outline: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .buttons-wrapper .wrap {
                      width: 100%;
                      margin: 0px auto; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .buttons-wrapper .wrap button {
                        width: 100%;
                        font-size: 2rem;
                        line-height: 34px;
                        height: 46px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .buttons-wrapper .wrap button.circle {
                          width: 46px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .buttons-wrapper .wrap button.filled {
                          line-height: 34px;
                          vertical-align: middle; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .buttons-wrapper .wrap img {
                        top: calc((100% - 38px) / 2);
                        left: calc((100% - 49px) / 2);
                        width: auto !important;
                        display: none; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .buttons-wrapper .wrap svg {
                        left: calc((100% - 46px) / 2);
                        top: 0px;
                        width: 46px;
                        height: 46px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner .buttons-wrapper .wrap svg circle {
                          r: 21px;
                          cx: 23px;
                          cy: 23px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) > li > * .item-inner > aside .bottom-line {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 30px;
                    height: 2px;
                    background-color: #c8c8c8; }

.swal-overlay .swal-modal.thanks-join .swal-footer {
  position: relative; }
  .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap {
    position: absolute;
    left: 10px;
    top: 17px;
    padding: 10px 24px; }
    .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input {
      background-color: transparent;
      margin-top: 0px;
      vertical-align: middle;
      position: absolute;
      left: -9999px; }
      .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label {
        color: black; }
        .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:before {
          border-color: black; }
        .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:after {
          font-size: .9em;
          content: '\2714';
          position: absolute;
          left: 0em;
          top: 0em;
          width: 1em;
          height: 1em;
          color: black; }
    .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label {
      color: grey;
      font-size: 18px;
      line-height: 1.1em;
      vertical-align: middle;
      position: relative;
      padding-left: 1.5em;
      cursor: pointer;
      font-weight: normal; }
      .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1em;
        height: 1em;
        border: 1px solid grey; }

/*# sourceMappingURL=exploreInterests-page.css.map */
