html {
  font-size: 12px; }
  html body .site-wrapper.page {
    font-family: "EB Garamond", sans-serif; }
    html body .site-wrapper.page > .site-content > .content-wrapper {
      padding-top: 10px; }
      html body .site-wrapper.page > .site-content > .content-wrapper header.content-header {
        padding: 0px 50px 5px;
        text-align: right; }
        html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper {
          display: inline-block;
          line-height: 35px; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper > span {
            vertical-align: middle;
            font-size: 20px; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown {
            margin-left: 10px;
            vertical-align: middle;
            display: inline-block; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown button.btn-custom {
              background-color: transparent;
              border: 1px solid #7b7b7b;
              font-size: 18px; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a input {
              background-color: transparent;
              margin-top: 0px;
              vertical-align: middle;
              position: absolute;
              left: -9999px; }
              html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a input:checked + label {
                color: black; }
                html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a input:checked + label:before {
                  border-color: black; }
                html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a input:checked + label:after {
                  font-size: .9em;
                  content: '\2714';
                  position: absolute;
                  left: 0.2em;
                  top: 0em;
                  width: 1em;
                  height: 1em;
                  color: black; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a label {
              color: grey;
              font-size: 18px;
              line-height: 1.1em;
              vertical-align: middle;
              position: relative;
              padding-left: 1.8em;
              cursor: pointer;
              font-weight: normal; }
              html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-series-wrapper .dropdown ul.dropdown-menu li a label:before {
                content: '';
                position: absolute;
                left: 0px;
                top: 0px;
                width: 1em;
                height: 1em;
                border: 1px solid grey; }
      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content {
        padding: 0px 0px 20px 0px;
        background-color: transparent; }
        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) {
          background-color: #f8f7f9;
          margin-bottom: 25px; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .sery-title {
            width: 95%;
            margin: 0px auto;
            padding: 25px 20px 0px 20px; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .view-sery-wrapper {
            padding-top: 30px;
            padding-right: 50px;
            text-align: right; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .view-sery-wrapper a.view-sery {
              font-size: 1.5rem;
              color: grey;
              position: relative;
              text-decoration: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .view-sery-wrapper a.view-sery:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 2px;
                height: 1px;
                background-color: black;
                width: 0%;
                left: 50%;
                transition: all .3s; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .view-sery-wrapper a.view-sery:hover {
                color: black; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .view-sery-wrapper a.view-sery:hover:after {
                  left: 0%;
                  width: 100%; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper {
            position: relative;
            max-width: calc((280px + 10px * 2) * 5 + 65px * 2);
            margin: 0px auto;
            padding: 5px 65px; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip {
              max-width: 100%;
              margin: 0px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 5 - 10px * 2);
                height: 350px;
                float: left; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a {
                  display: block;
                  width: 100%;
                  height: auto;
                  text-decoration: none;
                  background-color: transparent; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner {
                    width: 95%;
                    margin: 0px auto;
                    position: relative;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
                    padding: 0px 10px 10px;
                    background-color: white;
                    font-size: 1.7rem;
                    line-height: 1.1;
                    color: grey;
                    text-align: center; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner > aside img.delete-ideabox {
                      position: absolute;
                      top: -15px;
                      right: -15px;
                      width: 30px;
                      transition: all .3s;
                      cursor: pointer; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner > aside img.delete-ideabox:hover {
                        transform: scale(1.1); }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner > aside img.delete-ideabox:active {
                        transform: translateZ(-3px) scale(0.95); }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner > aside .bottom-line {
                      position: absolute;
                      bottom: 0px;
                      left: 0px;
                      width: 30px;
                      height: 2px;
                      background-color: #c8c8c8; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .img-wrapper {
                      position: relative;
                      z-index: 1;
                      margin: 0px -10px 15px;
                      width: calc(100% + 20px); }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .img-wrapper img.item-img {
                        width: 100%;
                        height: 160px;
                        object-fit: fill; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .img-wrapper.is-uploading {
                        outline: 1px dashed rgba(146, 176, 179, 0.8);
                        animation-name: uploading-effect;
                        animation-iteration-count: infinite;
                        animation-duration: 2s; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper {
                      margin-bottom: 10px;
                      min-height: 69px;
                      position: relative; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper .item-title {
                        display: block;
                        /* Fallback for non-webkit */
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: height 300ms;
                        white-space: normal; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper textarea {
                        display: none;
                        width: 100%;
                        resize: vertical; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper [data-readmore-toggle] {
                        font-size: 1.5rem;
                        cursor: pointer;
                        color: #178DB1;
                        font-style: italic; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper [data-readmore-toggle]:hover {
                          color: #5EB0C9; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.collapsed .item-title {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span {
                        display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span.edit-entry {
                          position: absolute;
                          right: 0px;
                          bottom: 0px;
                          cursor: pointer; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span.edit-entry .edit-icon {
                            width: 25px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span.save-entry {
                          position: absolute;
                          bottom: 0px;
                          right: 30px;
                          cursor: pointer; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span.back-to-origin {
                          position: absolute;
                          bottom: 0px;
                          right: 0px;
                          cursor: pointer; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span:hover {
                          opacity: .7; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper:hover aside.actions-container > span.edit-entry {
                        display: block; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status {
                        padding-bottom: 27px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status .item-title {
                          display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status [data-readmore-toggle] {
                          display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status textarea {
                          display: block; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status aside.actions-container > .save-entry, html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status aside.actions-container > .back-to-origin {
                          display: block; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status:hover aside.actions-container > span.edit-entry {
                          display: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper {
                      position: relative;
                      min-height: 69px;
                      margin-bottom: 10px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper .item-idea {
                        overflow: hidden;
                        transition: height 300ms; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper textarea {
                        display: none;
                        width: 100%;
                        resize: vertical; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper [data-readmore-toggle] {
                        font-size: 1.5rem;
                        cursor: pointer;
                        color: #178DB1;
                        font-style: italic; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper [data-readmore-toggle]:hover {
                          color: #5EB0C9; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper.collapsed .item-idea {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper aside.actions-container > span {
                        display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper aside.actions-container > span.edit-entry {
                          position: absolute;
                          right: 0px;
                          bottom: 0px;
                          cursor: pointer; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper aside.actions-container > span.edit-entry .edit-icon {
                            width: 25px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper aside.actions-container > span.save-entry {
                          position: absolute;
                          bottom: 0px;
                          right: 30px;
                          cursor: pointer; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper aside.actions-container > span.back-to-origin {
                          position: absolute;
                          bottom: 0px;
                          right: 0px;
                          cursor: pointer; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper aside.actions-container > span:hover {
                          opacity: .7; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper:hover aside.actions-container > span.edit-entry {
                        display: block; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper.edit-status {
                        padding-bottom: 27px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper.edit-status .item-idea {
                          display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper.edit-status [data-readmore-toggle] {
                          display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper.edit-status textarea {
                          display: block; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper.edit-status aside.actions-container > .save-entry, html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper.edit-status aside.actions-container > .back-to-origin {
                          display: block; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .idea-wrapper.edit-status:hover aside.actions-container > span.edit-entry {
                          display: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .reference-wrapper {
                      min-height: 42px;
                      padding: 10px 5px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .reference-wrapper .reference-link {
                        color: #178DB1;
                        cursor: pointer; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .reference-wrapper .reference-link:hover {
                          color: #5EB0C9; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .deadline-divider {
                      height: 1px;
                      margin-bottom: 10px;
                      background-color: #808080; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .next-deadline-wrapper {
                      min-height: 22px;
                      margin-bottom: 5px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container {
                      display: flex;
                      background-color: #f8f8f8;
                      padding: 2px 30px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper {
                        flex-grow: 1;
                        text-transform: uppercase;
                        margin: 5px 0px;
                        font-size: 1.2rem;
                        cursor: pointer;
                        text-align: center;
                        perspective: 500px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper img, html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper .favorite-wrapper {
                          transition: all .3s;
                          transform: translateZ(0px); }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper img {
                          width: 38px;
                          margin-bottom: 5px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper .favorite-wrapper {
                          display: inline-block;
                          position: relative;
                          font-size: 22px; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper .favorite-wrapper .fa-star-o {
                            position: relative;
                            vertical-align: middle; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper .favorite-wrapper .fa-star {
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            display: none; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper .favorite-wrapper.favorited .fa-star-o {
                            color: #ffd800; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper .favorite-wrapper.favorited .fa-star {
                            display: inline;
                            color: yellow; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper:hover img, html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper:hover .favorite-wrapper {
                          transform: translateZ(100px); }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner footer.btns-container .btn-wrapper:active img {
                          transform: scale(1); }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging {
              position: absolute;
              top: calc((100% - 49px) / 2);
              border: 2px solid grey;
              border-radius: 50%;
              font-size: 35px;
              line-height: .6;
              padding: 10px;
              cursor: pointer; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.disable {
                cursor: default;
                color: rgba(128, 128, 128, 0.4);
                border-color: rgba(128, 128, 128, 0.4); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging .glyphicon {
                top: -1px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.prev-pagging {
                left: 5px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.prev-pagging .glyphicon {
                  right: 2px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.prev-pagging .icon-flip {
                  transform: scaleX(-1);
                  -moz-transform: scaleX(-1);
                  -webkit-transform: scaleX(-1);
                  -ms-transform: scaleX(-1); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.next-pagging {
                right: 5px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging.next-pagging .glyphicon {
                  left: 2px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .pagging:hover:not(.disable) {
                color: white;
                background-color: grey; }
            @media only screen and (min-width: 1200px) and (max-width: 1490px) {
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper {
                max-width: calc((280px + 10px * 2) * 4 + 65px * 2); }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 4 - 10px * 2); } }
            @media only screen and (min-width: 1020px) and (max-width: 1200px) {
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper {
                max-width: calc((280px + 10px * 2) * 3 + 65px * 2); }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 3 - 10px * 2); } }
            @media only screen and (min-width: 700px) and (max-width: 1020px) {
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper {
                max-width: calc((280px + 10px * 2) * 2 + 65px * 2); }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 2 - 10px * 2); } }
            @media only screen and (max-width: 700px) {
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper {
                max-width: calc((280px + 10px * 2) * 1 + 65px * 2); }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample) .tt-grid-wrapper .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 1 - 10px * 2); } }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample).disappear {
            animation: disappearBlock;
            animation-duration: .3s;
            animation-fill-mode: forwards; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .posts-block:not(.sample).appear {
            animation: appearBlock;
            animation-duration: .3s;
            animation-fill-mode: forwards; }

@keyframes appearBlock {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes disappearBlock {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.after-clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*# sourceMappingURL=favorites-page.css.map */
