$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;

html{
    font-size: 12px;
    body{
        .site-wrapper.page{
            font-family: $default_font_family;
            & > .site-content{
                & > .content-wrapper{
                    padding-top: 10px;
                    .decoration-container{
                        .decoration{
                        }
                        .top-left-rectangular{
                            i.fa-caret-down{
                            }
                        }
                        @media only screen and (max-width: 768px){
                        }
                    }
                    header.content-header{
                        padding: 0px 50px 5px;
                        text-align: right;
                        .multi-select-series-wrapper{
                            display: inline-block;
                            line-height: 35px;
                            & > span{
                                vertical-align: middle;
                                font-size: 20px;
                            }
                            .dropdown{
                                margin-left: 10px;
                                vertical-align: middle;
                                display: inline-block;
                                button.btn-custom{
                                    background-color: transparent;
                                    border: 1px solid #7b7b7b;
                                    font-size: 18px;
                                }
                                ul.dropdown-menu{
                                    li{
                                        a{
                                            input{
                                                background-color: transparent;
                                                margin-top: 0px;
                                                vertical-align: middle;
                                                position: absolute;
                                                left: -9999px;
                                                &:checked{
                                                    & + label{
                                                        color: black;
                                                        &:before{
                                                            border-color: black;
                                                        }
                                                        &:after{
                                                            font-size: .9em;
                                                            content: '\2714';
                                                            position: absolute;
                                                            left: 0.2em;
                                                            top: 0em;
                                                            width: 1em;
                                                            height: 1em;
                                                            color: black;
                                                        }
                                                    }
                                                }
                                            }
                                            label{
                                                color: $content_color;
                                                font-size: 18px;
                                                line-height: 1.1em;
                                                vertical-align: middle;
                                                position: relative;
                                                padding-left: 1.8em;
                                                cursor: pointer;
                                                font-weight: normal;
                                                &:before{
                                                    content: '';
                                                    position: absolute;
                                                    left: 0px;
                                                    top: 0px;
                                                    width: 1em;
                                                    height: 1em;
                                                    border: 1px solid $content_color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    main.main-content{
                        padding: 0px 0px 20px 0px;
                        background-color: transparent;
                        .posts-block:not(.sample){
                            background-color: #f8f7f9;
                            margin-bottom: 25px;
                            .sery-title{
                                width: 95%;
                                margin: 0px auto;
                                padding: 25px 20px 0px 20px;
                            }
                            .view-sery-wrapper{
                                padding-top: 30px;
                                padding-right: 50px;
                                text-align: right;
                                a.view-sery{
                                    font-size: 1.5rem;
                                    color: $content_color;
                                    position: relative;
                                    text-decoration: none;
                                    &:after{
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        bottom: 2px;
                                        height: 1px;
                                        background-color: black;
                                        width: 0%;
                                        left: 50%;
                                        transition: all .3s;
                                    }
                                    &:hover{
                                        color: black;
                                        &:after{
                                            left: 0%;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            .tt-grid-wrapper{
                                position: relative;
                                max-width: calc((280px + 10px * 2) * 5 + 65px * 2);
                                margin: 0px auto;
                                padding: 5px 65px;
                                .tt-grid.tt-effect-3dflip{
                                    max-width: 100%;
                                    margin: 0px;
                                    li{
                                        width: calc(100% / 5 - 10px * 2);
                                        height: 350px;
                                        float: left;
                                        a{
                                            display: block;
                                            width: 100%;
                                            height: auto;
                                            text-decoration: none;
                                            background-color: transparent;
                                            .item-inner{
                                                width: 95%;
                                                margin: 0px auto;
                                                position: relative;
                                                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
                                                border-bottom: 1px solid rgba(200, 200, 200, .5);
                                                padding: 0px 10px 10px;
                                                background-color: white;
                                                font-size: 1.7rem;
                                                line-height: 1.1;
                                                color: $content_color;
                                                text-align: center;
                                                > aside{
                                                    img.delete-ideabox{
                                                        position: absolute;
                                                        top: -15px;
                                                        right: -15px;
                                                        width: 30px;
                                                        transition: all .3s;
                                                        cursor: pointer;
                                                        &:hover{
                                                            transform: scale(1.1);
                                                        }
                                                        &:active{
                                                            transform: translateZ(-3px) scale(.95);
                                                        }
                                                    }
                                                    .bottom-line{
                                                        position: absolute;
                                                        bottom: 0px;
                                                        left: 0px;
                                                        width: 30px;
                                                        height: 2px;
                                                        background-color: rgb(200, 200, 200);
                                                    }
                                                }
                                                .img-wrapper{
                                                    position: relative;
                                                    z-index: 1;
                                                    margin: 0px -10px 15px;
                                                    width: calc(100% + 20px);
                                                    img.item-img{
                                                        width: 100%;
                                                        height: 160px;
                                                        object-fit: fill;
                                                    }
                                                    &.is-uploading{
                                                        outline: 1px dashed rgba(146, 176, 179, .8);
                                                        animation-name: uploading-effect;
                                                        animation-iteration-count: infinite;
                                                        animation-duration: 2s;
                                                    }
                                                }
                                                .title-wrapper{
                                                    margin-bottom: 10px;
                                                    min-height: 69px;
                                                    position: relative;
                                                    .item-title{
                                                        display: block; /* Fallback for non-webkit */
                                                        display: -webkit-box;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;
                                                        transition: height 300ms;
                                                        white-space: normal;
                                                    }
                                                    textarea{
                                                        display: none;
                                                        width: 100%;
                                                        resize: vertical;
                                                    }
                                                    [data-readmore-toggle]{
                                                        font-size: 1.5rem;
                                                        cursor: pointer;
                                                        color: #178DB1;
                                                        font-style: italic;
                                                        &:hover{
                                                            color: #5EB0C9;
                                                        }
                                                    }
                                                    &.collapsed{
                                                        .item-title{
                                                            display: -webkit-box;
                                                            -webkit-line-clamp: 2;
                                                            -webkit-box-orient: vertical;
                                                            text-overflow: ellipsis;
                                                        }
                                                    }
                                                    aside.actions-container{
                                                        > span{
                                                            display: none;
                                                            &.edit-entry{
                                                                position: absolute;
                                                                right: 0px;
                                                                bottom: 0px;
                                                                cursor: pointer;
                                                                .edit-icon{
                                                                    width: 25px;
                                                                }
                                                            }
                                                            &.save-entry{
                                                                position: absolute;
                                                                bottom: 0px;
                                                                right: 30px;
                                                                cursor: pointer;
                                                            }
                                                            &.back-to-origin{
                                                                position: absolute;
                                                                bottom: 0px;
                                                                right: 0px;
                                                                cursor: pointer;
                                                            }
                                                            &:hover{
                                                                opacity: .7;
                                                            }
                                                        }
                                                    }
                                                    &:hover{
                                                        aside.actions-container{
                                                            > span{
                                                                &.edit-entry{
                                                                    display: block;
                                                                    .edit-icon{
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                    &.edit-status{
                                                        padding-bottom: 27px;
                                                        .item-title{
                                                            display: none;
                                                        }
                                                        [data-readmore-toggle]{
                                                            display: none;
                                                        }
                                                        textarea{
                                                            display: block;
                                                        }
                                                        aside.actions-container{
                                                            >.save-entry, >.back-to-origin{
                                                                display: block;
                                                            }
                                                        }
                                                        &:hover{
                                                            aside.actions-container{
                                                                > span{
                                                                    &.edit-entry{
                                                                        display: none;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                .idea-wrapper{
                                                    position: relative;
                                                    min-height: 69px;
                                                    margin-bottom: 10px;
                                                    .item-idea{
                                                        overflow: hidden;
                                                        transition: height 300ms;
                                                    }
                                                    textarea{
                                                        display: none;
                                                        width: 100%;
                                                        resize: vertical;
                                                    }
                                                    [data-readmore-toggle]{
                                                        font-size: 1.5rem;
                                                        cursor: pointer;
                                                        color: #178DB1;
                                                        font-style: italic;
                                                        &:hover{
                                                            color: #5EB0C9;
                                                        }
                                                    }
                                                    &.collapsed{
                                                        .item-idea{
                                                            display: -webkit-box;
                                                            -webkit-line-clamp: 2;
                                                            -webkit-box-orient: vertical;
                                                            text-overflow: ellipsis;
                                                        }
                                                    }
                                                    aside.actions-container{
                                                        > span{
                                                            display: none;
                                                            &.edit-entry{
                                                                position: absolute;
                                                                right: 0px;
                                                                bottom: 0px;
                                                                cursor: pointer;
                                                                .edit-icon{
                                                                    width: 25px;
                                                                }
                                                            }
                                                            &.save-entry{
                                                                position: absolute;
                                                                bottom: 0px;
                                                                right: 30px;
                                                                cursor: pointer;
                                                            }
                                                            &.back-to-origin{
                                                                position: absolute;
                                                                bottom: 0px;
                                                                right: 0px;
                                                                cursor: pointer;
                                                            }
                                                            &:hover{
                                                                opacity: .7;
                                                            }
                                                        }
                                                    }
                                                    &:hover{
                                                        aside.actions-container{
                                                            > span{
                                                                &.edit-entry{
                                                                    display: block;
                                                                    .edit-icon{
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                    &.edit-status{
                                                        padding-bottom: 27px;
                                                        .item-idea{
                                                            display: none;
                                                        }
                                                        [data-readmore-toggle]{
                                                            display: none;
                                                        }
                                                        textarea{
                                                            display: block;
                                                        }
                                                        aside.actions-container{
                                                            >.save-entry, >.back-to-origin{
                                                                display: block;
                                                            }
                                                        }
                                                        &:hover{
                                                            aside.actions-container{
                                                                > span{
                                                                    &.edit-entry{
                                                                        display: none;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                .reference-wrapper{
                                                    min-height: 42px;
                                                    padding: 10px 5px;
                                                    .reference-link{
                                                        color: #178DB1;
                                                        cursor: pointer;
                                                        &:hover{
                                                            color: #5EB0C9;
                                                        }
                                                    }
                                                }
                                                .deadline-divider{
                                                    height: 1px;
                                                    margin-bottom: 10px;
                                                    background-color: #808080;
                                                }
                                                .next-deadline-wrapper{
                                                    min-height: 22px;
                                                    margin-bottom: 5px;
                                                    .next-deadline{

                                                    }
                                                }
                                                footer.btns-container{
                                                    display: flex;
                                                    background-color: #f8f8f8;
                                                    padding: 2px 30px;
                                                    .btn-wrapper{
                                                        flex-grow: 1;
                                                        text-transform: uppercase;
                                                        margin: 5px 0px;
                                                        font-size: 1.2rem;
                                                        cursor: pointer;
                                                        text-align: center;
                                                        perspective: 500px;
                                                        img, .favorite-wrapper{
                                                            transition: all .3s;
                                                            transform: translateZ(0px);
                                                        }
                                                        img{
                                                            width: 38px;
                                                            margin-bottom: 5px;
                                                        }
                                                        .favorite-wrapper{
                                                            display: inline-block;
                                                            position: relative;
                                                            font-size: 22px;
                                                            .fa-star-o{
                                                                position: relative;
                                                                vertical-align: middle;
                                                            }
                                                            .fa-star{
                                                                position: absolute;
                                                                left: 0px;
                                                                top: 0px;
                                                                display: none;
                                                            }
                                                            &.favorited{
                                                                .fa-star-o{
                                                                    color: #ffd800;
                                                                }
                                                                .fa-star{
                                                                    display: inline;
                                                                    color: yellow;
                                                                }
                                                            }
                                                        }
                                                        &:hover{
                                                            //color: black;
                                                            img, .favorite-wrapper{
                                                                //transform: scale(1.1);
                                                                transform: translateZ(100px);
                                                            }
                                                            .favorite-wrapper{
                                                                .fa-star-o{
                                                                }
                                                                .fa-star{
                                                                }
                                                                &.favorited{
                                                                    .fa-star-o{
                                                                    }
                                                                    .fa-star{
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        &:active{
                                                            img{
                                                                transform: scale(1);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .pagging{
                                    position: absolute;
                                    top: calc((100% - 49px) / 2);
                                    border: 2px solid grey;
                                    border-radius: 50%;
                                    font-size: 35px;
                                    line-height: .6;
                                    padding: 10px;
                                    cursor: pointer;
                                    &.disable{
                                        cursor: default;
                                        color: rgba(128, 128, 128, .4);
                                        border-color: rgba(128, 128, 128, .4);
                                    }
                                    .glyphicon{
                                        top: -1px;
                                    }
                                    &.prev-pagging{
                                        left: 5px;
                                        .glyphicon{
                                            right: 2px;
                                        }
                                        .icon-flip{
                                            transform: scaleX(-1);
                                            -moz-transform: scaleX(-1);
                                            -webkit-transform: scaleX(-1);
                                            -ms-transform: scaleX(-1);
                                        }
                                    }
                                    &.next-pagging{
                                        right: 5px;
                                        .glyphicon{
                                            left: 2px;
                                        }
                                    }
                                    &:hover:not(.disable){
                                        color: white;
                                        background-color: grey;
                                    }
                                }
                                @media only screen and (min-width: 1200px) and (max-width: 1490px) {
                                    max-width: calc((280px + 10px * 2) * 4 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 4 - 10px * 2);
                                        }
                                    }
                                }
                                @media only screen and (min-width: 1020px) and (max-width: 1200px) {
                                    max-width: calc((280px + 10px * 2) * 3 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 3 - 10px * 2);
                                        }
                                    }
                                }
                                @media only screen and (min-width: 700px) and (max-width: 1020px) {
                                    max-width: calc((280px + 10px * 2) * 2 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 2 - 10px * 2);
                                        }
                                    }
                                }
                                @media only screen and (max-width: 700px) {
                                    max-width: calc((280px + 10px * 2) * 1 + 65px * 2);
                                    .tt-grid.tt-effect-3dflip{
                                        li{
                                            width: calc(100% / 1 - 10px * 2);
                                        }
                                    }
                                }
                            }
                            &.disappear{
                                animation: disappearBlock;
                                animation-duration: .3s;
                                animation-fill-mode: forwards;
                            }
                            &.appear{
                                animation: appearBlock;
                                animation-duration: .3s;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes appearBlock {
    0% { opacity: 0; }
    100% {opacity: 1; }
}
@keyframes disappearBlock {
    0% { opacity: 1; }
    100% {opacity: 0; }
}

.after-clearfix{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}