ul.tt-grid.tt-effect-3dflip{
    li{
        a{
            width: 100%;
            height: 100%;
            background-color: transparent;
            .column{
                margin: auto;
                width: 100%;
                height: 100%;
                .column_object{
                    position: relative;
                    border-bottom: 1px solid rgba(200, 200, 200, .5);
                    padding-bottom: 25px;
                    margin-bottom: 20px;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
                    position: relative;
                    width: 95%;
                    margin: auto;
                    margin-bottom: 10px;
                    font-size: 15px;
                    height: 100%;
                    background-color: white;
                    line-height: 1.2em;
                    .image-wrapper{
                        img.object_image{
                            width: 100%;
                            height: 160px;;
                            object-fit: cover;
                        }
                    }
                    .object_title{
                        white-space: pre;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-top: 15px;
                        padding-bottom: 10px;
                        font-size: 18px;
                        padding-left: 8px;
                        padding-right: 8px;
                        font-family: "EB Garamond", sans-serif;
                        text-align: center;
                    }

                    .object_line{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 30px;
                        height: 2px;
                        background: rgb(200, 200, 200);
                    }
                }
            }
            &:hover{
                text-decoration: none !important;
            }
        }
    }
}