$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;
html{
    body{
        .site-wrapper.page{
            font-family: $default_font_family;
            & > .site-content{
                padding: 30px 50px;
                & > .content-wrapper{
                    max-width: 1700px;
                    margin: 0px auto;
                    position: relative;
                    color: #7b7b7b;
                    padding-top: 10px;
                    .decoration-container{
                        .decoration{
                            position: absolute;
                        }
                        .top-left-rectangular{
                            background-color: #7b7b7b;
                            color: white;
                            font-size: 22px;
                            padding: 0px 150px 70px 25px;
                            position: absolute;
                            top: 0px;
                            left: -30px;
                            line-height: 52px;
                            i.fa-caret-down{
                                vertical-align: middle;
                                font-size: 50px;
                            }
                        }
                    }
                    header.content-header{
                        padding: 0px 50px 5px;
                        text-align: right;
                        .multi-select-wrapper{
                            display: inline-block;
                            line-height: 35px;
                            & > span{
                                vertical-align: middle;
                                font-size: 20px;
                            }
                            .dropdown{
                                margin-left: 10px;
                                vertical-align: middle;
                                display: inline-block;
                                button.btn-custom{
                                    background-color: transparent;
                                    border: 1px solid #7b7b7b;
                                    font-size: 18px;
                                }
                                ul.dropdown-menu{
                                    li{
                                        a{
                                            input{
                                                background-color: transparent;
                                                margin-top: 0px;
                                                vertical-align: middle;
                                                position: absolute;
                                                left: -9999px;
                                                &:checked{
                                                    & + label{
                                                        color: black;
                                                        &:before{
                                                            border-color: black;
                                                        }
                                                        &:after{
                                                            font-size: .9em;
                                                            content: '\2714';
                                                            position: absolute;
                                                            left: 0.2em;
                                                            top: 0em;
                                                            width: 1em;
                                                            height: 1em;
                                                            color: black;
                                                        }
                                                    }
                                                }
                                            }
                                            label{
                                                color: $content_color;
                                                font-size: 18px;
                                                line-height: 1.1em;
                                                vertical-align: middle;
                                                position: relative;
                                                padding-left: 1.8em;
                                                cursor: pointer;
                                                font-weight: normal;
                                                &:before{
                                                    content: '';
                                                    position: absolute;
                                                    left: 0px;
                                                    top: 0px;
                                                    width: 1em;
                                                    height: 1em;
                                                    border: 1px solid $content_color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    main.main-content{
                        text-align: left;
                        min-height: 700px;
                        position: relative;
                        padding: 50px 10px 0px;
                        background-color: #f8f7f9;

                        ul.timeline.timeline-centered{
                            width: 86%;
                            margin: 0px auto;
                            box-shadow: 0 0 19px 0 rgba(0,0,0,.15);
                            background-color: white;
                            padding: 30px 50px;
                            li.timeline-item{
                                .timeline-info{
                                    span{
                                        font-size: 18px;
                                        line-height: 1.6;
                                    }
                                }
                                .timeline-marker{

                                    .btn.btn-block{
                                        position: absolute;
                                        top: 2px;
                                        left: calc((100% - 35px) / 2);
                                        text-align: center;
                                        width: 35px;
                                        height: 35px;
                                        border-radius: 50%;
                                        padding-left: 0px;
                                        padding-right: 0px;
                                        background-color: transparent;
                                        border: 2px solid #b2b2b4;
                                        display: none;
                                        i.glyphicon{
                                            font-size: 18px;
                                            color: #b2b2b4;
                                        }
                                        &.btn-success{
                                            background-color: rgb(92, 184, 92);
                                            border-color: rgb(92, 184, 92);
                                            i.glyphicon{
                                                color: white;
                                            }
                                        }
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                    &.completed{
                                        &:before{
                                            display: none;
                                        }
                                        &:after{
                                            top: 40px;
                                        }
                                        .btn.btn-block{
                                            display: inline-block;
                                        }
                                    }
                                }
                                .timeline-content{
                                    .timeline-title{
                                        line-height: 1.2;
                                        margin-top: 0px;
                                        margin-bottom: 20px;
                                        cursor: pointer;
                                        &:hover{
                                            color: black;
                                        }
                                    }
                                    .timeline-description{
                                        font-size: 17px;
                                        max-width: 600px;
                                        img.timeline-img{
                                            cursor: pointer;
                                            vertical-align: top;
                                            width: 40%;
                                            min-width: 300px;
                                            margin: 0px 10px 10px;
                                        }
                                        &:after{
                                            content: '';
                                            display: block;
                                            clear: both;
                                        }
                                    }
                                    .timeline-link-wrapper{
                                        margin-top: 6px;
                                        a.timeline-link{
                                            font-size: 18px;
                                        }
                                    }

                                }
                                &:nth-child(odd){
                                    .timeline-content{
                                        .timeline-title{
                                        }
                                        .timeline-description{
                                            text-align: left;
                                            margin: 0px 0px 0px auto;
                                            img.timeline-img{
                                                float: right;
                                            }
                                        }
                                    }
                                }
                                &:nth-child(even){
                                    .timeline-content{
                                        .timeline-title{

                                        }
                                        .timeline-description{
                                            margin: 0px auto 0px 0px;
                                            img.timeline-img{
                                                float: left;
                                            }
                                        }
                                    }
                                }
                                &.sample{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.my-lightbox{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(33,33,33,.5);
    z-index: 31;
    overflow: auto;
    .my-lightbox-inner-wrapper{
        position: absolute;
        background-color: white;
        text-align: center;
        .my-lightbox-inner{
            max-height: 100%;
            overflow: auto;
        }
        button.close{
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 2em;
            color: black !important;
            margin: 0px;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            border: 2px solid black;
            opacity: .7;
            box-shadow: none;
            background-color: white;
            &:hover{
                opacity: 1 !important;
            }
        }
    }
    &.open-status{
        .my-lightbox-inner-wrapper{
            @media only screen and (max-width: 991px) {
                top: 2vh !important;
                right: 4vw !important;
                left: 4vw !important;
                bottom: 2vh !important;
            }
            @media only screen and (max-width: 768px) {
                top: 1vh !important;
                right: 2vw !important;
                left: 2vw !important;
                bottom: 1vh !important;
            }
        }
    }
}
.edit-event-lightbox.my-lightbox{
    .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper{
        background-color: #f8f8fa;
        .edit-event-lightbox-inner.my-lightbox-inner{
            color: #807e81;
            .editable-wrapper{
                .editable-content{
                    display: inline-block;
                    max-width: calc(100% - 30px);
                    overflow-y: hidden;
                    overflow-x: auto;
                    padding: 5px 10px;
                    border: 1px solid transparent;
                    outline: none;
                    min-height: 40px;
                    vertical-align: middle;
                }
                .action-wrapper{
                    display: inline-block;
                    vertical-align: middle;
                    .save-entry{
                        display: none;
                    }
                    .back-to-origin{
                        display: none;
                    }
                }
                &.edit-status{
                    .editable-content{
                        border: 1px solid #738087;
                        outline: none;
                    }
                    .edit-entry{
                        display: none;
                    }
                    .save-entry{
                        display: initial;
                    }
                    .back-to-origin{
                        display: initial;
                    }
                }
            }
            .event-title-wrapper{
                font-size: 25px;
                color: #738087;
                position: relative;
                padding: 25px 0px;
                margin-bottom: 50px;
                &:before{
                    position: absolute;
                    top: 0px;
                    left: 50%;
                    width: 1px;
                    height: 20px;
                    background-color: #738087;
                    content: '';
                    display: block;
                }
                &:after{
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    width: 1px;
                    height: 20px;
                    background-color: #738087;
                    content: '';
                    display: block;
                }
            }
            .event-detail-wrapper{
                padding: 100px 100px 200px 100px;
                background-color: white;
                position: relative;
                font-size: 25px;
                >img{
                    max-width: 100%;
                    min-width: 80%;
                }
                .description-wrapper{
                    position: absolute;
                    right: 80px;
                    top: -30px;
                    max-width: 50%;
                    min-height: 500px;
                    padding: 10px 50px;
                    border: 10px solid black;
                    background-color: white;
                    margin-bottom: 40px;
                    .event-description{
                        font-size: 30px;
                        display: inline-block;
                        -webkit-line-break: after-white-space;
                        word-wrap: break-word;
                    }
                    .top-mark{
                        text-align: left;
                        font-size: 38px;
                        margin-bottom: 25px;
                        >span{
                            display: inline-block;
                            font-size: 150px;
                            line-height: 75px;
                            font-weight: bolder;
                            transform: rotate(180deg);
                            vertical-align: super;
                        }
                    }
                }
                .the-details{
                    position: absolute;
                    bottom: -80px;
                    left: 200px;
                    padding: 50px 100px;
                    border: 3px solid #808080;
                    background-color: white;
                    >h2{
                        font-size: 30px;
                        margin-bottom: 50px;
                    }
                    .location-wrapper{
                        margin-bottom: 40px;
                        h3{
                            margin: 5px;
                        }
                    }
                    .date-time-wrapper{
                        h3{
                            margin: 5px;
                        }
                        .for-display{
                            display: inline-block;
                        }
                        .for-edit{
                            display: none;
                            input{
                                width: 150px;
                                margin: 0px 5px;
                                padding: 3px 5px;
                                outline: none;
                            }
                        }
                        &.edit-status{
                            .for-display{
                                display: none;
                            }
                            .for-edit{
                                display: inline-block;
                            }
                            .action-wrapper{
                                vertical-align: middle;
                            }
                        }
                        .action-wrapper{
                            a{
                                line-height: 1em;
                            }
                        }
                    }
                }
            }
            .event-images-container{
                padding: 85px 0px;
                padding-bottom: 20px;
                .tt-grid-wrapper{
                    padding-left: 10px;
                    padding-right: 10px;
                    border: 1px solid rgba(0, 0, 0, .3);
                    background-color: white;
                    .previous-page{
                        display: block;
                        float: left;
                        width: 5%;
                        line-height: 300px;
                        img{
                            width: 100%;
                            vertical-align: middle;
                            cursor: pointer;
                        }
                    }
                    .next-page{
                        display: block;
                        float: left;
                        width: 5%;
                        line-height: 300px;
                        img{
                            width: 100%;
                            vertical-align: middle;
                            cursor: pointer;
                        }
                    }
                    & > .tt-grid.tt-effect-3dflip{
                        display: block;
                        float: left;
                        width: 90% !important;
                        max-width: 100%;
                        li{
                            margin: 15px;
                            width: calc((100% - 150px) / 5) !important;
                            height: 200px !important;
                            a{
                                height: 100%;
                                .event-image-item{
                                    height: 100%;
                                    position: relative;
                                    perspective: 300px;
                                    img.delete-event-image-icon{
                                        position: absolute;
                                        right: -15px;
                                        top: -15px;
                                        width: 30px;
                                        height: 30px;
                                        cursor: pointer;
                                        &:active{
                                            transform: translateZ(-3px) scale(.95);
                                        }
                                    }
                                    .event-image{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                &.is-dragover{
                    opacity: .4;
                    outline: dashed 1px black;
                    outline-offset: -10px;
                }
            }
            .actions-wrapper{
                padding-bottom: 10px;
                button{
                    border-radius: 0px;
                    font-size: 20px;
                    margin: 0px 5px;
                }
            }
            @media only screen and (max-width: 910px) {
                .editable-wrapper{
                    .editable-content{
                        display: inline-block;
                        max-width: calc(100% - 30px);
                        overflow-y: hidden;
                        overflow-x: auto;
                        padding: 5px 10px;
                        border: 1px solid transparent;
                        outline: none;
                        min-height: 40px;
                    }
                    .action-wrapper{
                        display: inline-block;
                        vertical-align: bottom;
                        line-height: 2;
                        .save-entry{
                            display: none;
                        }
                        .back-to-origin{
                            display: none;
                        }
                    }
                    &.edit-status{
                        .editable-content{
                            border: 1px solid #738087;
                            outline: none;
                        }
                        .edit-entry{
                            display: none;
                        }
                        .save-entry{
                            display: initial;
                        }
                        .back-to-origin{
                            display: initial;
                        }
                    }
                }
                .event-title-wrapper{
                    font-size: 25px;
                    color: #738087;
                    position: relative;
                    padding: 25px 0px;
                    margin-bottom: 50px;
                    &:before{
                        position: absolute;
                        top: 0px;
                        left: 50%;
                        width: 1px;
                        height: 20px;
                        background-color: #738087;
                        content: '';
                        display: block;
                    }
                    &:after{
                        position: absolute;
                        bottom: 0px;
                        left: 50%;
                        width: 1px;
                        height: 20px;
                        background-color: #738087;
                        content: '';
                        display: block;
                    }
                }
                .event-detail-wrapper{
                    padding: 100px 20px 200px 20px;
                    position: relative;
                    font-size: 25px;
                    >img{
                        max-width: 100%;
                    }
                    .description-wrapper{
                        position: absolute;
                        right: 30px;
                        top: -30px;
                        max-width: calc(100% - 60px);
                        min-height: 200px;
                        padding: 10px 20px;
                        border: 10px solid black;
                        background-color: white;
                        margin-bottom: 40px;
                        .event-description{
                            font-size: 25px;
                            display: inline-block;
                            -webkit-line-break: after-white-space;
                            word-wrap: break-word;
                        }
                        .top-mark{
                            text-align: left;
                            font-size: 30px;
                            margin-bottom: 25px;
                            >span{
                                display: inline-block;
                                font-size: 120px;
                                line-height: 70px;
                                font-weight: bolder;
                                transform: rotate(180deg);
                                vertical-align: super;
                            }
                        }
                    }
                    .the-details{
                        position: absolute;
                        bottom: -80px;
                        left: 50px;
                        max-width: calc(100% - 50px);
                        padding: 20px 30px;
                        border: 3px solid #808080;
                        background-color: white;
                        >h2{
                            font-size: 30px;
                            margin-bottom: 50px;
                        }
                        .location-wrapper{
                            margin-bottom: 40px;
                            h3{
                                margin: 5px;
                            }
                        }
                        .date-time-wrapper{
                            h3{
                                margin: 5px;
                            }
                            .for-display{
                                display: inline-block;
                            }
                            .for-edit{
                                display: none;
                                input{
                                    width: 150px;
                                    margin: 0px 5px;
                                    padding: 3px 5px;
                                    outline: none;
                                }
                            }
                            &.edit-status{
                                .for-display{
                                    display: none;
                                }
                                .for-edit{
                                    display: inline-block;
                                }
                                .action-wrapper{
                                    vertical-align: middle;
                                }
                            }
                            .action-wrapper{
                                line-height: 1;
                                a{
                                    line-height: 1em;
                                }
                            }
                        }
                    }
                }
                .event-images-container{
                    padding: 85px 0px;
                    padding-bottom: 20px;
                    .tt-grid-wrapper{
                        padding-left: 10px;
                        padding-right: 10px;
                        border: 1px solid rgba(0, 0, 0, .3);
                        background-color: white;
                        .previous-page{
                            display: block;
                            float: left;
                            width: 5%;
                            line-height: 300px;
                            img{
                                width: 100%;
                                vertical-align: middle;
                                cursor: pointer;
                            }
                        }
                        .next-page{
                            display: block;
                            float: left;
                            width: 5%;
                            line-height: 300px;
                            img{
                                width: 100%;
                                vertical-align: middle;
                                cursor: pointer;
                            }
                        }
                        & > .tt-grid.tt-effect-3dflip{
                            display: block;
                            float: left;
                            width: 90% !important;
                            max-width: 100%;
                            li{
                                margin: 15px;
                                width: calc((100% - 150px) / 5) !important;
                                height: 200px !important;
                                @media only screen and (max-width: 768px) {
                                    width: calc((100% - 60px) / 2) !important;
                                }
                                a{
                                    height: 100%;
                                    .event-image-item{
                                        height: 100%;
                                        position: relative;
                                        perspective: 300px;
                                        img.delete-event-image-icon{
                                            position: absolute;
                                            right: -15px;
                                            top: -15px;
                                            width: 30px;
                                            height: 30px;
                                            cursor: pointer;
                                            &:active{
                                                transform: translateZ(-3px) scale(.95);
                                            }
                                        }
                                        .event-image{
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.is-dragover{
                        opacity: .4;
                        outline: dashed 1px black;
                        outline-offset: -10px;
                    }
                }
                .actions-wrapper{
                    padding-bottom: 10px;
                    button{
                        border-radius: 0px;
                        font-size: 20px;
                        margin: 10px 5px;
                    }
                }
            }
        }
    }
}

.swal2-container.swal2-fade.swal2-shown{
    .swal2-modal.swal2-show{
        .swal2-buttonswrapper{
            button{
                margin: 10px;
            }
        }
    }
}
.after-clearfix{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    h1, h2, h3, h4, h5, h6 {
        line-height: inherit;
    }
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
    padding-left: 40px;
    position: relative;
    &:last-child {
        padding-bottom: 0;
    }
}

/*----- TIMELINE INFO -----*/

.timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/

.timeline-marker {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 15px;
    &:before {
        background: $primary-color;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px; left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out,
        border 0.3s ease-in-out;
    }
    &:after {
        content: "";
        width: 3px;
        background: #CCD5DB;
        display: block;
        position: absolute;
        top: 24px; bottom: 0; left: 6px;
    }
    .timeline-item:last-child &:after {
        content: none;
    }
}
.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid $primary-color;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
    padding-bottom: 40px;
    p:last-child {
        margin-bottom: 0;
    }
}

/*----- TIMELINE PERIOD -----*/

.period {
    padding: 0;
    .timeline-info {
        display: none;
    }
    .timeline-marker {
        &:before {
            background: transparent;
            content: "";
            width: 15px;
            height: auto;
            border: none;
            border-radius: 0;
            top: 0;
            bottom: 30px;
            position: absolute;
            border-top: 3px solid #CCD5DB;
            border-bottom: 3px solid #CCD5DB;
        }
        &:after {
            content: "";
            height: 32px;
            top: auto;
        }
    }
    .timeline-content {
        padding: 40px 0 70px;
    }
    .timeline-title {
        margin: 0;
    }
}

/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/

.timeline-split {
    @media (min-width: 768px) {
        .timeline {
            display: table;
        }
        .timeline-item {
            display: table-row;
            padding: 0;
        }
        .timeline-info,
        .timeline-marker,
        .timeline-content,
        .period .timeline-info {
            display: table-cell;
            vertical-align: top;
        }
        .timeline-marker {
            position: relative;
        }
        .timeline-content {
            padding-left: 30px;
        }
        .timeline-info {
            padding-right: 30px;
        }
        .period .timeline-title {
            position: relative;
            left: -45px;
        }
    }
}

/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/

.timeline-centered {
    @extend .timeline-split;
    @media (min-width: 992px) {
        &,
        .timeline-item,
        .timeline-info,
        .timeline-marker,
        .timeline-content {
            display: block;
            margin: 0;
            padding: 0;
        }
        .timeline-item {
            padding-bottom: 40px;
            overflow: hidden;
        }
        .timeline-marker {
            position: absolute;
            left: 50%;
            margin-left: -7.5px;
        }
        .timeline-info,
        .timeline-content {
            width: 50%;
        }
        > .timeline-item:nth-child(even) .timeline-info {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item:nth-child(even) .timeline-content {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        > .timeline-item:nth-child(odd) .timeline-info {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        > .timeline-item:nth-child(odd) .timeline-content {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item.period .timeline-content {
            float: none;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        .timeline-item.period {
            padding: 50px 0 90px;
        }
        .period .timeline-marker:after {
            height: 30px;
            bottom: 0;
            top: auto;
        }
        .period .timeline-title {
            left: auto;
        }
    }
}

/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/

.marker-outline {
    .timeline-marker {
        &:before {
            background: transparent;
            border-color: $primary-color;
        }
    }
    .timeline-item:hover .timeline-marker:before {
        background: $primary-color;
    }
}