html body .site-wrapper.page {
  font-family: "EB Garamond", sans-serif; }
  html body .site-wrapper.page > .site-content {
    padding: 30px 50px; }
    html body .site-wrapper.page > .site-content > .content-wrapper {
      max-width: 1700px;
      margin: 0px auto;
      position: relative;
      color: #7b7b7b;
      padding-top: 10px; }
      html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration {
        position: absolute; }
      html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .top-left-rectangular {
        background-color: #7b7b7b;
        color: white;
        font-size: 22px;
        padding: 0px 150px 70px 25px;
        position: absolute;
        top: 0px;
        left: -30px;
        line-height: 52px; }
        html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .top-left-rectangular i.fa-caret-down {
          vertical-align: middle;
          font-size: 50px; }
      html body .site-wrapper.page > .site-content > .content-wrapper header.content-header {
        padding: 0px 50px 5px;
        text-align: right; }
        html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-wrapper {
          display: inline-block;
          line-height: 35px; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-wrapper > span {
            vertical-align: middle;
            font-size: 20px; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-wrapper .dropdown {
            margin-left: 10px;
            vertical-align: middle;
            display: inline-block; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-wrapper .dropdown button.btn-custom {
              background-color: transparent;
              border: 1px solid #7b7b7b;
              font-size: 18px; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-wrapper .dropdown ul.dropdown-menu li a input {
              background-color: transparent;
              margin-top: 0px;
              vertical-align: middle;
              position: absolute;
              left: -9999px; }
              html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-wrapper .dropdown ul.dropdown-menu li a input:checked + label {
                color: black; }
                html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-wrapper .dropdown ul.dropdown-menu li a input:checked + label:before {
                  border-color: black; }
                html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-wrapper .dropdown ul.dropdown-menu li a input:checked + label:after {
                  font-size: .9em;
                  content: '\2714';
                  position: absolute;
                  left: 0.2em;
                  top: 0em;
                  width: 1em;
                  height: 1em;
                  color: black; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-wrapper .dropdown ul.dropdown-menu li a label {
              color: grey;
              font-size: 18px;
              line-height: 1.1em;
              vertical-align: middle;
              position: relative;
              padding-left: 1.8em;
              cursor: pointer;
              font-weight: normal; }
              html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .multi-select-wrapper .dropdown ul.dropdown-menu li a label:before {
                content: '';
                position: absolute;
                left: 0px;
                top: 0px;
                width: 1em;
                height: 1em;
                border: 1px solid grey; }
      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content {
        text-align: left;
        min-height: 700px;
        position: relative;
        padding: 50px 10px 0px;
        background-color: #f8f7f9; }
        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered {
          width: 86%;
          margin: 0px auto;
          box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.15);
          background-color: white;
          padding: 30px 50px; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-info span {
            font-size: 18px;
            line-height: 1.6; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-marker .btn.btn-block {
            position: absolute;
            top: 2px;
            left: calc((100% - 35px) / 2);
            text-align: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            padding-left: 0px;
            padding-right: 0px;
            background-color: transparent;
            border: 2px solid #b2b2b4;
            display: none; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-marker .btn.btn-block i.glyphicon {
              font-size: 18px;
              color: #b2b2b4; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-marker .btn.btn-block.btn-success {
              background-color: #5cb85c;
              border-color: #5cb85c; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-marker .btn.btn-block.btn-success i.glyphicon {
                color: white; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-marker .btn.btn-block:focus {
              outline: none; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-marker.completed:before {
            display: none; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-marker.completed:after {
            top: 40px; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-marker.completed .btn.btn-block {
            display: inline-block; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-content .timeline-title {
            line-height: 1.2;
            margin-top: 0px;
            margin-bottom: 20px;
            cursor: pointer; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-content .timeline-title:hover {
              color: black; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-content .timeline-description {
            font-size: 17px;
            max-width: 600px; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-content .timeline-description img.timeline-img {
              cursor: pointer;
              vertical-align: top;
              width: 40%;
              min-width: 300px;
              margin: 0px 10px 10px; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-content .timeline-description:after {
              content: '';
              display: block;
              clear: both; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-content .timeline-link-wrapper {
            margin-top: 6px; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item .timeline-content .timeline-link-wrapper a.timeline-link {
              font-size: 18px; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item:nth-child(odd) .timeline-content .timeline-description {
            text-align: left;
            margin: 0px 0px 0px auto; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item:nth-child(odd) .timeline-content .timeline-description img.timeline-img {
              float: right; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item:nth-child(even) .timeline-content .timeline-description {
            margin: 0px auto 0px 0px; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item:nth-child(even) .timeline-content .timeline-description img.timeline-img {
              float: left; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content ul.timeline.timeline-centered li.timeline-item.sample {
            display: none; }

.my-lightbox {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(33, 33, 33, 0.5);
  z-index: 31;
  overflow: auto; }
  .my-lightbox .my-lightbox-inner-wrapper {
    position: absolute;
    background-color: white;
    text-align: center; }
    .my-lightbox .my-lightbox-inner-wrapper .my-lightbox-inner {
      max-height: 100%;
      overflow: auto; }
    .my-lightbox .my-lightbox-inner-wrapper button.close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 2em;
      color: black !important;
      margin: 0px;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      border: 2px solid black;
      opacity: .7;
      box-shadow: none;
      background-color: white; }
      .my-lightbox .my-lightbox-inner-wrapper button.close:hover {
        opacity: 1 !important; }
  @media only screen and (max-width: 991px) {
    .my-lightbox.open-status .my-lightbox-inner-wrapper {
      top: 2vh !important;
      right: 4vw !important;
      left: 4vw !important;
      bottom: 2vh !important; } }
  @media only screen and (max-width: 768px) {
    .my-lightbox.open-status .my-lightbox-inner-wrapper {
      top: 1vh !important;
      right: 2vw !important;
      left: 2vw !important;
      bottom: 1vh !important; } }

.edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper {
  background-color: #f8f8fa; }
  .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner {
    color: #807e81; }
    .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper .editable-content {
      display: inline-block;
      max-width: calc(100% - 30px);
      overflow-y: hidden;
      overflow-x: auto;
      padding: 5px 10px;
      border: 1px solid transparent;
      outline: none;
      min-height: 40px;
      vertical-align: middle; }
    .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper .action-wrapper {
      display: inline-block;
      vertical-align: middle; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper .action-wrapper .save-entry {
        display: none; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper .action-wrapper .back-to-origin {
        display: none; }
    .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper.edit-status .editable-content {
      border: 1px solid #738087;
      outline: none; }
    .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper.edit-status .edit-entry {
      display: none; }
    .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper.edit-status .save-entry {
      display: initial; }
    .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper.edit-status .back-to-origin {
      display: initial; }
    .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-title-wrapper {
      font-size: 25px;
      color: #738087;
      position: relative;
      padding: 25px 0px;
      margin-bottom: 50px; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-title-wrapper:before {
        position: absolute;
        top: 0px;
        left: 50%;
        width: 1px;
        height: 20px;
        background-color: #738087;
        content: '';
        display: block; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-title-wrapper:after {
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 1px;
        height: 20px;
        background-color: #738087;
        content: '';
        display: block; }
    .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper {
      padding: 100px 100px 200px 100px;
      background-color: white;
      position: relative;
      font-size: 25px; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper > img {
        max-width: 100%;
        min-width: 80%; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .description-wrapper {
        position: absolute;
        right: 80px;
        top: -30px;
        max-width: 50%;
        min-height: 500px;
        padding: 10px 50px;
        border: 10px solid black;
        background-color: white;
        margin-bottom: 40px; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .description-wrapper .event-description {
          font-size: 30px;
          display: inline-block;
          -webkit-line-break: after-white-space;
          word-wrap: break-word; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .description-wrapper .top-mark {
          text-align: left;
          font-size: 38px;
          margin-bottom: 25px; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .description-wrapper .top-mark > span {
            display: inline-block;
            font-size: 150px;
            line-height: 75px;
            font-weight: bolder;
            transform: rotate(180deg);
            vertical-align: super; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details {
        position: absolute;
        bottom: -80px;
        left: 200px;
        padding: 50px 100px;
        border: 3px solid #808080;
        background-color: white; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details > h2 {
          font-size: 30px;
          margin-bottom: 50px; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .location-wrapper {
          margin-bottom: 40px; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .location-wrapper h3 {
            margin: 5px; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper h3 {
          margin: 5px; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper .for-display {
          display: inline-block; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper .for-edit {
          display: none; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper .for-edit input {
            width: 150px;
            margin: 0px 5px;
            padding: 3px 5px;
            outline: none; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper.edit-status .for-display {
          display: none; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper.edit-status .for-edit {
          display: inline-block; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper.edit-status .action-wrapper {
          vertical-align: middle; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper .action-wrapper a {
          line-height: 1em; }
    .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container {
      padding: 85px 0px;
      padding-bottom: 20px; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper {
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        background-color: white; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper .previous-page {
          display: block;
          float: left;
          width: 5%;
          line-height: 300px; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper .previous-page img {
            width: 100%;
            vertical-align: middle;
            cursor: pointer; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper .next-page {
          display: block;
          float: left;
          width: 5%;
          line-height: 300px; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper .next-page img {
            width: 100%;
            vertical-align: middle;
            cursor: pointer; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
          display: block;
          float: left;
          width: 90% !important;
          max-width: 100%; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            margin: 15px;
            width: calc((100% - 150px) / 5) !important;
            height: 200px !important; }
            .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a {
              height: 100%; }
              .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .event-image-item {
                height: 100%;
                position: relative;
                perspective: 300px; }
                .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .event-image-item img.delete-event-image-icon {
                  position: absolute;
                  right: -15px;
                  top: -15px;
                  width: 30px;
                  height: 30px;
                  cursor: pointer; }
                  .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .event-image-item img.delete-event-image-icon:active {
                    transform: translateZ(-3px) scale(0.95); }
                .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .event-image-item .event-image {
                  width: 100%;
                  height: 100%; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container.is-dragover {
        opacity: .4;
        outline: dashed 1px black;
        outline-offset: -10px; }
    .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .actions-wrapper {
      padding-bottom: 10px; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .actions-wrapper button {
        border-radius: 0px;
        font-size: 20px;
        margin: 0px 5px; }
    @media only screen and (max-width: 910px) {
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper .editable-content {
        display: inline-block;
        max-width: calc(100% - 30px);
        overflow-y: hidden;
        overflow-x: auto;
        padding: 5px 10px;
        border: 1px solid transparent;
        outline: none;
        min-height: 40px; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper .action-wrapper {
        display: inline-block;
        vertical-align: bottom;
        line-height: 2; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper .action-wrapper .save-entry {
          display: none; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper .action-wrapper .back-to-origin {
          display: none; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper.edit-status .editable-content {
        border: 1px solid #738087;
        outline: none; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper.edit-status .edit-entry {
        display: none; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper.edit-status .save-entry {
        display: initial; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .editable-wrapper.edit-status .back-to-origin {
        display: initial; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-title-wrapper {
        font-size: 25px;
        color: #738087;
        position: relative;
        padding: 25px 0px;
        margin-bottom: 50px; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-title-wrapper:before {
          position: absolute;
          top: 0px;
          left: 50%;
          width: 1px;
          height: 20px;
          background-color: #738087;
          content: '';
          display: block; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-title-wrapper:after {
          position: absolute;
          bottom: 0px;
          left: 50%;
          width: 1px;
          height: 20px;
          background-color: #738087;
          content: '';
          display: block; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper {
        padding: 100px 20px 200px 20px;
        position: relative;
        font-size: 25px; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper > img {
          max-width: 100%; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .description-wrapper {
          position: absolute;
          right: 30px;
          top: -30px;
          max-width: calc(100% - 60px);
          min-height: 200px;
          padding: 10px 20px;
          border: 10px solid black;
          background-color: white;
          margin-bottom: 40px; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .description-wrapper .event-description {
            font-size: 25px;
            display: inline-block;
            -webkit-line-break: after-white-space;
            word-wrap: break-word; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .description-wrapper .top-mark {
            text-align: left;
            font-size: 30px;
            margin-bottom: 25px; }
            .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .description-wrapper .top-mark > span {
              display: inline-block;
              font-size: 120px;
              line-height: 70px;
              font-weight: bolder;
              transform: rotate(180deg);
              vertical-align: super; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details {
          position: absolute;
          bottom: -80px;
          left: 50px;
          max-width: calc(100% - 50px);
          padding: 20px 30px;
          border: 3px solid #808080;
          background-color: white; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details > h2 {
            font-size: 30px;
            margin-bottom: 50px; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .location-wrapper {
            margin-bottom: 40px; }
            .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .location-wrapper h3 {
              margin: 5px; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper h3 {
            margin: 5px; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper .for-display {
            display: inline-block; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper .for-edit {
            display: none; }
            .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper .for-edit input {
              width: 150px;
              margin: 0px 5px;
              padding: 3px 5px;
              outline: none; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper.edit-status .for-display {
            display: none; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper.edit-status .for-edit {
            display: inline-block; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper.edit-status .action-wrapper {
            vertical-align: middle; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper .action-wrapper {
            line-height: 1; }
            .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-detail-wrapper .the-details .date-time-wrapper .action-wrapper a {
              line-height: 1em; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container {
        padding: 85px 0px;
        padding-bottom: 20px; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper {
          padding-left: 10px;
          padding-right: 10px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          background-color: white; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper .previous-page {
            display: block;
            float: left;
            width: 5%;
            line-height: 300px; }
            .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper .previous-page img {
              width: 100%;
              vertical-align: middle;
              cursor: pointer; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper .next-page {
            display: block;
            float: left;
            width: 5%;
            line-height: 300px; }
            .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper .next-page img {
              width: 100%;
              vertical-align: middle;
              cursor: pointer; }
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip {
            display: block;
            float: left;
            width: 90% !important;
            max-width: 100%; }
            .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
              margin: 15px;
              width: calc((100% - 150px) / 5) !important;
              height: 200px !important; } }
        @media only screen and (max-width: 910px) and (max-width: 768px) {
          .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li {
            width: calc((100% - 60px) / 2) !important; } }
    @media only screen and (max-width: 910px) {
              .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a {
                height: 100%; }
                .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .event-image-item {
                  height: 100%;
                  position: relative;
                  perspective: 300px; }
                  .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .event-image-item img.delete-event-image-icon {
                    position: absolute;
                    right: -15px;
                    top: -15px;
                    width: 30px;
                    height: 30px;
                    cursor: pointer; }
                    .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .event-image-item img.delete-event-image-icon:active {
                      transform: translateZ(-3px) scale(0.95); }
                  .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container .tt-grid-wrapper > .tt-grid.tt-effect-3dflip li a .event-image-item .event-image {
                    width: 100%;
                    height: 100%; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .event-images-container.is-dragover {
          opacity: .4;
          outline: dashed 1px black;
          outline-offset: -10px; }
      .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .actions-wrapper {
        padding-bottom: 10px; }
        .edit-event-lightbox.my-lightbox .edit-event-lightbox-inner-wrapper.my-lightbox-inner-wrapper .edit-event-lightbox-inner.my-lightbox-inner .actions-wrapper button {
          border-radius: 0px;
          font-size: 20px;
          margin: 10px 5px; } }

.swal2-container.swal2-fade.swal2-shown .swal2-modal.swal2-show .swal2-buttonswrapper button {
  margin: 10px; }

.after-clearfix:after {
  content: '';
  display: block;
  clear: both; }

.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit; }

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative; }
  .timeline-item:last-child {
    padding-bottom: 0; }

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap; }

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px; }
  .timeline-marker:before {
    background: #FF6B6B;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out; }
  .timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px; }
  .timeline-item:last-child .timeline-marker:after {
    content: none; }

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #FF6B6B; }

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px; }
  .timeline-content p:last-child {
    margin-bottom: 0; }

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0; }
  .period .timeline-info {
    display: none; }
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB; }
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto; }
  .period .timeline-content {
    padding: 40px 0 70px; }
  .period .timeline-title {
    margin: 0; }

/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table; }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0; }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info,
  .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top; }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative; }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px; }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px; }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px; } }

/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0; }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden; }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px; }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%; }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px; }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px; }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px; }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px; }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center; }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px; }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto; }
  .timeline-centered .period .timeline-title {
    left: auto; } }

/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B; }
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B; }

/*# sourceMappingURL=goals-page.css.map */
