@font-face {
  font-family: 'Title-Muli';
  font-style: normal;
  font-weight: 400;
  src: local("Muli"), url("../../fonts/Muli/Muli-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Content-Muli';
  font-style: normal;
  font-weight: 400;
  src: local("Muli"), url("../../fonts/Muli/Muli-Regular.ttf") format("truetype"); }
html body .site-wrapper.page main.main-content section.hero-section {
  color: white;
  background-color: #f26d7e;
  padding: 70px 0px 20px; }
  html body .site-wrapper.page main.main-content section.hero-section .hero-title {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 4rem;
    font-weight: bold; }
  html body .site-wrapper.page main.main-content section.hero-section .hero-sub-title {
    margin-bottom: 20px;
    font-size: 2rem; }
  html body .site-wrapper.page main.main-content section.hero-section .hero-image-wrapper {
    margin-bottom: 20px; }
    html body .site-wrapper.page main.main-content section.hero-section .hero-image-wrapper svg {
      width: 430px;
      max-width: 100%; }
  html body .site-wrapper.page main.main-content section.hero-section .get-started-free {
    margin-bottom: 10px; }
    html body .site-wrapper.page main.main-content section.hero-section .get-started-free a.get-started-btn {
      display: inline-block;
      padding: 15px 40px;
      background-color: #1fcd98;
      border-radius: 40px;
      color: white;
      font-size: 2.2rem;
      text-decoration: none; }
      html body .site-wrapper.page main.main-content section.hero-section .get-started-free a.get-started-btn:hover {
        background-color: #1eb785; }
  html body .site-wrapper.page main.main-content section.hero-section .introduction-wrapper {
    font-size: 1.5rem;
    cursor: pointer; }
    html body .site-wrapper.page main.main-content section.hero-section .introduction-wrapper svg {
      width: 15px;
      height: 15px;
      vertical-align: middle; }
      html body .site-wrapper.page main.main-content section.hero-section .introduction-wrapper svg path {
        fill: white; }
  @media all and (max-width: 768px) {
    html body .site-wrapper.page main.main-content section.hero-section {
      padding: 20px 0px 15px; }
      html body .site-wrapper.page main.main-content section.hero-section .hero-title {
        font-size: 3.5rem;
        margin-bottom: 10px; }
      html body .site-wrapper.page main.main-content section.hero-section .hero-sub-title {
        font-size: 2.5rem;
        margin-bottom: 15px; }
      html body .site-wrapper.page main.main-content section.hero-section .hero-image-wrapper {
        margin-bottom: 5px; }
        html body .site-wrapper.page main.main-content section.hero-section .hero-image-wrapper svg {
          width: 450px; } }
  @media all and (max-width: 576px) {
    html body .site-wrapper.page main.main-content section.hero-section {
      padding: 15px 0px 15px; }
      html body .site-wrapper.page main.main-content section.hero-section .hero-image-wrapper {
        margin-bottom: 5px; }
        html body .site-wrapper.page main.main-content section.hero-section .hero-image-wrapper svg {
          width: 350px; } }
html body .site-wrapper.page main.main-content section.do-your-life {
  padding-top: 20px;
  overflow: hidden; }
  html body .site-wrapper.page main.main-content section.do-your-life .section-title {
    font-size: 3rem;
    margin-bottom: 15px; }
  html body .site-wrapper.page main.main-content section.do-your-life .section-content {
    text-align: left;
    margin-bottom: 15px; }
    html body .site-wrapper.page main.main-content section.do-your-life .section-content .categories-container {
      width: calc(100% - 220px);
      margin: 10px auto; }
      html body .site-wrapper.page main.main-content section.do-your-life .section-content .categories-container a.nav-item {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
        padding: 0px 15px;
        color: #737661;
        text-decoration: none;
        font-size: 1.7rem;
        text-align: center; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .categories-container a.nav-item.active {
          font-weight: bold; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .categories-container a.nav-item:focus {
          outline: none; }
      html body .site-wrapper.page main.main-content section.do-your-life .section-content .categories-container .slick-arrow:before {
        color: #1fcd98; }
    html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane {
      position: relative;
      padding: 0px 90px; }
      html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item {
        padding: 5px 17px; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper {
          position: relative;
          margin-bottom: 17px; }
          html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .item-image {
            width: 100%;
            height: 200px; }
            @media only screen and (max-width: 1600px) {
              html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .item-image {
                height: 170px; } }
            @media only screen and (max-width: 1600px) {
              html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .item-image {
                height: 150px; } }
            @media only screen and (max-width: 1400px) {
              html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .item-image {
                height: 140px; } }
            @media only screen and (max-width: 1280px) {
              html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .item-image {
                height: 128px; } }
          html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .hover-content {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            opacity: 0; }
            html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .hover-content .footer-buttons {
              position: absolute;
              bottom: 0px;
              left: 0px;
              width: 100%; }
              html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .hover-content .footer-buttons a {
                display: block;
                padding: 5px;
                background-color: #1fcd98;
                color: white;
                text-align: center;
                text-decoration: none; }
                html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .hover-content .footer-buttons a svg {
                  display: none;
                  width: 18px;
                  vertical-align: middle; }
                  html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .hover-content .footer-buttons a svg path {
                    fill: white; }
                  html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .hover-content .footer-buttons a svg.preview-icon, html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
                    display: inline; }
                html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .hover-content .footer-buttons a:hover {
                  background-color: #1eb785; }
              html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .hover-content .footer-buttons .flex-row .last-col {
                margin-left: 2px; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .child-count-wrapper {
          margin-bottom: 10px; }
          html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .child-count-wrapper .child-count {
            display: inline-block;
            padding: 5px 15px;
            border-radius: 10px;
            background-color: #feba19;
            color: white; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-title {
          font-size: 1.4rem;
          font-weight: bold;
          height: 5rem; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item:hover .item-image-wrapper .hover-content {
          opacity: 1; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item.purchased .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
          display: none; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item.purchased .item-image-wrapper .hover-content .footer-buttons a svg.purchased-icon {
          display: inline; }
      html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .slider-nav {
        position: absolute;
        top: -20px;
        height: 240px;
        width: 240px;
        background-color: rgba(255, 224, 198, 0.3);
        border-radius: 50%;
        cursor: pointer; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .slider-nav .arrow-icon-wrapper {
          height: 70px;
          width: 30px; }
          html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .slider-nav .arrow-icon-wrapper:before, html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .slider-nav .arrow-icon-wrapper:after {
            background-color: white; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .slider-nav.arrow-left {
          left: -100px; }
          html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .slider-nav.arrow-left .arrow-icon-wrapper {
            left: 30px; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .slider-nav.arrow-right {
          right: -100px; }
          html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .slider-nav.arrow-right .arrow-icon-wrapper {
            right: 30px; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .slider-nav:hover {
          background-color: rgba(255, 224, 198, 0.6); }
    @media screen and (max-width: 768px) {
      html body .site-wrapper.page main.main-content section.do-your-life .section-content .categories-container {
        width: calc(100% - 80px);
        margin: 0px auto; }
      html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane {
        padding: 0px 40px; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item {
          padding: 5px 17px; }
          html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper {
            margin-bottom: 17px; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .slider-nav {
          display: none !important; } }
    @media all and (max-width: 576px) {
      html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper {
        margin-bottom: 17px; }
        html body .site-wrapper.page main.main-content section.do-your-life .section-content .tab-content .tab-pane .items-container .item .item-image-wrapper .item-image {
          height: 150px; } }
  html body .site-wrapper.page main.main-content section.do-your-life .more-wrapper a {
    display: inline-block;
    padding: 10px 75px;
    border: 1px solid #1fcd98;
    border-radius: 32px;
    font-size: 2rem;
    color: #1fcd98;
    text-decoration: none; }
    html body .site-wrapper.page main.main-content section.do-your-life .more-wrapper a:hover {
      background-color: #1fcd98;
      color: white; }
  html body .site-wrapper.page main.main-content section.do-your-life.simplify-life {
    padding-bottom: 150px; }
    @media all and (max-width: 768px) {
      html body .site-wrapper.page main.main-content section.do-your-life.simplify-life {
        padding-bottom: 20px; } }
  html body .site-wrapper.page main.main-content section.do-your-life.enrich-life {
    padding-bottom: 100px; }
    @media all and (max-width: 768px) {
      html body .site-wrapper.page main.main-content section.do-your-life.enrich-life {
        padding-bottom: 20px; } }
html body .site-wrapper.page main.main-content section.life-steps {
  background-color: #1fcd98;
  color: white; }
  html body .site-wrapper.page main.main-content section.life-steps .life-step-item {
    position: relative; }
    html body .site-wrapper.page main.main-content section.life-steps .life-step-item .step-image-wrapper {
      position: relative; }
      html body .site-wrapper.page main.main-content section.life-steps .life-step-item .step-image-wrapper img {
        width: 400px;
        max-width: 100%; }
      html body .site-wrapper.page main.main-content section.life-steps .life-step-item .step-image-wrapper .step-number {
        position: absolute;
        bottom: 17px; }
    html body .site-wrapper.page main.main-content section.life-steps .life-step-item .step-number {
      font-family: sans-serif;
      font-size: 18rem;
      color: #2bae86;
      line-height: 13rem;
      left: calc(50% - 125px / 2); }
    html body .site-wrapper.page main.main-content section.life-steps .life-step-item .step-read {
      position: relative; }
      html body .site-wrapper.page main.main-content section.life-steps .life-step-item .step-read .step-title {
        margin-bottom: 5px;
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        z-index: 2; }
      html body .site-wrapper.page main.main-content section.life-steps .life-step-item .step-read .step-description {
        font-size: 1.7rem;
        position: relative;
        z-index: 2; }
      html body .site-wrapper.page main.main-content section.life-steps .life-step-item .step-read .step-number {
        position: absolute;
        bottom: 5px;
        z-index: 1; }
    html body .site-wrapper.page main.main-content section.life-steps .life-step-item.set-daily-goals {
      bottom: 100px;
      margin-top: -125px; }
    html body .site-wrapper.page main.main-content section.life-steps .life-step-item.simplify-life-step {
      top: 30px;
      margin-bottom: -5px; }
    html body .site-wrapper.page main.main-content section.life-steps .life-step-item.enrich-life-step {
      bottom: 95px;
      margin-top: -125px; }
      html body .site-wrapper.page main.main-content section.life-steps .life-step-item.enrich-life-step .step-image-wrapper .step-number {
        bottom: 35px; }
  @media all and (max-width: 992px) {
    html body .site-wrapper.page main.main-content section.life-steps .life-step-item {
      position: static; }
      html body .site-wrapper.page main.main-content section.life-steps .life-step-item.simplify-life-step {
        margin-bottom: 5px;
        position: relative; } }
  @media all and (max-width: 768px) {
    html body .site-wrapper.page main.main-content section.life-steps .life-step-item {
      position: static; }
      html body .site-wrapper.page main.main-content section.life-steps .life-step-item.set-daily-goals {
        margin-top: 0px;
        margin-bottom: 30px; }
      html body .site-wrapper.page main.main-content section.life-steps .life-step-item.simplify-life-step {
        position: static;
        display: flex;
        flex-wrap: wrap; }
        html body .site-wrapper.page main.main-content section.life-steps .life-step-item.simplify-life-step .step-image-wrapper {
          order: 1;
          flex-basis: 100%;
          flex-shrink: 0; }
        html body .site-wrapper.page main.main-content section.life-steps .life-step-item.simplify-life-step .step-read {
          margin-top: 30px;
          order: 2;
          flex-basis: 100%;
          flex-shrink: 0; }
        html body .site-wrapper.page main.main-content section.life-steps .life-step-item.simplify-life-step .step-number {
          bottom: 125px; }
      html body .site-wrapper.page main.main-content section.life-steps .life-step-item.enrich-life-step {
        margin-top: 0px;
        padding-bottom: 20px; } }
html body .site-wrapper.page main.main-content section.share-experiences {
  padding: 0px 10px;
  background-color: #f26d7e;
  color: white; }
  html body .site-wrapper.page main.main-content section.share-experiences .image-item {
    margin-top: -65px;
    margin-bottom: -45px; }
    html body .site-wrapper.page main.main-content section.share-experiences .image-item img {
      width: 450px;
      max-width: 100%; }
  html body .site-wrapper.page main.main-content section.share-experiences .text-item h3 {
    font-size: 1.7rem;
    font-weight: bold; }
  html body .site-wrapper.page main.main-content section.share-experiences .text-item div {
    font-size: 1.7rem; }
  html body .site-wrapper.page main.main-content section.share-experiences .plus-item svg {
    width: 190px; }
    html body .site-wrapper.page main.main-content section.share-experiences .plus-item svg path {
      fill: rgba(255, 255, 255, 0.3); }
  html body .site-wrapper.page main.main-content section.share-experiences .plus-item:hover svg path {
    fill: rgba(255, 255, 255, 0.5); }
  @media all and (max-width: 768px) {
    html body .site-wrapper.page main.main-content section.share-experiences .image-item {
      margin-top: 0px;
      margin-bottom: 20px; }
    html body .site-wrapper.page main.main-content section.share-experiences .text-item {
      margin-bottom: 20px; }
    html body .site-wrapper.page main.main-content section.share-experiences .plus-item {
      display: block;
      padding-bottom: 20px; }
      html body .site-wrapper.page main.main-content section.share-experiences .plus-item svg {
        width: 150px; } }
html body .site-wrapper.page main.main-content section.the-philosophy {
  padding: 50px 10px 30px; }
  html body .site-wrapper.page main.main-content section.the-philosophy .philosophy-title {
    font-size: 3rem;
    margin-bottom: 20px; }
  html body .site-wrapper.page main.main-content section.the-philosophy .philosophy-description {
    position: relative;
    display: inline-block;
    font-size: 2.2rem;
    font-style: italic;
    margin-bottom: 20px; }
    html body .site-wrapper.page main.main-content section.the-philosophy .philosophy-description .decor {
      display: block;
      position: absolute;
      left: -60px;
      top: -65px;
      transform: rotate(180deg);
      font-size: 10rem;
      line-height: 8rem;
      color: #e8e8e6;
      font-style: normal; }
  html body .site-wrapper.page main.main-content section.the-philosophy .johann {
    font-size: 1.8rem;
    margin-bottom: 30px; }
  html body .site-wrapper.page main.main-content section.the-philosophy .introductory-video .intro-text a {
    font-size: 2rem;
    color: #1fcd98; }
    html body .site-wrapper.page main.main-content section.the-philosophy .introductory-video .intro-text a:hover {
      text-decoration: none;
      color: #1eb785; }

.swal-overlay.swal-overlay--show-modal .swal-modal.welcome {
  font-family: 'Content-Muli'; }
  .swal-overlay.swal-overlay--show-modal .swal-modal.welcome .swal-title {
    color: #c4cc72; }
  .swal-overlay.swal-overlay--show-modal .swal-modal.welcome .swal-text {
    text-align: center;
    font-size: 25px; }

.swal-overlay .swal-modal.thanks-join .swal-footer {
  position: relative; }
  .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap {
    position: absolute;
    left: 10px;
    top: 17px;
    padding: 10px 24px; }
    .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input {
      background-color: transparent;
      margin-top: 0px;
      vertical-align: middle;
      position: absolute;
      left: -9999px; }
      .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label {
        color: black; }
        .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:before {
          border-color: black; }
        .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:after {
          font-size: .9em;
          content: '\2714';
          position: absolute;
          left: 0em;
          top: 0em;
          width: 1em;
          height: 1em;
          color: black; }
    .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label {
      color: grey;
      font-size: 18px;
      line-height: 1.1em;
      vertical-align: middle;
      position: relative;
      padding-left: 1.5em;
      cursor: pointer;
      font-weight: normal; }
      .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1em;
        height: 1em;
        border: 1px solid grey; }

/*# sourceMappingURL=home-page.css.map */
