@import "../../config/css/colors.scss";

html {
    body{
        .site-wrapper.page{
            main.main-content {
                section.hero-section{
                    color: white;
                    background: linear-gradient(to bottom right, #1fcd98, #185a9d);
                    padding: 70px 0px 20px;
                    .hero-title {
                        margin-top: 0px;
                        margin-bottom: 15px;
                        font-size: 4rem;
                        font-weight: bold;
                    }
                    .hero-sub-title{
                        margin-bottom: 20px;
                        font-size: 2rem;
                    }
                    .hero-image-wrapper{
                        margin-bottom: 20px;
                        svg{
                            width: 430px;
                            max-width: 100%;
                        }
                    }
                    .get-started-free{
                        margin-bottom: 10px;
                        a.get-started-btn{
                            display: inline-block;
                            padding: 15px 40px;
                            background-color: $greenColor;
                            border-radius: 40px;
                            color: white;
                            font-size: 2.2rem;
                            text-decoration: none;
                            &:hover{
                                background-color: $greenHover;
                            }
                        }
                    }
                    .introduction-wrapper{
                        font-size: 1.5rem;
                        cursor: pointer;
                        svg{
                            width: 15px;
                            height: 15px;
                            vertical-align: middle;
                            path{
                                fill: white;
                            }
                        }
                    }
                    @media all and (max-width: 768px){
                        padding: 20px 0px 15px;
                        .hero-title{
                            font-size: 3.5rem;
                            margin-bottom: 10px;
                        }
                        .hero-sub-title{
                            font-size: 2.5rem;
                            margin-bottom: 15px;
                        }
                        .hero-image-wrapper{
                            margin-bottom: 5px;
                            svg{
                                width: 450px;
                            }
                        }
                        .get-started-free{}
                        .introduction-wrapper{}
                    }
                    @media all and (max-width: 576px) {
                        padding: 15px 0px 15px;
                        .hero-title{
                        }
                        .hero-sub-title{
                        }
                        .hero-image-wrapper{
                            margin-bottom: 5px;
                            svg{
                                width: 350px;
                            }
                        }
                        .get-started-free{}
                        .introduction-wrapper{}
                    }
                }
                section.memberships-empower{
                    padding: 45px 5px 30px;
                    .section-title{
                        font-size: 3rem;
                        margin-bottom: 20px;
                    }
                    .article--list{
                        width: 1700px;
                        max-width: 100%;
                        margin: 0px auto;
                        article{
                            text-align: center;
                            flex-basis: 0;
                            flex-grow: 1;
                            min-width: 0px;
                            padding: 5px 10px;
                            .image-wrapper{
                                width: 400px;
                                max-width: 100%;
                                margin: 0px auto 10px;
                                height: 340px;
                                img{
                                    width: 100%;
                                }
                            }
                            .article__title{
                                margin-bottom: 5px;
                                font-size: 27px;
                                color: $contentColor;
                                font-weight: bold;
                            }
                            .article__description {
                                width: 510px;
                                max-width: 100%;
                                margin: 0px auto;
                                font-size: 18px;
                                color: $contentColor;
                            }
                        }
                    }
                }
                section.next-generation{
                    width: 1325px;
                    max-width: 100%;
                    margin: 0px auto;
                    padding: 45px 5px 30px;
                    .section-title{
                        margin-bottom: 20px;
                    }
                    .article--list{
                        article{
                            max-width: 100%;
                            margin: 0px auto 20px;
                            .article-image-wrapper{
                                padding: 5px 10px;
                                img{
                                    width: 370px;
                                    max-width: 100%;
                                }
                            }
                            .article-explain{
                                width: 460px;
                                max-width: 100%;
                                margin: 0px auto;
                                font-size: 1.5rem;
                                padding: 5px 10px;
                                line-height: 1.5em;
                                .article-title{
                                    width: 400px;
                                    max-width: 100%;
                                    margin: 0px auto;
                                    padding-bottom: 15px;
                                    font-size: 1.5em;
                                    font-weight: bold;
                                    line-height: 32px;
                                }
                                .article-description{
                                    width: 400px;
                                    max-width: 100%;
                                    text-align: justify;
                                    margin: 0px auto;
                                }
                            }
                        }
                    }
                }
                section.do-your-life {
                    padding-top: 20px;
                    padding-bottom: 150px;
                    overflow: hidden;
                    .section-title{
                        font-size: 3rem;
                        margin-bottom: 15px;
                    }
                    .section-content{
                        text-align: left;
                        margin-bottom: 15px;
                        .categories-container{
                            width: calc(100% - 220px);
                            margin: 10px auto;
                            a.nav-item{
                                display: block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: pre;
                                padding: 0px 15px;
                                color: $contentColor;
                                text-decoration: none;
                                font-size: 1.7rem;
                                text-align: center;
                                &.active{
                                    font-weight: bold;
                                }
                                &:focus{
                                    outline: none;
                                }
                            }
                            .slick-arrow{
                                &:before{
                                    color: $greenColor;
                                }
                            }
                        }
                        .tab-content{
                            .tab-pane{
                                position: relative;
                                padding: 0px 90px;
                                .items-container{
                                    .item{
                                        padding: 5px 17px;
                                        .item-image-wrapper{
                                            position: relative;
                                            margin-bottom: 17px;
                                            .item-image{
                                                width: 100%;
                                                height: 200px;
                                                @media only screen and (max-width: 1600px) {
                                                    height: 170px;
                                                }
                                                @media only screen and (max-width: 1600px) {
                                                    height: 150px;
                                                }
                                                @media only screen and (max-width: 1400px) {
                                                    height: 140px;
                                                }
                                                @media only screen and (max-width: 1280px) {
                                                    height: 128px;
                                                }
                                            }
                                            .hover-content{
                                                position: absolute;
                                                top: 0px;
                                                left: 0px;
                                                width: 100%;
                                                height: 100%;
                                                background-color: rgba(255, 255, 255, .7);
                                                opacity: 0;
                                                .footer-buttons{
                                                    position: absolute;
                                                    bottom: 0px;
                                                    left: 0px;
                                                    width: 100%;
                                                    a{
                                                        display: block;
                                                        padding: 5px;
                                                        background-color: $greenColor;
                                                        color: white;
                                                        text-align: center;
                                                        text-decoration: none;
                                                        svg{
                                                            display: none;
                                                            width: 18px;
                                                            vertical-align: middle;
                                                            path{
                                                                fill: white;
                                                            }
                                                            &.preview-icon, &.join-icon{
                                                                display: inline;
                                                            }
                                                        }
                                                        &:hover{
                                                            background-color: $greenHover;
                                                        }
                                                    }
                                                    .flex-row{
                                                        .last-col{
                                                            margin-left: 2px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .child-count-wrapper{
                                            margin-bottom: 10px;
                                            .child-count{
                                                display: inline-block;
                                                padding: 5px 15px;
                                                border-radius: 10px;
                                                background-color: $yellowColor;
                                                color: white;
                                            }
                                        }
                                        .item-title{
                                            font-size: 1.4rem;
                                            font-weight: bold;
                                            height: 5rem;
                                        }
                                        &:hover{
                                            .item-image-wrapper{
                                                .item-image{
                                                }
                                                .hover-content{
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                        &.purchased{
                                            .item-image-wrapper{
                                                .hover-content{
                                                    .footer-buttons{
                                                        a{
                                                            svg.join-icon{
                                                                display: none;
                                                            }
                                                            svg.purchased-icon{
                                                                display: inline;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .slider-nav{
                                    position: absolute;
                                    top: -20px;
                                    height: 240px;
                                    width: 240px;
                                    background-color: rgba(255, 224, 198, .3);
                                    border-radius: 50%;
                                    cursor: pointer;
                                    .arrow-icon-wrapper{
                                        height: 70px;
                                        width: 30px;
                                        &:before, &:after{
                                            background-color: white;
                                        }
                                    }
                                    &.arrow-left{
                                        left: -100px;
                                        .arrow-icon-wrapper{
                                            left: 30px;
                                        }
                                    }
                                    &.arrow-right{
                                        right: -100px;
                                        .arrow-icon-wrapper{
                                            right: 30px;
                                        }
                                    }
                                    &:hover{
                                        background-color: rgba(255, 224, 198, .6);
                                    }
                                    @media only screen and (max-width: 1400px) {
                                    }
                                }
                            }
                        }
                        @media all and (max-width: 992px) {
                        }
                        @media screen and (max-width: 768px) {
                            .categories-container{
                                width: calc(100% - 80px);
                                margin: 0px auto;
                            }
                            .tab-content{
                                .tab-pane{
                                    padding: 0px 40px;
                                    .items-container{
                                        .item{
                                            padding: 5px 17px;
                                            .item-image-wrapper{
                                                margin-bottom: 17px;
                                                .item-image{
                                                }
                                                .hover-content{
                                                    .footer-buttons{}
                                                }
                                            }
                                            .child-count-wrapper{}
                                            .item-title{}
                                            &:hover{
                                            }
                                        }
                                    }
                                    .slider-nav{
                                        display: none !important;
                                    }
                                }
                            }
                        }
                        @media all and (max-width: 576px) {
                            ul.nav.nav-tabs{}
                            .tab-content{
                                .tab-pane{
                                    .items-container{
                                        .item{
                                            .item-image-wrapper{
                                                margin-bottom: 17px;
                                                .item-image{
                                                    height: 150px;
                                                }
                                                .hover-content{
                                                    .footer-buttons{}
                                                }
                                            }
                                            .child-count-wrapper{}
                                            .item-title{}
                                            &:hover{
                                            }
                                        }
                                    }
                                    .slider-nav{}
                                }
                            }
                        }
                    }
                    .more-wrapper{
                        a{
                            display: inline-block;
                            padding: 10px 75px;
                            border: 1px solid $greenColor;
                            border-radius: 32px;
                            font-size: 2rem;
                            color: $greenColor;
                            text-decoration: none;
                            &:hover{
                                background-color: $greenColor;
                                color: white;
                            }
                        }
                    }
                    @media all and (max-width: 768px) {
                        padding-bottom: 20px;
                    }
                }
                section.open-door {
                    padding: 45px 5px 30px;
                    .section-title{
                        font-size: 3rem;
                        margin-bottom: 20px;
                    }
                    article{
                        width: 1325px;
                        max-width: 100%;
                        margin: 0px auto 20px;
                        padding-top: 30px;
                        .article-image-wrapper{
                            margin: 0px 10px;
                            img {
                                max-width: 100%;
                            }
                        }
                        .article-explain{
                            width: 400px;
                            max-width: 100%;
                            margin: 0px 10px;
                            .article__title{
                                font-size: 27px;
                                font-weight: bold;
                                margin-bottom: 15px;
                            }
                            .article__description{
                                text-align: justify;
                                font-size: 18px;
                            }
                        }
                    }
                }
                section.life-steps {
                    background-color: $greenColor;
                    color: white;
                    .life-step-item{
                        position: relative;
                        .step-image-wrapper{
                            position: relative;
                            img{
                                width: 400px;
                                max-width: 100%;
                            }
                            .step-number{
                                position: absolute;
                                bottom: 17px;
                            }
                        }
                        .step-number{
                            font-family: sans-serif;
                            font-size: 18rem;
                            color: #2bae86;
                            line-height: 13rem;
                            left: calc(50% - 125px / 2);
                        }
                        .step-read{
                            position: relative;
                            .step-title{
                                margin-bottom: 5px;
                                font-size: 1.5rem;
                                font-weight: bold;
                                position: relative;
                                z-index: 2;
                            }
                            .step-description{
                                font-size: 1.7rem;
                                position: relative;
                                z-index: 2;
                            }
                            .step-number{
                                position: absolute;
                                bottom: 5px;
                                z-index: 1;
                            }
                        }
                        &.set-daily-goals{
                            bottom: 100px;
                            margin-top: -125px;
                        }
                        &.simplify-life-step{
                            top: 30px;
                            margin-bottom: -5px;
                        }
                        &.enrich-life-step{
                            bottom: 95px;
                            margin-top: -125px;
                            .step-image-wrapper{
                                .step-number{
                                    bottom: 35px;
                                }
                            }
                        }
                    }
                    @media all and (max-width: 992px) {
                        .life-step-item{
                            position: static;
                            .step-image-wrapper{
                            }
                            .step-number{
                            }
                            .step-read{

                            }
                            &.set-daily-goals{
                            }
                            &.simplify-life-step{
                                margin-bottom: 5px;
                                position: relative;
                            }
                            &.enrich-life-step{}
                        }
                    }
                    @media all and (max-width: 768px) {
                        .life-step-item{
                            position: static;
                            .step-image-wrapper{
                            }
                            .step-number{
                            }
                            .step-read{

                            }
                            &.set-daily-goals{
                                margin-top: 0px;
                                margin-bottom: 30px;
                            }
                            &.simplify-life-step{
                                position: static;
                                display: flex;
                                flex-wrap: wrap;
                                .step-image-wrapper{
                                    order: 1;
                                    flex-basis: 100%;
                                    flex-shrink: 0;
                                }
                                .step-read{
                                    margin-top: 30px;
                                    order: 2;
                                    flex-basis: 100%;
                                    flex-shrink: 0;
                                }
                                .step-number{
                                    bottom: 125px;
                                }
                            }
                            &.enrich-life-step{
                                margin-top: 0px;
                                padding-bottom: 20px;
                            }
                        }
                    }
                }
                section.create-with-people{
                    padding: 70px 15px 50px 15px;
                    .section-title{
                        font-size: 3rem;
                        margin-bottom: 50px;
                    }
                    .testimonials-wrapper{
                        text-align: left;
                        width: 1550px;
                        max-width: 100%;
                        margin: 0px auto;
                        .label-text{
                            width: 300px;
                            margin-bottom: 50px;
                            font-size: 2.5rem;
                            color: black;
                            transition: all .3s ease-out;
                        }
                        .list-scroll-wrapper{
                            height: 300px;
                            overflow: hidden;
                            .testimonials-list{
                                position: relative;
                                bottom: 0px;
                                transition: all .5s ease-out;
                                .testimonial-item{
                                    position: relative;
                                    font-size: 1.7rem;
                                    line-height: 1.5;
                                    height: 100px;
                                    padding-left: 20px;
                                    &:before{
                                        z-index: 2;
                                        content: '';
                                        display: none;
                                        position: absolute;
                                        width: 10px;
                                        height: 10px;
                                        left: 0px;
                                        top: .5em;
                                        border-radius: 50%;
                                        background-color: $greenColor;
                                    }
                                    &:after{
                                        z-index: 1;
                                        content: '';
                                        position: absolute;
                                        display: none;
                                        width: 1px;
                                        height: calc(100% + 10px);
                                        top: .5em;
                                        left: 4px;
                                        background-image: linear-gradient(to bottom, #333 30%, rgba(255, 255, 255, 0) 0%);
                                        background-position: left;
                                        background-size: 1px 5px;
                                        background-repeat: repeat-y;
                                        opacity: .7;
                                    }
                                    .item-description{
                                        max-height: 100%;
                                        overflow: hidden;
                                        color: #b7b7b7;
                                    }
                                    &:focus-within{
                                        &:before{
                                            opacity: 1;
                                        }
                                    }
                                    &.item-middle{
                                        &:before, &:after{
                                            display: block;
                                        }
                                    }
                                    &.item-center{
                                        .item-description{
                                            color: $contentColor;
                                        }
                                        & + .item-middle{
                                            &:after{
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .learn-how-wrapper{
                        a{
                            display: inline-block;
                            padding: 10px 75px;
                            border: 1px solid $greenColor;
                            border-radius: 32px;
                            font-size: 2rem;
                            color: $greenColor;
                            text-decoration: none;
                            &:hover{
                                background-color: $greenColor;
                                color: white;
                            }
                        }
                    }
                    @media all and (max-width: 768px) {
                        .testimonials-wrapper{
                            .label-text{
                                width: 100%;
                                height: 90px;
                                overflow: hidden;
                                margin-bottom: 10px;
                            }
                            .list-scroll-wrapper{
                                height: 450px;
                                .testimonials-list{
                                    .testimonial-item{
                                        height: 150px;
                                    }
                                }
                            }
                        }
                    }
                }
                section.share-experiences {
                    padding: 0px 10px;
                    background-color: #4b6cb7;
                    color: white;
                    .image-item {
                        margin-top: -65px;
                        margin-bottom: -45px;
                        img{
                            width: 450px;
                            max-width: 100%;
                        }
                    }
                    .text-item {
                        h3{
                            font-size: 1.7rem;
                            font-weight: bold;
                        }
                        div{
                            font-size: 1.7rem;
                        }
                    }
                    .plus-item {
                        svg{
                            width: 190px;
                            path{
                                fill: rgba(255, 2555, 255, .3);
                            }
                        }
                        &:hover{
                            svg{
                                path{
                                    fill: rgba(255, 2555, 255, .5);
                                }
                            }
                        }
                    }
                    @media all and (max-width: 768px) {
                        .image-item{
                            margin-top: 0px;
                            margin-bottom: 20px;
                        }
                        .text-item{
                            margin-bottom: 20px;
                        }
                        .plus-item{
                            display: block;
                            padding-bottom: 20px;
                            svg{
                                width: 150px;
                            }
                        }
                    }
                }
                section.the-philosophy{
                    padding: 50px 10px 30px;
                    .philosophy-title{
                        font-size: 3rem;
                        margin-bottom: 20px;
                    }
                    .philosophy-description{
                        position: relative;
                        display: inline-block;
                        font-size: 2.2rem;
                        font-style: italic;
                        margin-bottom: 20px;
                        .decor{
                            display: block;
                            position: absolute;
                            left: -60px;
                            top: -65px;
                            transform: rotate(180deg);
                            font-size: 10rem;
                            line-height: 8rem;
                            color: #e8e8e6;
                            font-style: normal;
                        }
                    }
                    .johann{
                        font-size: 1.8rem;
                        margin-bottom: 30px;
                    }
                    .introductory-video{
                        .intro-image-wrapper{
                            img{

                            }
                        }
                        .intro-text{
                            a{
                                font-size: 2rem;
                                color: $greenColor;
                                &:hover{
                                    text-decoration: none;
                                    color: $greenHover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.swal-overlay.swal-overlay--show-modal{
    .swal-modal.welcome{
        font-family: 'Content-Muli';
        .swal-title{
            color: #c4cc72;
        }
        .swal-text{
            text-align: center;
            font-size: 25px;
        }
    }
}
.swal-overlay{
    .swal-modal.thanks-join{
        .swal-footer{
            position: relative;
            .disable-wrap{
                position: absolute;
                left: 10px;
                top: 17px;
                padding: 10px 24px;
                input{
                    background-color: transparent;
                    margin-top: 0px;
                    vertical-align: middle;
                    position: absolute;
                    left: -9999px;
                    &:checked{
                        & + label{
                            color: black;
                            &:before{
                                border-color: black;
                            }
                            &:after{
                                font-size: .9em;
                                content: '\2714';
                                position: absolute;
                                left: 0em;
                                top: 0em;
                                width: 1em;
                                height: 1em;
                                color: black;
                            }
                        }
                    }
                }
                label{
                    color: $content_color;
                    font-size: 18px;
                    line-height: 1.1em;
                    vertical-align: middle;
                    position: relative;
                    padding-left: 1.5em;
                    cursor: pointer;
                    font-weight: normal;
                    &:before{
                        content: '';
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 1em;
                        height: 1em;
                        border: 1px solid $content_color;
                    }
                }
            }
        }
    }
}