$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;

html{
   font-size: 12px;
   body{
      .site-wrapper.page{
         font-family: $default_font_family;
         & > .site-content{
            & > .content-wrapper{
               .decoration-container{
                  .decoration{
                  }
                  .top-left-rectangular{
                     i.fa-caret-down{
                     }
                  }
                  @media only screen and (max-width: 768px){

                  }
               }
               header.content-header{
                  padding-left: 320px;
                  padding-bottom: 5px;
                  margin-top: -40px;
                  font-size: 24px;
                  form{
                     label{
                        font-weight: normal;
                        margin-bottom: 0px;
                     }
                     input{
                        font-size: 18px;
                        vertical-align: bottom;
                     }
                     select{
                        padding-top: 3px;
                        font-size: 18px;
                        line-height: 1;
                     }
                     button{
                        background-color: $content_color;
                        color: white;
                        font-weight: normal;
                        &:hover{
                           background-color: #585656;
                        }
                     }
                     &.sort-from{
                        text-align: right;
                     }
                  }
                  .back-origin-wrapper{
                     display: inline-block;
                     a.back-to-top-level{
                        background-color: transparent;
                        padding: 0px;
                        border: none;
                        vertical-align: middle;
                        img{
                           position: relative;
                           bottom: 5px;
                           vertical-align: middle;
                           width: 40px;
                        }
                        &:hover{
                           opacity: .7;
                        }
                     }
                  }
                  .new-idea-wrapper{
                     margin-left: 25px;
                     display: inline-block;
                     text-align: right;
                     a{
                        vertical-align: middle;
                        color: $content_color;
                        svg{
                           position: relative;
                           bottom: 5px;
                           width: 40px;
                           vertical-align: middle;
                        }
                        &:hover{
                           color: black;
                        }
                     }
                  }
                  @media only screen and (max-width: 768px) {
                     width: 90%;
                     margin: 0px auto;
                     padding: 10px;
                     position: relative;
                     background-color: white;
                     text-align: center;
                     form.sort-from{
                        text-align: center;
                     }
                     .back-origin-wrapper{
                        text-align: center;
                     }
                     .new-idea-wrapper{
                        text-align: center;
                     }
                  }
               }
               main.main-content{
                  padding-bottom: 20px;
                  .page-title{
                     max-width: 1200px;
                     margin: 10px auto 20px;
                  }
                  .tt-grid-wrapper{
                     max-width: calc((280px + 10px * 2) * 5 + 20px * 2);
                     min-height: 650px;
                     margin: 0px auto;
                     padding: 20px;
                     .tt-grid.tt-effect-3dflip{
                        max-width: 100%;
                        > li{
                           width: calc(100% / 5 - 10px * 2);
                           height: 610px;
                           float: left;
                           > *{
                              display: block;
                              width: 100%;
                              height: auto;
                              text-decoration: none;
                              background-color: transparent;
                              .item-inner{
                                 width: 95%;
                                 margin: 0px auto;
                                 position: relative;
                                 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
                                 border-bottom: 1px solid rgba(200, 200, 200, .5);
                                 padding: 0px 10px 10px;
                                 background-color: white;
                                 font-size: 1.7rem;
                                 line-height: 1.1;
                                 color: $content_color;
                                 text-align: center;
                                 > aside{
                                    position: relative;
                                    z-index: 2;
                                    img.delete-ideabox{
                                       position: absolute;
                                       top: -15px;
                                       right: -15px;
                                       width: 30px;
                                       transition: all .3s;
                                       cursor: pointer;
                                       &:hover{
                                          transform: scale(1.1);
                                       }
                                       &:active{
                                          transform: translateZ(-3px) scale(.95);
                                       }
                                    }
                                    .bottom-line{
                                       position: absolute;
                                       bottom: 0px;
                                       left: 0px;
                                       width: 30px;
                                       height: 2px;
                                       background-color: rgb(200, 200, 200);
                                    }
                                 }
                                 .img-wrapper{
                                    position: relative;
                                    z-index: 1;
                                    margin: 0px -10px 5px;
                                    width: calc(100% + 20px);
                                    img.item-img{
                                       width: 100%;
                                       height: 160px;
                                       object-fit: fill;
                                       cursor: move;
                                    }
                                    &.is-uploading{
                                       outline: 1px dashed rgba(146, 176, 179, .8);
                                       animation-name: uploading-effect;
                                       animation-iteration-count: infinite;
                                       animation-duration: 2s;
                                    }
                                 }
                                 .title-wrapper{
                                    margin-bottom: 10px;
                                    min-height: 48px;
                                    position: relative;
                                    .item-title{
                                       display: block; /* Fallback for non-webkit */
                                       display: -webkit-box;
                                       overflow: hidden;
                                       text-overflow: ellipsis;
                                       transition: height 300ms;
                                       white-space: normal;
                                    }
                                    textarea{
                                       display: none;
                                       width: 100%;
                                       resize: vertical;
                                    }
                                    [data-readmore-toggle]{
                                       font-size: 1.5rem;
                                       cursor: pointer;
                                       color: #178DB1;
                                       font-style: italic;
                                       &:hover{
                                          color: #5EB0C9;
                                       }
                                    }
                                    &.collapsed{
                                       .item-title{
                                          display: -webkit-box;
                                          -webkit-line-clamp: 1;
                                          -webkit-box-orient: vertical;
                                          text-overflow: ellipsis;
                                       }
                                    }
                                    aside.actions-container{
                                       > span{
                                          display: none;
                                          &.edit-entry{
                                             position: absolute;
                                             right: 0px;
                                             bottom: 0px;
                                             cursor: pointer;
                                             .edit-icon{
                                                width: 25px;
                                             }
                                          }
                                          &.save-entry{
                                             position: absolute;
                                             bottom: 0px;
                                             right: 30px;
                                             cursor: pointer;
                                          }
                                          &.back-to-origin{
                                             position: absolute;
                                             bottom: 0px;
                                             right: 0px;
                                             cursor: pointer;
                                          }
                                          &:hover{
                                             opacity: .7;
                                          }
                                       }
                                    }
                                    &:hover{
                                       aside.actions-container{
                                          > span{
                                             &.edit-entry{
                                                display: block;
                                                .edit-icon{
                                                }
                                             }
                                          }
                                       }
                                    }
                                    &.edit-status{
                                       padding-bottom: 27px;
                                       .item-title{
                                          display: none;
                                       }
                                       [data-readmore-toggle]{
                                          display: none;
                                       }
                                       textarea{
                                          display: block;
                                       }
                                       aside.actions-container{
                                          >.save-entry, >.back-to-origin{
                                             display: block;
                                          }
                                       }
                                       &:hover{
                                          aside.actions-container{
                                             > span{
                                                &.edit-entry{
                                                   display: none;
                                                }
                                             }
                                          }
                                       }
                                    }
                                 }
                                 .idea-wrapper{
                                    position: relative;
                                    min-height: 69px;
                                    margin-bottom: 10px;
                                    .item-idea{
                                       overflow: hidden;
                                       transition: height 300ms;
                                    }
                                    textarea{
                                       display: none;
                                       width: 100%;
                                       resize: vertical;
                                    }
                                    [data-readmore-toggle]{
                                       font-size: 1.5rem;
                                       cursor: pointer;
                                       color: #178DB1;
                                       font-style: italic;
                                       &:hover{
                                          color: #5EB0C9;
                                       }
                                    }
                                    &.collapsed{
                                       .item-idea{
                                          display: -webkit-box;
                                          -webkit-line-clamp: 2;
                                          -webkit-box-orient: vertical;
                                          text-overflow: ellipsis;
                                       }
                                    }
                                    aside.actions-container{
                                       > span{
                                          display: none;
                                          &.edit-entry{
                                             position: absolute;
                                             right: 0px;
                                             bottom: 0px;
                                             cursor: pointer;
                                             .edit-icon{
                                                width: 25px;
                                             }
                                          }
                                          &.save-entry{
                                             position: absolute;
                                             bottom: 0px;
                                             right: 30px;
                                             cursor: pointer;
                                          }
                                          &.back-to-origin{
                                             position: absolute;
                                             bottom: 0px;
                                             right: 0px;
                                             cursor: pointer;
                                          }
                                          &:hover{
                                             opacity: .7;
                                          }
                                       }
                                    }
                                    &:hover{
                                       aside.actions-container{
                                          > span{
                                             &.edit-entry{
                                                display: block;
                                                .edit-icon{
                                                }
                                             }
                                          }
                                       }
                                    }
                                    &.edit-status{
                                       padding-bottom: 27px;
                                       .item-idea{
                                          display: none;
                                       }
                                       [data-readmore-toggle]{
                                          display: none;
                                       }
                                       textarea{
                                          display: block;
                                       }
                                       aside.actions-container{
                                          >.save-entry, >.back-to-origin{
                                             display: block;
                                          }
                                       }
                                       &:hover{
                                          aside.actions-container{
                                             > span{
                                                &.edit-entry{
                                                   display: none;
                                                }
                                             }
                                          }
                                       }
                                    }
                                 }
                                 .reference-wrapper{
                                    min-height: 42px;
                                    padding: 10px 5px;
                                    .reference-link{
                                       color: #178DB1;
                                       cursor: pointer;
                                       &:hover{
                                          color: #5EB0C9;
                                       }
                                    }
                                 }
                                 .deadline-divider{
                                    height: 1px;
                                    margin-bottom: 10px;
                                    background-color: #808080;
                                 }
                                 .next-deadline-wrapper{
                                    min-height: 22px;
                                    margin-bottom: 5px;
                                    .next-deadline{
                                    }
                                 }
                                 .add-deadline-wrapper{
                                    max-width: 200px;
                                    margin: 10px auto;
                                    .input-wrapper{
                                       position: relative;
                                       padding-left: 5px;
                                       text-align: left;
                                       input{
                                          position: absolute;
                                          top: 0px;
                                          bottom: 0px;
                                          left: 0px;
                                          width: 100%;
                                          z-index: 2;
                                          box-sizing: border-box;
                                          opacity: 0;
                                       }
                                    }
                                    &.setted{
                                       .input-wrapper{
                                          input{
                                          }
                                          i.glyphicon{
                                             display: none;
                                          }
                                       }
                                    }
                                 }
                                 .add-to-series-wrapper{
                                    padding: 10px 0px 15px;
                                    border-bottom: 1px dotted #C8C8C8;
                                    >h6{
                                       color: #c8c8c8;
                                       margin: 0px 0px 5px 0px;
                                       font-size: 1.8rem;
                                    }
                                    .flex-row{
                                       display: flex;
                                       .flex-col{
                                          &.select-col{
                                             width: calc(100% - 50px);
                                             padding-right: 5px;
                                             .select2.select2-container{
                                                height: 100%;
                                                min-width: 100%;
                                                max-width: 100%;
                                                font-size: 1.8rem;
                                                .selection{
                                                   .select2-selection{
                                                      border-width: 1px;
                                                      border-radius: 5px;
                                                      height: 100%;
                                                      .select2-selection__rendered{
                                                         color: $content_color;
                                                         line-height: 3rem;
                                                      }
                                                      .select2-selection__arrow{
                                                         top: calc((100% - 26px) / 2);
                                                      }
                                                      &:focus{
                                                         outline: none;
                                                      }
                                                   }
                                                }
                                                &:focus{
                                                   outline: none;
                                                }
                                             }
                                             select{
                                                max-width: 100%;
                                             }
                                          }
                                          &.btn-col{
                                             width: 50px;
                                             padding-left: 5px;
                                             .btn.btn-block{
                                                color: white;
                                                border: 1px solid #dddddd;
                                                background-color: #dddddd;
                                                width: 100%;
                                                margin: 0px 0px 0px auto;
                                                padding: 5px 12px;
                                                font-size: 1.7rem;
                                             }
                                          }
                                       }
                                    }
                                 }
                                 footer.btns-container{
                                    background-color: #f8f8f8;
                                    padding: 2px 5px;
                                    .btn-wrapper{
                                       display: inline-block;
                                       text-transform: uppercase;
                                       margin: 5px 0px;
                                       font-size: 1.2rem;
                                       cursor: pointer;
                                       &.edit-btn{
                                          img{
                                             opacity: .5;
                                          }
                                       }
                                       img{
                                          width: 38px;
                                          margin-bottom: 5px;
                                          transition: all .3s;
                                       }
                                       &:hover{
                                          color: black;
                                          img{
                                             transform: scale(1.1);
                                          }
                                       }
                                       &:active{
                                          img{
                                             transform: scale(1);
                                          }
                                       }
                                    }
                                 }
                              }
                              &.added-post{
                                 .item-inner{
                                    .add-to-series-wrapper{
                                       >h6{
                                       }
                                       .flex-row{
                                          .flex-col{
                                             &.select-col{
                                             }
                                             &.btn-col{
                                                .btn.btn-block{
                                                   border-color: #dddddd;
                                                   color: #2793e6;
                                                   &:hover{
                                                   }
                                                }
                                             }
                                          }
                                       }
                                    }
                                 }
                              }
                              ul{
                                 list-style: initial;
                                 width: initial;
                                 li{
                                    list-style: initial;
                                    width: initial;
                                 }
                              }
                           }
                        }
                     }
                     @media only screen and (min-width: 1200px) and (max-width: 1490px) {
                        max-width: calc((280px + 10px * 2) * 4 + 20px * 2);
                        .tt-grid.tt-effect-3dflip{
                           > li{
                              width: calc(100% / 4 - 10px * 2);
                           }
                        }
                     }
                     @media only screen and (min-width: 1020px) and (max-width: 1200px) {
                        max-width: calc((280px + 10px * 2) * 3 + 20px * 2);
                        .tt-grid.tt-effect-3dflip{
                           > li{
                              width: calc(100% / 3 - 10px * 2);
                           }
                        }
                     }
                     @media only screen and (min-width: 700px) and (max-width: 1020px) {
                        max-width: calc((280px + 10px * 2) * 2 + 20px * 2);
                        .tt-grid.tt-effect-3dflip{
                           > li{
                              width: calc(100% / 2 - 10px * 2);
                           }
                        }
                     }
                     @media only screen and (max-width: 700px) {
                        max-width: calc((280px + 10px * 2) * 1 + 20px * 2);
                        .tt-grid.tt-effect-3dflip{
                           > li{
                              width: calc(100% / 1 - 10px * 2);
                           }
                        }
                     }
                     &.is-dragover{
                        outline: 2px dashed rgba(146, 176, 179, .8);
                        outline-offset: -5px;
                        -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
                        transition: outline-offset .15s ease-in-out, opacity .15s linear;

                        ul.tt-grid.tt-effect-3dflip {
                           > li {
                              > * {
                                 .item-inner {
                                    .img-wrapper {
                                       img {
                                       }
                                       outline: 1px dashed rgba(146, 176, 179, .8);
                                       outline-offset: -5px;
                                       -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
                                       transition: outline-offset .15s ease-in-out, opacity .15s linear;
                                       &.is-dragover {
                                          opacity: .8;
                                          outline-offset: -15px;
                                          outline-color: rgba(200, 218, 223, 1);
                                          background-color: #fff;
                                       }
                                    }
                                    .title-wrapper-temp{
                                       outline: 1px dashed rgba(146, 176, 179, .8);
                                       outline-offset: -5px;
                                       -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
                                       transition: outline-offset .15s ease-in-out, opacity .15s linear;
                                       &.is-dragover {
                                          opacity: 1;
                                          outline-offset: -15px;
                                          outline-color: rgba(200, 218, 223, 1);
                                          background-color: #fff;
                                       }
                                    }
                                    .reference-wrapper{
                                       outline: 1px dashed rgba(146, 176, 179, .8);
                                       outline-offset: -1px;
                                       -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
                                       transition: outline-offset .15s ease-in-out, opacity .15s linear;
                                       &.is-dragover {
                                          opacity: 1;
                                          outline-offset: -7px;
                                          outline-color: rgba(200, 218, 223, 1);
                                          background-color: #fff;
                                       }
                                    }
                                 }
                              }
                           }
                        }
                        &.is-dragover-on-parent{
                           opacity: .8;
                           outline-offset: -20px;
                           outline-color: rgba(200, 218, 223, 1);
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

@keyframes uploading-effect {
   from{
      outline-offset: -5px;
      -moz-outline-radius: 0;
      opacity: .1;
   }
   50%{
      outline-offset: -30px;
      -moz-outline-radius: 50%;
      opacity: 1;
   }
   to{
      outline-offset: -5px;
      -moz-outline-radius: 0;
      opacity: .1;
   }
}

.after-clearfix{
   &:after{
      content: '';
      display: block;
      clear: both;
   }
}