html {
  font-size: 12px; }
  html body .site-wrapper.page {
    font-family: "EB Garamond", sans-serif; }
    html body .site-wrapper.page > .site-content > .content-wrapper header.content-header {
      padding-left: 320px;
      padding-bottom: 5px;
      margin-top: -40px;
      font-size: 24px; }
      html body .site-wrapper.page > .site-content > .content-wrapper header.content-header form label {
        font-weight: normal;
        margin-bottom: 0px; }
      html body .site-wrapper.page > .site-content > .content-wrapper header.content-header form input {
        font-size: 18px;
        vertical-align: bottom; }
      html body .site-wrapper.page > .site-content > .content-wrapper header.content-header form select {
        padding-top: 3px;
        font-size: 18px;
        line-height: 1; }
      html body .site-wrapper.page > .site-content > .content-wrapper header.content-header form button {
        background-color: grey;
        color: white;
        font-weight: normal; }
        html body .site-wrapper.page > .site-content > .content-wrapper header.content-header form button:hover {
          background-color: #585656; }
      html body .site-wrapper.page > .site-content > .content-wrapper header.content-header form.sort-from {
        text-align: right; }
      html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .back-origin-wrapper {
        display: inline-block; }
        html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .back-origin-wrapper a.back-to-top-level {
          background-color: transparent;
          padding: 0px;
          border: none;
          vertical-align: middle; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .back-origin-wrapper a.back-to-top-level img {
            position: relative;
            bottom: 5px;
            vertical-align: middle;
            width: 40px; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .back-origin-wrapper a.back-to-top-level:hover {
            opacity: .7; }
      html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .new-idea-wrapper {
        margin-left: 25px;
        display: inline-block;
        text-align: right; }
        html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .new-idea-wrapper a {
          vertical-align: middle;
          color: grey; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .new-idea-wrapper a svg {
            position: relative;
            bottom: 5px;
            width: 40px;
            vertical-align: middle; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .new-idea-wrapper a:hover {
            color: black; }
      @media only screen and (max-width: 768px) {
        html body .site-wrapper.page > .site-content > .content-wrapper header.content-header {
          width: 90%;
          margin: 0px auto;
          padding: 10px;
          position: relative;
          background-color: white;
          text-align: center; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header form.sort-from {
            text-align: center; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .back-origin-wrapper {
            text-align: center; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header .new-idea-wrapper {
            text-align: center; } }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content {
      padding-bottom: 20px; }
      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .page-title {
        max-width: 1200px;
        margin: 10px auto 20px; }
      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper {
        max-width: calc((280px + 10px * 2) * 5 + 20px * 2);
        min-height: 650px;
        margin: 0px auto;
        padding: 20px; }
        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip {
          max-width: 100%; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li {
            width: calc(100% / 5 - 10px * 2);
            height: 610px;
            float: left; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * {
              display: block;
              width: 100%;
              height: auto;
              text-decoration: none;
              background-color: transparent; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner {
                width: 95%;
                margin: 0px auto;
                position: relative;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                border-bottom: 1px solid rgba(200, 200, 200, 0.5);
                padding: 0px 10px 10px;
                background-color: white;
                font-size: 1.7rem;
                line-height: 1.1;
                color: grey;
                text-align: center; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner > aside {
                  position: relative;
                  z-index: 2; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner > aside img.delete-ideabox {
                    position: absolute;
                    top: -15px;
                    right: -15px;
                    width: 30px;
                    transition: all .3s;
                    cursor: pointer; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner > aside img.delete-ideabox:hover {
                      transform: scale(1.1); }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner > aside img.delete-ideabox:active {
                      transform: translateZ(-3px) scale(0.95); }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner > aside .bottom-line {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 30px;
                    height: 2px;
                    background-color: #c8c8c8; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .img-wrapper {
                  position: relative;
                  z-index: 1;
                  margin: 0px -10px 5px;
                  width: calc(100% + 20px); }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .img-wrapper img.item-img {
                    width: 100%;
                    height: 160px;
                    object-fit: fill;
                    cursor: move; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .img-wrapper.is-uploading {
                    outline: 1px dashed rgba(146, 176, 179, 0.8);
                    animation-name: uploading-effect;
                    animation-iteration-count: infinite;
                    animation-duration: 2s; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper {
                  margin-bottom: 10px;
                  min-height: 48px;
                  position: relative; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper .item-title {
                    display: block;
                    /* Fallback for non-webkit */
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: height 300ms;
                    white-space: normal; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper textarea {
                    display: none;
                    width: 100%;
                    resize: vertical; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper [data-readmore-toggle] {
                    font-size: 1.5rem;
                    cursor: pointer;
                    color: #178DB1;
                    font-style: italic; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper [data-readmore-toggle]:hover {
                      color: #5EB0C9; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper.collapsed .item-title {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper aside.actions-container > span {
                    display: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper aside.actions-container > span.edit-entry {
                      position: absolute;
                      right: 0px;
                      bottom: 0px;
                      cursor: pointer; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper aside.actions-container > span.edit-entry .edit-icon {
                        width: 25px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper aside.actions-container > span.save-entry {
                      position: absolute;
                      bottom: 0px;
                      right: 30px;
                      cursor: pointer; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper aside.actions-container > span.back-to-origin {
                      position: absolute;
                      bottom: 0px;
                      right: 0px;
                      cursor: pointer; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper aside.actions-container > span:hover {
                      opacity: .7; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper:hover aside.actions-container > span.edit-entry {
                    display: block; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper.edit-status {
                    padding-bottom: 27px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper.edit-status .item-title {
                      display: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper.edit-status [data-readmore-toggle] {
                      display: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper.edit-status textarea {
                      display: block; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper.edit-status aside.actions-container > .save-entry, html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper.edit-status aside.actions-container > .back-to-origin {
                      display: block; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper.edit-status:hover aside.actions-container > span.edit-entry {
                      display: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper {
                  position: relative;
                  min-height: 69px;
                  margin-bottom: 10px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper .item-idea {
                    overflow: hidden;
                    transition: height 300ms; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper textarea {
                    display: none;
                    width: 100%;
                    resize: vertical; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper [data-readmore-toggle] {
                    font-size: 1.5rem;
                    cursor: pointer;
                    color: #178DB1;
                    font-style: italic; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper [data-readmore-toggle]:hover {
                      color: #5EB0C9; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper.collapsed .item-idea {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper aside.actions-container > span {
                    display: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper aside.actions-container > span.edit-entry {
                      position: absolute;
                      right: 0px;
                      bottom: 0px;
                      cursor: pointer; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper aside.actions-container > span.edit-entry .edit-icon {
                        width: 25px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper aside.actions-container > span.save-entry {
                      position: absolute;
                      bottom: 0px;
                      right: 30px;
                      cursor: pointer; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper aside.actions-container > span.back-to-origin {
                      position: absolute;
                      bottom: 0px;
                      right: 0px;
                      cursor: pointer; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper aside.actions-container > span:hover {
                      opacity: .7; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper:hover aside.actions-container > span.edit-entry {
                    display: block; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper.edit-status {
                    padding-bottom: 27px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper.edit-status .item-idea {
                      display: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper.edit-status [data-readmore-toggle] {
                      display: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper.edit-status textarea {
                      display: block; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper.edit-status aside.actions-container > .save-entry, html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper.edit-status aside.actions-container > .back-to-origin {
                      display: block; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .idea-wrapper.edit-status:hover aside.actions-container > span.edit-entry {
                      display: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .reference-wrapper {
                  min-height: 42px;
                  padding: 10px 5px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .reference-wrapper .reference-link {
                    color: #178DB1;
                    cursor: pointer; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .reference-wrapper .reference-link:hover {
                      color: #5EB0C9; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .deadline-divider {
                  height: 1px;
                  margin-bottom: 10px;
                  background-color: #808080; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .next-deadline-wrapper {
                  min-height: 22px;
                  margin-bottom: 5px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-deadline-wrapper {
                  max-width: 200px;
                  margin: 10px auto; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-deadline-wrapper .input-wrapper {
                    position: relative;
                    padding-left: 5px;
                    text-align: left; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-deadline-wrapper .input-wrapper input {
                      position: absolute;
                      top: 0px;
                      bottom: 0px;
                      left: 0px;
                      width: 100%;
                      z-index: 2;
                      box-sizing: border-box;
                      opacity: 0; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-deadline-wrapper.setted .input-wrapper i.glyphicon {
                    display: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper {
                  padding: 10px 0px 15px;
                  border-bottom: 1px dotted #C8C8C8; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper > h6 {
                    color: #c8c8c8;
                    margin: 0px 0px 5px 0px;
                    font-size: 1.8rem; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper .flex-row {
                    display: flex; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col {
                      width: calc(100% - 50px);
                      padding-right: 5px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col .select2.select2-container {
                        height: 100%;
                        min-width: 100%;
                        max-width: 100%;
                        font-size: 1.8rem; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col .select2.select2-container .selection .select2-selection {
                          border-width: 1px;
                          border-radius: 5px;
                          height: 100%; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col .select2.select2-container .selection .select2-selection .select2-selection__rendered {
                            color: grey;
                            line-height: 3rem; }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col .select2.select2-container .selection .select2-selection .select2-selection__arrow {
                            top: calc((100% - 26px) / 2); }
                          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col .select2.select2-container .selection .select2-selection:focus {
                            outline: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col .select2.select2-container:focus {
                          outline: none; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col select {
                        max-width: 100%; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper .flex-row .flex-col.btn-col {
                      width: 50px;
                      padding-left: 5px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner .add-to-series-wrapper .flex-row .flex-col.btn-col .btn.btn-block {
                        color: white;
                        border: 1px solid #dddddd;
                        background-color: #dddddd;
                        width: 100%;
                        margin: 0px 0px 0px auto;
                        padding: 5px 12px;
                        font-size: 1.7rem; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner footer.btns-container {
                  background-color: #f8f8f8;
                  padding: 2px 5px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner footer.btns-container .btn-wrapper {
                    display: inline-block;
                    text-transform: uppercase;
                    margin: 5px 0px;
                    font-size: 1.2rem;
                    cursor: pointer; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner footer.btns-container .btn-wrapper.edit-btn img {
                      opacity: .5; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner footer.btns-container .btn-wrapper img {
                      width: 38px;
                      margin-bottom: 5px;
                      transition: all .3s; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner footer.btns-container .btn-wrapper:hover {
                      color: black; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner footer.btns-container .btn-wrapper:hover img {
                        transform: scale(1.1); }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * .item-inner footer.btns-container .btn-wrapper:active img {
                      transform: scale(1); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > *.added-post .item-inner .add-to-series-wrapper .flex-row .flex-col.btn-col .btn.btn-block {
                border-color: #dddddd;
                color: #2793e6; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * ul {
                list-style: initial;
                width: initial; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li > * ul li {
                  list-style: initial;
                  width: initial; }
        @media only screen and (min-width: 1200px) and (max-width: 1490px) {
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper {
            max-width: calc((280px + 10px * 2) * 4 + 20px * 2); }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li {
              width: calc(100% / 4 - 10px * 2); } }
        @media only screen and (min-width: 1020px) and (max-width: 1200px) {
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper {
            max-width: calc((280px + 10px * 2) * 3 + 20px * 2); }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li {
              width: calc(100% / 3 - 10px * 2); } }
        @media only screen and (min-width: 700px) and (max-width: 1020px) {
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper {
            max-width: calc((280px + 10px * 2) * 2 + 20px * 2); }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li {
              width: calc(100% / 2 - 10px * 2); } }
        @media only screen and (max-width: 700px) {
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper {
            max-width: calc((280px + 10px * 2) * 1 + 20px * 2); }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip > li {
              width: calc(100% / 1 - 10px * 2); } }
        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper.is-dragover {
          outline: 2px dashed rgba(146, 176, 179, 0.8);
          outline-offset: -5px;
          -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
          transition: outline-offset .15s ease-in-out, opacity .15s linear; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .img-wrapper {
            outline: 1px dashed rgba(146, 176, 179, 0.8);
            outline-offset: -5px;
            -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
            transition: outline-offset .15s ease-in-out, opacity .15s linear; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .img-wrapper.is-dragover {
              opacity: .8;
              outline-offset: -15px;
              outline-color: #c8dadf;
              background-color: #fff; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper-temp {
            outline: 1px dashed rgba(146, 176, 179, 0.8);
            outline-offset: -5px;
            -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
            transition: outline-offset .15s ease-in-out, opacity .15s linear; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .title-wrapper-temp.is-dragover {
              opacity: 1;
              outline-offset: -15px;
              outline-color: #c8dadf;
              background-color: #fff; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .reference-wrapper {
            outline: 1px dashed rgba(146, 176, 179, 0.8);
            outline-offset: -1px;
            -webkit-transition: outline-offset .15s ease-in-out, opacity .15s linear;
            transition: outline-offset .15s ease-in-out, opacity .15s linear; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper.is-dragover ul.tt-grid.tt-effect-3dflip > li > * .item-inner .reference-wrapper.is-dragover {
              opacity: 1;
              outline-offset: -7px;
              outline-color: #c8dadf;
              background-color: #fff; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .tt-grid-wrapper.is-dragover.is-dragover-on-parent {
            opacity: .8;
            outline-offset: -20px;
            outline-color: #c8dadf; }

@keyframes uploading-effect {
  from {
    outline-offset: -5px;
    -moz-outline-radius: 0;
    opacity: .1; }
  50% {
    outline-offset: -30px;
    -moz-outline-radius: 50%;
    opacity: 1; }
  to {
    outline-offset: -5px;
    -moz-outline-radius: 0;
    opacity: .1; } }
.after-clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*# sourceMappingURL=ideaboxcards-page.css.map */
