.content_container {
  font-family: EB Garamond, sans-serif; }
  .content_container .slider {
    color: white; }
    .content_container .slider .s_content {
      max-width: 690px;
      letter-spacing: 2px; }
      .content_container .slider .s_content .h-content {
        margin-bottom: 30px;
        font-size: 2rem;
        font-weight: normal; }
      .content_container .slider .s_content .solutions-wrap {
        margin-bottom: 20px; }
        .content_container .slider .s_content .solutions-wrap .solution-wrap h3 {
          margin-top: 0px;
          margin-bottom: 15px; }
        .content_container .slider .s_content .solutions-wrap .plus-wrap {
          line-height: 0; }
          .content_container .slider .s_content .solutions-wrap .plus-wrap svg {
            width: 60px; }
            .content_container .slider .s_content .solutions-wrap .plus-wrap svg polygon {
              fill: white; }
  .content_container .subcontent_container .wrapper .recent_container .recent_works .content .sub_button {
    border: none;
    color: white;
    background: #26a69a;
    border: 1px solid #26a69a;
    text-decoration: none; }
    .content_container .subcontent_container .wrapper .recent_container .recent_works .content .sub_button:hover {
      background-color: white;
      color: #26a69a; }
  .content_container .footer #header_3 .row {
    margin: 0px; }

.flex-row {
  display: flex; }
  .flex-row > .flex-col {
    flex-grow: 1; }
    .flex-row > .flex-col.fix-col {
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0; }
  .flex-row.vertical-center {
    align-items: center; }
  .flex-row.vertial-top {
    align-items: start; }
  .flex-row.horizon-center {
    justify-content: center; }
  .flex-row.space-around {
    justify-content: space-around; }
  .flex-row.space-between {
    justify-content: space-between; }
  .flex-row.margin-between > .flex-col {
    margin: 0px 5px; }
    .flex-row.margin-between > .flex-col:first-child {
      margin-left: 0px; }
    .flex-row.margin-between > .flex-col:last-child {
      margin-right: 0px; }
  .flex-row.flex-wrap {
    flex-wrap: wrap; }

/*# sourceMappingURL=index-page.css.map */
