$default-font_family: EB Garamond,sans-serif;

.content_container{
   font-family: $default-font_family;
   .slider{
      color: white;
      .s_content{
         max-width: 690px;
         letter-spacing: 2px;
         .h-content{
            margin-bottom: 30px;
            font-size: 2rem;
            font-weight: normal;
         }
         .solutions-wrap{
            margin-bottom: 20px;
            .solution-wrap{
               h3{
                  margin-top: 0px;
                  margin-bottom: 15px;
               }
            }
            .plus-wrap{
               line-height: 0;
               svg{
                  width: 60px;
                  polygon{
                     fill: white;
                  }
               }
            }
         }
      }
   }
   .subcontent_container{
      .wrapper{
         .recent_container{
            .recent_works{
               .content{
                  .sub_button{
                     border: none;
                     color: white;
                     background: #26a69a;
                     border: 1px solid #26a69a;
                     text-decoration: none;
                     &:hover{
                        background-color: white;
                        color: #26a69a;
                     }
                  }
               }
            }
         }
      }
   }
   .footer{
      #header_3{
         .row{
            margin: 0px;
         }
      }
   }
}
.flex-row{
   display: flex;
   > .flex-col{
      flex-grow: 1;
      &.fix-col{
         flex-basis: auto;
         flex-grow: 0;
         flex-shrink: 0;
      }
   }
   &.vertical-center{
      align-items: center;
   }
   &.vertial-top{
      align-items: start;
   }
   &.horizon-center{
      justify-content: center;
   }
   &.space-around{
      justify-content: space-around;
   }
   &.space-between{
      justify-content: space-between;
   }
   &.margin-between{
      >.flex-col{
         margin: 0px 5px;
         &:first-child{
            margin-left: 0px;
         }
         &:last-child{
            margin-right: 0px;
         }
      }
   }
   &.flex-wrap{
      flex-wrap: wrap;
   }
}