$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;
html{
    body{
        .site-wrapper.page{
            font-family: $default_font_family;
            & > .site-content{
                padding: 30px 50px;
                & > .content-wrapper{
                    max-width: 1700px;
                    margin: 0px auto;
                    padding-top: 45px;
                    position: relative;
                    color: #7b7b7b;
                    .decoration-container{
                        .decoration{
                            position: absolute;
                        }
                        .top-left-rectangular{
                            background-color: #7b7b7b;
                            color: white;
                            font-size: 22px;
                            padding: 0px 150px 70px 25px;
                            position: absolute;
                            top: 0px;
                            left: -30px;
                            line-height: 52px;
                            i.fa-caret-down{
                                vertical-align: middle;
                                font-size: 50px;
                            }
                        }
                    }
                    main.main-content{
                        text-align: center;
                        .content-inner{
                            max-width: 920px;
                            margin: 0px auto;
                            .invite-friend{
                                display: none;
                                >h1{

                                }
                                >aside{
                                    font-size: 2.5rem;
                                }
                                >form{
                                    .form-group{
                                        label{
                                            display: block;
                                            padding-left: 10px;
                                            font-size: 2.5rem;
                                            font-weight: bold;
                                            text-align: left;
                                            &.active{
                                                background-color: transparent;
                                            }
                                        }
                                        input.form-control{
                                            font-size: 2.5rem;
                                            height: auto;
                                        }
                                    }
                                    footer{
                                        button{
                                            padding: 7px 80px;
                                            font-size: 25px;
                                            border-radius: 25px;
                                            background: transparent;
                                            border: 2px solid rgb(83, 212, 173);
                                            color: rgb(83, 212, 173);
                                            margin: 5px 3%;
                                            &:hover{
                                                background: rgb(83, 212, 173);
                                                color: white;
                                            }
                                            &:focus{
                                                outline: none;
                                            }
                                        }
                                    }
                                }
                            }
                            .no-invitation{
                                >h1{

                                }
                            }
                            &.can-invite{
                                .invite-friend{
                                    display: block;
                                }
                                .no-invitation{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.after-clearfix{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}