html body .site-wrapper.page {
  font-family: "EB Garamond", sans-serif; }
  html body .site-wrapper.page > .site-content {
    padding: 30px 50px; }
    html body .site-wrapper.page > .site-content > .content-wrapper {
      max-width: 1700px;
      margin: 0px auto;
      padding-top: 45px;
      position: relative;
      color: #7b7b7b; }
      html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .decoration {
        position: absolute; }
      html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .top-left-rectangular {
        background-color: #7b7b7b;
        color: white;
        font-size: 22px;
        padding: 0px 150px 70px 25px;
        position: absolute;
        top: 0px;
        left: -30px;
        line-height: 52px; }
        html body .site-wrapper.page > .site-content > .content-wrapper .decoration-container .top-left-rectangular i.fa-caret-down {
          vertical-align: middle;
          font-size: 50px; }
      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content {
        text-align: center; }
        html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner {
          max-width: 920px;
          margin: 0px auto; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .invite-friend {
            display: none; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .invite-friend > aside {
              font-size: 2.5rem; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .invite-friend > form .form-group label {
              display: block;
              padding-left: 10px;
              font-size: 2.5rem;
              font-weight: bold;
              text-align: left; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .invite-friend > form .form-group label.active {
                background-color: transparent; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .invite-friend > form .form-group input.form-control {
              font-size: 2.5rem;
              height: auto; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .invite-friend > form footer button {
              padding: 7px 80px;
              font-size: 25px;
              border-radius: 25px;
              background: transparent;
              border: 2px solid #53d4ad;
              color: #53d4ad;
              margin: 5px 3%; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .invite-friend > form footer button:hover {
                background: #53d4ad;
                color: white; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .invite-friend > form footer button:focus {
                outline: none; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner.can-invite .invite-friend {
            display: block; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner.can-invite .no-invitation {
            display: none; }

.after-clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*# sourceMappingURL=invitation-page.css.map */
