@import "../../config/css/colors.scss";

html{
    body{
        .page.login-page{
            min-height: 100vh;
            padding: 5px;
            background: lightgrey; /* For browsers that do not support gradients */
            background: linear-gradient(to bottom left, #fff, #8ecbff);
            .login-inner{
                max-width: 600px;
                margin: 100px auto 1px;
                background-color: white;
                border-radius: 20px;
                .auth-wrapper{
                    max-width: 350px;
                    margin: 0px auto;
                    padding: 40px 30px;
                    form.auth-form{
                        .form-name{
                            font-weight: bold;
                            margin-top: 0px;
                            margin-bottom: 40px;
                        }
                        .form-group{
                            margin-bottom: 20px;
                            label{
                                font-weight: normal;
                                font-size: 1.5rem;
                                margin-bottom: 0px;
                            }
                            input.form-control{
                                padding-left: 0px;
                                border: none;
                                border-bottom: 1px solid $greenColor;
                                border-radius: 0px;
                                box-shadow: none;
                            }
                            &.left-circle{
                                position: relative;
                                &:before{
                                    z-index: 2;
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    width: 10px;
                                    height: 10px;
                                    left: -25px;
                                    top: .6rem;
                                    border-radius: 50%;
                                    background-color: $greenColor;
                                    opacity: .6;
                                }
                                &:focus-within{
                                    &:before{
                                        opacity: 1;
                                    }
                                }
                            }
                            &.left-line{
                                position: relative;
                                &:after{
                                    z-index: 1;
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    width: 1px;
                                    height: calc(100% + 30px);
                                    top: .6rem;
                                    left: -21px;
                                    background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
                                    background-position: left;
                                    background-size: 1px 10px;
                                    background-repeat: repeat-y;
                                    opacity: .7;
                                }
                            }
                            &.mb-0{
                                margin-bottom: 0px;
                            }
                        }
                        .forgot-password{
                            text-align: right;
                            a{
                                text-decoration: underline;
                                text-decoration-color: $contentColor;
                                color: $contentColor;
                            }
                            #forgot-password{
                                text-align: left;
                                .button-wrapper{
                                    margin-top: 20px;
                                }
                            }
                        }
                        .button-wrapper{
                            margin-top: 40px;
                            text-align: center;
                        }
                        .auth-btn{
                            background-color: $greenColor;
                            border: none;
                            outline: none;
                            color: white;
                            display: block;
                            width: 100%;
                            text-align: center;
                            padding: 15px 5px;
                            border-radius: 30px;
                            font-size: 2rem;
                            &:hover{
                                background-color: $greenHover;
                            }
                            &.small{
                                display: inline-block;
                                width: auto;
                                padding: 10px 30px;
                                font-size: 1.5rem;
                            }
                        }
                        .auth-helper{
                            margin-top: 40px;
                            text-align: center;
                            .auth-helper-text{
                                margin-bottom: 5px;
                            }
                            .helper-btn-wrapper{
                                .helper-btn{
                                    background-color: transparent;
                                    padding: 10px 20px;
                                    border: 1px solid $greenColor;
                                    border-radius: 30px;
                                    &:hover{
                                        background-color: $greenColor;
                                        color: white;
                                    }
                                    &:focus{
                                        outline: none;
                                    }
                                }
                            }
                        }
                        .alert-danger{
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}