html body .page.login-page {
  min-height: 100vh;
  padding: 5px;
  background: lightgrey;
  /* For browsers that do not support gradients */
  background: linear-gradient(to bottom left, #fff, #8ecbff); }
  html body .page.login-page .login-inner {
    max-width: 600px;
    margin: 100px auto 1px;
    background-color: white;
    border-radius: 20px; }
    html body .page.login-page .login-inner .auth-wrapper {
      max-width: 350px;
      margin: 0px auto;
      padding: 40px 30px; }
      html body .page.login-page .login-inner .auth-wrapper form.auth-form .form-name {
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 40px; }
      html body .page.login-page .login-inner .auth-wrapper form.auth-form .form-group {
        margin-bottom: 20px; }
        html body .page.login-page .login-inner .auth-wrapper form.auth-form .form-group label {
          font-weight: normal;
          font-size: 1.5rem;
          margin-bottom: 0px; }
        html body .page.login-page .login-inner .auth-wrapper form.auth-form .form-group input.form-control {
          padding-left: 0px;
          border: none;
          border-bottom: 1px solid #1fcd98;
          border-radius: 0px;
          box-shadow: none; }
        html body .page.login-page .login-inner .auth-wrapper form.auth-form .form-group.left-circle {
          position: relative; }
          html body .page.login-page .login-inner .auth-wrapper form.auth-form .form-group.left-circle:before {
            z-index: 2;
            content: '';
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            left: -25px;
            top: .6rem;
            border-radius: 50%;
            background-color: #1fcd98;
            opacity: .6; }
          html body .page.login-page .login-inner .auth-wrapper form.auth-form .form-group.left-circle:focus-within:before {
            opacity: 1; }
        html body .page.login-page .login-inner .auth-wrapper form.auth-form .form-group.left-line {
          position: relative; }
          html body .page.login-page .login-inner .auth-wrapper form.auth-form .form-group.left-line:after {
            z-index: 1;
            content: '';
            position: absolute;
            display: block;
            width: 1px;
            height: calc(100% + 30px);
            top: .6rem;
            left: -21px;
            background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
            background-position: left;
            background-size: 1px 10px;
            background-repeat: repeat-y;
            opacity: .7; }
        html body .page.login-page .login-inner .auth-wrapper form.auth-form .form-group.mb-0 {
          margin-bottom: 0px; }
      html body .page.login-page .login-inner .auth-wrapper form.auth-form .forgot-password {
        text-align: right; }
        html body .page.login-page .login-inner .auth-wrapper form.auth-form .forgot-password a {
          text-decoration: underline;
          text-decoration-color: #737661;
          color: #737661; }
        html body .page.login-page .login-inner .auth-wrapper form.auth-form .forgot-password #forgot-password {
          text-align: left; }
          html body .page.login-page .login-inner .auth-wrapper form.auth-form .forgot-password #forgot-password .button-wrapper {
            margin-top: 20px; }
      html body .page.login-page .login-inner .auth-wrapper form.auth-form .button-wrapper {
        margin-top: 40px;
        text-align: center; }
      html body .page.login-page .login-inner .auth-wrapper form.auth-form .auth-btn {
        background-color: #1fcd98;
        border: none;
        outline: none;
        color: white;
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px 5px;
        border-radius: 30px;
        font-size: 2rem; }
        html body .page.login-page .login-inner .auth-wrapper form.auth-form .auth-btn:hover {
          background-color: #1eb785; }
        html body .page.login-page .login-inner .auth-wrapper form.auth-form .auth-btn.small {
          display: inline-block;
          width: auto;
          padding: 10px 30px;
          font-size: 1.5rem; }
      html body .page.login-page .login-inner .auth-wrapper form.auth-form .auth-helper {
        margin-top: 40px;
        text-align: center; }
        html body .page.login-page .login-inner .auth-wrapper form.auth-form .auth-helper .auth-helper-text {
          margin-bottom: 5px; }
        html body .page.login-page .login-inner .auth-wrapper form.auth-form .auth-helper .helper-btn-wrapper .helper-btn {
          background-color: transparent;
          padding: 10px 20px;
          border: 1px solid #1fcd98;
          border-radius: 30px; }
          html body .page.login-page .login-inner .auth-wrapper form.auth-form .auth-helper .helper-btn-wrapper .helper-btn:hover {
            background-color: #1fcd98;
            color: white; }
          html body .page.login-page .login-inner .auth-wrapper form.auth-form .auth-helper .helper-btn-wrapper .helper-btn:focus {
            outline: none; }
      html body .page.login-page .login-inner .auth-wrapper form.auth-form .alert-danger {
        background-color: transparent; }

/*# sourceMappingURL=login-page.css.map */
