html body .site-wrapper.page .site-content {
  text-align: left; }
  html body .site-wrapper.page .site-content .filter-wrapper {
    padding: 50px 70px 30px;
    background-color: #f6fffc;
    position: relative; }
    html body .site-wrapper.page .site-content .filter-wrapper:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
      background-size: 5px 1px;
      background-repeat: repeat-x; }
    html body .site-wrapper.page .site-content .filter-wrapper .filter-content {
      max-width: 100%;
      margin: 0px auto;
      text-align: left; }
      html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-favorites .filter-name {
        margin: 0px 0px 15px;
        font-size: 3rem;
        font-weight: bold; }
      html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-favorites .filter-category {
        display: block;
        text-decoration: none;
        position: relative;
        margin: 0px 5px 10px;
        padding-bottom: 1px;
        font-size: 1.5rem;
        color: #737661;
        opacity: .6; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-favorites .filter-category:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 100%;
          height: 1px;
          background-color: #737661; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-favorites .filter-category:hover {
          opacity: 1; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-favorites .filter-category.active {
          opacity: 1; }
      html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by {
        text-align: left; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .filter-name {
          margin: 0px 0px 15px;
          font-size: 1.5em; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown {
          display: inline-block; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button {
            background-color: transparent;
            color: inherit;
            border-radius: 9px; }
            html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button span {
              display: inline-block;
              width: 80px;
              color: inherit;
              text-align: left; }
            html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button svg {
              width: 15px;
              vertical-align: middle; }
            html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button:focus {
              outline: none; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown ul {
            width: 100%;
            min-width: 0px;
            margin-top: 0px;
            border-top: 0px;
            border-radius: 9px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            background-color: #f6fffc; }
            html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown ul li a {
              color: inherit; }
              html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown ul li a:hover {
                background-color: #737661;
                color: white; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown.open button {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px; }
      html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown {
        display: inline-block; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button {
          background-color: transparent;
          color: inherit;
          border-radius: 9px; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button span {
            display: inline-block;
            width: 150px;
            color: inherit;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button svg {
            width: 15px;
            vertical-align: middle; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button:focus {
            outline: none; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown ul {
          width: 100%;
          min-width: 0px;
          margin-top: 0px;
          border-top: 0px;
          border-radius: 9px;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          background-color: #f6fffc; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown ul li a {
            color: inherit;
            overflow: hidden;
            text-overflow: ellipsis; }
            html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown ul li a:hover {
              background-color: #737661;
              color: white; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown.open button {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px; }
    @media all and (max-width: 768px) {
      html body .site-wrapper.page .site-content .filter-wrapper {
        padding: 30px 10px 20px; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-favorites .filter-name {
          margin: 10px 0px; }
        html body .site-wrapper.page .site-content .filter-wrapper:after {
          display: none; } }
  html body .site-wrapper.page .site-content main.main-content {
    max-width: 100%;
    margin: 0px auto;
    padding: 20px 75px; }
    html body .site-wrapper.page .site-content main.main-content .series-col {
      flex-basis: 200px; }
      html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list {
        list-style: none;
        padding-left: 0px;
        transition: all .3s ease-out; }
        html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li {
          margin-bottom: 5px;
          font-size: 1.6rem; }
          html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a {
            color: inherit;
            text-decoration: none; }
            html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a i {
              font-size: .8rem;
              font-weight: bold;
              top: 0px;
              left: 0px;
              transition: all .1s ease-out; }
            html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a span {
              margin-left: 10px; }
            html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a:hover {
              color: black; }
              html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a:hover i {
                left: 5px; }
          html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li.level-0 i {
            color: #1fcd98; }
          html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li.level-1 i {
            color: #f26d7e; }
          html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li.active a {
            color: black; }
            html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li.active a i {
              left: 5px; }
        @media all and (max-width: 768px) {
          html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list {
            overflow: auto;
            padding: 15px 0px;
            background-color: #1fcd98;
            overflow-scrolling: touch;
            -webkit-overflow-scrolling: touch;
            margin: 0px -20px 0px; }
            html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li {
              padding: 0px 15px;
              font-size: 1.7rem;
              line-height: 1.1;
              color: white;
              border-left: 1px solid white;
              text-decoration: none; }
              html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a {
                color: inherit;
                text-decoration: none;
                white-space: pre; }
                html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a span {
                  margin-left: 10px; }
                html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a:hover {
                  color: white; }
              html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li.active a {
                color: white;
                font-weight: bold; }
              html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li.all-item {
                border-left: none; } }
    html body .site-wrapper.page .site-content main.main-content .current-series {
      margin: 0px -20px;
      padding: 30px 40px 20px;
      background-color: #f6fffc;
      font-size: 2.5rem; }
    html body .site-wrapper.page .site-content main.main-content .posts-col {
      margin-left: 50px; }
      html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container {
        transition: all .3s ease-out; }
        html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item {
          flex-basis: calc(100% / 4);
          margin-bottom: 20px;
          padding: 0px 15px;
          font-size: 1.5rem; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-header .media-icon-wrapper i.fa {
            display: none;
            vertical-align: middle; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-header .fav-star {
            display: block;
            line-height: 0; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-header .fav-star svg {
              width: 20px; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-header .fav-star svg g, html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-header .fav-star svg path {
                fill: #1fcd98; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-type-body {
            width: 100%;
            height: calc(100px + 5vw);
            position: relative;
            margin-bottom: 15px; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-type-body .blog-type {
              position: absolute;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
              overflow: hidden; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-type-body .blog-type img {
                width: 100%;
                height: 100%; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-type-body .blog-type.type-0 {
                background-image: url("../../images/global-icons/audio-spectr.png");
                background-position: center center;
                background-repeat: no-repeat; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-type-body aside.blog-duration {
              position: absolute;
              bottom: 8px;
              right: 9px;
              padding: 7px 20px;
              z-index: 1;
              background: rgba(227, 228, 220, 0.8);
              border-radius: 10px;
              font-size: 1.2rem;
              line-height: 1.1; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-title {
            display: block;
            width: 100%;
            color: #737661; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-series-wrapper .item-series {
            color: #c8cabc;
            text-decoration: underline #c8cabc; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-series-wrapper .item-series:hover {
              color: black;
              text-decoration-color: black; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item.type-0 .item-header .media-icon-wrapper i.fa.audio-icon {
            display: initial;
            vertical-align: middle; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item.type-2 .item-header .media-icon-wrapper i.fa.video-icon {
            display: initial;
            vertical-align: middle; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item.type-7 .item-header .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item.type-8 .item-header .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item.type-10 .item-header .media-icon-wrapper i.fa.text-icon {
            display: initial;
            vertical-align: middle; }
      @media all and (max-width: 768px) {
        html body .site-wrapper.page .site-content main.main-content .posts-col {
          margin-left: 0px; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container {
            width: 380px;
            max-width: 100%;
            margin: 0px auto; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item {
              flex-basis: calc(100% / 1);
              margin-bottom: 20px;
              padding: 0px 15px;
              font-size: 1.5rem; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-header .media-icon-wrapper i.fa {
                display: none;
                vertical-align: middle; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-header .fav-star {
                display: block;
                line-height: 0; }
                html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-header .fav-star svg {
                  width: 20px; }
                  html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-header .fav-star svg g, html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-header .fav-star svg path {
                    fill: #1fcd98; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .item .item-type-body {
                height: calc(150px + 5vw);
                margin-bottom: 15px; } }
    @media all and (max-width: 768px) {
      html body .site-wrapper.page .site-content main.main-content {
        padding: 0px 20px 20px; } }
  html body .site-wrapper.page .site-content .no-content-wrapper {
    display: none;
    width: 1650px;
    max-width: 90%;
    margin: 100px auto;
    background-color: #f26d7e;
    padding: 50px 30px 20px;
    border-radius: 25px;
    color: white; }
    html body .site-wrapper.page .site-content .no-content-wrapper .no-content-txt-wrapper {
      text-align: center; }
      html body .site-wrapper.page .site-content .no-content-wrapper .no-content-txt-wrapper .you-not-txt {
        font-weight: bold;
        font-size: 3.3rem;
        line-height: 1.5;
        margin-bottom: 50px; }
      html body .site-wrapper.page .site-content .no-content-wrapper .no-content-txt-wrapper .to-add-txt {
        width: 540px;
        max-width: 100%;
        margin: 0px auto 20px;
        font-size: 3rem;
        line-height: 1.5; }
    html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper {
      position: relative;
      text-align: center; }
      html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .background-img {
        max-width: 100%; }
      html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        padding-bottom: 50px; }
        html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item {
          background-color: transparent;
          line-height: 0;
          border-radius: 50%;
          border: 2px solid #1fcd98;
          height: 100px;
          width: 100px;
          box-sizing: border-box; }
          html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item svg {
            width: 60px;
            max-height: 60px; }
            html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item svg g, html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item svg path, html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item svg polygon, html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item svg circle {
              fill: #1fcd98 !important; }
          html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item.complete-action.completed {
            background-color: #1fcd98; }
            html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item.complete-action.completed svg g, html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item.complete-action.completed svg path, html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item.complete-action.completed svg polygon {
              fill: white !important; }
          html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item.favorite-action {
            border-color: #feba19; }
            html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item.favorite-action svg g, html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item.favorite-action svg path, html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item.favorite-action svg polygon {
              fill: #feba19 !important; }
    html body .site-wrapper.page .site-content .no-content-wrapper .to-add-txt-mobile {
      text-align: center;
      width: 540px;
      max-width: 100%;
      margin: 20px auto 0px;
      font-size: 2rem;
      line-height: 1.5; }
    @media all and (max-width: 768px) {
      html body .site-wrapper.page .site-content .no-content-wrapper {
        max-width: calc(100% - 20px);
        margin: 30px auto;
        padding: 30px 10px 20px; }
        html body .site-wrapper.page .site-content .no-content-wrapper .no-content-txt-wrapper .you-not-txt {
          font-size: 2.5rem;
          line-height: 1.5;
          margin-bottom: 30px; }
        html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper {
          padding-bottom: 50px; }
          html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item {
            width: calc(100px - 60 * (768px - 100vw) / 768);
            height: calc(100px - 60 * (768px - 100vw) / 768); }
            html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item svg {
              width: 60%;
              max-height: 60%; } }
  html body .site-wrapper.page .site-content.no-content .no-content-wrapper {
    display: block; }
  html body .site-wrapper.page .site-content.no-content .d-no-content-none {
    display: none !important; }

/*# sourceMappingURL=my-favorites-page.css.map */
