html body .site-wrapper.page .site-content {
  text-align: left; }
  html body .site-wrapper.page .site-content .filter-wrapper {
    padding: 50px 85px 30px;
    background-color: #f6fffc;
    position: relative; }
    html body .site-wrapper.page .site-content .filter-wrapper:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
      background-size: 5px 1px;
      background-repeat: repeat-x; }
    html body .site-wrapper.page .site-content .filter-wrapper .filter-content {
      max-width: 100%;
      margin: 0px auto;
      text-align: left; }
      html body .site-wrapper.page .site-content .filter-wrapper .filter-content .your-profile-title {
        margin: 10px 0px;
        font-size: 2.5rem;
        font-weight: bold; }
    @media all and (max-width: 768px) {
      html body .site-wrapper.page .site-content .filter-wrapper {
        padding: 30px 20px 20px; } }
  html body .site-wrapper.page .site-content main.main-content {
    max-width: 100%;
    margin: 0px auto;
    padding: 40px 70px 100px; }
    html body .site-wrapper.page .site-content main.main-content form.profile-form {
      margin: 0px auto; }
      html body .site-wrapper.page .site-content main.main-content form.profile-form .section-wrapper {
        padding: 10px 25px; }
        html body .site-wrapper.page .site-content main.main-content form.profile-form .section-wrapper .section-title {
          font-size: 2.5rem;
          font-weight: bold; }
        html body .site-wrapper.page .site-content main.main-content form.profile-form .section-wrapper .form-group label {
          position: relative;
          padding: 7px 15px 0px 0px;
          font-weight: normal;
          font-size: 1.5rem; }
          html body .site-wrapper.page .site-content main.main-content form.profile-form .section-wrapper .form-group label.required:after {
            content: "*";
            position: absolute;
            top: 0px;
            right: 0px;
            color: #f26d7e; }
        html body .site-wrapper.page .site-content main.main-content form.profile-form .section-wrapper .form-group input {
          padding-left: 0px;
          border: none;
          border-bottom: 1px solid #c8cabc;
          box-shadow: none;
          border-radius: 0px;
          font-size: 1.5rem; }
        html body .site-wrapper.page .site-content main.main-content form.profile-form .section-wrapper .multi-line-background textarea:valid {
          outline: none;
          border-color: #d4d6c9; }
        @media all and (max-width: 768px) {
          html body .site-wrapper.page .site-content main.main-content form.profile-form .section-wrapper {
            padding: 10px; } }
      html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper {
        width: 230px;
        margin: 10px auto 0px;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
        position: relative;
        border: 1px dashed grey;
        border-radius: 20px; }
        html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper .img-wrapper {
          margin-bottom: 25px;
          padding: 0px 0px 15px; }
          html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper .img-wrapper img {
            width: 100px; }
        html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper .cloud-img-wrapper {
          margin-bottom: 15px; }
          html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper .cloud-img-wrapper img {
            width: 60px;
            opacity: .5; }
        html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper input {
          position: absolute;
          display: block;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer; }
        html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper .delete-action {
          display: inline-block;
          position: absolute;
          top: 15px;
          right: 20px;
          border-radius: 50%;
          line-height: 0; }
          html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper .delete-action svg {
            width: 20px;
            height: 20px;
            vertical-align: middle; }
            html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper .delete-action svg g, html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper .delete-action svg path {
              fill: #1fcd98; }
          html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper .delete-action:hover svg g, html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper .delete-action:hover svg path {
            fill: #1f9965; }
        html body .site-wrapper.page .site-content main.main-content form.profile-form .cover-image-wrapper.drag-over {
          border-style: solid; }
      html body .site-wrapper.page .site-content main.main-content form.profile-form .submit-wrapper {
        margin-top: 70px;
        text-align: center; }
        html body .site-wrapper.page .site-content main.main-content form.profile-form .submit-wrapper .submit-btn {
          width: 300px;
          max-width: 100%;
          padding: 12px;
          text-align: center;
          background-color: #1fcd98;
          font-size: 2rem;
          color: white;
          border-radius: 40px; }
          html body .site-wrapper.page .site-content main.main-content form.profile-form .submit-wrapper .submit-btn:hover {
            background-color: #1eb785; }
          html body .site-wrapper.page .site-content main.main-content form.profile-form .submit-wrapper .submit-btn:focus {
            outline: none; }
      html body .site-wrapper.page .site-content main.main-content form.profile-form .cancel-wrapper {
        margin-top: 20px;
        text-align: center; }
        html body .site-wrapper.page .site-content main.main-content form.profile-form .cancel-wrapper .cancel-btn {
          width: 105px;
          padding: 10px;
          text-align: center;
          background-color: transparent;
          font-size: 1.5rem;
          color: #737661;
          border: 1px solid #1fcd98;
          border-radius: 30px; }
          html body .site-wrapper.page .site-content main.main-content form.profile-form .cancel-wrapper .cancel-btn:hover {
            background-color: #1fcd98;
            color: white; }
          html body .site-wrapper.page .site-content main.main-content form.profile-form .cancel-wrapper .cancel-btn:focus {
            outline: none; }
    @media all and (max-width: 768px) {
      html body .site-wrapper.page .site-content main.main-content {
        padding: 20px; } }

/*# sourceMappingURL=my-profile-page.css.map */
