@import "../../config/css/colors.scss";

html{
    body{
        .site-wrapper.page{
            .site-content{
                text-align: left;
                .filter-wrapper{
                    padding: 50px 85px 30px;
                    background-color: $lightGreen;
                    position: relative;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
                        background-size: 5px 1px;
                        background-repeat: repeat-x;
                    }
                    .filter-content{
                        max-width: 100%;
                        margin: 0px auto;
                        text-align: left;
                        .your-profile-title{
                            margin: 10px 0px;
                            font-size: 2.5rem;
                            font-weight: bold;
                        }
                        .general-information{
                        }
                    }
                    @media all and (max-width: 768px) {
                        padding: 30px 20px 20px;
                    }
                }
                main.main-content{
                    max-width: 100%;
                    margin: 0px auto;
                    padding: 40px 70px 100px;
                    form.profile-form{
                        //max-width: 1200px;
                        margin: 0px auto;
                        .section-wrapper{
                            //width: 390px;
                            padding: 10px 25px;
                            .section-title{
                                font-size: 2.5rem;
                                font-weight: bold;
                            }
                            .form-group{
                                label{
                                    position: relative;
                                    padding: 7px 15px 0px 0px;
                                    font-weight: normal;
                                    font-size: 1.5rem;
                                    &.required:after {
                                        content: "*";
                                        position: absolute;
                                        top: 0px;
                                        right: 0px;
                                        color: $redColor;
                                    }
                                }
                                input{
                                    padding-left: 0px;
                                    border: none;
                                    border-bottom: 1px solid $lightGrey;
                                    box-shadow: none;
                                    border-radius: 0px;
                                    font-size: 1.5rem;
                                }
                            }
                            .multi-line-background{
                                textarea{
                                    &:valid{
                                        outline: none;
                                        border-color: #d4d6c9;
                                    }
                                }
                            }
                            @media all and (max-width: 768px) {
                                padding: 10px;
                            }
                        }
                        .cover-image-wrapper{
                            width: 230px;
                            margin: 10px auto 0px;
                            padding-top: 40px;
                            padding-bottom: 20px;
                            text-align: center;
                            position: relative;
                            border: 1px dashed grey;
                            border-radius: 20px;
                            .img-wrapper{
                                margin-bottom: 25px;
                                padding: 0px 0px 15px;
                                img{
                                    width: 100px;
                                }
                            }
                            .cloud-img-wrapper{
                                margin-bottom: 15px;
                                img{
                                    width: 60px;
                                    opacity: .5;
                                }
                            }
                            input{
                                position: absolute;
                                display: block;
                                top: 0px;
                                left: 0px;
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                cursor: pointer;
                            }
                            .delete-action{
                                display: inline-block;
                                position: absolute;
                                top: 15px;
                                right: 20px;
                                border-radius: 50%;
                                line-height: 0;
                                svg{
                                    width: 20px;
                                    height: 20px;
                                    vertical-align: middle;
                                    g, path{
                                        fill: $greenColor;
                                    }
                                }
                                &:hover{
                                    svg{
                                        g, path{
                                            fill: #1f9965;
                                        }
                                    }
                                }
                            }
                            &.drag-over{
                                border-style: solid;
                            }
                        }
                        .submit-wrapper{
                            margin-top: 70px;
                            text-align: center;
                            .submit-btn{
                                width: 300px;
                                max-width: 100%;
                                padding: 12px;
                                text-align: center;
                                background-color: $greenColor;
                                font-size: 2rem;
                                color: white;
                                border-radius: 40px;
                                &:hover{
                                    background-color: $greenHover;
                                }
                                &:focus{
                                    outline: none;
                                }
                            }
                        }
                        .cancel-wrapper{
                            margin-top: 20px;
                            text-align: center;
                            .cancel-btn{
                                width: 105px;
                                padding: 10px;
                                text-align: center;
                                background-color: transparent;
                                font-size: 1.5rem;
                                color: $contentColor;
                                border: 1px solid $greenColor;
                                border-radius: 30px;
                                &:hover{
                                    background-color: $greenColor;
                                    color: white;
                                }
                                &:focus{
                                    outline: none;
                                }
                            }
                        }
                    }
                    @media all and (max-width: 768px) {
                        padding: 20px;
                    }
                }
            }
        }
    }
}