html body .site-wrapper.page .site-content {
  text-align: left;
}
html body .site-wrapper.page .site-content .filter-wrapper {
  padding: 60px 70px 30px;
  background-color: #f6fffc;
  position: relative;
}
html body .site-wrapper.page .site-content .filter-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content {
  max-width: 100%;
  margin: 0px auto;
  text-align: left;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-solutions .filter-name {
  margin: 0px;
  font-size: 3rem;
  font-weight: bold;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-filter-wrapper .category-txt {
  font-size: 1.7rem;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-filter-wrapper .dropdown {
  display: inline-block;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-filter-wrapper .dropdown button {
  background-color: transparent;
  color: inherit;
  border-radius: 9px;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-filter-wrapper .dropdown button span {
  display: inline-block;
  width: 200px;
  color: inherit;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-filter-wrapper .dropdown button svg {
  width: 15px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-filter-wrapper .dropdown button:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-filter-wrapper .dropdown ul {
  width: 100%;
  min-width: 0px;
  margin-top: 0px;
  border-top: 0px;
  border-radius: 9px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-filter-wrapper .dropdown ul li a {
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-filter-wrapper .dropdown ul li a:hover {
  background-color: #737661;
  color: white;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-filter-wrapper .dropdown.open button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by {
  margin-right: 50px;
  text-align: left;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .filter-name {
  margin: 0px 0px 0px;
  font-size: 1.7rem;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown {
  display: inline-block;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button {
  background-color: transparent;
  color: inherit;
  border-radius: 9px;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button span {
  display: inline-block;
  width: 80px;
  color: inherit;
  text-align: left;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button svg {
  width: 15px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown ul {
  width: 100%;
  min-width: 0px;
  margin-top: 0px;
  border-top: 0px;
  border-radius: 9px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown ul li a {
  color: inherit;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown ul li a:hover {
  background-color: #737661;
  color: white;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown.open button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
@media screen and (max-width: 768px) {
  html body .site-wrapper.page .site-content .filter-wrapper {
    padding: 25px 10px 10px;
  }
  html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-solutions .filter-name {
    font-size: 2rem;
  }
  html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-filter-wrapper .dropdown button span {
    width: 150px;
  }
  html body .site-wrapper.page .site-content .filter-wrapper:after {
    display: none;
  }
}
html body .site-wrapper.page .site-content .experience-goal-switcher {
  padding: 10px 0px;
  background-color: #1fcd98;
  color: white;
  text-align: center;
  font-size: 2rem;
}
html body .site-wrapper.page .site-content .experience-goal-switcher .experience-switch {
  border-right: 1px solid white;
}
html body .site-wrapper.page .site-content .experience-goal-switcher .switch-item.active-item {
  font-weight: bold;
}
html body .site-wrapper.page .site-content main.main-content {
  width: 1500px;
  max-width: 100%;
  margin: 0px auto;
  padding: 20px 75px;
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content main.main-content .main-col {
  flex-basis: 0px;
  flex-grow: 86;
  padding: 5px 35px;
  text-align: left;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container {
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article {
  position: relative;
  margin-bottom: 40px;
  padding: 0px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header {
  padding: 10px 0px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .header-text-wrapper {
  position: relative;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .header-text-wrapper .media-icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .header-text-wrapper .media-icon-wrapper i {
  display: none;
  font-size: 1.5rem;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .header-text-wrapper .article-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: inherit;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .header-text-wrapper .article-title:hover {
  color: black;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .header-text-wrapper .series-name {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .header-text-wrapper .view-day {
  font-size: 1.3rem;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .header-text-wrapper span {
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .listing-toggle {
  width: 45px;
  height: 45px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #1fcd98;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .listing-toggle svg {
  width: 23px;
  height: auto;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .listing-toggle svg g, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .listing-toggle svg path, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .listing-toggle svg circle {
  fill: #1fcd98 !important;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .listing-toggle .unread-posts-count {
  display: none;
  position: absolute;
  bottom: 32px;
  left: 30px;
  padding: 2px 5px;
  background-color: #f26d7e;
  color: white;
  border-radius: 3px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .listing-toggle.has-new .unread-posts-count {
  display: block;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .listing-toggle:hover {
  border-color: #1eb785;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .listing-toggle:hover svg g, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .listing-toggle:hover svg path, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .listing-toggle:hover svg circle {
  fill: #1eb785 !important;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-btn {
  padding: 10px 10px;
  font-size: 1.7rem;
  text-align: center;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-btn.favorite-btn {
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-btn.favorite-btn svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-btn.favorite-btn svg g, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-btn.favorite-btn svg path, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-btn.favorite-btn svg polygon {
  fill: white;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-btn.favorite-btn span {
  display: none;
  line-height: 29px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-btn.favorite-btn .favorite-text {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-btn.favorite-btn.favorite {
  background-color: #feba19;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-btn.favorite-btn.favorite svg {
  display: initial;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-btn.favorite-btn.favorite .favorite-text {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-btn.favorite-btn.favorite .un-favorite-text {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item {
  background-color: transparent;
  display: flex !important;
  line-height: 0;
  border-radius: 50%;
  border: 2px solid #1fcd98;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item svg {
  width: 22px;
  max-height: 22px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item svg g, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item svg path, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item svg polygon, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item svg circle {
  fill: #1fcd98 !important;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item img {
  width: 22px;
  max-height: 22px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item.complete-action.completed {
  background-color: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item.complete-action.completed svg g, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item.complete-action.completed svg path, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item.complete-action.completed svg polygon {
  fill: white !important;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item.favorite-action.favorite {
  border-color: #feba19;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item.favorite-action.favorite svg g, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item.favorite-action.favorite svg path, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item.favorite-action.favorite svg polygon {
  fill: #feba19 !important;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item.more-action ~ .more-drop-down {
  min-width: 0px;
  left: -15px;
  width: calc(100% + 30px);
  padding: 15px;
  height: auto;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item.more-action ~ .more-drop-down .action-item {
  margin-bottom: 7px;
  padding: 0px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item:hover {
  border-color: #1eb785;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item:hover svg g, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item:hover svg path, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .action-item:hover svg polygon {
  fill: #1eb785;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .share-btn {
  padding: 5px 20px;
  font-size: 1.7rem;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down {
  min-width: 0px;
  left: auto;
  right: 0px;
  width: auto;
  padding: 15px;
  height: auto;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn {
  margin-bottom: 5px;
  padding: 5px 15px;
  font-size: 1.7rem;
  width: 150px;
  text-align: center;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.finish-btn svg {
  display: none;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.finish-btn svg g, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.finish-btn svg path {
  fill: white;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.finish-btn span {
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.finish-btn .complete-text {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.finish-btn.completed .complete-text {
  display: inline;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.finish-btn.completed .un-complete-text {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.finish-btn.completed svg {
  display: initial;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.favorite-btn svg {
  display: none;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.favorite-btn svg g, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.favorite-btn svg path, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.favorite-btn svg polygon {
  fill: white;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.favorite-btn span {
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.favorite-btn .favorite-text {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.favorite-btn.favorite {
  background-color: #feba19;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.favorite-btn.favorite svg {
  display: initial;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.favorite-btn.favorite .favorite-text {
  display: inline;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.favorite-btn.favorite .un-favorite-text {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper .dropdown .dropdown-menu.more-drop-down .action-btn.trash-btn {
  background-color: #ff0000;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-col {
  order: 3;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .title-col {
  order: 2;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .toggle-col {
  order: 1;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header:after {
  content: "";
  display: block;
  clear: both;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body {
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
  min-height: 100px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .video-js {
  width: auto !important;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .video-js .vjs-big-play-button {
  border-radius: 50%;
  border: none;
  width: 6em;
  height: 6em;
  left: calc((100% - 6em) / 2);
  top: calc((100% - 6em) / 2);
  background-color: rgba(115, 133, 159, 0.5);
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  font-size: 5em;
  line-height: 1.2;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .video-js.vjs-waiting .vjs-big-play-button {
  opacity: 0;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .video-js:hover .vjs-big-play-button {
  background-color: rgba(43, 51, 63, 0.7);
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body aside.blog-duration {
  position: absolute;
  bottom: 8px;
  right: 9px;
  padding: 7px 20px;
  z-index: 1;
  background: rgba(227, 228, 220, 0.8);
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.1;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper {
  position: absolute;
  top: calc((100% - 150px) / 2);
  height: 150px;
  width: 90px;
  overflow: hidden;
  z-index: 80;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav {
  display: none;
  position: absolute;
  top: calc((100% - 150px) / 2);
  max-width: none;
  height: 150px;
  width: 150px;
  background-color: rgba(255, 224, 198, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav .arrow-icon-wrapper {
  height: 70px;
  width: 30px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav .arrow-icon-wrapper:before, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav .arrow-icon-wrapper:after {
  background-color: white;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav.arrow-left {
  right: 0px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav.arrow-left .arrow-icon-wrapper {
  left: 20px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav.arrow-right {
  left: 0px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav.arrow-right .arrow-icon-wrapper {
  right: 20px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav:hover {
  background-color: rgba(255, 224, 198, 0.6);
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper.left-wrapper {
  left: 0px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper.right-wrapper {
  right: 0px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body * {
  max-width: 100%;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body *.flex-row {
  max-width: none;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body:hover .slider-nav {
  display: flex;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article.type-0 header.article-header .header-text-wrapper .media-icon-wrapper i.audio-icon {
  display: initial;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article.type-2 header.article-header .header-text-wrapper .media-icon-wrapper i.video-icon {
  display: initial;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article.type-7 header.article-header .header-text-wrapper .media-icon-wrapper i.text-icon, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article.type-8 header.article-header .header-text-wrapper .media-icon-wrapper i.text-icon, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article.type-10 header.article-header .header-text-wrapper .media-icon-wrapper i.text-icon {
  display: initial;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper {
  display: none;
  width: 300px;
  height: 300px;
  background-color: transparent;
  box-shadow: none;
  z-index: 999;
  top: auto;
  left: auto;
  right: 0px;
  bottom: 0px;
  transform: rotate(90deg);
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper .circle-nav-toggle {
  border: none;
  width: 50px;
  height: 50px;
  top: 5px;
  right: 5px;
  opacity: 0;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper .circle-nav-toggle svg#Capa_1 {
  width: 50px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper .circle-nav-toggle svg#Capa_1 g path {
  fill: white;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper .circle-nav-toggle.circle-nav-open {
  opacity: 1;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper .circle-nav-toggle.circle-nav-open svg#Capa_1 g path {
  fill: white;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper ul.circle-nav-menu {
  width: 300px;
  height: 300px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item {
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  transform: rotate(-90deg);
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a {
  padding: 0px;
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg {
  width: 30px !important;
  height: 30px !important;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg g path {
  fill: #ff7b7b !important;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper ul.circle-nav-menu:not(.circle-nav-open) li.circle-nav-item {
  left: 300px;
  bottom: 300px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper .circle-nav-panel {
  margin-left: 311px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper .circle-nav-panel.circle-nav-open {
  margin-left: 311px;
  width: 600px;
  height: 600px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .item-meta .circle-nav-wrapper.circle-nav-open {
  z-index: 1001;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .note-wrapper {
  position: absolute;
  right: 0px;
  top: 70px;
  width: 50px;
  height: 52px;
}
html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .note-wrapper .post-notes-component {
  top: 0px;
}
@media screen and (max-width: 768px) {
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .note-wrapper .post-notes-component {
    background-color: transparent;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .note-wrapper .post-notes-component .content-col {
    background-color: transparent;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .note-wrapper .post-notes-component .content-col .content-section .content-inner {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article .note-wrapper {
    position: static;
    width: 100%;
    height: auto;
  }
}
html body .site-wrapper.page .site-content main.main-content .goals-col {
  flex-basis: 0px;
  flex-grow: 34;
  padding: 5px 35px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals {
  margin-bottom: 25px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do {
  width: 215px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .filter-name {
  font-size: 3rem;
  font-weight: bold;
  margin: 0px 0px 15px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .goal-date {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  padding-bottom: 1px;
  color: #737661;
  text-decoration: none;
  vertical-align: middle;
  opacity: 0.7;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .goal-date:after {
  content: "";
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background-color: #737661;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .goal-date:hover, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .goal-date.active {
  opacity: 1;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .goal-date:hover:after, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .goal-date.active:after {
  display: block;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .goal-date svg {
  width: 20px;
  height: 20px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .goal-date[data-when=calendar] {
  position: relative;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .goal-date[data-when=calendar] input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
  background-color: transparent;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .goal-date[data-when=calendar] input:focus {
  outline: none;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .goal-date[data-when=calendar].added svg {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .i-will-do .goal-date[data-when=calendar].added input {
  position: relative;
  width: 90px;
  height: auto;
  opacity: 1;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .add-goal {
  display: block;
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .my-goals .add-goal svg {
  width: 45px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goal-input-wrapper {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item {
  border: 1px solid transparent;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-text {
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions {
  padding-bottom: 20px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .action-item {
  display: inline-block;
  border-radius: 50%;
  line-height: 0;
  text-decoration: none;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .action-item svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .action-item svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .action-item svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .action-item.item-for-tomorrow {
  line-height: 1;
  color: #737661;
  opacity: 0.7;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .action-item.item-for-tomorrow:hover {
  opacity: 1;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .action-item:hover svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .action-item:hover svg path {
  fill: #1f9965;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .item-goal-date {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  padding-bottom: 1px;
  color: #737661;
  text-decoration: none;
  vertical-align: middle;
  opacity: 0.7;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .item-goal-date:after {
  content: "";
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background-color: #737661;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .item-goal-date:hover, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .item-goal-date.active {
  opacity: 1;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .item-goal-date:hover:after, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .item-goal-date.active:after {
  display: block;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .item-goal-date svg {
  width: 20px;
  height: 20px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .item-goal-date[data-when=calendar] {
  position: relative;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .item-goal-date[data-when=calendar] input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
  background-color: transparent;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .main-actions .item-goal-date[data-when=calendar] input:focus {
  outline: none;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .drag-icon-wrapper {
  cursor: pointer;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .drag-icon-wrapper svg {
  width: 20px;
  height: 20px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .drag-icon-wrapper svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item .goal-actions .drag-icon-wrapper svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item.completed .goal-actions .main-actions .action-item.complete-action {
  background-color: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .goals-container .goal-item.completed .goal-actions .main-actions .action-item.complete-action svg > g:last-child path {
  fill: white;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section {
  padding: 1px 0px;
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .section-title, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .section-title {
  font-size: 3rem;
  font-weight: bold;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .goal-input-wrapper, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .goal-input-wrapper {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .goal-input-wrapper textarea.goal-input, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .goal-input-wrapper textarea.goal-input {
  height: 115px;
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .goal-input-wrapper textarea.goal-input:focus, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .goal-input-wrapper textarea.goal-input:focus {
  height: 300px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .need-help, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .need-help {
  cursor: pointer;
  display: inline-block;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .need-help svg, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .need-help svg {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .need-help svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .need-help svg path, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .need-help svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .need-help svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .need-help span, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .need-help span {
  font-size: 1.5rem;
  vertical-align: middle;
  color: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .need-help:hover svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .need-help:hover svg path, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .need-help:hover svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .need-help:hover svg path {
  fill: #1eb785;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .need-help:hover span, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .need-help:hover span {
  color: #1eb785;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .add-goal, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .add-goal {
  display: block;
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .add-goal svg, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .add-goal svg {
  width: 40px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container {
  margin-top: 20px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item {
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-text, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-text {
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-actions .main-actions .action-item, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-actions .main-actions .action-item {
  display: inline-block;
  border-radius: 50%;
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-actions .main-actions .action-item svg, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-actions .main-actions .action-item svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-actions .main-actions .action-item svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-actions .main-actions .action-item svg path, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-actions .main-actions .action-item svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-actions .main-actions .action-item svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-actions .main-actions .action-item:hover svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-actions .main-actions .action-item:hover svg path, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-actions .main-actions .action-item:hover svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-actions .main-actions .action-item:hover svg path {
  fill: #1f9965;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-actions .more-action, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-actions .more-action {
  display: inline-block;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-actions .more-action svg, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-actions .more-action svg {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-actions .more-action svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-actions .more-action svg path, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-actions .more-action svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-actions .more-action svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-actions .more-action:hover svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item .goal-actions .more-action:hover svg path, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-actions .more-action:hover svg g, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item .goal-actions .more-action:hover svg path {
  fill: #1f9965;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item.completed .goal-actions .main-actions .action-item.complete-action, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item.completed .goal-actions .main-actions .action-item.complete-action {
  background-color: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .morning-section .mor-even-container .mor-even-item.completed .goal-actions .main-actions .action-item.complete-action svg > g:last-child path, html body .site-wrapper.page .site-content main.main-content .goals-col .goals-section .evening-section .mor-even-container .mor-even-item.completed .goal-actions .main-actions .action-item.complete-action svg > g:last-child path {
  fill: white;
}
@media screen and (max-width: 768px) {
  html body .site-wrapper.page .site-content main.main-content {
    padding: 15px 10px;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col {
    padding: 5px 10px;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article {
    margin-bottom: 20px;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .header-text-wrapper .media-icon-wrapper {
    position: static;
    display: inline;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article header.article-header .actions-wrapper {
    margin: 0px 0px 10px 10px;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper {
    position: absolute;
    top: calc((100% - 120px) / 2);
    height: 120px;
    width: 75px;
    z-index: 100;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav {
    top: calc((100% - 120px) / 2);
    height: 120px;
    width: 120px;
    background-color: rgba(255, 224, 198, 0.7);
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav .arrow-icon-wrapper {
    height: 50px;
    width: 20px;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav .arrow-icon-wrapper:before, html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav .arrow-icon-wrapper:after {
    background-color: white;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav.arrow-left {
    right: 0px;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav.arrow-left .arrow-icon-wrapper {
    left: 15px;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav.arrow-right {
    left: 0px;
  }
  html body .site-wrapper.page .site-content main.main-content .main-col .articles-container article.blog-article div.article-body .slider-nav-wrapper .slider-nav.arrow-right .arrow-icon-wrapper {
    right: 15px;
  }
  html body .site-wrapper.page .site-content main.main-content.experiences-active .goals-col {
    display: none;
  }
  html body .site-wrapper.page .site-content main.main-content.experiences-active .main-col {
    display: block;
  }
  html body .site-wrapper.page .site-content main.main-content.goals-active .goals-col {
    display: block;
  }
  html body .site-wrapper.page .site-content main.main-content.goals-active .main-col {
    display: none;
  }
}
html body .site-wrapper.page .site-content .getting-started-header {
  padding: 60px 70px 30px;
  background-color: #f6fffc;
  position: relative;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content {
  max-width: 100%;
  margin: 0px auto;
  text-align: left;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .title-wrapper .page-title {
  margin: 0px 0px 10px;
  font-weight: bold;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .title-wrapper .step-name {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .step-progress-wrapper {
  width: 830px;
  max-width: 100%;
  margin: 0px auto;
  padding-right: 30px;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .step-progress-wrapper .progress-wrapper {
  display: flex;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item {
  position: relative;
  display: flex;
  align-items: center;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item .step-wrapper {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0px;
  min-width: 50px;
  max-width: 300px;
  opacity: 0;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item.step-3 .step-wrapper {
  width: 230px;
  left: -110px;
  text-align: center;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  opacity: 0.7;
  background-color: #1fcd98;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item.right-dotted {
  flex-shrink: 1;
  min-width: 30px;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item.right-dotted:after {
  content: "";
  display: inline-block;
  width: 330px;
  max-width: calc(100% - 20px);
  height: 1px;
  vertical-align: middle;
  background-image: linear-gradient(to right, #c8cabc 3px, transparent 0%);
  background-size: 6px 1px;
  background-repeat: repeat-x;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item.active .step-wrapper {
  opacity: 1;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item.active:before {
  opacity: 1;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .step-progress-wrapper .progress-wrapper .progress-item:last-child:before {
  background-color: #f26d7e;
}
html body .site-wrapper.page .site-content .getting-started-header .content-header-content .light-box {
  width: 80px;
  height: 80px;
  background-image: url("../../images/global-icons/getting-start.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body .site-wrapper.page .site-content .getting-started-header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .getting-started-header {
    padding: 50px 20px 20px;
  }
}
html body .site-wrapper.page .site-content .what-do-first-pane {
  width: 1500px;
  max-width: 100%;
  margin: 0px auto;
  padding: 60px 10px 130px;
}
html body .site-wrapper.page .site-content .what-do-first-pane .pane-title {
  margin-top: 0px;
  font-size: 3rem;
  font-weight: bold;
  color: #737661;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content .what-do-first-pane .btn-wrapper {
  width: 800px;
  max-width: 100%;
  margin: 0px auto;
}
html body .site-wrapper.page .site-content .what-do-first-pane .btn-wrapper a {
  padding: 25px 50px;
  margin: 10px 15px;
  color: white;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
}
html body .site-wrapper.page .site-content .what-do-first-pane .btn-wrapper a.btn-create {
  background-color: #1fcd98;
}
html body .site-wrapper.page .site-content .what-do-first-pane .btn-wrapper a.btn-get {
  background-color: #f16c7d;
}
html body .site-wrapper.page .site-content .select-categories-pane {
  width: 1500px;
  max-width: 100%;
  margin: 0px auto;
  padding: 60px 10px 130px;
}
html body .site-wrapper.page .site-content .select-categories-pane .pane-title {
  margin-top: 0px;
  font-size: 3rem;
  font-weight: bold;
  color: #737661;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content .select-categories-pane .at-least-text {
  margin-top: 0px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #737661;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list {
  margin-bottom: 20px;
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item {
  margin-bottom: 15px;
  padding: 5px 13px;
  flex-basis: calc(100% / 5);
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-image-wrapper {
  position: relative;
  margin-bottom: 17px;
  cursor: pointer;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-image-wrapper .item-image {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1600px) {
  html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-image-wrapper .item-image {
    height: 170px;
  }
}
@media only screen and (max-width: 1600px) {
  html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-image-wrapper .item-image {
    height: 150px;
  }
}
@media only screen and (max-width: 1400px) {
  html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-image-wrapper .item-image {
    height: 140px;
  }
}
@media only screen and (max-width: 1280px) {
  html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-image-wrapper .item-image {
    height: 128px;
  }
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-image-wrapper .hover-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-image-wrapper .hover-content svg {
  width: 100px;
  max-width: 100%;
  opacity: 0.3;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-image-wrapper .hover-content svg g, html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-image-wrapper .hover-content svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .child-count-wrapper {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .child-count-wrapper .child-count {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #c8cbba;
  color: white;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-title {
  font-size: 1.4rem;
  font-weight: bold;
  height: auto;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-category-wrapper {
  display: none;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-category-wrapper .item-category {
  font-size: 1.5rem;
  color: #c8cabc;
  text-decoration: underline;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-category-wrapper .item-category:hover {
  color: #737661;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item:hover .item-image-wrapper .hover-content, html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item:active .item-image-wrapper .hover-content {
  opacity: 1;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item.selected .item-image-wrapper .hover-content {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item.selected .item-image-wrapper .hover-content svg {
  opacity: 1;
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item.selected:hover .item-image-wrapper .hover-content {
  background-color: rgba(255, 255, 255, 0.7);
}
html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item.selected:hover .item-image-wrapper .hover-content svg {
  opacity: 1;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .select-categories-pane .categories-list .category-item .item-title {
    margin-bottom: 15px;
  }
}
html body .site-wrapper.page .site-content .select-categories-pane .footer-btn-wrapper {
  text-align: center;
}
html body .site-wrapper.page .site-content .select-categories-pane .footer-btn-wrapper .show-me-btn {
  width: 800px;
  max-width: 100%;
  padding: 10px 10px;
}
html body .site-wrapper.page .site-content .select-categories-pane .footer-btn-wrapper .show-me-btn .inactive-txt {
  display: none;
}
html body .site-wrapper.page .site-content .select-categories-pane .footer-btn-wrapper .show-me-btn[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}
html body .site-wrapper.page .site-content .select-categories-pane .footer-btn-wrapper .show-me-btn[disabled] .inactive-txt {
  display: inline;
}
html body .site-wrapper.page .site-content .select-categories-pane .footer-btn-wrapper .show-me-btn[disabled] .active-txt {
  display: none;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .select-categories-pane .categories-list {
    width: 250px;
    max-width: 100%;
    margin: 0px auto;
  }
}
html body .site-wrapper.page .site-content .select-series-pane {
  width: 1500px;
  max-width: 100%;
  margin: 0px auto;
  padding: 60px 10px 20px;
}
html body .site-wrapper.page .site-content .select-series-pane .pane-title {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #737661;
  text-align: center;
  line-height: 1.5;
}
html body .site-wrapper.page .site-content .select-series-pane .search-input-wrapper {
  margin-bottom: 20px;
  text-align: center;
}
html body .site-wrapper.page .site-content .select-series-pane .search-input-wrapper input {
  width: 450px;
  max-width: 100%;
  padding: 5px 0px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1fcd98;
  font-size: 1.4rem;
}
html body .site-wrapper.page .site-content .select-series-pane .search-input-wrapper input:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .select-series-pane .search-input-wrapper button.search-submit-button {
  border: none;
  background: none;
}
html body .site-wrapper.page .site-content .select-series-pane .search-input-wrapper button.search-submit-button svg {
  width: 20px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .select-series-pane .search-input-wrapper button.search-submit-button:hover svg path {
  fill: #1eb785;
}
html body .site-wrapper.page .site-content .select-series-pane .search-input-wrapper button.search-submit-button:focus {
  border: none;
  outline: none;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .select-series-pane .search-input-wrapper {
    width: 100%;
  }
}
html body .site-wrapper.page .site-content .select-series-pane .btn-wrapper {
  margin-bottom: 40px;
  text-align: center;
}
html body .site-wrapper.page .site-content .select-series-pane .btn-wrapper button {
  padding-right: 50px;
}
html body .site-wrapper.page .site-content .select-series-pane .btn-wrapper button svg {
  opacity: 0;
  width: 30px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .select-series-pane .btn-wrapper button span {
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .select-series-pane .btn-wrapper button.selected svg {
  opacity: 1;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list {
  margin-bottom: 20px;
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article {
  margin-bottom: 15px;
  padding: 5px 13px;
  flex-basis: calc(100% / 5);
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper {
  position: relative;
  margin-bottom: 17px;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .item-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1600px) {
  html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .item-image {
    height: 170px;
  }
}
@media only screen and (max-width: 1600px) {
  html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .item-image {
    height: 150px;
  }
}
@media only screen and (max-width: 1400px) {
  html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .item-image {
    height: 140px;
  }
}
@media only screen and (max-width: 1280px) {
  html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .item-image {
    height: 128px;
  }
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .check-mark-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .check-mark-wrapper svg {
  width: 100px;
  max-width: 100%;
  opacity: 0;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .check-mark-wrapper svg g, html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .check-mark-wrapper svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .hover-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .hover-content .footer-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .hover-content .footer-buttons a {
  display: block;
  padding: 5px;
  background-color: #1fcd98;
  color: white;
  text-align: center;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .hover-content .footer-buttons a svg {
  display: none;
  width: 18px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .hover-content .footer-buttons a svg path {
  fill: white;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .hover-content .footer-buttons a svg.preview-icon, html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
  display: inline;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .hover-content .footer-buttons a:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-image-wrapper .hover-content .footer-buttons .flex-row .last-col {
  margin-left: 2px;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .child-count-wrapper {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .child-count-wrapper .child-count {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #c8cbba;
  color: white;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-title {
  font-size: 1.4rem;
  font-weight: bold;
  height: auto;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-category-wrapper {
  display: none;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-category-wrapper .item-category {
  font-size: 1.5rem;
  color: #c8cabc;
  text-decoration: underline;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-category-wrapper .item-category:hover {
  color: #737661;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article:hover .item-image-wrapper .hover-content, html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article:active .item-image-wrapper .hover-content {
  opacity: 1;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article.purchased .item-image-wrapper .check-mark-wrapper svg {
  opacity: 1;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article.purchased .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
  display: none;
}
html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article.purchased .item-image-wrapper .hover-content .footer-buttons a svg.purchased-icon {
  display: inline;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .select-series-pane .series-list .series-article .item-title {
    margin-bottom: 15px;
  }
}
html body .site-wrapper.page .site-content .select-series-pane .pane-footer {
  text-align: center;
}
html body .site-wrapper.page .site-content .select-series-pane .pane-footer .load-more-status {
  height: 64px;
  text-align: center;
}
html body .site-wrapper.page .site-content .select-series-pane .pane-footer .load-more-status span {
  cursor: pointer;
  font-size: 1.5rem;
  color: #1fcd98;
  vertical-align: middle;
  font-style: italic;
}
html body .site-wrapper.page .site-content .select-series-pane .pane-footer .load-more-status .lds-ellipsis {
  display: none;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .select-series-pane .pane-footer .load-more-status.status-loading span {
  display: none;
}
html body .site-wrapper.page .site-content .select-series-pane .pane-footer .load-more-status.status-loading .lds-ellipsis {
  display: inline-block;
}
html body .site-wrapper.page .site-content .select-series-pane .pane-footer .let-go-btn {
  padding: 10px 50px;
}
html body .site-wrapper.page .site-content .select-series-pane .pane-footer .let-go-btn .inactive-txt {
  display: none;
}
html body .site-wrapper.page .site-content .select-series-pane .pane-footer .let-go-btn[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}
html body .site-wrapper.page .site-content .select-series-pane .pane-footer .let-go-btn[disabled] .inactive-txt {
  display: inline;
}
html body .site-wrapper.page .site-content .select-series-pane .pane-footer .let-go-btn[disabled] .active-txt {
  display: none;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .select-series-pane .series-list {
    width: 250px;
    max-width: 100%;
    margin: 0px auto;
  }
}
html body #add-goal-modal {
  z-index: 500;
}
html body #add-goal-modal .modal-dialog .modal-content {
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
html body #add-goal-modal .modal-dialog .modal-content .modal-close {
  display: block;
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 1;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-close:before {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #1fcd98;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: rotate(45deg);
}
html body #add-goal-modal .modal-dialog .modal-content .modal-close:after {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #1fcd98;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: rotate(-45deg);
}
html body #add-goal-modal .modal-dialog .modal-content .modal-close:hover:before, html body #add-goal-modal .modal-dialog .modal-content .modal-close:hover:after {
  background-color: #1eb785;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper {
  max-width: 420px;
  margin: 0px auto;
  padding: 40px 0px;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header {
  margin-bottom: 50px;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .filter-name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0px 0px 15px;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .goal-date {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  padding-bottom: 1px;
  font-size: 1.5rem;
  color: #737661;
  text-decoration: none;
  vertical-align: middle;
  opacity: 0.7;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .goal-date:after {
  content: "";
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background-color: #737661;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .goal-date:hover, html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .goal-date.active {
  opacity: 1;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .goal-date:hover:after, html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .goal-date.active:after {
  display: block;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .goal-date svg {
  width: 20px;
  height: 20px;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .goal-date[data-when=calendar] {
  position: relative;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .goal-date[data-when=calendar] input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
  background-color: transparent;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .goal-date[data-when=calendar] input:focus {
  outline: none;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .goal-date[data-when=calendar].added svg {
  display: none;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .content-header .goal-date[data-when=calendar].added input {
  position: relative;
  width: 110px;
  height: auto;
  opacity: 1;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .multi-line-background {
  margin-bottom: 20px;
  overflow: hidden;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .multi-line-background textarea {
  height: 180px;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .multi-line-background textarea:invalid:focus {
  border-color: transparent;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .multi-line-background textarea::placeholder {
  color: #d4d6c9;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .multi-line-background .background-placeholder {
  top: -30px;
  height: calc(100% + 30px);
  font-size: 1rem;
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 65px, #1fcd98 66px);
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .button-wrapper .add-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 290px;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .button-wrapper .add-btn:hover {
  background-color: #1eb785;
}
html body #add-goal-modal .modal-dialog .modal-content .modal-body .add-goal-wrapper .button-wrapper .add-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
@media all and (min-width: 768px) {
  html body #add-goal-modal .modal-dialog {
    margin-top: 100px;
  }
}
html body .listing-panel {
  position: fixed;
  z-index: 101;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
html body .listing-panel .listing-posts {
  position: relative;
  width: 768px;
  max-width: 100%;
  height: 100%;
  left: 0px;
  padding: 0px;
  z-index: 300;
  background-color: #f6fffc;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
}
html body .listing-panel .listing-posts header.listing-posts-header {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  padding: 15px 50px 15px 10px;
}
html body .listing-panel .listing-posts header.listing-posts-header .title-wrapper .series-title {
  font-size: 3rem;
  font-weight: bold;
}
html body .listing-panel .listing-posts header.listing-posts-header .title-wrapper .posts-count {
  margin-left: 10px;
  display: inline-block;
  color: white;
}
html body .listing-panel .listing-posts header.listing-posts-header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
html body .listing-panel .listing-posts header.listing-posts-header .section-close {
  display: block;
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 1;
}
html body .listing-panel .listing-posts header.listing-posts-header .section-close:before {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #1fcd98;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: rotate(45deg);
}
html body .listing-panel .listing-posts header.listing-posts-header .section-close:after {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #1fcd98;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: rotate(-45deg);
}
html body .listing-panel .listing-posts header.listing-posts-header .section-close:hover:before, html body .listing-panel .listing-posts header.listing-posts-header .section-close:hover:after {
  background-color: #1eb785;
}
html body .listing-panel .listing-posts .listing-posts-content {
  padding: 20px 10px 10px 0px;
  flex-grow: 1;
  flex-basis: 100px;
  overflow: auto;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
html body .listing-panel .listing-posts .listing-posts-content .new-title, html body .listing-panel .listing-posts .listing-posts-content .all-title {
  width: calc(100% - 40px);
  margin: 15px auto 10px;
  border-bottom: 1px dotted #1fcd98;
  font-size: 1.5rem;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list {
  list-style: none;
  padding-left: 10px;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li {
  margin-bottom: 25px;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .item-img {
  width: 85px;
  height: 50px;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper {
  width: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 5px;
  z-index: 2;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state {
  display: none;
  position: relative;
  top: 2px;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.complete-state {
  width: 20px;
  height: auto;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.complete-state g, html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.complete-state path {
  fill: #1fcd98;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.current-state {
  width: 10px;
  height: 10px;
  border: 3px solid #1fcd98;
  background-color: white;
  border-radius: 50%;
  box-sizing: content-box;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.normal-state {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1fcd98;
  opacity: 0.8;
  box-sizing: content-box;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper.state-complete .complete-state {
  display: block;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper.state-normal .normal-state {
  display: block;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper.state-current .current-state {
  display: block;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper:after {
  z-index: 1;
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: calc(100% + 20px);
  top: 17px;
  left: 50%;
  background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  opacity: 0.7;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper {
  display: inline-block;
  margin-right: 10px;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper i {
  display: none;
  font-size: 1.5rem;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-0 .audio-icon {
  display: initial;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-2 .video-icon {
  display: initial;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-7 .text-icon, html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-10 .text-icon, html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-8 .text-icon, html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-9 .text-icon {
  display: initial;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .item-title {
  font-size: 1.5rem;
  color: #737661;
}
html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list li:last-child .item-view-states-wrapper:after {
  display: none;
}
html body .listing-panel .listing-posts .listing-posts-content .purchased-structure-tree-component > ul.posts-list {
  padding-left: 0px;
}
html body .listing-panel .listing-posts .listing-posts-content .purchased-structure-tree-component > ul.posts-list > li > .post-row-inner .post-title {
  display: none;
}
html body .listing-panel .listing-posts .listing-posts-content .new-title, html body .listing-panel .listing-posts .listing-posts-content .all-title, html body .listing-panel .listing-posts .listing-posts-content ul.unread-posts-list {
  display: none;
}
html body .listing-panel .listing-posts .listing-posts-content::-webkit-scrollbar {
  width: 8px;
}
html body .listing-panel .listing-posts .listing-posts-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
html body .listing-panel .listing-posts .listing-posts-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cacac0;
}
html body .listing-panel .listing-posts.collapsed {
  left: -768px;
}
@media screen and (max-width: 768px) {
  html body .listing-panel .listing-posts.collapsed {
    left: -100%;
  }
}
html body .listing-panel .listing-posts.has-new .listing-posts-content .new-title, html body .listing-panel .listing-posts.has-new .listing-posts-content .all-title, html body .listing-panel .listing-posts.has-new .listing-posts-content ul.unread-posts-list {
  display: block;
}
@media screen and (max-width: 768px) {
  html body .listing-panel .listing-posts {
    left: 0px;
  }
}
html body.listing-opened {
  overflow: hidden;
}

/*# sourceMappingURL=my-solutions-page.css.map */
