html body .site-wrapper.page .site-content {
  text-align: left; }
  html body .site-wrapper.page .site-content .filter-wrapper {
    padding: 50px 70px 30px;
    background-color: #f6fffc;
    position: relative; }
    html body .site-wrapper.page .site-content .filter-wrapper:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
      background-size: 5px 1px;
      background-repeat: repeat-x; }
    html body .site-wrapper.page .site-content .filter-wrapper .filter-content {
      max-width: 100%;
      margin: 0px auto;
      text-align: left; }
      html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-notes .filter-name {
        margin: 0px 0px 15px;
        font-size: 3rem;
        font-weight: bold; }
      html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-notes .filter-category {
        display: block;
        text-decoration: none;
        position: relative;
        margin: 0px 5px 10px;
        padding-bottom: 1px;
        font-size: 1.5rem;
        color: #737661;
        opacity: .6; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-notes .filter-category:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 100%;
          height: 1px;
          background-color: #737661; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-notes .filter-category:hover {
          opacity: 1; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-notes .filter-category.active {
          opacity: 1; }
      html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by {
        text-align: left; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .filter-name {
          margin: 0px 0px 15px;
          font-size: 1.5em; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown {
          display: inline-block; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button {
            background-color: transparent;
            color: inherit;
            border-radius: 9px; }
            html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button span {
              display: inline-block;
              width: 80px;
              color: inherit;
              text-align: left; }
            html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button svg {
              width: 15px;
              vertical-align: middle; }
            html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button:focus {
              outline: none; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown ul {
            width: 100%;
            min-width: 0px;
            margin-top: 0px;
            border-top: 0px;
            border-radius: 9px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            background-color: #f6fffc; }
            html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown ul li a {
              color: inherit; }
              html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown ul li a:hover {
                background-color: #737661;
                color: white; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown.open button {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px; }
      html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown {
        display: inline-block; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button {
          background-color: transparent;
          color: inherit;
          border-radius: 9px; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button span {
            display: inline-block;
            width: 150px;
            color: inherit;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button svg {
            width: 15px;
            vertical-align: middle; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button:focus {
            outline: none; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown ul {
          width: 100%;
          min-width: 0px;
          margin-top: 0px;
          border-top: 0px;
          border-radius: 9px;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          background-color: #f6fffc; }
          html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown ul li a {
            color: inherit;
            overflow: hidden;
            text-overflow: ellipsis; }
            html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown ul li a:hover {
              background-color: #737661;
              color: white; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown.open button {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px; }
    @media all and (max-width: 768px) {
      html body .site-wrapper.page .site-content .filter-wrapper {
        padding: 30px 10px 20px; }
        html body .site-wrapper.page .site-content .filter-wrapper .filter-content .my-notes .filter-name {
          margin: 10px 0px; }
        html body .site-wrapper.page .site-content .filter-wrapper:after {
          display: none; } }
  html body .site-wrapper.page .site-content main.main-content {
    max-width: 100%;
    min-height: 500px;
    margin: 0px auto;
    padding: 20px 75px; }
    html body .site-wrapper.page .site-content main.main-content .series-col {
      flex-basis: 200px; }
      html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list {
        list-style: none;
        padding-left: 0px;
        transition: all .3s ease-out; }
        html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li {
          margin-bottom: 5px;
          font-size: 1.6rem;
          line-height: 1; }
          html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a {
            color: inherit;
            text-decoration: none;
            display: inline-flex; }
            html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a i {
              font-size: .8rem;
              font-weight: bold;
              top: 8px;
              left: 0px;
              transition: all .1s ease-out; }
            html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a span {
              margin-left: 10px;
              line-height: 1.4; }
            html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a:hover {
              color: black; }
              html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a:hover i {
                left: 5px; }
          html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li.level-0 i {
            color: #1fcd98; }
          html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li.level-1 i {
            color: #f26d7e; }
          html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li.active a {
            color: black; }
            html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li.active a i {
              left: 5px; }
        @media all and (max-width: 768px) {
          html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list {
            overflow: auto;
            padding: 15px 0px;
            background-color: #1fcd98;
            overflow-scrolling: touch;
            -webkit-overflow-scrolling: touch;
            margin: 0px -20px 0px; }
            html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li {
              padding: 0px 15px;
              font-size: 1.7rem;
              line-height: 1.1;
              color: white;
              border-left: 1px solid white;
              text-decoration: none; }
              html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a {
                color: inherit;
                text-decoration: none;
                white-space: pre; }
                html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a span {
                  margin-left: 10px; }
                html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li a:hover {
                  color: white; }
              html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li.active a {
                color: white;
                font-weight: bold; }
              html body .site-wrapper.page .site-content main.main-content .series-col ul.series-list li.all-item {
                border-left: none; } }
    html body .site-wrapper.page .site-content main.main-content .current-series {
      margin: 0px -20px;
      padding: 30px 40px 20px;
      background-color: #f6fffc;
      font-size: 2.5rem; }
    html body .site-wrapper.page .site-content main.main-content .posts-col {
      margin-left: 50px; }
      html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container {
        transition: all .3s ease-out; }
        html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item {
          margin-bottom: 10px; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner {
            margin-bottom: 10px; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner .item-img {
              display: block;
              width: 90px;
              height: 60px;
              margin-top: 30px; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner .item-inner-content .to-wrapper {
              margin-bottom: 5px;
              color: #1fcd98;
              font-size: 1.5rem; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner .item-inner-content .to-wrapper .media-icon-wrapper i.fa {
                display: none;
                vertical-align: middle; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner .item-inner-content .title-wrapper {
              margin-bottom: 5px; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner .item-inner-content .title-wrapper .item-title {
                color: #737661;
                font-size: 1.5rem;
                font-weight: bold; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner .item-inner-content .title-wrapper .divide-aside {
                font-size: 1.5rem; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner .item-inner-content .title-wrapper .item-duration {
                vertical-align: middle; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner .item-inner-content .item-series-wrapper .item-series {
              color: #c8cabc;
              margin-bottom: 1px;
              font-size: 1.3rem; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner .item-inner-content .item-series-wrapper .item-series:hover, html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner .item-inner-content .item-series-wrapper .item-series:focus {
                text-decoration: none;
                color: #737661; }
                html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner .item-inner-content .item-series-wrapper .item-series:hover:after, html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner .item-inner-content .item-series-wrapper .item-series:focus:after {
                  background-color: #737661; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner.type-0 .item-inner-content .to-wrapper .media-icon-wrapper i.fa.audio-icon {
              display: initial;
              vertical-align: middle; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner.type-2 .item-inner-content .to-wrapper .media-icon-wrapper i.fa.video-icon {
              display: initial;
              vertical-align: middle; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner.type-7 .item-inner-content .to-wrapper .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner.type-10 .item-inner-content .to-wrapper .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .item-inner.type-8 .item-inner-content .to-wrapper .media-icon-wrapper i.fa.text-icon {
              display: initial;
              vertical-align: middle; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list {
            padding-left: 100px; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item {
              border: 1px solid transparent; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .drag-icon-wrapper {
                cursor: pointer; }
                html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .drag-icon-wrapper svg {
                  width: 30px;
                  height: 30px; }
                  html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .drag-icon-wrapper svg g, html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .drag-icon-wrapper svg path {
                    fill: #1fcd98; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .note-content-wrapper {
                padding-bottom: 15px; }
                html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .note-content-wrapper .note-content {
                  margin-bottom: 5px;
                  font-size: 1.5rem; }
                html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .note-content-wrapper .actions-container .item-action {
                  display: block;
                  line-height: 0; }
                  html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .note-content-wrapper .actions-container .item-action svg {
                    width: 25px;
                    height: 25px; }
                    html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .note-content-wrapper .actions-container .item-action svg g, html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .note-content-wrapper .actions-container .item-action svg path {
                      fill: #1fcd98; }
                  html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .note-content-wrapper .actions-container .item-action.edit-action {
                    display: flex;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 1px solid #1fcd98; }
                    html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .note-content-wrapper .actions-container .item-action.edit-action svg {
                      width: 12px;
                      height: 12px; }
                  html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .note-content-wrapper .actions-container .item-action:hover svg g, html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .note-content-wrapper .actions-container .item-action:hover svg path {
                    fill: #1eb785; }
                  html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list .note-item .note-content-wrapper .actions-container .item-action:hover.edit-action {
                    border-color: #1eb785; }
          @media all and (max-width: 768px) {
            html body .site-wrapper.page .site-content main.main-content .posts-col .posts-container .post-item .notes-list {
              padding-left: 30px; } }
      html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content {
        width: 500px;
        max-width: 100%;
        margin: 0px auto;
        padding: 30px 0px; }
        html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form {
          display: block;
          width: 100%; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group label.control-label {
            display: block;
            position: relative;
            padding: 7px 15px 0px 0px;
            font-weight: normal;
            font-size: 1.5rem; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group label.control-label.required:after {
              content: "*";
              position: absolute;
              top: 0px;
              right: 0px;
              color: #f26d7e; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group label.control-label.margin-bottom {
              margin-bottom: 10px; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group label.control-label.margin-bottom-2 {
              margin-bottom: 15px; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group input {
            padding-left: 0px;
            border: none;
            border-bottom: 1px solid #c8cabc;
            box-shadow: none;
            border-radius: 0px;
            font-size: 1.5rem; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group input::placeholder {
              color: #c8cabc; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group input[name="strSeries_title"] {
              max-width: 385px; }
          html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .button-wrapper {
            margin-top: 40px;
            text-align: center; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .button-wrapper .save-btn {
              background-color: #1fcd98;
              border: none;
              outline: none;
              color: white;
              display: block;
              width: 290px;
              margin: 0px auto;
              text-align: center;
              padding: 12px 5px;
              border-radius: 30px;
              font-size: 2rem;
              font-weight: lighter; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .button-wrapper .save-btn:hover {
                background-color: #1eb785; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .button-wrapper .save-btn.small {
                display: inline-block;
                width: auto;
                padding: 10px 30px;
                font-size: 1.5rem; }
            html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .button-wrapper .preview-post {
              display: inline-block;
              margin-top: 5px;
              color: #737661;
              text-decoration: none;
              padding-bottom: 1px; }
              html body .site-wrapper.page .site-content main.main-content .posts-col .note-editor .modal-dialog .modal-content .modal-body .post-editor-content form .button-wrapper .preview-post:hover {
                color: black; }
      @media all and (max-width: 768px) {
        html body .site-wrapper.page .site-content main.main-content .posts-col {
          margin-left: 0px; } }
    @media all and (max-width: 768px) {
      html body .site-wrapper.page .site-content main.main-content {
        padding: 0px 20px 20px; } }
  html body .site-wrapper.page .site-content .no-content-wrapper {
    display: none;
    width: 1650px;
    max-width: 90%;
    margin: 100px auto;
    background-color: #f26d7e;
    padding: 50px 30px 20px;
    border-radius: 25px;
    color: white; }
    html body .site-wrapper.page .site-content .no-content-wrapper .no-content-txt-wrapper {
      text-align: center; }
      html body .site-wrapper.page .site-content .no-content-wrapper .no-content-txt-wrapper .you-not-txt {
        font-weight: bold;
        font-size: 3.3rem;
        line-height: 1.5;
        margin-bottom: 50px; }
      html body .site-wrapper.page .site-content .no-content-wrapper .no-content-txt-wrapper .to-add-txt {
        width: 540px;
        max-width: 100%;
        margin: 0px auto 20px;
        font-size: 3rem;
        line-height: 1.5; }
    html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper {
      position: relative;
      text-align: center; }
      html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .background-img {
        max-width: 100%; }
      html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        padding-bottom: 50px; }
        html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .note-icon {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          padding: 10px 10px;
          background-color: #c8cabc;
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          border: 1px solid white;
          color: white;
          cursor: pointer; }
          html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .note-icon svg {
            width: 60%;
            height: auto; }
            html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .note-icon svg g, html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .note-icon svg path {
              fill: white; }
    html body .site-wrapper.page .site-content .no-content-wrapper .to-add-txt-mobile {
      text-align: center;
      width: 540px;
      max-width: 100%;
      margin: 20px auto 0px;
      font-size: 2rem;
      line-height: 1.5; }
    @media all and (max-width: 768px) {
      html body .site-wrapper.page .site-content .no-content-wrapper {
        max-width: calc(100% - 20px);
        margin: 30px auto;
        padding: 30px 10px 20px; }
        html body .site-wrapper.page .site-content .no-content-wrapper .no-content-txt-wrapper .you-not-txt {
          font-size: 2.5rem;
          line-height: 1.5;
          margin-bottom: 30px; }
        html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper {
          padding-bottom: 50px; }
          html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item {
            width: calc(100px - 60 * (768px - 100vw) / 768);
            height: calc(100px - 60 * (768px - 100vw) / 768); }
            html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper .action-item svg {
              width: 60%;
              max-height: 60%; } }
  html body .site-wrapper.page .site-content.no-content .no-content-wrapper {
    display: block; }
  html body .site-wrapper.page .site-content.no-content .d-no-content-none {
    display: none !important; }

/*# sourceMappingURL=my_notes-page.css.map */
