@import "../../config/css/colors.scss";

html{
    body{
        .site-wrapper.page{
            .site-content{
                text-align: left;
                .filter-wrapper{
                    padding: 50px 70px 30px;
                    background-color: $lightGreen;
                    position: relative;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
                        background-size: 5px 1px;
                        background-repeat: repeat-x;
                    }
                    .filter-content{
                        max-width: 100%;
                        margin: 0px auto;
                        text-align: left;
                        .my-notes{
                            .filter-name{
                                margin: 0px 0px 15px;
                                font-size: 3rem;
                                font-weight: bold;
                            }
                            .filter-category{
                                display: block;
                                text-decoration: none;
                                position: relative;
                                margin: 0px 5px 10px;
                                padding-bottom: 1px;
                                font-size: 1.5rem;
                                color: $contentColor;
                                opacity: .6;
                                &:after{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    bottom: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 1px;
                                    background-color: $contentColor;
                                }
                                &:hover{
                                    opacity: 1;
                                }
                                &.active{
                                    opacity: 1;
                                }
                            }
                        }
                        .sort-by{
                            text-align: left;
                            .filter-name{
                                margin: 0px 0px 15px;
                                font-size: 1.5em;
                            }
                            .dropdown{
                                display: inline-block;
                                button{
                                    background-color: transparent;
                                    color: inherit;
                                    border-radius: 9px;
                                    span{
                                        display: inline-block;
                                        width: 80px;
                                        color: inherit;
                                        text-align: left;
                                    }
                                    svg{
                                        width: 15px;
                                        vertical-align: middle;
                                    }
                                    &:focus{
                                        outline: none;
                                    }
                                }
                                ul{
                                    width: 100%;
                                    min-width: 0px;
                                    margin-top: 0px;
                                    border-top: 0px;
                                    border-radius: 9px;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;
                                    background-color: #f6fffc;
                                    li{
                                        a{
                                            color: inherit;
                                            &:hover{
                                                background-color: $contentColor;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                                &.open{
                                    button{
                                        border-bottom-left-radius: 0px;
                                        border-bottom-right-radius: 0px;
                                    }
                                }
                            }
                        }
                        .categories-container-mobile{
                            .dropdown{
                                display: inline-block;
                                button{
                                    background-color: transparent;
                                    color: inherit;
                                    border-radius: 9px;
                                    span{
                                        display: inline-block;
                                        width: 150px;
                                        color: inherit;
                                        text-align: left;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        vertical-align: middle;
                                    }
                                    svg{
                                        width: 15px;
                                        vertical-align: middle;
                                    }
                                    &:focus{
                                        outline: none;
                                    }
                                }
                                ul{
                                    width: 100%;
                                    min-width: 0px;
                                    margin-top: 0px;
                                    border-top: 0px;
                                    border-radius: 9px;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;
                                    background-color: #f6fffc;
                                    li{
                                        a{
                                            color: inherit;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            &:hover{
                                                background-color: $contentColor;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                                &.open{
                                    button{
                                        border-bottom-left-radius: 0px;
                                        border-bottom-right-radius: 0px;
                                    }
                                }
                            }
                        }
                    }
                    @media all and (max-width: 768px){
                        padding: 30px 10px 20px;
                        .filter-content{
                            .my-notes{
                                .filter-name{
                                    margin: 10px 0px;
                                }
                            }
                        }
                        &:after{
                            display: none;
                        }
                    }
                }
                main.main-content{
                    max-width: 100%;
                    min-height: 500px;
                    margin: 0px auto;
                    padding: 20px 75px;
                    .series-col{
                        flex-basis: 200px;
                        ul.series-list{
                            list-style: none;
                            padding-left: 0px;
                            transition: all .3s ease-out;
                            li{
                                margin-bottom: 5px;
                                font-size: 1.6rem;
                                line-height: 1;
                                a{
                                    color: inherit;
                                    text-decoration: none;
                                    display: inline-flex;
                                    i{
                                        font-size: .8rem;
                                        font-weight: bold;
                                        top: 8px;
                                        left: 0px;
                                        transition: all .1s ease-out;
                                    }
                                    span{
                                        margin-left: 10px;
                                        line-height: 1.4;
                                    }
                                    &:hover{
                                        color: black;
                                        i{
                                            left: 5px;
                                        }
                                    }
                                }
                                &.level-0{
                                    i{
                                        color: $greenColor;
                                    }
                                }
                                &.level-1{
                                    i{
                                        color: $redColor;
                                    }
                                }
                                &.active{
                                    a{
                                        color: black;
                                        i{
                                            left: 5px;
                                        }
                                    }
                                }
                            }
                            @media all and (max-width: 768px){
                                overflow: auto;
                                padding: 15px 0px;
                                background-color: $greenColor;
                                overflow-scrolling: touch;
                                -webkit-overflow-scrolling: touch;
                                margin: 0px -20px 0px;
                                li{
                                    padding: 0px 15px;
                                    font-size: 1.7rem;
                                    line-height: 1.1;
                                    color: white;
                                    border-left: 1px solid white;
                                    text-decoration: none;
                                    a{
                                        color: inherit;
                                        text-decoration: none;
                                        white-space: pre;
                                        span{
                                            margin-left: 10px;
                                        }
                                        &:hover{
                                            color: white;
                                        }
                                    }
                                    &.active{
                                        a{
                                            color: white;
                                            font-weight: bold;
                                        }
                                    }
                                    &.all-item{
                                        border-left: none;
                                    }
                                }
                            }
                        }
                    }
                    .current-series{
                        margin: 0px -20px;
                        padding: 30px 40px 20px;
                        background-color: $lightGreen;
                        font-size: 2.5rem;
                    }
                    .posts-col{
                        margin-left: 50px;
                        .posts-container{
                            transition: all .3s ease-out;
                            .post-item{
                                margin-bottom: 10px;
                                .item-inner{
                                    margin-bottom: 10px;
                                    .item-img{
                                        display: block;
                                        width: 90px;
                                        height: 60px;
                                        margin-top: 30px;
                                    }
                                    .item-inner-content{
                                        .to-wrapper{
                                            margin-bottom: 5px;
                                            color: $greenColor;
                                            font-size: 1.5rem;
                                            .media-icon-wrapper{
                                                i.fa{
                                                    display: none;
                                                    vertical-align: middle;
                                                }
                                            }
                                        }
                                        .title-wrapper{
                                            margin-bottom: 5px;
                                            .item-title{
                                                color: $contentColor;
                                                font-size: 1.5rem;
                                                font-weight: bold;
                                            }
                                            .divide-aside{
                                                font-size: 1.5rem;
                                            }
                                            .item-duration{
                                                vertical-align: middle;
                                            }
                                        }
                                        .item-series-wrapper{
                                            .item-series{
                                                color: $lightGrey;
                                                margin-bottom: 1px;
                                                font-size: 1.3rem;
                                                &:hover, &:focus{
                                                    text-decoration: none;
                                                    color: $contentColor;
                                                    &:after{
                                                        background-color: $contentColor;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.type-0{
                                        .item-inner-content{
                                            .to-wrapper{
                                                .media-icon-wrapper{
                                                    i.fa.audio-icon{
                                                        display: initial;
                                                        vertical-align: middle;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.type-2{
                                        .item-inner-content{
                                            .to-wrapper{
                                                .media-icon-wrapper{
                                                    i.fa.video-icon{
                                                        display: initial;
                                                        vertical-align: middle;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.type-7, &.type-10, &.type-8{
                                        .item-inner-content{
                                            .to-wrapper{
                                                .media-icon-wrapper{
                                                    i.fa.text-icon{
                                                        display: initial;
                                                        vertical-align: middle;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .notes-list{
                                    padding-left: 100px;
                                    .note-item{
                                        border: 1px solid transparent;
                                        .drag-icon-wrapper{
                                            cursor: pointer;
                                            svg{
                                                width: 30px;
                                                height: 30px;
                                                g, path{
                                                    fill: $greenColor;
                                                }
                                            }
                                        }
                                        .note-content-wrapper{
                                            padding-bottom: 15px;
                                            .note-content{
                                                margin-bottom: 5px;
                                                font-size: 1.5rem;
                                            }
                                            .actions-container{
                                                .item-action{
                                                    display: block;
                                                    line-height: 0;
                                                    svg{
                                                        width: 25px;
                                                        height: 25px;
                                                        g, path {
                                                            fill: $greenColor;
                                                        }
                                                    }
                                                    &.edit-action {
                                                        display: flex;
                                                        width: 25px;
                                                        height: 25px;
                                                        border-radius: 50%;
                                                        border: 1px solid $greenColor;
                                                        svg {
                                                            width: 12px;
                                                            height: 12px;
                                                        }
                                                    }
                                                    &:hover{
                                                        svg{
                                                            g, path {
                                                                fill: $greenHover;
                                                            }
                                                        }
                                                        &.edit-action {
                                                            border-color: $greenHover;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                @media all and (max-width: 768px) {
                                    .notes-list{
                                        padding-left: 30px;
                                    }
                                }
                            }
                        }
                        .note-editor{
                            .modal-dialog{
                                .modal-content{
                                    .modal-body{
                                        .post-editor-content{
                                            width: 500px;
                                            max-width: 100%;
                                            margin: 0px auto;
                                            padding: 30px 0px;
                                            form{
                                                display: block;
                                                width: 100%;
                                                .form-group{
                                                    label.control-label{
                                                        display: block;
                                                        position: relative;
                                                        padding: 7px 15px 0px 0px;
                                                        font-weight: normal;
                                                        font-size: 1.5rem;
                                                        &.required:after {
                                                            content: "*";
                                                            position: absolute;
                                                            top: 0px;
                                                            right: 0px;
                                                            color: $redColor;
                                                        }
                                                        &.margin-bottom{
                                                            margin-bottom: 10px;
                                                        }
                                                        &.margin-bottom-2{
                                                            margin-bottom: 15px;
                                                        }
                                                    }
                                                    input{
                                                        padding-left: 0px;
                                                        border: none;
                                                        border-bottom: 1px solid $lightGrey;
                                                        box-shadow: none;
                                                        border-radius: 0px;
                                                        font-size: 1.5rem;
                                                        &::placeholder{
                                                            color: $lightGrey;
                                                        }
                                                        &[name="strSeries_title"]{
                                                            max-width: 385px;
                                                        }
                                                    }
                                                }
                                                .button-wrapper{
                                                    margin-top: 40px;
                                                    text-align: center;
                                                    .save-btn{
                                                        background-color: $greenColor;
                                                        border: none;
                                                        outline: none;
                                                        color: white;
                                                        display: block;
                                                        width: 290px;
                                                        margin: 0px auto;
                                                        text-align: center;
                                                        padding: 12px 5px;
                                                        border-radius: 30px;
                                                        font-size: 2rem;
                                                        font-weight: lighter;
                                                        &:hover{
                                                            background-color: $greenHover;
                                                        }
                                                        &.small{
                                                            display: inline-block;
                                                            width: auto;
                                                            padding: 10px 30px;
                                                            font-size: 1.5rem;
                                                        }
                                                    }
                                                    .preview-post{
                                                        display: inline-block;
                                                        margin-top: 5px;
                                                        color: $contentColor;
                                                        text-decoration: none;
                                                        padding-bottom: 1px;
                                                        &:hover{
                                                            color: black;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        @media all and (max-width: 768px) {
                            margin-left: 0px;
                        }
                    }
                    @media all and (max-width: 768px) {
                        padding: 0px 20px 20px;
                    }
                }
                .no-content-wrapper{
                    display: none;
                    width: 1650px;
                    max-width: 90%;
                    margin: 100px auto;
                    background-color: $redColor;
                    padding: 50px 30px 20px;
                    border-radius: 25px;
                    color: white;
                    .no-content-txt-wrapper{
                        text-align: center;
                        .you-not-txt{
                            font-weight: bold;
                            font-size: 3.3rem;
                            line-height: 1.5;
                            margin-bottom: 50px;
                        }
                        .to-add-txt{
                            width: 540px;
                            max-width: 100%;
                            margin: 0px auto 20px;
                            font-size: 3rem;
                            line-height: 1.5;
                        }
                    }
                    .no-content-img-wrapper{
                        position: relative;
                        text-align: center;
                        .background-img{
                            max-width: 100%;
                        }
                        .to-add-icons-wrapper{
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            padding-bottom: 50px;
                            .note-icon{
                                width: 100px;
                                height: 100px;
                                border-radius: 50%;
                                padding: 10px 10px;
                                background-color: #c8cabc;
                                box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
                                border: 1px solid white;
                                color: white;
                                cursor: pointer;
                                svg{
                                    width: 60%;
                                    height: auto;
                                    g, path{
                                        fill: white;
                                    }
                                }
                            }
                        }
                    }
                    .to-add-txt-mobile{
                        text-align: center;
                        width: 540px;
                        max-width: 100%;
                        margin: 20px auto 0px;
                        font-size: 2rem;
                        line-height: 1.5;
                    }
                    @media all and (max-width: 768px) {
                        max-width: calc(100% - 20px);
                        margin: 30px auto;
                        padding: 30px 10px 20px;
                        .no-content-txt-wrapper{
                            .you-not-txt{
                                font-size: 2.5rem;
                                line-height: 1.5;
                                margin-bottom: 30px;
                            }
                        }
                        .no-content-img-wrapper{
                            .background-img{

                            }
                            .to-add-icons-wrapper{
                                padding-bottom: 50px;
                                .action-item{
                                    width: calc(100px - 60 * (768px - 100vw) / 768);
                                    height: calc(100px - 60 * (768px - 100vw) / 768);
                                    svg{
                                        width: 60%;
                                        max-height: 60%;
                                    }
                                }
                            }
                        }
                    }
                }
                &.no-content{
                    .no-content-wrapper{
                        display: block;
                    }
                    .d-no-content-none{
                        display: none !important;
                    }
                }
            }
        }
    }
}