html body .site-wrapper.page .site-content {
  text-align: left;
}
html body .site-wrapper.page .site-content .filter-wrapper {
  padding: 50px 70px 30px;
  background-color: #f6fffc;
  position: relative;
}
html body .site-wrapper.page .site-content .filter-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content {
  max-width: 100%;
  margin: 0px auto;
  text-align: left;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .category-filter-wrapper .my-series-title-wrapper {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .category-filter-wrapper .my-series-title-wrapper .my-series-title {
  margin: 0px;
  font-size: 3rem;
  font-weight: bold;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .category-filter-wrapper .my-series-title-wrapper .create-series {
  display: block;
  margin-left: 20px;
  line-height: 0;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .category-filter-wrapper .my-series-title-wrapper .create-series svg {
  width: 45px;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .category-filter-wrapper .categories-container .filter-category {
  display: block;
  text-decoration: none;
  position: relative;
  margin: 0px 5px 10px;
  padding-bottom: 1px;
  font-size: 1.5rem;
  color: #737661;
  opacity: 0.6;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .category-filter-wrapper .categories-container .filter-category:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #737661;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .category-filter-wrapper .categories-container .filter-category:hover {
  opacity: 1;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .category-filter-wrapper .categories-container .filter-category.active {
  opacity: 1;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown {
  display: inline-block;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button {
  background-color: transparent;
  color: inherit;
  border-radius: 9px;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button span {
  display: inline-block;
  width: 150px;
  color: inherit;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button svg {
  width: 15px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown ul {
  width: 100%;
  min-width: 0px;
  margin-top: 0px;
  border-top: 0px;
  border-radius: 9px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown ul li a {
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown ul li a:hover {
  background-color: #737661;
  color: white;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown.open button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by {
  margin-right: 50px;
  text-align: left;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .filter-name {
  margin: 0px 0px 15px;
  font-size: 1.5em;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown {
  display: inline-block;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button {
  background-color: transparent;
  color: inherit;
  border-radius: 9px;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button span {
  display: inline-block;
  width: 80px;
  color: inherit;
  text-align: left;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button svg {
  width: 15px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown button:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown ul {
  width: 100%;
  min-width: 0px;
  margin-top: 0px;
  border-top: 0px;
  border-radius: 9px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown ul li a {
  color: inherit;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown ul li a:hover {
  background-color: #737661;
  color: white;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .sort-by .dropdown.open button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-name {
  font-size: 3rem;
  font-weight: bold;
  margin: 0px 0px 15px;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-date {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  padding-bottom: 1px;
  color: #737661;
  text-decoration: none;
  vertical-align: middle;
  opacity: 0.7;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-date:after {
  content: "";
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background-color: #737661;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-date:hover, html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-date.active {
  opacity: 1;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-date:hover:after, html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-date.active:after {
  display: block;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-date svg {
  width: 20px;
  height: 20px;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-date[data-when=calendar] {
  position: relative;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-date[data-when=calendar] input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
  background-color: transparent;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-date[data-when=calendar] input:focus {
  outline: none;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-date[data-when=calendar].added svg {
  display: none;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .statistics-wrapper .filter-date[data-when=calendar].added input {
  position: relative;
  width: 90px;
  height: auto;
  opacity: 1;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .series-filter-wrapper {
  overflow: auto;
  padding: 15px 0px;
  background-color: #1fcd98;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  margin: 10px -20px 0px;
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .series-filter-wrapper .filter-item {
  padding: 0px 15px;
  font-size: 1.7rem;
  line-height: 1.1;
  color: white;
  border-left: 1px solid white;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .series-filter-wrapper .filter-item.active {
  font-weight: bolder;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .series-filter-wrapper .filter-item:hover, html body .site-wrapper.page .site-content .filter-wrapper .filter-content .series-filter-wrapper .filter-item:focus, html body .site-wrapper.page .site-content .filter-wrapper .filter-content .series-filter-wrapper .filter-item:active {
  text-decoration: none;
}
html body .site-wrapper.page .site-content .filter-wrapper .filter-content .series-filter-wrapper > .flex-row > .flex-col:first-child .filter-item {
  border-left: 0px;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .filter-wrapper {
    padding: 30px 20px 0px;
  }
  html body .site-wrapper.page .site-content .filter-wrapper .filter-content .category-filter-wrapper .my-series-title-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown {
    display: inline-block;
  }
  html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button {
    background-color: transparent;
    color: inherit;
    border-radius: 9px;
  }
  html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button span {
    display: inline-block;
    width: 150px;
    color: inherit;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
  html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button svg {
    width: 15px;
    vertical-align: middle;
  }
  html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown button:focus {
    outline: none;
  }
  html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown ul {
    width: 100%;
    min-width: 0px;
    margin-top: 0px;
    border-top: 0px;
    border-radius: 9px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #f6fffc;
  }
  html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown ul li a {
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown ul li a:hover {
    background-color: #737661;
    color: white;
  }
  html body .site-wrapper.page .site-content .filter-wrapper .filter-content .categories-container-mobile .dropdown.open button {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
html body .site-wrapper.page .site-content main.main-content {
  width: 1750px;
  max-width: 100%;
  margin: 0px auto;
  padding: 20px 20px;
  text-align: left;
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item {
  margin-bottom: 30px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header {
  padding: 20px 35px 10px;
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .series-title {
  font-size: 2.5rem;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .series-viewed-times {
  font-size: 2.5rem;
  color: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .series-viewed-times .viewed-times-val {
  line-height: 1;
  vertical-align: baseline;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper {
  cursor: pointer;
  position: relative;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper svg {
  width: 45px;
  height: 45px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper svg g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper .add-new-drop-down-wrapper {
  display: none;
  position: absolute;
  top: 63%;
  left: calc((100% - 181px) / 2);
  height: auto;
  padding-top: 15px;
  z-index: 2;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner {
  position: relative;
  background-color: white;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a {
  display: block;
  width: 100%;
  color: #737661;
  text-decoration: none;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col {
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col .item-icon {
  width: 20px;
  height: 20px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col .item-icon g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col .item-icon path, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col .item-icon circle {
  fill: #1fcd98 !important;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a:hover {
  color: black;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner:after {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(100%);
  left: calc((100% - 30px) / 2);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-item-mobile-header .add-post-wrapper:hover .add-new-drop-down-wrapper {
  display: block;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .series-title {
  margin: 0px;
  line-height: 1.42857143;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .series-viewed-times {
  margin-left: 10px;
  font-size: 24px;
  color: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .series-viewed-times .viewed-times-val {
  line-height: 1;
  vertical-align: baseline;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .actions-container .action-item {
  background-color: transparent;
  display: flex;
  line-height: 0;
  border-radius: 50%;
  border: 1px solid #1fcd98;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg {
  width: 25px;
  max-height: 25px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg g {
  fill: #1fcd98 !important;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg path {
  fill: #1fcd98 !important;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg polygon {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg circle {
  fill: #1fcd98 !important;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover {
  border-color: #1eb785;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover svg g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover svg path, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover svg polygon, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover svg circle {
  fill: #1eb785 !important;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-header .actions-container [data-toggle=collapse] {
  border-width: 1px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body {
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper {
  width: 22px;
  height: 48px;
  display: block;
  position: relative;
  bottom: 30px;
  opacity: 0.7;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:before, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:after {
  content: "";
  display: block;
  width: 40%;
  height: 50%;
  position: absolute;
  background-color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:before {
  top: 0px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:after {
  bottom: 0px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper.arrow-left:before {
  right: 0px;
  transform-origin: top right;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper.arrow-left:after {
  right: 0px;
  transform-origin: bottom right;
  -ms-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper.arrow-right:before {
  left: 0px;
  transform-origin: top left;
  -ms-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper.arrow-right:after {
  left: 0px;
  transform-origin: bottom left;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:hover {
  opacity: 1;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list {
  max-width: 100%;
  min-height: 200px;
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item {
  padding: 0px 15px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .media-icon-wrapper i.fa {
  display: none;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action {
  display: block;
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action svg {
  width: 25px;
  height: 25px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action svg g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action.edit-action {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action.edit-action svg {
  width: 12px;
  height: 12px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action:hover svg g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action:hover svg path {
  fill: #737661;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action:hover.edit-action {
  border-color: #737661;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body {
  width: 100%;
  height: calc(100px + 3vw);
  position: relative;
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body .blog-type {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body .blog-type img {
  width: 100%;
  height: 100%;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body .blog-type.type-0 {
  background-image: url("../../images/global-icons/audio-spectr.png");
  background-position: center center;
  background-repeat: no-repeat;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body aside.blog-duration {
  position: absolute;
  bottom: 8px;
  right: 9px;
  padding: 7px 20px;
  z-index: 1;
  background: rgba(227, 228, 220, 0.8);
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.1;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-title {
  color: #737661;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-series-wrapper .item-series {
  color: #c8cabc;
  text-decoration: underline #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-series-wrapper .item-series:hover {
  color: black;
  text-decoration-color: black;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-0 .item-header .media-icon-wrapper i.fa.audio-icon {
  display: initial;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-2 .item-header .media-icon-wrapper i.fa.video-icon {
  display: initial;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-7 .item-header .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-8 .item-header .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-10 .item-header .media-icon-wrapper i.fa.text-icon {
  display: initial;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper {
  margin-left: 20px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper {
  height: 148px;
  margin-bottom: 15px;
  border: 1px dashed #c8cabc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper svg {
  width: 45px;
  height: 45px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper svg g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper .add-new-drop-down-wrapper {
  display: none;
  position: absolute;
  top: 63%;
  left: calc((100% - 181px) / 2);
  height: auto;
  padding-top: 15px;
  z-index: 2;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner {
  position: relative;
  background-color: white;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a {
  display: block;
  width: 100%;
  color: #737661;
  text-decoration: none;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col {
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col .item-icon {
  width: 20px;
  height: 20px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col .item-icon g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col .item-icon path, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col .item-icon circle {
  fill: #1fcd98 !important;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a:hover {
  color: black;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner:after {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(100%);
  left: calc((100% - 30px) / 2);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper:hover .add-new-drop-down-wrapper {
  display: block;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action {
  display: block;
  color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action svg {
  width: 30px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action svg g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action svg path {
  fill: #c8cabc !important;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action span {
  vertical-align: middle;
  text-decoration: underline;
  font-size: 1.2em;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action:hover, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action:focus {
  text-decoration: none;
  color: #737661;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action:hover svg g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action:hover svg path, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action:focus svg g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action:focus svg path {
  fill: #737661 !important;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form {
  margin-left: 40px;
  max-width: 450px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form label {
  font-size: 1.7rem;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form .input-wrapper input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #737661;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form .input-wrapper input:focus {
  outline: none;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form .input-wrapper input::placeholder {
  color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form .input-wrapper button.btn {
  padding: 0px;
  background-color: transparent;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form .input-wrapper button.btn svg {
  width: 30px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form .input-wrapper button.btn:focus {
  outline: none;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper {
  margin-left: 65px;
  width: 350px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .earned-wrapper {
  opacity: 0;
  margin-bottom: 30px;
  color: #feba19;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .earned-wrapper .value-wrapper {
  font-size: 3rem;
  font-weight: bold;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .states-list .state-item .state-icon-wrapper svg {
  width: 30px;
  height: auto;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .states-list .state-item .state-icon-wrapper svg g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .states-list .state-item .state-icon-wrapper svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .states-list .state-item .state-content {
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .states-list .state-item.total-income-state {
  color: #feba19;
  font-weight: bold;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .states-list .state-item.total-income-state .state-icon-wrapper svg {
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .states-list .state-item.total-income-state .state-icon-wrapper svg g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .states-list .state-item.total-income-state .state-icon-wrapper svg path {
  fill: #feba19;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .charge-wrapper .c-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-bottom: 0px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .charge-wrapper .c-switch input {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .charge-wrapper .c-switch input:checked + .slider {
  background-color: transparent;
  border-color: #feba19;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .charge-wrapper .c-switch input:checked + .slider:before {
  background-color: #feba19;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .charge-wrapper .c-switch input:focus + .slider {
  box-shadow: 0 0 1px #6bc069;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .charge-wrapper .c-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .charge-wrapper .c-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .charge-wrapper .c-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: calc((100% - 20px) / 2);
  background-color: #c8cabc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .charge-wrapper .c-switch .slider.round {
  border-radius: 34px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .charge-wrapper .c-switch .slider.round:before {
  border-radius: 50%;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-conversation-col {
  padding-left: 35px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .flex-row .flex-col {
  max-width: 100%;
  min-width: 0px;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper {
    padding: 15px 25px;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body {
    width: 400px;
    max-width: 100%;
    margin: 0px auto 15px;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item {
    padding: 0px 15px;
    font-size: 1.5rem;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header {
    margin-bottom: 10px;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .media-icon-wrapper i.fa {
    display: none;
    vertical-align: middle;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action {
    display: block;
    line-height: 0;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action svg {
    width: 25px;
    height: 25px;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action svg g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action svg path {
    fill: #c8cabc;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action.edit-action {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #c8cabc;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action.edit-action svg {
    width: 12px;
    height: 12px;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action:hover svg g, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action:hover svg path {
    fill: #737661;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action:hover.edit-action {
    border-color: #737661;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body {
    height: calc(200px + 10vw);
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer {
    width: 450px;
    max-width: 100%;
    margin: 50px auto 0px auto;
    background-color: #f26d7e;
    padding: 40px 40px 30px 85px;
    border-radius: 20px;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form {
    position: relative;
    width: 325px;
    max-width: 100%;
    margin: 0px auto;
    color: white;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form .plane-wrapper {
    position: absolute;
    right: calc(100%);
    bottom: 30px;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form .plane-wrapper img {
    height: 150px;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form .to-add-txt {
    font-size: 1.5rem;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-content-wrapper .series-content-footer .invite-friend-form .input-wrapper input {
    background-color: transparent;
    border-bottom-color: #c8cabc;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-conversation-col {
    padding-left: 15px;
    padding-right: 15px;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper {
    margin: 0px;
    width: 100%;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .states-list {
    justify-content: space-around;
    align-items: center;
    background-color: #f6fffc;
    padding: 10px 0px 20px;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .series-income-wrapper .states-list .state-item .state-content {
    font-size: 1.8rem;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item > .flex-row > .content-col {
    order: 2;
    flex-basis: 100% !important;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item > .flex-row > .charge-col {
    order: 1;
    flex-basis: 100% !important;
    flex-grow: 1;
  }
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item > .flex-row > .series-conversation-col {
    order: 3;
  }
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item.series-charged .series-income-wrapper .earned-wrapper {
  opacity: 1;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item.series-charged .series-income-wrapper .charge-wrapper {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal {
  z-index: 500;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content {
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-close {
  display: block;
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 1;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-close:before {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #1fcd98;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: rotate(45deg);
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-close:after {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #1fcd98;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: rotate(-45deg);
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-close:hover:before, html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-close:hover:after {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper {
  max-width: 730px;
  margin: 0px auto;
  padding: 60px 10px 100px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .content-header {
  margin-bottom: 50px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .content-header h3 {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0px 0px 15px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .connect-account-wrapper {
  margin-bottom: 40px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .connect-account-wrapper a {
  margin-right: 10px;
  text-decoration: none;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper {
  margin-bottom: 20px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-name {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: normal;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-name.percent-label {
  margin-bottom: 40px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-name.affiliate-will-get-label {
  margin-bottom: 30px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value {
  display: block;
  width: 100%;
  padding-left: 0px;
  border: none;
  border-bottom: 1px solid #c8cabc;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value:focus {
  outline: none;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value[disabled] {
  background-color: transparent;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value.you-will-get-value {
  color: #feba19;
  border-color: #feba19;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .col-value.affiliate-will-get-value {
  color: #1fcd98;
  border-color: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .c-switch .slider {
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider {
  width: 100%;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider .slider-track .slider-selection {
  background-image: none;
  background-color: yellow;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider .slider-track .slider-track-high {
  background-color: white;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col .slider .slider-handle {
  width: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #ccc;
  background-image: none;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col.toggle-col {
  width: 300px;
  margin-right: 20px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col.toggle-col .get-payment-txt {
  color: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .charge-content .group-row-wrapper .group-col.gets-col {
  margin-left: 20px;
  width: 110px;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .button-wrapper {
  margin-top: 70px;
  text-align: center;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .button-wrapper .save-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 290px;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .button-wrapper .save-btn:hover {
  background-color: #1eb785;
}
html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog .modal-content .modal-body .charge-series-wrapper .button-wrapper .save-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
@media all and (min-width: 768px) {
  html body .site-wrapper.page .site-content main.main-content .series-container .series-item .charge-modal .modal-dialog {
    margin-top: 100px;
  }
}
html body .site-wrapper.page .site-content main.main-content .load-more-status {
  text-align: center;
}
html body .site-wrapper.page .site-content main.main-content .load-more-status span {
  font-size: 1.5rem;
  color: #1fcd98;
  vertical-align: middle;
  font-style: italic;
}
html body .site-wrapper.page .site-content main.main-content .load-more-status .lds-ellipsis {
  vertical-align: middle;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content main.main-content {
    padding: 0px 0px 10px;
  }
}
html body .site-wrapper.page .site-content .no-content-wrapper {
  display: none;
  width: 1650px;
  max-width: 90%;
  margin: 100px auto;
  background-color: #f26d7e;
  padding: 50px 30px 20px;
  border-radius: 25px;
  color: white;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-txt-wrapper {
  text-align: center;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-txt-wrapper .you-not-txt {
  font-weight: bold;
  font-size: 3.3rem;
  line-height: 1.5;
  margin-bottom: 50px;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-txt-wrapper .to-add-txt {
  width: 550px;
  max-width: 100%;
  margin: 0px auto 20px;
  font-size: 3rem;
  line-height: 1.5;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper {
  position: relative;
  text-align: center;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .background-img {
  max-width: 100%;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper a.create-link {
  display: block;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper a.create-link .create-txt {
  font-size: 2.5rem;
  color: #737661;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper a.create-link .create-icon-wrapper {
  line-height: 0;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper a.create-link .create-icon-wrapper svg {
  width: 30px;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper a.create-link:hover {
  text-decoration: none;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper a.create-link:hover .create-txt {
  color: black;
}
html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper a.create-link:hover .create-icon-wrapper svg g, html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper a.create-link:hover .create-icon-wrapper svg path {
  fill: #1eb785 !important;
}
html body .site-wrapper.page .site-content .no-content-wrapper .to-add-txt-mobile {
  text-align: center;
  width: 540px;
  max-width: 100%;
  margin: 20px auto 0px;
  font-size: 2rem;
  line-height: 1.5;
}
@media all and (max-width: 768px) {
  html body .site-wrapper.page .site-content .no-content-wrapper {
    max-width: calc(100% - 20px);
    margin: 30px auto;
    padding: 30px 10px 20px;
  }
  html body .site-wrapper.page .site-content .no-content-wrapper .no-content-txt-wrapper .you-not-txt {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  html body .site-wrapper.page .site-content .no-content-wrapper .no-content-img-wrapper .to-add-icons-wrapper {
    padding-bottom: 50px;
  }
}
html body .site-wrapper.page .site-content.no-content .no-content-wrapper {
  display: block;
}
html body .site-wrapper.page .site-content.no-content .d-no-content-none {
  display: none !important;
}
html body .site-wrapper.page .site-content.no-content .filter-wrapper {
  padding-bottom: 10px;
}

.c-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-bottom: 0px;
  vertical-align: middle;
}
.c-switch input {
  display: none;
}
.c-switch input:checked + .slider {
  background-color: transparent;
  border-color: #feba19;
}
.c-switch input:checked + .slider:before {
  background-color: #feba19;
}
.c-switch input:focus + .slider {
  box-shadow: 0 0 1px #6bc069;
}
.c-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.c-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #c8cabc;
}
.c-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: calc((100% - 20px) / 2);
  background-color: #c8cabc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.c-switch .slider.round {
  border-radius: 34px;
}
.c-switch .slider.round:before {
  border-radius: 50%;
}

/*# sourceMappingURL=my_series-page.css.map */
