@import "../../config/css/colors.scss";
@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

html{
    body{
        .site-wrapper.page{
            .site-content{
                text-align: left;
                .filter-wrapper{
                    padding: 50px 70px 30px;
                    background-color: $lightGreen;
                    position: relative;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
                        background-size: 5px 1px;
                        background-repeat: repeat-x;
                    }
                    .filter-content{
                        max-width: 100%;
                        margin: 0px auto;
                        text-align: left;
                        .category-filter-wrapper{
                            .my-series-title-wrapper{
                                margin-bottom: 15px;
                                .my-series-title{
                                    margin: 0px;
                                    font-size: 3rem;
                                    font-weight: bold;
                                }
                                .create-series{
                                    display: block;
                                    margin-left: 20px;
                                    line-height: 0;
                                    svg{
                                        width: 45px;
                                    }
                                }
                            }
                            .categories-container{
                                .filter-category{
                                    display: block;
                                    text-decoration: none;
                                    position: relative;
                                    margin: 0px 5px 10px;
                                    padding-bottom: 1px;
                                    font-size: 1.5rem;
                                    color: $contentColor;
                                    opacity: .6;
                                    &:after{
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        bottom: 0px;
                                        left: 0px;
                                        width: 100%;
                                        height: 1px;
                                        background-color: $contentColor;
                                    }
                                    &:hover{
                                        opacity: 1;
                                    }
                                    &.active{
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        .categories-container-mobile{
                            .dropdown{
                                display: inline-block;
                                button{
                                    background-color: transparent;
                                    color: inherit;
                                    border-radius: 9px;
                                    span{
                                        display: inline-block;
                                        width: 150px;
                                        color: inherit;
                                        text-align: left;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        vertical-align: middle;
                                    }
                                    svg{
                                        width: 15px;
                                        vertical-align: middle;
                                    }
                                    &:focus{
                                        outline: none;
                                    }
                                }
                                ul{
                                    width: 100%;
                                    min-width: 0px;
                                    margin-top: 0px;
                                    border-top: 0px;
                                    border-radius: 9px;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;
                                    background-color: #f6fffc;
                                    li{
                                        a{
                                            color: inherit;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            &:hover{
                                                background-color: $contentColor;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                                &.open{
                                    button{
                                        border-bottom-left-radius: 0px;
                                        border-bottom-right-radius: 0px;
                                    }
                                }
                            }
                        }
                        .sort-by{
                            margin-right: 50px;
                            text-align: left;
                            .filter-name{
                                margin: 0px 0px 15px;
                                font-size: 1.5em;
                            }
                            .dropdown{
                                display: inline-block;
                                button{
                                    background-color: transparent;
                                    color: inherit;
                                    border-radius: 9px;
                                    span{
                                        display: inline-block;
                                        width: 80px;
                                        color: inherit;
                                        text-align: left;
                                    }
                                    svg{
                                        width: 15px;
                                        vertical-align: middle;
                                    }
                                    &:focus{
                                        outline: none;
                                    }
                                }
                                ul{
                                    width: 100%;
                                    min-width: 0px;
                                    margin-top: 0px;
                                    border-top: 0px;
                                    border-radius: 9px;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;
                                    background-color: #f6fffc;
                                    li{
                                        a{
                                            color: inherit;
                                            &:hover{
                                                background-color: $contentColor;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                                &.open{
                                    button{
                                        border-bottom-left-radius: 0px;
                                        border-bottom-right-radius: 0px;
                                    }
                                }
                            }
                        }
                        .statistics-wrapper{
                            .filter-name{
                                font-size: 3rem;
                                font-weight: bold;
                                margin: 0px 0px 15px;
                            }
                            .filter-date{
                                display: inline-block;
                                margin-right: 5px;
                                position: relative;
                                padding-bottom: 1px;
                                color: $contentColor;
                                text-decoration: none;
                                vertical-align: middle;
                                opacity: .7;
                                &:after{
                                    content: '';
                                    display: none;
                                    position: absolute;
                                    left: 0px;
                                    bottom: 0px;
                                    height: 1px;
                                    width: 100%;
                                    background-color: $contentColor;
                                }
                                &:hover, &.active{
                                    opacity: 1;
                                    &:after{
                                        display: block;
                                    }
                                }
                                svg{
                                    width: 20px;
                                    height: 20px;
                                }
                                &[data-when="calendar"]{
                                    position: relative;
                                    input{
                                        position: absolute;
                                        left: 0px;
                                        top: 0px;
                                        width: 100%;
                                        height: 100%;
                                        opacity: 0;
                                        border: none;
                                        background-color: transparent;
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                    &.added{
                                        svg{
                                            display: none;
                                        }
                                        input{
                                            position: relative;
                                            width: 90px;
                                            height: auto;
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                        .series-filter-wrapper{
                            overflow: auto;
                            padding: 15px 0px;
                            background-color: $greenColor;
                            overflow-scrolling: touch;
                            -webkit-overflow-scrolling: touch;
                            margin: 10px -20px 0px;
                            transition: all .3s ease-out;
                            .filter-item{
                                padding: 0px 15px;
                                font-size: 1.7rem;
                                line-height: 1.1;
                                color: white;
                                border-left: 1px solid white;
                                text-decoration: none;
                                &.active{
                                    font-weight: bolder;
                                }
                                &:hover, &:focus, &:active{
                                    text-decoration: none;
                                }
                            }
                            >.flex-row {
                                &>.flex-col:first-child{
                                    .filter-item{
                                        border-left: 0px;
                                    }
                                }
                            }
                        }
                    }
                    @media all and (max-width: 768px){
                        padding: 30px 20px 0px;
                        .filter-content{
                            .category-filter-wrapper{
                                .my-series-title-wrapper{
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                }
                            }
                            .categories-container-mobile{
                                .dropdown{
                                    display: inline-block;
                                    button{
                                        background-color: transparent;
                                        color: inherit;
                                        border-radius: 9px;
                                        span{
                                            display: inline-block;
                                            width: 150px;
                                            color: inherit;
                                            text-align: left;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            vertical-align: middle;
                                        }
                                        svg{
                                            width: 15px;
                                            vertical-align: middle;
                                        }
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                    ul{
                                        width: 100%;
                                        min-width: 0px;
                                        margin-top: 0px;
                                        border-top: 0px;
                                        border-radius: 9px;
                                        border-top-left-radius: 0px;
                                        border-top-right-radius: 0px;
                                        background-color: #f6fffc;
                                        li{
                                            a{
                                                color: inherit;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                &:hover{
                                                    background-color: $contentColor;
                                                    color: white;
                                                }
                                            }
                                        }
                                    }
                                    &.open{
                                        button{
                                            border-bottom-left-radius: 0px;
                                            border-bottom-right-radius: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                main.main-content{
                    width: 1750px;
                    max-width: 100%;
                    margin: 0px auto;
                    padding: 20px 20px;
                    text-align: left;
                    transition: all .3s ease-out;
                    .series-container{
                        .series-item{
                            margin-bottom: 30px;
                            .series-item-mobile-header{
                                padding: 20px 35px 10px;
                                background-color: $lightGreen;
                                .series-title{
                                    font-size: 2.5rem;
                                }
                                .series-viewed-times{
                                    font-size: 2.5rem;
                                    color: $greenColor;
                                    .viewed-times-val{
                                        line-height: 1;
                                        vertical-align: baseline;
                                    }
                                }
                                .add-post-wrapper{
                                    cursor: pointer;
                                    position: relative;
                                    svg{
                                        width: 45px;
                                        height: 45px;
                                        g, path{
                                            fill: $greenColor;
                                        }
                                    }
                                    .add-new-drop-down-wrapper{
                                        display: none;
                                        position: absolute;
                                        top: 63%;
                                        left: calc((100% - 181px) / 2);
                                        height: auto;
                                        padding-top: 15px;
                                        z-index: 2;
                                        .add-new-drop-down-inner{
                                            position: relative;
                                            background-color: white;
                                            padding: 20px 15px;
                                            border-radius: 5px;
                                            box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
                                            font-size: 1.5rem;
                                            ul{
                                                li{
                                                    margin-bottom: 15px;
                                                    a{
                                                        display: block;
                                                        width: 100%;
                                                        color: $contentColor;
                                                        text-decoration: none;
                                                        .icon-col{
                                                            line-height: 0;
                                                            .item-icon{
                                                                width: 20px;
                                                                height: 20px;
                                                                g, path, circle{
                                                                    fill: $greenColor !important;
                                                                }
                                                            }
                                                        }
                                                        .item-txt{
                                                        }
                                                        &:hover{
                                                            color: black;
                                                        }
                                                    }
                                                }
                                            }
                                            &:after{
                                                content: '';
                                                display: block;
                                                position: absolute;
                                                bottom: calc(100%);
                                                left: calc((100% - 30px) / 2);
                                                width: 0;
                                                height: 0;
                                                border-left: 15px solid transparent;
                                                border-right: 15px solid transparent;
                                                border-bottom: 20px solid white;
                                            }
                                        }
                                    }
                                    &:hover{
                                        .add-new-drop-down-wrapper{
                                            display: block;
                                        }
                                    }
                                }
                            }
                            .series-content-wrapper{
                                .series-content-header{
                                    margin-bottom: 15px;
                                    .series-title{
                                        margin: 0px;
                                        line-height: 1.42857143;
                                    }
                                    .series-viewed-times{
                                        margin-left: 10px;
                                        font-size: 24px;
                                        color: $greenColor;
                                        .viewed-times-val{
                                            line-height: 1;
                                            vertical-align: baseline;
                                        }
                                    }
                                    .actions-container {
                                        .action-item {
                                            background-color: transparent;
                                            display: flex;
                                            line-height: 0;
                                            border-radius: 50%;
                                            border: 1px solid $greenColor;
                                            height: 50px;
                                            width: 50px;
                                            box-sizing: border-box;
                                            justify-content: center;
                                            align-items: center;
                                            svg{
                                                width: 25px;
                                                max-height: 25px;
                                                g{
                                                    fill: $greenColor !important;
                                                }
                                                path{
                                                    fill: $greenColor !important;
                                                }
                                                polygon{
                                                    fill: $greenColor;
                                                }
                                                circle{
                                                    fill: $greenColor !important;
                                                }
                                            }
                                            &:hover{
                                                border-color: $greenHover;
                                                svg{
                                                    g, path, polygon, circle{
                                                        fill: $greenHover !important;
                                                    }
                                                }
                                            }
                                        }
                                        [data-toggle="collapse"]{
                                            border-width: 1px;
                                        }
                                    }
                                }
                                .series-content-body{
                                    margin-bottom: 20px;
                                    .posts-list-wrapper{
                                        .arrow-icon-wrapper{
                                            $angle: 30deg;
                                            width: 22px;
                                            height: 48px;

                                            display: block;
                                            position: relative;
                                            bottom: 30px;

                                            opacity: .7;

                                            &:before, &:after{
                                                content: '';
                                                display: block;
                                                width: 40%;
                                                height: 50%;
                                                position: absolute;
                                                background-color: $lightGrey;
                                            }
                                            &:before{
                                                top: 0px;
                                            }
                                            &:after{
                                                bottom: 0px;
                                            }

                                            &.arrow-left{
                                                &:before{
                                                    right: 0px;
                                                    transform-origin: top right;
                                                    -ms-transform: skew(-$angle, 0deg);
                                                    -webkit-transform: skew(-$angle, 0deg);
                                                    transform: skew(-$angle, 0deg);
                                                }
                                                &:after{
                                                    right: 0px;
                                                    transform-origin: bottom right;
                                                    -ms-transform: skew($angle, 0deg);
                                                    -webkit-transform: skew($angle, 0deg);
                                                    transform: skew($angle, 0deg);
                                                }
                                            }
                                            &.arrow-right{
                                                &:before{
                                                    left: 0px;
                                                    transform-origin: top left;
                                                    -ms-transform: skew($angle, 0deg);
                                                    -webkit-transform: skew($angle, 0deg);
                                                    transform: skew($angle, 0deg);
                                                }
                                                &:after{
                                                    left: 0px;
                                                    transform-origin: bottom left;
                                                    -ms-transform: skew(-$angle, 0deg);
                                                    -webkit-transform: skew(-$angle, 0deg);
                                                    transform: skew(-$angle, 0deg);
                                                }
                                            }
                                            &:hover{
                                                opacity: 1;
                                            }
                                        }
                                        .posts-list{
                                            max-width: 100%;
                                            min-height: 200px;
                                            transition: all .3s ease-out;
                                            .post-item{
                                                padding: 0px 15px;
                                                font-size: 1.5rem;
                                                .item-header{
                                                    margin-bottom: 10px;
                                                    .media-icon-wrapper{
                                                        i.fa{
                                                            display: none;
                                                            vertical-align: middle;
                                                        }
                                                    }
                                                    .item-action{
                                                        display: block;
                                                        line-height: 0;
                                                        svg{
                                                            width: 25px;
                                                            height: 25px;
                                                            g, path {
                                                                fill: $lightGrey;
                                                            }
                                                        }
                                                        &.edit-action {
                                                            display: flex;
                                                            width: 25px;
                                                            height: 25px;
                                                            border-radius: 50%;
                                                            border: 1px solid $lightGrey;
                                                            svg {
                                                                width: 12px;
                                                                height: 12px;
                                                            }
                                                        }
                                                        &:hover{
                                                            svg{
                                                                g, path {
                                                                    fill: $contentColor;
                                                                }
                                                            }
                                                            &.edit-action {
                                                                border-color: $contentColor;
                                                            }
                                                        }
                                                    }
                                                }
                                                .item-type-body{
                                                    width: 100%;
                                                    height: calc(100px + 3vw);
                                                    position: relative;
                                                    margin-bottom: 15px;
                                                    .blog-type{
                                                        position: absolute;
                                                        top: 0px;
                                                        left: 0px;
                                                        width: 100%;
                                                        height: 100%;
                                                        overflow: hidden;
                                                        img{
                                                            width: 100%;
                                                            height: 100%;
                                                        }
                                                        &.type-0{
                                                            background-image: url("../../images/global-icons/audio-spectr.png");
                                                            background-position: center center;
                                                            background-repeat: no-repeat;
                                                        }
                                                    }
                                                    aside.blog-duration{
                                                        position: absolute;
                                                        bottom: 8px;
                                                        right: 9px;
                                                        padding: 7px 20px;
                                                        z-index: 1;
                                                        background: rgba(227, 228, 220, .8);
                                                        border-radius: 10px;
                                                        font-size: 1.2rem;
                                                        line-height: 1.1;
                                                    }
                                                }
                                                .item-title{
                                                    color: $contentColor;
                                                }
                                                .item-series-wrapper{
                                                    .item-series{
                                                        color: $lightGrey;
                                                        text-decoration: underline $lightGrey;
                                                        &:hover{
                                                            color: black;
                                                            text-decoration-color: black;
                                                        }
                                                    }
                                                }
                                                &.type-0{
                                                    .item-header{
                                                        .media-icon-wrapper{
                                                            i.fa.audio-icon{
                                                                display: initial;
                                                                vertical-align: middle;
                                                            }
                                                        }
                                                    }
                                                }
                                                &.type-2{
                                                    .item-header{
                                                        .media-icon-wrapper{
                                                            i.fa.video-icon{
                                                                display: initial;
                                                                vertical-align: middle;
                                                            }
                                                        }
                                                    }
                                                }
                                                &.type-7, &.type-8, &.type-10{
                                                    .item-header{
                                                        .media-icon-wrapper{
                                                            i.fa.text-icon{
                                                                display: initial;
                                                                vertical-align: middle;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .aside-wrapper{
                                        margin-left: 20px;
                                        .add-post-wrapper{
                                            height: 148px;
                                            margin-bottom: 15px;
                                            border: 1px dashed $lightGrey;
                                            border-radius: 20px;
                                            position: relative;
                                            cursor: pointer;
                                            svg{
                                                width: 45px;
                                                height: 45px;
                                                g, path{
                                                    fill: $lightGrey;
                                                }
                                            }
                                            .add-new-drop-down-wrapper{
                                                display: none;
                                                position: absolute;
                                                top: 63%;
                                                left: calc((100% - 181px) / 2);
                                                height: auto;
                                                padding-top: 15px;
                                                z-index: 2;
                                                .add-new-drop-down-inner{
                                                    position: relative;
                                                    background-color: white;
                                                    padding: 20px 15px;
                                                    border-radius: 5px;
                                                    box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
                                                    font-size: 1.5rem;
                                                    ul{
                                                        li{
                                                            margin-bottom: 15px;
                                                            a{
                                                                display: block;
                                                                width: 100%;
                                                                color: $contentColor;
                                                                text-decoration: none;
                                                                .icon-col{
                                                                    line-height: 0;
                                                                    .item-icon{
                                                                        width: 20px;
                                                                        height: 20px;
                                                                        g, path, circle{
                                                                            fill: $greenColor !important;
                                                                        }
                                                                    }
                                                                }
                                                                .item-txt{
                                                                }
                                                                &:hover{
                                                                    color: black;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    &:after{
                                                        content: '';
                                                        display: block;
                                                        position: absolute;
                                                        bottom: calc(100%);
                                                        left: calc((100% - 30px) / 2);
                                                        width: 0;
                                                        height: 0;
                                                        border-left: 15px solid transparent;
                                                        border-right: 15px solid transparent;
                                                        border-bottom: 20px solid white;
                                                    }
                                                }
                                            }
                                            &:hover{
                                                .add-new-drop-down-wrapper{
                                                    display: block;
                                                }
                                            }
                                        }
                                        .full-list-wrapper{
                                            .full-list-action {
                                                display: block;
                                                color: $lightGrey;
                                                svg{
                                                    width: 30px;
                                                    vertical-align: middle;
                                                    g, path{
                                                        fill: $lightGrey !important;
                                                    }
                                                }
                                                span{
                                                    vertical-align: middle;
                                                    text-decoration: underline;
                                                    font-size: 1.2em;
                                                }
                                                &:hover, &:focus{
                                                    text-decoration: none;
                                                    color: $contentColor;
                                                    svg{
                                                        g, path{
                                                            fill: $contentColor !important;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .series-content-footer{
                                    .invite-friend-form{
                                        margin-left: 40px;
                                        max-width: 450px;
                                        label{
                                            font-size: 1.7rem;
                                        }
                                        .input-wrapper{
                                            input{
                                                display: block;
                                                width: 100%;
                                                border: none;
                                                border-bottom: 1px solid $contentColor;
                                                font-size: 1.5rem;
                                                &:focus{
                                                    outline: none;
                                                }
                                                &::placeholder{
                                                    color: $lightGrey;
                                                }
                                            }
                                            button.btn{
                                                padding: 0px;
                                                background-color: transparent;
                                                svg{
                                                    width: 30px;
                                                    polygon, path{
                                                    }
                                                }
                                                &:focus{
                                                    outline: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .series-income-wrapper{
                                margin-left: 65px;
                                width: 350px;
                                .earned-wrapper{
                                    opacity: 0;
                                    margin-bottom: 30px;
                                    color: $yellowColor;
                                    .value-wrapper{
                                        font-size: 3rem;
                                        font-weight: bold;
                                        .value{
                                        }
                                    }
                                    .total-txt{
                                        //text-align: center;
                                    }
                                }
                                .states-list{
                                    .state-item{
                                        .state-icon-wrapper{
                                            svg{
                                                width: 30px;
                                                height: auto;
                                                vertical-align: middle;
                                                g, path{
                                                    fill: $lightGrey;
                                                }
                                            }
                                        }
                                        .state-content{
                                            font-size: 1.5rem;
                                        }
                                        &.total-income-state{
                                            color: $yellowColor;
                                            font-weight: bold;
                                            .state-icon-wrapper{
                                                svg{
                                                    vertical-align: middle;
                                                    g, path{
                                                        fill: $yellowColor;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .charge-wrapper{
                                    .charge-title{

                                    }
                                    .c-switch {
                                        position: relative;
                                        display: inline-block;
                                        width: 60px;
                                        height: 30px;
                                        margin-bottom: 0px;
                                        vertical-align: middle;
                                        input {display:none;}
                                        input:checked + .slider {
                                            background-color: transparent;
                                            border-color: $yellowColor;
                                            &:before{
                                                background-color: $yellowColor;
                                            }
                                        }
                                        input:focus + .slider {
                                            box-shadow: 0 0 1px #6bc069;
                                        }
                                        input:checked + .slider:before {
                                            -webkit-transform: translateX(26px);
                                            -ms-transform: translateX(26px);
                                            transform: translateX(26px);
                                        }
                                        .slider {
                                            position: absolute;
                                            cursor: pointer;
                                            top: 0;
                                            left: 0;
                                            right: 0;
                                            bottom: 0;
                                            background-color: transparent;
                                            -webkit-transition: .4s;
                                            transition: .4s;
                                            border: 1px solid $lightGrey;
                                            &:before {
                                                position: absolute;
                                                content: "";
                                                height: 20px;
                                                width: 20px;
                                                left: 4px;
                                                bottom: calc((100% - 20px) / 2);
                                                background-color: $lightGrey;
                                                -webkit-transition: .4s;
                                                transition: .4s;
                                            }
                                            &.round {
                                                border-radius: 34px;
                                                &:before {
                                                    border-radius: 50%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .series-conversation-col{
                                padding-left: 35px;
                            }
                            .flex-row{
                                .flex-col{
                                    max-width: 100%;
                                    min-width: 0px;
                                }
                            }
                            @media all and (max-width: 768px){
                                .series-content-wrapper{
                                    padding: 15px 25px;
                                    .series-content-body{
                                        width: 400px;
                                        max-width: 100%;
                                        margin: 0px auto 15px;
                                        .posts-list-wrapper{
                                            .posts-list{
                                                .post-item{
                                                    padding: 0px 15px;
                                                    font-size: 1.5rem;
                                                    .item-header{
                                                        margin-bottom: 10px;
                                                        .media-icon-wrapper{
                                                            i.fa{
                                                                display: none;
                                                                vertical-align: middle;
                                                            }
                                                        }
                                                        .item-action {
                                                            display: block;
                                                            line-height: 0;
                                                            svg{
                                                                width: 25px;
                                                                height: 25px;
                                                                g, path {
                                                                    fill: $lightGrey;
                                                                }
                                                            }
                                                            &.edit-action {
                                                                display: flex;
                                                                width: 25px;
                                                                height: 25px;
                                                                border-radius: 50%;
                                                                border: 1px solid $lightGrey;
                                                                svg {
                                                                    width: 12px;
                                                                    height: 12px;
                                                                }
                                                            }
                                                            &:hover{
                                                                svg{
                                                                    g, path {
                                                                        fill: $contentColor;
                                                                    }
                                                                }
                                                                &.edit-action {
                                                                    border-color: $contentColor;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    .item-type-body{
                                                        height: calc(200px + 10vw);
                                                    }
                                                    .item-title{}
                                                }
                                            }
                                        }
                                    }
                                    .series-content-footer{
                                        width: 450px;
                                        max-width: 100%;
                                        margin: 50px auto 0px auto;
                                        background-color: $redColor;
                                        padding: 40px 40px 30px 85px;
                                        border-radius: 20px;
                                        .invite-friend-form{
                                            position: relative;
                                            .plane-wrapper{
                                                position: absolute;
                                                right: calc(100%);
                                                bottom: 30px;
                                                img{
                                                    height: 150px;
                                                }
                                            }
                                            width: 325px;
                                            max-width: 100%;
                                            margin: 0px auto;
                                            color: white;
                                            .to-add-txt{
                                                font-size: 1.5rem;
                                            }
                                            .input-wrapper{
                                                input{
                                                    background-color: transparent;
                                                    border-bottom-color: $lightGrey;
                                                }
                                            }
                                        }
                                    }
                                }
                                .series-conversation-col{
                                    padding-left: 15px;
                                    padding-right: 15px;
                                }
                                .series-income-wrapper{
                                    margin: 0px;
                                    width: 100%;
                                    .states-list{
                                        justify-content: space-around;
                                        align-items: center;
                                        background-color: $lightGreen;
                                        padding: 10px 0px 20px;
                                        .state-item{
                                            .state-content{
                                                font-size: 1.8rem;
                                            }
                                        }
                                    }
                                }
                                >.flex-row{
                                    >.content-col{
                                        order: 2;
                                        flex-basis: 100% !important;
                                    }
                                    >.charge-col{
                                        order: 1;
                                        flex-basis: 100% !important;
                                        flex-grow: 1;
                                    }
                                    >.series-conversation-col{
                                        order: 3;
                                    }
                                }
                            }
                            &.series-charged{
                                .series-income-wrapper{
                                    .earned-wrapper{
                                        opacity: 1;
                                    }
                                    .charge-wrapper{
                                        display: none;
                                    }
                                }
                            }
                            .charge-modal{
                                z-index: 500;
                                .modal-dialog{
                                    .modal-content{
                                        border: none;
                                        border-radius: 20px;
                                        box-shadow: 0 5px 15px rgba(0,0,0,.3);;
                                        .modal-close{
                                            display: block;
                                            position: absolute;
                                            top: 3rem;
                                            right: 2rem;
                                            width: 2rem;
                                            height: 2rem;
                                            cursor: pointer;
                                            z-index: 1;
                                            &:before{
                                                content: '';
                                                display: block;
                                                width: 3rem;
                                                height: 1px;
                                                background-color: $greenColor;
                                                position: absolute;
                                                top: 50%;
                                                left: -0.5rem;
                                                transform: rotate(45deg);
                                            }
                                            &:after{
                                                content: '';
                                                display: block;
                                                width: 3rem;
                                                height: 1px;
                                                background-color: $greenColor;
                                                position: absolute;
                                                top: 50%;
                                                left: -0.5rem;
                                                transform: rotate(-45deg);
                                            }
                                            &:hover{
                                                &:before, &:after{
                                                    background-color: $greenHover;
                                                }
                                            }
                                        }
                                        .modal-body{
                                            .charge-series-wrapper{
                                                max-width: 730px;
                                                margin: 0px auto;
                                                padding: 60px 10px 100px;
                                                .content-header{
                                                    margin-bottom: 50px;
                                                    h3{
                                                        font-size: 1.7rem;
                                                        font-weight: bold;
                                                        margin: 0px 0px 15px;
                                                    }
                                                }
                                                .charge-content{
                                                    .connect-account-wrapper{
                                                        margin-bottom: 40px;
                                                        a{
                                                            margin-right: 10px;
                                                            text-decoration: none;
                                                        }
                                                    }
                                                    .group-row-wrapper{
                                                        margin-bottom: 20px;
                                                        .group-col{
                                                            .col-name{
                                                                margin-bottom: 10px;
                                                                font-size: 1.5rem;
                                                                font-weight: normal;
                                                                &.percent-label{
                                                                    margin-bottom: 40px;
                                                                }
                                                                &.affiliate-will-get-label{
                                                                    margin-bottom: 30px;
                                                                }
                                                            }
                                                            .col-value{
                                                                display: block;
                                                                width: 100%;
                                                                padding-left: 0px;
                                                                border: none;
                                                                border-bottom: 1px solid $lightGrey;
                                                                box-shadow: none;
                                                                border-radius: 0px;
                                                                font-size: 1.5rem;
                                                                &:focus{
                                                                    outline: none;
                                                                }
                                                                &[disabled] {
                                                                    background-color: transparent;
                                                                }
                                                                &.you-will-get-value{
                                                                    color: $yellowColor;
                                                                    border-color: $yellowColor;
                                                                }
                                                                &.affiliate-will-get-value{
                                                                    color: $greenColor;
                                                                    border-color: $greenColor;
                                                                }
                                                            }
                                                            .c-switch {
                                                                .slider {
                                                                    background-color: $lightGreen;
                                                                    &:before {
                                                                    }
                                                                }
                                                            }
                                                            .slider{
                                                                width: 100%;
                                                                .slider-track{
                                                                    .slider-selection{
                                                                        background-image: none;
                                                                        background-color: yellow;
                                                                        box-shadow: none;
                                                                        box-sizing: border-box;
                                                                        border: 1px solid #cccccc;
                                                                    }
                                                                    .slider-track-high{
                                                                        background-color: white;
                                                                        box-shadow: none;
                                                                        box-sizing: border-box;
                                                                        border: 1px solid #cccccc;
                                                                    }
                                                                }
                                                                .slider-handle{
                                                                    width: 10px;
                                                                    margin-left: -5px;
                                                                    border-radius: 5px;
                                                                    background-color: #ccc;
                                                                    background-image: none;
                                                                }
                                                            }
                                                            &.toggle-col{
                                                                width: 300px;
                                                                margin-right: 20px;
                                                                .get-payment-txt{
                                                                    color: $greenColor;
                                                                }
                                                            }
                                                            &.gets-col{
                                                                margin-left: 20px;
                                                                width: 110px;
                                                            }
                                                        }
                                                    }
                                                }
                                                .button-wrapper{
                                                    margin-top: 70px;
                                                    text-align: center;
                                                    .save-btn{
                                                        background-color: $greenColor;
                                                        border: none;
                                                        outline: none;
                                                        color: white;
                                                        display: block;
                                                        width: 290px;
                                                        margin: 0px auto;
                                                        text-align: center;
                                                        padding: 12px 5px;
                                                        border-radius: 30px;
                                                        font-size: 2rem;
                                                        font-weight: lighter;
                                                        &:hover{
                                                            background-color: $greenHover;
                                                        }
                                                        &.small{
                                                            display: inline-block;
                                                            width: auto;
                                                            padding: 10px 30px;
                                                            font-size: 1.5rem;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    @media all and (min-width: 768px) {
                                        margin-top: 100px;
                                    }
                                }
                            }
                        }
                    }
                    .load-more-status{
                        text-align: center;
                        span{
                            font-size: 1.5rem;
                            color: $greenColor;
                            vertical-align: middle;
                            font-style: italic;
                        }
                        .lds-ellipsis{
                            vertical-align: middle;
                        }
                    }
                    @media all and (max-width: 768px){
                        padding: 0px 0px 10px;
                    }
                }
                .no-content-wrapper{
                    display: none;
                    width: 1650px;
                    max-width: 90%;
                    margin: 100px auto;
                    background-color: $redColor;
                    padding: 50px 30px 20px;
                    border-radius: 25px;
                    color: white;
                    .no-content-txt-wrapper{
                        text-align: center;
                        .you-not-txt{
                            font-weight: bold;
                            font-size: 3.3rem;
                            line-height: 1.5;
                            margin-bottom: 50px;
                        }
                        .to-add-txt{
                            width: 550px;
                            max-width: 100%;
                            margin: 0px auto 20px;
                            font-size: 3rem;
                            line-height: 1.5;
                        }
                    }
                    .no-content-img-wrapper{
                        position: relative;
                        text-align: center;
                        .background-img{
                            max-width: 100%;
                        }
                        .to-add-icons-wrapper{
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            padding-bottom: 50px;
                            a.create-link{
                                display: block;
                                text-decoration: none;
                                .create-txt{
                                    font-size: 2.5rem;
                                    color: $contentColor;
                                }
                                .create-icon-wrapper{
                                    line-height: 0;
                                    svg{
                                        width: 30px;
                                    }
                                }
                                &:hover{
                                    text-decoration: none;
                                    .create-txt{
                                        color: black;
                                    }
                                    .create-icon-wrapper{
                                        svg{
                                            g, path{
                                                fill: $greenHover !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .to-add-txt-mobile{
                        text-align: center;
                        width: 540px;
                        max-width: 100%;
                        margin: 20px auto 0px;
                        font-size: 2rem;
                        line-height: 1.5;
                    }
                    @media all and (max-width: 768px) {
                        max-width: calc(100% - 20px);
                        margin: 30px auto;
                        padding: 30px 10px 20px;
                        .no-content-txt-wrapper{
                            .you-not-txt{
                                font-size: 2.5rem;
                                line-height: 1.5;
                                margin-bottom: 30px;
                            }
                        }
                        .no-content-img-wrapper{
                            .background-img{

                            }
                            .to-add-icons-wrapper{
                                padding-bottom: 50px;
                            }
                        }
                    }
                }
                &.no-content{
                    .no-content-wrapper{
                        display: block;
                    }
                    .d-no-content-none{
                        display: none !important;
                    }
                    .filter-wrapper{
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}
.c-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-bottom: 0px;
    vertical-align: middle;
    input {display:none;}
    input:checked + .slider {
        background-color: transparent;
        border-color: $yellowColor;
        &:before{
            background-color: $yellowColor;
        }
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #6bc069;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        -webkit-transition: .4s;
        transition: .4s;
        border: 1px solid $lightGrey;
        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: calc((100% - 20px) / 2);
            background-color: $lightGrey;
            -webkit-transition: .4s;
            transition: .4s;
        }
        &.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
    }
}