html{
    body{
        .site-wrapper.page{
            font-size: 1.5rem;
            > .site-content{
                > .content-wrapper{
                    main.main-content{
                        .container{
                            max-width: 100%;
                        }
                        .cover-image-wrapper{
                            display: inline-block;
                            position: relative;
                            line-height: 0;
                            input{
                                cursor: pointer;
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                            }
                        }
                        form {
                            .panel {
                                box-shadow: none;
                                .panel-heading {
                                    border-bottom: 0;
                                }
                                .panel-title {
                                    font-size: 1.2em;
                                }
                                .panel-title > small {
                                    font-size: .75em;
                                    color: #999999;
                                }
                                .panel-body *:first-child {
                                    margin-top: 0;
                                }
                                .panel-footer {
                                    border-top: 0;
                                }
                                &.panel-default > .panel-heading {
                                    color: #333333;
                                    background-color: transparent;
                                    border-color: rgba(0, 0, 0, 0.07);
                                }
                                .profile-avatar {
                                    width: 200px;
                                    height: 200px;
                                    object-fit: cover;
                                    position: relative;
                                    margin: 0px auto;
                                    margin-top: 196px;
                                    border: 4px solid #f3f3f3;
                                }
                                .form-control{
                                    height: auto;
                                    font-size: 1em;
                                }
                            }
                            label{
                                color: #999999;
                                font-weight: 400;
                                position: relative;
                                &.required:after {
                                    content: "*";
                                    position: absolute;
                                    top: 0px;
                                    right: 0px;
                                    color: red;
                                }
                            }
                            &.form-horizontal .form-group {
                                margin-left: -15px;
                                margin-right: -15px;
                                .alert.alert-danger{
                                    padding: 5px;
                                    margin-bottom: 0px;
                                    display: none;
                                    background-color: transparent;
                                    border: none;
                                }
                                &.wrong-info{
                                    .alert.alert-danger{
                                        display: block;
                                    }
                                    .form-control{
                                        border-color: #a94442;
                                    }
                                    .helper-text{
                                        display: none;
                                    }
                                }
                                &.secret-valid{
                                    .helper-text{
                                        display: none;
                                    }
                                }
                                .helper-text{
                                    color: #3ba6ec;
                                    &:hover{
                                        color: #096495;
                                        text-decoration: none;
                                    }
                                }
                            }
                            @media (min-width: 768px) {
                                &.form-horizontal .control-label {
                                    text-align: right;
                                    margin-bottom: 0;
                                    padding-top: 7px;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}