html body .site-wrapper.page {
  font-size: 1.5rem; }
  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .container {
    max-width: 100%; }
  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .cover-image-wrapper {
    display: inline-block;
    position: relative;
    line-height: 0; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .cover-image-wrapper input {
      cursor: pointer;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0; }
  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form .panel {
    box-shadow: none; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form .panel .panel-heading {
      border-bottom: 0; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form .panel .panel-title {
      font-size: 1.2em; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form .panel .panel-title > small {
      font-size: .75em;
      color: #999999; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form .panel .panel-body *:first-child {
      margin-top: 0; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form .panel .panel-footer {
      border-top: 0; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form .panel.panel-default > .panel-heading {
      color: #333333;
      background-color: transparent;
      border-color: rgba(0, 0, 0, 0.07); }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form .panel .profile-avatar {
      width: 200px;
      height: 200px;
      object-fit: cover;
      position: relative;
      margin: 0px auto;
      margin-top: 196px;
      border: 4px solid #f3f3f3; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form .panel .form-control {
      height: auto;
      font-size: 1em; }
  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form label {
    color: #999999;
    font-weight: 400;
    position: relative; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form label.required:after {
      content: "*";
      position: absolute;
      top: 0px;
      right: 0px;
      color: red; }
  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form.form-horizontal .form-group .alert.alert-danger {
      padding: 5px;
      margin-bottom: 0px;
      display: none;
      background-color: transparent;
      border: none; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form.form-horizontal .form-group.wrong-info .alert.alert-danger {
      display: block; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form.form-horizontal .form-group.wrong-info .form-control {
      border-color: #a94442; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form.form-horizontal .form-group.wrong-info .helper-text {
      display: none; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form.form-horizontal .form-group.secret-valid .helper-text {
      display: none; }
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form.form-horizontal .form-group .helper-text {
      color: #3ba6ec; }
      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form.form-horizontal .form-group .helper-text:hover {
        color: #096495;
        text-decoration: none; }
  @media (min-width: 768px) {
    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content form.form-horizontal .control-label {
      text-align: right;
      margin-bottom: 0;
      padding-top: 7px; } }

/*# sourceMappingURL=myProfile-page.css.map */
