@import "../../config/css/colors.scss";

html{
    font-size: 12px;
    body{
        .site-wrapper.page{
            .site-content{
                .preview-blog-header {
                    padding: 70px 75px 40px;
                    background-color: $lightGreen;
                    .blog-title{
                        font-size: 2rem;
                    }
                    @media screen and (max-width: 768px){
                        padding: 25px 10px 10px;
                    }
                }
                main.main-content{
                    min-height: 500px;
                    position: relative;
                    padding: 25px 20px;
                    font-size: 1.4rem;
                    .blog-wrapper{
                        max-width: 992px;
                        margin: 0px auto;
                        position: relative;
                        .video-js{
                            width: auto !important;
                            .vjs-big-play-button{
                                border-radius: 50%;
                                border: none;
                                width: 6em;
                                height: 6em;
                                left: calc((100% - 6em) / 2);
                                top: calc((100% - 6em) / 2);
                                background-color: rgba(115,133,159,.5);
                                .vjs-icon-placeholder{
                                    &:before{
                                        font-size: 5em;
                                        line-height: 1.2;
                                    }
                                }
                            }
                            &.vjs-waiting{
                                .vjs-big-play-button{
                                    opacity: 0;
                                }
                            }
                            &:hover{
                                .vjs-big-play-button{
                                    background-color: rgba(43,51,63,.7);
                                }
                            }
                        }
                        aside.blog-duration{
                            position: absolute;
                            bottom: 8px;
                            right: 9px;
                            padding: 7px 20px;
                            z-index: 1;
                            background: rgba(227, 228, 220, .8);
                            border-radius: 10px;
                            font-size: 1.2rem;
                            line-height: 1.1;
                        }
                        .circle-nav-wrapper{
                            display: none;
                            width: 300px;
                            height: 300px;
                            background-color: transparent;
                            box-shadow: none;
                            z-index: 999;
                            top: auto;
                            left: auto;
                            right: 0px;
                            bottom: 0px;
                            transform: rotate(90deg);
                            .circle-nav-toggle{
                                border: none;
                                width: 50px;
                                height: 50px;
                                top: 5px;
                                right: 5px;
                                opacity: 0;
                                svg#Capa_1{
                                    width: 50px;
                                    g{
                                        path{
                                            fill: white;
                                        }
                                    }
                                }
                                &.circle-nav-open{
                                    opacity: 1;
                                    svg#Capa_1{
                                        g{
                                            path{
                                                fill: white;
                                            }
                                        }
                                    }
                                }
                            }
                            ul.circle-nav-menu{
                                width: 300px;
                                height: 300px;
                                li.circle-nav-item{
                                    width: 45px;
                                    height: 45px;
                                    box-sizing: border-box;
                                    transform: rotate(-90deg);
                                    a{
                                        padding: 0px;
                                        line-height: 0;
                                        svg{
                                            width: 30px !important;
                                            height: 30px !important;
                                            g{
                                                path{
                                                    fill: #ff7b7b !important;
                                                }
                                            }
                                        }
                                    }
                                }
                                &:not(.circle-nav-open){
                                    li.circle-nav-item{
                                        left: 300px;
                                        bottom: 300px;
                                    }
                                }
                                &.circle-nav-open{

                                }
                            }
                            .circle-nav-panel{
                                margin-left: 311px;
                            }
                            .circle-nav-panel.circle-nav-open{
                                margin-left: 311px;
                                width: 600px;
                                height: 600px;
                            }
                            *{
                                max-width: none;
                            }
                            &.circle-nav-open{
                                z-index: 1001;
                            }
                        }
                        *{
                            max-width: 100%;
                            &.flex-row{
                                max-width: none;
                            }
                        }
                        &:hover{
                            .slider-nav{
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }
}