.page-preview-series{
  .site-content{
    --color-grey: #5b5b5b;
    overflow: hidden;
    .page__header {
      .header__series{
        padding: 35px 15px 0px;
        background-color: #5e5e5e;
        .section__inner {
          width: 1200px;
          max-width: 100%;
          margin: 0px auto;
          padding: 95px 0px 150px;
          position: relative;
          .series__card {
            width: 680px;
            min-height: 370px;
            max-width: 100%;
            position: relative;
            z-index: 1;
            text-align: left;
            background-color: rgba(255, 255, 255, .9);
            border-radius: 80px;
            padding: 60px 15px;
            .card__inner {
              width: 590px;
              max-width: 100%;
              margin: 0px auto;
              .inner__content {
                width: 520px;
                max-width: 100%;
                .series__title {
                  margin-top: 0px;
                  margin-bottom: 20px;
                  font-size: 35px;
                  letter-spacing: 1px;
                  font-weight: bold;
                  color: var(--color-grey);
                }
                .series__category{
                  margin-bottom: 50px;
                  a{
                    font-size: 20px;
                    color: var(--color-grey);
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                }
                .series__price-join {
                  .series__price{
                    position: relative;
                    padding-left: 40px;
                    .price__value{
                      font-size: 35px;
                      font-weight: bold;
                    }
                    .per-month{
                      font-size: 12px;
                    }
                    &:before{
                      content: '';
                      display: block;
                      position: absolute;
                      top: 0px;
                      left: 0px;
                      width: 17px;
                      height: 100%;
                      border-radius: 8px;
                      background-color: var(--color-green);
                    }
                  }
                  .site-green-btn{
                    width: 340px;
                    font-size: 40px;
                    border-radius: 40px;
                  }
                }
              }
            }
          }
          .series__image{
            position: absolute;
            top: -10px;
            right: 0px;
            width: 770px;
            height: 770px;
            box-sizing: border-box;
            border-radius: 50%;
            overflow: hidden;
            img{
              width: 90%;
              height: 90%;
              object-fit: cover;
              position: relative;
              right: 15px;
              top: 15px;
              border-radius: 50%;
            }
            svg {
              position: absolute;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
            }
          }
        }
        @media all and (max-width: 768px) {
          .section__inner{
            padding: 360px 0px 50px;
            .series__card {
              .card__inner {
                .inner__content {
                  .series__price-join {
                    .site-green-btn {
                      margin-left: 0px;
                      margin-right: auto;
                      width: 250px;
                      font-size: 30px;
                      border-radius: 30px;
                    }
                  }
                }
              }
            }
            .series__image{
              position: absolute;
              top: -10px;
              right: 0px;
              width: 500px;
              height: 500px;
              box-sizing: border-box;
              border-radius: 50%;
              overflow: hidden;
              img{
                width: 90%;
                height: 90%;
                position: relative;
                right: 15px;
                top: 15px;
                border-radius: 50%;
              }
              svg {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
      .header__author{
        padding-top: 30px;
        background-color: #30d4a1;
        text-align: left;
        .section__inner{
          width: 1000px;
          max-width: 100%;
          margin: 0px auto;
          .author__image {
            width: 370px;
            height: 370px;
            box-sizing: border-box;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            margin-right: 70px;
            bottom: 80px;
            img {
              width: 85%;
              height: 85%;
              position: relative;
              left: 20px;
              border-radius: 50%;
              object-fit: cover;
            }
            svg {
              position: absolute;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
            }
          }
          .author__text {
            padding: 100px 0px;
            color: white;
            .author__name{
              font-size: 40px;
              margin-bottom: 20px;
              a{
                color: inherit;
              }
            }
            .author__description{
              font-size: 20px;
            }
          }
          .layout__image{
            max-width: 100%;
          }
        }
        @media all and (max-width: 768px) {
          .section__inner{
            .author__image{
              bottom: 10px;
              margin-right: 0px;
            }
            .author__text{
              padding: 20px 10px;
            }
          }
        }
      }
    }
    .page__content{
      color: var(--color-grey);
      .explore__this{
        padding: 70px 15px 80px;
        .section__inner{
          width: 500px;
          max-width: 100%;
          margin: 0px auto;
          .section__header{
            margin-bottom: 25px;
          }
          .series__description{
            font-size: 20px;
          }
        }
      }
      .series__score{
        background-color: #c8cbba;
        padding: -20px 0px;
        .section__inner{
          .score__item{
            position: relative;
            margin: -35px 4px;
            background-color: var(--color-grey);
            border-radius: 50%;
            color: white;
            .item__inner{
              .item__name{

              }
              .item__value{

              }
              .item__icon{
                svg {
                  fill: white;
                }
                img {
                  width: 50px;
                  height: 50px;
                }
              }
            }
            > svg {
              position: absolute;
            }
          }
          .score__share, .score__day{
            width: 210px;
            height: 210px;
            .item__inner{
              position: relative;
              z-index: 2;
              .item__name{
                font-size: 15px;
                margin-bottom: 0px;
              }
              .item__value{
                font-size: 35px;
                margin-bottom: 0px;
                font-weight: bold;
              }
              .item__icon{
                svg{
                  width: 50px;
                  height: 50px;
                }
              }
            }
            svg {
              top: -35px;
              left: -35px;
              width: calc(100% + 70px);
              height: calc(100% + 70px);
            }
          }
          .score__star{
            width: 255px;
            height: 255px;
            margin-right: 7px;
            z-index: 1;
            .item__inner{
              .item__name{
                font-size: 18px;
                margin-bottom: 3px;
              }
              .item__value{
                font-size: 40px;
                margin-bottom: 3px;
                font-weight: bold;
              }
              .item__icon{
                svg{
                  width: 65px;
                  height: 65px;
                }
              }
            }
            svg {
              top: calc(-28px + 3px);
              left: calc(-28px + 3px);
              width: calc(100% + 56px);
              height: calc(100% + 56px);
            }
          }
        }
      }
      main.content__main{
        padding: 50px 85px 60px;
        position: relative;
        overflow: hidden;
        .sneak__preview{
          margin-bottom: 50px;
          font-size: 35px;
        }
        .posts-container{
          transition: all .3s ease-out;
          .item{
            position: relative;
            padding: 0px 15px;
            font-size: 1.5rem;
            .item-header{
              padding: 15px 0px;
              .media-icon-wrapper{
                i.fa{
                  display: none;
                  vertical-align: middle;
                }
              }
              .item-title{
                color: var(--color-grey);
              }
              .site-green-btn{
                padding: 5px 10px;
                font-size: 1.5rem;
                border-radius: 15px;
              }
              .item-action {
                display: block;
                line-height: 0;
                svg{
                  width: 25px;
                  height: 25px;
                  g, path {
                    fill: var(--color-grey);
                  }
                }
                &.edit-action {
                  display: flex;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  border: 1px solid var(--color-grey);
                  svg {
                    width: 12px;
                    height: 12px;
                  }
                }
                &:hover{
                  svg{
                    g, path {
                      fill: var(--color-grey);
                    }
                  }
                  &.edit-action {
                    border-color: var(--color-grey);
                  }
                }
              }
            }
            .item-body{
              min-height: 220px;
              max-height: 2000px;
              position: relative;
              .blog-type:not(.sample){
                opacity: 0;
              }
              @media screen and (max-width: 768px){
                min-height: 150px;
              }
            }
            .preview-pan{
              position: absolute;
              top: 0px;
              width: 32%;
              min-height: 100%;
              height: auto;
              background-color: white;
              padding: 0px 15px;
              .img-wrapper{
                position: relative;
                .item-img{
                  width: 100%
                }
              }
              .item-title{
                color: var(--color-grey);
              }
              .site-green-btn{
                padding: 5px 10px;
                font-size: 1.5rem;
                border-radius: 15px;
              }
            }
            aside.blog-duration{
              position: absolute;
              bottom: 8px;
              right: 9px;
              padding: 7px 20px;
              z-index: 1;
              background: rgba(227, 228, 220, .8);
              border-radius: 10px;
              font-size: 1.2rem;
              line-height: 1.1;
            }
            &.type-0{
              header.item-header{
                .media-icon-wrapper{
                  i.audio-icon{
                    display: initial;
                  }
                }
              }
            }
            &.type-2{
              header.item-header{
                .media-icon-wrapper{
                  i.video-icon{
                    display: initial;
                  }
                }
              }
            }
            &.type-7, &.type-8, &.type-10{
              header.item-header{
                .media-icon-wrapper{
                  i.text-icon{
                    display: initial;
                  }
                }
              }
            }
            .type-menu{
              .option-item{
                img{
                  display: inline-block;
                }
              }
            }
            .current-day-show{
              display: none;
            }
            &.slick-current{
              .item-body{
                .blog-type:not(.sample){
                  opacity: 1;
                }
              }
              .current-day-show{
                display: block;
              }
              .other-day-show{
                display: none;
              }
              & ~ .item{
                .preview-pan{
                  left: 0px;
                }
              }
            }
            &.previous-item{
              .preview-pan{
                right: 0px;
              }
            }
            &.next-item{
              .preview-pan{
                left: 0px;
              }
            }
            &:focus{
              outline: none;
            }
          }
        }
        .slider-nav{
          position: absolute;
          top: 170px;
          height: 268px;
          width: 268px;
          background-color: rgba(255, 224, 198, .3);
          border-radius: 50%;
          cursor: pointer;
          img{
            position: relative;
          }
          &.arrow-left{
            left: -142px;
            img{
              left: 50px;
            }
          }
          &.arrow-right{
            right: -142px;
            img{
              right: 50px;
            }
          }
          &:hover{
            background-color: rgba(255, 224, 198, .6);
          }
          @media only screen and (max-width: 1400px) {
            top: 170px;
          }
        }
        @media all and (max-width: 768px){
          padding: 30px 15px;
        }
      }
      .series__share-join{
        padding: 35px 15px 40px;
        background-color: #f6fffc;
        .site-green-btn{
          padding: 8px 50px;
          font-size: 22px;
          margin: 0px 15px 0px 0px;
        }
        .wrap{
          width: 180px;
          margin: 0px 0px;
          button{
            width: 100%;
            font-size: 2rem;
            line-height: 34px;
            height: 46px;
            &.circle{
              width: 46px;
            }
            &.filled{
              line-height: 34px;
              vertical-align: middle;
            }
          }
          img{
            top: calc((100% - 38px) / 2);
            left: calc((100% - 49px) / 2);
            width: auto !important;
            display: none;
          }
          svg{
            left: calc((100% - 46px) / 2);
            top: 0px;
            width: 46px;
            height: 46px;
            circle{
              r: 21px;
              cx: 23px;
              cy: 23px;
            }
          }
        }
      }
      .quick__overview{
        padding: 70px 15px 50px;
        #post__list.section__inner{
          width: 940px;
          max-width: 100%;
          margin: 0px auto;
          .section__title{
            margin-bottom: 40px;
            font-size: 40px;
            font-weight: bold;
          }
          .posts-container{
            margin: 0px 20px;
            .item{
              flex-basis: calc(100% / 3);
              margin-bottom: 20px;
              padding: 0px 15px;
              font-size: 1.5rem;
              .item-header{
                margin-bottom: 10px;
                .media-icon-wrapper{
                  i.fa{
                    display: none;
                    vertical-align: middle;
                  }
                }
                .fav-star{
                  display: block;
                  line-height: 0;
                  svg{
                    width: 20px;
                    g, path{
                      fill: var(--color-green);
                    }
                  }
                }
                .item-action {
                  display: block;
                  line-height: 0;
                  svg{
                    width: 25px;
                    height: 25px;
                    g, path {
                      fill: var(--color-grey);
                    }
                  }
                  &.edit-action {
                    display: flex;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 1px solid var(--color-grey);
                    svg {
                      width: 12px;
                      height: 12px;
                    }
                  }
                  &:hover{
                    svg{
                      g, path {
                        fill: var(--color-grey);
                      }
                    }
                    &.edit-action {
                      border-color: var(--color-grey);
                    }
                  }
                }
                .site-green-btn{
                  padding: 5px 10px;
                  font-size: 1.5rem;
                  border-radius: 15px;
                }
              }
              .item-type-body {
                width: 100%;
                height: calc(100px + 5vw);
                position: relative;
                margin-bottom: 15px;
                .blog-type{
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                  &.type-0{
                    background-image: url("../../images/global-icons/audio-spectr.png");
                    background-position: center center;
                    background-repeat: no-repeat;
                  }
                }
                aside.blog-duration{
                  position: absolute;
                  bottom: 8px;
                  right: 9px;
                  padding: 7px 20px;
                  z-index: 1;
                  background: rgba(227, 228, 220, .8);
                  border-radius: 10px;
                  font-size: 1.2rem;
                  line-height: 1.1;
                }
              }
              .item-title{
                color: var(--color-grey);
              }
              &.type-0{
                .item-header{
                  .media-icon-wrapper{
                    i.fa.audio-icon{
                      display: initial;
                      vertical-align: middle;
                    }
                  }
                }
              }
              &.type-2{
                .item-header{
                  .media-icon-wrapper{
                    i.fa.video-icon{
                      display: initial;
                      vertical-align: middle;
                    }
                  }
                }
              }
              &.type-7, &.type-8, &.type-10{
                .item-header{
                  .media-icon-wrapper{
                    i.fa.text-icon{
                      display: initial;
                      vertical-align: middle;
                    }
                  }
                }
              }
              @media screen and (max-width: 1550px){
                flex-basis: calc(100% / 3);
              }
              @media screen and (max-width: 992px){
                flex-basis: calc(100% / 2);
              }
              @media screen and (max-width: 768px){
                flex-basis: calc(100% / 1);
                .item-type-body{
                  height: calc(200px + 10vw);
                }
              }
            }
          }
          .load-more-status{
            height: 35px;
            width: calc(100% - 70px);
            max-width: 100%;
            margin: 10px auto;
            text-align: center;
            border: 1px solid var(--color-green);
            border-radius: 5px;
            span{
              cursor: pointer;
              font-size: 1.5rem;
              color: var(--color-green);
              vertical-align: middle;
              font-style: italic;
              display: block;
              width: 100%;
            }
            .lds-ellipsis{
              display: none;
              vertical-align: middle;
            }
            &.status-loading{
              span{
                display: none;
              }
              .lds-ellipsis{
                display: inline-block;
              }
            }
            &:hover{
              border-color: var(--color-green-hover);
              span{
                color: var(--color-green-hover);
              }
            }
          }
        }
        @media all and (max-width: 768px) {
          #post__list.section__inner{
            .posts-container{
              margin: 0px;
            }
          }
        }
      }
    }
    .page__footer{
      padding: 35px 150px;
      background-color: var(--color-green-light);
      position: relative;
      .footer-inner{
        .take-first-step-wrapper{
          margin-left: 140px;
          .take-first-step{
            font-size: 3rem;
            font-weight: bold;
          }
          .actions-container{
            position: relative;
            .wrap{
              width: 180px;
              margin: 0px auto;
              button{
                width: 100%;
                font-size: 2rem;
                line-height: 34px;
                height: 46px;
                &.circle{
                  width: 46px;
                }
                &.filled{
                  line-height: 34px;
                  vertical-align: middle;
                }
              }
              img{
                top: calc((100% - 38px) / 2);
                left: calc((100% - 49px) / 2);
                width: auto !important;
                display: none;
              }
              svg{
                left: calc((100% - 46px) / 2);
                top: 0px;
                width: 46px;
                height: 46px;
                circle{
                  r: 21px;
                  cx: 23px;
                  cy: 23px;
                }
              }
            }
            .action-item{
              background-color: transparent;
              display: flex;
              line-height: 0;
              border-radius: 50%;
              border: 2px solid var(--color-green);
              height: 50px;
              width: 50px;
              box-sizing: border-box;
              justify-content: center;
              align-items: center;
              svg{
                width: 30px;
                max-height: 30px;
                g{
                  fill: var(--color-green);
                }
                path{
                  fill: var(--color-green);
                }
                polygon{
                  fill: var(--color-green);
                }
              }
              &:hover{
                border-color: var(--color-green-hover);
                svg{
                  width: 30px;
                  g, path, polygon{
                    fill: var(--color-green-hover);
                  }
                }
              }
            }
            .site-green-btn{
              padding: 8px 30px;
              font-size: 1.7rem;
            }
          }
        }
        .price-wrapper{
          .series-price{
            font-size: 2.5rem;
            font-weight: bold;
          }
        }
      }
      .line-decoration-wrapper{
        position: absolute;
        top: -8px;
        left: 215px;
        right: 0px;
        height: 15px;
        .line-decoration-inner{
          line-height: 1;
          .you-are-here{
            color: var(--color-green);
            &:after{
              content: '';
              display: inline-block;
              margin-left: 5px;
              vertical-align: middle;
              border-radius: 50%;
              width: 16px;
              height: 16px;
              border: 3px solid var(--color-green);
            }
          }
          .you-are-here-line{
            height: 1px;
            background-image: linear-gradient(to right, var(--color-green) 1px, transparent 0%);
            background-size: 5px 1px;
            background-repeat: repeat-x;
          }
          .on-your-path{
            color: var(--color-green);
          }
          .on-your-path-line{
            height: 1px;
            position: relative;
            background-image: linear-gradient(to right, var(--color-green) 1px, transparent 0%);
            background-size: 10px 1px;
            background-repeat: repeat-x;
            &:after{
              content: '';
              display: block;
              position: absolute;
              bottom: -2px;
              left: 0px;
              height: 1px;
              width: 100%;
              background-image: linear-gradient(to right, transparent 5px, var(--color-green) 6px, transparent 7px, transparent 10px);
              background-size: 10px 1px;
              background-repeat: repeat-x;
            }
          }
          .self-development{
            color: var(--color-red);
            line-height: 1;
            &:before{
              content: '';
              display: inline-block;
              margin-right: 5px;
              vertical-align: middle;
              border-radius: 50%;
              width: 16px;
              height: 16px;
              background-color: var(--color-red);
            }
          }
          .self-development-line{
            height: 1px;
            background-image: linear-gradient(to right, var(--color-red) 1px, transparent 0%);
            background-size: 5px 1px;
            background-repeat: repeat-x;
          }
        }
      }
      @media screen and (max-width: 768px){
        padding: 15px 10px;
        .footer-inner{
          .take-first-step-wrapper{
            margin-left: 0px;
            .take-first-step{
              font-size: 3rem;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
.swal-overlay.swal-overlay--show-modal{
  .swal-modal.welcome {
    font-family: 'Content-Muli';
    .swal-title{
      color: #c4cc72;
    }
    .swal-text{
      text-align: center;
      font-size: 25px;
    }
  }
}
.swal-overlay{
  .swal-modal.thanks-join{
    .swal-footer{
      position: relative;
      .disable-wrap{
        position: absolute;
        left: 10px;
        top: 17px;
        padding: 10px 24px;
        input{
          background-color: transparent;
          margin-top: 0px;
          vertical-align: middle;
          position: absolute;
          left: -9999px;
          &:checked{
            & + label{
              color: black;
              &:before{
                border-color: black;
              }
              &:after{
                font-size: .9em;
                content: '\2714';
                position: absolute;
                left: 0em;
                top: 0em;
                width: 1em;
                height: 1em;
                color: black;
              }
            }
          }
        }
        label{
          color: var(--color-content);
          font-size: 18px;
          line-height: 1.1em;
          vertical-align: middle;
          position: relative;
          padding-left: 1.5em;
          cursor: pointer;
          font-weight: normal;
          &:before{
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1em;
            height: 1em;
            border: 1px solid var(--color-content);
          }
        }
      }
    }
  }
}
