@charset "UTF-8";
html body .site-wrapper.page .site-content {
  text-align: left;
}
html body .site-wrapper.page .site-content .content-header {
  padding: 70px 90px 0px;
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content .content-header .category-wrapper .category-name {
  color: #c8cabc;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .content-header .category-wrapper .category-name:hover {
  color: black;
}
html body .site-wrapper.page .site-content .content-header .category-wrapper aside a {
  color: #c8cabc;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .content-header .category-wrapper aside a:hover {
  color: black;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper {
  margin-left: 100px;
  position: relative;
  padding-bottom: 25px;
  padding-left: 30px;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-title-wrapper {
  margin-bottom: 5px;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-title-wrapper .series-title {
  font-size: 3rem;
  font-weight: bold;
  max-width: 350px;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-title-wrapper .posts-count {
  margin-bottom: 5px;
  color: white;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .action-item {
  background-color: transparent;
  display: flex;
  line-height: 0;
  border-radius: 50%;
  border: 2px solid #1fcd98;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .action-item svg {
  width: 30px;
  max-height: 30px;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .action-item svg g {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .action-item svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .action-item svg polygon {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .action-item.share-action {
  position: relative;
  cursor: pointer;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .action-item:hover {
  border-color: #1eb785;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .action-item:hover svg {
  width: 30px;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .action-item:hover svg g, html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .action-item:hover svg path, html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .action-item:hover svg polygon {
  fill: #1eb785;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .list-icon-wrapper {
  margin-top: 15px;
  text-align: center;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .list-icon-wrapper .list-action {
  display: block;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .list-icon-wrapper .list-action svg {
  width: 30px;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .list-icon-wrapper .list-action svg g, html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .list-icon-wrapper .list-action svg path {
  fill: #caf4e8 !important;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .list-icon-wrapper .list-action:hover svg g, html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .list-icon-wrapper .list-action:hover svg path {
  fill: #1fcd98 !important;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-actions .site-green-btn {
  padding: 8px 30px;
  font-size: 1.7rem;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .line-decoration-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 10%, rgba(255, 255, 255, 0) 0%);
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .line-decoration-wrapper .top-circle {
  position: absolute;
  bottom: calc(95px);
  left: -7px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 3px solid #1fcd98;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .line-decoration-wrapper .bottom-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  right: -4px;
  top: 26px;
  border-radius: 50%;
  background-color: #1fcd98;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .line-decoration-wrapper:before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 95px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(to bottom, #1fcd98 10%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1px 10px;
  background-repeat: repeat-y;
}
html body .site-wrapper.page .site-content .content-header .center-col-wrapper .line-decoration-wrapper:after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 26px;
  top: 0px;
  right: 0px;
  background-image: linear-gradient(to bottom, #1fcd98 10%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1px 10px;
  background-repeat: repeat-y;
}
html body .site-wrapper.page .site-content .content-header .join-wrapper {
  text-align: center;
}
html body .site-wrapper.page .site-content .content-header .join-wrapper .wrap {
  width: 180px;
  margin: 0px auto;
}
html body .site-wrapper.page .site-content .content-header .join-wrapper .wrap button {
  width: 100%;
  font-size: 2rem;
  line-height: 34px;
  height: 46px;
}
html body .site-wrapper.page .site-content .content-header .join-wrapper .wrap button.circle {
  width: 46px;
}
html body .site-wrapper.page .site-content .content-header .join-wrapper .wrap button.filled {
  line-height: 34px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .content-header .join-wrapper .wrap img {
  top: calc((100% - 38px) / 2);
  left: calc((100% - 49px) / 2);
  width: auto !important;
  display: none;
}
html body .site-wrapper.page .site-content .content-header .join-wrapper .wrap svg {
  left: calc((100% - 46px) / 2);
  top: 0px;
  width: 46px;
  height: 46px;
}
html body .site-wrapper.page .site-content .content-header .join-wrapper .wrap svg circle {
  r: 21px;
  cx: 23px;
  cy: 23px;
}
html body .site-wrapper.page .site-content .content-header .join-wrapper .price-wrapper span {
  font-size: 2.5rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  html body .site-wrapper.page .site-content .content-header {
    padding: 25px 10px 10px;
  }
  html body .site-wrapper.page .site-content .content-header .category-wrapper .category-name {
    font-size: 1.5rem;
  }
  html body .site-wrapper.page .site-content .content-header .center-col-wrapper {
    margin-left: 0px;
    padding-bottom: 10px;
  }
  html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-title-wrapper {
    margin-bottom: 5px;
  }
  html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-title-wrapper .series-title {
    font-size: 3rem;
    font-weight: bold;
    max-width: 350px;
  }
  html body .site-wrapper.page .site-content .content-header .center-col-wrapper .series-title-wrapper .posts-count {
    margin-bottom: 5px;
    color: white;
  }
  html body .site-wrapper.page .site-content .content-header .join-wrapper {
    align-items: center;
    justify-content: center;
  }
}
html body .site-wrapper.page .site-content main.main-content {
  padding: 35px 85px 60px;
  position: relative;
  overflow: hidden;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container {
  transition: all 0.3s ease-out;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item {
  position: relative;
  padding: 0px 15px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header {
  padding: 15px 0px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header .media-icon-wrapper i.fa {
  display: none;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header .item-title {
  color: #737661;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header .site-green-btn {
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 15px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header .item-action {
  display: block;
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header .item-action svg {
  width: 25px;
  height: 25px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header .item-action svg g, html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header .item-action svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header .item-action.edit-action {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header .item-action.edit-action svg {
  width: 12px;
  height: 12px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header .item-action:hover svg g, html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header .item-action:hover svg path {
  fill: #737661;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-header .item-action:hover.edit-action {
  border-color: #737661;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-body {
  min-height: 220px;
  max-height: 2000px;
  position: relative;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-body .blog-type:not(.sample) {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-body {
    min-height: 150px;
  }
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .preview-pan {
  position: absolute;
  top: 0px;
  width: 32%;
  min-height: 100%;
  height: auto;
  background-color: white;
  padding: 0px 15px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .preview-pan .img-wrapper {
  position: relative;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .preview-pan .img-wrapper .item-img {
  width: 100%;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .preview-pan .item-title {
  color: #737661;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .preview-pan .site-green-btn {
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 15px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item aside.blog-duration {
  position: absolute;
  bottom: 8px;
  right: 9px;
  padding: 7px 20px;
  z-index: 1;
  background: rgba(227, 228, 220, 0.8);
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.1;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item.type-0 header.item-header .media-icon-wrapper i.audio-icon {
  display: initial;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item.type-2 header.item-header .media-icon-wrapper i.video-icon {
  display: initial;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item.type-7 header.item-header .media-icon-wrapper i.text-icon, html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item.type-8 header.item-header .media-icon-wrapper i.text-icon, html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item.type-10 header.item-header .media-icon-wrapper i.text-icon {
  display: initial;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .type-menu .option-item img {
  display: inline-block;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .current-day-show {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item.slick-current .item-body .blog-type:not(.sample) {
  opacity: 1;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item.slick-current .current-day-show {
  display: block;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item.slick-current .other-day-show {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item.slick-current ~ .item .preview-pan {
  left: 0px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item.previous-item .preview-pan {
  right: 0px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item.next-item .preview-pan {
  left: 0px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item:focus {
  outline: none;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .slider-nav {
  position: absolute;
  top: 65px;
  height: 268px;
  width: 268px;
  background-color: rgba(255, 224, 198, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .slider-nav img {
  position: relative;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .slider-nav.arrow-left {
  left: -142px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .slider-nav.arrow-left img {
  left: 50px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .slider-nav.arrow-right {
  right: -142px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .slider-nav.arrow-right img {
  right: 50px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .slider-nav:hover {
  background-color: rgba(255, 224, 198, 0.6);
}
@media only screen and (max-width: 1400px) {
  html body .site-wrapper.page .site-content main.main-content #preview-posts .slider-nav {
    top: 55px;
  }
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .main-content-aside {
  margin-top: 20px;
  padding-left: 81%;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .main-content-aside .aside-inner {
  color: #c8cabc;
  font-size: 1.2rem;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .main-content-aside .aside-inner .provide-intro {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .main-content-aside .aside-inner .all-list-wrapper .all-list-action {
  display: block;
  color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .main-content-aside .aside-inner .all-list-wrapper .all-list-action svg {
  width: 30px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .main-content-aside .aside-inner .all-list-wrapper .all-list-action svg g, html body .site-wrapper.page .site-content main.main-content #preview-posts .main-content-aside .aside-inner .all-list-wrapper .all-list-action svg path {
  fill: #c8cabc !important;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .main-content-aside .aside-inner .all-list-wrapper .all-list-action span {
  vertical-align: middle;
  text-decoration: underline;
  font-size: 1.2em;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .main-content-aside .aside-inner .all-list-wrapper .all-list-action:hover {
  text-decoration: none;
  color: #737661;
}
html body .site-wrapper.page .site-content main.main-content #preview-posts .main-content-aside .aside-inner .all-list-wrapper .all-list-action:hover svg g, html body .site-wrapper.page .site-content main.main-content #preview-posts .main-content-aside .aside-inner .all-list-wrapper .all-list-action:hover svg path {
  fill: #737661 !important;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .left-aside {
  width: 200px;
  font-size: 1.5rem;
  color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .left-aside .post-title {
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .left-aside .back-wrapper {
  text-align: center;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .left-aside .back-wrapper a {
  color: #c8cabc;
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
  font-size: 1.3rem;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .left-aside .back-wrapper a:after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .left-aside .back-wrapper a:hover {
  color: #737661;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .left-aside .back-wrapper a:hover:after {
  background-color: #737661;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container {
  margin: 0px 20px;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item {
  flex-basis: calc(100% / 4);
  margin-bottom: 20px;
  padding: 0px 15px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header {
  margin-bottom: 10px;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .media-icon-wrapper i.fa {
  display: none;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .fav-star {
  display: block;
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .fav-star svg {
  width: 20px;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .fav-star svg g, html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .fav-star svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .item-action {
  display: block;
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .item-action svg {
  width: 25px;
  height: 25px;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .item-action svg g, html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .item-action svg path {
  fill: #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .item-action.edit-action {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #c8cabc;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .item-action.edit-action svg {
  width: 12px;
  height: 12px;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .item-action:hover svg g, html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .item-action:hover svg path {
  fill: #737661;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .item-action:hover.edit-action {
  border-color: #737661;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-header .site-green-btn {
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 15px;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-type-body {
  width: 100%;
  height: calc(100px + 5vw);
  position: relative;
  margin-bottom: 15px;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-type-body .blog-type {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-type-body .blog-type img {
  width: 100%;
  height: 100%;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-type-body .blog-type.type-0 {
  background-image: url("../../images/global-icons/audio-spectr.png");
  background-position: center center;
  background-repeat: no-repeat;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-type-body aside.blog-duration {
  position: absolute;
  bottom: 8px;
  right: 9px;
  padding: 7px 20px;
  z-index: 1;
  background: rgba(227, 228, 220, 0.8);
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.1;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item .item-title {
  color: #737661;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item.type-0 .item-header .media-icon-wrapper i.fa.audio-icon {
  display: initial;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item.type-2 .item-header .media-icon-wrapper i.fa.video-icon {
  display: initial;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item.type-7 .item-header .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item.type-8 .item-header .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item.type-10 .item-header .media-icon-wrapper i.fa.text-icon {
  display: initial;
  vertical-align: middle;
}
@media screen and (max-width: 1550px) {
  html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item {
    flex-basis: calc(100% / 3);
  }
}
@media screen and (max-width: 992px) {
  html body .site-wrapper.page .site-content main.main-content #list-posts .posts-container .item {
    flex-basis: calc(100% / 2);
  }
}
html body .site-wrapper.page .site-content main.main-content #list-posts .load-more-status {
  height: 35px;
  width: calc(100% - 70px);
  max-width: 100%;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #1fcd98;
  border-radius: 5px;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .load-more-status span {
  cursor: pointer;
  font-size: 1.5rem;
  color: #1fcd98;
  vertical-align: middle;
  font-style: italic;
  display: block;
  width: 100%;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .load-more-status .lds-ellipsis {
  display: none;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .load-more-status.status-loading span {
  display: none;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .load-more-status.status-loading .lds-ellipsis {
  display: inline-block;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .load-more-status:hover {
  border-color: #1eb785;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .load-more-status:hover span {
  color: #1eb785;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .right-aside {
  width: 200px;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .right-aside .affiliate-wrapper {
  color: #feba19;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .right-aside .affiliate-wrapper .btn.get-affiliate {
  display: block;
  margin-bottom: 5px;
  padding: 10px 5px;
  background-color: #feba19;
  font-size: 1.7rem;
  color: white;
  border-radius: 30px;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .right-aside .affiliate-wrapper .btn.get-affiliate:hover {
  background-color: #f1b018;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .right-aside .affiliate-wrapper .earn-wrapper {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
html body .site-wrapper.page .site-content main.main-content #list-posts .right-aside .affiliate-wrapper .per-month {
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  html body .site-wrapper.page .site-content main.main-content {
    padding: 15px 10px;
  }
  html body .site-wrapper.page .site-content main.main-content #preview-posts .posts-container .item .item-body .blog-type:not(.sample) {
    opacity: 1;
  }
}
html body .site-wrapper.page .site-content .content-footer {
  padding: 35px 150px;
  background-color: #f6fffc;
  position: relative;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper {
  margin-left: 140px;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .take-first-step {
  font-size: 3rem;
  font-weight: bold;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container {
  position: relative;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .wrap {
  width: 180px;
  margin: 0px auto;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .wrap button {
  width: 100%;
  font-size: 2rem;
  line-height: 34px;
  height: 46px;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .wrap button.circle {
  width: 46px;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .wrap button.filled {
  line-height: 34px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .wrap img {
  top: calc((100% - 38px) / 2);
  left: calc((100% - 49px) / 2);
  width: auto !important;
  display: none;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .wrap svg {
  left: calc((100% - 46px) / 2);
  top: 0px;
  width: 46px;
  height: 46px;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .wrap svg circle {
  r: 21px;
  cx: 23px;
  cy: 23px;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .action-item {
  background-color: transparent;
  display: flex;
  line-height: 0;
  border-radius: 50%;
  border: 2px solid #1fcd98;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .action-item svg {
  width: 30px;
  max-height: 30px;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .action-item svg g {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .action-item svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .action-item svg polygon {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .action-item:hover {
  border-color: #1eb785;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .action-item:hover svg {
  width: 30px;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .action-item:hover svg g, html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .action-item:hover svg path, html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .action-item:hover svg polygon {
  fill: #1eb785;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .actions-container .site-green-btn {
  padding: 8px 30px;
  font-size: 1.7rem;
}
html body .site-wrapper.page .site-content .content-footer .footer-inner .price-wrapper .series-price {
  font-size: 2.5rem;
  font-weight: bold;
}
html body .site-wrapper.page .site-content .content-footer .line-decoration-wrapper {
  position: absolute;
  top: -8px;
  left: 215px;
  right: 0px;
  height: 15px;
}
html body .site-wrapper.page .site-content .content-footer .line-decoration-wrapper .line-decoration-inner {
  line-height: 1;
}
html body .site-wrapper.page .site-content .content-footer .line-decoration-wrapper .line-decoration-inner .you-are-here {
  color: #1fcd98;
}
html body .site-wrapper.page .site-content .content-footer .line-decoration-wrapper .line-decoration-inner .you-are-here:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 3px solid #1fcd98;
}
html body .site-wrapper.page .site-content .content-footer .line-decoration-wrapper .line-decoration-inner .you-are-here-line {
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
html body .site-wrapper.page .site-content .content-footer .line-decoration-wrapper .line-decoration-inner .on-your-path {
  color: #1fcd98;
}
html body .site-wrapper.page .site-content .content-footer .line-decoration-wrapper .line-decoration-inner .on-your-path-line {
  height: 1px;
  position: relative;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
html body .site-wrapper.page .site-content .content-footer .line-decoration-wrapper .line-decoration-inner .on-your-path-line:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0px;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, transparent 5px, #1fcd98 6px, transparent 7px, transparent 10px);
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
html body .site-wrapper.page .site-content .content-footer .line-decoration-wrapper .line-decoration-inner .self-development {
  color: #f26d7e;
  line-height: 1;
}
html body .site-wrapper.page .site-content .content-footer .line-decoration-wrapper .line-decoration-inner .self-development:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #f26d7e;
}
html body .site-wrapper.page .site-content .content-footer .line-decoration-wrapper .line-decoration-inner .self-development-line {
  height: 1px;
  background-image: linear-gradient(to right, #f26d7e 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
@media screen and (max-width: 768px) {
  html body .site-wrapper.page .site-content .content-footer {
    padding: 15px 10px;
  }
  html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper {
    margin-left: 0px;
  }
  html body .site-wrapper.page .site-content .content-footer .footer-inner .take-first-step-wrapper .take-first-step {
    font-size: 3rem;
    font-weight: bold;
  }
}

.swal-overlay.swal-overlay--show-modal .swal-modal.welcome {
  font-family: "Content-Muli";
}
.swal-overlay.swal-overlay--show-modal .swal-modal.welcome .swal-title {
  color: #c4cc72;
}
.swal-overlay.swal-overlay--show-modal .swal-modal.welcome .swal-text {
  text-align: center;
  font-size: 25px;
}

.swal-overlay .swal-modal.thanks-join .swal-footer {
  position: relative;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap {
  position: absolute;
  left: 10px;
  top: 17px;
  padding: 10px 24px;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input {
  background-color: transparent;
  margin-top: 0px;
  vertical-align: middle;
  position: absolute;
  left: -9999px;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label {
  color: black;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:before {
  border-color: black;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:after {
  font-size: 0.9em;
  content: "✔";
  position: absolute;
  left: 0em;
  top: 0em;
  width: 1em;
  height: 1em;
  color: black;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label {
  color: grey;
  font-size: 18px;
  line-height: 1.1em;
  vertical-align: middle;
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
  font-weight: normal;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1em;
  height: 1em;
  border: 1px solid grey;
}

/*# sourceMappingURL=preview_series-page.css.map */
