html {
  overflow: auto; }
  html body {
    line-height: 1;
    text-align: center;
    overflow: auto; }
    html body .site-wrapper.page {
      background-color: white;
      font-family: "EB Garamond", sans-serif; }
      html body .site-wrapper.page > .site-content {
        padding: 30px 15px;
        background: #fff;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #fff, #e7ecf1);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #fff, #e7ecf1);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-image: url("https://www.walden.ly/assets/images/p6.png"); }
        html body .site-wrapper.page > .site-content > .content-wrapper {
          max-width: 1400px;
          padding: 40px 10px 20px 10px; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content {
            background-color: transparent;
            padding-top: 25px;
            min-height: 700px; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item {
              margin-bottom: 30px;
              background: #9bbbe1;
              /* fallback for old browsers */
              background: -webkit-radial-gradient(ellipse, #f6fbff, #9bbbe1);
              /* Chrome 10-25, Safari 5.1-6 */
              background: radial-gradient(ellipse, #f6fbff, #9bbbe1);
              /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              padding: 60px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item .content-item-inner {
                padding: 30px;
                background-color: white;
                box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.15); }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item .content-item-inner .item-header {
                  margin-bottom: 20px;
                  text-align: center;
                  font-size: 2.5em; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner {
                position: relative; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .layout-item {
                  text-align: center;
                  padding: 5px 20px;
                  position: relative; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .layout-item .item-icon-wrapper {
                    margin-bottom: 20px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .layout-item .item-icon-wrapper svg {
                      width: 250px;
                      max-width: 100%;
                      cursor: pointer; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .layout-item .item-icon-wrapper svg g {
                        fill: #808080; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .layout-item .item-icon-wrapper svg:hover g {
                        fill: #575757; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .layout-item .item-icon-wrapper img {
                      width: 250px;
                      max-width: 100%;
                      cursor: pointer;
                      opacity: .5; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .layout-item .item-icon-wrapper img:hover {
                        opacity: .6; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .layout-item h3 {
                    font-size: 2em; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .layout-item p {
                    font-size: 1.5em; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .layout-item a {
                    font-size: 1.5em; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .layout-item:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 1px;
                    bottom: 100px;
                    background-color: #575757; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .layout-item.last-item:after {
                    display: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .go-to-preview {
                  position: absolute;
                  top: 10px;
                  right: 10px;
                  font-size: 2em;
                  padding: 5px;
                  cursor: pointer;
                  opacity: 0;
                  transition: opacity .3s;
                  color: #0aabff; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .go-to-preview span {
                    vertical-align: middle; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .go-to-preview .fa {
                    position: relative;
                    top: 2px;
                    vertical-align: middle; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .go-to-preview:hover {
                    color: #0a7db4; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.select-layout-type .content-item-inner .go-to-preview.active {
                    opacity: 1; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content > section.content-item.code-embed .embed-editor .editor-header {
                z-index: 10; }

/*# sourceMappingURL=previewseriesembed-page.css.map */
