html {
  font-size: 12px; }
  html body .site-wrapper.page .site-content .preview-blog-header {
    padding: 70px 75px 40px;
    background-color: #f6fffc; }
    html body .site-wrapper.page .site-content .preview-blog-header .blog-title {
      font-size: 2rem; }
    @media screen and (max-width: 768px) {
      html body .site-wrapper.page .site-content .preview-blog-header {
        padding: 25px 10px 10px; } }
  html body .site-wrapper.page .site-content main.main-content {
    min-height: 500px;
    position: relative;
    padding: 25px 20px;
    font-size: 1.4rem; }
    html body .site-wrapper.page .site-content main.main-content .blog-wrapper {
      max-width: 992px;
      margin: 0px auto;
      position: relative; }
      html body .site-wrapper.page .site-content main.main-content .blog-wrapper .video-js {
        width: auto !important; }
        html body .site-wrapper.page .site-content main.main-content .blog-wrapper .video-js .vjs-big-play-button {
          border-radius: 50%;
          border: none;
          width: 6em;
          height: 6em;
          left: calc((100% - 6em) / 2);
          top: calc((100% - 6em) / 2);
          background-color: rgba(115, 133, 159, 0.5); }
          html body .site-wrapper.page .site-content main.main-content .blog-wrapper .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
            font-size: 5em;
            line-height: 1.2; }
        html body .site-wrapper.page .site-content main.main-content .blog-wrapper .video-js.vjs-waiting .vjs-big-play-button {
          opacity: 0; }
        html body .site-wrapper.page .site-content main.main-content .blog-wrapper .video-js:hover .vjs-big-play-button {
          background-color: rgba(43, 51, 63, 0.7); }
      html body .site-wrapper.page .site-content main.main-content .blog-wrapper aside.blog-duration {
        position: absolute;
        bottom: 8px;
        right: 9px;
        padding: 7px 20px;
        z-index: 1;
        background: rgba(227, 228, 220, 0.8);
        border-radius: 10px;
        font-size: 1.2rem;
        line-height: 1.1; }
      html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper {
        display: none;
        width: 300px;
        height: 300px;
        background-color: transparent;
        box-shadow: none;
        z-index: 999;
        top: auto;
        left: auto;
        right: 0px;
        bottom: 0px;
        transform: rotate(90deg); }
        html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper .circle-nav-toggle {
          border: none;
          width: 50px;
          height: 50px;
          top: 5px;
          right: 5px;
          opacity: 0; }
          html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper .circle-nav-toggle svg#Capa_1 {
            width: 50px; }
            html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper .circle-nav-toggle svg#Capa_1 g path {
              fill: white; }
          html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper .circle-nav-toggle.circle-nav-open {
            opacity: 1; }
            html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper .circle-nav-toggle.circle-nav-open svg#Capa_1 g path {
              fill: white; }
        html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper ul.circle-nav-menu {
          width: 300px;
          height: 300px; }
          html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item {
            width: 45px;
            height: 45px;
            box-sizing: border-box;
            transform: rotate(-90deg); }
            html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a {
              padding: 0px;
              line-height: 0; }
              html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg {
                width: 30px !important;
                height: 30px !important; }
                html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg g path {
                  fill: #ff7b7b !important; }
          html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper ul.circle-nav-menu:not(.circle-nav-open) li.circle-nav-item {
            left: 300px;
            bottom: 300px; }
        html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper .circle-nav-panel {
          margin-left: 311px; }
        html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper .circle-nav-panel.circle-nav-open {
          margin-left: 311px;
          width: 600px;
          height: 600px; }
        html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper * {
          max-width: none; }
        html body .site-wrapper.page .site-content main.main-content .blog-wrapper .circle-nav-wrapper.circle-nav-open {
          z-index: 1001; }
      html body .site-wrapper.page .site-content main.main-content .blog-wrapper * {
        max-width: 100%; }
        html body .site-wrapper.page .site-content main.main-content .blog-wrapper *.flex-row {
          max-width: none; }
      html body .site-wrapper.page .site-content main.main-content .blog-wrapper:hover .slider-nav {
        display: flex; }

/*# sourceMappingURL=preview_blog-page.css.map */
