@import "../../config/css/colors.scss";

html{
    body{
        .site-wrapper.page{
            .site-content{
                text-align: left;
                .content-header{
                    padding: 70px 90px 0px;
                    background-color: $lightGreen;
                    .category-wrapper{
                        .category-name{
                            color: $lightGrey;
                            text-decoration: none;
                            &:hover{
                                color: black;
                            }
                        }
                        aside{
                            a{
                                color: $lightGrey;
                                text-decoration: none;
                                &:hover{
                                    color: black;
                                }
                            }
                        }
                    }
                    .center-col-wrapper{
                        margin-left: 100px;
                        position: relative;
                        padding-bottom: 25px;
                        padding-left: 30px;
                        .series-title-wrapper{
                            margin-bottom: 5px;
                            .series-title{
                                font-size: 3rem;
                                font-weight: bold;
                                max-width: 350px;
                            }
                            .posts-count{
                                margin-bottom: 5px;
                                color: white;
                            }
                        }
                        .series-actions{
                            .action-item{
                                background-color: transparent;
                                display: flex;
                                line-height: 0;
                                border-radius: 50%;
                                border: 2px solid $greenColor;
                                height: 50px;
                                width: 50px;
                                box-sizing: border-box;
                                justify-content: center;
                                align-items: center;
                                svg{
                                    width: 30px;
                                    max-height: 30px;
                                    g{
                                        fill: $greenColor;
                                    }
                                    path{
                                        fill: $greenColor;
                                    }
                                    polygon{
                                        fill: $greenColor;
                                    }
                                }
                                &.share-action{
                                    position: relative;
                                    cursor: pointer;
                                }
                                &:hover{
                                    border-color: $greenHover;
                                    svg{
                                        width: 30px;
                                        g, path, polygon{
                                            fill: $greenHover;
                                        }
                                    }
                                }
                            }
                            .list-icon-wrapper{
                                margin-top: 15px;
                                text-align: center;
                                .list-action{
                                    display: block;
                                    svg{
                                        width: 30px;
                                        g, path{
                                            fill: #caf4e8 !important;
                                        }
                                    }
                                    &:hover{
                                        svg{
                                            g, path{
                                                fill: $greenColor !important;
                                            }
                                        }
                                    }
                                }
                            }
                            .site-green-btn{
                                padding: 8px 30px;
                                font-size: 1.7rem;
                            }
                        }
                        .line-decoration-wrapper {
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                            width: 100%;
                            height: 1px;
                            background-image: linear-gradient(to right, $greenColor 10%, rgba(255, 255, 255, 0) 0%);
                            background-size: 10px 1px;
                            background-repeat: repeat-x;
                            .top-circle{
                                position: absolute;
                                bottom: calc(95px);
                                left: -7px;
                                border-radius: 50%;
                                width: 16px;
                                height: 16px;
                                border: 3px solid $greenColor;
                            }
                            .bottom-circle{
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                right: -4px;
                                top: 26px;
                                border-radius: 50%;
                                background-color: $greenColor;
                            }
                            &:before{
                                content: '';
                                position: absolute;
                                display: block;
                                width: 1px;
                                height: 95px;
                                bottom: 0px;
                                left: 0px;
                                background-image: linear-gradient(to bottom, $greenColor 10%, rgba(255, 255, 255, 0) 0%);
                                background-position: left;
                                background-size: 1px 10px;
                                background-repeat: repeat-y;
                            }
                            &:after{
                                content: '';
                                position: absolute;
                                display: block;
                                width: 1px;
                                height: 26px;
                                top: 0px;
                                right: 0px;
                                background-image: linear-gradient(to bottom, $greenColor 10%, rgba(255, 255, 255, 0) 0%);
                                background-position: left;
                                background-size: 1px 10px;
                                background-repeat: repeat-y;
                            }
                        }
                    }
                    .join-wrapper{
                        text-align: center;
                        .wrap{
                            width: 180px;
                            margin: 0px auto;
                            button{
                                width: 100%;
                                font-size: 2rem;
                                line-height: 34px;
                                height: 46px;
                                &.circle{
                                    width: 46px;
                                }
                                &.filled{
                                    line-height: 34px;
                                    vertical-align: middle;
                                }
                            }
                            img{
                                top: calc((100% - 38px) / 2);
                                left: calc((100% - 49px) / 2);
                                width: auto !important;
                                display: none;
                            }
                            svg{
                                left: calc((100% - 46px) / 2);
                                top: 0px;
                                width: 46px;
                                height: 46px;
                                circle{
                                    r: 21px;
                                    cx: 23px;
                                    cy: 23px;
                                }
                            }
                        }
                        .price-wrapper{
                            span{
                                font-size: 2.5rem;
                                font-weight: bold;
                            }
                        }
                        aside{
                        }
                    }
                    @media screen and (max-width: 768px) {
                        padding: 25px 10px 10px;
                        .category-wrapper{
                            .category-name{
                                font-size: 1.5rem;
                            }
                        }
                        .center-col-wrapper{
                            margin-left: 0px;
                            padding-bottom: 10px;
                            .series-title-wrapper{
                                margin-bottom: 5px;
                                .series-title{
                                    font-size: 3rem;
                                    font-weight: bold;
                                    max-width: 350px;
                                }
                                .posts-count{
                                    margin-bottom: 5px;
                                    color: white;
                                }
                            }
                        }
                        .join-wrapper{
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
                main.main-content{
                    padding: 35px 85px 60px;
                    position: relative;
                    overflow: hidden;
                    #preview-posts{
                        .posts-container{
                            transition: all .3s ease-out;
                            .item{
                                position: relative;
                                padding: 0px 15px;
                                font-size: 1.5rem;
                                .item-header{
                                    padding: 15px 0px;
                                    .media-icon-wrapper{
                                        i.fa{
                                            display: none;
                                            vertical-align: middle;
                                        }
                                    }
                                    .item-title{
                                        color: $contentColor;
                                    }
                                    .site-green-btn{
                                        padding: 5px 10px;
                                        font-size: 1.5rem;
                                        border-radius: 15px;
                                    }
                                    .item-action {
                                        display: block;
                                        line-height: 0;
                                        svg{
                                            width: 25px;
                                            height: 25px;
                                            g, path {
                                                fill: $lightGrey;
                                            }
                                        }
                                        &.edit-action {
                                            display: flex;
                                            width: 25px;
                                            height: 25px;
                                            border-radius: 50%;
                                            border: 1px solid $lightGrey;
                                            svg {
                                                width: 12px;
                                                height: 12px;
                                            }
                                        }
                                        &:hover{
                                            svg{
                                                g, path {
                                                    fill: $contentColor;
                                                }
                                            }
                                            &.edit-action {
                                                border-color: $contentColor;
                                            }
                                        }
                                    }
                                }
                                .item-body{
                                    min-height: 220px;
                                    max-height: 2000px;
                                    position: relative;
                                    .blog-type:not(.sample){
                                        opacity: 0;
                                    }
                                    @media screen and (max-width: 768px){
                                        min-height: 150px;
                                    }
                                }
                                .preview-pan{
                                    position: absolute;
                                    top: 0px;
                                    width: 32%;
                                    min-height: 100%;
                                    height: auto;
                                    background-color: white;
                                    padding: 0px 15px;
                                    .img-wrapper{
                                        position: relative;
                                        .item-img{
                                            width: 100%
                                        }
                                    }
                                    .item-title{
                                        color: $contentColor;
                                    }
                                    .site-green-btn{
                                        padding: 5px 10px;
                                        font-size: 1.5rem;
                                        border-radius: 15px;
                                    }
                                }
                                aside.blog-duration{
                                    position: absolute;
                                    bottom: 8px;
                                    right: 9px;
                                    padding: 7px 20px;
                                    z-index: 1;
                                    background: rgba(227, 228, 220, .8);
                                    border-radius: 10px;
                                    font-size: 1.2rem;
                                    line-height: 1.1;
                                }
                                &.type-0{
                                    header.item-header{
                                        .media-icon-wrapper{
                                            i.audio-icon{
                                                display: initial;
                                            }
                                        }
                                    }
                                }
                                &.type-2{
                                    header.item-header{
                                        .media-icon-wrapper{
                                            i.video-icon{
                                                display: initial;
                                            }
                                        }
                                    }
                                }
                                &.type-7, &.type-8, &.type-10{
                                    header.item-header{
                                        .media-icon-wrapper{
                                            i.text-icon{
                                                display: initial;
                                            }
                                        }
                                    }
                                }
                                .type-menu{
                                    .option-item{
                                        img{
                                            display: inline-block;
                                        }
                                    }
                                }
                                .current-day-show{
                                    display: none;
                                }
                                &.slick-current{
                                    .item-body{
                                        .blog-type:not(.sample){
                                            opacity: 1;
                                        }
                                    }
                                    .current-day-show{
                                        display: block;
                                    }
                                    .other-day-show{
                                        display: none;
                                    }
                                    & ~ .item{
                                        .preview-pan{
                                            left: 0px;
                                        }
                                    }
                                }
                                &.previous-item{
                                    .preview-pan{
                                        right: 0px;
                                    }
                                }
                                &.next-item{
                                    .preview-pan{
                                        left: 0px;
                                    }
                                }
                                &:focus{
                                    outline: none;
                                }
                            }
                        }
                        .slider-nav{
                            position: absolute;
                            top: 65px;
                            height: 268px;
                            width: 268px;
                            background-color: rgba(255, 224, 198, .3);
                            border-radius: 50%;
                            cursor: pointer;
                            img{
                                position: relative;
                            }
                            &.arrow-left{
                                left: -142px;
                                img{
                                    left: 50px;
                                }
                            }
                            &.arrow-right{
                                right: -142px;
                                img{
                                    right: 50px;
                                }
                            }
                            &:hover{
                                background-color: rgba(255, 224, 198, .6);
                            }
                            @media only screen and (max-width: 1400px) {
                                top: 55px;
                            }
                        }
                        .main-content-aside{
                            margin-top: 20px;
                            padding-left: 81%;
                            .aside-inner{
                                color: $lightGrey;
                                font-size: 1.2rem;
                                .provide-intro{
                                    margin-bottom: 15px;
                                }
                                .all-list-wrapper{
                                    .all-list-action{
                                        display: block;
                                        color: $lightGrey;
                                        svg{
                                            width: 30px;
                                            vertical-align: middle;
                                            g, path{
                                                fill: $lightGrey !important;
                                            }
                                        }
                                        span{
                                            vertical-align: middle;
                                            text-decoration: underline;
                                            font-size: 1.2em;
                                        }
                                        &:hover{
                                            text-decoration: none;
                                            color: $contentColor;
                                            svg{
                                                g, path{
                                                    fill: $contentColor !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    #list-posts{
                        .left-aside{
                            width: 200px;
                            font-size: 1.5rem;
                            color: $lightGrey;
                            .post-title{
                                margin-bottom: 15px;
                            }
                            .back-wrapper{
                                text-align: center;
                                a{
                                    color: $lightGrey;
                                    position: relative;
                                    padding-bottom: 2px;
                                    text-decoration: none;
                                    font-size: 1.3rem;
                                    &:after{
                                        position: absolute;
                                        content: '';
                                        left: 0px;
                                        bottom: 0px;
                                        width: 100%;
                                        height: 1px;
                                        background-color: $lightGrey;
                                    }
                                    &:hover{
                                        color: $contentColor;
                                        &:after{
                                            background-color: $contentColor;
                                        }
                                    }
                                }
                            }
                        }
                        .posts-container{
                            margin: 0px 20px;
                            .item{
                                flex-basis: calc(100% / 4);
                                margin-bottom: 20px;
                                padding: 0px 15px;
                                font-size: 1.5rem;
                                .item-header{
                                    margin-bottom: 10px;
                                    .media-icon-wrapper{
                                        i.fa{
                                            display: none;
                                            vertical-align: middle;
                                        }
                                    }
                                    .fav-star{
                                        display: block;
                                        line-height: 0;
                                        svg{
                                            width: 20px;
                                            g, path{
                                                fill: $greenColor;
                                            }
                                        }
                                    }
                                    .item-action {
                                        display: block;
                                        line-height: 0;
                                        svg{
                                            width: 25px;
                                            height: 25px;
                                            g, path {
                                                fill: $lightGrey;
                                            }
                                        }
                                        &.edit-action {
                                            display: flex;
                                            width: 25px;
                                            height: 25px;
                                            border-radius: 50%;
                                            border: 1px solid $lightGrey;
                                            svg {
                                                width: 12px;
                                                height: 12px;
                                            }
                                        }
                                        &:hover{
                                            svg{
                                                g, path {
                                                    fill: $contentColor;
                                                }
                                            }
                                            &.edit-action {
                                                border-color: $contentColor;
                                            }
                                        }
                                    }
                                    .site-green-btn{
                                        padding: 5px 10px;
                                        font-size: 1.5rem;
                                        border-radius: 15px;
                                    }
                                }
                                .item-type-body{
                                    width: 100%;
                                    height: calc(100px + 5vw);
                                    position: relative;
                                    margin-bottom: 15px;
                                    .blog-type{
                                        position: absolute;
                                        top: 0px;
                                        left: 0px;
                                        width: 100%;
                                        height: 100%;
                                        overflow: hidden;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                        }
                                        &.type-0{
                                            background-image: url("../../images/global-icons/audio-spectr.png");
                                            background-position: center center;
                                            background-repeat: no-repeat;
                                        }
                                    }
                                    aside.blog-duration{
                                        position: absolute;
                                        bottom: 8px;
                                        right: 9px;
                                        padding: 7px 20px;
                                        z-index: 1;
                                        background: rgba(227, 228, 220, .8);
                                        border-radius: 10px;
                                        font-size: 1.2rem;
                                        line-height: 1.1;
                                    }
                                }
                                .item-title{
                                    color: $contentColor;
                                }
                                &.type-0{
                                    .item-header{
                                        .media-icon-wrapper{
                                            i.fa.audio-icon{
                                                display: initial;
                                                vertical-align: middle;
                                            }
                                        }
                                    }
                                }
                                &.type-2{
                                    .item-header{
                                        .media-icon-wrapper{
                                            i.fa.video-icon{
                                                display: initial;
                                                vertical-align: middle;
                                            }
                                        }
                                    }
                                }
                                &.type-7, &.type-8, &.type-10{
                                    .item-header{
                                        .media-icon-wrapper{
                                            i.fa.text-icon{
                                                display: initial;
                                                vertical-align: middle;
                                            }
                                        }
                                    }
                                }
                                @media screen and (max-width: 1550px){
                                    flex-basis: calc(100% / 3);
                                }
                                @media screen and (max-width: 992px){
                                    flex-basis: calc(100% / 2);
                                }
                            }
                        }
                        .load-more-status{
                            height: 35px;
                            width: calc(100% - 70px);
                            max-width: 100%;
                            margin: 10px auto;
                            text-align: center;
                            border: 1px solid $greenColor;
                            border-radius: 5px;
                            span{
                                cursor: pointer;
                                font-size: 1.5rem;
                                color: $greenColor;
                                vertical-align: middle;
                                font-style: italic;
                                display: block;
                                width: 100%;
                            }
                            .lds-ellipsis{
                                display: none;
                                vertical-align: middle;
                            }
                            &.status-loading{
                                span{
                                    display: none;
                                }
                                .lds-ellipsis{
                                    display: inline-block;
                                }
                            }
                            &:hover{
                                border-color: $greenHover;
                                span{
                                    color: $greenHover;
                                }
                            }
                        }
                        .right-aside{
                            width: 200px;
                            font-size: 1.5rem;
                            .affiliate-wrapper{
                                color: $yellowColor;
                                .btn.get-affiliate{
                                    display: block;
                                    margin-bottom: 5px;
                                    padding: 10px 5px;
                                    background-color: $yellowColor;
                                    font-size: 1.7rem;
                                    color: white;
                                    border-radius: 30px;
                                    &:hover{
                                        background-color: #f1b018;
                                    }
                                }
                                .earn-wrapper{
                                    text-align: center;
                                    font-size: 3rem;
                                    font-weight: bold;
                                }
                                .per-month{
                                    text-align: center;
                                    line-height: 1;
                                }
                            }
                        }
                    }
                    @media screen and (max-width: 768px) {
                        padding: 15px 10px;
                        #preview-posts{
                            .posts-container{
                                .item{
                                    .item-body{
                                        .blog-type:not(.sample){
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .content-footer{
                    padding: 35px 150px;
                    background-color: $lightGreen;
                    position: relative;
                    .footer-inner{
                        .take-first-step-wrapper{
                            margin-left: 140px;
                            .take-first-step{
                                font-size: 3rem;
                                font-weight: bold;
                            }
                            .actions-container{
                                position: relative;
                                .wrap{
                                    width: 180px;
                                    margin: 0px auto;
                                    button{
                                        width: 100%;
                                        font-size: 2rem;
                                        line-height: 34px;
                                        height: 46px;
                                        &.circle{
                                            width: 46px;
                                        }
                                        &.filled{
                                            line-height: 34px;
                                            vertical-align: middle;
                                        }
                                    }
                                    img{
                                        top: calc((100% - 38px) / 2);
                                        left: calc((100% - 49px) / 2);
                                        width: auto !important;
                                        display: none;
                                    }
                                    svg{
                                        left: calc((100% - 46px) / 2);
                                        top: 0px;
                                        width: 46px;
                                        height: 46px;
                                        circle{
                                            r: 21px;
                                            cx: 23px;
                                            cy: 23px;
                                        }
                                    }
                                }
                                .action-item{
                                    background-color: transparent;
                                    display: flex;
                                    line-height: 0;
                                    border-radius: 50%;
                                    border: 2px solid $greenColor;
                                    height: 50px;
                                    width: 50px;
                                    box-sizing: border-box;
                                    justify-content: center;
                                    align-items: center;
                                    svg{
                                        width: 30px;
                                        max-height: 30px;
                                        g{
                                            fill: $greenColor;
                                        }
                                        path{
                                            fill: $greenColor;
                                        }
                                        polygon{
                                            fill: $greenColor;
                                        }
                                    }
                                    &:hover{
                                        border-color: $greenHover;
                                        svg{
                                            width: 30px;
                                            g, path, polygon{
                                                fill: $greenHover;
                                            }
                                        }
                                    }
                                }
                                .site-green-btn{
                                    padding: 8px 30px;
                                    font-size: 1.7rem;
                                }
                            }
                        }
                        .price-wrapper{
                            .series-price{
                                font-size: 2.5rem;
                                font-weight: bold;
                            }
                        }
                    }
                    .line-decoration-wrapper{
                        position: absolute;
                        top: -8px;
                        left: 215px;
                        right: 0px;
                        height: 15px;
                        .line-decoration-inner{
                            line-height: 1;
                            .you-are-here{
                                color: $greenColor;
                                &:after{
                                    content: '';
                                    display: inline-block;
                                    margin-left: 5px;
                                    vertical-align: middle;
                                    border-radius: 50%;
                                    width: 16px;
                                    height: 16px;
                                    border: 3px solid $greenColor;
                                }
                            }
                            .you-are-here-line{
                                height: 1px;
                                background-image: linear-gradient(to right, $greenColor 1px, transparent 0%);
                                background-size: 5px 1px;
                                background-repeat: repeat-x;
                            }
                            .on-your-path{
                                color: $greenColor;
                            }
                            .on-your-path-line{
                                height: 1px;
                                position: relative;
                                background-image: linear-gradient(to right, $greenColor 1px, transparent 0%);
                                background-size: 10px 1px;
                                background-repeat: repeat-x;
                                &:after{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    bottom: -2px;
                                    left: 0px;
                                    height: 1px;
                                    width: 100%;
                                    background-image: linear-gradient(to right, transparent 5px, $greenColor 6px, transparent 7px, transparent 10px);
                                    background-size: 10px 1px;
                                    background-repeat: repeat-x;
                                }
                            }
                            .self-development{
                                color: $redColor;
                                line-height: 1;
                                &:before{
                                    content: '';
                                    display: inline-block;
                                    margin-right: 5px;
                                    vertical-align: middle;
                                    border-radius: 50%;
                                    width: 16px;
                                    height: 16px;
                                    background-color: $redColor;
                                }
                            }
                            .self-development-line{
                                height: 1px;
                                background-image: linear-gradient(to right, $redColor 1px, transparent 0%);
                                background-size: 5px 1px;
                                background-repeat: repeat-x;
                            }
                        }
                    }
                    @media screen and (max-width: 768px){
                        padding: 15px 10px;
                        .footer-inner{
                            .take-first-step-wrapper{
                                margin-left: 0px;
                                .take-first-step{
                                    font-size: 3rem;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.swal-overlay.swal-overlay--show-modal{
    .swal-modal.welcome {
        font-family: 'Content-Muli';
        .swal-title{
            color: #c4cc72;
        }
        .swal-text{
            text-align: center;
            font-size: 25px;
        }
    }
}
.swal-overlay{
    .swal-modal.thanks-join{
        .swal-footer{
            position: relative;
            .disable-wrap{
                position: absolute;
                left: 10px;
                top: 17px;
                padding: 10px 24px;
                input{
                    background-color: transparent;
                    margin-top: 0px;
                    vertical-align: middle;
                    position: absolute;
                    left: -9999px;
                    &:checked{
                        & + label{
                            color: black;
                            &:before{
                                border-color: black;
                            }
                            &:after{
                                font-size: .9em;
                                content: '\2714';
                                position: absolute;
                                left: 0em;
                                top: 0em;
                                width: 1em;
                                height: 1em;
                                color: black;
                            }
                        }
                    }
                }
                label{
                    color: $content_color;
                    font-size: 18px;
                    line-height: 1.1em;
                    vertical-align: middle;
                    position: relative;
                    padding-left: 1.5em;
                    cursor: pointer;
                    font-weight: normal;
                    &:before{
                        content: '';
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 1em;
                        height: 1em;
                        border: 1px solid $content_color;
                    }
                }
            }
        }
    }
}