@charset "UTF-8";
.page-preview-series .site-content {
  --color-grey: #5b5b5b;
  overflow: hidden;
}
.page-preview-series .site-content .page__header .header__series {
  padding: 35px 15px 0px;
  background-color: #5e5e5e;
}
.page-preview-series .site-content .page__header .header__series .section__inner {
  width: 1200px;
  max-width: 100%;
  margin: 0px auto;
  padding: 95px 0px 150px;
  position: relative;
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__card {
  width: 680px;
  min-height: 370px;
  max-width: 100%;
  position: relative;
  z-index: 1;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 80px;
  padding: 60px 15px;
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__card .card__inner {
  width: 590px;
  max-width: 100%;
  margin: 0px auto;
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__card .card__inner .inner__content {
  width: 520px;
  max-width: 100%;
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__card .card__inner .inner__content .series__title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--color-grey);
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__card .card__inner .inner__content .series__category {
  margin-bottom: 50px;
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__card .card__inner .inner__content .series__category a {
  font-size: 20px;
  color: var(--color-grey);
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__card .card__inner .inner__content .series__category a:hover {
  text-decoration: underline;
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__card .card__inner .inner__content .series__price-join .series__price {
  position: relative;
  padding-left: 40px;
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__card .card__inner .inner__content .series__price-join .series__price .price__value {
  font-size: 35px;
  font-weight: bold;
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__card .card__inner .inner__content .series__price-join .series__price .per-month {
  font-size: 12px;
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__card .card__inner .inner__content .series__price-join .series__price:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 17px;
  height: 100%;
  border-radius: 8px;
  background-color: var(--color-green);
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__card .card__inner .inner__content .series__price-join .site-green-btn {
  width: 340px;
  font-size: 40px;
  border-radius: 40px;
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__image {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 770px;
  height: 770px;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__image img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  position: relative;
  right: 15px;
  top: 15px;
  border-radius: 50%;
}
.page-preview-series .site-content .page__header .header__series .section__inner .series__image svg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 768px) {
  .page-preview-series .site-content .page__header .header__series .section__inner {
    padding: 360px 0px 50px;
  }
  .page-preview-series .site-content .page__header .header__series .section__inner .series__card .card__inner .inner__content .series__price-join .site-green-btn {
    margin-left: 0px;
    margin-right: auto;
    width: 250px;
    font-size: 30px;
    border-radius: 30px;
  }
  .page-preview-series .site-content .page__header .header__series .section__inner .series__image {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
  }
  .page-preview-series .site-content .page__header .header__series .section__inner .series__image img {
    width: 90%;
    height: 90%;
    position: relative;
    right: 15px;
    top: 15px;
    border-radius: 50%;
  }
  .page-preview-series .site-content .page__header .header__series .section__inner .series__image svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
.page-preview-series .site-content .page__header .header__author {
  padding-top: 30px;
  background-color: #30d4a1;
  text-align: left;
}
.page-preview-series .site-content .page__header .header__author .section__inner {
  width: 1000px;
  max-width: 100%;
  margin: 0px auto;
}
.page-preview-series .site-content .page__header .header__author .section__inner .author__image {
  width: 370px;
  height: 370px;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 70px;
  bottom: 80px;
}
.page-preview-series .site-content .page__header .header__author .section__inner .author__image img {
  width: 85%;
  height: 85%;
  position: relative;
  left: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.page-preview-series .site-content .page__header .header__author .section__inner .author__image svg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.page-preview-series .site-content .page__header .header__author .section__inner .author__text {
  padding: 100px 0px;
  color: white;
}
.page-preview-series .site-content .page__header .header__author .section__inner .author__text .author__name {
  font-size: 40px;
  margin-bottom: 20px;
}
.page-preview-series .site-content .page__header .header__author .section__inner .author__text .author__name a {
  color: inherit;
}
.page-preview-series .site-content .page__header .header__author .section__inner .author__text .author__description {
  font-size: 20px;
}
.page-preview-series .site-content .page__header .header__author .section__inner .layout__image {
  max-width: 100%;
}
@media all and (max-width: 768px) {
  .page-preview-series .site-content .page__header .header__author .section__inner .author__image {
    bottom: 10px;
    margin-right: 0px;
  }
  .page-preview-series .site-content .page__header .header__author .section__inner .author__text {
    padding: 20px 10px;
  }
}
.page-preview-series .site-content .page__content {
  color: var(--color-grey);
}
.page-preview-series .site-content .page__content .explore__this {
  padding: 70px 15px 80px;
}
.page-preview-series .site-content .page__content .explore__this .section__inner {
  width: 500px;
  max-width: 100%;
  margin: 0px auto;
}
.page-preview-series .site-content .page__content .explore__this .section__inner .section__header {
  margin-bottom: 25px;
}
.page-preview-series .site-content .page__content .explore__this .section__inner .series__description {
  font-size: 20px;
}
.page-preview-series .site-content .page__content .series__score {
  background-color: #c8cbba;
  padding: -20px 0px;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__item {
  position: relative;
  margin: -35px 4px;
  background-color: var(--color-grey);
  border-radius: 50%;
  color: white;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__item .item__inner .item__icon svg {
  fill: white;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__item .item__inner .item__icon img {
  width: 50px;
  height: 50px;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__item > svg {
  position: absolute;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__share, .page-preview-series .site-content .page__content .series__score .section__inner .score__day {
  width: 210px;
  height: 210px;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__share .item__inner, .page-preview-series .site-content .page__content .series__score .section__inner .score__day .item__inner {
  position: relative;
  z-index: 2;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__share .item__inner .item__name, .page-preview-series .site-content .page__content .series__score .section__inner .score__day .item__inner .item__name {
  font-size: 15px;
  margin-bottom: 0px;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__share .item__inner .item__value, .page-preview-series .site-content .page__content .series__score .section__inner .score__day .item__inner .item__value {
  font-size: 35px;
  margin-bottom: 0px;
  font-weight: bold;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__share .item__inner .item__icon svg, .page-preview-series .site-content .page__content .series__score .section__inner .score__day .item__inner .item__icon svg {
  width: 50px;
  height: 50px;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__share svg, .page-preview-series .site-content .page__content .series__score .section__inner .score__day svg {
  top: -35px;
  left: -35px;
  width: calc(100% + 70px);
  height: calc(100% + 70px);
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__star {
  width: 255px;
  height: 255px;
  margin-right: 7px;
  z-index: 1;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__star .item__inner .item__name {
  font-size: 18px;
  margin-bottom: 3px;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__star .item__inner .item__value {
  font-size: 40px;
  margin-bottom: 3px;
  font-weight: bold;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__star .item__inner .item__icon svg {
  width: 65px;
  height: 65px;
}
.page-preview-series .site-content .page__content .series__score .section__inner .score__star svg {
  top: calc(-28px + 3px);
  left: calc(-28px + 3px);
  width: calc(100% + 56px);
  height: calc(100% + 56px);
}
.page-preview-series .site-content .page__content main.content__main {
  padding: 50px 85px 60px;
  position: relative;
  overflow: hidden;
}
.page-preview-series .site-content .page__content main.content__main .sneak__preview {
  margin-bottom: 50px;
  font-size: 35px;
}
.page-preview-series .site-content .page__content main.content__main .posts-container {
  transition: all 0.3s ease-out;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item {
  position: relative;
  padding: 0px 15px;
  font-size: 1.5rem;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header {
  padding: 15px 0px;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header .media-icon-wrapper i.fa {
  display: none;
  vertical-align: middle;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header .item-title {
  color: var(--color-grey);
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header .site-green-btn {
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 15px;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header .item-action {
  display: block;
  line-height: 0;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header .item-action svg {
  width: 25px;
  height: 25px;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header .item-action svg g, .page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header .item-action svg path {
  fill: var(--color-grey);
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header .item-action.edit-action {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--color-grey);
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header .item-action.edit-action svg {
  width: 12px;
  height: 12px;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header .item-action:hover svg g, .page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header .item-action:hover svg path {
  fill: var(--color-grey);
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-header .item-action:hover.edit-action {
  border-color: var(--color-grey);
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-body {
  min-height: 220px;
  max-height: 2000px;
  position: relative;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .item-body .blog-type:not(.sample) {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .page-preview-series .site-content .page__content main.content__main .posts-container .item .item-body {
    min-height: 150px;
  }
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .preview-pan {
  position: absolute;
  top: 0px;
  width: 32%;
  min-height: 100%;
  height: auto;
  background-color: white;
  padding: 0px 15px;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .preview-pan .img-wrapper {
  position: relative;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .preview-pan .img-wrapper .item-img {
  width: 100%;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .preview-pan .item-title {
  color: var(--color-grey);
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .preview-pan .site-green-btn {
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 15px;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item aside.blog-duration {
  position: absolute;
  bottom: 8px;
  right: 9px;
  padding: 7px 20px;
  z-index: 1;
  background: rgba(227, 228, 220, 0.8);
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.1;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item.type-0 header.item-header .media-icon-wrapper i.audio-icon {
  display: initial;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item.type-2 header.item-header .media-icon-wrapper i.video-icon {
  display: initial;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item.type-7 header.item-header .media-icon-wrapper i.text-icon, .page-preview-series .site-content .page__content main.content__main .posts-container .item.type-8 header.item-header .media-icon-wrapper i.text-icon, .page-preview-series .site-content .page__content main.content__main .posts-container .item.type-10 header.item-header .media-icon-wrapper i.text-icon {
  display: initial;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .type-menu .option-item img {
  display: inline-block;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item .current-day-show {
  display: none;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item.slick-current .item-body .blog-type:not(.sample) {
  opacity: 1;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item.slick-current .current-day-show {
  display: block;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item.slick-current .other-day-show {
  display: none;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item.slick-current ~ .item .preview-pan {
  left: 0px;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item.previous-item .preview-pan {
  right: 0px;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item.next-item .preview-pan {
  left: 0px;
}
.page-preview-series .site-content .page__content main.content__main .posts-container .item:focus {
  outline: none;
}
.page-preview-series .site-content .page__content main.content__main .slider-nav {
  position: absolute;
  top: 170px;
  height: 268px;
  width: 268px;
  background-color: rgba(255, 224, 198, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
.page-preview-series .site-content .page__content main.content__main .slider-nav img {
  position: relative;
}
.page-preview-series .site-content .page__content main.content__main .slider-nav.arrow-left {
  left: -142px;
}
.page-preview-series .site-content .page__content main.content__main .slider-nav.arrow-left img {
  left: 50px;
}
.page-preview-series .site-content .page__content main.content__main .slider-nav.arrow-right {
  right: -142px;
}
.page-preview-series .site-content .page__content main.content__main .slider-nav.arrow-right img {
  right: 50px;
}
.page-preview-series .site-content .page__content main.content__main .slider-nav:hover {
  background-color: rgba(255, 224, 198, 0.6);
}
@media only screen and (max-width: 1400px) {
  .page-preview-series .site-content .page__content main.content__main .slider-nav {
    top: 170px;
  }
}
@media all and (max-width: 768px) {
  .page-preview-series .site-content .page__content main.content__main {
    padding: 30px 15px;
  }
}
.page-preview-series .site-content .page__content .series__share-join {
  padding: 35px 15px 40px;
  background-color: #f6fffc;
}
.page-preview-series .site-content .page__content .series__share-join .site-green-btn {
  padding: 8px 50px;
  font-size: 22px;
  margin: 0px 15px 0px 0px;
}
.page-preview-series .site-content .page__content .series__share-join .wrap {
  width: 180px;
  margin: 0px 0px;
}
.page-preview-series .site-content .page__content .series__share-join .wrap button {
  width: 100%;
  font-size: 2rem;
  line-height: 34px;
  height: 46px;
}
.page-preview-series .site-content .page__content .series__share-join .wrap button.circle {
  width: 46px;
}
.page-preview-series .site-content .page__content .series__share-join .wrap button.filled {
  line-height: 34px;
  vertical-align: middle;
}
.page-preview-series .site-content .page__content .series__share-join .wrap img {
  top: calc((100% - 38px) / 2);
  left: calc((100% - 49px) / 2);
  width: auto !important;
  display: none;
}
.page-preview-series .site-content .page__content .series__share-join .wrap svg {
  left: calc((100% - 46px) / 2);
  top: 0px;
  width: 46px;
  height: 46px;
}
.page-preview-series .site-content .page__content .series__share-join .wrap svg circle {
  r: 21px;
  cx: 23px;
  cy: 23px;
}
.page-preview-series .site-content .page__content .quick__overview {
  padding: 70px 15px 50px;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner {
  width: 940px;
  max-width: 100%;
  margin: 0px auto;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .section__title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container {
  margin: 0px 20px;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item {
  flex-basis: calc(100% / 3);
  margin-bottom: 20px;
  padding: 0px 15px;
  font-size: 1.5rem;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header {
  margin-bottom: 10px;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .media-icon-wrapper i.fa {
  display: none;
  vertical-align: middle;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .fav-star {
  display: block;
  line-height: 0;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .fav-star svg {
  width: 20px;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .fav-star svg g, .page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .fav-star svg path {
  fill: var(--color-green);
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .item-action {
  display: block;
  line-height: 0;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .item-action svg {
  width: 25px;
  height: 25px;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .item-action svg g, .page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .item-action svg path {
  fill: var(--color-grey);
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .item-action.edit-action {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--color-grey);
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .item-action.edit-action svg {
  width: 12px;
  height: 12px;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .item-action:hover svg g, .page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .item-action:hover svg path {
  fill: var(--color-grey);
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .item-action:hover.edit-action {
  border-color: var(--color-grey);
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-header .site-green-btn {
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 15px;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-type-body {
  width: 100%;
  height: calc(100px + 5vw);
  position: relative;
  margin-bottom: 15px;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-type-body .blog-type {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-type-body .blog-type img {
  width: 100%;
  height: 100%;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-type-body .blog-type.type-0 {
  background-image: url("../../images/global-icons/audio-spectr.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-type-body aside.blog-duration {
  position: absolute;
  bottom: 8px;
  right: 9px;
  padding: 7px 20px;
  z-index: 1;
  background: rgba(227, 228, 220, 0.8);
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.1;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-title {
  color: var(--color-grey);
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item.type-0 .item-header .media-icon-wrapper i.fa.audio-icon {
  display: initial;
  vertical-align: middle;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item.type-2 .item-header .media-icon-wrapper i.fa.video-icon {
  display: initial;
  vertical-align: middle;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item.type-7 .item-header .media-icon-wrapper i.fa.text-icon, .page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item.type-8 .item-header .media-icon-wrapper i.fa.text-icon, .page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item.type-10 .item-header .media-icon-wrapper i.fa.text-icon {
  display: initial;
  vertical-align: middle;
}
@media screen and (max-width: 1550px) {
  .page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item {
    flex-basis: calc(100% / 3);
  }
}
@media screen and (max-width: 992px) {
  .page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item {
    flex-basis: calc(100% / 2);
  }
}
@media screen and (max-width: 768px) {
  .page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item {
    flex-basis: calc(100% / 1);
  }
  .page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container .item .item-type-body {
    height: calc(200px + 10vw);
  }
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .load-more-status {
  height: 35px;
  width: calc(100% - 70px);
  max-width: 100%;
  margin: 10px auto;
  text-align: center;
  border: 1px solid var(--color-green);
  border-radius: 5px;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .load-more-status span {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-green);
  vertical-align: middle;
  font-style: italic;
  display: block;
  width: 100%;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .load-more-status .lds-ellipsis {
  display: none;
  vertical-align: middle;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .load-more-status.status-loading span {
  display: none;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .load-more-status.status-loading .lds-ellipsis {
  display: inline-block;
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .load-more-status:hover {
  border-color: var(--color-green-hover);
}
.page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .load-more-status:hover span {
  color: var(--color-green-hover);
}
@media all and (max-width: 768px) {
  .page-preview-series .site-content .page__content .quick__overview #post__list.section__inner .posts-container {
    margin: 0px;
  }
}
.page-preview-series .site-content .page__footer {
  padding: 35px 150px;
  background-color: var(--color-green-light);
  position: relative;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper {
  margin-left: 140px;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .take-first-step {
  font-size: 3rem;
  font-weight: bold;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container {
  position: relative;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .wrap {
  width: 180px;
  margin: 0px auto;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .wrap button {
  width: 100%;
  font-size: 2rem;
  line-height: 34px;
  height: 46px;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .wrap button.circle {
  width: 46px;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .wrap button.filled {
  line-height: 34px;
  vertical-align: middle;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .wrap img {
  top: calc((100% - 38px) / 2);
  left: calc((100% - 49px) / 2);
  width: auto !important;
  display: none;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .wrap svg {
  left: calc((100% - 46px) / 2);
  top: 0px;
  width: 46px;
  height: 46px;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .wrap svg circle {
  r: 21px;
  cx: 23px;
  cy: 23px;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .action-item {
  background-color: transparent;
  display: flex;
  line-height: 0;
  border-radius: 50%;
  border: 2px solid var(--color-green);
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .action-item svg {
  width: 30px;
  max-height: 30px;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .action-item svg g {
  fill: var(--color-green);
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .action-item svg path {
  fill: var(--color-green);
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .action-item svg polygon {
  fill: var(--color-green);
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .action-item:hover {
  border-color: var(--color-green-hover);
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .action-item:hover svg {
  width: 30px;
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .action-item:hover svg g, .page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .action-item:hover svg path, .page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .action-item:hover svg polygon {
  fill: var(--color-green-hover);
}
.page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .actions-container .site-green-btn {
  padding: 8px 30px;
  font-size: 1.7rem;
}
.page-preview-series .site-content .page__footer .footer-inner .price-wrapper .series-price {
  font-size: 2.5rem;
  font-weight: bold;
}
.page-preview-series .site-content .page__footer .line-decoration-wrapper {
  position: absolute;
  top: -8px;
  left: 215px;
  right: 0px;
  height: 15px;
}
.page-preview-series .site-content .page__footer .line-decoration-wrapper .line-decoration-inner {
  line-height: 1;
}
.page-preview-series .site-content .page__footer .line-decoration-wrapper .line-decoration-inner .you-are-here {
  color: var(--color-green);
}
.page-preview-series .site-content .page__footer .line-decoration-wrapper .line-decoration-inner .you-are-here:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 3px solid var(--color-green);
}
.page-preview-series .site-content .page__footer .line-decoration-wrapper .line-decoration-inner .you-are-here-line {
  height: 1px;
  background-image: linear-gradient(to right, var(--color-green) 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
.page-preview-series .site-content .page__footer .line-decoration-wrapper .line-decoration-inner .on-your-path {
  color: var(--color-green);
}
.page-preview-series .site-content .page__footer .line-decoration-wrapper .line-decoration-inner .on-your-path-line {
  height: 1px;
  position: relative;
  background-image: linear-gradient(to right, var(--color-green) 1px, transparent 0%);
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
.page-preview-series .site-content .page__footer .line-decoration-wrapper .line-decoration-inner .on-your-path-line:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0px;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, transparent 5px, var(--color-green) 6px, transparent 7px, transparent 10px);
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
.page-preview-series .site-content .page__footer .line-decoration-wrapper .line-decoration-inner .self-development {
  color: var(--color-red);
  line-height: 1;
}
.page-preview-series .site-content .page__footer .line-decoration-wrapper .line-decoration-inner .self-development:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--color-red);
}
.page-preview-series .site-content .page__footer .line-decoration-wrapper .line-decoration-inner .self-development-line {
  height: 1px;
  background-image: linear-gradient(to right, var(--color-red) 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
@media screen and (max-width: 768px) {
  .page-preview-series .site-content .page__footer {
    padding: 15px 10px;
  }
  .page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper {
    margin-left: 0px;
  }
  .page-preview-series .site-content .page__footer .footer-inner .take-first-step-wrapper .take-first-step {
    font-size: 3rem;
    font-weight: bold;
  }
}

.swal-overlay.swal-overlay--show-modal .swal-modal.welcome {
  font-family: "Content-Muli";
}
.swal-overlay.swal-overlay--show-modal .swal-modal.welcome .swal-title {
  color: #c4cc72;
}
.swal-overlay.swal-overlay--show-modal .swal-modal.welcome .swal-text {
  text-align: center;
  font-size: 25px;
}

.swal-overlay .swal-modal.thanks-join .swal-footer {
  position: relative;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap {
  position: absolute;
  left: 10px;
  top: 17px;
  padding: 10px 24px;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input {
  background-color: transparent;
  margin-top: 0px;
  vertical-align: middle;
  position: absolute;
  left: -9999px;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label {
  color: black;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:before {
  border-color: black;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:after {
  font-size: 0.9em;
  content: "✔";
  position: absolute;
  left: 0em;
  top: 0em;
  width: 1em;
  height: 1em;
  color: black;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label {
  color: var(--color-content);
  font-size: 18px;
  line-height: 1.1em;
  vertical-align: middle;
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
  font-weight: normal;
}
.swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1em;
  height: 1em;
  border: 1px solid var(--color-content);
}

/*# sourceMappingURL=preview_series-page-v2.css.map */
