$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;
$grey: grey;
$blue: #0ca5ff;
$blue_hover: rgba(12, 165, 255, .7);
html{
    overflow: auto;
    body{
        line-height: 1;
        text-align: center;
        overflow: auto;
        .site-wrapper.page{
            background-color: white;
            font-family: $default_font_family;
            & > .site-content{
                padding: 30px 15px;
                background: #fff;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to bottom, #fff, #e7ecf1);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to bottom, #fff, #e7ecf1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                background-image: url('https://www.walden.ly/assets/images/p6.png');
                & > .content-wrapper{
                    max-width: 1400px;
                    padding: 40px 10px 20px 10px;
                    main.main-content{
                        background-color: transparent;
                        padding-top: 25px;
                        min-height: 700px;
                        > section.content-item{
                            margin-bottom: 30px;
                            background: #9bbbe1;  /* fallback for old browsers */
                            background: -webkit-radial-gradient(ellipse, #f6fbff, #9bbbe1);  /* Chrome 10-25, Safari 5.1-6 */
                            background: radial-gradient(ellipse, #f6fbff, #9bbbe1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                            padding: 60px;
                            .content-item-inner{
                                padding: 30px;
                                background-color: white;
                                box-shadow: 0 0 19px 0 rgba(0,0,0,.15);
                                .item-header{
                                    margin-bottom: 20px;
                                    text-align: center;
                                    font-size: 2.5em;
                                }
                            }
                            &.select-layout-type{
                                .content-item-inner{
                                    position: relative;
                                    .layout-item{
                                        text-align: center;
                                        padding: 5px 20px;
                                        position: relative;
                                        .item-icon-wrapper{
                                            margin-bottom: 20px;
                                            svg{
                                                width: 250px;
                                                max-width: 100%;
                                                cursor: pointer;
                                                g{
                                                    fill: #808080;
                                                }
                                                &:hover{
                                                    g{
                                                        fill: #575757;
                                                    }
                                                }
                                            }
                                            img{
                                                width: 250px;
                                                max-width: 100%;
                                                cursor: pointer;
                                                opacity: .5;
                                                &:hover{
                                                    opacity: .6;
                                                }
                                            }
                                        }
                                        h3{
                                            font-size: 2em;
                                        }
                                        p{
                                            font-size: 1.5em;
                                        }
                                        a{
                                            font-size: 1.5em;
                                        }
                                        &:after{
                                            content: '';
                                            display: block;
                                            position: absolute;
                                            top: 0px;
                                            right: 0px;
                                            width: 1px;
                                            bottom: 100px;
                                            background-color: #575757;
                                        }
                                        &.last-item:after{
                                            display: none;
                                        }
                                    }
                                    .go-to-preview{
                                        position: absolute;
                                        top: 10px;
                                        right: 10px;
                                        font-size: 2em;
                                        padding: 5px;
                                        cursor: pointer;
                                        opacity: 0;
                                        transition: opacity .3s;
                                        color: #0aabff;
                                        span{
                                            vertical-align: middle;
                                        }
                                        .fa{
                                            position: relative;
                                            top: 2px;
                                            vertical-align: middle;
                                        }
                                        &:hover{
                                            color: #0a7db4;
                                        }
                                        &.active{
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                            &.code-embed{
                                .embed-editor{
                                    .editor-header{
                                        z-index: 10;
                                        .copy-msg{

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}