html {
  font-size: 12px;
  overflow: visible; }
  html body {
    position: static; }
    html body .site-wrapper.page {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      max-height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      font-family: "EB Garamond", sans-serif; }
      html body .site-wrapper.page > .site-content {
        padding: 30px 50px; }
        html body .site-wrapper.page > .site-content > .content-wrapper {
          padding-top: 10px; }
          html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper {
            text-align: right;
            padding: 0px 10px 10px 0px; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .action {
              display: inline-block;
              margin-left: 30px;
              height: 40px;
              position: relative;
              text-decoration: none;
              font-size: 2rem;
              color: grey; }
              html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .action svg#Capa_1 {
                display: inline !important;
                vertical-align: middle;
                width: 40px; }
                html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .action svg#Capa_1 g path {
                  fill: grey; }
              html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .action:hover {
                color: black; }
                html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .action:hover svg#Capa_1 g path {
                  fill: black; }
            html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .embed-wrapper {
              position: relative;
              display: inline-block;
              line-height: 0; }
              html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .embed-wrapper a {
                display: inline-block;
                line-height: 0;
                color: grey; }
                html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .embed-wrapper a svg {
                  line-height: 0; }
                  html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .embed-wrapper a svg path {
                    fill: currentColor; }
                html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .embed-wrapper a:hover {
                  color: black; }
              html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .embed-wrapper #embed-code {
                position: absolute;
                top: calc(100% + 10px);
                right: 0px;
                z-index: 1; }
                html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .embed-wrapper #embed-code .embed-wrapper {
                  box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.2);
                  background-color: white;
                  padding: 10px;
                  font-size: 2rem;
                  line-height: 1.1;
                  width: 400px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .embed-wrapper #embed-code .embed-wrapper > header {
                    margin-bottom: 10px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .embed-wrapper #embed-code .embed-wrapper > header h4 {
                      margin: 0px;
                      font-size: 1em;
                      line-height: 1.1;
                      border-bottom: 1px solid #333;
                      padding-bottom: 0.1rem; }
                    html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .embed-wrapper #embed-code .embed-wrapper > header .flex-row .flex-col {
                      line-height: 0;
                      margin-bottom: 0px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper header.content-header aside.actions-wrapper .embed-wrapper #embed-code .embed-wrapper .embed-code textarea {
                    width: 100%;
                    background-color: #f8f7f9;
                    padding: 10px;
                    height: auto;
                    max-width: 100%;
                    resize: vertical;
                    font-size: .7em;
                    line-height: 1.1; }
          html body .site-wrapper.page > .site-content > .content-wrapper main.main-content {
            padding: 50px; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner {
              padding: 20px 10px;
              background-color: white;
              box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .series-section {
                margin-bottom: 20px;
                text-align: center; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .series-section h1 {
                  margin-top: 0px;
                  font-size: 4rem;
                  text-transform: capitalize;
                  margin-bottom: 20px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .series-section p {
                  font-size: 2rem;
                  margin-bottom: 20px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .series-section footer .buttons-wrapper {
                  text-align: center;
                  width: 100%;
                  padding: 0px 0px 10px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .series-section footer .buttons-wrapper .wrap {
                    max-width: 250px;
                    width: 100%;
                    margin: 0px auto; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .series-section footer .buttons-wrapper .wrap button {
                      width: 100%;
                      font-size: 2rem;
                      line-height: 34px;
                      height: 46px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .series-section footer .buttons-wrapper .wrap button.circle {
                        width: 46px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .series-section footer .buttons-wrapper .wrap button.filled {
                        line-height: 34px;
                        vertical-align: middle; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .series-section footer .buttons-wrapper .wrap img {
                      top: calc((100% - 38px) / 2);
                      left: calc((100% - 49px) / 2);
                      width: auto !important;
                      display: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .series-section footer .buttons-wrapper .wrap svg {
                      left: calc((100% - 46px) / 2);
                      top: 0px;
                      width: 46px;
                      height: 46px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .series-section footer .buttons-wrapper .wrap svg circle {
                        r: 21px;
                        cx: 23px;
                        cy: 23px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section {
                position: relative; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .items-container .item {
                  padding: 0px 50px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .items-container .item .item-inner header.item-header {
                    min-height: 130px;
                    display: flex;
                    align-items: center;
                    padding-top: 15px;
                    padding-bottom: 15px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .items-container .item .item-inner header.item-header .day-wrapper {
                      margin-top: 0px;
                      margin-bottom: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .items-container .item .item-inner header.item-header .post-title {
                      display: none;
                      margin-bottom: 0px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: pre; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .items-container .item .item-inner .item-body * {
                    max-width: 100% !important; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .items-container .item .item-inner .item-body .type-pay {
                    font-size: 1.5rem; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .items-container .item.slick-current header.item-header {
                    text-align: center;
                    display: block; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .items-container .item.slick-current header.item-header .day-wrapper {
                      display: block;
                      margin-bottom: 10px;
                      font-size: 3.5rem;
                      text-align: center; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .items-container .item.slick-current header.item-header .post-title {
                      display: block; }
                  @media all and (max-width: 1440px) {
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .items-container .item {
                      padding: 0px 30px; } }
                  @media all and (max-width: 1024px) {
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .items-container .item {
                      padding: 0px 15px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .items-container .item .day-wrapper {
                        display: none; } }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion {
                  position: absolute;
                  top: 0px;
                  height: 140px;
                  width: 100px;
                  z-index: 1;
                  opacity: 1;
                  transition: all .1s; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging {
                    position: absolute;
                    top: calc((100% - 59px) / 2);
                    border: 2px solid grey;
                    border-radius: 50%;
                    font-size: 35px;
                    line-height: .6;
                    padding: 10px;
                    cursor: pointer; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging.slick-disabled {
                      cursor: default;
                      color: rgba(128, 128, 128, 0.4);
                      border-color: rgba(128, 128, 128, 0.4); }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging .glyphicon {
                      top: -1px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging.prev-pagging {
                      left: 5px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging.prev-pagging .glyphicon {
                        right: 2px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging.prev-pagging .icon-flip {
                        transform: scaleX(-1);
                        -moz-transform: scaleX(-1);
                        -webkit-transform: scaleX(-1);
                        -ms-transform: scaleX(-1); }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging.next-pagging {
                      right: 5px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging.next-pagging .glyphicon {
                        left: 2px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging:hover:not(.slick-disabled) {
                      color: white;
                      background-color: grey; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion.left-portion {
                    left: 0px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion.right-portion {
                    right: 0px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner .posts-section .nav-portion:hover {
                    opacity: 1; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner > footer {
                text-align: center; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .content-inner > footer a {
                  text-decoration: none; }
            html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper {
              display: none;
              width: 300px;
              height: 300px;
              background-color: transparent;
              box-shadow: none;
              z-index: 999;
              right: 0px;
              top: 0px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper .circle-nav-toggle {
                border: none;
                width: 50px;
                height: 50px;
                top: 5px;
                right: 5px;
                opacity: 0; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper .circle-nav-toggle svg#Capa_1 {
                  display: inline !important;
                  width: 50px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper .circle-nav-toggle svg#Capa_1 g path {
                    fill: grey; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper .circle-nav-toggle.circle-nav-open {
                  opacity: 1; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper .circle-nav-toggle.circle-nav-open svg#Capa_1 g path {
                    fill: white; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper ul.circle-nav-menu {
                width: 300px;
                height: 300px; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item {
                  width: 45px;
                  height: 45px;
                  box-sizing: border-box;
                  text-align: left; }
                  html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a {
                    padding: 0px;
                    line-height: 0; }
                    html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg {
                      display: inline !important;
                      width: 30px !important;
                      height: 30px !important; }
                      html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg g path {
                        fill: #ff7b7b !important; }
                html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper ul.circle-nav-menu:not(.circle-nav-open) li.circle-nav-item {
                  left: 300px;
                  bottom: 300px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper .circle-nav-panel {
                margin-left: 311px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper .circle-nav-panel.circle-nav-open {
                margin-left: 311px;
                width: 600px;
                height: 600px; }
              html body .site-wrapper.page > .site-content > .content-wrapper main.main-content .circle-nav-wrapper.circle-nav-open {
                z-index: 1001; }
    html body .form-field-wrapper {
      margin: 5px auto; }
      html body .form-field-wrapper .form-field-inner {
        display: inline-flex;
        margin: 10px 0px;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: center; }
        html body .form-field-wrapper .form-field-inner label.form-field-name {
          flex-shrink: 0;
          padding: 5px 10px;
          margin: 0px;
          background-color: #f8f7f9;
          font-weight: normal;
          text-align: center; }
        html body .form-field-wrapper .form-field-inner .form-field-value {
          max-width: 100%;
          display: block;
          padding: 9px 10px;
          background-color: white;
          text-align: left;
          border: 1px solid #999;
          border-radius: 5px; }
          html body .form-field-wrapper .form-field-inner .form-field-value:focus {
            border-color: transparent; }
          html body .form-field-wrapper .form-field-inner .form-field-value[contentEditable=true]:empty:not(:focus):before {
            content: attr(placeholder);
            cursor: text; }
        html body .form-field-wrapper .form-field-inner .form-field-helper {
          margin: 2px 2px 2px 10px;
          padding: 5px 5px;
          color: white;
          align-self: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #25b7d3;
          font-family: FontAwesome;
          font-weight: bold;
          text-align: center;
          font-size: 40px;
          line-height: 40px;
          vertical-align: middle;
          cursor: default; }
      html body .form-field-wrapper.status-loading {
        color: orange;
        transition: color ease-in .005s; }
        html body .form-field-wrapper.status-loading .form-field-inner {
          transition: border-color ease-in .005s;
          border-color: orange; }
      html body .form-field-wrapper.status-loading-finished {
        animation-name: loading-finished;
        animation-duration: .3s;
        animation-fill-mode: forwards; }
        html body .form-field-wrapper.status-loading-finished .form-field-inner {
          animation-name: loading-finished;
          animation-duration: .3s;
          animation-fill-mode: forwards; }
@keyframes loading-finished {
  from {
    border-color: orange;
    color: orange; }
  to {
    color: grey;
    border-color: #a9a9a9; } }
.swal-overlay.swal-overlay--show-modal .swal-modal.welcome {
  font-family: "EB Garamond", sans-serif; }
  .swal-overlay.swal-overlay--show-modal .swal-modal.welcome .swal-title {
    color: #c4cc72; }
  .swal-overlay.swal-overlay--show-modal .swal-modal.welcome .swal-text {
    text-align: center;
    font-size: 25px; }

.swal-overlay .swal-modal.thanks-join .swal-footer {
  position: relative; }
  .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap {
    position: absolute;
    left: 10px;
    top: 17px;
    padding: 10px 24px; }
    .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input {
      background-color: transparent;
      margin-top: 0px;
      vertical-align: middle;
      position: absolute;
      left: -9999px; }
      .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label {
        color: black; }
        .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:before {
          border-color: black; }
        .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:after {
          font-size: .9em;
          content: '\2714';
          position: absolute;
          left: 0em;
          top: 0em;
          width: 1em;
          height: 1em;
          color: black; }
    .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label {
      color: grey;
      font-size: 18px;
      line-height: 1.1em;
      vertical-align: middle;
      position: relative;
      padding-left: 1.5em;
      cursor: pointer;
      font-weight: normal; }
      .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1em;
        height: 1em;
        border: 1px solid grey; }

/*# sourceMappingURL=previewSeries-page.css.map */
