$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;

// Variables
$grey: grey;
$green: #1ecd97;
html{
    font-size: 12px;
    overflow: visible;
    body{
        position: static;
        .site-wrapper.page{
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            max-height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            font-family: $default_font_family;
            & > .site-content{
                padding: 30px 50px;
                & > .content-wrapper{
                    padding-top: 10px;
                    header.content-header{
                        aside.actions-wrapper{
                            text-align: right;
                            padding: 0px 10px 10px 0px;
                            .action{
                                display: inline-block;
                                margin-left: 30px;
                                height: 40px;
                                position: relative;
                                text-decoration: none;
                                font-size: 2rem;
                                color: $grey;
                                svg#Capa_1{
                                    display: inline !important;
                                    vertical-align: middle;
                                    width: 40px;
                                    g{
                                        path{
                                            fill: $grey;
                                        }
                                    }
                                }
                                &:hover{
                                    color: black;
                                    svg#Capa_1{
                                        g{
                                            path{
                                                fill: black;
                                            }
                                        }
                                    }
                                }
                            }
                            .embed-wrapper{
                                position: relative;
                                display: inline-block;
                                line-height: 0;
                                a{
                                    display: inline-block;
                                    line-height: 0;
                                    color: $content_color;
                                    svg{
                                        line-height: 0;
                                        path{
                                            fill: currentColor;
                                        }
                                    }
                                    &:hover{
                                        color: black;
                                    }
                                }
                                #embed-code{
                                    position: absolute;
                                    top: calc(100% + 10px);
                                    right: 0px;
                                    z-index: 1;
                                    .embed-wrapper{
                                        box-shadow: 0 0 20px 5px hsla(0,0%,50%,.2);
                                        background-color: white;
                                        padding: 10px;
                                        font-size: 2rem;
                                        line-height: 1.1;
                                        width: 400px;
                                        >header{
                                            margin-bottom: 10px;
                                            h4{
                                                margin: 0px;
                                                font-size: 1em;
                                                line-height: 1.1;
                                                border-bottom: 1px solid #333;
                                                padding-bottom: 0.1rem;
                                            }
                                            .flex-row{
                                                .flex-col{
                                                    line-height: 0;
                                                    margin-bottom: 0px;
                                                }
                                            }
                                        }
                                        .embed-code{
                                            textarea{
                                                width: 100%;
                                                background-color: #f8f7f9;
                                                padding: 10px;
                                                height: auto;
                                                max-width: 100%;
                                                resize: vertical;
                                                font-size: .7em;
                                                line-height: 1.1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    main.main-content{
                        padding: 50px;
                        .content-inner{
                            padding: 20px 10px;
                            background-color: white;
                            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                            .series-section{
                                margin-bottom: 20px;
                                text-align: center;
                                h1{
                                    margin-top: 0px;
                                    font-size: 4rem;
                                    text-transform: capitalize;
                                    margin-bottom: 20px;
                                }
                                p{
                                    font-size: 2rem;
                                    margin-bottom: 20px;
                                }
                                footer{
                                    .buttons-wrapper{
                                        text-align: center;
                                        width: 100%;
                                        padding: 0px 0px 10px;
                                        .wrap{
                                            max-width: 250px;
                                            width: 100%;
                                            margin: 0px auto;
                                            button{
                                                width: 100%;
                                                font-size: 2rem;
                                                line-height: 34px;
                                                height: 46px;
                                                &.circle{
                                                    width: 46px;
                                                }
                                                &.filled{
                                                    line-height: 34px;
                                                    vertical-align: middle;
                                                }
                                            }
                                            img{
                                                top: calc((100% - 38px) / 2);
                                                left: calc((100% - 49px) / 2);
                                                width: auto !important;
                                                display: none;
                                            }
                                            svg{
                                                left: calc((100% - 46px) / 2);
                                                top: 0px;
                                                width: 46px;
                                                height: 46px;
                                                circle{
                                                    r: 21px;
                                                    cx: 23px;
                                                    cy: 23px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .posts-section{
                                position: relative;

                                .items-container{
                                    .item{
                                        padding: 0px 50px;
                                        .item-inner{
                                            header.item-header{
                                                min-height: 130px;
                                                display: flex;
                                                align-items: center;
                                                padding-top: 15px;
                                                padding-bottom: 15px;
                                                .day-wrapper{
                                                    margin-top: 0px;
                                                    margin-bottom: 0px;
                                                }
                                                .post-title{
                                                    display: none;
                                                    margin-bottom: 0px;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    white-space: pre;
                                                }
                                            }
                                            .item-body{
                                                *{
                                                    max-width: 100% !important;
                                                }
                                                .type-pay{
                                                    font-size: 1.5rem;
                                                }
                                            }
                                        }
                                        &.slick-current{
                                            header.item-header{
                                                text-align: center;
                                                display: block;
                                                .day-wrapper{
                                                    display: block;
                                                    margin-bottom: 10px;
                                                    font-size: 3.5rem;
                                                    text-align: center;
                                                }
                                                .post-title{
                                                    display: block;
                                                }
                                            }
                                        }
                                        @media all and (max-width: 1440px){
                                            padding: 0px 30px;
                                        }
                                        @media all and (max-width: 1024px){
                                            padding: 0px 15px;
                                            .day-wrapper{
                                                display: none;
                                            }
                                        }
                                    }
                                }
                                .nav-portion{
                                    position: absolute;
                                    top: 0px;
                                    height: 140px;
                                    width: 100px;
                                    z-index: 1;
                                    opacity: 1;
                                    transition: all .1s;
                                    .pagging{
                                        position: absolute;
                                        top: calc((100% - 59px) / 2);
                                        border: 2px solid grey;
                                        border-radius: 50%;
                                        font-size: 35px;
                                        line-height: .6;
                                        padding: 10px;
                                        cursor: pointer;
                                        &.slick-disabled{
                                            cursor: default;
                                            color: rgba(128, 128, 128, .4);
                                            border-color: rgba(128, 128, 128, .4);
                                        }
                                        .glyphicon{
                                            top: -1px;
                                        }
                                        &.prev-pagging{
                                            left: 5px;
                                            .glyphicon{
                                                right: 2px;
                                            }
                                            .icon-flip{
                                                transform: scaleX(-1);
                                                -moz-transform: scaleX(-1);
                                                -webkit-transform: scaleX(-1);
                                                -ms-transform: scaleX(-1);
                                            }
                                        }
                                        &.next-pagging{
                                            right: 5px;
                                            .glyphicon{
                                                left: 2px;
                                            }
                                        }
                                        &:hover:not(.slick-disabled){
                                            color: white;
                                            background-color: grey;
                                        }
                                    }
                                    &.left-portion{
                                        left: 0px;
                                    }
                                    &.right-portion{
                                        right: 0px;
                                    }
                                    &:hover{
                                        opacity: 1;
                                    }
                                }
                            }
                            > footer{
                                text-align: center;
                                a{
                                    text-decoration: none;
                                }
                            }
                        }
                        .circle-nav-wrapper{
                            display: none;
                            width: 300px;
                            height: 300px;
                            background-color: transparent;
                            box-shadow: none;
                            z-index: 999;
                            right: 0px;
                            top: 0px;
                            .circle-nav-toggle{
                                border: none;
                                width: 50px;
                                height: 50px;
                                top: 5px;
                                right: 5px;
                                opacity: 0;
                                svg#Capa_1{
                                    display: inline !important;
                                    width: 50px;
                                    g{
                                        path{
                                            fill: $grey;
                                        }
                                    }
                                }
                                &.circle-nav-open{
                                    opacity: 1;
                                    svg#Capa_1{
                                        g{
                                            path{
                                                fill: white;
                                            }
                                        }
                                    }
                                }
                            }
                            ul.circle-nav-menu{
                                width: 300px;
                                height: 300px;
                                li.circle-nav-item{
                                    width: 45px;
                                    height: 45px;
                                    box-sizing: border-box;
                                    text-align: left;
                                    a{
                                        padding: 0px;
                                        line-height: 0;
                                        svg{
                                            display: inline !important;
                                            width: 30px !important;
                                            height: 30px !important;
                                            g{
                                                path{
                                                    fill: #ff7b7b !important;
                                                }
                                            }
                                        }
                                    }
                                }
                                &:not(.circle-nav-open){
                                    li.circle-nav-item{
                                        left: 300px;
                                        bottom: 300px;
                                    }
                                }
                                &.circle-nav-open{

                                }
                            }
                            .circle-nav-panel{
                                margin-left: 311px;
                            }
                            .circle-nav-panel.circle-nav-open{
                                margin-left: 311px;
                                width: 600px;
                                height: 600px;
                            }
                            &.circle-nav-open{
                                z-index: 1001;
                            }
                        }
                    }
                }
            }
        }
        .form-field-wrapper{
            $border-color: #a9a9a9;
            $focus-color: orange;
            margin: 5px auto;
            .form-field-inner{
                display: inline-flex;
                margin: 10px 0px;
                padding: 0px;
                flex-wrap: wrap;
                justify-content: center;
                label.form-field-name{
                    //flex-basis: 100%;
                    flex-shrink: 0;
                    padding: 5px 10px;
                    margin: 0px;
                    background-color: #f8f7f9;
                    font-weight: normal;
                    text-align: center;
                }
                .form-field-value{
                    max-width: 100%;
                    //width: 500px;
                    display: block;
                    padding: 9px 10px;
                    background-color: white;
                    text-align: left;
                    border: 1px solid #999;
                    border-radius: 5px;
                    &:focus{
                        border-color: transparent;
                    }
                    &[contentEditable=true]:empty:not(:focus):before{
                        content: attr(placeholder);
                        cursor: text;
                    }
                }
                .form-field-helper {
                    margin: 2px 2px 2px 10px;
                    padding: 5px 5px;
                    color: white;
                    align-self: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #25b7d3;
                    font-family: FontAwesome;
                    font-weight: bold;
                    text-align: center;
                    font-size: 40px;
                    line-height: 40px;
                    vertical-align: middle;
                    cursor: default;
                }
            }
            &.status-loading{
                color: $focus-color;
                transition: color ease-in .005s;
                .form-field-inner{
                    transition: border-color ease-in .005s;
                    border-color: $focus-color;
                }
            }
            &.status-loading-finished{
                animation-name: loading-finished;
                animation-duration: .3s;
                animation-fill-mode: forwards;
                .form-field-inner{
                    animation-name: loading-finished;
                    animation-duration: .3s;
                    animation-fill-mode: forwards;
                }
            }
            @keyframes loading-finished {
                from{
                    border-color: $focus-color;
                    color: $focus-color;
                }
                to {
                    color: $content_color;
                    border-color: $border-color;
                }
            }
        }
    }
}

.swal-overlay.swal-overlay--show-modal{
    .swal-modal.welcome{
        font-family: $default_font_family;
        .swal-title{
            color: #c4cc72;
        }
        .swal-text{
            text-align: center;
            font-size: 25px;
        }
    }
}
.swal-overlay{
    .swal-modal.thanks-join{
        .swal-footer{
            position: relative;
            .disable-wrap{
                position: absolute;
                left: 10px;
                top: 17px;
                padding: 10px 24px;
                input{
                    background-color: transparent;
                    margin-top: 0px;
                    vertical-align: middle;
                    position: absolute;
                    left: -9999px;
                    &:checked{
                        & + label{
                            color: black;
                            &:before{
                                border-color: black;
                            }
                            &:after{
                                font-size: .9em;
                                content: '\2714';
                                position: absolute;
                                left: 0em;
                                top: 0em;
                                width: 1em;
                                height: 1em;
                                color: black;
                            }
                        }
                    }
                }
                label{
                    color: $content_color;
                    font-size: 18px;
                    line-height: 1.1em;
                    vertical-align: middle;
                    position: relative;
                    padding-left: 1.5em;
                    cursor: pointer;
                    font-weight: normal;
                    &:before{
                        content: '';
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 1em;
                        height: 1em;
                        border: 1px solid $content_color;
                    }
                }
            }
        }
    }
}