html {
  font-size: 12px; }
  html body .site-wrapper {
    position: relative; }
    html body .site-wrapper .listing-panel {
      display: none;
      position: fixed;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4); }
      html body .site-wrapper .listing-panel .listing-posts {
        position: relative;
        width: 768px;
        max-width: 100%;
        height: 100%;
        left: 0px;
        padding: 0px;
        z-index: 300;
        background-color: #f6fffc;
        display: flex;
        flex-direction: column;
        transition: all .3s ease-out; }
        @media screen and (max-width: 768px) {
          html body .site-wrapper .listing-panel .listing-posts {
            left: 0px; } }
        html body .site-wrapper .listing-panel .listing-posts header.listing-posts-header {
          flex-grow: 0;
          flex-shrink: 0;
          position: relative;
          padding: 15px 50px 15px 10px; }
          html body .site-wrapper .listing-panel .listing-posts header.listing-posts-header .title-wrapper .series-title {
            font-size: 3rem;
            font-weight: bold; }
          html body .site-wrapper .listing-panel .listing-posts header.listing-posts-header .title-wrapper .posts-count {
            margin-left: 10px;
            display: inline-block;
            color: white; }
          html body .site-wrapper .listing-panel .listing-posts header.listing-posts-header:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 1px;
            background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
            background-size: 5px 1px;
            background-repeat: repeat-x; }
          html body .site-wrapper .listing-panel .listing-posts header.listing-posts-header .section-close {
            display: block;
            position: absolute;
            top: 3rem;
            right: 2rem;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            z-index: 1; }
            html body .site-wrapper .listing-panel .listing-posts header.listing-posts-header .section-close:before {
              content: '';
              display: block;
              width: 3rem;
              height: 1px;
              background-color: #1fcd98;
              position: absolute;
              top: 50%;
              left: -0.5rem;
              transform: rotate(45deg); }
            html body .site-wrapper .listing-panel .listing-posts header.listing-posts-header .section-close:after {
              content: '';
              display: block;
              width: 3rem;
              height: 1px;
              background-color: #1fcd98;
              position: absolute;
              top: 50%;
              left: -0.5rem;
              transform: rotate(-45deg); }
            html body .site-wrapper .listing-panel .listing-posts header.listing-posts-header .section-close:hover:before, html body .site-wrapper .listing-panel .listing-posts header.listing-posts-header .section-close:hover:after {
              background-color: #1eb785; }
        html body .site-wrapper .listing-panel .listing-posts .listing-posts-content {
          padding: 20px 10px 20px 0px;
          flex-grow: 1;
          flex-basis: 100px;
          overflow: auto;
          overflow-scrolling: touch;
          -webkit-overflow-scrolling: touch; }
          html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul {
            list-style: none;
            padding-left: 10px; }
            html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li {
              margin-bottom: 25px; }
              html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .item-img {
                width: 85px;
                height: 50px; }
              html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .item-view-states-wrapper {
                width: 25px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                position: relative;
                top: 5px;
                z-index: 2; }
                html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .item-view-states-wrapper .view-state {
                  display: none;
                  position: relative;
                  top: 2px; }
                  html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .item-view-states-wrapper .view-state.complete-state {
                    width: 20px;
                    height: auto; }
                    html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .item-view-states-wrapper .view-state.complete-state g, html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .item-view-states-wrapper .view-state.complete-state path {
                      fill: #1fcd98; }
                  html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .item-view-states-wrapper .view-state.current-state {
                    width: 10px;
                    height: 10px;
                    border: 3px solid #1fcd98;
                    background-color: white;
                    border-radius: 50%;
                    box-sizing: content-box; }
                  html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .item-view-states-wrapper .view-state.normal-state {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #1fcd98;
                    opacity: .8;
                    box-sizing: content-box; }
                html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .item-view-states-wrapper.state-complete .complete-state {
                  display: block; }
                html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .item-view-states-wrapper.state-normal .normal-state {
                  display: block; }
                html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .item-view-states-wrapper.state-current .current-state {
                  display: block; }
                html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .item-view-states-wrapper:after {
                  z-index: 1;
                  content: '';
                  position: absolute;
                  display: block;
                  width: 1px;
                  height: calc(100% + 20px);
                  top: 17px;
                  left: 50%;
                  background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
                  background-position: left;
                  background-size: 1px 10px;
                  background-repeat: repeat-y;
                  opacity: .7; }
              html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .title-wrapper .media-icon-wrapper {
                display: inline-block;
                margin-right: 10px; }
                html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .title-wrapper .media-icon-wrapper i {
                  display: none;
                  font-size: 1.5rem; }
                html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .title-wrapper .media-icon-wrapper.type-0 .audio-icon {
                  display: initial; }
                html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .title-wrapper .media-icon-wrapper.type-2 .video-icon {
                  display: initial; }
                html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .title-wrapper .media-icon-wrapper.type-7 .text-icon, html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .title-wrapper .media-icon-wrapper.type-10 .text-icon, html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .title-wrapper .media-icon-wrapper.type-8 .text-icon, html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .title-wrapper .media-icon-wrapper.type-9 .text-icon {
                  display: initial; }
              html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li .title-wrapper .item-title {
                font-size: 1.5rem;
                color: #737661; }
              html body .site-wrapper .listing-panel .listing-posts .listing-posts-content ul li:last-child .item-view-states-wrapper:after {
                display: none; }
          html body .site-wrapper .listing-panel .listing-posts .listing-posts-content::-webkit-scrollbar {
            width: 8px; }
          html body .site-wrapper .listing-panel .listing-posts .listing-posts-content::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px; }
          html body .site-wrapper .listing-panel .listing-posts .listing-posts-content::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #cacac0; }
        html body .site-wrapper .listing-panel .listing-posts.collapsed {
          left: -768px; }
          @media screen and (max-width: 768px) {
            html body .site-wrapper .listing-panel .listing-posts.collapsed {
              left: -100%; } }
    html body .site-wrapper .view-panel {
      width: 780px;
      max-width: 100%;
      padding: 70px 10px 15px;
      margin: 0px auto; }
      html body .site-wrapper .view-panel .money-saved {
        position: absolute;
        right: 10px;
        top: 10px;
        text-align: right; }
        html body .site-wrapper .view-panel .money-saved .money-amount {
          font-size: 3rem;
          color: #feba19;
          line-height: 1; }
          html body .site-wrapper .view-panel .money-saved .money-amount span {
            font-size: 70px;
            line-height: 40px; }
        html body .site-wrapper .view-panel .money-saved .w-name {
          font-size: 30px; }
      html body .site-wrapper .view-panel .listing-toggle {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid #1fcd98;
        border-radius: 50%;
        cursor: pointer; }
        html body .site-wrapper .view-panel .listing-toggle svg {
          width: 25px;
          height: auto; }
          html body .site-wrapper .view-panel .listing-toggle svg g, html body .site-wrapper .view-panel .listing-toggle svg path, html body .site-wrapper .view-panel .listing-toggle svg circle {
            fill: #1fcd98 !important; }
        html body .site-wrapper .view-panel .listing-toggle:hover {
          border-color: #1eb785; }
          html body .site-wrapper .view-panel .listing-toggle:hover svg g, html body .site-wrapper .view-panel .listing-toggle:hover svg path, html body .site-wrapper .view-panel .listing-toggle:hover svg circle {
            fill: #1eb785 !important; }
      html body .site-wrapper .view-panel .post-image-wrapper {
        text-align: center; }
        html body .site-wrapper .view-panel .post-image-wrapper .post-img {
          max-width: calc(100% - 100px); }
      html body .site-wrapper .view-panel .post-title {
        text-align: left;
        margin: 5px 0px 10px;
        font-size: 2rem;
        font-weight: 400;
        color: #737661; }
      html body .site-wrapper .view-panel .post-body {
        text-align: center;
        font-size: 2rem;
        padding-bottom: 20px;
        min-height: 300px; }
        html body .site-wrapper .view-panel .post-body img {
          max-width: 100%;
          display: block;
          margin: 0px auto; }
        html body .site-wrapper .view-panel .post-body video {
          max-width: 100%; }
        html body .site-wrapper .view-panel .post-body .type-menu {
          text-align: center;
          background-color: #f8f7f9;
          padding: 10px 5px; }
          html body .site-wrapper .view-panel .post-body .type-menu header .menu-title {
            font-size: 2rem; }
          html body .site-wrapper .view-panel .post-body .type-menu .paths-container .paths-list .path-col {
            padding: 20px 30px;
            flex-basis: 100px;
            flex-shrink: 0;
            flex-grow: 1;
            border-left: 1px dotted grey;
            cursor: pointer;
            word-break: break-all; }
            html body .site-wrapper .view-panel .post-body .type-menu .paths-container .paths-list .path-col .img-wrapper {
              height: 150px; }
              html body .site-wrapper .view-panel .post-body .type-menu .paths-container .paths-list .path-col .img-wrapper img {
                opacity: .8;
                width: 100%;
                min-width: 100px;
                max-width: 150px; }
            html body .site-wrapper .view-panel .post-body .type-menu .paths-container .paths-list .path-col .path-title {
              font-size: 1.2rem;
              margin: 10px 0px; }
            html body .site-wrapper .view-panel .post-body .type-menu .paths-container .paths-list .path-col .path-description {
              font-size: 1rem;
              line-height: 1.1; }
            html body .site-wrapper .view-panel .post-body .type-menu .paths-container .paths-list .path-col:hover {
              color: black; }
              html body .site-wrapper .view-panel .post-body .type-menu .paths-container .paths-list .path-col:hover .img-wrapper img {
                opacity: 1; }
            html body .site-wrapper .view-panel .post-body .type-menu .paths-container .paths-list .path-col:first-child {
              border-left: none; }
          html body .site-wrapper .view-panel .post-body .type-menu .paths-container .paths-list.paths-count-3 .path-col {
            flex-basis: 30%; }
          @media all and (max-width: 1240px) {
            html body .site-wrapper .view-panel .post-body .type-menu .paths-container .paths-list.paths-count-4 .path-col {
              flex-basis: 50%; } }
          html body .site-wrapper .view-panel .post-body .type-menu .paths-container .paths-list.paths-count-5 {
            flex-basis: 30%; }
        html body .site-wrapper .view-panel .post-body .video-js {
          width: auto !important; }
      html body .site-wrapper .view-panel .view-panel-footer {
        padding: 10px 0px 15px; }
        html body .site-wrapper .view-panel .view-panel-footer .step-back {
          display: block;
          font-size: 18px;
          line-height: 22px;
          text-decoration: none;
          color: #777;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          cursor: pointer;
          padding-bottom: 1px; }
          html body .site-wrapper .view-panel .view-panel-footer .step-back:hover {
            color: black; }
        html body .site-wrapper .view-panel .view-panel-footer .step-next {
          display: block;
          font-size: 20px;
          padding: 5px 20px;
          background-color: transparent;
          border: 1px solid #1fcd98;
          color: #737661;
          text-decoration: none;
          border-radius: 10px;
          cursor: pointer; }
          html body .site-wrapper .view-panel .view-panel-footer .step-next:hover {
            background-color: #1fcd98;
            color: white; }
        html body .site-wrapper .view-panel .view-panel-footer .powered-by {
          margin-top: 10px;
          font-size: 20px;
          text-align: center; }
      html body .site-wrapper .view-panel .pay-blog-wrapper {
        padding: 10px 10px 30px 10px;
        font-size: 2rem; }
      html body .site-wrapper .view-panel.content-type-2 .post-image-wrapper {
        display: none; }
      html body .site-wrapper .view-panel.content-type-0 .post-image-wrapper {
        display: none; }
  html body.listing-opened {
    overflow: hidden; }
    html body.listing-opened .listing-panel {
      display: block; }

/*# sourceMappingURL=series_embed_guided-page.css.map */
