$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;

// Variables
$grey: grey;
$green: #1ecd97;
html{
  font-size: 12px;
  overflow: visible;
  body{
    .site-wrapper{
      font-family: $default_font_family;
      main.main-content{
        .content-inner{
          padding: 20px 10px;
          background-color: white;
          header.content-header{
            .welcome{
              display: none;
            }
            .login-btn{
              .btn.big-login{
                padding: 10px 50px;
              }
            }
          }
          .posts-section{
            position: relative;

            .items-container{
              .item{
                padding: 0px 50px;
                .item-inner{
                  header.item-header{
                    min-height: 130px;
                    display: flex;
                    align-items: center;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    .day-wrapper{
                      margin-top: 0px;
                      margin-bottom: 0px;
                    }
                    .post-title{
                      display: none;
                      margin-bottom: 0px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: pre;
                    }
                  }
                  .item-body{
                    *{
                      max-width: 100% !important;
                    }
                    .type-pay{
                      font-size: 1.5rem;
                    }
                  }
                }
                &.slick-current{
                  header.item-header{
                    text-align: center;
                    display: block;
                    .day-wrapper{
                      display: block;
                      margin-bottom: 10px;
                      font-size: 3.5rem;
                      text-align: center;
                    }
                    .post-title{
                      display: block;
                    }
                  }
                }
                @media all and (max-width: 1440px){
                  padding: 0px 30px;
                }
                @media all and (max-width: 1024px){
                  padding: 0px 15px;
                  .day-wrapper{
                    display: none;
                  }
                }
              }
            }
            .nav-portion{
              position: absolute;
              top: 0px;
              height: 140px;
              width: 100px;
              z-index: 1;
              opacity: 1;
              transition: all .1s;
              .pagging{
                position: absolute;
                top: calc((100% - 59px) / 2);
                border: 2px solid grey;
                border-radius: 50%;
                font-size: 35px;
                line-height: .6;
                padding: 10px;
                cursor: pointer;
                &.slick-disabled{
                  cursor: default;
                  color: rgba(128, 128, 128, .4);
                  border-color: rgba(128, 128, 128, .4);
                }
                .glyphicon{
                  top: -1px;
                }
                &.prev-pagging{
                  left: 5px;
                  .glyphicon{
                    right: 2px;
                  }
                  .icon-flip{
                    transform: scaleX(-1);
                    -moz-transform: scaleX(-1);
                    -webkit-transform: scaleX(-1);
                    -ms-transform: scaleX(-1);
                  }
                }
                &.next-pagging{
                  right: 5px;
                  .glyphicon{
                    left: 2px;
                  }
                }
                &:hover:not(.slick-disabled){
                  color: white;
                  background-color: grey;
                }
              }
              &.left-portion{
                left: 0px;
              }
              &.right-portion{
                right: 0px;
              }
              &:hover{
                opacity: 1;
              }
            }
          }
        }
      }
      &.logged-in{
        main.main-content{
          .content-inner {
            header.content-header {
              .welcome {
                display: initial;
              }
              .login-btn {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}