@import "../../config/css/colors.scss";

html{
    font-size: 12px;
    body{
        .site-wrapper{
            position: relative;
            .listing-panel{
                display: none;
                position: fixed;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.4);
                .listing-posts{
                    position: relative;
                    width: 768px;
                    max-width: 100%;
                    height: 100%;
                    left: 0px;
                    @media screen and (max-width: 768px){
                        left: 0px;
                    }
                    padding: 0px;
                    z-index: 300;
                    background-color: $lightGreen;
                    display: flex;
                    flex-direction: column;
                    transition: all .3s ease-out;
                    header.listing-posts-header{
                        flex-grow: 0;
                        flex-shrink: 0;
                        position: relative;
                        padding: 15px 50px 15px 10px;
                        .title-wrapper{
                            .series-title{
                                font-size: 3rem;
                                font-weight: bold;
                            }
                            .posts-count{
                                margin-left: 10px;
                                display: inline-block;
                                color: white;
                            }
                        }
                        &:after{
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                            width: 100%;
                            height: 1px;
                            background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
                            background-size: 5px 1px;
                            background-repeat: repeat-x;
                        }
                        .section-close{
                            display: block;
                            position: absolute;
                            top: 3rem;
                            right: 2rem;
                            width: 2rem;
                            height: 2rem;
                            cursor: pointer;
                            z-index: 1;
                            &:before{
                                content: '';
                                display: block;
                                width: 3rem;
                                height: 1px;
                                background-color: $greenColor;
                                position: absolute;
                                top: 50%;
                                left: -0.5rem;
                                transform: rotate(45deg);
                            }
                            &:after{
                                content: '';
                                display: block;
                                width: 3rem;
                                height: 1px;
                                background-color: $greenColor;
                                position: absolute;
                                top: 50%;
                                left: -0.5rem;
                                transform: rotate(-45deg);
                            }
                            &:hover{
                                &:before, &:after{
                                    background-color: $greenHover;
                                }
                            }
                        }
                    }
                    .listing-posts-content{
                        padding: 20px 10px 20px 0px;
                        flex-grow: 1;
                        flex-basis: 100px;
                        overflow: auto;
                        overflow-scrolling: touch;
                        -webkit-overflow-scrolling: touch;
                        ul{
                            list-style: none;
                            padding-left: 10px;
                            li{
                                margin-bottom: 25px;
                                .item-img{
                                    width: 85px;
                                    height: 50px;
                                }
                                .item-view-states-wrapper{
                                    width: 25px;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: flex-start;
                                    position: relative;
                                    top: 5px;
                                    z-index: 2;
                                    .view-state{
                                        display: none;
                                        position: relative;
                                        top: 2px;
                                        &.complete-state{
                                            width: 20px;
                                            height: auto;
                                            g, path{
                                                fill: $greenColor;
                                            }
                                        }
                                        &.current-state{
                                            width: 10px;
                                            height: 10px;
                                            border: 3px solid $greenColor;
                                            background-color: white;
                                            border-radius: 50%;
                                            box-sizing: content-box;
                                        }
                                        &.normal-state{
                                            width: 12px;
                                            height: 12px;
                                            border-radius: 50%;
                                            background-color: $greenColor;
                                            opacity: .8;
                                            box-sizing: content-box;
                                        }
                                    }
                                    &.state-complete{
                                        .complete-state{
                                            display: block;
                                        }
                                    }
                                    &.state-normal{
                                        .normal-state{
                                            display: block;
                                        }
                                    }
                                    &.state-current{
                                        .current-state{
                                            display: block;
                                        }
                                    }
                                    &:after{
                                        z-index: 1;
                                        content: '';
                                        position: absolute;
                                        display: block;
                                        width: 1px;
                                        height: calc(100% + 20px);
                                        top: 17px;
                                        left: 50%;
                                        background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
                                        background-position: left;
                                        background-size: 1px 10px;
                                        background-repeat: repeat-y;
                                        opacity: .7;
                                    }
                                }
                                .title-wrapper{
                                    .media-icon-wrapper{
                                        display: inline-block;
                                        margin-right: 10px;
                                        i{
                                            display: none;
                                            font-size: 1.5rem;
                                        }
                                        &.type-0{
                                            .audio-icon{
                                                display: initial;
                                            }
                                        }
                                        &.type-2{
                                            .video-icon{
                                                display: initial;
                                            }
                                        }
                                        &.type-7, &.type-10, &.type-8, &.type-9{
                                            .text-icon{
                                                display: initial;
                                            }
                                        }
                                    }
                                    .item-title{
                                        font-size: 1.5rem;
                                        color: $contentColor;
                                    }
                                    .item-duration{
                                    }
                                }
                                &:last-child{
                                    .item-view-states-wrapper{
                                        &:after{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        &::-webkit-scrollbar{
                            width: 8px;
                        }
                        &::-webkit-scrollbar-button{

                        }
                        &::-webkit-scrollbar-track{
                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar-track-piece {}
                        &::-webkit-scrollbar-thumb{
                            border-radius: 10px;
                            background-color: #cacac0;
                            //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
                        }
                        &::-webkit-scrollbar-corner{}
                        &::-webkit-resizer{  }
                    }
                    &.collapsed{
                        left: -768px;
                        @media screen and (max-width: 768px){
                            left: -100%;
                        }
                    }
                }
            }
            .view-panel{
                width: 780px;
                max-width: 100%;
                padding: 70px 10px 15px;
                margin: 0px auto;
                .money-saved{
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    text-align: right;
                    .money-amount{
                        font-size: 3rem;
                        color: $yellowColor;
                        line-height: 1;
                        span{
                            font-size: 70px;
                            line-height: 40px;
                        }
                    }
                    .w-name{
                        font-size: 30px;
                    }
                }
                .listing-toggle{
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    width: 50px;
                    height: 50px;
                    box-sizing: border-box;
                    border: 1px solid $greenColor;
                    border-radius: 50%;
                    cursor: pointer;
                    svg{
                        width: 25px;
                        height: auto;
                        g, path, circle{
                            fill: $greenColor !important;
                        }
                    }
                    &:hover{
                        border-color: $greenHover;
                        svg{
                            g, path, circle{
                                fill: $greenHover !important;
                            }
                        }
                    }
                }
                .post-image-wrapper{
                    text-align: center;
                    .post-img{
                        max-width: calc(100% - 100px);
                    }
                }
                .post-title{
                    text-align: left;
                    margin: 5px 0px 10px;
                    font-size: 2rem;
                    font-weight: 400;
                    color: $contentColor;
                }
                .post-body{
                    text-align: center;
                    font-size: 2rem;
                    padding-bottom: 20px;
                    min-height: 300px;
                    img{
                        max-width: 100%;
                        display: block;
                        margin: 0px auto;
                    }
                    video{
                        max-width: 100%;
                    }
                    .type-menu{
                        text-align: center;
                        background-color: #f8f7f9;
                        padding: 10px 5px;
                        header{
                            .menu-title{
                                font-size: 2rem;
                            }
                            .menu-description{
                            }
                        }
                        .paths-container{
                            .paths-list{
                                .path-col{
                                    padding: 20px 30px;
                                    flex-basis: 100px;
                                    flex-shrink: 0;
                                    flex-grow: 1;
                                    border-left: 1px dotted grey;
                                    cursor: pointer;
                                    word-break: break-all;
                                    .img-wrapper{
                                        height: 150px;
                                        img{
                                            opacity: .8;
                                            width: 100%;
                                            min-width: 100px;
                                            max-width: 150px;
                                        }
                                    }
                                    .path-title{
                                        font-size: 1.2rem;
                                        margin: 10px 0px;
                                    }
                                    .path-description{
                                        font-size: 1rem;
                                        line-height: 1.1;
                                    }
                                    &:hover{
                                        color: black;
                                        .img-wrapper{
                                            img{
                                                opacity: 1;
                                            }
                                        }
                                    }
                                    &:first-child{
                                        border-left: none;
                                    }
                                }
                                &.paths-count-3{
                                    .path-col{
                                        flex-basis: 30%;
                                    }
                                }
                                &.paths-count-4{
                                    .path-col{
                                        @media all and (max-width: 1240px) {
                                            flex-basis: 50%;
                                        }
                                    }
                                }
                                &.paths-count-5{
                                    flex-basis: 30%;
                                }
                            }
                        }
                    }
                    .video-js{
                        width: auto !important;
                    }
                }
                .view-panel-footer{
                    padding: 10px 0px 15px;
                    .step-back{
                        display: block;
                        font-size: 18px;
                        line-height: 22px;
                        text-decoration: none;
                        color: #777;
                        -webkit-transition: 0.3s;
                        transition: 0.3s;
                        cursor: pointer;
                        padding-bottom: 1px;
                        &:after{

                        }
                        &:hover{
                            color: black;
                        }
                    }
                    .step-next{
                        display: block;
                        font-size: 20px;
                        padding: 5px 20px;
                        background-color: transparent;
                        border: 1px solid $greenColor;
                        color: $contentColor;
                        text-decoration: none;
                        border-radius: 10px;
                        cursor: pointer;
                        &:hover{
                            background-color: $greenColor;
                            color: white;
                        }
                    }
                    .powered-by{
                        margin-top: 10px;
                        font-size: 20px;
                        text-align: center;
                    }
                }
                .pay-blog-wrapper{
                    padding: 10px 10px 30px 10px;
                    font-size: 2rem;
                }
                &.content-type-2{
                    .post-image-wrapper{
                        display: none;
                    }
                }
                &.content-type-0{
                    .post-image-wrapper{
                        display: none;
                    }
                }
            }
        }
        &.listing-opened{
            overflow: hidden;
            .listing-panel{
                display: block;
                .listing-posts{
                }
            }
        }
    }
}