@import "../../config/css/colors.scss";

html{
    body{
        .site-wrapper.page{
            .site-content{
                text-align: left;
                background-color: $darkBlueColor;
                main.main-content{
                    width: 1500px;
                    max-width: 100%;
                    margin: 0px auto;
                    padding: 100px 75px 100px;
                    text-align: center;
                    color: white;
                    .page-title{
                        margin-bottom: 20px;
                        font-size: 4rem;
                        font-weight: bold;
                    }
                    .sorry-txt{
                        font-size: 2rem;
                        margin-bottom: 25px;
                    }
                    .img-wrapper{
                        margin-bottom: 15px;
                        svg{
                            width: 750px;
                            max-width: 100%;
                        }
                    }
                    .btn-wrapper{
                        margin-bottom: 10px;
                        .know-more-link{
                            display: inline-block;
                            background-color: transparent;
                            border: 1px solid white;
                            color: white;
                            padding: 7px 50px;
                            border-radius: 40px;
                            font-size: 2rem;
                            text-decoration: none;
                            &:focus{
                                outline: none;
                            }
                            &:hover{
                                background-color: rgba(0, 0, 0, .05);
                            }
                        }
                    }
                    .how-to-aside{
                        span{
                            vertical-align: middle;
                        }
                        svg{
                            width: 15px;
                            height: 15px;
                            vertical-align: middle;
                            g, path{
                                fill: white;
                            }
                        }
                    }
                }
            }
        }
    }
}