@import "../../config/css/colors.scss";

html{
    body{
        .site-wrapper.page{
            .site-content{
                text-align: left;
                main.main-content{
                    width: 1500px;
                    max-width: 100%;
                    margin: 0px auto;
                    padding: 100px 75px 100px;
                    text-align: left;
                    transition: all .3s ease-out;
                    .congratulations-wrapper{
                        margin-right: 300px;
                        h1{
                            margin: 0px 0px 5px;
                            font-weight: bold;
                        }
                        .series-name-wrapper{
                            font-size: 1.5rem;
                            .series-name{
                                font-weight: bold;
                            }
                        }
                        .go-series-page-link{
                            font-size: 1.5rem;
                            display: block;
                            padding: 5px 30px;
                            text-decoration: none;
                            color: $contentColor;
                            border: 1px solid $lightGrey;
                            border-radius: 25px;
                            &:hover{
                                border-color: $contentColor;
                                color: $contentColor;
                            }
                        }
                        @media all and (max-width: 768px) {
                            padding: 40px 10px 20px;
                            margin: 0px -20px;
                            background-color: $lightGreen;
                            text-align: center;
                            >.flex-row{
                                width: 340px;
                                margin: 0px auto;
                            }
                        }
                    }
                    .series-header-mobile{
                        margin: 0px -20px 20px -20px;
                        padding: 20px 10px;
                        background-color: $redColor;
                        color: white;
                        .series-title{
                            font-size: 2.5rem;
                            text-align: center;
                        }
                        .add-post-wrapper{
                            cursor: pointer;
                            position: relative;
                            svg{
                                width: 45px;
                                height: 45px;
                                g, path{
                                    fill: $greenColor;
                                }
                            }
                            .add-new-drop-down-wrapper{
                                display: none;
                                position: absolute;
                                top: 63%;
                                left: calc((100% - 181px) / 2);
                                height: auto;
                                padding-top: 15px;
                                z-index: 2;
                                .add-new-drop-down-inner{
                                    position: relative;
                                    background-color: white;
                                    padding: 20px 15px;
                                    border-radius: 5px;
                                    box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
                                    font-size: 1.5rem;
                                    ul{
                                        li{
                                            margin-bottom: 15px;
                                            a{
                                                display: block;
                                                width: 100%;
                                                color: $contentColor;
                                                text-decoration: none;
                                                .icon-col{
                                                    line-height: 0;
                                                    .item-icon{
                                                        width: 20px;
                                                        height: 20px;
                                                        g, path, circle{
                                                            fill: $greenColor !important;
                                                        }
                                                    }
                                                }
                                                .item-txt{
                                                }
                                                &:hover{
                                                    color: black;
                                                }
                                            }
                                        }
                                    }
                                    &:after{
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        bottom: calc(100%);
                                        left: calc((100% - 30px) / 2);
                                        width: 0;
                                        height: 0;
                                        border-left: 15px solid transparent;
                                        border-right: 15px solid transparent;
                                        border-bottom: 20px solid white;
                                    }
                                }
                            }
                            &:hover{
                                .add-new-drop-down-wrapper{
                                    display: block;
                                }
                            }
                        }
                    }
                    .series-item{
                        margin-bottom: 30px;
                        .series-content-wrapper{
                            .series-content-header{
                                margin-bottom: 15px;
                                .series-title{
                                    margin: 0px;
                                }
                                .actions-container {
                                    .action-item {
                                        background-color: transparent;
                                        display: flex;
                                        line-height: 0;
                                        border-radius: 50%;
                                        border: 1px solid $greenColor;
                                        height: 50px;
                                        width: 50px;
                                        box-sizing: border-box;
                                        justify-content: center;
                                        align-items: center;
                                        svg{
                                            width: 25px;
                                            max-height: 25px;
                                            g{
                                                fill: $greenColor !important;
                                            }
                                            path{
                                                fill: $greenColor !important;
                                            }
                                            polygon{
                                                fill: $greenColor;
                                            }
                                            circle{
                                                fill: $greenColor !important;
                                            }
                                        }
                                        &:hover{
                                            border-color: $greenHover;
                                            svg{
                                                g, path, polygon, circle{
                                                    fill: $greenHover !important;
                                                }
                                            }
                                        }
                                    }
                                    [data-toggle="collapse"]{
                                        border-width: 1px;
                                    }
                                }
                            }
                            .series-content-body{
                                margin-bottom: 20px;
                                .posts-list-wrapper{
                                    .arrow-icon-wrapper{
                                        $angle: 30deg;
                                        width: 22px;
                                        height: 48px;

                                        display: block;
                                        position: relative;
                                        top: 70px;

                                        opacity: .7;

                                        &:before, &:after{
                                            content: '';
                                            display: block;
                                            width: 40%;
                                            height: 50%;
                                            position: absolute;
                                            background-color: $lightGrey;
                                        }
                                        &:before{
                                            top: 0px;
                                        }
                                        &:after{
                                            bottom: 0px;
                                        }

                                        &.arrow-left{
                                            &:before{
                                                right: 0px;
                                                transform-origin: top right;
                                                -ms-transform: skew(-$angle, 0deg);
                                                -webkit-transform: skew(-$angle, 0deg);
                                                transform: skew(-$angle, 0deg);
                                            }
                                            &:after{
                                                right: 0px;
                                                transform-origin: bottom right;
                                                -ms-transform: skew($angle, 0deg);
                                                -webkit-transform: skew($angle, 0deg);
                                                transform: skew($angle, 0deg);
                                            }
                                        }
                                        &.arrow-right{
                                            &:before{
                                                left: 0px;
                                                transform-origin: top left;
                                                -ms-transform: skew($angle, 0deg);
                                                -webkit-transform: skew($angle, 0deg);
                                                transform: skew($angle, 0deg);
                                            }
                                            &:after{
                                                left: 0px;
                                                transform-origin: bottom left;
                                                -ms-transform: skew(-$angle, 0deg);
                                                -webkit-transform: skew(-$angle, 0deg);
                                                transform: skew(-$angle, 0deg);
                                            }
                                        }
                                        &:hover{
                                            opacity: 1;
                                        }
                                    }
                                    .posts-list{
                                        max-width: 100%;
                                        min-height: 200px;
                                        transition: all .3s ease-out;
                                        .post-item{
                                            padding: 0px 15px;
                                            font-size: 1.5rem;
                                            .item-header{
                                                margin-bottom: 10px;
                                                .media-icon-wrapper{
                                                    i.fa{
                                                        display: none;
                                                        vertical-align: middle;
                                                    }
                                                }
                                                .item-action{
                                                    display: block;
                                                    line-height: 0;
                                                    svg{
                                                        width: 25px;
                                                        height: 25px;
                                                        g, path {
                                                            fill: $lightGrey;
                                                        }
                                                    }
                                                    &.edit-action {
                                                        display: flex;
                                                        width: 25px;
                                                        height: 25px;
                                                        border-radius: 50%;
                                                        border: 1px solid $lightGrey;
                                                        svg {
                                                            width: 12px;
                                                            height: 12px;
                                                        }
                                                    }
                                                    &:hover{
                                                        svg{
                                                            g, path {
                                                                fill: $contentColor;
                                                            }
                                                        }
                                                        &.edit-action {
                                                            border-color: $contentColor;
                                                        }
                                                    }
                                                }
                                            }
                                            .item-type-body{
                                                width: 100%;
                                                height: calc(100px + 3vw);
                                                position: relative;
                                                margin-bottom: 15px;
                                                .blog-type{
                                                    position: absolute;
                                                    top: 0px;
                                                    left: 0px;
                                                    width: 100%;
                                                    height: 100%;
                                                    overflow: hidden;
                                                    img{
                                                        width: 100%;
                                                        height: 100%;
                                                    }
                                                    &.type-0{
                                                        background-image: url("../../images/global-icons/audio-spectr.png");
                                                        background-position: center center;
                                                        background-repeat: no-repeat;
                                                    }
                                                }
                                                aside.blog-duration{
                                                    position: absolute;
                                                    bottom: 8px;
                                                    right: 9px;
                                                    padding: 7px 20px;
                                                    z-index: 1;
                                                    background: rgba(227, 228, 220, .8);
                                                    border-radius: 10px;
                                                    font-size: 1.2rem;
                                                    line-height: 1.1;
                                                }
                                            }
                                            .item-title{
                                                display: block;
                                                color: $contentColor;
                                            }
                                            .item-series-wrapper{
                                                .item-series{
                                                    color: $lightGrey;
                                                    text-decoration: underline $lightGrey;
                                                    &:hover{
                                                        color: black;
                                                        text-decoration-color: black;
                                                    }
                                                }
                                            }
                                            &.type-0{
                                                .item-header{
                                                    .media-icon-wrapper{
                                                        i.fa.audio-icon{
                                                            display: initial;
                                                            vertical-align: middle;
                                                        }
                                                    }
                                                }
                                            }
                                            &.type-2{
                                                .item-header{
                                                    .media-icon-wrapper{
                                                        i.fa.video-icon{
                                                            display: initial;
                                                            vertical-align: middle;
                                                        }
                                                    }
                                                }
                                            }
                                            &.type-7, &.type-8, &.type-10{
                                                .item-header{
                                                    .media-icon-wrapper{
                                                        i.fa.text-icon{
                                                            display: initial;
                                                            vertical-align: middle;
                                                        }
                                                    }
                                                }
                                            }
                                            @media all and (max-width: 768px) {
                                                .item-type-body{
                                                    height: calc(200px + 3vw);
                                                }
                                            }
                                        }
                                    }
                                }
                                .aside-wrapper{
                                    margin-left: 20px;
                                    .add-post-wrapper{
                                        height: 148px;
                                        margin-bottom: 15px;
                                        border: 1px dashed $lightGrey;
                                        border-radius: 20px;
                                        svg{
                                            width: 45px;
                                            height: 45px;
                                            g, path{
                                                fill: $lightGrey;
                                            }
                                        }
                                    }
                                    .full-list-wrapper{
                                        .full-list-action {
                                            display: block;
                                            color: $lightGrey;
                                            svg{
                                                width: 30px;
                                                vertical-align: middle;
                                                g, path{
                                                    fill: $lightGrey !important;
                                                }
                                            }
                                            span{
                                                vertical-align: middle;
                                                text-decoration: underline;
                                                font-size: 1.2em;
                                            }
                                            &:hover{
                                                text-decoration: none;
                                                color: $contentColor;
                                                svg{
                                                    g, path{
                                                        fill: $contentColor !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .add-helper{
                            width: 190px;
                            position: relative;
                            margin-top: 65px;
                            margin-left: 104px;
                            padding-left: 5px;
                            box-sizing: content-box;
                            .helper-txt{
                                font-size: 1.5rem;
                            }
                            .helper-arrow-img{
                                position: absolute;
                                right: 100%;
                                top: 5px;
                            }
                        }
                        .flex-row{
                            .flex-col{
                                overflow: hidden;
                            }
                        }
                        @media all and (max-width: 768px) {
                            width: 400px;
                            max-width: 100%;
                            margin: 0px auto 10px auto;
                            .series-content-wrapper{
                                .series-content-body{
                                    .posts-list-wrapper{
                                        .posts-list{
                                            max-width: 100%;
                                            min-height: 200px;
                                            transition: all .3s ease-out;
                                        }
                                    }
                                    .aside-wrapper{
                                        margin-left: 0px;
                                        margin-top: 15px;
                                        .full-list-wrapper{
                                            text-align: center;
                                            font-size: 1.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .series-conversation-wrapper{
                        margin-bottom: 50px;
                        .series-conversation-component{
                            width: 900px;
                        }
                    }
                    .invite-friend-wrapper{
                        padding: 0px 30px;
                        border-radius: 30px;
                        background-color: $redColor;
                        color: white;
                        .invite-content{
                            position: relative;
                            padding-left: 70px;
                            .invite-txt{
                                margin: 0px 0px 5px;
                                font-weight: bold;
                                font-size: 1.7rem;
                            }
                            .to-add-txt{
                                margin-bottom: 10px;
                                font-size: 1.7rem;
                            }
                            .invite-friend-form{
                                max-width: 450px;
                                .input-wrapper{
                                    input{
                                        display: block;
                                        width: 100%;
                                        border: none;
                                        border-bottom: 1px solid white;
                                        font-size: 1.5rem;
                                        background-color: transparent;
                                        &:focus{
                                            outline: none;
                                        }
                                        &::placeholder{
                                            color: $lightGrey;
                                        }
                                    }
                                    button.btn{
                                        padding: 0px;
                                        background-color: transparent;
                                        svg{
                                            width: 30px;
                                            polygon, path{
                                            }
                                        }
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                }
                            }
                            .plane-wrapper{
                                position: absolute;
                                left: 5px;
                                bottom: 30px;
                                img{
                                    height: 150px;
                                }
                            }
                        }
                        .invite-image-wrapper{
                            margin: -164px 0px -10px;
                            img{
                                width: 315px;
                            }
                        }
                        @media all and (max-width: 768px) {
                            padding: 35px 30px;
                        }
                    }
                    .step-footer{
                        text-align: center;
                        margin-top: 70px;
                        .button-wrapper{
                            margin-bottom: 30px;
                            text-align: center;
                            .create-new-btn{
                                background-color: $greenColor;
                                border: none;
                                outline: none;
                                color: white;
                                display: block;
                                width: 290px;
                                margin: 0px auto;
                                text-align: center;
                                padding: 12px 5px;
                                border-radius: 30px;
                                font-size: 2rem;
                                font-weight: lighter;
                                text-decoration: none;
                                cursor: pointer;
                                &:hover{
                                    background-color: $greenHover;
                                }
                                &.small{
                                    display: inline-block;
                                    width: auto;
                                    padding: 10px 30px;
                                    font-size: 1.5rem;
                                }
                            }
                        }
                        .to-change-txt{
                            margin-bottom: 0px;
                        }
                        .order-embed-txt{
                            margin-bottom: 5px;
                        }
                        .btn-wrapper{
                            .my-series-link{
                                display: inline-block;
                                background-color: transparent;
                                border: 1px solid $greenColor;
                                color: $contentColor;
                                padding: 7px 20px;
                                border-radius: 20px;
                                font-size: 1.5rem;
                                text-decoration: none;
                                &:focus{
                                    outline: none;
                                }
                                &:hover{
                                    background-color: $greenColor;
                                    color: white;
                                }
                            }
                        }
                    }
                    @media all and (max-width: 768px) {
                        padding: 0px 20px 50px;
                    }
                }
            }
        }
    }
}