html body .site-wrapper.page .site-content {
  text-align: left;
  background-color: #a4c1e3; }
  html body .site-wrapper.page .site-content main.main-content {
    width: 1500px;
    max-width: 100%;
    margin: 0px auto;
    padding: 100px 75px 100px;
    text-align: center;
    color: white; }
    html body .site-wrapper.page .site-content main.main-content .page-title {
      margin-bottom: 20px;
      font-size: 4rem;
      font-weight: bold; }
    html body .site-wrapper.page .site-content main.main-content .sorry-txt {
      font-size: 2rem;
      margin-bottom: 25px; }
    html body .site-wrapper.page .site-content main.main-content .img-wrapper {
      margin-bottom: 15px; }
      html body .site-wrapper.page .site-content main.main-content .img-wrapper svg {
        width: 750px;
        max-width: 100%; }
    html body .site-wrapper.page .site-content main.main-content .btn-wrapper {
      margin-bottom: 10px; }
      html body .site-wrapper.page .site-content main.main-content .btn-wrapper .know-more-link {
        display: inline-block;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 7px 50px;
        border-radius: 40px;
        font-size: 2rem;
        text-decoration: none; }
        html body .site-wrapper.page .site-content main.main-content .btn-wrapper .know-more-link:focus {
          outline: none; }
        html body .site-wrapper.page .site-content main.main-content .btn-wrapper .know-more-link:hover {
          background-color: rgba(0, 0, 0, 0.05); }
    html body .site-wrapper.page .site-content main.main-content .how-to-aside span {
      vertical-align: middle; }
    html body .site-wrapper.page .site-content main.main-content .how-to-aside svg {
      width: 15px;
      height: 15px;
      vertical-align: middle; }
      html body .site-wrapper.page .site-content main.main-content .how-to-aside svg g, html body .site-wrapper.page .site-content main.main-content .how-to-aside svg path {
        fill: white; }

/*# sourceMappingURL=series_invitation_declined-page.css.map */
