$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;

// Variables
$grey: grey;
$green: #1ecd97;
html{
    font-size: 12px;
    overflow: visible;
    body{
        .site-wrapper{
            font-family: $default_font_family;
            main.main-content{
                .content-inner{
                    padding: 20px 10px;
                    background-color: white;
                    header.content-header{
                        .welcome{
                            display: none;
                        }
                        .login-btn{
                            .btn.big-login{
                                padding: 10px 50px;
                            }
                        }
                    }
                    .tt-grid-wrapper{
                        position: relative;
                        max-width: calc((280px + 10px * 2) * 5);
                        margin: 0px auto;
                        padding: 5px 0px;
                        text-align: center;
                        & > .tt-grid.tt-effect-3dflip{
                            max-width: 100%;
                            > li{
                                width: calc(100% / 5 - 10px * 2);
                                height: 320px;
                                float: left;
                                > *{
                                    display: block;
                                    width: 100%;
                                    height: auto;
                                    text-decoration: none;
                                    background-color: transparent;
                                    .item-inner{
                                        width: 95%;
                                        margin: 0px auto;
                                        position: relative;
                                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
                                        border-bottom: 1px solid rgba(200, 200, 200, .5);
                                        padding: 0px 10px 10px;
                                        background-color: white;
                                        font-size: 1.7rem;
                                        line-height: 1.2;
                                        color: $content_color;
                                        text-align: center;
                                        .img-wrapper{
                                            position: relative;
                                            z-index: 1;
                                            margin: 0px -10px 5px;
                                            width: calc(100% + 20px);
                                            img.item-img{
                                                width: 100%;
                                                height: 160px;
                                                object-fit: fill;
                                            }
                                        }
                                        .title-wrapper{
                                            margin-bottom: 10px;
                                            min-height: 69px;
                                            position: relative;
                                            .item-title{
                                                display: block; /* Fallback for non-webkit */
                                                display: -webkit-box;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                transition: height 300ms;
                                                white-space: normal;
                                            }
                                            [data-readmore-toggle]{
                                                font-size: 1.5rem;
                                                cursor: pointer;
                                                color: #178DB1;
                                                font-style: italic;
                                                &:hover{
                                                    color: #5EB0C9;
                                                }
                                            }
                                            &.collapsed{
                                                .item-title{
                                                    display: -webkit-box;
                                                    -webkit-line-clamp: 2;
                                                    -webkit-box-orient: vertical;
                                                    text-overflow: ellipsis;
                                                }
                                            }
                                        }
                                        .buttons-wrapper{
                                            text-align: center;
                                            width: 100%;
                                            padding: 0px 0px 10px;
                                            .btn.btn-circle{
                                                width: 100%;
                                                max-width: 100%;
                                                padding: 4px;
                                                font-size: 2rem;
                                                border-radius: 50px;
                                                background: transparent;
                                                border: 2px solid $green;
                                                color: $green;
                                                &:hover{
                                                    background: $green;
                                                    color: white;
                                                }
                                                &:focus{
                                                    outline: none;
                                                }
                                            }
                                            .btn-group{
                                                .btn{
                                                    font-size: 1em;
                                                }
                                                .btn.view-post{
                                                    padding: 6px 25px;;
                                                }
                                                .dropdown-menu{
                                                    font-size: 1em;
                                                    padding: 0px;
                                                    li{
                                                        border-bottom: 1px solid #cccccc8f;
                                                        width: 100%;
                                                        a{
                                                            text-align: center;
                                                        }
                                                        &:last-child{
                                                            border-bottom: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        > aside{
                                            .bottom-line{
                                                position: absolute;
                                                bottom: 0px;
                                                left: 0px;
                                                width: 30px;
                                                height: 2px;
                                                background-color: rgb(200, 200, 200);
                                            }
                                            .star-item{
                                                display: none;
                                                position: absolute;
                                                top: 10px;
                                                right: 10px;
                                                z-index: 2;
                                                width: 40px;
                                            }
                                        }
                                    }
                                    &.charged{
                                        .item-inner{
                                            >aside{
                                                .star-item{
                                                    display: initial;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.scope-width-5-sm{
                            max-width: calc((280px + 2px * 2) * 5);
                            .tt-grid.tt-effect-3dflip{
                                li{
                                    width: calc(100% / 5 - 2px * 2);
                                    margin-left: 2px;
                                    margin-right: 2px;
                                    > div{
                                        .item-inner{
                                            footer.btns-container{
                                                padding: 2px 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.scope-width-4 {
                            max-width: calc((280px + 10px * 2) * 4);
                            .tt-grid.tt-effect-3dflip{
                                li{
                                    width: calc(100% / 4 - 10px * 2);
                                }
                            }
                        }
                        &.scope-width-3 {
                            max-width: calc((280px + 10px * 2) * 3);
                            .tt-grid.tt-effect-3dflip{
                                li{
                                    width: calc(100% / 3 - 10px * 2);
                                }
                            }
                        }
                        &.scope-width-2 {
                            max-width: calc((280px + 10px * 2) * 2);
                            .tt-grid.tt-effect-3dflip{
                                li{
                                    width: calc(100% / 2 - 10px * 2);
                                }
                            }
                        }
                        &.scope-width-1 {
                            max-width: calc((280px + 10px * 2) * 1);
                            .tt-grid.tt-effect-3dflip{
                                li{
                                    width: calc(100% / 1 - 10px * 2);
                                }
                            }
                        }
                    }
                    footer.content-footer{
                        border-top: 1px solid #999;
                        padding: 30px 0px 15px;
                        .step-back{
                            display: block;
                            font-size: 20px;
                            line-height: 28px;
                            text-decoration: none;
                            color: #777;
                            -webkit-transition: 0.3s;
                            transition: 0.3s;
                            cursor: pointer;
                            .content-turbotax__back-arr{
                                font-size: 28px;
                                line-height: 28px;
                            }
                            &:hover{
                                color: black;
                            }
                        }
                        .step-next{
                            display: block;
                            font-size: 20px;
                            line-height: 28px;
                            text-decoration: none;
                            padding: 10px 20px;
                            color: #fff;
                            background-color: #00c0ff;
                            border-radius: 5px;
                            position: relative;
                            -webkit-transition: 0.3s;
                            transition: 0.3s;
                            cursor: pointer;
                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                left: 0;
                                bottom: 0;
                                background-color: #0086b3;
                                border-bottom-left-radius: 100%;
                                border-bottom-right-radius: 100%;
                            }
                            &:hover{
                                background-color: #0086b3;
                            }
                        }
                        .powered-by{
                            margin-top: 10px;
                            font-size: 20px;
                            text-align: center;
                            color: #0084C9;
                        }
                    }
                }
            }
            &.logged-in{
                main.main-content{
                    .content-inner {
                        header.content-header {
                            .welcome {
                                display: initial;
                            }
                            .login-btn {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}