html {
  font-size: 12px;
  overflow: visible; }
  html body .site-wrapper {
    font-family: "EB Garamond", sans-serif; }
    html body .site-wrapper main.main-content .content-inner {
      padding: 20px 10px;
      background-color: white; }
      html body .site-wrapper main.main-content .content-inner header.content-header .welcome {
        display: none; }
      html body .site-wrapper main.main-content .content-inner header.content-header .login-btn .btn.big-login {
        padding: 10px 50px; }
      html body .site-wrapper main.main-content .content-inner .posts-section {
        position: relative; }
        html body .site-wrapper main.main-content .content-inner .posts-section .items-container .item {
          padding: 0px 50px; }
          html body .site-wrapper main.main-content .content-inner .posts-section .items-container .item .item-inner header.item-header {
            min-height: 130px;
            display: flex;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px; }
            html body .site-wrapper main.main-content .content-inner .posts-section .items-container .item .item-inner header.item-header .day-wrapper {
              margin-top: 0px;
              margin-bottom: 0px; }
            html body .site-wrapper main.main-content .content-inner .posts-section .items-container .item .item-inner header.item-header .post-title {
              display: none;
              margin-bottom: 0px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: pre; }
          html body .site-wrapper main.main-content .content-inner .posts-section .items-container .item .item-inner .item-body * {
            max-width: 100% !important; }
          html body .site-wrapper main.main-content .content-inner .posts-section .items-container .item .item-inner .item-body .type-pay {
            font-size: 1.5rem; }
          html body .site-wrapper main.main-content .content-inner .posts-section .items-container .item.slick-current header.item-header {
            text-align: center;
            display: block; }
            html body .site-wrapper main.main-content .content-inner .posts-section .items-container .item.slick-current header.item-header .day-wrapper {
              display: block;
              margin-bottom: 10px;
              font-size: 3.5rem;
              text-align: center; }
            html body .site-wrapper main.main-content .content-inner .posts-section .items-container .item.slick-current header.item-header .post-title {
              display: block; }
          @media all and (max-width: 1440px) {
            html body .site-wrapper main.main-content .content-inner .posts-section .items-container .item {
              padding: 0px 30px; } }
          @media all and (max-width: 1024px) {
            html body .site-wrapper main.main-content .content-inner .posts-section .items-container .item {
              padding: 0px 15px; }
              html body .site-wrapper main.main-content .content-inner .posts-section .items-container .item .day-wrapper {
                display: none; } }
        html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion {
          position: absolute;
          top: 0px;
          height: 140px;
          width: 100px;
          z-index: 1;
          opacity: 1;
          transition: all .1s; }
          html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging {
            position: absolute;
            top: calc((100% - 59px) / 2);
            border: 2px solid grey;
            border-radius: 50%;
            font-size: 35px;
            line-height: .6;
            padding: 10px;
            cursor: pointer; }
            html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging.slick-disabled {
              cursor: default;
              color: rgba(128, 128, 128, 0.4);
              border-color: rgba(128, 128, 128, 0.4); }
            html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging .glyphicon {
              top: -1px; }
            html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging.prev-pagging {
              left: 5px; }
              html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging.prev-pagging .glyphicon {
                right: 2px; }
              html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging.prev-pagging .icon-flip {
                transform: scaleX(-1);
                -moz-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                -ms-transform: scaleX(-1); }
            html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging.next-pagging {
              right: 5px; }
              html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging.next-pagging .glyphicon {
                left: 2px; }
            html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion .pagging:hover:not(.slick-disabled) {
              color: white;
              background-color: grey; }
          html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion.left-portion {
            left: 0px; }
          html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion.right-portion {
            right: 0px; }
          html body .site-wrapper main.main-content .content-inner .posts-section .nav-portion:hover {
            opacity: 1; }
    html body .site-wrapper.logged-in main.main-content .content-inner header.content-header .welcome {
      display: initial; }
    html body .site-wrapper.logged-in main.main-content .content-inner header.content-header .login-btn {
      display: none; }

/*# sourceMappingURL=SeriesEmbedGallery-page.css.map */
