html body .site-wrapper.page .site-content {
  text-align: left; }
  html body .site-wrapper.page .site-content main.main-content {
    width: 1500px;
    max-width: 100%;
    margin: 0px auto;
    padding: 100px 75px 100px;
    text-align: left;
    transition: all .3s ease-out; }
    html body .site-wrapper.page .site-content main.main-content .congratulations-wrapper {
      margin-right: 300px; }
      html body .site-wrapper.page .site-content main.main-content .congratulations-wrapper h1 {
        margin: 0px 0px 5px;
        font-weight: bold; }
      html body .site-wrapper.page .site-content main.main-content .congratulations-wrapper .series-name-wrapper {
        font-size: 1.5rem; }
        html body .site-wrapper.page .site-content main.main-content .congratulations-wrapper .series-name-wrapper .series-name {
          font-weight: bold; }
      html body .site-wrapper.page .site-content main.main-content .congratulations-wrapper .go-series-page-link {
        font-size: 1.5rem;
        display: block;
        padding: 5px 30px;
        text-decoration: none;
        color: #737661;
        border: 1px solid #c8cabc;
        border-radius: 25px; }
        html body .site-wrapper.page .site-content main.main-content .congratulations-wrapper .go-series-page-link:hover {
          border-color: #737661;
          color: #737661; }
      @media all and (max-width: 768px) {
        html body .site-wrapper.page .site-content main.main-content .congratulations-wrapper {
          padding: 40px 10px 20px;
          margin: 0px -20px;
          background-color: #f6fffc;
          text-align: center; }
          html body .site-wrapper.page .site-content main.main-content .congratulations-wrapper > .flex-row {
            width: 340px;
            margin: 0px auto; } }
    html body .site-wrapper.page .site-content main.main-content .series-header-mobile {
      margin: 0px -20px 20px -20px;
      padding: 20px 10px;
      background-color: #f26d7e;
      color: white; }
      html body .site-wrapper.page .site-content main.main-content .series-header-mobile .series-title {
        font-size: 2.5rem;
        text-align: center; }
      html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper {
        cursor: pointer;
        position: relative; }
        html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper svg {
          width: 45px;
          height: 45px; }
          html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper svg g, html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper svg path {
            fill: #1fcd98; }
        html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper .add-new-drop-down-wrapper {
          display: none;
          position: absolute;
          top: 63%;
          left: calc((100% - 181px) / 2);
          height: auto;
          padding-top: 15px;
          z-index: 2; }
          html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner {
            position: relative;
            background-color: white;
            padding: 20px 15px;
            border-radius: 5px;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
            font-size: 1.5rem; }
            html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li {
              margin-bottom: 15px; }
              html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a {
                display: block;
                width: 100%;
                color: #737661;
                text-decoration: none; }
                html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col {
                  line-height: 0; }
                  html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col .item-icon {
                    width: 20px;
                    height: 20px; }
                    html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col .item-icon g, html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col .item-icon path, html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a .icon-col .item-icon circle {
                      fill: #1fcd98 !important; }
                html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner ul li a:hover {
                  color: black; }
            html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper .add-new-drop-down-wrapper .add-new-drop-down-inner:after {
              content: '';
              display: block;
              position: absolute;
              bottom: calc(100%);
              left: calc((100% - 30px) / 2);
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-bottom: 20px solid white; }
        html body .site-wrapper.page .site-content main.main-content .series-header-mobile .add-post-wrapper:hover .add-new-drop-down-wrapper {
          display: block; }
    html body .site-wrapper.page .site-content main.main-content .series-item {
      margin-bottom: 30px; }
      html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header {
        margin-bottom: 15px; }
        html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .series-title {
          margin: 0px; }
        html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item {
          background-color: transparent;
          display: flex;
          line-height: 0;
          border-radius: 50%;
          border: 1px solid #1fcd98;
          height: 50px;
          width: 50px;
          box-sizing: border-box;
          justify-content: center;
          align-items: center; }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg {
            width: 25px;
            max-height: 25px; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg g {
              fill: #1fcd98 !important; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg path {
              fill: #1fcd98 !important; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg polygon {
              fill: #1fcd98; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item svg circle {
              fill: #1fcd98 !important; }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover {
            border-color: #1eb785; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover svg g, html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover svg path, html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover svg polygon, html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .actions-container .action-item:hover svg circle {
              fill: #1eb785 !important; }
        html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-header .actions-container [data-toggle="collapse"] {
          border-width: 1px; }
      html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body {
        margin-bottom: 20px; }
        html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper {
          width: 22px;
          height: 48px;
          display: block;
          position: relative;
          top: 70px;
          opacity: .7; }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:before, html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:after {
            content: '';
            display: block;
            width: 40%;
            height: 50%;
            position: absolute;
            background-color: #c8cabc; }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:before {
            top: 0px; }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:after {
            bottom: 0px; }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper.arrow-left:before {
            right: 0px;
            transform-origin: top right;
            -ms-transform: skew(-30deg, 0deg);
            -webkit-transform: skew(-30deg, 0deg);
            transform: skew(-30deg, 0deg); }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper.arrow-left:after {
            right: 0px;
            transform-origin: bottom right;
            -ms-transform: skew(30deg, 0deg);
            -webkit-transform: skew(30deg, 0deg);
            transform: skew(30deg, 0deg); }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper.arrow-right:before {
            left: 0px;
            transform-origin: top left;
            -ms-transform: skew(30deg, 0deg);
            -webkit-transform: skew(30deg, 0deg);
            transform: skew(30deg, 0deg); }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper.arrow-right:after {
            left: 0px;
            transform-origin: bottom left;
            -ms-transform: skew(-30deg, 0deg);
            -webkit-transform: skew(-30deg, 0deg);
            transform: skew(-30deg, 0deg); }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .arrow-icon-wrapper:hover {
            opacity: 1; }
        html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list {
          max-width: 100%;
          min-height: 200px;
          transition: all .3s ease-out; }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item {
            padding: 0px 15px;
            font-size: 1.5rem; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header {
              margin-bottom: 10px; }
              html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .media-icon-wrapper i.fa {
                display: none;
                vertical-align: middle; }
              html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action {
                display: block;
                line-height: 0; }
                html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action svg {
                  width: 25px;
                  height: 25px; }
                  html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action svg g, html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action svg path {
                    fill: #c8cabc; }
                html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action.edit-action {
                  display: flex;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  border: 1px solid #c8cabc; }
                  html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action.edit-action svg {
                    width: 12px;
                    height: 12px; }
                html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action:hover svg g, html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action:hover svg path {
                  fill: #737661; }
                html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-header .item-action:hover.edit-action {
                  border-color: #737661; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body {
              width: 100%;
              height: calc(100px + 3vw);
              position: relative;
              margin-bottom: 15px; }
              html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body .blog-type {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                overflow: hidden; }
                html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body .blog-type img {
                  width: 100%;
                  height: 100%; }
                html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body .blog-type.type-0 {
                  background-image: url("../../images/global-icons/audio-spectr.png");
                  background-position: center center;
                  background-repeat: no-repeat; }
              html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body aside.blog-duration {
                position: absolute;
                bottom: 8px;
                right: 9px;
                padding: 7px 20px;
                z-index: 1;
                background: rgba(227, 228, 220, 0.8);
                border-radius: 10px;
                font-size: 1.2rem;
                line-height: 1.1; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-title {
              display: block;
              color: #737661; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-series-wrapper .item-series {
              color: #c8cabc;
              text-decoration: underline #c8cabc; }
              html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-series-wrapper .item-series:hover {
                color: black;
                text-decoration-color: black; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-0 .item-header .media-icon-wrapper i.fa.audio-icon {
              display: initial;
              vertical-align: middle; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-2 .item-header .media-icon-wrapper i.fa.video-icon {
              display: initial;
              vertical-align: middle; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-7 .item-header .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-8 .item-header .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item.type-10 .item-header .media-icon-wrapper i.fa.text-icon {
              display: initial;
              vertical-align: middle; }
            @media all and (max-width: 768px) {
              html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list .post-item .item-type-body {
                height: calc(200px + 3vw); } }
        html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper {
          margin-left: 20px; }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper {
            height: 148px;
            margin-bottom: 15px;
            border: 1px dashed #c8cabc;
            border-radius: 20px; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper svg {
              width: 45px;
              height: 45px; }
              html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper svg g, html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .add-post-wrapper svg path {
                fill: #c8cabc; }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action {
            display: block;
            color: #c8cabc; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action svg {
              width: 30px;
              vertical-align: middle; }
              html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action svg g, html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action svg path {
                fill: #c8cabc !important; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action span {
              vertical-align: middle;
              text-decoration: underline;
              font-size: 1.2em; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action:hover {
              text-decoration: none;
              color: #737661; }
              html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action:hover svg g, html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper .full-list-action:hover svg path {
                fill: #737661 !important; }
      html body .site-wrapper.page .site-content main.main-content .series-item .add-helper {
        width: 190px;
        position: relative;
        margin-top: 65px;
        margin-left: 104px;
        padding-left: 5px;
        box-sizing: content-box; }
        html body .site-wrapper.page .site-content main.main-content .series-item .add-helper .helper-txt {
          font-size: 1.5rem; }
        html body .site-wrapper.page .site-content main.main-content .series-item .add-helper .helper-arrow-img {
          position: absolute;
          right: 100%;
          top: 5px; }
      html body .site-wrapper.page .site-content main.main-content .series-item .flex-row .flex-col {
        overflow: hidden; }
      @media all and (max-width: 768px) {
        html body .site-wrapper.page .site-content main.main-content .series-item {
          width: 400px;
          max-width: 100%;
          margin: 0px auto 10px auto; }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .posts-list-wrapper .posts-list {
            max-width: 100%;
            min-height: 200px;
            transition: all .3s ease-out; }
          html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper {
            margin-left: 0px;
            margin-top: 15px; }
            html body .site-wrapper.page .site-content main.main-content .series-item .series-content-wrapper .series-content-body .aside-wrapper .full-list-wrapper {
              text-align: center;
              font-size: 1.5rem; } }
    html body .site-wrapper.page .site-content main.main-content .series-conversation-wrapper {
      margin-bottom: 50px; }
      html body .site-wrapper.page .site-content main.main-content .series-conversation-wrapper .series-conversation-component {
        width: 900px; }
    html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper {
      padding: 0px 30px;
      border-radius: 30px;
      background-color: #f26d7e;
      color: white; }
      html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-content {
        position: relative;
        padding-left: 70px; }
        html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-content .invite-txt {
          margin: 0px 0px 5px;
          font-weight: bold;
          font-size: 1.7rem; }
        html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-content .to-add-txt {
          margin-bottom: 10px;
          font-size: 1.7rem; }
        html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-content .invite-friend-form {
          max-width: 450px; }
          html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper input {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid white;
            font-size: 1.5rem;
            background-color: transparent; }
            html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper input:focus {
              outline: none; }
            html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper input::placeholder {
              color: #c8cabc; }
          html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper button.btn {
            padding: 0px;
            background-color: transparent; }
            html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper button.btn svg {
              width: 30px; }
            html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-content .invite-friend-form .input-wrapper button.btn:focus {
              outline: none; }
        html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-content .plane-wrapper {
          position: absolute;
          left: 5px;
          bottom: 30px; }
          html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-content .plane-wrapper img {
            height: 150px; }
      html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-image-wrapper {
        margin: -164px 0px -10px; }
        html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper .invite-image-wrapper img {
          width: 315px; }
      @media all and (max-width: 768px) {
        html body .site-wrapper.page .site-content main.main-content .invite-friend-wrapper {
          padding: 35px 30px; } }
    html body .site-wrapper.page .site-content main.main-content .step-footer {
      text-align: center;
      margin-top: 70px; }
      html body .site-wrapper.page .site-content main.main-content .step-footer .button-wrapper {
        margin-bottom: 30px;
        text-align: center; }
        html body .site-wrapper.page .site-content main.main-content .step-footer .button-wrapper .create-new-btn {
          background-color: #1fcd98;
          border: none;
          outline: none;
          color: white;
          display: block;
          width: 290px;
          margin: 0px auto;
          text-align: center;
          padding: 12px 5px;
          border-radius: 30px;
          font-size: 2rem;
          font-weight: lighter;
          text-decoration: none;
          cursor: pointer; }
          html body .site-wrapper.page .site-content main.main-content .step-footer .button-wrapper .create-new-btn:hover {
            background-color: #1eb785; }
          html body .site-wrapper.page .site-content main.main-content .step-footer .button-wrapper .create-new-btn.small {
            display: inline-block;
            width: auto;
            padding: 10px 30px;
            font-size: 1.5rem; }
      html body .site-wrapper.page .site-content main.main-content .step-footer .to-change-txt {
        margin-bottom: 0px; }
      html body .site-wrapper.page .site-content main.main-content .step-footer .order-embed-txt {
        margin-bottom: 5px; }
      html body .site-wrapper.page .site-content main.main-content .step-footer .btn-wrapper .my-series-link {
        display: inline-block;
        background-color: transparent;
        border: 1px solid #1fcd98;
        color: #737661;
        padding: 7px 20px;
        border-radius: 20px;
        font-size: 1.5rem;
        text-decoration: none; }
        html body .site-wrapper.page .site-content main.main-content .step-footer .btn-wrapper .my-series-link:focus {
          outline: none; }
        html body .site-wrapper.page .site-content main.main-content .step-footer .btn-wrapper .my-series-link:hover {
          background-color: #1fcd98;
          color: white; }
    @media all and (max-width: 768px) {
      html body .site-wrapper.page .site-content main.main-content {
        padding: 0px 20px 50px; } }

/*# sourceMappingURL=series_invitation_accepted-page.css.map */
