html body .site-wrapper.page .site-content {
  text-align: left; }
  html body .site-wrapper.page .site-content .content-header {
    padding: 70px 85px 20px;
    background-color: #f6fffc; }
    html body .site-wrapper.page .site-content .content-header .series-title-wrapper {
      width: 1350px;
      max-width: 100%;
      margin: 0px auto 5px; }
      html body .site-wrapper.page .site-content .content-header .series-title-wrapper .series-title {
        font-size: 3rem;
        font-weight: bold;
        max-width: 350px; }
      html body .site-wrapper.page .site-content .content-header .series-title-wrapper .posts-count {
        margin-bottom: 5px;
        color: white; }
    @media screen and (max-width: 768px) {
      html body .site-wrapper.page .site-content .content-header {
        padding: 25px 10px 10px; }
        html body .site-wrapper.page .site-content .content-header .series-title-wrapper {
          margin-bottom: 5px; }
          html body .site-wrapper.page .site-content .content-header .series-title-wrapper .series-title {
            font-size: 3rem;
            font-weight: bold;
            max-width: 350px; }
          html body .site-wrapper.page .site-content .content-header .series-title-wrapper .posts-count {
            margin-bottom: 5px;
            color: white; } }
  html body .site-wrapper.page .site-content main.main-content {
    padding: 35px 85px 60px;
    position: relative;
    overflow: hidden; }
    html body .site-wrapper.page .site-content main.main-content .post-list {
      margin: 0px auto;
      width: 1350px;
      max-width: 100%; }
      html body .site-wrapper.page .site-content main.main-content .post-list .item {
        flex-basis: calc(100% / 4);
        margin-bottom: 20px;
        padding: 0px 15px;
        font-size: 1.5rem; }
        html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header {
          margin-bottom: 10px; }
          html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .media-icon-wrapper i.fa {
            display: none;
            vertical-align: middle; }
          html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .fav-star {
            display: block;
            line-height: 0; }
            html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .fav-star svg {
              width: 20px; }
              html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .fav-star svg g, html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .fav-star svg path {
                fill: #1fcd98; }
          html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .item-action {
            display: block;
            line-height: 0;
            outline: none; }
            html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .item-action svg {
              width: 25px;
              height: 25px; }
              html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .item-action svg g, html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .item-action svg path {
                fill: #c8cabc; }
            html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .item-action.edit-action {
              display: flex;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              border: 1px solid #c8cabc; }
              html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .item-action.edit-action svg {
                width: 12px;
                height: 12px; }
            html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .item-action:hover svg g, html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .item-action:hover svg path {
              fill: #737661; }
            html body .site-wrapper.page .site-content main.main-content .post-list .item .item-header .item-action:hover.edit-action {
              border-color: #737661; }
        html body .site-wrapper.page .site-content main.main-content .post-list .item .item-type-body {
          width: 100%;
          height: calc(100px + 5vw);
          position: relative;
          margin-bottom: 15px; }
          html body .site-wrapper.page .site-content main.main-content .post-list .item .item-type-body .blog-type {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden; }
            html body .site-wrapper.page .site-content main.main-content .post-list .item .item-type-body .blog-type img {
              width: 100%;
              height: 100%; }
            html body .site-wrapper.page .site-content main.main-content .post-list .item .item-type-body .blog-type.type-0 {
              background-image: url("../../images/global-icons/audio-spectr.png");
              background-position: center center;
              background-repeat: no-repeat; }
          html body .site-wrapper.page .site-content main.main-content .post-list .item .item-type-body aside.blog-duration {
            position: absolute;
            bottom: 8px;
            right: 9px;
            padding: 7px 20px;
            z-index: 1;
            background: rgba(227, 228, 220, 0.8);
            border-radius: 10px;
            font-size: 1.2rem;
            line-height: 1.1; }
        html body .site-wrapper.page .site-content main.main-content .post-list .item .item-title {
          color: #737661; }
        html body .site-wrapper.page .site-content main.main-content .post-list .item.type-0 .item-header .media-icon-wrapper i.fa.audio-icon {
          display: initial;
          vertical-align: middle; }
        html body .site-wrapper.page .site-content main.main-content .post-list .item.type-2 .item-header .media-icon-wrapper i.fa.video-icon {
          display: initial;
          vertical-align: middle; }
        html body .site-wrapper.page .site-content main.main-content .post-list .item.type-7 .item-header .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content main.main-content .post-list .item.type-8 .item-header .media-icon-wrapper i.fa.text-icon, html body .site-wrapper.page .site-content main.main-content .post-list .item.type-10 .item-header .media-icon-wrapper i.fa.text-icon {
          display: initial;
          vertical-align: middle; }
        @media screen and (max-width: 1550px) {
          html body .site-wrapper.page .site-content main.main-content .post-list .item {
            flex-basis: calc(100% / 3); } }
        @media screen and (max-width: 992px) {
          html body .site-wrapper.page .site-content main.main-content .post-list .item {
            flex-basis: calc(100% / 2); } }
    @media screen and (max-width: 768px) {
      html body .site-wrapper.page .site-content main.main-content {
        padding: 15px 10px; } }

/*# sourceMappingURL=shared-posts-page.css.map */
