@import "../../config/css/colors.scss";

html{
  body{
    .site-wrapper.page{
      .site-content{
        text-align: left;
        .content-header{
          padding: 70px 85px 20px;
          background-color: $lightGreen;
          .series-title-wrapper{
            width: 1350px;
            max-width: 100%;
            margin: 0px auto 5px;
            .series-title{
              font-size: 3rem;
              font-weight: bold;
              max-width: 350px;
            }
            .posts-count{
              margin-bottom: 5px;
              color: white;
            }
          }
          @media screen and (max-width: 768px) {
            padding: 25px 10px 10px;
            .series-title-wrapper{
              margin-bottom: 5px;
              .series-title{
                font-size: 3rem;
                font-weight: bold;
                max-width: 350px;
              }
              .posts-count{
                margin-bottom: 5px;
                color: white;
              }
            }
          }
        }
        main.main-content{
          padding: 35px 85px 60px;
          position: relative;
          overflow: hidden;
          .post-list{
            margin: 0px auto;
            width: 1350px;
            max-width: 100%;
            .item{
              flex-basis: calc(100% / 4);
              margin-bottom: 20px;
              padding: 0px 15px;
              font-size: 1.5rem;
              .item-header{
                margin-bottom: 10px;
                .media-icon-wrapper{
                  i.fa{
                    display: none;
                    vertical-align: middle;
                  }
                }
                .fav-star{
                  display: block;
                  line-height: 0;
                  svg{
                    width: 20px;
                    g, path{
                      fill: $greenColor;
                    }
                  }
                }
                .item-action{
                  display: block;
                  line-height: 0;
                  outline: none;
                  svg{
                    width: 25px;
                    height: 25px;
                    g, path {
                      fill: $lightGrey;
                    }
                  }
                  &.edit-action {
                    display: flex;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 1px solid $lightGrey;
                    svg {
                      width: 12px;
                      height: 12px;
                    }
                  }
                  &:hover{
                    svg{
                      g, path {
                        fill: $contentColor;
                      }
                    }
                    &.edit-action {
                      border-color: $contentColor;
                    }
                  }
                }
              }
              .item-type-body{
                width: 100%;
                height: calc(100px + 5vw);
                position: relative;
                margin-bottom: 15px;
                .blog-type{
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                  &.type-0{
                    background-image: url("../../images/global-icons/audio-spectr.png");
                    background-position: center center;
                    background-repeat: no-repeat;
                  }
                }
                aside.blog-duration{
                  position: absolute;
                  bottom: 8px;
                  right: 9px;
                  padding: 7px 20px;
                  z-index: 1;
                  background: rgba(227, 228, 220, .8);
                  border-radius: 10px;
                  font-size: 1.2rem;
                  line-height: 1.1;
                }
              }
              .item-title{
                color: $contentColor;
              }
              &.type-0{
                .item-header{
                  .media-icon-wrapper{
                    i.fa.audio-icon{
                      display: initial;
                      vertical-align: middle;
                    }
                  }
                }
              }
              &.type-2{
                .item-header{
                  .media-icon-wrapper{
                    i.fa.video-icon{
                      display: initial;
                      vertical-align: middle;
                    }
                  }
                }
              }
              &.type-7, &.type-8, &.type-10{
                .item-header{
                  .media-icon-wrapper{
                    i.fa.text-icon{
                      display: initial;
                      vertical-align: middle;
                    }
                  }
                }
              }
              @media screen and (max-width: 1550px){
                flex-basis: calc(100% / 3);
              }
              @media screen and (max-width: 992px){
                flex-basis: calc(100% / 2);
              }
            }
          }
          @media screen and (max-width: 768px) {
            padding: 15px 10px;
          }
        }
      }
    }
  }
}