@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: local('EB Garamond'), local('EBGaramond'), url('../../fonts/EB-Garamond/EBGaramond-Regular.ttf') format('truetype');
}

$default_font_family: 'EB Garamond', sans-serif;

html{
    .page-wrapper{
        .container-login100{
            .wrap-login100{
                .login100-form{
                    .alert {
                        transition: .3s;
                    }
                    .login100-form-title{
                        font-family: $default_font_family;
                    }
                    .label-input100{
                        font-family: $default_font_family;
                    }
                    .input100{
                        font-family: $default_font_family;
                    }
                    .txt1, .txt2{
                        font-family: $default_font_family;
                    }
                    .login100-form-btn{
                        font-family: $default_font_family;
                    }
                    a{
                        font-family: $default_font_family;
                    }
                }
            }
        }
    }
}