@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local("EB Garamond"), local("EBGaramond"), url("../../fonts/EB-Garamond/EBGaramond-Regular.ttf") format("truetype"); }
html .page-wrapper .container-login100 .wrap-login100 .login100-form .alert {
  transition: .3s; }
html .page-wrapper .container-login100 .wrap-login100 .login100-form .login100-form-title {
  font-family: "EB Garamond", sans-serif; }
html .page-wrapper .container-login100 .wrap-login100 .login100-form .label-input100 {
  font-family: "EB Garamond", sans-serif; }
html .page-wrapper .container-login100 .wrap-login100 .login100-form .input100 {
  font-family: "EB Garamond", sans-serif; }
html .page-wrapper .container-login100 .wrap-login100 .login100-form .txt1, html .page-wrapper .container-login100 .wrap-login100 .login100-form .txt2 {
  font-family: "EB Garamond", sans-serif; }
html .page-wrapper .container-login100 .wrap-login100 .login100-form .login100-form-btn {
  font-family: "EB Garamond", sans-serif; }
html .page-wrapper .container-login100 .wrap-login100 .login100-form a {
  font-family: "EB Garamond", sans-serif; }

/*# sourceMappingURL=signIn-page.css.map */
