$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;
$grey: grey;

@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

// Variables
$orange: #DB6576;
$beige: #E9DFD3;

$main-font: 'EB Garamond', sans-serif;

// Mixin
@mixin center($xy:xy) {
   @if $xy == xy {
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      @include transform(translateX(-50%) translateY(-50%));
   }
   @else if $xy == x {
      left: 50%;
      right: auto;
      @include transform(translateX(-50%));
   }
   @else if $xy == y {
      top: 50%;
      bottom: auto;
      @include transform(translateY(-50%));
   }
}

html{
   body{
      .site-wrapper.page{
         font-family: $default_font_family;
         & > .site-content{
            padding: 30px 50px;
            & > .content-wrapper{
               max-width: 1700px;
               margin: 0px auto;
               padding-top: 45px;
               position: relative;
               color: #7b7b7b;
               #options-tab{
                  .decoration-container{
                     .decoration{
                        position: absolute;
                     }
                     .top-left-rectangular{
                        background-color: #7b7b7b;
                        color: white;
                        font-size: 22px;
                        padding: 0px 150px 70px 25px;
                        position: absolute;
                        top: 0px;
                        left: -30px;
                        line-height: 52px;
                        i.fa-caret-down{
                           vertical-align: middle;
                           font-size: 50px;
                        }
                     }
                  }
                  main.main-content{
                     text-align: left;
                     min-height: 700px;
                     position: relative;
                     padding: 50px 10px 0px;
                     background-color: #f8f7f9;
                     h2{
                        margin-bottom: 50px;
                     }
                     ul{
                        display: flex;
                        list-style: none;
                        li{
                           flex: 1;
                           text-align: center;
                           border-right: 1px dashed grey;
                           a{
                              color: grey;
                              text-decoration: none;
                              .icon-wrapper{
                                 position: static;
                                 display: block;
                                 width: auto;
                                 img{
                                    opacity: .6;
                                    max-width: 250px;
                                    width: 70%;
                                 }
                              }
                              .icon-label{
                                 position: static;
                                 display: block;
                                 width: auto;
                                 margin-top: 20px;
                                 font-size: 2rem;
                                 line-height: 1.2;
                              }
                              &:hover{
                                 color: black;
                                 .icon-wrapper{
                                    img{
                                       opacity: 1;
                                    }
                                 }
                              }
                           }
                           &:last-child{
                              border-right: none;
                           }
                        }
                     }
                  }
               }
               #switch-from-existing{
                  .search-results-wrapper{
                     max-width: 1700px;
                     margin: 0px auto;
                     margin-top: -45px;
                     padding-top: 5px;
                     position: relative;
                     aside.decoration-container{
                        .decoration{
                           position: absolute;
                        }
                        .top-left-rectangular{
                           background-color: #7b7b7b;
                           color: white;
                           font-size: 22px;
                           padding: 0px 50px 70px 25px;
                           position: absolute;
                           top: 0px;
                           left: -30px;
                           line-height: 52px;
                           i.fa-caret-down{
                              vertical-align: middle;
                              font-size: 50px;
                           }
                        }
                     }
                     header.search-header{
                        padding: 0px 10px 5px 250px;
                        text-align: left;
                        .results-from{
                           display: inline-block;
                           line-height: 35px;
                           & > span{
                              display: inline-block;
                              vertical-align: middle;
                              font-size: 24px;
                           }
                           .dropdown{
                              margin-left: 10px;
                              vertical-align: middle;
                              display: inline-block;
                              button.btn-custom{
                                 background-color: transparent;
                                 border: 1px solid #7b7b7b;
                                 font-size: 18px;
                              }
                              ul.dropdown-menu{
                                 li{
                                    a{
                                       input{
                                          background-color: transparent;
                                          margin-top: 0px;
                                          vertical-align: middle;
                                          position: absolute;
                                          left: -9999px;
                                          &:checked{
                                             & + label{
                                                color: black;
                                                &:before{
                                                   border-color: black;
                                                }
                                                &:after{
                                                   font-size: .9em;
                                                   content: '\2714';
                                                   position: absolute;
                                                   left: 0.2em;
                                                   top: 0em;
                                                   width: 1em;
                                                   height: 1em;
                                                   color: black;
                                                }
                                             }
                                          }
                                       }
                                       label{
                                          color: $content_color;
                                          font-size: 18px;
                                          line-height: 1.1em;
                                          vertical-align: middle;
                                          position: relative;
                                          padding-left: 1.8em;
                                          cursor: pointer;
                                          font-weight: normal;
                                          &:before{
                                             content: '';
                                             position: absolute;
                                             left: 0px;
                                             top: 0px;
                                             width: 1em;
                                             height: 1em;
                                             border: 1px solid $content_color;
                                          }
                                       }
                                    }
                                 }
                              }
                           }
                           .dropdown-pre{
                              margin-left: 10px;
                              vertical-align: middle;
                              display: inline-block;
                              button.btn-custom{
                                 background-color: transparent;
                                 border: 1px solid #7b7b7b;
                                 font-size: 18px;
                              }
                              ul.dropdown-menu{
                                 li{
                                    a{
                                       input{
                                          background-color: transparent;
                                          margin-top: 0px;
                                          vertical-align: middle;
                                          position: absolute;
                                          left: -9999px;
                                          &:checked{
                                             & + label{
                                                color: black;
                                                &:before{
                                                   border-color: #dddddd;
                                                }
                                                &:after{
                                                   font-size: .9em;
                                                   content: '\2714';
                                                   position: absolute;
                                                   left: 0.2em;
                                                   top: 0em;
                                                   width: 1em;
                                                   height: 1em;
                                                   color: #2793e6;
                                                }
                                             }
                                          }
                                       }
                                       label{
                                          color: $content_color;
                                          font-size: 18px;
                                          line-height: 1.1em;
                                          vertical-align: middle;
                                          position: relative;
                                          padding-left: 1.8em;
                                          cursor: pointer;
                                          font-weight: normal;
                                          &:before{
                                             content: '';
                                             position: absolute;
                                             left: 0px;
                                             top: 0px;
                                             width: 1em;
                                             height: 1em;
                                             color: white;
                                             border: 1px solid #dddddd;
                                             background-color: #dddddd;
                                          }
                                          &:after{
                                             font-size: .9em;
                                             content: '\2714';
                                             position: absolute;
                                             left: 0.2em;
                                             top: 0em;
                                             width: 1em;
                                             height: 1em;
                                             color: white;
                                          }
                                       }
                                    }
                                 }
                              }
                           }
                        }
                        .search-term-wrapper{
                           form{
                              font-size: 24px;
                              text-align: right;
                              .form-control{
                                 font-size: 18px;
                                 &#search-term2{
                                 }
                              }
                              label[for="search-term2"]{
                                 font-weight: normal;
                              }
                              .btn.btn-default{
                                 margin-left: 10px;
                                 font-size: 18px;
                                 padding-top: 5px;
                                 padding-bottom: 5px;
                                 &[type='submit']{
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    background-color: grey;
                                    border-color: grey;
                                    color: white;
                                    &:hover{
                                       background-color: #585656;
                                    }
                                 }
                                 &.clear-search-term{
                                    border: none;
                                 }
                              }
                           }
                        }
                     }
                     .search-results-content{
                        background-color: #f8f7f9;
                        text-align: left;
                        min-height: 750px;
                        position: relative;
                        padding: 20px 10px 0px;
                        .tt-grid-wrapper{
                           position: relative;
                           max-width: calc((280px + 10px * 2) * 5 + 15px * 2);
                           border-bottom: 1px dashed rgba(128, 128, 128, .2);
                           margin: 0px auto;
                           padding: 5px 15px 25px;

                           h3{
                              font-size: 2rem;
                              padding-left: 30px;
                           }
                           .tt-grid.tt-effect-3dflip{
                              max-width: 100%;
                              margin: 0px;
                              li{
                                 width: calc(100% / 5 - 10px * 2);
                                 height: 350px;
                                 float: left;
                                 a{
                                    display: block;
                                    width: 100%;
                                    height: auto;
                                    text-decoration: none;
                                    background-color: transparent;
                                    .item-inner{
                                       width: 95%;
                                       margin: 0px auto;
                                       position: relative;
                                       box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
                                       border-bottom: 1px solid rgba(200, 200, 200, .5);
                                       padding: 0px 10px 5px;
                                       background-color: white;
                                       font-size: 1.7rem;
                                       line-height: 1.1;
                                       color: $content_color;
                                       text-align: center;
                                       > aside{
                                          img.delete-ideabox{
                                             position: absolute;
                                             top: -15px;
                                             right: -15px;
                                             width: 30px;
                                             transition: all .3s;
                                             cursor: pointer;
                                             &:hover{
                                                transform: scale(1.1);
                                             }
                                             &:active{
                                                transform: translateZ(-3px) scale(.95);
                                             }
                                          }
                                          .bottom-line{
                                             position: absolute;
                                             bottom: 0px;
                                             left: 0px;
                                             width: 30px;
                                             height: 2px;
                                             background-color: rgb(200, 200, 200);
                                          }
                                       }
                                       .img-wrapper{
                                          position: relative;
                                          z-index: 1;
                                          margin: 0px -10px 15px;
                                          width: calc(100% + 20px);
                                          img.item-img{
                                             width: 100%;
                                             height: 160px;
                                             object-fit: fill;
                                          }
                                          &.is-uploading{
                                             outline: 1px dashed rgba(146, 176, 179, .8);
                                             animation-name: uploading-effect;
                                             animation-iteration-count: infinite;
                                             animation-duration: 2s;
                                          }
                                       }
                                       .title-wrapper{
                                          margin-bottom: 0px;
                                          min-height: 80px;
                                          position: relative;
                                          padding-bottom: 10px;
                                          border-bottom: 1px dotted #c8c8c8;
                                          .item-title{
                                             display: block; /* Fallback for non-webkit */
                                             display: -webkit-box;
                                             overflow: hidden;
                                             text-overflow: ellipsis;
                                             transition: height 300ms;
                                             white-space: normal;
                                          }
                                          textarea{
                                             display: none;
                                             width: 100%;
                                             resize: vertical;
                                          }
                                          [data-readmore-toggle]{
                                             font-size: 1.5rem;
                                             cursor: pointer;
                                             color: #178DB1;
                                             font-style: italic;
                                             &:hover{
                                                color: #5EB0C9;
                                             }
                                          }
                                          &.collapsed{
                                             .item-title{
                                                display: -webkit-box;
                                                -webkit-line-clamp: 2;
                                                -webkit-box-orient: vertical;
                                                text-overflow: ellipsis;
                                             }
                                          }
                                          aside.actions-container{
                                             > span{
                                                display: none;
                                                &.edit-entry{
                                                   position: absolute;
                                                   right: 0px;
                                                   bottom: 0px;
                                                   cursor: pointer;
                                                   .edit-icon{
                                                      width: 25px;
                                                   }
                                                }
                                                &.save-entry{
                                                   position: absolute;
                                                   bottom: 0px;
                                                   right: 30px;
                                                   cursor: pointer;
                                                }
                                                &.back-to-origin{
                                                   position: absolute;
                                                   bottom: 0px;
                                                   right: 0px;
                                                   cursor: pointer;
                                                }
                                                &:hover{
                                                   opacity: .7;
                                                }
                                             }
                                          }
                                          &:hover{
                                             aside.actions-container{
                                                > span{
                                                   &.edit-entry{
                                                      display: block;
                                                      .edit-icon{
                                                      }
                                                   }
                                                }
                                             }
                                          }
                                          &.edit-status{
                                             padding-bottom: 27px;
                                             .item-title{
                                                display: none;
                                             }
                                             [data-readmore-toggle]{
                                                display: none;
                                             }
                                             textarea{
                                                display: block;
                                             }
                                             aside.actions-container{
                                                >.save-entry, >.back-to-origin{
                                                   display: block;
                                                }
                                             }
                                             &:hover{
                                                aside.actions-container{
                                                   > span{
                                                      &.edit-entry{
                                                         display: none;
                                                      }
                                                   }
                                                }
                                             }
                                          }
                                       }
                                       .add-to-series-wrapper{
                                          padding: 10px 0px 15px;
                                          border-bottom: 1px dotted #C8C8C8;
                                          >h6{
                                             color: #c8c8c8;
                                             margin: 0px 0px 5px 0px;
                                             font-size: 2rem;
                                          }
                                          .flex-row{
                                             display: flex;
                                             .flex-col{
                                                &.select-col{
                                                   width: calc(100% - 50px);
                                                   padding-right: 5px;
                                                   .select2.select2-container{
                                                      height: 100%;
                                                      min-width: 100%;
                                                      max-width: 100%;
                                                      font-size: 2rem;
                                                      .selection{
                                                         .select2-selection{
                                                            border-width: 2px;
                                                            border-radius: 10px;
                                                            height: 100%;
                                                            .select2-selection__rendered{
                                                               color: $content_color;
                                                               line-height: 3rem;
                                                            }
                                                            .select2-selection__arrow{
                                                               top: calc((100% - 26px) / 2);
                                                            }
                                                            &:focus{
                                                               outline: none;
                                                            }
                                                         }
                                                      }
                                                      &:focus{
                                                         outline: none;
                                                      }
                                                   }
                                                   select{
                                                      max-width: 100%;
                                                   }
                                                }
                                                &.btn-col{
                                                   width: 50px;
                                                   padding-left: 5px;
                                                   .btn.btn-block{
                                                      color: white;
                                                      border: 1px solid #dddddd;
                                                      background-color: #dddddd;
                                                      width: 100%;
                                                      margin: 0px 0px 0px auto;
                                                      padding: 5px 12px;
                                                      font-size: 1.7rem;
                                                   }
                                                }
                                             }
                                          }
                                       }
                                       .buttons-wrapper{
                                          text-align: center;
                                          width: 100%;
                                          padding: 15px 0px;
                                          .btn.btn-circle{
                                             width: 100%;
                                             max-width: 200px;
                                             padding: 4px 6px;
                                             font-size: 2rem;
                                             border-radius: 50px;
                                             background: transparent;
                                             border: 2px solid #53d4ad;
                                             color: #53d4ad;
                                             &:hover{
                                                background: #53d4ad;
                                                color: white;
                                             }
                                             &:focus{
                                                outline: none;
                                             }
                                          }
                                       }
                                       .remove-wrapper{
                                          padding: 15px 0px;
                                          border-top: 1px dotted #C8C8C8;
                                          text-align: center;
                                          .remove-post{
                                             font-size: 2rem;
                                             color: #d8291f;
                                             cursor: pointer;
                                             &:hover{
                                                color: #892523;
                                             }
                                          }
                                       }
                                    }
                                    &.added-post{
                                    }
                                 }
                              }
                           }

                           &.ideabox-grid, &.posts-grid{
                              .tt-grid.tt-effect-3dflip{
                                 li{
                                    //height: 520px;
                                 }
                              }
                           }

                           .pagging{
                              position: absolute;
                              top: calc((100% - 49px) / 2);
                              border: 2px solid grey;
                              border-radius: 50%;
                              font-size: 35px;
                              line-height: .6;
                              padding: 10px;
                              cursor: pointer;
                              &.disable{
                                 cursor: default;
                                 color: rgba(128, 128, 128, .4);
                                 border-color: rgba(128, 128, 128, .4);
                              }
                              .glyphicon{
                                 top: -1px;
                              }
                              &.prev-pagging{
                                 left: 5px;
                                 .glyphicon{
                                    right: 2px;
                                 }
                                 .icon-flip{
                                    transform: scaleX(-1);
                                    -moz-transform: scaleX(-1);
                                    -webkit-transform: scaleX(-1);
                                    -ms-transform: scaleX(-1);
                                 }
                              }
                              &.next-pagging{
                                 right: 5px;
                                 .glyphicon{
                                    left: 2px;
                                 }
                              }
                              &:hover:not(.disable){
                                 color: white;
                                 background-color: grey;
                              }
                           }
                           @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                              max-width: calc((280px + 10px * 2) * 5 + 15px * 2);
                              .tt-grid.tt-effect-3dflip{
                                 li{
                                    width: calc(100% / 5 - 5px * 2);
                                    margin: 10px 5px;
                                    a{
                                       .item-inner{

                                       }
                                    }
                                 }
                              }
                           }
                           @media only screen and (min-width: 1020px) and (max-width: 1200px) {
                              max-width: calc((280px + 10px * 2) * 2 + 15px * 2);
                              padding-left: 15px;
                              padding-right: 15px;
                              .tt-grid.tt-effect-3dflip{
                                 li{
                                    width: calc(100% / 2 - 10px * 2);
                                 }
                              }
                           }
                           @media only screen and (min-width: 700px) and (max-width: 1020px) {
                              max-width: calc((280px + 10px * 2) * 2 + 15px * 2);
                              .tt-grid.tt-effect-3dflip{
                                 li{
                                    width: calc(100% / 2 - 10px * 2);
                                 }
                              }
                           }
                           @media only screen and (max-width: 700px) {
                              max-width: calc((280px + 10px * 2) * 1 + 65px * 2);
                              .tt-grid.tt-effect-3dflip{
                                 li{
                                    width: calc(100% / 1 - 10px * 2);
                                 }
                              }
                           }
                        }
                        footer{
                           text-align: center;
                           padding-bottom: 50px;
                           padding-top: 20px;
                           button{
                              padding: 3px 30px;
                              font-size: 25px;
                              border-radius: 25px;
                              background: transparent;
                              border: 2px solid rgb(83, 212, 173);
                              color: rgb(83, 212, 173);
                              margin: 5px 3%;
                              &.show-more{
                                 border-color: grey;
                                 color: grey;
                                 &:hover{
                                    background: grey;
                                    color: white;
                                 }
                              }
                              .glyphicon{
                                 top: 2px;
                              }
                              &:hover{
                                 background: rgb(83, 212, 173);
                                 color: white;
                              }
                              &:focus{
                                 outline: none;
                              }
                           }
                        }
                     }
                  }
               }
               #switch-from-scratch{
                  main.main-content{
                     text-align: left;
                     min-height: 700px;
                     position: relative;
                     padding: 50px 10px 0px;
                     background-color: #f8f7f9;
                     h2{
                        font-family: $default_font_family;
                        margin-top: 0px;
                        margin-bottom: 20px;
                     }
                     form{
                        max-width: 1000px;
                        margin: 0px auto;
                        ul{
                           list-style-type: decimal;
                           li{
                              font-size: 1.8rem;
                              .form-group{
                                 label{
                                    font-weight: normal;
                                 }
                                 .form-control{
                                    font-size: 1.8rem;
                                    &:not(textarea){
                                       height: auto;
                                    }
                                    &[name="description"]{
                                       resize: vertical;
                                    }
                                 }
                                 .cover-image-wrapper{
                                    max-width: 500px;
                                    margin: 10px auto 0px;
                                    padding-bottom: 20px;
                                    text-align: center;
                                    position: relative;
                                    border: 1px dashed grey;
                                    border-radius: 20px;
                                    .img-wrapper{
                                       padding: 15px 0px;
                                       img{
                                          max-width: 256px;
                                          min-width: 150px;
                                          opacity: .6;
                                          &.touched{
                                             opacity: 1;
                                          }
                                       }
                                    }
                                    input{
                                       position: absolute;
                                       display: block;
                                       top: 0px;
                                       left: 0px;
                                       width: 100%;
                                       height: 100%;
                                       opacity: 0;
                                       cursor: pointer;
                                    }
                                 }
                                 .wysihtml5-toolbar{
                                    .dropdown{
                                       .dropdown-menu{
                                          list-style: none;
                                          li{
                                             font-size: 1.3rem;
                                          }
                                       }
                                    }
                                 }
                                 .cd-switch {
                                    text-align: center;
                                    position: relative;
                                    height: 50px;
                                    .switch {
                                       position: absolute;
                                       display: inline-block;
                                       @include center(x);
                                       z-index: 1;
                                       input[type="radio"] {
                                          visibility: hidden;
                                          position: absolute;
                                          height: 100%;
                                          margin-top: 0px;
                                          &#isPublic_yes:checked {
                                             ~ label[for="isPublic_yes"] {
                                                color: white;
                                                border: 1px solid $grey;
                                             }

                                             ~ .switchFilter {
                                                left: 0;
                                                opacity: 1;
                                                width: 87px;
                                             }
                                          }

                                          &#isPublic_no:checked {
                                             ~ label[for="isPublic_no"] {
                                                color: white;
                                                border: 1px solid $grey;
                                             }

                                             ~ .switchFilter {
                                                left: 100px;
                                                width: 87px;
                                                opacity: 1;
                                             }
                                          }
                                       }
                                       .switchFilter {
                                          width: 0;
                                          display: inline-block;
                                          background-color: $grey;
                                          position: absolute;
                                          left: 0;
                                          opacity: 0;
                                          top: 0;
                                          bottom: 0;
                                          z-index: -1;
                                          @include transition(all .4s cubic-bezier(0,0,.25, 1));
                                       }
                                       label {
                                          margin-bottom: 0px;
                                          cursor: pointer;
                                          text-transform: uppercase;
                                          border: 1px solid $grey;
                                          width: 85px;
                                          padding: 8px 0;
                                          text-align: center;
                                          display: inline-block;
                                          @include transition(all .4s);
                                          margin-right: 10px;
                                       }
                                    }
                                 }
                                 input[name='refLink']{
                                    &.is-dragover{
                                       border-color: #66afe9;
                                    }
                                 }
                              }
                              &.reference-item{
                                 >label{
                                    font-weight: normal;
                                 }
                                 .form-group{
                                    label{
                                       width: auto;
                                    }
                                    .form-control{
                                       display: inline-block;
                                       width: auto;
                                    }
                                 }
                              }
                           }
                        }
                        footer{
                           text-align: center;
                           padding-bottom: 50px;
                           button{
                              width: 400px;
                              padding: 7px;
                              font-size: 18px;
                              border-radius: 20px;
                              background: transparent;
                              border: 2px solid rgb(83, 212, 173);
                              color: rgb(83, 212, 173);
                              &:hover{
                                 background: rgb(83, 212, 173);
                                 color: white;
                              }
                              &:focus{
                                 outline: none;
                              }
                           }
                        }
                     }
                  }
               }
               h1, h2, h3, h4, h5, h6{
                  font-family: $default_font_family;
               }
            }
         }
         // remove plugin sets
         .dropdown-menu{
            font-family: $default_font_family;
         }
      }
   }
}

.after-clearfix{
   &:after{
      content: '';
      display: block;
      clear: both;
   }
}