html body .site-wrapper.page {
  font-family: "EB Garamond", sans-serif; }
  html body .site-wrapper.page > .site-content {
    padding: 30px 50px; }
    html body .site-wrapper.page > .site-content > .content-wrapper {
      max-width: 1700px;
      margin: 0px auto;
      padding-top: 45px;
      position: relative;
      color: #7b7b7b; }
      html body .site-wrapper.page > .site-content > .content-wrapper #options-tab .decoration-container .decoration {
        position: absolute; }
      html body .site-wrapper.page > .site-content > .content-wrapper #options-tab .decoration-container .top-left-rectangular {
        background-color: #7b7b7b;
        color: white;
        font-size: 22px;
        padding: 0px 150px 70px 25px;
        position: absolute;
        top: 0px;
        left: -30px;
        line-height: 52px; }
        html body .site-wrapper.page > .site-content > .content-wrapper #options-tab .decoration-container .top-left-rectangular i.fa-caret-down {
          vertical-align: middle;
          font-size: 50px; }
      html body .site-wrapper.page > .site-content > .content-wrapper #options-tab main.main-content {
        text-align: left;
        min-height: 700px;
        position: relative;
        padding: 50px 10px 0px;
        background-color: #f8f7f9; }
        html body .site-wrapper.page > .site-content > .content-wrapper #options-tab main.main-content h2 {
          margin-bottom: 50px; }
        html body .site-wrapper.page > .site-content > .content-wrapper #options-tab main.main-content ul {
          display: flex;
          list-style: none; }
          html body .site-wrapper.page > .site-content > .content-wrapper #options-tab main.main-content ul li {
            flex: 1;
            text-align: center;
            border-right: 1px dashed grey; }
            html body .site-wrapper.page > .site-content > .content-wrapper #options-tab main.main-content ul li a {
              color: grey;
              text-decoration: none; }
              html body .site-wrapper.page > .site-content > .content-wrapper #options-tab main.main-content ul li a .icon-wrapper {
                position: static;
                display: block;
                width: auto; }
                html body .site-wrapper.page > .site-content > .content-wrapper #options-tab main.main-content ul li a .icon-wrapper img {
                  opacity: .6;
                  max-width: 250px;
                  width: 70%; }
              html body .site-wrapper.page > .site-content > .content-wrapper #options-tab main.main-content ul li a .icon-label {
                position: static;
                display: block;
                width: auto;
                margin-top: 20px;
                font-size: 2rem;
                line-height: 1.2; }
              html body .site-wrapper.page > .site-content > .content-wrapper #options-tab main.main-content ul li a:hover {
                color: black; }
                html body .site-wrapper.page > .site-content > .content-wrapper #options-tab main.main-content ul li a:hover .icon-wrapper img {
                  opacity: 1; }
            html body .site-wrapper.page > .site-content > .content-wrapper #options-tab main.main-content ul li:last-child {
              border-right: none; }
      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper {
        max-width: 1700px;
        margin: 0px auto;
        margin-top: -45px;
        padding-top: 5px;
        position: relative; }
        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper aside.decoration-container .decoration {
          position: absolute; }
        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper aside.decoration-container .top-left-rectangular {
          background-color: #7b7b7b;
          color: white;
          font-size: 22px;
          padding: 0px 50px 70px 25px;
          position: absolute;
          top: 0px;
          left: -30px;
          line-height: 52px; }
          html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper aside.decoration-container .top-left-rectangular i.fa-caret-down {
            vertical-align: middle;
            font-size: 50px; }
        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header {
          padding: 0px 10px 5px 250px;
          text-align: left; }
          html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from {
            display: inline-block;
            line-height: 35px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from > span {
              display: inline-block;
              vertical-align: middle;
              font-size: 24px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown {
              margin-left: 10px;
              vertical-align: middle;
              display: inline-block; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown button.btn-custom {
                background-color: transparent;
                border: 1px solid #7b7b7b;
                font-size: 18px; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown ul.dropdown-menu li a input {
                background-color: transparent;
                margin-top: 0px;
                vertical-align: middle;
                position: absolute;
                left: -9999px; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown ul.dropdown-menu li a input:checked + label {
                  color: black; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown ul.dropdown-menu li a input:checked + label:before {
                    border-color: black; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown ul.dropdown-menu li a input:checked + label:after {
                    font-size: .9em;
                    content: '\2714';
                    position: absolute;
                    left: 0.2em;
                    top: 0em;
                    width: 1em;
                    height: 1em;
                    color: black; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown ul.dropdown-menu li a label {
                color: grey;
                font-size: 18px;
                line-height: 1.1em;
                vertical-align: middle;
                position: relative;
                padding-left: 1.8em;
                cursor: pointer;
                font-weight: normal; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown ul.dropdown-menu li a label:before {
                  content: '';
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  width: 1em;
                  height: 1em;
                  border: 1px solid grey; }
            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown-pre {
              margin-left: 10px;
              vertical-align: middle;
              display: inline-block; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown-pre button.btn-custom {
                background-color: transparent;
                border: 1px solid #7b7b7b;
                font-size: 18px; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown-pre ul.dropdown-menu li a input {
                background-color: transparent;
                margin-top: 0px;
                vertical-align: middle;
                position: absolute;
                left: -9999px; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown-pre ul.dropdown-menu li a input:checked + label {
                  color: black; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown-pre ul.dropdown-menu li a input:checked + label:before {
                    border-color: #dddddd; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown-pre ul.dropdown-menu li a input:checked + label:after {
                    font-size: .9em;
                    content: '\2714';
                    position: absolute;
                    left: 0.2em;
                    top: 0em;
                    width: 1em;
                    height: 1em;
                    color: #2793e6; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown-pre ul.dropdown-menu li a label {
                color: grey;
                font-size: 18px;
                line-height: 1.1em;
                vertical-align: middle;
                position: relative;
                padding-left: 1.8em;
                cursor: pointer;
                font-weight: normal; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown-pre ul.dropdown-menu li a label:before {
                  content: '';
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  width: 1em;
                  height: 1em;
                  color: white;
                  border: 1px solid #dddddd;
                  background-color: #dddddd; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .results-from .dropdown-pre ul.dropdown-menu li a label:after {
                  font-size: .9em;
                  content: '\2714';
                  position: absolute;
                  left: 0.2em;
                  top: 0em;
                  width: 1em;
                  height: 1em;
                  color: white; }
          html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .search-term-wrapper form {
            font-size: 24px;
            text-align: right; }
            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .search-term-wrapper form .form-control {
              font-size: 18px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .search-term-wrapper form label[for="search-term2"] {
              font-weight: normal; }
            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .search-term-wrapper form .btn.btn-default {
              margin-left: 10px;
              font-size: 18px;
              padding-top: 5px;
              padding-bottom: 5px; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .search-term-wrapper form .btn.btn-default[type='submit'] {
                padding-left: 20px;
                padding-right: 20px;
                background-color: grey;
                border-color: grey;
                color: white; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .search-term-wrapper form .btn.btn-default[type='submit']:hover {
                  background-color: #585656; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper header.search-header .search-term-wrapper form .btn.btn-default.clear-search-term {
                border: none; }
        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content {
          background-color: #f8f7f9;
          text-align: left;
          min-height: 750px;
          position: relative;
          padding: 20px 10px 0px; }
          html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper {
            position: relative;
            max-width: calc((280px + 10px * 2) * 5 + 15px * 2);
            border-bottom: 1px dashed rgba(128, 128, 128, 0.2);
            margin: 0px auto;
            padding: 5px 15px 25px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper h3 {
              font-size: 2rem;
              padding-left: 30px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip {
              max-width: 100%;
              margin: 0px; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li {
                width: calc(100% / 5 - 10px * 2);
                height: 350px;
                float: left; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a {
                  display: block;
                  width: 100%;
                  height: auto;
                  text-decoration: none;
                  background-color: transparent; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner {
                    width: 95%;
                    margin: 0px auto;
                    position: relative;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
                    padding: 0px 10px 5px;
                    background-color: white;
                    font-size: 1.7rem;
                    line-height: 1.1;
                    color: grey;
                    text-align: center; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner > aside img.delete-ideabox {
                      position: absolute;
                      top: -15px;
                      right: -15px;
                      width: 30px;
                      transition: all .3s;
                      cursor: pointer; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner > aside img.delete-ideabox:hover {
                        transform: scale(1.1); }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner > aside img.delete-ideabox:active {
                        transform: translateZ(-3px) scale(0.95); }
                    html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner > aside .bottom-line {
                      position: absolute;
                      bottom: 0px;
                      left: 0px;
                      width: 30px;
                      height: 2px;
                      background-color: #c8c8c8; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .img-wrapper {
                      position: relative;
                      z-index: 1;
                      margin: 0px -10px 15px;
                      width: calc(100% + 20px); }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .img-wrapper img.item-img {
                        width: 100%;
                        height: 160px;
                        object-fit: fill; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .img-wrapper.is-uploading {
                        outline: 1px dashed rgba(146, 176, 179, 0.8);
                        animation-name: uploading-effect;
                        animation-iteration-count: infinite;
                        animation-duration: 2s; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper {
                      margin-bottom: 0px;
                      min-height: 80px;
                      position: relative;
                      padding-bottom: 10px;
                      border-bottom: 1px dotted #c8c8c8; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper .item-title {
                        display: block;
                        /* Fallback for non-webkit */
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: height 300ms;
                        white-space: normal; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper textarea {
                        display: none;
                        width: 100%;
                        resize: vertical; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper [data-readmore-toggle] {
                        font-size: 1.5rem;
                        cursor: pointer;
                        color: #178DB1;
                        font-style: italic; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper [data-readmore-toggle]:hover {
                          color: #5EB0C9; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.collapsed .item-title {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span {
                        display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span.edit-entry {
                          position: absolute;
                          right: 0px;
                          bottom: 0px;
                          cursor: pointer; }
                          html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span.edit-entry .edit-icon {
                            width: 25px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span.save-entry {
                          position: absolute;
                          bottom: 0px;
                          right: 30px;
                          cursor: pointer; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span.back-to-origin {
                          position: absolute;
                          bottom: 0px;
                          right: 0px;
                          cursor: pointer; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper aside.actions-container > span:hover {
                          opacity: .7; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper:hover aside.actions-container > span.edit-entry {
                        display: block; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status {
                        padding-bottom: 27px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status .item-title {
                          display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status [data-readmore-toggle] {
                          display: none; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status textarea {
                          display: block; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status aside.actions-container > .save-entry, html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status aside.actions-container > .back-to-origin {
                          display: block; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .title-wrapper.edit-status:hover aside.actions-container > span.edit-entry {
                          display: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper {
                      padding: 10px 0px 15px;
                      border-bottom: 1px dotted #C8C8C8; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper > h6 {
                        color: #c8c8c8;
                        margin: 0px 0px 5px 0px;
                        font-size: 2rem; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper .flex-row {
                        display: flex; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col {
                          width: calc(100% - 50px);
                          padding-right: 5px; }
                          html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col .select2.select2-container {
                            height: 100%;
                            min-width: 100%;
                            max-width: 100%;
                            font-size: 2rem; }
                            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col .select2.select2-container .selection .select2-selection {
                              border-width: 2px;
                              border-radius: 10px;
                              height: 100%; }
                              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col .select2.select2-container .selection .select2-selection .select2-selection__rendered {
                                color: grey;
                                line-height: 3rem; }
                              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col .select2.select2-container .selection .select2-selection .select2-selection__arrow {
                                top: calc((100% - 26px) / 2); }
                              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col .select2.select2-container .selection .select2-selection:focus {
                                outline: none; }
                            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col .select2.select2-container:focus {
                              outline: none; }
                          html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper .flex-row .flex-col.select-col select {
                            max-width: 100%; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper .flex-row .flex-col.btn-col {
                          width: 50px;
                          padding-left: 5px; }
                          html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .add-to-series-wrapper .flex-row .flex-col.btn-col .btn.btn-block {
                            color: white;
                            border: 1px solid #dddddd;
                            background-color: #dddddd;
                            width: 100%;
                            margin: 0px 0px 0px auto;
                            padding: 5px 12px;
                            font-size: 1.7rem; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .buttons-wrapper {
                      text-align: center;
                      width: 100%;
                      padding: 15px 0px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .buttons-wrapper .btn.btn-circle {
                        width: 100%;
                        max-width: 200px;
                        padding: 4px 6px;
                        font-size: 2rem;
                        border-radius: 50px;
                        background: transparent;
                        border: 2px solid #53d4ad;
                        color: #53d4ad; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .buttons-wrapper .btn.btn-circle:hover {
                          background: #53d4ad;
                          color: white; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .buttons-wrapper .btn.btn-circle:focus {
                          outline: none; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .remove-wrapper {
                      padding: 15px 0px;
                      border-top: 1px dotted #C8C8C8;
                      text-align: center; }
                      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .remove-wrapper .remove-post {
                        font-size: 2rem;
                        color: #d8291f;
                        cursor: pointer; }
                        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li a .item-inner .remove-wrapper .remove-post:hover {
                          color: #892523; }
            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .pagging {
              position: absolute;
              top: calc((100% - 49px) / 2);
              border: 2px solid grey;
              border-radius: 50%;
              font-size: 35px;
              line-height: .6;
              padding: 10px;
              cursor: pointer; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .pagging.disable {
                cursor: default;
                color: rgba(128, 128, 128, 0.4);
                border-color: rgba(128, 128, 128, 0.4); }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .pagging .glyphicon {
                top: -1px; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .pagging.prev-pagging {
                left: 5px; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .pagging.prev-pagging .glyphicon {
                  right: 2px; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .pagging.prev-pagging .icon-flip {
                  transform: scaleX(-1);
                  -moz-transform: scaleX(-1);
                  -webkit-transform: scaleX(-1);
                  -ms-transform: scaleX(-1); }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .pagging.next-pagging {
                right: 5px; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .pagging.next-pagging .glyphicon {
                  left: 2px; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .pagging:hover:not(.disable) {
                color: white;
                background-color: grey; }
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper {
                max-width: calc((280px + 10px * 2) * 5 + 15px * 2); }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 5 - 5px * 2);
                  margin: 10px 5px; } }
            @media only screen and (min-width: 1020px) and (max-width: 1200px) {
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper {
                max-width: calc((280px + 10px * 2) * 2 + 15px * 2);
                padding-left: 15px;
                padding-right: 15px; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 2 - 10px * 2); } }
            @media only screen and (min-width: 700px) and (max-width: 1020px) {
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper {
                max-width: calc((280px + 10px * 2) * 2 + 15px * 2); }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 2 - 10px * 2); } }
            @media only screen and (max-width: 700px) {
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper {
                max-width: calc((280px + 10px * 2) * 1 + 65px * 2); }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content .tt-grid-wrapper .tt-grid.tt-effect-3dflip li {
                  width: calc(100% / 1 - 10px * 2); } }
          html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content footer {
            text-align: center;
            padding-bottom: 50px;
            padding-top: 20px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content footer button {
              padding: 3px 30px;
              font-size: 25px;
              border-radius: 25px;
              background: transparent;
              border: 2px solid #53d4ad;
              color: #53d4ad;
              margin: 5px 3%; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content footer button.show-more {
                border-color: grey;
                color: grey; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content footer button.show-more:hover {
                  background: grey;
                  color: white; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content footer button .glyphicon {
                top: 2px; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content footer button:hover {
                background: #53d4ad;
                color: white; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-existing .search-results-wrapper .search-results-content footer button:focus {
                outline: none; }
      html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content {
        text-align: left;
        min-height: 700px;
        position: relative;
        padding: 50px 10px 0px;
        background-color: #f8f7f9; }
        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content h2 {
          font-family: "EB Garamond", sans-serif;
          margin-top: 0px;
          margin-bottom: 20px; }
        html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form {
          max-width: 1000px;
          margin: 0px auto; }
          html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul {
            list-style-type: decimal; }
            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li {
              font-size: 1.8rem; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group label {
                font-weight: normal; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .form-control {
                font-size: 1.8rem; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .form-control:not(textarea) {
                  height: auto; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .form-control[name="description"] {
                  resize: vertical; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cover-image-wrapper {
                max-width: 500px;
                margin: 10px auto 0px;
                padding-bottom: 20px;
                text-align: center;
                position: relative;
                border: 1px dashed grey;
                border-radius: 20px; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cover-image-wrapper .img-wrapper {
                  padding: 15px 0px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cover-image-wrapper .img-wrapper img {
                    max-width: 256px;
                    min-width: 150px;
                    opacity: .6; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cover-image-wrapper .img-wrapper img.touched {
                      opacity: 1; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cover-image-wrapper input {
                  position: absolute;
                  display: block;
                  top: 0px;
                  left: 0px;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  cursor: pointer; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .wysihtml5-toolbar .dropdown .dropdown-menu {
                list-style: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .wysihtml5-toolbar .dropdown .dropdown-menu li {
                  font-size: 1.3rem; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cd-switch {
                text-align: center;
                position: relative;
                height: 50px; }
                html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cd-switch .switch {
                  position: absolute;
                  display: inline-block;
                  left: 50%;
                  right: auto;
                  -webkit-transform: translateX(-50%);
                  -moz-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                  -o-transform: translateX(-50%);
                  transform: translateX(-50%);
                  z-index: 1; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cd-switch .switch input[type="radio"] {
                    visibility: hidden;
                    position: absolute;
                    height: 100%;
                    margin-top: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_yes:checked ~ label[for="isPublic_yes"] {
                      color: white;
                      border: 1px solid grey; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_yes:checked ~ .switchFilter {
                      left: 0;
                      opacity: 1;
                      width: 87px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_no:checked ~ label[for="isPublic_no"] {
                      color: white;
                      border: 1px solid grey; }
                    html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cd-switch .switch input[type="radio"]#isPublic_no:checked ~ .switchFilter {
                      left: 100px;
                      width: 87px;
                      opacity: 1; }
                  html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cd-switch .switch .switchFilter {
                    width: 0;
                    display: inline-block;
                    background-color: grey;
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    top: 0;
                    bottom: 0;
                    z-index: -1;
                    -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
                    -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
                    transition: all 0.4s cubic-bezier(0, 0, 0.25, 1); }
                  html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group .cd-switch .switch label {
                    margin-bottom: 0px;
                    cursor: pointer;
                    text-transform: uppercase;
                    border: 1px solid grey;
                    width: 85px;
                    padding: 8px 0;
                    text-align: center;
                    display: inline-block;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    transition: all 0.4s;
                    margin-right: 10px; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li .form-group input[name='refLink'].is-dragover {
                border-color: #66afe9; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li.reference-item > label {
                font-weight: normal; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li.reference-item .form-group label {
                width: auto; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form ul li.reference-item .form-group .form-control {
                display: inline-block;
                width: auto; }
          html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form footer {
            text-align: center;
            padding-bottom: 50px; }
            html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form footer button {
              width: 400px;
              padding: 7px;
              font-size: 18px;
              border-radius: 20px;
              background: transparent;
              border: 2px solid #53d4ad;
              color: #53d4ad; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form footer button:hover {
                background: #53d4ad;
                color: white; }
              html body .site-wrapper.page > .site-content > .content-wrapper #switch-from-scratch main.main-content form footer button:focus {
                outline: none; }
      html body .site-wrapper.page > .site-content > .content-wrapper h1, html body .site-wrapper.page > .site-content > .content-wrapper h2, html body .site-wrapper.page > .site-content > .content-wrapper h3, html body .site-wrapper.page > .site-content > .content-wrapper h4, html body .site-wrapper.page > .site-content > .content-wrapper h5, html body .site-wrapper.page > .site-content > .content-wrapper h6 {
        font-family: "EB Garamond", sans-serif; }
  html body .site-wrapper.page .dropdown-menu {
    font-family: "EB Garamond", sans-serif; }

.after-clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*# sourceMappingURL=switchSubscription-page.css.map */
