.page-user-profile .site-content .content-header {
  padding: 100px 10px 50px;
  background-color: #f6fffc;
  border-bottom: 1px dashed #1eb785;
}
.page-user-profile .site-content .content-header .header--inner {
  width: 1500px;
  max-width: 100%;
  margin: 0px auto;
}
.page-user-profile .site-content .content-header .header--inner .meet-user .user-name {
  font-size: 25px;
}
.page-user-profile .site-content .content-header .header--inner .share-with-list .share-with-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.page-user-profile .site-content .content-header .header--inner .share-with-list .share-item svg {
  width: 40px;
  height: 40px;
}
.page-user-profile .site-content .content-header .header--inner .search-input-wrapper input {
  width: 600px;
  max-width: 100%;
  padding: 5px 0px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1fcd98;
  font-size: 1.4rem;
}
.page-user-profile .site-content .content-header .header--inner .search-input-wrapper input:focus {
  outline: none;
}
.page-user-profile .site-content .content-header .header--inner .search-input-wrapper button.search-submit-button {
  border: none;
  background: none;
}
.page-user-profile .site-content .content-header .header--inner .search-input-wrapper button.search-submit-button svg {
  width: 20px;
  vertical-align: middle;
}
.page-user-profile .site-content .content-header .header--inner .search-input-wrapper button.search-submit-button:hover svg path {
  fill: #1eb785;
}
.page-user-profile .site-content .content-header .header--inner .search-input-wrapper button.search-submit-button:focus {
  border: none;
  outline: none;
}
@media all and (max-width: 768px) {
  .page-user-profile .site-content .content-header .header--inner .search-input-wrapper {
    width: 100%;
  }
}
.page-user-profile .site-content .main-content {
  padding: 20px 10px;
}
.page-user-profile .site-content .main-content .series-diamond {
  padding: 30px 10px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner {
  width: 1500px;
  max-width: 100%;
  margin: 0px auto;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper {
  position: relative;
  margin: 0px auto;
  overflow: hidden;
  text-align: center;
  background-color: white;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .series-title {
  margin-bottom: 35px;
  text-transform: uppercase;
  color: black;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .series-img-wrapper {
  margin-bottom: 20px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .series-img-wrapper img {
  max-width: 100%;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .series-description {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 20px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .join-series-wrapper .wrap {
  width: 90%;
  margin: 0px auto;
  max-width: 200px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .join-series-wrapper .wrap button {
  width: 100%;
  line-height: 34px;
  height: 40px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .join-series-wrapper .wrap button.circle {
  width: 40px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .join-series-wrapper .wrap button.filled {
  line-height: 34px;
  vertical-align: middle;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .join-series-wrapper .wrap img {
  top: 0;
  left: calc((100% - 49px) / 2);
  width: auto !important;
  display: none;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .join-series-wrapper .wrap svg {
  left: calc((100% - 40px) / 2);
  top: 0px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .join-series-wrapper .login-wrapper {
  padding: 2px 20px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .join-series-wrapper .login-wrapper .btn.btn-circle {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  padding: 3px 20px;
  font-size: 2rem;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #53d4ad;
  color: #53d4ad;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .join-series-wrapper .login-wrapper .btn.btn-circle:hover {
  background: #53d4ad;
  color: white;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .join-series-wrapper .login-wrapper .btn.btn-circle:focus {
  outline: none;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box-wrap {
  position: absolute;
  float: none;
  width: 600px;
  height: 600px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box-wrap .diamond-box {
  background-color: white;
  border: 0px;
  width: calc(70.710678118% - 10px);
  height: calc(70.710678118% - 10px);
  margin: calc(14.644660941% + 5px);
  box-shadow: 0px 0px 20px 3px #7b7b7b;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box-wrap .diamond-box .diamond-box-inner .item {
  display: block;
  width: 100%;
  height: 100%;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-main-wrap {
  top: 0px;
  left: 0px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-main-wrap .item {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-main-wrap .item .user-item .item__image {
  margin-bottom: 10px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-main-wrap .item .user-item .item__image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-main-wrap .item .user-item .item__name {
  font-size: 20px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-top {
  top: -300px;
  right: 300px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-top .diamond-box {
  border: 0px;
  width: calc(70.710678118% - 10px);
  height: calc(70.710678118% - 10px);
  margin: calc(14.644660941% + 5px);
  box-shadow: 0px 0px 20px 3px #7b7b7b;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-top .diamond-box .item img {
  width: 100%;
  height: 100%;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-bottom {
  bottom: -150px;
  right: 0px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-bottom .item {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-bottom .item .share-with-list .share-with-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-bottom .item .share-with-list .share-item svg {
  width: 60px;
  height: 60px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample) {
  width: 300px;
  height: 300px;
  position: absolute;
  float: none;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample) .diamond-box {
  border-width: 0px;
  width: calc(70.710678118% - 10px);
  height: calc(70.710678118% - 10px);
  margin: calc(14.644660941% + 5px);
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample) .diamond-box .item {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample) .diamond-box .item:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).left-side {
  left: -150px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).right-side {
  right: -150px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-1 {
  top: 0px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-2 {
  top: 300px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-3 {
  top: 600px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-4 {
  top: 900px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-5 {
  top: 1200px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-6 {
  top: 1500px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-7 {
  top: 1800px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-8 {
  top: 2100px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-9 {
  top: 2400px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-10 {
  top: 2700px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamonds-container {
  text-align: center;
  margin: -150px 0px -5px 0px;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamonds-container .diamonds .diamond-row-wrap .diamond-box-wrap .diamond-box {
  border: 0px;
  width: calc(70.710678118% - 10px);
  height: calc(70.710678118% - 10px);
  margin: calc(14.644660941% + 5px);
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamonds-container .diamonds .diamond-row-wrap .diamond-box-wrap .diamond-box .diamond-box-inner .item {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 40% 0px;
  background-position: center center;
  background-size: cover;
  position: relative;
  text-decoration: none;
  background-color: #666;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamonds-container .diamonds .diamond-row-wrap .diamond-box-wrap .diamond-box .diamond-box-inner .item:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamonds-container .diamonds .diamond-row-wrap .diamond-row-lower .diamond-box-wrap .diamond-box {
  border: 0px;
  width: calc(70.710678118% - 10px);
  height: calc(70.710678118% - 10px);
  margin: calc(14.644660941% + 5px);
  margin-left: calc(64.644660941% + 5px);
  margin-top: calc(64.644660941% + 5px);
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamonds-container .diamonds .diamond-row-wrap .diamond-row-lower .diamond-box-wrap .diamond-box .diamond-box-inner .item {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 40% 0px;
  background-position: center center;
  background-size: cover;
  position: relative;
  text-decoration: none;
  background-color: #666;
}
.page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamonds-container .diamonds .diamond-row-wrap .diamond-row-lower .diamond-box-wrap .diamond-box .diamond-box-inner .item:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 1637px) {
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper {
    width: 1500px;
  }
}
@media only screen and (min-width: 1320px) and (max-width: 1636px) {
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper {
    width: 1200px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-main-wrap {
    top: 0px;
    left: 0px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-top {
    top: -300px;
    right: 0px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-bottom {
    bottom: -150px;
    right: 0px;
  }
}
@media only screen and (min-width: 1020px) and (max-width: 1319px) {
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper {
    width: 900px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-main-wrap {
    top: 0px;
    left: 0px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-top {
    top: -300px;
    right: 0px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-bottom {
    bottom: -150px;
    right: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1019px) {
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper {
    width: 600px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-top {
    top: -200px;
    right: 0px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-main-wrap {
    top: 0px;
    left: 0px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-bottom {
    bottom: -100px;
    right: 0px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box-wrap {
    width: 400px;
    height: 400px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box-wrap .diamond-box {
    background-color: white;
    border-width: 5px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box-wrap .diamond-box .diamond-box-inner .item {
    display: block;
    width: 100%;
    height: 100%;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample) {
    width: 200px;
    height: 200px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).left-side {
    left: -100px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).right-side {
    right: -100px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-1 {
    top: 0px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-2 {
    top: 200px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-3 {
    top: 400px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-4 {
    top: 600px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-5 {
    top: 800px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-6 {
    top: 1000px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-7 {
    top: 1200px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-8 {
    top: 1400px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-9 {
    top: 1600px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-10 {
    top: 1800px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamonds-container {
    text-align: center;
    margin: -100px 0px -5px 0px;
  }
}
@media only screen and (max-width: 767px) {
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper {
    width: 400px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-top {
    top: -200px;
    right: 0px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-main-wrap {
    top: 200px;
    left: 0px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box--lg-bottom {
    bottom: -100px;
    right: 0px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box-wrap {
    width: 400px;
    height: 400px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box-wrap .diamond-box {
    background-color: white;
    border-width: 5px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .series-content .diamond-box-wrap .diamond-box .diamond-box-inner .item {
    display: block;
    width: 100%;
    height: 100%;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample) {
    width: 200px;
    height: 200px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).left-side {
    left: -100px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).right-side {
    right: -100px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-1 {
    top: 0px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-2 {
    top: 200px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-3 {
    top: 400px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-4 {
    top: 600px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-5 {
    top: 800px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-6 {
    top: 1000px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-7 {
    top: 1200px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-8 {
    top: 1400px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-9 {
    top: 1600px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-10 {
    top: 1800px;
  }
  .page-user-profile .site-content .main-content .series-diamond .section--inner .diamonds-wrapper .diamonds-container {
    text-align: center;
    margin: -100px 0px -5px 0px;
  }
}
.page-user-profile .site-content .main-content .profile-description {
  background-color: #1fcd98;
  padding: 50px 10px;
  margin: 0px -10px;
}
.page-user-profile .site-content .main-content .profile-description .section--inner {
  width: 900px;
  max-width: 100%;
  margin: 0px auto;
  position: relative;
}
.page-user-profile .site-content .main-content .profile-description .section--inner .section-mark {
  font-size: 100px;
  line-height: 75px;
  position: absolute;
  left: -50px;
  top: 0px;
  color: white;
}
.page-user-profile .site-content .main-content .profile-description .section--inner .user_description {
  color: white;
  font-size: 20px;
}
.page-user-profile .site-content .main-content .content-channel {
  padding: 30px 20px;
}
.page-user-profile .site-content .main-content .content-channel .section--inner {
  width: 1500px;
  max-width: 100%;
  margin: 0px auto;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
  text-align: left;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__head {
  display: flex;
  padding: 10px 15px;
  flex-basis: calc(100% * 2 / 5);
  min-width: 100px;
  align-items: center;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__head .head__inner {
  width: 400px;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__head .head__inner .head__title {
  font-size: 40px;
  margin-bottom: 10px;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__head .head__inner .head__description {
  font-size: 25px;
}
@media all and (max-width: 1300px) {
  .page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__head {
    flex-basis: calc(100% * 2 / 4);
  }
}
@media all and (max-width: 900px) {
  .page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__head {
    flex-basis: calc(100% * 2 / 3);
  }
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item {
  padding: 10px 15px;
  flex-basis: calc(100% / 5);
  min-width: 100px;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article {
  margin-bottom: 15px;
  padding: 0px;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper {
  position: relative;
  margin-bottom: 17px;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .item-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1600px) {
  .page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .item-image {
    height: 170px;
  }
}
@media only screen and (max-width: 1600px) {
  .page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .item-image {
    height: 150px;
  }
}
@media only screen and (max-width: 1400px) {
  .page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .item-image {
    height: 140px;
  }
}
@media only screen and (max-width: 1280px) {
  .page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .item-image {
    height: 128px;
  }
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .hover-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .hover-content .footer-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .hover-content .footer-buttons a {
  display: block;
  padding: 5px;
  background-color: #1fcd98;
  color: white;
  text-align: center;
  text-decoration: none;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .hover-content .footer-buttons a svg {
  display: none;
  width: 18px;
  vertical-align: middle;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .hover-content .footer-buttons a svg path {
  fill: white;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .hover-content .footer-buttons a svg.preview-icon, .page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
  display: inline;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .hover-content .footer-buttons a:hover {
  background-color: #1eb785;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-image-wrapper .hover-content .footer-buttons .flex-row .last-col {
  margin-left: 2px;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .child-count-wrapper {
  margin-bottom: 10px;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .child-count-wrapper .child-count {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #c8cbba;
  color: white;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-title {
  font-size: 1.4rem;
  font-weight: bold;
  height: auto;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-category-wrapper .item-category {
  font-size: 1.5rem;
  color: #c8cabc;
  text-decoration: underline;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article .item-category-wrapper .item-category:hover {
  color: #737661;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article:hover .item-image-wrapper .hover-content, .page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item .series-article:active .item-image-wrapper .hover-content {
  opacity: 1;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item.purchased .series-article .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
  display: none;
}
.page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item.purchased .series-article .item-image-wrapper .hover-content .footer-buttons a svg.purchased-icon {
  display: inline;
}
@media all and (max-width: 1300px) {
  .page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item {
    flex-basis: calc(100% / 4);
  }
}
@media all and (max-width: 900px) {
  .page-user-profile .site-content .main-content .content-channel .section--inner .series--list .list__item {
    flex-basis: calc(100% / 3);
  }
}
@media all and (max-width: 768px) {
  .page-user-profile .site-content .main-content .content-channel .section--inner .series--list {
    display: block;
  }
}

/*# sourceMappingURL=user_profile-page.css.map */
