@import "../../config/css/colors.scss";

.page-user-profile{
  .site-content{
    .content-header{
      padding: 100px 10px 50px;
      background-color: #f6fffc;
      border-bottom: 1px dashed #1eb785;
      .header--inner{
        width: 1500px;
        max-width: 100%;
        margin: 0px auto;
        .meet-user{
          .user-name{
            font-size: 25px;
          }
        }
        .share-with-list {
          .share-with-text{
            font-size: 1.5rem;
            font-weight: bold;
          }
          .share-item{
            svg{
              width: 40px;
              height: 40px;
              g, path{
              }
            }
          }
        }
        .search-input-wrapper{
          input{
            width: 600px;
            max-width: 100%;
            padding: 5px 0px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $greenColor;
            font-size: 1.4rem;
            &:focus{
              outline: none;
            }
          }
          button.search-submit-button{
            border: none;
            background: none;
            svg{
              width: 20px;
              vertical-align: middle;
            }
            &:hover{
              svg{
                path{
                  fill: $greenHover;
                }
              }
            }
            &:focus{
              border: none;
              outline: none;
            }
          }
          @media all and (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
    .main-content{
      padding: 20px 10px;
      .series-diamond {
        padding: 30px 10px;
        .section--inner{
          width: 1500px;
          max-width: 100%;
          margin: 0px auto;
          .diamonds-wrapper{
            position: relative;
            margin: 0px auto;
            overflow: hidden;
            text-align: center;
            background-color: white;
            .series-content{
              .series-title{
                margin-bottom: 35px;
                text-transform: uppercase;
                color: black;
              }
              .series-img-wrapper{
                margin-bottom: 20px;
                img{
                  max-width: 100%;
                }
              }
              .series-description{
                font-size: 2rem;
                line-height: 1.2;
                margin-bottom: 20px;
              }
              .join-series-wrapper{
                .wrap{
                  width: 90%;
                  margin: 0px auto;
                  max-width: 200px;
                  button{
                    width: 100%;
                    line-height: 34px;
                    &.circle{
                      width: 40px;
                    }
                    &.filled{
                      line-height: 34px;
                      vertical-align: middle;
                    }
                    height: 40px;
                  }
                  img{
                    top: 0;
                    left: calc((100% - 49px) / 2);
                    width: auto !important;
                    display: none;
                  }
                  svg{
                    left: calc((100% - 40px) / 2);
                    top: 0px;
                  }
                }
                .login-wrapper{
                  padding: 2px 20px;
                  .btn.btn-circle{
                    display: inline-block;
                    width: 100%;
                    max-width: 200px;
                    padding: 3px 20px;
                    font-size: 2rem;
                    border-radius: 50px;
                    background: transparent;
                    border: 2px solid #53d4ad;
                    color: #53d4ad;
                    &:hover{
                      background: #53d4ad;
                      color: white;
                    }
                    &:focus{
                      outline: none;
                    }
                  }
                }
              }
              .diamond-box-wrap{
                position: absolute;
                float: none;
                width: 600px;
                height: 600px;
                .diamond-box{
                  background-color: white;
                  border: 0px;
                  width: calc(70.710678118% - 10px);
                  height: calc(70.710678118% - 10px);
                  margin: calc(14.644660941% + 5px);
                  box-shadow: 0px 0px 20px 3px #7b7b7b;
                  .diamond-box-inner{
                    .item{
                      display: block;
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
              .diamond-main-wrap{
                top: 0px;
                left: 0px;
                .item{
                  display: flex !important;
                  align-items: center;
                  justify-content: center;
                  .user-item{
                    .item__image {
                      margin-bottom: 10px;
                      img{
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        object-fit: cover;
                      }
                    }
                    .item__name{
                      font-size: 20px;
                    }
                  }
                }
              }
              .diamond-box--lg-top{
                top: -300px;
                right: 300px;
                .diamond-box{
                  border: 0px;
                  width: calc(70.710678118% - 10px);
                  height: calc(70.710678118% - 10px);
                  margin: calc(14.644660941% + 5px);
                  box-shadow: 0px 0px 20px 3px #7b7b7b;
                  .item{
                    img{
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
              .diamond-box--lg-bottom{
                bottom: -150px;
                right: 0px;
                .item{
                  display: flex !important;
                  justify-content: center;
                  align-items: center;
                  .share-with-list {
                    .share-with-text{
                      font-size: 1.5rem;
                      font-weight: bold;
                    }
                    .share-item{
                      svg{
                        width: 60px;
                        height: 60px;
                        g, path{
                        }
                      }
                    }
                  }
                }
              }
            }
            .diamond-box-wrap.for-side:not(.sample){
              width: 300px;
              height: 300px;
              position: absolute;
              float: none;
              .diamond-box{
                border-width: 0px;
                width: calc(70.710678118% - 10px);
                height: calc(70.710678118% - 10px);
                margin: calc(14.644660941% + 5px);
                //box-shadow: 0px 0px 20px 3px #7b7b7b;
                .item{
                  display: block;
                  width: 100%;
                  height: 100%;
                  background-size: cover;
                  &:hover{
                    &:after{
                      content: "";
                      display: block;
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background: rgba(255, 255, 255, 0.7);
                    }
                  }
                }
              }
              &.left-side{
                left: -150px;
              }
              &.right-side{
                right: -150px;
              }
              &.layer-1{
                top: 0px;
              }
              &.layer-2{
                top: 300px;
              }
              &.layer-3{
                top: 600px;
              }
              &.layer-4{
                top: 900px;
              }
              &.layer-5{
                top: 1200px;
              }
              &.layer-6{
                top: 1500px;
              }
              &.layer-7{
                top: 1800px;
              }
              &.layer-8{
                top: 2100px;
              }
              &.layer-9{
                top: 2400px;
              }
              &.layer-10{
                top: 2700px;
              }
            }
            .diamonds-container{
              text-align: center;
              margin: -150px 0px -5px 0px;
              .diamonds{
                .diamond-row-wrap{
                  .diamond-box-wrap{
                    .diamond-box{
                      border: 0px;
                      width: calc(70.710678118% - 10px);
                      height: calc(70.710678118% - 10px);
                      margin: calc(14.644660941% + 5px);
                      //box-shadow: 0px 0px 20px 3px #7b7b7b;
                      .diamond-box-inner{
                        .item{
                          display: block;
                          -webkit-box-sizing: border-box;
                          -moz-box-sizing: border-box;
                          -ms-box-sizing: border-box;
                          box-sizing: border-box;
                          width: 100%;
                          height: 100%;
                          padding: 40% 0px;
                          background-position: center center;
                          background-size: cover;
                          position: relative;
                          text-decoration: none;
                          background-color: #666;
                          &:hover:after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(255, 255, 255, 0.7);
                          }
                        }
                      }
                    }
                  }
                  .diamond-row-lower{
                    .diamond-box-wrap{
                      .diamond-box{
                        border: 0px;
                        width: calc(70.710678118% - 10px);
                        height: calc(70.710678118% - 10px);
                        margin: calc(14.644660941% + 5px);
                        margin-left: calc(64.644660941% + 5px);
                        margin-top: calc(64.644660941% + 5px);
                        //box-shadow: 0px 0px 20px 3px #7b7b7b;
                        .diamond-box-inner{
                          .item{
                            display: block;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -ms-box-sizing: border-box;
                            box-sizing: border-box;
                            width: 100%;
                            height: 100%;
                            padding: 40% 0px;
                            background-position: center center;
                            background-size: cover;
                            position: relative;
                            text-decoration: none;
                            background-color: #666;
                            &:hover:after {
                              content: "";
                              display: block;
                              position: absolute;
                              top: 0;
                              left: 0;
                              width: 100%;
                              height: 100%;
                              background: rgba(255, 255, 255, 0.7);
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            @media only screen and (min-width: 1637px) {
              width: 1500px;
            }
            @media only screen and (min-width: 1320px) and (max-width: 1636px) {
              width: 1200px;
              .series-content{
                .diamond-main-wrap{
                  top: 0px;
                  left: 0px;
                }
                .diamond-box--lg-top{
                  top: -300px;
                  right: 0px;
                }
                .diamond-box--lg-bottom{
                  bottom: -150px;
                  right: 0px;
                }
              }
            }
            @media only screen and (min-width: 1020px) and (max-width: 1319px) {
              width: 900px;
              .series-content{
                .diamond-main-wrap{
                  top: 0px;
                  left: 0px;
                }
                .diamond-box--lg-top{
                  top: -300px;
                  right: 0px;
                }
                .diamond-box--lg-bottom{
                  bottom: -150px;
                  right: 0px;
                }
              }
            }
            @media only screen and (min-width: 768px) and (max-width: 1019px) {
              width: 600px;
              .series-content{
                .diamond-box--lg-top{
                  top: -200px;
                  right: 0px;
                }
                .diamond-main-wrap{
                  top: 0px;
                  left: 0px;
                }
                .diamond-box--lg-bottom{
                  bottom: -100px;
                  right: 0px;
                }
                .diamond-box-wrap{
                  width: 400px;
                  height: 400px;
                  .diamond-box{
                    background-color: white;
                    border-width: 5px;
                    .diamond-box-inner{
                      .item{
                        display: block;
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }
              }
              .diamond-box-wrap.for-side:not(.sample){
                width: 200px;
                height: 200px;

                &.left-side{
                  left: -100px;
                }
                &.right-side{
                  right: -100px;
                }
                &.layer-1{
                  top: 0px;
                }
                &.layer-2{
                  top: 200px;
                }
                &.layer-3{
                  top: 400px;
                }
                &.layer-4{
                  top: 600px;
                }
                &.layer-5{
                  top: 800px;
                }
                &.layer-6{
                  top: 1000px;
                }
                &.layer-7{
                  top: 1200px;
                }
                &.layer-8{
                  top: 1400px;
                }
                &.layer-9{
                  top: 1600px;
                }
                &.layer-10{
                  top: 1800px;
                }
              }
              .diamonds-container{
                text-align: center;
                margin: -100px 0px -5px 0px;
              }
            }
            @media only screen and (max-width: 767px) {
              width: 400px;
              .series-content{
                .diamond-box--lg-top{
                  top: -200px;
                  right: 0px;
                }
                .diamond-main-wrap{
                  top: 200px;
                  left: 0px;
                }
                .diamond-box--lg-bottom{
                  bottom: -100px;
                  right: 0px;
                }
                .diamond-box-wrap{
                  width: 400px;
                  height: 400px;
                  .diamond-box{
                    background-color: white;
                    border-width: 5px;
                    .diamond-box-inner{
                      .item{
                        display: block;
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }
              }
              .diamond-box-wrap.for-side:not(.sample){
                width: 200px;
                height: 200px;

                &.left-side{
                  left: -100px;
                }
                &.right-side{
                  right: -100px;
                }
                &.layer-1{
                  top: 0px;
                }
                &.layer-2{
                  top: 200px;
                }
                &.layer-3{
                  top: 400px;
                }
                &.layer-4{
                  top: 600px;
                }
                &.layer-5{
                  top: 800px;
                }
                &.layer-6{
                  top: 1000px;
                }
                &.layer-7{
                  top: 1200px;
                }
                &.layer-8{
                  top: 1400px;
                }
                &.layer-9{
                  top: 1600px;
                }
                &.layer-10{
                  top: 1800px;
                }
              }
              .diamonds-container{
                text-align: center;
                margin: -100px 0px -5px 0px;
              }
            }
          }
        }
      }
      .profile-description{
        background-color: $greenColor;
        padding: 50px 10px;
        margin: 0px -10px;
        .section--inner{
          width: 900px;
          max-width: 100%;
          margin: 0px auto;
          position: relative;
          .section-mark{
            font-size: 100px;
            line-height: 75px;
            position: absolute;
            left: -50px;
            top: 0px;
            color: white;
          }
          .user_description{
            color: white;
            font-size: 20px;
          }
        }
      }
      .content-channel{
        padding: 30px 20px;
        .section--inner {
          width: 1500px;
          max-width: 100%;
          margin: 0px auto;
          .series--list{
            display: flex;
            flex-wrap: wrap;
            margin: 0px -15px;
            text-align: left;
            .list__head{
              display: flex;
              padding: 10px 15px;
              flex-basis: calc(100% * 2 / 5);
              min-width: 100px;
              align-items: center;
              .head__inner{
                width: 400px;
                .head__title{
                  font-size: 40px;
                  margin-bottom: 10px;
                }
                .head__description{
                  font-size: 25px;
                }
              }
              @media all and (max-width: 1300px) {
                flex-basis: calc(100% * 2 / 4);
              }
              @media all and (max-width: 900px) {
                flex-basis: calc(100% * 2 / 3);
              }
            }
            .list__item{
              padding: 10px 15px;
              flex-basis: calc(100% / 5);
              min-width: 100px;
              .series-article{
                margin-bottom: 15px;
                padding: 0px;
                .item-image-wrapper{
                  position: relative;
                  margin-bottom: 17px;
                  .item-image{
                    width: 100%;
                    height: 200px;
                    background-position: center;
                    background-size: cover;
                    @media only screen and (max-width: 1600px) {
                      height: 170px;
                    }
                    @media only screen and (max-width: 1600px) {
                      height: 150px;
                    }
                    @media only screen and (max-width: 1400px) {
                      height: 140px;
                    }
                    @media only screen and (max-width: 1280px) {
                      height: 128px;
                    }
                  }
                  .hover-content{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, .7);
                    //background-color: red;
                    opacity: 0;
                    .footer-buttons{
                      position: absolute;
                      bottom: 0px;
                      left: 0px;
                      width: 100%;
                      a{
                        display: block;
                        padding: 5px;
                        background-color: $greenColor;
                        color: white;
                        text-align: center;
                        text-decoration: none;
                        svg{
                          display: none;
                          width: 18px;
                          vertical-align: middle;
                          path{
                            fill: white;
                          }
                          &.preview-icon, &.join-icon{
                            display: inline;
                          }
                        }
                        &:hover{
                          background-color: $greenHover;
                        }
                      }
                      .flex-row{
                        .last-col{
                          margin-left: 2px;
                        }
                      }
                    }
                  }
                }
                .child-count-wrapper{
                  margin-bottom: 10px;
                  .child-count{
                    display: inline-block;
                    padding: 5px 15px;
                    border-radius: 10px;
                    background-color: #c8cbba;
                    color: white;
                  }
                }
                .item-title{
                  font-size: 1.4rem;
                  font-weight: bold;
                  height: auto;
                }
                .item-category-wrapper{
                  .item-category{
                    font-size: 1.5rem;
                    color: $lightGrey;
                    text-decoration: underline;
                    &:hover{
                      color: $contentColor;
                    }
                  }
                }
                &:hover, &:active{
                  .item-image-wrapper{
                    .item-image{
                    }
                    .hover-content{
                      opacity: 1;
                    }
                  }
                }
              }
              &.purchased{
                .series-article{
                  .item-image-wrapper{
                    .hover-content{
                      .footer-buttons{
                        a{
                          svg.join-icon{
                            display: none;
                          }
                          svg.purchased-icon{
                            display: inline;
                          }
                        }
                      }
                    }
                  }
                }
              }
              @media all and (max-width: 1300px) {
                flex-basis: calc(100% / 4);
              }
              @media all and (max-width: 900px) {
                flex-basis: calc(100% / 3);
              }
            }
            @media all and (max-width: 768px) {
              display: block;
            }
          }
        }
      }
    }
  }
}