html {
  font-size: 24px;
  overflow-y: scroll; }
  html body {
    position: static; }
    html body .site-wrapper.page {
      font-family: "EB Garamond", sans-serif;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%; }
      html body .site-wrapper.page > .site-content {
        padding: 30px 50px;
        position: relative; }
        html body .site-wrapper.page > .site-content header.sticky-header {
          position: fixed;
          top: 0px;
          left: 0px;
          width: 100%;
          box-sizing: border-box;
          padding: 30px 20px 10px;
          background-color: transparent;
          transition: all .3s;
          z-index: 3;
          box-shadow: 0px 10px 20px 5px transparent; }
          html body .site-wrapper.page > .site-content header.sticky-header .flex-row {
            display: flex; }
            html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) {
              flex-grow: 3;
              display: flex; }
              html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) a.back-to-prev {
                flex-basis: 50px;
                width: 50px;
                height: 50px;
                display: inline-block;
                border-radius: 50%;
                box-sizing: border-box;
                border: 2px solid grey;
                text-align: center;
                color: grey;
                transition: all .3s; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) a.back-to-prev i {
                  line-height: 45px;
                  vertical-align: middle;
                  font-size: 30px;
                  position: relative;
                  left: 1px;
                  transition: all .3s; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) a.back-to-prev:hover {
                  color: black;
                  border-color: black; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) a.back-to-prev:hover i {
                    left: -3px; }
              html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) .sticky-series-title {
                padding: 0px 10px;
                flex-basis: calc(100% - 50px);
                font-size: 1rem;
                line-height: 50px;
                vertical-align: middle;
                transition: all .3s;
                opacity: 0;
                position: relative;
                color: black; }
            html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(2) {
              flex-grow: 6; }
              html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(2) .sticky-post-title {
                max-width: 100%;
                font-size: 1rem;
                line-height: 50px;
                vertical-align: middle;
                transition: all .3s;
                opacity: 0;
                position: relative;
                color: grey; }
            html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) {
              position: relative;
              flex-basis: 200px; }
              html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) .complete-wrapper {
                display: inline-block;
                position: absolute;
                z-index: 1000;
                right: 80px; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block {
                  text-align: center;
                  width: 50px;
                  height: 50px;
                  margin-bottom: 0px;
                  box-shadow: none;
                  border-radius: 50%;
                  padding-left: 0px;
                  padding-right: 0px;
                  background-color: transparent;
                  border: 2px solid grey;
                  cursor: pointer; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block i.glyphicon {
                    top: 3px;
                    font-size: 25px;
                    color: grey; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block.btn-success {
                    background-color: #5cb85c;
                    border-color: #5cb85c;
                    border: none; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block.btn-success i.glyphicon {
                      color: white; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block.btn-success:hover {
                      background-color: #7fdf7f; }
                      html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block.btn-success:hover i.glyphicon {
                        color: white; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block:hover {
                    border-color: #5cb85c; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block:hover i.glyphicon {
                      color: #5cb85c; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block:focus {
                    outline: none; }
              html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper {
                width: 300px;
                height: 300px;
                top: -10px;
                background-color: transparent;
                box-shadow: none;
                z-index: 999; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper .circle-nav-toggle {
                  border: none;
                  width: 50px;
                  height: 50px; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper .circle-nav-toggle svg#Capa_1 {
                    width: 50px; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper .circle-nav-toggle svg#Capa_1 g path {
                      fill: grey; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper .circle-nav-toggle.circle-nav-open svg#Capa_1 g path {
                    fill: white; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper ul.circle-nav-menu {
                  width: 300px;
                  height: 300px; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item {
                    width: 45px;
                    height: 45px;
                    padding: 4px 2px 0px 0px;
                    box-sizing: border-box; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a {
                      padding: 0px;
                      line-height: 30px; }
                      html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg {
                        width: 30px !important;
                        height: 30px !important; }
                        html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg g path {
                          fill: #ff7b7b !important; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper ul.circle-nav-menu:not(.circle-nav-open) li.circle-nav-item {
                    left: 300px;
                    bottom: 300px; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper .circle-nav-panel {
                  margin-left: 311px; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper .circle-nav-panel.circle-nav-open {
                  margin-left: 311px;
                  width: 600px;
                  height: 600px; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) #circle-nav-wrapper.circle-nav-wrapper.circle-nav-open {
                  z-index: 1001; }
          html body .site-wrapper.page > .site-content header.sticky-header.appear {
            box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
            background-color: white; }
            html body .site-wrapper.page > .site-content header.sticky-header.appear .flex-col:nth-child(1) .sticky-series-title {
              animation-name: sticky-appear;
              animation-duration: .3s;
              animation-fill-mode: forwards; }
            html body .site-wrapper.page > .site-content header.sticky-header.appear .flex-col:nth-child(2) .sticky-post-title {
              animation-name: sticky-appear;
              animation-duration: .3s;
              animation-fill-mode: forwards; }
          html body .site-wrapper.page > .site-content header.sticky-header.disappear .flex-col:nth-child(1) .sticky-series-title {
            animation-name: sticky-disappear;
            animation-duration: .3s;
            animation-fill-mode: forwards; }
          html body .site-wrapper.page > .site-content header.sticky-header.disappear .flex-col:nth-child(2) .sticky-post-title {
            animation-name: sticky-disappear;
            animation-duration: .3s;
            animation-fill-mode: forwards; }
        html body .site-wrapper.page > .site-content article.blog-wrapper {
          max-width: 1024px;
          margin: 0px auto 0px;
          text-align: center;
          position: relative;
          z-index: 2; }
          html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header {
            position: relative;
            margin: 20px 0px 40px; }
            html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header .series-title {
              font-size: 2.2rem;
              line-height: 1.1;
              letter-spacing: 5px;
              position: relative;
              margin: 20px 0px 10px; }
            html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header .post-title {
              font-size: 1.2rem;
              line-height: 1.1;
              letter-spacing: 5px;
              color: #adadb8;
              position: relative;
              margin: 20px 0px 10px; }
            html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header:before, html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header:after {
              content: '';
              display: block;
              width: 1px;
              height: 49px;
              background-color: #d9d9df;
              margin: 0px auto; }
            html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header.appear .series-title, html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header.appear .post-title {
              animation-name: sticky-appear;
              animation-duration: .3s;
              animation-fill-mode: forwards; }
            html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header.disappear .series-title, html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header.disappear .post-title {
              animation-name: sticky-disappear;
              animation-duration: .3s;
              animation-fill-mode: forwards; }
          html body .site-wrapper.page > .site-content article.blog-wrapper aside.read-time-wrapper {
            max-width: 850px;
            margin: 0px auto;
            color: grey;
            text-align: left;
            padding-bottom: 20px;
            padding-top: 10px;
            font-size: .9rem; }
            html body .site-wrapper.page > .site-content article.blog-wrapper aside.read-time-wrapper .eta {
              display: inline-block; }
          html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body {
            max-width: 780px;
            margin: 0px auto;
            font-size: 1rem;
            line-height: 2;
            text-align: left; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h1, html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h2, html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h3, html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h4, html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h5 {
              line-height: 1.1; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h1 {
              font-size: 2rem; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h2 {
              font-size: 1.7rem; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h3, html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h4, html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h5 {
              font-size: 1.3rem; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body * {
              max-width: 100%; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body img {
              max-width: 100%;
              display: block;
              margin: 0px auto; }
        html body .site-wrapper.page > .site-content footer.sticky-footer {
          display: none;
          position: fixed;
          z-index: 3;
          bottom: 0px;
          left: 0px;
          width: 100%;
          padding: 10px 15px;
          background-color: white;
          box-shadow: 0px -3px 10px 2px rgba(0, 0, 0, 0.2); }
          html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row {
            display: flex;
            width: 100%; }
            html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper {
              flex-basis: calc(100% - 130px);
              display: flex; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .play-speaker-wrapper {
                flex-basis: 60px;
                line-height: 1;
                display: flex;
                padding-right: 5px; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .play-speaker-wrapper .play-speaker, html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .play-speaker-wrapper .pause-speaker {
                  font-size: 50px;
                  margin: auto;
                  line-height: 0;
                  color: grey; }
                  html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .play-speaker-wrapper .play-speaker i, html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .play-speaker-wrapper .pause-speaker i {
                    font-size: inherit;
                    line-height: 1; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .play-speaker-wrapper .pause-speaker {
                  display: none; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .choose-lang-wrapper {
                flex-basis: 400px;
                padding-left: 5px;
                overflow: hidden; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .choose-lang-wrapper .select-wrapper .select-dropdown {
                  margin-bottom: 0px;
                  font-size: 15px;
                  white-space: pre;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  height: auto;
                  line-height: 2;
                  padding-right: 25px; }
                  html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .choose-lang-wrapper .select-wrapper .select-dropdown:after {
                    top: 5px;
                    line-height: 1; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .choose-lang-wrapper select {
                  font-size: .5rem; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .rate-wrapper {
                flex-basis: 200px; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .pitch-wrapper {
                flex-basis: 200px; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper.speaking .play-speaker-wrapper .play-speaker {
                display: none; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper.speaking .play-speaker-wrapper .pause-speaker {
                display: inline-block; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper.pause .play-speaker-wrapper .play-speaker {
                display: inline-block; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper.pause .play-speaker-wrapper .pause-speaker {
                display: none; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper label {
                font-weight: normal;
                margin-bottom: 0px;
                line-height: 1;
                font-size: 18px; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper > * {
                padding: 0px 20px; }
            html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .font-control-wrapper {
              display: flex;
              flex-basis: 130px;
              text-align: right; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .font-control-wrapper .font-control-container {
                margin: auto; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .font-control-wrapper .font-control-container .font-control {
                  display: inline-block;
                  margin: 1px;
                  color: black;
                  padding: 0px 5px;
                  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
                  font-family: "Open Sans", arial, serif; }
                  html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .font-control-wrapper .font-control-container .font-control:focus {
                    background-color: buttonface; }
        html body .site-wrapper.page > .site-content.post-type-7, html body .site-wrapper.page > .site-content.post-type-8, html body .site-wrapper.page > .site-content.post-type-10 {
          padding-bottom: 80px; }
          html body .site-wrapper.page > .site-content.post-type-7 footer.sticky-footer, html body .site-wrapper.page > .site-content.post-type-8 footer.sticky-footer, html body .site-wrapper.page > .site-content.post-type-10 footer.sticky-footer {
            display: block; }
    html body .dropdown-content.select-dropdown {
      top: auto !important;
      bottom: 10px !important; }
      html body .dropdown-content.select-dropdown li span {
        font-size: 15px;
        line-height: 1.1;
        white-space: pre-line;
        padding: 5px 10px;
        color: grey; }

@keyframes sticky-appear {
  0% {
    opacity: 0;
    top: -10px; }
  100% {
    opacity: 1;
    top: 0; } }
@keyframes sticky-disappear {
  0% {
    opacity: 1;
    top: 0px; }
  100% {
    opacity: 0;
    top: -10px; } }

/*# sourceMappingURL=viewpost-page.css.map */
