html.walden-site {
    body {
        .posts-container{
            position: relative;
            padding: 20px 0px;
            ul{
                list-style: none;
                margin: 10px;
                position: relative;
                overflow: hidden;
                > li{
                    margin: 0px;
                    font-size: 1.5rem;
                    width: 100%;
                    display: list-item;
                    > .post-row-inner{
                        padding: 16px 5px 16px 0px;
                        //border-bottom: 1px dotted grey;
                        .jstree-icon {
                            background-image: url(../../images/global-icons/tree/32px-type2.png);
                        }
                        .jstree-ocl{
                            background-position: -96px 0;
                        }
                        .drag-icon-wrapper{
                            flex-basis: 50px;
                            text-align: center;
                            opacity: 1;
                            line-height: 0;
                            img{
                                display: none;
                                height: 32px;
                                cursor: initial;
                            }
                        }
                        .img-col{
                            line-height: 0;
                            .post-image{
                                height: 34px;
                            }
                        }
                        .post-title{
                            padding-left: 10px;
                            flex-grow: 1;
                            line-height: 32px;
                        }
                        .post-body{
                            margin: 0px 0px 0px 80px;
                            .body-inner{
                                padding: 15px;
                                .blog-type{
                                    max-width: 100%;
                                }
                                .type-2{
                                    width: 600px;
                                }
                            }
                        }
                        .actions{
                            a{
                                display: inline-block;
                                text-align: center;
                                cursor: pointer;
                                opacity: .5;
                                img{
                                    width: 32px;
                                }
                                &.expand-post{
                                    img{
                                        display: none;
                                    }
                                    &.collapsed{
                                        img.do-expand{
                                            display: initial;
                                        }
                                    }
                                    &.expanded{
                                        img.do-collapse{
                                            display: initial;
                                        }
                                    }
                                    &.loading-body{

                                    }
                                }
                                &:hover{
                                    opacity: .9;
                                }
                                &.collapse-wrapper{
                                    display: none;
                                }
                            }
                            .flex-col{
                                line-height: 1;
                            }
                        }
                        &:hover{
                            //background-color: rgba(0, 255, 0, 0.4);
                            background-color: rgba(12, 165, 255, .1);
                        }
                    }
                    > ul {
                        margin: 0px;
                        display: block;
                    }
                    &.appear{
                        animation-name: appearBlock;
                        animation-duration: .5s;
                        animation-fill-mode: forwards;
                    }
                    &.disappear{
                        animation-name: disappearBlock;
                        animation-duration: .5s;
                        animation-fill-mode: forwards;
                    }
                    &.node-type-post{
                        > .post-row-inner{
                            .expand-wrapper{
                                display: none;
                            }
                            .drag-icon-wrapper{
                                img.type-post{
                                    display: initial;
                                }
                            }
                            .post-title{
                                cursor: pointer;
                                &:hover{
                                    color: rgb(12, 105, 184);
                                }
                            }
                        }
                    }
                    &.node-type-menu{
                        > .post-row-inner{
                            .drag-icon-wrapper{
                                img.type-menu{
                                    display: initial;
                                }
                            }
                            .actions{
                                .flex-col{
                                    &.publish-col{
                                        display: initial;
                                        a {
                                            opacity: 1;
                                            img{
                                                &.active-icon{
                                                    display: initial;
                                                }
                                            }
                                            &:hover{
                                                opacity: .5;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.node-status-draft{
                        &.node-type-menu{
                            > .post-row-inner{
                                .actions{
                                    .flex-col{
                                        &.publish-col{
                                            a {
                                                opacity: .5;
                                                &:hover{
                                                    opacity: 1;
                                                }
                                                img{
                                                    &.active-icon{
                                                        display: none;
                                                    }
                                                    &.inactive-icon{
                                                        display: initial;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.node-type-path{
                        > .post-row-inner{
                            .drag-icon-wrapper{
                                img.type-path{
                                    display: initial;
                                }
                            }
                        }
                    }
                    &.node-type-root {
                        > .post-row-inner{
                            .drag-icon-wrapper{
                                img.type-root{
                                    display: initial;
                                }
                            }
                            .actions{
                                display: none;
                            }
                        }
                    }
                    &.ui-sortable-placeholder.mjs-nestedSortable-error{
                        background-color: white;
                        border-color: #f2dede;
                        color: #f2dede;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        &:before{
                            content: 'Invalid Position';
                            position: static;
                            padding-left: 20px;
                        }
                    }
                    &:last-child:not(.ui-sortable-placeholder){
                        background: 0 0;
                        display: list-item;
                        position: relative;
                        &:before{
                            content: '';
                            position: absolute;
                            display: block;
                            top: 0px;
                            left: 0px;
                            width: 32px;
                            height: 15px;
                            background-image: url(../../images/global-icons/tree/32px-type2.png);
                            background-position: -288px 0;
                            background-repeat: no-repeat;
                        }
                        > .post-row-inner{
                        }
                    }
                    &.ui-sortable-placeholder{
                        background-color: #fffa90;
                    }
                    &.jstree-open {
                        > .post-row-inner{
                            .jstree-ocl{
                                background-position: -128px 0;;
                            }
                        }
                    }
                    &.jstree-closed {
                        > .post-row-inner{
                            .jstree-ocl{
                                background-position: -96px 0;;
                            }
                        }
                        &.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf){
                            border: 1px dashed rgb(205, 200, 120);
                        }
                        > ul{
                            display: none;
                        }
                    }
                    &.jstree-loading{
                        > .post-row-inner{
                            .jstree-ocl.jstree-icon{
                                background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat;
                            }
                        }
                    }
                    &.jstree-leaf{
                        > .post-row-inner{
                            .jstree-ocl.jstree-icon{
                                background-position: -64px 0;
                            }
                        }
                    }
                    @keyframes focus-row {
                        0% { background-color: #fffa90; }
                        100% { background-color: rgba(255, 250, 144, .5); }
                    }
                    &.focus {
                        >.post-row-inner{
                            animation-name: focus-row;
                            animation-duration: .7s;
                            animation-fill-mode: forwards;
                        }
                    }
                }
            }
            > li.sample{
                display: none;
            }
            li.ui-sortable-helper{
                margin: 0px;
                font-size: 1.5rem;
                width: 100%;
                display: list-item;
                > .post-row-inner{
                    padding: 15px 5px 15px 0px;
                    //border-bottom: 1px dotted grey;
                    .jstree-icon {
                        background-image: url(../../images/global-icons/tree/32px-type2.png);
                    }
                    .jstree-ocl{
                        background-position: -96px 0;
                    }
                    .drag-icon-wrapper{
                        flex-basis: 50px;
                        text-align: center;
                        opacity: 1;
                        img{
                            height: 32px;
                            cursor: move;
                            display: none;
                        }
                    }
                    .post-title{
                        padding-left: 10px;
                        flex-grow: 1;
                        line-height: 32px;
                    }
                    .post-image{
                        height: 34px;
                    }
                    .actions{
                        a{
                            text-align: center;
                            cursor: pointer;
                            opacity: .5;
                            img{
                                width: 32px;
                            }
                            &:hover{
                                opacity: .9;
                            }
                            &.collapse-wrapper{
                                display: none;
                            }
                        }
                        .flex-col{
                            &.save-col{
                                display: none;
                            }
                            &.comeback-col{
                                display: none;
                            }
                            &.publish-col{
                                display: none;
                                a {
                                    img{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.4);
                    }
                }
                > ul {
                    margin: 0px;
                    display: block;
                }
                &.appear{
                    animation-name: appearBlock;
                    animation-duration: .5s;
                    animation-fill-mode: forwards;
                }
                &.disappear{
                    animation-name: disappearBlock;
                    animation-duration: .5s;
                    animation-fill-mode: forwards;
                }
                &.node-type-post{
                    > .post-row-inner{
                        .expand-wrapper{
                            display: none;
                        }
                        .drag-icon-wrapper{
                            img.type-post{
                                display: initial;
                            }
                        }
                    }
                }
                &.node-type-menu{
                    > .post-row-inner{
                        .drag-icon-wrapper{
                            img.type-menu{
                                display: initial;
                            }
                        }
                        .actions{
                            .flex-col{
                                &.publish-col{
                                    display: initial;
                                    a {
                                        opacity: 1;
                                        img{
                                            &.active-icon{
                                                display: initial;
                                            }
                                        }
                                        &:hover{
                                            opacity: .5;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.node-status-draft{
                    &.node-type-menu{
                        > .post-row-inner{
                            .actions{
                                .flex-col{
                                    &.publish-col{
                                        a {
                                            opacity: .5;
                                            &:hover{
                                                opacity: 1;
                                            }
                                            img{
                                                &.active-icon{
                                                    display: none;
                                                }
                                                &.inactive-icon{
                                                    display: initial;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.node-type-path{
                    > .post-row-inner{
                        .drag-icon-wrapper{
                            img.type-path{
                                display: initial;
                            }
                        }
                    }
                }
                &.node-type-root {
                    > .post-row-inner{
                        .drag-icon-wrapper{
                            img.type-root{
                                display: initial;
                            }
                        }
                        .actions{
                            display: none;
                        }
                    }
                }
                &.ui-sortable-placeholder.mjs-nestedSortable-error{
                    background-color: white;
                    border-color: #f2dede;
                    color: #f2dede;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    &:before{
                        content: 'Invalid Position';
                        position: static;
                        padding-left: 20px;
                    }
                }
                &:last-child:not(.ui-sortable-placeholder){
                    background: 0 0;
                    display: list-item;
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        display: block;
                        top: 0px;
                        left: 0px;
                        width: 32px;
                        height: 15px;
                        background-image: url(../../images/global-icons/tree/32px-type2.png);
                        background-position: -288px 0;
                        background-repeat: no-repeat;
                    }
                    > .post-row-inner{
                    }
                }
                &.ui-sortable-placeholder{
                    background-color: #fffa90;
                }
                &.jstree-open {
                    > .post-row-inner{
                        .jstree-ocl{
                            background-position: -128px 0;;
                        }
                    }
                }
                &.jstree-closed {
                    > .post-row-inner{
                        .jstree-ocl{
                            background-position: -96px 0;;
                        }
                    }
                    &.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf){
                        border: 1px dashed rgb(205, 200, 120);
                    }
                    > ul{
                        display: none;
                    }
                }
                &.jstree-loading{
                    > .post-row-inner{
                        .jstree-ocl.jstree-icon{
                            background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat;
                        }
                    }
                }
                &.jstree-leaf{
                    > .post-row-inner{
                        .jstree-ocl.jstree-icon{
                            background-position: -64px 0;
                        }
                    }
                }
                &.edit-status{
                    > .post-row-inner{
                        .post-title{
                            background-color: white;
                            border: 1px solid #CDCDCD;
                            &:focus{
                                outline-width: 1px;
                                border: transparent;
                            }
                        }
                        .actions{
                            .flex-col{
                                &.edit-col {
                                    display: none;
                                }
                                &.del-col{
                                    display: none;
                                }
                                &.save-col{
                                    display: initial;
                                }
                                &.comeback-col{
                                    display: initial;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}