html {
  font-size: 24px;
  overflow-y: scroll; }
  html body {
    position: static; }
    html body .site-wrapper.page {
      font-family: "EB Garamond", sans-serif;
      position: relative; }
      html body .site-wrapper.page > .site-content {
        padding: 30px 50px;
        padding-bottom: 100px;
        position: relative; }
        html body .site-wrapper.page > .site-content header.sticky-header {
          position: fixed;
          top: 0px;
          left: 0px;
          width: 100%;
          box-sizing: border-box;
          padding: 30px 20px 10px;
          z-index: 3;
          box-shadow: 0px 10px 20px 5px transparent; }
          html body .site-wrapper.page > .site-content header.sticky-header .flex-row {
            display: flex;
            align-items: center;
            justify-content: space-between; }
            html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col {
              margin-bottom: 10px; }
              html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .complete-wrapper {
                display: inline-block;
                position: relative;
                z-index: 1000; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .complete-wrapper .toogle-complete.btn.btn-block {
                  text-align: center;
                  width: 50px;
                  height: 50px;
                  margin-bottom: 0px;
                  box-shadow: none;
                  border-radius: 50%;
                  padding-left: 0px;
                  padding-right: 0px;
                  background-color: transparent;
                  border: 2px solid grey;
                  cursor: pointer; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .complete-wrapper .toogle-complete.btn.btn-block i.glyphicon {
                    top: 3px;
                    font-size: 25px;
                    color: grey; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .complete-wrapper .toogle-complete.btn.btn-block.btn-success {
                    background-color: #5cb85c;
                    border-color: #5cb85c;
                    border: none; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .complete-wrapper .toogle-complete.btn.btn-block.btn-success i.glyphicon {
                      color: white; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .complete-wrapper .toogle-complete.btn.btn-block.btn-success:hover {
                      background-color: #7fdf7f; }
                      html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .complete-wrapper .toogle-complete.btn.btn-block.btn-success:hover i.glyphicon {
                        color: white; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .complete-wrapper .toogle-complete.btn.btn-block:hover {
                    border-color: #5cb85c; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .complete-wrapper .toogle-complete.btn.btn-block:hover i.glyphicon {
                      color: #5cb85c; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .complete-wrapper .toogle-complete.btn.btn-block:focus {
                    outline: none; }
              html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .login-wrapper {
                display: inline-block;
                z-index: 1000;
                vertical-align: middle;
                line-height: 50px;
                position: relative; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .login-wrapper a.btn {
                  color: grey;
                  padding: 0px 30px;
                  background-color: transparent;
                  margin-bottom: 0px; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col .login-wrapper a.btn:hover {
                    color: black; }
              html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.embed-col {
                padding: 0px 10px; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.embed-col .embed-wrapper {
                  position: relative;
                  line-height: 0; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.embed-col .embed-wrapper a {
                    display: inline-block;
                    line-height: 0;
                    color: grey; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.embed-col .embed-wrapper a svg {
                      line-height: 0; }
                      html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.embed-col .embed-wrapper a svg path {
                        fill: currentColor; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.embed-col .embed-wrapper a:hover {
                      color: black; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.embed-col .embed-wrapper #embed-code {
                    position: absolute;
                    top: calc(100% + 10px);
                    right: 0px; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.embed-col .embed-wrapper #embed-code .embed-wrapper {
                      box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.2);
                      background-color: white;
                      padding: 10px;
                      font-size: 1rem;
                      line-height: 1.1;
                      width: 400px; }
                      html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.embed-col .embed-wrapper #embed-code .embed-wrapper > header {
                        margin-bottom: 10px; }
                        html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.embed-col .embed-wrapper #embed-code .embed-wrapper > header h4 {
                          margin: 0px;
                          font-size: 1rem;
                          line-height: 1.1;
                          border-bottom: 1px solid #333;
                          padding-bottom: 0.1rem; }
                        html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.embed-col .embed-wrapper #embed-code .embed-wrapper > header .flex-row .flex-col {
                          line-height: 0;
                          margin-bottom: 0px; }
                      html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.embed-col .embed-wrapper #embed-code .embed-wrapper .embed-code textarea {
                        background-color: #f8f7f9;
                        padding: 10px;
                        height: auto;
                        max-width: 100%;
                        resize: vertical;
                        font-size: .7rem;
                        line-height: 1.1; }
              html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col {
                position: relative; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col:before {
                  content: '';
                  width: 70px;
                  height: 50px;
                  display: block; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper {
                  width: 70px;
                  height: 70px;
                  top: -10px;
                  background-color: transparent;
                  box-shadow: none;
                  z-index: 999; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper .circle-nav-toggle {
                    border: none;
                    width: 50px;
                    height: 50px; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper .circle-nav-toggle svg#Capa_1 {
                      width: 50px; }
                      html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper .circle-nav-toggle svg#Capa_1 g path {
                        fill: grey; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper .circle-nav-toggle.circle-nav-open svg#Capa_1 g path {
                      fill: white; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper ul.circle-nav-menu {
                    width: 300px;
                    height: 300px; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item {
                      width: 45px;
                      height: 45px;
                      padding: 4px 2px 0px 0px;
                      box-sizing: border-box; }
                      html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a {
                        padding: 0px;
                        line-height: 30px; }
                        html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg {
                          width: 30px !important;
                          height: 30px !important; }
                          html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg g path {
                            fill: #ff7b7b !important; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper ul.circle-nav-menu:not(.circle-nav-open) li.circle-nav-item {
                      left: 300px;
                      bottom: 300px; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper .circle-nav-panel {
                    margin-left: 311px; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper .circle-nav-panel.circle-nav-open {
                    margin-left: 311px;
                    width: 600px;
                    height: 600px; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col.circle-col .circle-nav-wrapper.circle-nav-open {
                    z-index: 1001;
                    width: 300px;
                    height: 300px; }
              html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) {
                display: flex;
                align-items: center; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) a.back-to-prev {
                  flex-basis: 50px;
                  width: 50px;
                  height: 50px;
                  display: inline-block;
                  border-radius: 50%;
                  box-sizing: border-box;
                  border: 2px solid grey;
                  text-align: center;
                  color: grey;
                  transition: all .3s; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) a.back-to-prev i {
                    line-height: 45px;
                    vertical-align: middle;
                    font-size: 30px;
                    position: relative;
                    left: 1px;
                    transition: all .3s; }
                  html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) a.back-to-prev:hover {
                    color: black;
                    border-color: black; }
                    html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) a.back-to-prev:hover i {
                      left: -3px; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) .sticky-series-title {
                  padding: 0px 10px;
                  flex-basis: calc(100% - 50px);
                  font-size: 1rem;
                  line-height: 1.2;
                  vertical-align: middle;
                  transition: all .3s;
                  position: relative;
                  color: black;
                  opacity: 0; }
              html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(2) .sticky-post-title {
                max-width: 100%;
                font-size: 1rem;
                line-height: 1.2;
                vertical-align: middle;
                transition: all .3s;
                position: relative;
                color: grey;
                opacity: 0; }
            @media only screen and (max-width: 900px) {
              html body .site-wrapper.page > .site-content header.sticky-header .flex-row {
                flex-wrap: wrap;
                justify-content: center; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(1) {
                  align-items: center;
                  max-width: calc(100% - 200px);
                  min-width: calc(100% - 200px); }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(2) {
                  order: 1; }
                html body .site-wrapper.page > .site-content header.sticky-header .flex-row .flex-col:nth-child(3) {
                  position: relative;
                  flex-basis: 200px;
                  flex-shrink: 0;
                  padding-left: 10px; } }
          html body .site-wrapper.page > .site-content header.sticky-header.appear {
            animation-name: header-sticky-appear;
            animation-duration: .7s;
            animation-delay: .1s;
            animation-fill-mode: forwards; }
          html body .site-wrapper.page > .site-content header.sticky-header.disappear {
            animation-name: header-sticky-disappear;
            animation-duration: .7s;
            animation-fill-mode: forwards; }
          html body .site-wrapper.page > .site-content header.sticky-header.appear, html body .site-wrapper.page > .site-content header.sticky-header.disappear {
            opacity: 0;
            background-color: white;
            box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2); }
            html body .site-wrapper.page > .site-content header.sticky-header.appear .flex-row .flex-col:nth-child(1) .sticky-series-title, html body .site-wrapper.page > .site-content header.sticky-header.disappear .flex-row .flex-col:nth-child(1) .sticky-series-title {
              opacity: 1; }
            html body .site-wrapper.page > .site-content header.sticky-header.appear .flex-row .flex-col:nth-child(2) .sticky-post-title, html body .site-wrapper.page > .site-content header.sticky-header.disappear .flex-row .flex-col:nth-child(2) .sticky-post-title {
              opacity: 1; }
          @media only screen and (max-width: 1300px) {
            html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row {
              flex-wrap: wrap;
              justify-content: center; }
              html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(1) {
                align-items: center;
                max-width: calc(100% - 200px);
                min-width: calc(100% - 200px); }
                html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(1) a.back-to-prev {
                  flex-basis: 50px;
                  width: 50px;
                  height: 50px;
                  display: inline-block;
                  border-radius: 50%;
                  box-sizing: border-box;
                  border: 2px solid grey;
                  text-align: center;
                  color: grey;
                  transition: all .3s; }
                  html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(1) a.back-to-prev i {
                    line-height: 45px;
                    vertical-align: middle;
                    font-size: 30px;
                    position: relative;
                    left: 1px;
                    transition: all .3s; }
                  html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(1) a.back-to-prev:hover {
                    color: black;
                    border-color: black; }
                    html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(1) a.back-to-prev:hover i {
                      left: -3px; }
                html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(1) .sticky-series-title {
                  padding: 0px 10px;
                  flex-basis: calc(100% - 50px);
                  font-size: 1rem;
                  line-height: 1.2;
                  vertical-align: middle;
                  transition: all .3s;
                  position: relative;
                  color: black; }
              html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(2) {
                order: 1; }
                html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(2) .sticky-post-title {
                  max-width: 100%;
                  font-size: 1rem;
                  line-height: 1.2;
                  vertical-align: middle;
                  transition: all .3s;
                  position: relative;
                  color: grey; }
              html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) {
                position: relative;
                flex-basis: 200px;
                flex-shrink: 0;
                padding-left: 10px; }
                html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .complete-wrapper {
                  display: inline-block;
                  position: relative;
                  left: 70px;
                  z-index: 1000; }
                  html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block {
                    text-align: center;
                    width: 50px;
                    height: 50px;
                    margin-bottom: 0px;
                    box-shadow: none;
                    border-radius: 50%;
                    padding-left: 0px;
                    padding-right: 0px;
                    background-color: transparent;
                    border: 2px solid grey;
                    cursor: pointer; }
                    html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block i.glyphicon {
                      top: 3px;
                      font-size: 25px;
                      color: grey; }
                    html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block.btn-success {
                      background-color: #5cb85c;
                      border-color: #5cb85c;
                      border: none; }
                      html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block.btn-success i.glyphicon {
                        color: white; }
                      html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block.btn-success:hover {
                        background-color: #7fdf7f; }
                        html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block.btn-success:hover i.glyphicon {
                          color: white; }
                    html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block:hover {
                      border-color: #5cb85c; }
                      html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block:hover i.glyphicon {
                        color: #5cb85c; }
                    html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .complete-wrapper .toogle-complete.btn.btn-block:focus {
                      outline: none; }
                html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .login-wrapper {
                  display: inline-block;
                  z-index: 1000;
                  vertical-align: middle;
                  line-height: 50px;
                  position: relative; }
                  html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .login-wrapper a.btn {
                    color: grey;
                    padding: 0px 30px;
                    background-color: transparent;
                    margin-bottom: 0px; }
                    html body .site-wrapper.page > .site-content header.sticky-header.long-text .flex-row .flex-col:nth-child(3) .login-wrapper a.btn:hover {
                      color: black; } }
        html body .site-wrapper.page > .site-content article.blog-wrapper {
          max-width: 1024px;
          margin: 0px auto 0px;
          text-align: center;
          position: relative;
          z-index: 2; }
          html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header {
            position: relative;
            margin: 20px 0px 40px; }
            html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header .series-title {
              font-size: 2.2rem;
              line-height: 1.1;
              letter-spacing: 5px;
              position: relative;
              margin: 20px 0px 10px; }
            html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header .post-title {
              font-size: 1.2rem;
              line-height: 1.1;
              letter-spacing: 5px;
              color: #adadb8;
              position: relative;
              margin: 20px 0px 10px; }
            html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header:before, html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header:after {
              content: '';
              display: block;
              width: 1px;
              height: 49px;
              background-color: #d9d9df;
              margin: 0px auto; }
            html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header.appear .series-title, html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header.appear .post-title {
              animation-name: sticky-appear;
              animation-duration: .3s;
              animation-fill-mode: forwards; }
            html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header.disappear .series-title, html body .site-wrapper.page > .site-content article.blog-wrapper header.blog-header.disappear .post-title {
              animation-name: sticky-disappear;
              animation-duration: .3s;
              animation-fill-mode: forwards; }
          html body .site-wrapper.page > .site-content article.blog-wrapper aside.read-time-wrapper {
            display: none;
            max-width: 850px;
            margin: 0px auto;
            color: grey;
            text-align: left;
            padding-bottom: 20px;
            padding-top: 10px;
            font-size: .9rem; }
            html body .site-wrapper.page > .site-content article.blog-wrapper aside.read-time-wrapper .eta {
              display: inline-block; }
          html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body {
            max-width: 780px;
            margin: 0px auto;
            font-size: 1rem;
            line-height: 1.14;
            text-align: left; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h1, html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h2, html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h3, html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h4, html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h5 {
              line-height: 1.1; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h1 {
              font-size: 2rem; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h2 {
              font-size: 1.7rem; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h3, html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h4, html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body h5 {
              font-size: 1.3rem; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body * {
              max-width: 100%; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body img {
              max-width: 100%;
              display: block;
              margin: 0px auto; }
            html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu {
              text-align: center;
              background-color: #f8f7f9;
              padding: 10px 5px; }
              html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu header .menu-title {
                font-size: 2rem; }
              html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu .paths-container .paths-list .path-col {
                padding: 20px 30px;
                flex-basis: 100px;
                flex-shrink: 0;
                flex-grow: 1;
                border-left: 1px dotted grey;
                cursor: pointer;
                word-break: break-all; }
                html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu .paths-container .paths-list .path-col .img-wrapper {
                  height: 150px; }
                  html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu .paths-container .paths-list .path-col .img-wrapper img {
                    opacity: .8;
                    width: 100%;
                    min-width: 100px;
                    max-width: 150px; }
                html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu .paths-container .paths-list .path-col .path-title {
                  font-size: 1.2rem;
                  margin: 10px 0px; }
                html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu .paths-container .paths-list .path-col .path-description {
                  font-size: 1rem;
                  line-height: 1.1; }
                html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu .paths-container .paths-list .path-col:hover {
                  color: black; }
                  html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu .paths-container .paths-list .path-col:hover .img-wrapper img {
                    opacity: 1; }
                html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu .paths-container .paths-list .path-col:first-child {
                  border-left: none; }
              html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu .paths-container .paths-list.paths-count-3 .path-col {
                flex-basis: 30%; }
              @media all and (max-width: 1240px) {
                html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu .paths-container .paths-list.paths-count-4 .path-col {
                  flex-basis: 50%; } }
              html body .site-wrapper.page > .site-content article.blog-wrapper .blog-body .type-menu .paths-container .paths-list.paths-count-5 {
                flex-basis: 30%; }
        html body .site-wrapper.page > .site-content footer.sticky-footer {
          position: fixed;
          z-index: 3;
          bottom: 0px;
          left: 0px;
          width: 100%;
          padding: 10px 15px;
          background-color: white;
          box-shadow: 0px -3px 10px 2px rgba(0, 0, 0, 0.2); }
          html body .site-wrapper.page > .site-content footer.sticky-footer.appear, html body .site-wrapper.page > .site-content footer.sticky-footer.disappear {
            opacity: 0; }
          html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%; }
            html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper {
              flex-basis: calc(100% - 130px);
              display: flex; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .play-speaker-wrapper {
                flex-basis: 60px;
                line-height: 1;
                display: flex;
                padding-right: 5px; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .play-speaker-wrapper .play-speaker, html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .play-speaker-wrapper .pause-speaker {
                  font-size: 50px;
                  margin: auto;
                  line-height: 0;
                  color: grey; }
                  html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .play-speaker-wrapper .play-speaker i, html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .play-speaker-wrapper .pause-speaker i {
                    font-size: inherit;
                    line-height: 1; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .play-speaker-wrapper .pause-speaker {
                  display: none; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .choose-lang-wrapper {
                flex-basis: 400px;
                padding-left: 5px;
                overflow: hidden; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .choose-lang-wrapper .select-wrapper .select-dropdown {
                  margin-bottom: 0px;
                  font-size: 15px;
                  white-space: pre;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  height: auto;
                  line-height: 2;
                  padding-right: 25px; }
                  html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .choose-lang-wrapper .select-wrapper .select-dropdown:after {
                    top: 5px;
                    line-height: 1; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .choose-lang-wrapper select {
                  font-size: .5rem; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .rate-wrapper {
                flex-basis: 200px; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper .pitch-wrapper {
                flex-basis: 200px; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper.speaking .play-speaker-wrapper .play-speaker {
                display: none; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper.speaking .play-speaker-wrapper .pause-speaker {
                display: inline-block; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper.pause .play-speaker-wrapper .play-speaker {
                display: inline-block; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper.pause .play-speaker-wrapper .pause-speaker {
                display: none; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper label {
                font-weight: normal;
                margin-bottom: 0px;
                line-height: 1;
                font-size: 18px; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .speaker-wrapper > * {
                padding: 0px 20px; }
            html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .font-control-wrapper {
              display: flex;
              flex-basis: 130px;
              flex-shrink: 0;
              text-align: right; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .font-control-wrapper .font-control-container {
                margin: auto; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .font-control-wrapper .font-control-container .font-control {
                  display: inline-block;
                  margin: 1px;
                  color: black;
                  padding: 0px 5px;
                  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
                  font-family: "Open Sans", arial, serif; }
                  html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row .font-control-wrapper .font-control-container .font-control:focus {
                    background-color: buttonface; }
            html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row > * {
              margin-bottom: 10px; }
            html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper {
              flex-basis: calc(100% - 130px - 400px);
              display: flex; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper .play-speaker-wrapper {
                flex-basis: 60px;
                line-height: 1;
                display: flex;
                padding-right: 5px; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper .play-speaker-wrapper .play-speaker, html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper .play-speaker-wrapper .pause-speaker {
                  font-size: 50px;
                  margin: auto;
                  line-height: 0;
                  color: grey; }
                  html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper .play-speaker-wrapper .play-speaker i, html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper .play-speaker-wrapper .pause-speaker i {
                    font-size: inherit;
                    line-height: 1; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper .play-speaker-wrapper .pause-speaker {
                  display: none; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper .choose-lang-wrapper {
                flex-basis: 400px;
                padding-left: 5px;
                overflow: hidden; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper .choose-lang-wrapper .select-wrapper .select-dropdown {
                  margin-bottom: 0px;
                  font-size: 15px;
                  white-space: pre;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  height: auto;
                  line-height: 2;
                  padding-right: 25px; }
                  html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper .choose-lang-wrapper .select-wrapper .select-dropdown:after {
                    top: 5px;
                    line-height: 1; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper .choose-lang-wrapper select {
                  font-size: .5rem; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper .rate-wrapper {
                flex-basis: 200px; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper .pitch-wrapper {
                flex-basis: 200px; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper.speaking .play-speaker-wrapper .play-speaker {
                display: none; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper.speaking .play-speaker-wrapper .pause-speaker {
                display: inline-block; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper.pause .play-speaker-wrapper .play-speaker {
                display: inline-block; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper.pause .play-speaker-wrapper .pause-speaker {
                display: none; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper label {
                font-weight: normal;
                margin-bottom: 0px;
                line-height: 1;
                font-size: 18px; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .speaker-wrapper > * {
                padding: 0px 20px; }
            html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .visit-cnt-left-wrapper .visit-cnt-left-content {
              font-size: 1rem;
              line-height: 55px;
              vertical-align: middle; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .visit-cnt-left-wrapper .visit-cnt-left-content .left-1 {
                color: #eeaa4f; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .visit-cnt-left-wrapper .visit-cnt-left-content .left-2 {
                color: rgba(192, 134, 69, 0.8); }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .visit-cnt-left-wrapper .visit-cnt-left-content .left-3 {
                color: rgba(160, 113, 58, 0.7); }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .visit-cnt-left-wrapper .visit-cnt-left-content .left-5 {
                color: #8f8f8f; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .visit-cnt-left-wrapper .visit-cnt-left-content .left-6 {
                color: #7a7a7a; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .visit-cnt-left-wrapper .visit-cnt-left-content .left-7 {
                color: #828282; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .visit-cnt-left-wrapper .visit-cnt-left-content .left-8 {
                color: #767676; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .visit-cnt-left-wrapper .visit-cnt-left-content .left-9 {
                color: #606060; }
            html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .font-control-wrapper {
              display: flex;
              flex-basis: 130px;
              text-align: right; }
              html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .font-control-wrapper .font-control-container {
                margin: auto; }
                html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .font-control-wrapper .font-control-container .font-control {
                  display: inline-block;
                  margin: 1px;
                  color: black;
                  padding: 0px 5px;
                  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
                  font-family: "Open Sans", arial, serif; }
                  html body .site-wrapper.page > .site-content footer.sticky-footer .flex-row.not-loggedin .font-control-wrapper .font-control-container .font-control:focus {
                    background-color: buttonface; }
          html body .site-wrapper.page > .site-content footer.sticky-footer.appear {
            animation-name: footer-sticky-appear;
            animation-duration: .7s;
            animation-delay: .2s;
            animation-fill-mode: forwards; }
          html body .site-wrapper.page > .site-content footer.sticky-footer.disappear {
            animation-name: footer-sticky-disappear;
            animation-duration: .7s;
            animation-fill-mode: forwards; }
        html body .site-wrapper.page > .site-content.post-type-7, html body .site-wrapper.page > .site-content.post-type-8, html body .site-wrapper.page > .site-content.post-type-10 {
          padding-bottom: 100px; }
          html body .site-wrapper.page > .site-content.post-type-7 footer.sticky-footer, html body .site-wrapper.page > .site-content.post-type-8 footer.sticky-footer, html body .site-wrapper.page > .site-content.post-type-10 footer.sticky-footer {
            display: block; }
          html body .site-wrapper.page > .site-content.post-type-7 article.blog-wrapper .read-time-wrapper, html body .site-wrapper.page > .site-content.post-type-8 article.blog-wrapper .read-time-wrapper, html body .site-wrapper.page > .site-content.post-type-10 article.blog-wrapper .read-time-wrapper {
            display: block; }
      html body .site-wrapper.page > .decoration-container .nav-portion {
        position: fixed;
        top: 0px;
        bottom: 0px;
        width: 100px;
        z-index: 1;
        opacity: 0;
        transition: all .1s; }
        html body .site-wrapper.page > .decoration-container .nav-portion.left-portion {
          left: 0px;
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), transparent); }
        html body .site-wrapper.page > .decoration-container .nav-portion.right-portion {
          right: 0px;
          background-image: linear-gradient(to left, rgba(0, 0, 0, 0.05), transparent); }
        html body .site-wrapper.page > .decoration-container .nav-portion:hover {
          opacity: 1; }
        html body .site-wrapper.page > .decoration-container .nav-portion.disabled {
          display: none; }
    html body .dropdown-content.select-dropdown {
      top: auto !important;
      bottom: 10px !important; }
      html body .dropdown-content.select-dropdown li span {
        font-size: 15px;
        line-height: 1.1;
        white-space: pre-line;
        padding: 5px 10px;
        color: grey; }

.form-field-wrapper {
  margin: 5px auto; }
  .form-field-wrapper .form-field-inner {
    display: inline-flex;
    border: 1px #a9a9a9 solid;
    padding: 0px; }
    .form-field-wrapper .form-field-inner label.form-field-name {
      padding: 5px 10px;
      margin: 0px;
      background-color: #f8f7f9; }
    .form-field-wrapper .form-field-inner .form-field-value {
      padding: 5px 10px;
      border-left: 1px solid #a9a9a9;
      background-color: white;
      min-width: 100px; }
      .form-field-wrapper .form-field-inner .form-field-value[contentEditable=true]:empty:not(:focus):before {
        content: attr(placeholder);
        cursor: text; }
    .form-field-wrapper .form-field-inner .form-field-helper {
      margin: 2px;
      padding: 5px 5px;
      color: white;
      align-self: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #25b7d3;
      font-family: FontAwesome;
      font-weight: bold;
      text-align: center;
      font-size: 25px;
      line-height: 21px;
      cursor: default; }
  .form-field-wrapper.status-loading {
    color: orange;
    transition: color ease-in .005s; }
    .form-field-wrapper.status-loading .form-field-inner {
      transition: border-color ease-in .005s;
      border-color: orange; }
  .form-field-wrapper.status-loading-finished {
    animation-name: loading-finished;
    animation-duration: .3s;
    animation-fill-mode: forwards; }
    .form-field-wrapper.status-loading-finished .form-field-inner {
      animation-name: loading-finished;
      animation-duration: .3s;
      animation-fill-mode: forwards; }
@keyframes loading-finished {
  from {
    border-color: orange;
    color: orange; }
  to {
    color: grey;
    border-color: #a9a9a9; } }
.form-field-wrapper {
  margin: 5px auto; }
  .form-field-wrapper .form-field-inner {
    display: inline-flex;
    border: 1px #a9a9a9 solid;
    padding: 0px;
    line-height: 1.1; }
    .form-field-wrapper .form-field-inner label.form-field-name {
      padding: 5px 10px;
      margin: 0px;
      background-color: #f8f7f9;
      font-weight: normal;
      line-height: 1; }
    .form-field-wrapper .form-field-inner .form-field-value {
      padding: 5px 10px;
      border-left: 1px solid #a9a9a9;
      background-color: white;
      font-weight: normal;
      line-height: 1; }
      .form-field-wrapper .form-field-inner .form-field-value input[type=checkbox] {
        position: static; }

@keyframes header-sticky-appear {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@keyframes header-sticky-disappear {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(-100px); } }
@keyframes footer-sticky-appear {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@keyframes footer-sticky-disappear {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(100px); } }
@keyframes sticky-appear {
  0% {
    opacity: 0;
    transform: translateY(-15px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@keyframes sticky-disappear {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(-15px); } }

/*# sourceMappingURL=view-page.css.map */
