$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;
$blue: #0ca5ff;
$blue_hover: rgba(12, 165, 255, .7);
// Variables
$grey: grey;

html{
    font-size: 24px;
    overflow-y: scroll;
    body{
        position: static;
        .site-wrapper.page{
            font-family: $default_font_family;
            position: relative;
            & > .site-content{
                padding: 30px 50px;
                padding-bottom: 100px;
                position: relative;
                header.sticky-header{
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 30px 20px 10px;
                    z-index: 3;
                    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0);
                    .flex-row{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .flex-col{
                            margin-bottom: 10px;

                            .complete-wrapper{
                                display: inline-block;
                                position: relative;
                                //left: 10px;
                                z-index: 1000;
                                .toogle-complete.btn.btn-block{
                                    text-align: center;
                                    width: 50px;
                                    height: 50px;
                                    margin-bottom: 0px;
                                    box-shadow: none;
                                    border-radius: 50%;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    background-color: transparent;
                                    border: 2px solid $grey;
                                    cursor: pointer;
                                    i.glyphicon{
                                        top: 3px;
                                        font-size: 25px;
                                        color: $grey;
                                    }
                                    &.btn-success{
                                        background-color: rgb(92, 184, 92);
                                        border-color: rgb(92, 184, 92);
                                        border: none;
                                        i.glyphicon{
                                            color: white;
                                        }
                                        &:hover{
                                            background-color: rgb(127, 223, 127);
                                            i.glyphicon{
                                                color: white;
                                            }
                                        }
                                    }
                                    &:hover{
                                        border-color: rgb(92, 184, 92);
                                        i.glyphicon{
                                            color: rgb(92, 184, 92);
                                        }
                                    }
                                    &:focus{
                                        outline: none;
                                    }
                                }
                            }
                            .login-wrapper{
                                display: inline-block;
                                z-index: 1000;
                                vertical-align: middle;
                                line-height: 50px;
                                position: relative;
                                a.btn{
                                    color: $content_color;
                                    padding: 0px 30px;
                                    background-color: transparent;
                                    margin-bottom: 0px;
                                    &:hover{
                                        color: black;
                                    }
                                }
                            }
                            &.embed-col{
                                padding: 0px 10px;
                                .embed-wrapper{
                                    position: relative;
                                    line-height: 0;
                                    a{
                                        display: inline-block;
                                        line-height: 0;
                                        color: $content_color;
                                        svg{
                                            line-height: 0;
                                            path{
                                                fill: currentColor;
                                            }
                                        }
                                        &:hover{
                                            color: black;
                                        }
                                    }
                                    #embed-code{
                                        position: absolute;
                                        top: calc(100% + 10px);
                                        right: 0px;
                                        .embed-wrapper{
                                            box-shadow: 0 0 20px 5px hsla(0,0%,50%,.2);
                                            background-color: white;
                                            padding: 10px;
                                            font-size: 1rem;
                                            line-height: 1.1;
                                            width: 400px;
                                            >header{
                                                margin-bottom: 10px;
                                                h4{
                                                    margin: 0px;
                                                    font-size: 1rem;
                                                    line-height: 1.1;
                                                    border-bottom: 1px solid #333;
                                                    padding-bottom: 0.1rem;
                                                }
                                                .flex-row{
                                                    .flex-col{
                                                        line-height: 0;
                                                        margin-bottom: 0px;
                                                    }
                                                }
                                            }
                                            .embed-code{
                                                textarea{
                                                    background-color: #f8f7f9;
                                                    padding: 10px;
                                                    height: auto;
                                                    max-width: 100%;
                                                    resize: vertical;
                                                    font-size: .7rem;
                                                    line-height: 1.1;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.circle-col{
                                position: relative;
                                &:before{
                                    content: '';
                                    width: 70px;
                                    height: 50px;
                                    display: block;
                                }
                                .circle-nav-wrapper{
                                    width: 70px;
                                    height: 70px;
                                    top: -10px;
                                    background-color: transparent;
                                    box-shadow: none;
                                    z-index: 999;
                                    .circle-nav-toggle{
                                        border: none;
                                        width: 50px;
                                        height: 50px;
                                        svg#Capa_1{
                                            width: 50px;
                                            g{
                                                path{
                                                    fill: $grey;
                                                }
                                            }
                                        }
                                        &.circle-nav-open{
                                            svg#Capa_1{
                                                g{
                                                    path{
                                                        fill: white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    ul.circle-nav-menu{
                                        width: 300px;
                                        height: 300px;
                                        li.circle-nav-item{
                                            width: 45px;
                                            height: 45px;
                                            padding: 4px 2px 0px 0px;
                                            box-sizing: border-box;
                                            a{
                                                padding: 0px;
                                                line-height: 30px;
                                                svg{
                                                    width: 30px !important;
                                                    height: 30px !important;
                                                    g{
                                                        path{
                                                            fill: #ff7b7b !important;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        &:not(.circle-nav-open){
                                            li.circle-nav-item{
                                                left: 300px;
                                                bottom: 300px;
                                            }
                                        }
                                        &.circle-nav-open{

                                        }
                                    }
                                    .circle-nav-panel{
                                        margin-left: 311px;
                                    }
                                    .circle-nav-panel.circle-nav-open{
                                        margin-left: 311px;
                                        width: 600px;
                                        height: 600px;
                                    }
                                    &.circle-nav-open{
                                        z-index: 1001;
                                        width: 300px;
                                        height: 300px;
                                    }
                                }
                            }
                            &:nth-child(1){
                                display: flex;
                                align-items: center;
                                a.back-to-prev{
                                    flex-basis: 50px;
                                    width: 50px;
                                    height: 50px;
                                    display: inline-block;
                                    border-radius: 50%;
                                    box-sizing: border-box;
                                    border: 2px solid $grey;
                                    text-align: center;
                                    color: $grey;
                                    transition: all .3s;
                                    i{
                                        line-height: 45px;
                                        vertical-align: middle;
                                        font-size: 30px;
                                        position: relative;
                                        left: 1px;
                                        transition: all .3s;
                                    }
                                    &:hover{
                                        color: black;
                                        border-color: black;
                                        i{
                                            left: -3px;
                                        }
                                    }
                                }
                                .sticky-series-title{
                                    padding: 0px 10px;
                                    flex-basis: calc(100% - 50px);
                                    font-size: 1rem;
                                    line-height: 1.2;
                                    vertical-align: middle;
                                    transition: all .3s;
                                    position: relative;
                                    color: black;
                                    opacity: 0;
                                }
                            }
                            &:nth-child(2){
                                .sticky-post-title{
                                    max-width: 100%;
                                    font-size: 1rem;
                                    line-height: 1.2;
                                    vertical-align: middle;
                                    transition: all .3s;
                                    position: relative;
                                    color: $grey;
                                    opacity: 0;
                                }
                            }
                        }
                        @media only screen and (max-width: 900px) {
                            flex-wrap: wrap;
                            justify-content: center;
                            .flex-col{
                                &:nth-child(1){
                                    align-items: center;
                                    max-width: calc(100% - 200px);
                                    min-width: calc(100% - 200px);
                                }
                                &:nth-child(2){
                                    order: 1;
                                }
                                &:nth-child(3){
                                    position: relative;
                                    flex-basis: 200px;
                                    flex-shrink: 0;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                    &.appear{
                        animation-name: header-sticky-appear;
                        animation-duration: .7s;
                        animation-delay: .1s;
                        animation-fill-mode: forwards;
                        .flex-col{
                            .sticky-series-title, .sticky-post-title, .back-to-prev, .login-wrapper, .circle-nav-wrapper{
                            }
                        }
                    }
                    &.disappear{
                        animation-name: header-sticky-disappear;
                        animation-duration: .7s;
                        animation-fill-mode: forwards;
                    }
                    &.appear, &.disappear{
                        opacity: 0;
                        background-color: white;
                        box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, .2);
                        .flex-row{
                            .flex-col{
                                &:nth-child(1){
                                    .sticky-series-title{
                                        opacity: 1;
                                    }
                                }
                                &:nth-child(2){
                                    .sticky-post-title{
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                    &.long-text{
                        @media only screen and (max-width: 1300px) {
                            .flex-row{
                                flex-wrap: wrap;
                                justify-content: center;
                                .flex-col{
                                    &:nth-child(1){
                                        align-items: center;
                                        max-width: calc(100% - 200px);
                                        min-width: calc(100% - 200px);
                                        a.back-to-prev{
                                            flex-basis: 50px;
                                            width: 50px;
                                            height: 50px;
                                            display: inline-block;
                                            border-radius: 50%;
                                            box-sizing: border-box;
                                            border: 2px solid $grey;
                                            text-align: center;
                                            color: $grey;
                                            transition: all .3s;
                                            i{
                                                line-height: 45px;
                                                vertical-align: middle;
                                                font-size: 30px;
                                                position: relative;
                                                left: 1px;
                                                transition: all .3s;
                                            }
                                            &:hover{
                                                color: black;
                                                border-color: black;
                                                i{
                                                    left: -3px;
                                                }
                                            }
                                        }
                                        .sticky-series-title{
                                            padding: 0px 10px;
                                            flex-basis: calc(100% - 50px);
                                            font-size: 1rem;
                                            line-height: 1.2;
                                            vertical-align: middle;
                                            transition: all .3s;
                                            position: relative;
                                            color: black;
                                        }
                                    }
                                    &:nth-child(2){
                                        order: 1;
                                        .sticky-post-title{
                                            max-width: 100%;
                                            font-size: 1rem;
                                            line-height: 1.2;
                                            vertical-align: middle;
                                            transition: all .3s;
                                            position: relative;
                                            color: $grey;
                                        }
                                    }
                                    &:nth-child(3){
                                        position: relative;
                                        flex-basis: 200px;
                                        flex-shrink: 0;
                                        padding-left: 10px;
                                        .complete-wrapper{
                                            display: inline-block;
                                            position: relative;
                                            left: 70px;
                                            z-index: 1000;
                                            .toogle-complete.btn.btn-block{
                                                text-align: center;
                                                width: 50px;
                                                height: 50px;
                                                margin-bottom: 0px;
                                                box-shadow: none;
                                                border-radius: 50%;
                                                padding-left: 0px;
                                                padding-right: 0px;
                                                background-color: transparent;
                                                border: 2px solid $grey;
                                                cursor: pointer;
                                                i.glyphicon{
                                                    top: 3px;
                                                    font-size: 25px;
                                                    color: $grey;
                                                }
                                                &.btn-success{
                                                    background-color: rgb(92, 184, 92);
                                                    border-color: rgb(92, 184, 92);
                                                    border: none;
                                                    i.glyphicon{
                                                        color: white;
                                                    }
                                                    &:hover{
                                                        background-color: rgb(127, 223, 127);
                                                        i.glyphicon{
                                                            color: white;
                                                        }
                                                    }
                                                }
                                                &:hover{
                                                    border-color: rgb(92, 184, 92);
                                                    i.glyphicon{
                                                        color: rgb(92, 184, 92);
                                                    }
                                                }
                                                &:focus{
                                                    outline: none;
                                                }
                                            }
                                        }
                                        .login-wrapper{
                                            display: inline-block;
                                            z-index: 1000;
                                            vertical-align: middle;
                                            line-height: 50px;
                                            position: relative;
                                            a.btn{
                                                color: $content_color;
                                                padding: 0px 30px;
                                                background-color: transparent;
                                                margin-bottom: 0px;
                                                &:hover{
                                                    color: black;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                article.blog-wrapper{
                    max-width: 1024px;
                    margin: 0px auto 0px;
                    text-align: center;
                    position: relative;
                    z-index: 2;
                    header.blog-header{
                        position: relative;
                        margin: 20px 0px 40px;
                        .series-title{
                            font-size: 2.2rem;
                            line-height: 1.1;
                            letter-spacing: 5px;
                            position: relative;
                            margin: 20px 0px 10px;
                        }
                        .post-title{
                            font-size: 1.2rem;
                            line-height: 1.1;
                            letter-spacing: 5px;
                            color: #adadb8;
                            position: relative;
                            margin: 20px 0px 10px;
                        }
                        &:before, &:after{
                            content: '';
                            display: block;
                            width: 1px;
                            height: 49px;
                            background-color: rgb(217, 217, 223);
                            margin: 0px auto;
                        }
                        &.appear{
                            .series-title, .post-title{
                                animation-name: sticky-appear;
                                animation-duration: .3s;
                                animation-fill-mode: forwards;
                            }
                        }
                        &.disappear{
                            .series-title, .post-title{
                                animation-name: sticky-disappear;
                                animation-duration: .3s;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
                    aside.read-time-wrapper{
                        display: none;
                        max-width: 850px;
                        margin: 0px auto;
                        color:grey;
                        text-align: left;
                        padding-bottom: 20px;
                        padding-top: 10px;
                        font-size: .9rem;
                        .eta{
                            display: inline-block;
                        }
                    }
                    .blog-body{
                        max-width: 780px;
                        margin: 0px auto;
                        font-size: 1rem;
                        line-height: 1.14;
                        text-align: left;
                        h1, h2, h3, h4, h5{
                            line-height: 1.1;
                        }
                        h1{
                            font-size: 2rem;
                        }
                        h2{
                            font-size: 1.7rem;
                        }
                        h3, h4, h5{
                            font-size: 1.3rem;
                        }
                        *{
                            max-width: 100%;
                        }
                        img{
                            max-width: 100%;
                            display: block;
                            margin: 0px auto;
                        }
                        .type-menu{
                            text-align: center;
                            background-color: #f8f7f9;
                            padding: 10px 5px;
                            header{
                                .menu-title{
                                    font-size: 2rem;
                                }
                                .menu-description{
                                }
                            }
                            .paths-container{
                                .paths-list{
                                    .path-col{
                                        padding: 20px 30px;
                                        flex-basis: 100px;
                                        flex-shrink: 0;
                                        flex-grow: 1;
                                        border-left: 1px dotted $content_color;
                                        cursor: pointer;
                                        word-break: break-all;
                                        .img-wrapper{
                                            height: 150px;
                                            img{
                                                opacity: .8;
                                                width: 100%;
                                                min-width: 100px;
                                                max-width: 150px;
                                            }
                                        }
                                        .path-title{
                                            font-size: 1.2rem;
                                            margin: 10px 0px;
                                        }
                                        .path-description{
                                            font-size: 1rem;
                                            line-height: 1.1;
                                        }
                                        &:hover{
                                            color: black;
                                            .img-wrapper{
                                                img{
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                        &:first-child{
                                            border-left: none;
                                        }
                                    }
                                    &.paths-count-3{
                                        .path-col{
                                            flex-basis: 30%;
                                        }
                                    }
                                    &.paths-count-4{
                                        .path-col{
                                            @media all and (max-width: 1240px) {
                                                flex-basis: 50%;
                                            }
                                        }
                                    }
                                    &.paths-count-5{
                                        flex-basis: 30%;
                                    }
                                }
                            }
                        }
                    }
                }
                footer.sticky-footer{
                    position: fixed;
                    z-index: 3;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    padding: 10px 15px;
                    background-color: white;
                    box-shadow: 0px -3px 10px 2px rgba(0, 0, 0, .2);
                    &.appear, &.disappear{
                        opacity: 0;
                    }
                    .flex-row{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        width: 100%;
                        .speaker-wrapper{
                            flex-basis: calc(100% - 130px);
                            display: flex;
                            .play-speaker-wrapper{
                                flex-basis: 60px;
                                line-height: 1;
                                display: flex;
                                padding-right: 5px;
                                .play-speaker, .pause-speaker{
                                    font-size: 50px;
                                    margin: auto;
                                    line-height: 0;
                                    color: $grey;
                                    i{
                                        font-size: inherit;
                                        line-height: 1;
                                    }
                                }
                                .pause-speaker{
                                    display: none;
                                }
                            }
                            .choose-lang-wrapper{
                                flex-basis: 400px;
                                padding-left: 5px;
                                overflow: hidden;
                                .select-wrapper{
                                    .select-dropdown{
                                        margin-bottom: 0px;
                                        font-size: 15px;
                                        white-space: pre;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        height: auto;
                                        line-height: 2;
                                        padding-right: 25px;
                                        &:after{
                                            top: 5px;
                                            line-height: 1;
                                        }
                                    }
                                }
                                select{
                                    font-size: .5rem;
                                }
                            }
                            .rate-wrapper{
                                flex-basis: 200px;
                            }
                            .pitch-wrapper{
                                flex-basis: 200px;
                            }
                            &.speaking{
                                .play-speaker-wrapper{
                                    .play-speaker{
                                        display: none;
                                    }
                                    .pause-speaker{
                                        display: inline-block;
                                    }
                                }
                            }
                            &.pause{
                                .play-speaker-wrapper{
                                    .play-speaker{
                                        display: inline-block;
                                    }
                                    .pause-speaker{
                                        display: none;
                                    }
                                }
                            }
                            label{
                                font-weight: normal;
                                margin-bottom: 0px;
                                line-height: 1;
                                font-size: 18px;
                            }
                            > *{
                                padding: 0px 20px;
                            }
                        }
                        .font-control-wrapper{
                            display: flex;
                            flex-basis: 130px;
                            flex-shrink: 0;
                            text-align: right;
                            .font-control-container{
                                margin: auto;
                                .font-control{
                                    display: inline-block;
                                    margin: 1px;
                                    color: black;
                                    padding: 0px 5px;
                                    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .1);
                                    font-family: "Open Sans", arial, serif;
                                    &:focus{
                                        background-color: buttonface;
                                    }
                                }
                            }
                        }
                        > *{
                            margin-bottom: 10px;
                        }
                        &.not-loggedin{
                            .speaker-wrapper{
                                flex-basis: calc(100% - 130px - 400px);
                                display: flex;
                                .play-speaker-wrapper{
                                    flex-basis: 60px;
                                    line-height: 1;
                                    display: flex;
                                    padding-right: 5px;
                                    .play-speaker, .pause-speaker{
                                        font-size: 50px;
                                        margin: auto;
                                        line-height: 0;
                                        color: $grey;
                                        i{
                                            font-size: inherit;
                                            line-height: 1;
                                        }
                                    }
                                    .pause-speaker{
                                        display: none;
                                    }
                                }
                                .choose-lang-wrapper{
                                    flex-basis: 400px;
                                    padding-left: 5px;
                                    overflow: hidden;
                                    .select-wrapper{
                                        .select-dropdown{
                                            margin-bottom: 0px;
                                            font-size: 15px;
                                            white-space: pre;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            height: auto;
                                            line-height: 2;
                                            padding-right: 25px;
                                            &:after{
                                                top: 5px;
                                                line-height: 1;
                                            }
                                        }
                                    }
                                    select{
                                        font-size: .5rem;
                                    }
                                }
                                .rate-wrapper{
                                    flex-basis: 200px;
                                }
                                .pitch-wrapper{
                                    flex-basis: 200px;
                                }
                                &.speaking{
                                    .play-speaker-wrapper{
                                        .play-speaker{
                                            display: none;
                                        }
                                        .pause-speaker{
                                            display: inline-block;
                                        }
                                    }
                                }
                                &.pause{
                                    .play-speaker-wrapper{
                                        .play-speaker{
                                            display: inline-block;
                                        }
                                        .pause-speaker{
                                            display: none;
                                        }
                                    }
                                }
                                label{
                                    font-weight: normal;
                                    margin-bottom: 0px;
                                    line-height: 1;
                                    font-size: 18px;
                                }
                                > *{
                                    padding: 0px 20px;
                                }
                            }
                            .visit-cnt-left-wrapper{
                                //flex-basis: 400px;
                                //flex-grow: 1;
                                .visit-cnt-left-content{
                                    font-size: 1rem;
                                    line-height: 55px;
                                    vertical-align: middle;
                                    .left-1{
                                        color: rgb(238, 170, 79);
                                    }
                                    .left-2{
                                        color: rgba(192, 134, 69, 0.8);
                                    }
                                    .left-3{
                                        color: rgba(160, 113, 58, 0.7);
                                    }
                                    .left-5{
                                        color: #8f8f8f;
                                    }
                                    .left-6{
                                        color: #7a7a7a;
                                    }
                                    .left-7{
                                        color: #828282;
                                    }
                                    .left-8{
                                        color: #767676;
                                    }
                                    .left-9{
                                        color: #606060;
                                    }
                                }
                            }
                            .font-control-wrapper{
                                display: flex;
                                flex-basis: 130px;
                                text-align: right;
                                .font-control-container{
                                    margin: auto;
                                    .font-control{
                                        display: inline-block;
                                        margin: 1px;
                                        color: black;
                                        padding: 0px 5px;
                                        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .1);
                                        font-family: "Open Sans", arial, serif;
                                        &:focus{
                                            background-color: buttonface;
                                        }
                                    }
                                }
                            }
                        }
                        @media only screen and (max-width: 1140px) {
                            //display: block;
                        }
                    }
                    &.appear{
                        animation-name: footer-sticky-appear;
                        animation-duration: .7s;
                        animation-delay: .2s;
                        animation-fill-mode: forwards;
                    }
                    &.disappear{
                        animation-name: footer-sticky-disappear;
                        animation-duration: .7s;
                        animation-fill-mode: forwards;
                    }
                }
                &.post-type-7, &.post-type-8, &.post-type-10{
                    padding-bottom: 100px;
                    footer.sticky-footer{
                        display: block;
                    }
                    article.blog-wrapper{
                        .read-time-wrapper{
                            display: block;
                        }
                    }
                }
            }
            & > .decoration-container{
                .nav-portion{
                    position: fixed;
                    top: 0px;
                    bottom: 0px;
                    width: 100px;
                    z-index: 1;
                    opacity: 0;
                    transition: all .1s;
                    &.left-portion{
                        left: 0px;
                        background-image: linear-gradient(to right, rgba(0, 0, 0, .05), rgba(0, 0, 0, 0));
                    }
                    &.right-portion{
                        right: 0px;
                        background-image: linear-gradient(to left, rgba(0, 0, 0, .05), rgba(0, 0, 0, 0));
                    }
                    &:hover{
                        opacity: 1;
                    }
                    &.disabled {
                        display: none;
                    }
                }
            }
        }
        .dropdown-content.select-dropdown{
            top: auto !important;
            bottom: 10px !important;
            li{
                span{
                    font-size: 15px;
                    line-height: 1.1;
                    white-space: pre-line;
                    padding: 5px 10px;
                    color: $grey;
                }
            }
        }
    }
}
.form-field-wrapper{
    $border-color: #a9a9a9;
    $focus-color: orange;
    margin: 5px auto;
    .form-field-inner{
        display: inline-flex;
        border: 1px #a9a9a9 solid;
        padding: 0px;
        label.form-field-name{
            padding: 5px 10px;
            margin: 0px;
            background-color: #f8f7f9;
        }
        .form-field-value{
            padding: 5px 10px;
            border-left: 1px solid #a9a9a9;
            background-color: white;
            min-width: 100px;
            &[contentEditable=true]:empty:not(:focus):before{
                content: attr(placeholder);
                cursor: text;
            }
        }
        .form-field-helper {
            margin: 2px;
            padding: 5px 5px;
            color: white;
            align-self: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #25b7d3;
            font-family: FontAwesome;
            font-weight: bold;
            text-align: center;
            font-size: 25px;
            line-height: 21px;
            cursor: default;
        }
    }
    &.status-loading{
        color: $focus-color;
        transition: color ease-in .005s;
        .form-field-inner{
            transition: border-color ease-in .005s;
            border-color: $focus-color;
        }
    }
    &.status-loading-finished{
        animation-name: loading-finished;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        .form-field-inner{
            animation-name: loading-finished;
            animation-duration: .3s;
            animation-fill-mode: forwards;
        }
    }
    @keyframes loading-finished {
        from{
            border-color: $focus-color;
            color: $focus-color;
        }
        to {
            color: $content_color;
            border-color: $border-color;
        }
    }
}
.form-field-wrapper{
    margin: 5px auto;
    .form-field-inner{
        display: inline-flex;
        border: 1px #a9a9a9 solid;
        padding: 0px;
        line-height: 1.1;
        label.form-field-name{
            padding: 5px 10px;
            margin: 0px;
            background-color: #f8f7f9;
            font-weight: normal;
            line-height: 1;
        }
        .form-field-value{
            padding: 5px 10px;
            border-left: 1px solid #a9a9a9;
            background-color: white;
            font-weight: normal;
            line-height: 1;
            input[type=checkbox] {
                position: static;
            }
        }
    }
}
@keyframes header-sticky-appear {
    0% {
        opacity: 0;
        //top: -10px;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        //top: 0;
    }
}
@keyframes header-sticky-disappear {
    0% {
        opacity: 1;
        transform: translateY(0px);
        //top: 0px;
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
        //top: -10px;
    }
}


@keyframes footer-sticky-appear {
    0% {
        opacity: 0;
        //top: -10px;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        //top: 0;
    }
}
@keyframes footer-sticky-disappear {
    0% {
        opacity: 1;
        transform: translateY(0px);
        //top: 0px;
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
        //top: -10px;
    }
}

@keyframes sticky-appear {
    0% {
        opacity: 0;
        //top: -10px;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        //top: 0;
    }
}
@keyframes sticky-disappear {
    0% {
        opacity: 1;
        transform: translateY(0px);
        //top: 0px;
    }
    100% {
        opacity: 0;
        transform: translateY(-15px);
        //top: -10px;
    }
}