html.walden-site body .posts-container {
  position: relative;
  padding: 20px 0px; }
  html.walden-site body .posts-container ul {
    list-style: none;
    margin: 10px;
    position: relative;
    overflow: hidden; }
    html.walden-site body .posts-container ul > li {
      margin: 0px;
      font-size: 1.5rem;
      width: 100%;
      display: list-item; }
      html.walden-site body .posts-container ul > li > .post-row-inner {
        padding: 16px 5px 16px 0px; }
        html.walden-site body .posts-container ul > li > .post-row-inner .jstree-icon {
          background-image: url(../../images/global-icons/tree/32px-type2.png); }
        html.walden-site body .posts-container ul > li > .post-row-inner .jstree-ocl {
          background-position: -96px 0; }
        html.walden-site body .posts-container ul > li > .post-row-inner .drag-icon-wrapper {
          flex-basis: 50px;
          text-align: center;
          opacity: 1;
          line-height: 0; }
          html.walden-site body .posts-container ul > li > .post-row-inner .drag-icon-wrapper img {
            display: none;
            height: 32px;
            cursor: initial; }
        html.walden-site body .posts-container ul > li > .post-row-inner .img-col {
          line-height: 0; }
          html.walden-site body .posts-container ul > li > .post-row-inner .img-col .post-image {
            height: 34px; }
        html.walden-site body .posts-container ul > li > .post-row-inner .post-title {
          padding-left: 10px;
          flex-grow: 1;
          line-height: 32px; }
        html.walden-site body .posts-container ul > li > .post-row-inner .post-body {
          margin: 0px 0px 0px 80px; }
          html.walden-site body .posts-container ul > li > .post-row-inner .post-body .body-inner {
            padding: 15px; }
            html.walden-site body .posts-container ul > li > .post-row-inner .post-body .body-inner .blog-type {
              max-width: 100%; }
            html.walden-site body .posts-container ul > li > .post-row-inner .post-body .body-inner .type-2 {
              width: 600px; }
        html.walden-site body .posts-container ul > li > .post-row-inner .actions a {
          display: inline-block;
          text-align: center;
          cursor: pointer;
          opacity: .5; }
          html.walden-site body .posts-container ul > li > .post-row-inner .actions a img {
            width: 32px; }
          html.walden-site body .posts-container ul > li > .post-row-inner .actions a.expand-post img {
            display: none; }
          html.walden-site body .posts-container ul > li > .post-row-inner .actions a.expand-post.collapsed img.do-expand {
            display: initial; }
          html.walden-site body .posts-container ul > li > .post-row-inner .actions a.expand-post.expanded img.do-collapse {
            display: initial; }
          html.walden-site body .posts-container ul > li > .post-row-inner .actions a:hover {
            opacity: .9; }
          html.walden-site body .posts-container ul > li > .post-row-inner .actions a.collapse-wrapper {
            display: none; }
        html.walden-site body .posts-container ul > li > .post-row-inner .actions .flex-col {
          line-height: 1; }
        html.walden-site body .posts-container ul > li > .post-row-inner:hover {
          background-color: rgba(12, 165, 255, 0.1); }
      html.walden-site body .posts-container ul > li > ul {
        margin: 0px;
        display: block; }
      html.walden-site body .posts-container ul > li.appear {
        animation-name: appearBlock;
        animation-duration: .5s;
        animation-fill-mode: forwards; }
      html.walden-site body .posts-container ul > li.disappear {
        animation-name: disappearBlock;
        animation-duration: .5s;
        animation-fill-mode: forwards; }
      html.walden-site body .posts-container ul > li.node-type-post > .post-row-inner .expand-wrapper {
        display: none; }
      html.walden-site body .posts-container ul > li.node-type-post > .post-row-inner .drag-icon-wrapper img.type-post {
        display: initial; }
      html.walden-site body .posts-container ul > li.node-type-post > .post-row-inner .post-title {
        cursor: pointer; }
        html.walden-site body .posts-container ul > li.node-type-post > .post-row-inner .post-title:hover {
          color: #0c69b8; }
      html.walden-site body .posts-container ul > li.node-type-menu > .post-row-inner .drag-icon-wrapper img.type-menu {
        display: initial; }
      html.walden-site body .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col {
        display: initial; }
        html.walden-site body .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
          opacity: 1; }
          html.walden-site body .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
            display: initial; }
          html.walden-site body .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
            opacity: .5; }
      html.walden-site body .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
        opacity: .5; }
        html.walden-site body .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
          opacity: 1; }
        html.walden-site body .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
          display: none; }
        html.walden-site body .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.inactive-icon {
          display: initial; }
      html.walden-site body .posts-container ul > li.node-type-path > .post-row-inner .drag-icon-wrapper img.type-path {
        display: initial; }
      html.walden-site body .posts-container ul > li.node-type-root > .post-row-inner .drag-icon-wrapper img.type-root {
        display: initial; }
      html.walden-site body .posts-container ul > li.node-type-root > .post-row-inner .actions {
        display: none; }
      html.walden-site body .posts-container ul > li.ui-sortable-placeholder.mjs-nestedSortable-error {
        background-color: white;
        border-color: #f2dede;
        color: #f2dede;
        display: flex;
        align-items: center;
        width: 100%; }
        html.walden-site body .posts-container ul > li.ui-sortable-placeholder.mjs-nestedSortable-error:before {
          content: 'Invalid Position';
          position: static;
          padding-left: 20px; }
      html.walden-site body .posts-container ul > li:last-child:not(.ui-sortable-placeholder) {
        background: 0 0;
        display: list-item;
        position: relative; }
        html.walden-site body .posts-container ul > li:last-child:not(.ui-sortable-placeholder):before {
          content: '';
          position: absolute;
          display: block;
          top: 0px;
          left: 0px;
          width: 32px;
          height: 15px;
          background-image: url(../../images/global-icons/tree/32px-type2.png);
          background-position: -288px 0;
          background-repeat: no-repeat; }
      html.walden-site body .posts-container ul > li.ui-sortable-placeholder {
        background-color: #fffa90; }
      html.walden-site body .posts-container ul > li.jstree-open > .post-row-inner .jstree-ocl {
        background-position: -128px 0; }
      html.walden-site body .posts-container ul > li.jstree-closed > .post-row-inner .jstree-ocl {
        background-position: -96px 0; }
      html.walden-site body .posts-container ul > li.jstree-closed.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf) {
        border: 1px dashed #cdc878; }
      html.walden-site body .posts-container ul > li.jstree-closed > ul {
        display: none; }
      html.walden-site body .posts-container ul > li.jstree-loading > .post-row-inner .jstree-ocl.jstree-icon {
        background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat; }
      html.walden-site body .posts-container ul > li.jstree-leaf > .post-row-inner .jstree-ocl.jstree-icon {
        background-position: -64px 0; }
@keyframes focus-row {
  0% {
    background-color: #fffa90; }
  100% {
    background-color: rgba(255, 250, 144, 0.5); } }
      html.walden-site body .posts-container ul > li.focus > .post-row-inner {
        animation-name: focus-row;
        animation-duration: .7s;
        animation-fill-mode: forwards; }
  html.walden-site body .posts-container > li.sample {
    display: none; }
  html.walden-site body .posts-container li.ui-sortable-helper {
    margin: 0px;
    font-size: 1.5rem;
    width: 100%;
    display: list-item; }
    html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner {
      padding: 15px 5px 15px 0px; }
      html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .jstree-icon {
        background-image: url(../../images/global-icons/tree/32px-type2.png); }
      html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .jstree-ocl {
        background-position: -96px 0; }
      html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .drag-icon-wrapper {
        flex-basis: 50px;
        text-align: center;
        opacity: 1; }
        html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .drag-icon-wrapper img {
          height: 32px;
          cursor: move;
          display: none; }
      html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .post-title {
        padding-left: 10px;
        flex-grow: 1;
        line-height: 32px; }
      html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .post-image {
        height: 34px; }
      html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .actions a {
        text-align: center;
        cursor: pointer;
        opacity: .5; }
        html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .actions a img {
          width: 32px; }
        html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .actions a:hover {
          opacity: .9; }
        html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .actions a.collapse-wrapper {
          display: none; }
      html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.save-col {
        display: none; }
      html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.comeback-col {
        display: none; }
      html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.publish-col {
        display: none; }
        html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner .actions .flex-col.publish-col a img {
          display: none; }
      html.walden-site body .posts-container li.ui-sortable-helper > .post-row-inner:hover {
        background-color: rgba(255, 255, 255, 0.4); }
    html.walden-site body .posts-container li.ui-sortable-helper > ul {
      margin: 0px;
      display: block; }
    html.walden-site body .posts-container li.ui-sortable-helper.appear {
      animation-name: appearBlock;
      animation-duration: .5s;
      animation-fill-mode: forwards; }
    html.walden-site body .posts-container li.ui-sortable-helper.disappear {
      animation-name: disappearBlock;
      animation-duration: .5s;
      animation-fill-mode: forwards; }
    html.walden-site body .posts-container li.ui-sortable-helper.node-type-post > .post-row-inner .expand-wrapper {
      display: none; }
    html.walden-site body .posts-container li.ui-sortable-helper.node-type-post > .post-row-inner .drag-icon-wrapper img.type-post {
      display: initial; }
    html.walden-site body .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .drag-icon-wrapper img.type-menu {
      display: initial; }
    html.walden-site body .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col {
      display: initial; }
      html.walden-site body .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
        opacity: 1; }
        html.walden-site body .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
          display: initial; }
        html.walden-site body .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
          opacity: .5; }
    html.walden-site body .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
      opacity: .5; }
      html.walden-site body .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
        opacity: 1; }
      html.walden-site body .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
        display: none; }
      html.walden-site body .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.inactive-icon {
        display: initial; }
    html.walden-site body .posts-container li.ui-sortable-helper.node-type-path > .post-row-inner .drag-icon-wrapper img.type-path {
      display: initial; }
    html.walden-site body .posts-container li.ui-sortable-helper.node-type-root > .post-row-inner .drag-icon-wrapper img.type-root {
      display: initial; }
    html.walden-site body .posts-container li.ui-sortable-helper.node-type-root > .post-row-inner .actions {
      display: none; }
    html.walden-site body .posts-container li.ui-sortable-helper.ui-sortable-placeholder.mjs-nestedSortable-error {
      background-color: white;
      border-color: #f2dede;
      color: #f2dede;
      display: flex;
      align-items: center;
      width: 100%; }
      html.walden-site body .posts-container li.ui-sortable-helper.ui-sortable-placeholder.mjs-nestedSortable-error:before {
        content: 'Invalid Position';
        position: static;
        padding-left: 20px; }
    html.walden-site body .posts-container li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder) {
      background: 0 0;
      display: list-item;
      position: relative; }
      html.walden-site body .posts-container li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder):before {
        content: '';
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        width: 32px;
        height: 15px;
        background-image: url(../../images/global-icons/tree/32px-type2.png);
        background-position: -288px 0;
        background-repeat: no-repeat; }
    html.walden-site body .posts-container li.ui-sortable-helper.ui-sortable-placeholder {
      background-color: #fffa90; }
    html.walden-site body .posts-container li.ui-sortable-helper.jstree-open > .post-row-inner .jstree-ocl {
      background-position: -128px 0; }
    html.walden-site body .posts-container li.ui-sortable-helper.jstree-closed > .post-row-inner .jstree-ocl {
      background-position: -96px 0; }
    html.walden-site body .posts-container li.ui-sortable-helper.jstree-closed.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf) {
      border: 1px dashed #cdc878; }
    html.walden-site body .posts-container li.ui-sortable-helper.jstree-closed > ul {
      display: none; }
    html.walden-site body .posts-container li.ui-sortable-helper.jstree-loading > .post-row-inner .jstree-ocl.jstree-icon {
      background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat; }
    html.walden-site body .posts-container li.ui-sortable-helper.jstree-leaf > .post-row-inner .jstree-ocl.jstree-icon {
      background-position: -64px 0; }
    html.walden-site body .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .post-title {
      background-color: white;
      border: 1px solid #CDCDCD; }
      html.walden-site body .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .post-title:focus {
        outline-width: 1px;
        border: transparent; }
    html.walden-site body .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .actions .flex-col.edit-col {
      display: none; }
    html.walden-site body .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .actions .flex-col.del-col {
      display: none; }
    html.walden-site body .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .actions .flex-col.save-col {
      display: initial; }
    html.walden-site body .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .actions .flex-col.comeback-col {
      display: initial; }

/*# sourceMappingURL=viewExperinece-embed-page.css.map */
