html {
  min-height: 100%; }
  html body {
    position: relative;
    min-height: 100%; }
    html body .site-wrapper {
      min-height: 100%; }
      html body .site-wrapper .left-panel {
        transition: all .3s ease-in;
        padding: 20px 0px;
        margin: 0px auto;
        background-color: white;
        max-width: 40%;
        border-right: 1px solid grey; }
        html body .site-wrapper .left-panel header.left-header {
          padding-left: 50px; }
          html body .site-wrapper .left-panel header.left-header .welcome {
            display: none; }
          html body .site-wrapper .left-panel header.left-header .login-btn .btn.big-login {
            padding: 10px 50px; }
          html body .site-wrapper .left-panel header.left-header .collapse-wrapper {
            cursor: pointer;
            padding: 10px;
            color: grey; }
            html body .site-wrapper .left-panel header.left-header .collapse-wrapper .glyphicon {
              font-size: 1.5rem; }
            html body .site-wrapper .left-panel header.left-header .collapse-wrapper .glyphicon-chevron-right {
              display: none; }
            html body .site-wrapper .left-panel header.left-header .collapse-wrapper:hover {
              color: black; }
        html body .site-wrapper .left-panel .posts-container {
          position: relative; }
          html body .site-wrapper .left-panel .posts-container ul {
            list-style: none;
            margin: 10px;
            padding-left: 50px;
            position: relative;
            overflow: hidden; }
            html body .site-wrapper .left-panel .posts-container ul > li {
              margin: 0px;
              font-size: 1.5rem;
              width: 100%;
              display: list-item; }
              html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner {
                padding: 9px 5px 9px 0px; }
                html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .jstree-icon {
                  background-image: url(../../images/global-icons/tree/32px-type2.png); }
                html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .jstree-ocl {
                  background-position: -96px 0; }
                html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap {
                  flex-basis: 50px;
                  text-align: center;
                  opacity: 1;
                  line-height: 0; }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb {
                    width: 54px;
                    height: 54px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 4px;
                    background-size: cover;
                    display: none;
                    cursor: initial; }
                    html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb > div {
                      display: none;
                      height: 100%; }
                    html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-video {
                      width: 72px;
                      background-image: url("../../images/global-icons/tree/post/video_empty.png");
                      background-color: #ecf1f5;
                      background-repeat: no-repeat;
                      background-size: 100% 100%;
                      background-position: center; }
                      html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-video .video-post {
                        display: block;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center; }
                        html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-video .video-post .thumb_cover_back {
                          position: absolute;
                          top: 0px;
                          left: 0px;
                          width: 100%;
                          height: 100%;
                          background-color: transparent;
                          transition: background-color 60ms linear; }
                        html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-video .video-post .thumb_play {
                          position: absolute;
                          top: 0;
                          bottom: 0;
                          left: 0;
                          right: 0;
                          background: #000;
                          background: rgba(0, 0, 0, 0.5) url("../../images/global-icons/tree/post/video_play_small.png") 14px center no-repeat;
                          margin: auto;
                          width: 40px;
                          height: 40px;
                          border-radius: 50%;
                          cursor: pointer;
                          transition: background-color 100ms linear, opacity 60ms ease;
                          opacity: 0; }
                    html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-audio {
                      background-image: url("../../images/global-icons/tree/post/audio_row_placeholder.png");
                      background-color: #ecf1f5;
                      background-repeat: no-repeat;
                      background-size: auto;
                      background-position: center; }
                      html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-audio .audio-post {
                        display: block;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center; }
                        html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-audio .audio-post .thumb_cover_back {
                          position: absolute;
                          top: 0px;
                          left: 0px;
                          width: 100%;
                          height: 100%;
                          background-color: transparent;
                          transition: background-color 60ms linear; }
                        html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-audio .audio-post .thumb_play {
                          position: absolute;
                          top: 0px;
                          left: 0px;
                          width: 100%;
                          height: 100%;
                          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23FFFFFF%22%2F%3E%3Cpath%20fill%3D%22%23222222%22%20d%3D%22M9.84335571%2C16.7896383%20C9.37758321%2C17.088598%209%2C16.885726%209%2C16.3263902%20L9%2C7.6574922%20C9%2C7.10268766%209.37902442%2C6.89620947%209.84335571%2C7.19424408%20L16.733151%2C11.6165123%20C17.0561878%2C11.8238559%2017.0599966%2C12.1575817%2016.733151%2C12.3673701%20L9.84335571%2C16.7896383%20Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
                          background-repeat: no-repeat;
                          background-position: 50%;
                          cursor: pointer;
                          display: none; }
                    html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-image {
                      background-color: #ecf1f5;
                      background-repeat: no-repeat;
                      background-size: auto;
                      background-position: center; }
                      html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-image .image-post {
                        display: block;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer; }
                    html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-text {
                      background-color: #ecf1f5;
                      background-repeat: no-repeat;
                      background-size: auto;
                      background-position: center; }
                      html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-text .text-post {
                        display: block;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer; }
                    html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-form {
                      background-color: #ecf1f5;
                      background-repeat: no-repeat;
                      background-size: auto;
                      background-position: center; }
                      html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .item_thumb_wrap .item_thumb.data-type-form .form-post {
                        display: block;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer; }
                html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .post-title {
                  padding-left: 10px;
                  flex-grow: 1;
                  line-height: 32px; }
                html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .post-meta-info {
                  padding-left: 10px;
                  color: #939393;
                  line-height: 1;
                  font-size: .85em; }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .post-meta-info .post-dyn-info {
                    margin-left: 10px;
                    font-size: 1.2em; }
                    html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .post-meta-info .post-dyn-info:empty {
                      margin-left: 0px; }
                html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .post-body {
                  margin: 0px 0px 0px 80px; }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .post-body .body-inner {
                    padding: 15px; }
                    html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .post-body .body-inner .blog-type {
                      max-width: 100%; }
                    html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .post-body .body-inner .type-2 {
                      width: 600px; }
                html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .actions a {
                  display: inline-block;
                  text-align: center;
                  cursor: pointer;
                  opacity: .5; }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .actions a img {
                    width: 32px; }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .actions a.expand-post img {
                    display: none; }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .actions a.expand-post.collapsed img.do-expand {
                    display: initial; }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .actions a.expand-post.expanded img.do-collapse {
                    display: initial; }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .actions a:hover {
                    opacity: .9; }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .actions a.collapse-wrapper {
                    display: none; }
                html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner .actions .flex-col {
                  line-height: 1; }
                html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner:hover {
                  background-color: rgba(12, 165, 255, 0.1); }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner:hover .item_thumb_wrap .item_thumb.data-type-video .video-post .thumb_cover_back {
                    transition: background-color 100ms linear; }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner:hover .item_thumb_wrap .item_thumb.data-type-video .video-post .thumb_play {
                    opacity: 1;
                    display: block; }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner:hover .item_thumb_wrap .item_thumb.data-type-audio .audio-post .thumb_cover_back {
                    background-color: rgba(0, 0, 0, 0.5);
                    transition: background-color 100ms linear; }
                  html body .site-wrapper .left-panel .posts-container ul > li > .post-row-inner:hover .item_thumb_wrap .item_thumb.data-type-audio .audio-post .thumb_play {
                    display: block; }
              html body .site-wrapper .left-panel .posts-container ul > li > ul {
                margin: 0px;
                display: block; }
              html body .site-wrapper .left-panel .posts-container ul > li.appear {
                animation-name: appearBlock;
                animation-duration: .5s;
                animation-fill-mode: forwards; }
              html body .site-wrapper .left-panel .posts-container ul > li.disappear {
                animation-name: disappearBlock;
                animation-duration: .5s;
                animation-fill-mode: forwards; }
              html body .site-wrapper .left-panel .posts-container ul > li.node-type-post > .post-row-inner .expand-wrapper {
                display: none; }
              html body .site-wrapper .left-panel .posts-container ul > li.node-type-post > .post-row-inner .item_thumb_wrap .type-post {
                display: block; }
              html body .site-wrapper .left-panel .posts-container ul > li.node-type-post > .post-row-inner .post-title {
                cursor: pointer; }
                html body .site-wrapper .left-panel .posts-container ul > li.node-type-post > .post-row-inner .post-title:hover {
                  color: #0c69b8; }
              html body .site-wrapper .left-panel .posts-container ul > li.node-type-menu > .post-row-inner .item_thumb_wrap .type-menu {
                display: initial; }
              html body .site-wrapper .left-panel .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col {
                display: initial; }
                html body .site-wrapper .left-panel .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
                  opacity: 1; }
                  html body .site-wrapper .left-panel .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
                    display: initial; }
                  html body .site-wrapper .left-panel .posts-container ul > li.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
                    opacity: .5; }
              html body .site-wrapper .left-panel .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
                opacity: .5; }
                html body .site-wrapper .left-panel .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
                  opacity: 1; }
                html body .site-wrapper .left-panel .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
                  display: none; }
                html body .site-wrapper .left-panel .posts-container ul > li.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.inactive-icon {
                  display: initial; }
              html body .site-wrapper .left-panel .posts-container ul > li.node-type-path > .post-row-inner .item_thumb_wrap .type-path {
                display: initial; }
              html body .site-wrapper .left-panel .posts-container ul > li.node-type-root > .post-row-inner .item_thumb_wrap .type-root {
                display: initial; }
              html body .site-wrapper .left-panel .posts-container ul > li.node-type-root > .post-row-inner .actions {
                display: none; }
              html body .site-wrapper .left-panel .posts-container ul > li.ui-sortable-placeholder.mjs-nestedSortable-error {
                background-color: white;
                border-color: #f2dede;
                color: #f2dede;
                display: flex;
                align-items: center;
                width: 100%; }
                html body .site-wrapper .left-panel .posts-container ul > li.ui-sortable-placeholder.mjs-nestedSortable-error:before {
                  content: 'Invalid Position';
                  position: static;
                  padding-left: 20px; }
              html body .site-wrapper .left-panel .posts-container ul > li:last-child:not(.ui-sortable-placeholder) {
                background: 0 0;
                display: list-item;
                position: relative; }
                html body .site-wrapper .left-panel .posts-container ul > li:last-child:not(.ui-sortable-placeholder):before {
                  content: '';
                  position: absolute;
                  display: block;
                  top: 0px;
                  left: 0px;
                  width: 32px;
                  height: 20px;
                  background-image: url(../../images/global-icons/tree/32px-type2.png);
                  background-position: -288px 0;
                  background-repeat: no-repeat; }
                html body .site-wrapper .left-panel .posts-container ul > li:last-child:not(.ui-sortable-placeholder).post-load-more {
                  cursor: pointer; }
                  html body .site-wrapper .left-panel .posts-container ul > li:last-child:not(.ui-sortable-placeholder).post-load-more:before {
                    height: 9px; }
              html body .site-wrapper .left-panel .posts-container ul > li.ui-sortable-placeholder {
                background-color: #fffa90; }
              html body .site-wrapper .left-panel .posts-container ul > li.jstree-open > .post-row-inner .jstree-ocl {
                background-position: -128px 0; }
              html body .site-wrapper .left-panel .posts-container ul > li.jstree-closed > .post-row-inner .jstree-ocl {
                background-position: -96px 0; }
              html body .site-wrapper .left-panel .posts-container ul > li.jstree-closed.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf) {
                border: 1px dashed #cdc878; }
              html body .site-wrapper .left-panel .posts-container ul > li.jstree-closed > ul {
                display: none; }
              html body .site-wrapper .left-panel .posts-container ul > li.jstree-loading > .post-row-inner .jstree-ocl.jstree-icon {
                background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat; }
              html body .site-wrapper .left-panel .posts-container ul > li.jstree-leaf > .post-row-inner .jstree-ocl.jstree-icon {
                background-position: -64px 0; }
@keyframes focus-row {
  0% {
    background-color: #fffa90; }
  100% {
    background-color: rgba(255, 250, 144, 0.5); } }
              html body .site-wrapper .left-panel .posts-container ul > li.focus > .post-row-inner {
                animation-name: focus-row;
                animation-duration: .7s;
                animation-fill-mode: forwards; }
          html body .site-wrapper .left-panel .posts-container > li.sample {
            display: none; }
          html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper {
            margin: 0px;
            font-size: 1.5rem;
            width: 100%;
            display: list-item; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper > .post-row-inner {
              padding: 15px 5px 15px 0px; }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper > .post-row-inner .jstree-icon {
                background-image: url(../../images/global-icons/tree/32px-type2.png); }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper > .post-row-inner .jstree-ocl {
                background-position: -96px 0; }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper > .post-row-inner .item_thumb_wrap {
                flex-basis: 50px;
                text-align: center;
                opacity: 1; }
                html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper > .post-row-inner .item_thumb_wrap .item_thumb {
                  width: 40px;
                  height: 40px;
                  display: none; }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper > .post-row-inner .post-title {
                padding-left: 10px;
                flex-grow: 1;
                line-height: 32px; }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper > .post-row-inner .post-image {
                height: 34px; }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper > .post-row-inner:hover {
                background-color: rgba(255, 255, 255, 0.4); }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper > ul {
              margin: 0px;
              display: block; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.appear {
              animation-name: appearBlock;
              animation-duration: .5s;
              animation-fill-mode: forwards; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.disappear {
              animation-name: disappearBlock;
              animation-duration: .5s;
              animation-fill-mode: forwards; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-type-post > .post-row-inner .expand-wrapper {
              display: none; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-type-post > .post-row-inner .item_thumb_wrap .type-post {
              display: initial; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .item_thumb_wrap .type-menu {
              display: initial; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col {
              display: initial; }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
                opacity: 1; }
                html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
                  display: initial; }
                html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
                  opacity: .5; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
              opacity: .5; }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
                opacity: 1; }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
                display: none; }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.inactive-icon {
                display: initial; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-type-path > .post-row-inner .item_thumb_wrap .type-path {
              display: initial; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-type-root > .post-row-inner .item_thumb_wrap .type-root {
              display: initial; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.node-type-root > .post-row-inner .actions {
              display: none; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.ui-sortable-placeholder.mjs-nestedSortable-error {
              background-color: white;
              border-color: #f2dede;
              color: #f2dede;
              display: flex;
              align-items: center;
              width: 100%; }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.ui-sortable-placeholder.mjs-nestedSortable-error:before {
                content: 'Invalid Position';
                position: static;
                padding-left: 20px; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder) {
              background: 0 0;
              display: list-item;
              position: relative; }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder):before {
                content: '';
                position: absolute;
                display: block;
                top: 0px;
                left: 0px;
                width: 32px;
                height: 15px;
                background-image: url(../../images/global-icons/tree/32px-type2.png);
                background-position: -288px 0;
                background-repeat: no-repeat; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.ui-sortable-placeholder {
              background-color: #fffa90; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.jstree-open > .post-row-inner .jstree-ocl {
              background-position: -128px 0; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.jstree-closed > .post-row-inner .jstree-ocl {
              background-position: -96px 0; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.jstree-closed.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf) {
              border: 1px dashed #cdc878; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.jstree-closed > ul {
              display: none; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.jstree-loading > .post-row-inner .jstree-ocl.jstree-icon {
              background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.jstree-leaf > .post-row-inner .jstree-ocl.jstree-icon {
              background-position: -64px 0; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .post-title {
              background-color: white;
              border: 1px solid #CDCDCD; }
              html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .post-title:focus {
                outline-width: 1px;
                border: transparent; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .actions .flex-col.edit-col {
              display: none; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .actions .flex-col.del-col {
              display: none; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .actions .flex-col.save-col {
              display: initial; }
            html body .site-wrapper .left-panel .posts-container li.ui-sortable-helper.edit-status > .post-row-inner .actions .flex-col.comeback-col {
              display: initial; }
        html body .site-wrapper .left-panel.collapsed {
          flex-basis: auto;
          flex-grow: 0;
          flex-shrink: 0;
          transition: all .4s ease-in; }
          html body .site-wrapper .left-panel.collapsed .posts-container {
            display: none; }
          html body .site-wrapper .left-panel.collapsed header.left-header {
            padding-left: 0px; }
            html body .site-wrapper .left-panel.collapsed header.left-header .welcome {
              display: none !important; }
            html body .site-wrapper .left-panel.collapsed header.left-header .login-btn {
              display: none !important; }
            html body .site-wrapper .left-panel.collapsed header.left-header .collapse-wrapper {
              cursor: pointer; }
              html body .site-wrapper .left-panel.collapsed header.left-header .collapse-wrapper .glyphicon-chevron-left {
                display: none; }
              html body .site-wrapper .left-panel.collapsed header.left-header .collapse-wrapper .glyphicon-chevron-right {
                display: initial; }
      html body .site-wrapper .right-panel {
        position: relative;
        padding: 100px 10px 10px;
        background-color: #f8f7f9; }
        html body .site-wrapper .right-panel.content-type-2 .post-image-wrapper {
          display: none; }
        html body .site-wrapper .right-panel.content-type-0 .post-image-wrapper {
          display: none; }
        html body .site-wrapper .right-panel .right-panel-inner {
          max-width: 100%; }
          html body .site-wrapper .right-panel .right-panel-inner .money-saved {
            position: absolute;
            right: 10px;
            top: 10px;
            text-align: right; }
            html body .site-wrapper .right-panel .right-panel-inner .money-saved .money-amount {
              font-size: 50px;
              color: #7fc9ff;
              line-height: 1; }
              html body .site-wrapper .right-panel .right-panel-inner .money-saved .money-amount span {
                font-size: 70px;
                line-height: 40px; }
            html body .site-wrapper .right-panel .right-panel-inner .money-saved .w-name {
              font-size: 30px; }
          html body .site-wrapper .right-panel .right-panel-inner .post-image-wrapper {
            text-align: center; }
            html body .site-wrapper .right-panel .right-panel-inner .post-image-wrapper .post-img {
              max-width: calc(100% - 100px); }
          html body .site-wrapper .right-panel .right-panel-inner .post-title {
            text-align: center;
            margin: 5px 0 30px;
            font-size: 32px;
            font-weight: 400;
            color: #0084C9; }
          html body .site-wrapper .right-panel .right-panel-inner .post-body {
            text-align: center;
            font-size: 2rem;
            max-width: 780px;
            margin: 0px auto;
            padding-bottom: 20px;
            min-height: 300px; }
            html body .site-wrapper .right-panel .right-panel-inner .post-body img {
              max-width: 100%;
              display: block;
              margin: 0px auto; }
            html body .site-wrapper .right-panel .right-panel-inner .post-body video {
              max-width: 100%; }
            html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu {
              text-align: center;
              background-color: #f8f7f9;
              padding: 10px 5px; }
              html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu header .menu-title {
                font-size: 2rem; }
              html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu .paths-container .paths-list .path-col {
                padding: 20px 30px;
                flex-basis: 100px;
                flex-shrink: 0;
                flex-grow: 1;
                border-left: 1px dotted grey;
                cursor: pointer;
                word-break: break-all; }
                html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu .paths-container .paths-list .path-col .img-wrapper {
                  height: 150px; }
                  html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu .paths-container .paths-list .path-col .img-wrapper img {
                    opacity: .8;
                    width: 100%;
                    min-width: 100px;
                    max-width: 150px; }
                html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu .paths-container .paths-list .path-col .path-title {
                  font-size: 1.2rem;
                  margin: 10px 0px; }
                html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu .paths-container .paths-list .path-col .path-description {
                  font-size: 1rem;
                  line-height: 1.1; }
                html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu .paths-container .paths-list .path-col:hover {
                  color: black; }
                  html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu .paths-container .paths-list .path-col:hover .img-wrapper img {
                    opacity: 1; }
                html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu .paths-container .paths-list .path-col:first-child {
                  border-left: none; }
              html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu .paths-container .paths-list.paths-count-3 .path-col {
                flex-basis: 30%; }
              @media all and (max-width: 1240px) {
                html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu .paths-container .paths-list.paths-count-4 .path-col {
                  flex-basis: 50%; } }
              html body .site-wrapper .right-panel .right-panel-inner .post-body .type-menu .paths-container .paths-list.paths-count-5 {
                flex-basis: 30%; }
            html body .site-wrapper .right-panel .right-panel-inner .post-body .video-js {
              width: auto !important; }
          html body .site-wrapper .right-panel .right-panel-inner .right-panel-footer {
            border-top: 1px solid #999;
            padding: 30px 0px 15px; }
            html body .site-wrapper .right-panel .right-panel-inner .right-panel-footer .step-back {
              display: block;
              font-size: 20px;
              line-height: 28px;
              text-decoration: none;
              color: #777;
              -webkit-transition: 0.3s;
              transition: 0.3s;
              cursor: pointer; }
              html body .site-wrapper .right-panel .right-panel-inner .right-panel-footer .step-back .content-turbotax__back-arr {
                font-size: 28px;
                line-height: 28px; }
              html body .site-wrapper .right-panel .right-panel-inner .right-panel-footer .step-back:hover {
                color: black; }
            html body .site-wrapper .right-panel .right-panel-inner .right-panel-footer .step-next {
              display: block;
              font-size: 20px;
              line-height: 28px;
              text-decoration: none;
              padding: 10px 20px;
              color: #fff;
              background-color: #00c0ff;
              border-radius: 5px;
              position: relative;
              -webkit-transition: 0.3s;
              transition: 0.3s;
              cursor: pointer; }
              html body .site-wrapper .right-panel .right-panel-inner .right-panel-footer .step-next:after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background-color: #0086b3;
                border-bottom-left-radius: 100%;
                border-bottom-right-radius: 100%; }
              html body .site-wrapper .right-panel .right-panel-inner .right-panel-footer .step-next:hover {
                background-color: #0086b3; }
            html body .site-wrapper .right-panel .right-panel-inner .right-panel-footer .powered-by {
              margin-top: 10px;
              font-size: 20px;
              text-align: center;
              color: #0084C9; }
          html body .site-wrapper .right-panel .right-panel-inner .pay-blog-wrapper {
            padding: 10px 10px 30px 10px;
            font-size: 2rem; }
      html body .site-wrapper.logged-in .left-panel header.left-header .welcome {
        display: initial; }
      html body .site-wrapper.logged-in .left-panel header.left-header .login-btn {
        display: none; }
      html body .site-wrapper.view-on-popup .left-panel {
        border-right: none;
        max-width: 100%;
        flex-basis: 1200px;
        flex-grow: 0; }
        html body .site-wrapper.view-on-popup .left-panel header.left-header .collapse-wrapper {
          display: none; }
    html body .view-widget {
      position: fixed;
      left: 0px;
      bottom: 0px;
      width: 300px;
      height: auto;
      display: none;
      background-color: rgba(28, 29, 30, 0.9);
      border-radius: 4px;
      overflow: auto; }
      html body .view-widget .widget-inner {
        position: relative;
        z-index: 2; }
      html body .view-widget header.widget-header {
        padding: 8px 6px 8px 12px; }
        html body .view-widget header.widget-header .post-title {
          width: 230px;
          color: #fff;
          font-size: .9rem;
          opacity: .6;
          overflow: hidden;
          white-space: pre;
          text-overflow: ellipsis;
          cursor: pointer; }
          html body .view-widget header.widget-header .post-title:hover {
            opacity: 1; }
        html body .view-widget header.widget-header .mv_min_control {
          padding: 9px 2px;
          margin: -8px 0;
          opacity: .6;
          cursor: pointer; }
          html body .view-widget header.widget-header .mv_min_control:hover {
            opacity: 1; }
          html body .view-widget header.widget-header .mv_min_control .mv_min_control_max {
            height: 10px;
            width: 11px;
            background: url(../../images/global-icons/tree/post/video_icon.png) 0 -119px; }
          html body .view-widget header.widget-header .mv_min_control .mv_min_control_close {
            height: 10px;
            width: 10px;
            background: url(../../images/global-icons/tree/post/video_icon.png) 0 -139px; }
      html body .view-widget .widget-body {
        padding: 0px 6px 6px; }
        html body .view-widget .widget-body > div {
          background-color: white; }
        html body .view-widget .widget-body .audio-widget {
          padding: 5px; }
        html body .view-widget .widget-body .text-widget {
          padding: 5px; }
        html body .view-widget .widget-body .form-widget {
          padding: 5px; }
        html body .view-widget .widget-body * {
          max-width: 100%; }
      html body .view-widget .widget-footer {
        padding: 15px;
        background-color: white; }
      html body .view-widget aside.widget-top-control {
        position: absolute;
        left: 100%;
        top: 0px;
        width: auto; }
        html body .view-widget aside.widget-top-control .mv_top_button {
          padding: 6px 24px 6px 20px;
          opacity: 0.4;
          filter: alpha(opacity=40);
          cursor: pointer;
          -o-transition: opacity 0.15s ease-in-out;
          transition: opacity 0.15s ease-in-out;
          outline: none; }
          html body .view-widget aside.widget-top-control .mv_top_button .mv_close_icon {
            background: url(../../images/global-icons/tree/post/video_icon.png) no-repeat;
            background-position: 0px 0px;
            height: 20px;
            width: 20px; }
          html body .view-widget aside.widget-top-control .mv_top_button .mv_minimize_icon {
            background: url(../../images/global-icons/tree/post/video_icon.png) no-repeat;
            background-position: 0px -24px;
            height: 5px;
            width: 20px;
            margin: 7px 0; }
          html body .view-widget aside.widget-top-control .mv_top_button:hover {
            opacity: 1; }
      html body .view-widget.audio-type {
        width: 500px; }
      html body .view-widget.image-type .widget-body #info {
        padding: 5px;
        display: none; }
        html body .view-widget.image-type .widget-body #info * {
          max-width: 100%; }
      html body .view-widget.text-type .widget-body .text-widget {
        max-height: 300px;
        overflow: hidden; }
      html body .view-widget.active {
        display: block; }
      html body .view-widget.maximize-view {
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        min-height: 100% !important;
        background-color: rgba(0, 0, 0, 0.8); }
        html body .view-widget.maximize-view .widget-body {
          padding: 0px; }
        html body .view-widget.maximize-view .widget-inner {
          position: relative;
          max-width: calc(100% - 100px);
          width: 700px;
          margin: 100px auto;
          background-color: rgba(28, 29, 30, 0.9); }
        html body .view-widget.maximize-view.image-type {
          overflow: auto; }
          html body .view-widget.maximize-view.image-type .widget-body #info {
            display: block; }
        html body .view-widget.maximize-view.text-type .widget-body .text-widget {
          max-height: none;
          overflow: auto; }
        html body .view-widget.maximize-view .view-only-min {
          display: none; }
        html body .view-widget.maximize-view .view-only-max {
          display: block; }
        html body .view-widget.maximize-view .form-field-wrapper {
          font-size: 2rem; }
      html body .view-widget .view-only-max {
        display: none; }
    html body .form-field-wrapper {
      margin: 5px auto; }
      html body .form-field-wrapper .form-field-inner {
        display: flex;
        margin: 10px 0px;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: center; }
        html body .form-field-wrapper .form-field-inner label.form-field-name {
          flex-basis: 100%;
          flex-shrink: 0;
          padding: 5px 10px;
          margin: 0px;
          background-color: #f8f7f9;
          font-weight: normal;
          text-align: center; }
        html body .form-field-wrapper .form-field-inner .form-field-value {
          max-width: 100%;
          width: 500px;
          display: block;
          padding: 9px 10px;
          background-color: white;
          text-align: left;
          border: 1px solid #999;
          border-radius: 5px; }
          html body .form-field-wrapper .form-field-inner .form-field-value:focus {
            border-color: transparent; }
          html body .form-field-wrapper .form-field-inner .form-field-value[contentEditable=true]:empty:not(:focus):before {
            content: attr(placeholder);
            cursor: text; }
          @media screen and (max-width: 920px) {
            html body .form-field-wrapper .form-field-inner .form-field-value {
              width: 300px; } }
        html body .form-field-wrapper .form-field-inner .form-field-helper {
          margin: 2px 2px 2px 10px;
          padding: 5px 5px;
          color: white;
          align-self: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #25b7d3;
          font-family: FontAwesome;
          font-weight: bold;
          text-align: center;
          font-size: 40px;
          line-height: 40px;
          vertical-align: middle;
          cursor: default; }
      html body .form-field-wrapper.status-loading {
        color: orange;
        transition: color ease-in .005s; }
        html body .form-field-wrapper.status-loading .form-field-inner {
          transition: border-color ease-in .005s;
          border-color: orange; }
      html body .form-field-wrapper.status-loading-finished {
        animation-name: loading-finished;
        animation-duration: .3s;
        animation-fill-mode: forwards; }
        html body .form-field-wrapper.status-loading-finished .form-field-inner {
          animation-name: loading-finished;
          animation-duration: .3s;
          animation-fill-mode: forwards; }
@keyframes loading-finished {
  from {
    border-color: orange;
    color: orange; }
  to {
    color: grey;
    border-color: #a9a9a9; } }

/*# sourceMappingURL=viewExperinece-embed-page.css.map */
