@import "../../config/css/colors.scss";

html{
    font-size: 12px;
    body{
        .site-wrapper.page{
            .site-content{
                .view-blog-header {
                    padding: 70px 75px 50px;
                    background-color: $lightGreen;
                    .series-mobile-title{
                        margin-bottom: 10px;
                        font-size: 2rem;
                        font-weight: bold;
                        .day-wrapper{
                            font-weight: normal;
                        }
                    }
                    .title-wrapper{
                        font-size: 1.5rem;
                        font-weight: bold;
                        .series-title{
                            color: inherit;
                        }
                        .blog-title{
                        }
                        .day-wrapper{
                            font-weight: normal;
                        }
                    }
                    .listing-toggle {
                        position: relative;
                        width: 50px;
                        height: 50px;
                        box-sizing: border-box;
                        border: 1px solid $greenColor;
                        border-radius: 50%;
                        cursor: pointer;
                        svg{
                            width: 25px;
                            height: auto;
                            g, path, circle{
                                fill: $greenColor !important;
                            }
                        }
                        .unread-posts-count{
                            display: none;
                            position: absolute;
                            bottom: 35px;
                            left: 30px;
                            padding: 2px 5px;
                            background-color: $redColor;
                            color: white;
                            border-radius: 3px;
                        }
                        &.has-new{
                            .unread-posts-count{
                                display: block;
                            }
                        }
                        &:hover{
                            border-color: $greenHover;
                            svg{
                                g, path, circle{
                                    fill: $greenHover !important;
                                }
                            }
                        }
                    }
                    .choose-lang-wrapper{
                        position: relative;
                        flex-basis: 400px;
                        padding-left: 60px;
                        overflow: hidden;
                        label{
                            display: block;
                            margin: 0px 0px 2px;
                            font-weight: normal;
                            font-size: 1.5rem;
                        }
                        .select-wrapper{
                            width: 225px;
                            overflow: hidden;
                            .select-dropdown{
                                margin-bottom: 0px;
                                font-size: 15px;
                                white-space: pre;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                height: auto;
                                line-height: 2;
                                padding-right: 25px;
                                &:after{
                                    top: 5px;
                                    line-height: 1;
                                }
                            }
                        }
                        select{
                            font-size: .5rem;
                        }
                        .play-btn{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            left: 0px;
                            top: calc((100% - 47px) / 2);
                            height: 47px;
                            width: 47px;
                            padding: 0px 3px;
                            background-color: $lightGrey;
                            color: white;
                            border-radius: 10px;
                            font-family: VideoJS;
                            text-decoration: none;
                            &:before{
                                font-size: 3rem;
                                content: "\f101";
                                display: block;
                            }
                        }
                        &.speaking{
                            .play-btn{
                                &:before{
                                    content: '\f103';
                                }
                            }
                        }
                        &.pause{
                            .play-btn{
                                &:before{
                                    content: '\f101';
                                }
                            }
                        }
                    }

                    .action-item{
                        background-color: transparent;
                        display: flex;
                        line-height: 0;
                        border-radius: 50%;
                        border: 1px solid $greenColor;
                        height: 50px;
                        width: 50px;
                        margin-left: 5px;
                        box-sizing: border-box;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: 25px;
                            max-height: 25px;
                            g{
                                fill: $greenColor;
                            }
                            path{
                                fill: $greenColor;
                            }
                            polygon{
                                fill: $greenColor;
                            }
                        }
                        &.complete-action{
                            &.completed{
                                background-color: $greenColor;
                                svg{
                                    g, path, polygon{
                                        fill: white;
                                    }
                                }
                            }
                        }
                        &.favorite-action{
                            &.favorite{
                                border-color: $yellowColor;
                                svg{
                                    g, path, polygon{
                                        fill: $yellowColor;
                                    }
                                }
                            }
                        }
                        &.more-action{
                            margin-left: 5px;
                            position: relative;
                            & ~ .more-drop-down{
                                min-width: 0px;
                                left: -15px;
                                width: calc(100% + 30px);
                                padding: 15px;
                                height: auto;
                                background-color: white;
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;
                                border: none;
                                box-shadow: 0 6px 12px rgba(0,0,0,.175);
                                .action-item{
                                    margin-bottom: 7px;
                                    padding: 0px;
                                }
                                .post-copy-embed{
                                    margin-bottom: 7px;
                                }
                            }
                        }
                        &:hover{
                            border-color: $greenHover;
                            svg{
                                g, path, polygon{
                                    fill: $greenHover;
                                }
                            }
                        }
                    }
                    .share-btn{
                        font-size: 1.7rem;
                    }
                    .join-wrapper{
                        text-align: center;
                        height: 46px;
                        overflow: visible;
                        .btn-wrapper{
                            display: block;
                        }
                        .wrap{
                            width: 180px;
                            margin: 0px auto;
                            button{
                                width: 100%;
                                font-size: 2rem;
                                line-height: 34px;
                                height: 46px;
                                &.circle{
                                    width: 46px;
                                }
                                &.filled{
                                    line-height: 34px;
                                    vertical-align: middle;
                                }
                            }
                            img{
                                top: calc((100% - 38px) / 2);
                                left: calc((100% - 49px) / 2);
                                width: auto !important;
                                display: none;
                            }
                            svg{
                                left: calc((100% - 46px) / 2);
                                top: 0px;
                                width: 46px;
                                height: 46px;
                                circle{
                                    r: 21px;
                                    cx: 23px;
                                    cy: 23px;
                                }
                            }
                        }
                        .price-wrapper{
                            span{
                                font-size: 2.5rem;
                                font-weight: bold;
                            }
                        }
                        aside{
                        }
                    }
                    @media screen and (max-width: 768px){
                        padding: 25px 10px 10px;
                        .title-wrapper{
                            font-size: 2rem;
                        }
                        .choose-lang-wrapper{
                            width: 100%;
                            label{
                                display: block;
                                margin: 0px 0px 2px;
                                font-weight: normal;
                                font-size: 1.5rem;
                            }
                            .select-wrapper{
                                width: 100%;
                                overflow: hidden;
                            }
                            select{
                                font-size: .5rem;
                            }
                            .play-btn{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                left: 0px;
                                top: calc((100% - 47px) / 2);
                                height: 47px;
                                width: 47px;
                                padding: 0px 3px;
                                background-color: $lightGrey;
                                color: white;
                                border-radius: 10px;
                                font-family: VideoJS;
                                text-decoration: none;
                                &:before{
                                    font-size: 3rem;
                                    content: "\f101";
                                    display: block;
                                }
                            }
                            &.speaking{
                                .play-btn{
                                    &:before{
                                        content: '\f103';
                                    }
                                }
                            }
                            &.pause{
                                .play-btn{
                                    &:before{
                                        content: '\f101';
                                    }
                                }
                            }
                        }
                        .action-item{
                            &.more-action{
                                & ~ .more-drop-down{
                                    width: calc(100% + 15px);
                                    padding: 10px 5px;
                                }
                            }
                        }
                    }
                }
                main.main-content{
                    .content__header{
                        width: 900px;
                        max-width: 100%;
                        margin: 20px auto 5px;
                        text-align: left;
                        .blog-title{
                            margin-bottom: 10px;
                            font-size: 38px;
                            color: #3b4246;
                            line-height: 48px;
                        }
                        .blog-subtitle{
                            margin-bottom: 10px;
                            color: rgba(0, 0, 0, 0.54);
                            font-size:28px;
                            line-height:40px;
                        }
                        .blog-user{
                        }
                    }
                    .view-blog-body{
                        min-height: 500px;
                        position: relative;
                        padding: 25px 20px;
                        font-size: 1.4rem;
                        text-align: initial;
                        .body-wrapper {
                            max-width: 992px;
                            margin: 0px auto;
                            position: relative;
                            color: #3b4246;
                            line-height: 32px;
                            font-size: 20px;
                            .video-js{
                                width: auto !important;
                                .vjs-big-play-button{
                                    border-radius: 50%;
                                    border: none;
                                    width: 6em;
                                    height: 6em;
                                    left: calc((100% - 6em) / 2);
                                    top: calc((100% - 6em) / 2);
                                    background-color: rgba(115,133,159,.5);
                                    .vjs-icon-placeholder{
                                        &:before{
                                            font-size: 5em;
                                            line-height: 1.2;
                                        }
                                    }
                                }
                                &.vjs-waiting{
                                    .vjs-big-play-button{
                                        opacity: 0;
                                    }
                                }
                                &:hover{
                                    .vjs-big-play-button{
                                        background-color: rgba(43,51,63,.7);
                                    }
                                }
                            }
                            aside.blog-duration{
                                position: absolute;
                                bottom: 8px;
                                right: 9px;
                                padding: 7px 20px;
                                z-index: 1;
                                background: rgba(227, 228, 220, .8);
                                border-radius: 10px;
                                font-size: 1.2rem;
                                line-height: 1.1;
                            }
                            .circle-nav-wrapper{
                                display: none;
                                width: 300px;
                                height: 300px;
                                background-color: transparent;
                                box-shadow: none;
                                z-index: 999;
                                top: auto;
                                left: auto;
                                right: 0px;
                                bottom: 0px;
                                transform: rotate(90deg);
                                .circle-nav-toggle{
                                    border: none;
                                    width: 50px;
                                    height: 50px;
                                    top: 5px;
                                    right: 5px;
                                    opacity: 0;
                                    svg#Capa_1{
                                        width: 50px;
                                        g{
                                            path{
                                                fill: white;
                                            }
                                        }
                                    }
                                    &.circle-nav-open{
                                        opacity: 1;
                                        svg#Capa_1{
                                            g{
                                                path{
                                                    fill: white;
                                                }
                                            }
                                        }
                                    }
                                }
                                ul.circle-nav-menu{
                                    width: 300px;
                                    height: 300px;
                                    li.circle-nav-item{
                                        width: 45px;
                                        height: 45px;
                                        box-sizing: border-box;
                                        transform: rotate(-90deg);
                                        a{
                                            padding: 0px;
                                            line-height: 0;
                                            svg{
                                                width: 30px !important;
                                                height: 30px !important;
                                                g{
                                                    path{
                                                        fill: #ff7b7b !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &:not(.circle-nav-open){
                                        li.circle-nav-item{
                                            left: 300px;
                                            bottom: 300px;
                                        }
                                    }
                                    &.circle-nav-open{

                                    }
                                }
                                .circle-nav-panel{
                                    margin-left: 311px;
                                }
                                .circle-nav-panel.circle-nav-open{
                                    margin-left: 311px;
                                    width: 600px;
                                    height: 600px;
                                }
                                *{
                                    max-width: none;
                                }
                                &.circle-nav-open{
                                    z-index: 1001;
                                }
                            }
                            .type-other {
                                .blog__image{
                                    width: 100%;
                                    max-width: 680px;
                                    min-width: 300px;
                                    margin: 0px auto 20px;
                                    img {
                                        width: 100%;
                                    }
                                }
                                .blog__context{
                                    width: 680px;
                                    max-width: 100%;
                                    margin: 0px auto;
                                }
                            }
                            *{
                                max-width: 100%;
                                &.flex-row{
                                    max-width: none;
                                }
                            }
                            &:hover{
                                .slider-nav{
                                    display: flex;
                                }
                            }
                        }
                        .download-pdf-wrap{
                            margin-top: 20px;
                            .site-green-btn{
                                font-size: 1.5rem;
                                padding: 7px 15px;
                            }
                        }
                        .slider-nav-wrapper{
                            position: fixed;
                            top: calc(100% / 2);
                            height: 268px;
                            width: 124px;
                            overflow: hidden;
                            z-index: 80;
                            .slider-nav{
                                display: none;
                                position: absolute;
                                top: 0px;
                                max-width: none;
                                height: 268px;
                                width: 268px;
                                background-color: rgba(255, 224, 198, .3);
                                border-radius: 50%;
                                cursor: pointer;
                                img{
                                    position: relative;
                                }
                                &.arrow-left{
                                    right: 0px;
                                    img{
                                        left: 50px;
                                    }
                                }
                                &.arrow-right{
                                    left: 0px;
                                    img{
                                        right: 50px;
                                    }
                                }
                                &:hover{
                                    background-color: rgba(255, 224, 198, .6);
                                }
                            }
                            &.left-wrapper{
                                left: 0px;
                            }
                            &.right-wrapper{
                                right: 0px;
                            }
                        }
                        .note-wrapper{
                            position: fixed;
                            top: calc((100% - 300px) / 2);
                            right: 0px;
                            z-index: 100;
                        }
                        &:hover{
                            .slider-nav{
                                display: flex;
                            }
                        }
                        @media screen and (max-width: 768px){
                            padding-bottom: 0px;
                            .note-wrapper{
                                margin: 0px -20px;
                            }
                        }
                    }
                }
            }
            .listing-posts{
                position: fixed;
                left: 0px;
                top: 0px;
                bottom: 0px;
                width: 700px;
                max-width: 100%;
                background-color: white;
                padding: 0px;
                transform: translateX(-700px);
                transition: transform 200ms ease-in-out;
                z-index: 300;
                display: flex;
                flex-direction: column;
                header.listing-posts-header{
                    flex-grow: 0;
                    flex-shrink: 0;
                    position: relative;
                    padding: 25px 80px;
                    background-color: $lightGreen;
                    .title-wrapper{
                        .series-title{
                            font-size: 3rem;
                            font-weight: bold;
                        }
                        .posts-count{
                            margin-left: 10px;
                            display: inline-block;
                            color: white;
                        }
                    }
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
                        background-size: 5px 1px;
                        background-repeat: repeat-x;
                    }
                    .section-close{
                        display: block;
                        position: absolute;
                        top: 3rem;
                        right: 2rem;
                        width: 2rem;
                        height: 2rem;
                        cursor: pointer;
                        z-index: 1;
                        &:before{
                            content: '';
                            display: block;
                            width: 3rem;
                            height: 1px;
                            background-color: $greenColor;
                            position: absolute;
                            top: 50%;
                            left: -0.5rem;
                            transform: rotate(45deg);
                        }
                        &:after{
                            content: '';
                            display: block;
                            width: 3rem;
                            height: 1px;
                            background-color: $greenColor;
                            position: absolute;
                            top: 50%;
                            left: -0.5rem;
                            transform: rotate(-45deg);
                        }
                        &:hover{
                            &:before, &:after{
                                background-color: $greenHover;
                            }
                        }
                    }
                }
                .listing-posts-content{
                    padding: 10px 30px;
                    flex-grow: 1;
                    flex-basis: 100px;
                    overflow: auto;
                    overflow-scrolling: touch;
                    -webkit-overflow-scrolling: touch;
                    .new-title, .all-title{
                        width: calc(100% - 40px);
                        margin: 15px auto 10px;
                        border-bottom: 1px dotted $greenColor;
                        font-size: 1.5rem;
                    }
                    ul.unread-posts-list{
                        li{
                            margin-bottom: 25px;
                            .item-img{
                                width: 85px;
                                height: 50px;
                            }
                            .item-view-states-wrapper{
                                width: 25px;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                position: relative;
                                top: 5px;
                                z-index: 2;
                                .view-state{
                                    display: none;
                                    position: relative;
                                    top: 2px;
                                    &.complete-state{
                                        width: 20px;
                                        height: auto;
                                        g, path{
                                            fill: $greenColor;
                                        }
                                    }
                                    &.current-state{
                                        width: 10px;
                                        height: 10px;
                                        border: 3px solid $greenColor;
                                        background-color: white;
                                        border-radius: 50%;
                                        box-sizing: content-box;
                                    }
                                    &.normal-state{
                                        width: 12px;
                                        height: 12px;
                                        border-radius: 50%;
                                        background-color: $greenColor;
                                        opacity: .8;
                                        box-sizing: content-box;
                                    }
                                }
                                &.state-complete{
                                    .complete-state{
                                        display: block;
                                    }
                                }
                                &.state-normal{
                                    .normal-state{
                                        display: block;
                                    }
                                }
                                &.state-current{
                                    .current-state{
                                        display: block;
                                    }
                                }
                                &:after{
                                    z-index: 1;
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    width: 1px;
                                    height: calc(100% + 20px);
                                    top: 17px;
                                    left: 50%;
                                    background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
                                    background-position: left;
                                    background-size: 1px 10px;
                                    background-repeat: repeat-y;
                                    opacity: .7;
                                }
                            }
                            .title-wrapper{
                                .media-icon-wrapper{
                                    display: inline-block;
                                    margin-right: 10px;
                                    i{
                                        display: none;
                                        font-size: 1.5rem;
                                    }
                                    &.type-0{
                                        .audio-icon{
                                            display: initial;
                                        }
                                    }
                                    &.type-2{
                                        .video-icon{
                                            display: initial;
                                        }
                                    }
                                    &.type-7, &.type-10, &.type-8, &.type-9{
                                        .text-icon{
                                            display: initial;
                                        }
                                    }
                                }
                                .item-title{
                                    font-size: 1.5rem;
                                    color: $contentColor;
                                }
                                .item-duration{
                                }
                            }
                            &:last-child{
                                .item-view-states-wrapper{
                                    &:after{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .series-structure-tree-component{
                        > ul.posts-list{
                            padding-left: 0px;
                            > li{
                                >.post-row-inner{
                                    .post-title{
                                        display: none;
                                    }
                                }
                            }
                        }
                        ul{
                            li{
                                .post-row-inner{
                                    .post-title{
                                        cursor: pointer;
                                        color: $contentColor;
                                        &:hover{
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .new-title, .all-title, ul.unread-posts-list{
                        display: none;
                    }
                    &::-webkit-scrollbar{
                        width: 8px;
                    }
                    &::-webkit-scrollbar-button{

                    }
                    &::-webkit-scrollbar-track{
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-track-piece {}
                    &::-webkit-scrollbar-thumb{
                        border-radius: 10px;
                        background-color: #cacac0;
                        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
                    }
                    &::-webkit-scrollbar-corner{}
                    &::-webkit-resizer{  }
                }
                &.has-new{
                    .listing-posts-content{
                        .new-title, .all-title, ul.unread-posts-list{
                            display: block;
                        }
                    }
                }
                @media screen and (max-width: 768px){
                    transform: translateX(-100%);
                    header.listing-posts-header{
                        padding: 15px 10px;
                    }
                    .listing-posts-content{
                        padding: 15px 10px;
                    }
                }
            }
            &.listing-opened{
                .listing-posts {
                    transform: translateX(0);
                }
                .site-back-drop{
                    display: block;
                }
            }
        }
        .dropdown-content.select-dropdown{
            li{
                span{
                    font-size: 15px;
                    line-height: 1.1;
                    white-space: pre-line;
                    padding: 5px 10px;
                    color: $contentColor;
                }
            }
        }
        .modal{
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            max-height: 100%;
            margin: 0px;
            z-index: 1050;
            -webkit-overflow-scrolling: touch;
            outline: 0;
            background-color: transparent;
        }
        .summernote-tool-modal{
            .modal-dialog{
                .modal-content{
                    .modal-header{
                        .modal-title{
                            font-size: 18px;
                        }
                    }
                    .modal-body{
                        font-size: 14px;
                        .form-group{
                            label.note-form-label{
                                display: inline-block;
                                max-width: 100%;
                                margin-bottom: 5px;
                                font-size: 14px;
                                font-weight: bold;
                            }
                            input.form-control{
                                display: block;
                                width: 100%;
                                height: 34px;
                                padding: 6px 12px;
                                font-size: 14px;
                                line-height: 1.42857143;
                                color: #555;
                                background-color: #fff;
                                background-image: none;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                box-sizing: border-box;
                                box-shadow: none;
                                &:focus{
                                    border-color: #66afe9;
                                    outline: 0;
                                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
                                }
                            }
                        }
                        .progress{
                            height: auto;
                            .progress-bar{
                                height: auto;
                            }
                        }
                    }
                    .modal-footer{
                        .btn{
                            display: inline-block;
                            padding: 6px 12px;
                            margin-bottom: 0;
                            font-size: 14px;
                            font-weight: normal;
                            line-height: 1.42857143;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: middle;
                            user-select: none;
                            background-image: none;
                            border: 1px solid transparent;
                            border-radius: 4px;
                            &.btn-primary{
                                background-color: #337ab7;
                                border-color: #2e6da4;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
