html.walden-site {
  min-height: 100%; }
  html.walden-site body {
    position: relative;
    background-color: #f8f7f9;
    min-height: 100%; }
    html.walden-site body .site-wrapper {
      min-height: 100%; }
      html.walden-site body .site-wrapper .blog-wrapper {
        position: relative;
        padding: 10px 10px 10px; }
        html.walden-site body .site-wrapper .blog-wrapper header.content-header .welcome {
          display: none; }
        html.walden-site body .site-wrapper .blog-wrapper header.content-header .login-btn .btn.big-login {
          padding: 10px 50px; }
        html.walden-site body .site-wrapper .blog-wrapper header.content-header .money-saved {
          text-align: right; }
          html.walden-site body .site-wrapper .blog-wrapper header.content-header .money-saved .money-amount {
            font-size: 50px;
            color: #7fc9ff;
            line-height: 1; }
            html.walden-site body .site-wrapper .blog-wrapper header.content-header .money-saved .money-amount span {
              font-size: 70px;
              line-height: 40px; }
          html.walden-site body .site-wrapper .blog-wrapper header.content-header .money-saved .w-name {
            font-size: 30px; }
        html.walden-site body .site-wrapper .blog-wrapper .post-image-wrapper {
          text-align: center; }
          html.walden-site body .site-wrapper .blog-wrapper .post-image-wrapper .post-img {
            max-width: calc(100% - 100px); }
        html.walden-site body .site-wrapper .blog-wrapper .post-title {
          text-align: center;
          margin: 5px 0 30px;
          font-size: 32px;
          font-weight: 400;
          color: #0084C9; }
        html.walden-site body .site-wrapper .blog-wrapper .post-body {
          text-align: center;
          font-size: 2rem;
          max-width: 100%;
          width: 780px;
          margin: 0px auto;
          padding-bottom: 20px;
          min-height: 300px; }
          html.walden-site body .site-wrapper .blog-wrapper .post-body img {
            max-width: 100%;
            display: block;
            margin: 0px auto; }
          html.walden-site body .site-wrapper .blog-wrapper .post-body video {
            max-width: 100%; }
          html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu {
            text-align: center;
            background-color: #f8f7f9;
            padding: 10px 5px; }
            html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu header .menu-title {
              font-size: 2rem; }
            html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu .paths-container .paths-list .path-col {
              padding: 20px 30px;
              flex-basis: 100px;
              flex-shrink: 0;
              flex-grow: 1;
              border-left: 1px dotted grey;
              cursor: pointer;
              word-break: break-all; }
              html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu .paths-container .paths-list .path-col .img-wrapper {
                height: 150px; }
                html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu .paths-container .paths-list .path-col .img-wrapper img {
                  opacity: .8;
                  width: 100%;
                  min-width: 100px;
                  max-width: 150px; }
              html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu .paths-container .paths-list .path-col .path-title {
                font-size: 1.2rem;
                margin: 10px 0px; }
              html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu .paths-container .paths-list .path-col .path-description {
                font-size: 1rem;
                line-height: 1.1; }
              html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu .paths-container .paths-list .path-col:hover {
                color: black; }
                html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu .paths-container .paths-list .path-col:hover .img-wrapper img {
                  opacity: 1; }
              html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu .paths-container .paths-list .path-col:first-child {
                border-left: none; }
            html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu .paths-container .paths-list.paths-count-3 .path-col {
              flex-basis: 30%; }
            @media all and (max-width: 1240px) {
              html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu .paths-container .paths-list.paths-count-4 .path-col {
                flex-basis: 50%; } }
            html.walden-site body .site-wrapper .blog-wrapper .post-body .type-menu .paths-container .paths-list.paths-count-5 {
              flex-basis: 30%; }
        html.walden-site body .site-wrapper .blog-wrapper .right-panel-footer {
          border-top: 1px solid #999;
          padding: 30px 0px 15px; }
          html.walden-site body .site-wrapper .blog-wrapper .right-panel-footer .step-back {
            display: block;
            font-size: 20px;
            line-height: 28px;
            text-decoration: none;
            color: #777;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            cursor: pointer; }
            html.walden-site body .site-wrapper .blog-wrapper .right-panel-footer .step-back .content-turbotax__back-arr {
              font-size: 28px;
              line-height: 28px; }
            html.walden-site body .site-wrapper .blog-wrapper .right-panel-footer .step-back:hover {
              color: black; }
          html.walden-site body .site-wrapper .blog-wrapper .right-panel-footer .step-next {
            display: block;
            font-size: 20px;
            line-height: 28px;
            text-decoration: none;
            padding: 10px 20px;
            color: #fff;
            background-color: #00c0ff;
            border-radius: 5px;
            position: relative;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            cursor: pointer; }
            html.walden-site body .site-wrapper .blog-wrapper .right-panel-footer .step-next:after {
              content: "";
              display: block;
              position: absolute;
              width: 100%;
              height: 2px;
              left: 0;
              bottom: 0;
              background-color: #0086b3;
              border-bottom-left-radius: 100%;
              border-bottom-right-radius: 100%; }
            html.walden-site body .site-wrapper .blog-wrapper .right-panel-footer .step-next:hover {
              background-color: #0086b3; }
          html.walden-site body .site-wrapper .blog-wrapper .right-panel-footer .powered-by {
            margin-top: 10px;
            font-size: 20px;
            text-align: center;
            color: #0084C9; }
        html.walden-site body .site-wrapper .blog-wrapper.content-type-2 .post-image-wrapper {
          display: none; }
        html.walden-site body .site-wrapper .blog-wrapper.content-type-0 .post-image-wrapper {
          display: none; }
        html.walden-site body .site-wrapper .blog-wrapper .pay-blog-wrapper {
          padding: 10px 10px 30px 10px;
          font-size: 2rem; }
      html.walden-site body .site-wrapper.logged-in .blog-wrapper header.content-header .welcome {
        display: initial; }
      html.walden-site body .site-wrapper.logged-in .blog-wrapper header.content-header .login-btn {
        display: none; }
    html.walden-site body .form-field-wrapper {
      margin: 5px auto; }
      html.walden-site body .form-field-wrapper .form-field-inner {
        display: flex;
        margin: 10px 0px;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: center; }
        html.walden-site body .form-field-wrapper .form-field-inner label.form-field-name {
          flex-basis: 100%;
          flex-shrink: 0;
          padding: 5px 10px;
          margin: 0px;
          background-color: #f8f7f9;
          font-weight: normal;
          text-align: center; }
        html.walden-site body .form-field-wrapper .form-field-inner .form-field-value {
          max-width: 100%;
          width: 500px;
          display: block;
          padding: 9px 10px;
          background-color: white;
          text-align: left;
          border: 1px solid #999;
          border-radius: 5px; }
          html.walden-site body .form-field-wrapper .form-field-inner .form-field-value:focus {
            border-color: transparent; }
          html.walden-site body .form-field-wrapper .form-field-inner .form-field-value[contentEditable=true]:empty:not(:focus):before {
            content: attr(placeholder);
            cursor: text; }
        html.walden-site body .form-field-wrapper .form-field-inner .form-field-helper {
          margin: 2px 2px 2px 10px;
          padding: 5px 5px;
          color: white;
          align-self: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #25b7d3;
          font-family: FontAwesome;
          font-weight: bold;
          text-align: center;
          font-size: 40px;
          line-height: 40px;
          vertical-align: middle;
          cursor: default; }
      html.walden-site body .form-field-wrapper.status-loading {
        color: orange;
        transition: color ease-in .005s; }
        html.walden-site body .form-field-wrapper.status-loading .form-field-inner {
          transition: border-color ease-in .005s;
          border-color: orange; }
      html.walden-site body .form-field-wrapper.status-loading-finished {
        animation-name: loading-finished;
        animation-duration: .3s;
        animation-fill-mode: forwards; }
        html.walden-site body .form-field-wrapper.status-loading-finished .form-field-inner {
          animation-name: loading-finished;
          animation-duration: .3s;
          animation-fill-mode: forwards; }
@keyframes loading-finished {
  from {
    border-color: orange;
    color: orange; }
  to {
    color: grey;
    border-color: #a9a9a9; } }

/*# sourceMappingURL=viewEmbed-page.css.map */
