@charset "UTF-8";
html {
  font-size: 12px;
}
html body .site-wrapper.page .site-content .view-blog-header {
  padding: 70px 75px 50px;
  background-color: #f6fffc;
}
html body .site-wrapper.page .site-content .view-blog-header .series-mobile-title {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
}
html body .site-wrapper.page .site-content .view-blog-header .series-mobile-title .day-wrapper {
  font-weight: normal;
}
html body .site-wrapper.page .site-content .view-blog-header .title-wrapper {
  font-size: 1.5rem;
  font-weight: bold;
}
html body .site-wrapper.page .site-content .view-blog-header .title-wrapper .series-title {
  color: inherit;
}
html body .site-wrapper.page .site-content .view-blog-header .title-wrapper .day-wrapper {
  font-weight: normal;
}
html body .site-wrapper.page .site-content .view-blog-header .listing-toggle {
  position: relative;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #1fcd98;
  border-radius: 50%;
  cursor: pointer;
}
html body .site-wrapper.page .site-content .view-blog-header .listing-toggle svg {
  width: 25px;
  height: auto;
}
html body .site-wrapper.page .site-content .view-blog-header .listing-toggle svg g, html body .site-wrapper.page .site-content .view-blog-header .listing-toggle svg path, html body .site-wrapper.page .site-content .view-blog-header .listing-toggle svg circle {
  fill: #1fcd98 !important;
}
html body .site-wrapper.page .site-content .view-blog-header .listing-toggle .unread-posts-count {
  display: none;
  position: absolute;
  bottom: 35px;
  left: 30px;
  padding: 2px 5px;
  background-color: #f26d7e;
  color: white;
  border-radius: 3px;
}
html body .site-wrapper.page .site-content .view-blog-header .listing-toggle.has-new .unread-posts-count {
  display: block;
}
html body .site-wrapper.page .site-content .view-blog-header .listing-toggle:hover {
  border-color: #1eb785;
}
html body .site-wrapper.page .site-content .view-blog-header .listing-toggle:hover svg g, html body .site-wrapper.page .site-content .view-blog-header .listing-toggle:hover svg path, html body .site-wrapper.page .site-content .view-blog-header .listing-toggle:hover svg circle {
  fill: #1eb785 !important;
}
html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper {
  position: relative;
  flex-basis: 400px;
  padding-left: 60px;
  overflow: hidden;
}
html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper label {
  display: block;
  margin: 0px 0px 2px;
  font-weight: normal;
  font-size: 1.5rem;
}
html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper .select-wrapper {
  width: 225px;
  overflow: hidden;
}
html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper .select-wrapper .select-dropdown {
  margin-bottom: 0px;
  font-size: 15px;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  line-height: 2;
  padding-right: 25px;
}
html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper .select-wrapper .select-dropdown:after {
  top: 5px;
  line-height: 1;
}
html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper select {
  font-size: 0.5rem;
}
html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper .play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: calc((100% - 47px) / 2);
  height: 47px;
  width: 47px;
  padding: 0px 3px;
  background-color: #c8cabc;
  color: white;
  border-radius: 10px;
  font-family: VideoJS;
  text-decoration: none;
}
html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper .play-btn:before {
  font-size: 3rem;
  content: "";
  display: block;
}
html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper.speaking .play-btn:before {
  content: "";
}
html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper.pause .play-btn:before {
  content: "";
}
html body .site-wrapper.page .site-content .view-blog-header .action-item {
  background-color: transparent;
  display: flex;
  line-height: 0;
  border-radius: 50%;
  border: 1px solid #1fcd98;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item svg {
  width: 25px;
  max-height: 25px;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item svg g {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item svg path {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item svg polygon {
  fill: #1fcd98;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item.complete-action.completed {
  background-color: #1fcd98;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item.complete-action.completed svg g, html body .site-wrapper.page .site-content .view-blog-header .action-item.complete-action.completed svg path, html body .site-wrapper.page .site-content .view-blog-header .action-item.complete-action.completed svg polygon {
  fill: white;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item.favorite-action.favorite {
  border-color: #feba19;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item.favorite-action.favorite svg g, html body .site-wrapper.page .site-content .view-blog-header .action-item.favorite-action.favorite svg path, html body .site-wrapper.page .site-content .view-blog-header .action-item.favorite-action.favorite svg polygon {
  fill: #feba19;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item.more-action {
  margin-left: 5px;
  position: relative;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item.more-action ~ .more-drop-down {
  min-width: 0px;
  left: -15px;
  width: calc(100% + 30px);
  padding: 15px;
  height: auto;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
html body .site-wrapper.page .site-content .view-blog-header .action-item.more-action ~ .more-drop-down .action-item {
  margin-bottom: 7px;
  padding: 0px;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item.more-action ~ .more-drop-down .post-copy-embed {
  margin-bottom: 7px;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item:hover {
  border-color: #1eb785;
}
html body .site-wrapper.page .site-content .view-blog-header .action-item:hover svg g, html body .site-wrapper.page .site-content .view-blog-header .action-item:hover svg path, html body .site-wrapper.page .site-content .view-blog-header .action-item:hover svg polygon {
  fill: #1eb785;
}
html body .site-wrapper.page .site-content .view-blog-header .share-btn {
  font-size: 1.7rem;
}
html body .site-wrapper.page .site-content .view-blog-header .join-wrapper {
  text-align: center;
  height: 46px;
  overflow: visible;
}
html body .site-wrapper.page .site-content .view-blog-header .join-wrapper .btn-wrapper {
  display: block;
}
html body .site-wrapper.page .site-content .view-blog-header .join-wrapper .wrap {
  width: 180px;
  margin: 0px auto;
}
html body .site-wrapper.page .site-content .view-blog-header .join-wrapper .wrap button {
  width: 100%;
  font-size: 2rem;
  line-height: 34px;
  height: 46px;
}
html body .site-wrapper.page .site-content .view-blog-header .join-wrapper .wrap button.circle {
  width: 46px;
}
html body .site-wrapper.page .site-content .view-blog-header .join-wrapper .wrap button.filled {
  line-height: 34px;
  vertical-align: middle;
}
html body .site-wrapper.page .site-content .view-blog-header .join-wrapper .wrap img {
  top: calc((100% - 38px) / 2);
  left: calc((100% - 49px) / 2);
  width: auto !important;
  display: none;
}
html body .site-wrapper.page .site-content .view-blog-header .join-wrapper .wrap svg {
  left: calc((100% - 46px) / 2);
  top: 0px;
  width: 46px;
  height: 46px;
}
html body .site-wrapper.page .site-content .view-blog-header .join-wrapper .wrap svg circle {
  r: 21px;
  cx: 23px;
  cy: 23px;
}
html body .site-wrapper.page .site-content .view-blog-header .join-wrapper .price-wrapper span {
  font-size: 2.5rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  html body .site-wrapper.page .site-content .view-blog-header {
    padding: 25px 10px 10px;
  }
  html body .site-wrapper.page .site-content .view-blog-header .title-wrapper {
    font-size: 2rem;
  }
  html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper {
    width: 100%;
  }
  html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper label {
    display: block;
    margin: 0px 0px 2px;
    font-weight: normal;
    font-size: 1.5rem;
  }
  html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper .select-wrapper {
    width: 100%;
    overflow: hidden;
  }
  html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper select {
    font-size: 0.5rem;
  }
  html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper .play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: calc((100% - 47px) / 2);
    height: 47px;
    width: 47px;
    padding: 0px 3px;
    background-color: #c8cabc;
    color: white;
    border-radius: 10px;
    font-family: VideoJS;
    text-decoration: none;
  }
  html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper .play-btn:before {
    font-size: 3rem;
    content: "";
    display: block;
  }
  html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper.speaking .play-btn:before {
    content: "";
  }
  html body .site-wrapper.page .site-content .view-blog-header .choose-lang-wrapper.pause .play-btn:before {
    content: "";
  }
  html body .site-wrapper.page .site-content .view-blog-header .action-item.more-action ~ .more-drop-down {
    width: calc(100% + 15px);
    padding: 10px 5px;
  }
}
html body .site-wrapper.page .site-content main.main-content .content__header {
  width: 900px;
  max-width: 100%;
  margin: 20px auto 5px;
  text-align: left;
}
html body .site-wrapper.page .site-content main.main-content .content__header .blog-title {
  margin-bottom: 10px;
  font-size: 38px;
  color: #3b4246;
  line-height: 48px;
}
html body .site-wrapper.page .site-content main.main-content .content__header .blog-subtitle {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 28px;
  line-height: 40px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body {
  min-height: 500px;
  position: relative;
  padding: 25px 20px;
  font-size: 1.4rem;
  text-align: initial;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper {
  max-width: 992px;
  margin: 0px auto;
  position: relative;
  color: #3b4246;
  line-height: 32px;
  font-size: 20px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .video-js {
  width: auto !important;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .video-js .vjs-big-play-button {
  border-radius: 50%;
  border: none;
  width: 6em;
  height: 6em;
  left: calc((100% - 6em) / 2);
  top: calc((100% - 6em) / 2);
  background-color: rgba(115, 133, 159, 0.5);
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  font-size: 5em;
  line-height: 1.2;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .video-js.vjs-waiting .vjs-big-play-button {
  opacity: 0;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .video-js:hover .vjs-big-play-button {
  background-color: rgba(43, 51, 63, 0.7);
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper aside.blog-duration {
  position: absolute;
  bottom: 8px;
  right: 9px;
  padding: 7px 20px;
  z-index: 1;
  background: rgba(227, 228, 220, 0.8);
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.1;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper {
  display: none;
  width: 300px;
  height: 300px;
  background-color: transparent;
  box-shadow: none;
  z-index: 999;
  top: auto;
  left: auto;
  right: 0px;
  bottom: 0px;
  transform: rotate(90deg);
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper .circle-nav-toggle {
  border: none;
  width: 50px;
  height: 50px;
  top: 5px;
  right: 5px;
  opacity: 0;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper .circle-nav-toggle svg#Capa_1 {
  width: 50px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper .circle-nav-toggle svg#Capa_1 g path {
  fill: white;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper .circle-nav-toggle.circle-nav-open {
  opacity: 1;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper .circle-nav-toggle.circle-nav-open svg#Capa_1 g path {
  fill: white;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper ul.circle-nav-menu {
  width: 300px;
  height: 300px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item {
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  transform: rotate(-90deg);
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a {
  padding: 0px;
  line-height: 0;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg {
  width: 30px !important;
  height: 30px !important;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg g path {
  fill: #ff7b7b !important;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper ul.circle-nav-menu:not(.circle-nav-open) li.circle-nav-item {
  left: 300px;
  bottom: 300px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper .circle-nav-panel {
  margin-left: 311px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper .circle-nav-panel.circle-nav-open {
  margin-left: 311px;
  width: 600px;
  height: 600px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper * {
  max-width: none;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .circle-nav-wrapper.circle-nav-open {
  z-index: 1001;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .type-other .blog__image {
  width: 100%;
  max-width: 680px;
  min-width: 300px;
  margin: 0px auto 20px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .type-other .blog__image img {
  width: 100%;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper .type-other .blog__context {
  width: 680px;
  max-width: 100%;
  margin: 0px auto;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper * {
  max-width: 100%;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper *.flex-row {
  max-width: none;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .body-wrapper:hover .slider-nav {
  display: flex;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .download-pdf-wrap {
  margin-top: 20px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .download-pdf-wrap .site-green-btn {
  font-size: 1.5rem;
  padding: 7px 15px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .slider-nav-wrapper {
  position: fixed;
  top: calc(100% / 2);
  height: 268px;
  width: 124px;
  overflow: hidden;
  z-index: 80;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .slider-nav-wrapper .slider-nav {
  display: none;
  position: absolute;
  top: 0px;
  max-width: none;
  height: 268px;
  width: 268px;
  background-color: rgba(255, 224, 198, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .slider-nav-wrapper .slider-nav img {
  position: relative;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .slider-nav-wrapper .slider-nav.arrow-left {
  right: 0px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .slider-nav-wrapper .slider-nav.arrow-left img {
  left: 50px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .slider-nav-wrapper .slider-nav.arrow-right {
  left: 0px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .slider-nav-wrapper .slider-nav.arrow-right img {
  right: 50px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .slider-nav-wrapper .slider-nav:hover {
  background-color: rgba(255, 224, 198, 0.6);
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .slider-nav-wrapper.left-wrapper {
  left: 0px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .slider-nav-wrapper.right-wrapper {
  right: 0px;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body .note-wrapper {
  position: fixed;
  top: calc((100% - 300px) / 2);
  right: 0px;
  z-index: 100;
}
html body .site-wrapper.page .site-content main.main-content .view-blog-body:hover .slider-nav {
  display: flex;
}
@media screen and (max-width: 768px) {
  html body .site-wrapper.page .site-content main.main-content .view-blog-body {
    padding-bottom: 0px;
  }
  html body .site-wrapper.page .site-content main.main-content .view-blog-body .note-wrapper {
    margin: 0px -20px;
  }
}
html body .site-wrapper.page .listing-posts {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 700px;
  max-width: 100%;
  background-color: white;
  padding: 0px;
  transform: translateX(-700px);
  transition: transform 200ms ease-in-out;
  z-index: 300;
  display: flex;
  flex-direction: column;
}
html body .site-wrapper.page .listing-posts header.listing-posts-header {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  padding: 25px 80px;
  background-color: #f6fffc;
}
html body .site-wrapper.page .listing-posts header.listing-posts-header .title-wrapper .series-title {
  font-size: 3rem;
  font-weight: bold;
}
html body .site-wrapper.page .listing-posts header.listing-posts-header .title-wrapper .posts-count {
  margin-left: 10px;
  display: inline-block;
  color: white;
}
html body .site-wrapper.page .listing-posts header.listing-posts-header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
html body .site-wrapper.page .listing-posts header.listing-posts-header .section-close {
  display: block;
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 1;
}
html body .site-wrapper.page .listing-posts header.listing-posts-header .section-close:before {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #1fcd98;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: rotate(45deg);
}
html body .site-wrapper.page .listing-posts header.listing-posts-header .section-close:after {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #1fcd98;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: rotate(-45deg);
}
html body .site-wrapper.page .listing-posts header.listing-posts-header .section-close:hover:before, html body .site-wrapper.page .listing-posts header.listing-posts-header .section-close:hover:after {
  background-color: #1eb785;
}
html body .site-wrapper.page .listing-posts .listing-posts-content {
  padding: 10px 30px;
  flex-grow: 1;
  flex-basis: 100px;
  overflow: auto;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
html body .site-wrapper.page .listing-posts .listing-posts-content .new-title, html body .site-wrapper.page .listing-posts .listing-posts-content .all-title {
  width: calc(100% - 40px);
  margin: 15px auto 10px;
  border-bottom: 1px dotted #1fcd98;
  font-size: 1.5rem;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li {
  margin-bottom: 25px;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .item-img {
  width: 85px;
  height: 50px;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper {
  width: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 5px;
  z-index: 2;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state {
  display: none;
  position: relative;
  top: 2px;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.complete-state {
  width: 20px;
  height: auto;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.complete-state g, html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.complete-state path {
  fill: #1fcd98;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.current-state {
  width: 10px;
  height: 10px;
  border: 3px solid #1fcd98;
  background-color: white;
  border-radius: 50%;
  box-sizing: content-box;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper .view-state.normal-state {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1fcd98;
  opacity: 0.8;
  box-sizing: content-box;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper.state-complete .complete-state {
  display: block;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper.state-normal .normal-state {
  display: block;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper.state-current .current-state {
  display: block;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .item-view-states-wrapper:after {
  z-index: 1;
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: calc(100% + 20px);
  top: 17px;
  left: 50%;
  background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  opacity: 0.7;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper {
  display: inline-block;
  margin-right: 10px;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper i {
  display: none;
  font-size: 1.5rem;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-0 .audio-icon {
  display: initial;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-2 .video-icon {
  display: initial;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-7 .text-icon, html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-10 .text-icon, html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-8 .text-icon, html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .media-icon-wrapper.type-9 .text-icon {
  display: initial;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li .title-wrapper .item-title {
  font-size: 1.5rem;
  color: #737661;
}
html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list li:last-child .item-view-states-wrapper:after {
  display: none;
}
html body .site-wrapper.page .listing-posts .listing-posts-content .series-structure-tree-component > ul.posts-list {
  padding-left: 0px;
}
html body .site-wrapper.page .listing-posts .listing-posts-content .series-structure-tree-component > ul.posts-list > li > .post-row-inner .post-title {
  display: none;
}
html body .site-wrapper.page .listing-posts .listing-posts-content .series-structure-tree-component ul li .post-row-inner .post-title {
  cursor: pointer;
  color: #737661;
}
html body .site-wrapper.page .listing-posts .listing-posts-content .series-structure-tree-component ul li .post-row-inner .post-title:hover {
  text-decoration: underline;
}
html body .site-wrapper.page .listing-posts .listing-posts-content .new-title, html body .site-wrapper.page .listing-posts .listing-posts-content .all-title, html body .site-wrapper.page .listing-posts .listing-posts-content ul.unread-posts-list {
  display: none;
}
html body .site-wrapper.page .listing-posts .listing-posts-content::-webkit-scrollbar {
  width: 8px;
}
html body .site-wrapper.page .listing-posts .listing-posts-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
html body .site-wrapper.page .listing-posts .listing-posts-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cacac0;
}
html body .site-wrapper.page .listing-posts.has-new .listing-posts-content .new-title, html body .site-wrapper.page .listing-posts.has-new .listing-posts-content .all-title, html body .site-wrapper.page .listing-posts.has-new .listing-posts-content ul.unread-posts-list {
  display: block;
}
@media screen and (max-width: 768px) {
  html body .site-wrapper.page .listing-posts {
    transform: translateX(-100%);
  }
  html body .site-wrapper.page .listing-posts header.listing-posts-header {
    padding: 15px 10px;
  }
  html body .site-wrapper.page .listing-posts .listing-posts-content {
    padding: 15px 10px;
  }
}
html body .site-wrapper.page.listing-opened .listing-posts {
  transform: translateX(0);
}
html body .site-wrapper.page.listing-opened .site-back-drop {
  display: block;
}
html body .dropdown-content.select-dropdown li span {
  font-size: 15px;
  line-height: 1.1;
  white-space: pre-line;
  padding: 5px 10px;
  color: #737661;
}
html body .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  margin: 0px;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: transparent;
}
html body .summernote-tool-modal .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 18px;
}
html body .summernote-tool-modal .modal-dialog .modal-content .modal-body {
  font-size: 14px;
}
html body .summernote-tool-modal .modal-dialog .modal-content .modal-body .form-group label.note-form-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}
html body .summernote-tool-modal .modal-dialog .modal-content .modal-body .form-group input.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
}
html body .summernote-tool-modal .modal-dialog .modal-content .modal-body .form-group input.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
html body .summernote-tool-modal .modal-dialog .modal-content .modal-body .progress {
  height: auto;
}
html body .summernote-tool-modal .modal-dialog .modal-content .modal-body .progress .progress-bar {
  height: auto;
}
html body .summernote-tool-modal .modal-dialog .modal-content .modal-footer .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
html body .summernote-tool-modal .modal-dialog .modal-content .modal-footer .btn.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
}

/*# sourceMappingURL=view-blog-page.css.map */
