$content_color: grey;
html {
  min-height: 100%;
  body {
    position: relative;
    min-height: 100%;
    .site-wrapper{
      min-height: 100%;
      .left-panel{
        transition: all .3s ease-in;
        padding: 20px 0px;
        margin: 0px auto;
        background-color: white;
        max-width: 40%;
        border-right: 1px solid grey;
        header.left-header{
          padding-left: 50px;

          .welcome{
            display: none;
          }
          .login-btn{
            .btn.big-login{
              padding: 10px 50px;
            }
          }
          .collapse-wrapper{
            cursor: pointer;
            padding: 10px;
            color: $content_color;
            .glyphicon{
              font-size: 1.5rem;
            }
            .glyphicon-chevron-right{
              display: none;
            }
            &:hover {
              color: black;
            }
          }
        }
        .posts-container{
          position: relative;
          ul{
            list-style: none;
            margin: 10px;
            padding-left: 50px;
            position: relative;
            overflow: hidden;
            > li{
              margin: 0px;
              font-size: 1.5rem;
              width: 100%;
              display: list-item;
              > .post-row-inner{
                padding: 9px 5px 9px 0px;
                //border-bottom: 1px dotted grey;
                .jstree-icon {
                  background-image: url(../../images/global-icons/tree/32px-type2.png);
                }
                .jstree-ocl{
                  background-position: -96px 0;
                }
                .item_thumb_wrap{
                  flex-basis: 50px;
                  text-align: center;
                  opacity: 1;
                  line-height: 0;
                  .item_thumb{
                    width: 54px;
                    height: 54px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 4px;
                    background-size: cover;
                    display: none;
                    cursor: initial;
                    > div{
                      display: none;
                      height: 100%;
                    }
                    &.data-type-video{
                      width: 72px;
                      background-image: url("../../images/global-icons/tree/post/video_empty.png");
                      background-color: #ecf1f5;
                      background-repeat: no-repeat;
                      background-size: 100% 100%;
                      background-position: center;
                      .video-post{
                        display: block;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        .thumb_cover_back{
                          position: absolute;
                          top: 0px;
                          left: 0px;
                          width: 100%;
                          height: 100%;
                          background-color: transparent;
                          transition: background-color 60ms linear;
                        }
                        .thumb_play{
                          position: absolute;
                          top: 0;
                          bottom: 0;
                          left: 0;
                          right: 0;
                          background: #000;
                          background: rgba(0,0,0,.5) url("../../images/global-icons/tree/post/video_play_small.png") 14px center no-repeat;
                          margin: auto;
                          width: 40px;
                          height: 40px;
                          border-radius: 50%;
                          cursor: pointer;
                          transition: background-color 100ms linear, opacity 60ms ease;
                          opacity: 0;
                        }
                      }
                    }
                    &.data-type-audio{
                      background-image: url("../../images/global-icons/tree/post/audio_row_placeholder.png");
                      background-color: #ecf1f5;
                      background-repeat: no-repeat;
                      background-size: auto;
                      background-position: center;
                      .audio-post{
                        display: block;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        .thumb_cover_back{
                          position: absolute;
                          top: 0px;
                          left: 0px;
                          width: 100%;
                          height: 100%;
                          background-color: transparent;
                          transition: background-color 60ms linear;
                        }
                        .thumb_play{
                          position: absolute;
                          top: 0px;
                          left: 0px;
                          width: 100%;
                          height: 100%;
                          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23FFFFFF%22%2F%3E%3Cpath%20fill%3D%22%23222222%22%20d%3D%22M9.84335571%2C16.7896383%20C9.37758321%2C17.088598%209%2C16.885726%209%2C16.3263902%20L9%2C7.6574922%20C9%2C7.10268766%209.37902442%2C6.89620947%209.84335571%2C7.19424408%20L16.733151%2C11.6165123%20C17.0561878%2C11.8238559%2017.0599966%2C12.1575817%2016.733151%2C12.3673701%20L9.84335571%2C16.7896383%20Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
                          background-repeat: no-repeat;
                          background-position: 50%;
                          cursor: pointer;
                          display: none;
                        }
                      }
                    }
                    &.data-type-image{
                      background-color: #ecf1f5;
                      background-repeat: no-repeat;
                      background-size: auto;
                      background-position: center;
                      .image-post{
                        display: block;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer;
                      }
                    }
                    &.data-type-text{
                      background-color: #ecf1f5;
                      background-repeat: no-repeat;
                      background-size: auto;
                      background-position: center;
                      .text-post{
                        display: block;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer;
                      }
                    }
                    &.data-type-form{
                      background-color: #ecf1f5;
                      background-repeat: no-repeat;
                      background-size: auto;
                      background-position: center;
                      .form-post{
                        display: block;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer;
                      }
                    }
                  }
                }
                .post-title{
                  padding-left: 10px;
                  flex-grow: 1;
                  line-height: 32px;
                }
                .post-meta-info{
                  padding-left: 10px;
                  color: #939393;
                  line-height: 1;
                  font-size: .85em;
                  .post-type-info{
                  }
                  .post-dyn-info{
                    margin-left: 10px;
                    font-size: 1.2em;
                    &:empty{
                      margin-left: 0px;
                    }
                  }
                }
                .post-body{
                  margin: 0px 0px 0px 80px;
                  .body-inner{
                    padding: 15px;
                    .blog-type{
                      max-width: 100%;
                    }
                    .type-2{
                      width: 600px;
                    }
                  }
                }
                .actions{
                  a{
                    display: inline-block;
                    text-align: center;
                    cursor: pointer;
                    opacity: .5;
                    img{
                      width: 32px;
                    }
                    &.expand-post{
                      img{
                        display: none;
                      }
                      &.collapsed{
                        img.do-expand{
                          display: initial;
                        }
                      }
                      &.expanded{
                        img.do-collapse{
                          display: initial;
                        }
                      }
                      &.loading-body{

                      }
                    }
                    &:hover{
                      opacity: .9;
                    }
                    &.collapse-wrapper{
                      display: none;
                    }
                  }
                  .flex-col{
                    line-height: 1;
                  }
                }
                &:hover{
                  //background-color: rgba(0, 255, 0, 0.4);
                  background-color: rgba(12, 165, 255, .1);
                  .item_thumb_wrap{
                    .item_thumb{
                      &.data-type-video{
                        .video-post{
                          .thumb_cover_back{
                            transition: background-color 100ms linear;
                          }
                          .thumb_play{
                            opacity: 1;
                            display: block;
                          }
                        }
                      }
                      &.data-type-audio{
                        .audio-post{
                          .thumb_cover_back{
                            background-color: rgba(0,0,0,0.5);
                            transition: background-color 100ms linear;
                          }
                          .thumb_play{
                            display: block;
                          }
                        }
                      }
                      &.data-type-image{
                        .image-post{}
                      }
                    }
                  }
                }
              }
              > ul {
                margin: 0px;
                display: block;
              }
              &.appear{
                animation-name: appearBlock;
                animation-duration: .5s;
                animation-fill-mode: forwards;
              }
              &.disappear{
                animation-name: disappearBlock;
                animation-duration: .5s;
                animation-fill-mode: forwards;
              }
              &.node-type-post{
                > .post-row-inner{
                  .expand-wrapper{
                    display: none;
                  }
                  .item_thumb_wrap{
                    .type-post{
                      display: block;
                    }
                  }
                  .post-title{
                    cursor: pointer;
                    &:hover{
                      color: rgb(12, 105, 184);
                    }
                  }
                }
              }
              &.node-type-menu{
                > .post-row-inner{
                  .item_thumb_wrap{
                    .type-menu{
                      display: initial;
                    }
                  }
                  .actions{
                    .flex-col{
                      &.publish-col{
                        display: initial;
                        a {
                          opacity: 1;
                          img{
                            &.active-icon{
                              display: initial;
                            }
                          }
                          &:hover{
                            opacity: .5;
                          }
                        }
                      }
                    }
                  }
                }
              }
              &.node-status-draft{
                &.node-type-menu{
                  > .post-row-inner{
                    .actions{
                      .flex-col{
                        &.publish-col{
                          a {
                            opacity: .5;
                            &:hover{
                              opacity: 1;
                            }
                            img{
                              &.active-icon{
                                display: none;
                              }
                              &.inactive-icon{
                                display: initial;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              &.node-type-path{
                > .post-row-inner{
                  .item_thumb_wrap{
                    .type-path{
                      display: initial;
                    }
                  }
                }
              }
              &.node-type-root {
                > .post-row-inner{
                  .item_thumb_wrap{
                    .type-root{
                      display: initial;
                    }
                  }
                  .actions{
                    display: none;
                  }
                }
              }
              &.ui-sortable-placeholder.mjs-nestedSortable-error{
                background-color: white;
                border-color: #f2dede;
                color: #f2dede;
                display: flex;
                align-items: center;
                width: 100%;
                &:before{
                  content: 'Invalid Position';
                  position: static;
                  padding-left: 20px;
                }
              }
              &:last-child:not(.ui-sortable-placeholder){
                background: 0 0;
                display: list-item;
                position: relative;
                &:before{
                  content: '';
                  position: absolute;
                  display: block;
                  top: 0px;
                  left: 0px;
                  width: 32px;
                  height: 20px;
                  background-image: url(../../images/global-icons/tree/32px-type2.png);
                  background-position: -288px 0;
                  background-repeat: no-repeat;
                }
                &.post-load-more{
                  cursor: pointer;
                  &:before{
                    height: 9px;
                  }
                }
                > .post-row-inner{
                }
              }
              &.ui-sortable-placeholder{
                background-color: #fffa90;
              }
              &.jstree-open {
                > .post-row-inner{
                  .jstree-ocl{
                    background-position: -128px 0;;
                  }
                }
              }
              &.jstree-closed {
                > .post-row-inner{
                  .jstree-ocl{
                    background-position: -96px 0;;
                  }
                }
                &.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf){
                  border: 1px dashed rgb(205, 200, 120);
                }
                > ul{
                  display: none;
                }
              }
              &.jstree-loading {
                > .post-row-inner{
                  .jstree-ocl.jstree-icon{
                    background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat;
                  }
                }
              }
              &.jstree-leaf{
                > .post-row-inner{
                  .jstree-ocl.jstree-icon{
                    background-position: -64px 0;
                  }
                }
              }
              @keyframes focus-row {
                0% { background-color: #fffa90; }
                100% { background-color: rgba(255, 250, 144, .5); }
              }
              &.focus {
                >.post-row-inner{
                  animation-name: focus-row;
                  animation-duration: .7s;
                  animation-fill-mode: forwards;
                }
              }
            }
          }

          > li.sample{
            display: none;
          }
          li.ui-sortable-helper{
            margin: 0px;
            font-size: 1.5rem;
            width: 100%;
            display: list-item;
            > .post-row-inner{
              padding: 15px 5px 15px 0px;
              //border-bottom: 1px dotted grey;
              .jstree-icon {
                background-image: url(../../images/global-icons/tree/32px-type2.png);
              }
              .jstree-ocl{
                background-position: -96px 0;
              }
              .item_thumb_wrap{
                flex-basis: 50px;
                text-align: center;
                opacity: 1;
                .item_thumb{
                  width: 40px;
                  height: 40px;
                  display: none;
                }
              }
              .post-title{
                padding-left: 10px;
                flex-grow: 1;
                line-height: 32px;
              }
              .post-image{
                height: 34px;
              }
              &:hover{
                background-color: rgba(255, 255, 255, 0.4);
              }
            }
            > ul {
              margin: 0px;
              display: block;
            }
            &.appear{
              animation-name: appearBlock;
              animation-duration: .5s;
              animation-fill-mode: forwards;
            }
            &.disappear{
              animation-name: disappearBlock;
              animation-duration: .5s;
              animation-fill-mode: forwards;
            }
            &.node-type-post{
              > .post-row-inner{
                .expand-wrapper{
                  display: none;
                }
                .item_thumb_wrap{
                  .type-post{
                    display: initial;
                  }
                }
              }
            }
            &.node-type-menu{
              > .post-row-inner{
                .item_thumb_wrap{
                  .type-menu{
                    display: initial;
                  }
                }
                .actions{
                  .flex-col{
                    &.publish-col{
                      display: initial;
                      a {
                        opacity: 1;
                        img{
                          &.active-icon{
                            display: initial;
                          }
                        }
                        &:hover{
                          opacity: .5;
                        }
                      }
                    }
                  }
                }
              }
            }
            &.node-status-draft{
              &.node-type-menu{
                > .post-row-inner{
                  .actions{
                    .flex-col{
                      &.publish-col{
                        a {
                          opacity: .5;
                          &:hover{
                            opacity: 1;
                          }
                          img{
                            &.active-icon{
                              display: none;
                            }
                            &.inactive-icon{
                              display: initial;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            &.node-type-path{
              > .post-row-inner{
                .item_thumb_wrap{
                  .type-path{
                    display: initial;
                  }
                }
              }
            }
            &.node-type-root {
              > .post-row-inner{
                .item_thumb_wrap{
                  .type-root{
                    display: initial;
                  }
                }
                .actions{
                  display: none;
                }
              }
            }
            &.ui-sortable-placeholder.mjs-nestedSortable-error{
              background-color: white;
              border-color: #f2dede;
              color: #f2dede;
              display: flex;
              align-items: center;
              width: 100%;
              &:before{
                content: 'Invalid Position';
                position: static;
                padding-left: 20px;
              }
            }
            &:last-child:not(.ui-sortable-placeholder){
              background: 0 0;
              display: list-item;
              position: relative;
              &:before{
                content: '';
                position: absolute;
                display: block;
                top: 0px;
                left: 0px;
                width: 32px;
                height: 15px;
                background-image: url(../../images/global-icons/tree/32px-type2.png);
                background-position: -288px 0;
                background-repeat: no-repeat;
              }
              > .post-row-inner{
              }
            }
            &.ui-sortable-placeholder{
              background-color: #fffa90;
            }
            &.jstree-open {
              > .post-row-inner{
                .jstree-ocl{
                  background-position: -128px 0;;
                }
              }
            }
            &.jstree-closed {
              > .post-row-inner{
                .jstree-ocl{
                  background-position: -96px 0;;
                }
              }
              &.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf){
                border: 1px dashed rgb(205, 200, 120);
              }
              > ul{
                display: none;
              }
            }
            &.jstree-loading{
              > .post-row-inner{
                .jstree-ocl.jstree-icon{
                  background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat;
                }
              }
            }
            &.jstree-leaf{
              > .post-row-inner{
                .jstree-ocl.jstree-icon{
                  background-position: -64px 0;
                }
              }
            }
            &.edit-status{
              > .post-row-inner{
                .post-title{
                  background-color: white;
                  border: 1px solid #CDCDCD;
                  &:focus{
                    outline-width: 1px;
                    border: transparent;
                  }
                }
                .actions{
                  .flex-col{
                    &.edit-col {
                      display: none;
                    }
                    &.del-col{
                      display: none;
                    }
                    &.save-col{
                      display: initial;
                    }
                    &.comeback-col{
                      display: initial;
                    }
                  }
                }
              }
            }
          }
        }
        &.collapsed {
          flex-basis: auto;
          flex-grow: 0;
          flex-shrink: 0;
          transition: all .4s ease-in;
          .posts-container{
            display: none;
          }
          header.left-header{
            padding-left: 0px;
            .welcome{
              display: none !important;
            }
            .login-btn{
              display: none !important;
            }
            .collapse-wrapper{
              cursor: pointer;
              .glyphicon-chevron-left{
                display: none;
              }
              .glyphicon-chevron-right{
                display: initial;
              }
            }
          }
        }
      }
      .right-panel{
        position: relative;
        padding: 100px 10px 10px;
        background-color: #f8f7f9;
        &.content-type-2{
          .post-image-wrapper{
            display: none;
          }
        }
        &.content-type-0{
          .post-image-wrapper{
            display: none;
          }
        }
        .right-panel-inner{
          max-width: 100%;
          .money-saved{
            position: absolute;
            right: 10px;
            top: 10px;
            text-align: right;
            .money-amount{
              font-size: 50px;
              color: #7fc9ff;
              line-height: 1;
              span{
                font-size: 70px;
                line-height: 40px;
              }
            }
            .w-name{
              font-size: 30px;
            }
          }
          .post-image-wrapper{
            text-align: center;
            .post-img{
              max-width: calc(100% - 100px);
            }
          }
          .post-title{
            text-align: center;
            margin: 5px 0 30px;
            font-size: 32px;
            font-weight: 400;
            color: #0084C9;
          }
          .post-body{
            text-align: center;
            font-size: 2rem;
            max-width: 780px;
            margin: 0px auto;
            padding-bottom: 20px;
            min-height: 300px;
            img{
              max-width: 100%;
              display: block;
              margin: 0px auto;
            }
            video{
              max-width: 100%;
            }
            .type-menu{
              text-align: center;
              background-color: #f8f7f9;
              padding: 10px 5px;
              header{
                .menu-title{
                  font-size: 2rem;
                }
                .menu-description{
                }
              }
              .paths-container{
                .paths-list{
                  .path-col{
                    padding: 20px 30px;
                    flex-basis: 100px;
                    flex-shrink: 0;
                    flex-grow: 1;
                    border-left: 1px dotted grey;
                    cursor: pointer;
                    word-break: break-all;
                    .img-wrapper{
                      height: 150px;
                      img{
                        opacity: .8;
                        width: 100%;
                        min-width: 100px;
                        max-width: 150px;
                      }
                    }
                    .path-title{
                      font-size: 1.2rem;
                      margin: 10px 0px;
                    }
                    .path-description{
                      font-size: 1rem;
                      line-height: 1.1;
                    }
                    &:hover{
                      color: black;
                      .img-wrapper{
                        img{
                          opacity: 1;
                        }
                      }
                    }
                    &:first-child{
                      border-left: none;
                    }
                  }
                  &.paths-count-3{
                    .path-col{
                      flex-basis: 30%;
                    }
                  }
                  &.paths-count-4{
                    .path-col{
                      @media all and (max-width: 1240px) {
                        flex-basis: 50%;
                      }
                    }
                  }
                  &.paths-count-5{
                    flex-basis: 30%;
                  }
                }
              }
            }
            .video-js{
              width: auto !important;
            }
          }
          .right-panel-footer{
            border-top: 1px solid #999;
            padding: 30px 0px 15px;
            .step-back{
              display: block;
              font-size: 20px;
              line-height: 28px;
              text-decoration: none;
              color: #777;
              -webkit-transition: 0.3s;
              transition: 0.3s;
              cursor: pointer;
              .content-turbotax__back-arr{
                font-size: 28px;
                line-height: 28px;
              }
              &:hover{
                color: black;
              }
            }
            .step-next{
              display: block;
              font-size: 20px;
              line-height: 28px;
              text-decoration: none;
              padding: 10px 20px;
              color: #fff;
              background-color: #00c0ff;
              border-radius: 5px;
              position: relative;
              -webkit-transition: 0.3s;
              transition: 0.3s;
              cursor: pointer;
              &:after{
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background-color: #0086b3;
                border-bottom-left-radius: 100%;
                border-bottom-right-radius: 100%;
              }
              &:hover{
                background-color: #0086b3;
              }
            }
            .powered-by{
              margin-top: 10px;
              font-size: 20px;
              text-align: center;
              color: #0084C9;
            }
          }
          .pay-blog-wrapper{
            padding: 10px 10px 30px 10px;
            font-size: 2rem;
          }
        }
      }
      &.logged-in{
        .left-panel{
          header.left-header {
            .welcome{
              display: initial;
            }
            .login-btn {
              display: none;
            }
          }
        }
        .right-panel{
          .right-panel-footer{
          }
        }
      }
      &.view-on-popup{
        .left-panel{
          border-right: none;
          max-width: 100%;
          flex-basis: 1200px;
          flex-grow: 0;
          header.left-header{
            .collapse-wrapper{
              display: none;
            }
          }
        }
      }
    }
    .view-widget{
      position: fixed;
      left: 0px;
      bottom: 0px;
      width: 300px;
      height: auto;
      display: none;
      background-color: rgba(28,29,30,.9);
      border-radius: 4px;
      overflow: auto;
      .widget-inner{
        position: relative;
        z-index: 2;
      }
      header.widget-header{
        padding: 8px 6px 8px 12px;
        .post-title{
          width: 230px;
          color: #fff;
          font-size: .9rem;
          opacity: .6;
          overflow: hidden;
          white-space: pre;
          text-overflow: ellipsis;
          cursor: pointer;
          &:hover{
            opacity: 1;
          }
        }
        .mv_min_control{
          padding: 9px 2px;
          margin: -8px 0;
          opacity: .6;
          cursor: pointer;
          &:hover{
            opacity: 1;
          }
          .mv_min_control_max{
            height: 10px;
            width: 11px;
            background: url(../../images/global-icons/tree/post/video_icon.png) 0 -119px;
          }
          .mv_min_control_close{
            height: 10px;
            width: 10px;
            background: url(../../images/global-icons/tree/post/video_icon.png) 0 -139px;
          }
        }
      }
      .widget-body{
        padding: 0px 6px 6px;
        > div{
          background-color: white;
        }
        .audio-widget{
          padding: 5px;
        }
        .text-widget{
          padding: 5px;
        }
        .form-widget{
          padding: 5px;

        }
        *{
          max-width: 100%;
        }

      }
      .widget-footer{
        padding: 15px;
        background-color: white;
      }
      aside.widget-top-control{
        position: absolute;
        left: 100%;
        top: 0px;
        width: auto;
        .mv_top_button{
          padding: 6px 24px 6px 20px;
          opacity: 0.4;
          filter: alpha(opacity=40);
          cursor: pointer;
          -o-transition: opacity 0.15s ease-in-out;
          transition: opacity 0.15s ease-in-out;
          outline: none;
          .mv_close_icon{
            background: url(../../images/global-icons/tree/post/video_icon.png) no-repeat;
            background-position: 0px 0px;
            height: 20px;
            width: 20px;
          }
          .mv_minimize_icon{
            background: url(../../images/global-icons/tree/post/video_icon.png) no-repeat;
            background-position: 0px -24px;
            height: 5px;
            width: 20px;
            margin: 7px 0;
          }
          &:hover{
            opacity: 1;
          }
        }
      }
      &.audio-type{
        width: 500px;
      }
      &.image-type{
        .widget-body{
          #info{
            padding: 5px;
            display: none;
            *{
              max-width: 100%;
            }
          }
        }
      }
      &.text-type{
        .widget-body{
          .text-widget{
            max-height: 300px;
            overflow: hidden;
          }
        }
      }
      &.active{
        display: block;
      }
      &.maximize-view{
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        min-height: 100% !important;
        background-color: rgba(0, 0, 0, .8);
        .widget-body{
          padding: 0px;
        }
        .widget-inner{
          position: relative;
          max-width: calc(100% - 100px);
          width: 700px;
          margin: 100px auto;
          background-color: rgba(28,29,30,.9);
        }
        &.image-type{
          overflow: auto;
          .widget-body{
            #info{
              display: block;
            }
          }
        }
        &.text-type{
          .widget-body{
            .text-widget{
              max-height: none;
              overflow: auto;
            }
          }
        }
        .view-only-min{
          display: none;
        }
        .view-only-max{
          display: block;
        }
        .form-field-wrapper{
          font-size: 2rem;
        }
      }
      .view-only-max{
        display: none;
      }
    }
    .form-field-wrapper{
      $border-color: #a9a9a9;
      $focus-color: orange;
      margin: 5px auto;
      .form-field-inner{
        display: flex;
        margin: 10px 0px;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: center;
        label.form-field-name{
          flex-basis: 100%;
          flex-shrink: 0;
          padding: 5px 10px;
          margin: 0px;
          background-color: #f8f7f9;
          font-weight: normal;
          text-align: center;
        }
        .form-field-value{
          max-width: 100%;
          width: 500px;
          display: block;
          padding: 9px 10px;
          background-color: white;
          text-align: left;
          border: 1px solid #999;
          border-radius: 5px;
          &:focus{
            border-color: transparent;
          }
          &[contentEditable=true]:empty:not(:focus):before{
            content: attr(placeholder);
            cursor: text;
          }
          @media screen and (max-width: 920px) {
            width: 300px;
          }
        }
        .form-field-helper {
          margin: 2px 2px 2px 10px;
          padding: 5px 5px;
          color: white;
          align-self: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #25b7d3;
          font-family: FontAwesome;
          font-weight: bold;
          text-align: center;
          font-size: 40px;
          line-height: 40px;
          vertical-align: middle;
          cursor: default;
        }
      }
      &.status-loading{
        color: $focus-color;
        transition: color ease-in .005s;
        .form-field-inner{
          transition: border-color ease-in .005s;
          border-color: $focus-color;
        }
      }
      &.status-loading-finished{
        animation-name: loading-finished;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        .form-field-inner{
          animation-name: loading-finished;
          animation-duration: .3s;
          animation-fill-mode: forwards;
        }
      }
      @keyframes loading-finished {
        from{
          border-color: $focus-color;
          color: $focus-color;
        }
        to {
          color: $content_color;
          border-color: $border-color;
        }
      }
    }
  }
}