$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;

// Variables
$grey: grey;
html{
    font-size: 12px;
    overflow: visible;
    body{
        position: static;
        .site-wrapper.page{
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            max-height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            font-family: $default_font_family;
            & > .site-content{
                padding: 30px 50px;
                & > .content-wrapper{
                    padding-top: 10px;
                    .series-section{
                        margin-bottom: 25px;
                        aside.actions-wrapper{
                            text-align: right;
                            padding: 0px 10px 10px 0px;
                            .action{
                                display: inline-block;
                                margin-left: 30px;
                                height: 40px;
                                position: relative;
                                text-decoration: none;
                                font-size: 2rem;
                                color: $grey;
                                svg#Capa_1{
                                    display: inline !important;
                                    vertical-align: middle;
                                    width: 40px;
                                    g{
                                        path{
                                            fill: $grey;
                                        }
                                    }
                                }
                                &:hover{
                                    color: black;
                                    svg#Capa_1{
                                        g{
                                            path{
                                                fill: black;
                                            }
                                        }
                                    }
                                }
                            }
                            .embed-wrapper{
                                position: relative;
                                display: inline-block;
                                line-height: 0;
                                a{
                                    display: inline-block;
                                    line-height: 0;
                                    color: $content_color;
                                    svg{
                                        line-height: 0;
                                        path{
                                            fill: currentColor;
                                        }
                                    }
                                    &:hover{
                                        color: black;
                                    }
                                }
                                #embed-code{
                                    position: absolute;
                                    top: calc(100% + 10px);
                                    right: 0px;
                                    z-index: 5;
                                    .embed-wrapper{
                                        box-shadow: 0 0 20px 5px hsla(0,0%,50%,.2);
                                        background-color: white;
                                        padding: 10px;
                                        font-size: 2rem;
                                        line-height: 1.1;
                                        width: 400px;
                                        >header{
                                            margin-bottom: 10px;
                                            h4{
                                                margin: 0px;
                                                font-size: 1em;
                                                line-height: 1.1;
                                                border-bottom: 1px solid #333;
                                                padding-bottom: 0.1rem;
                                            }
                                            .flex-row{
                                                .flex-col{
                                                    line-height: 0;
                                                    margin-bottom: 0px;
                                                }
                                            }
                                        }
                                        .embed-code{
                                            textarea{
                                                width: 100%;
                                                background-color: #f8f7f9;
                                                padding: 10px;
                                                height: auto;
                                                max-width: 100%;
                                                resize: vertical;
                                                font-size: .7em;
                                                line-height: 1.1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        main.main-content{
                            position: relative;
                            text-align: center;
                            min-height: auto;
                            padding-bottom: 20px;
                            .diamonds-wrapper{
                                position: relative;
                                margin: 0px auto;
                                overflow: hidden;
                                text-align: center;
                                background-color: white;
                                .series-content{
                                    .series-title{
                                        margin-bottom: 35px;
                                        text-transform: uppercase;
                                        color: black;
                                    }
                                    .series-img-wrapper{
                                        margin-bottom: 20px;
                                        img{
                                            max-width: 100%;
                                        }
                                    }
                                    .series-description{
                                        font-size: 2rem;
                                        line-height: 1.2;
                                        margin-bottom: 20px;
                                    }
                                    .join-series-wrapper{
                                        .wrap{
                                            width: 90%;
                                            margin: 0px auto;
                                            max-width: 200px;
                                            button{
                                                width: 100%;
                                                line-height: 34px;
                                                &.circle{
                                                    width: 40px;
                                                }
                                                &.filled{
                                                    line-height: 34px;
                                                    vertical-align: middle;
                                                }
                                                height: 40px;
                                            }
                                            img{
                                                top: 0;
                                                left: calc((100% - 49px) / 2);
                                                width: auto !important;
                                                display: none;
                                            }
                                            svg{
                                                left: calc((100% - 40px) / 2);
                                                top: 0px;
                                            }
                                        }
                                        .login-wrapper{
                                            padding: 2px 20px;
                                            .btn.btn-circle{
                                                display: inline-block;
                                                width: 100%;
                                                max-width: 200px;
                                                padding: 3px 20px;
                                                font-size: 2rem;
                                                border-radius: 50px;
                                                background: transparent;
                                                border: 2px solid #53d4ad;
                                                color: #53d4ad;
                                                &:hover{
                                                    background: #53d4ad;
                                                    color: white;
                                                }
                                                &:focus{
                                                    outline: none;
                                                }
                                            }
                                        }
                                    }
                                    .diamond-box-wrap{
                                        position: absolute;
                                        float: none;
                                        width: 600px;
                                        height: 600px;
                                        .diamond-box{
                                            background-color: white;
                                            border: 0px;
                                            width: calc(70.710678118% - 10px);
                                            height: calc(70.710678118% - 10px);
                                            margin: calc(14.644660941% + 5px);
                                            box-shadow: 0px 0px 20px 3px #7b7b7b;
                                            .diamond-box-inner{
                                                .item{
                                                    display: block;
                                                    width: 100%;
                                                    height: 100%;
                                                }
                                            }
                                        }
                                    }
                                    .for-series-read{
                                        top: 0px;
                                        left: 0px;
                                        .item{
                                            display: flex !important;
                                            .series-read{
                                                margin: auto auto;
                                                height: auto !important;
                                                width: 71.8%;
                                                .series-title{
                                                    margin-top: 0px;
                                                }
                                                .series-description{
                                                    margin-bottom: 0px;
                                                }
                                            }
                                        }
                                    }
                                    .for-series-img{
                                        top: -300px;
                                        right: 300px;
                                        .diamond-box{
                                            border: 0px;
                                            width: calc(70.710678118% - 10px);
                                            height: calc(70.710678118% - 10px);
                                            margin: calc(14.644660941% + 5px);
                                            box-shadow: 0px 0px 20px 3px #7b7b7b;
                                            .item{
                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                }
                                            }
                                        }
                                    }
                                    .for-join-series{
                                        bottom: -150px;
                                        right: 0px;
                                        .item{
                                            display: flex !important;
                                            .join-series-wrapper{
                                                width: 100%;
                                                margin: auto auto !important;
                                                h2{
                                                    margin-bottom: 20px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .diamond-box-wrap.for-side:not(.sample){
                                    width: 300px;
                                    height: 300px;
                                    position: absolute;
                                    float: none;
                                    .diamond-box{
                                        border-width: 0px;
                                        width: calc(70.710678118% - 10px);
                                        height: calc(70.710678118% - 10px);
                                        margin: calc(14.644660941% + 5px);
                                        //box-shadow: 0px 0px 20px 3px #7b7b7b;
                                        .item{
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            background-size: cover;
                                            &:hover{
                                                &:after{
                                                    content: "";
                                                    display: block;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    width: 100%;
                                                    height: 100%;
                                                    background: rgba(255, 255, 255, 0.7);
                                                }
                                            }
                                        }
                                    }
                                    &.left-side{
                                        left: -150px;
                                    }
                                    &.right-side{
                                        right: -150px;
                                    }
                                    &.layer-1{
                                        top: 0px;
                                    }
                                    &.layer-2{
                                        top: 300px;
                                    }
                                    &.layer-3{
                                        top: 600px;
                                    }
                                    &.layer-4{
                                        top: 900px;
                                    }
                                    &.layer-5{
                                        top: 1200px;
                                    }
                                    &.layer-6{
                                        top: 1500px;
                                    }
                                    &.layer-7{
                                        top: 1800px;
                                    }
                                    &.layer-8{
                                        top: 2100px;
                                    }
                                    &.layer-9{
                                        top: 2400px;
                                    }
                                    &.layer-10{
                                        top: 2700px;
                                    }
                                }
                                .diamonds-container{
                                    text-align: center;
                                    margin: -150px 0px -5px 0px;
                                    .diamonds{
                                        .diamond-row-wrap{
                                            .diamond-box-wrap{
                                                .diamond-box{
                                                    border: 0px;
                                                    width: calc(70.710678118% - 10px);
                                                    height: calc(70.710678118% - 10px);
                                                    margin: calc(14.644660941% + 5px);
                                                    //box-shadow: 0px 0px 20px 3px #7b7b7b;
                                                    .diamond-box-inner{
                                                        .item{
                                                            display: block;
                                                            -webkit-box-sizing: border-box;
                                                            -moz-box-sizing: border-box;
                                                            -ms-box-sizing: border-box;
                                                            box-sizing: border-box;
                                                            width: 100%;
                                                            height: 100%;
                                                            padding: 40% 0px;
                                                            background-position: center center;
                                                            background-size: cover;
                                                            position: relative;
                                                            text-decoration: none;
                                                            background-color: #666;
                                                            &:hover:after {
                                                                content: "";
                                                                display: block;
                                                                position: absolute;
                                                                top: 0;
                                                                left: 0;
                                                                width: 100%;
                                                                height: 100%;
                                                                background: rgba(255, 255, 255, 0.7);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .diamond-row-lower{
                                                .diamond-box-wrap{
                                                    .diamond-box{
                                                        border: 0px;
                                                        width: calc(70.710678118% - 10px);
                                                        height: calc(70.710678118% - 10px);
                                                        margin: calc(14.644660941% + 5px);
                                                        margin-left: calc(64.644660941% + 5px);
                                                        margin-top: calc(64.644660941% + 5px);
                                                        //box-shadow: 0px 0px 20px 3px #7b7b7b;
                                                        .diamond-box-inner{
                                                            .item{
                                                                display: block;
                                                                -webkit-box-sizing: border-box;
                                                                -moz-box-sizing: border-box;
                                                                -ms-box-sizing: border-box;
                                                                box-sizing: border-box;
                                                                width: 100%;
                                                                height: 100%;
                                                                padding: 40% 0px;
                                                                background-position: center center;
                                                                background-size: cover;
                                                                position: relative;
                                                                text-decoration: none;
                                                                background-color: #666;
                                                                &:hover:after {
                                                                    content: "";
                                                                    display: block;
                                                                    position: absolute;
                                                                    top: 0;
                                                                    left: 0;
                                                                    width: 100%;
                                                                    height: 100%;
                                                                    background: rgba(255, 255, 255, 0.7);
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                @media only screen and (min-width: 1637px) {
                                    width: 1500px;
                                }
                                @media only screen and (min-width: 1320px) and (max-width: 1636px) {
                                    width: 1200px;
                                    .series-content{
                                        .for-series-read{
                                            top: 0px;
                                            left: 0px;
                                        }
                                        .for-series-img{
                                            top: -300px;
                                            right: 0px;
                                        }
                                        .for-join-series{
                                            bottom: -150px;
                                            right: 0px;
                                        }
                                    }
                                }
                                @media only screen and (min-width: 1020px) and (max-width: 1319px) {
                                    width: 900px;
                                    .series-content{
                                        .for-series-read{
                                            top: 0px;
                                            left: 0px;
                                        }
                                        .for-series-img{
                                            top: -300px;
                                            right: 0px;
                                        }
                                        .for-join-series{
                                            bottom: -150px;
                                            right: 0px;
                                        }
                                    }
                                }
                                @media only screen and (min-width: 768px) and (max-width: 1019px) {
                                    width: 600px;
                                    .series-content{
                                        .for-series-img{
                                            top: -200px;
                                            right: 0px;
                                        }
                                        .for-series-read{
                                            top: 0px;
                                            left: 0px;
                                        }
                                        .for-join-series{
                                            bottom: -100px;
                                            right: 0px;
                                        }
                                        .diamond-box-wrap{
                                            width: 400px;
                                            height: 400px;
                                            .diamond-box{
                                                background-color: white;
                                                border-width: 5px;
                                                .diamond-box-inner{
                                                    .item{
                                                        display: block;
                                                        width: 100%;
                                                        height: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .diamond-box-wrap.for-side:not(.sample){
                                        width: 200px;
                                        height: 200px;

                                        &.left-side{
                                            left: -100px;
                                        }
                                        &.right-side{
                                            right: -100px;
                                        }
                                        &.layer-1{
                                            top: 0px;
                                        }
                                        &.layer-2{
                                            top: 200px;
                                        }
                                        &.layer-3{
                                            top: 400px;
                                        }
                                        &.layer-4{
                                            top: 600px;
                                        }
                                        &.layer-5{
                                            top: 800px;
                                        }
                                        &.layer-6{
                                            top: 1000px;
                                        }
                                        &.layer-7{
                                            top: 1200px;
                                        }
                                        &.layer-8{
                                            top: 1400px;
                                        }
                                        &.layer-9{
                                            top: 1600px;
                                        }
                                        &.layer-10{
                                            top: 1800px;
                                        }
                                    }
                                    .diamonds-container{
                                        text-align: center;
                                        margin: -100px 0px -5px 0px;
                                    }
                                }
                                @media only screen and (max-width: 767px) {
                                    width: 400px;
                                    .series-content{
                                        .for-series-img{
                                            top: -200px;
                                            right: 0px;
                                        }
                                        .for-series-read{
                                            top: 200px;
                                            left: 0px;
                                        }
                                        .for-join-series{
                                            bottom: -100px;
                                            right: 0px;
                                        }
                                        .diamond-box-wrap{
                                            width: 400px;
                                            height: 400px;
                                            .diamond-box{
                                                background-color: white;
                                                border-width: 5px;
                                                .diamond-box-inner{
                                                    .item{
                                                        display: block;
                                                        width: 100%;
                                                        height: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .diamond-box-wrap.for-side:not(.sample){
                                        width: 200px;
                                        height: 200px;

                                        &.left-side{
                                            left: -100px;
                                        }
                                        &.right-side{
                                            right: -100px;
                                        }
                                        &.layer-1{
                                            top: 0px;
                                        }
                                        &.layer-2{
                                            top: 200px;
                                        }
                                        &.layer-3{
                                            top: 400px;
                                        }
                                        &.layer-4{
                                            top: 600px;
                                        }
                                        &.layer-5{
                                            top: 800px;
                                        }
                                        &.layer-6{
                                            top: 1000px;
                                        }
                                        &.layer-7{
                                            top: 1200px;
                                        }
                                        &.layer-8{
                                            top: 1400px;
                                        }
                                        &.layer-9{
                                            top: 1600px;
                                        }
                                        &.layer-10{
                                            top: 1800px;
                                        }
                                    }
                                    .diamonds-container{
                                        text-align: center;
                                        margin: -100px 0px -5px 0px;
                                    }
                                }
                            }
                            .circle-nav-wrapper{
                                display: none;
                                width: 300px;
                                height: 300px;
                                background-color: transparent;
                                box-shadow: none;
                                z-index: 999;
                                right: 0px;
                                top: 0px;
                                .circle-nav-toggle{
                                    border: none;
                                    width: 50px;
                                    height: 50px;
                                    top: 5px;
                                    right: 5px;
                                    opacity: 0;
                                    svg#Capa_1{
                                        display: inline !important;
                                        width: 50px;
                                        g{
                                            path{
                                                fill: $grey;
                                            }
                                        }
                                    }
                                    &.circle-nav-open{
                                        opacity: 1;
                                        svg#Capa_1{
                                            g{
                                                path{
                                                    fill: white;
                                                }
                                            }
                                        }
                                    }
                                }
                                ul.circle-nav-menu{
                                    width: 300px;
                                    height: 300px;
                                    li.circle-nav-item{
                                        width: 45px;
                                        height: 45px;
                                        box-sizing: border-box;
                                        text-align: left;
                                        a{
                                            padding: 0px;
                                            line-height: 0;
                                            svg{
                                                display: inline !important;
                                                width: 30px !important;
                                                height: 30px !important;
                                                g{
                                                    path{
                                                        fill: #ff7b7b !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &:not(.circle-nav-open){
                                        li.circle-nav-item{
                                            left: 300px;
                                            bottom: 300px;
                                        }
                                    }
                                    &.circle-nav-open{

                                    }
                                }
                                .circle-nav-panel{
                                    margin-left: 311px;
                                }
                                .circle-nav-panel.circle-nav-open{
                                    margin-left: 311px;
                                    width: 600px;
                                    height: 600px;
                                }
                                &.circle-nav-open{
                                    z-index: 1001;
                                }
                            }
                        }
                    }
                    .posts-section{
                        main.main-content{
                            text-align: center;
                            padding-bottom: 20px;
                            >h1{
                                margin-top: 0px;
                            }
                            .tt-grid-wrapper{
                                padding: 10px 10px;
                                & > .tt-grid.tt-effect-3dflip:not(.sample){
                                    display: block;
                                    width: 95% !important;
                                    max-width: 100%;
                                    margin: 0px auto;
                                    li{
                                        width: calc((100% - 100px)/5) !important;
                                        //height: calc(15vw) !important;
                                        float: left;
                                        min-height: 325px;
                                        @media only screen and (min-width: 1000px) {
                                            min-height: 370px;
                                        }
                                        height: auto;
                                        //min-height: auto;
                                        a{
                                            height: auto;
                                            .column{
                                                height: auto;
                                                .column_object{
                                                    height: auto;
                                                    position: relative;
                                                    color: $content_color;
                                                    padding-bottom: 75px;
                                                    min-height: 300px;
                                                    .image-wrapper img.object_image{
                                                    }
                                                    .title-wrapper{
                                                        position: relative;
                                                        padding-bottom: 20px;
                                                        .object_title{
                                                            padding: 10px 20px;
                                                            min-height: 105px;
                                                            font-size: 1.2em;
                                                            line-height: 1.2em;
                                                            white-space: normal;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;
                                                            transition: all ease-in-out .4s;
                                                        }
                                                        .view-more-wrapper{
                                                            font-size: 18px;
                                                            margin-top: -5px;
                                                            position: absolute;
                                                            bottom: 0px;
                                                            left: 0px;
                                                            width: 100%;
                                                            font-style: italic;
                                                            span{
                                                                cursor: pointer;
                                                                font-size: 18px;
                                                                &.view-more{
                                                                    display: initial;
                                                                }
                                                                &.view-less{
                                                                    display: none;
                                                                }
                                                                &:hover{
                                                                    color: black;
                                                                }
                                                            }
                                                        }
                                                        &.expanded{
                                                            > .object_title{
                                                                overflow-y: hidden;
                                                                transition: all ease-in-out .4s;
                                                                transition-delay: 0s;
                                                                img{
                                                                    margin-top: 5px;
                                                                    max-width: 100%;
                                                                }
                                                            }
                                                            .view-more-wrapper{
                                                                font-size: 30px;
                                                                .dot{
                                                                    display: none;
                                                                }
                                                                span{
                                                                    &.view-more{
                                                                        display: none;
                                                                    }
                                                                    &.view-less{
                                                                        display: initial;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                    .buttons-wrapper{
                                                        text-align: center;
                                                        position: absolute;
                                                        bottom: 20px;
                                                        left: 0px;
                                                        width: 100%;
                                                        height: 50px;
                                                        .btn.btn-circle{
                                                            width: 200px;
                                                            max-width: 95%;
                                                            padding: 6px;
                                                            font-size: 18px;
                                                            border-radius: 20px;
                                                            background: transparent;
                                                            border: 2px solid #53d4ad;
                                                            color: #53d4ad;
                                                            &:hover{
                                                                background: #53d4ad;
                                                                color: white;
                                                            }
                                                            &:focus{
                                                                outline: none;
                                                            }
                                                        }
                                                    }

                                                    @media only screen and (min-width: 1000px) and (max-width: 1700px) {
                                                        font-size: 15px;
                                                        .image-wrapper img.object_image{
                                                            height: 8vw;
                                                        }
                                                        .object_title{
                                                        }
                                                        .buttons-wrapper{
                                                            & > *{
                                                                img{
                                                                    width: 2.3vw !important;
                                                                }
                                                                i{
                                                                    font-size: 2.3vw !important;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        @media only screen and (max-width: 1000px) {
                                            margin: 10px;
                                            width: calc((100% - 60px)/3) !important;
                                            height: 24vw !important;
                                            a{
                                                .column{
                                                    .column_object{
                                                        position: relative;
                                                        color: $content_color;
                                                        .image-wrapper img.object_image{
                                                            height: 12vw;
                                                            object-fit: fill;
                                                        }
                                                        .object_title{
                                                            padding: 5px 10px;
                                                            font-size: 1.3em;
                                                            line-height: 1.2em;
                                                            white-space: pre;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;
                                                        }
                                                        .buttons-wrapper{
                                                            & > *{
                                                                img{
                                                                    width: 4vw !important;
                                                                }
                                                                i{
                                                                    font-size: 4vw !important;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &:not(.tt-effect-active){
                                        li.tt-empty{
                                            //display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.swal-overlay{
   .swal-modal.thanks-join{
      .swal-footer{
         position: relative;
         .disable-wrap{
            position: absolute;
            left: 10px;
            top: 17px;
            padding: 10px 24px;
            input{
               background-color: transparent;
               margin-top: 0px;
               vertical-align: middle;
               position: absolute;
               left: -9999px;
               &:checked{
                  & + label{
                     color: black;
                     &:before{
                        border-color: black;
                     }
                     &:after{
                        font-size: .9em;
                        content: '\2714';
                        position: absolute;
                        left: 0em;
                        top: 0em;
                        width: 1em;
                        height: 1em;
                        color: black;
                     }
                  }
               }
            }
            label{
               color: $content_color;
               font-size: 18px;
               line-height: 1.1em;
               vertical-align: middle;
               position: relative;
               padding-left: 1.5em;
               cursor: pointer;
               font-weight: normal;
               &:before{
                  content: '';
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  width: 1em;
                  height: 1em;
                  border: 1px solid $content_color;
               }
            }
         }
      }
   }
}

.after-clearfix{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}

.wrap {
    position: relative;
    margin: auto;
    margin-top: 5%;
    width: 191px;
    text-align: center;
}
.wrap button {
    display: block;
    height: 60px;
    padding: 0;
    width: 191px;
    background: none;
    margin: auto;
    border: 2px solid #1ECD97;
    font-size: 18px;
    font-family: "Lato";
    color: #1ECD97;
    cursor: pointer;
    outline: none;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
    -o-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
    -webkit-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
    transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
}
.wrap button:hover {
    background: #1ECD97;
    color: white;
}
.wrap img {
    position: absolute;
    top: 11px;
    display: none;
    left: 71.5px;
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
}
.wrap svg {
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    /* @include rotate(270deg); */
    position: absolute;
    top: -2px;
    left: 62px;
    display: none;
}
.wrap svg .circle_2 {
    stroke-dasharray: 0 200;
}
.wrap svg .fill_circle {
    -moz-animation: fill-stroke 2s 0.4s linear forwards;
    -webkit-animation: fill-stroke 2s 0.4s linear forwards;
    animation: fill-stroke 2s 0.4s linear infinite normal;
}
.wrap .circle {
    width: 60px;
    border: 3px solid #c3c3c3;
    /* border: none; */
}
.wrap .circle:hover {
    background: none;
}
.wrap .filled {
    background: #1ECD97;
    color: white;
    line-height: 60px;
    font-size: 160%;
}

@-moz-keyframes fill-stroke {
    0% {
        stroke-dasharray: 0 200;
    }
    20% {
        stroke-dasharray: 20 200;
    }
    40% {
        stroke-dasharray: 30 200;
    }
    50% {
        stroke-dasharray: 90 200;
    }
    70% {
        stroke-dasharray: 120 200;
    }
    90% {
        stroke-dasharray: 140 200;
    }
    100% {
        stroke-dasharray: 182 200;
    }
}
@-webkit-keyframes fill-stroke {
    0% {
        stroke-dasharray: 0 200;
    }
    20% {
        stroke-dasharray: 20 200;
    }
    40% {
        stroke-dasharray: 30 200;
    }
    50% {
        stroke-dasharray: 90 200;
    }
    70% {
        stroke-dasharray: 120 200;
    }
    90% {
        stroke-dasharray: 140 200;
    }
    100% {
        stroke-dasharray: 182 200;
    }
}
@keyframes fill-stroke {
    0% {
        stroke-dasharray: 0 200;
    }
    20% {
        stroke-dasharray: 20 180;
    }
    40% {
        stroke-dasharray: 30 170;
    }
    50% {
        stroke-dasharray: 90 110;
    }
    70% {
        stroke-dasharray: 120 80;
    }
    90% {
        stroke-dasharray: 140 60;
    }
    100% {
        stroke-dasharray: 200 0;
    }
}