$content_color: grey;
html.walden-site {
    min-height: 100%;
    body {
        position: relative;
        background-color: #f8f7f9;
        min-height: 100%;
        .site-wrapper{
            min-height: 100%;
            .blog-wrapper{
                position: relative;
                padding: 10px 10px 10px;
                header.content-header{
                    .welcome{
                        display: none;
                    }
                    .login-btn{
                        .btn.big-login{
                            padding: 10px 50px;
                        }
                    }
                    .money-saved{
                        text-align: right;
                        .money-amount{
                            font-size: 50px;
                            color: #7fc9ff;
                            line-height: 1;
                            span{
                                font-size: 70px;
                                line-height: 40px;
                            }
                        }
                        .w-name{
                            font-size: 30px;
                        }
                    }
                }
                .post-image-wrapper{
                    text-align: center;
                    .post-img{
                        max-width: calc(100% - 100px);
                    }
                }
                .post-title{
                    text-align: center;
                    margin: 5px 0 30px;
                    font-size: 32px;
                    font-weight: 400;
                    color: #0084C9;
                }
                .post-body{
                    text-align: center;
                    font-size: 2rem;
                    max-width: 100%;
                    width: 780px;
                    margin: 0px auto;
                    padding-bottom: 20px;
                    min-height: 300px;
                    img{
                        max-width: 100%;
                        display: block;
                        margin: 0px auto;
                    }
                    video{
                        max-width: 100%;
                    }
                    .type-menu{
                        text-align: center;
                        background-color: #f8f7f9;
                        padding: 10px 5px;
                        header{
                            .menu-title{
                                font-size: 2rem;
                            }
                            .menu-description{
                            }
                        }
                        .paths-container{
                            .paths-list{
                                .path-col{
                                    padding: 20px 30px;
                                    flex-basis: 100px;
                                    flex-shrink: 0;
                                    flex-grow: 1;
                                    border-left: 1px dotted grey;
                                    cursor: pointer;
                                    word-break: break-all;
                                    .img-wrapper{
                                        height: 150px;
                                        img{
                                            opacity: .8;
                                            width: 100%;
                                            min-width: 100px;
                                            max-width: 150px;
                                        }
                                    }
                                    .path-title{
                                        font-size: 1.2rem;
                                        margin: 10px 0px;
                                    }
                                    .path-description{
                                        font-size: 1rem;
                                        line-height: 1.1;
                                    }
                                    &:hover{
                                        color: black;
                                        .img-wrapper{
                                            img{
                                                opacity: 1;
                                            }
                                        }
                                    }
                                    &:first-child{
                                        border-left: none;
                                    }
                                }
                                &.paths-count-3{
                                    .path-col{
                                        flex-basis: 30%;
                                    }
                                }
                                &.paths-count-4{
                                    .path-col{
                                        @media all and (max-width: 1240px) {
                                            flex-basis: 50%;
                                        }
                                    }
                                }
                                &.paths-count-5{
                                    flex-basis: 30%;
                                }
                            }
                        }
                    }
                }
                .right-panel-footer{
                    border-top: 1px solid #999;
                    padding: 30px 0px 15px;
                    .step-back{
                        display: block;
                        font-size: 20px;
                        line-height: 28px;
                        text-decoration: none;
                        color: #777;
                        -webkit-transition: 0.3s;
                        transition: 0.3s;
                        cursor: pointer;
                        .content-turbotax__back-arr{
                            font-size: 28px;
                            line-height: 28px;
                        }
                        &:hover{
                            color: black;
                        }
                    }
                    .step-next{
                        display: block;
                        font-size: 20px;
                        line-height: 28px;
                        text-decoration: none;
                        padding: 10px 20px;
                        color: #fff;
                        background-color: #00c0ff;
                        border-radius: 5px;
                        position: relative;
                        -webkit-transition: 0.3s;
                        transition: 0.3s;
                        cursor: pointer;
                        &:after{
                            content: "";
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            left: 0;
                            bottom: 0;
                            background-color: #0086b3;
                            border-bottom-left-radius: 100%;
                            border-bottom-right-radius: 100%;
                        }
                        &:hover{
                            background-color: #0086b3;
                        }
                    }
                    .powered-by{
                        margin-top: 10px;
                        font-size: 20px;
                        text-align: center;
                        color: #0084C9;
                    }
                }
                &.content-type-2{
                    .post-image-wrapper{
                        display: none;
                    }
                }
                &.content-type-0{
                    .post-image-wrapper{
                        display: none;
                    }
                }
                .pay-blog-wrapper{
                    padding: 10px 10px 30px 10px;
                    font-size: 2rem;
                }
            }
            &.logged-in{
                .blog-wrapper{
                    header.content-header{
                        .welcome{
                            display: initial;
                        }
                        .login-btn {
                            display: none;
                        }
                    }
                }
            }
        }
        .form-field-wrapper{
            $border-color: #a9a9a9;
            $focus-color: orange;
            margin: 5px auto;
            .form-field-inner{
                display: flex;
                margin: 10px 0px;
                padding: 0px;
                flex-wrap: wrap;
                justify-content: center;
                label.form-field-name{
                    flex-basis: 100%;
                    flex-shrink: 0;
                    padding: 5px 10px;
                    margin: 0px;
                    background-color: #f8f7f9;
                    font-weight: normal;
                    text-align: center;
                }
                .form-field-value{
                    max-width: 100%;
                    width: 500px;
                    display: block;
                    padding: 9px 10px;
                    background-color: white;
                    text-align: left;
                    border: 1px solid #999;
                    border-radius: 5px;
                    &:focus{
                        border-color: transparent;
                    }
                    &[contentEditable=true]:empty:not(:focus):before{
                        content: attr(placeholder);
                        cursor: text;
                    }
                }
                .form-field-helper {
                    margin: 2px 2px 2px 10px;
                    padding: 5px 5px;
                    color: white;
                    align-self: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #25b7d3;
                    font-family: FontAwesome;
                    font-weight: bold;
                    text-align: center;
                    font-size: 40px;
                    line-height: 40px;
                    vertical-align: middle;
                    cursor: default;
                }
            }
            &.status-loading{
                color: $focus-color;
                transition: color ease-in .005s;
                .form-field-inner{
                    transition: border-color ease-in .005s;
                    border-color: $focus-color;
                }
            }
            &.status-loading-finished{
                animation-name: loading-finished;
                animation-duration: .3s;
                animation-fill-mode: forwards;
                .form-field-inner{
                    animation-name: loading-finished;
                    animation-duration: .3s;
                    animation-fill-mode: forwards;
                }
            }
            @keyframes loading-finished {
                from{
                    border-color: $focus-color;
                    color: $focus-color;
                }
                to {
                    color: $content_color;
                    border-color: $border-color;
                }
            }
        }
    }
}