$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

$default_font_family: 'EB Garamond', sans-serif;
$content_color: grey;

// Variables
$grey: grey;

html{
    font-size: 24px;
    overflow-y: scroll;
    body{
        position: static;
        .site-wrapper.page{
            font-family: $default_font_family;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;

            & > .site-content{
                padding: 30px 50px;
                position: relative;
                header.sticky-header{
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 30px 20px 10px;
                    background-color: transparent;
                    transition: all .3s;
                    z-index: 3;
                    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0);
                    .flex-row{
                        display: flex;
                        .flex-col{
                            &:nth-child(1){
                                flex-grow: 3;
                                display: flex;
                                a.back-to-prev{
                                    flex-basis: 50px;
                                    width: 50px;
                                    height: 50px;
                                    display: inline-block;
                                    border-radius: 50%;
                                    box-sizing: border-box;
                                    border: 2px solid $grey;
                                    text-align: center;
                                    color: $grey;
                                    transition: all .3s;
                                    i{
                                        line-height: 45px;
                                        vertical-align: middle;
                                        font-size: 30px;
                                        position: relative;
                                        left: 1px;
                                        transition: all .3s;
                                    }
                                    &:hover{
                                        color: black;
                                        border-color: black;
                                        i{
                                            left: -3px;
                                        }
                                    }
                                }
                                .sticky-series-title{
                                    padding: 0px 10px;
                                    flex-basis: calc(100% - 50px);
                                    font-size: 1rem;
                                    line-height: 50px;
                                    vertical-align: middle;
                                    transition: all .3s;
                                    opacity: 0;
                                    position: relative;
                                    color: black;
                                }
                            }
                            &:nth-child(2){
                                flex-grow: 6;
                                .sticky-post-title{
                                    max-width: 100%;
                                    font-size: 1rem;
                                    line-height: 50px;
                                    vertical-align: middle;
                                    transition: all .3s;
                                    opacity: 0;
                                    position: relative;
                                    color: $grey;
                                }
                            }
                            &:nth-child(3){
                                position: relative;
                                flex-basis: 200px;
                                .complete-wrapper{
                                    display: inline-block;
                                    position: absolute;
                                    z-index: 1000;
                                    right: 80px;
                                    .toogle-complete.btn.btn-block{
                                        text-align: center;
                                        width: 50px;
                                        height: 50px;
                                        margin-bottom: 0px;
                                        box-shadow: none;
                                        border-radius: 50%;
                                        padding-left: 0px;
                                        padding-right: 0px;
                                        background-color: transparent;
                                        border: 2px solid $grey;
                                        cursor: pointer;
                                        i.glyphicon{
                                            top: 3px;
                                            font-size: 25px;
                                            color: $grey;
                                        }
                                        &.btn-success{
                                            background-color: rgb(92, 184, 92);
                                            border-color: rgb(92, 184, 92);
                                            border: none;
                                            i.glyphicon{
                                                color: white;
                                            }
                                            &:hover{
                                                background-color: rgb(127, 223, 127);
                                                i.glyphicon{
                                                    color: white;
                                                }
                                            }
                                        }
                                        &:hover{
                                            border-color: rgb(92, 184, 92);
                                            i.glyphicon{
                                                color: rgb(92, 184, 92);
                                            }
                                        }
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                }
                                #circle-nav-wrapper.circle-nav-wrapper{
                                    width: 300px;
                                    height: 300px;
                                    top: -10px;
                                    background-color: transparent;
                                    box-shadow: none;
                                    z-index: 999;
                                    .circle-nav-toggle{
                                        border: none;
                                        width: 50px;
                                        height: 50px;
                                        svg#Capa_1{
                                            width: 50px;
                                            g{
                                                path{
                                                    fill: $grey;
                                                }
                                            }
                                        }
                                        &.circle-nav-open{
                                            svg#Capa_1{
                                                g{
                                                    path{
                                                        fill: white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    ul.circle-nav-menu{
                                        width: 300px;
                                        height: 300px;
                                        li.circle-nav-item{
                                            width: 45px;
                                            height: 45px;
                                            padding: 4px 2px 0px 0px;
                                            box-sizing: border-box;
                                            a{
                                                padding: 0px;
                                                line-height: 30px;
                                                svg{
                                                    width: 30px !important;
                                                    height: 30px !important;
                                                    g{
                                                        path{
                                                            fill: #ff7b7b !important;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        &:not(.circle-nav-open){
                                            li.circle-nav-item{
                                                left: 300px;
                                                bottom: 300px;
                                            }
                                        }
                                        &.circle-nav-open{

                                        }
                                    }
                                    .circle-nav-panel{
                                        margin-left: 311px;
                                    }
                                    .circle-nav-panel.circle-nav-open{
                                        margin-left: 311px;
                                        width: 600px;
                                        height: 600px;
                                    }
                                    &.circle-nav-open{
                                        z-index: 1001;
                                    }
                                }
                            }
                        }
                    }
                    &.appear{
                        box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, .2);
                        background-color: white;
                        .flex-col{
                            &:nth-child(1){
                                .sticky-series-title{
                                    animation-name: sticky-appear;
                                    animation-duration: .3s;
                                    animation-fill-mode: forwards;
                                }
                            }
                            &:nth-child(2){
                                .sticky-post-title{
                                    animation-name: sticky-appear;
                                    animation-duration: .3s;
                                    animation-fill-mode: forwards;
                                }
                            }
                        }
                    }
                    &.disappear{
                        .flex-col{
                            &:nth-child(1){
                                .sticky-series-title{
                                    animation-name: sticky-disappear;
                                    animation-duration: .3s;
                                    animation-fill-mode: forwards;
                                }
                            }
                            &:nth-child(2){
                                .sticky-post-title{
                                    animation-name: sticky-disappear;
                                    animation-duration: .3s;
                                    animation-fill-mode: forwards;
                                }
                            }
                        }
                    }
                }
                article.blog-wrapper{
                    max-width: 1024px;
                    margin: 0px auto 0px;
                    text-align: center;
                    position: relative;
                    z-index: 2;
                    header.blog-header{
                        position: relative;
                        margin: 20px 0px 40px;
                        .series-title{
                            font-size: 2.2rem;
                            line-height: 1.1;
                            letter-spacing: 5px;
                            position: relative;
                            margin: 20px 0px 10px;
                        }
                        .post-title{
                            font-size: 1.2rem;
                            line-height: 1.1;
                            letter-spacing: 5px;
                            color: #adadb8;
                            position: relative;
                            margin: 20px 0px 10px;
                        }
                        &:before, &:after{
                            content: '';
                            display: block;
                            width: 1px;
                            height: 49px;
                            background-color: rgb(217, 217, 223);
                            margin: 0px auto;
                        }
                        &.appear{
                            .series-title, .post-title{
                                animation-name: sticky-appear;
                                animation-duration: .3s;
                                animation-fill-mode: forwards;
                            }
                        }
                        &.disappear{
                            .series-title, .post-title{
                                animation-name: sticky-disappear;
                                animation-duration: .3s;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
                    aside.read-time-wrapper{
                        max-width: 850px;
                        margin: 0px auto;
                        color:grey;
                        text-align: left;
                        padding-bottom: 20px;
                        padding-top: 10px;
                        font-size: .9rem;
                        .eta{
                            display: inline-block;
                        }
                    }
                    .blog-body{
                        max-width: 780px;
                        margin: 0px auto;
                        font-size: 1rem;
                        line-height: 2;
                        text-align: left;
                        h1, h2, h3, h4, h5{
                            line-height: 1.1;
                        }
                        h1{
                            font-size: 2rem;
                        }
                        h2{
                            font-size: 1.7rem;
                        }
                        h3, h4, h5{
                            font-size: 1.3rem;
                        }
                        *{
                            max-width: 100%;
                        }
                        img{
                            max-width: 100%;
                            display: block;
                            margin: 0px auto;
                        }
                    }
                }
                footer.sticky-footer{
                    display: none;
                    position: fixed;
                    z-index: 3;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    padding: 10px 15px;
                    background-color: white;
                    box-shadow: 0px -3px 10px 2px rgba(0, 0, 0, .2);
                    .flex-row{
                        display: flex;
                        width: 100%;
                        .speaker-wrapper{
                            flex-basis: calc(100% - 130px);
                            display: flex;
                            .play-speaker-wrapper{
                                flex-basis: 60px;
                                line-height: 1;
                                display: flex;
                                padding-right: 5px;
                                .play-speaker, .pause-speaker{
                                    font-size: 50px;
                                    margin: auto;
                                    line-height: 0;
                                    color: $grey;
                                    i{
                                        font-size: inherit;
                                        line-height: 1;
                                    }
                                }
                                .pause-speaker{
                                    display: none;
                                }
                            }
                            .choose-lang-wrapper{
                                flex-basis: 400px;
                                padding-left: 5px;
                                overflow: hidden;
                                .select-wrapper{
                                    .select-dropdown{
                                        margin-bottom: 0px;
                                        font-size: 15px;
                                        white-space: pre;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        height: auto;
                                        line-height: 2;
                                        padding-right: 25px;
                                        &:after{
                                            top: 5px;
                                            line-height: 1;
                                        }
                                    }
                                }
                                select{
                                    font-size: .5rem;
                                }
                            }
                            .rate-wrapper{
                                flex-basis: 200px;
                            }
                            .pitch-wrapper{
                                flex-basis: 200px;
                            }
                            &.speaking{
                                .play-speaker-wrapper{
                                    .play-speaker{
                                        display: none;
                                    }
                                    .pause-speaker{
                                        display: inline-block;
                                    }
                                }
                            }
                            &.pause{
                                .play-speaker-wrapper{
                                    .play-speaker{
                                        display: inline-block;
                                    }
                                    .pause-speaker{
                                        display: none;
                                    }
                                }
                            }
                            label{
                                font-weight: normal;
                                margin-bottom: 0px;
                                line-height: 1;
                                font-size: 18px;
                            }
                            > *{
                                padding: 0px 20px;
                            }
                        }
                        .font-control-wrapper{
                            display: flex;
                            flex-basis: 130px;
                            text-align: right;
                            .font-control-container{
                                margin: auto;
                                .font-control{
                                    display: inline-block;
                                    margin: 1px;
                                    color: black;
                                    padding: 0px 5px;
                                    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .1);
                                    font-family: "Open Sans", arial, serif;
                                    &:focus{
                                        background-color: buttonface;
                                    }
                                }
                            }
                        }
                    }
                }
                &.post-type-7, &.post-type-8, &.post-type-10{
                    padding-bottom: 80px;
                    footer.sticky-footer{
                        display: block;
                    }
                }
            }
        }
        .dropdown-content.select-dropdown{
            top: auto !important;
            bottom: 10px !important;
            li{
                span{
                    font-size: 15px;
                    line-height: 1.1;
                    white-space: pre-line;
                    padding: 5px 10px;
                    color: $grey;
                }
            }
        }
    }
}

@keyframes sticky-appear {
    0% {
        opacity: 0;
        top: -10px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
@keyframes sticky-disappear {
    0% {
        opacity: 1;
        top: 0px;
    }
    100% {
        opacity: 0;
        top: -10px;
    }
}