html {
  font-size: 12px;
  overflow: visible; }
  html body {
    position: static; }
    html body .site-wrapper.page {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      max-height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      font-family: "EB Garamond", sans-serif; }
      html body .site-wrapper.page > .site-content {
        padding: 30px 50px; }
        html body .site-wrapper.page > .site-content > .content-wrapper {
          padding-top: 10px; }
          html body .site-wrapper.page > .site-content > .content-wrapper .series-section {
            margin-bottom: 25px; }
            html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper {
              text-align: right;
              padding: 0px 10px 10px 0px; }
              html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .action {
                display: inline-block;
                margin-left: 30px;
                height: 40px;
                position: relative;
                text-decoration: none;
                font-size: 2rem;
                color: grey; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .action svg#Capa_1 {
                  display: inline !important;
                  vertical-align: middle;
                  width: 40px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .action svg#Capa_1 g path {
                    fill: grey; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .action:hover {
                  color: black; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .action:hover svg#Capa_1 g path {
                    fill: black; }
              html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .embed-wrapper {
                position: relative;
                display: inline-block;
                line-height: 0; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .embed-wrapper a {
                  display: inline-block;
                  line-height: 0;
                  color: grey; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .embed-wrapper a svg {
                    line-height: 0; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .embed-wrapper a svg path {
                      fill: currentColor; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .embed-wrapper a:hover {
                    color: black; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .embed-wrapper #embed-code {
                  position: absolute;
                  top: calc(100% + 10px);
                  right: 0px;
                  z-index: 5; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .embed-wrapper #embed-code .embed-wrapper {
                    box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.2);
                    background-color: white;
                    padding: 10px;
                    font-size: 2rem;
                    line-height: 1.1;
                    width: 400px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .embed-wrapper #embed-code .embed-wrapper > header {
                      margin-bottom: 10px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .embed-wrapper #embed-code .embed-wrapper > header h4 {
                        margin: 0px;
                        font-size: 1em;
                        line-height: 1.1;
                        border-bottom: 1px solid #333;
                        padding-bottom: 0.1rem; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .embed-wrapper #embed-code .embed-wrapper > header .flex-row .flex-col {
                        line-height: 0;
                        margin-bottom: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section aside.actions-wrapper .embed-wrapper #embed-code .embed-wrapper .embed-code textarea {
                      width: 100%;
                      background-color: #f8f7f9;
                      padding: 10px;
                      height: auto;
                      max-width: 100%;
                      resize: vertical;
                      font-size: .7em;
                      line-height: 1.1; }
            html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content {
              position: relative;
              text-align: center;
              min-height: auto;
              padding-bottom: 20px; }
              html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper {
                position: relative;
                margin: 0px auto;
                overflow: hidden;
                text-align: center;
                background-color: white; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .series-title {
                  margin-bottom: 35px;
                  text-transform: uppercase;
                  color: black; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .series-img-wrapper {
                  margin-bottom: 20px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .series-img-wrapper img {
                    max-width: 100%; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .series-description {
                  font-size: 2rem;
                  line-height: 1.2;
                  margin-bottom: 20px; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .join-series-wrapper .wrap {
                  width: 90%;
                  margin: 0px auto;
                  max-width: 200px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .join-series-wrapper .wrap button {
                    width: 100%;
                    line-height: 34px;
                    height: 40px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .join-series-wrapper .wrap button.circle {
                      width: 40px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .join-series-wrapper .wrap button.filled {
                      line-height: 34px;
                      vertical-align: middle; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .join-series-wrapper .wrap img {
                    top: 0;
                    left: calc((100% - 49px) / 2);
                    width: auto !important;
                    display: none; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .join-series-wrapper .wrap svg {
                    left: calc((100% - 40px) / 2);
                    top: 0px; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .join-series-wrapper .login-wrapper {
                  padding: 2px 20px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .join-series-wrapper .login-wrapper .btn.btn-circle {
                    display: inline-block;
                    width: 100%;
                    max-width: 200px;
                    padding: 3px 20px;
                    font-size: 2rem;
                    border-radius: 50px;
                    background: transparent;
                    border: 2px solid #53d4ad;
                    color: #53d4ad; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .join-series-wrapper .login-wrapper .btn.btn-circle:hover {
                      background: #53d4ad;
                      color: white; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .join-series-wrapper .login-wrapper .btn.btn-circle:focus {
                      outline: none; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .diamond-box-wrap {
                  position: absolute;
                  float: none;
                  width: 600px;
                  height: 600px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .diamond-box-wrap .diamond-box {
                    background-color: white;
                    border: 0px;
                    width: calc(70.710678118% - 10px);
                    height: calc(70.710678118% - 10px);
                    margin: calc(14.644660941% + 5px);
                    box-shadow: 0px 0px 20px 3px #7b7b7b; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .diamond-box-wrap .diamond-box .diamond-box-inner .item {
                      display: block;
                      width: 100%;
                      height: 100%; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-read {
                  top: 0px;
                  left: 0px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-read .item {
                    display: flex !important; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-read .item .series-read {
                      margin: auto auto;
                      height: auto !important;
                      width: 71.8%; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-read .item .series-read .series-title {
                        margin-top: 0px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-read .item .series-read .series-description {
                        margin-bottom: 0px; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-img {
                  top: -300px;
                  right: 300px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-img .diamond-box {
                    border: 0px;
                    width: calc(70.710678118% - 10px);
                    height: calc(70.710678118% - 10px);
                    margin: calc(14.644660941% + 5px);
                    box-shadow: 0px 0px 20px 3px #7b7b7b; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-img .diamond-box .item img {
                      width: 100%;
                      height: 100%; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-join-series {
                  bottom: -150px;
                  right: 0px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-join-series .item {
                    display: flex !important; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-join-series .item .join-series-wrapper {
                      width: 100%;
                      margin: auto auto !important; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-join-series .item .join-series-wrapper h2 {
                        margin-bottom: 20px; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample) {
                  width: 300px;
                  height: 300px;
                  position: absolute;
                  float: none; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample) .diamond-box {
                    border-width: 0px;
                    width: calc(70.710678118% - 10px);
                    height: calc(70.710678118% - 10px);
                    margin: calc(14.644660941% + 5px); }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample) .diamond-box .item {
                      display: block;
                      width: 100%;
                      height: 100%;
                      background-size: cover; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample) .diamond-box .item:hover:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(255, 255, 255, 0.7); }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).left-side {
                    left: -150px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).right-side {
                    right: -150px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-1 {
                    top: 0px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-2 {
                    top: 300px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-3 {
                    top: 600px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-4 {
                    top: 900px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-5 {
                    top: 1200px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-6 {
                    top: 1500px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-7 {
                    top: 1800px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-8 {
                    top: 2100px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-9 {
                    top: 2400px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-10 {
                    top: 2700px; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamonds-container {
                  text-align: center;
                  margin: -150px 0px -5px 0px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamonds-container .diamonds .diamond-row-wrap .diamond-box-wrap .diamond-box {
                    border: 0px;
                    width: calc(70.710678118% - 10px);
                    height: calc(70.710678118% - 10px);
                    margin: calc(14.644660941% + 5px); }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamonds-container .diamonds .diamond-row-wrap .diamond-box-wrap .diamond-box .diamond-box-inner .item {
                      display: block;
                      -webkit-box-sizing: border-box;
                      -moz-box-sizing: border-box;
                      -ms-box-sizing: border-box;
                      box-sizing: border-box;
                      width: 100%;
                      height: 100%;
                      padding: 40% 0px;
                      background-position: center center;
                      background-size: cover;
                      position: relative;
                      text-decoration: none;
                      background-color: #666; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamonds-container .diamonds .diamond-row-wrap .diamond-box-wrap .diamond-box .diamond-box-inner .item:hover:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(255, 255, 255, 0.7); }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamonds-container .diamonds .diamond-row-wrap .diamond-row-lower .diamond-box-wrap .diamond-box {
                    border: 0px;
                    width: calc(70.710678118% - 10px);
                    height: calc(70.710678118% - 10px);
                    margin: calc(14.644660941% + 5px);
                    margin-left: calc(64.644660941% + 5px);
                    margin-top: calc(64.644660941% + 5px); }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamonds-container .diamonds .diamond-row-wrap .diamond-row-lower .diamond-box-wrap .diamond-box .diamond-box-inner .item {
                      display: block;
                      -webkit-box-sizing: border-box;
                      -moz-box-sizing: border-box;
                      -ms-box-sizing: border-box;
                      box-sizing: border-box;
                      width: 100%;
                      height: 100%;
                      padding: 40% 0px;
                      background-position: center center;
                      background-size: cover;
                      position: relative;
                      text-decoration: none;
                      background-color: #666; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamonds-container .diamonds .diamond-row-wrap .diamond-row-lower .diamond-box-wrap .diamond-box .diamond-box-inner .item:hover:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(255, 255, 255, 0.7); }
                @media only screen and (min-width: 1637px) {
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper {
                    width: 1500px; } }
                @media only screen and (min-width: 1320px) and (max-width: 1636px) {
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper {
                    width: 1200px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-read {
                      top: 0px;
                      left: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-img {
                      top: -300px;
                      right: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-join-series {
                      bottom: -150px;
                      right: 0px; } }
                @media only screen and (min-width: 1020px) and (max-width: 1319px) {
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper {
                    width: 900px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-read {
                      top: 0px;
                      left: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-img {
                      top: -300px;
                      right: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-join-series {
                      bottom: -150px;
                      right: 0px; } }
                @media only screen and (min-width: 768px) and (max-width: 1019px) {
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper {
                    width: 600px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-img {
                      top: -200px;
                      right: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-read {
                      top: 0px;
                      left: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-join-series {
                      bottom: -100px;
                      right: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .diamond-box-wrap {
                      width: 400px;
                      height: 400px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .diamond-box-wrap .diamond-box {
                        background-color: white;
                        border-width: 5px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .diamond-box-wrap .diamond-box .diamond-box-inner .item {
                          display: block;
                          width: 100%;
                          height: 100%; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample) {
                      width: 200px;
                      height: 200px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).left-side {
                        left: -100px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).right-side {
                        right: -100px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-1 {
                        top: 0px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-2 {
                        top: 200px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-3 {
                        top: 400px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-4 {
                        top: 600px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-5 {
                        top: 800px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-6 {
                        top: 1000px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-7 {
                        top: 1200px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-8 {
                        top: 1400px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-9 {
                        top: 1600px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-10 {
                        top: 1800px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamonds-container {
                      text-align: center;
                      margin: -100px 0px -5px 0px; } }
                @media only screen and (max-width: 767px) {
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper {
                    width: 400px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-img {
                      top: -200px;
                      right: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-series-read {
                      top: 200px;
                      left: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .for-join-series {
                      bottom: -100px;
                      right: 0px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .diamond-box-wrap {
                      width: 400px;
                      height: 400px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .diamond-box-wrap .diamond-box {
                        background-color: white;
                        border-width: 5px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .series-content .diamond-box-wrap .diamond-box .diamond-box-inner .item {
                          display: block;
                          width: 100%;
                          height: 100%; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample) {
                      width: 200px;
                      height: 200px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).left-side {
                        left: -100px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).right-side {
                        right: -100px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-1 {
                        top: 0px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-2 {
                        top: 200px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-3 {
                        top: 400px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-4 {
                        top: 600px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-5 {
                        top: 800px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-6 {
                        top: 1000px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-7 {
                        top: 1200px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-8 {
                        top: 1400px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-9 {
                        top: 1600px; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamond-box-wrap.for-side:not(.sample).layer-10 {
                        top: 1800px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .diamonds-wrapper .diamonds-container {
                      text-align: center;
                      margin: -100px 0px -5px 0px; } }
              html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper {
                display: none;
                width: 300px;
                height: 300px;
                background-color: transparent;
                box-shadow: none;
                z-index: 999;
                right: 0px;
                top: 0px; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper .circle-nav-toggle {
                  border: none;
                  width: 50px;
                  height: 50px;
                  top: 5px;
                  right: 5px;
                  opacity: 0; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper .circle-nav-toggle svg#Capa_1 {
                    display: inline !important;
                    width: 50px; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper .circle-nav-toggle svg#Capa_1 g path {
                      fill: grey; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper .circle-nav-toggle.circle-nav-open {
                    opacity: 1; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper .circle-nav-toggle.circle-nav-open svg#Capa_1 g path {
                      fill: white; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper ul.circle-nav-menu {
                  width: 300px;
                  height: 300px; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item {
                    width: 45px;
                    height: 45px;
                    box-sizing: border-box;
                    text-align: left; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a {
                      padding: 0px;
                      line-height: 0; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg {
                        display: inline !important;
                        width: 30px !important;
                        height: 30px !important; }
                        html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper ul.circle-nav-menu li.circle-nav-item a svg g path {
                          fill: #ff7b7b !important; }
                  html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper ul.circle-nav-menu:not(.circle-nav-open) li.circle-nav-item {
                    left: 300px;
                    bottom: 300px; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper .circle-nav-panel {
                  margin-left: 311px; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper .circle-nav-panel.circle-nav-open {
                  margin-left: 311px;
                  width: 600px;
                  height: 600px; }
                html body .site-wrapper.page > .site-content > .content-wrapper .series-section main.main-content .circle-nav-wrapper.circle-nav-open {
                  z-index: 1001; }
          html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content {
            text-align: center;
            padding-bottom: 20px; }
            html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content > h1 {
              margin-top: 0px; }
            html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper {
              padding: 10px 10px; }
              html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) {
                display: block;
                width: 95% !important;
                max-width: 100%;
                margin: 0px auto; }
                html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li {
                  width: calc((100% - 100px)/5) !important;
                  float: left;
                  min-height: 325px;
                  height: auto; }
                  @media only screen and (min-width: 1000px) {
                    html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li {
                      min-height: 370px; } }
                  html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a {
                    height: auto; }
                    html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column {
                      height: auto; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object {
                        height: auto;
                        position: relative;
                        color: grey;
                        padding-bottom: 75px;
                        min-height: 300px; }
                        html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper {
                          position: relative;
                          padding-bottom: 20px; }
                          html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper .object_title {
                            padding: 10px 20px;
                            min-height: 105px;
                            font-size: 1.2em;
                            line-height: 1.2em;
                            white-space: normal;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            transition: all ease-in-out .4s; }
                          html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper .view-more-wrapper {
                            font-size: 18px;
                            margin-top: -5px;
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                            width: 100%;
                            font-style: italic; }
                            html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper .view-more-wrapper span {
                              cursor: pointer;
                              font-size: 18px; }
                              html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper .view-more-wrapper span.view-more {
                                display: initial; }
                              html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper .view-more-wrapper span.view-less {
                                display: none; }
                              html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper .view-more-wrapper span:hover {
                                color: black; }
                          html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper.expanded > .object_title {
                            overflow-y: hidden;
                            transition: all ease-in-out .4s;
                            transition-delay: 0s; }
                            html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper.expanded > .object_title img {
                              margin-top: 5px;
                              max-width: 100%; }
                          html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper.expanded .view-more-wrapper {
                            font-size: 30px; }
                            html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper.expanded .view-more-wrapper .dot {
                              display: none; }
                            html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper.expanded .view-more-wrapper span.view-more {
                              display: none; }
                            html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .title-wrapper.expanded .view-more-wrapper span.view-less {
                              display: initial; }
                        html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper {
                          text-align: center;
                          position: absolute;
                          bottom: 20px;
                          left: 0px;
                          width: 100%;
                          height: 50px; }
                          html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper .btn.btn-circle {
                            width: 200px;
                            max-width: 95%;
                            padding: 6px;
                            font-size: 18px;
                            border-radius: 20px;
                            background: transparent;
                            border: 2px solid #53d4ad;
                            color: #53d4ad; }
                            html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper .btn.btn-circle:hover {
                              background: #53d4ad;
                              color: white; }
                            html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper .btn.btn-circle:focus {
                              outline: none; }
                        @media only screen and (min-width: 1000px) and (max-width: 1700px) {
                          html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object {
                            font-size: 15px; }
                            html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .image-wrapper img.object_image {
                              height: 8vw; }
                            html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper > * img {
                              width: 2.3vw !important; }
                            html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper > * i {
                              font-size: 2.3vw !important; } }
                  @media only screen and (max-width: 1000px) {
                    html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li {
                      margin: 10px;
                      width: calc((100% - 60px)/3) !important;
                      height: 24vw !important; }
                      html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object {
                        position: relative;
                        color: grey; }
                        html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .image-wrapper img.object_image {
                          height: 12vw;
                          object-fit: fill; }
                        html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .object_title {
                          padding: 5px 10px;
                          font-size: 1.3em;
                          line-height: 1.2em;
                          white-space: pre;
                          overflow: hidden;
                          text-overflow: ellipsis; }
                        html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper > * img {
                          width: 4vw !important; }
                        html body .site-wrapper.page > .site-content > .content-wrapper .posts-section main.main-content .tt-grid-wrapper > .tt-grid.tt-effect-3dflip:not(.sample) li a .column .column_object .buttons-wrapper > * i {
                          font-size: 4vw !important; } }

.swal-overlay .swal-modal.thanks-join .swal-footer {
  position: relative; }
  .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap {
    position: absolute;
    left: 10px;
    top: 17px;
    padding: 10px 24px; }
    .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input {
      background-color: transparent;
      margin-top: 0px;
      vertical-align: middle;
      position: absolute;
      left: -9999px; }
      .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label {
        color: black; }
        .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:before {
          border-color: black; }
        .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap input:checked + label:after {
          font-size: .9em;
          content: '\2714';
          position: absolute;
          left: 0em;
          top: 0em;
          width: 1em;
          height: 1em;
          color: black; }
    .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label {
      color: grey;
      font-size: 18px;
      line-height: 1.1em;
      vertical-align: middle;
      position: relative;
      padding-left: 1.5em;
      cursor: pointer;
      font-weight: normal; }
      .swal-overlay .swal-modal.thanks-join .swal-footer .disable-wrap label:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1em;
        height: 1em;
        border: 1px solid grey; }

.after-clearfix:after {
  content: '';
  display: block;
  clear: both; }

.wrap {
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 191px;
  text-align: center; }

.wrap button {
  display: block;
  height: 60px;
  padding: 0;
  width: 191px;
  background: none;
  margin: auto;
  border: 2px solid #1ECD97;
  font-size: 18px;
  font-family: "Lato";
  color: #1ECD97;
  cursor: pointer;
  outline: none;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
  -o-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
  -webkit-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
  transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s; }

.wrap button:hover {
  background: #1ECD97;
  color: white; }

.wrap img {
  position: absolute;
  top: 11px;
  display: none;
  left: 71.5px;
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6); }

.wrap svg {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  /* @include rotate(270deg); */
  position: absolute;
  top: -2px;
  left: 62px;
  display: none; }

.wrap svg .circle_2 {
  stroke-dasharray: 0 200; }

.wrap svg .fill_circle {
  -moz-animation: fill-stroke 2s 0.4s linear forwards;
  -webkit-animation: fill-stroke 2s 0.4s linear forwards;
  animation: fill-stroke 2s 0.4s linear infinite normal; }

.wrap .circle {
  width: 60px;
  border: 3px solid #c3c3c3;
  /* border: none; */ }

.wrap .circle:hover {
  background: none; }

.wrap .filled {
  background: #1ECD97;
  color: white;
  line-height: 60px;
  font-size: 160%; }

@-moz-keyframes fill-stroke {
  0% {
    stroke-dasharray: 0 200; }
  20% {
    stroke-dasharray: 20 200; }
  40% {
    stroke-dasharray: 30 200; }
  50% {
    stroke-dasharray: 90 200; }
  70% {
    stroke-dasharray: 120 200; }
  90% {
    stroke-dasharray: 140 200; }
  100% {
    stroke-dasharray: 182 200; } }
@-webkit-keyframes fill-stroke {
  0% {
    stroke-dasharray: 0 200; }
  20% {
    stroke-dasharray: 20 200; }
  40% {
    stroke-dasharray: 30 200; }
  50% {
    stroke-dasharray: 90 200; }
  70% {
    stroke-dasharray: 120 200; }
  90% {
    stroke-dasharray: 140 200; }
  100% {
    stroke-dasharray: 182 200; } }
@keyframes fill-stroke {
  0% {
    stroke-dasharray: 0 200; }
  20% {
    stroke-dasharray: 20 180; }
  40% {
    stroke-dasharray: 30 170; }
  50% {
    stroke-dasharray: 90 110; }
  70% {
    stroke-dasharray: 120 80; }
  90% {
    stroke-dasharray: 140 60; }
  100% {
    stroke-dasharray: 200 0; } }

/*# sourceMappingURL=viewExperience-page.css.map */
