<div class="card">
    <div class="card-body">
        <h3 class="card-title">Account Stats</h3>
        <table>
            <tbody>
            <tr>
                <th>Total users</th>
                <td>{{stats.totalUsersCnt}}</td>
            </tr>
            <tr>
                <th>Total waiting list</th>
                <td>{{stats.waitUsersCnt}}</td>
            </tr>
            <tr>
                <th>Average time on waiting list</th>
                <td>{{stats.avgWaitDate}}</td>
            </tr>
            <tr>
                <th>Total active users</th>
                <td>{{stats.activeUsersCnt}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">User Retention Graph</h3>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group mr-3">
                    <label>Start Date:&nbsp;</label>
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp1" [(ngModel)]="startDateUr" ngbDatepicker #sdUr="ngbDatepicker" (ngModelChange)="refreshUserRetentionGraph()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="sdUr.toggle()" type="button">
                            <img src="assets/images/icon/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </button>
                    </div>
                </div>
                <div class="input-group">
                    <label>End Date:&nbsp;</label>
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp2" [(ngModel)]="endDateUr" ngbDatepicker #edUr="ngbDatepicker" (ngModelChange)="refreshUserRetentionGraph()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="edUr.toggle()" type="button">
                            <img src="assets/images/icon/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <kendo-chart [categoryAxis]="{ categories: userRetentionGraph.months }">
            <kendo-chart-title text="Monthly User Retention"></kendo-chart-title>
            <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
            <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
            <kendo-chart-series>
                <kendo-chart-series-item type="line" style="smooth" [data]="userRetentionGraph.data"></kendo-chart-series-item>
            </kendo-chart-series>
        </kendo-chart>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Series Stats</h3>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group mr-3">
                    <label>Start Date:&nbsp;</label>
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp3" [(ngModel)]="startDate" ngbDatepicker #sd="ngbDatepicker" (ngModelChange)="refreshJoinRetentionGraph()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="sd.toggle()" type="button">
                            <img src="assets/images/icon/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </button>
                    </div>
                </div>
                <div class="input-group">
                    <label>End Date:&nbsp;</label>
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp4" [(ngModel)]="endDate" ngbDatepicker #ed="ngbDatepicker" (ngModelChange)="refreshJoinRetentionGraph()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="ed.toggle()" type="button">
                            <img src="assets/images/icon/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <kendo-chart [categoryAxis]="{ categories: joinRetentionGraph.months }">
            <kendo-chart-title text="Monthly Joined Retention"></kendo-chart-title>
            <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
            <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
            <kendo-chart-series>
                <kendo-chart-series-item type="line" style="smooth" [data]="joinRetentionGraph.data"></kendo-chart-series-item>
            </kendo-chart-series>
        </kendo-chart>
        <table>
            <tbody>
            <tr>
                <th>Total series created</th>
                <td>{{stats.totalSeriesCnt}}</td>
            </tr>
            <tr>
                <th>Total series created this month</th>
                <td>{{stats.totalSeriesCntThisMonth}}</td>
            </tr>
            <tr>
                <th>Total series joined</th>
                <td>{{stats.totalSeriesJoinedCnt}}</td>
            </tr>
            <tr>
                <th>Total series joined this month</th>
                <td>{{stats.totalSeriesJoinedCntThisMonth}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">List of most joined series</h3>
        <app-table [settings]="totalJoinedTableSettings" [items]="totalJoinedTableRows"></app-table>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">List of most joined series This Month</h3>
        <app-table [settings]="joinedTableSettingsThisWeek" [items]="joinedTableRowsThisMonth"></app-table>
    </div>
</div>