<div class="component post-copy-embed">
    <a href="#post-embed-code" data-toggle="collapse">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="50px" height="50px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
                                <g>
                                    <path d="M133.333,116.667L0,250l133.333,133.333H200L66.667,250L200,116.667H133.333z M366.667,116.667H300L433.333,250
                                        L300,383.333h66.667L500,250L366.667,116.667z"/>
                                </g>
                            </svg>
    </a>
    <div id="post-embed-code" class="collapse post-embed-code">
        <div class="embed-wrapper">
            <header>
                <div class="flex-row vertical-center space-between">
                    <div class="flex-col fix-col">
                        <h4>Embed Code</h4>
                    </div>
                    <div class="flex-col fix-col">
                        <a href="javascript:;" class="copy-embed-code-btn" title="click to copy">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     width="50px" height="30px"
                                                     viewBox="0 0 488.3 488.3" style="enable-background:new 0 0 488.3 488.3;" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path d="M314.25,85.4h-227c-21.3,0-38.6,17.3-38.6,38.6v325.7c0,21.3,17.3,38.6,38.6,38.6h227c21.3,0,38.6-17.3,38.6-38.6V124
                                                        C352.75,102.7,335.45,85.4,314.25,85.4z M325.75,449.6c0,6.4-5.2,11.6-11.6,11.6h-227c-6.4,0-11.6-5.2-11.6-11.6V124
                                                        c0-6.4,5.2-11.6,11.6-11.6h227c6.4,0,11.6,5.2,11.6,11.6V449.6z"/>
                                                    <path d="M401.05,0h-227c-21.3,0-38.6,17.3-38.6,38.6c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5c0-6.4,5.2-11.6,11.6-11.6h227
                                                        c6.4,0,11.6,5.2,11.6,11.6v325.7c0,6.4-5.2,11.6-11.6,11.6c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5c21.3,0,38.6-17.3,38.6-38.6
                                                        V38.6C439.65,17.3,422.35,0,401.05,0z"/>
                                                </g>
                                            </g>
                                        </svg>
                        </a>
                    </div>
                </div>
            </header>
            <div class="embed-code">
                <textarea readonly rows="7"></textarea>
            </div>
        </div>
    </div>
</div>