.post-copy-embed {
  position: relative;
  line-height: 0; }
  .post-copy-embed a {
    background-color: transparent;
    display: flex;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid #1fcd98;
    height: 50px;
    width: 50px;
    margin-left: 5px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center; }
    .post-copy-embed a svg {
      width: 25px;
      max-height: 25px; }
      .post-copy-embed a svg g {
        fill: #1fcd98; }
      .post-copy-embed a svg path {
        fill: #1fcd98; }
      .post-copy-embed a svg polygon {
        fill: #1fcd98; }
    .post-copy-embed a:hover {
      border-color: #1eb785; }
      .post-copy-embed a:hover svg g, .post-copy-embed a:hover svg path, .post-copy-embed a:hover svg polygon {
        fill: #1eb785; }
  .post-copy-embed .post-embed-code {
    position: absolute;
    top: calc(100% + 10px);
    right: 0px; }
    .post-copy-embed .post-embed-code .embed-wrapper {
      box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.2);
      background-color: white;
      padding: 10px;
      font-size: 1rem;
      line-height: 1.1;
      width: 400px; }
      .post-copy-embed .post-embed-code .embed-wrapper > header {
        margin-bottom: 10px; }
        .post-copy-embed .post-embed-code .embed-wrapper > header h4 {
          margin: 0px;
          font-size: 1.5rem;
          line-height: 1.1;
          border-bottom: 1px solid #333;
          padding-bottom: 0.1rem; }
        .post-copy-embed .post-embed-code .embed-wrapper > header .flex-row .flex-col {
          line-height: 0;
          margin-bottom: 0px; }
      .post-copy-embed .post-embed-code .embed-wrapper .embed-code textarea {
        background-color: #f8f7f9;
        padding: 10px;
        height: auto;
        max-width: 100%;
        resize: vertical;
        font-size: 1.5rem;
        line-height: 1.1; }

/*# sourceMappingURL=PostCopyEmbed.css.map */
