<div class="card">
    <div class="card-body">
        <h3 class="card-title">Please Set Permissions</h3>
        <app-table [settings]="tableSettings" [items]="tableRows" tr="permissions-tr"></app-table>
    </div>
</div>