table.app-table{
   table-layout: fixed;
   width: 100%;
   border: 1px solid #e7ecf1;
   border-right: none;
   border-collapse: separate;
   border-spacing: 0px;
   thead{
      tr{
         th{
            border-right: 1px solid #e7ecf1;
            padding: 8px 10px;
            font-weight: normal;
            color: #333;
            &.no-col{
               width: 50px;
            }
         }
      }
   }
   tbody{
      tr{
         td{
            border: 1px solid #e7ecf1;
            border-left: none;
            border-bottom: none;
            padding: 8px 10px;
            &.no-col{
               max-width: 30px;
            }
         }
         &:nth-child(odd){
            background-color: #fbfcfd;
         }
         &:nth-child(even){
            background-color: white;
         }
      }
   }
}

.app-table-wrapper{
   header.app-table-header{
   }
   .app-table-content{
      table{
         tbody{
            tr{
               &:hover{
                  background-color: #f3f4f6 !important;
               }
            }
         }
      }
   }
   footer.app-table-footer{
      margin-top: 20px;
   }
}