/* Yevgeny */



/* CSS Document */

body {
	background-color: #FFF;
}
h2 {
	font-size: 1.5em;
}
.container {
	width: 600px;
	max-width: 100%;
}
button {
	margin: 10px;
}
button[disabled] {
	opacity: .3;
}
form {
	display: block;
}

.auth{
	margin-top: 100px;
}
.profile .auth{
	margin-top: 0;
}
.auth button{
	max-width: none;
}
.auth > div{
	text-align: center;
	margin-bottom: 10px; 
}
.auth > form{
	margin-bottom: 30px; 
}
.auth .field{
	padding: 10px;
    display: flex;
    align-items: top;
	flex-wrap: wrap;
    justify-content: space-between;
	border-bottom: 1px dotted #CCCCCC;
	font-size: 1.4em;
}
.auth h2{
	font-style: normal;
	font-weight: 400;
	text-align: center;
	padding: 5px 10px;
	border: 1px solid #999;
	cursor: pointer;
	transition: .6s ease all;
	margin: 0 0 10px;
	background-color: #EEE;
}
.auth h2:hover{
	background: #e1e7f2;
}
.auth input {
	padding: 3px;
	text-align: center;
	font-size: .8em;
}
.error_msg {
	color: #F00;
	padding: 3px;
}
.hover {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.edit_profile {
	margin: 50px auto;
	width: 50%;
	min-width: 400px;
}
.edit_profile .field input {
	text-align: left;
}
.field .error_msg {
	width: 100%;
	font-size: .8em;
	border-top: 1px dotted #CCCCCC;
	margin: 8px 0 -8px;
}
.field_separator {
	width: 100%;
	height: 20px;
}
.field input[disabled] {
	color: #999;
}
.auth_notice {
	color: #060;
	margin: 20px auto 10px;
}
.gd-username {
	width: 50%;
	color: #666;
	font-size: 1.2em;
	text-align: center;
	margin: auto;
}
.gd-username .fa {
	margin-right: 15px;
}

/*<!-- loading animation //// .sk-wave should be on html -->*/
.sk-wave {
	position: relative;
	width: 50px;
	height: 40px;
	text-align: center;
	margin: 20px auto;
}
  .sk-wave .sk-rect {
    background-color: #999;
	margin: 1px;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
            animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
  .sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s; }
  .sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }
@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }