<div data-form-field="26" class="form-field-wrapper form-field-component">
    <div class="form-field-inner">
        <label contenteditable="false" class="form-field-name">firstname:</label>
        <div class="form-field-value">
            <div class="type-value text-value" contenteditable="true" placeholder=""></div>
            <input type="checkbox" class="type-value checkbox-value" />
        </div>
        <span class="form-field-helper" style="font-style: italic;" data-toggle="popover" data-trigger="hover" contenteditable="false" data-content="type your first name" data-original-title="" title="">i</span>
    </div>
</div>