.form-loop-answer-parag-component{
  display: flex;
  flex-direction: column;
  align-items: center;
  .loop-answer-parag:not(.sample){
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px 0px;
    .loop-field:not(.sample){
      margin: 5px auto;
      align-items: center;
      flex-wrap: wrap;
      padding: 0px 0px 0px 0px;
      border-bottom: 1px solid grey;
      .loop-field-name{
        text-align: left;
        padding: 7px 10px;
      }
      .loop-field-value{
        padding: 7px 10px;
        background-color: white;
        min-width: 100px;
        border-radius: 3px;
        .type-value {
          display: none;
          &.text-value{
            min-width: 150px;
            height: calc(1.4 * 1em);
          }
        }
        &[contentEditable=true]:empty:not(:focus):before{
          content: attr(placeholder);
          cursor: text;
        }
      }
      &.type-text {
        .loop-field-value{
          .text-value.type-value{
            display: block;
            text-align: left;
            &:focus{
              outline: none;
            }
          }
        }
      }
      &.type-checkbox {
        .loop-field-value{
          border: none;
          flex-grow: 0;
          .checkbox-value.type-value{
            display: block;
            position: static;
          }
        }
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
}