<div class="form-loop-answer-parag-component component" contenteditable="false">
    <div class="loop-answer-parag sample" hidden>
        <div class="loop-field sample" hidden>
            <div class="loop-field-name"></div>
            <div class="loop-field-value">
                <div class="type-value text-value"></div>
                <input type="checkbox" class="type-value checkbox-value" />
            </div>
        </div>
    </div>
</div>