.form-loop-answer-parag-component {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form-loop-answer-parag-component .loop-answer-parag:not(.sample) {
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px 0px; }
    .form-loop-answer-parag-component .loop-answer-parag:not(.sample) .loop-field:not(.sample) {
      margin: 5px auto;
      align-items: center;
      flex-wrap: wrap;
      padding: 0px 0px 0px 0px;
      border-bottom: 1px solid grey; }
      .form-loop-answer-parag-component .loop-answer-parag:not(.sample) .loop-field:not(.sample) .loop-field-name {
        text-align: left;
        padding: 7px 10px; }
      .form-loop-answer-parag-component .loop-answer-parag:not(.sample) .loop-field:not(.sample) .loop-field-value {
        padding: 7px 10px;
        background-color: white;
        min-width: 100px;
        border-radius: 3px; }
        .form-loop-answer-parag-component .loop-answer-parag:not(.sample) .loop-field:not(.sample) .loop-field-value .type-value {
          display: none; }
          .form-loop-answer-parag-component .loop-answer-parag:not(.sample) .loop-field:not(.sample) .loop-field-value .type-value.text-value {
            min-width: 150px;
            height: calc(1.4 * 1em); }
        .form-loop-answer-parag-component .loop-answer-parag:not(.sample) .loop-field:not(.sample) .loop-field-value[contentEditable=true]:empty:not(:focus):before {
          content: attr(placeholder);
          cursor: text; }
      .form-loop-answer-parag-component .loop-answer-parag:not(.sample) .loop-field:not(.sample).type-text .loop-field-value .text-value.type-value {
        display: block;
        text-align: left; }
        .form-loop-answer-parag-component .loop-answer-parag:not(.sample) .loop-field:not(.sample).type-text .loop-field-value .text-value.type-value:focus {
          outline: none; }
      .form-loop-answer-parag-component .loop-answer-parag:not(.sample) .loop-field:not(.sample).type-checkbox .loop-field-value {
        border: none;
        flex-grow: 0; }
        .form-loop-answer-parag-component .loop-answer-parag:not(.sample) .loop-field:not(.sample).type-checkbox .loop-field-value .checkbox-value.type-value {
          display: block;
          position: static; }
      .form-loop-answer-parag-component .loop-answer-parag:not(.sample) .loop-field:not(.sample):last-child {
        border-bottom: none; }

/*# sourceMappingURL=FormLoopAnswerParag.css.map */
