@media screen and (min-width: 0px) and (max-width: 600px) {

   .p_former{
     margin-top: 40px;
   }


   .f_uploader{
        width: 100px;
        height: 100px;
        top:5px;
        right: 5px;
    }

   .signup .title{
     font-size: 30px;
   }

    .subcontent_container .texted{
      padding: 25px!important;
      padding-top: 0!important;
      padding-right: 15!important;
    }

    .header .text_container .title{
      font-size: 25px;
    }
    .header .text_container .subtitle{
      font-size: 15px;
    }

    .slider .slider_item{
      height: 470px;
    }

    .philosophy{
      background-image: url(../img/philosophy-card-bg.jpg);
      background-position: center;
      background-size: cover;;
      background-repeat: no-repeat;
      height: auto;
      width: 100%;
      top: 240px;
      right: 0;
      position: absolute;
    }

    .philosophy_2{
      width: 100%;
      padding: 60px 25px 0px 25px;
    }

    .paddinger{
          padding: 125px 25px 125px 25px;
    }

    .marger{
      padding: 0;
    }

    .recent_works .imager{
      height: 390px;
    }

    .recent_works .content{
      height: 390px;
      padding: 10px 25px 10px 25px;
    }

    .slider .titled{
      font-size: 30px;
    }

    .slider .subtitled{
      font-size: 15px;
      margin-top: 15px;
    }

    .slider .down_arrow{
      bottom: 100px;
    }

    .signup_content{
      height: 1530px;
      padding: 25px;
    }

    .singup_overlay{
      height: 1530px;
    }

    .parallax-container{
      height: 1530px;
    }
}

@media screen and (min-width: 601px) and (max-width: 828px) {

   .p_former{
     margin-top: 40px;
   }

   .f_uploader{
     top:5px;
     right: 5px;
   }

   .signup_content{
     height: 970px;
     padding: 25px;
   }

   .singup_overlay{
     height: 970px;
   }

   .parallax-container{
     height: 970px;
   }

}
