@media only screen and (max-height: 990px) {
    .category_content .insider {
      height: calc(100% - 150px);
      top: 100px;
      transform: none;
      min-height: 100px;
    }

    .category_content_1{
      height: 968px!important;
    }

    .insider_1{
      height: 768px!important;
    }

    .category_content{
      height: 100vh;
    }

    .data_row{
      height: calc(100% - 100px)!important;
    }
}

@media screen and (min-width: 1201px) and (max-width:1280px) {
    .category_content .insider {
        padding-right: 15px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
    .column {
        margin: auto;
        width: 100%;
        max-width: 400px;
        float: none;
    }
    .column_overflow {
        height: auto;
        overflow-y: visible;
    }
    .parent_column {
        height: auto;
    }
    .project_rows {
        padding-top: 45px;
        height: 88%;
        position: relative;
        top: 6%;
        overflow-y: scroll;
    }
    .project_rows::-webkit-scrollbar {
        width: 10px;
    }
    .project_rows::-webkit-scrollbar-track {
        background: transparent;
    }
    .project_rows::-webkit-scrollbar-thumb {
        background-color: white;
        -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
        border: 0px solid rgba(0, 0, 0, 0.15);
    }
    .category_content .insider {
        padding-right: 20px;
    }
}

@media screen and (min-width: 0px) and (max-width: 766px) {

    .category_content {
        height: initial!important;
    }

    .rectangle {
        display: none;
    }
    .category_content .insider {
        width: 100%;
        margin-top: -50px;
        padding: 0;
    }
    .bottom_line, .top_line, .right_line, .left_line {
        display: none;
    }
    .big_rectangle {
        display: none;
    }
    .first_column {
        display: none;
    }
    .column {
        margin: auto;
        width: 100%;
        max-width: 400px;
        float: none;
    }
    .column_overflow {
        height: auto;
        overflow-y: visible;
    }
    .parent_column {
        height: auto;
    }
    .project_rows {
        margin: auto;
        padding: 0px;
        padding-top: 0px;
        position: relative;
        top: 6%;
    }
    .category_rows {
        height: auto;
    }
    .object_image {
        width: 135px;
        height: 135px;
        float: left;
        margin-right: 15px;
    }
    .column_object {
        min-height: 150px;
        padding-bottom: 25px;
    }
    .object_title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        
        padding-top: 5px;
    }
    .object_line {
        width: 100%;
        background: rgba(0, 0, 0, 0.15);
    }
    .parent_column {
        height: auto;
        padding: 0px 25px;
    }
    .header_button {
        display: none;
    }
    .object_description {
        display: block;
        text-align: justify;
        padding-bottom: 25px;
    }
    .object_button {
        display: block;
        width: 100%;
        max-width: 100px;
        font-size: 10px;
        border: 2px solid black;
        color: black;
        padding: 8px 10px;
        box-sizing: border-box;
        text-align: center;
        margin: auto;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 0px;
        font-weight: 800;
    }
    .search_input {
        display: none;
    }
    .seatch_icon {
        display: none;
    }
    .menu {
        left: 0;
        top:0;
        transform: none;
        padding-bottom: 15px;
        padding-top: 15px;
        z-index: 512;
        position: fixed;
        background: black;
        -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
        border: 0px solid rgba(0, 0, 0, 0.15);
    }
    .category_content {
        height: auto!important;
    }
    .category_content .insider {
        height: auto!important;
    }
    .footer {
        margin-top: 100px;
    }

    .lefter, .righter, .centerer{
      margin: 20px 0px;
      text-align: center;
    }

    .righter{
      height: 90px;
    }
    .fixed_button{
      display: block;
    }

    .events{
      display: block;
    }

    .popup_left{display: none;}
    .popup_right{width: 100%;}
    .button_place{
      margin-top: 0px;
      width: 100%;
      text-align: center;
    }
}
