.toogle-complete.btn.btn-block{
    vertical-align: baseline;
    display: inline-block;
    margin-right: 3px;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    border: 2px solid #b2b2b4;

    i.glyphicon{
        font-size: 18px;
        color: #b2b2b4;
    }
    &.btn-success{
        background-color: rgb(92, 184, 92);
        border-color: rgb(92, 184, 92);
        i.glyphicon{
            color: white;
        }
    }
    &:focus{
        outline: none;
    }
}
.content_container{
    ul{
        li{
            article{
                .reference-link-wrapper{
                    padding-left: 40px;
                }
            }
        }
    }
}
