body {
    margin: 0;
    background: #eeeeee;
    font-familiy:"Reem Kufi", sans-serif;
}

.header {
    margin-top: 95px;
    width: 100%;
    opacity: 1;
    bottom: 0;
    position: relative;
}

.header .line_container {
    width: 100%;
    text-align: center;
}

.header .line_container .line {
    width: 51px;
    height: 51px;
}

.header .text_container {
    width: 100%;
    text-align: center;
}

.header .text_container .title {
    font-family: 'EB Garamond', sans-serif;
    ;
    font-style: normal;
    font-weight: 400;
    margin-top: 14px;
    line-height: 66px;
    font-size: 55px;
    letter-spacing: 10px;
    margin-bottom: 15px;
    color: #29293a;
}

.header .text_container .subtitle {
    font-family: 'EB Garamond', sans-serif;
    ;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    font-size: 24px;
    letter-spacing: 8px;
    color: #adadb8;
}

.header .subtext {
    font-family: 'EB Garamond', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    font-size: 19px;
    opacity: 1;
    bottom: 0;
    position: relative;
    letter-spacing: 0px;
    color: #a1a1b7;
    margin: auto;
    margin-top: 75px;
    max-width: 780px;
    width: 100%;
}

.slider {
    height: auto;
    position: relative;
    width: 100%;
}

.s_content{
  text-align: -webkit-center;
  text-align: center;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  z-index: 24;
}

.s_popup_open{
  text-align: right;
  position: absolute;
  top:30px;
  right: 40px;
  font-size: 25px;
  color:white;
  font-family:'EB Garamond',sans-serif;
  font-style: normal;
  font-weight: 100;
  cursor: pointer;

}

.slider .slider_item {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slider .down_arrow{
  z-index: 1024;
  position: absolute;
  bottom: 150px;
  text-align: center;
  width: 100%;
}

.slider .titled{
  text-align: center;
  font-family:'EB Garamond',sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 18px;
  font-size: 66px;
  letter-spacing: 10px;
  color: #5a5a5a;
}

.slider .subtitled{
  text-align: center;
  margin-top: 35px;
  font-family: 'EB Garamond',sans-serif;
  font-style: normal;
  padding-bottom:18px;
  font-weight: 400;
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 10px;
  color: #777;
}

.subcontent_container {
    margin-top: -190px;
    padding: 0px;
    font-family: 'EB Garamond', sans-serif;
    padding-top: 100px;
    font-size: 19px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    color: #a1a1b7;
    background-color: #eeeeee;
    background-image: url("../img/works-bg.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.subcontent_container .wrapper {
    width: 100%;
    margin: auto;
}

.subcontent_container .summary {
    font-family: 'EB Garamond', sans-serif;
    position: relative;
    opacity: 1;
    bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 49px;
    text-align: left;
    letter-spacing: 0px;
    padding-left: 22px;
    color: #333351;
}

.subcontent_container .texted {
    padding-left: 25px;
    font-family: 'EB Garamond', sans-serif;
    font-style: normal;
    font-weight: 400;
    opacity: 1;
    bottom: 0;
    position: relative;
    line-height: 32px;
    font-size: 19px;
    letter-spacing: 0px;
}



.subtext{
  font-family: 'EB Garamond',sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  font-size: 19px;
  letter-spacing: 0px;
  color: #a1a1b7;
  opacity: 1;
  position: relative;
  bottom: 0;
  margin: auto;
  margin-top: 75px;
  max-width: 780px;
  width: 100%;
}

.footer{
  width: 100%;
  background: white;
}
.inputed_footer{
  bottom: 0;
  width: 100%;
  padding-left: 85px;
  padding-right: 85px;
  margin: auto;
  margin-top: 95px;
  max-width: 1070px;
  opacity: 1;
  position: relative;
}

.inputed_container{
    text-align: center;
    padding: 25px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a1a1b7;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a1a1b7;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a1a1b7;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a1a1b7;
}

.labler{
  color: #a1a1b7;
  font-family: 'EB Garamond',sans-serif;
  padding-left: 10px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #a1a1b7;
}

.inputed{
  font-family: 'EB Garamond',sans-serif;
  border: none;
  width: 100%;
  padding-left: 10px;
  border-bottom: 2px solid rgb(227, 231, 234);
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #29293a;
  outline: none;
}

.textaread{
  background-color: #e2e8f3;
  border: none;
  outline: none;
  height: 150px;
  width: 100%;
  resize: none;
  font-family: 'EB Garamond',sans-serif;
  border: none;
  width: 100%;
  padding-left: 10px;
  border-bottom: 2px solid rgb(227, 231, 234);
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #29293a;
}

.button{
  background-color: #6f6fcb;
  font-family: 'EB Garamond';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 70px;
    letter-spacing: 4px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 300px;
    height: 70px;
    margin-top: 90px;
}

.button:hover{
  background-color: black;
}

.ended_1, .ended_2{
  font-family: 'EB Garamond',sans-serif;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  font-size: 21px;
  letter-spacing: 0.3px;
  color: #818194;
}

.ended_2{
  color: rgb(111, 111, 203);
  outline: none;
}

.footer_end{
  min-height: 150px;
  width: 100%;
  font-family: "EB Garamond",sans-serif;
  background-color: #000000;
  border-top:2px solid silver;
}

.footer_container{
  width: 100%;
  padding: 25px;
  margin: auto;
  color: #ffffff;
}
.menuer{
  padding: 25px;
  height: 80px;
  text-align: center;

}

.whited{
  color:#022a37;
  background-color: #eeeeee;
}

.menuer .text{
  cursor: pointer;
}

.socializer{
  margin-top: 40px;
  font-size: 18px;
  cursor: pointer;
}

.sbtn{

  margin: 0px 10px;

}

.footer_wrapper{
  width: 100%;
  padding-top: 55px;
  max-width: 670px;
  margin: auto;
}

.footer_inline{
  display: inline-block;
  float: left;
  width: 20%;
  text-align: center;
  color: #29293a;
  line-height: 100px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  font-weight: 600;
  cursor: pointer;
}

.footer_inline:hover{
  color: #6f6fcb;
}

.social{
  margin-top: 15px;
  color: #797485;
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

.social:hover{
  color: #6f6fcb;
}

.last_message{
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: 'EB Garamond';
  line-height: 90px;
  letter-spacing: 1px;
  color: #818194;
  position: relative;
}


.philosophy{
  background-image: url("../img/philosophy-card-bg.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 900px;
  width: 650px;
  top: 190px;
  right: 0;
  position: absolute;
}

.philosophy .titler{
  font-family:"EB Garamond",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 49px;
  font-size: 37px;
  letter-spacing: 0px;
  color: #777;
}

.philosophy .buttoner{
  cursor: pointer;
  font-family: "EB Garamond" ,sans-serif;
  font-style: normal;
  font-weight: 400;
  background: white;
  text-align: center;
  max-width: 170px;
  padding: 6px 18px;
  line-height: 44px;
  font-size: 12px;
  letter-spacing: 4px;
  color: #29293a;
  transition: .6s ease all;
}

.philosophy .buttoner:hover{
  background: #e1e7f2;
}

.philosophy .texter{
  font-family: "EB Garamond" ,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  font-size: 21px;
  letter-spacing: 0px;
  color: #a2a2b4;
  margin-top: 50px;
  margin-bottom: 25px;
}

.paddinger{
  padding: 125px 125px 0px 125px;
}

.philosophy .liner{
  height: 1px;
  width: 60px;
  margin-bottom: 38px;
  background: rgb(150, 150, 150);
  animation-delay: 0.3s;
  margin-top: 25px;
}

.philosophy .name{
    font-size: 16px;
    color: #6f6fcb;
    letter-spacing: 3px;

}



.philosophy_2{
  margin: auto;
  background: #ffffff;
  border:4px solid lightgrey;
  min-height: 430px;
  width: 570px;
  position: relative;
  top: -100px;
  padding: 60px 85px 0px 85px;
}

.philosophy_2 .titler{
    font-family: "EB Garamond",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 49px;
    font-size: 37px;
    letter-spacing: 0px;
    color: #333351;
}

.philosophy_2 .texter{
  margin-top: 30px;
  font-family: 'EB Garamond',sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  font-size: 19px;
  letter-spacing: 0px;
  color: #a0a0b6;
}

.philosophy_2 .buttoner{
  cursor: pointer;
  width: 185px;
  text-align: center;
  margin-top: 50px;
  font-family: 'EB Garamond', sans-serif;
  border: 1px solid transparent;
  border-bottom-color: #4c4c83;
  border-top-color: #4c4c83;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  background: transparent;
  font-size: 13px;
  letter-spacing: 4px;
  color: #4c4c83;
  padding: 5px;
  transition: all .5s ease;
}

.marger{}

.philosophy_2 .buttoner:hover{
  background: #4c4c83;
  color:white;
}


.head_wrapper{
  width: 100%;
  max-width: 1130px;
  margin: auto;
}

.backer{
  margin-top: -280px;
  background-image: url("../img/philosophy-img-left.png");
  background-position: center;
  background-repeat: no-repeat;
}

.recent_works{
  margin: auto;
  margin-top: 70px;
  margin-bottom: 110px;
  width: 100%;
  max-width: 1170px;
}

.recent_works .imager{
  height: 690px;
  overflow: hidden;
  width: 100%;
}

.imager_prew{
  transform: scale(1);
  transition: 0.5s ease all;
}

.scale_up{
  transform: scale(1.1);
}

.over{
  top:0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 33, 58, 0.75);
  opacity: 0;
  transition: all 0.5s ease;
}

.over:hover {
  opacity: 1;
}


.recent_works .content{
  padding: 185px 125px 0px 125px;
  text-align: center;
  width: 100%;
  height: 690px;
  background: white;
}

.recent_works .small{
    font-family: 'EB Garamond', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    font-size: 14px;
    letter-spacing: 4px;
    color: #b3b3bf;
}

.recent_works .title{
    font-family: 'EB Garamond', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    font-size: 24px;
    letter-spacing: 8px;
    color: #022a37;
    margin-top: 12px;
    margin-bottom: 25px;
}

.recent_works .sub_text{
    font-family: 'EB Garamond', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    font-size: 18px;
    letter-spacing: 0px;
    color: #a1a1b7;
    margin-top: 25px;
    margin-bottom: 12px;
}

.recent_works .sub_button{
    cursor: pointer;
    width: 142px;
    margin: auto;
    margin-top: 50px;
    font-family: 'EB Garamond', sans-serif;
    border: 1px solid transparent;
    border-bottom-color: #4c4c83;
    border-top-color: #4c4c83;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    background: white;
    font-size: 13px;
    letter-spacing: 4px;
    color: #4c4c83;
    padding: 5px;
    transition: all .5s ease;
}

.recent_works .sub_button:hover{
    background: #4c4c83;
    color: #ffffff;
}

.expander{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  background-color: #e1e7f2;
}

.parallax-container {
      height:930px;
  }

.signup{
  position: relative;
}

.signup .title{
  font-family: 'EB Garamond',sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 138px;
  opacity: 0.15;
  margin-top: 35px;
  font-size: 130px;
  letter-spacing: 25px;
  color: #e1e7f2;
}

.singup_overlay{
    width: 100%;
    text-align: right;
    height: 930px;
    position: absolute;
    top:0;
    background-color: #21213b;
    opacity: 0.78;
}

.signup_content{
  width: 100%;
  height: 930px;
  position: absolute;
  top: 0;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

.buttoner {
    cursor: pointer;
    font-family: "EB Garamond" ,sans-serif;
    font-style: normal;
    font-weight: 400;
    //background: white;
    border:1px solid black;
    text-align: center;
    max-width: 200px;
    padding: 6px 18px;
    line-height: 44px;
    font-size: 14px;
    letter-spacing: 4px;
    color: black;
    transition: .8s ease all;
}

.buttoner:hover{

  //background: #ffffff;
  //opacity: .6;
  border:1px solid #777;
  color:#777;
}


.popup{
  z-index: 1058;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  top:0;
  left: 0;
  transition: all .7s ease;
}

.popup_body{
  background: white;
  box-shadow: 0px 25px 35px 0px rgba(19, 19, 23, 0.1);
  width: 345px;
  height: 520px;
  position: absolute;
  top:50%;
  left: 50%;
  padding: 1px;
  transform: translate(-50%,-50%);
  transition: all .55s ease;
}

.popup_content{
  padding: 40px;
  padding-top: 30px;
  opacity: 1;
  transition: .55s ease all;
}


.popup_menu{
  font-family: "EB Garamond",sans-serif;
  color: rgb(225, 226, 230);
  text-align: center;
  border: rgb(225, 226, 230) 2px solid;
  border-top: none;
  cursor: pointer;
  font-size: 25px;
  padding: 20px;
  box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.55) inset;

}

.actived_menu{
  border-bottom: none;
  box-shadow: none;
  color:black;
}

.p_title{
  font-size: 24px;
  font-family: "EB Garamond",sans-serif;
  color: rgb(19, 19, 23);
  line-height: 1.333;
  text-align: left;
}

.p_devider{
  background-color: rgb(245, 245, 247);
  width: 100%;
  height: 2px;
  margin-top: 10px;
}

.main_menu{
	color:#5e6162;
}
.main_menu:hover{
	color:lightgrey;
	text-decoration:none;
}



.p_input{
  outline: none;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(225, 226, 230);
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-bottom: 7px;
  width: 100%;
  height: 46px;
  padding-left: 10px;
  font-family: "EB Garamond",sans-serif;
  font-size: 14px;
  color: rgb(127, 129, 138);
  line-height: 1.714;
}

.social_button{
  cursor: pointer;
  font-size: 13px;
  font-family: "EB Garamond",sans-serif;
  width: 100%;
  margin: auto;
  max-width: 120px;
  padding: 10px 10px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.273;
  text-align: center;
  border: 2px solid #acadbf;
}

.p_other{
  font-size: 15px;
  font-weight: 800;
  font-family: "EB Garamond",sans-serif;

}

.p_input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: "EB Garamond",sans-serif;
  font-size: 14px;
  color: rgb(127, 129, 138);
}
.p_input::-moz-placeholder { /* Firefox 19+ */
  font-family: "EB Garamond",sans-serif;
  font-size: 14px;
  color: rgb(127, 129, 138);
}
.p_input:-ms-input-placeholder { /* IE 10+ */
  font-family: "EB Garamond",sans-serif;
  font-size: 14px;
  color: rgb(127, 129, 138);
}
.p_input:-moz-placeholder { /* Firefox 18- */
  font-family: "EB Garamond",sans-serif;
  font-size: 14px;
  color: rgb(127, 129, 138);
}

.p_input:focus{
  border-color: #b3b3b3;
}

.former{
  width: 100%;
  max-width: 768px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.f_title{
  font-family: 'EB Garamond',sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  font-size: 32px;
  letter-spacing: 0px;
  color: #6f6fcb;
}

.f_description{
  font-family: 'EB Garamond',sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  font-size: 18px;
  letter-spacing: 0px;
  color: #a1a1b7;
}

.f_quoter{
  width: 100%;
  text-align: center;
  border-top: 1px solid #ffffff;
  padding-top: 25px;
  margin-top: 70px;
}


.portfolio{
    padding: 17px 45px;
    font-family: 'EB Garamond';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 31px;
    letter-spacing: 4px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-width: 100%;
    background-color: #6f6fcb;
    font-family: 'EB Garamond',sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    font-size: 13px;
    letter-spacing: 6px;
    color: #ffffff;
}


.p_former{
  margin-top: 40px;
  width: 100%;
  max-width: 190px;
  margin: auto;
}


.p_button {
  cursor: pointer;
  font-size: 14px;
  font-family: "EB Garamond",sans-serif;
  width: 100%;
  margin: auto;
  max-width: 140px;
  padding: 15px 30px;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.273;
  text-align: center;
  background: white;
  border: 2px solid #777;
}


.p_button2 {
  cursor: pointer;
  font-size: 14px;
  font-family: "EB Garamond",sans-serif;
  width: 100%;
  margin: auto;
  max-width: 140px;
  padding: 15px 30px;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.273;
  text-align: center;
  background: white;
  border: 2px solid #777;
}


.p_button2:hover {
  color:  #e1e7f2;
  border: 2px solid #e1e7f2;;
}

.top_header{
  margin: 0;
}

.p_uploader{
  top: 125px;
  width: 125px;
  height: 125px;
  background: black;
  position: absolute;
  right: -20px;
}


.p_info{
  //height: 110px;
  font-size: 16px;
  text-align:center;
  //padding: 25px;
  color:grey;
  padding-left: 0px;
  //padding-right: 80px;
  font-family: "EB Garamond",sans-serif;
}



.hided{
  opacity: 0;
  z-index: -10;
}

.hided_b{
  transform: translate(-50%,5%);
}

.p_forgoter{
  text-align: center;
  width: 140px;
  //top: -9px;
  padding-top:20px;
  position: absolute;
  left: 50%;
  background: white;
  font-style: italic;
  transform: translateX(-50%);
  cursor: pointer;
  color: #b3b3b3;
}