.raw_wrapper {
    //max-width: 1337px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.user_object {
    width: calc(100% - 20px);
    margin-left: 0;
    min-height: 400px;
    margin: 0;
    background: #f8f7f9;
    margin-bottom: 25px;
}

.user_object_image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    margin: 30px;
    margin-left: 60px;
    display: inline-block;
}

.user_object_data {
    padding: 50px;
    width: calc(90% - 200px);
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
    background: white;
    display: inline-block;
    position: relative;
    margin-top: 60px;
    margin-bottom: 40px;
    left: 220px;
    min-height: 70px;
}

.uod_title {
    font-weight: 600;
    color:#666666;
    font-size: 20px;
    font-family: "EB-Garamond", sans-serif;
}

.uod_description {
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #b2b2b4;
    font-size: 15px;
}

.uod_button {
    user-select: none;
    display: block;
    width: 100%;
    max-width: 100px;
    font-size: 10px;
    border: 2px solid black;
    color: black;
    padding: 8px 10px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 800;
}

.user_objects {
    width: 98%;
    margin: auto;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.data_row {
    position: relative;
    z-index: 256;
    height: 100%;
}

.user_objects::-webkit-scrollbar {
    width: 3px;
}

.user_objects::-webkit-scrollbar-track {
    background: transparent;
}

.user_objects::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.10);
}

.info {
    height: 100%;
}

.intarface_controll {
    padding-top: 150px;
    position: relative;
    left: -70px;
    height: 100%;
}

.calendar {
    position: relative;
    padding: 10px;
    width: 190px;
    height: 205px;
    margin: auto;
    background: white;
    -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.15);
    border: 0px solid rgba(0, 0, 0, 0.15);
}

.calendar_day {
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    float: left;
    width: 14.25%;
    color: #b2b2b4;
}

.calendar_week {
    display: inline-block;
    float: left;
    text-align: center;
    width: 14.25%;
    font-weight: 900;
    font-size: 10px;
    color: black;
}

.calendar_active {
    line-height: 20px;
    font-weight: 900;
    color: black;
    border: 2px solid black;
}

.calendar_line {
    height: 1px;
    width: 85%;
    margin: 10px auto;
    background: rgba(0, 0, 0, 0.10);
}

.calendar_header {
    width: 100%;
    padding: 15px 0;
}

.current_day {
    width: 80px;
    height: 80px;
    background: #d2d2d2;
    position: absolute;
    top: -60px;
    right: -20px;
}

.number {
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: white;
    position: relative;
    left: -2px;
    font-weight: 100;
    height: 50px;
}

.month {
    margin-top: 5px;
    font-size: 13px;
    text-align: center;
    font-weight: 100;
    color: white;
    font-family: "EB Garamond", sans-serif;
}

.list {
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    min-width: 200px;
    height: calc(100% - 360px);
    max-height: 500px;
    margin-top: 50px;
}

.list_items {
    height: calc(100% - 52px);
    overflow-y: auto;
}

.list_header {
    width: 90%;
    padding: 10px 0;
    margin: 10px auto;
    margin-bottom: 0px;
    text-align: center;
    font-family: "EB Garamond", sans-serif;
    font-size: 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.checker_box {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 2px solid rgb(225, 226, 230);
    color: rgba(225, 226, 255, 0);
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.ch_text {
    height: 20px;
    color: rgba(0, 0, 0, 0.45);
    display: inline-block;
    font-weight: 600;
    position: relative;
    top: -5px;
    margin-left: 10px;
    line-height: 20px;
}

.list_item {
    width: 90%;
    margin: auto;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.solo_check {
    position: absolute;
    height: 18px;
    width: 16px;
    line-height: 17px;
    text-align: center;
}

.uod_title_1 {
    width: 100%;
    text-align: left;
    font-size: 25px;
    color: black;
    padding: 5px;
    display: none;
}

.uod_description_1 {
    width: 100%;
    text-align: left;
    font-size: 15px;
    color: #b2b2b4;
    padding: 5px;
    display: none;
}

.reader_1{display: block;}
.reader_2{display: none;}

@media screen and (max-width:1200px) {
    .header_button {
        display: none;
    }
    .project_rows {
        padding: 0px!important;
        height: 0px!important;
    }
}

@media screen and (max-width:992px) {
    .user_object_data {
        width: calc(90% - 100px);
        left: 120px;
    }
}

@media screen and (max-width:760px) {
    .insider {
        position: relative!important;
        top: 55px!important;
        padding: 0!important;
    }
    .data_row {
        margin: auto;
        padding: 0;
    }
    .user_object_image {
        height: 125px;
        width: 125px;
        position: relative;
        float: left;
        margin: 10px;
    }
    .user_objects {
        width: 100%;
    }
    .user_object {
        margin: auto;
        margin-top: 30px;
        background: white;
    }
    .user_object_data {
        display: none;
    }
    .uod_description_1 {
        display: block;
    }
    .uod_title_1 {
        display: block;
    }
    .uod_readmore {
        margin-top: 15px;
        text-align: center;
        padding-bottom: 25px;
        border-bottom: 1px solid  #b2b2b4;;
    }
    .info{
      display: none;
    }

    .reader_1{display: none;}
    .reader_2{display: block;}
}

.category_content_2{
  height: auto!important;  
}
