td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &.img-col{
        img{
            max-width: 60px;
        }
    }
    &.description-col{
        max-width: 30%;
    }
    &.splf-erch-col{
        text-align: center;
    }
    &.fee-col{
        input{
            padding-left: 5px;
        }
    }
}