<td class="img-col"><img [src]="row.strSeries_image" /></td>
<td class="title-col">{{row.strSeries_title}}</td>
<!--<td class="description-col hidden-xl-down">{{row.strSeries_description}}</td>-->
<td class="fee-col"><input [(ngModel)]="row.intSeries_application_fee" [placeholder]="metaData" style="max-width: 100%" type="number" min="0" max="50" (change)="updateFee()"/></td>
<td><ui-switch [(ngModel)]="row.boolSeries_approved" (ngModelChange)="update()"></ui-switch></td>
<td class="splf-erch-col"><ui-switch [(ngModel)]="row.boolSeries_level" (ngModelChange)="update()" defaultBgColor="#2196F3" labelOn="E" labelOff="S"></ui-switch></td>
<td><ui-switch [(ngModel)]="row.boolSeries_isPublic" (ngModelChange)="update()"></ui-switch></td>
<td>{{row.series_client.f_name}}</td>
<td>{{row.series_category.strCategory_name}}</td>
<td><a routerLink="/series/edit/{{row.series_ID}}">Edit</a> / <a href="javascript:;" [swal]="{ title: 'Are you sure?', type: 'warning', showCancelButton: true }" (confirm)="delete()">Del</a></td>