<td>{{i + 1}}</td>
<td>{{row.strInvitedEmail}}</td>
<td><a *ngIf="row.intInvitation_status == 1" href="javascript:;" (click)="sendInvitation()">Invite</a><span *ngIf="row.intInvitation_status == 2">Sent</span></td>