@import "../../config/css/colors.scss";

.purchased-structure-tree-component{
    position: relative;
    padding: 20px 0px;
    ul.posts-list{
        list-style: none;
        margin: 10px;
        position: relative;
        overflow: hidden;
        padding-left: 40px;
        > li.jstree-node, li.ui-sortable-helper {
            margin: 0px 0px 0px 0px;
            font-size: 1.5rem;
            width: 100%;
            display: list-item;
            > .post-row-inner{
                padding: 15px 5px 15px 0px;
                //border-bottom: 1px dotted grey;
                .jstree-icon {
                    background-image: url(../../images/global-icons/tree/32px-type2.png);
                }
                .jstree-ocl{
                    background-position: -96px 0;
                }
                .drag-icon-wrapper{
                    flex-basis: 50px;
                    text-align: center;
                    opacity: 1;
                    img{
                        cursor: move;
                        display: none;
                        &.type-post{
                            width: 75px;
                            height: 50px;
                        }
                    }
                }
                .media-icon-wrapper{
                    margin-right: -5px;
                    line-height: 0;
                    i.fa{
                        display: none;
                        vertical-align: middle;
                    }
                }
                .post-title{
                    display: block;
                    max-width: 100%;
                    padding-left: 10px;
                    line-height: 32px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: $contentColor;
                }
                .action-item{
                    background-color: transparent;
                    display: flex !important;
                    line-height: 0;
                    border-radius: 50%;
                    border: 2px solid $greenColor;
                    height: 40px;
                    width: 40px;
                    box-sizing: border-box;
                    justify-content: center;
                    align-items: center;
                    svg{
                        width: 22px;
                        max-height: 22px;
                        g, path, polygon, circle{
                            fill: $greenColor !important;
                        }
                    }
                    img{
                        width: 22px;
                        max-height: 22px;
                    }
                    &.share-action{
                        &.shared{
                            background-color: $greenColor;
                            svg{
                                g, path, polygon{
                                    fill: white !important;
                                }
                            }
                        }
                    }
                    &:hover{
                        border-color: $greenHover;
                        svg{
                            g, path, polygon{
                                fill: $greenHover;
                            }
                        }
                    }
                }
                &:hover{
                    background-color: rgba(255, 255, 255, 0.4);
                }
                .d-type-none{
                    display: none;
                }
                &.content-type-0{
                    .media-icon-wrapper{
                        i.fa.audio-icon{
                            display: initial;
                            vertical-align: middle;
                        }
                    }
                }
                &.content-type-2{
                    .media-icon-wrapper{
                        i.fa.video-icon{
                            display: initial;
                            vertical-align: middle;
                        }
                    }
                }
                &.content-type-7, &.content-type-8, &.content-type-10{
                    .media-icon-wrapper{
                        i.fa.text-icon{
                            display: initial;
                            vertical-align: middle;
                        }
                    }
                }
            }
            > ul {
                margin: 0px;
                display: block;
            }
            &.appear{
                animation-name: appearBlock;
                animation-duration: .5s;
                animation-fill-mode: forwards;
            }
            &.disappear{
                animation-name: disappearBlock;
                animation-duration: .5s;
                animation-fill-mode: forwards;
            }
            &.node-type-post{
                > .post-row-inner{
                    .jstree-icon.jstree-ocl{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:before{
                            position: relative;
                            content: '';
                            display: block;
                            width: 15px;
                            height: 15px;
                            background-color: $greenColor;
                            border-radius: 50%;
                        }
                    }
                    .expand-wrapper{
                        display: none;
                    }
                    .drag-icon-wrapper{
                        img.type-post{
                            display: initial;
                        }
                    }
                    .d-post-block{
                        display: block;
                    }
                }
            }
            &.node-type-menu{
                > .post-row-inner{
                    .drag-icon-wrapper{
                        img.type-menu{
                            display: initial;
                        }
                    }
                    .post-title{
                        font-weight: bold;
                    }
                    .actions{
                        .flex-col{
                            &.publish-col{
                                display: initial;
                                a {
                                    opacity: 1;
                                    img{
                                        &.active-icon{
                                            display: initial;
                                        }
                                    }
                                    &:hover{
                                        opacity: .5;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.node-status-draft{
                &.node-type-menu{
                    > .post-row-inner{
                        .actions{
                            .flex-col{
                                &.publish-col{
                                    a {
                                        opacity: .5;
                                        &:hover{
                                            opacity: 1;
                                        }
                                        img{
                                            &.active-icon{
                                                display: none;
                                            }
                                            &.inactive-icon{
                                                display: initial;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.node-type-path{
                > .post-row-inner{
                    .drag-icon-wrapper{
                        img.type-path{
                            display: initial;
                        }
                    }
                    .post-title{
                        font-weight: bold;
                    }
                    .actions{
                        .view-post {
                            display: none;
                        }
                    }
                }
            }
            &.node-type-root {
                > .post-row-inner{
                    .drag-icon-wrapper{
                        img.type-root{
                            display: initial;
                        }
                    }
                    .actions{
                        display: none;
                    }
                    .action-item{
                        display: none !important;
                    }
                }
            }
            &.ui-sortable-placeholder.mjs-nestedSortable-error{
                background-color: white;
                border-color: #f2dede;
                color: #f2dede;
                display: flex;
                align-items: center;
                width: 100%;
                &:before{
                    content: 'Invalid Position';
                    position: static;
                    padding-left: 20px;
                }
            }
            &:last-child:not(.ui-sortable-placeholder){
                background: 0 0;
                display: list-item;
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    display: block;
                    top: 0px;
                    left: 0px;
                    width: 32px;
                    height: 15px;
                    background-image: url(../../images/global-icons/tree/32px-type2.png);
                    background-position: -288px 0;
                    background-repeat: no-repeat;
                }
                > .post-row-inner{
                }
                &.node-type-post{
                    &:before{
                        height: 23px;
                    }
                }
            }
            &.ui-sortable-placeholder{
                background-color: #fffa90;
            }
            &.jstree-open {
                > .post-row-inner{
                    .jstree-ocl{
                        background-position: -128px 0;;
                    }
                }
            }
            &.jstree-closed {
                > .post-row-inner{
                    .jstree-ocl{
                        background-position: -96px 0;;
                    }
                }
                &.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf){
                    border: 1px dashed rgb(205, 200, 120);
                }
                > ul{
                    display: none;
                }
            }
            &.jstree-loading{
                > .post-row-inner{
                    .jstree-ocl.jstree-icon{
                        background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat;
                    }
                }
            }
            &.jstree-leaf{
                > .post-row-inner{
                    .jstree-ocl.jstree-icon{
                        background-position: -64px 0;
                    }
                }
            }
            @keyframes focus-row {
                0% { background-color: #fffa90; }
                100% { background-color: rgba(255, 250, 144, .5); }
            }
            &.focus {
                >.post-row-inner{
                    animation-name: focus-row;
                    animation-duration: .7s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    > li.sample{
        display: none;
    }
    .d-mode-none {
        display: none;
    }
    &.mode-share {
        .d-mode-share-block {
            display: block;
        }
    }
    & > ul.posts-list{
        & > li.jstree-node{
            background: 0 0;
            display: list-item;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                display: block;
                top: 0px;
                left: 0px;
                width: 32px;
                height: 15px;
                background-image: url(../../images/global-icons/tree/32px-type2.png);
                background-position: -288px 0;
                background-repeat: no-repeat;
            }
        }
    }
    &.charged{
        ul.posts-list{
            > li.jstree-node{
                > .post-row-inner{
                    .actions{
                        .flex-col{
                            &.charge-col{
                                display: initial;
                            }
                        }
                    }
                }
            }
        }
    }
    @keyframes appearBlock {
        0% { opacity: 0; background-color: #fffa90;}
        100% {opacity: 1; background-color: rgba(255, 250, 144, .5);}
    }
    @keyframes disappearBlock {
        0% { opacity: 1; background-color: #fffa90;}
        100% {opacity: 0; background-color: rgba(255, 250, 144, .5);}
    }
}