.purchased-structure-tree-component {
  position: relative;
  padding: 20px 0px; }
  .purchased-structure-tree-component ul.posts-list {
    list-style: none;
    margin: 10px;
    position: relative;
    overflow: hidden;
    padding-left: 40px; }
    .purchased-structure-tree-component ul.posts-list > li.jstree-node, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper {
      margin: 0px 0px 0px 0px;
      font-size: 1.5rem;
      width: 100%;
      display: list-item; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner {
        padding: 15px 5px 15px 0px; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .jstree-icon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .jstree-icon {
          background-image: url(../../images/global-icons/tree/32px-type2.png); }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .jstree-ocl, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .jstree-ocl {
          background-position: -96px 0; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .drag-icon-wrapper, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .drag-icon-wrapper {
          flex-basis: 50px;
          text-align: center;
          opacity: 1; }
          .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .drag-icon-wrapper img, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .drag-icon-wrapper img {
            cursor: move;
            display: none; }
            .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .drag-icon-wrapper img.type-post, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .drag-icon-wrapper img.type-post {
              width: 75px;
              height: 50px; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .media-icon-wrapper, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .media-icon-wrapper {
          margin-right: -5px;
          line-height: 0; }
          .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .media-icon-wrapper i.fa, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .media-icon-wrapper i.fa {
            display: none;
            vertical-align: middle; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .post-title, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .post-title {
          display: block;
          max-width: 100%;
          padding-left: 10px;
          line-height: 32px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #737661; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item {
          background-color: transparent;
          display: flex !important;
          line-height: 0;
          border-radius: 50%;
          border: 2px solid #1fcd98;
          height: 40px;
          width: 40px;
          box-sizing: border-box;
          justify-content: center;
          align-items: center; }
          .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item svg, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item svg {
            width: 22px;
            max-height: 22px; }
            .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item svg g, .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item svg path, .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item svg polygon, .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item svg circle, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item svg g, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item svg path, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item svg polygon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item svg circle {
              fill: #1fcd98 !important; }
          .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item img, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item img {
            width: 22px;
            max-height: 22px; }
          .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item.share-action.shared, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item.share-action.shared {
            background-color: #1fcd98; }
            .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item.share-action.shared svg g, .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item.share-action.shared svg path, .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item.share-action.shared svg polygon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item.share-action.shared svg g, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item.share-action.shared svg path, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item.share-action.shared svg polygon {
              fill: white !important; }
          .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item:hover, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item:hover {
            border-color: #1eb785; }
            .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item:hover svg g, .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item:hover svg path, .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .action-item:hover svg polygon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item:hover svg g, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item:hover svg path, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .action-item:hover svg polygon {
              fill: #1eb785; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner:hover, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner:hover {
          background-color: rgba(255, 255, 255, 0.4); }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner .d-type-none, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner .d-type-none {
          display: none; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner.content-type-0 .media-icon-wrapper i.fa.audio-icon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner.content-type-0 .media-icon-wrapper i.fa.audio-icon {
          display: initial;
          vertical-align: middle; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner.content-type-2 .media-icon-wrapper i.fa.video-icon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner.content-type-2 .media-icon-wrapper i.fa.video-icon {
          display: initial;
          vertical-align: middle; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner.content-type-7 .media-icon-wrapper i.fa.text-icon, .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner.content-type-8 .media-icon-wrapper i.fa.text-icon, .purchased-structure-tree-component ul.posts-list > li.jstree-node > .post-row-inner.content-type-10 .media-icon-wrapper i.fa.text-icon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner.content-type-7 .media-icon-wrapper i.fa.text-icon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner.content-type-8 .media-icon-wrapper i.fa.text-icon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > .post-row-inner.content-type-10 .media-icon-wrapper i.fa.text-icon {
          display: initial;
          vertical-align: middle; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node > ul, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper > ul {
        margin: 0px;
        display: block; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.appear, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.appear {
        animation-name: appearBlock;
        animation-duration: .5s;
        animation-fill-mode: forwards; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.disappear, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.disappear {
        animation-name: disappearBlock;
        animation-duration: .5s;
        animation-fill-mode: forwards; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-post > .post-row-inner .jstree-icon.jstree-ocl, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-post > .post-row-inner .jstree-icon.jstree-ocl {
        display: flex;
        align-items: center;
        justify-content: center; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-post > .post-row-inner .jstree-icon.jstree-ocl:before, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-post > .post-row-inner .jstree-icon.jstree-ocl:before {
          position: relative;
          content: '';
          display: block;
          width: 15px;
          height: 15px;
          background-color: #1fcd98;
          border-radius: 50%; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-post > .post-row-inner .expand-wrapper, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-post > .post-row-inner .expand-wrapper {
        display: none; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-post > .post-row-inner .drag-icon-wrapper img.type-post, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-post > .post-row-inner .drag-icon-wrapper img.type-post {
        display: initial; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-post > .post-row-inner .d-post-block, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-post > .post-row-inner .d-post-block {
        display: block; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-menu > .post-row-inner .drag-icon-wrapper img.type-menu, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-menu > .post-row-inner .drag-icon-wrapper img.type-menu {
        display: initial; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-menu > .post-row-inner .post-title, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-menu > .post-row-inner .post-title {
        font-weight: bold; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-menu > .post-row-inner .actions .flex-col.publish-col, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col {
        display: initial; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-menu > .post-row-inner .actions .flex-col.publish-col a, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
          opacity: 1; }
          .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
            display: initial; }
          .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
            opacity: .5; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a {
        opacity: .5; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a:hover {
          opacity: 1; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.active-icon {
          display: none; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.inactive-icon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-status-draft.node-type-menu > .post-row-inner .actions .flex-col.publish-col a img.inactive-icon {
          display: initial; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-path > .post-row-inner .drag-icon-wrapper img.type-path, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-path > .post-row-inner .drag-icon-wrapper img.type-path {
        display: initial; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-path > .post-row-inner .post-title, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-path > .post-row-inner .post-title {
        font-weight: bold; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-path > .post-row-inner .actions .view-post, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-path > .post-row-inner .actions .view-post {
        display: none; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-root > .post-row-inner .drag-icon-wrapper img.type-root, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-root > .post-row-inner .drag-icon-wrapper img.type-root {
        display: initial; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-root > .post-row-inner .actions, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-root > .post-row-inner .actions {
        display: none; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.node-type-root > .post-row-inner .action-item, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.node-type-root > .post-row-inner .action-item {
        display: none !important; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.ui-sortable-placeholder.mjs-nestedSortable-error, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.ui-sortable-placeholder.mjs-nestedSortable-error {
        background-color: white;
        border-color: #f2dede;
        color: #f2dede;
        display: flex;
        align-items: center;
        width: 100%; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node.ui-sortable-placeholder.mjs-nestedSortable-error:before, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.ui-sortable-placeholder.mjs-nestedSortable-error:before {
          content: 'Invalid Position';
          position: static;
          padding-left: 20px; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node:last-child:not(.ui-sortable-placeholder), .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder) {
        background: 0 0;
        display: list-item;
        position: relative; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node:last-child:not(.ui-sortable-placeholder):before, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder):before {
          content: '';
          position: absolute;
          display: block;
          top: 0px;
          left: 0px;
          width: 32px;
          height: 15px;
          background-image: url(../../images/global-icons/tree/32px-type2.png);
          background-position: -288px 0;
          background-repeat: no-repeat; }
        .purchased-structure-tree-component ul.posts-list > li.jstree-node:last-child:not(.ui-sortable-placeholder).node-type-post:before, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper:last-child:not(.ui-sortable-placeholder).node-type-post:before {
          height: 23px; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.ui-sortable-placeholder, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.ui-sortable-placeholder {
        background-color: #fffa90; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.jstree-open > .post-row-inner .jstree-ocl, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.jstree-open > .post-row-inner .jstree-ocl {
        background-position: -128px 0; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.jstree-closed > .post-row-inner .jstree-ocl, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.jstree-closed > .post-row-inner .jstree-ocl {
        background-position: -96px 0; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.jstree-closed.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf), .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.jstree-closed.mjs-nestedSortable-hovering:not(.mjs-nestedSortable-leaf) {
        border: 1px dashed #cdc878; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.jstree-closed > ul, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.jstree-closed > ul {
        display: none; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.jstree-loading > .post-row-inner .jstree-ocl.jstree-icon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.jstree-loading > .post-row-inner .jstree-ocl.jstree-icon {
        background: url(../../images/global-icons/tree/throbber.gif) center center no-repeat; }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.jstree-leaf > .post-row-inner .jstree-ocl.jstree-icon, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.jstree-leaf > .post-row-inner .jstree-ocl.jstree-icon {
        background-position: -64px 0; }
@keyframes focus-row {
  0% {
    background-color: #fffa90; }
  100% {
    background-color: rgba(255, 250, 144, 0.5); } }
      .purchased-structure-tree-component ul.posts-list > li.jstree-node.focus > .post-row-inner, .purchased-structure-tree-component ul.posts-list li.ui-sortable-helper.focus > .post-row-inner {
        animation-name: focus-row;
        animation-duration: .7s;
        animation-fill-mode: forwards; }
  .purchased-structure-tree-component > li.sample {
    display: none; }
  .purchased-structure-tree-component .d-mode-none {
    display: none; }
  .purchased-structure-tree-component.mode-share .d-mode-share-block {
    display: block; }
  .purchased-structure-tree-component > ul.posts-list > li.jstree-node {
    background: 0 0;
    display: list-item;
    position: relative; }
    .purchased-structure-tree-component > ul.posts-list > li.jstree-node:before {
      content: '';
      position: absolute;
      display: block;
      top: 0px;
      left: 0px;
      width: 32px;
      height: 15px;
      background-image: url(../../images/global-icons/tree/32px-type2.png);
      background-position: -288px 0;
      background-repeat: no-repeat; }
  .purchased-structure-tree-component.charged ul.posts-list > li.jstree-node > .post-row-inner .actions .flex-col.charge-col {
    display: initial; }
@keyframes appearBlock {
  0% {
    opacity: 0;
    background-color: #fffa90; }
  100% {
    opacity: 1;
    background-color: rgba(255, 250, 144, 0.5); } }
@keyframes disappearBlock {
  0% {
    opacity: 1;
    background-color: #fffa90; }
  100% {
    opacity: 0;
    background-color: rgba(255, 250, 144, 0.5); } }

/*# sourceMappingURL=PurchasedSubscriptionsTree.css.map */
