@import "../../config/css/colors.scss";
//@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

.post-editor{
    width: 100%;
    height: 100%;
    max-height: 100%;
    .modal-dialog{
        .modal-content{
            .modal-body{
                .post-editor-content{
                    width: 700px;
                    max-width: 100%;
                    margin: 0px auto;
                    padding: 30px 0px;
                    form{
                        display: block;
                        width: 100%;
                        .form-group{
                            label.control-label{
                                display: block;
                                position: relative;
                                padding: 7px 15px 0px 0px;
                                font-weight: normal;
                                font-size: 1.5rem;
                                &.required:after {
                                    content: "*";
                                    position: absolute;
                                    top: 0px;
                                    right: 0px;
                                    color: $redColor;
                                }
                                &.margin-bottom{
                                    margin-bottom: 10px;
                                }
                                &.margin-bottom-2{
                                    margin-bottom: 15px;
                                }
                            }
                            input{
                                padding-left: 0px;
                                border: none;
                                border-bottom: 1px solid $lightGrey;
                                box-shadow: none;
                                border-radius: 0px;
                                font-size: 1.5rem;
                                &::placeholder{
                                    color: $lightGrey;
                                }
                                &[name="strSeries_title"]{
                                    max-width: 385px;
                                }
                            }
                            .dropdown{
                                display: block;
                                button{
                                    display: block;
                                    width: 100%;
                                    text-align: left;
                                    background-color: transparent;
                                    color: inherit;
                                    border-radius: 9px;
                                    span{
                                        display: inline-block;
                                        width: calc(100% - 20px);
                                        color: inherit;
                                        text-align: left;
                                    }
                                    svg{
                                        width: 15px;
                                        vertical-align: middle;
                                        g, path{
                                            fill: $lightGrey;
                                        }
                                    }
                                    &:focus{
                                        outline: none;
                                    }
                                }
                                ul{
                                    width: 100%;
                                    min-width: 0px;
                                    margin-top: 0px;
                                    border-top: 0px;
                                    border-radius: 9px;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;
                                    background-color: #f6fffc;
                                    li{
                                        a{
                                            color: inherit;
                                            &:hover{
                                                background-color: $contentColor;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                                &.open{
                                    button{
                                        border-bottom-left-radius: 0px;
                                        border-bottom-right-radius: 0px;
                                    }
                                }
                            }
                            .cover-image-wrapper{
                                margin: 10px 0px;
                                padding: 50px 20px;
                                text-align: center;
                                position: relative;
                                border: 1px dashed $lightGrey;
                                border-radius: 20px;
                                color: $lightGrey;
                                .img-wrapper{
                                    img{
                                        max-width: 80px;
                                        opacity: .3;
                                    }
                                }
                                input{
                                    position: absolute;
                                    display: block;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                            }
                            .terms-container{
                                min-height: 30px;
                                .term-item{

                                }
                            }
                        }
                        .group__show-image {
                            position: relative;
                            input{
                                background-color: transparent;
                                margin-top: 0px;
                                vertical-align: middle;
                                position: absolute;
                                left: -9999px;
                                &:checked{
                                    & + label{
                                        color: black;
                                        &:before{
                                            border-color: black;
                                            transform: none !important;
                                        }
                                        &:after{
                                            font-size: .9em;
                                            content: '\2714';
                                            position: absolute;
                                            left: 0.2em;
                                            top: 0.1em;
                                            width: 1em;
                                            height: 1em;
                                            color: black;
                                            transform: none !important;
                                        }
                                    }
                                }
                            }
                            label{
                                color: $contentColor;
                                font-size: 18px;
                                line-height: 1.1em;
                                vertical-align: middle;
                                position: relative;
                                padding-left: 1.5em !important;
                                cursor: pointer;
                                font-weight: normal;
                                &:before{
                                    content: '';
                                    position: absolute;
                                    left: 0px !important;
                                    top: 0px !important;;
                                    width: 1em;
                                    height: 1em;
                                    border: 1px solid $contentColor;
                                }
                            }
                        }
                        .button-wrapper{
                            margin-top: 70px;
                            text-align: center;
                            .save-btn{
                                background-color: $greenColor;
                                border: none;
                                outline: none;
                                color: white;
                                display: block;
                                width: 290px;
                                margin: 0px auto;
                                text-align: center;
                                padding: 12px 5px;
                                border-radius: 30px;
                                font-size: 2rem;
                                font-weight: lighter;
                                &:hover{
                                    background-color: $greenHover;
                                }
                                &.small{
                                    display: inline-block;
                                    width: auto;
                                    padding: 10px 30px;
                                    font-size: 1.5rem;
                                }
                            }
                            .preview-post{
                                display: inline-block;
                                margin-top: 5px;
                                color: $contentColor;
                                text-decoration: none;
                                padding-bottom: 1px;
                                &:hover{
                                    color: black;
                                }
                            }
                        }
                        .note-editor{
                            .note-toolbar-wrapper{
                                height: auto !important;
                                .btn-group-sm>.btn, .btn-sm{
                                    padding: 5px 10px;
                                    font-size: 12px;
                                    line-height: 1.5;
                                    border-radius: 3px;
                                    color: #333;
                                    background-color: #fff;
                                    border: 1px solid #ccc;
                                    box-shadow: none;
                                    i, span{
                                        font-size: 12px;
                                        line-height: 1.5;
                                    }
                                }
                            }
                        }
                        .terms-container{
                            .term-item{
                                font-size: 1.5rem;
                            }
                        }
                        .posts-tree-field{
                            display: none;
                        }
                        .forms-list-component{
                            display: none;
                        }
                        .posts-tree-wrapper{
                            padding: 10px 0;
                            border: 1px solid $lightGrey;
                            border-radius: 5px;
                            background-color: #fdfdfd;
                            max-height: 400px;
                            overflow: auto;
                            margin-bottom: 20px;
                            &::-webkit-scrollbar{
                                width: 8px;
                            }
                            &::-webkit-scrollbar-button{

                            }
                            &::-webkit-scrollbar-track{
                                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                                border-radius: 10px;
                            }
                            &::-webkit-scrollbar-track-piece {}
                            &::-webkit-scrollbar-thumb{
                                border-radius: 10px;
                                background-color: #cacac0;
                                //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
                            }
                            &::-webkit-scrollbar-corner{}
                            &::-webkit-resizer{  }
                        }
                        .form-fiels-container{
                            border: 1px dashed $lightGrey;
                            border-radius: 10px;
                            min-height: 101px;
                            padding: 20px;
                            .form-field-item{
                                margin-bottom: 10px;
                                .item-action{
                                    display: block;
                                    line-height: 0;
                                    svg{
                                        width: 30px;
                                        height: 30px;
                                        g, path {
                                            fill: $lightGrey;
                                        }
                                    }
                                    &:hover{
                                        svg{
                                            g, path {
                                                fill: $contentColor;
                                            }
                                        }
                                        &.edit-action {
                                            border-color: $contentColor;
                                        }
                                    }
                                }
                                .append-action{
                                    cursor: pointer;
                                    font-size: 1.5rem;
                                    font-weight: bold;
                                    font-style: italic;
                                    width: 30px;
                                    height: 30px;
                                    border: 1px solid $lightGrey;
                                    border-radius: 50%;
                                    &:hover{
                                        background-color: $lightGrey;
                                        color: white;
                                    }
                                }
                                .item-name-input.form-control{
                                    padding-left: 0px;
                                    border: none;
                                    border-bottom: 1px solid #e9ebdd;
                                    box-shadow: none;
                                    border-radius: 0px;
                                    font-size: 1.5rem;
                                    &::placeholder{
                                        color: $lightGrey;
                                    }
                                    &[name="strSeries_title"]{
                                        max-width: 385px;
                                    }
                                }
                                .field-item-type-wrapper{
                                    line-height: 0;
                                    .checkbox-icon, .text-icon{
                                        display: none;
                                        width: 30px;
                                        height: 30px;
                                        vertical-align: middle;
                                        opacity: .5;
                                    }
                                }
                                &.field-type-checkbox{
                                    .field-item-type-wrapper{
                                        .checkbox-icon{
                                            display: inline;
                                        }
                                    }
                                }
                                &.field-type-text{
                                    .field-item-type-wrapper{
                                        .text-icon{
                                            display: inline;
                                        }
                                    }
                                }
                            }
                        }
                        &[data-type="switch-to"]{
                            .posts-tree-field{
                                display: block;
                            }
                        }
                        &[data-type="form"], &[data-type="7"]{
                            .forms-list-component{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
