@charset "UTF-8";
.post-editor {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content {
  width: 700px;
  max-width: 100%;
  margin: 0px auto;
  padding: 30px 0px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form {
  display: block;
  width: 100%;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group label.control-label {
  display: block;
  position: relative;
  padding: 7px 15px 0px 0px;
  font-weight: normal;
  font-size: 1.5rem;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group label.control-label.required:after {
  content: "*";
  position: absolute;
  top: 0px;
  right: 0px;
  color: #f26d7e;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group label.control-label.margin-bottom {
  margin-bottom: 10px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group label.control-label.margin-bottom-2 {
  margin-bottom: 15px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group input {
  padding-left: 0px;
  border: none;
  border-bottom: 1px solid #c8cabc;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.5rem;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group input::placeholder {
  color: #c8cabc;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group input[name=strSeries_title] {
  max-width: 385px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .dropdown {
  display: block;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .dropdown button {
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: inherit;
  border-radius: 9px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .dropdown button span {
  display: inline-block;
  width: calc(100% - 20px);
  color: inherit;
  text-align: left;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .dropdown button svg {
  width: 15px;
  vertical-align: middle;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .dropdown button svg g, .post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .dropdown button svg path {
  fill: #c8cabc;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .dropdown button:focus {
  outline: none;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .dropdown ul {
  width: 100%;
  min-width: 0px;
  margin-top: 0px;
  border-top: 0px;
  border-radius: 9px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #f6fffc;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .dropdown ul li a {
  color: inherit;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .dropdown ul li a:hover {
  background-color: #737661;
  color: white;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .dropdown.open button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .cover-image-wrapper {
  margin: 10px 0px;
  padding: 50px 20px;
  text-align: center;
  position: relative;
  border: 1px dashed #c8cabc;
  border-radius: 20px;
  color: #c8cabc;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .cover-image-wrapper .img-wrapper img {
  max-width: 80px;
  opacity: 0.3;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .cover-image-wrapper input {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-group .terms-container {
  min-height: 30px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .group__show-image {
  position: relative;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .group__show-image input {
  background-color: transparent;
  margin-top: 0px;
  vertical-align: middle;
  position: absolute;
  left: -9999px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .group__show-image input:checked + label {
  color: black;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .group__show-image input:checked + label:before {
  border-color: black;
  transform: none !important;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .group__show-image input:checked + label:after {
  font-size: 0.9em;
  content: "✔";
  position: absolute;
  left: 0.2em;
  top: 0.1em;
  width: 1em;
  height: 1em;
  color: black;
  transform: none !important;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .group__show-image label {
  color: #737661;
  font-size: 18px;
  line-height: 1.1em;
  vertical-align: middle;
  position: relative;
  padding-left: 1.5em !important;
  cursor: pointer;
  font-weight: normal;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .group__show-image label:before {
  content: "";
  position: absolute;
  left: 0px !important;
  top: 0px !important;
  width: 1em;
  height: 1em;
  border: 1px solid #737661;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .button-wrapper {
  margin-top: 70px;
  text-align: center;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .button-wrapper .save-btn {
  background-color: #1fcd98;
  border: none;
  outline: none;
  color: white;
  display: block;
  width: 290px;
  margin: 0px auto;
  text-align: center;
  padding: 12px 5px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: lighter;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .button-wrapper .save-btn:hover {
  background-color: #1eb785;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .button-wrapper .save-btn.small {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  font-size: 1.5rem;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .button-wrapper .preview-post {
  display: inline-block;
  margin-top: 5px;
  color: #737661;
  text-decoration: none;
  padding-bottom: 1px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .button-wrapper .preview-post:hover {
  color: black;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .note-editor .note-toolbar-wrapper {
  height: auto !important;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .note-editor .note-toolbar-wrapper .btn-group-sm > .btn, .post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .note-editor .note-toolbar-wrapper .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: none;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .note-editor .note-toolbar-wrapper .btn-group-sm > .btn i, .post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .note-editor .note-toolbar-wrapper .btn-group-sm > .btn span, .post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .note-editor .note-toolbar-wrapper .btn-sm i, .post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .note-editor .note-toolbar-wrapper .btn-sm span {
  font-size: 12px;
  line-height: 1.5;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .terms-container .term-item {
  font-size: 1.5rem;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .posts-tree-field {
  display: none;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .forms-list-component {
  display: none;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .posts-tree-wrapper {
  padding: 10px 0;
  border: 1px solid #c8cabc;
  border-radius: 5px;
  background-color: #fdfdfd;
  max-height: 400px;
  overflow: auto;
  margin-bottom: 20px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .posts-tree-wrapper::-webkit-scrollbar {
  width: 8px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .posts-tree-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .posts-tree-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cacac0;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container {
  border: 1px dashed #c8cabc;
  border-radius: 10px;
  min-height: 101px;
  padding: 20px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item {
  margin-bottom: 10px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .item-action {
  display: block;
  line-height: 0;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .item-action svg {
  width: 30px;
  height: 30px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .item-action svg g, .post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .item-action svg path {
  fill: #c8cabc;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .item-action:hover svg g, .post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .item-action:hover svg path {
  fill: #737661;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .item-action:hover.edit-action {
  border-color: #737661;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .append-action {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  width: 30px;
  height: 30px;
  border: 1px solid #c8cabc;
  border-radius: 50%;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .append-action:hover {
  background-color: #c8cabc;
  color: white;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .item-name-input.form-control {
  padding-left: 0px;
  border: none;
  border-bottom: 1px solid #e9ebdd;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.5rem;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .item-name-input.form-control::placeholder {
  color: #c8cabc;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .item-name-input.form-control[name=strSeries_title] {
  max-width: 385px;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .field-item-type-wrapper {
  line-height: 0;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .field-item-type-wrapper .checkbox-icon, .post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item .field-item-type-wrapper .text-icon {
  display: none;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  opacity: 0.5;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item.field-type-checkbox .field-item-type-wrapper .checkbox-icon {
  display: inline;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form .form-fiels-container .form-field-item.field-type-text .field-item-type-wrapper .text-icon {
  display: inline;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form[data-type=switch-to] .posts-tree-field {
  display: block;
}
.post-editor .modal-dialog .modal-content .modal-body .post-editor-content form[data-type=form] .forms-list-component, .post-editor .modal-dialog .modal-content .modal-body .post-editor-content form[data-type="7"] .forms-list-component {
  display: block;
}

/*# sourceMappingURL=PostEditor.css.map */
