@import "../../config/css/colors.scss";

.series-conversation-component{
    width: 530px;
    max-width: 100%;
    height: 550px;
    max-height: 100%;
    min-height: 450px;
    border: 6px solid $greenColor;
    border-radius: 12px;
    .component-inner{
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        .conversation-pane{
            padding: 20px 15px;
            background-color: #f2f5f8;
            .conversation-public-inner{
                .conversation-header{
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                    .show-users-pane-link{
                        display: block;
                        line-height: 0px;
                        margin-right: 10px;
                        svg{
                            width: 30px;
                            g, path, polygon{
                                fill: $contentColor;
                            }
                        }
                    }
                }
                .conversation-content{
                    overflow: auto;
                    padding: 0px 10px 0px 10px;
                    .message-list{
                        list-style: none;
                        .message-item{
                            margin-bottom: 15px;
                            font-size: 1rem;
                            .item-header{
                                margin-bottom: 10px;
                                .item-delete{
                                    display: block;
                                    text-decoration: none;
                                    line-height: 0;
                                    svg{
                                        width: 12px;
                                        g, path, polygon{
                                            fill: $contentColor;
                                        }
                                    }
                                    &:hover{
                                        svg{
                                            g, path, polygon{
                                                fill: black;
                                            }
                                        }
                                    }
                                }
                                .item-time{
                                    font-size: 1rem;
                                }
                                .item-user{
                                    font-weight: bold;
                                }
                            }
                            .item-content{
                                position: relative;
                                padding: 12px 15px;
                                color: white;
                                border-radius: 5px;
                                white-space: pre;
                                &:before{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    bottom: 100%;
                                    width: 0;
                                    height: 0;
                                    border-left: 6px solid transparent;
                                    border-right: 6px solid transparent;
                                    border-bottom: 8px solid transparent;
                                }
                            }
                            &.justify-left{
                                padding-right: 30px;
                                .item-header{
                                    .item-user{
                                        margin-left: 5px;
                                        margin-right: 10px;
                                    }
                                }
                                .item-content{
                                    background-color: #87ba74;
                                    &:before{
                                        left: 15px;
                                        border-bottom-color: #87ba74;
                                    }
                                }
                            }
                            &.justify-right{
                                padding-left: 30px;
                                .item-header{
                                    .item-user{
                                        margin-left: 10px;
                                        margin-right: 5px;
                                    }
                                    .flex-row{
                                        flex-flow: row-reverse;
                                    }
                                }
                                .item-content{
                                    background-color: #96c3eb;
                                    &:before{
                                        right: 25px;
                                        border-bottom-color: #96c3eb;
                                    }
                                }
                            }
                        }
                    }
                    &::-webkit-scrollbar{
                        width: 8px;
                    }
                    &::-webkit-scrollbar-button{

                    }
                    &::-webkit-scrollbar-track{
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-track-piece {}
                    &::-webkit-scrollbar-thumb{
                        border-radius: 10px;
                        background-color: #cacac0;
                        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
                    }
                    &::-webkit-scrollbar-corner{}
                    &::-webkit-resizer{  }
                }
                .conversation-footer{
                    padding: 20px 10px 5px;
                    border-top: 1px solid white;
                    form{
                        .input-wrapper{
                            margin-bottom: 10px;
                            textarea{
                                width: 100%;
                                padding: 10px;
                                resize: none;
                                background-color: white;
                                border: none;
                                border-radius: 5px;
                                &:focus{
                                    outline: none;
                                }
                            }
                        }
                        button{
                            font-size: 1rem;
                            font-weight: bold;
                            letter-spacing: 2px;
                            background: none;
                            border: none;
                            color: #96c3eb;
                        }
                    }
                }
            }
            .conversation-private-inner{
                .conversation-header{
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                    .show-users-pane-link{
                        display: block;
                        line-height: 0px;
                        margin-right: 10px;
                        svg{
                            width: 30px;
                            g, path, polygon{
                                fill: $contentColor;
                            }
                        }
                    }
                    .user-img{
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                        border-radius: 50%;
                    }
                }
                .conversation-content{
                    overflow: auto;
                    padding: 0px 10px 0px 10px;
                    .message-list{
                        list-style: none;
                        .message-item{
                            margin-bottom: 15px;
                            font-size: 1rem;
                            .item-header{
                                margin-bottom: 10px;
                                .item-delete{
                                    display: block;
                                    text-decoration: none;
                                    line-height: 0;
                                    svg{
                                        width: 12px;
                                        g, path, polygon{
                                            fill: $contentColor;
                                        }
                                    }
                                    &:hover{
                                        svg{
                                            g, path, polygon{
                                                fill: black;
                                            }
                                        }
                                    }
                                }
                                .item-time{
                                    font-size: 1rem;
                                }
                                .item-user{
                                    font-weight: bold;
                                }
                            }
                            .item-content{
                                position: relative;
                                padding: 12px 15px;
                                color: white;
                                border-radius: 5px;
                                white-space: pre;
                                &:before{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    bottom: 100%;
                                    width: 0;
                                    height: 0;
                                    border-left: 6px solid transparent;
                                    border-right: 6px solid transparent;
                                    border-bottom: 8px solid transparent;
                                }
                            }
                            &.justify-left{
                                padding-right: 30px;
                                .item-header{
                                    .item-user{
                                        margin-left: 5px;
                                        margin-right: 10px;
                                    }
                                }
                                .item-content{
                                    background-color: #87ba74;
                                    &:before{
                                        left: 15px;
                                        border-bottom-color: #87ba74;
                                    }
                                }
                            }
                            &.justify-right{
                                padding-left: 30px;
                                .item-header{
                                    .item-user{
                                        margin-left: 10px;
                                        margin-right: 5px;
                                    }
                                    .flex-row{
                                        flex-flow: row-reverse;
                                    }
                                }
                                .item-content{
                                    background-color: #96c3eb;
                                    &:before{
                                        right: 25px;
                                        border-bottom-color: #96c3eb;
                                    }
                                }
                            }
                        }
                    }
                    &::-webkit-scrollbar{
                        width: 8px;
                    }
                    &::-webkit-scrollbar-button{

                    }
                    &::-webkit-scrollbar-track{
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-track-piece {}
                    &::-webkit-scrollbar-thumb{
                        border-radius: 10px;
                        background-color: #cacac0;
                        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
                    }
                    &::-webkit-scrollbar-corner{}
                    &::-webkit-resizer{  }
                }
                .conversation-footer{
                    padding: 20px 10px 5px;
                    border-top: 1px solid white;
                    form{
                        .input-wrapper{
                            margin-bottom: 10px;
                            textarea{
                                width: 100%;
                                padding: 10px;
                                resize: none;
                                background-color: white;
                                border: none;
                                border-radius: 5px;
                                &:focus{
                                    outline: none;
                                }
                            }
                        }
                        button{
                            font-size: 1rem;
                            font-weight: bold;
                            letter-spacing: 2px;
                            background: none;
                            border: none;
                            color: #96c3eb;
                        }
                    }
                }
            }
        }
        .users-pane{
            width: 170px;
            height: 100%;
            background-color: #444753;
            padding: 20px 0px;
            .users-pane-header{
                margin-bottom: 15px;
                padding: 5px 0px;
                color: white;
                text-align: center;
            }
            .users-list{
                list-style: none;
                .user-item{
                    padding: 10px 10px;
                    color: #d6d6d6;
                    cursor: pointer;
                    .name-prefix{
                        width: 33px;
                        height: 33px;
                        margin-right: 8px;
                        border-radius: 50%;
                        background-color: #0a6aa1;
                        padding-left: 1px;
                        .prefix-val{
                            font-size: 1rem;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                    .user-name{
                        font-size: 1rem;
                        text-transform: capitalize;
                    }
                    &:hover{
                        color: white;
                        background-color: #3f4250;
                    }
                    &.typing-true{
                        .spinner {
                            margin: 0 0 0 10px;
                            width: 30px;
                            text-align: center;
                        }

                        .spinner > div {
                            width: 10px;
                            height: 10px;
                            border-radius: 100%;
                            display: inline-block;
                            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                            background: #d6d6d6;
                        }

                        .spinner .bounce1 {
                            -webkit-animation-delay: -0.32s;
                            animation-delay: -0.32s;
                        }

                        .spinner .bounce2 {
                            -webkit-animation-delay: -0.16s;
                            animation-delay: -0.16s;
                        }

                        @-webkit-keyframes sk-bouncedelay {
                            0%,
                            80%,
                            100% {
                                -webkit-transform: scale(0)
                            }
                            40% {
                                -webkit-transform: scale(1.0)
                            }
                        }

                        @keyframes sk-bouncedelay {
                            0%,
                            80%,
                            100% {
                                -webkit-transform: scale(0);
                                transform: scale(0);
                            }
                            40% {
                                -webkit-transform: scale(1.0);
                                transform: scale(1.0);
                            }
                        }
                    }
                    &.active{
                        color: white;
                        background-color: #525563;
                    }
                }
            }
        }
    }
    &.width-small{
        .component-inner{
            .conversation-col{
            }
            .users-col{
                flex-basis: 100%;
                display: none;
                .users-pane{
                    width: 100%;
                    text-align: left;
                }
            }
        }
        &.show-users-pane{
            .component-inner{
                .conversation-col{
                    display: none;
                }
                .users-col{
                    display: block;
                }
            }
        }
        .d-width-small-none{
            display: none;
        }
        .d-width-sm-block{
            display: block;
        }
    }
    &.width-large{
        .component-inner{
            .users-pane{
                width: 200px;
            }
        }
    }
    .d-width-md-none{
        display: none;
    }
    .d-width-md-block{
        display: block;
    }
}