.series-conversation-component {
  width: 530px;
  max-width: 100%;
  height: 550px;
  max-height: 100%;
  min-height: 450px;
  border: 6px solid #1fcd98;
  border-radius: 12px; }
  .series-conversation-component .component-inner {
    border-radius: 5px;
    overflow: hidden;
    position: relative; }
    .series-conversation-component .component-inner .conversation-pane {
      padding: 20px 15px;
      background-color: #f2f5f8; }
      .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-header {
        font-size: 1.5rem;
        margin-bottom: 10px; }
        .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-header .show-users-pane-link {
          display: block;
          line-height: 0px;
          margin-right: 10px; }
          .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-header .show-users-pane-link svg {
            width: 30px; }
            .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-header .show-users-pane-link svg g, .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-header .show-users-pane-link svg path, .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-header .show-users-pane-link svg polygon {
              fill: #737661; }
      .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content {
        overflow: auto;
        padding: 0px 10px 0px 10px; }
        .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list {
          list-style: none; }
          .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item {
            margin-bottom: 15px;
            font-size: 1rem; }
            .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-header {
              margin-bottom: 10px; }
              .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-header .item-delete {
                display: block;
                text-decoration: none;
                line-height: 0; }
                .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-header .item-delete svg {
                  width: 12px; }
                  .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-header .item-delete svg g, .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-header .item-delete svg path, .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-header .item-delete svg polygon {
                    fill: #737661; }
                .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-header .item-delete:hover svg g, .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-header .item-delete:hover svg path, .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-header .item-delete:hover svg polygon {
                  fill: black; }
              .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-header .item-time {
                font-size: 1rem; }
              .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-header .item-user {
                font-weight: bold; }
            .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-content {
              position: relative;
              padding: 12px 15px;
              color: white;
              border-radius: 5px;
              white-space: pre; }
              .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item .item-content:before {
                content: '';
                display: block;
                position: absolute;
                bottom: 100%;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 8px solid transparent; }
            .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item.justify-left {
              padding-right: 30px; }
              .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item.justify-left .item-header .item-user {
                margin-left: 5px;
                margin-right: 10px; }
              .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item.justify-left .item-content {
                background-color: #87ba74; }
                .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item.justify-left .item-content:before {
                  left: 15px;
                  border-bottom-color: #87ba74; }
            .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item.justify-right {
              padding-left: 30px; }
              .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item.justify-right .item-header .item-user {
                margin-left: 10px;
                margin-right: 5px; }
              .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item.justify-right .item-header .flex-row {
                flex-flow: row-reverse; }
              .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item.justify-right .item-content {
                background-color: #96c3eb; }
                .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content .message-list .message-item.justify-right .item-content:before {
                  right: 25px;
                  border-bottom-color: #96c3eb; }
        .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content::-webkit-scrollbar {
          width: 8px; }
        .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          border-radius: 10px; }
        .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-content::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #cacac0; }
      .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-footer {
        padding: 20px 10px 5px;
        border-top: 1px solid white; }
        .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-footer form .input-wrapper {
          margin-bottom: 10px; }
          .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-footer form .input-wrapper textarea {
            width: 100%;
            padding: 10px;
            resize: none;
            background-color: white;
            border: none;
            border-radius: 5px; }
            .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-footer form .input-wrapper textarea:focus {
              outline: none; }
        .series-conversation-component .component-inner .conversation-pane .conversation-public-inner .conversation-footer form button {
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 2px;
          background: none;
          border: none;
          color: #96c3eb; }
      .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-header {
        font-size: 1.5rem;
        margin-bottom: 10px; }
        .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-header .show-users-pane-link {
          display: block;
          line-height: 0px;
          margin-right: 10px; }
          .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-header .show-users-pane-link svg {
            width: 30px; }
            .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-header .show-users-pane-link svg g, .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-header .show-users-pane-link svg path, .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-header .show-users-pane-link svg polygon {
              fill: #737661; }
        .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-header .user-img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          border-radius: 50%; }
      .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content {
        overflow: auto;
        padding: 0px 10px 0px 10px; }
        .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list {
          list-style: none; }
          .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item {
            margin-bottom: 15px;
            font-size: 1rem; }
            .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-header {
              margin-bottom: 10px; }
              .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-header .item-delete {
                display: block;
                text-decoration: none;
                line-height: 0; }
                .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-header .item-delete svg {
                  width: 12px; }
                  .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-header .item-delete svg g, .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-header .item-delete svg path, .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-header .item-delete svg polygon {
                    fill: #737661; }
                .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-header .item-delete:hover svg g, .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-header .item-delete:hover svg path, .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-header .item-delete:hover svg polygon {
                  fill: black; }
              .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-header .item-time {
                font-size: 1rem; }
              .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-header .item-user {
                font-weight: bold; }
            .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-content {
              position: relative;
              padding: 12px 15px;
              color: white;
              border-radius: 5px;
              white-space: pre; }
              .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item .item-content:before {
                content: '';
                display: block;
                position: absolute;
                bottom: 100%;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 8px solid transparent; }
            .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item.justify-left {
              padding-right: 30px; }
              .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item.justify-left .item-header .item-user {
                margin-left: 5px;
                margin-right: 10px; }
              .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item.justify-left .item-content {
                background-color: #87ba74; }
                .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item.justify-left .item-content:before {
                  left: 15px;
                  border-bottom-color: #87ba74; }
            .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item.justify-right {
              padding-left: 30px; }
              .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item.justify-right .item-header .item-user {
                margin-left: 10px;
                margin-right: 5px; }
              .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item.justify-right .item-header .flex-row {
                flex-flow: row-reverse; }
              .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item.justify-right .item-content {
                background-color: #96c3eb; }
                .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content .message-list .message-item.justify-right .item-content:before {
                  right: 25px;
                  border-bottom-color: #96c3eb; }
        .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content::-webkit-scrollbar {
          width: 8px; }
        .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          border-radius: 10px; }
        .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-content::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #cacac0; }
      .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-footer {
        padding: 20px 10px 5px;
        border-top: 1px solid white; }
        .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-footer form .input-wrapper {
          margin-bottom: 10px; }
          .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-footer form .input-wrapper textarea {
            width: 100%;
            padding: 10px;
            resize: none;
            background-color: white;
            border: none;
            border-radius: 5px; }
            .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-footer form .input-wrapper textarea:focus {
              outline: none; }
        .series-conversation-component .component-inner .conversation-pane .conversation-private-inner .conversation-footer form button {
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 2px;
          background: none;
          border: none;
          color: #96c3eb; }
    .series-conversation-component .component-inner .users-pane {
      width: 170px;
      height: 100%;
      background-color: #444753;
      padding: 20px 0px; }
      .series-conversation-component .component-inner .users-pane .users-pane-header {
        margin-bottom: 15px;
        padding: 5px 0px;
        color: white;
        text-align: center; }
      .series-conversation-component .component-inner .users-pane .users-list {
        list-style: none; }
        .series-conversation-component .component-inner .users-pane .users-list .user-item {
          padding: 10px 10px;
          color: #d6d6d6;
          cursor: pointer; }
          .series-conversation-component .component-inner .users-pane .users-list .user-item .name-prefix {
            width: 33px;
            height: 33px;
            margin-right: 8px;
            border-radius: 50%;
            background-color: #0a6aa1;
            padding-left: 1px; }
            .series-conversation-component .component-inner .users-pane .users-list .user-item .name-prefix .prefix-val {
              font-size: 1rem;
              font-weight: bold;
              letter-spacing: 1px; }
          .series-conversation-component .component-inner .users-pane .users-list .user-item .user-name {
            font-size: 1rem;
            text-transform: capitalize; }
          .series-conversation-component .component-inner .users-pane .users-list .user-item:hover {
            color: white;
            background-color: #3f4250; }
          .series-conversation-component .component-inner .users-pane .users-list .user-item.typing-true .spinner {
            margin: 0 0 0 10px;
            width: 30px;
            text-align: center; }
          .series-conversation-component .component-inner .users-pane .users-list .user-item.typing-true .spinner > div {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            background: #d6d6d6; }
          .series-conversation-component .component-inner .users-pane .users-list .user-item.typing-true .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s; }
          .series-conversation-component .component-inner .users-pane .users-list .user-item.typing-true .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s; }
@-webkit-keyframes sk-bouncedelay {
  0%,
                            80%,
                            100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%,
                            80%,
                            100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
          .series-conversation-component .component-inner .users-pane .users-list .user-item.active {
            color: white;
            background-color: #525563; }
  .series-conversation-component.width-small .component-inner .users-col {
    flex-basis: 100%;
    display: none; }
    .series-conversation-component.width-small .component-inner .users-col .users-pane {
      width: 100%;
      text-align: left; }
  .series-conversation-component.width-small.show-users-pane .component-inner .conversation-col {
    display: none; }
  .series-conversation-component.width-small.show-users-pane .component-inner .users-col {
    display: block; }
  .series-conversation-component.width-small .d-width-small-none {
    display: none; }
  .series-conversation-component.width-small .d-width-sm-block {
    display: block; }
  .series-conversation-component.width-large .component-inner .users-pane {
    width: 200px; }
  .series-conversation-component .d-width-md-none {
    display: none; }
  .series-conversation-component .d-width-md-block {
    display: block; }

/*# sourceMappingURL=SeriesConversation.css.map */
