<div class="app-table-wrapper">
    <header class="app-table-header">
        <div class="row align-items-center">
            <div class="col-auto mr-auto">
                <div class="page-size-wrapper">
                    <label>
                        <select [(ngModel)]="pagingStore.pageSize" (ngModelChange)="applyChange()">
                            <!--<option value="5">5</option>-->
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="1000000">All</option>
                        </select>
                        Records
                    </label>
                </div>
            </div>
            <div class="col-auto">
                <div class="search-wrapper">
                    <label>
                        Search:
                        <input [(ngModel)]="searchStore.totalSearch" (ngModelChange)="applyChange()" />
                    </label>
                </div>
            </div>
        </div>
    </header>
    <div class="app-table-content">
        <table class="app-table">
            <thead>
            <tr>
                <th *ngFor="let col of settings.columns" [class.sorting]="col.sortable && sortStore.fieldName !== col.key" [class.sorting_asc]="col.sortable && sortStore.fieldName == col.key && sortStore.dir" [class.sorting_desc]="col.sortable && sortStore.fieldName == col.key && !sortStore.dir" [ngStyle]="col.style" (click)="thClick(col)">{{col.title}}</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of (items | tableFilter : searchStore : sortStore : pagingStore : columnsSetting: changeDetector)" [ngSwitch]="tr">
                <ng-container *ngSwitchCase="'series-tr'">
                    <tr app-series-tr [row] = "item" (rowChange)="onRowChange(item[settings.primaryKey], $event)" (itemDeleted)="onItemDeleted($event);" [metaData]="metaData"></tr>
                </ng-container>
                <ng-container *ngSwitchCase="'permissions-tr'">
                    <tr app-permissions-tr [row]="item" (rowChange)="onRowChange(item[settings.primaryKey], $event)" (itemDeleted)="onItemDeleted($event);"></tr>
                </ng-container>
                <ng-container *ngSwitchCase="'category-tr'">
                    <tr app-categories-tr [row]="item" (rowChange)="onRowChange(item[settings.primaryKey], $event)" [metaData]="metaData" (itemDeleted)="onItemDeleted($event);"></tr>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <tr appTr [row]="item"></tr>
                </ng-container>
            </ng-container>
            </tbody>
        </table>
    </div>
    <footer class="app-table-footer">
        <div class="row justify-content-between">
            <div class="col">
            </div>
            <div class="col-auto">
                <ngb-pagination [pageSize]="pagingStore.pageSize" [collectionSize]="pagingStore.collectionSize" [(page)]="pagingStore.page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="applyChange()"></ngb-pagination>
            </div>
        </div>
    </footer>
</div>