.app-table-wrapper{
   header.app-table-header{
      .page-size-wrapper{
         label{
            select{
               display: inline-block;
               padding: 5px;
               width: 80px;
            }
         }
      }
      .search-wrapper{
         input{
            padding: 5px 10px;
            border: 1px solid #c2cad8;
            &:focus{
               border-color: #93a1bb;
            }
         }
      }
   }
   .app-table-content{
      table{
         thead{
            tr{
               background-color: white;
               th{
                  padding: 10px 15px;
                  font-weight: 600;
                  cursor: pointer;
                  font-size: 14px;
                  &.sorting{
                     padding-right: 20px;
                     background: url(../../../assets/images/icon/sort_both.png) center right no-repeat;
                  }
                  &.sorting_asc{
                     padding-right: 20px;
                     background: url(../../../assets/images/icon/sort_asc.png) center right no-repeat;
                  }
                  &.sorting_desc{
                     padding-right: 20px;
                     background: url(../../../assets/images/icon/sort_desc.png) center right no-repeat;
                  }
               }
            }
         }
      }
   }
   footer.app-table-footer{
      margin-top: 20px;
   }
}