td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  td.img-col img {
    max-width: 60px; }
  td.description-col {
    max-width: 30%; }
  td.splf-erch-col {
    text-align: center; }
  td.fee-col input {
    padding-left: 5px; }

/*# sourceMappingURL=categories-tr.component.css.map */
