<td class="img-col"><img [src]="row.strCategory_image" /></td>
<td class="title-col">{{row.strCategory_name}}</td>
<td class="description-col hidden-xl-down">{{row.strCategory_description}}</td>
<td class=""><ui-switch [(ngModel)]="row.intCategory_approved" (ngModelChange)="updateApproved()" labelOn="E" labelOff="D"></ui-switch></td>
<td><a href="javascript:;" (click)="openEditModal(content)">Edit</a></td>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Edit Category</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Enter Title" [(ngModel)]="editRow.strCategory_name"/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea type="text" class="form-control" placeholder="Enter Description" [(ngModel)]="editRow.strCategory_description"></textarea>
        </div>
        <div class="form-group">
            <label>Merge to</label>
            <select class="form-control" [(ngModel)]="mergeTo">
                <option *ngFor="let c of metaData.categories" [ngValue]="c.category_ID">{{c.category_ID === mergeTo ? 'No Merge' : c.strCategory_name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('save')">Save</button>
        <button type="button" class="btn btn-secondary" (click)="d()">Close</button>
    </div>
</ng-template>