.listing-post-component {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 700px;
  max-width: 100%;
  background-color: white;
  padding: 0px;
  transform: translateX(-700px);
  transition: transform 200ms ease-in-out;
  z-index: 300;
  display: flex;
  flex-direction: column;
}
.listing-post-component header.listing-post-header {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  padding: 25px 80px;
  background-color: #f6fffc;
}
.listing-post-component header.listing-post-header .title-wrapper .series-title {
  font-size: 3rem;
  font-weight: bold;
}
.listing-post-component header.listing-post-header .title-wrapper .posts-count {
  margin-left: 10px;
  display: inline-block;
  color: white;
}
.listing-post-component header.listing-post-header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
.listing-post-component header.listing-post-header .section-close {
  display: block;
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 1;
}
.listing-post-component header.listing-post-header .section-close:before {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #1fcd98;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: rotate(45deg);
}
.listing-post-component header.listing-post-header .section-close:after {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #1fcd98;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: rotate(-45deg);
}
.listing-post-component header.listing-post-header .section-close:hover:before, .listing-post-component header.listing-post-header .section-close:hover:after {
  background-color: #1eb785;
}
.listing-post-component .top-btn-wrap {
  display: none;
  margin-top: 15px;
}
.listing-post-component .top-btn-wrap .site-green-btn {
  font-size: 1.5rem;
  padding: 5px 20px;
  color: white;
}
.listing-post-component .site-green-btn.share-series-btn {
  font-size: 1.5rem;
  padding: 5px 20px;
  color: white;
}
.listing-post-component .listing-post-content {
  padding: 10px 30px;
  flex-grow: 1;
  flex-basis: 100px;
  overflow: auto;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
.listing-post-component .listing-post-content .new-title, .listing-post-component .listing-post-content .all-title {
  width: calc(100% - 40px);
  margin: 15px auto 10px;
  border-bottom: 1px dotted #1fcd98;
  font-size: 1.5rem;
}
.listing-post-component .listing-post-content .select-content-title, .listing-post-component .listing-post-content .selected-content-title {
  display: none;
  width: calc(100% - 40px);
  margin: 15px auto 20px;
  font-size: 2rem;
}
.listing-post-component .listing-post-content .series-share-preview {
  display: none;
}
.listing-post-component .listing-post-content .series-share-preview .series-article {
  width: 300px;
  max-width: 100%;
  margin: 0px auto 15px;
  padding: 5px 17px;
}
.listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper {
  position: relative;
  margin-bottom: 17px;
}
.listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .item-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1600px) {
  .listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .item-image {
    height: 170px;
  }
}
@media only screen and (max-width: 1600px) {
  .listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .item-image {
    height: 150px;
  }
}
@media only screen and (max-width: 1400px) {
  .listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .item-image {
    height: 140px;
  }
}
@media only screen and (max-width: 1280px) {
  .listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .item-image {
    height: 128px;
  }
}
.listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .hover-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
}
.listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons a {
  display: block;
  padding: 5px;
  background-color: #1fcd98;
  color: white;
  text-align: center;
  text-decoration: none;
}
.listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons a svg {
  display: none;
  width: 18px;
  vertical-align: middle;
}
.listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons a svg path {
  fill: white;
}
.listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons a svg.preview-icon, .listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
  display: inline;
}
.listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons a:hover {
  background-color: #1eb785;
}
.listing-post-component .listing-post-content .series-share-preview .series-article .item-image-wrapper .hover-content .footer-buttons .flex-row .last-col {
  margin-left: 2px;
}
.listing-post-component .listing-post-content .series-share-preview .series-article .child-count-wrapper {
  margin-bottom: 10px;
}
.listing-post-component .listing-post-content .series-share-preview .series-article .child-count-wrapper .child-count {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #c8cbba;
  color: white;
}
.listing-post-component .listing-post-content .series-share-preview .series-article .item-title {
  font-size: 1.4rem;
  font-weight: bold;
  height: auto;
}
.listing-post-component .listing-post-content .series-share-preview .series-article:hover .item-image-wrapper .hover-content, .listing-post-component .listing-post-content .series-share-preview .series-article:active .item-image-wrapper .hover-content {
  opacity: 1;
}
.listing-post-component .listing-post-content .post-share-preview {
  display: none;
}
.listing-post-component .listing-post-content .post-share-preview .post-article {
  width: 300px;
  max-width: 100%;
  margin: 0px auto 15px;
  padding: 5px 17px;
}
.listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper {
  position: relative;
  margin-bottom: 17px;
}
.listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .item-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1600px) {
  .listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .item-image {
    height: 170px;
  }
}
@media only screen and (max-width: 1600px) {
  .listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .item-image {
    height: 150px;
  }
}
@media only screen and (max-width: 1400px) {
  .listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .item-image {
    height: 140px;
  }
}
@media only screen and (max-width: 1280px) {
  .listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .item-image {
    height: 128px;
  }
}
.listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .hover-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
}
.listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons a {
  display: block;
  padding: 5px;
  background-color: #1fcd98;
  color: white;
  text-align: center;
  text-decoration: none;
}
.listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons a svg {
  display: none;
  width: 18px;
  vertical-align: middle;
}
.listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons a svg path {
  fill: white;
}
.listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons a svg.preview-icon, .listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons a svg.join-icon {
  display: inline;
}
.listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons a:hover {
  background-color: #1eb785;
}
.listing-post-component .listing-post-content .post-share-preview .post-article .item-image-wrapper .hover-content .footer-buttons .flex-row .last-col {
  margin-left: 2px;
}
.listing-post-component .listing-post-content .post-share-preview .post-article .item-title {
  font-size: 1.4rem;
  font-weight: bold;
  height: auto;
}
.listing-post-component .listing-post-content .post-share-preview .post-article:hover .item-image-wrapper .hover-content, .listing-post-component .listing-post-content .post-share-preview .post-article:active .item-image-wrapper .hover-content {
  opacity: 1;
}
.listing-post-component .listing-post-content ul.unread-post-list, .listing-post-component .listing-post-content ul.shared-post-list {
  display: none;
}
.listing-post-component .listing-post-content ul.unread-post-list li, .listing-post-component .listing-post-content ul.shared-post-list li {
  margin-bottom: 25px;
}
.listing-post-component .listing-post-content ul.unread-post-list li .item-img, .listing-post-component .listing-post-content ul.shared-post-list li .item-img {
  width: 85px;
  height: 50px;
}
.listing-post-component .listing-post-content ul.unread-post-list li .item-view-states-wrapper, .listing-post-component .listing-post-content ul.shared-post-list li .item-view-states-wrapper {
  width: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 5px;
  z-index: 2;
}
.listing-post-component .listing-post-content ul.unread-post-list li .item-view-states-wrapper .view-state, .listing-post-component .listing-post-content ul.shared-post-list li .item-view-states-wrapper .view-state {
  display: none;
  position: relative;
  top: 2px;
}
.listing-post-component .listing-post-content ul.unread-post-list li .item-view-states-wrapper .view-state.complete-state, .listing-post-component .listing-post-content ul.shared-post-list li .item-view-states-wrapper .view-state.complete-state {
  width: 20px;
  height: auto;
}
.listing-post-component .listing-post-content ul.unread-post-list li .item-view-states-wrapper .view-state.complete-state g, .listing-post-component .listing-post-content ul.unread-post-list li .item-view-states-wrapper .view-state.complete-state path, .listing-post-component .listing-post-content ul.shared-post-list li .item-view-states-wrapper .view-state.complete-state g, .listing-post-component .listing-post-content ul.shared-post-list li .item-view-states-wrapper .view-state.complete-state path {
  fill: #1fcd98;
}
.listing-post-component .listing-post-content ul.unread-post-list li .item-view-states-wrapper .view-state.current-state, .listing-post-component .listing-post-content ul.shared-post-list li .item-view-states-wrapper .view-state.current-state {
  width: 10px;
  height: 10px;
  border: 3px solid #1fcd98;
  background-color: white;
  border-radius: 50%;
  box-sizing: content-box;
}
.listing-post-component .listing-post-content ul.unread-post-list li .item-view-states-wrapper .view-state.normal-state, .listing-post-component .listing-post-content ul.shared-post-list li .item-view-states-wrapper .view-state.normal-state {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1fcd98;
  opacity: 0.8;
  box-sizing: content-box;
}
.listing-post-component .listing-post-content ul.unread-post-list li .item-view-states-wrapper.state-complete .complete-state, .listing-post-component .listing-post-content ul.shared-post-list li .item-view-states-wrapper.state-complete .complete-state {
  display: block;
}
.listing-post-component .listing-post-content ul.unread-post-list li .item-view-states-wrapper.state-normal .normal-state, .listing-post-component .listing-post-content ul.shared-post-list li .item-view-states-wrapper.state-normal .normal-state {
  display: block;
}
.listing-post-component .listing-post-content ul.unread-post-list li .item-view-states-wrapper.state-current .current-state, .listing-post-component .listing-post-content ul.shared-post-list li .item-view-states-wrapper.state-current .current-state {
  display: block;
}
.listing-post-component .listing-post-content ul.unread-post-list li .item-view-states-wrapper:after, .listing-post-component .listing-post-content ul.shared-post-list li .item-view-states-wrapper:after {
  z-index: 1;
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: calc(100% + 20px);
  top: 17px;
  left: 50%;
  background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  opacity: 0.7;
}
.listing-post-component .listing-post-content ul.unread-post-list li .title-wrapper .media-icon-wrapper, .listing-post-component .listing-post-content ul.shared-post-list li .title-wrapper .media-icon-wrapper {
  display: inline-block;
  margin-right: 10px;
}
.listing-post-component .listing-post-content ul.unread-post-list li .title-wrapper .media-icon-wrapper i, .listing-post-component .listing-post-content ul.shared-post-list li .title-wrapper .media-icon-wrapper i {
  display: none;
  font-size: 1.5rem;
}
.listing-post-component .listing-post-content ul.unread-post-list li .title-wrapper .media-icon-wrapper.type-0 .audio-icon, .listing-post-component .listing-post-content ul.shared-post-list li .title-wrapper .media-icon-wrapper.type-0 .audio-icon {
  display: initial;
}
.listing-post-component .listing-post-content ul.unread-post-list li .title-wrapper .media-icon-wrapper.type-2 .video-icon, .listing-post-component .listing-post-content ul.shared-post-list li .title-wrapper .media-icon-wrapper.type-2 .video-icon {
  display: initial;
}
.listing-post-component .listing-post-content ul.unread-post-list li .title-wrapper .media-icon-wrapper.type-7 .text-icon, .listing-post-component .listing-post-content ul.unread-post-list li .title-wrapper .media-icon-wrapper.type-10 .text-icon, .listing-post-component .listing-post-content ul.unread-post-list li .title-wrapper .media-icon-wrapper.type-8 .text-icon, .listing-post-component .listing-post-content ul.unread-post-list li .title-wrapper .media-icon-wrapper.type-9 .text-icon, .listing-post-component .listing-post-content ul.shared-post-list li .title-wrapper .media-icon-wrapper.type-7 .text-icon, .listing-post-component .listing-post-content ul.shared-post-list li .title-wrapper .media-icon-wrapper.type-10 .text-icon, .listing-post-component .listing-post-content ul.shared-post-list li .title-wrapper .media-icon-wrapper.type-8 .text-icon, .listing-post-component .listing-post-content ul.shared-post-list li .title-wrapper .media-icon-wrapper.type-9 .text-icon {
  display: initial;
}
.listing-post-component .listing-post-content ul.unread-post-list li .title-wrapper .item-title, .listing-post-component .listing-post-content ul.shared-post-list li .title-wrapper .item-title {
  font-size: 1.5rem;
  color: #737661;
}
.listing-post-component .listing-post-content ul.unread-post-list li:last-child .item-view-states-wrapper:after, .listing-post-component .listing-post-content ul.shared-post-list li:last-child .item-view-states-wrapper:after {
  display: none;
}
.listing-post-component .listing-post-content .series-structure-tree-component > ul.posts-list {
  padding-left: 0px;
}
.listing-post-component .listing-post-content .series-structure-tree-component > ul.posts-list > li > .post-row-inner .post-title {
  display: none;
}
.listing-post-component .listing-post-content .series-structure-tree-component ul li .post-row-inner .post-title {
  cursor: pointer;
  color: #737661;
}
.listing-post-component .listing-post-content .series-structure-tree-component ul li .post-row-inner .post-title:hover {
  text-decoration: underline;
}
.listing-post-component .listing-post-content .share-with-list, .listing-post-component .listing-post-content .series-share-with-list {
  display: none;
}
.listing-post-component .listing-post-content .share-with-list .share-with-text, .listing-post-component .listing-post-content .series-share-with-list .share-with-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.listing-post-component .listing-post-content .share-with-list .share-item svg, .listing-post-component .listing-post-content .series-share-with-list .share-item svg {
  width: 60px;
  height: 60px;
}
.listing-post-component .listing-post-content .new-title, .listing-post-component .listing-post-content .all-title, .listing-post-component .listing-post-content ul.unread-post-list {
  display: none;
}
.listing-post-component .listing-post-content::-webkit-scrollbar {
  width: 8px;
}
.listing-post-component .listing-post-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.listing-post-component .listing-post-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cacac0;
}
.listing-post-component .listing-post-footer {
  position: relative;
  flex: 0 0 auto;
  padding: 20px 10px 15px;
  text-align: center;
}
.listing-post-component .listing-post-footer .share-next-btn {
  padding: 5px 20px;
  font-size: 1.7rem;
}
.listing-post-component .listing-post-footer .share-back-wrap {
  display: none;
  text-align: center;
}
.listing-post-component .listing-post-footer .share-back-wrap .share-back-btn {
  padding: 5px 20px;
  font-size: 1.7rem;
}
.listing-post-component .listing-post-footer:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
.listing-post-component .listing-drag-drop-pane {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.listing-post-component .listing-drag-drop-pane .drag-info {
  font-size: 2rem;
}
.listing-post-component.has-new .listing-post-content .new-title, .listing-post-component.has-new .listing-post-content .all-title, .listing-post-component.has-new .listing-post-content ul.unread-post-list {
  display: block;
}
.listing-post-component.opened {
  transform: translateX(0px);
}
.listing-post-component.mode-edit .top-btn-wrap {
  display: block;
}
.listing-post-component.drag-over .listing-drag-drop-pane {
  display: flex;
}
.listing-post-component.mode-share .listing-post-content .new-title, .listing-post-component.mode-share .listing-post-content .all-title, .listing-post-component.mode-share .listing-post-content ul.unread-posts-list, .listing-post-component.mode-share.has-new .listing-post-content .new-title, .listing-post-component.mode-share.has-new .listing-post-content .all-title, .listing-post-component.mode-share.has-new .listing-post-content ul.unread-posts-list {
  display: none;
}
.listing-post-component.mode-share .listing-post-content .select-content-title, .listing-post-component.mode-share.has-new .listing-post-content .select-content-title {
  display: block;
}
.listing-post-component.mode-share .d-mode-share-block, .listing-post-component.mode-share.has-new .d-mode-share-block {
  display: block;
}
.listing-post-component.share-step-next .share-series-btn {
  display: none;
}
.listing-post-component.share-step-next .listing-post-content .selected-content-title {
  display: block;
}
.listing-post-component.share-step-next .listing-post-content .series-structure-tree-component, .listing-post-component.share-step-next .listing-post-content .select-content-title {
  display: none;
}
.listing-post-component.share-step-next .listing-post-content ul.shared-post-list {
  display: block;
}
.listing-post-component.share-step-next .listing-post-content .share-with-list {
  display: flex;
}
.listing-post-component.share-step-next .listing-post-footer .share-next-btn {
  display: none;
}
.listing-post-component.share-step-next .listing-post-footer .share-back-wrap {
  display: block;
}
.listing-post-component.share-step-next.share-series .listing-post-content .series-share-preview {
  display: block;
}
.listing-post-component.share-step-next.share-series .listing-post-content .series-share-with-list {
  display: flex;
}
.listing-post-component.share-step-next.share-series .listing-post-content .selected-content-title {
  display: none;
}
.listing-post-component.share-step-next.share-series .listing-post-content ul.shared-post-list {
  display: none;
}
.listing-post-component.share-step-next.share-series .listing-post-content .share-with-list {
  display: none;
}
.listing-post-component.share-step-next.share-post .listing-post-content .series-share-preview {
  display: none;
}
.listing-post-component.share-step-next.share-post .listing-post-content .post-share-preview {
  display: block;
}
.listing-post-component.share-step-next.share-post .listing-post-content .share-with-list {
  display: flex;
}
.listing-post-component.share-step-next.share-post .listing-post-content .selected-content-title {
  display: none;
}
.listing-post-component.share-step-next.share-post .listing-post-content ul.shared-post-list {
  display: none;
}
.listing-post-component .d-mode-none {
  display: none;
}
@media screen and (max-width: 768px) {
  .listing-post-component {
    transform: translateX(-100%);
  }
  .listing-post-component header.listing-post-header {
    padding: 15px 10px;
  }
  .listing-post-component .listing-post-content {
    padding: 15px 10px;
  }
}

/*# sourceMappingURL=ListingPost.css.map */
