@import "../../config/css/colors.scss";

.listing-post-component{
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 700px;
  max-width: 100%;
  background-color: white;
  padding: 0px;
  transform: translateX(-700px);
  transition: transform 200ms ease-in-out;
  z-index: 300;
  display: flex;
  flex-direction: column;
  header.listing-post-header{
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    padding: 25px 80px;
    background-color: $lightGreen;
    .title-wrapper{
      .series-title{
        font-size: 3rem;
        font-weight: bold;
      }
      .posts-count{
        margin-left: 10px;
        display: inline-block;
        color: white;
      }
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
      background-size: 5px 1px;
      background-repeat: repeat-x;
    }
    .section-close{
      display: block;
      position: absolute;
      top: 3rem;
      right: 2rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      z-index: 1;
      &:before{
        content: '';
        display: block;
        width: 3rem;
        height: 1px;
        background-color: $greenColor;
        position: absolute;
        top: 50%;
        left: -0.5rem;
        transform: rotate(45deg);
      }
      &:after{
        content: '';
        display: block;
        width: 3rem;
        height: 1px;
        background-color: $greenColor;
        position: absolute;
        top: 50%;
        left: -0.5rem;
        transform: rotate(-45deg);
      }
      &:hover{
        &:before, &:after{
          background-color: $greenHover;
        }
      }
    }
  }
  .top-btn-wrap{
    display: none;
    margin-top: 15px;
    .site-green-btn{
      font-size: 1.5rem;
      padding: 5px 20px;
      color: white;
    }
  }
  .site-green-btn.share-series-btn{
    font-size: 1.5rem;
    padding: 5px 20px;
    color: white;
  }
  .listing-post-content{
    padding: 10px 30px;
    flex-grow: 1;
    flex-basis: 100px;
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    .new-title, .all-title{
      width: calc(100% - 40px);
      margin: 15px auto 10px;
      border-bottom: 1px dotted $greenColor;
      font-size: 1.5rem;
    }
    .select-content-title, .selected-content-title{
      display: none;
      width: calc(100% - 40px);
      margin: 15px auto 20px;
      font-size: 2rem;
    }
    .series-share-preview {
      display: none;
      .series-article {
        width: 300px;
        max-width: 100%;
        margin: 0px auto 15px;
        padding: 5px 17px;
        .item-image-wrapper{
          position: relative;
          margin-bottom: 17px;
          .item-image{
            width: 100%;
            height: 200px;
            background-position: center;
            background-size: cover;
            @media only screen and (max-width: 1600px) {
              height: 170px;
            }
            @media only screen and (max-width: 1600px) {
              height: 150px;
            }
            @media only screen and (max-width: 1400px) {
              height: 140px;
            }
            @media only screen and (max-width: 1280px) {
              height: 128px;
            }
          }
          .hover-content{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .7);
            //background-color: red;
            opacity: 0;
            .footer-buttons{
              position: absolute;
              bottom: 0px;
              left: 0px;
              width: 100%;
              a{
                display: block;
                padding: 5px;
                background-color: $greenColor;
                color: white;
                text-align: center;
                text-decoration: none;
                svg{
                  display: none;
                  width: 18px;
                  vertical-align: middle;
                  path{
                    fill: white;
                  }
                  &.preview-icon, &.join-icon{
                    display: inline;
                  }
                }
                &:hover{
                  background-color: $greenHover;
                }
              }
              .flex-row{
                .last-col{
                  margin-left: 2px;
                }
              }
            }
          }
        }
        .child-count-wrapper{
          margin-bottom: 10px;
          .child-count{
            display: inline-block;
            padding: 5px 15px;
            border-radius: 10px;
            background-color: #c8cbba;
            color: white;
          }
        }
        .item-title{
          font-size: 1.4rem;
          font-weight: bold;
          height: auto;
        }
        &:hover, &:active{
          .item-image-wrapper{
            .item-image{
            }
            .hover-content{
              opacity: 1;
            }
          }
        }
      }
    }
    .post-share-preview {
      display: none;
      .post-article {
        width: 300px;
        max-width: 100%;
        margin: 0px auto 15px;
        padding: 5px 17px;
        .item-image-wrapper{
          position: relative;
          margin-bottom: 17px;
          .item-image{
            width: 100%;
            height: 200px;
            background-position: center;
            background-size: cover;
            @media only screen and (max-width: 1600px) {
              height: 170px;
            }
            @media only screen and (max-width: 1600px) {
              height: 150px;
            }
            @media only screen and (max-width: 1400px) {
              height: 140px;
            }
            @media only screen and (max-width: 1280px) {
              height: 128px;
            }
          }
          .hover-content{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .7);
            //background-color: red;
            opacity: 0;
            .footer-buttons{
              position: absolute;
              bottom: 0px;
              left: 0px;
              width: 100%;
              a{
                display: block;
                padding: 5px;
                background-color: $greenColor;
                color: white;
                text-align: center;
                text-decoration: none;
                svg{
                  display: none;
                  width: 18px;
                  vertical-align: middle;
                  path{
                    fill: white;
                  }
                  &.preview-icon, &.join-icon{
                    display: inline;
                  }
                }
                &:hover{
                  background-color: $greenHover;
                }
              }
              .flex-row{
                .last-col{
                  margin-left: 2px;
                }
              }
            }
          }
        }
        .item-title{
          font-size: 1.4rem;
          font-weight: bold;
          height: auto;
        }
        &:hover, &:active{
          .item-image-wrapper{
            .item-image{
            }
            .hover-content{
              opacity: 1;
            }
          }
        }
      }
    }
    ul.unread-post-list, ul.shared-post-list {
      display: none;
      li{
        margin-bottom: 25px;
        .item-img{
          width: 85px;
          height: 50px;
        }
        .item-view-states-wrapper{
          width: 25px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          position: relative;
          top: 5px;
          z-index: 2;
          .view-state{
            display: none;
            position: relative;
            top: 2px;
            &.complete-state{
              width: 20px;
              height: auto;
              g, path{
                fill: $greenColor;
              }
            }
            &.current-state{
              width: 10px;
              height: 10px;
              border: 3px solid $greenColor;
              background-color: white;
              border-radius: 50%;
              box-sizing: content-box;
            }
            &.normal-state{
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: $greenColor;
              opacity: .8;
              box-sizing: content-box;
            }
          }
          &.state-complete{
            .complete-state{
              display: block;
            }
          }
          &.state-normal{
            .normal-state{
              display: block;
            }
          }
          &.state-current{
            .current-state{
              display: block;
            }
          }
          &:after{
            z-index: 1;
            content: '';
            position: absolute;
            display: block;
            width: 1px;
            height: calc(100% + 20px);
            top: 17px;
            left: 50%;
            background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
            background-position: left;
            background-size: 1px 10px;
            background-repeat: repeat-y;
            opacity: .7;
          }
        }
        .title-wrapper{
          .media-icon-wrapper{
            display: inline-block;
            margin-right: 10px;
            i{
              display: none;
              font-size: 1.5rem;
            }
            &.type-0{
              .audio-icon{
                display: initial;
              }
            }
            &.type-2{
              .video-icon{
                display: initial;
              }
            }
            &.type-7, &.type-10, &.type-8, &.type-9{
              .text-icon{
                display: initial;
              }
            }
          }
          .item-title{
            font-size: 1.5rem;
            color: $contentColor;
          }
          .item-duration{
          }
        }
        &:last-child{
          .item-view-states-wrapper{
            &:after{
              display: none;
            }
          }
        }
      }
    }
    .series-structure-tree-component{
      > ul.posts-list{
        padding-left: 0px;
        > li{
          >.post-row-inner{
            .post-title{
              display: none;
            }
          }
        }
      }
      ul{
        li{
          .post-row-inner{
            .post-title{
              cursor: pointer;
              color: $contentColor;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .share-with-list, .series-share-with-list{
      display: none;
      .share-with-text{
        font-size: 1.5rem;
        font-weight: bold;
      }
      .share-item{
        svg{
          width: 60px;
          height: 60px;
          g, path{
          }
        }
      }
    }
    .new-title, .all-title, ul.unread-post-list{
      display: none;
    }
    &::-webkit-scrollbar{
      width: 8px;
    }
    &::-webkit-scrollbar-button{

    }
    &::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track-piece {}
    &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background-color: #cacac0;
      //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
    &::-webkit-scrollbar-corner{}
    &::-webkit-resizer{  }
  }
  .listing-post-footer{
    position: relative;
    flex: 0 0 auto;
    padding: 20px 10px 15px;
    text-align: center;
    .share-next-btn{
      padding: 5px 20px;
      font-size: 1.7rem;
    }
    .share-back-wrap{
      display: none;
      text-align: center;
      .share-back-btn{
        padding: 5px 20px;
        font-size: 1.7rem;
      }
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, #1fcd98 1px, transparent 0%);
      background-size: 5px 1px;
      background-repeat: repeat-x;
    }
  }
  .listing-drag-drop-pane {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    .drag-info {
      font-size: 2rem;
    }
  }
  &.has-new{
    .listing-post-content{
      .new-title, .all-title, ul.unread-post-list{
        display: block;
      }
    }
  }
  &.opened {
    transform: translateX(0px);
  }
  &.mode-edit {
    .top-btn-wrap{
      display: block;
    }
  }
  &.drag-over {
    .listing-drag-drop-pane {
      display: flex;
    }
  }
  &.mode-share, &.mode-share.has-new{
    .listing-post-content{
      .new-title, .all-title, ul.unread-posts-list{
        display: none;
      }
      .select-content-title {
        display: block;
      }
    }
    .d-mode-share-block {
      display: block;
    }
  }
  &.share-step-next {
    .share-series-btn{
      display: none;
    }
    .listing-post-content{
      .selected-content-title{
        display: block;
      }
      .series-structure-tree-component, .select-content-title {
        display: none;
      }
      ul.shared-post-list {
        display: block;
      }
      .share-with-list{
         display: flex;
       }
    }
    .listing-post-footer{
      .share-next-btn{
        display: none;
      }
      .share-back-wrap{
        display: block;
      }
    }
    &.share-series {
      .listing-post-content{
        .series-share-preview{
          display: block;
        }
        .series-share-with-list{
          display: flex;
        }
        .selected-content-title{
          display: none;
        }
        ul.shared-post-list {
          display: none;
        }
        .share-with-list{
          display: none;
        }
      }
    }
    &.share-post {
      .listing-post-content{
        .series-share-preview{
          display: none;
        }
        .post-share-preview{
          display: block;
        }
        .share-with-list{
          display: flex;
        }
        .selected-content-title{
          display: none;
        }
        ul.shared-post-list {
          display: none;
        }
      }
    }
  }
  .d-mode-none {
    display: none;
  }
  @media screen and (max-width: 768px) {
    transform: translateX(-100%);
    header.listing-post-header{
      padding: 15px 10px;
    }
    .listing-post-content{
      padding: 15px 10px;
    }
  }
}
